[2022-02-08 23:06] synchromesh62 commented on #2022
Seems to have rectified itself ?

[2022-02-08 23:06] #2022 closed

[2022-02-08 23:15] synchromesh62 commented on #2021
Even the Cellar demo does it.
Its always been that way .. If you fill a corridor with lights the 4 behind stop casting shadows and the 4 in front will start casting shadows. To overcome this they added a cast shadow tick box to lights so you could only have shadows where you really want them although not sure if its enabled yet
![cast shadow](https://user-images.githubusercontent.com/35708217/1530

[2022-02-08 23:58] Necrym59 commented on #1872
OK seems the models do not have a central x axis so when you rotate them x is out of position this has to be fixed on the models to make x the centre of the models.

[2022-02-09 05:21] UltraVox001 commented on #1872
@LeeBamberTGC
To keep the Ladder script working after the developer rotates the Ladder, do you think it's possible to tweak the X axis of the Ladder models, as suggested by @Necrym59 ?

[2022-02-09 05:37] Necrym59 commented on #1872
No you cant but I have nearly licked this now had to redo some code and is working

[2022-02-09 05:39] UltraVox001 commented on #1872
Ok, I deleted my message for Lee.

[2022-02-09 05:47] UltraVox001 commented on #2021
@ArgentArts

A few more shadows were added in the latest build. But obviously that's not enough.

[2022-02-09 05:52] Necrym59 commented on #1872
OK hers v8 give it a go and see what happens - fingers crossed
[ladder_v8.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8029867/ladder_v8.zip)

[2022-02-09 06:04] UltraVox001 commented on #1872
What you did works :) Well done!
However, this generated a new problem : when I reach the very top of the Ladder, I get teleported down. This happens 8 to 9 times out of 10. I hope you can solve this little problem.

[2022-02-09 07:00] Necrym59 commented on #1872
Try this one
[ladder_v9.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8030234/ladder_v9.zip)

[2022-02-09 07:14] Necrym59 commented on #1872
By the way in the Military collection get the watchower that has an inbuilt ladder and put a climber object on the ladder, it works perfectly, you could never climb it before.

[2022-02-09 07:20] UltraVox001 commented on #1872
I already tried that. The "problem" is that the player can also climb the tower without going through the Ladder. Actually, it depends on your scenario. If your player needs to have the ability to climb, then you can use Ladder Script to do that stuff :)

I will test your script right away.

[2022-02-09 07:29] #1948 closed

[2022-02-09 07:30] #1934 closed

[2022-02-09 07:32] rvanner commented on #1990
Help is no longer clipped so this is fixed.

[2022-02-09 07:32] #1990 closed

[2022-02-09 07:38] #1916 closed

[2022-02-09 07:41] Necrym59 commented on #1872
did you do it like this
![climber](https://user-images.githubusercontent.com/95015657/153144035-5419b48d-1220-4f76-8a57-ec3ef1808722.jpg)

[2022-02-09 07:41] UltraVox001 commented on #1872
Test result :
- The script is compatible with the rotation of the Ladder by the "R" key. :)
- The player can climb to the top, without falling. :)
- The script is incompatible with detailed rotation : "Ctrl+R" and "Shift+R".

I haven't looked at the script in detail. I have the impression that you have "pre-set" the different possible rotations via the R key. But that you have omitted Ctrl+R and S

[2022-02-09 07:42] #1901 closed

[2022-02-09 07:47] rvanner opened #2023 "Game description, last line of edit box crops the line being typed in"
![image](https://user-images.githubusercontent.com/1503593/153144945-ac771e2d-7deb-42b3-b113-795e8d51f267.png)

[2022-02-09 07:49] Necrym59 commented on #1872
Nope check are done by the physlib commands now so i cant do anymore than that, the ladders themselves need work though they really need to have a central x postion anchor not the edges secondly they should set the fpe some have physics off. Use this one for now its way better and you now have fall damage etc it was a near complete rewrite ill continue to see what i can do to refine it.

[2022-02-09 07:53] rvanner commented on #1991
@PaulSJ Lee says Mark has uploaded the Cacti, can you please integrate them today (Wednesday) so we can complete the biome styles?

[2022-02-09 07:57] UltraVox001 commented on #1872
Okay. Here are my suggestions for the future :

1/ Message for the player optional and modifiable in the Behavior.
So a checkbox that enables or disables the message, while letting the developer re-write (or modify) the message, if desired.

2/ A checkbox to mount the Ladder via a key on the keyboard, for example the Action key (E).
If the box is checked, the player must press E to move up on the

[2022-02-09 08:09] Necrym59 commented on #1872
1 can be done
2 not sure but could be done why the E key?? to move or just join the ladder? Then you just open up different prompts ill have a think on that one, any particular reason?

[2022-02-09 08:18] UltraVox001 commented on #1872
About 2 :
E key to access (join) the Ladder. To climb, this is done by the player, moving forward (as is currently the case).

I'll give you an exclusive : in the next version of Max, all switches will have this ability.
You will have a different message, and configurable, for the On and for the Off. All this in the Behavior.

So, do not hesitate to propose possibilities for the developer. Some de

[2022-02-09 08:23] Necrym59 commented on #1872
OK do you have a sample lua file with the text altering ability i need to see it for how too set up configurable message. Im flying blind here there is no info out there :(

[2022-02-09 08:32] UltraVox001 commented on #1872
Answer on the forum, in private message. :)

[2022-02-09 09:34] OldFlak opened #2024 "MAX - 2021.02.11 - ALT Key Fires Weapon?"
Alt key fires a weapon

[2022-02-09 09:44] plemsoft commented on #1952
@rvanner This has been fixed.

[2022-02-09 09:44] plemsoft commented on #1949
@rvanner Also added to grab box now.

[2022-02-09 09:47] plemsoft commented on #1915
@OldFlak Thanks for reporting this issue, this has been fixed :)

[2022-02-09 09:48] plemsoft commented on #1916
@OldFlak Thanks for reporting this issue, this has been fixed, but the rect is calculated when you enter the description, so you will need to adjust your text again, after this update. @rvanner also added a slider if needed :)

[2022-02-09 09:56] synchromesh62 commented on #2021
**And in my video, 5 are casting shadows ... ;)**
That may be a bug and need putting back to 4.
Just kidding :)
Im going by the info Preben gave me when i asked him about the very same issue with my first Max Demo so maybe its been upped to 5 lights since then ?

[2022-02-09 10:08] OldFlak commented on #1915
Thanks Preben - fixed in latest build

[2022-02-09 10:08] #1915 closed

[2022-02-09 10:22] plemsoft commented on #2018
Zak code reassign :)

[2022-02-09 10:36] UltraVox001 commented on #2021
The answer is here : [https://github.com/TheGameCreators/GameGuruRepo/issues/1830](https://github.com/TheGameCreators/GameGuruRepo/issues/1830)

[2022-02-09 10:50] synchromesh62 commented on #2021
@UltraVox001
Not the same issue.
We are referring to the amount of lights that can cast shadows at any one time.

[2022-02-09 10:54] synchromesh62 commented on #2021
Not the same issue.
We are referring to the amount of lights that can cast shadows at any one time.

[2022-02-09 11:10] OldFlak opened #2025 "MAX - 2022.02.11 - Zip File in Script Bank Folder"
Zipped folder in scriptbank/animals - should be there?

![zip file in scriptbank](https://user-images.githubusercontent.com/12246318/153187107-d7ecac95-fab7-459c-931c-de9a2d5ce755.png)

[2022-02-09 11:26] OldFlak opened #2026 "MAX - 2022.02.11 - Scots Pine Texture Issue"
Just some feedback - not a showstopper.

Similar on both Scots Pine 1 and 2

![Scots Pine Texture Issue](https://user-images.githubusercontent.com/12246318/153190722-048ba85f-cad8-4065-9c04-4253af5186e1.png)

[2022-02-09 11:32] 3coms opened #2027 "Scroll range in ADD panel need to be increase [GGMax]"
The scroll range needs to be increased a bit, I can't see the last item.

![scroll_Add_panel_GGMax_2022_02_11_pic01](https://user-images.githubusercontent.com/47690174/153191287-9220af4a-daae-4fda-b087-fcb3ce03862f.png)

Notice the red rectangle in the pic above, the last item is semi-hidden and the scrollbar has reached its limit.

[2022-02-09 11:49] UltraVox001 opened #2028 "GG Max Bug Report - Spin and Hover Behaviors break object Collisions"
Spin and Hover Behaviors break object Collisions.
It is not possible to keep the collisions of the objects on which we apply these Behaviors.

I hope it can help.

[2022-02-09 11:52] casigus opened #2029 "Standalone"
![image](https://user-images.githubusercontent.com/68471279/153195176-f6ec46fb-1852-4599-8072-e8447fb64f43.png)
  that. :)

[2022-02-09 12:16] OldFlak commented on #2024
@dllllllllllb
Found more info on this:
https://youtu.be/yHBYaBCHryo

[2022-02-09 12:18] LeeBamberTGC commented on #2021
We limit the POINT LIGHT shadows to process the nearest FIVE as they should be used deliberately and with care due to their performance hit (they render the scene SIX times per point light).  Here is a typical shot of point and spot lights:

![image](https://user-images.githubusercontent.com/35840583/153199638-e24bd561-9e96-4650-960e-55a32da007c8.png)

[2022-02-09 12:37] synchromesh62 opened #2030 "Running Zombies still ignore collisions and run past you"
As the heading says Running Zombies still ignore collisions and run past you
Video below.
https://youtu.be/u4g3fepV8Kg

[2022-02-09 12:42] LeeBamberTGC commented on #2021
@ArgentArts Shadows rendered for the "nearest FIVE", you can have hundreds over the course of your level.  I am currently fixing a bug so the cast shadow flag in the light properties works, before it was not connected up, thus not very useful for level design.

[2022-02-09 12:45] ArgentArts commented on #2021
I know that it renders the nearest five. But there are instances where a level designer needs more than 5 ... a lot more than five. This is why most engines provide both STATIC and DYNAMIC lighting, so you can get as many static shadows as you require to bring your level to life, casting shadows from every little light source.

[2022-02-09 12:57] LeeBamberTGC commented on #2021
When you stated: "it should be up to the person(s) creating their game how many lights casting shadows they want to put in each of their levels" I assumed you referred to lights that can cast shadows for the whole level.  Users can have every light they put down, cast a shadow, in fact this is the default. Most games that rely entirely on dynamic real-time lighting manage this resource carefully f

[2022-02-09 13:12] UltraVox001 commented on #2021
Personally, I am constantly confronted with this problem of light-shadows. These are not small 3D levels that are easy to make or play, like most simplistic demos are. These are scenes with very complex lights and shadows. The slightest step forward, or backward, makes all the shadows disappear in a very important visual area. It is so blatant that it poses enormous problems.

Maybe we should allo

[2022-02-09 13:19] UltraVox001 commented on #2021
Video games like Icarus (new Survival game on Steam) or Star Citizen, don't care about small machines. It is the choice of the developers of these games to be able to play only if you have a PC that runs on nuclear power. :) But it's an assumed choice.

[2022-02-09 13:36] LeeBamberTGC commented on #2021
@ArgentArts @UltraVox001 Let's look at this again after March, and see if anyone else struggles to create their dynamic scenes.

[2022-02-09 14:11] LeeBamberTGC commented on #2021
I will bump the max count to 16 for this weeks build to see if that gives greater wiggle room whilst keeping performance and memory in check (we have been doing work to reduce memory use in the shadow system).

[2022-02-09 14:19] ArgentArts commented on #2021
16 sounds very reasonable. I will run some tests to see how it affects frame rates on my system and report them.

[2022-02-09 14:41] synchromesh62 commented on #2021
16 is more than Leadwerk's so that's awesome plus if Lee enables the tickbox in light preferences for light entities to cast shadows or not that will be a game changer :)

[2022-02-09 14:55] LeeBamberTGC commented on #2021
@synchromesh62 Consider it done.  Will be in this evenings internal build :)

[2022-02-09 14:58] PaulSJ commented on #2009
I've committed a change to apply the tree scale to the thumbnails but the thumbnails need centering

[2022-02-09 15:03] ArgentArts commented on #2021
Looking forward to testing it this Friday. :)

[2022-02-09 18:13] wizardofid29 opened #2031 "Gameguru Max Lighting bug"
When you set the ambient light (sun) below the horizon, results in a vegetation error like this

![lighting bug](https://user-images.githubusercontent.com/82841733/153263551-005374fc-af4e-4966-b3ad-efea94ec0b97.jpg)

[2022-02-09 18:33] bond1mjb commented on #2026
@PaulSJ  Here are new trunk exports for scotspine1, scotspine2, and scotspine dea
[scotspine seam fix.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8035299/scotspine.seam.fix.zip)
d

[2022-02-09 19:00] Kitakazi commented on #1177
Just wanted to add to this. I have been seeing more often in new, high quality model packs, that they will include textures that are meant to be tiled onto a model in engine. And are not meant to ever be used as 1x1 texture.

For example this desk looks like this in Max

![image](https://user-images.githubusercontent.com/51464873/153271072-aa54dbb6-aca9-422f-893c-f1ef1472ebdc.png)

But when the ma

[2022-02-09 19:47] PaulSJ commented on #2026
Confirmed fixed, thanks

[2022-02-09 19:47] #2026 closed

[2022-02-09 19:54] Necrym59 commented on #1872
New shiny Version 10 of Ladder
Changes:-
- User selectable Prompt ON/OFF
- User changeable Prompt text
- User selectable alternate 'E' climb key, ON/OFF
Give it a go, if its ok give this to Lee for next friday inclusion/replacement.

[2022-02-09 20:05] UltraVox001 opened #2032 "GG Max Bug Report - Tree No Collision"
EDIT : 11-02-2022 with last Max internal version.
For these 3 types of trees, I can go inside and aim my camera up to the tops of the trees.
![NoCollisionTree](https://user-images.githubusercontent.com/96718175/153281409-d92de716-6c33-4e15-b024-c240c3daa541.jpg)
This type of tree also has bad collisions :
![Tree1](https://user-images.githubusercontent.com/96718175/153568346-10fbe793-8a0b-4c49-9225

[2022-02-09 20:38] Necrym59 commented on #1872
Yes i will increase speed back and is the e key ok or do you want it as a join key which seems a little odd but if you want it i can do thatSent on the go with Vodafone
-------- Original message --------From: UltraVox ***@***.***> Date: 10/2/22  7:24 am  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Mention ***@***.***> Subject: Re: [TheGameCreators/GameGuruR

[2022-02-09 20:45] UltraVox001 commented on #1872
The objective is to allow the player to jump from one Ladder to another, without falling. If the E key allows it (keeping E pressed during the jump, so as not to miss the second Ladder), then it's good. But I haven't tried.

Movement Speed: Maybe this is the Player's movement speed, as found in the Customize -> Player Settings -> Speed section.

[2022-02-09 20:53] Necrym59 commented on #1872
So thats why you want an E stick key is it.
Also, player movement speed isnt used for vertical movement in the global sense i can try it and see if it works .

[2022-02-09 20:56] UltraVox001 commented on #1872
I always use speed 150. But for several days, the speed to climb a Ladder is very slow. So it gives a grain of realism, but ideally we should find a way to customize this variable (if it exists).

[2022-02-09 21:27] OldFlak commented on #1916
@plemsoft Thanks Preben - all good in new build :)

[2022-02-09 22:27] Necrym59 commented on #1872
hope this serves for now ill look into better handling the ladder jumping idea later thats a lot more involved
[ladder_v11.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8036610/ladder_v11.zip)

[2022-02-09 22:38] UltraVox001 commented on #1872
Have you tested it? Because at the top, I fall from the Ladder to the ground. I managed to climb twice, out of at least 15 attempts.
There's something up there bringing me down.

[2022-02-09 22:48] Necrym59 commented on #1872
somthing new has come up will get back

[2022-02-09 23:34] Necrym59 commented on #1872
Uddated a glitch test this and see what happens
Make sure the correct ladder script is being used by default Max hangs on to the one in its script folder sometimes doesnt let go untiol you save map. It shoudl say v11 in the behavour text box
[ladder_v11.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8036839/ladder_v11.zip)

[2022-02-10 00:12] OldFlak commented on #1852
@PaulSJ - Email sent :)

[2022-02-10 00:38] OldFlak opened #2033 "MAX - Standalones Are Not Independent of GameGuruMAX"
Created standalone with every build this year - all worked perfectly fine - aside form know issues
Created one in Build 2022.02.04 and it worked OK

Build 2022.02.11 seems to have issues with standalones and won't run - neither will the one I built using 2022.02.04

So it seems standalones are using GameGuruMAX installation to run - and are not creating their own runtime exe

[2022-02-10 01:01] OldFlak opened #2034 "MAX - 2022.02.11 - Standalones Crash To Desktop"
Standalone builds crashes to desktop either when clicking to get past EA Screen or when Selecting Start to run the game

[2022-02-10 01:16] OldFlak commented on #2034
This seems to be random - just build one and it works this time round - so will close and report again if needed

[2022-02-10 01:16] #2034 closed

[2022-02-10 05:57] Kitakazi commented on #1445
Looks like this is fixed in the latest build.

[2022-02-10 05:57] #1445 closed

[2022-02-10 05:57] Kitakazi commented on #1743
This is fixed now.

[2022-02-10 05:57] #1743 closed

[2022-02-10 05:57] Kitakazi commented on #1905
This is fixed now.

[2022-02-10 05:57] #1905 closed

[2022-02-10 06:01] Kitakazi commented on #1675
Characters look better now. I see no more glow-like outline in latest build.

[2022-02-10 06:09] Kitakazi commented on #1396
closing: see my comments above, probably is intended to do this although kinda strange.

[2022-02-10 06:09] #1396 closed

[2022-02-10 06:15] Skevos-Mavros commented on #2033
I noticed a (related?) issue - I can create and run a stand-alone game, but if I go back into GGM and change, say, the speed of my player and the way gravity affects them, those changes show up in my _previously created_ stand-alone.  This suggests that the stand-alone is not looking within its own folders for such things, but in the folder of the project?

[2022-02-10 06:44] #2023 closed

[2022-02-10 06:46] Necrym59 commented on #1872
Uddated a glitch test this and see what happens should be ok I tested this pretty well. Make sure the correct ladder script is being used. By default Max hangs on to the one in its script folder sometimes doesnt let go until you save map. It shoudl say v12 in the behaviour text box.
[ladder_v12.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8038683/ladder_v12.zip)

Ladder jumping is a

[2022-02-10 06:47] #1952 closed

[2022-02-10 06:48] #1947 closed

[2022-02-10 06:49] #1940 closed

[2022-02-10 06:50] #1939 closed

[2022-02-10 06:54] #1942 closed

[2022-02-10 06:55] #2005 closed

[2022-02-10 06:58] #1105 closed

[2022-02-10 06:59] #1133 closed

[2022-02-10 07:01] Skevos-Mavros opened #2035 "Incorrectly Lit Trees (Generated and Sprayed)"
Hi there,

For a few versions now (I'm currently on 2022.02.04) I've noticed that trees added via either the generator or sprayed down later are incorrectly rendering the direction that a light hits them.

On some trees the lighting direction on the tree trunk is only out by a few degrees, on other trees it's almost 180 degrees off, and others anywhere in-between.  It seems to be random - but cons

[2022-02-10 07:37] rvanner commented on #1945
@LeeBamberTGC The current version looks like this. The lines are not in the center of the object but on the floor now?
![image](https://user-images.githubusercontent.com/1503593/153359494-a5bcea4f-0b86-4e30-b3de-e66995d71d26.png)

The text should clip at the edges of the 3D scene
![image](https://user-images.githubusercontent.com/1503593/153359627-56110f95-1b25-4d18-b683-d3f32372da2e.png)

The tex

[2022-02-10 07:41] rvanner commented on #1935
@dllllllllllb I have assigned this one to you, should be simple to do. Clear All Trees has an Are you sure, so just do the same for these other items please.

[2022-02-10 07:44] rvanner commented on #1859
I think that looks acceptable now. I'm closing this issue.

[2022-02-10 07:44] #1859 closed

[2022-02-10 07:44] rvanner commented on #1856
Check box is now in the latest build!

[2022-02-10 07:44] #1856 closed

[2022-02-10 07:46] rvanner commented on #1804
@ZakJudges One for you to investigate please.

[2022-02-10 07:47] rvanner commented on #1984
I'll add these to a Post EA list for now and close this down. I am sure we can improve the UI in another review later on.

[2022-02-10 07:47] #1984 closed

[2022-02-10 07:48] UltraVox001 commented on #1872
It's ok, but the UsePrompt function doesn't work. Checked or not, the text appears.

What if we removed the checkbox, leaving only the text? If the developer does not want it, he erases the text. :)

Maybe that would be one less problem for you too.

[2022-02-10 07:50] rvanner commented on #1803
@UltraVox001 These should all be fixed now. If you agree please close down this issue.

[2022-02-10 07:51] #1803 closed

[2022-02-10 07:51] rvanner commented on #1655
Old issue, no longer relevant.

[2022-02-10 07:51] #1655 closed

[2022-02-10 07:52] #1566 closed

[2022-02-10 07:54] rvanner commented on #1351
@OldFlak We never got round to optimising the jungle trees since this was reported. We focused more on the tree system. Did I see somewhere on Discord that you had optimised them? If you did, could we use your version in new builds?

[2022-02-10 07:55] #1274 closed

[2022-02-10 07:56] Necrym59 commented on #1872
That would be a better solution ill do it now

[2022-02-10 07:57] rvanner commented on #1855
For now this is how it works. Longer term we can add more features and make it do more. Closing this now.

[2022-02-10 07:57] #1855 closed

[2022-02-10 07:58] rvanner commented on #1652
@marcuswilm Is this still an issue for you? We have fixed many issues recently and so I would like to know if this is a problem or if it's fixed for you.

[2022-02-10 07:59] rvanner commented on #1587
We can consider this after Early Access.

[2022-02-10 08:11] Necrym59 commented on #1872
Ok Prompt fixed now was my fault
[ladder_v13.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8039214/ladder_v13.zip)
.

[2022-02-10 08:23] UltraVox001 commented on #1872
The "ETOUSE" checkbox works, but the text "E to stick" no longer appears on the screen.

[2022-02-10 08:26] #1482 closed

[2022-02-10 08:29] Necrym59 commented on #1872
It was it clearred put your mnessage in the prompt and use prompt on or do you want an automated message again

[2022-02-10 08:31] rvanner commented on #1545
@ZakJudges I know that we changed the position, rotation and scale into one list but it would be good to have the quick keys for when the 3D gadget is on screen. So you can quickly move between movement, rotation and scale. Can you add it back in please?

I also noticed that when the gadget is selected you see these three buttons which are of no use;
![image](https://user-images.githubusercontent.

[2022-02-10 08:32] rvanner commented on #1326
@rsearle Is this still an issue for you? Please respond so I can assign this to a team member. Thanks.

[2022-02-10 08:32] UltraVox001 commented on #1872
With the "Etouse" checkbox, if no text appears, the player does not know how to climb the Ladder.
You can add customizable text, if you wish.

[2022-02-10 08:32] rvanner commented on #1554
@smmaas Can you try this again with the latest build? We would like to close this issue down if it's now fixed. Thanks!

[2022-02-10 08:33] Necrym59 commented on #1872
ok gimme  a min

[2022-02-10 08:41] Necrym59 commented on #1872
Done!
[ladder_v14.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8039464/ladder_v14.zip)

[2022-02-10 08:54] UltraVox001 commented on #1872
Max Crash if the "E" checkbox is checked.
Tested 2 times = 2 crashes.

[2022-02-10 08:57] Necrym59 commented on #1872
WTH

[2022-02-10 09:00] UltraVox001 opened #2036 "GG Max Bug Report - Spot Light Radius is reset to 45"
The Spot Light Radius is reset to 45, even if you set it otherwise.
The backup does not remember the developer's Radius setting.

[2022-02-10 09:14] ZakJudges commented on #1545
@rvanner Currently, the buttons will show up when "Enable Widget when Needed" is selected, and they should allow you to change between the Position, Rotation and Scale widget without having to use the keyboard. When the widget is displayed, you can use F2,F3 and F4 to switch between position, rotation and scale, but I could change these to 1, 2 and 3 if you like?

[2022-02-10 09:15] UltraVox001 commented on #1872
You are right. I just found another bug unrelated to your script.

Everything seems to work. :)
I believe we have an interesting Ladder script.

[2022-02-10 09:18] Necrym59 commented on #1872
I think so get it to lee im sure hes waiting on it

[2022-02-10 09:19] UltraVox001 commented on #1872
I take care of it internally.

[2022-02-10 09:22] Necrym59 commented on #1872
When I get some time i will look at a ladder hopping feature

[2022-02-10 09:31] Necrym59 commented on #1872
Yes I understand only too well, I dont like to think of that first ladder script is out there though it was a bit of spagetti scripting this one is a lot more solid. You beta test well - annoying but well. :)

[2022-02-10 09:33] rvanner commented on #1545
@ZakJudges Ah good point! Keep them as they are. Closing this now!

[2022-02-10 09:33] #1545 closed

[2022-02-10 09:37] UltraVox001 commented on #1872
I do not have a choice. I would hate to be responsible for a major crash of Max among users. :) Each version of your script, each modification or improvement, is tested on 2 completely different maps.

The first is a completely empty map, which only contains a ladder and a promontory. I test here.

The second is a map that contains more than 400 3D objects and several other scripts under test. And

[2022-02-10 09:55] marcuswilm commented on #1652
Hello Richard,

Thank you for your message.
Two months ago when I reported that "issue" I didn't know that the Collision Shape "Polygon" was théoretically limited to the Static mode "Static".
However I noticed that it was possible to force the Static mode "Physics on" combined with these two other settings in the "Object Tools" pane : "IsImmobile" enabled and "Object Uses Physics ?" enabled.

That

[2022-02-10 10:46] OldFlak commented on #1351
@rvanner Tagged you on discord :)

[2022-02-10 11:08] rvanner opened #2037 "AI issues seen in Mountain Snow Level"
@LeeBamberTGC I had trouble making one video with Sony Vegas. So I decided to make lots of small ones!

These give you a lot to get your teeth into!

**Solider stands on a crate in front of him**
https://youtu.be/ix7SH27yj1E

**Weapons left floating in the air**
https://youtu.be/gflgFXMqsas

**Solider runs into a crate
Solider comes out of the crate but does not fight
Decal on fire is out of wack*

[2022-02-10 11:26] LeeBamberTGC commented on #2037
COMPLETED ITEMS:
Solider stands on a crate in front of him
Weapons left floating in the air = FIXED
Solider runs into a crate
Solider comes out of the crate but does not fight
Decal on fire is out of wack
Death pose looks silly
Soliders ignore the player
Another solider ignores player
Death pose looks silly
Solider goes up vertical wall and into it
Melee needs some hurt sounds
Soliders should turn

[2022-02-10 11:32] rvanner commented on #1652
@marcuswilm Thanks for clarifying the situation. I will now close this issue. Nice video BTW!

[2022-02-10 11:32] #1652 closed

[2022-02-10 12:13] plemsoft commented on #2010
@UltraVox001 Thanks for reporting this issue, this has been fixed , sure the default palette will still have the default (45) , but if you create your own "Add Light" it will now remember your angles and radius :)

[2022-02-10 12:14] plemsoft commented on #2023
@rvanner Fixed :)

[2022-02-10 12:14] plemsoft commented on #1947
@rvanner Text added.

[2022-02-10 12:15] plemsoft commented on #1940
@rvanner Added :)

[2022-02-10 12:17] rvanner opened #2038 "Optimised Jungle Collection"
@LeeBamberTGC I have noticed the community saying how badly optimised the Jungle collection is. I also noticed the OldFlak went along and optimised them. So I asked him if we could use his version and he was happy to offer them.

[DOWNLOAD LINK](https://drive.google.com/file/d/1CQcNdDC--L__oI8pllVliYibZNPxMLW_/view?usp=sharing)

OldFlak is not sure if we can use them, see his comments below. So wh

[2022-02-10 12:18] UltraVox001 commented on #2010
@plemsoft
Thank you. But when did you fix it ?
Because the internal version of yesterday did not arrange anything.
I reported it to Lee who asked me to post a new text on Github : [https://github.com/TheGameCreators/GameGuruRepo/issues/2036](https://github.com/TheGameCreators/GameGuruRepo/issues/2036)
![SpotLightRadiusAlwaysResetAt45](https://user-images.githubusercontent.com/96718175/153407253-b2

[2022-02-10 12:27] rvanner opened #2039 "Updated Ladder Script"
@LeeBamberTGC Please update the ladder script to use this [NEW VERSION](https://drive.google.com/file/d/13tDSixRsuUMYX-7S-ATX9dJPNfMFPLCN/view?usp=sharing)

[2022-02-10 12:29] rvanner opened #2040 "Don't allow the user to place a start marker outside of the playable area"
Warn users that they cannot place markers and objects outside the playable area.

Currently you can place the start marker outside and then you fall through the terrain in test level mode

[2022-02-10 12:31] LeeBamberTGC commented on #2039
Added for next internal build.

[2022-02-10 12:34] #2039 closed, assigned to LeeBamberTGC

[2022-02-10 12:39] UltraVox001 commented on #2010
@plemsoft
Second attempt.
Saved with radius 10 :
![Saved with radius 10](https://user-images.githubusercontent.com/96718175/153410163-33d34ac6-02d8-4564-9461-fe30982a432e.jpg)
Loaded with radius 45 :
![Loaded with radius 45](https://user-images.githubusercontent.com/96718175/153410266-0ecbf009-be95-4be5-a677-27fc0d3db1e5.jpg)

[2022-02-10 13:37] LeeBamberTGC opened #2041 "When kill a linked character and shoot the other, the first is resurrected"
Need to ensure dead characters cannot influence living ones.  Demonstrated in my cut-down Snowy Level.

[2022-02-10 13:37] plemsoft commented on #2036
@UltraVox001 What do you mean by "backup" , is this related to https://github.com/TheGameCreators/GameGuruRepo/issues/2010
If so it was fixed yesterday , Let me know :)

[2022-02-10 13:39] UltraVox001 commented on #2036
No @plemsoft
Read the [2010](https://github.com/TheGameCreators/GameGuruRepo/issues/2010) post entierely, plz.

[2022-02-10 14:15] dllllllllllb commented on #1573
@LeeBamberTGC I've been looking at this for a while now. I found the logic where brass is spawned, but I can't find where the interaction between brass and water occurs. I imagine this interaction isn't exclusive to brass, so I tried looking deeper into physics and collision handling but it got me nowhere. Am I looking too deep into this?

[2022-02-10 14:16] plemsoft commented on #2010
@UltraVox001 Fixed for the next build :)

[2022-02-10 14:20] UltraVox001 commented on #2010
Thank you very much. :)
I will come back to close this post (and the other too) after confirmation.

[2022-02-10 14:42] rvanner opened #2042 "Character Creator - hat section of female zombie flickers"
See this video;
https://youtu.be/LWKkLXApP5A

[2022-02-10 15:00] rvanner opened #2043 "Extra sounds during melee attacks"
@LeeBamberTGC Please add these specific random sounds as indicated. You should have the sounds in the zip.

**When a Zombie or a soldier is hit with first, randomly play one of these sounds:**
slap_1, slap_2, slap3

**If the player swipes an enemy with a weapon, play one of these;**
weapon_melee_1, weapon_melee_2, weapon_melee_3

**When a zombie slaps the player, play one of these random sounds**

[2022-02-10 15:03] LeeBamberTGC commented on #1573
@dllllllllllb Give it the rest of the day and if no joy, then assign it to Zak who has some experience with our Bullet.  I am sure in return he will assign one of two to you :)

Brass is nothing special, and is a simple physics box associated with the brass model object when created.  I suspect the 'bounce' is related to some old 'boyancy code' still lurking in the abstraction layer of the bullet

[2022-02-10 15:09] dllllllllllb opened #2044 "Level Testing - Crash when creating mesh vertex and indices"
When I make a new Desert level and proceed to playtest the level I get an exception thrown: write access violation.
pVertPtr was nullptr.

Happened consistently 6 times in a row.

[2022-02-10 15:21] LeeBamberTGC commented on #2037
Using cut-down level, can now test all these fixes with internal build, uploading soon.

[2022-02-10 15:22] plemsoft commented on #2044
@dllllllllllb When you get the crash , locate this line just above "SetupMeshFVFData (pMesh, GGFVF_XYZ, dwVertexCount, dwIndexCount, false);" , please check what dwVertexCount = , i guess it is > 0xFFFF if so this could happen, also please post if this happens in physics_createterraincollision or game_createnavmeshfromlevel :)

[2022-02-10 15:29] rvanner opened #2045 "Zombie issues"
@LeeBamberTGC Here are two issues that need attention.

**Zombie bite attack**
This really isn't very smooth and as such breaks the gameplay feel significantly. I have slowed it down in the video below. The way the camera angle just changes and the zombie snaps into the place to do the bite isn't great. Ideally both the camera change and the movement of the zombie would be smooth.

**Zombie forget

[2022-02-10 15:39] dllllllllllb commented on #2044
@plemsoft This happens in physics_createterraincollision

It says that the dwVertexCount is undefined but it is set to iVertexIndex which is = 71248

https://prnt.sc/26szaji

[2022-02-10 15:53] plemsoft commented on #2044
@dllllllllllb Yes its to large, we can only use 16 bit for vertex max 65535, so search from this place (up) and find "int iFullResolutionSize = 5000;" , try to lower this value by 100 next (4900) and keep doing this until it dont crash, please post the iFullResolutionSize that works on your level :)

[2022-02-10 15:54] LeeBamberTGC commented on #1573
@dllllllllllb Latest internal build has the weapon fix :)  Best of luck, and maybe, well done!!

[2022-02-10 16:20] dllllllllllb commented on #2044
@plemsoft My iFullResolutionSize was originally set to 8000 (I didn't tinker with it). Setting it to 5700 is the max size before my level crashes.

[2022-02-10 16:26] dllllllllllb commented on #2044
@LeeBamberTGC Yes, every morning I check the GGM updater, both GitHub repositories for changes, then clean and rebuild both solutions.

[2022-02-10 16:30] dllllllllllb commented on #2044
@LeeBamberTGC Yes

[2022-02-10 16:48] dllllllllllb commented on #2044
@LeeBamberTGC When I swap to the Master branch I have the change from your screen shot, but when I change back to my branch it reverts that change.

Master Branch:
![image](https://user-images.githubusercontent.com/61796872/153455557-a65bc192-5cae-489d-b4f0-fa66f4052a54.png)

My Branch:
![image](https://user-images.githubusercontent.com/61796872/153455727-4ed31e1d-03a7-4d16-ac1e-081fc1a5c8d2.png)

[2022-02-10 16:57] LeeBamberTGC commented on #2044
@dllllllllllb Looks like your branch does not have the latest from the master. Do do this, whilst in your branch, use GitHub Desktop and click the current branch dropdown and select the merge button:

![image](https://user-images.githubusercontent.com/35840583/153457125-59460bd3-9435-4f44-8868-875bef3eddfb.png)

You can then select the MASTER trunk and it will take all the latest from the master a

[2022-02-10 17:02] dllllllllllb commented on #2044
@LeeBamberTGC I did that and now have 62 pushes to do (didn't have any before), don't want to mess anything up so should I push these?
![image](https://user-images.githubusercontent.com/61796872/153458208-7a95b005-f2c3-4f97-9bd8-491b8e2fb5b8.png)

[2022-02-10 17:05] LeeBamberTGC commented on #2044
@dllllllllllb You are right to be cautious.  If you are pushing to your own branch it would be fine as I check merges to the master.  Let's have a call Friday AM and walk through the process. That sounds about right there are 60 commits you have not been privy to since you created your branch last week.

[2022-02-10 17:37] UltraVox001 commented on #2036
Yeah! Problem solved. :)

[2022-02-10 17:37] #2010 closed

[2022-02-10 18:12] UltraVox001 opened #2046 "GG Max Bug Report - Door Rising Behavior does not render door collisions on closing"
Door Rising Behavior does not render door collisions on closing
See my video : [https://www.youtube.com/watch?v=35trHl8dYcI](https://www.youtube.com/watch?v=35trHl8dYcI)
And I can't connect a second gate with the same Behavior (to be confirmed by other Beta-Testers).

I hope it can help.

[2022-02-10 21:00] LeeBamberTGC opened #2047 "Shuffle Auto Updater Collections and Add Demos Collection tech"
Currently many demo levels will require assets from different collections, but requesting the user to download the whole lot for just a few objects is crazy. The idea is to remove the Tree Collection item (not used), and add a Demos Collection ticked ON by default, along with the Max Collection ticked ON by default, the rest are OFF by default to keep GB size down initially:

![image](https://user

[2022-02-10 22:26] Pcskiller opened #2048 "Request for Max. Populate entities as same as the trees."
HI lee and everyone.
I was wondering if you can allow us to not just populate trees but to also add any entity to be populated together with the trees and we must be able to set the density of each entity separated from the tree density , in this way one can make lets say a similar game as The forest and also populate some suitcases and other stuff in  to the world, also it must be so that the gra

[2022-02-10 22:43] Pcskiller opened #2049 "Trees not following terrain contour"
HI please have a look at the trees on the mountain areas some of the trees are out of the ground and some only halfway in,  it happens on the mountain areas were there are small valleys and hills.    ( were terrain goes up and down )

[2022-02-10 23:45] casigus opened #2050 "custom models."
built this, exported via blender, imported into max. In the editor, it registers the surfaces fine.

![image](https://user-images.githubusercontent.com/68471279/153515882-586c508b-dd82-4fcb-9512-775c775ee365.png)

in game testing, zero collision.

![image](https://user-images.githubusercontent.com/68471279/153515705-9bdf6383-365d-453c-8a36-99a34fd47e3c.png)

[2022-02-11 00:41] Necrym59 opened #2051 "GGMAX Enhancment - Generic Climber"
An editor element and script to place Climbers on the maps.
Useful for climbing tunnels, chimneys, mineshafts, cliffs, vines, drainpipes, window entry, vents, airshafts etc. Use for ladders /shafts or vents built into existing models.

To use - Just select climber from the markers and place, scale to suit etc. Behaviour section you can change prompts etc. for differet uses.
[climber_v2.zip](https:

[2022-02-11 00:43] #2051 closed

[2022-02-11 00:46] Necrym59 commented on #1970
An editor element and script to place Climbers on the maps.
Useful for climbing tunnels, chimneys, mineshafts, cliffs, vines, drainpipes, window entry, vents, airshafts etc. Use for ladders /shafts or vents built into existing models.

To use - Just select climber from the markers and place, scale to suit etc. Behaviour section you can change prompts etc. for differet uses.
[climber_v2.zip](https:

[2022-02-11 01:35] Kitakazi commented on #2047
What if the user has all the collection boxes checked and the Demo collection box checked? Is it going to add duplicate assets?

[2022-02-11 01:52] nomad5oul opened #2052 "Auto highlighter on mouse over issue (Max)"
In the latest alpha build there is a bug where the entities get auto highlighted in the map editor when moving the mouse over them.
They should only be highlighted when the user clicks on them for editing purposes.
This can also lead to all of the entities in the scene being highlighted at the same time.

![image](https://user-images.githubusercontent.com/37256116/153526148-d7c0faad-5d8d-4a35-a285

[2022-02-11 04:07] OldFlak opened #2053 "MAX - 2022.02.11 - Texture Blending Issue"
Noticeable Terrain Texture blending issue
This area is only sculpted no alteration of Terrain Texture here just sculpting
- on bigger areas is a ton worse

Note the areas circled in tis pic
![Texture Blending Issue](https://user-images.githubusercontent.com/12246318/153535905-c4ed3bde-6007-4bcc-8684-02e24fbe80bc.png)

Video of the bad look it gives terrain
https://youtu.be/rYqvvxhNNBs

No doubt re

[2022-02-11 04:07] OldFlak commented on #1983
No - not an enhancement - tis clearly a bug that ruins the look :)

See #2053

[2022-02-11 05:33] UltraVox001 commented on #2052
To my knowledge this is not a bug, but a voluntary fact that was added very recently.
Maybe TGC should add a checkbox in the Options to decide on its state (On/Off).

[2022-02-11 05:41] UltraVox001 commented on #1872
Ah, I already sent version 14 to Rick.
Ask him if it's too late or not.
I'm testing 15 right away.

[2022-02-11 05:46] Necrym59 commented on #1872
ok 14 is ok this is better

[2022-02-11 05:50] UltraVox001 commented on #1872
No, it's not "better".
With Max's internal updates (for beta testers), version 14 still causes problems when you get to the top of the ladder. We are teleported down. This was not the case during the last tests carried out, before the last internal update yesterday. I test the 15.

[2022-02-11 05:51] Necrym59 commented on #1872
Im using the physlib and util routines now its should be more reliable than before unless they change the libraries.

[2022-02-11 05:56] UltraVox001 commented on #1872
Lee has too much work right now. February is dedicated to fixing all the bugs in Max. External plugins are not specifically part of it. They made an exception for Ladder Script, but I don't want to bother them further with that. For future versions of Ladder Script, I suggest you open a special Post on the GG Forum and feed it as much as necessary.

When it's done, don't forget to give me the link

[2022-02-11 06:11] UltraVox001 commented on #1872
Results for version 15 :
Everything seems to be working fine.
I find that when a Ladder has problems in TestLevel, increasing its size in height by a few centimeters (Scale Mode) reduces the possible problems considerably. I tested on 3 different Ladders, with and without the "E" option.

I have not tested Prompt message.

[2022-02-11 06:17] UltraVox001 commented on #1872
I'm going to test the Climber. :)

[2022-02-11 06:19] Necrym59 commented on #1872
clean out anything to do with the previous climber

[2022-02-11 06:30] UltraVox001 commented on #1970
I'm on your test map. When I arrive at the top of a climber, I systematically fall all the way down. On all climbers. And for some reason, the watchtower climber is visible in Test Mode. Others don't.

For me, impossible to climb up without falling.
Same for the well. I fall back down without knowing how to get out of there.

[2022-02-11 06:47] UltraVox001 commented on #1970
What works for me:
- The boxes
- The window of the blue building
- The tree
- The large cliff behind the tower
- The hole in the rocks (on the right).

The rest is impractical.
Impossible to climb on the roof of the building.
Impossible to climb the watchtower.
Impossible to get out of the well.

[2022-02-11 06:48] Necrym59 commented on #1970
weired perhaps its the version change you can always take that number up to 8 and see waht happens

[2022-02-11 06:57] UltraVox001 commented on #1970
We should wait until tonight for you to have a version very close to mine. There are a lot of changes internally. My version is infinitely better optimized (lights, shadows, collisions, etc...).

[2022-02-11 06:58] Necrym59 commented on #1970
Try sacaling the Z a bit on that one and see what happens, can you climb the drain pipe!

[2022-02-11 07:00] UltraVox001 commented on #1970
Yes, it was clearly the Z that was the problem. :)
I climb on the roof without any difficulty. :)

[2022-02-11 07:03] UltraVox001 commented on #1970
I can climb everywhere now.
Just increase Z, a little.
The initial setting is too small.

[2022-02-11 07:04] UltraVox001 commented on #1970
I will try to reset your script to 3 (instead of 8).

[2022-02-11 07:09] UltraVox001 commented on #1970
hmm, at 3 it doesn't work. However I increased the Z scale on the problematic objects.
I go up the script to 5.

[2022-02-11 07:18] UltraVox001 commented on #1970
To make sure it works everywhere:
- Script set to 8
- Raise Z
- Increase Y (it must exceed the object)

[2022-02-11 07:25] Necrym59 commented on #1970
yes the last one is obvious is suppose
Z can be done in the editor
I will update the script to 8 that compensator should cover everyone.

[2022-02-11 07:46] Necrym59 commented on #1970
So what do you think, it has a lot of uses im using it to climb into a vent system on a map.

[2022-02-11 07:53] UltraVox001 commented on #1970
I will test it right away. But I had modified your map accordingly. Should I try on the original map to check if your new settings are better, without any adjustments in the map?

[2022-02-11 07:56] Necrym59 commented on #1970
meh better to adjust on somthing yourself MAX embeds the scripts in mapfiles so they can get twitchy when changed. better to do fresf things. Im also now working on a hanging script :)

[2022-02-11 08:16] #2006 closed

[2022-02-11 08:20] rvanner opened #2054 "Terrain Generator: Add Keyboard keys to help"
This section should list the movement keys W, A, S, D:

![image](https://user-images.githubusercontent.com/1503593/153558328-298db4e1-ed13-48a9-8366-2a9d5634d256.png)

[2022-02-11 08:22] Necrym59 commented on #1970
If your refering to the textures not being retained on the rocks thats a Max bug been reported ages ago
i suppose its going to be a case of adjusting climbers to suit your needs really, but thats what its for. Plus we have version differences so i cant check yet perhasp tommorrow will reveal things.

[2022-02-11 08:22] UltraVox001 commented on #1970
I fixed the bug for the Climb above the crates. He didn't have the right Behavior.
So I checked the ladder. But she has the correct Behavior. I don't know why it shows as TestLevel.

[2022-02-11 08:23] UltraVox001 commented on #1970
No, I'm referring to your script which displays in TestLevel mode. He should not.

Textures are not your problem. :)

[2022-02-11 08:24] Necrym59 commented on #1970
As i said Max embeds scripts and has a hissy fit when fiddled with, delete the offending object and place a new one and it should be fine.

[2022-02-11 08:30] rvanner commented on #2009
The pop up large images are okay now but the change has messed up the smaller version. These should all be a standard width and height.

![image](https://user-images.githubusercontent.com/1503593/153559653-c43d3f7e-18b0-4794-aa6e-75a3a55290dd.png)

[2022-02-11 08:31] UltraVox001 commented on #1970
It's ok now.

[2022-02-11 08:36] #1935 closed

[2022-02-11 08:36] Necrym59 commented on #1970
Cool, enjoy im getting pizza!

[2022-02-11 08:40] rvanner commented on #1913
Testing this morning. The loading bar still jumped back when doing the test level process. So not fixed yet.

[2022-02-11 08:46] rvanner commented on #1074
@LeeBamberTGC I know memory issues have been fixed but this is more to do with adding instancing of objects to save further memory use. We don't have time now before EA to implement so I will mark this as Post EA and rename it.

[2022-02-11 08:50] rvanner commented on #1326
Closing this now. Sounds like a very old and out of date issue.

[2022-02-11 08:50] #1326 closed

[2022-02-11 09:02] LeeBamberTGC commented on #1913
@dllllllllllb Add a little error trapping to detect when the progress value passed in is lower than the current one, and ensure the values start at zero. You should then be able to trace which function is calling an eroneous value into the progress bar system.  Once that is done, you can add some code which would make it impossible for a lower value to override a higher one visually after the prog

[2022-02-11 09:03] #2003 closed

[2022-02-11 09:12] rvanner commented on #1991
@dllllllllllb Can you import the smaller cacti into the Vegetation section of the Object Library please? Add a new Small Cacti section there. [DOWNLOAD LINK](https://drive.google.com/file/d/1F-DJUf9aMFnIp_6OxGYLYapIXuxKctAL/view?usp=sharing)

[2022-02-11 09:28] LeeBamberTGC commented on #2047
Game Demos Collection

[2022-02-11 09:44] smmaas commented on #1554
can be closed

[2022-02-11 09:52] ZakJudges opened #2055 "Unable to sculpt"
Repro:
- Create new level with terrain "Max Height" set to 0
- Can't sculpt any of the perfectly flat regions

In this scenario you are unable to sculpt:
![sculpt](https://user-images.githubusercontent.com/32545391/153570586-315d0d4c-5e41-41a7-bbf0-fa48dd9baf45.png)

But in this case, you are able to lower the terrain:
![sculpt2](https://user-images.githubusercontent.com/32545391/153570630-111f1b3

[2022-02-11 09:55] UltraVox001 opened #2056 "GG Max Bug Report - Sunset SkyBox has flaws"
There is a yellowish line that appears on the horizon.
In the editor :
![sb1](https://user-images.githubusercontent.com/96718175/153571036-8d53eba3-f86c-469f-9ea8-b9d9199be1a3.jpg)
InGame :
![sb1-InGame](https://user-images.githubusercontent.com/96718175/153571059-eed7ead5-388c-49b0-a29f-acc40b24332d.jpg)
And the light suddenly becomes darker when leaving the TestLevel :
![darked](https://user-ima

[2022-02-11 10:37] LeeBamberTGC opened #2057 "Indicate which terrain textures can add grass (using smaller grass icon)"
This helps know which materials will include grass:

![image](https://user-images.githubusercontent.com/35840583/153577185-bce5a391-55d2-4b5c-9150-8455fd2930a7.png)

[2022-02-11 10:39] LeeBamberTGC opened #2058 "Add Sound Detection to Soldier and Zombie Behavior"
Important that all enemies and allies can respond and be alerted to combat-related sounds:

![image](https://user-images.githubusercontent.com/35840583/153577355-3d4769d5-57eb-4e1e-9eaa-2d35a00b6c07.png)

[2022-02-11 10:57] LeeBamberTGC commented on #2041
Fixed for this weeks build.

[2022-02-11 10:58] smmaas opened #2059 "floating trees and vegetation in the snow"
![image](https://user-images.githubusercontent.com/45684694/153580091-af373818-2410-41df-99c1-266454772921.png)

[2022-02-11 10:59] plemsoft commented on #2006
@rvanner Fixed.

[2022-02-11 10:59] LeeBamberTGC commented on #2037
@rvanner I am emailing the cut down start of the mountain snow level so you can test the character combat for the first 4 enemies so you can confirm the fixes.

[2022-02-11 10:59] smmaas commented on #1868
looks good!

[2022-02-11 11:02] smmaas opened #2060 "vegetation in water"

[2022-02-11 11:07] rvanner opened #2061 "Cannot open the keyboard shortcuts in the Level Editor (with auto close on)"

[2022-02-11 11:10] LeeBamberTGC commented on #1999
@ZakJudges Could not reproduce. The mapbank in the ZIP contained a single file of 0KB called Step 1 (no FPM).

[2022-02-11 11:11] LeeBamberTGC commented on #1986
Was a nice feature, but made killing a squad like killing mushrooms :) Fixed for next build.

[2022-02-11 11:23] ZakJudges commented on #1999
@LeeBamberTGC Ah sorry, here's a copy:
[AI issue.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8048155/AI.issue.zip)

 I noticed my reported memory usage increases a lot during the nav mesh generation, I'm wondering if it could be an issue with that? :)

[2022-02-11 11:29] smmaas opened #2062 "stacking objects with angle leave a space in between (without angle works)"
![image](https://user-images.githubusercontent.com/45684694/153584112-b43374ff-6d38-4c77-a3ca-afa4cd58d5c3.png)

[2022-02-11 11:33] smmaas opened #2063 "stacking objects and angle objects"
Placing objects with stacking and angling only works when placing the first time and when an object is moved or copies with shift

[2022-02-11 12:32] #1868 closed

[2022-02-11 12:58] UltraVox001 opened #2064 "GG Max Bug Report - What the .EXE does not consider"
Small test with an Max executable (internal version) to determine the possible problems.

- Unlike the TestLevel, the AI ​​does not use any PathFinding. Enemies react to my presence and want to kill me, but completely ignore PathFinding. They remain positioned in the same place with an idle animation.
![NoPathFinding](https://user-images.githubusercontent.com/96718175/153594826-bc56be61-7bf5-49b1-

[2022-02-11 13:06] dllllllllllb commented on #2053
https://github.com/TheGameCreators/GameGuruRepo/issues/1983

[2022-02-11 13:06] #2053 closed

[2022-02-11 13:20] dllllllllllb opened #2065 "Terrain Editor - Sculpt speed doesn't affect "Blend Mode" tool"
Sculpt speed doesn't affect "Blend Mode" tool.

[2022-02-11 13:21] dllllllllllb opened #2066 "Terrain Editor - Brush indicator disappears when you open water tab"
When you have one of the "Sculpting Terrain" tools selected and open the water tab, the brush indicator disappears but you can still edit the terrain. Brush indicator comes back when you close the water tab.

[2022-02-11 13:27] ZakJudges commented on #2018
@ArgentArts thanks for reporting this issue. I've added a fix that you should see in next week's build

[2022-02-11 13:32] #1956 closed

[2022-02-11 13:33] dllllllllllb opened #2067 "Assets - Duplicate objects"
When you search "Barrel", duplicates come up in the object library.
Assets I have downloaded: Industrial Collection and Military Collection
![image](https://user-images.githubusercontent.com/61796872/153600098-ee35dfb9-35a8-4634-889d-62319c150291.png)

[2022-02-11 13:54] PaulSJ commented on #1982
@plemsoft Can you take a quick look at this. The shadows are fine in the editor but then become changed after pressing test game. Returning to the editor keeps the shadows in their broken state so I'm wondering if the test game process is modifying some shadow settings?

The bug itself is caused by the shadow terrain being lower detail than the visual terrain, so I could fix it by increasing the s

[2022-02-11 13:56] PaulSJ commented on #2066
@plemsoft set ggterrain_extra_params.edit_mode or ggterrain_extra_params.sculpt_mode to 0 to disable terrain editing when leaving the terrain tab

[2022-02-11 13:59] LeeBamberTGC opened #2068 "Account foir nearby dynamic phyics when calculating death anim floor area"
![image](https://user-images.githubusercontent.com/35840583/153604568-d5c4ca0e-5322-4d79-9dec-96b1f24fd59d.png)

Or shift the dynamic object forcably...

[2022-02-11 14:18] ZakJudges commented on #1933
@3coms Thanks for reporting this issue. The model had 179 meshes which was too much for the materials menu to handle. I've added a fix which you should see in next weeks build :)

[2022-02-11 14:27] dllllllllllb commented on #1913
@LeeBamberTGC Made a mistake by relying on the progress percentage of each item to never be exactly 100.0f and go into a check that makes sure the value is not higher than 100.0f. Now the appropriate combined level loading progress is set after the loading loop for each item is over.

[2022-02-11 15:04] plemsoft commented on #1982
@PaulSJ Could you forward the test map , thanks :)

[2022-02-11 15:10] PaulSJ commented on #1982
Sent

[2022-02-11 15:21] dllllllllllb commented on #1991
@rvanner When I'm importing Cacti using their albedo and normal, they don't look like they do in the screen shot above. (also there are no surface.dds in the files you sent me)

Cactus_var5 with specific color and normal for cactus_var5:
![image](https://user-images.githubusercontent.com/61796872/153617266-4041f0e8-d8c9-4a41-a2b6-8a628855545f.png)

Cactis_var5 with color and normal in the main fol

[2022-02-11 15:34] #1943 closed

[2022-02-11 15:39] ZakJudges commented on #2055
@PaulSJ But in that case should we not still be able to lower the terrain to whatever valley depth is set to? In the above photos, it wouldn't let me unless I sculpted a non-flat area. I've attached the terrain settings I used when experiencing the issue :)

[sculptbug.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8049800/sculptbug.zip)

[2022-02-11 15:51] PaulSJ commented on #2055
Good point, I assumed you were trying to raise it, but lowering it should still have an effect. I'll see if I can track it down

[2022-02-11 15:54] UltraVox001 opened #2069 "GG Max Bug Report - A single underwater algae instead of six"
Cannot paint underwater seaweed other than Seaweed1.
All others can only be painted on the ground, out of water.
![algues](https://user-images.githubusercontent.com/96718175/153624228-a2a3965a-4cd3-4395-894d-c2f08ef89b1a.jpg)

[2022-02-11 15:57] 3coms commented on #1933
Can the materials menu handle it by material, rather than by mesh?
There might be 50 boxes but all then share the same material, when I set up material for one of them, automatically GGMax updates material settings in other ones. Right now I have to set up the same material for the 50 boxes one by one.
So, if you have box1, box2, box3.....box50, this is insane to list them there; on this way you j

[2022-02-11 16:13] dllllllllllb commented on #1573
@LeeBamberTGC @rvanner I changed the damping values to be more aggressive when brass hits the water, it doesn't bounce anymore but it doesn't fall below the water level. It floats and rotates very slowly.
See the video: https://www.youtube.com/watch?v=aBGKQt-UEfs

Is this how we want the brass to behave?

[2022-02-11 16:21] rvanner opened #2070 "Add ability to set "Grass bands""
Add controls so we can set grass bands.
1. Sets where grass can start and end.
2. Sets where underwater grasses start and end

Once Paul has added these controls, Preben to add sliders to the Vegetation UI

[2022-02-11 16:26] rvanner opened #2071 "Option to allow weapons to have on screen reticle to aid aiming"
Chris's feedback;
All the weapons so far seem to be 'iron sight' style.  I couldn't figure out what was missing at the time, but then I realised that there is no crosshair on the HUD.  It's a blind shot from the hip or a realistic gun sight aim.  I don't know if this is a toggle option, but it should be.  It helps people with poorer eyesight.  (customisation might be good to allow colour to be cus

[2022-02-11 16:28] rvanner opened #2072 "Improve the hit on enemies"
Chris's feedback;
The 'hit' animation seems to break the flow of the combat, not just on the impact, but throughout.  Based on my experience of playing games, more viscera and less reaction feels better, and the death ragdoll could do with tweaking.  It feels to me that the hit should be removed, more hit details (blood, impact, etc) added and Ideally they would need to fall in relation to the for

[2022-02-11 16:30] rvanner opened #2073 "Headshots"
@LeeBamberTGC Headshots should be ON as a default setting.

Chris's feedback;
Headshots?  Can this be added/adjusted.  I stood and put 4 in the unshielded forehead of a soldier and he reacted (hit - not always in the right direction) until he died and rag dolled with a sort of double finger gun pose.  I wish I had my camera on for that one.

[2022-02-11 16:31] rvanner opened #2074 "Weapon Reloading"
Chris's feedback;

- Option to enable auto-reload.  Realism is good, but sometimes that extra key press is distracting in the middle of a firefight.
- Reload While Running.  Again realism is good but flow is better (for some genres).  It should at least be an option.

[2022-02-11 16:33] rvanner opened #2075 "Enemy AI"
Chris's feedback:

- If the enemies can go into cover and peep and shoot - that would be good.
- If they can work smartly together and flank you, that would be better.
- If they can use grenades to flush you, then that would be awesome.  (would need a HUD warning system similar to bullet direction)

[2022-02-11 16:41] dllllllllllb commented on #1991
@rvanner Here are the imported small cacti: [download link](https://drive.google.com/file/d/1ITmpIUrWezPF4wmUE29hXEMhT9BWkdLB/view?usp=sharing)

[2022-02-11 16:45] rvanner commented on #1991
@LeeBamberTGC See the link above, please add to the build!

[2022-02-11 17:14] PaulSJ commented on #2070
@plemsoft Changes have been uploaded to PJ-Branch2

[2022-02-11 17:48] 3coms opened #2076 "GGMax scaling X files when place them over the map [GGMax]"
Not final Friday's build yet.
Notice the soldier near the scene, as a reference.

The mesh in 3ds max

![resize_small_mesh_3dsMax_pic01](https://user-images.githubusercontent.com/47690174/153641821-8938dbd3-68d2-4977-83ff-b10ce70c36fd.png)

In GGMax

![resize_small_mesh_GGMax_2022_02_11_pic01](https://user-images.githubusercontent.com/47690174/153641939-7d57f955-429b-411f-9a79-2035617b22ee.png)

!

[2022-02-11 17:51] 3coms commented on #2076
With respect to X files, please back to the GG system. :)

[2022-02-11 18:14] LeeBamberTGC commented on #1895
Fixed for next weeks build.

[2022-02-11 18:20] LeeBamberTGC commented on #1902
Fixed for next weeks build.

[2022-02-11 18:25] LeeBamberTGC commented on #1891
@UltraVox001 Go to the AI Management component (activated in developer mode) and tick to see the nav mesh. If there is no nav mesh it explains both the issues reported here. I am assigning to Paul who is working on a system to handle VERY LARGE nav meshes.

[2022-02-11 18:28] LeeBamberTGC commented on #1425
@synchromesh62 I have made an official door_rising behavior in the latest build. See if that works for your purposes in this case. I use it in my own Switch Escape demo for the roller doors.

[2022-02-11 18:33] LeeBamberTGC commented on #1991
Added for next weeks build

[2022-02-11 18:45] 3coms commented on #2076
You can avoid it scaling your mesh in the GGMax importer; anyway, the iron remains misplaced, and this is happening because, for any reason, lately I'm being forced to merged my multi-compound meshes into one.
Originally that mesh was 4 meshes plus the iron, GGMax make a sculpture with it when placed over a map; so, now I'm forced to work each city's building one by one, and import them from GGMax

[2022-02-11 18:47] LeeBamberTGC commented on #1991
Added this THIS weeks build - easier to add asset and does not endanger stability on release day.

[2022-02-11 18:48] LeeBamberTGC opened #2077 "Crash related to NAV MESH Generation"
Crash when testing the level found here: https://github.com/TheGameCreators/GameGuruRepo/issues/1999 - this was a copy of the map showing AI walking through walls due to the navmesh not being generated properly. I noticed in a debug build that the reported memory usage went very high whilst generating the nav mesh - but didn't crash in that build. But in the one I've been testing, the level crashe

[2022-02-11 18:49] LeeBamberTGC opened #2078 "Crash when creating a smart object from 3 characters"
Crash when creating a smart object out of 3 characters. Like last week, I couldn't reliably reproduce this one. But here are the steps I took before the crash:

Place a character in a level - I used Tony Armed Response
Copy and paste the character a couple of times
Group the characters and create a smart object out of them
Press "Add to Object Library" at the thumbnail creation and sometimes the c

[2022-02-11 19:01] synchromesh62 commented on #1425
If your referring to the internal build then yes it perfect i have been playing with it :)
Thanks Guys.
I will close this one down

[2022-02-11 19:01] #1425 closed

[2022-02-11 19:05] UltraVox001 commented on #1891
@LeeBamberTGC
I don't know about you, but for me no character can move.
I can't even bind the Character to a Flag.
![Nothing](https://user-images.githubusercontent.com/96718175/153653483-1fdbf116-1830-4b5c-bda6-952fded9dc05.jpg)
![NoLinkIsPossible](https://user-images.githubusercontent.com/96718175/153653632-02962e8c-e9ad-4f87-b337-d77f82ea02da.jpg)
But, many thanks for the giant nav meshs (coming

[2022-02-11 20:03] UltraVox001 commented on #1999
Currently with the latest internal version, I cannot link a Character to a Flag. Looks like the Character doesn't have what it takes to be linked, unlike the Flags. All Characters I tried are provided by Max, + two Characters I created with CC. None can be linked to a Flag.

[2022-02-11 20:23] UltraVox001 commented on #1999
@synchromesh62
I can not do that. I could with the previous build, but not with this one.
![NoYellowBall](https://user-images.githubusercontent.com/96718175/153664787-5f74ea0c-47df-4832-90f6-980c602d800d.jpg)
Here is my map.
[EmptyMap2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8051434/EmptyMap2.zip)

[2022-02-11 20:36] UltraVox001 commented on #1999
I also can't create an AI group linked to each other.
In Target mode (Shooter Games icon), this moves characters with the mouse, instead of linking them.
Strange.

[2022-02-11 20:46] synchromesh62 commented on #1999
She is most definitely working for me and no issues so far ?
try another verify and reboot ?

[2022-02-11 20:56] UltraVox001 commented on #1999
Max is reboot. See for yourself :)
[https://www.youtube.com/watch?v=yQ9l0Czrumw](https://www.youtube.com/watch?v=yQ9l0Czrumw)
Unable to connect AI to a Flag.
I can't invent it.

[2022-02-11 21:11] UltraVox001 commented on #1999
With a map created with a previous build (1 week maximum), everything works.
![OkLink](https://user-images.githubusercontent.com/96718175/153670752-6277dcd4-7b13-46e4-97c3-bc143815de81.jpg)

[2022-02-11 21:29] Granada1 commented on #1999
I can link but its not working well, also character only uses first flag
![FlagTest](https://user-images.githubusercontent.com/35897659/153672834-796ef240-a172-4ad0-a350-d5168f9eee49.png)

[2022-02-11 21:39] UltraVox001 commented on #1999
Obviously there are Characters that work, and others that don't.
![OkLink](https://user-images.githubusercontent.com/96718175/153673936-2c09ba9d-23c3-4e19-83c1-32d9ee419d93.jpg)
This is not a problem with my version of Max (I've uninstalled and reinstalled 4 times this week).
This is a problem related to some Character of Max.

[2022-02-11 22:18] UltraVox001 commented on #1999
Good. To finish with that, you just need to find a single character that works with PathFinding, so that all the others work too. This is the case of Astra. She didn't work until I found another working Character.
Strange!

[2022-02-11 22:32] 42Pix3ls opened #2079 "Tree painting not working after clearing trees"
Since the new update, I decided to clear all the trees and paint them myself. After clearing them I can no longer paint them down unless I place trees first, clear them, and then when I paint it puts them back where I had placed them. I have attached a video to demonstrate. [https://youtu.be/9NjHg7gYQrM](https://youtu.be/9NjHg7gYQrM)

[2022-02-11 22:33] 42Pix3ls opened #2080 "New grass types not painting underwater"
The new kelp type will only paint on land. the see weed works underwater but not the kelp. I have attached a video to demonstrate. [https://youtu.be/pzdlDLCjleU](https://youtu.be/pzdlDLCjleU)

[2022-02-11 22:35] 42Pix3ls opened #2081 "Some impoted objects no longer cast a shadow even when it is selected to."
Since this update an object that previously cast a shadow no longer does. please see the screenshot attached.
In this case the body of the building cast no shadow but the roof still does. they are two separate entities.
![Screenshot 2022-02-12 091631](https://user-images.githubusercontent.com/95527550/153679923-ed6e82cd-41ab-4404-957f-85290351bdbe.png)

[2022-02-11 22:40] UltraVox001 commented on #2080
Already reported here : [https://github.com/TheGameCreators/GameGuruRepo/issues/2069](https://github.com/TheGameCreators/GameGuruRepo/issues/2069)

[2022-02-11 22:45] 3coms commented on #2076
Just to verify the model is not the issue, I bring up just another one. :)

in 3ds max

![resize_small_mesh_3dsMax_pic02](https://user-images.githubusercontent.com/47690174/153680547-5bd07694-e12b-44c1-afc8-d1b7fbb22fdc.png)

in GGMax

![resize_small_mesh_GGMax_2022_02_11_pic03](https://user-images.githubusercontent.com/47690174/153680598-82e5eda0-27f9-4cee-a30c-394e72af20d9.png)

in GGMax importe

[2022-02-12 04:24] Necrym59 commented on #1970
Also updated to version 5
- Should fix some issues with dropdowns as it has a deeper(z) in the placeholder to begin with now.
- Also added the option to turn on/off A and D keys to exit the climber. People just have to edit the prompt text if they use it.
[climber_v5..zip](https://github.com/TheGameCreators/GameGuruRepo/files/8052684/climber_v5.zip)

[2022-02-12 04:35] wizardofid29 opened #2082 "Tree painting crashes level"
Steps to reproduce crash bug

1. Create a level
2. Clear level of all trees
3. Select a few trees to paint. (3-5)
4. Manually add trees by painting one by one, at various places in the level
5. At some point during the process, 50+ trees it will crash to desktop without a error message.

[2022-02-12 06:01] UltraVox001 commented on #1891
Problem "solved" in another way.

[2022-02-12 06:08] UltraVox001 commented on #2015
The issue seems to be resolved with the latest build.

[2022-02-12 06:08] #2015 closed

[2022-02-12 06:09] UltraVox001 commented on #1970
Thank you.
I downloaded and installed it. I will test it this morning, a little later.

[2022-02-12 06:47] Teabone3 opened #2083 "Game Guru Classic - SetGlobalSoundVolume ( #,#) Not Working"
The command  SetGlobalSoundVolume ( #,#) appears to not be working for me, still.

I'm using WAV. When I reduce the volume , there is no change.

I've posted this issue in the past and it looks like its back:
#1038

[2022-02-12 06:51] Teabone3 commented on #2083
Found the cause of the issue. It does not work if you change the volume in the initial function. Only the main.

[2022-02-12 06:51] #2083 closed

[2022-02-12 07:33] rvanner commented on #2082
@wizardofid29 Just tried this and it worked fine for me. What biome did you use and what size level was it? Can you try again in the latest version and report back please?

[2022-02-12 08:03] rvanner commented on #2061
Still not working in 11th Feb build. Did Lee not include your fixes?

[2022-02-12 08:07] rvanner opened #2084 "Bad imported Cacti"
These two are not imported properly;
![image](https://user-images.githubusercontent.com/1503593/153703003-a4a22dc8-05d9-4bf0-b465-8729c7ef8cc5.png)

[2022-02-12 08:07] #1991 closed

[2022-02-12 09:31] ZakJudges opened #2085 "Importer Mesh Optimisation"
Add optional functionality to the importer to optimise meshes before they reach the object library. MeshOptimizer, found here: https://github.com/zeux/meshoptimizer can change mesh data layout to make it more gpu friendly. It could also potentially be used to generate different LODs for imported models automatically

[2022-02-12 09:40] ZakJudges commented on #1933
@3coms If you select "Edit all Mesh Materials" on the mesh dropdown, any material setting that you change will be applied to all meshes in the object :)

[2022-02-12 10:24] #1493 closed

[2022-02-12 10:24] #1511 closed

[2022-02-12 10:26] #1391 closed

[2022-02-12 10:26] #1370 closed

[2022-02-12 10:30] ZakJudges commented on #1334
Hi @blueFireGames. there have been a few updates in recent months that should have sorted this issue for you. Have you encountered the same issues recently? :)

[2022-02-12 10:31] #1327 closed

[2022-02-12 10:48] ZakJudges commented on #1536
Hi @casigus, this should now be fixed. Could you confirm? Thanks :)

[2022-02-12 11:57] LeeBamberTGC commented on #2085
@ZakJudges I think we can look at this Post-EA as an optional extra for the model importer. Heading off high poly models before they get to the object library is a great idea, and having different schema to try allows different models to get the best looking/performing optimization. Once we have some examples under our belt, we might also find a single optimization works well as a default option f

[2022-02-12 12:38] Kitakazi opened #2086 "Allow the player to Reload their weapon while the Shift key is held."
This is one thing I noticed for a long time in classic. In most games, even when you cannot fire while sprinting, you can still reload your weapon if your press R while the shift key is held.
Even if the flag to be able to fire weapons while sprinting is set to no, the player should be able to reload the weapon while holding shift. This would probably bring the player back to normal move speed whi

[2022-02-12 12:41] #2086 closed

[2022-02-12 12:42] Kitakazi commented on #2074
Guh, I just posted an enhancement request asking for this... I will close my issue and copy/paste it here.

This is one thing I noticed for a long time in classic. In most games, even when you cannot fire while sprinting, you can still reload your weapon if your press R while the shift key is held.
Even if the flag to be able to fire weapons while sprinting is set to no, the player should be able

[2022-02-12 12:55] #1674 closed

[2022-02-12 14:50] ArgentArts commented on #2085
Question - won't something like this potentially mess up a model's UV map, causing the textures/materials to not be applied correctly to the model? Any time you change the polygonal structure of a model, you run the risk of messing up the UV map, especially with these auto-mesh optimization options.

[2022-02-12 14:54] blueFireGames commented on #1334
I have not encountered the same issues lately.

Thanks.

On 2022-02-12 02:30, ZakJudges wrote:

Links:
------
[1] https://github.com/blueFireGames
[2]
https://github.com/TheGameCreators/GameGuruRepo/issues/1334#issuecomment-1037116013
[3]
https://github.com/notifications/unsubscribe-auth/ACBHWVDHP2GVKAUS3T4YP7TU2YZFRANCNFSM5CTJEAGQ
[4]
https://apps.apple.com/app/apple-store/id1477376905?ct=notific

[2022-02-12 14:56] ArgentArts opened #2087 "GameGuru MAX - Request - Delete Project in Editor (and Archive Idea)"
Currently, in MAX, under My Games, we have the ability to choose games we've made or are working on. We can edit them and play them. What we cannot do is delete them if we no longer need them (for whatever reason). I realize that we can go to the folder where the project is stored and delete that, but I think it would be great if there were an option to delete a project/game right from within the

[2022-02-12 15:09] ZakJudges commented on #2085
@ArgentArts I haven't looked at MeshOptimizer in too much detail, but it seems like most of the methods used would not change the appearance of the mesh, they simply reorganise the data within the mesh based on how it will be accessed throughout the various stages of the graphics pipeline, to make it more cache-friendly.
Though if we were to use the library to generate LODs then you are indeed cor

[2022-02-12 15:13] ZakJudges commented on #1334
Thank you for confirming :) closing this issue

[2022-02-12 15:13] #1334 closed

[2022-02-12 15:15] ZakJudges commented on #1768
Hi @Pcskiller, are you still having any issues with the updater?

[2022-02-12 16:14] ArgentArts commented on #2085
From the site:

`this library provides algorithms to help optimize meshes for these stages, _as well as algorithms to reduce the mesh complexity_ and storage overhead.`

Reducing "mesh complexity" means that it removes polygonal faces in order to reduce the overall poly count of the model (i.e. making it less complex). Even if this does not change the actual shape of the model, it can mess up a UV

[2022-02-12 19:55] smmaas commented on #1809
Works great thanx

[2022-02-12 19:56] smmaas commented on #1791
can be closed

[2022-02-12 20:13] smmaas opened #2088 "Smart objects?"
I don't know if I missed something but smart objects don't work anymore or are removed.

[2022-02-12 20:39] UltraVox001 commented on #1970
I tested the script and everything seems to work fine.

[2022-02-12 20:40] smmaas opened #2089 "sunset before the box"
![image](https://user-images.githubusercontent.com/45684694/153727634-b7ce8e06-5942-4480-8c54-a1bdba24e559.png)

[2022-02-12 20:48] smmaas opened #2090 "Affected by gravity does not work"

[2022-02-12 20:52] Necrym59 commented on #1970
Excellent, i can rest in peace on this one.

[2022-02-12 21:04] #2088 closed

[2022-02-12 21:32] smmaas opened #2091 "melee"
Enemies with no weapon don't attack.

[2022-02-12 21:33] smmaas opened #2092 "Can't change Astra's weapon"

[2022-02-12 21:44] Necrym59 opened #2093 "GGMAX - Enhancement Option Request"
For the area/map/level generation is it possible we can have a grid option and overlay so as to move the selector in snap grid fashion this allows to later generate subsequent levels/maps adjoining the one being used if we use the same ter settings.
Also when we hit the boundary of a map can he have the option to load the next designated level automaticly.
Together this gives GGMAX the possibilty

[2022-02-12 21:48] smmaas opened #2094 "zombies social distancing"
ally zombies do no damage and keep their distance

https://vimeo.com/676660877

[2022-02-12 22:28] smmaas commented on #1809
Actually I looked some more into it and it doesn't. At least it stops working after a save and reload. The back row i planted first and the front row after a saved and reloaded the scene.

![image](https://user-images.githubusercontent.com/45684694/153730552-1f613dcb-ded0-4ff6-b761-b39f8f8c18f3.png)

[2022-02-12 22:31] ShadowMasterOfGames opened #2095 "System Question for Lee"
I was wondering if you would like to know how MAX does on CPU with integrated graphics by AMD.

**Home-built Computer system**

The OS is Windows 11
Processor: AMD Ryzen 3 3200G with Radeon Vega Graphics 3.80 GHz
Installed RAM: 40.0 GB (37.9 GB usable)
System type: 64-bit operating system, x64-based processor

It runs great with little to no issues so far and I would be happy to keep you updated o

[2022-02-12 22:38] Necrym59 opened #2096 "GGMAX Copy and Paste Issue"
When copying (Ctrl C) and paste with (Ctrl V) an object, the mode changes back to terrain mode when it shouldnt. It seems to happpen randomly but does happen after either 1 or more Ctrl V pastes. Not a game stopper but could be looked at for polishing editor useage.

[2022-02-12 23:12] Necrym59 commented on #2075
No enemy or ally behaviour seems to be working as of this current build is that just me or is everyone have this problem

[2022-02-13 00:31] ArgentArts opened #2097 "GameGuru MAX - Possible Issue with Player Weapons"
I have a simple test level (warehouse with odds and ends in it, some lights, and a few zombies). I get 100 FPS consistently with this level no matter where I am or what direction I am looking in. So, I started to experiment with different player weapons and that's when I saw drastic frame rate differences depending on which weapon I was using.

- No Weapon - Consistent 100 fps
- Assault Rifle - 50

[2022-02-13 01:12] bluemeenie195 opened #2098 "Max build 2022.02.11 ( fog opacity reset problem )"
Fog opacity resets itself every time you leave the test game then restart it.

[2022-02-13 06:14] UltraVox001 commented on #2093
It really is a great idea.

[2022-02-13 06:45] OldFlak commented on #2026
Not fixed in Build 2022.02.18
![image](https://user-images.githubusercontent.com/12246318/153742310-bc22e3f9-7dc0-4105-87f9-484e2b8e7939.png)

[2022-02-13 07:01] UltraVox001 commented on #2097
I see the same thing as you with the presence of weapons.

Off Topic : did you like the new weapon shooting sounds ?
Rick asked me to make some, because the basic sounds were old :
- Assault Rifle
- Patrol Rifle
- Pocket Knife
- Compact Assault Rifle
- M67 Grenade

[2022-02-13 07:09] UltraVox001 commented on #2021
As I wrote in another post :
Since Lee's last changes regarding the Cast Shadow option of lights and the increase up to 16 dynamic lights, some maps were running with 35-45 FPS, now render at 60 FPS constant. Tested on an old i5 with a GTX 1060 (6 Gigas), and 16 Gigas Ram. I congratulate everyone on this spectacular step forward. :)
It's a military base in which there are more than 400 3D objects

[2022-02-13 08:33] rvanner commented on #2082
It looks like a memory leak as soon as you Clear all trees!

[2022-02-13 08:34] rvanner commented on #2082
@PaulSJ As soon as I use Clear All Trees the memory debug starts increasing. Can you have a quick look please?

[2022-02-13 09:40] plemsoft commented on #2082
@PaulSJ Took a quick look and found the problem, FYI: "TreeChunk* pChunk = &pTreeChunks[ i ]; pChunk->Update();" is called constantly in update, if no visible and "if (numValid == 0)" data was not freed. will commit it shortly. @wizardofid29 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-13 09:48] plemsoft commented on #2009
@rvanner Fixed.

[2022-02-13 10:08] plemsoft commented on #1982
@PaulSJ Fixed , the problem is when the camera distance is set low like in the test map. FYI: Auto adjust min max z for orthographic shadow matrix, auto dont really work when CameraFAR_f < fShadowFarPlane, i set them by hand when CameraFAR_f is lower then our default setup , but next time we look at shadows we should properly get the auto adjust working :).

@OldFlak This has been fixed and will b

[2022-02-13 10:28] UltraVox001 opened #2099 "GG Max - Improving FPS with SkyBoxes"
Test carried out in a large military base with lots of 3D objects, with and without SkyBoxe.
Watch the video : [https://www.youtube.com/watch?v=HIAf2lOuI_s](https://www.youtube.com/watch?v=HIAf2lOuI_s)
The loss of FPS (with SkyBoxe) is considerable. The FPS loss is 50% when I use any SkyBoxe. FPS goes back to 60 when I turn off. Of course, the sun from the skyboxes generates shadows. This is what

[2022-02-13 10:54] plemsoft commented on #2099
@UltraVox001 Thanks for reporting this issue, wonder if this is a swapping problem , could you try this test. when you have the low fps and a skybox , open shadows and try to set resolution from 2048 to 512, did it improve fps, also try 1024 and let me know if that also increase fps, thanks for your help :)

[2022-02-13 11:05] OldFlak opened #2100 "MAX - 2022.02.18 - Items moving when clicked"
Just use Lees demo, set to grid mode, and click the various Steam particles or any other object to reproduce

[2022-02-13 11:06] UltraVox001 commented on #2099
@plemsoft
Yes, this seems to me to be clearly related to shadows.
Test video : [https://www.youtube.com/watch?v=zMeD2alcRVQ](https://www.youtube.com/watch?v=zMeD2alcRVQ)

[2022-02-13 16:11] Granada1 opened #2101 "Opportunity to turn of the sun"
Can we have the choice to turn of the sun for completely internal levels guys

[2022-02-13 16:24] plemsoft commented on #2099
@UltraVox001 Not really a problem with shadows but more a case of how we use the GPU mem,  @rvanner Another issues where lower GPU mem will stop swapping , not sure where we are at lowering GPU mem ( like the 1024 shadow i suggested ? ), Let me know :)

[2022-02-13 16:46] casigus opened #2102 "demo dilema"
made a demo and submitted itt and it didn't work, so loaded the project back up in ggmax and its completely unstable, constantly crashes.

also noticed this build is very sluggish compared to the build a week before, the memory issue was fixed but now things are just back to crashing and redicolous loading times.

the thing here too, this map is ggmax assets and 5 non ggmax assets with a few soldi

[2022-02-13 16:54] casigus commented on #2102
ok so finally got the level to load, its slow. sluggish. frame rates are like a slide show, then a error 70008 popped up, followed by
![image](https://user-images.githubusercontent.com/68471279/153765705-9a9f26f7-b2db-4824-815b-02473c9d0eb1.png)
 that.

[2022-02-13 17:13] UltraVox001 commented on #2102
@casigus
What is your machine configuration, please ? It's been several weeks since I read your complaints about crashes and slowness (loading and saving). I am an internal beta-tester. I would be curious to test your map to check if everything is fine.

[2022-02-13 17:41] casigus commented on #2102
ya know i give up. its not working. I dont have the patience anymore with this game project. its completely broken. Just did as full re-install of ggmax, same problem. im done.

[2022-02-13 17:44] UltraVox001 commented on #2102
@casigus
There have been drastic changes lately. Especially on the management of shadows and lights. If you have not modified your map as a result of these changes, then it is normal for GG Max to crash on your machine.

Send me your map, I'll check everything.
Don't give up for so little. :)

[2022-02-13 17:48] UltraVox001 opened #2103 "GG Max - The material index 10 (Tarmac sound) does not work"
The material index 10 (Tarmac) does not work.
The sound is however referenced in the materialdefault.txt file, and the sound files are present in: C:\Program Files\GameGuruMAX\Max\Files\audiobank\materials\tarmac
But no sound is produced.

I've tested and referenced all indexes that produce no sound, and 10 is one of them :
- 4
- 5
- 7
- 8
- 9
- **10 (Tarmac sound)**
- 12
- 14
- 15
- 16

I hope it

[2022-02-13 17:53] UltraVox001 commented on #2102
Also give me the characteristics of your machine : processor, ram memory, video card, etc.

[2022-02-13 18:15] casigus commented on #2102
Device name TARDIS
Processor Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz   2.71 GHz
Installed RAM 32.0 GB
Device ID 792994C5-8395-4D67-8944-35493547E4D8
Product ID 00325-80590-25948-AAOEM
System type 64-bit operating system, x64-based processor
Pen and touch No pen or touch input is available for this display

got 4 gig of video memory too.

still no joy at all.

________________________________
From:

[2022-02-13 18:16] casigus commented on #2102
shadows have always killed it, now it seams t he new shadows have broke the demon game. I just cant be arsed with this anymore. 🙁 my patience has ran out. Worked really hard on this demo, 14 hour days, editing, even getting a voice actor in for it not to work at all.

________________________________
From: UltraVox ***@***.***>
Sent: 13 February 2022 17:54
To: TheGameCreators/GameGuruRepo ***@***.

[2022-02-13 18:22] ArgentArts commented on #2102
You didn't list your video card, from what I can see. That's a bit important, I would think. 4GB of video memory is actually on the low side these days, btw.

[2022-02-13 18:24] ArgentArts commented on #2101
Agreed. It's been asked for a few times. At least a simple, one-click way to turn off the sky/sun instead of having to adjust dozens of controls to try to achieve this.

[2022-02-13 18:24] UltraVox001 commented on #2102
@casigus
Either you send me your map and I check everything, or you do it yourself. But if you can't open your map, your video memory is insufficient. You only have 4 gigs of video ram. Max already uses 3.7 to open. It's no wonder you're having trouble. Send me your map and I'll check your settings on all your lights and 3D objects.

There are now huge savings to be made with lights.
If you don't,

[2022-02-13 18:46] casigus commented on #2102
well tthat settles it then, a 4 gig gpu cant run it, i might as well give up. the map was sent off, to lee and rick, the whole thing just didn't want to load, granted that was because it was exported in a previous version.

but why should I bother trying? if a 4 gig gpu cant run it, then might as wall just not bother anymore.

________________________________
From: UltraVox ***@***.***>
Sent: 13 F

[2022-02-13 18:49] casigus commented on #2102
gpu:
![image](https://user-images.githubusercontent.com/68471279/153769961-41bfa18c-84bf-4bd2-b3af-cbbd0d64f8b2.png)

[2022-02-13 18:50] casigus commented on #2102
ya so why does max say the miniumn is a NVIDIA GeForce GTX 960 or similar. I legit dont have the patience for this anymore. Its realllly doing my head in.

[2022-02-13 18:50] casigus commented on #2102
yeah ive turned shadows OFF. still the same.

[2022-02-13 18:54] casigus commented on #2102
https://drive.google.com/file/d/1vNm3Jf2faMVfhgS8a_rjTXULvPDT0SH1/view?usp=sharing
here you go ultra and thanks for your help with things.

[2022-02-13 18:55] ArgentArts commented on #2102
It's not about shadows, it's about materials. You only have 4GB to work with. If you're hitting that 4GB limit with materials, then you might be getting into some issues there.

MAX has a MINIMUM of an Nvidia 960 because, yes, it will run. But that does not mean it's optimal. Higher video cards are recommended.

But one thing to keep in mind with all of this - MAX is still in ALPHA. That means it'

[2022-02-13 18:56] casigus commented on #2102
yah absolutely and it means getting a demo finalized and submitted is completely impossible atm.

[2022-02-13 18:57] UltraVox001 commented on #2102
You are using a $70 video card. Do not expect miracles. It's already a technological mystery that you managed to get this far with this video card. :) But now I understand much better the origin of your problems.

Your link does not contain a map.
You need to create a .ZIP or .RAR file and share this file.

[2022-02-13 18:59] casigus commented on #2102
![image](https://user-images.githubusercontent.com/68471279/153770335-7157dff5-ec0a-4231-9603-09a2b3919399.png)

why the f**k is google drive doing that to my zip file. f**king urgh. as i keep saying, whats the point? i cant get a new gpu ever and even google drives pissing me off.

[2022-02-13 19:03] UltraVox001 commented on #2102
But, how do you expect your demo to work for people who have the same video card as you, if it doesn't work for you ? You have to reconsider your map, make it smaller, use less 3D objects. Fewer resources.

When you notice that your computer system is slowing down... and it's starting to get tired with this map, you've reached the maximum. No need to go further. Reduce your card. It is better to h

[2022-02-13 19:03] casigus commented on #2102
yahh. i hear you.

[2022-02-13 19:03] casigus commented on #2102
the map is small, theres barely anyything on itt.

[2022-02-13 19:11] UltraVox001 commented on #2102
It's okay, I have your card.
I come back after the test.

[2022-02-13 19:24] UltraVox001 commented on #2102
I can't even run the Testlevel.
It blocks at 84% of the Rasterizing Navigation Mesh.

Your map uses 23 gigs of data!
No wonder you're stuck.

I'll see what I can optimize.

[2022-02-13 19:29] UltraVox001 commented on #2102
Your map is full of flaws like this :
![ConvexHull](https://user-images.githubusercontent.com/96718175/153771391-706716c0-184e-4984-83cf-a02543a99943.jpg)
Why use a Convex Hull type collision on a square box ?
Just use the Box collision.
You are claiming unnecessary resources from the engine.

I continue to explore the issues.

[2022-02-13 19:38] UltraVox001 commented on #2102
All your crates are in Convex Hull.
Use Box collision on square and rectangular objects.
![ConvexHull](https://user-images.githubusercontent.com/96718175/153771689-ede874e2-07b5-4d0c-9047-13262364de04.jpg)

[2022-02-13 19:40] UltraVox001 commented on #2102
This red light is inaccessible to the player. Why are you giving him collisions?
![whycollision](https://user-images.githubusercontent.com/96718175/153771788-19e0ed55-be31-4417-92aa-614623adadaa.jpg)
You have to choose: No Collision.

[2022-02-13 19:45] casigus commented on #2102
I CHOOSE NON collision all the time on things you cant go near and GGMAX changes them back.

[2022-02-13 19:52] casigus commented on #2102
yah i know thats a huge problem for sure.

[2022-02-13 19:54] UltraVox001 commented on #2102
Except that the collision problems were fixed two weeks ago, minimum. All this is not very coherent. Max has no reason to render collisions that you don't want. On the contrary: the fewer collisions, the easier Max's job will be.

[2022-02-13 19:54] ArgentArts commented on #2102
Yes, but that's not the engine's problem. That's your problem as a developer of a demo/level/game. There's a reason that MAX (and other game engines) give you control over what has and what doesn't have collision and what types of collision to use. If it doesn't need collision, don't use any. And if the object needs collision, use the simplest type of collision you can get away with.

[2022-02-13 19:56] casigus commented on #2102
aye this map was made a while ago before the updates as there was a dead line on getting the demos in.

[2022-02-13 20:01] casigus commented on #2102
well i can 100% say i didn't set the collisions other than what they where on by defualt. never mind eh.

[2022-02-13 20:02] UltraVox001 commented on #2102
No, you should NEVER let Max decide on collisions. Max will tell you anything. A square is a Box. It is not a Convex object.

[2022-02-13 20:03] ArgentArts commented on #2102
Even if you didn't set the collisions, you should check them. The objects probably had them already when you brought them in to use. The point is, if the object is not going to be encountered by the player, you can turn off collision and save that memory.

[2022-02-13 20:03] casigus commented on #2102
ayeee i tend to turn off things outt side of the area.

[2022-02-13 20:06] UltraVox001 commented on #2102
All exterior structures of this huge building are inaccessible to the player. But there are collisions everywhere.
![whycollision](https://user-images.githubusercontent.com/96718175/153772768-ee196ac2-e227-475d-bf03-7b17851192da.jpg)

[2022-02-13 20:09] casigus commented on #2102
am gonna go bury my head in the sand. thanks for the assistance. x

[2022-02-13 20:10] UltraVox001 commented on #2102
I remove collisions wherever I can.
Then I send you your map.
We'll see if you can open it.

[2022-02-13 20:13] ArgentArts commented on #2102
It's not about burying your head in the sand. It's about learning and moving forward. UltraVox001 is trying to help you. He is showing you the issues that are coming up repeatedly in your level so that you can avoid this in the future and create levels and games that will run with MAX on your system. It's a great learning opportunity ... if you'll use it as such.

[2022-02-13 20:23] casigus commented on #2102
thanks again vox.

[2022-02-13 20:41] ArgentArts commented on #2102
Heh. You got me in the midst of a modeling session, too. I was taking moments to comment here, but wasn't planning on writing a tutorial. ;)

For the most part, the types of collision you'd use make sense. You just need to think about it. You want to use the simplest shape you can get away with. And the simplest shape is always going to be a BOX. If you can use a box, use a box. Always. Even if a

[2022-02-13 20:47] casigus commented on #2102
thank you for writting alll that taking away from your work. really kind of you and Ill be taking it all in for future stuff. again thank you, both of you.

________________________________
From: ArgentArts ***@***.***>
Sent: 13 February 2022 20:41
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] demo dilema (Issue

[2022-02-13 20:49] OldFlak commented on #2100
As said yes it is set to grid - but items should not move just because they are clicked - so no, it is not normal behavior.

[2022-02-13 20:52] ArgentArts commented on #2100
What I meant was, if the entity is "between" grid points, when clicked, it will snap to the nearest grid point to ensure that entity is now snapped to the grid system since snap to grid is turned on.

[2022-02-13 20:55] OldFlak commented on #2100
Yes, but it should only move to grid if you actually try move it (click drag) not simply when clicked to edit properties.

[2022-02-13 21:40] UltraVox001 commented on #2102
Here is the map in .zip format :
[https://we.tl/t-rPDVKY5IC7](https://we.tl/t-rPDVKY5IC7)

It also contains a "facilitiy.log" file which contains the list of 3D objects that I haven't edited, because I don't own them. You will therefore have to modify them yourself by granting them a suitable collision (if the collision is necessary!)

For information : I have never managed to launch the TestLevel

[2022-02-13 22:36] casigus commented on #2102
wonderful thanks for your help. already been applying things from this, :)

[2022-02-14 00:42] synchromesh62 commented on #2101
Being more interested in indoor work for a more unique game creation experience i have to agree.
It just effects the environment to much and its almost impossible to hide.

[2022-02-14 01:37] OldFlak opened #2104 "MAX - 2022.02.18 - Preview Shows Scene"
We had this many moons ago - it is back again

![image](https://user-images.githubusercontent.com/12246318/153785810-3085cc5f-aa26-4802-bfb4-a76d60198dec.png)

[2022-02-14 03:05] ArgentArts commented on #2104
This is happening with me as well.

[2022-02-14 03:10] Skevos-Mavros commented on #2035
I can confirm that on the latest version this seems to be fixed. Thanks!

[2022-02-14 05:55] Skevos-Mavros opened #2105 "Water rendering in Front of Clouds"
GGM seems to be rendering water in front of most atmosphere effects (Haze/Fog/Light Streaks/Clouds).  This is most noticeable when up above the clouds (obviously) but is also visible more subtly down at ground level.  It makes distant water "pop" out more than it should.

![2022-02-14 Water Render A](https://user-images.githubusercontent.com/56815299/153807677-912bf044-40db-4079-a0f1-af6f5b2d9eca.

[2022-02-14 08:21] plemsoft commented on #2099
@UltraVox001 Also could you let me know how many spot and point lights you have on the level , Thanks :)

[2022-02-14 08:32] #2035 closed

[2022-02-14 08:33] UltraVox001 commented on #2099
@plemsoft
Is there a way to find out in Max, or do I have to count all the lights, one by one? If you give me an email address, I can send you the map. This is a test map, but it has several 3D model packs from TGC. No exterior model.

[2022-02-14 09:34] UltraVox001 commented on #2098
Are you sure you saved your map before leaving Max? I just did the test with the 3 available parameters. And all are fine after saving, quitting and restarting Max.
![fog](https://user-images.githubusercontent.com/96718175/153837871-d5ecf6b5-1429-4441-aa7b-9bab05c52263.png)

[2022-02-14 09:53] #2044 closed

[2022-02-14 10:22] plemsoft commented on #2099
@UltraVox001 Just use the "Detailed Object List" , should display all your lights , but i mainly is just looking for if you use 16+ spot or 16+ point , if you cant see it e-mail me the fpm and i will check plemsoft@plemsoft.com :)

[2022-02-14 10:32] dllllllllllb commented on #2084
@rvanner This is what I mentioned in the [issue](https://github.com/TheGameCreators/GameGuruRepo/issues/1991#issuecomment-1036325590)

When I use the specific color.dds and normal.dds for this cacti
![image](https://user-images.githubusercontent.com/61796872/153845980-7e4e873b-0847-47a7-a564-35d12eb039f4.png)
This is the result I get:
![image](https://user-images.githubusercontent.com/61796872/153

[2022-02-14 10:37] ZakJudges commented on #1926
@rvanner This should be in tomorrows build. To avoid some issues and save time, I placed the back button above the thumbnail. But just let me know if you'd like it changed tomorrow

[2022-02-14 10:40] ZakJudges commented on #1705
Hi @42Pix3ls, are you still experiencing this error with the Character Creator in the latest build?

[2022-02-14 10:54] PaulSJ commented on #1416
Should be fixed in the latest version

[2022-02-14 10:54] #1416 closed

[2022-02-14 10:54] PaulSJ commented on #1313
Should be fixed in latest version

[2022-02-14 10:58] ZakJudges commented on #1812
Hi @synchromesh62, are you still experiencing these AI issues in the latest build? :)

[2022-02-14 11:32] PaulSJ commented on #2055
It turns out that the sculpting is still working but since everything is compressed down to 0 the changes can't be seen until they reach ground level. For example a mountain in the now flat area is still a mountain but compressed, so when you sculpt it is getting smaller, but only when it reaches the ground level will it start to go belew zero.

I think the best way to work with this is to not use

[2022-02-14 11:35] PaulSJ commented on #2055
@rvanner I think you will also need to add this parameter to the documentation

[2022-02-14 11:35] GraPhiX-Guru opened #2106 "GameGuruMAX Build 2022.02.11"
Latest build, no trees or grass in test game its like the player is stuck in quick sand.

video here https://youtu.be/QghC4JRiTp4

Attached DXDiag
[DxDiag.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8060255/DxDiag.txt)

Regards
Kevan

[2022-02-14 11:36] #2082 closed

[2022-02-14 11:40] ZakJudges commented on #1697
Hi @Necrym59 , are you still experiencing crashes in the latest build?

[2022-02-14 11:40] rvanner commented on #2084
@dllllllllllb You are best checking with @bond1mjb who made the models.

[2022-02-14 11:53] 42Pix3ls commented on #1705
Not anymore thank you it seems to be working now as I have just tested it :)
ZakJudges wrote:
Hi @42Pix3ls <https://github.com/42Pix3ls> , are you still experiencing this error with the Character Creator in the latest build?
—
Reply to this email directly, view it on GitHub <https://github.com/TheGameCreators/GameGuruRepo/issues/1705#issuecomment-1038927716> , or unsubscribe <https://github.com/no

[2022-02-14 12:01] dllllllllllb commented on #1573
Played with it a bit more and managed to get it to behave properly: https://www.youtube.com/watch?v=HbhThLD0zWo

[2022-02-14 12:06] casigus opened #2107 "demo dilemas 2"
![image](https://user-images.githubusercontent.com/68471279/153861342-85736862-a8af-4109-a7b4-7c7011723eb7.png)

last night max was accessing assets with no problem. today it wontt open with out crashing and when it does open this happens:

![image](https://user-images.githubusercontent.com/68471279/153861464-00682c47-d243-4cfe-a995-22bb9dd3407f.png)

[2022-02-14 12:07] casigus commented on #2107
![image](https://user-images.githubusercontent.com/68471279/153861532-18f51c61-cfb5-412c-8923-b915905cbb90.png)

[2022-02-14 12:24] LeeBamberTGC commented on #2097
@dllllllllllb Try it with this morning build as Preben has improved object management on the Wicked side. This might solve the performance spikes caused by weapon rendering.

[2022-02-14 12:47] bluemeenie195 commented on #2098
Yes, I saved it, but once you go back in it resets. Almost like it shuts off completely and as soon as you touch the opacity slider it goes back to where you want it.
No problems with past updates.

[2022-02-14 13:33] LeeBamberTGC commented on #2081
Transparent meshes no longer cast shadow to save performance/memory.  Keep transparent meshes separate from solid ones that need to cast shadows.

[2022-02-14 13:37] LeeBamberTGC commented on #2103
@UltraVox001 Can you list your references of all materials that play no sound. It is likely related to the sounds being in stereo, and need to be in MONO if they are being used as 3D sounds.

[2022-02-14 13:39] LeeBamberTGC opened #2108 "Ensure all sounds played by characters use the VARIANT system to play different ones"
The sound files have hyphens -1 -2 -3 etc to provide alternatives, so create a system where only one needs to be specified and by default load and choose from the alternatives. Also, allow this behavior to be switched off by the user.

[2022-02-14 13:44] rvanner commented on #2055
@plemsoft Let me know when this is added and I'll update the user guide.

[2022-02-14 13:45] dllllllllllb commented on #2097
@LeeBamberTGC Tested it in empty level, different biomes and with various objects in the level etc. and I didn't get consistent FPS drops. Every time I changed weapon, I dropped 2-3 frames but they went back up almost instantly.

I have quite a beefy PC, so it might be a good idea if someone else also tested this.

[2022-02-14 13:52] LeeBamberTGC commented on #1999
@UltraVox001 Using EmtyMap2 as the files to reproduce this. Loaded into this weeks internal build, first noticed the character is set to static, not a great start if you want her following paths :)

![image](https://user-images.githubusercontent.com/35840583/153876269-064364e8-7a08-407a-a0a8-03f5842f1c0a.png)

Selected her and pressed Y to switch her back to dynamic, and when do test level she sta

[2022-02-14 14:03] #2001 closed

[2022-02-14 14:04] #2018 closed

[2022-02-14 14:12] #1913 closed

[2022-02-14 14:29] rvanner commented on #1870
I'll close this down now. The way the weapon system works will need to be revisited, it's a bit quirky.

[2022-02-14 14:29] #1870 closed

[2022-02-14 14:30] rvanner commented on #1926
@ZakJudges Can you post a screen shot of the back arrow here?

[2022-02-14 14:32] #1379 closed

[2022-02-14 14:34] #1494 closed

[2022-02-14 14:36] #1281 closed

[2022-02-14 14:37] ZakJudges commented on #1926
This is how it looks currently:
![Screenshot 2022-02-14 143551](https://user-images.githubusercontent.com/32545391/153884111-5a0f5381-8645-4fd5-8b9c-5692f506497b.png)

[2022-02-14 14:38] rvanner commented on #1100
@ZakJudges Please fix this for release, should be a simple one.

[2022-02-14 14:39] ZakJudges commented on #1705
Great, thank you for confirming :) Closing this issue

[2022-02-14 14:39] #1705 closed

[2022-02-14 14:41] #1498 closed

[2022-02-14 14:49] #1244 closed

[2022-02-14 14:50] #1247 closed

[2022-02-14 14:52] rvanner commented on #1280
@LeeBamberTGC One to sort out after release!

[2022-02-14 14:55] rvanner commented on #1282
This still seems to be an issue. It's okay to leave for now, we can fix post EA release.
![image](https://user-images.githubusercontent.com/1503593/153887501-a11ca604-435b-4338-a5c0-9aca3797772b.png)

[2022-02-14 14:58] rvanner commented on #1340
I'll close this now. It's very old and we'll test Zombies again.

[2022-02-14 14:58] #1340 closed

[2022-02-14 14:59] #1462 closed

[2022-02-14 15:02] #1820 closed

[2022-02-14 15:05] #1484 closed

[2022-02-14 15:11] rvanner commented on #1902
@LeeBamberTGC I made another small level with 3 character enemies. Two were told to follow their way points and one was to not. Only one followed his way point flags, the other wandered around where he liked!
![image](https://user-images.githubusercontent.com/1503593/153890472-c02b6589-7724-4e66-baae-acad8992ef7a.png)

[2022-02-14 15:13] #1914 closed

[2022-02-14 15:24] synchromesh62 commented on #1812
At work at the moment i will try as soon as i get back  :)

[2022-02-14 15:36] rvanner commented on #2102
@UltraVox001 Thanks for helping @casigus with these issues. Hopefully @LeeBamberTGC can check out the issues you have had so we can play your demo game later this week.

[2022-02-14 15:38] dllllllllllb opened #2109 "Trees LOD doesn't match the lighting"
https://www.youtube.com/watch?v=nFWbROQjFFo

[2022-02-14 15:54] rvanner opened #2110 "Under water plants don't paint under water"
I wasn't able to paint these purple kelp under the water, they only painted above water;

![image](https://user-images.githubusercontent.com/1503593/153898322-629bbbc3-229b-4e2d-a201-87cb75bed64d.png)

[2022-02-14 16:01] UltraVox001 commented on #2109
I will add that the trees do not render the shadows that come from the Lights (with or without Cast Shadow).

[2022-02-14 16:03] UltraVox001 commented on #2110
[2069](https://github.com/TheGameCreators/GameGuruRepo/issues/2069) :)

[2022-02-14 16:10] dllllllllllb commented on #1747
@LeeBamberTGC I can't reproduce it. I made 5 levels, all use a different biome as base, all had objects in them, I play tested them all, went back to each of them and none have dropped frames for me.

I also maxed out the movement speed and ran around the entire map to see if some things aren't unloading properly, but my FPS still didn't drop at all.

[2022-02-14 16:25] plemsoft commented on #1982
@OldFlak We are currently optimizing the different settings , could you let me know your fps on this level in graphics quality "Test Level High","Test Level Medium" and "Test Level Low" , Thanks that would really help me getting it setup :)

[2022-02-14 16:28] rvanner opened #2111 "New blood splats are a bit too over the top"
These new HUD blood damage graphics are too extreme:

![image](https://user-images.githubusercontent.com/1503593/153903745-1747fd1b-1307-4bca-ba88-0cde61ba1e26.png)
![image](https://user-images.githubusercontent.com/1503593/153903767-46989a28-895a-4080-a866-f3edb21ce7e5.png)

Would be better if they were semi-transparent.

See some game examples (probably not this extreme):
![image](https://user-i

[2022-02-14 16:38] LeeBamberTGC commented on #2058
Added for today's evening build for soldier and zombie :)

[2022-02-14 16:38] rvanner opened #2112 "Paint Palette does not scroll to bottom fully"
![image](https://user-images.githubusercontent.com/1503593/153906505-8e42a496-4f32-4fc7-a2d4-1f5109abd716.png)

[2022-02-14 16:45] ArgentArts commented on #2097
I tested this with a MAX generated outdoor level and the weapons barely affected the frame rate. However, even without weapons, my frame rates were in the low 50s, unlike my indoor level were I was getting a consistent 100 fps. But I also tested this with an empty level. My frame rate there was a consistent 100 fps with and without weapons. So, this massive drop in frame rate was only happening in

[2022-02-14 16:45] ArgentArts commented on #2097
Do you want me to zip up the test level for you? It only uses MAX content in it?

[2022-02-14 16:46] dllllllllllb commented on #2097
@ArgentArts Yes please, send it to my email: maciej@thegamecreators.com

Thanks!

[2022-02-14 16:48] PaulSJ commented on #2110
Fixed on PJ-Branch2

[2022-02-14 16:48] #2110 closed

[2022-02-14 16:59] rvanner commented on #2112
@plemsoft Same issue with the tree palette too!

[2022-02-14 17:35] bond1mjb commented on #2111
Oops!  I thought these were meant for decals applied to scenery when shooting at enemies.   I didn't realize they were player HUD overlays!  I will create appropriate new ones.

[2022-02-14 18:14] ArgentArts opened #2113 "GameGuru MAX - UI Request - Indoor Level "Biom""
Currently, GameGuru MAX seems to be heavily geared toward outdoor levels. However, there are many of us that want to also use it to create interior-only FPS games and believe this should be an option within GameGuru MAX. As a result, I would like to suggest that the editor have a few options. One would be a "biom" that is only for indoor-only purposes. Instead of "empty", it could read "indoor" or

[2022-02-14 18:26] AmenMoses commented on #1573
Does it screw up floating behaviour for other entities though?

(although that was never very good tbh)

[2022-02-14 18:44] Necrym59 commented on #1697
Hi Zac - No it seems to be ok now, just did half a dozen imports with no problems. Great work my friend.

[2022-02-14 20:03] Necrym59 commented on #1686
This particular problem seems cuired as of this build 2022.02.11

[2022-02-14 20:08] #1817 closed

[2022-02-14 20:11] #1697 closed

[2022-02-14 21:07] OldFlak commented on #1313
@PaulSJ - perhaps it would be a good idea to wait for confirmation before closing issues.

[2022-02-14 22:16] OldFlak commented on #1982
@plemsoft Hi Preben did some tests using the same map for the shadow issue.
Here are the settings for the foliage
**Trees**
Palette: two types selected - Pine and Scots Pine 2
Density: 25
Height: 39-70

**Grass**
Palette: three types selected - first three
Density: 50
Draw Distance: 1500

To test I walked up and down the valley - you will find a roughly painted sandy path :)

Results are varied an

[2022-02-14 23:09] OldFlak opened #2114 "MAX - 2022.02.18 - Trees Appear Disappear in View of Player"
Trees appearing and disappearing in view of player - ruins visual appearance of game (albeit very cool)
This is a standalone footage - but same happens in Test-Game

https://youtu.be/GY_T16TCxjU

[2022-02-15 01:11] synchromesh62 commented on #1812
Hi Zak checked this out again when i got home and still a no go :(
Although saying that occasionally they will return and follow the fags but rarely
Heres a quick vid
https://youtu.be/XqX-Yc-sXdw

Ideally like the soldiers it would be nice to set a Zombie to walk a path \ corridor then attack when they see you and return to the path once your out of range. They are always standing still initially

[2022-02-15 03:35] bond1mjb commented on #2084
@dllllllllllb @rvanner  Thanks for the reference image, I tried to get away with using the same texture for all the cacti but I guess this one needs it's own unique texture set for real world accuracy.  Files attached.

![nopal2](https://user-images.githubusercontent.com/87768878/153987809-ae0dd6df-233f-4338-ade2-ca71dbdc719f.jpg)

[cactus_var10 nopal.zip](https://github.com/TheGameCreators/GameGu

[2022-02-15 08:35] plemsoft commented on #2107
@casigus In settings try "Reset Interface" , and then try to open the object library again, did it work ? if so , i suggest you in settings -> Developer check "Disable Object Library Viewport" this will prevent it from happen again , Let me know if this solves your issue, thanks.

[2022-02-15 08:39] UltraVox001 commented on #2099
@plemsoft
It's exciting ! I can't wait to see the result. It becomes very interesting with Max. :)
Thank you very much. I would come back here to confirm.

[2022-02-15 08:58] ZakJudges commented on #1812
@LeeBamberTGC One for you :)

[2022-02-15 09:17] plemsoft commented on #2070
@PaulSJ Was just checking if it was safe to merge your branch , and i see that you changed version on the Tree data.
	dataInt[ 0 ] = 3; // version
Is this needed i do not see any changes in data ? , so many people making demo games using tree's, so would be sad if they had to redo all there tree work , if you want the new version let me know and i will just add it to the converter when loading a

[2022-02-15 10:34] UltraVox001 commented on #2099
@plemsoft
Wow ! You solved a very important problem, while giving the user some crucial choices!
The consequence is immediately visible. And the FPS gain is obvious. :)
Watch the video : [https://www.youtube.com/watch?v=PaUwZXSOBnQ](https://www.youtube.com/watch?v=PaUwZXSOBnQ)
I congratulate you and the whole team for this spectacular progress !

Regarding the Cast Shadow option, I would like to a

[2022-02-15 10:58] dllllllllllb commented on #1573
@AmenMoses If these changes have an affect on other entities, these entities would have behaved similarly if not exactly the same as brass when hitting the water, so it should fix them as well.

[2022-02-15 11:14] LeeBamberTGC commented on #1999
@UltraVox001 No worries, sounds like perhaps some map corruption with the visual logic data. If you can reproduce again from scratch, please do post a new issue with an FPM and I will attempt to reproduce.

[2022-02-15 11:14] #1999 closed

[2022-02-15 11:17] LeeBamberTGC commented on #1747
@rvanner Please close this one if this week's build has solved the performance issue. Preben added some object management stuff in Wicked which should really smooth out any performance spikes with continued MAX usage.

[2022-02-15 11:22] dllllllllllb commented on #2097
@LeeBamberTGC @ArgentArts I tested this on 2560p x 1440p with 144 FPS while recording. Simply holding the weapon and running around doesn't impact the FPS. (it shows that the fps dropped but the FPS reported are average, you can't see it in the video because it's only 60fps, but there was no stutter). However the animation have a huge impact on performance, especially when zooming in with a weapon

[2022-02-15 11:43] PaulSJ commented on #2070
@plemsoft I should have added it after I imported the new trees, which rearranged all the IDs and changed the data variable slightly. I've uploaded some code to PJ-Branch2 that will convert version 2 trees to version 3, although since the version update was missed initially there may be some edge cases where version 3 trees were saved as version 2.

[2022-02-15 11:55] LeeBamberTGC commented on #2111
@bond1mjb I think just semi-transparent for now, and we can tweak them as we get feedback on the new look :)

[2022-02-15 11:56] LeeBamberTGC commented on #1313
@OldFlak I have reopened :)  Let me know how it goes with today's build, thanks!

[2022-02-15 11:59] LeeBamberTGC commented on #2107
@casigus If you can confirm, I can close this as solved.

[2022-02-15 12:03] LeeBamberTGC commented on #2113
@ArgentArts A good idea.  I am sure some performance can be regained by switching a bunch of outdoor-centric elements off. Alas we don't have a great solution yet for building out interiors, but it is something we are thinking about for 2022. The Structure Editor did not quite cut it, but we also don't want to turn it into a full 3D modeler. Something in the middle would be good, perhaps inspired

[2022-02-15 12:10] LeeBamberTGC commented on #1812
Basically focusing on AI for soldiers first, and when all my soldier items are fixed, I have about 6-7 zombie AI items to go through. Hopefully the fix will come soon :)

[2022-02-15 12:16] LeeBamberTGC commented on #2097
@dllllllllllb Good video, and easy to see the drop from 140 to 70 with some weapon actions, so definately something we can reproduce!

@PaulSJ Once you are finished with terrain and nav mesh, here is a nice one to performance analyse, and find out why we see this drop. If I had to guess, it might be 'creating objects' or 'changing resources' a LOT and this is causing the FPS drops.

[2022-02-15 12:32] UltraVox001 commented on #1891
@PaulSJ @LeeBamberTGC
I have a complete map (military base), with a lot of 3D objects, on which there is no Nav Mesh. So I managed to reproduce the problem (unintentionally). All enemy Characters pass through objects that I purposely placed in their path. When I activate "AI Management", the ground does not turn yellow like with a Nav Mesh. It's strange because it worked with yesterday's update. B

[2022-02-15 12:39] plemsoft commented on #2055
@rvanner Added for next build , also need a description :)

[2022-02-15 12:40] plemsoft commented on #2066
@dllllllllllb Fixed for next build :)

[2022-02-15 12:40] plemsoft commented on #1309
@rvanner Fixed will be in next update :)

[2022-02-15 12:42] plemsoft commented on #2040
@rvanner Fixed :)

[2022-02-15 12:42] plemsoft commented on #2054
@rvanner Fixed :)

[2022-02-15 12:46] LeeBamberTGC commented on #1891
@UltraVox001 Yes indeed, we have reproduced the disappearing nav mesh for large levels. Paul is on the case this week :)

[2022-02-15 13:02] LeeBamberTGC commented on #1539
@dllllllllllb I did not know off the top of my head, so I have documented the process I used to find the code. It is a good way to find stuff quickly in the vastness of the games engine:

1. First I look for a visual assets file, so in this case I know the grenade is a projectile, and the smoke is likely stored there, so I go here:
![image](https://user-images.githubusercontent.com/35840583/154066

[2022-02-15 13:20] rvanner opened #2115 "Add new advanced settings to the veg section"
Add these new advanced sliders so users can set the grass and underwater grass start and end heights

![image](https://user-images.githubusercontent.com/1503593/154069890-daa3130e-9b50-40d1-8ebe-0dcd164dae04.png)

[2022-02-15 13:25] rvanner commented on #1747
Closing thanks to all the great optimisations made these past 2 weeks.

[2022-02-15 13:25] #1747 closed

[2022-02-15 13:43] UltraVox001 opened #2116 "GG Max - Customize Sky mode None (with Sun)"
Customize Sky mode, when set to None (no skyboxes or simulated sky), displays a sun.
It is easy to remove. However it should not appear when this mode is selected.
Editor :
![NoSkyBoxesWithSun01](https://user-images.githubusercontent.com/96718175/154073814-1820c3f3-2efa-457e-a2d5-22bfa1aafc88.jpg)
TestLevel :
![NoSkyBoxesWithSun02](https://user-images.githubusercontent.com/96718175/154073873-f80be

[2022-02-15 14:04] LeeBamberTGC commented on #1902
@rvanner In these cases, it is best to send me the FPM as I can reproduce what you see exactly. Otherwise I waste time attempting to create a level that looks like yours and there is no guarantee I can reproduce if I do something slightly different.

[2022-02-15 14:07] PaulSJ commented on #2055
@plemsoft You can use this one "Noise Initial Amplitude: The multiplier used on the first noise layer. Setting this to 0 will make everything flat, whereas a value of 1 will utilise the full height range set by the Max Height parameter"

[2022-02-15 14:26] ArgentArts commented on #2097
Firstly, in my level (which that was from), all of that was in a warehouse. So, where's the warehouse? Secondly, when I tested it, even just holding the weapon caused the fps to drop in many areas. I will create videos to show the drops. My screen res, though, is 3440 x 1440.

[2022-02-15 14:32] UltraVox001 opened #2117 "GG Max - Vegetation problem on a pre-build map"
On a map created with an earlier version of Max (1 week maximum), it is not possible to paint the ground with the vegetation selected in this image (the first four).
![VegPreBuildIssue](https://user-images.githubusercontent.com/96718175/154082779-c5e676d6-34ef-4bf8-95f3-f1a80efb5beb.png)
Everything works fine in a new map. But I imagine this could cause problems for anyone who wants to modify the

[2022-02-15 14:33] ArgentArts commented on #2113
I think I can speak for many of us that want to do interior levels - we don't need anything but an empty level - no terrain, no sky. Oh, snapping on the UP axis would be nice, though. I don't need EBE or anything like that. I think many of us just intend to import our own created "blocks" (floor, wall, and ceiling models) and snap them in place or create complete levels in our 3D modeling program

[2022-02-15 14:35] PaulSJ commented on #2097
@LeeBamberTGC My first thought is that weapons are drawn as transparent objects which don't benefit from the Z-prepass step, so it could be that when weapons cover a large portion of the screen they are doing a lot of unnecessary pixel shader calculations. If this is the case then I would expect the "Transparent Scene" part of the profiler to show a large increase with weapons on screen.

If weapo

[2022-02-15 15:03] ArgentArts commented on #1737
It is not. This can be closed.

[2022-02-15 15:03] nomad5oul commented on #970
![image](https://user-images.githubusercontent.com/37256116/154088789-9c2dac0c-19cd-4cd5-9e0b-fde21fa7904b.png)

We need the lights in Max to look like this with illumination and emissive volumetric glow.

[2022-02-15 15:04] ZakJudges commented on #1737
Thank you for confirming :)

[2022-02-15 15:04] #1737 closed

[2022-02-15 15:07] nomad5oul commented on #970
![image](https://user-images.githubusercontent.com/37256116/154089718-a98301cf-4753-450c-9a3f-576327846b5e.png)

[2022-02-15 15:09] ArgentArts commented on #2097
I tried to do a video, but when I ran the screen capture software, my FPS dropped to 50fps and it was steady for all weapons. So, instead, I did screen shots.

No weapon, only melee - 100 fps. (locked to 100 do to vsynch, I'm sure):
![weapon_none](https://user-images.githubusercontent.com/36735507/154089191-e87dc38a-9607-47b4-9286-a87b5226d72e.png)

Next weapon - 59fps:
![weapon1](https://user-ima

[2022-02-15 15:32] ZakJudges commented on #1876
@synchromesh62 Are you still experiencing this problem with the latest iteration of the visual logic? :)

[2022-02-15 15:34] rvanner opened #2118 "Object Placement is set wrong when you drag an object from the level objects into the scene"
When dragging an object from the level objects panel, the placement should just find the floor. Currently it's finding the floor and the orientation. Watch this video;
https://youtu.be/v02kEb0EPDQ

[2022-02-15 15:35] rvanner opened #2119 "Grouped objects don't retain their proper angles"
See this video, one of the walls goes out of line.
https://youtu.be/5bSn57aUHyo

[2022-02-15 15:36] rvanner opened #2120 "Dragging in a grouped object - it should not orientate"
See video;
https://youtu.be/rxP44Twkd3E

[2022-02-15 15:46] LeeBamberTGC commented on #1836
@rvanner Uses the Make AI Sound system to emit sound events when walking and louder ones when running. When in crouch mode, no sounds are emitted allowing the player to sneak up to the character.

[2022-02-15 15:51] plemsoft commented on #2055
Thanks added.

[2022-02-15 15:54] casigus opened #2121 "trigger zone placing error"
when you place a trigger zone and try to resize the zone, ggmax freezes up and everything you try and place in map after that will spawn on the point of the trigger zone you where trying to edit:

![image](https://user-images.githubusercontent.com/68471279/154098789-d84fecb4-0a54-4a31-bbba-e1eb9445f101.png)

![image](https://user-images.githubusercontent.com/68471279/154098835-5219f4a7-2a84-4e4c-8

[2022-02-15 16:22] LeeBamberTGC commented on #970
Tagged as an ENHANCEMENT for the EMISSIVE VOLUMETRICS - It might just need better BLOOM to achieve this. It would be good if the above assets can be sourced so we can import them and see if we can get close to the shots above.

[2022-02-15 16:34] casigus commented on #2107
not changed anything but it is more stable today!

[2022-02-15 16:52] LeeBamberTGC commented on #2068
Now masks out any dynamic objects from consideration. Eventually when we have dynamic ragdoll anims, the barrels can scatter as the arms/legs flail and knock them about.

[2022-02-15 16:55] ArgentArts commented on #2097
BTW - my test level above has 12 lights in it, all casting shadows. With no weapons or only melee, I still get 100fps (as per the screen shots).

[2022-02-15 16:57] ArgentArts commented on #2120
I've seen this, too, and was getting ready to report this myself.

[2022-02-15 17:37] LeeBamberTGC commented on #2113
@rvanner Can you add this as a post-EA item, I don't think it is a huge amount of work but we need to figure out how to incorporate it into the design, perhaps a new button in  the storyboard such as Add Empty Level, which would skip the terrain generator and create a TOTALLY EMPTY void for advanced users:

![image](https://user-images.githubusercontent.com/35840583/154117723-7aa5d89f-e1da-4c3c-bd

[2022-02-15 18:05] LeeBamberTGC commented on #2113
@ArgentArts Thanks for your ideas. @rvanner @ZakJudges @dllllllllllb @PaulSJ @plemsoft including the rest of the internal team to get their views too.

[2022-02-15 18:12] AmenMoses commented on #1573
Not quite what I asked, will a box float in water or sink?

We are missing any way of setting a buoyancy value or even a density value to entities and there was some rather crude attempt at code in there to try and mimic this so that some objects would float.

That code wasn't really very good though.

What we really could do with is a density value that could indicate to the engine that an object

[2022-02-15 18:23] ArgentArts commented on #2113
You're welcome.

One of the reasons I suggested the "Click to Start" instead of the "Generate Terrain" button name is it's currently confusing the first time you ever use MAX. When you first use MAX, you get prompts - A big button that says, "Create a New Game Project", after that a big area that says, "CLICK HERE TO CREATE A NEW LEVEL". So, far, you've been guided. But once you get to the Terrain

[2022-02-15 18:27] LeeBamberTGC commented on #2108
Any character that specifies a sound will auto trigger a variance system which can replace 1.wav thru 5.wav with its neighbors randomly to give user control of variance without having to deal with individual files.  Works with current namings of all human sounds, and can be extended in the future to other non-character sound systems

[2022-02-15 18:31] LeeBamberTGC commented on #1573
@AmenMoses Now the bouncing brass as been sorted, I have changed this to an ENHANCEMENT and will change the title so we can lay out what we need for advanced bouyancy.  The current system is a bit of a hack, ideally I would like a volume to displace the water and have correct characteristics. I am sure there are some nice examples out there without getting too Newtonian :)

[2022-02-15 19:11] #2099 closed

[2022-02-15 19:18] UltraVox001 commented on #2108
@LeeBamberTGC
Regarding the sounds produced by enemies (and also possible allies), do you think it is possible to hear footsteps ? Currently I hear nothing when they move.

[2022-02-15 19:21] UltraVox001 commented on #2108
Here are two other ideas for AI as well :
- I can hit the AI from behind (bump into it) without it reacting.
- I can position myself behind the AI and use my torch, illuminate the AI and in front of it, without it reacting.

I hope it can help.

[2022-02-15 19:22] ZakJudges commented on #2113
I agree having a completely empty level would be a good addition and having it in the terrain generator would make sense. It could even be a setting that displays when the "Empty" biome is selected, to prevent having to redesign anything. Maybe a checkbox somewhere here:
![Screenshot 2022-02-15 191302](https://user-images.githubusercontent.com/32545391/154132454-f00165d5-6054-4103-a192-a78db7acbd6

[2022-02-15 19:25] ArgentArts commented on #2113
`It would also be nice to have a way to bypass the terrain generator, going straight into a completely empty editor. But I don't think its a necessity. It might save a precious few seconds, but considering that you'll spend 99% of your time elsewhere in the software, I don't think it's too important. More of a nice to have :)`

Actually, it is important to not generate terrain if the end-user is c

[2022-02-15 19:40] ZakJudges commented on #2113
@ArgentArts Yes I agree. I'm saying the place for the option to create an indoor only level should be inside the terrain generator, to keep the workflow the same, as you say. My suggestion was to put a checkbox somewhere that would switch off the terrain, sky, all of it. So you wouldn't really be eating up resources, as it would be deleted when you begin editing the level :)

[2022-02-15 19:41] ArgentArts commented on #2113
Ah! I get you! Thanks for clearing that up. I agree. My suggestion was to create an Indoor Only button, similar to the Empty Button, that would do all the work for you. One click and done. ;)

[2022-02-15 19:50] UltraVox001 opened #2122 "GG Max Feature Request - Missing animations in Character Creator"
What is not currently offered by CC :
- Characters able to sit on the ground (as at rest)
- Characters sleeping or resting, lying on their backs.
- The character smokes a cigarette.
- The character walks quietly with his hands behind his back.

Stealth FPSs are packed with enemies that aren't always alert. Some are patrolling, but others are resting or sleeping. CC gives no way to lay a character

[2022-02-15 20:01] ArgentArts opened #2123 "GameGuru MAX - Character Creator Issue - Selecting Head Gear than Selecting None Removes Hair"
If you've taken time to select hair for your character in the Character Creator, including Facial Hair and then go to Head Gear, put on one of the pieces of head gear that completely cover the head and face (like Military Helmet Black), then select NONE because you don't want it, you lose all your previously selected hair. I realize that selecting this type of head gear has to remove the hair so i

[2022-02-15 20:06] ArgentArts opened #2124 "GameGuru MAX - Why No Icon to Access Character Creator?"
Why isn't there a quick access icon to access the Character Creator on the top toolbar? I think there should be one there instead of only having access to the Character Creator via the menu.

[2022-02-15 20:09] MonkeyFrogStudio opened #2125 "GameGuru MAX - Minor Issue - Why Are RPG and Puzzle Icons Before Shooter on Toolbar?"
For the March Early Access release, only Shooter will be available and no options for RPG and Puzzle elements for logic. So, then, why are the RPG and Puzzle icons first in the row of icons on the top toolbar? Shouldn't the Shooter icon be first? And shouldn't the RPG and Puzzle icons be greyed out to indicate that they are not available as yet (and, yes, I know the tooltip is there to tell the en

[2022-02-15 20:16] ArgentArts opened #2126 "GameGuru MAX - Tactical Pump Shotgun Issue - Not Smoothed"
There's an issue with the Tactical Pump Shotgun. The arms and model are not smoothed (smoothing was not set when the model was exported from the modeler):

![shotgun](https://user-images.githubusercontent.com/36735507/154141956-de17928f-7ffe-4eda-bda0-dd70d68f6b3b.png)

As a result, you can see the hard, polygonal edges on the arms and gun surfaces.

[2022-02-15 20:25] ArgentArts opened #2127 "GameGuru MAX - Request - More Particle Effect Controls"
Can we get more particle effect controls? Currently, I only see Speed and Opacity. We at least need **Scale** in the X, Y, and Z axis. For example, there's a nice column of smoke, but it doesn't project upward very high. It would be nice if we could tell the particles to extend it upward, creating more particles if need to fill these areas.

**Fade** would be another nice one to have and be able t

[2022-02-15 20:29] ArgentArts commented on #2123
Head gear that covers the face also removes glasses if glasses had previously been selected as well. Again, I realize why this happens (this type of head grear removes them), but shouldn't the Character Creator remember what the end-user previously had and restore that if the player has changed their mind when selecting NONE for head gear? I would hate to have to go back and reselect my head hair,

[2022-02-15 20:33] ArgentArts opened #2128 "GameGuru MAX - UI Issue - Character Creator Custom Area Too Small"
Why is this area so small?

![cc](https://user-images.githubusercontent.com/36735507/154144393-df807141-633a-4b55-b309-3d4089af9d13.png)

My screen resolution is 3440 x 1440. Shouldn't this area expand so I can see all the heads instead of only a single row and barely part of another?

[2022-02-15 21:49] Skevos-Mavros commented on #2108
I love the VARIANT sound idea - and would love to see it extended to every sound effect - weapons firing, explosions, triggered sound effects, dialogue, etc etc - if the audio file has a number at the end and there are identically-named files with different numbers in the same folder, then they get chosen at random.

I'd also like to see a similar system for loading screens - that way different sc

[2022-02-15 21:54] Skevos-Mavros commented on #2109
I was about to report this too.  It's most noticeable when the sun is low and red.  Note that the very distant trees match neither direction nor colour of the sun, with middle distance trees getting the direction right but not the colour.

![2022-02-14 (16)](https://user-images.githubusercontent.com/56815299/154155774-07b3b1df-4599-40a1-8f24-2a7d1bf80954.jpg)

[2022-02-15 21:58] Skevos-Mavros opened #2129 "GGM Crashes when Object Library file selector is moved to the edge of the interface."
On my system (running full screen on a 4K screen) GGM crashes when the Object Library file selector is moved to the edge of the interface.  This screen shot was taken at the moment GGM froze.

![2022-02-14 (17)](https://user-images.githubusercontent.com/56815299/154156036-52d4e196-307a-4993-ac09-c7d90773098f.jpg)

Thanks.

[2022-02-15 21:59] ArgentArts commented on #2127
I discovered that we can scale and rotate particles ONLY via the sliders. We can't use the gizmo for this.

[2022-02-15 22:00] OldFlak commented on #1313
@LeeBamberTGC Thanks for looking into this
This is what I am seeing in - 2022.02.18 Wed build

Using High Cloud
![image](https://user-images.githubusercontent.com/12246318/154155954-ffa72027-5c72-4c13-b80d-0e025aab2e32.png)

![image](https://user-images.githubusercontent.com/12246318/154156451-c9c95790-cc4e-42a0-9b45-30b66030c70c.png)

Perhaps still relating to the skybox rendering over top of sce

[2022-02-15 22:02] GraPhiX-Guru commented on #2129
Go to settings and in developer options make sure 'Disable Object Library Viewport' is checked
![vp](https://user-images.githubusercontent.com/35724756/154156949-2d42e686-3e76-4547-b5f0-35efaed9d700.png)

[2022-02-15 22:04] Skevos-Mavros opened #2130 "GGM Light Probe Interface Inconsistencies"
When adjusting the light probe value, all sorts of (random?) interface inconsistencies occur -

- sometimes the bounding box is centred on the light while it changes size, sometimes it isn't,
- sometimes more than one bounding box appears,
- sometimes a reflective sphere appears on screen at random locations during adjustment, other times not

Some of the above seems to be related to what angle I'

[2022-02-15 22:06] OldFlak commented on #970
@LeeBamberTGC
Yes the BLOOM slider has doesn't really do anything much as far as affecting glow around lights
- 1.333 is default
- if you go higher it cancels out bloom on lights
- if you go lower it affects is a little but does not really make any difference

[2022-02-15 23:27] nomad5oul opened #2131 "No muzzle flash light when firing gun (Max)"
When firing a gun there is no dynamic light to illuminate the environment where the weapon is being fired.
This is pretty standard for FPS games and needed in Max i think.

[2022-02-15 23:34] nomad5oul opened #2132 "DBO importing with multiple meshes (Max)"
When importing a DBO with multiple meshes Max does not automatically assign the textures used by the DBO.
They can be assigned manually in the importer or the editor but it would be great if the textures were automatically assigned.

[2022-02-15 23:35] Skevos-Mavros opened #2133 "GGM Player slows down in certain directions."
For several versions I've encountered an issue where the player (testing or standalone) seems to be walking and jumping through molasses.  This slow down happens:

- on old maps and new,
- in some directions but not others,
- affects walking, running, jumping, and falling,
- and temporarily goes away if I look at the ground while moving.

See video for an example.

https://youtu.be/kUjw2nVMlsw

Th

[2022-02-16 00:08] Skevos-Mavros opened #2134 "Suggestion - Rethink Rag Doll"
I think I understand the shift away from purely rag doll NPC deaths, but I also think the decision needs to be rethought, or at least tweaked.

Right now NPC deaths are essentially scripted - if the player shoots three NPCs from the same direction, they all fall down dead the same way.  Seeing three dead bodies lying in identical poses is very 1998.  The shift to scripted deaths is even more obvio

[2022-02-16 00:33] Skevos-Mavros commented on #2129
That workaround works!  Thanks!

Though the bug should still be fixed, especially since I'm on a single monitor and that setting is for Multi-Monitor Support. It never would have occurred to me to tick that box - thanks again!

[2022-02-16 00:34] Skevos-Mavros commented on #2129
That workaround works!  Thanks!

Though the bug should still be fixed, especially since I'm on a single monitor and that setting is for Multi-Monitor Support. It never would have occurred to me to tick that box - thanks again!

[2022-02-16 01:31] Skevos-Mavros opened #2135 "Question - Is Submitting Crash Reports to Microsoft Useful?"
On those occasions that GGM crashes (much less often now thanks to the tip I received at https://github.com/TheGameCreators/GameGuruRepo/issues/2129) Windows prompts me to submit a crash report to Microsoft.

Is this useful?  Does the data make its way to TheGameCreators?  Or can I skip it?

Thanks!

![GGM Crash Report](https://user-images.githubusercontent.com/56815299/154179047-72ce6e1f-278b-4cc

[2022-02-16 01:34] Skevos-Mavros opened #2136 "GGM Selection Bounding Box Only Works in Full Screen"
When using SHIFT+Drag to multi-select items in the GGM editor with a bounding box, the bounding box works fine when the GGM editor is fullscreen:

https://youtu.be/1h_dMUSgf1k

But when not full screen, the bounding box does not line up with the mouse pointer:

https://youtu.be/LdXgBVN0uis

Thanks,

[2022-02-16 01:59] Skevos-Mavros opened #2137 "GGM Windowed Tooltip Crash"
When GGM Editor is not full screen, tooltips seem to cause GGM to crash.  See video:

https://youtu.be/rbvuiYic1Kg

This SEEMS to only happen when the tooltip extends beyond the GGM Window.  This doesn't seem to happen in fullscreen at all.

Thanks,

[2022-02-16 04:59] UltraVox001 opened #2138 "GG Max Bug Report - The stab is not ignored by the CanHearSound system"
Even with a stab in the wind, enemies hear it and react. You need an option for all weapons because some weapons could be equipped with Silencers. Enemies should react to noises, but not Silencers or Knives.

In addition, when enemies hear a sound of gunfire, they move through walls at very high speed.

[2022-02-16 06:38] UltraVox001 opened #2139 "GG Max Bug Report - Use switches and take a weapon through walls"
- A switch should not work through a wall :
![SwitchWall](https://user-images.githubusercontent.com/96718175/154209764-5a4b4a8c-b50e-495f-a01f-64701199ba0f.jpg)
- The player must not know how to take a weapon through a wall :
[https://i.gyazo.com/15d593adef969efd4ee2f66c758da3f1.mp4](https://i.gyazo.com/15d593adef969efd4ee2f66c758da3f1.mp4)
- Same problem for ammunition.

[2022-02-16 06:59] UltraVox001 opened #2140 "GG Max Feature Request - The Materials section should include the sound (footsteps) of the object (Material sound)"
I face this every day. I place an object on the ground (tiled floor, house, hangar...) and the sound produced is not always the right one. As Max's V1 and V2 hangars don't produce a metal sound when stepped on. However, the floor is metallic.

In addition to the textures, the Materials section of the selected object should include and allow the selection of the sound produced by our steps, when we

[2022-02-16 07:14] plemsoft commented on #2135
@Skevos-Mavros Thanks for your question , yes you can skip it, no one is going to see it anyway :)

[2022-02-16 07:14] #2135 closed

[2022-02-16 08:02] #2117 closed

[2022-02-16 08:53] rvanner opened #2141 "Terrain Generator"
The Generate Terrain Button is missing in the latest internal build!

[2022-02-16 08:54] rvanner commented on #2141
@plemsoft Can you fix now and send me a new exe? I need to make a tutorial video this morning and this button has to be on screen. Thanks.

[2022-02-16 09:30] marcuswilm commented on #1694
Hello Zak,

Thank you for your request.
It is nice to see new dynamic young members in The Game Creators team.

That issue relative to the rotation in the importer has been corrected in the latest versions of GG MAX.

:-)

[2022-02-16 09:37] ZakJudges commented on #1694
@marcuswilm Thank you, closing this issue :)

[2022-02-16 09:37] #1694 closed

[2022-02-16 09:43] ZakJudges opened #2142 "Can't undo rotations with multiple objects selected"

[2022-02-16 10:20] rvanner commented on #2141
@plemsoft It's now showing up! I have no idea how it disappeared. I'll keep an eye on it to see if it disappears again. Maybe check the code to see if something could make it hidden?

[2022-02-16 10:24] LeeBamberTGC commented on #1902
@rvanner The issue was that this map was right on the edge of the editable area, so half the nav mesh was not there. Paul is sorting this one now. The other issues was neutral characters just ran off, now fixed. And some character rotations were off due to an obj management bug, will be fixed once AI tasks are complete.

[2022-02-16 10:39] plemsoft commented on #2141
@rvanner Strange ? i dont see anything that could hide it ?

[2022-02-16 10:42] UltraVox001 commented on #2138
@LeeBamberTGC
You are right. I just tested with a Speed of 20. The enemy moved towards me in slow motion.
For silenced weapons (knives, pistol and silenced sniper), a new parameter is required. Without it, all these weapons are useless.

[2022-02-16 11:13] OldFlak opened #2143 "MAX - 2022.02.18 - Transparent Objects Not Casting Shadows"
In earlier versions the text on this glass would be cast onto the wall behind
- somewhere along the line we have lost that ability

![image](https://user-images.githubusercontent.com/12246318/154253219-05d7974b-da22-46fb-831a-2c6ea30cb4a0.png)

[2022-02-16 11:14] davetgc commented on #1996
I can confirm this: Spawned characters are pretty broken.

[The Ascent.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8079353/The.Ascent.zip)

[https://www.youtube.com/watch?v=pEN1oCR0QaE&feature=youtu.be](url)

[2022-02-16 11:22] OldFlak opened #2144 "MAX - 2022.02.18 - Illumination Textures Missing From Standalone"
2022.02.18 Tuesday Build

MAX doesn't copy over _illumination textures to standalone in this build
I still have a few models not updated yet that use the _illumination naming convention
- not sure if it is intentional
- so just wondering if it is now requirement to always use _emissive naming for illumination textures

[2022-02-16 11:55] davetgc commented on #343
I agree, I would also like to see a search for object by name within the level and to cycle through all models that are the same as the current selection.

[2022-02-16 11:59] ZakJudges commented on #1775
Hi @smmaas, thank you for reporting this issue. I've added a fix and you should see it in this Friday's build

[2022-02-16 12:00] OldFlak commented on #343
This feature has been added
![image](https://user-images.githubusercontent.com/12246318/154260430-115ed481-db73-40cf-923a-26d2fbc0b714.png)

[2022-02-16 12:15] rvanner commented on #1902
I just tried the updated level you sent me. The neutrals still ran off, is that not in the current build yet?

[2022-02-16 12:16] rvanner commented on #2141
I'll close this for now. I'm sure it'll be reported again if it's something that appears often.

[2022-02-16 12:16] #2141 closed

[2022-02-16 12:21] plemsoft commented on #2097
@ArgentArts The optimizing was done during last weekend and is not in your current build, you should see better results in next Fridays build :)

@PaulSJ The current optimizing is not in your branch, you should merge master in both's REPO before checking. i tried a profile and the most time used was in RunAnimationUpdateSystem this line "while (animationdata->keyframe_times[keyRight++] < fAnimTime

[2022-02-16 12:22] plemsoft commented on #1809
@smmaas Thanks , this has been fixed and will be in the next update :)

[2022-02-16 12:23] rvanner commented on #2138
@LeeBamberTGC In most games if you're heard then the enemies will come quick. They should not run through walls though! :-)

Knife attacks are generally accepted as quiet take downs and should not be part of the hearing system. Only if others see the attack should they get involved.

[2022-02-16 12:28] plemsoft commented on #2137
@Skevos-Mavros Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-16 12:32] plemsoft commented on #2129
@Skevos-Mavros Thanks for reporting this issue , seams like you have a problem with multi-viewports on your system, anyway this has been fixed and will be on by default, so you dont have to use that checkbox. the fix also works for other types of windows like tooltip that you reported in another issue :)

[2022-02-16 12:43] ZakJudges commented on #1860
Hi @OldFlak, thank you for reporting this issue. I could not reproduce it since fixing #1775

Could you confirm if you still experience the issue after updating later this week? Thanks :)

[2022-02-16 12:49] OldFlak commented on #1860
@ZakJudges - Yes fixed it seems - thanks for your great work :)

Been playing with lights a fair bit over last few days and have not seen the issue in any 2022.02.18 builds
- so I think it is safe to close issue

[2022-02-16 13:00] synchromesh62 opened #2145 "AI can walk through anything Dynamic ?"
As the heading states AI can walk through anything Dynamic.
It may not seem like much and i dont think its a bug but if you shut a door in front of a Zombie for example they just walk though.

[2022-02-16 13:07] #1860 closed

[2022-02-16 13:25] LeeBamberTGC commented on #1902
@rvanner When you see a post or tag change, check the date stamp. Only when you get the internal build email AFTER that date stamp will the version be available to test.

[2022-02-16 13:27] LeeBamberTGC commented on #2138
@rvanner Please post a 'character goes through wall' issue with step by step so I can reproduce. It should not be discussed in the stab sound issue.

[2022-02-16 13:32] rvanner commented on #2138
@LeeBamberTGC It wasn't me that reported that. It was @UltraVox001 who wrote _Also, when enemies hear a shooting sound, they will run through walls at very high speed._

[2022-02-16 13:40] LeeBamberTGC commented on #2118
@rvanner Looks like you had orientation mode on, but then switched off the stack find mode. Addd code so when stack find mode is off, orientation mode is also disabled to avoid confusion.  Will be in next build.

[2022-02-16 13:41] LeeBamberTGC commented on #2138
@rvanner And I quote, "They should not run through walls though! :-)"

[2022-02-16 13:54] UltraVox001 commented on #2138
@LeeBamberTGC @rvanner
I guess this problem occurs because I'm on a full map that has "lost" the nav mesh. :)

[2022-02-16 13:55] LeeBamberTGC commented on #2119
@rvanner Not able to reproduce. Spent a good ten minutes, always my walls behaved:

![image](https://user-images.githubusercontent.com/35840583/154279028-b2853a86-0a60-4bee-9d7e-c5c7205209bd.png)

Please do this from scratch, or send me an FPM so I can see how the objects are oriented, on the off chance I can reproduce at this end.

[2022-02-16 13:56] LeeBamberTGC commented on #2120
@rvanner Fixed for next build.

[2022-02-16 13:58] LeeBamberTGC commented on #2138
@UltraVox001 Yes we have some nav mesh gotchas this week. Tick the AI management to see if you are standing on a nav mesh. Next weeks version 'hopefully' will have massive AND FAST nav meshes for all.

[2022-02-16 14:06] LeeBamberTGC commented on #2145
@synchromesh62 A good point. I am assigning this to Paul as I recall he created a nice 'AI door' system back in the day which effectively blocked paths that ran through closed doors :)

@PaulSJ Can you think about this while you work on the nav mesh optimization? Given what I know about RECAST, you can have the area defining the door as a MASSIVE COST area, and so the AI never plots a path through

[2022-02-16 14:39] #2084 closed

[2022-02-16 14:41] #2118 closed

[2022-02-16 14:42] dllllllllllb commented on #2024
@OldFlak Player arms have been fixed. I tested all weapons and all of them do either a push or a melee attack with the weapons stock when I press the alt key. Is the bug still happening on your end, if so, could you please give me more information on how to reproduce it.

[2022-02-16 14:42] #2120 closed, assigned to LeeBamberTGC

[2022-02-16 14:43] #2054 closed

[2022-02-16 14:43] LeeBamberTGC commented on #1969
@dllllllllllb Yes this one has been fixed from another report. When character went direct to ragdoll, the weapons did not get their physics. They do now, whether the character dies from ragdoll or via deathanim.

[2022-02-16 14:44] #2040 closed

[2022-02-16 14:45] #1902 closed

[2022-02-16 14:45] #1309 closed

[2022-02-16 14:48] rvanner opened #2146 "If you Undo the placing of objects that were part of a group, the group becomes invalid to use"
How to create this issue;

- Put down some objects
- Make them into a group
- Press UNDO to remove all the objects
- The group is still in the group list but it cannot be used now

![image](https://user-images.githubusercontent.com/1503593/154288982-b443f1b9-7c04-4d88-a624-a8e01b946539.png)

[2022-02-16 14:53] rvanner opened #2147 "Painting materials have lost their names again!"
![image](https://user-images.githubusercontent.com/1503593/154290238-f5770f07-dca3-486b-b4e5-63be08b9cfeb.png)

[2022-02-16 14:53] LeeBamberTGC commented on #2146
@rvanner Do not forget the MAX tag so we can filter and find quicker, thanks!

[2022-02-16 14:54] rvanner opened #2148 "Sky box previews to be shown left of the UI"
![image](https://user-images.githubusercontent.com/1503593/154290592-907a9d6f-93f3-4c67-a33f-46495e8fdf81.png)

[2022-02-16 14:55] rvanner commented on #2115
@plemsoft How soon can you do this?

[2022-02-16 14:56] ZakJudges commented on #1917
@OldFlak Thanks for reporting this issue. A fix should appear in a build later this week :)

[2022-02-16 15:07] rvanner commented on #2119
@LeeBamberTGC I have the condition when this happens. If you click and hold a group and then press R to rotate it, the object you are clicking on will not rotate with the rest properly.

[2022-02-16 15:34] ArgentArts commented on #2097
@plemsoft - Awesome. I will test it with the next build and report.

[2022-02-16 15:52] dllllllllllb commented on #2131
@LeeBamberTGC I'm looking into this now and found the code for gun flash system. Just want to confirm that there is no code for actual light effect when a gun is fired, just the "particle" effect after the gun is fired.

I want to add a light that will use the state, position and timing of the particle effect when the gun is fired.

[2022-02-16 16:30] MonkeyFrogStudio opened #2149 "GameGuru MAX - UI - Particles Should Show Names"
When adding a particle, we can see the images, but it's not always easy to see what they are. It would be helpful to also see the names of the particles as well under each image, like we do with entities under Level Objects.

_No names shown for particles:_
![particle](https://user-images.githubusercontent.com/36735507/154311066-1ae488b5-3381-4dae-82e5-d18ba3074013.png)

[2022-02-16 16:30] UltraVox001 opened #2150 "GG Max Bug Report - All SkyBoxes shake when walking"
All SkyBoxes shake when walking.
The bug is found on the latest internal build of this Wednesday.
I see it on a new map, but also on the old ones.

[2022-02-16 17:12] casigus opened #2151 "demo dilema part 3"
after a previous post was informed that my map and most of the collisons where set to convex hull (these are the ggmax assets) and that convex hull kills performance, if that's the case why are they set to this by defualt when it would just make more sense for them to be box collisions?

![image](https://user-images.githubusercontent.com/68471279/154318880-ad59731b-e646-4910-b690-bcf1997891fb.png)

[2022-02-16 17:21] LeeBamberTGC commented on #2131
@dllllllllllb As you say, we do have the code for a light flash, but we have not connected up the WICKED ENGINE way of creating/positioning/using a light for this purpose. Remember to wrap any MAX specific additions with #ifdef WICKEDENGINE #endif :)

[2022-02-16 17:35] UltraVox001 commented on #2151
GG Max, Unity, Unreal, Hero Engine : all 3D engines are "performance nightmares" for users who don't know how to use them. Max can help you speed up certain phases of development. But he can never think for you.

[2022-02-16 18:06] casigus commented on #2151
ayeeee 100% changing habbits with otther levels and thanks to vox's explanations the other day, things work really well. Im just urghhhhhhhh at the dam demo :(

[2022-02-16 18:07] AmenMoses commented on #2145
If you are going to add such clever stuff can you please expose it via Lua commands so it can be utilised more fully.

Possibly by allowing the position of such an area and radius with a Lua command which could then simply be used from within the door script?  A radius of 0 could turn it off.

For entities that do not have the origin centred (like doors) the script will have to calculate the posit

[2022-02-16 18:08] ArgentArts commented on #2151
I get it. I do. But whining isn't helping. And GitHub isn't the place for it, either. This is a place to REPORT BUGS and to make REQUESTS to improve GameGuru CLASSIC and GameGuru MAX. We shouldn't be cluttering up GitHug with things that don't further along the development of the software. Not trying to be mean, mind you. :)

[2022-02-16 18:19] UltraVox001 commented on #2151
Since launching Max, I've built at least 30 "complete" maps. I almost destroyed them all. :) Because Max is an Alpha. It is in full development phase, and the month of February is dedicated to debugging. Despite all the maps I made, I never thought of creating one for the TGC demo. I worked hard (and I'm not the only one) on maps as complex as possible. Because I want to find bugs for TGC to fix.

[2022-02-16 18:20] casigus commented on #2151
i feeel exactly tthat! love the look of that!!! yeah i was reporting that the assets should be default to box or polygon.

[2022-02-16 18:22] ArgentArts commented on #2151
No, assets should default to whatever works for them ... box, polygon, cylinder, etc. BUT that may not work for you and you may need to turn collision completely off if a player cannot get to the object anyway. So, it technically doesn't matter what it's set to by default as you should be checking it anyway. ;)

[2022-02-16 18:24] UltraVox001 commented on #2151
@ArgentArts +1 :)
@casigus :
By default ? I would be TGC, there would be no collisions by default. This would force the user to read a collision tutorial. Because there is (almost) nothing more important when you start in 3D with a level editor.

[2022-02-16 18:27] ArgentArts commented on #2151
Again, we're not trying to be mean, but game development, even with an "easy game creation" system, is never truly easy. There is always something to learn. And optimizing is always the name of the game. There are always trade-offs to keep things running in real-time, especially if your trying to get a game to run on systems that are not top-of-the-line.

[2022-02-16 18:36] #2151 closed

[2022-02-16 18:41] ArgentArts opened #2152 "GameGuru MAX - BUG - Particle Opacity Less Than 5 Reverts to 0"
You can't set an Opacity less than 5 for Particles as it will set it automatically to 0. 5 and up is fine, though.

[2022-02-16 19:21] Alexandermp87 opened #2153 "Suggestion: Will there be in the future an X-ray/Wireframe mode like from other modern game engines?"
Suggestion: can you make an X-ray/Wireframe mode like from other modern game engines? This will help me find objects that have fallen through the Gameworld and it would be easier to use then Detailed Object List for an example if you have over a thousand objects and you're looking for just one object that fell through the Gameworld being able to see it through an x-ray/wireframe mode would help.

[2022-02-16 19:34] UltraVox001 commented on #1921
@Necrym59
In this case, the script presented here could (perhaps) be useful to you :
[https://forum.game-guru.com/thread/223291?page=2#msg2646602](https://forum.game-guru.com/thread/223291?page=2#msg2646602)
PS : I answered you on the forum.

[2022-02-16 19:49] Shalshek opened #2154 "Adding a distorted Character Model"
Hi! I'm sorry, maybe someone has already asked this question, but their hands are already dropping, and I can't find any information about this in any way. When loading a new model, it turns into this (see photo). This applies to ALL models downloaded from the Internet. When creating a model in the mixamo editor, everything is normal. Can you tell me how to fix this problem? (gameguru classic lice

[2022-02-16 21:00] LeeBamberTGC commented on #2145
@AmenMoses Once Paul adds the function to add and remove such nav mesh blockers, it is the work of an hour to add new LUA commands to control these, and indeed it will be essential as things like doors will need to be able to switch them as they do now with collision.

For the actual rectangle of the blocker, I was thinking we use the bound box of the current object frame so its a very accurate re

[2022-02-16 21:24] UltraVox001 opened #2155 "GG Max Bug Report - Door Rising script malfunction"
Script tested on several maps with the latest internal version.
Door Rising video : [https://www.youtube.com/watch?v=pQspA0pyALs](https://www.youtube.com/watch?v=pQspA0pyALs)

I hope it can help.

[2022-02-16 21:26] fearlesswee commented on #2145
To build upon AmenMoses' point, it would be great if per-character we could change their "preferred" or "maximum" path cost. Probably not the right wording, but this is what I mean: If there was a group of barrels as you said, a human should definitely walk around it. A more mindless creature like a zombie, might instead prefer to walk through the pile of barrels, maybe even smacking them out of t

[2022-02-16 21:34] ArgentArts commented on #2155
I've not tried the door rotate script yet (perhaps I should before I comment), but shouldn't a door model have the origin in the correct place for it to work? In other words, if the origin of the model is in the center, then the model will rotate about its center. If the model's origin is at one corner, then it will rotate at that corner. This is typically how these scripts work and, if so, it's i

[2022-02-16 22:45] synchromesh62 commented on #2155
You need to make sure the wall \ door is set to **isimmobile**  and of course it depends where the origin is on the model.
I just tried the stock one on my door and it worked fine and then a Military one with a centre origin which also rotated perfectly

https://youtu.be/n73fyoTb1ys

The idea of this of course is mainly for Custom doors so if you wanted to creat a normal one you would have to set

[2022-02-16 22:49] fearlesswee commented on #1736
From what I can tell this issue has been dealt with for a while, as when this issue was "active" you couldn't really run for more than a minute in any direction without eventually landing in a terrain gap, but now I can run all about a terrain for 20+ minutes without finding a single one.

[2022-02-16 22:49] #1736 closed

[2022-02-16 22:55] OldFlak commented on #2024
@dllllllllllb - Thanks Maciek for looking into this.

Not seen this issue in 2022.02.18 builds - so probably safe to close - thanks

[2022-02-17 03:33] 3coms opened #2156 "levels fail to load after a certain size has been reached"
Hi
levels fail to load after a certain size has been reached in the other over 10GB of system memory.
the video shows the bug: https://youtu.be/TJSBcueAgNg

![Untitled2](https://user-images.githubusercontent.com/47690174/154398854-3eed4435-9f15-45b2-949d-da84d3385e6c.png)

Notice the 44 GBs real mem waste and the 0.3 fps; of course, it crashes and had to rid of it via TM; for some reason, the pic

[2022-02-17 07:46] UltraVox001 commented on #2155
You are both right about the rotation script. The "isimmobile" must be activated, and of course it requires a model with a suitable axis. So I changed the title of this post.

[2022-02-17 07:55] UltraVox001 commented on #2155
And now the Rising script works too, while the door was on IsImmobile in this demo.
I do not understand anything anymore !
In the map in which I discovered the bug (not the one in the video), I hadn't touched this door for days.

[2022-02-17 07:56] UltraVox001 commented on #2155
I close here.
Thank you both.

[2022-02-17 07:56] #2155 closed

[2022-02-17 08:17] plemsoft commented on #2115
@rvanner Added for the next build :)

[2022-02-17 08:20] plemsoft commented on #2070
@rvanner Added for the next build , @PaulSJ yes might be a problem as when you load a version 3 using version 2 it mix the trees around, i have disabled it for now, as its already been some weeks and people have properly already switch to the new trees :)

[2022-02-17 08:30] plemsoft commented on #2147
@rvanner Yes everything is saved with the level so you might have a old level that had those names , anyway i made a check that you also got the new material names , so you should not see it again. ready from the next build :)

[2022-02-17 08:34] #1148 closed

[2022-02-17 08:34] #1209 closed

[2022-02-17 08:35] #1210 closed

[2022-02-17 08:35] #1372 closed

[2022-02-17 08:35] #1383 closed

[2022-02-17 08:36] #1722 closed

[2022-02-17 08:36] #1684 closed

[2022-02-17 08:39] #972 closed

[2022-02-17 08:40] #1070 closed

[2022-02-17 08:40] #1169 closed

[2022-02-17 08:40] #1191 closed

[2022-02-17 08:41] #1195 closed

[2022-02-17 08:41] #1203 closed

[2022-02-17 08:41] #1216 closed

[2022-02-17 08:42] #1224 closed

[2022-02-17 08:42] #1300 closed

[2022-02-17 08:42] #1324 closed

[2022-02-17 08:43] #1348 closed

[2022-02-17 08:43] #1357 closed

[2022-02-17 08:43] #1365 closed

[2022-02-17 08:43] #1366 closed

[2022-02-17 08:44] #1382 closed

[2022-02-17 08:44] #1395 closed

[2022-02-17 08:44] #1565 closed

[2022-02-17 08:44] #1638 closed

[2022-02-17 08:45] #1155 closed

[2022-02-17 08:46] #1163 closed

[2022-02-17 08:46] #1204 closed

[2022-02-17 08:47] #1544 closed

[2022-02-17 08:47] #1554 closed

[2022-02-17 08:48] #1584 closed

[2022-02-17 08:49] #1773 closed

[2022-02-17 08:50] #1100 closed

[2022-02-17 08:51] #1241 closed

[2022-02-17 08:52] #2016 closed, assigned to ZakJudges

[2022-02-17 08:53] #2042 closed

[2022-02-17 08:53] #1161 closed

[2022-02-17 08:55] plemsoft commented on #1560
@Retrogamebloke No , the deleting of projects ... backup ... will go away at some point :)

[2022-02-17 08:55] #1560 closed

[2022-02-17 08:56] #1886 closed

[2022-02-17 09:00] plemsoft commented on #1588
@smmaas This have been fixed and will be in the next update. it will be a setting that are on by default Settings->developer->"Disable Multi-Viewports". :)

[2022-02-17 09:02] plemsoft commented on #1646
@smmaas This has been optimized and will be in the next update, you also get faster load :)

[2022-02-17 09:05] rvanner opened #2157 "Moving a character over an object and it flickers like mad!"
Watch this video;
https://youtu.be/a5IEr2sDhtk

[2022-02-17 09:08] rvanner opened #2158 "Add a tick box to Developer Settings for the FPS and Memory read out"
Add it here please:

![image](https://user-images.githubusercontent.com/1503593/154442535-d20491fb-29a3-4d01-bf02-e32556b2f326.png)

[2022-02-17 09:22] #2024 closed

[2022-02-17 09:41] rvanner opened #2159 "Terrain editing happens when you click in the Object Library!"
This is a big bug! As you use the Object Library, any clicks you make are also picked up by the terrain editing tools!

![image](https://user-images.githubusercontent.com/1503593/154448005-a9d24122-e982-4d6a-936a-8ea341cac1ad.png)

[2022-02-17 09:41] ZakJudges commented on #2123
@ArgentArts Thank you for reporting this issue. A fix has been added, and you should see it in the next build :)

[2022-02-17 09:49] ZakJudges commented on #2159
@rvanner This will most likely be related to my fix for #1917
I think I know the issue and can sort it now :)

[2022-02-17 09:53] Granada1 opened #2160 "Object Library"
It would be nice to be able to select more than one object at a time to add the the level , like a weapon with its ammunition

[2022-02-17 10:02] rvanner commented on #2160
Press CONTROL each time you select an object!

[2022-02-17 10:10] rvanner opened #2161 "Object Groups: There is a big performance hit if a group includes a flatten object (building)"
As you drag in an object which includes an object that needs to flatten the terrain, the FPS slows down as it tries to flatten the terrain. Should only do this once placed down.

Watch the video:
https://youtu.be/KjmYkq3m8Po

[2022-02-17 10:22] rvanner opened #2162 "Object Groups: It's possible to delete a group without being warned"
1. I have a group made
2. I bring a copy in to the scene
3. I delete the original group by dragging it to the left panel (this is when I should be warned)
4. The group icon is removed but I still have a group in the level

See this video;
https://youtu.be/AMXB2gI2-io

[2022-02-17 10:38] davetgc opened #2163 "Lighting issue with some assets."
Some assets in MAX don't light equally. In the example below the boiller and the insulation roll have different natural lighting. The roll appears as if it has no texture, while the boiler in unaffected by shadow.

![lightingissue](https://user-images.githubusercontent.com/99803873/154458812-299c8874-f17e-4f65-b184-312c89547648.jpg)

[2022-02-17 10:43] ZakJudges opened #2164 "Standalone missing files"
Characters from the character creator are missing some files when exporting as standalone. Seems to be files using the a,b,c naming convention.

![Screenshot 2022-02-17 104000](https://user-images.githubusercontent.com/32545391/154459295-1c6f1544-51c2-4354-825b-10d568a86944.png)

@plemsoft Is this something you are able to sort, or should the textures be renamed to only use a numbering system? :)

[2022-02-17 10:59] dllllllllllb commented on #2131
@LeeBamberTGC So I want to create a light entity (using entity_addentitytomap())  just for the weapons to use as a flash when the gun is fired, and hold a reference / object id to that specific light to use it along the particles. Where would be the best place to create a light entity, so it's only created once?

[2022-02-17 11:29] UltraVox001 commented on #2126
Fixed in next build. :)

[2022-02-17 11:36] LeeBamberTGC commented on #2150
@PaulSJ I know we have discussed this a few times, and the shake is LIKELY related to float precision. I say likely as I have other values out on the edge such as physics and they behave fine, so there might be another cause for the sky shake at extremes. Just assigning to you so you can have a think out of the box. End of the day, we do not really need the simulated sky to be rendering from the p

[2022-02-17 11:38] LeeBamberTGC commented on #2152
@dllllllllllb A nice one for you to investigate. First find out why the value is changed through the conversion into storage, and then provide an idea for the solution. We can then discuss here.

[2022-02-17 11:41] LeeBamberTGC commented on #2156
@3coms I have emailed you for the last loadable level so we can see where the memory is going. It is likely just shear sizes, and the solution will either be some kind of threshold to stop levels getting too large before crashing out, or some kind of conversion or mitigation step to reduce how much memory the assets actually take.

We do have one big optimization on the cards to reduce the number

[2022-02-17 11:43] LeeBamberTGC commented on #2161
@rvanner For tagging, please include the MAX label and also choose a single category tab so it can be easily classified and assigned.

[2022-02-17 11:51] marcuswilm commented on #1579
Hello Zak,

Thank you for your detailed review of my bugs report.
Indeed I should have posted a separate report for each bug.

Today I verified the persistance of the bugs mentioned in this report.

- Joe military ally : **bug fixed**.
- short industrial stairs : ****bug fixed** IF** the default Collision Shape "Convex Hull" is replaced by "Polygon" in the Editor.
- no rotation button  for the Pla

[2022-02-17 11:53] LeeBamberTGC commented on #2131
@dllllllllllb Sure, that is one way of doing it, but then you are messing with the object list and all that would need restoring when the game session ends. A cleaner way is to nick the code ideas from the players flash light. That creates a spot light from the Wicked Engine for the purpose of shining it in the direction of the camera when F is pressed.  You can use the same idea to create your ow

[2022-02-17 12:00] plemsoft commented on #2159
@ZakJudges Yes remember !bImGuiGotFocus , i assign it to you :)

[2022-02-17 12:14] plemsoft commented on #2059
@PaulSJ I think i know what this is, i will take a look and let you know :)

[2022-02-17 12:24] OldFlak commented on #1982
@plemsoft Just to let you know the shadow issue is fixed - thanks :)

[2022-02-17 12:28] plemsoft commented on #1982
@OldFlak Thanks , and also for the high/medium/low testing :)

[2022-02-17 12:28] #1982 closed

[2022-02-17 12:46] ArgentArts commented on #2163
I had this happen in the editor, but it sorted out after testing the game. Hasn't happened since, so it seemed sort of random on my end. I'll look for it to happen again, though.

[2022-02-17 12:49] ArgentArts commented on #2160
I think he means from the Level Objects panel. So, if he wanted to add BOTH the Snub Nosed Pistol AND its Ammunition in one shot, he would have to be able to select both from the Level Objects panel on the right or from the Add menu when it's open.

[2022-02-17 12:58] LeeBamberTGC opened #2165 "Alternative To Expensive Tri-Planar For Steep Slopes"
One of many artifacts of the new terrain system is the stretching of terrain textures when subjected to extreme vertical height changes:

![image](https://user-images.githubusercontent.com/35840583/154485330-074e7f28-c202-4fdf-ac3e-d2f13cbd889e.png)

Modern games solve this in a number of ways, and we have used tri-planar in the past. TP can have a performance hit, and its nature requires the whol

[2022-02-17 13:01] OldFlak commented on #1974
@plemsoft This issue is mostly fixed but still suffers the issue editor has with most Numeric Input controls

![Numeric Input Controls](https://user-images.githubusercontent.com/12246318/154484991-cbb8a952-96c9-4eb4-a74e-cf90f6319bae.png)

Many numeric input controls will not keep whole numbers and will drop back by the value of one - this happens often when actually changing them in the editor an

[2022-02-17 13:04] ZakJudges commented on #1579
@marcuswilm thanks for confirming those :) Do you have an example map that shows the player falling under the terrain?

[2022-02-17 13:11] synchromesh62 opened #2166 "Runtime Error 501 \ imagezone in standalone"
Getting Runtime Error 501 via the imagezone in standalone and noted the imagebank not being copied to standalone.
Manually copying it across did NOT fix the issue .

![error](https://user-images.githubusercontent.com/35708217/154488688-7bfdb228-12d2-42dc-a9eb-fd8aa1fa533b.png)

[2022-02-17 13:22] ZakJudges commented on #1876
@synchromesh62 I couldn't reproduce it. Is there any chance you have a map that shows the issue? :)

[2022-02-17 13:26] LeeBamberTGC commented on #2030
@synchromesh62 Fixed for this afternoons build (soon).

[2022-02-17 13:27] LeeBamberTGC commented on #1893
@synchromesh62 Can you close this one once the bug has been confirmed. Same as the one you reported.

@perovdm Can you tell me how to integrated the vid animation into the issue report, it is VERY cool!!

[2022-02-17 13:29] ArgentArts commented on #2165
Would such a system allow, in the future, for the end-user to create their own static-meshes to use for this for their own custom bioms? Say, for example, the end-user is creating an alien planet, etc.? This sounds great, to me, as long as, in the end, we are able to customize it.

[2022-02-17 13:33] LeeBamberTGC commented on #1349
@smmaas Many zombie improvements in this Fridays build.  Please check your issue to see all has been fixed:

![image](https://user-images.githubusercontent.com/35840583/154491929-5454c54a-dd39-4b88-a579-40dd8293337e.png)

Zombies now start at different times and modulate their speeds between MIN and MAX so they never sync, and also added different walks for the zombies so they can be totally diffe

[2022-02-17 13:35] casigus commented on #1549
yeah lots of amazing improvements actually!! zombies are working great! sorry forgot to close this!!! :D

[2022-02-17 13:35] #1549 closed

[2022-02-17 13:36] UltraVox001 commented on #1876
I see it too. He is present in the first second of this video made this morning. (this video is fake problem, solved.)
[https://www.youtube.com/watch?v=pQspA0pyALs](https://www.youtube.com/watch?v=pQspA0pyALs)

[2022-02-17 13:37] LeeBamberTGC commented on #2165
@ArgentArts As we are at the discussion/planning stage, I think having customisability built in from the start is a nice idea, and in a way will help TGC make more biomes in the future a little bit easier (or more likely, sit back and watch the community make them for all the other biomes we have not dreamed up). Anyone fancy a MARS BIOME :)

[2022-02-17 13:42] UltraVox001 commented on #1876
Hum, I just re-opened the map I'm talking about. But he is no longer there.
Update from Max today at 1:35 p.m.

[2022-02-17 13:44] ZakJudges commented on #1876
@UltraVox001 Thanks for the extra info.
@synchromesh62 Do you also see this issue fixed after updating today?

[2022-02-17 13:49] ArgentArts commented on #2165
I agree. If it allows the end-user to make their own, then I am all for it. Else, it's just a nice feature, but one I won't use, to be frank. After all, I think that many of us want our games to be as unique as possible.

[2022-02-17 13:51] UltraVox001 commented on #2165
I'm glad to read this post from @LeeBamberTGC .
Steep mountains and quality cliffs are nearly impossible to achieve with the current terrain editor. Unless you have to sacrifice quality, of course. Long live the procedural! I can not wait to see it. For the moment, I am content with classic (normal) grounds while I have many other ambitions...

@ArgentArts : I will use this function in either case

[2022-02-17 13:53] synchromesh62 commented on #1893
This one is now working as expected :)

[2022-02-17 13:53] #1893 closed

[2022-02-17 14:07] Granada1 commented on #2160
[code]
That’s exactly it

[2022-02-17 14:10] dllllllllllb commented on #2152
@LeeBamberTGC Looked into it, found that there is a rounding issue with other numbers as well (e.g. 11 was getting changed to 10) and that the issue persists on other sliders as well.

I thought the issue is with c-style casting, the order of operations or maybe conversion made by ImGui , but it turns out that the denominator values were missing f at the end to indicate that the value is divided b

[2022-02-17 14:14] LeeBamberTGC commented on #1963
@synchromesh62 Sorted for afternoon build.  The endless way has now been gifted to Zombie-kind:

![image](https://user-images.githubusercontent.com/35840583/154499504-b8f293b7-4f29-4a12-a076-cc7159ce5e8f.png)

[2022-02-17 14:18] dllllllllllb commented on #2152
@LeeBamberTGC There is also an issue where even though the slider says that the particle opacity is 0, you can still see very faint particles. Changing the v_min slider value from 1 to 0 fixes this, should I also change these?

[2022-02-17 14:22] LeeBamberTGC commented on #2152
@dllllllllllb Yes indeed, use your best judgement on things like this. What makes sense to you will highly likely make sense to most users. Zero should mean cannot see it at all :)

[2022-02-17 14:22] ZakJudges commented on #1769
Hi @UltraVox001. The current limit is 10 visual logic connections per object.  I wasn't able to reproduce the issue of being limited to less than 10. Are you still experiencing it with the latest build? :)

Re increasing the limit, if you create a new issue and label it as an enhancement or feature request, that will allow us to look at it in the future :)

[2022-02-17 14:24] LeeBamberTGC commented on #1812
@synchromesh62 All other zombie AI issues now in the current build, so when I send the internal build email you can check to see if any of the above 3 issues remain.   The only thing to bear in mind is that older levels might not have the new properties for the Zombies so always a good idea to click them and make sure their properties are correct before clicking test level and saving.

[2022-02-17 14:25] dllllllllllb commented on #2152
@LeeBamberTGC I just wanted to check if there is a reason for the min_val to be 1, don't want to change it in case it's used as a denominator somewhere :]

[2022-02-17 14:31] LeeBamberTGC commented on #2126
Sorted for this afternoons build.

[2022-02-17 14:33] LeeBamberTGC commented on #2130
The light probes are scaled by the original light and are currently working as intended. We have recently added a player based env map creator so you do not need to worry too much about light proves any more, and we 'may' remove this feature in place of something that maybe makes more intuitive sense to new users down the road.

[2022-02-17 14:33] UltraVox001 commented on #1769
All 10 switches work.
But, surprise by re-opening this morning's map : look who I see :)
![10switch](https://user-images.githubusercontent.com/96718175/154502760-c3a80c84-1803-4a47-b871-f14c1ce72dfc.jpg)
I send you the map...
[DoorRising.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8089395/DoorRising.zip)
Pay no attention to the name of the map.

[2022-02-17 14:36] dllllllllllb opened #2167 "UI - Value conversion errors"
Some UI elements aren't converting user input to fractions properly, denominators are missing an "f" at the end which result in rounding the user input. [See this issue ](https://github.com/TheGameCreators/GameGuruRepo/issues/2152)

[2022-02-17 14:37] ZakJudges commented on #1769
@UltraVox001 Thanks for confirming. Closing this issue now.

I was able to reproduce #1876. Thank you

[2022-02-17 14:37] #1769 closed

[2022-02-17 14:39] UltraVox001 opened #2168 "GG Max Bug Report - UI completely reset each time you reopen Max"
Internal update from Max today around 1:35 p.m. (French time).
The user interface is completely reset each time you reopen Max. You have to redo all the Settings each time you reopen.

[2022-02-17 14:47] LeeBamberTGC commented on #2144
@OldFlak No worries, I will extend support for the emissive system to recognize _illum and _illumination though certainly for our own stock and game kit files we will be using the naming convention of _emissive.

I think this is the same as the issue: https://github.com/TheGameCreators/GameGuruRepo/issues/315

Here is the code we use to detect and include support texture files, let me know if you

[2022-02-17 14:53] Granada1 commented on #2160
(Press CONTROL each time you select an object! )
Just tried with latest update and it worked
,closing

[2022-02-17 14:53] #2160 closed

[2022-02-17 15:00] LeeBamberTGC commented on #1541
@AmenMoses You sent me some code a while ago which wraps some core commands in an error trapping layer to prevent hard crashes such as reported above. I have switched this issue tag to Enhancement so we can revisit this after the March EA. Pretty much all the initial scripts will be checked so this will not happen, but custom scripts will likely hit this again and a graceful exit (with a nice erro

[2022-02-17 15:07] Granada1 commented on #2160
If you mean trees and grass , I can select multiple just by right clicking !

[2022-02-17 15:11] davetgc opened #2169 "Can select objects hidden by terrain"
**Objects behind terrain**: It appears to be possible to pick up large objects that are hidden by the terrain, this means that you can inadvertently move things you can't see. On a number of occasions I found large rocks and similar have changed position after accidental selection. This only seems to happen if the object is at least partially visible above the terrain. (but can be hidden from the

[2022-02-17 15:20] ArgentArts opened #2170 "GameGuru MAX - Request - Optional Wireframe Mode for Invisible Items"
I would like to request an optional wireframe mode for invisible items. Why? This way we could create invisible models that we use for our own custom collision meshes. Right now, if they are truly invisible, then they cannot be seen in the editor view port. This means we have to set the alpha clipping to something else while placing the entity and then set it back to make it invisible again. With

[2022-02-17 15:22] ArgentArts opened #2171 "GameGuru MAX - Request - Alpha Clipping with NO Material"
I would like to be able to have Alpha Clipping available for models with NO material applied. This way I could have models that I use for collision meshes and not have to have a material of any kind assigned to them.

[2022-02-17 15:23] LeeBamberTGC commented on #2152
@dllllllllllb Probably a quick typo. Set to zero, and commit, we can then see if all is well and particle opacity of zero hides them.

[2022-02-17 15:23] ArgentArts commented on #2171
Or a check box for Collision Mesh that would just make it invisible and designate it as a collision mesh. ;)

[2022-02-17 15:24] ArgentArts commented on #2160
I mean the object list on the left side. Sorry. Where you select guns, walls, and things you've already placed in your level.

[2022-02-17 15:31] ArgentArts commented on #2165
Yes, this is useful. Of course. I just want to keep customization in the forefront. Why? Because when MAX started it was all about customization for adding your own trees, your own grass, your own ground textures, etc. And while that's going to happen, it all took a sideline for BIOMs ... BIOMs that are not, at the moment, customizable (or at least not easily customizable). And, yet, these bioms s

[2022-02-17 15:49] LeeBamberTGC opened #2172 "Crash when saving standalone of HUGE game"
As I was fixing my own crash bugs, to reproduce I saved a standalone of a large game (LABERYNTHIA) and got a crash during the process, which drops in at the same point each time.  Might be worth a quick look to see all the memory for the tree system is behaving itself. I include a shot of the crash and all relevant values:

![image](https://user-images.githubusercontent.com/35840583/154518263-e0f2

[2022-02-17 15:50] ArgentArts opened #2173 "GameGuru MAX - Request - Expand Door Rising Behavior"
I would like to request that we expand the Door Rising Behavior to make it a Door Sliding Behavior that would allow the end-user to choose the direction the door would slide open - up, down, left, or right. This way this behavior could be used for all sorts of sliding doors and not just for doors that slide upward. A check box for the direction or a dropdown box could be used for the end-user to s

[2022-02-17 15:52] UltraVox001 commented on #2170
It's true. I use Invisible Walls to place box collisions on all long walls (repeatable Box elements), Fences, and generally all repeating elements in the map. This is a huge resource saving. I even removed collisions from Max's Hangars V1/V2 to place invisible walls (Box), much less expensive in resources than a polygonal or other hangar.

But as ArgentArts explains, once invisible, these elements

[2022-02-17 15:55] synchromesh62 opened #2174 "Glare issue, New Build 17-02-22"
Glare issue since yesterdays update on dark levels.
Its every time you launch and if just touch any Sky \ sun setting it instantly reverts to normal however it does not retain the settings and crops up again whilst playing the level and its a rinse, repeat to get it back to normal.

See attached Vid

https://youtu.be/DauqiDwoqJA

[2022-02-17 15:55] ArgentArts commented on #2170
Even if it were sort of semi-transparent mode ... something to indicate the entity is transparent. Perhaps a button on the UI to expose all hidden or invisible elements so we could turn them on/off at once for positioning purposes.

[2022-02-17 15:56] LeeBamberTGC commented on #2029
@casigus I loaded your compo game project, deleted all but the first level, did not include non-stock assets, and was able to create a standalone game and run the first level (which is great by the way). The 7007 error was fixed a short while ago so this specific issue is solved in this Friday's build.  See your other issues for tackling the HUGE LEVEL/PROJECT related crash.

![image](https://user

[2022-02-17 16:06] UltraVox001 opened #2175 "GG Max Feature Request - Light connectable by Switch unlimited or increased"
Currently, Max does not allow more than 10 Lights to be connected to a switch. It's not much. This is fine for an ordinary home, but when it comes to powering a big power plant, an imposing factory, a military base or a giant structure, the 10 Lights are no longer enough. In addition, it limits the scenarios considerably.

I would like to see this limit of 10 Lights per switch increased significan

[2022-02-17 16:12] synchromesh62 commented on #1812
Checking them out at this very moment  .. So far so good :)

[2022-02-17 16:13] synchromesh62 commented on #1812
Checking them out at this very moment .. So far so good :)

[2022-02-17 16:20] casigus commented on #2121
ill look into it asap.

[2022-02-17 16:21] casigus commented on #1825
will do !

[2022-02-17 16:21] #1825 closed

[2022-02-17 16:22] casigus commented on #2029
fantastic. glad you got things working.

[2022-02-17 16:22] #2029 closed

[2022-02-17 16:45] plemsoft commented on #2059
@smmaas Thanks for reporting this issue, i think i got it fixed now, please confirm after the next build thanks :)

[2022-02-17 16:51] ArgentArts opened #2176 "GameGuru MAX - Connect Logic to GROUPS and have it affect entire GROUP"
It would be great to be able to connect logic to groups and have it affect entire groups. For example, grouping a bunch of lights together and using ONE switch to turn them ALL off by connecting the ONE switch to just ONE group (or one light in the group).

[2022-02-17 16:54] ZakJudges commented on #1746
Hi @redagent101. In the latest build, are you still encountering errors when only some of the asset collections are ticked? :)

[2022-02-17 16:59] nomad5oul commented on #2131
thank you for doing this. it will help with Max visuals and making the weapons feel more impactful

[2022-02-17 17:14] dllllllllllb commented on #2131
@LeeBamberTGC A quick update. This one was tough, at first I couldn't figure out how the spotlight was actually made, so I played around with the flash light to make it behave appropriately as a gun flash and learn how it works. I tried calling lighting_spotflashexplosion() and changing its settings but [I was keep getting a spotlight while shooting a gun](https://www.youtube.com/watch?v=CgfT_7ndH

[2022-02-17 17:35] nomad5oul commented on #970
[https://www.youtube.com/watch?v=rjMj4N-kUjU](url)
here is an earlier video from Max which had the correct emissive and volumetric lighting

![image](https://user-images.githubusercontent.com/37256116/154538463-fe0020f4-41d6-43da-8ec7-90a429d76518.png)

[2022-02-17 18:06] LeeBamberTGC commented on #1171
Latest build no longer crashes structure editor, and corrected other small issues so can be used again, and final object edited once initially created.

[2022-02-17 18:08] ArgentArts commented on #2175
One of the first things I tried was to daisy-chain several lights together to see if turning off one would toggle the next down the line, but it didn't, which is too bad. If we could daisy-chain them (connect a switch to a light and that light to the next light, etc.) then it could be unlimited.

[2022-02-17 18:13] UltraVox001 commented on #2175
It was the first thing I tried the first time I had Max in my hands, months ago. :)
I was disappointed that it didn't work that way.

[2022-02-17 18:31] ArgentArts commented on #2175
We need a HIDE function, it seems. That way we could HIDE the wall in order to connect the switch to the light and then unhide the wall when completed.

[2022-02-17 18:36] UltraVox001 commented on #2175
This HIDE mode should be active on all non-connectable elements, as soon as the "Shooter Games" mode is active. Thus, all elements that are not connectable elements would become transparent for the eyes, and inactive for the mouse, to let the connectable objects do their job.

[2022-02-17 18:36] ArgentArts opened #2177 "GameGuru MAX - Request - Hide/Unhide"
I would like a function to be able to HIDE and UNHIDE entities in the viewport. This would work by selecting an entity or entities and hitting a key combo to hide them. Hitting another key key combo would unhide them. Blender uses "H" to hide and "ALT+H" to unhide (which unhides everything that was previously hidden). Some software allows you to hide items one at a time via the shortcut (or in gro

[2022-02-17 18:38] ArgentArts commented on #2175
Good point. Though, I still want a HIDE mode for other reasons, like hiding a roof so I can work on an interior better, etc. ;)

[2022-02-17 18:40] UltraVox001 commented on #2175
Absoutely. It is as indispensable as the Wireframe mode.

[2022-02-17 18:49] UltraVox001 commented on #2177
I confirm. Long live Hide mode.
Let us connect things together by removing procedural barriers.

[2022-02-17 18:54] #2168 closed

[2022-02-17 19:41] perovdm commented on #1893
@LeeBamberTGC it is just an animated gif, exported in Premiere Pro with 15fps and 640x480 res to make sure its under the 10MB git limit.

[2022-02-17 20:40] marcuswilm commented on #1579
Zak, it was a good idea to ask me to provide an example of a map where the player is falling under the terrain.
Unfortunately the projects where it happened contain terrains created with previous alpha versions and when they are run with a recent version of GG MAX their appearance is completely different and unusable.

I must admit that I was wrong when I thought that the bug still remained in the

[2022-02-17 21:18] LeeBamberTGC commented on #2131
@dllllllllllb Sounds like you are getting some wins there :)  While you are about it, see if you can use your system to create light flashes for both the player and any enemies that choose to fire their weapon. No worries if you want to keep it simple for now, but ask my any questions if you want to go for gold :)

[2022-02-17 21:19] OldFlak commented on #2144
@LeeBamberTGC Yes thanks for looking at this Lee.

I don't need this myself, as it is my intention to use _emissive anyway as I prep them for the import process (just updated the few stragglers I had) so I be happy for it to stay as is.

For me this is not an issue, but rather an observation:
I was just thinking of when others try to import from Classic, a lot of models out there were using the _i

[2022-02-17 21:30] OldFlak commented on #2143
@LeeBamberTGC  Thanks Lee for responding.

It is indeed a resource thing, but also should be a dev choice.

In most cases it would need to be turned off for sure, but there are times when there is little impact on a scene, and can be used to good effect to make a scene pop, and in some cases - like in my pic - it stands out as wrong when it is not casting the shadow.

Yes off switch please :) - th

[2022-02-17 21:45] LeeBamberTGC commented on #2143
@PaulSJ I think you were the original proponent of switching off shadows for transparency. Is the code still there, and perhaps we can reactivate but have the default as OFF :)

[2022-02-17 22:01] LeeBamberTGC commented on #1893
@perovdm Would be great if GitHub automated that so we can drag in little MP4s directly into the issue :)

[2022-02-17 22:12] LeeBamberTGC commented on #2102
@casigus I will close this and mark as duplicate, so we can continue the main issue of levels being too large to load back in, and trying to trace the origin of the memory consumption. Here is the duplcate: https://github.com/TheGameCreators/GameGuruRepo/issues/2156

[2022-02-17 22:12] #2102 closed

[2022-02-17 22:15] LeeBamberTGC commented on #2156
A related issue duplicated this one, so redirected here. I have a game project with one level that loads and runs, so we are okay with a single level in that case, though many levels in the game project and a standalone game created from it also showed the issue of memory consumption as each level was loaded in to create the standalone.

Next step here is to track where this memory is going, and w

[2022-02-17 22:17] LeeBamberTGC commented on #2156
ANYONE READING THIS : If you have a level that loads into MAX and takes around 9-10GB of memory in the process, but can still complete the load AND RUN, please email it directly to me at lee@thegamecreators.com

From this, we can trace where the memory is going!

[2022-02-17 22:18] LeeBamberTGC commented on #1630
@dllllllllllb Assigned this one as you are in the proximity of the flash light code now :)  Any questions relating to this, or reproducing this one, post here, thanks!

[2022-02-17 23:31] casigus commented on #2156
could be going with the collisions, since ive started turning everything either a box or a polygon things have improved drastically:

https://www.youtube.com/watch?v=fmGetkdyXKQ

[2022-02-18 00:50] fearlesswee commented on #2111
I think making the screen blood 3D droplets that have a glass-type shader so they react to the environment would be a lot more "2022" feeling rather than decals/sprites, just my 2 cents :)

[2022-02-18 01:15] fearlesswee opened #2178 "MAX - Suggestions to the "arm swap" feature Lee briefly talked about this week's livestream"
During this week's broadcast, a question was asked about arms, to which Lee proposed plans for a feature which would let you use the same weapons, but swap out the arms. He talked about male/female selection, skin tone, and whether or not they'd have gloves or tattoos as an example. I had mentioned a few times earlier in MAX's development of wanting such a feature, especially for eventual RPG logi

[2022-02-18 01:40] perovdm commented on #1893
@LeeBamberTGC Wonder if thats possible to do with github actions. I remember reading somewhere about doing pdf conversions with github actions like that

[2022-02-18 02:16] nomad5oul commented on #2132
i'm uploading an example multi mesh DBO file with textures for testing

The map should look like this
![image](https://user-images.githubusercontent.com/37256116/154604763-f64695ba-45a5-493d-8a79-1903cf3705b0.png)

[testmap.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8093623/testmap.zip)

[2022-02-18 02:19] synchromesh62 opened #2179 "Cancel loses your work ( Nasty one )"
So you spend hours sculpting your terrain and decide its time to save but for some reason you accidently click **New Level**
No problem click **Cancel**
It kind of is because you lose the lot.
**Video below**
https://youtu.be/YSL4lTfx738

[2022-02-18 02:23] nomad5oul commented on #2132
Here is how the map looks on import into Max
![image](https://user-images.githubusercontent.com/37256116/154605656-be541971-87ca-4ddf-9a16-0add10b8e13e.png)

[2022-02-18 05:04] UltraVox001 opened #2180 "GG Max Bug Report - 2 errors with Crash when canceling the save of a objects group"
1/ Place 2 objects on the map.
2/ Select both elements to group them
3/ Click on "Group Objects"
4/ Click on Save Group
5/ Name the group and validate with ENTER
6/ When the "Object Library Preview" window appears, click on **Back To Importer** (small triangular icon located at the top left of the window), as if to cancel your save and go back to the map editor.
![ObjectLibraryPreview](https://use

[2022-02-18 06:47] plemsoft commented on #2143
@PaulSJ I then also need to split shadows for transparent, so i will enable it when i have split out the transparent shadows :)

[2022-02-18 07:20] plemsoft commented on #2164
@ZakJudges I do not see that here ? , it takes the textures from the .fpe and copy over all those (that are used), do you have a sample where it do not copy over all textures ?

[2022-02-18 07:42] rvanner opened #2181 "Old Grouping Tutorial video"
@LeeBamberTGC The grouping video has not been updated with the latest version.

[2022-02-18 07:43] rvanner opened #2182 "Tutorial thumbnail not showing properly"
The Level Editing Video does not show any thumbnail (once you have clicked on other videos), just shows a gray background:

![image](https://user-images.githubusercontent.com/1503593/154639430-04ff4718-e272-4852-b0a8-01ad602105d3.png)

[2022-02-18 07:44] rvanner opened #2183 "Tutorials - hide the numbering"
Hide the numbering from the user, should only list the titles
![image](https://user-images.githubusercontent.com/1503593/154639602-772ae3a8-1341-4789-843e-89dc4014308c.png)

[2022-02-18 07:46] rvanner opened #2184 "Tutorials don't play in Storyboard and Terrain Generator"
In both the Storyboard and the Terrain Generator the videos don't work properly;

![image](https://user-images.githubusercontent.com/1503593/154639748-05a8dd90-51bb-4b0c-8b1d-280f50aa26ba.png)

![image](https://user-images.githubusercontent.com/1503593/154639791-e70d142b-3092-42ab-bd07-7899a7096fba.png)