[2022-05-11 10:02] ZakJudges commented on #3093
@synchromesh62 The fix isn't yet in the experimental build, but it should be in the next one :)

[2022-05-11 10:05] ZakJudges commented on #2301
Note: assimp.dll should not be needed for standalone

[2022-05-11 10:06] ZakJudges commented on #2951
Hi @Ratall,

I am still working on a guide to find which versions of file formats the importer can handle without issue. One of our artists uses FBX 7.3 (2013) and has no problems with that. However, it does increasingly seem that in most cases, problems arise based on how the model was created, rather than the version of the file used. I'll hopefully have more info on this in the near future :)

[2022-05-11 11:01] #847 closed

[2022-05-11 11:03] Lemuripest93 opened #3094 "GameGuru Max - Request - Swimming Speed Slider"
Lots of posts about swimming here lately, though i haven't seen this mentioned so i'll do it, i think there should be a swimming speed slider implemented like we have for character speed above water since right now swimming is a little bit too slow, this should preferably be added into the next update, though you guys ultimately decide when it happens.

Just thought this was important to mention,

[2022-05-11 11:09] ZakJudges commented on #2901
Issue not present on latest experimental

[2022-05-11 11:09] #2901 closed

[2022-05-11 11:11] ZakJudges commented on #2858
Fixed as of latest experimental

[2022-05-11 11:11] #2858 closed

[2022-05-11 11:19] LeeBamberTGC commented on #2301
@ZakJudges Indeed, this DLL is not used, but it is hard-linked to the executable stub so removing it will instantly cause the executable to not find one of its dependencies and fail to launch.  Leaving this as a bug however as there are MANY other files that are copied by folder rather than as specifically detected as used, so there is some room for further improvement. If anyone else wants to con

[2022-05-11 11:25] ZakJudges commented on #2820
Fixed as of latest experimental

[2022-05-11 11:25] #2820 closed

[2022-05-11 11:32] LeeBamberTGC commented on #2846
@ZakJudges Happy with this now, jumping 400 units down with 400 health will kill the player :)

[2022-05-11 11:32] #2846 closed

[2022-05-11 11:37] LeeBamberTGC commented on #2499
@ZakJudges See the WIN ZONE for how I added the code to solve this. Extend the feature to all other zones that detect the players presence.

[2022-05-11 11:38] ZakJudges commented on #2766
Working in latest experimental

[2022-05-11 11:38] #2766 closed

[2022-05-11 11:40] ZakJudges commented on #2763
Working fine in latest build

[2022-05-11 11:41] ZakJudges commented on #2757
working in latest build

[2022-05-11 11:41] #2757 closed

[2022-05-11 11:42] #2756 closed

[2022-05-11 11:42] LeeBamberTGC commented on #2988
@ZakJudges I know we mentioned the new cross hair red dot does not look right now, but see if you can add an offset to the new dot so it centers on the weapons scope. The new cross hair works great for zoomed weapons, but I think it could be extended to allow for these types of red dot markers too (as they point directly at the target). The old method of rendering a quad off in the middle distance

[2022-05-11 11:43] ZakJudges commented on #2696
fixed - see #2405

[2022-05-11 11:43] #2696 closed

[2022-05-11 11:45] LeeBamberTGC commented on #3061
@ZakJudges I recommend adding a new 'macro' to the LUA description scanner (we use this to look for <IfUsed> and <Sound0>, and when we find these in the description we expose them as part of the Behavior Properties component.  I think a new one called <Quantity> will do the trick nicely as I believe the quantity for ammo is a generic one, and could be used for other systems too.  Worth checking if

[2022-05-11 11:48] LeeBamberTGC commented on #2500
@ZakJudges As per my comments about adding a mew <Quantity> macro for LUA descriptions (like how <Sound0> works), you will also find a raft of values that control changes to weapon settings. I would do the same here, and expose them as macros so they can be specified in the weapon behavior and expose the required values.  I suggest things like <WeaponReloadQty> <WeaponDamage> <WeaponAccuracy>.  Fo

[2022-05-11 11:49] LeeBamberTGC commented on #2972
@ZakJudges This works when NOT using the widget, so compare that correct behavior to when MR Widget is active, and see how the behavior changes.  That difference is the bug, and ensure the dragging in acts like the non widget approach, just for the drag event.

[2022-05-11 11:53] #2539 closed

[2022-05-11 11:53] ZakJudges commented on #2531
Works fine in latest experimental

[2022-05-11 11:53] #2531 closed

[2022-05-11 11:54] ZakJudges commented on #2511
@casigus Could you confirm if this issue is now fixed for you? Thanks!

[2022-05-11 11:55] LeeBamberTGC commented on #3077
NOTE: This is the standard full height and half height capsule sizes, and all assets up to now have been designed with these two sizes in mind.  Hacking in a change to crouch would change core defaults, never a good thing to do lightly. The solution suggested is an option to change both player full height and crouch heights, and change physics capsule heights too as the user requires.  Naturally,

[2022-05-11 11:57] ZakJudges commented on #2472
Fixed as of latest build

[2022-05-11 11:57] #2472 closed

[2022-05-11 11:58] ZakJudges commented on #2470
Fixed as of latest experimental

[2022-05-11 11:58] #2470 closed

[2022-05-11 12:01] ZakJudges commented on #2440
Seems to work here in the latest build

[2022-05-11 12:01] #2440 closed

[2022-05-11 12:02] ZakJudges commented on #2439
Fixed in latest build

[2022-05-11 12:03] #2438 closed, assigned to LeeBamberTGC

[2022-05-11 12:03] ZakJudges commented on #2426
Hi @davetgc, is the massive FPS drop now fixed for you?

[2022-05-11 12:07] ZakJudges commented on #2384
Fixed in latest build

[2022-05-11 12:07] #2384 closed

[2022-05-11 12:07] #2371 closed

[2022-05-11 12:08] ZakJudges commented on #2362
Hi @ChristopherFalcon, could you confirm if this issue is fixed for you in the latest build? Thanks :)

[2022-05-11 12:10] ZakJudges commented on #2322
Hi @Stefos-art, could you confirm if your performance issues have improved? Thanks :)

[2022-05-11 12:11] ZakJudges commented on #2211
works in latest build

[2022-05-11 12:11] #2211 closed

[2022-05-11 12:12] ZakJudges commented on #2169
works in latest build

[2022-05-11 12:12] #2169 closed

[2022-05-11 12:18] ZakJudges commented on #2139
confirmed, doesn't work in the above case. @LeeBamberTGC I can do this one if you like, I think it would just be a case of a dot product between the switch direction and camera direction

[2022-05-11 12:19] ZakJudges commented on #2107
Hi @casigus, is this now sorted for you? Thanks :)

[2022-05-11 12:20] ZakJudges commented on #2094
fixed in latest build

[2022-05-11 12:20] #2094 closed

[2022-05-11 12:21] ZakJudges commented on #2092
works in latest build

[2022-05-11 12:21] #2092 closed

[2022-05-11 12:22] ZakJudges commented on #2062
Works fine in the latest build

[2022-05-11 12:22] #2062 closed

[2022-05-11 12:25] ZakJudges commented on #1963
Zombies follow flags in latest build

[2022-05-11 12:25] #1963 closed

[2022-05-11 12:26] #1895 closed

[2022-05-11 12:28] ZakJudges commented on #1814
Fixed as of latest build

[2022-05-11 12:28] #1814 closed

[2022-05-11 12:28] #1812 closed

[2022-05-11 12:29] ZakJudges commented on #1592
Fixed as of latest build

[2022-05-11 12:31] ZakJudges commented on #1439
Fixed in latest build

[2022-05-11 12:31] #1439 closed

[2022-05-11 12:33] ZakJudges commented on #1171
duplicate of #1028

[2022-05-11 12:33] #1171 closed

[2022-05-11 12:34] ZakJudges commented on #1180
Works in latest build

[2022-05-11 12:34] #1180 closed

[2022-05-11 12:34] ZakJudges commented on #1184
Importer now cleans up any surface files generated

[2022-05-11 12:34] #1184 closed

[2022-05-11 12:35] ZakJudges commented on #1349
Works fine in latest build

[2022-05-11 12:35] #1349 closed

[2022-05-11 12:36] ZakJudges commented on #1374
Hi @synchromesh62, have you had any trouble with collision shapes in recent builds? :)

[2022-05-11 12:43] ZakJudges commented on #2814
@LeeBamberTGC I was able to reproduce the issue in the latest build. Seems to only happen when the character is an ally

[2022-05-11 12:45] davetgc commented on #2169
Thanks!

On Wed, May 11, 2022 at 2:12 PM ZakJudges ***@***.***> wrote:

[2022-05-11 12:45] davetgc commented on #2426
Yes, it is working.

On Wed, May 11, 2022 at 2:04 PM ZakJudges ***@***.***> wrote:

[2022-05-11 12:46] #2426 closed

[2022-05-11 12:47] rvanner commented on #3069
@ZakJudges This is fixed but I notice another issue. I you raise the terrain and there are objects on that terrain, you have to undo twice for the objects to move back to where they were before the terrain height change. Should only need one undo.

[2022-05-11 12:48] rvanner opened #3095 "Character Creator - show bones is not showing the bones!"

[2022-05-11 12:49] ZakJudges commented on #2856
@Tum1370 I tried the map that you sent but its blank, you will likely need to send the groups as well :)

[2022-05-11 12:50] ZakJudges commented on #2807
Crosshair present in latest build

[2022-05-11 12:50] #2807 closed

[2022-05-11 12:51] ZakJudges commented on #2646
Hi @Ghost-l0l, are you still seeing issues in the latest build? :)

[2022-05-11 12:52] ZakJudges commented on #2639
@davetgc Is this now sorted for you?

[2022-05-11 12:55] ZakJudges commented on #2617
Working in latest build

[2022-05-11 12:55] #2617 closed

[2022-05-11 13:04] ZakJudges commented on #2957
@Tum1370 Are you still experiencing this issue in the latest build?

[2022-05-11 13:06] #3093 closed

[2022-05-11 13:06] rvanner commented on #3079
Confirmed as fixed.

[2022-05-11 13:08] #2548 closed

[2022-05-11 13:09] LeeBamberTGC commented on #2139
@ZakJudges Already code in place to cast a ray to the target and if it is blocked, the switch/weapon cannot be operated.   There is no guarentee which orientation an object will be so the dot product may not help.  The test is whether the player can SEE the target object and only then have the option to operate it. If the WALL is in the way, the other switch should NOT be presented. That will be t

[2022-05-11 13:11] rvanner commented on #3074
Confirmed as fixed.

[2022-05-11 13:11] #3074 closed

[2022-05-11 13:12] ZakJudges commented on #2957
@Tum1370 Thanks for confirming. I'll close this issue, just make a new one if you find anymore. Thanks :)

[2022-05-11 13:12] rvanner commented on #2932
Confirmed as fixed!

[2022-05-11 13:12] #2932 closed

[2022-05-11 13:13] LeeBamberTGC commented on #2814
@ZakJudges Okay :) Nice little fix for you :)

[2022-05-11 13:15] rvanner commented on #2662
@ZakJudges Not sure if this is fixed, I save a level with the "Wüste" name and see this;
![image](https://user-images.githubusercontent.com/1503593/167858734-19cc265a-4345-43bf-bedc-fda08d1dae3e.png)

![image](https://user-images.githubusercontent.com/1503593/167858831-c8b27399-665a-4f62-893a-0a6aa76ff1a3.png)

[2022-05-11 13:16] #3079 closed

[2022-05-11 13:22] rvanner commented on #2571
Confirmed as fixed.

[2022-05-11 13:22] #2571 closed

[2022-05-11 13:23] ZakJudges commented on #2662
@rvanner Strange, seems to work here:
![Screenshot 2022-05-11 141741](https://user-images.githubusercontent.com/32545391/167859327-943cc951-a46f-42d1-8b32-eb50384fa24d.png)

@LeeBamberTGC Any ideas if there is anything else that I should have done for this? In `SetWindowTitle()` I converted the window title from multi-byte to wide-char and then called `SetWindowTextW()` instead of `SetWindowText()

[2022-05-11 13:24] UNIRD12B commented on #2499
ok ,
  thx , but , it still doesnt seem to work for messages.
as messages on the second floor activate when  you pass under them
on the first floor.
UNIRD12B

[2022-05-11 13:27] rvanner commented on #1282
Confirmed as fixed.

[2022-05-11 13:27] #1282 closed

[2022-05-11 13:30] rvanner commented on #1758
@LeeBamberTGC This is still a problem in MAX.

[2022-05-11 13:32] rvanner commented on #3033
@LeeBamberTGC Is the wrong rig being used for the female Aztecs?

[2022-05-11 13:38] rvanner commented on #2662
@ZakJudges I copied the text out of the GitHub report above and used it in Save Level As... in the level editor.

[2022-05-11 13:40] rvanner opened #3096 "Water Line issue"
In this video;

https://youtu.be/ahhdUaD4KKw

Notice how the water line is between two lines? Should just be one.

The sound used when swimming isn't right. Let's check what FC5 does.

[2022-05-11 13:42] PaulSJ commented on #2931
@rvanner It was taking too long to find the smoke meshes so I left it

[2022-05-11 13:45] ZakJudges commented on #2662
@rvanner Ah, I can reproduce it now. I was naming the level from the terrain generator. Thanks

[2022-05-11 13:48] ZakJudges commented on #3094
@rvanner I could add a speed slider when I tackle the new swimming bugs if you like? It shouldn't take long to do :)

[2022-05-11 13:53] Tum1370 commented on #2856
@ZakJudges
This is just a pallet with 8 sandbags laid on top. Group them up, Place several of the group down, Then try test playing the games, rotating the groups, then test playing the game.
Some part of the group, LIke 1 sandbag, or maybe the pallet, Moves out of place.

Just tested this again now on the latest experimental build, and it was still doing this.

[2022-05-11 13:57] rvanner commented on #1758
@LeeBamberTGC It's very easy to re-create. Just make a hill as seen in this video, have the camera at the same height as you see in the video and then move the character around;
https://youtu.be/S0Xv6qn-NEM

[2022-05-11 13:58] rvanner commented on #3094
@ZakJudges Yes, please add it!

[2022-05-11 14:14] #2883 closed

[2022-05-11 14:16] ZakJudges commented on #3003
@rvanner Fixed but I just noticed it also happens with the magnum pistol

[2022-05-11 14:17] ZakJudges commented on #2767
Thanks for confirming :) closing this issue

[2022-05-11 14:17] #2767 closed

[2022-05-11 14:22] davetgc commented on #2639
Yes, it is.

On Wed, May 11, 2022 at 2:52 PM ZakJudges ***@***.***> wrote:

[2022-05-11 14:26] #2639 closed

[2022-05-11 14:26] rvanner commented on #2813
Fixed

[2022-05-11 14:26] #2813 closed

[2022-05-11 14:27] #2783 closed

[2022-05-11 14:28] rvanner commented on #2719
@MonkeyFrogStudio Can this be closed now?

[2022-05-11 14:29] #2489 closed

[2022-05-11 14:29] #2425 closed

[2022-05-11 14:29] #2318 closed

[2022-05-11 14:29] #2298 closed

[2022-05-11 14:37] rick594 commented on #3079
Thanks.

[2022-05-11 15:12] Lemuripest93 commented on #3094
Sounds good to me, take your time with the bugs first though!

[2022-05-11 15:34] casigus commented on #2511
yes!  very  much so!!

[2022-05-11 15:34] #2511 closed

[2022-05-11 15:34] #2719 closed

[2022-05-11 15:34] casigus commented on #2107
yeah way  more better now!!

[2022-05-11 15:34] #2107 closed

[2022-05-11 15:41] ZakJudges commented on #2499
@UNIRD12B I will post here when the fix has made its way into a build that you are able to test :)

[2022-05-11 16:12] UNIRD12B commented on #2499
Great,  Thx so much.UNIRD12BOn May 11, 2022 11:41 a.m., ZakJudges ***@***.***> wrote:
@UNIRD12B I will post here when the fix has made its way into a build that you are able to test :)

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-05-11 17:21] Kitakazi commented on #3077
Aye I figured it would not be something easily changed. I think your suggested V1 change to crouch physics height would solve the issue. I think the camera when crouched looks pretty good right now and the physics/player-capsule when crouched just needs to be very slightly tweaked. If the camera needs to also be slightly tweaked to go a hair lower it probably could but I definitely don't want anyt

[2022-05-11 18:36] mike123yy opened #3097 "Level disappeared from storyboard editor"
my current game I'm making has several levels. It's allowed me to create up to four without any problems but when I added the fith level it disappears when I close the program. It allows it to be created and worked on but when I save and exit it no longer shows on the storyboard editor. I tried to re-create the level with the same name and that one disappears also. It doesn't want to seem to let m

[2022-05-11 19:10] Stefos-art commented on #2322
I am afraid there is no improvement in FPS, however for some reason it plays better, though the fps read out says between 20 - 30 fps. I used the map Island Showdown or for me Island Slowdown

[2022-05-11 19:17] Ghost-l0l opened #3098 "GG Max - Lightshafts shine through player's weapon"
![buggs](https://user-images.githubusercontent.com/101792609/167928243-58c96f0e-e3f7-4d11-b6e1-c393c7d94e70.jpg)

[2022-05-11 19:45] Ghost-l0l opened #3099 "GG Max - In terrain generator you can't move the editable area if heightmap is loaded"
https://youtu.be/Gy0wCM4XgUw

[2022-05-11 20:02] Ghost-l0l opened #3100 "GG Classic - please make loadings faster"
Hey I watched today's stream and when Lee said that GG Classic might get few new features It was a great positive surprise!

  Faster loading times are not literally new "feature", but it's improvement worth considering;
  Regardless of game's type or style it would greatly improve player's general experience :) Right now loading times on big and complex maps can take up to 2-4 minutes, which is u

[2022-05-11 20:42] Hamada880 commented on #1028
It is no longer crash the GGMax. So that yes I can confirm, just other bugs I report it in different post.

[2022-05-11 21:16] Necrym59 commented on #3090
It works ONLY with a logic connection with a triggerzone nothing else. Not with any other object using the ActivateIfUsed(e) function does nor does it activate if you use Hide(e) on a particle you cannot then activate it it should be able to be hidden and activated easily its needed for a rocket trail for example or sudden fire or smoke effects troggered by scripts or other objects.

[2022-05-11 21:18] Ghost-l0l opened #3101 "GG Max - buggy particle placement"
https://youtu.be/nuWvgkTrSQc

[2022-05-11 21:25] Necrym59 commented on #3092
Actully the levbel has an invisible wall but if you need somthing in an area i flags are no good for this, perhaps a spline style click point to point line would be easier, very much like the old waypoint editor in classic used to work this tool could then be used for multiple uses, invisible walls, forcefields, trigger boundaries etc I think this is badly needed.

[2022-05-11 21:43] Kravenwolf commented on #3092
`Actully the levbel has an invisible wall`

I'm not referring to keeping the player in the map's full boundary, rather a way for users to easily draw lines inside of that boundry anywhere in their map to keep the player on the route they intend them to be on so they cannot simply "bunny hop" their way over a steep grade and get outside of your play area into an area you have not detailed.

I sugge

[2022-05-11 21:55] Ghost-l0l opened #3102 "GG Max - bulletholes appear (or not) randomly"
https://youtu.be/8-YcbBNVFhE - video is stuttering a little, but that's fault of Obs recording, not Max :)

[2022-05-11 21:59] earthling45 commented on #3099
Hi, see this closed topic for the answer.

https://github.com/TheGameCreators/GameGuruRepo/issues/3073

[2022-05-11 22:20] Ghost-l0l commented on #3099
Ah ok so it can be closed

[2022-05-11 22:30] Ghost-l0l opened #3103 "GG Max - request - using particles as bullet impact effects"
https://youtu.be/iNeC61_38dc
Right now Max got only basic sprites that appear on impact (I mean - if they appear at all...) but Max got particle system already included - maybe it can be used for showing some bullet impacts?

[2022-05-11 23:53] GavinIssooocoool opened #3104 "entire game deleted????"
Hi, I was working on a game for the contest, i changed a few things about the storyboard, and bada-bing bada-boom my game level was gone. please help lol

[2022-05-12 06:29] #3099 closed

[2022-05-12 06:40] Necrym59 opened #3105 "GGMAX - Build 2022.05.13 - Bounce lua scrtipt Issue"
Bounce did not respond well to forward movement.
-Fixed bounce behavior to adjust bounce height and foward velocity
-Supplied with more descriptive icon if required.
[bounce.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8675553/bounce.zip)
![bounce](https://user-images.githubusercontent.com/95015657/168007550-202dc5cd-2556-4f8a-9d90-fdcbba542364.png)

[2022-05-12 06:42] rvanner commented on #3104
Hi,

That's strange. I would suggest you make a new game storyboard and add an existing level to see if your level is still in the mapbank folder.

[2022-05-12 08:43] ZakJudges commented on #3036
Hi @MonkeyFrogStudio, are you still experiencing this issue in the latest experimental build?

[2022-05-12 09:08] ZakJudges commented on #3082
Hi @casigus, are you still experiencing this issue in the latest build? I wasn't able to reproduce it

[2022-05-12 09:37] MonkeyFrogStudio commented on #3036
Yes. I just played it this morning and here's a screen shot:

![shot](https://user-images.githubusercontent.com/36735507/168040842-21b9a71c-5196-4b08-a087-6101ea92378e.png)

[2022-05-12 09:45] ZakJudges commented on #3052
Hi @Necrym59, I have added a fix which should sort this issue for you. I will post here when it's in a build you can test to confirm the fix. Thanks for reporting :)

[2022-05-12 09:59] ZakJudges commented on #3036
@MonkeyFrogStudio I have a feeling this issue is caused by a duplicate level in the writable folder overriding the one from the installation. Could you navigate to your writable folder and in mapbank, delete any levels for the mystery of z-island, and see if that sorts the issue?

[2022-05-12 11:41] ZakJudges commented on #3047
@LeeBamberTGC This was due to the AKM being renamed to AK. "AKM.fpe" still needs removed from the build :)

[2022-05-12 11:59] #1028 closed

[2022-05-12 12:02] davetgc opened #3106 "Sledgehammer, where's it gone?"
From, Social Media,

In the experimental build, what's happened to the sledgehammer? Was it removed because it's not a supported melee weapon, and will it be supported later?

[2022-05-12 12:12] ZakJudges commented on #2322
@Stefos-art Would you be able to record a video showing the profiler whilst the issue occurs on Island Showdown?
To enable the profiler, press TAB whilst in-game and it will appear

@LeeBamberTGC User reported not fixed, see latest comments

[2022-05-12 12:13] PaulSJ commented on #3098
@rvanner We fixed this but that caused issue #2574, fixing that has brought back this issue. The best solution is to render the opaque parts of the gun (and headgear) as opaque rather than in the transparent pass.

The meshes will need to be split into their opaque and transparent parts and then rendered separately

[2022-05-12 12:18] LeeBamberTGC commented on #3047
@ZakJudges You are right, now removed all duplicate and out of date weapons from the Showcase folder for the next build

[2022-05-12 12:19] davetgc opened #3107 "Switch in Switch Escape no longer working."
Pulling the switch to open/c;lose the shutter has no effect in latest experimental build.

[2022-05-12 12:44] rvanner commented on #2972
@ZakJudges I think it's just how the widget works vs no widget. I am happy to close this now.

[2022-05-12 12:44] #2972 closed

[2022-05-12 12:44] ZakJudges commented on #2988
@LeeBamberTGC Could you add this to the build, which will add a red dot crosshair to the Compact Assault Rifle:
[gamecore.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8679079/gamecore.zip)

Regarding the offset, what approach do you suggest I take to centre the cross-hair based on the movement of the scope? :)

[2022-05-12 12:49] rvanner commented on #3098
@LeeBamberTGC Adding you in so you can decide how to move forward

[2022-05-12 15:50] mike123yy commented on #3097
I figured I should add this, if you go to add existing level the level is on the list and will allow you to add it to the storyboard and work on it. So it definitely still exists and is not being deleted.They're just being removed from the storyboard once you exit

[2022-05-12 17:29] LeeBamberTGC commented on #2988
@ZakJudges It can be a forced value stored in the GUNSPEC so can be weapon specific to adjust the cross hair. It does not have to follow the scope for V1, and we will tie it into the animation bone position for a V2 implementation with some blending. The main thing is that the red dot is where the bullet goes for now.

[2022-05-12 19:28] synchromesh62 opened #3108 "Max does not import topology terrain from Classic ( Social Media Questions )"
**Max does not import topology terrain from Classic when importing maps.**

Getting a few remarks and questions from social about this recently.
Although Lee has stated in Streams it does I'm not sure he is aware it has not since the new terrain was added.

[2022-05-12 19:54] Necrym59 commented on #3108
I know the terrain systems are different but i have mentioned elsewhere that he could import the m.dat file (terrain heightmap file) from Classic and convert if needed as a heightmap to bring into MAX.

[2022-05-12 20:38] Shalshek opened #3109 "The player does not shoot when moving to a new level"
Hi! (GameGuru Classic)
I have fully exported my game (save standalone) and it has 15 levels. When loading the first level, everything is fine, my player shoots as it was intended. But when moving to the next level, my player refuses to shoot and reload. The player does not react in any way to pressing the left mouse button or the reload button of the weapon "R".

An interesting point: if I save th

[2022-05-12 20:57] casigus commented on #3082
yeah! had this issue for months even with complete re-installs! no sound  at  all.

[2022-05-12 21:05] synchromesh62 commented on #3108
Its not about importing terrain. Its a completely different thing.
It used to be you select file \ load and point to your old classic folder.
It imports the whole level models and all ... It used to work as shown below

![BE](https://user-images.githubusercontent.com/35708217/168168089-21ccd21e-d9de-4c51-832c-14316c528e8e.png)

[2022-05-12 21:21] LukeTheLukeLTL opened #3110 "GGMAX - Lag and crash"
Hi!
I have had several problems lately with GameGuru Max. As you can see from the video ( https://youtu.be/ybmT_Ly8ibQ ) I have several frame drops and after a few minutes it crashed. I must also point out that before being able to load the project, GGMAX crashed 4 times. I have tried a lot of things, I have tried to lower the quality of the shadows, I have tried to completely remove the trees sin

[2022-05-12 21:23] LukeTheLukeLTL commented on #3110
I also tried to create a standalone to see how it went, and I had the same problems there.

[2022-05-12 22:38] oliamit12 opened #3111 "Character Movement"
Hi, All the characters on 1  build level have ceased to advance over the terrain although walk animation is working. It seems to be this 1 build, IT only took 9 hours. Is There a fix? Thanks.

[2022-05-12 22:47] mike123yy opened #3112 "Feature request: trigger item to disappear"
It would be helpful if besides using the trigger zones for spawning items or enemies you can also use the triggers zone to make the items disappear.  For instance, if you were doing a horror game and you had a creature or ghost standing in the dark in front of you you could make it so when the player approaches them they would disappear for a creepy effect. It would also work well for an item to b

[2022-05-12 23:50] Necrym59 commented on #3108
Oh..ive never been able to bring a map inSince the new format startedSent on the go with Vodafone
-------- Original message --------From: synchromesh62 ***@***.***> Date: 13/5/22  7:06 am  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Comment ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] Max does not import topology terrain from Classic  ( Social M

[2022-05-13 03:53] Necrym59 commented on #3112
Try this
[hide_v1.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8683969/hide_v1.zip)
just apply to the object you want to hide fill in the behaviour settings

[2022-05-13 04:19] Kitakazi commented on #3091
I have some other levels that have many more assets in them and they run really smooth, so no idea why this one started suddenly being so choppy :(

[2022-05-13 05:48] davetgc commented on #3109
P.S. My third-person player? Does this mean you're using a script to create a 3rd person player?

[2022-05-13 05:53] davetgc opened #3113 "Big FPS drop in build 12/05/2022"
FPS on an empty map has nearly halved.

![image](https://user-images.githubusercontent.com/99803873/168219789-d4a86795-139e-4a3c-9c8d-7e48081babbd.png)

Not present on more complex maps!

![image](https://user-images.githubusercontent.com/99803873/168220235-b87b3b27-4a5d-443b-8254-a6ba18a600f6.png)

[2022-05-13 06:06] davetgc commented on #3113
[mapbank.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8684467/mapbank.zip)

Added FPM file of problem level.

[2022-05-13 06:29] Shalshek commented on #3109
@davetgc I didn't write a special script for this. Just set the Player model to the level start marker.

[2022-05-13 06:34] rvanner commented on #3091
Looking at the stats, the probe re-fresh is causing a spike:
![image](https://user-images.githubusercontent.com/1503593/168225029-d819eaca-25ba-4184-8c4a-f439fdb9e44c.png)

@PaulSJ Is there a way to improve it's performance?

[2022-05-13 06:42] rvanner commented on #3113
The GPU stats are peaking over 16ms which is where the frame rate starts to hurt. The forest biome has a lot of packed in trees and so I would suggest spacing them out more. Even the level where it looks like there's more going on is getting close to the 16ms red line.

@PaulSJ Any other views?

[2022-05-13 06:44] rvanner commented on #3111
Do you have more information on this issue? Can you share a screen shot or a video?

[2022-05-13 06:45] davetgc commented on #3109
Ok, thanks.

[2022-05-13 06:46] rvanner commented on #3110
@LukeTheLukeLTL Can you press TAB TAB when in test game to show the various performance stats? This will help us see where the lag is coming from.

[2022-05-13 07:26] davetgc opened #3114 "Spray Trees not working on Plains"
Trees can't be sprayed on the plain biome. Single placement of trees works.

[2022-05-13 09:04] Necrym59 commented on #3050
Yes please anything to be rid of decals as the only option

[2022-05-13 10:20] LeeBamberTGC commented on #3107
@davetgc Check latest from this morning, works fine at my end :)

[2022-05-13 10:28] LeeBamberTGC opened #3115 "Add INSTAKILL to Melee Behavior (sneak attack for player)"
Creep up behind enemy with no sound, use melee attack for instant kill. Add as a tick box to make it optional.

[2022-05-13 10:30] LeeBamberTGC opened #3116 "Smoother Player Slider in Properties"
Add new property to player start marker to control the inertia of player camera movement and rotation. Increasing smoothness reduces response time but user can find a nice balance, and very high values will allow camera pans and flythrough videos much nicer.

[2022-05-13 10:52] davetgc commented on #3107
Hmmm..

This is what's happening to me. Unless I'm being really stupid, something is wrong

https://user-images.githubusercontent.com/99803873/168268692-b6212516-75e7-42d4-871f-210877669803.mp4

[2022-05-13 11:14] LeeBamberTGC commented on #3107
@davetgc That's a VERY old level. Maybe rename the writables folder in case an OLD FPM map is in there.

[2022-05-13 11:31] davetgc commented on #3107
Lol. Okay. Don't know what happened there!

On Fri, May 13, 2022 at 1:14 PM Lee Bamber ***@***.***> wrote:

[2022-05-13 12:24] rvanner opened #3117 "Bullet holes should not appear when using fists"
eg:
![image](https://user-images.githubusercontent.com/1503593/168282401-0863d5df-fedc-4fcc-9484-111e25a3e6f7.png)

[2022-05-13 12:36] PaulSJ commented on #3091
There must be a lot of objects in that level, I've added code that will cull objects more agreesively from the environment maps

[2022-05-13 12:44] PaulSJ commented on #3114
Spraying only shows or hides trees based on the denisty slider, so if they are already all visible then no further trees will be added. This can be overidden by the single tree placement which steals a tree from somewhere else. So it sounds like it is behaving as intended

[2022-05-13 13:16] rvanner commented on #3110
@PaulSJ Can you take a look at this issue and give your opinion please? The video linked above shows the CPU and GPU maxing out and then a crash happens.

[2022-05-13 13:27] ZakJudges opened #3118 "Camera shake when hurt"
In my opinion, the new camera shake that happens when the player gets shot should be much more subtle to make it more like a 'flinch' reaction. It should also have an option to toggle it on/off

[2022-05-13 13:34] PaulSJ commented on #3110
The occasional pause looks like the environment probe refresh, that should be fixed by the latest changes.

The general performance issues seem to be caused by the number of objects in the level (CPU Update step) and the shadow rendering (GPU Shadow Rendering step). Reducing the graphics quality should help the shadow performance but I think the only way to improved the CPU performance would be to

[2022-05-13 13:44] ZakJudges opened #3119 "Zombie grab triggers multiple hurt sounds"
https://user-images.githubusercontent.com/32545391/168296791-37b19c61-0a6f-4d6f-9560-20d80651a975.mp4

If you get grabbed by a zombie, you will hear multiple hurt sounds played at the same time

[2022-05-13 14:09] ZakJudges opened #3120 "Swimming active outside of water"
- Raise the water level above the player
- Disable water
- Test level
- Player will be swimming but no water is present

[2022-05-13 14:25] davetgc commented on #3111
This might be linked to this issue, I've only spotted it today.

https://user-images.githubusercontent.com/99803873/168304777-fa5459fe-feaf-45e0-8148-aaf3e555bc0b.mp4

As far as I can tell, it happened after the player was killed in test game.

[2022-05-13 15:06] ZakJudges commented on #3000
@rvanner This should now be ready to test

[2022-05-13 15:06] ZakJudges commented on #2985
Hi @casigus, the animation issue should now be ready to test :)

[2022-05-13 15:15] casigus commented on #2985
yeah! works great. <3

[2022-05-13 15:15] #2985 closed

[2022-05-13 15:33] mike123yy commented on #3112
This works great for having the ghost disappear! Thanks for the script. Although since it doesn't use a trigger zone it wouldn't work for other scenarios. Here's one I'm using in my game for an example:
 I have a house the player walks through with the dining room that I'm going to have the ghost rearrange the chairs when the player leaves the room. So they couldn't disappear when you come in the

[2022-05-13 15:52] AmenMoses commented on #3118
Camera shake should use Perlin noise (and should be disabled for VR!) and work on camera rotation rather than position.

A flinch is an actual player camera position change rather than a shake.

Cine|Guru has proper cinematic camera shake based on Perlin noise btw.  The Perlin noise library in Cine|Guru is effectively open source as it is a Lua version of the original code, let me know if you need

[2022-05-13 16:04] oliamit12 commented on #3111
This video portrays the problem I have, but with every A.I. in the build. Thank You. I really liked the level, but now it's useless as no matter what I try Ican't get any of them to move. even fresh ones.

[2022-05-13 16:07] UNIRD12B commented on #2499
well,
  i just tried the new update
and so far ,
the TEXTZONE still done not work properly with
respect to height and i could find no ZONEHEIGHT  at all.
sorry
UNIRD12B

[2022-05-13 16:32] UNIRD12B commented on #2499
" If you are still able to trigger zones from the floor above, simply reduce Zoneheight :)"
PS. thids is the exact opposite of my problem , as i explained above...

"when you place a TriggerZone or a TextZone on a second or third floor of a building
if you pass below it on the first floor the Zone is triggered since there
does not seem to be a HEIGHT setting in the script.."

thx again

[2022-05-13 18:00] earthling45 commented on #2499
Under behavior tab you'll find a slider with which to adjust zoneheight.

[2022-05-13 18:08] UNIRD12B commented on #2499
So far,  Can't see that even with today's update..On May 13, 2022 2:01 p.m., earthling45 ***@***.***> wrote:

" If you are still able to trigger zones from the floor above, simply reduce Zoneheight :)" PS. thids is the exact opposite of my problem , as i explained above...
"when you place a TriggerZone or a TextZone on a second or third floor of a building if you pass below it on the first floor t

[2022-05-13 19:27] Pcskiller commented on #1084
Any feedback on this?

[2022-05-13 20:28] Kravenwolf opened #3121 "The "undo" function (Ctrl+Z) is a little janky when painting terrain for me"
Can someone else confirm? When painting terrain, sometimes pressing Ctrl+Z will not work to undo the stroke I just applied unless I press it two or three times. Doesn't happen all the time though (~50%), but does appear to be an issue based on how large of an area I paint on a single stroke. It also looks like **_maybe_** moving the camera after painting an area on the terrain causes it to require

[2022-05-13 20:48] Necrym59 commented on #3112
Ok let me think on this and ill have a crack at enhancing the script for Hide/Unhide scenarios

[2022-05-13 21:24] fearlesswee commented on #3103
I've been suggesting this for a while. The sprite-based effects were antiquated in classic's days, now in MAX they're practically medieval! At the absolute least the range at which the sprite-based effects appear should be massively increased, and they should be fixed to consistently appear on every surface. Right now weapons have next to zero visual feedback which makes them feel genuinely awful

[2022-05-13 21:48] fearlesswee commented on #3057
Quick thing I had just realized, if memory serves me right Recast Detour also supports increasing the "cost" of a certain area rather than outright blocking it, so that characters are less likely to use that path but it's not outright removed as an option. This would be more ideal; increase the cost of the navmesh area where a character died, so that they are less likely to come from that directio

[2022-05-13 21:53] mike123yy commented on #3112
Thanks! That would be great. I appreciate the help. There's no need to make the script make things appear though.All it really needs to do is when the item it's attached to is connected to a trigger zone it will disappear when the zone is activated.

[2022-05-13 22:10] synchromesh62 opened #3122 "Not seeing the Magnum in the Demos ?"
**Not seeing the Magnum in the Demos ?**
Have you renamed it and forgot to re-add it or is it just me ?

[2022-05-13 23:51] UNIRD12B commented on #2499
cant see any slider there yet at all....
ecen with all the advancced settings

[2022-05-14 00:00] 3coms opened #3123 "The player is pushed back when pressing spacebar[GGMax]"
When using the ladder in the water, pressing the spacebar pushes the player back, this way the player will never get out of the water.
The player should be pushed in the direction he is facing. :)

https://youtu.be/yPPLzlf0FPI

[2022-05-14 00:07] Necrym59 commented on #3112
Ok this one should do the trick from a trigger zone. You have the option to Hide or Show an object(s).
[hideshow_v2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8691855/hideshow_v2.zip)

[2022-05-14 00:31] Necrym59 opened #3124 "GGMAX - Build 2022.05.13 Saving grouped objects issue"
When saving grouped object it doesnt save the current rotations/angles of those objects in the group, or isnt reapplying them on import. However it does save a thumbnail showing how it should be. Also when saving and the naming field dialog appears can we have a save button as well as the cancel button.
Example a group was created from two chairs and a light, The thumbnail is created correctly and

[2022-05-14 00:32] MonkeyFrogStudio opened #3125 "GameGuru MAX - Bug - Viewport Sometimes Flashes When Mouse Over Object Library"
Sometimes, when the Object Library is open, if you move the mouse over the contents there, the view port will flash:

https://user-images.githubusercontent.com/36735507/168403938-31b5671a-0fe0-45ab-9115-3b3222cf7004.mp4

[2022-05-14 00:34] MonkeyFrogStudio commented on #3124
Saved group objects do not keep their rotation. Here's what the group should look like:

![save_group2](https://user-images.githubusercontent.com/36735507/168404019-76b5fbd3-e190-4b1e-b7ee-ed25877c39c6.png)

Here's how the saved group comes into MAX:

![save_group](https://user-images.githubusercontent.com/36735507/168404056-6da51a84-1bca-487f-ad7f-fe11c3299f1e.png)

Also, the saved group changed

[2022-05-14 01:12] Necrym59 commented on #3052
Seems ok but all the scripts with FOV are broken now i have to find whats different about it

[2022-05-14 01:53] mike123yy commented on #3112
Awesome! This is exactly what I needed! Thank you much, it works great! Thank you for taking the time to do this

[2022-05-14 07:06] Necrym59 commented on #3123
Space bar is for Jump off while climbing,  just climb to top to get off ladder

[2022-05-14 07:14] #3000 closed

[2022-05-14 08:30] fearlesswee opened #3126 "MAX - Add sliders/options in start marker for swimming!"
As it stands we cannot customize swimming behavior without having to _dive_ into the Lua script. It would be nice to have some configurable options here, such as:

- Swimming speed (Right now the swim speed is so extremely sluggish that it might as well not exist as you can't really make use of it in a level, especially when combined with the following issue:)
- Lung capacity/drown time (You drown

[2022-05-14 08:33] Tum1370 commented on #2988
On the latest build, the RED DOT is back, but it actually appears before you have the scope raised.
The moment you press the right mouse button the red dot appears, before the scope.

[2022-05-14 08:38] fearlesswee commented on #3126
And whilst on the topic of swimming, now that underwater is officially recognized as a valid location for gameplay (finally!), I'd like to remind TGC/Lee about the issues with the water shader: #1401

There are also some significant water shader improvements in the latest builds of Wicked Engine. Wicked did drop support for DX11, but it may be possible to backport from DX12 to DX11 for MAX?

[2022-05-14 08:49] 3coms commented on #3123
Got it!
Apparently, the player must climb a distance equal to the size of the ladder in order to drop the ladder; although when Amenmoses wrote the original script there was no possibility of using the ladder in the water, now the part of the ladder that is submerged in the water would have to be taken into account, but this would be going too far, as it is, it seems fine to me.
Basically, the pri

[2022-05-14 08:49] #3123 closed

[2022-05-14 08:56] Ratall commented on #3124
Bug reported #2965

[2022-05-14 09:55] synchromesh62 commented on #2499
Its there for sure .. Not sure why its not there for you.
![zone](https://user-images.githubusercontent.com/35708217/168420814-8ced3763-4fd1-409c-beaf-5cdb4cf3168d.png)

[2022-05-14 10:26] Tum1370 commented on #2815
@LeeBamberTGC
Has the DOOR lua changed on the latest update ? I use to change the navmesh from 20 block to 50 block which fixed this issue, But i cannot find the navmesh section now in the door lua

[2022-05-14 18:56] UNIRD12B commented on #2499
Thx ,
  i know you say its there but for some reason..
I cant see it in any of the marker and i wonder if thats true with others also ?

[2022-05-14 19:06] marcuswilm commented on #2076
Hello to the participants in this thread initiated by 3coms (3com in GG forum).

Upon request of that valued member (and skilled artist), may I suggest you to examine the content of this thread that I posted today in GG Forum (Product Chat (Early Access) : [https://forum.game-guru.com/thread/223626](url) .

Thank you.

:)

[2022-05-14 19:32] synchromesh62 commented on #2499
Was there an update yesterday ?
Im on the experimental build.

[2022-05-14 20:01] UNIRD12B commented on #2499
ok , im on yesterdays update and its still not there,,,
.......maybe its only on the experimental update yet....

[2022-05-14 21:24] casigus opened #3127 "collision issues"
hello!

I've angled this model (highlighted) and its completely  messed up  the collisions.

![image](https://user-images.githubusercontent.com/68471279/168448589-4876e1d7-74f7-4e83-8c9d-14c146ef09b0.png)

[2022-05-14 21:25] casigus commented on #3127
![image](https://user-images.githubusercontent.com/68471279/168448600-6a61c873-5e24-40ab-bc60-0eb92706ba43.png)

[2022-05-14 23:48] UNIRD12B commented on #2499
Publicpreview was the answer....On May 14, 2022 3:32 p.m., synchromesh62 ***@***.***> wrote:
Was there an update yesterday ?
Im on the experimental build.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-05-15 00:53] Necrym59 opened #3128 "GGMAX - Build 2022.05.13 Hole tearing in water issue"
When firing into water, hole tearing in the surface texture where the transparent splash is occurring.
https://user-images.githubusercontent.com/95015657/168452818-79f6e79d-6048-4458-9ddf-cbf60d69644a.mp4
![holes](https://user-images.githubusercontent.com/95015657/168452883-8c429f80-a2e6-485c-902b-7009c1277f5d.png)

[2022-05-15 01:02] Necrym59 commented on #3124
Yes this has other items reported as well

[2022-05-15 02:26] Necrym59 opened #3129 "GGMAX - Build 2022.05.13 Swimming/Drowning/Oxygen"
Now that swimming is in GGMAX we need a health/oxygen replenishment. Supplied is a script for oxygen and a bit of health replenishment for use if required.
[oxygen.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8694196/oxygen.zip)
![oxygen](https://user-images.githubusercontent.com/95015657/168454552-a801db0d-6d39-4cdf-9055-0a5afa23742f.png)

[2022-05-15 04:38] Necrym59 opened #3130 "GGMAX - Enhancement Request"
If possible can we have a video object such as a flat plain that will play videos. This can be utilised for a myriad of uses from in game camera screens or television displays etc, and being on an object allows it to be used as backdrops for menu screens as well as informational inserts. Being on an object allows for manipulation/placement via lua for extended uses
![1](https://user-images.githubu

[2022-05-15 08:06] Ghost-l0l commented on #3127
I can confirm this one, It happens also with simpler objects like rocks (it was happening to me when I was building grand canyon level - when I was turning rocks upside-down collision wasn't adjusted to model's rotation), and with different collision types, like convex hull or hull decomp

[2022-05-15 12:15] cybernescence opened #3131 "Severe Performance Issue - with large geometry wrapping player position - Max 22.05.13 version"
Hi guys. I am trying to build an 'Aztec' level using AA models and cannot get a satisfactory performance from Max.
I've investigated as far as I can without source code access :). The same models I can get running in both Wicked and Classic (a modified 32 bit indice version).

Presently with Max I can't even get all the models in without FPS dropping drastically and stuttering in 'play' mode. When

[2022-05-15 13:38] Pekuru opened #3132 "Collision Mesh Issues - .fbx and .obj scaling incorrect (MAX Version 22.05.13)"
Update 22.05.13 saw the introduction of Collision Mesh shapes derived from .obj files with identical names as the .fbx/.dbo in the same folder as the actual model. Upon inspection of this feature the transformation parameters don't seem to work properly.

To test it's functionality I have tried 3 different ways of exporting:
- .obj file using the exact same parameters as how the .fbx is exported.

[2022-05-15 18:22] casigus opened #3133 "frame rate so low."
the frame  rate is....

awrful.

![image](https://user-images.githubusercontent.com/68471279/168488015-81d262fb-434d-4d81-a71a-f1ea88144ba9.png)

[2022-05-15 18:23] casigus commented on #3131
yeah the fps for atricious atm.

[2022-05-16 02:56] desgames opened #3134 "Hitmarkers/Hit Feedback"
At the moment it doesn't feel like there is much feedback for when you actually hit an enemy with a gun, so I wanted to suggest adding a hitmarker display to the HUD or a hit sound effect that happens whenever you hit an enemy to help you know when you are hitting an enemy or not.

[2022-05-16 06:01] Kitakazi opened #3135 "Bullet Impact Decals not appearing in the correct spot"
When you damage an object the bullet impact decals are not appearing at the correct location. In this screenshot I am shooting the metal wall, and look where the "spark" from the bullet hit is appearing.
![20220516005425_1](https://user-images.githubusercontent.com/51464873/168528863-3926ab53-b712-4a81-ada9-5532470c7c6f.jpg)

[2022-05-16 06:04] Kitakazi opened #3136 "Red Dot in Compact AR"
What is the deal with the "red dot" when using ADS with this weapon?
The classic version has a real red dot that works fine., this current red dot is just an image on the screen and it leads to weird things happening like these screenshots where the dot is outside of the scope because its just a red circle in the center of my screen not attached to the scope in anyway.
![20220516005812_1](https://

[2022-05-16 10:17] LeeBamberTGC commented on #3122
@synchromesh62 Which demo, thanks :)

[2022-05-16 11:18] LeeBamberTGC commented on #3118
@AmenMoses Do you want to have a go at replacing the NegOneToOne random values to use perlin?  The technique I used was from a GDC talk a few years ago for trauma camera shake, but they did not go into detail on how they created their random values :)

[2022-05-16 11:44] synchromesh62 commented on #3122
Hi Lee
I first noticed it with mine  ( trapped ) But could it be just me ?
I was hoping to get a **Same For Me** response from others.
I can try a reinstall if its ok for you and the team.

[2022-05-16 11:46] LeeBamberTGC commented on #3122
@synchromesh62 I did fix an issue of the magnum and ammo being from the showcase folder, which is now devoid of weapons. I then added the weapons back in the latest build from the weapons folder, the latest versions of them. Maybe delete trapped from yoiur writable folder so you get the latest version of the level too :)

[2022-05-16 12:09] LeeBamberTGC commented on #1758
@rvanner With the next EXP build, check to see if I have fixed this one.

[2022-05-16 12:11] synchromesh62 commented on #3122
Ok i will try that :)
I did notice this log file in with my mapbank so maybe thats what i need to do.
**MISSING MEDIA:
entitybank\Showcase\Mk19T.fpe=replaceentitybank\Showcase\Mk19T.fpe**

[2022-05-16 12:15] LeeBamberTGC commented on #3122
@synchromesh62 Yes the plan will be to replace the showcase folder assets with a redirection system so the showcase can still host objects of interest, but they reside elsewhere in their proper place in the object library.  I will modify this issue into that task, saves some time :)

[2022-05-16 12:28] LeeBamberTGC commented on #1976
@bond1mjb These work great, and the Canyon Offensive level works well with the modified assets.

[2022-05-16 12:28] #1976 closed

[2022-05-16 13:26] rvanner commented on #1758
@LeeBamberTGC Seems fixed! Nice one!

[2022-05-16 13:26] #1758 closed

[2022-05-16 13:28] #2013 closed

[2022-05-16 13:32] rvanner commented on #3133
@casigus Please turn on the stats so we can see what's going on in this scene.

[2022-05-16 13:35] rvanner commented on #3128
I can confirm:
![image](https://user-images.githubusercontent.com/1503593/168604932-50e33d1a-4119-48ab-9ed9-528c09647351.png)

[2022-05-16 14:27] LeeBamberTGC commented on #3132
@Pekuru Send me these models FBX + OBJ to lee@thegamecreators.com in confidence and I will try to reproduce what you see. We have been using the OBJ collision mesh for assets we are creating in house and have not seen this one, and my instinct is to look closer at the FBX scaling first, but once I have the models I will know more :)

[2022-05-16 14:44] LeeBamberTGC commented on #2842
@casigus Let me know if you are happy to close this, and you can create a new one if you find issues with the importers offset and rotation feature, thanks!

[2022-05-16 14:45] #2842 closed

[2022-05-16 14:46] casigus commented on #3127
yes ill grab the  model now!

[2022-05-16 14:54] Pekuru commented on #3132
@LeeBamberTGC Email has been send!

[2022-05-16 15:25] LeeBamberTGC commented on #2856
@Tum1370 Cheers!!

[2022-05-16 16:11] Kitakazi commented on #2842
@LeeBamberTGC @ZakJudges
Hi Lee, the stair model is actually my model. I just replied to this thread as it was posted the same day I was having collision issues with my model and I didn't want to create duplicate issues.

I can try and reimport it when I get home and see if its still botched.

For more info, I most certainty did adjusted size and position/rotation in the importer.
 Additionally, t

[2022-05-16 16:16] Kitakazi commented on #2842
I don't have that issue with FBX models everytime. But when it does happen converting to GLTF always fixed them for me.

[2022-05-16 17:14] DaveTGC2 commented on #3130
This is a duplicate of this one: https://github.com/TheGameCreators/GameGuruRepo/issues/3050

[2022-05-16 17:50] Kitakazi commented on #2842
Next time it happens Ill make a new github post since this one is already closed.

[2022-05-16 18:02] Stefos-art commented on #2322
https://youtu.be/YKYyK4hfDN0

[2022-05-16 19:55] Lemuripest93 opened #3137 "GameGuru Max - Enhancement Request - Crouch-Jumping"
When you crouch-jump in GG Max you drop like a sack of potatoes, and so i'd like to have it properly added for more advanced platforming in levels, as it stands it's a requirement for one of my projects, so i'd be very happy to have it included.

I made a small video showcasing what this looks like in GG Max compared to what it looks like in a sandbox game like Garry's Mod by making two simple and

[2022-05-16 20:47] AmenMoses commented on #3118
Seems like the maximum value I can use with SetGamePlayerControlCameraShake is 25 (i.e. I can put larger values but GetGamePlayerControlCameraShake reports a maximum of 25.

https://vimeo.com/710530712

As you can see in the video the effect is not very good at 25.

[2022-05-16 22:52] Necrym59 commented on #3052
Hi Zac FOV is working ok just ' g_MouseWheel ' is broken so i cant adjust FOV in scripts except by keyscans can you verify this.
Thanks

[2022-05-16 23:39] LukeTheLukeLTL commented on #3110
@PaulSJ I have tried for the past few days to remove unnecessary objects (I have removed about 100 objects) but the performance has not changed. Removing other objects doesn't make sense to me, because otherwise the game would be empty. At this point I think there is something wrong with the engine as I have read that other users are also having the same problems.

[2022-05-16 23:53] Kitakazi commented on #3091
@PaulSJ
Hi Paul, the latest update did not fix my issue. This level only has about 2000 objects in it.
The stuttering is pretty bad in the editor as well as test game. Here is a video of the editor
https://www.youtube.com/watch?v=FgikYiaVaEA&feature=youtu.be

[2022-05-17 05:56] Necrym59 commented on #3052
Attached is a testFOV script that used to work with the mousewheel
[testfov.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8705547/testfov.zip)

[2022-05-17 08:17] Curiosityuk opened #3138 "Audio"
When zombies attack, the audio is a bit of a let down. Not because of the actual sound, but more the lack of it because more times than not it seems to be a silent attack with little effort.

Does anyone else experience this?

[2022-05-17 08:21] MonkeyFrogStudio opened #3139 "GameGuru MAX - Bug - Importer Does Not Generate Proper DDS from Surface file if PNG"
I use Substance Painter to create my PBR materials for MAX. With it, I can export out my textures when completed so I end up with an albedo, normal, and a single texture that contains the roughness, metallic, and AO in their proper channels. Of course, I've named this last texture "surface". Substance Painter does not export DDS files, so the surface file I end up with is a png. When I import my m

[2022-05-17 08:24] Curiosityuk opened #3140 "Animations"
I can see the animation tabs in the character creator, but when I import a model that claims it is rigged and animated. It fails massively.

Is this something I'm doing wrong or is there an issue with the animation when importing models?

Hope that makes sense?

[2022-05-17 08:28] MonkeyFrogStudio opened #3141 "GameGuru MAX - Bug? - Import Object Path Defaults to MAX Install Directory Instead of GameGuruApps Folder"
GameGuru MAX creates a "safe" place for the user to store their own work and objects under GameGuruApps>GameGuruMAX>Files. This should be the default location to save objects, levels, etc. However, when importing a model, if we choose a custom path:

![path](https://user-images.githubusercontent.com/36735507/168765945-216e685c-d769-4d91-b628-559a8e238452.png)

... it default opens to the GameGuru

[2022-05-17 08:33] ZakJudges commented on #3052
Hi @Necrym59, I got rid of start_wheel and instead checked if the mouse was greater than or less than 0, which seemed to sort the issue
[code]
to this:
[code]

[2022-05-17 08:33] MonkeyFrogStudio commented on #3139
Here's a screen shot of the initial import of an object:

![surface1](https://user-images.githubusercontent.com/36735507/168767128-ffd1c2d0-1ea8-4004-ae8f-59ec6bd559ae.png)

Notice the orange surface texture and how the object in the view port is bland.

Now here's a screen shot with the proper surface texture imported:

![surface2](https://user-images.githubusercontent.com/36735507/168767351-14cc

[2022-05-17 09:26] ZakJudges commented on #3096
@LeeBamberTGC @PaulSJ  I think this is caused by the water fog being applied below a fixed height, as if the water was a flat plane. Any ideas on an approach we could use to solve it?

[2022-05-17 09:30] MonkeyFrogStudio opened #3142 "GameGuru MAX - Request - Need Ability to Swap Textures and Animated Textures/Materials"
Let's say I have a sci-fi door that's locked. It has a panel with a big, red light indicating that it's locked. Then, when the player uses the keycard, the light changes to green and the door opens. Now, I am not talking about an actual light, but the emissive texture color for this object. We need a method for swapping out that emissive texture.

We also need a method to display animated textures

[2022-05-17 09:39] ZakJudges commented on #3095
@LeeBamberTGC @PaulSJ Any idea how I can hit breakpoints within Wicked code whilst running Max? I'm trying to inspect what happens after `if (debugBoneLines)` to see if I can find a cause for the bones not being visible

[2022-05-17 09:43] davetgc commented on #3142
Animated/Video textures is coming up a lot.

[2022-05-17 09:44] MonkeyFrogStudio commented on #3142
@davetgc That is awesome!

[2022-05-17 10:12] Tum1370 opened #3143 "GG Max - Request - AI Overhaul"
HI,
Could we please have a big AI overhaul. Currently the AI is really dumb, and needs a huge improvement.
When setting it so the AI can flank, They just look really stupid running around you, almost constantly.
Really they need to only flank, if you are not engaged with them.
The AI should have the ability to take cover if cover is available.
We should have the ability to allow the AI to work as

[2022-05-17 12:43] PaulSJ commented on #3095
@ZakJudges If you compile the DebugForGG version of the WickedEngine project then you should be able to step into any WickedEngine function. You can also open one of the WickedEngine source files in the GameGuruMAX project and set a breakpoint in the source file from there.

[2022-05-17 12:59] PaulSJ commented on #3096
Yes it is caused by the underwater fog. The problem is that when the player is underwater there is nothing drawn between the player and the terrain underneath the water that can modify the render.

For example when the player is above the water an looking down, the terrain is drawn first, then the water over the top of it, so the water can add the fog during its render. When the player is underwat

[2022-05-17 13:02] Tum1370 commented on #2880
@PaulSJ
 Ill close this one for now. It seems to off been a one off. I think the best thing to do is constantly do backups of maps just in case this does happen again.

[2022-05-17 13:12] ZakJudges commented on #3069
@rvanner I have tried to combine the moved objects into the same undo event as the terrain sculpt but I am having issues. The undo system wasn't made to combine events from different master undo stacks (objects and terrain), so its proving to be quite a big task. I am just wondering if I should leave it as is, or if it is definitely worth the time combining them into the same event?

[2022-05-17 13:57] earthling45 opened #3144 "Request separate water plains."
The request is to have separate water plains for dyked waterways which are of course higher than the land area next to it.
If this can be done as a spline with adjustable width and direction of flow that would really add to the realism of the landscape. :)

[2022-05-17 14:14] ZakJudges commented on #3096
@PaulSJ Thanks for the detailed explanation :) I saw there was some recent work done to the Wicked Engine for the underwater visuals: https://www.youtube.com/watch?v=EzUCu7te_8U
I don't know if we are still trying to get the most recent Wicked Changes in but maybe that would sort it?

[2022-05-17 14:19] ZakJudges commented on #3082
@casigus Do you have access to the experimental build?

[2022-05-17 14:32] PaulSJ commented on #3096
Looks like that would work, if you can figure out how it was done then we may be able to replicate it in our version. I suspect the water render was changed so that it renders some of the mesh in front of the camera, which would enable it to modify the scene. Either that or it uses a post process effect. RenderDoc might give you and idea of how it's working if you download a copy of the current Wi

[2022-05-17 15:37] smallg2020 opened #3145 "Cloned entities won't connect to the shooter logic"
if you clone an object that is already connected to a flag or object via the visual logic system you can't connect anything to the cloned object
[https://youtu.be/6J4KBLwSGC8](url)

[2022-05-17 16:05] ZakJudges commented on #2662
@LeeBamberTGC Wondering if you could take a look at this? :)
In `SetWindowTitle()` I convert the passed in string to wide char with `MultiByteToWideChar()` which works when creating a level using the Terrain Generator (ImGui dialog). But when you save a level using the "Save Level As" button, you get a windows file dialog. Naming the file "Wüste" results in the passed in string already having the

[2022-05-17 18:07] AmenMoses commented on #3118
https://vimeo.com/710904400

Bypassing SetGamePlayerControlCameraShake in this video and generating an earthquake effect.

Is this what you are after?

[2022-05-17 18:37] LeeBamberTGC commented on #3118
@AmenMoses A good shake :)  @ZakJudges How does this compare with the most recent one you edited?

[2022-05-17 18:39] LeeBamberTGC opened #3146 "Subtle issue with player env probe creating outdoor artifacts"
See this video and look at the walls as the player climbs the stairs:

https://www.youtube.com/watch?v=7rD6-EEeF4Q&t=19s

[2022-05-17 18:39] casigus opened #3147 "teleport needs a zone height"
the teleport needs a zone height, just ended up teleporting into the boiler room of the titanic !

[2022-05-17 19:00] casigus commented on #3082
i believe so on steam?

[2022-05-17 19:00] casigus commented on #3082
oh wait. no. i do not.
![image](https://user-images.githubusercontent.com/68471279/168890040-9e5a4b12-c832-4d80-a1ac-50efd0aa2a8e.png)

i mean do have a max installer saved somewhere, the one on my store accounts disapeared !

[2022-05-17 19:12] AmenMoses commented on #3118
Btw, shake requires 3 variables, the amount to apply (trauma) the amount by which it abates each frame (fade) and the rapidity of the shake effect (period).

I have added functions to gameplayercontrol.lua in order to allow these to be set from other scripts whilst still honouring the SetGamePlayerControlCameraShake function (which under the covers simply calsl the new AddGamePlayerControlShakeTra

[2022-05-17 20:14] MonkeyFrogStudio commented on #3142
@davetgc These are old features that have been in 3D games almost since the beginning (in one form or another). Even the original DOOM had some form of animated textures. Yet, we cannot do this in GameGuru MAX in 2022. ;) So, yeah, I bet a lot of people are asking for this.

[2022-05-17 20:23] AmenMoses commented on #3118
https://vimeo.com/710952020

In this video the values I've used are 35 for trauma, 3 for fade and 30 for period.

Towards the end of the video I hammer the E key to show the additive shake effect.

Btw this video also shows another strange bug, when Bob starts moving he sort of takes an instant rotation to the right for some reason I can't fathom.  Also at the end of the action Jane is supposed to

[2022-05-17 20:40] Lemuripest93 commented on #3137
Small correction: crouch-jumping works for short distances, what i essentially want is for it to work on long-distance jumps.

[2022-05-17 20:47] LeeBamberTGC commented on #2815
@Tum1370 Door script changed further in latest EXP build now uploaded.

[2022-05-17 21:05] LeeBamberTGC commented on #2662
@ZakJudges Nothing leaps out. Give it another 20 minutes of stepping through and experimenting, then assign to me :)

[2022-05-17 21:06] LeeBamberTGC commented on #3082
@casigus Use beta code "lettesterin456" to get access to the EXP build :)

[2022-05-17 21:18] Necrym59 commented on #3052
Oh thanks for that Zac,  although that does work it seems the reporting from g_MouseWheel has changed since i had done the original script, it doesnt seem to be reporting back increments at all, that appears to be the problem, it may be an issue and need to be looked into.

[2022-05-17 21:19] casigus commented on #3082
ahah testerin. on IT ill shout back results!

[2022-05-17 21:25] Tum1370 commented on #2815
@LeeBamberTGC
Thanks, Just tested the latest EXP build, Was working fine on my level were my hostage was running through doors.
Ill close this issue now.

[2022-05-17 21:25] #2815 closed

[2022-05-17 21:30] casigus commented on #3082
Oh boy! that didn't go well at all! 1.1fps and still no material sound! fps is 25/30 in the editor but the second the game map loads up BOOM fps drops too 1/2

[2022-05-17 21:34] LeeBamberTGC commented on #3082
@casigus Is this a separate issue? Is the material sound sorted for the current EXP build?

[2022-05-17 21:36] LeeBamberTGC commented on #2322
@Stefos-art The values on the left are a little blurry to read in the video. Can you find a few slow sections of the same level and do a full-resolution screenshot of the left panel so I can see which element is making things slow down, thanks!

[2022-05-17 21:37] casigus commented on #3082
nope! still no material sound unfortunately.

[2022-05-17 21:41] LeeBamberTGC commented on #3082
@casigus Try adding some snow down and walking on that. Or walking through shallow water at the waters edge.

[2022-05-17 21:43] casigus commented on #3082
on it!

[2022-05-17 21:49] casigus commented on #3082
now! going into shallow water, nothing, deeper water, the sounds are quite good, as for the snow. nothing.

[2022-05-17 22:06] LeeBamberTGC commented on #3082
@casigus Can you make a video and attach here with the FPM level you made to test, I can then see what you see (and hear) and also reproduce with the level, that might get us closer. Also try VERIFY FILES on Steam in case those audio files are missing or corrupt.

[2022-05-17 22:12] Kitakazi commented on #3136
Oh I see. For some reason I didn't even think about it being a crosshair. Not a problem I will remove it then and add my own red dot. Thanks.

[2022-05-17 22:12] #3136 closed

[2022-05-17 22:15] casigus commented on #3082
yes! heres the video, https://www.youtube.com/watch?v=gd5Mjrp7dVA&feature=youtu.be

and heres the level!

https://drive.google.com/file/d/109EbyavFsvvSirtNqzxL77R-aIy9YT3a/view?usp=sharing

:)

[2022-05-18 00:54] Kitakazi commented on #3142
Yes please we need a way to change emissive textures and probably color textures. Just like MonkeyFrogs example.
FPS Creator had the "ALT Texture" where you could set in the FPE of an object its alternative texture. It was perfect for things like lights, flickering lights, switches, monitor screen changes, text changes on displays, etc. Really good for when a player activates an object and you wan

[2022-05-18 00:55] Kitakazi commented on #3138
yea the audio on characters leave alot to be desired.

[2022-05-18 07:19] Stefos-art commented on #2322
![Screenshot_34](https://user-images.githubusercontent.com/62201786/168980431-a4854bb8-1683-45ad-ae9c-96519db0fc77.jpg)
![Screenshot_35](https://user-images.githubusercontent.com/62201786/168980476-c120b9d7-fad2-41bc-87f6-7a9a3591d4dc.jpg)

[2022-05-18 08:55] LeeBamberTGC commented on #2322
@Stefos-art Thanks for these, I can see the values now. Can you make sure that when the app is launched, your system is using the 3060 card and not the integrated Intel graphics?  It is definitely on the GPU side.  Also, can you try running the island demo in 1920x1080 and see if you get 60fps, as this will allow us to test the pixel fill part of the pipeline, thanks!

[2022-05-18 08:55] ZakJudges commented on #3118
@AmenMoses Sure thing, send away :) I really like the additive shake effect

[2022-05-18 08:59] ZakJudges commented on #3052
@Necrym59 Thanks, would you be able to start a new issue? Helps us track our bugs better :)

[2022-05-18 08:59] LeeBamberTGC commented on #3082
@casigus Thanks for the video. Could you do a second one with the ambient sound off, and just pick a large flat area of snow and run through it without jumping for 20 seconds. I can then should be able to pick up any footfall sounds If any.

[2022-05-18 09:35] Necrym59 commented on #3052
Ok will do..
Cheers

[2022-05-18 09:35] #3052 closed

[2022-05-18 09:39] Necrym59 opened #3148 "GGMAX - Mouse Wheel Issue"
The reponse from g_MouseWheel has changed since a few versions back, it used to report increments, after a some testing i found it doesnt seem to be reporting back increments at all, this appears to be the problem now there is no way to store or use the last known mouse wheel value which happens quite often in scripts.

[2022-05-18 09:59] Stefos-art commented on #2322
My graphics display is set to 1920x1080 always, please see below all information on my computer resources being used during running of the game.
![Screenshot_24](https://user-images.githubusercontent.com/62201786/169013007-5e149a22-aa81-4c44-a553-e1b55805c04d.jpg)
![Screenshot_25](https://user-images.githubusercontent.com/62201786/169013036-6d65ebbe-88e5-4a1f-b09c-725f7ee43d80.jpg)
![Screenshot_26

[2022-05-18 10:06] Stefos-art commented on #2322
This is a better read out for the graphics card the last one recorded the drop when switching to the screenshot software.
![Screenshot_28](https://user-images.githubusercontent.com/62201786/169014404-ed69fb32-5a17-41f3-b9b9-51236d02206a.jpg)

[2022-05-18 10:07] ZakJudges commented on #3088
Hi @MonkeyFrogStudio, thanks for reporting this issue. I have added a fix and will post here when it is in the experimental build :)

[2022-05-18 10:10] Stefos-art commented on #2322
Here is the GPU info
![Screenshot_29](https://user-images.githubusercontent.com/62201786/169015252-52a66292-eef8-4635-9fb9-decfa9a2fc6e.jpg)

[2022-05-18 10:21] Stefos-art commented on #2322
Here is a shot of MSI Afterburner during play
![Screenshot_30](https://user-images.githubusercontent.com/62201786/169017299-0aa968fb-fcdc-4e8a-8a95-56d815104998.jpg)

[2022-05-18 11:26] casigus commented on #3082
yes! here you go!

did the verifying file thingy ma bob but alas still no joy.

heres the video!

https://www.youtube.com/watch?v=r1LYc8DQZVM

curiously has anyone else had this issue?

[2022-05-18 11:31] AmenMoses commented on #3118
I’ll send it later on Discord (when I’m off work), I take it you are Zak on Discord.

[2022-05-18 11:45] ZakJudges commented on #3118
@AmenMoses Yes that's the one. Alternatively you can reach me at: zak@thegamecreators.com
thanks!

[2022-05-18 12:14] AmenMoses commented on #3118
Sent you a friend request on Discord.

[2022-05-18 14:17] ZakJudges commented on #3061
@LeeBamberTGC I'm not too sure what you mean. Could you clarify what you want the new 'macro' to do? Should it just alter eleprof->quantity for the ammo? Thanks :)

[2022-05-18 14:58] casigus commented on #3082
oh intresting.

its very odd!! even when stand alones are exported still can't hear footfall! been like that for months!!

[2022-05-18 16:11] earthling45 commented on #2322
I'm quite puzzled by this because my RTX-2060 even at a resolution of 3440x1440 (21:9) does around 40/44 fps.

When gaming you could use GPU-Z for monitoring while playing, see if that gives some more clarity.

[2022-05-18 16:20] Stefos-art commented on #2322
Can you see something wrong here in GPU-Z?
![Screenshot_31](https://user-images.githubusercontent.com/62201786/169092524-aee3bcdb-8511-4640-b195-68afbbd37743.jpg)

[2022-05-18 16:45] earthling45 commented on #2322
![mon](https://user-images.githubusercontent.com/35744254/169096322-4644fe01-e73e-4ca0-b622-fabfcca2c740.gif)

As a reference, this is my GPU-Z file-reading while playing the demo

[2022-05-18 17:16] earthling45 commented on #2322
The GPU power draw shows a huge difference in my opinion compared to your graph.
Also visible in the 6 and 8 pin power, while voltage is high.

[2022-05-18 17:19] earthling45 commented on #2322
What is causing this is something i'm interested in and will look for tonight, your card should easily outperform my card, certainly because you are not running the same crazy resolution as me. :)

[2022-05-18 17:20] Stefos-art commented on #2322
Those readouts of yours show when your readings were flat line notice the almost straight lines at the end of your readouts, you need to take the snapshot while the game is running, you need to be fast at taking the snapshot as once you go to another software (snapshot) the graphics card slows down etc.

[2022-05-18 17:29] AmenMoses opened #3149 "Additional parameter to control Y offset of LookAtTarget(e,v,othere)"
https://vimeo.com/711314839

My two actors are being told to look at the player, using:

	SendMessageF( "lookattargete", e, 0 )
        SendMessageF("lookatplayer", e, 10)
in the script.

But notice how they can look left at the player, almost to 90 degrees, but can't look right to the same extent, in fact it looks to be only just off centre, maybe 20 degrees.

[2022-05-18 18:38] earthling45 commented on #2322
Yes i know but we see a whole history on those graphs, the numbers of a particular moment are not really that important.

[2022-05-18 19:21] MonkeyFrogStudio commented on #3088
@ZakJudges This appears to be fixed with the latest experimental build. At least the shadow settings are staying the same for me after importing a new object. ;)

[2022-05-18 19:21] #3088 closed

[2022-05-18 19:40] MonkeyFrogStudio opened #3150 "GameGuru MAX - Bug? - Object Library Not Quite Alphabetical?"
Where is the Object Library getting the names of the objects from, because it doesn't seem to sort object correctly by alphabet:

![alphabet](https://user-images.githubusercontent.com/36735507/169142247-95430508-a9a1-45ed-88ce-855172f74139.png)

Notice in my object list, MFD Floor Extend is followed by MFD Wall which is then followed by MFD Door Frame. I've named these so that, hopefully, all the

[2022-05-18 19:48] AmenMoses commented on #3118
https://vimeo.com/711368241

Video of the latest, two types of shake effect here, the slow drunk cameraman effect with sharp shocks overlaid.

Zak has this now so he can play with it and see how it looks with the 'hurt' effect.

[2022-05-18 20:12] LeeBamberTGC commented on #3061
@ZakJudges Yep, allowing the behavior to edit eleprof->quantity directly will do it :)

[2022-05-18 20:15] LeeBamberTGC commented on #3076
@ZakJudges Look for DuplicateFromList, it is a good indicator of how objects are duplicated. May not be the function, but has variables that share common features, and eventually you will add a break point near one that shows you the code responsible. Breakpoints are ALWAYS your friends in alien territory :)

[2022-05-18 20:32] LeeBamberTGC commented on #3118
@ZakJudges Do you want to take the latest EXP build script and make the changes as discussed here, and we can then look at how we can expose some settings through the player start marker (in developer mode) to give users the final choices. Thanks!

[2022-05-18 20:33] MonkeyFrogStudio opened #3151 "GameGuru MAX - Bug - Objects Imported as Physics On Despite Static Checked"
As the title says, objects are being imported into MAX as Physics On despite the Static box being ticked on import with the latest experimental build (2022.05.20).

[2022-05-18 21:08] earthling45 commented on #2322
Well, your certainly not the only one experiencing this problem.
I've been reading a lot but haven't gotten any wiser.

Though
-XMP must be turned on in the bios.
-make sure that in the Nvidea control panel under 3d settings the power management setting is performance.
(I don't know if there is also a powersaving setting in MSI afterburner/software)

For the rest, either wrong memory/settings or a

[2022-05-18 21:35] AmenMoses commented on #3118
The 'final choices' will depend on what triggers the shake and what effect is required, it would make more sense to use behaviours with dynamic Lua settings attached to trigger objects such as zones or other markers, or even to link trigger objects to behaviours.

For example link an explosive barrel to a camera shake trigger marker with the settings on it, so that when the barrel explodes it will

[2022-05-18 21:40] AmenMoses commented on #3118
One last comment for tonight, the gameplayercontrol.lua script I sent Zak was the latest I had from the experimental build, do I take it that you have also made other changes in the last few days?  If so it may be more sensible for me to be given the latest one with any changes you have made to integrate as I had to make a few other tweaks to get it working properly.

I also put the footfall and t

[2022-05-18 21:44] LeeBamberTGC commented on #3118
@AmenMoses The gameplayercontrol script on EXP Build right now is the very latest, and I will not be changing it again until Thursdasy 10 AM GMT at least.  Not sure if that is a sufficient window but yes if you can merge your best with our latest, it is a nice win :)

[2022-05-18 21:50] mike123yy commented on #2772
Yeah, if you're going to make anything doesn't direct you on a path straightforward this is definitely needed. I have a game I'm working on that needs this. Otherwise I have to make all the events happen from point a to point B instead of making the player go somewhere, triggering event and then go back and another event can be triggered. In an indoor location it kind of ruins the experience of ex

[2022-05-18 21:55] mike123yy commented on #3081
Also, I made custom doors to try to get around the problem. They seem to function fine with the legacy door script but as soon as you try to lock them or make them require a key they just stopped working. I don't understand the way the new doors are working, in the FPE file they don't show their animation sets so I'm not sure how the new door script is calling on the animations to function. Just h

[2022-05-18 22:26] Necrym59 opened #3152 "GGMAX - Enhancment Requirement in Lua"
Lee is it possible to expand/extend the collision radius of the player capsule and if so can we have the command exposed in lua, i have a number of scripts now and others that could really benefit from adjusting the collision radius to encompass carried objects etc. and it could greatly enhance the scope of things in MAX.

[2022-05-19 04:19] Kravenwolf commented on #3121
Thanks Zak!

[2022-05-19 07:55] Ghost-l0l commented on #3127
![rock](https://user-images.githubusercontent.com/101792609/169241496-22c314ca-96c6-473a-bb40-78252cf0eb4d.jpg)

@LeeBamberTGC Its this rock - I got it from sketchfab, and imported with Max's impoter. When placed normally - it works; but when placed upside-down - collision is a bit off and the more you change the scale the more broken collision is. Its like that for both convex hull and hull decom

[2022-05-19 07:58] MonkeyFrogStudio opened #3153 "GameGuru MAX - Bug - Group Issue with Spotlights"
I created a group that contained several elements (floor pieces, wall pieces, etc.), including a few spot lights. This group was duplicated several times to create a hallway. The test level was then saved and, later, re-opened to be worked on. Here's what I discovered:

![groups](https://user-images.githubusercontent.com/36735507/169242481-d9405b3a-8fe9-4f63-821b-f730b21a50eb.png)

- Some of the s

[2022-05-19 08:05] MonkeyFrogStudio opened #3154 "GameGuru MAX - Bugs - Aztec Game Kit Teaser"
I noticed a few issues with the Aztec Game Kit teaser:

- The player has issues climbing up any of the steps. The only way I could get up any of the stairs of the temples was to use the jump key.
- There was no ambient music like in the live broadcast.
- There as no combat music like in the live broadcast.

[2022-05-19 08:32] ZakJudges commented on #3151
Hi @MonkeyFrogStudio, I wasn't able to reproduce this. Do you have a model you could send me that shows the issue after importing? My email address is zak@thegamecreators.com

[2022-05-19 10:16] MonkeyFrogStudio commented on #3151
@ZakJudges After doing some more tests this morning, it may not be the importer. However, pieces are coming into the view port in the level editor as Physics On despite having been imported as Static. This has been happening to me after closing MAX and restarting later, then dragging pieces into the view port from the Level Objects area.

[2022-05-19 10:22] MonkeyFrogStudio commented on #3151
@ZakJudges Sent an email with a model and further observations via my Monkey Frog email address. If you don't receive it, let me know and I will send again via my personal email address.

[2022-05-19 10:28] ZakJudges commented on #3151
@MonkeyFrogStudio Thanks! I have received the model

[2022-05-19 10:44] ZakJudges commented on #3061
@LeeBamberTGC Added a new properties variable type: When "&" comes before the variable name, the corresponding eleprof variable will be found and pointed to for ImGui to alter. At the moment, the only eleprof variable you can specify is "quantity" but the system could support whatever variables we wish. The only restriction is that the name in the script matches the variable name on the C++ side (

[2022-05-19 12:14] ZakJudges commented on #3076
@Kravenwolf @MonkeyFrogStudio I have added a fix for this. Will post here when it is ready to test so you can confirm the fix. Thanks :)

[2022-05-19 12:54] LeeBamberTGC commented on #3082
@casigus Can you put this in your "Steam\steamapps\common\GameGuru MAX\Max\Files\scriptbank" folder, run test game and send me a screenshot of the prompt that will show at the bottom of the screen, thanks.
[gameplayercontrol.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8729197/gameplayercontrol.zip)

[2022-05-19 13:12] LeeBamberTGC commented on #2322
@Stefos-art @earthling45 Thanks for delving deep into the hardware and monitoring side.  Nothing leaps out at me as to the cause from the stats, and I agree it does look like both 2060 and 3060 cards are running MAX and show correct and expected values. The only thing I can guess is that our min spec is 970 while both 2060 and 3060 share some traits of the older GTX 960. Passmark clearly scores th

[2022-05-19 13:12] LeeBamberTGC commented on #3061
@ZakJudges Works as charm in the latest build on EXP!!

[2022-05-19 13:12] #3061 closed

[2022-05-19 13:13] smallg2020 opened #3155 "[BUG/FEATURE REQUEST] locked objects are blocking other objects"
can't click through locked objects like we could in classic
this feature was especially handy when you have large transparent areas on an object

[2022-05-19 13:18] earthling45 commented on #2322
There is another possibility i thought of last night.
Obviously if a graphics card has more than one power connector it is advisable to use two separate PCI-E cables from the PSU.
The PSU may have multiple rails to suply power to the system components.

[2022-05-19 13:27] earthling45 commented on #2322
@LeeBamberTGC I actually think that the RTX3060 is either configured wrongly or is not getting the needed power, it is underperforming quite a lot. :)

For me, i could try and see how the RTX performs on normal resolution if you want that, i think 40/44 at 3440x1440 is certainly very good already.
This is with the Island showdown demo. :)

[2022-05-19 13:34] MonkeyFrogStudio commented on #2322
What I find strange is I am running a much older card, a GTX 1080 ti. And, yes, it is a "ti", so it's got that going for it. But at 3440 x 1440, on the Island Showdown demo, with the latest MAX builds, I get close to 60fps (58+) out on the beach area and 50+ in the jungle. I realize that your card is a "60" and mines an "80", but there's several generations difference between them. I would think y

[2022-05-19 13:44] Stefos-art commented on #2322
Now that I agree with...what I don't understand is how come all the stats show normal operation yet for some reason me and others are getting low FPS. I bought this rig because I needed a reasonably fast card with lot's of graphics memory for the 3D animation work!!! I sometimes think my old GTX 1060 worked better than this RTX 3060 sometimes!

[2022-05-19 13:47] earthling45 commented on #2322
Ok. I've tried the demo with a resolution of 1980x1080.

My system:
AMD Ryzen 2600
16 gb ram
RTX 2060 6gb
win-10

The lowest fps is 60 in certain parts, obviously it is capped at 75 (my monitor settings) but i think it could go higher than 75 fps.

[2022-05-19 13:58] igor-gouveia opened #3156 "Water Foam - Suggestion"
Foam effect for water can make the water better, and it would better separate between land and water. Remembering that this is just a suggestion, thanks for reading.

![image](https://user-images.githubusercontent.com/55865487/169310274-39e5e7cf-12a6-44ce-90b2-b5404c80234a.png)

![image](https://user-images.githubusercontent.com/55865487/169310433-a0c243e9-1bd3-4fb0-a279-35a8c532956a.png)

[2022-05-19 14:26] earthling45 commented on #2322
That is the difference between a high-end gamecard 80(ti) and a budget gamecard 50/60.
Nothing strange about this and we should not forget that the 3060 is a RTX card, much lower power consumption, newer technique and capabilities compared to the GTX.
I think a 3060 TI would be on par with your card in terms of performance. :)

[2022-05-19 14:32] LeeBamberTGC commented on #3082
@casigus That at least shows the physics of the terrain is returning the correct material index, so we know we are standing and moving on snow :)  So that leads us to the sound files.  Can you zip up this folder "Steam\steamapps\common\GameGuru MAX\Files\audiobank\materials" and email it direct to me at lee@thegamecreators.com thanks!!

[2022-05-19 15:02] LeeBamberTGC commented on #3055
@Pcskiller Made changes to script and zombie behavior, can no longer eat brains through fence, as player now needs to be much closer, and also fixed smaller issues of only attacking when have line of sight. Bear in mind some chain link fences have gaps, and you can shoot through the edges of these gaps (and likewise the zombies can hit you back). Also stopped the very slow creep in position when z

[2022-05-19 15:08] casigus commented on #3082
done ! :)

[2022-05-19 16:28] AmenMoses commented on #3127
#2279

[2022-05-19 16:44] AmenMoses commented on #3152
If you simply scale up the capsule you will have problems getting through doorways etc.

What is really needed is to be able to add a separate shape to the player capsule and have them dealt with together, something like this must be possible as weapons do not get pushed through walls etc.

[2022-05-19 17:09] Ghost-l0l commented on #3133
over 10 milion polygons, whole army of characters, lots of dynamic lights - all in 1 scene - thats alot things to handle at once; whats your pc specs?
And I you got alot of different assets loaded into this level so memory is fully loaded with gigabytes of textures  - as your memory counter shows 33gb - that's ALOT if you ask me, when I'm building levels I always try to keep it under 10gb (and eve

[2022-05-19 18:43] jbthenext opened #3157 "Issue with gamecore folder in user "Files" directory"
This issue affects custom media that requires gamecore files, for example weapons.

When gamecore files are extracted to the user version of the "Files" directory (e.g. C:\Users\Jason\Documents\GameGuruApps\GameGuruMAX\Files\gamecore), the gun fails to load when picked up in MAX.

However if you extract the gamecore files in the Program Files location for "Files" the weapon works.

@LeeBamberTGC I

[2022-05-19 19:07] MonkeyFrogStudio commented on #3155
@smallg2020 I cannot get this to work in MAX. If I press the spacebar, then everything is deselected in the scene. The locked item remains locked, even with the mouse hovering over it when I press the spacebar.

The detailed entity list is a terrible way to do this as it's difficult to know which item is which. How can you tell #1 Light from #100 Light in the scene? It's almost a crapshoot when se

[2022-05-19 19:27] smallg2020 commented on #3155
yh seems to be a bit hit and miss actually, i only tried it because it's how it works in classic - i wonder if it's intended to work in Max or if the times it unlocks is actually a bug itself, now i'm testing it more it seems like it doesn't unlock unless they're selected

i'm not worried how they implement not selecting objects - layers would be the dream but i know that'll never happen

[2022-05-19 19:27] AmenMoses opened #3158 "MAX - Dynamic Lua issues"
I expected this:
-- DESCRIPTION: Shake type [@SELECTION=0(0=Add,1=Set)]
to give two selections with the default being the Add selection.
Instead I only get one option, i.e. for Add, the Set option does not show up.

I expected this:
-- DESCRIPTION: Fraction of film time [FTIME#=0.5(0,1)]
to give a slider going from 0 to 1 initialised to the default of 0.5.
Instead I get just the ability to enter t

[2022-05-19 19:33] MonkeyFrogStudio commented on #3155
Interesting. I've tried with the locked entity selected and not and I cannot get this to work at all. Every time I hit space, whatever's selected is deselected, no matter where my mouse is.

Frankly, I like the current way that lock/unlock works (i.e. being able to select a locked entity so you can unlock it). It's consistent with how other software works. But that's me (of course). It would be be

[2022-05-19 19:47] MonkeyFrogStudio opened #3159 "GameGuru MAX - Request - Enhance the Detailed Object List"
The Detailed Object list, as it is, is fairly useless ... or at least is very, very weak. However, it could be made a fantastic tool. Here are some of my suggestions for improving the Detailed Object List:

- When objects are selected in the viewport, they are highlighted in the Detailed Object List (and vise-versa). That way you don't have to guess what #13 Light is, you can see which light that

[2022-05-19 20:28] Necrym59 commented on #3152
Yes your right, i agree it would have to encompass the carried objects and augment the collision shape so how is it done with the carried guns at present and can we have that capability enabled to lua, it opens up a whole lot of possibilities for things.

[2022-05-19 20:30] Necrym59 commented on #3159
Also can we have the object number displayed in the corner of the object thumbnail please.

[2022-05-19 20:30] earthling45 commented on #2322
https://en.wikipedia.org/wiki/GeForce_900_series
https://en.wikipedia.org/wiki/GeForce_10_series
https://en.wikipedia.org/wiki/GeForce_20_series
https://en.wikipedia.org/wiki/GeForce_30_series

@LeeBamberTGC  I think this is what you were looking for, i thought of making a chart but found that it already is nicely done in Wikipedia. :)

[2022-05-19 20:32] Stefos-art commented on #2322
I know little about the mechanics of a computer
 Does this look to you that this card has more than 1 connector? I think I see 2 ...1 with 8 pins the other with 6?

![0-02-05-47368dd07705e6d4afd05ab00a8fe22ecc387ad906112f04ed59461ca26c1abb_760335d677c47176](https://user-images.githubusercontent.com/62201786/169399085-e542cbad-e10c-4900-be13-f09457ae0957.jpg)

[2022-05-19 20:34] earthling45 commented on #2322
Yes correct Stefos. :)

And if i'm seeing it correctly this is one cable with two connectors? Which PSU do you have, are you able to see the information?

[2022-05-19 20:39] Necrym59 commented on #3158
I thing the @ selection starts at 1 from what ive found. eg [@selection=1(1=Add,2=Set)] thats the way ive always used it
otherwise you have to check for nil all the time.
Also do we have a + or - option with Dynamic lua for negative numbers as well as positives?

[2022-05-19 20:39] Stefos-art commented on #2322
![0-02-05-8da5a50146f290dad2f239819472737595c99f797d885a01d6cb3252906512ca_778b6239b81584b7](https://user-images.githubusercontent.com/62201786/169400564-20d5f543-50cf-47f9-86a4-3a047bdd06c7.jpg)

[2022-05-19 20:40] Stefos-art commented on #2322
Yes it looks to me 2 connectors 1 cable

[2022-05-19 20:43] earthling45 commented on #2322
Brand is kolink?

[2022-05-19 20:45] Stefos-art commented on #2322
yes

[2022-05-19 20:54] MonkeyFrogStudio commented on #3159
The object thumbnail only shows the object ... but I can create multiple objects from it. So, if I have a door, it shows a single door. But I might have 20 of them in my scene. So, how would it show the number in the thumbnail?

[2022-05-19 21:05] earthling45 commented on #2322
If i'm correct this PSU has two cables for PCI-E, so it should be possible to adjust it and not draw all the power from one cable.
But you are not familiar with this so my advise is to ask someone who is, or if your system is still in warranty the advise is of course to go that route with the problem you have because the graphicscard is obviously not performing as it should.

[2022-05-19 21:10] Stefos-art commented on #2322
Thanks for the help, I will look into it!!!

[2022-05-19 21:12] Necrym59 commented on #3159
No i meant when you select an object, in the top of the right hand object tools panel, it could show it there.

[2022-05-19 21:18] MonkeyFrogStudio commented on #3159
If it just highlighted it in the Detailed Object List, then you would see the number there, too. ;)

[2022-05-20 01:23] Manuallly-Installed opened #3160 "Prone position 1st and 3rd person"
I would like to have the prone position added to 1st and 3rd person. A true snipper or military game should have the ability for characters to do that

[2022-05-20 07:06] GraPhiX-Guru commented on #2322
Hi Stefos-art,
Usually if a PC is not getting enough power it tends to crash a lot or even shut down, that is not to say your GPU degradation is because of power shortage but it is worth looking into.

RTX 3060 Ti demands 215 Watts at full load, PSU power efficiency drops over several years, so if your PSU is for example over 10 years old, a 650 Watts could have the equivalent power rating as a 45

[2022-05-20 08:36] ZakJudges opened #3161 "Autoflatten wrong height"
Sometimes, if you place a building on a slope with autoflatten enabled, the terrain is lower than the building after the autoflatten has taken place

![Screenshot 2022-05-20 093434](https://user-images.githubusercontent.com/32545391/169488887-5df14aa8-72a0-4980-bf14-b01ee19f2180.png)

[snow.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8737810/snow.zip)

[2022-05-20 09:02] ZakJudges commented on #3161
Additionally, if you change the height of the building with vertical smart positioning mode, the flattened terrain will not be changed, leading to this:
![Screenshot 2022-05-20 094851](https://user-images.githubusercontent.com/32545391/169494020-253aa0ae-7c96-42a6-be8a-9660bf4e1b62.png)

[2022-05-20 09:08] ZakJudges opened #3162 "Tree shadows performance"
With default settings on the forest biome, tree shadow rendering takes about 6.6ms on my machine.
![Screenshot 2022-05-20 095941](https://user-images.githubusercontent.com/32545391/169494282-099f8b7c-172e-4cd9-ace6-6825d3c6d4a8.png)

Reducing the sun shadow resolution brought the time down to 3ms
![Screenshot 2022-05-20 100050](https://user-images.githubusercontent.com/32545391/169494295-f95bfa2c-

[2022-05-20 09:18] ZakJudges opened #3163 "Combat music playing outside combat"
I enabled combat music (cellaratmos.wav) and the ambient music track (forest.wav) and when I tested the level the combat music played instead of the ambient music, even though I wasn't in combat.

[forest.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8738131/forest.zip)

https://user-images.githubusercontent.com/32545391/169496598-201ff735-f4a4-4e70-8982-20277719e101.mp4

[2022-05-20 09:26] AmenMoses commented on #3158
If I start them from 1 I get a blank option with 0 in it.

[2022-05-20 11:00] ZakJudges opened #3164 "Aztec Spear Animation"
Sometimes, after you have attacked with the Aztec Spear, you will see the spear being rotated back to its starting position. But it happens so fast that it looks like a bug. I have slowed the video down so you can see it better - see 0:05

https://user-images.githubusercontent.com/32545391/169514020-5bebf628-f6a5-490a-b8b4-764a598d681b.mp4

[2022-05-20 11:07] LeeBamberTGC commented on #3164
@bond1mjb Can you add a few more frames to this spear animation so the restoration of the spear rotates it out of view so it looks less like a glitch, and perhaps add some frames to rotate the spear at the start. The arrow head is point up when in idle, but directly down when the spear attack starts :)

Also, while you are on animation, can you lower the idle loop of the dagger animations so the h

[2022-05-20 11:08] LeeBamberTGC commented on #3163
@ZakJudges Yes this is the functionality. The tick will force the combat to start when the level starts, mainly for levels that are always in combat at the start, and then a script can switch it off when the user wishes.

[2022-05-20 11:08] #3163 closed

[2022-05-20 11:16] ZakJudges opened #3165 "Melee attack behavior cannot handle characters with guns and vice versa"
If you have a character with the "Melee Attack" behaviour and in character settings give them a gun then in-game, the character will stand still and look at you. But you can still hear the melee attacks and they do damage to you.

If you have a character with the "Character Attack" behaviour and in character settings give them a melee weapon then in-game, the character will just look at you and so

[2022-05-20 11:19] LeeBamberTGC commented on #3082
@casigus All files look great, and I assume you can play the WAVs on your PC no problems if you select them directly and play?
[gameplayercontrol.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8739080/gameplayercontrol.zip)
Try this new script, it moves the prompt to the point where the play sound is called, and screenshot the numbers when you are moving over snow, thanks!

[2022-05-20 11:21] ZakJudges opened #3166 "Melee weapons don't line up with character hand"
When melee attack characters are in a combat stance, the melee weapon does not line up properly with the characters hand
![Screenshot 2022-05-20 121809](https://user-images.githubusercontent.com/32545391/169517431-4c58d2c6-d1e5-4ed8-bf25-5f47c1f46518.png)

[2022-05-20 11:22] LeeBamberTGC commented on #3165
@ZakJudges Some good points!  @rvanner Should we rename the Character Attack to Ranged Attack?  It is dangerous to remove the Character Attack behavior as many levels will be looking for that script, but we could have a system which can rename it from the UI perspective but keep the old file name in the background. A simpler option is to make it clear in the descrption that it is for RANGED combat

[2022-05-20 11:23] LeeBamberTGC commented on #3166
@ZakJudges Yes, it is one frame behind the character anim frame as it only knows the position of the hand from the last frame when placing the weapon in the game. We will need a way to 'glue' objects to others so they can be resolved in the same frame, one for me for sure :)

[2022-05-20 11:27] AmenMoses commented on #3158
Well I'll be ... today the selection is working going from 1, I'm not getting the blank entry anymore!

Oh well, the slider for floats and the negative values still need sorting out.

[2022-05-20 13:02] DaveTGC2 commented on #3165
I personally think from an ease of user friendliness think the character should default to the correct behaviour depending on the weapon they are given. Maybe a check in the character script for the kind of weapon, if it's melee, call the melee script? When RPG goes in, I imagine users would want the characters to have inventories, and weapon swapping would be part of that. Certainly in games like

[2022-05-20 13:10] smallg2020 commented on #3155
yh it's not working like that for me today anymore either, just deselects like you say, seems my mind or my version was playing tricks maybe...
anyway the way it works in classic is locking entities makes the object semi-transparent, that way you can tell it's locked but still see where it is etc but it doesn't really get in the way - hiding objects would just be even more confusing in Max as the

[2022-05-20 13:12] LeeBamberTGC commented on #3165
@DaveTGC2 Hmm, interesting perspective.  How about this one.  We set ALL characters to Character Attack and that script can look at what weapon the character has and call the correct sub-script, be it a RANGED attack, MELEE attack, MAGIC attack, etc. That way the user can CHOOSE to explicitly set a behavior, but OUT OF THE BOX, the engine just knows which one to use?

[2022-05-20 13:15] smallg2020 opened #3167 "[FEATUREREQUEST] cloning a flag automatically links it to the parent flag"
making paths is currently very time consuming in Max, often i find the flags way too small and drag the connection to them only to miss the flag so a way to clone a flag and have it automatically link to the previous flag would be awesome for quickly laying out patrol routes

[2022-05-20 13:24] casigus commented on #3082
here you go! aye sounds play externally to max ! :)

![20220520142221_1](https://user-images.githubusercontent.com/68471279/169537332-c920aaae-8773-400c-a340-88c67176e8fe.jpg)

![20220520142233_1](https://user-images.githubusercontent.com/68471279/169537338-2be06276-c4b6-4475-8a2e-9b147888667d.jpg)

![20220520142253_1](https://user-images.githubusercontent.com/68471279/169537340-9b83eed8-837d-4eda

[2022-05-20 14:03] Tum1370 opened #3168 "GG Max - Bug - Loop3DSound Behaviour"
If you p[lace a behaviour Loop3DSound on a object, Then have that object "NOT Showing at start of level", Then sound is still playing, even though the object is not visible.

I placed a helicopter, with some Helicopter rotor blade sound, But i did not want the Helicopter spawning at the Start of the level.
But even though the Helicopter is invisible, i can still hear the rotor blade sound.

[2022-05-20 14:27] LeeBamberTGC commented on #3082
@casigus Do other sounds play such as ambient music and swimming/underwater sounds?  Does the sound play when you wade through shallow water (not swimming just running along the edge of the water)?  The more sounds you can confirm play the more code I can rule out, thanks again!

[2022-05-20 14:53] ZakJudges opened #3169 "Character animates slowly after test game"
[entitybank.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8741110/entitybank.zip)

- Happens to animated models brought into max via the importer
- Whilst the entity is attached to the cursor, the animation speed is slow
- Upon releasing the mouse button, the animation speed is fast again

[2022-05-20 15:09] bond1mjb commented on #3164
@LeeBamberTGC  Yes I can fix these issues on the spear.  It looks like the engine is doing is own keyframe interpolation to rotate the spear back to it's idle position, so I'll add a few more keyframes so it happen offscreen out of sight.

For the dagger, could you contact Gaby to provice the source 3ds Max files for those animations?  I will need them to do any modifications.

[2022-05-20 15:18] casigus commented on #3082
theeeeeeeeeeee water sounds fine, ambient fine, music fine, running along the water fine! PLAYER plays hurt sounds !

[2022-05-20 15:40] LeeBamberTGC commented on #3164
@bond1mjb I have asked for the dagger anim raw files :)  Will email them when I get 'em.

[2022-05-20 16:09] DaveTGC2 commented on #3165
Actually, that's what I was getting at, but you explained it better :).

[2022-05-20 16:28] smallg2020 commented on #3145
good news is i discovered if you duplicate from the "current objects" box (bottom-left where your grouped items are) it does clone correctly and you can connect the cloned object fine so you can use that instead of the shift drag or control-c/v duplicate

[2022-05-20 16:59] bond1mjb commented on #3164
@LeeBamberTGC  I've attached a new "attack2" animation.  There are now additional frames at the beginning  showing the spear rotating downward so the transition to the tip pointing down isn't instantaneous.   There are also additional frames at the end where it transitions back to the idle position offscreen.  Hopefully this fixes the glitchy look.

I've also attached a new "weapon.X" file that ho

[2022-05-20 17:25] LeeBamberTGC commented on #3164
@bond1mjb Worked a charm :)

[2022-05-20 18:35] therickman opened #3170 "ladder movement issue"
Hello ,
if the ladder is inclined  ( say 40 degrees or less  - used to bridge two zones which are not the same height ) but not straight up, moving close to the ladder's botttom  will make the character move straight up in the air, vertically.

If you jump on the ladder from the side, you can walk on the ladder, though.

[2022-05-20 20:43] TheCyberViking opened #3171 "BUG - Crash on Saving"
I started having this bug since the second last update and it's really annoying while working and saving I get maybe 3 saves on a level and then GameGuru just crashes and my save gets completely corrupted. when I load back up the game the level isn't in the storyboard but is replaced by generic storyboard place holder, when I import the level file from the save location, its completely empty envir

[2022-05-21 02:45] Necrym59 commented on #3170
you dont need a ladder script to be used at 40 degrees you can just move normally you can set the incline in the player settings

[2022-05-21 07:03] Necrym59 commented on #2923
Seems its fixed now :)

[2022-05-21 07:03] #2923 closed

[2022-05-21 13:49] Lemuripest93 opened #3172 "GameGuru Max - Bug? - Aztec Pack - Model 'Temple B' Causes Frame Drops"
I'm having some strange frame drops with both model variants of 'Temple B' from the Aztec DLC Pack, when you run up the stairs - around the top stair and floor there's some significant frame drops (see video below), not really sure what's causing it, my rig is more than powerful enough to run the engine and this is the first time the frame rate has dropped this low, i also tried this when _not_ re

[2022-05-21 13:55] Lemuripest93 commented on #3094
Speed slider has been added, and confirmed working.

[2022-05-21 13:55] #3094 closed

[2022-05-21 14:01] therickman commented on #3170
Hello thanks a lot for your answer.
You are right : I just needed to set it as a static object. I can move normally on it.
So there is no issue with it then. My mistake.

[2022-05-21 15:24] Shalshek commented on #3109
Hello! Sorry to bother you! Is there any progress in my problem? How long does it usually take to solve such problems?
Thanks.

[2022-05-21 15:31] DaveTGC2 commented on #3109
@Shalshek - The dev team doesn't work at the weekends, but I'm sure someone will get back to you soon. Unfortunately, I don't know what progress has been made so can't answer your question.

[2022-05-21 19:02] Lemuripest93 opened #3173 "GameGuru Max - Bug - Ragdolls Clip Through The Ground/Bug Out."
Wanted to play around with the ragdolls to see their tolerance for certain scenarios (in this case falling), the results speak for themselves: https://youtu.be/mzUOXj9ry6s

Whilst unintentionally hilarious, this should probably be fixed.

[2022-05-21 19:18] Kitakazi opened #3174 "Shadow Settings keep resetting when entering Test Game"
Everytime you enter a test game the shadow settings under the Shadows tab will be reset.
For example:
Here I set the shadows to these settings.
![image](https://user-images.githubusercontent.com/51464873/169666238-289cf4f3-140b-4f0e-ad7c-4e9d1cb03cc9.png)

And when I enter test game they revert to these settings.
![image](https://user-images.githubusercontent.com/51464873/169666199-4f5fbcf0-2c49-4

[2022-05-21 20:10] Kitakazi opened #3175 "Bugged Model in the Aztec Game Kit Scene"
In the Aztec Game Kit FPM one of the "City Platform C - Clean" entities is bugged and has collision blocking the stairs. The other "City Platform C - Clean" entities on the level are fine and do not have this collision bug. Dragging in a new "City Platform C - Clean" does not have this bug either. However if you copy and paste the bugged model the collision error will copy over to the new model.

[2022-05-21 20:25] Kitakazi opened #3176 "Melee Attack Characters dont like when player jumps in water"
https://youtu.be/Pkhhn0hbaLk

Melee Characters bug out if they chase a player and then the player jumps in the water.  Can they be made to walk back to their starting position and reset?
Also if they aggro to a player and then the player gets out of range they just stand idle where they were when the player got out of range. Shouldn't they walk back to their original position or patrol around?

[2022-05-22 00:11] rick594 opened #3177 "Hub Interface"
I can't scroll to access the top panels in GameGuru Max.
(See Screenshot
![ScreenHunter 19](https://user-images.githubusercontent.com/100201525/169672939-5da65dca-d3d2-479d-b3e7-0354f7535aff.png)
)

[2022-05-22 01:09] Necrym59 commented on #3177
Use the litttle diagram in botttom right to move the screen around

[2022-05-22 03:00] MonkeyFrogStudio commented on #3154
Combat music plays as of the Friday release. The other things reported above are still issues.

[2022-05-22 05:49] Teabone3 opened #3178 "GGM - Entity Library Index Does Not Update"
If you create a folder within the entitybank, or any file for that matter, you will not be able to see the new content appear in the Entity Library, as the index does not automatically update when you click the "Add" button.

To resolve, you should make it so when "Add" is pressed it rescans the entitybank library. Or add a small refresh button to the entity library window.

Currently, the way I u

[2022-05-22 08:04] Ghost-l0l commented on #3175
It's like that, because when I was building that map, I was changing collision types for simpler ones for alot of models, to keep performance on acceptable level. Most of Aztec models are rather high poly and many of them got "polygon" collision type set out of the box, which makes them very performance heavy. So it's just matter of changing collision type to "polygon", just keep in mind that if y

[2022-05-22 08:11] Ghost-l0l commented on #3172
It happens for me too, probably because it's very high poly model (there's few other high poly models in pack and same thing will happen when you try to use them).

[2022-05-22 09:59] Kitakazi commented on #3175
I see. I should have thought to check the collision. duhhh

[2022-05-22 09:59] #3175 closed

[2022-05-22 11:13] Lemuripest93 commented on #3172
Yeah, i did an experiment and placed 8 rows of 'Temple A' down each containing 10, so 80 of them, and tried to see how my rig would fare, and my FPS would drop down to 30-something then re-stabilize and hoover around 50/60. Then i placed 1 'Temple B' in the middle and when approaching it, it would stay around 20 and 30 FPS nearly constantly until i walked away far enough from it.

Using 80 'Temple

[2022-05-22 11:46] AmenMoses commented on #3173
Apart from not making craters that looks about right. :)

[2022-05-22 11:59] #3170 closed

[2022-05-22 14:52] zeebon opened #3179 "locked doors and slidind doors"
cant seem to make locked doors open with a key or make sliding door work with switch looked at demo game switch escape and copied their setup still didnt work have had locked door and key working in the early version cant get it working know tried uninstalling it but the old stuff still there like saved games and old names still there

  regards mark

[2022-05-22 17:07] Teabone3 commented on #3178
I should add that this is also an issue for the script library. It won't show newly added scripts unless you fully close Game Guru Max and re-launch.

[2022-05-22 17:52] Lemuripest93 commented on #3179
Old saves and maps are not found in the root installation folder, but in documents.

Follow the path of [> Your Computer > Documents > GameGuruApps > GameGuruMax > Files > mapbank] and you should be able to erase old saved maps/projects you no longer want.

Door behavior is weird for me right now as well, i'm sure the devs will have it sorted out in one of the future updates.

[2022-05-22 17:56] zeebon commented on #3179
Cheers for that

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 22 May 2022 18:53
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] locked doors and slidind doors (Issue #3179)

Old saves and maps are not found in the root installation folder, but in documents.

Follow the path of [> Your Computer > Doc

[2022-05-22 20:16] Lemuripest93 commented on #3173
![ggmaxdeadbodybug](https://user-images.githubusercontent.com/104637906/169714024-baade8d8-64f0-45d3-b957-e23d17c35c99.png)

This also happens sometimes during death animations, lol

[2022-05-22 20:36] Stefos-art commented on #2322
Thanks for the help, I will look into it!!!

Hey Thanks for all the info!!!!!

[2022-05-22 22:37] Curiosityuk opened #3180 "Torch"
Is there any chance of giving the torch a bit of a boost?

I'm working on a game and the torch is hardly noticeable In some areas. So could you please give it a bit more power and maybe even an option to turn the power up or down?

[2022-05-23 05:13] Teabone3 opened #3181 "GGM - Failed Sprites Crash Game Guru Max"
If a sprite fails to load, Game Guru Max will crash.

It would be more preferable if an error prompts and the game test goes back to the editor.

[2022-05-23 05:33] #3176 closed

[2022-05-23 05:34] Kitakazi commented on #3135
Bullet holes are not showing up either.

[2022-05-23 08:22] #3107 closed

[2022-05-23 08:25] ZakJudges commented on #3076
Hi @Kravenwolf @MonkeyFrogStudio The update that includes the fix should now be available. Could you confirm if this issue no longer occurs? Thanks!

[2022-05-23 08:25] #2924 closed

[2022-05-23 08:28] ZakJudges commented on #2499
Hi @UNIRD12B, there was another update yesterday. The zoneheight variable should definitely be there now. Could you confirm if this issue can now be closed? Thanks :)

[2022-05-23 08:28] #2362 closed

[2022-05-23 08:29] ZakJudges commented on #2294
Hi @Tum1370, is this issue now fixed for you?

[2022-05-23 08:29] #2290 closed

[2022-05-23 08:30] #2225 closed

[2022-05-23 08:37] ZakJudges commented on #2150
Hi @UltraVox001, is this issue now fixed for you? Thanks!

[2022-05-23 08:42] #2179 closed

[2022-05-23 08:42] ZakJudges commented on #2174
Hi @synchromesh62, is this issue now fixed for you? Thanks :)

[2022-05-23 08:45] ZakJudges commented on #2079
Hi @42Pix3ls, is this issue now fixed for you?

[2022-05-23 08:45] #2077 closed

[2022-05-23 08:47] #2065 closed

[2022-05-23 08:49] #2031 closed

[2022-05-23 08:49] #2637 closed

[2022-05-23 08:49] #1885 closed

[2022-05-23 08:50] #1809 closed

[2022-05-23 08:52] #1797 closed

[2022-05-23 08:53] ZakJudges commented on #1776
Hi @smmaas @UltraVox001, could you confirm if this issue is now fixed for you? Thanks!

[2022-05-23 08:53] #1696 closed

[2022-05-23 08:54] #1642 closed

[2022-05-23 08:54] #1615 closed

[2022-05-23 08:55] #1367 closed

[2022-05-23 08:59] #1302 closed

[2022-05-23 09:12] ZakJudges commented on #3140
Hi @Curiosityuk, could you attach a screenshot of what you see in the "animation tool" menu, whilst importing the model you are having issues with:
![Screenshot 2022-05-23 101147](https://user-images.githubusercontent.com/32545391/169785850-bc03435f-68c2-4e49-a0e6-91fac295bdf1.png)

[2022-05-23 09:17] ZakJudges commented on #3179
Hi @zeebon, would you be able to send a video of the issue, so we can see what's going on? Thanks :)

[2022-05-23 09:21] ZakJudges commented on #3177
Hi @rick594, as Necrym59 said, you can use the box in the bottom right to move the screen around. Alternatively, you can click and drag on any empty grid space

[2022-05-23 09:21] #3177 closed

[2022-05-23 09:35] 42Pix3ls commented on #2079
Perfect, Thank you.

[2022-05-23 09:39] #2079 closed

[2022-05-23 09:50] butch098 commented on #2808
It is fixed , thank you very much ! great work  Envoyé à partir de Courrier pour Windows De : ZakJudgesEnvoyé le :lundi 23 mai 2022 10:27À : TheGameCreators/GameGuruRepoCc : butch098; MentionObjet :Re: [TheGameCreators/GameGuruRepo] snow tree spawn when not selected (Issue #2808) Hi @butch098, this bug should now be fixed. Could you confirm that is the case after downloading the latest update? Tha

[2022-05-23 09:51] ZakJudges commented on #2808
Thanks for confirming, closing this issue

[2022-05-23 09:51] #2808 closed

[2022-05-23 10:22] butch098 commented on #2808
Np  Envoyé à partir de Courrier pour Windows De : ZakJudgesEnvoyé le :lundi 23 mai 2022 11:52À : TheGameCreators/GameGuruRepoCc : butch098; MentionObjet :Re: [TheGameCreators/GameGuruRepo] snow tree spawn when not selected (Issue #2808) Thanks for confirming, closing this issue—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message

[2022-05-23 10:27] ZakJudges commented on #3118
@LeeBamberTGC I have emailed you the updated files. Just need to decide which settings will be exposed to the end user and in what situations the shake will be triggered :)

[2022-05-23 10:49] MonkeyFrogStudio commented on #3076
Looks to be fixed on my end! Thanks, @ZakJudges !

[2022-05-23 11:08] Pcskiller opened #3182 "Swimming and other functions in gameplayercontrol.lua and other lua functions"
![image](https://user-images.githubusercontent.com/41600041/169806393-597fbeec-6f2b-4317-8703-3a4e0a7cfb26.png)

[2022-05-23 11:31] UNIRD12B commented on #2499
Hi JakJudges ,yes  I explained in my answer to you last week that it was actually in last week's...PUBLICPREVIEW.. and ,It seems , so far ,  to work as proposed.Thx so much.UNIRD12BOn May 23, 2022 4:28 a.m., ZakJudges ***@***.***> wrote:
Hi @UNIRD12B, there was another update yesterday. The zoneheight variable should definitely be there now. Could you confirm if this issue can now be closed? Thank

[2022-05-23 12:23] ZakJudges commented on #2499
Thanks for confirming, closing this issue

[2022-05-23 12:23] ZakJudges commented on #3076
Great, thanks for confirming :) Closing this issue

[2022-05-23 12:23] #3076 closed

[2022-05-23 12:42] zeebon commented on #3179
It’s alright i got a runtime error and wiped everything out

Sent from my iPhone

On 23 May 2022, at 10:17, ZakJudges ***@***.***> wrote:

﻿

Hi @zeebon<https://github.com/zeebon>, would you be able to send a video of the issue, so we can see what's going on? Thanks :)

—
Reply to this email directly, view it on GitHub<https://github.com/TheGameCreators/GameGuruRepo/issues/3179#issuecomment-113440

[2022-05-23 13:32] PaulSJ commented on #2193
It's the same issue, caused by the downsampling of the depth buffer. It's also an issue in the current WickedEngine so this may be as good as we can make it for now.

[2022-05-23 13:39] Stefos-art commented on #2322
@GraPhiX-Guru [GraPhiX-Guru](https://github.com/GraPhiX-Guru)
@earthling45
@LeeBamberTGC
@MonkeyFrogStudio
I would like to thank you all for helping in this problem of mine, YES it was the power cable, I switched around one of the cables so now both power inputs are on separate cables and I am now hitting the 50's FPS on Island Showdown, now obviously there should be more speed but with the furthe

[2022-05-23 13:45] LeeBamberTGC commented on #2322
@Stefos-art Wow, what an amazing thread!!  Big thanks to all who helped here, and definately one for me to remember next time someone has mysterious performance issues :)

[2022-05-23 14:20] Lemuripest93 commented on #3179
Here you go: https://youtu.be/aXuDuwcU5nw

[2022-05-23 14:29] ZakJudges commented on #3158
@AmenMoses Thanks for reporting these issues. I have added a fix for both which should be in an experimental build in the next couple of days.

[2022-05-23 14:49] ZakJudges commented on #3174
Hi @Kitakazi, I have a feeling your test level graphics settings are set to medium. Could you confirm if that is the case? You can view the setting here:
![Screenshot 2022-05-23 154838](https://user-images.githubusercontent.com/32545391/169846391-8ad5826a-6fd2-4f9b-a0ed-7ce14fe9384f.png)

[2022-05-23 16:30] LeeBamberTGC commented on #3135
@Kitakazi Confirmed in current build, thanks!

[2022-05-23 16:34] LeeBamberTGC commented on #3118
@ZakJudges In and working nicely for this weeks build :)

[2022-05-23 16:34] #3118 closed

[2022-05-23 16:37] smmaas commented on #1776
Haven't had the problem for a while so it looks fixed

[2022-05-23 17:03] Kitakazi commented on #3174
Ah yea, that must be what was going on. Thanks.

[2022-05-23 17:03] #3174 closed

[2022-05-23 18:16] earthling45 commented on #2322
Glad that your problem is solved @Stefos-art :)

I don't know if they are aware that this occurs when only one cable is used, they should know if it is their profession so it certainly can't hurt to notify them of this. :)
I dont know how many drives and fan's you have in your system but your current PSU might also be a bit to light because 50's still seem to low in my view.
Another important part

[2022-05-24 00:20] Kitakazi opened #3183 "Ally characters will shoot enemies through walls"
https://youtu.be/MlrEd2ft02g

Ally characters with Character Attack are able to see, and shoot enemies through solid walls.
Not sure how the bullets are even passing through the walls.

[2022-05-24 08:15] ZakJudges commented on #1776
Thanks for confirming, closing this issue

[2022-05-24 08:15] #1776 closed

[2022-05-24 11:03] LeeBamberTGC opened #3184 "Standalone Executable Messaging Changes"
Some changes required for the standalone experience:

1. Change this text:
![image](https://user-images.githubusercontent.com/35840583/170019727-eb210f46-b57b-4b8a-abdf-9407b3e11200.png)
With the following replacement: "PLEASE NOTE: During the Early Access development phase, all games saved as standalone are considered test games. The games will include a startup message informing users that the g

[2022-05-24 11:06] LeeBamberTGC commented on #3184
@ZakJudges After the design doc and script validation work assigned this week, can you make it your next task, thanks :)  Ask Rick for the LINK as I currently do not have this to hand. It is a URL to a form that users can fill in and submit.

[2022-05-24 15:38] thor49 opened #3185 "GGMAX - TGC Download version - Every time I update or verify files Installer Deletes Booster Pack and Aztec Game Kit."
This is getting very frustrating.. Why is GGmax still silently deleting TGC packs and content and  Levels and projects..

What am I doing wrong..
It has to be something simple..
You would not  deliberately  delete these TGC products so it must be me..

The Booster Pack and Aztec do not give me access to change the install folder -
so you must be putting them in the correct place but why would you

[2022-05-24 15:44] thor49 opened #3186 "GGMAX - TGC Download version - The demo games never run from Play Game button GGMax just closes down."
I can run the demo game from the Editor rocket button but have never been able to run one  from the  Play Game button.

Where are the demo game folders located ?

[2022-05-24 17:08] #1600 closed

[2022-05-24 18:39] #2150 closed

[2022-05-24 20:56] thor49 commented on #2940
I have just retried this level now... and  both models are now working OK .
I had not been using it as I saw no mention work on this problem.
So I got a shock when I tried and it was all working again.
Thanks

but this has not fixed my other problem #2939 (180Y model turn)

[2022-05-25 08:50] LeeBamberTGC opened #3187 "Add a MIXAMO to MAX rig converter so all Mixamo animations can be imported"
It will not be least, but there should be a way to map the animations of the mixamo rig to the MAX rig. Artists can already do this manually, is there an automated approach?

[2022-05-25 09:00] #2940 closed

[2022-05-25 09:02] GraPhiX-Guru commented on #3187
I have also been toying with this idea :)

[2022-05-25 09:17] OldFlak commented on #1358
High team -thanks for all your hard work and an ever increasingly great engine!

FYI - I left this bug open as the original issue with shadows is not completely fixed. You can still easily get incorrect shadow effects.
Here is a shot taken two minutes ago:

![image](https://user-images.githubusercontent.com/12246318/170227483-09c6fc66-86ba-4b2b-995d-0fa8ba91425c.png)

Using Steam version here :)

[2022-05-25 11:03] MonkeyFrogStudio commented on #3151
@ZakJudges Things seem to be working fine for me (now) on my end, too. Not sure what was going on. So, I will close this, but keep an eye open for if it happens again.

[2022-05-25 11:03] #3151 closed

[2022-05-25 11:57] GraPhiX-Guru commented on #3187
What i have done is create a spreadsheet of unreal bone/joint names vs Mixamo names, this gives me a grounding for 're targeting'  animations.
[retarget.csv](https://github.com/TheGameCreators/GameGuruRepo/files/8770833/retarget.csv)

this may also help you but it is 4 years old https://github.com/jollymonsterstudio/Unreal-Tutorial-02-Animation-Retargeting

I am not a C++ developer so my version o

[2022-05-25 13:23] LeeBamberTGC commented on #3187
@GraPhiX-Guru Thanks for the mapping info. As you can see from the video, it takes about 20 minutes of manual fluff to get the animation into Unreal.  I do not think MAX users have that kind of patience, and will want a single button to do it all for them.  Still, some good pointers into the various steps required.  I have done this in the past (manually) and a few auto prototypes, and even after

[2022-05-25 13:35] GraPhiX-Guru commented on #3187
What if the MAX rig had the same names as the Mixamo rig would that not be half the battle? as you say 'weighting' is the main issue this is why you see twisting wrists etc.. as you put it ;) if you get the weights correct you are on the way to winning the war :)

[2022-05-25 15:30] chipchuh opened #3188 "cant launch gameguru"
![2022-05-25_202803](https://user-images.githubusercontent.com/104046757/170299884-0c9456b7-9e39-4642-91fc-64ffaadd2652.png)
cant launch gameguru
i have win 8.1 x64 nvidea 1050 Ti

[2022-05-25 16:07] ZakJudges commented on #3184
@LeeBamberTGC Committed to my branch, ready to test :)

[2022-05-25 20:41] MonkeyFrogStudio opened #3189 "GameGuru MAX - Request - Move Import 3D Objects to Front"
With the latest live broadcast and the latest experimental build, the ability to import your own models has been pushed back one more click into the UI. Now, if you want to use the UI to import your own models instead of using CTRL+I, you have to click on ADD, then click, Get More Objects, and then finally click Import 3D Models. Previously, this where the Get More Objects button was. Instead of r

[2022-05-25 20:45] Ratall commented on #3188
Gameguru Max requires Windows 10 or newer (64-bit versions only) and your GPU is under spec.  You may find gameguru Classic more suitable.

[2022-05-25 22:03] bbacle opened #3190 "Please make GameGuru MAX to run on Win7"
Can you please make GameGuru MAX able to run on Windows 7?
I know that Win10 has been out for a while, but there are many like me who still run Win7.
Thanks.

[2022-05-26 06:58] GraPhiX-Guru commented on #3190
Unfortunately that will never happen, Windows 7 is no longer supported by Microsoft, also the VR technology being used in MAX requires Windows 10.
I would highly recommend upgrading to at least Windows 10 maybe even Windows 11 as Windows 10 support will cease in 2025

[2022-05-26 07:30] Necrym59 opened #3191 "GGMAX - Water level Bug in Lua"
Using Lua, setting the command SetWaterHeight(v) changes the water level attributes ok but not the visual water level, i tried using the commad to ShowWater() but it does not update the visual water level set by attributes. Is this a problem or am i missing somthing.

[2022-05-26 07:36] Teabone3 opened #3192 "GGM: String Dynamic Lua Issue"
If you have more than one dynamic lua string fields, the first one will appear as a checkbox ,

-- DESCRIPTION: You can change [example1$="String Text 1"]
-- DESCRIPTION: You can change [example2$="String Text 2"]

First string in the editor will appear as only a checkbox rather than a string input field.

[2022-05-26 08:00] Teabone3 commented on #3192
Issued resolved. A typo in the variable was the cause.

[2022-05-26 08:00] #3192 closed

[2022-05-26 08:43] MonkeyFrogStudio commented on #2736
We definitely need the ability to control these settings via LUA. For example, the ability to change emissive colors or brightness would be great. As an example, we could make an emissive color pulse for emissive lights on a control panel or change a red light on a locked door door panel to green when it has been unlocked, etc. If transparency/alpha clipping is exposed to LUA, then objects could b

[2022-05-26 09:38] #3184 closed

[2022-05-26 10:04] marcuswilm opened #3193 "GG MAX Demos : Aztec Game Kit Teaser : a few problems with some LUA scripts"
Hello,

Yesterday I played with that superb demo 'Aztec Game Kit Teaser' included in the latest alpha build 2022-05-20.

First of all, my congratulations to the artist(s) who created those very beautiful characters and assets.
The artistic quality of that level is far above all what I previously saw in GG MAX.

When I played the level in the editor I received three error messages relative to "nil"

[2022-05-26 13:41] LeeBamberTGC commented on #3185
@thor49 I think you have found a bug, this is not by design for sure!  Leave it with me, I will find a solution for this weeks release :)

[2022-05-26 13:53] bbacle commented on #3190
I know that Win7 is no longer supported, & I do have Win10 on my system, but I had rather use Win7 to make my games in.

[2022-05-26 14:19] Lemuripest93 opened #3194 "GameGuruMax - (Late Development/RPG Mode) Request - Usable Audio Devices"
There are two ways that i've thought out this request, the first will be more or less be something to add later down the line for when the RPG mode is added, and the second could be functional in a regular FPS as well.

The first way works like you see in the images below, you pick up the object (in this case a cassette tape) and it would be stored in the player inventory, upon interacting with an

[2022-05-26 17:21] Morbott opened #3195 "Filter Effects Suggestions"
Hello,
During the last Live Broadcast my question about filter effects was answered. Lee suggested I email him which I did. Someone else suggested I post here as well.
I really liked where Lee was going with the idea of creating behaviours to be able to transition/trigger switches between filters. So consider this the reminder!
BUT...
My original question had to do more with the ability to create

[2022-05-26 17:59] mike123yy opened #3196 "Collection count text disappears too fast and needs customization"
when using the collection count script and it notifies the player when they pick up an object the prompt goes by way too fast and even if you extend the duration the maximum is still too fast. Also, the only color available is white and there's no way to change the font size. It would be very helpful if you could increase the font size and change the color to help the player see the prompt. And al

[2022-05-26 19:11] MonkeyFrogStudio commented on #3189
Thank you for the quick response on this! I truly appreciate it! :)

[2022-05-27 03:33] Teabone3 opened #3197 "GGM: Crash if Prompt Value is Nil"
if you use the Lua Prompt command and use a variable with it, and that variable is nil, then GG Max will crash.

Prompt(trythis)

[2022-05-27 08:11] AmenMoses commented on #3197
Prompt( TryThis or 'nil' ) is an easy fix for this.

In fact within Lua scripts, wherever there is the possibility of nil values being an issue you should protect against it.

[2022-05-27 11:11] AmenMoses opened #3198 "MAX: visual logic blobby connecting system (VLBCS) enhancement request"
Currently it is possible to link any entity to any other with the linking system but in a lot of cases that connection may not be logically sensible.

For example in order to enhance Cine|Guru to use the linking system the user should be able to connect a trigger zone to a camera or a camera to a position node etc, but connecting two cameras together is non-sensical, as is connecting two trigger z

[2022-05-27 11:42] AmenMoses commented on #3198
If the above was to be implemented it would also help the scripting side if the GetEntityRelationshipID( e, index ) function could also return the connection name if it exists for the linked entity.

i.e. local entityId, connectionName = GetEntityRelationshipID( e, 1 )

That way if I had a position node connected to 3 entities I would be able to quickly determine that a) They are genuine Cine|Guru

[2022-05-27 12:02] ZakJudges opened #3199 "Spear damage timing doesn't match animation"
Both the audio and point in time at which the spear does damage are not synchronised with the animation

https://user-images.githubusercontent.com/32545391/170695563-bd171e09-0f4b-4163-9d5f-dd3386e8cd5e.mp4

[2022-05-27 12:25] LeeBamberTGC opened #3200 "Crash when applying emissive texture from outside MAX root - 8003"
Select a character, choose an emissive texture file outside of the MAX areas, when then test game, we get his error and a crash:

![image](https://user-images.githubusercontent.com/35840583/170698729-ecde7366-f798-4b75-98fb-7b427daea88f.png)

[2022-05-27 12:42] ZakJudges opened #3201 "Some zombies have emissive textures for the eyes, but have an emissive strength of 0"
![Screenshot 2022-05-27 134123](https://user-images.githubusercontent.com/32545391/170701243-a1dbe676-9063-4d1f-b0a9-27155d6c504a.png)

[2022-05-27 13:32] jbthenext commented on #3190
This will not happen I am afraid as previously mentioned Windows 7 is now discontinued and is not relevant for new software.

[2022-05-27 13:32] #3190 closed

[2022-05-27 13:34] jbthenext commented on #3188
As previously stated your operating system is not supported, Microsoft ended support back in 2018. You need to update to at least Windows 10 to use GameGuru MAX

[2022-05-27 13:34] #3188 closed

[2022-05-27 15:34] Lemuripest93 commented on #3194
Quick comment, modifying the script for the fadeinsound behavior to allow use of button prompts for on/off could partially create the second option of the request, just some food for thought.

[2022-05-27 15:54] ZakJudges commented on #3185
Hi @thor49, thanks for reporting this issue :) The fix is now available for download. Note that since it is the installer itself being updated, the deletion of DLC bug will happen one final time

[2022-05-27 15:55] Tum1370 opened #3202 "GG Max - Bug - Compact Rifle + Patrol Rifle"
It would seem that these 2 guns are using the same ammo.
I was just adding AI to my level, and i gave my character a Compact rifle with 400+ ammo, only to test etc
Now after killing an enemy that used a Patrol Rifle, and only dropped 6 ammo, My character had 6 ammo in the Patrol Rifle mag, but also had the 400+ ammo for my Compact Rifle I started with.

[2022-05-27 23:01] Tum1370 opened #3203 "GG Max - Bug - Creating a Standalone"
I have just tried to create a standalone for my entry to the competition, end date tonight.
The latest version of Max is creating a error when i try to create a Standalone game, using the Steam version.
I have sent the map file to Rick as my entry for the competition instead.
This is not my fault when Max creates errors in the last hour while i am trying to create the Standlone.

![image](https://

[2022-05-27 23:13] synchromesh62 commented on #3203
I tried this with my game and can confirm the **exact same problem.**
Something is broken in todays build.

[2022-05-28 02:48] doctorikc opened #3204 "Bullet Holes not Working Properly"
If you shoot an object it will not show the bullet holes but if you shoot an enemy first then try to shoot the object it will show the bullet holes . . .  Only worked for AR Gun , not for the Pistols or other Guns . . . Please fix it.

Regards

[2022-05-28 03:47] Teabone3 opened #3205 "GGM - Feature Request - Alpha Clipping Variable"
A wonderful addition to Game Guru that Max brings is the ability to adjust the Alpha Clipping of an entity through the Advanced property, Materials. It would amazing if this variable was accessible in game and the ability to modify it in game.

Here is an example of a way it could be used:
https://www.youtube.com/watch?v=DVLIJpxtfNY

I think it would also be a cool way to make entities disappear.

[2022-05-28 05:58] dennimoto opened #3206 "Disruption Demo Level -"

[2022-05-28 11:39] fearlesswee commented on #3204
To build onto this, bulletholes also seem very picky about when they actually decide to appear. Sometimes you shoot an object in one spot and they appear, then you aim 5 inches to the left and shoot the same object in a different spot and suddenly they don't. It also seems like bulletholes cannot overlap even slighty, so if you shoot in the same general area only a single bullethole and puff effec

[2022-05-28 11:41] fearlesswee commented on #3202
This is not a bug, as they both use the same 5.56 caliber round. I can understand the confusion though because for some reason TGC decided to have two different listings of the same ammo box in the entity library as separate ammo boxes for the two guns.

[2022-05-28 11:44] therickman opened #3207 "built-in store logging issue"
Hello,
this is to report an issue when logging  to TGC store from within GGMAX. ( STEAM VERSION)

When the store page opens in the browser, the alternate connection method to the right is not accessible. It is the one that allows to connect via the gamecreators  account, which I use to connect via my steam account. ( and this my be the reason for the bug )

The solution is to connect to the gamecr

[2022-05-28 12:14] fearlesswee opened #3208 "MAX - SSAO does not affect terrain/generated trees/etc."
Currently SSAO only affects user-placed objects, and doesn't apply to the terrain or generated trees. This greatly reduces the effect of SSAO outdoors, which a shame because SSAO adds an extreme level of visual depth to a scene, and if it worked outdoors it would really boost MAX's visuals.

[2022-05-28 13:45] MonkeyFrogStudio commented on #3208
Reported here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2937

[2022-05-28 15:16] Zorgo33 opened #3209 "GGMAX - Game Creator Store downloader feature not working"
I've encountered an issue with the feature to write TGC store purchased items to game guru max library trough the provided menu, it gives out an error ''could not find any files to download'', althought i have a pretty big list of assets ready to download.
![Screenshot 2022-05-28 181018](https://user-images.githubusercontent.com/27580830/170831499-1233e2c4-fb16-41fc-96c5-62f9c5b76471.png)
![Screen

[2022-05-28 17:05] Lemuripest93 commented on #3202
I think after the devs implement the new gun mechanics Lee talked about in a stream not too long ago, it should show what ammo type each gun uses, that way people will end up less confused.

[2022-05-28 18:17] Maro32 opened #3210 "Door Sliding Delay Not Working"
Hi!

From the new update, it seems that the "Close Delay" feature of the Door Sliding behavior has no effect on the door. Even if I set an enourmosly large number, such as 10000, the door opens and closes exactly the same time as I set the delay to 0.

[2022-05-28 18:50] Tum1370 opened #3211 "GG Max - AI - Alert other character ?"
I can remember seeing a live stream were if you had all the enemies linked, and after you attack one of them, that one alerted the others it was linked to, so then they worked as a team.

Well this is certainly not working in the current build.

[2022-05-28 20:08] AxelOffline opened #3212 "Pathfindig network compilation very slow for heightmap levels"
Hi there,

every time a level is tested only around 12% processor load (win 10 with 32 gb ram) is produced over vast stretches. As the level is around 12 gb (working longer without restarting max it goes up to 20) the compilation takes quite long. Could the processing power be exploited somehow?

Has anyone else perceived this issue?

Cheers,
AxelOffline

PS: Thought formerly it might be related t

[2022-05-28 20:23] mike123yy opened #3213 "Standalone export no longer working, getting error"
every time I try to export my game to standalone or any other level or project I keep getting this error.
Path cannot be found
LOOKING IN C:\PROGRAM FILES(X86)\STEAM\STEAMAPPS\COMMON\GAMEGURU MAX\FILES
Followed by
RUNTIME ERROR 8003 O
this never happened before so I figure it's an issue with the latest build. I verified the files on steam and it couldn't find any problem. I also cut all of the fil

[2022-05-28 23:00] Necrym59 commented on #3210
Close delay only works in auto mode, how are you opening it?

[2022-05-29 03:42] MonkeyFrogStudio commented on #3211
Did you have it set up like it describes here in the User Guide:

https://gameguru-max.document360.io/docs/connecting-enemies-together

[2022-05-29 04:23] Tum1370 commented on #3211
I would not of posted if I hadn’t.
it’s not hard setting up the visual AI.

The AI really needs a huge overhaul as it lets Max down a lot.

[2022-05-29 04:29] Tum1370 commented on #3213
This is already reported here.

https://github.com/TheGameCreators/GameGuruRepo/issues/3203

[2022-05-29 08:16] Maro32 commented on #3210
Ohh, I see! Thanks for the reply! I used in manual mode. The truth is I miss the delay in manual mode. Some of my doors used to open delayed, and now they doesn't work as intended.

[2022-05-29 13:26] z2a2008 opened #3214 "GameGuru MAX not installed"
it started with the fact that GameGuru MAX stopped updating
![update_crush](https://user-images.githubusercontent.com/106475907/170870703-64d09a5c-95d1-41f0-a22f-48bc325d7381.jpg)
reinstalled the program - now it is not installed
![not_install](https://user-images.githubusercontent.com/106475907/170871071-215a3964-62ad-4d3a-934f-811975aebec7.jpg)
please help

[2022-05-29 15:20] Jisafu commented on #3203
I have the same problem

[2022-05-29 21:57] Kitakazi commented on #3135
@LeeBamberTGC
Reopening this one. I think it was fixed? But as of the current build the Impact Decals and Bullet Holes are missing again.

[2022-05-30 00:18] synchromesh62 commented on #3203
Yes seem to be getting quite a few reports of this now users are trying to test their standalones since the update.
It will probably be looked at in the morning now the weekend is out the way .

[2022-05-30 00:35] Kitakazi opened #3215 "Spawning in a character, with Character Behaviour set to Ally causes them to do no damage for their opening shots."
See video:  https://www.youtube.com/watch?v=mRzFx_Oogn4

What I expect:
Ally spawns in, walks to the flag linked to it and then upon seeing the enemy instantly kills the enemy with the first pistol shot. (enemies HP is set to 1)

What happens:
Ally spawns in, ignores any flags linked to it, walks past the enemy then turns towards it and shoots many rounds at a point blank range and the enemy takes

[2022-05-30 00:48] Kitakazi commented on #3183
@rvanner
Can this please be labeled as a bug?
Here is a video of it happening with stock assets. Video starts at 15 seconds in
https://www.youtube.com/watch?v=Z5DualLObi8

[2022-05-30 01:35] mike123yy commented on #3213
Thanks, I guess I overlooked that one when I was searching .  Glad it's been reported and look at

[2022-05-30 03:09] casigus opened #3216 "collisions"
just spent the last week in blender and importing these models into max.

the collisions work in the editor.

in the game test MOST if not all of them HAVE no collisions.

![image](https://user-images.githubusercontent.com/68471279/170910158-000e90f7-6651-416d-8e61-f187f10e38fd.png)

Im actually fuming.

a week of work wasted.

gonna go head butt a wall.

[2022-05-30 03:21] casigus commented on #3216
![image](https://user-images.githubusercontent.com/68471279/170911301-ece73e05-cce7-4bd9-b418-8794c8547691.png)

[2022-05-30 04:19] casigus commented on #3216
and of course.

https://www.youtube.com/watch?v=BQSHA-DxUic

and im done. good night/morning. 5am. been up to long trying to fix this.

[2022-05-30 08:57] ZakJudges commented on #3203
Hi all, thanks for reporting this issue. I have added a fix and will post here when it is available for download

[2022-05-30 08:58] ZakJudges commented on #3213
Hi @mike123yy, thank you for reporting this issue. A fix has been added and I will post in #3203 when the fix is available to download. Closing this issue as a duplicate

[2022-05-30 08:58] #3213 closed

[2022-05-30 09:06] ZakJudges commented on #3186
Hi @thor49, do you see an error message when you try to use the "Play Game" button?

[2022-05-30 09:08] ZakJudges commented on #3191
@Necrym59, try calling` SetUnderwaterOff()`
If that doesn't work then feel free to label this as a bug and I will take a look

[2022-05-30 09:16] ZakJudges commented on #3208
Hi @fearlesswee, thank you for reporting this issue. I will close this as it is a duplicate of #2937. Feel free to check that thread for more info in the future :)

[2022-05-30 09:16] #3208 closed

[2022-05-30 09:22] ZakJudges commented on #3216
Hi @casigus, so I can look into this issue for you, could you send me one of the models you are experiencing the issue with? If possible, the original source file (fbx/glTF/etc), as well as the dbo and fpe that was created after importing into Max. Thanks!

[2022-05-30 09:47] ZakJudges commented on #3206
Hi @dennimoto Thank you for reporting this issue. A fix has been added and should be available to download later this week. I will post here when it is ready to test :)

[2022-05-30 09:51] ZakJudges commented on #2814
Hi @Tum1370, is this issue now fixed for you?

[2022-05-30 09:53] ZakJudges commented on #2509
Hi all, closing this issue as haven't been able to reproduce. If anyone still experiences this, please send me an asset/level that shows the issue and I will reopen the issue. My email address is zak@thegamecreators.com

[2022-05-30 09:53] #2509 closed

[2022-05-30 09:53] ZakJudges commented on #2847
@LeeBamberTGC Are you happy for this one to be closed now? :)

[2022-05-30 09:54] ZakJudges commented on #2779
@davetgc Any update on this? :)

[2022-05-30 09:55] ZakJudges commented on #3158
Hi @AmenMoses, are you happy for this issue to be closed? :)

[2022-05-30 10:00] Necrym59 commented on #3191
Hi Zac tried that it didnt work is not so much underwater its the outside visual dosnt change in height. I tested the water height from 1000 to 2000 and the height responds but the water visual layers dont move they stay at the 1000 level, as a result you can drown in mid air :) there doesnt seem to be a reset or update command for the visuals it at all. I guess call it a bug.

[2022-05-30 10:00] Tum1370 commented on #2814
@ZakJudges Not tested this in a while. But if you look at the earlier posts on this thread, there is a zip with this bug happening. Maybe download that and try to see if it’s still there?
I am currently at work so cannot test this yet.

[2022-05-30 10:07] Tum1370 commented on #3196
Ye I have noticed this to. Even if you extend the time to 5000 ( 5 seconds) it still disappears to quickly.

[2022-05-30 10:07] ZakJudges commented on #2814
@Tum1370 Fixed for me. Closing this issue :)

[2022-05-30 10:07] #2814 closed

[2022-05-30 10:51] Necrym59 commented on #3158
Hi Zac, What is the Lua statement for the control or slider for negative/positive figures selection? example going from -10 to +10
or is it a single value field control.

[2022-05-30 10:56] #2847 closed

[2022-05-30 11:05] LeeBamberTGC commented on #1358
@OldFlak Any chance you can send me just this one model and maybe an FPM with the start marker facing this. That way I can see the issue, and your shadow settings, etc.  From there, I can get a handle on a fix for you.  Thanks!

[2022-05-30 11:27] ZakJudges commented on #3158
@Necrym59, is this what you mean?
![Screenshot 2022-05-30 122554](https://user-images.githubusercontent.com/32545391/170982794-c14bd9ba-db25-4e02-a523-2f8ac5055a14.png)

If so, here is how I did it:
`-- DESCRIPTION: [#test1=0(-10,10)]

-- DESCRIPTION: [#test2=0.5)]`

[2022-05-30 12:00] ZakJudges commented on #3145
Hi @smallg2020, thank you for reporting this issue. I have added a fix which should be included in the next update (hopefully this Friday). I will post here when it is available for download so you can test it. Thanks :)

[2022-05-30 12:26] thor49 commented on #3186
Hi ZakJudges :-  No I don't see any message.. GGMax just closes back to desktop..

Just so we are on the same page..
I just install GGMax and then go to Demo games and Press Play button.
I don't  have to build the standalone demo games myself.. then go and press the Play button.?
If that is the case then why is the Play button not greyed out until they are built.. ?

If they are prebuilt then wher

[2022-05-30 12:27] ZakJudges commented on #3197
@Teabone3 @AmenMoses Thank you for reporting these issues. I have added a fix for both the `Prompt` and `PromptLocal` crashes and will post here when ready to test :)

[2022-05-30 12:33] thor49 commented on #3185
Hi ZakJudges :-  Yes you are correct the new install did delete the Booster and Aztec again..
I then reinstalled them and did a Verify files and this time They did not get removed...
I will let you know after the next update how it goes...
Thanks for your quick work..

[2022-05-30 12:37] ZakJudges commented on #3186
@thor49, they should just work by pressing "Play Game". All of the required files for the demo games are located throughout the install location (mapbank, projectbank, etc).
Could you navigate to your writable folder (usually documents->GameGuruApps->GameGuruMAX unless you changed it) and then find the mapbank folder and delete any that you did not make? That will ensure the demo maps are copied a

[2022-05-30 12:53] thor49 commented on #3186
ZakJudges :- OK I am doing backup copy now .. may take a while..(time remaining fluctuates between 2hrs and 20mins)
will get back to you later..

[2022-05-30 14:03] AdamecSK opened #3217 "Support special characters in the filepath and text display (using wide character/unicode)"
Hello!
I have a problem with 3D Objects. When I try add 3D object via "3D import object", then show me this:
![image](https://user-images.githubusercontent.com/63545429/171007898-e7829e34-e6d5-4c24-a684-1a924fb1e5e4.png)
---
Before it worked when I add some 3D Object and now it's didn't work..

[2022-05-30 14:11] GraPhiX-Guru commented on #3217
try renaming the file dumbell.obj

[2022-05-30 14:15] AdamecSK commented on #3217
Nothing... still didn't work

[2022-05-30 14:19] thor49 commented on #3186
ZakJudges :- Ok I deleted the all demo game fpm and lst (MASM) files from the writable mapbank folder.
I then did Verify files with the Updater.
I ran GGMax and the demo games still do not work..
One thing I notice is that the lst(MASM) files are the only ones with todays date.(30/05/2022)
take Grand Canyon demo
a grand canyon adventure.fpm (06/05/2022)
a grand canyon adventure.lst (30/05/2022)

s

[2022-05-30 14:20] ZakJudges commented on #3186
@thor49, since you verified your files with the Updater, your mapbank files should be up to date. Would you be able to record a video showing the issue? That might give me some ideas of what we can try. Thanks :)

[2022-05-30 14:37] ZakJudges commented on #3179
@LeeBamberTGC See Lemuripest93's comments about door behaviours:

I think this is mainly due to having too many settings/modes. Perhaps it should be split into two behaviors? We could have a sliding automatic door that can be locked/unlocked with a switch, and a sliding manual door that is opened by pressing E and can be locked/unlocked with a key/switch, just like a regular door.

I've looked int

[2022-05-30 14:39] ZakJudges commented on #3191
Hi @Necrym59, would you be able to send me the script that you are experiencing the issue with? That would allow me to reproduce it quicker and hopefully have a fix sooner :)

[2022-05-30 14:41] ZakJudges commented on #3217
Hi @AdamecSK, would you be able to send me the model you are experiencing the issue with? That would allow me to reproduce and find the cause :) My email address is zak@thegamecreators.com

[2022-05-30 14:59] ZakJudges commented on #3147
Hi @casigus, there were some improvements to the teleport script in the most recent build, including zoneheight. Should fix this issue for you :)

[2022-05-30 15:45] ZakJudges commented on #3203
Hi all, the fix should now be available for download. Thanks again

[2022-05-30 16:01] AmenMoses commented on #3158
@ZakJudges  Looks ok to me.

[2022-05-30 16:55] Duchenkuke commented on #1682
May this helps ( I dont know )

https://www.youtube.com/watch?v=fQHQZhyyNFo&t=182s
this was the last match I recorded . And this was the last time we were able to play MP.
THis was in January 2021. So it was working back then. Something changed in the mean time, could it be something with gg max ?

[2022-05-30 17:07] Duchenkuke commented on #1682
okay we aborted the lobby when we hit the 30 minute mark.
Now we are trying a stock MP map (one that comes with gg) it uses STOCK ASSETS only.
Will report how it goes.

[2022-05-30 17:16] Duchenkuke commented on #1682
fun fact: there was someone else testing MP when we tested it :D
![123](https://user-images.githubusercontent.com/35990507/171036848-572cb35e-852a-486e-8c6c-08c2f56ef61d.JPG)

![121](https://user-images.githubusercontent.com/35990507/171036861-55544035-cd31-4e06-a6b0-cb0fae99e22f.JPG)

now we are 3 guys in the lobby, 1 random dude joined^^

OKAY I can confirm that MP on STOCK MAPS works !

[2022-05-30 17:22] Duchenkuke commented on #1682
summary:

MP works with stock maps (in our test it crashed after like 10 minutes)
MP doesnt work with custom maps.

If this could be adressed, it would be awesome.

[2022-05-30 17:30] #3147 closed

[2022-05-30 17:31] casigus commented on #3216
yeah! put a few of them in a zip for you! theres some obj there too, but there zero texturing on them ones, but yeah here you go.

https://drive.google.com/file/d/1bHL8fTxTwDgdvqMk--zfEuw74fPRniL6/view?usp=sharing

[2022-05-30 18:27] synchromesh62 commented on #3203
@ZakJudges
Experimental build updated earlier and it seems to be fine now.
Awesome ..Thanks

[2022-05-30 18:38] Necrym59 commented on #3158
Thanks Zac looks great, cheers.

[2022-05-30 18:49] Necrym59 commented on #3191
[ZakJudges](https://github.com/ZakJudges)
Hi Zac attached is the script attach tany object - always on
link a switch or trigger zone with logic control
thats it.
It does what its supposed to do it just doesnt do it visually, unless im missing somthing!
[watercontrol.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8800259/watercontrol.zip)

[2022-05-30 18:55] #2920 closed

[2022-05-30 22:59] Kitakazi commented on #3091
No change with latest build. Performance still very choppy.
If the camera just looks straight ahead smooth 60fps. If the player turns the camera FPS drop to 40's or 50's and will move wildly from  45-59.
Tried setting my monitor to 1080 down from from 4k. No change.

[2022-05-31 07:16] Jisafu commented on #3203
Hello,
I am an absolute beginner, where can i download it?

Thanks,
Jos Ichau

From: ZakJudges ***@***.***>
Sent: maandag 30 mei 2022 17:46
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: Jisafu ***@***.***>; Comment ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] GG Max - Bug - Creating a Standalone (Issue #3203)

Hi all, the fix should now be available for download. Thanks again

-
Re

[2022-05-31 08:15] #3158 closed

[2022-05-31 08:30] ZakJudges commented on #3216
Hi @casigus, I imported two random objects and both had correct collisions. Would you be able to send me the dbo and fpe on one that you have no collisions with? Thanks!

[2022-05-31 08:53] Jisafu commented on #3203
Hi,

It works perfect now.
I work with the Steam version.

Thanks,
Jos Ichau

From: ZakJudges ***@***.***>
Sent: dinsdag 31 mei 2022 10:15
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: Jisafu ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] GG Max - Bug - Creating a Standalone (Issue #3203)

@Jisafu<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2022-05-31 09:08] ZakJudges commented on #3191
Hi @Necrym59, I have added a fix for this, should be available in the next experimental build :)

[2022-05-31 09:47] casigus commented on #3216
Did you import the glf models? Those are the ones causing the issues..I'll send them over when get to my desk too ????

On 31 May 2022, at 09:30, ZakJudges ***@***.***> wrote:

Hi @casigus<https://github.com/casigus>, I imported two random objects and both had correct collisions. Would you be able to send me the dbo and fpe on one that you have no collisions with? Thanks!

—
Reply to this email di

[2022-05-31 09:51] ZakJudges commented on #3191
The new water height was not being passed to the visuals, only the physics :)

[2022-05-31 10:01] ZakJudges commented on #3216
@casigus Yes, I tried a few of the glTF ones. Here are the results:
![Screenshot 2022-05-31 110040](https://user-images.githubusercontent.com/32545391/171148380-af69207b-acc7-4608-998a-50d15c32adbe.png)

[2022-05-31 10:21] 3coms opened #3218 "This kind of scene will be doable in GGMax?"
Hi
**Note: I already know about particles, in fact, I own the AGK particle editor.**

I decided to model a emitter and some grains of sand, because:
1- Not everything is going to be feasible with AGK editor.
2- Particles are not LUA supported yet, as a mesh can be.

This is just an experiment since I'm really looking for a decent waterfall.
**Assimp opens the mesh, while GGMax closes to the deskto

[2022-05-31 11:20] MonkeyFrogStudio commented on #3218
It's better to "fake" something like this in a a game engine then to attempt to simulate this via physics and the like. Make one "mesh" made of several polygonal meshes (even if they are separate quads) and animate them falling out of the tube. Do your physics in 3DS max, but save it out as a single animation via FBX and use that in MAX. Then you get one model, one material, etc. And it's light-we

[2022-05-31 11:35] 3coms commented on #3218
`Do your physics in 3DS max, but save it out as a single animation via FBX and use that in MAX. `
This is what I'm doing since GG times when modeling the explodable barrels, boxes, etc
Anyway, there is a difference this time, and it is the chunks qty, never before have I attempted to run an animated mesh with that quantity of chunks (debris, pieces, wherever you want), so, I raise my question, do

[2022-05-31 11:41] MonkeyFrogStudio commented on #3218
Sigh ...

[2022-05-31 12:05] casigus commented on #3216
so why is my pc not importing thing correctly. OBJ's work fine but these dont. how can i bring up this mode so i can show you what mine look like?

[2022-05-31 12:12] ZakJudges commented on #3216
@casigus Can you send me a dbo and fpe of one of the models you are having the issue with?
To render the physics shapes, first make sure that this checkbox is ticked:
![Screenshot 2022-05-31 131004](https://user-images.githubusercontent.com/32545391/171170255-4e1749ff-f463-4313-ac0d-4ce19266fc27.png)

In game, you can then press tab tab and you should see this option:
![Screenshot 2022-05-31 13103

[2022-05-31 12:24] ZakJudges commented on #3168
Hi @Tum1370, thank you for reporting this issue. A fix should be available in the next update and I will post here when you are able to test it :)

[2022-05-31 12:46] casigus commented on #3216
opps. ahah

https://drive.google.com/file/d/1613nXmmHFxPzN5FoV734R9p2yAgmoZtn/view?usp=sharing

well theres a few there.  ive just started model import from blender but to objs, so far collisions are good.

[2022-05-31 12:52] Tum1370 opened #3219 "GG Max- Bug - Group Bug ? Barrel Bug ?"
I created a burning barrel, consisting of 5 planks of plywood, a barrel, the flames and a smoke particle.
Now after creating a group of these 8 objects, the objects that i grouped, when i click the barrel, the barrel materials automatically change different settings.
The Grey Barrel - Damaged is suppose to only have Cast Shadows ticked, and the Transparent and Double Sided are not ticked.
But as y

[2022-05-31 13:25] LeeBamberTGC commented on #3141
@ZakJudges No worries, I have assigned to me :)

[2022-05-31 14:54] mike123yy opened #3220 "Saving and loading games in standalone causing bugs and issues"
I've made a game and put it out there for people to play on the in progress forums and ive had Multiple reports of having  problems with saving the game and loading it. saving the game or loading from the save causes winning the level to not go to the next level properly and also causes collected items to not work. I also have reports of it making doors glitch out among other things. Here's the li

[2022-05-31 15:46] ZakJudges commented on #3139
@LeeBamberTGC Notes: In `WickedCall_TextureMesh()`
After `if (bGotSurfaceTexture == false)`
Only .dds files are checked, png isn't considered

[2022-05-31 15:48] ZakJudges commented on #3064
duplicate of #2805

[2022-05-31 15:48] #3064 closed

[2022-05-31 15:50] ZakJudges commented on #2683
@LeeBamberTGC There is functionality to hide the trees until they have updated when the user chooses a new biome. I think its handled by ggtrees_global_params.hide_until_update

[2022-05-31 16:00] ZakJudges commented on #1598
@LeeBamberTGC I believe all of the models that import like this (especially the fbx ones) have 'bones' (or some kind of node, not sure on the terminology) that control the mesh transforms that we do not use in our vertex calculations, i.e. for this line here:
`*((float*)pVertex + offsetMap.dwX + (offsetMap.dwSize * n)) = pAssImpMesh->mVertices[n].x * modelScale * boneScale.x * scaleModifier.x;`

[2022-05-31 17:12] Kravenwolf opened #3221 "GGMax - Bug - Dragging the editor window into my second monitor causes the mouse and keys to be unresponsive in the 3D window"
It appears moving the GGM editor from one of my monitor displays to another totally disables all control the mouse and keyboard have in the 3D viewport. The mouse no longer moves the scene around in the 3D window, nor do the keyboard command works in the 3D window ("R" to rotate, Del to delete, etc.).

The mouse **DOES** still function properly on the GUI, such as selecting and adding a new object

[2022-05-31 17:20] Kravenwolf opened #3222 "GGMax - Bug/Oversight - Ragdoll - Shooting multiple enemies piled on top of each other causes them to "die" standing"
I noticed if multiple enemies follow you down a narrow corridor or through a doorway and you kill all of them quickly in rapid succession, some of them tend to "die" while they are still standing because I guess their bodies still have physics/collision on after they're dead, which the other bodies' ragdoll treat as an object?

Maybe disable collision on ragdoll objects with other ragdoll objects?

[2022-05-31 17:28] Kravenwolf opened #3223 "GGMax - Bug - Saving group objects appear to reset some of those grouped objects' rotations/positions"
I created a makeshift "spotlight" using a post, a light fixture and a light marker. I had to rotate the light fixture to align it with the post, and the post is scaled up by about 400%. I think it turned out alright:

![group-bug1](https://user-images.githubusercontent.com/103399301/171235214-2c644930-bd8d-42ba-9db8-3b90d7be133b.jpg)

After grouping those 3 objects and saving them as a new object,

[2022-05-31 17:35] Kravenwolf opened #3224 "GGMax - Bug - Scaling a saved grouped object scales all of the objects within that group independently"
_(Confirmed, tried multiple times)._

If you create/save a new grouped object, then try to scale that object, rather than that newly created object scaling as a single object, every asset within that object group will scale independently from their own origin points. Please fix :)

![scaling1](https://user-images.githubusercontent.com/103399301/171238643-b957e743-3e0c-4275-8683-8e6b2a1fa999.jpg)

[2022-05-31 17:40] Kravenwolf opened #3225 "GGMax - Bug - Objects that are moved because you change the terrain height underneath them cannot be undone with the undo function"
_Test by adding a few objects into a small map area, and then change the terrain height under them (raise it up), so those objects will reposition themselves to rest on the higher terrain._

Pressing Ctrl+Z (or going to edit>undo) will reset the terrain height value where it was previously, but will NOT move those objects back with it. Please fix :)

[2022-05-31 17:43] Kravenwolf opened #3226 "GGMax - REQUEST - Please make it so clicking on the terrain while you have an object selected DESELECTS that object!"
As the title says -- I'd like to place an asset in my map and immediately see how it looks alongside all of the others without the orange outline around it. Currently, to do this, I have to scroll out, find ANOTHER object to click on so the orange outline goes to that one, and then zoom back in to admire my newly placed object.

Please make it so clicking anywhere in the 3D viewport [where there i

[2022-05-31 17:52] Kravenwolf opened #3227 "GGMax - Bug - Importing a custom object or character will reset the sky box's ambient light values to their defaults"
Adding a custom imported character (from the character creator), or a custom grouped object, or custom imported 3D object appears to, for some reason, reset the "Lighting Color" and "Ambient Color" values for whichever skybox you have selected, if you customized them.

Strangely though, this change appears to only occur in the editor. Jumping into test game loads the custom light values you change

[2022-05-31 17:58] Kravenwolf opened #3228 "GGMax - Bug - Picking up a third weapon "hides" one of your weapons from cycling through on the mouse wheel"
_(Confirmed multiple times)._

To test, add the patrol rifle and the pocket knife on the ground. Then a bit ahead of those, add the M67 grenade. Pick up the first two, and use the mouse wheel to scroll back and forth between them.

Then pick up the M67 grenade. Now, use the mouse wheel again to cycle through your three weapons and you'll see that one of them is missing!

Is it magic? Probably not,

[2022-05-31 22:33] Zorgo33 opened #3229 "Game Guru MAX - Model importer issue"
I've noticed the model importer having a little problem when choosing to edit all mesh materials, the option to use RGBA buttons doesn't seem to work. For choosing each separate part it does work, only for all mesh materials not.
![Screenshot 2022-06-01 012836](https://user-images.githubusercontent.com/27580830/171294888-f830c4a1-d490-4656-a3bf-be88e6c8d703.png)

[2022-06-01 01:57] Teabone3 commented on #3205
I believe the FPE line for this is "alpharef"  and it uses float numerics. Example alpharef = 1.00

[2022-06-01 01:59] Teabone3 opened #3230 "GGM - Request Emissive Color Lua Variable"
It would be great if we could modify the emissive colors in real time during games via Lua

the FPE line is "emissivecolor" and I believe it uses a 10 digit value.

This would allow us to be make objects in game glow different colors.

[2022-06-01 06:26] Necrym59 commented on #3191
All ok confirmed fixed

[2022-06-01 06:26] #3191 closed

[2022-06-01 08:05] ZakJudges commented on #3214
@z2a2008 Is there a file called "install_errors.txt" that gets generated after this occurs? It will be in documents->GameGuruApps->GameGuruMAX if so

[2022-06-01 08:43] PatrArd opened #3231 "GGMax Request"
To enhance the "storytelling" abilities of GGMax I would like to see:

1) Image in Zone - selecting more than one image, like a slide show, with automatic or manual forward/back commands. different sound to each image would be nice also.

2) Video in Zone - like a videoplayer, with play, stop, replay commands, suitable for longer videoclips

Thanks and good work so far

[2022-06-01 09:27] davetgc commented on #3225
These objects also can no longer be deleted.

[2022-06-01 09:31] davetgc opened #3232 "Grouped objects bug"
Placing objects on or near duplicates of a group often adds them to the group.

To test. group some objects. Duplicate that group so there is more than one of them.

Place another object near on in that group. The object will become part of that group.

[2022-06-01 09:54] LeeBamberTGC commented on #3207
@therickman Glad it now works for you.  There is a broadcast later today at 7 PM BST where I will be demonstrating how to get a model free from the Game Creator Store and that should allow you to test the second part of the downloader.

[2022-06-01 10:07] jbthenext opened #3233 "Enemy characters holding custom weapon no muzzle flash"
When enemy characters are holding a custom weapon there is no muzzle flash.

See any of the BSP weapons on the store for examples

[2022-06-01 11:14] LeeBamberTGC commented on #3209
@Zorgo33 How many of your purchases are flagged as GameGuru MAX compatible by the artist?  MAX will currently only show MAX compatible assets as determined by the author.  That said, you did highlight a bug showing the write folder shown is wrong, and should be defaulting to your docs folder, will sort for the next build.

[2022-06-01 11:59] LeeBamberTGC commented on #3206
I will test and close this soon, please let me know if it is still an issue, thanks!

[2022-06-01 11:59] LeeBamberTGC commented on #3185
I will test and close this soon, please let me know if it is still an issue, thanks!

[2022-06-01 11:59] LeeBamberTGC commented on #3168
I will test and close this soon, please let me know if it is still an issue, thanks!

[2022-06-01 11:59] LeeBamberTGC commented on #3145
I will test and close this soon, please let me know if it is still an issue, thanks!

[2022-06-01 11:59] LeeBamberTGC commented on #3121
I will test and close this soon, please let me know if it is still an issue, thanks!

[2022-06-01 11:59] LeeBamberTGC commented on #2779
I will test and close this soon, please let me know if it is still an issue, thanks!

[2022-06-01 12:07] davetgc commented on #2779
Hi, No, it doesn't always work.  I'll hunt down a model from a model pack
that's still broken.

On Wed, Jun 1, 2022 at 2:00 PM Lee Bamber ***@***.***> wrote:

[2022-06-01 12:28] LeeBamberTGC commented on #2779
@davetgc Thanks!  You can send it directly to lee@thegamecreators.com :)

[2022-06-01 13:46] Zorgo33 commented on #3209
So that's what i was thinking, most assets aren't really supported for game guru max. Though i thought the engine would automatically convert them as in placing such assets in files trough file explorer

[2022-06-01 13:50] jbthenext commented on #3218
The issues board is for bug reports or feature requests this is neither, this would be better suited to a discussion in the discord or forums

[2022-06-01 13:50] #3218 closed, assigned to nobody

[2022-06-01 13:54] jbthenext commented on #3157
@LeeBamberTGC Believe this is fixed in last weeks build

[2022-06-01 14:10] LeeBamberTGC commented on #3209
@Zorgo33 At the moment it is down to the artist and the store moderator to decide if the asset is MAX compatible (i.e. not broken) and those will show up for you.   We are looking at the process of converting Classic projects (and assets) over to MAX as this is a big request from both communities, and when we have a good and complete solution, we can create a corridor for Classic assets that we ar

[2022-06-01 14:10] #3157 closed

[2022-06-01 14:17] Zorgo33 commented on #3229
(Also, on editing materials outside the model importer - in the level, RGBA buttons feature isn't there at all)

[2022-06-01 14:20] LeeBamberTGC commented on #3121
@Kravenwolf Please do continue the test and let me know how it goes, thanks!!

[2022-06-01 14:23] LeeBamberTGC commented on #3204
@doctorikc Fixed for the next build, and thanks for the repro steps, just what the doctor ordered :)

[2022-06-01 14:24] LeeBamberTGC commented on #3082
@casigus I have fixed something in the latest build that 'might' have solved this as it relates to material detection and triggers. I will mark it as temp fixed to see if this is the case, and you can report back when you get the next build.  Check with the Steam EXP build in 24 hours, it should be there to do a test.

[2022-06-01 14:26] LeeBamberTGC commented on #3233
@jbthenext Looks like any decals in the writable area (where purchases are downloaded) were not being included in the decal list, and so the characters did not know how to find the decal to show during a muzzle flash. Sorted for the next build.  Also accounts for weapons carried by characters but not placed as a collectible in the level (a related bug).  Further fix ensures bulletholes and impact

[2022-06-01 15:53] 3coms commented on #3218
Sorry, but:
**Assimp opens the mesh, while GGMax closes to the desktop when I try to import it.**
it is a bug, at least for me, the rest is only to try to explain what happens to it.

[2022-06-01 15:59] z2a2008 commented on #3214
Good afternoon.
Thank you for the prompt response.
I attach the install_error file.
Sincerely, Andrey Zykov
[install_errors.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8815837/install_errors.txt)
.

[2022-06-01 16:06] casigus commented on #3082
ohh acee. look forward to giving that a go!! has anyone else had this problem or just my pc being weird? great work as always and looking forward to the stream later!

[2022-06-01 17:36] MonkeyFrogStudio commented on #3226
@Kravenwolf - Currently, if you tap the SPACEBAR, it will deselect everything in your level. Just an FYI.

[2022-06-01 18:03] Maro32 opened #3234 "Key+Door Issue"
Hello!

There's an issue when you use the 'Key' and the 'Door' behaviors toghether. If you pick up the key and use it to open the door, the key will respawn to it's original place. You can try it in the Canyon Offensive demo map.

[2022-06-01 18:53] #3135 closed

[2022-06-01 21:08] AmenMoses opened #3235 "MAX Dynamic Lua improvement request"
I would like to request that the '-- DESCRIPTION:' lines in Lua scripts be able to either contain formatting information to enable the editor representation of dynamic Lua parameters can be 'prettyfied' or that as a simple starter each line in '-- DESCRIPTION:' line present in the script be displayed in the editor as a new line.

i.e. instead of:
-- DESCRIPTION: Cine Guru Image trigger.
-- DESCRIP

[2022-06-01 22:09] Zorgo33 opened #3236 "Game Guru Max - Feature Request"
It would be nice to be able to edit how long player can be underwater without oxygen, how much damage characters deal and how much damage a hurt zone gives, there would be much more freedom in customizability with these functions :)

[2022-06-01 22:32] Necrym59 commented on #3235
I agree wholehartedly for this change its very messy with the one single sentence idea. If every --DESCRIPTION creates a new line in the information panel it would be much better. For example in the above Amens example its more readble to the user if it formated out similar to this.
![result2](https://user-images.githubusercontent.com/95015657/171512550-e2fedeae-e38c-4f55-aa1e-2c720738fc89.png)

[2022-06-01 22:51] Necrym59 commented on #3210
Im looking at a change to it to add a delayed opening hopefully it be in soon

[2022-06-02 03:26] Teabone3 opened #3237 "GGM: Feature Request - In Editor Video (Behaviors)"
I really love the mini-embeded videos that can be seen in the tutorials tab within the editor.

I think it would be really cool if we could have dynamic lua properties so we can also have our own videos displayed within our behaviors tab. This would be good for script products that would need their own tutorials.

Example could be:
[*BehaviorTutorial="http://www.youtube.com/url"]

Or something of

[2022-06-02 08:46] Thedric opened #3238 "The fish that come with the Booster Pack swim through walls"
They behave great, otherwise, but when I try putting a wall down into the water, so I can block off an area, they swim right through it. I'm using the brick walls from the Aztec DLC, and I certainly can't WALK (or swim) through them, so I think the collision mesh is all right. But the fish just glide on through. I wouldn't mind, if I had another way to contain them in an area (other than trying to

[2022-06-02 10:42] OldFlak commented on #1358
Hi Lee,
Sorry for late reply – just got back from short holiday (waaayy too shot!)

Here is a link to a test level for you.
https://www.dropbox.com/s/47vglbh04pufahr/MAX%20ShadowIssue.zip?dl=0

Please note the level only uses a few of the models in the folder but since it is not that huge I just included all of them - easier than sorting out the unused ones 😊

The level uses the same fog, sky, and

[2022-06-02 11:18] Curiosityuk opened #3239 "Project Crashing"
So, before the update my project was working fine.
Now I've updated it the thing won't load and I get a pop up saying
"Runtime error 7018"

Levels 1&2 won't load and show the error, but 3&4 do load

Has anyone any idea???

[2022-06-02 17:09] Thedric opened #3240 "Fadeinsound only works for one object"
I have two objects in my game—a bonfire and a creepy skull with glowing particles around it—that are set to "Physics off" and a behavior of "Fadeinsound." Each works beautifully when I test the game, BUT only one will work per test run. If I go to the bonfire first, that one works, but the skull doesn't make any sound. The bonfire continues to work, if I return to it. If I go to the skull first, t

[2022-06-02 20:48] MonkeyFrogStudio opened #3241 "GameGuru MAX - Request - Hide Game Elements"
When working on a level, sometimes things can get crowded with all the game elements - flags, various zones, particles, player start, etc. It would be great if we had a button to hide/unhide these elements so we could concentrate on level building. We already have buttons that hide/unhide logic nodes for Shooter, RPG, and Puzzle. So, one more for Game Elements would be great, I think.

[2022-06-02 23:05] Kravenwolf opened #3242 "GGMax - Bug - You can walk inside one specific type of auto-generated trees (collision issue)"
When creating a forest terrain biome(?), one of the auto-generated trees with a specific texture (?) (see screenshots) has an issue with collision. The player can walk through one of it's sides and stand directly inside of it's center:

![tree-collision1](https://user-images.githubusercontent.com/103399301/171751756-619340ea-7ae2-4e0f-8d55-5a76896fae23.jpg)

![tree-collision2](https://user-images.

[2022-06-02 23:09] Kravenwolf commented on #3241
Make it the "H" key like Blender, please, just for me, so I don't need to remember two hotkeys :)

[2022-06-02 23:22] Kravenwolf opened #3243 "GGMax - REQUEST - Hotkey in test game to disable/freeze all enemy AI, game functions, etc. for testing purposes"
I was wondering if it would be possible to add a hotkey in test game mode that would immediately disable or "pause" all enemy AI (and possibly other script elements if necessary) in your game while you are testing your map, so you are not hearing a barrage of gunfire and entering a warzone every time you simply try to look over an area of your map you slightly tweak.

I remember in the past making

[2022-06-03 02:13] OldFlak opened #3244 "MAX - Importer Shows Multiple Versions of Surface"
When you import a model the import window shows multiple versions of the surface map.
Using Steam Version here:
![image](https://user-images.githubusercontent.com/12246318/171773537-3f12c31b-109b-4fc3-af7c-e7dbdf094d42.png)

[2022-06-03 02:30] OldFlak opened #3245 "MAX - Editor Forgets Grid Settings"
Editor always defaults Grid Offset to 50.0
Would be nice if it remembered when it is set to 100.0

[2022-06-03 10:04] MonkeyFrogStudio commented on #3245
Agreed. I requested the same thing (and a bit more) here:

https://github.com/TheGameCreators/GameGuruRepo/issues/3023

[2022-06-03 10:08] Tum1370 commented on #3168
@ZakJudges @LeeBamberTGC
I have just tested this again, And after placing a helicopter down, and adding some 3dsound of the rotors spinning.
It was working fine if the helicopter spawned at start.

But now, the sound is NOT playing while the helicopter is not spawned, But after activating the helicopter with a triggerzone, the helicopter appears, but the sound does NOT play.

[2022-06-03 11:13] synchromesh62 commented on #3241
Apologies if im misreading this but isnt this already in the Game Element View Options ?

![Z1](https://user-images.githubusercontent.com/35708217/171843273-0f233f96-b7a8-4ae3-bc42-7bc93caef61b.png)

![Z2](https://user-images.githubusercontent.com/35708217/171843288-1da626f0-99d1-4731-9a6c-4cc81def93ac.png)

[2022-06-03 11:59] MonkeyFrogStudio commented on #3241
Wow! No! You are completely correct! I keep forgetting about that area even being there! I will close this because, well, it's already a thing! Thank you, @synchromesh62 !

[2022-06-03 11:59] #3241 closed

[2022-06-03 12:15] AmenMoses opened #3246 "MAX Dynamic Lua - inconsistent handling of "file" type variables"
If the dynamic Lua in the script contains the word 'file', e.g.:
-- DESCRIPTION: [TextFile$=""]

Then in the editor you get the ability to browse for a file and select it, which then passes the full path of the file into the Lua script.
![file selection](https://user-images.githubusercontent.com/35708338/171848493-885c09bb-86c0-412a-b86d-b10b6472410e.png)

This is great but unlike for videos or so

[2022-06-03 12:52] MartinCranshaw opened #3247 "Character Creator 3 to Max"
I'm having problems with meshes.
The first few characters I imported worked fine. Right skin right clothes.
Now when I try to import them I'm getting textures from previously imported characters splattered over new ones.
I'm guessing that they are saved in the entity bank with the same names.
If anyone has any ideas or the correct settings to use please let me know. Thanks

[2022-06-03 13:41] sciencebloke50 opened #3248 "some Clarity would be great"
have had some vague clarity so shall retract

[2022-06-03 13:57] mike123yy commented on #3187
I managed to get Miximo characters to work with Max and their scripts and a sloppy kind of way. I made a post about it on the forums. I think it might only be helpful with melee attack characters unless you specify the fire point for the character but I'm no expert. They also have a online tool to combine Miximo characters animations into one file but it's kind of buggy. It's open source though so

[2022-06-03 14:10] MonkeyFrogStudio commented on #3248
_Disclaimer - I'm not with TGC, so none of my response here is official in any way -_

1 - GameGuru MAX is Early Release software. But you know that. You should not be planning anything at all around GameGuru MAX until it is officially released as a final product. No one should be seeking to make an actual game with alpha/beta software. Roadmaps, etc. ... it's very difficult to determine how thing

[2022-06-03 16:05] Tum1370 opened #3249 "GG Max - Bug - Terrain / Assets moved on many levels including DEMOs"
I just tested the demo level DISRUPTION, and noticed that the wall in the warehouse has moved away from where it was originally placed, as you can see in the screenshot below.

On one of my own level i had a similar issue with a wall moving like this, and this happened after the 6th May update on my level.
I have also just found that a different level i had (which i have not checked since the 6th

[2022-06-03 17:10] synchromesh62 commented on #3248
Max does have infinite terrain but right now only 5km is editable.
This will no doubt get bigger as Max is optimised and further developed but there is no real point right now if its going to bring your system to a stand still and 5K is a pretty respectable size to build a game.

The Rain and snow are really just placements, A new weather system is being worked on and perhaps they will look into t

[2022-06-03 17:14] #3248 closed

[2022-06-03 17:48] #3121 closed

[2022-06-03 19:07] casigus opened #3250 "cant rotate multiple objects"
is this a design or a bug? im not sure, but i want to rotate these pieces together but its not giving me the option.

![image](https://user-images.githubusercontent.com/68471279/171932151-af742f78-ecf0-4171-8843-1b74b25185c2.png)

[2022-06-03 19:40] Kravenwolf opened #3251 "GGMax - Bug - After changing water height, the terrain sculpting brush does not work unless you switch to object mode and then back"
Sculpting brush disappears and refuses to do anything after you change the water's height. Switching the the brush to paint terrain, grass and trees still function. Switching back again to the sculpting brush show it's still hidden and inoperable.

To recover the sculpting brush, you have to switch into object mode and then switch back to terrain mode.

[2022-06-03 19:51] Kravenwolf opened #3252 "GGMax - Bug - Animals need animations for turning"
Currently when you "spook" a rabbit, skunk, etc., they are rotated to a different direction and then start running off, however, there doesn't appear to be an actual animation for them turning so they just sort of instantly teleport to a new direction and then run off. It looks a bit odd.

I assume this wouldn't be a priority, but maybe adding some additional frames for the animals so when they tu

[2022-06-03 21:27] AmenMoses commented on #3252
So the problem here is with animations, i.e. if you want to mimic natural behaviour using animations then you need to have a huge number of base animations and in addition for each pair of animations a transition animation to smoothly go from one to the next.

Doing this would allow for extremely naturalistic behaviour but the logic required to make it all work becomes enormous and in reality the

[2022-06-03 22:55] Kravenwolf commented on #3252
@AmenMoses, fair point. What about adding a quick rotation to the animals via scripting in the direction they're going to point to before they start running off in that direction (~<300-400ms)?

[2022-06-04 02:50] Thedric opened #3253 "Scripts that come with the game don't always activate"
I have several NPCs in my game, all from the Aztec DLC, and I've been having trouble with them activating sometimes, but not always. For instance, one NPC is a guy in a cage (this one, I actually created in the Character Creator) and I'm using the "Hostage Runs Away" script. He is generally kneeling down, when I test the game, but whether or not he jumps up and runs away seems to be kind of random

[2022-06-04 07:20] Thedric commented on #3250
When I've tried this, it rotates everything, but around their own axis, completely destroying the object I put together.

[2022-06-04 11:27] AmenMoses opened #3254 "MAX Logic links not freed up when entity deleted"
e.g.  Plonk down eleven  active entities and connect one of them to the other ten.

Now delete the other ten and plonk down another active entity and try to link them, it won't allow it.

Whilst on the subject it might be useful to have Lua commands that can make/delete the logic links at runtime.

One reason for this would be if you need to trigger 20 entities from one camera the connections on s

[2022-06-04 11:35] AmenMoses commented on #3252
They are using the built in navmesh navigation system (at least the mammals are) which is supposed to rotate them on the move but doesn't appear to be very smooth.  I tried different turn speeds but generally all that seems to achieve is that they run sidewise for a while which looks even worse.

Btw I recently fired up an U4 based game that I knew to contain various animals and the behaviour of t

[2022-06-04 12:02] PanGangowskiYt opened #3255 "MAX request - Steam intergation with standalone games"
Integrating your game with Steam, especially achievements and cloud save would be really great feature so people could make more engaging games to release on Steam.

[2022-06-04 12:17] Curiosityuk opened #3256 "Aztec Colour Issue"
I have just updated to the latest version of GGM and bought and installed the Aztec DLC.
However, when I'm trying to add charaters they come out inverted in colour with no skin.
Has anyone else experiencing this????

I've added a video for you to view [https://youtu.be/btrGUWVTd4o](url)

[2022-06-04 16:22] MonkeyFrogStudio commented on #3256
Correct link here:

https://www.youtube.com/watch?v=btrGUWVTd4o

[2022-06-04 16:37] synchromesh62 opened #3257 "Cannot place Video File Into Documents Videobank folder and play videos from there"
**Reported on Steam and confirmed.**

No import Video button for Videozones.
You can manually copy them into the videobank first of course but only the core videobank works
Although visible once placed in the GameGuruApps\ files \ videobank they will not work when selected,

[2022-06-04 16:54] Kravenwolf opened #3258 "GGMax - Bug/Help - Having issues snapping objects using grid because of the Y axis"
I'm experimenting around with the grid/snap options so I can create some modular pieces, and am having trouble getting 10x10 tiles to snap together if the Y axis is too steep. In the screenshot below, the snap function doesn't appear to understand I am trying to get the tile I currently have to snap to the one above it because, I guess the Y axis is too high?

Am I missing something? If not, could

[2022-06-04 17:24] PanGangowski opened #3259 "MAX request - Sequencers"
Really basic but powerfull tool. The idea is to assign "sequence" to zones or buttons and other kinds of interactive game elements. Everyone could create their own sequences of events like:
- Particle spawning
- Turning on/ turning of lights or enabling/desabling entities
- Playing sounds
- playing animations in specific objects (ones that user provide via model importer)
- showing and hiding GUI

[2022-06-04 21:59] mav3r1ck198-1 opened #3260 "Glitch in terrain editor"
latest update (27/05/22) feels like it did before EA. Anomalous graphics issues in the terrain editor, freezing within the level editor, and crashes when trying to import custom meshes.

Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz   2.59 GHz
32GB DDR4 RAM

NVIDIA GeForce 3060 RTX Laptop

![image](https://user-images.githubusercontent.com/82544140/172026572-95c9b72a-4c63-40fa-b73c-693d00f965ab.png)
!

[2022-06-05 06:27] Hamada880 opened #3261 "Im preorder user and could'nt get the latest update."
Hi, I have tried to update GGmax last Friday 06/03/22 but the software doesn't show any new version of ggmax. I also tried yesterday and today as well with no luck, so how can I get the latest update. Also, is it possible to get the steam version instead of the standalone version of GGMax??

[2022-06-05 09:09] AmenMoses opened #3262 "MAX Bug in zones logic - camera triggering zone rather than player"
This came up during beta testing of cinematics, the camera is overridden to allow cinematic preview but when the camera enters a trigger zone the zone is activated.

This is a definite show stopper as what you definitely don't want to happen in cinematics if for game components to be triggers before the player has even started playing the game!

![trigger zone bug](https://user-images.githubuserco

[2022-06-05 09:54] DaveTGC2 opened #3263 "Massive frame drop"
I accidentally added some physics objects half submerged into the ground. Dropping the FPS from 50=60fps to 4fps.  Framerate not restored even when there objects are set to static.  Sometimes relaunching MAX fixes the issue. Seems as if MAX is getting caught in a physics loop.

![image](https://user-images.githubusercontent.com/101805541/172044923-4eec0806-f0aa-49fc-a8da-b51d3bcdb368.png)

[2022-06-05 11:14] davetgc opened #3264 "Entire level disappeared, blank level."
![image](https://user-images.githubusercontent.com/99803873/172047792-97aaeafe-a2d1-401e-a303-83adda9ac0db.png)

On relaunch level data missing!

Previously:
![20220604140858_1](https://user-images.githubusercontent.com/99803873/172047869-8c83e0e4-92c6-4167-927d-30f9798c57ad.jpg)
![20220604140953_1](https://user-images.githubusercontent.com/99803873/172047870-0f2ef857-b3b9-4d17-b261-533c702ce980.j

[2022-06-05 12:33] AmenMoses opened #3265 "MAX - Orientation of physical object not matching visible orientation in editor"
So this one is hard to explain so I'll just say what happened and how I found it.

The cinematic scripts use the Lua function GetObjectPosAng( objectId ) to get the position and orientation of the camera and endpoint entities, then at runtime the cinematic camera is moved along the path between them and rotated from the starting orientation to the endpoint orientation.  (rather simplified version

[2022-06-05 13:03] AmenMoses commented on #1541
The _properties function is also missing error trapping.

[2022-06-05 13:43] MonkeyFrogStudio commented on #3261
There was no update last Friday. This was announced during the live broadcast the Wednesday before.

[2022-06-05 18:46] Hamada880 commented on #3261
Okay, how about way to get the steam version instead of the standalone edition is possible?

[2022-06-05 18:48] MonkeyFrogStudio commented on #3261
You have to contact TGC (the people you bought MAX from) and ask them about doing the swap.

[2022-06-05 21:42] casigus opened #3266 "partial collisons"
more collision issues.

half of these collisons work.

some don't

theres no pattern to it. another week wasted doing custom models.

![image](https://user-images.githubusercontent.com/68471279/172071776-7cfaa70c-caf7-4eed-82fb-b09c6f2144c0.png)

[2022-06-06 01:02] synchromesh62 commented on #3261
Contact Rick on Customer Support.
He will be able to swap for you.

[2022-06-06 09:07] davetgc commented on #3264
[mapbank.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8843204/mapbank.zip)

[2022-06-06 09:08] davetgc commented on #3264
Added mapbank files as well.

[2022-06-06 09:09] ZakJudges commented on #3214
@z2a2008 Thanks for the file, could you try to delete the file "Max\version.ini" and see if that sorts the problem? :)

[2022-06-06 09:47] plemsoft commented on #3264
@davetgc Your project was setup to use "mapbank\Main World.fpm" and not "Scortched.fpm" did you delete "Main World.fpm" ?

[2022-06-06 09:53] davetgc commented on #3264
@plemsoft - Whoops. sent the wrong files
[mapbank.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8843507/mapbank.zip)

Basically, the file no longer seems to contain any data.
.

[2022-06-06 11:32] LeeBamberTGC commented on #3261
@Hamada880 Let me know if our support system helped, and if so, I can close this :)

[2022-06-06 11:36] #3164 closed

[2022-06-06 11:37] #3145 closed

[2022-06-06 11:40] #3104 closed

[2022-06-06 11:43] LeeBamberTGC commented on #3039
@Curiosityuk Okay to close this one? :)

[2022-06-06 11:43] #3039 closed

[2022-06-06 11:44] LeeBamberTGC commented on #3028
@thomasmg81 Yes indeed, something along those lines :)

[2022-06-06 11:44] #3028 closed

[2022-06-06 12:07] #2376 closed

[2022-06-06 12:08] #2330 closed

[2022-06-06 12:09] #2253 closed

[2022-06-06 12:10] #2193 closed

[2022-06-06 12:10] #2174 closed

[2022-06-06 12:11] #2154 closed

[2022-06-06 12:16] #1880 closed

[2022-06-06 12:21] #1733 closed

[2022-06-06 12:40] AmenMoses commented on #3265
So it maybe a coincidence but I just loaded my cinematic testing level and some of my camera trigger zone entities were showing the entity as being in a different position from the zone itself, I deleted them and put down new trigger zones to continue testing and MAX promptly crashed out with no error when I clicked on one to move it.

Anyhow, a possible cause of this is that the saving and reload

[2022-06-06 13:01] Maro32 opened #3267 "Sliding Door bug"
Hello!

I found a strange thing about the sliding door. It works in proportion to the distance. When you are close to the door it works as intended. If the door is far away it won't do anything until you get closer, and if you do, it will start to open and close until you get close enough.
I attached a file where you can see this in action.

[Door Bug.zip](https://github.com/TheGameCreators/GameGu

[2022-06-06 13:09] #1534 closed

[2022-06-06 13:12] #1387 closed

[2022-06-06 13:13] #1399 closed

[2022-06-06 13:18] #509 closed

[2022-06-06 13:18] #464 closed

[2022-06-06 14:27] Duchenkuke commented on #841
I regret to inform you, that this issue still appears. Tested on the newest Version. I find github hard to keep track of the issues I posted so I forgot about this.

[2022-06-06 15:25] #1640 closed

[2022-06-06 15:52] LeeBamberTGC commented on #3185
@thor49 Is this still an issue, or has it been fixed. Will close soon :)

[2022-06-06 15:53] LeeBamberTGC commented on #3055
@Pcskiller Is this still an issue, or has it been fixed. Will close soon :)

[2022-06-06 15:53] LeeBamberTGC commented on #2832
@relishrompgames Is this still an issue, or has it been fixed. Will close soon :)

[2022-06-06 15:54] #2646 closed

[2022-06-06 15:54] LeeBamberTGC commented on #1624
@smmaas Is this still an issue, or has it been fixed. Will close soon :)

[2022-06-06 15:56] LeeBamberTGC commented on #3186
@thor49 Is this still an issue, or has it been fixed?

[2022-06-06 15:58] LeeBamberTGC commented on #2877
@Indidev234 Glad you found a fix :)

[2022-06-06 15:58] #2877 closed

[2022-06-06 15:58] LeeBamberTGC commented on #2801
@tfrakey Is this still an issue, or has it been fixed?

[2022-06-06 16:02] Duchenkuke commented on #841
the bug applies to gg classic, not max

[2022-06-06 16:31] LeeBamberTGC opened #3268 "Add PURCHASED tab into the Music and Sound Library Marketplace"
To create consistency with the object marketplace:

![image](https://user-images.githubusercontent.com/35840583/172203982-35a39b9c-5b6c-4483-8ad5-ffe967f4263f.png)

Fix the oversized marketplace header image:

![image](https://user-images.githubusercontent.com/35840583/172204158-432b67a9-1df3-4a79-9b9a-05cf7e265bdc.png)

[2022-06-06 16:34] LeeBamberTGC opened #3269 "Fix issue of black squares, missing images when return to HUB from Terrain Generator"
See if can reproduce issue of creating a new project, new terrain, but then cancel the terrain generation process and return to HUB, are the images missing:

![image](https://user-images.githubusercontent.com/35840583/172204595-683ee317-e887-4717-a6c0-ae21aed52f0d.png)