[2022-04-25 17:02] #2947 closed

[2022-04-25 17:02] Tum1370 commented on #2935
@LeeBamberTGC
Ah that’s great thanks.
LOL, I already spent all Friday night removing all my group camps and replacing them myself with new camps and new AI.

[2022-04-25 17:11] #2173 closed

[2022-04-25 17:15] ArgentArts commented on #1968
@LeeBamberTGC @dllllllllllb I really want to bump this because I think it's needed. It's very strange to have to place an object FIRSST before setting up your grid, especially if you're working with an interior level that is built with modular pieces. If, for example, I am starting a new day's work on a project I had left off of from the previous day, I already have pieces set in place. But MAX wi

[2022-04-25 17:19] rvanner commented on #2970
@LeeBamberTGC Paul said he wasn't the best at looking into this. Maybe you or Preben?

[2022-04-25 17:21] Pcskiller commented on #2949
It happens on any level, old or new and my Software is up to date.

[2022-04-25 17:23] ArgentArts commented on #1606
I still can't open a door with the Switch Behavior connected to the Door Behavior, though I can unlock it. However, I can open the Sliding Door using the Switch Behavior, so there's that. ;)

[2022-04-25 17:23] #1605 closed

[2022-04-25 17:24] #1596 closed

[2022-04-25 17:24] #1595 closed

[2022-04-25 17:25] #1571 closed

[2022-04-25 17:26] #1564 closed

[2022-04-25 17:30] DarthPickles666 commented on #2970
Hey folks, I believe it's been fixed, someone has edited the script and I'm now getting the 80 fps again. Not sure if this is an issue for anyone else, but the script seems fine now.

![image](https://user-images.githubusercontent.com/101579658/165142077-f618365e-d2be-4523-9624-bbab4a44a738.png)

[2022-04-25 17:31] ArgentArts commented on #2327
@LeeBamberTGC I almost cried! I actually gasped! YES! This is exactly how grid snapping should work! Thank you!

[2022-04-25 17:37] harkinhails commented on #2697
Specs are same, other than res is now 1440p (2560 x 1440) at 10 bit.

So the new update, is surprisingly "smoother" for me. I was actually able to run around shooting enemies without seeing any "stutter" that was in previous versions. I do realize my display card is from 2016, so I'm not expecting miracles on this, esp. on the new res (6 GB ram helps).

Looking forward to future improvements. At-l

[2022-04-25 17:39] #2927 closed

[2022-04-25 17:42] ArgentArts commented on #2697
@harkinhails A note on the current state of SSAO - It currently only affects models manually placed and not the objects placed by MAX's Terrain Generator (terrain generator trees, terrain, grass). So, if you run a demo like Island Showdown, you'll see SSAO affecting the palm trees because these were placed by the person who made the game (as well as some of the larger trees in the forest). But mos

[2022-04-25 17:47] rvanner commented on #2928
@Necrym59 Can you please check this now works for you in the latest experimental build?

[2022-04-25 17:48] rvanner commented on #2162
@LeeBamberTGC You cannot seem to delete the non-parent groups.

[2022-04-25 17:48] Pcskiller commented on #2949
"The density slider doesn't have an immediate effect, it will take effect when you next paint some grass."
Isn't the density slider to also work on the populated vegetation as well ,  because i can set it any were and then press the populate button and then it does populate,,  but the density stays the same and it always just populate with one basic grass type, not any of the ones i have selected.

[2022-04-25 17:49] AmenMoses commented on #2970
The culprit was SetPlayerFOV() which was being called every frame.

smallg changed the script to only call SetPlayerFOV() when needed, i.e. not to call it unless the value changed.

But it might be good idea to look at what the function is actually doing in MAX as I'm pretty sure it didn't do that in Classic (Cine|Guru allows smooth camera fades using FOV changes every frame).

[2022-04-25 17:53] rvanner opened #2972 "When you drag in a group in Widget mode, the group gets dropped on the left you cannot drag it in exactly"
![image](https://user-images.githubusercontent.com/1503593/165145909-5dc4de27-dee1-4d66-8fd6-a02aa48b54af.png)

[2022-04-25 19:35] janekste commented on #2933
@PaulSJ

https://youtu.be/PkifSOQqIBQ

I recorded a video for you. I have generated a new level in the canyon. Just get close to the trees and change the graphics settings several times. On different graphics settings, you will see a different number of trees, trees in different places. I see this problem both in the level editor and in the standalone game. Some trees become invisible, and others

[2022-04-25 20:11] #2357 closed

[2022-04-25 20:11] #2325 closed

[2022-04-25 20:12] #2324 closed

[2022-04-25 20:13] #1966 closed

[2022-04-25 20:14] #1904 closed

[2022-04-25 20:15] #1285 closed

[2022-04-25 20:16] #686 closed

[2022-04-25 20:17] Necrym59 commented on #2928
No doors open without key, thay all asked for it (thats ok) i picked up the key and went to open the second door from the end
and recieved an error
![error](https://user-images.githubusercontent.com/95015657/165167715-4375844d-20aa-49da-825e-bfff93599027.png)
then i continued after error closed and the door next to it opened automatically??
![doors](https://user-images.githubusercontent.com/950156

[2022-04-25 20:18] #1909 closed

[2022-04-25 20:23] Necrym59 commented on #2928
Seems to function ok on a new map - the proximity of doors to close to each other just causes some unusal openings i thinkk thats to be expected normally you would have doors that close i dont think

[2022-04-25 20:53] Hamada880 commented on #2967
Will tested it out, much appreciated it.

[2022-04-25 21:50] Necrym59 commented on #2970
Sorry my mistake in the script - couldnt wait for me to have a sleep to fix it ;)

[2022-04-25 21:54] Necrym59 commented on #2967
My question is why such a convoluted way of doing this with the textures, if its going to be for users to use the own textures a converter needs to be in place to create the correct group of dds files or users will have to buy a product just to use it, it just seems strange to me.

[2022-04-25 22:08] Necrym59 opened #2973 "GGMAX - Main Storyboard layout request"
Is it possible please to recover some screen real estate on wide screens by reducing the large banner at the top by 50% in height, im not sure how is being driven for size but its not very functional on wide screens, it basically forces the story board to be scrolled from the outset. Or perhaps a relook at the storyboad layout alltogether later.
![screen](https://user-images.githubusercontent.com/

[2022-04-25 22:10] #2973 closed

[2022-04-25 22:28] Necrym59 commented on #2542
That is a good solution for where to implement it but it still needs a central repository per map, which is the part what im suggesting.

[2022-04-25 22:36] Necrym59 commented on #2631
Memoization is a great idea but requires a centralised global functionbank wouldnt it, then were getting into the realms of distributed reuseable code. Ok by me and you perhaps, possibly a bit much for the average Max user to come to grips with especially if Max is designed to make it easier, perhaps it could be done at some point it would make scripting a lot easier and more plug and play and im

[2022-04-25 22:37] PaulSJ commented on #2967
Its a trade off between quality and memory usage. BC7 is the best quality for color images, BC5 is the best for normal maps, and the surface is less noticeable so gets BC1 for best compression. Also all the textures must be 2048x2048 due to how they are used internally.

The tool I attached above can be used if you want to use your own textures. It isn't officially supported because of this comple

[2022-04-25 22:41] Necrym59 commented on #2967
Hi Paul I understand the tecnicalities, im just interested as to how its going to be implemented for the common user in MAX all they want to do is add 'texture' will it be an automated conversion?

[2022-04-25 23:00] PaulSJ commented on #2967
Yes, it is possible we could add this process to the editor to make it easier. But given the amount of work it takes to make a good looking terrain texture (it needs matching color, normal, roughness, and AO maps for the PBR renderer), it's not something that will be commonly used, so it's not a high priority at the moment.

[2022-04-25 23:06] OldFlak commented on #2215
@LeeBamberTGC
DOH - reset interface sorted it :)

Great work Lee :)

[2022-04-25 23:13] OldFlak commented on #2244
@LeeBamberTGC YES! fixed great work :)
Thanks Lee for persevering with this issue - much appreciated :)

[2022-04-25 23:13] #2244 closed

[2022-04-25 23:17] Necrym59 commented on #2967
Yeah, my thought was it could generate those additional maps from the one being added. Personally i can get by doing all that stuff i was just thinking of other end users.

[2022-04-25 23:38] OldFlak commented on #1980
Steering away from outside levels due to poor performance and player movement issues.

But not seeing this issue atm, so will close - Thanks Zac :)

[2022-04-25 23:38] #1980 closed

[2022-04-25 23:39] #2741 closed

[2022-04-25 23:39] #2739 closed

[2022-04-25 23:41] Indidev234 commented on #2877
This is from the first PC, tomorrow I will do it from the second
![с 1 пк](https://user-images.githubusercontent.com/103853649/165191852-b084f4d7-8b88-4b4b-9026-5b79e9963937.PNG)

[2022-04-25 23:43] #2314 closed

[2022-04-25 23:45] OldFlak commented on #2216
Thanks for considering - Using Steam so not an issue :)

[2022-04-25 23:45] #2216 closed

[2022-04-25 23:49] OldFlak commented on #2025
Sorted :)

[2022-04-25 23:49] #2025 closed

[2022-04-25 23:53] #1853 closed

[2022-04-25 23:53] #1861 closed

[2022-04-25 23:55] #1035 closed

[2022-04-26 00:37] Ratall commented on #2963
@plemsoft Thanks for your diligence, look forward to testing it in the next update.

[2022-04-26 00:38] Ratall commented on #2965
@plemsoft Thanks for your diligence, look forward to testing it in the next update.

[2022-04-26 01:47] Kitakazi commented on #2793
@ZakJudges
https://drive.google.com/file/d/1yiMNCaGzpGCdGNZfFGphcTSj4KFQZ8p7/view?usp=sharing

[2022-04-26 02:05] Kitakazi commented on #2921
@plemsoft
After downloading the new update that came out today it looks to be fixed lol.
Running same level with 2048 shadows and transparent shadows enabled at 60+ fps no problem now.

[2022-04-26 02:05] #2921 closed

[2022-04-26 02:30] ArgentArts commented on #2215
@OldFlak That, sir, is most likely all my fault:

https://github.com/TheGameCreators/GameGuruRepo/issues/2327#issuecomment-1106237480

[2022-04-26 02:54] Ratall commented on #2951
@ZakJudges I did some more investigating last night and I believe the import sets the material name to noname if
A) The Material has no texture associated with it.
B) The texture file is associated with another material as well.
for example
![gets a material name](https://user-images.githubusercontent.com/35710601/165209132-15878586-f109-4c07-98fd-5c9878408044.png)

Gets a material name But
![Gets

[2022-04-26 04:16] Ratall commented on #2955
@ZakJudges In the video I did it 2 ways the first worked and the field reflected the file name the second i used the 3 dots and it did not.
hope this helps

[Wait till the end.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8559704/Wait.till.the.end.zip)

[2022-04-26 06:24] bond1mjb commented on #1976
@LeeBamberTGC  Chris says he no longer has the files for these assets.  So without any way to get these into 3ds Max for editing, I'm afraid I can't do anything to fix this.

[2022-04-26 06:29] bond1mjb commented on #2900
@rvanner Chris says he no longer has the edits he made for the basement collection.   So unfortunately I don't have a way to import and fix the models from this collection that are currently in GGMAX.

[2022-04-26 06:32] rvanner commented on #2900
OK, we'll discuss it here and get back to you.

Rick

On Tue, 26 Apr 2022 at 07:29, bond1mjb ***@***.***> wrote:

--
Rick Vanner
*Development Director*
*The Game Creators Ltd*
www.thegamecreators.com
*Easy Game Creation Tools;*
*AppGameKit* - www.appgamekit.com
*GameGuru* - www.game-guru.com
*Developer of the UK's #1 Theory Test App!*
www.drivingtestsuccess.com/app

[2022-04-26 07:22] plemsoft commented on #2877
@Indidev234 Ohh i need the full information, you need to use "dxdiag" and use "Save all information"  , and post the text file here :)

[2022-04-26 07:42] rvanner commented on #2911
@LeeBamberTGC If I move an object that is already in the scene and the movement system has find the floor AND match orientation, then the object should orientate too. This is the main issue. eg these two should be like the one of the left
![image](https://user-images.githubusercontent.com/1503593/165248165-e67093b2-4968-46bc-a45a-84fe84058cf3.png)

[2022-04-26 08:12] ZakJudges commented on #2793
Thank you both, a fix should be in the next experimental build :)

[2022-04-26 08:29] Tum1370 commented on #2957
@LeeBamberTGC
Did the new build go live to Steam?
What’s a EXP build ? A test build ?
How do we download that to test please ?

[2022-04-26 08:37] ZakJudges commented on #2955
Hi @Ratall, thank you for the video. I have added a fix which should be available in this Friday's update. When you get the update, could you confirm if the issue is fixed for you? Thanks :)

[2022-04-26 08:40] rvanner commented on #2957
@Tum1370 The Experimental build is a series of daily builds that contain the teams daily fixes. If you would like access to it then please email me and I'll send you details. My email is rick@thegamecreators.com

[2022-04-26 09:43] LeeBamberTGC commented on #2928
@Necrym59 Yes the fix last night on EXP only works for newly added objects, older levels before that fix, you will need to click each object and view the DLUA behavior panel, it will then create the missing data causing this.

[2022-04-26 09:43] #2928 closed

[2022-04-26 09:45] LeeBamberTGC commented on #2631
@Necrym59 Already do a little "Memoization" when recalculating rays (as the static scene does not really change much) )

[2022-04-26 09:47] LeeBamberTGC commented on #2215
@ArgentArts @OldFlak Happy to hear a solution. Perhaps two more values to shift the grid tile offset so you can have pretty much any alignment of any size?

[2022-04-26 09:50] LeeBamberTGC commented on #1976
@bond1mjb If they are static, there 'could' be a way for MAX to load in a DBP and export an OBJ, would that be of help?

[2022-04-26 09:53] PaulSJ commented on #2933
I think I see what's happening. When the graphics settings change, the terrain becomes slightly less detailed, which changes the angle of some of the slopes. Trees are automatically removed on slopes that are too steep, so the slope angle might be very close to this critical value and then the settings change it just enough to flip it between the two.

If you manually place or move a tree then it

[2022-04-26 09:53] LeeBamberTGC commented on #2911
@rvanner The two on the right I clicked dragged dropped, and click hold and dragged in from the left. The one on the left I previously dragged in on the flat ;part, then moved it up the hill and it oriented fine. Can you reproduce my image:

![image](https://user-images.githubusercontent.com/35840583/165274104-d14077a3-3628-457f-a9e2-e7444f641218.png)

[2022-04-26 10:04] davetgc opened #2974 "Surface texture importer description not justified."
![image](https://user-images.githubusercontent.com/99803873/165276295-a9fb768c-0ab3-41d8-9e57-14768981c01e.png)

[2022-04-26 10:09] rvanner commented on #2911
@LeeBamberTGC OK, seems it works for these barrels but not for the Aztec items I was testing with (send by Mark). He must not be importing them properly. I will close this issue now and we can sort the Aztec stuff out next week.

[2022-04-26 10:09] #2911 closed

[2022-04-26 10:14] rvanner opened #2975 "Add a warning to new users who decide to edit the cellar demo"
So add this message box when the user comes into the Level Editor:

"Caution - Developer Mode Game"

This game uses developer mode settings and is set in a dark environment.
If you are a new user you might find it difficult to edit and would recommend you first start with the green and yellow labelled demo games to begin with.
If you still want to edit this demo then use the editor light (top righ

[2022-04-26 10:21] synchromesh62 commented on #2900
Is it just the walls ?
I may be able to re-centre them using a different method but its not a fast process.
On the other hand it avoids taking anyone off what they are doing.
https://youtu.be/srYdZcZ6PV4

[2022-04-26 10:49] ZakJudges commented on #2974
Fixed, should be in the next experimental build :)

[2022-04-26 11:13] Necrym59 commented on #2922
Alternative health.lua supplied
[health.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8562610/health.zip)

[2022-04-26 11:35] LeeBamberTGC commented on #2909
@ArgentArts Sorry for the delay. I have my inbox down to reasonable levels now, and can confirm your email and the attachment has been downloaded safely :)

[2022-04-26 11:49] OldFlak commented on #2215
Was the grid not 100x100 previously?
My models are designed with the 100x100 grid so they snap together in grid mode perfectly - until last update they worker fine.

So is the only solution to rebuild all levels?
- and hope it doesn't change again in later builds
unless it can be fixed

[2022-04-26 11:52] LeeBamberTGC commented on #2162
@rvanner I created three characters, made them a group, then dragged in a copy of the group to stand in front of the first set. I click the first set (the old parent group), pressed DELETE and they deleted. Then clicked the second copied set, and pressed DELETE, the warning shows up. To delete the final parent group, select it, then click the UNGROUP button, then you can delete them manually. Work

[2022-04-26 11:56] LeeBamberTGC commented on #2215
@OldFlak In MAX you can choose any grid size you want, but yes it does default to 100x100 on the XZ plane.

ArgentArts requested that the grid is aligned top/left so that when the above dimensions change, in his example by a factor of two, the grid alignment still works. This was implemented.

The downside is that anyone who relied on the grid being aligned to the center of the grid tiles will now

[2022-04-26 11:56] #2162 closed

[2022-04-26 11:57] LeeBamberTGC commented on #1968
@rvanner I had the same feeling. It seems daft the grid only shows when an object is selected. We can leave it visible even if no objects are selected (will sit above the Tutorial and Keyboard Shortcuts components when in object mode).  This way grids can be set up before any work starts. Thoughts?

[2022-04-26 11:59] LeeBamberTGC commented on #1606
@ArgentArts I have switched this to a feature request for a new door behavior called Door Remote, which when activated will open and close the door as requested. The current door is a lock / unlock behavior.

[2022-04-26 12:02] rvanner commented on #1968
@LeeBamberTGC About 6 months ago I argued to the grid to be on it's own. Glad you've come round to the idea finally! :-)

[2022-04-26 12:03] rvanner opened #2976 "When you move a group it can end up under the terrain"
Watch this simple group creation and then moving it.
https://youtu.be/J6tUiD-DkZ4

[2022-04-26 12:08] OldFlak commented on #2215
Ok - that doesn't make sense at all to me. Objects aligning to center of grid is the way it works in modelling tools.
Otherwise you would just use snap, instead of snap to grid?

So I guess I have a lot of work to do to existing levels - such is life!

[2022-04-26 12:15] #2105 closed

[2022-04-26 12:17] rvanner commented on #1076
@PaulSJ I don't think this is our issue? If you agree then please close it down.

[2022-04-26 12:36] #1076 closed

[2022-04-26 12:57] LeeBamberTGC commented on #2215
@OldFlak Nope, with the addition of a 50x50 offset the next build will restore the functionality you depended on before, just with more control for ArgentArts :)

[2022-04-26 12:58] OldFlak commented on #2215
Thanks Lee - look forward to it :)

[2022-04-26 13:12] PaulSJ commented on #2949
Ah I see, it's the repopulate button that isn't respecting user settings. Fixed for the next version.

[2022-04-26 13:20] PaulSJ commented on #2718
@Grogadog This can happen in the editor if a tree is placed from far away, when the terrain is less detailed under the tree when it is placed, but it should fix itself when the level is tested or loaded. Is this what you are seeing?

[2022-04-26 13:26] Tum1370 commented on #2957
@LeeBamberTGC
Just testing the experimental build of Max on Steam.
Am still getting this same issue, as you can see in this screenshot.
Picked 3 different tables, and placed 2 different computers on top each table.
You can clearly see the computers are not placed on the top of the tables.

I also see a possible new bug with this experimental build, When you move a entity (to delete from the level)

[2022-04-26 13:33] PaulSJ commented on #2714
Weirdly I still can't replicate this
https://user-images.githubusercontent.com/8309736/165310984-215707d0-c979-43fe-9d1a-e66681456285.mp4
Do you see this issue in a new empty level?

[2022-04-26 13:35] Tum1370 commented on #2935
@LeeBamberTGC
Just tested the Experimental build on backup save of this level before i changed them.

I can confirm that this problem with the AI been messed up on all these Camps that i created using the group sysem, is now fixed.
All AI was attacking me normally and looking at me.

[2022-04-26 13:55] PaulSJ commented on #2641
@Retrogamebloke Is this still an issue with the latest version?

[2022-04-26 14:04] PaulSJ commented on #2608
@mav3r1ck198-1 Is this still an issue in the latest version?

[2022-04-26 14:06] PaulSJ commented on #2423
It could be related to GPU memory, but I would expect it to just slow down by paging data out to system memory, rather than corrupt things like this. Unfortunately I've not seen this happen so not sure how we can track it down.

[2022-04-26 14:11] Tum1370 commented on #2957
This bug is making Max so hard to presently use.
Just placing things on top of things quickly is impossible now.
I just cannot get along with it currently like this.
I dont even know why it changed as before Friday build I didnt have any smart placement problems.
:(

[2022-04-26 14:13] PaulSJ commented on #2217
Grass denisty slider should be fixed for the next version

[2022-04-26 14:14] Tum1370 commented on #2478
@LeeBamberTGC
I could not even tell you if this bug was fixed.
This was a very early TEST MAP and i have not seen this bug since that test map.

Fridays build though has made Smart Placement useless for me though.
I cannot easily place objects on top of other objects now.

[2022-04-26 14:15] bond1mjb commented on #1976
@LeeBamberTGC Oh sure, OBJ would work. I can import anything other than DBO.

[2022-04-26 14:20] LeeBamberTGC commented on #2478
@Tum1370 Okay I agree it is the same issue as the link below, so will close this one and we can continue through with this one:

https://github.com/TheGameCreators/GameGuruRepo/issues/2478#issuecomment-1109851707

[2022-04-26 14:20] #2478 closed

[2022-04-26 14:27] LeeBamberTGC commented on #2957
@Tum1370 In last nights EXP build, the household tables have been given an extra flag which solved it for me:

This worked for me, selecting TABLE 01 (see shot below):
![image](https://user-images.githubusercontent.com/35840583/165322263-d255f519-a6d2-45a2-9621-07da4fcc1f19.png)

Then select Crockery, Dish Set Bowl 1a:
![image](https://user-images.githubusercontent.com/35840583/165322702-9145bbcc-

[2022-04-26 14:44] plemsoft commented on #2608
@PaulSJ This is how it could look when it went into the endless loop that sometimes was restored when moving , but always in the end ended with a crash , so im sure this is the Thread stuff you already fixed, and should not be a problem anymore in the latest builds.

[2022-04-26 14:44] Tum1370 commented on #2957
@LeeBamberTGC
Just tested the Table 01 and Dish Set Bowl 1a: on a Fresh Empty Level and it was working fine.
As you can see in the screenshot,
But also on that same screenshot, I have that same Dish on Table 03 (the right hand table),Now on this new level this dish smart places correct.
But as you can see on a Level am creating, i have Table 3 already placed, and that same Dish Set Bowl 1a, does n

[2022-04-26 14:49] ArgentArts commented on #2215
Not really. If you look at my bug report here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2327

You'll see that snapping did not work as it should in modeling tools. In 3D modeling applications, if you've set up a model to snap to a particular grid and then reduce that grid in half, then the models should still precisely snap. This did not happen in MAX at all (see the videos I'd post

[2022-04-26 14:59] Tum1370 commented on #2957
@LeeBamberTGC

This screenshot below, is me placing the "Table 01" and "Dish Set Bowl 1a" .
But this time, rather than placing these 2 on an empty level, i have placed on my level i am creating.
As you can see once again, Same dish and table worked fine on a blank level, But on my level it is not placing correctly.

![image](https://user-images.githubusercontent.com/66874403/165330299-8d1732b9-c2b

[2022-04-26 15:07] mav3r1ck198-1 commented on #2608
Apologies, im working away and dont have great access to emails etc, I havent experienced the issue in the latest builds, it was quite frequent with earlier builds tbh, but hopefully is now rectified

[2022-04-26 15:21] ArgentArts commented on #2714
@PaulSJ Here's two videos in two completely different levels (the last one's a new, empty level in the latest experimental build):

https://user-images.githubusercontent.com/36735507/165335155-ad5474a6-305a-4615-a3d0-79162ce14657.mp4

https://user-images.githubusercontent.com/36735507/165335166-1f487b62-cd01-4b1c-84e1-119fd9d49aea.mp4

[2022-04-26 15:25] LeeBamberTGC commented on #2957
@Tum1370 The issue was the object settings of the original model which was the location of the fix. Old levels that use those objects will have the old settings.  Here is Table 03 and the dish when making a new level and it works fine:

![image](https://user-images.githubusercontent.com/35840583/165336045-e614ec46-a1a1-4b48-aabd-1a9b8ac74ecf.png)

[2022-04-26 17:13] Tum1370 commented on #2957
@LeeBamberTGC
I have just verified my Experimental files on Steam.
Same issue with same items, new level.

![image](https://user-images.githubusercontent.com/66874403/165355832-51db1cad-1d02-4599-9757-a89a50e8fc25.png)

[2022-04-26 17:15] ArgentArts commented on #1968
Snapping, to me, is very important, especially when working on an interior level. As a result, I might actually suggest something like this:

![snap](https://user-images.githubusercontent.com/36735507/165356099-0930abdc-4ffb-4355-8a87-11636c13314d.png)

There's plenty of space on that top bar with nothing going on in the middle. Why not use that empty space?

[2022-04-26 17:16] LeeBamberTGC commented on #2957
@Tum1370 Can you send me the FPE file for the "Max\Files\entitybank\Booster Pack\Household Pack\Tables\Table 01.fpe", I can then check against the build I have here, thanks!

[2022-04-26 17:16] Tum1370 commented on #2957
@LeeBamberTGC
Look at the computer sat on the top, It is not on top of the table but slightly inside the table.
On your image its a little far away to check if the computer is slightly inside the table.

![image](https://user-images.githubusercontent.com/66874403/165356121-85586df0-7bb4-42de-8b97-2952af11cb95.png)

[2022-04-26 17:18] LeeBamberTGC commented on #1968
@ArgentArts It is all about the smart use of real estate UI. Grid has no influence on terrain mode and not related to test game. That top bar is to select the top tier options for moving through the level editor.  For consistency it would be on the right panel somewhere.

[2022-04-26 17:18] Tum1370 commented on #2957
@LeeBamberTGC
Here is the table 01 file
[Table 01.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8565443/Table.01.zip)
.

[2022-04-26 17:20] ArgentArts commented on #1968
Fair enough. :)

[2022-04-26 17:20] LeeBamberTGC commented on #2957
@Tum1370 File looks okay. Could you make a small video showing an empty level with just Table 01 and then move a Magnum weapon over it to place down, so I can see it either dipping below or staying on top, thanks again!

[2022-04-26 17:24] Tum1370 commented on #2957
@LeeBamberTGC

Magnum weapon is through the table as well..

![image](https://user-images.githubusercontent.com/66874403/165357405-4bea6ae7-18e5-4655-9929-6f6418d24a9f.png)

![image](https://user-images.githubusercontent.com/66874403/165357485-a25ec8a0-a640-4db9-8fa2-3b57d75390c4.png)

[2022-04-26 17:32] Tum1370 commented on #2957
@LeeBamberTGC

Quick video of the table 01 and computer and magnum
[Clip.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8565589/Clip.zip)

[2022-04-26 17:44] LeeBamberTGC commented on #2957
@Tum1370 Looks like Computer 01a and 01b from the Military Pack are messed up. Let me know if you find more objects like this in the Booster Pack, they will need correcting.  Do the rest of the computers "search for computer" place down above the table instead of inside it?

[2022-04-26 18:22] Tum1370 commented on #2957
@LeeBamberTGC
Ill let you know if i find any more bad objects.
Out of the computers it only seems to be 01a and 01b like you said.

Am guessing this means for me to fix my level, i have to redo all the huts i have with that table in now, and replace with new table on experimental build ?

![image](https://user-images.githubusercontent.com/66874403/165366490-58ed56e7-ece0-40f0-b008-b0d9a43720b2.png

[2022-04-26 18:35] Tum1370 opened #2977 "GG Max - Experimental Build - BUG - Dragging Objects from Level Editor to Level Objects panel does NOT delete"
In the experimental build on Steam, When you drag an item from the level editor to the Level Objects panel to delete it, It does NOT delete it now.
All it does is place that object in the Editor again, but out of sight behind the Level Objects panel.

[2022-04-26 18:43] LeeBamberTGC commented on #2957
@Tum1370 I would hold off on using any objects that exhibit this behavior and wait for the next public release as there may be more fixes in the Booster Pack that will save you future work.

[2022-04-26 18:57] janekste commented on #2933
@PaulSJ
This text was typed using Yandex online translator.

Thanks for the explanation. Now I understand what's going on. Now I know that I have to plant each tree manually so that it is always in its place. I should pay special attention to all the trees near the slopes. Now everything is clear.

But I think it shouldn't be like that. If the trees are automatically generated, then all the trees

[2022-04-26 20:06] Kitakazi opened #2978 "Switch Behavior Linked to Door with Door Sliding Behavior Does not Close the Door"
Like the title says if you attach a Switch to a Door with the Door Sliding Behavior it will open the door but activating the switch again does not close the door.

Additionally the Door Sliding Behavior does not have an option to have the door start Unlocked.

[2022-04-26 20:20] ArgentArts commented on #2978
Switch opens and closed the sliding door for me:

https://user-images.githubusercontent.com/36735507/165385281-e83c2959-2a4b-4dc8-a8bf-f482bf73d38b.mp4

[2022-04-26 20:45] Necrym59 commented on #2926
Confirmed its fixed

[2022-04-26 20:45] #2926 closed

[2022-04-26 22:09] Kitakazi commented on #2978
Huh thats weird. I have no idea why mine does not close the door. I will test some more in a bit

And yea I was thinking if you wanted the door to open automatically when in range there was no way to have the door start unlocked. Not really a big deal.

[2022-04-26 23:40] 68chase commented on #2882
Sorry I just see the response.  I will try it with last weeks build and see if it still is crashing.

[2022-04-26 23:54] ArgentArts commented on #2978
Yes, you can start with the door unlocked and have it open when a player is in range. I have all my sliding doors opening that way. They auto-open when the player crosses the trigger area I've set up.

[2022-04-27 00:03] OldFlak commented on #2215
Just build your models with the 100x100 grid in mind and all works fine :)

Was in the category of if not broken don't fix, but Lee has fix for that so all good.
May be useful to some going forward so no biggie.

[2022-04-27 00:19] Necrym59 opened #2979 "GGMAX - Player in Zone Icon"
Attached is a more visually descriptive 'Player in Zone' icon set rather than the current (knob/whatever that is)
Just an alternative viepoint/observation for consideration
[plrinzone_icons.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8567651/plrinzone_icons.zip)
Also attached is an alternative Hurt and Heal icon set.
[hurt_heal.zip](https://github.com/TheGameCreators/GameGuruRepo/fi

[2022-04-27 00:46] 68chase commented on #2882
I can confirm the crash didn't happen with the latest version.  Thanks for fixing.

[2022-04-27 01:44] #2978 closed

[2022-04-27 02:17] ArgentArts commented on #2215
Actually, no. If you build your models according to any grid scale, 100 x 100 or not, and then decide to use another grid snapping for whatever reason for another piece, then, under the old system, it will throw everything off. Sometimes you have a smaller piece that you want to place with precision and want to do so by reducing the grid and snapping it in place. I mean, there is a reason we can a

[2022-04-27 07:22] marcuswilm opened #2980 "GameGuru MAX (alpha 2022-04-22) : Object Tool - Rotation Angle Z"
Hello,

In my opinion there is a problem with the 'Rotation Angle Z' setting of the 'Object Tool'.

Please could you verify ?

Thank you.

[2022-04-27 07:41] plemsoft commented on #1646
@smmaas Feel free to create a new issue if you still see this in the latest version, thanks :)

[2022-04-27 07:41] #1646 closed

[2022-04-27 07:44] plemsoft commented on #2853
@Tum1370 Could you try this in the latest EXP build and close this issue if its fixed for you , Thanks :)

[2022-04-27 07:53] plemsoft commented on #2881
@Tum1370 Are you still seeing this issue in the latest build ? , if not please close this down, you can always create a new issue if you see it again :)

[2022-04-27 07:55] ArgentArts commented on #2980
Just checked on one of my objects and it appears to be working as it should. Why do you say there's a problem?

[2022-04-27 09:17] rvanner opened #2981 "Grouping objects"
It should be possible to group objects using Control+Left Click to highlight objects one at a time.

Lee - I could not even select more than one object doing this, so I don't think it's possible yet.

[2022-04-27 09:18] rvanner opened #2982 "Don't highlight objects when moving the mouse over the scene (only when you click an object)"

[2022-04-27 09:21] rvanner opened #2983 "MSAO on by defaul"
Ensure MSAO is enabled as a default setting to ensure quality visuals from the start

[2022-04-27 09:25] LeeBamberTGC commented on #2980
@marcuswilm Rotation Angle Z looks fine, Z goes into the distance and 45 degrees rotates the table along that axis:

![image](https://user-images.githubusercontent.com/35840583/165487193-14e80af3-c031-4216-b75d-ff08084c741f.png)

[2022-04-27 09:43] LeeBamberTGC commented on #2976
NOTE: Press ENTER when finished moving the group to "OPTIONALLY" find new heights of ground, or use the VERT MODE to move them up/down.

[2022-04-27 09:46] LeeBamberTGC commented on #2423
@PaulSJ I have reassigned this back to me as I can reproduce it on my NUC, and I suspect a driver esk issue caused by a mis-aligned structure or empty value, or non-filled buffer. Something of this kind.  I will focus my initial thoughts on the polygons that render bullets to the scene, as the texture matches that system.

[2022-04-27 09:51] LeeBamberTGC commented on #1976
@bond1mjb I will email you soon :)

[2022-04-27 09:54] ZakJudges commented on #2882
@68chase Thank you for confirming :) I will close this issue now

[2022-04-27 09:54] #2882 closed

[2022-04-27 10:23] davetgc commented on #2779
As an update. The classic Fantasy pack also doesn't import, but has a
slightly different issue

[image: image.png]

On Mon, Apr 25, 2022 at 5:41 PM Dave Hawkins ***@***.***>
wrote:

[2022-04-27 10:25] ZakJudges commented on #2779
@davetgc I can't see the image, would  you be able to attach it via GitHub directly?

[2022-04-27 10:33] ZakJudges commented on #2767
@DarthPickles666 This has now been fixed and should be in Friday's update. After updating, could you let me know if the issue is fixed for you? Thanks :)

[2022-04-27 10:33] davetgc commented on #2779
I'm just getting import errors when trying to upload the image! I'll email it to you.

[2022-04-27 10:46] plemsoft commented on #2944
@Tum1370 The image zone is not supposed to only work one time, like if you place a book somewhere and want to display a page from the book it will display the image , but if you revisit this book to read the "page" again it should show the image again.

So this is not a bug, i will change it into a "enhancement" request so we can add the new option to the script, when we are done fixing bugs :)

[2022-04-27 11:46] marcuswilm commented on #2980
@ArgentArts (Monkey Frog)
@LeeBamberTGC

Hello and thank you for your fast reaction to this report of a possible issue.

I want to show this short video ( 53 seconds - 27 MBytes - HD - no sound) published on my Vimeo channel where you can see that when the Rotation Angle Y is ~= 0 then the Rotation Angle Z parameter applies an unexpected rotation of the asset.

Here is the link : https://vimeo.com

[2022-04-27 11:59] marcuswilm commented on #2617
Hello, yesterday I posted a comment in this thread https://forum.game-guru.com/thread/223409 posted by smallg.

Personally I would like the avaibility of the float numbers in GameGuru MAX for some of my scripts.

Thank you.

[2022-04-27 12:13] LeeBamberTGC commented on #2980
@marcuswilm Alas that is how our Euler rotation works, in the XYZ rotation order. When you set Y to 60 degrees, it rotated the eventual Z axis rotation first by 60 on the Y.  For world rotation, try pressing F3 and using the widget rotation which is now world based and uses Quaternions to retain the correct global rotation for your object.

[2022-04-27 12:13] LeeBamberTGC commented on #2980
P.S. Feel free to close this one :)

[2022-04-27 13:04] rvanner opened #2984 "Flicker issue"
@plemsoft I spoke to @PaulSJ about this and he thinks it's something you're doing.

It seems this flicker issue is related to the animating of objects in the object library. See this video;

https://youtu.be/kxaav93t2bo

[2022-04-27 13:10] OldFlak commented on #2215
Lee has sorted the issue - it is done and dusted :)

[2022-04-27 13:16] LeeBamberTGC commented on #2215
@OldFlak @ArgentArts Thanks both for the feedback and insights, I think we will have a great system now for grid work :)

[2022-04-27 13:18] OldFlak commented on #2215
Thanks for sorting it all Lee - great work :)

[2022-04-27 13:45] casigus opened #2985 "Animation not playing in-game"
exported everything perfectly in  Blender.

import intto ggmax

![image](https://user-images.githubusercontent.com/68471279/165531292-0c7370e5-5707-4ba1-a88f-ae7f8b7f5373.png)

the animations  work  in  the  importer, but  the second  its imported. The animations  no longer  work.
when  the  obj is in  the  importer mode, it  becomes super  janky, rather  than the  smooth  slow sinking in the expo

[2022-04-27 14:07] PaulSJ commented on #2933
I've added a button called Lock Tree Visibility that will prevent terrain changes from affecting tree visibility. However due to the way it works the only way to undo it is to randomize all the trees again, so it should only be done when you are happy with the terrain.

[2022-04-27 14:59] Tum1370 commented on #2881
@plemsoft
Just done a very quick test of this on a level, Standlone was going to Game Complete screen after completion now.
I will close this one for now.
This was the experimental build i tried it on.

[2022-04-27 14:59] #2881 closed

[2022-04-27 15:01] Tum1370 commented on #2853
@plemsoft
Just created a quick test again on the experimental build.
On a standalone game, the character created characters were all looking fine now.
Thanks, I will close this one now.

[2022-04-27 15:01] #2853 closed

[2022-04-27 15:04] Tum1370 commented on #2943
@PaulSJ
Am sorry i cannot reproduce this problem on any other map than the one i have the problem with.
BUt the problem does exist, but i am not sure why its only happening on one map.

[2022-04-27 15:22] Hughjanus2022 opened #2986 "Not working"
Using the structure editor textures keep disappearing,
or complete structure will disappear

[2022-04-27 15:27] Hughjanus2022 opened #2987 "Request"
structure editor button

[2022-04-27 16:23] PaulSJ commented on #2943
If you can please send the level to paul@thegamecreators.com

[2022-04-27 16:29] Tum1370 opened #2988 "GG Max - Bug - Experimental Build - Standalone game, No Red Dot on Compact Rifle Scope"
On the experimental build i have just created a standalone to test something else, But i am seeing no RED DOT on the Compact Rifle Scope.
I have set player in invulnerable. Not sure whether that has caused the problem ?

![image](https://user-images.githubusercontent.com/66874403/165567442-f2beae44-83f6-4276-a227-21093bbe50de.png)

[2022-04-27 16:56] casigus commented on #2351
sorry keep forgetting tto close these cases aha

[2022-04-27 16:59] AmenMoses commented on #2617
Something else that is missing in dynamic Lua is the ability to mark variables as pertaining to all entities using the script as opposed to being entity specific.

[2022-04-27 17:19] Mt-Chiliad-UFO commented on #2982
As a long time GG Classic USER, my preference would be that not only are objects highlighted 'live' merely when 'browsing' the placement of the objects in the current viewport by moving the cursor over them, but in fact just like Classic-- showing different colored highlights between dynamic and static without having to click on them. That was done right and proper in Classic! :)

Also, the concer

[2022-04-27 17:21] rvanner commented on #2987
For now this remains a dev feature.

[2022-04-27 17:21] #2987 closed

[2022-04-27 17:40] ArgentArts commented on #2215
@LeeBamberTGC @OldFlak I want to take a moment to apologize if I come across as argumentative. I'm not trying to be. I just try really hard to explain myself, what I see, and what I understand. Not trying to argue, per se. Sorry if I come across wrong. I know that if we were all in the same room, talking away, hearing the inflecting in each other's voices, seeing the expressions on each other's fa

[2022-04-27 17:48] ArgentArts commented on #2982
Maybe I'm missing something, but currently, in MAX, nothing is highlighted for me unless I click it to select it. So, how is this different than what the title suggests?

[2022-04-27 17:50] ArgentArts commented on #2981
@rvanner It does work, just not like it's supposed to. ;) If you select something so it's highlighted, then CTRL+CLICK another object, the second object will be selected only. Keep CTRL depressed and then go back and re-click the first object and you'll find that it is now added to the group selection. You can now keep CTRL depressed and keep clicking to keep adding more to the group.

But, you're

[2022-04-27 17:51] ArgentArts commented on #2983
@rvanner Do we want to have MSAO turned on by default from the the start when MSAO does not (yet) affect outdoor levels? Currently, MSAO does not affect terrain, grasses and plants, or trees placed by MAX's Terrain Generator.

https://github.com/TheGameCreators/GameGuruRepo/issues/2937

[2022-04-27 17:52] ArgentArts commented on #2986
Possibly this bug:

https://github.com/TheGameCreators/GameGuruRepo/issues/2731

[2022-04-27 18:28] #1552 closed

[2022-04-27 18:35] ArgentArts commented on #970
@LeeBamberTGC I'm concerned after listening to today's live broadcast about your conclusions for how to fix or improve emissive materials in MAX. It's not about selecting an emissive color. That's not the issue we're seeing here. As we've said previously, the emissive color should be selected by the actual emissive TEXTURE. So, if my emissive texture is black (no emissive value) and BLUE, then BLU

[2022-04-27 18:52] ArgentArts commented on #2215
@LeeBamberTGC The Grid Offset X and Y "fix" has totally busted grid snapping for me. Now, no matter what Grid Offset I select, none of my previously created levels snap without having to reposition every piece.

[2022-04-27 18:55] LeeBamberTGC commented on #970
@ArgentArts Yep that is what I meant, the texture provides the color and the strength ultimately decides how much of the scene is invaded by that precise color :)

[2022-04-27 18:56] ArgentArts commented on #2327
@LeeBamberTGC Now I'm crying for a completely different reason. Snapping for me is messed up again on all my previously created levels. Even with starting new, we are right back to where we started from. I'll post a video to show you in a moment.

[2022-04-27 18:57] ArgentArts commented on #970
@LeeBamberTGC Awesome! It sounded like you were talking about the color selector choosing the color and I was like, nooooooo! (Luke Skywalker scream!) ;)

[2022-04-27 18:58] LeeBamberTGC commented on #2215
@ArgentArts Welcome to experimental development :) Can you give me an example that I can follow and see the error? There must be ONE offset combo that lines a newly added piece to your existing level?

[2022-04-27 18:59] LeeBamberTGC commented on #2327
@ArgentArts Video and explanation of what is messed up will help. Right now my build aligns offset and size perfectly at any object size and grab position :)

[2022-04-27 19:00] ArgentArts commented on #2215
@LeeBamberTGC On one of my previously created levels, I went from 0 through 32, trying each one and none of them work. I also tried 50 and 100.

[2022-04-27 19:01] LeeBamberTGC commented on #2215
@ArgentArts Send me level (and objects if custom). I think I will see what you see pretty quicky ;)  Once we have this right, it will be right for good.

[2022-04-27 19:01] ArgentArts commented on #2327
@LeeBamberTGC I may be wrong ... with my newly placed pieces, it now appears to be working, but it's still not quite as expected. I am experimenting and will post a video soon.

[2022-04-27 19:03] ArgentArts commented on #2215
@LeeBamberTGC Use the level (the unlit one) I'd sent you to test why enemies go through doors. That's the same one I was using to test this. But I think I know what's going on now ... I'll get back to you in a moment with my findings ...

[2022-04-27 19:06] ArgentArts commented on #2215
@LeeBamberTGC For one thing, stuff is back to jumping around when it is selected. :(

[2022-04-27 19:14] ArgentArts commented on #2215
@LeeBamberTGC I found a Grid Offset that worked, but it took some time. It was 7. But why 7? Is it because this is approx. half of the grid I was using to originally snap these pieces before (15 is what these pieces were using for this experiment)? If there's a reason that's reliable, then I can always figure out what to use for Grid Offset. Else, people are going to have to guess and madly plug i

[2022-04-27 19:16] ArgentArts commented on #2215
@LeeBamberTGC

https://user-images.githubusercontent.com/36735507/165602496-0a6933bc-a083-4c07-bc57-6932b2e52ef2.mp4

[2022-04-27 19:20] ArgentArts commented on #2327
@LeeBamberTGC So, the issue is that things are jumping when clicked:

https://user-images.githubusercontent.com/36735507/165602880-44926988-6dfd-4aa1-bc79-881deb60c9ae.mp4

(also posted in the other thread)

Other than that, it's looking good. I think I overreacted. I apologize.

[2022-04-27 19:20] LeeBamberTGC commented on #2215
@OldFlak Does the initial.grid also shift for you from your original (before say 7 days ago) shift too?

[2022-04-27 19:34] bond1mjb commented on #2900
@rvanner @LeeBamberTGC   Here are the pivot fixes for the Basement Collection.   Already converted to DBO, so just copy/pase over the old ones.   I've also attached the 3ds Max file in case they need future editing
[Basement Collection PIVOT FIXES.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8576920/Basement.Collection.PIVOT.FIXES.zip)
[Basement Collection Pviot Fixes 3DSMAX.zip](htt

[2022-04-27 20:01] ArgentArts commented on #2793
Looks to be fixed! Will test further!

[2022-04-27 20:13] ArgentArts commented on #2327
@LeeBamberTGC Jumping seems to depend a lot on WHERE you click on the object:

![mfd1](https://user-images.githubusercontent.com/36735507/165623232-aad9a6a8-8330-4f9e-a38f-b756175fe9cc.png)

[2022-04-27 20:17] ArgentArts commented on #2327
I'm used to the widget sticking to the model/object's origin instead of moving to wherever the end-user clicks. It's often useful as it tells the end-user where the model's origin is. So, when you select a door, for example, and the widget is active, you know if the origin is placed properly for using scripts for animating the door to open/close, etc. It also tells you how the model/object will ro

[2022-04-27 20:55] MonkeyFrogStudio opened #2989 "GameGuru MAX - Bug - Changing Shadow Quantity and Shadow Resolution in Editor Does not Carry Over to Test Game"
If you change the Shadow Quantity and Quality in the editor:

https://user-images.githubusercontent.com/36735507/165629239-27df6dd7-21b8-4596-b8da-383498b7e8b6.mp4

It does not carry over to the editor and you have to use TabTab to change it again in Test Game:

https://user-images.githubusercontent.com/36735507/165629317-a75b0cc7-6e0f-484b-aac8-47b85e9b5d36.mp4

This is as of today's experimental

[2022-04-27 20:57] bond1mjb commented on #1976
@LeeBamberTGC Here are the fixed desert cliffs, already converted to DBO, just copy over the old ones.
[Desert Collection CLIFF SHADOW FIXES.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8577721/Desert.Collection.CLIFF.SHADOW.FIXES.zip)

[2022-04-27 21:19] marcuswilm commented on #2980
@LeeBamberTGC  Thank you for this clear explanation. It surely helps me to understand the rotation's rules in GameGuru.

Therefore I agree with you about closing this report.

:)

[2022-04-27 21:19] #2980 closed

[2022-04-27 21:27] marcuswilm commented on #2185
@LeeBamberTGC  A successful test with the collisions on rescaled assets : https://vimeo.com/703896483 (49 seconds - 68 MBytes - HD - no sound).

Thanks for watching.

:)

[2022-04-27 21:45] synchromesh62 commented on #2327
Have to strongly disagree there .. Classic has always placed the widget where you click and for big models its greatly needed.
In fact it was something many users reported as a bug a couple of month back when we did not have it.
If you zoom in directly to the top of as door for example to make a slight adjustment its very frustrating if you cannot see the widget to move it.

[2022-04-27 21:45] Mt-Chiliad-UFO commented on #2982
Neither does mine, but my build is over a month old! (Maybe a refund for myself is the best course of action?)

Now to the pertinent part. For someone that has utilized GameGuru for thousands of hours, maybe their experience in that simple but workable GUI should be considered?

[2022-04-27 22:02] AmenMoses commented on #2327
I agree with synchromesh, the widget needs to appear at the place you clicked the mouse as otherwise when zoomed in for fine movements it just doesn't work.

Also I would request that we have the option to either:
1) rotate around the objects origin, relative to the object orientation (i.e. pitch, yaw, roll)
2) rotate around the origin relative to world axis.
3) rotate around the centre of the obj

[2022-04-27 22:03] ArgentArts commented on #2327
Fair enough.

I see where a majority of our disagreements come from, though (or at least I think I do) - It's a contrast between how things were done in GameGuru Classic and how things are done throughout the majority of 3D apps (modeling programs and other game development apps) on the market. It does make sense, for the sake of consistency, to stick with many of the ways that things were done in

[2022-04-27 22:04] ArgentArts commented on #2982
Mine's the latest experimental build and nothing highlights by passing the mouse over it, but only when actually clicked to be selected.

[2022-04-27 22:07] ArgentArts commented on #2327
No worries. I am approaching this as a modeler. Having built levels and worked on complex levels and models, I haven't run into this issue (not being able adjust something for fine movement, etc.). But I can only speak as I see things. I am only one voice. ;)

[2022-04-27 22:09] Necrym59 commented on #2327
Can we just have a simple tick box option for origin point selection, i prefer the way click anywhere idea as it is now but i do like to find the origin ocasionaly as well.

[2022-04-27 22:39] Hughjanus2022 commented on #2731
The same

[2022-04-27 22:57] synchromesh62 commented on #2982
Perhaps its coming.

[2022-04-27 23:04] ArgentArts commented on #2327
Heh. I was going to suggest that, actually. ;)

[2022-04-27 23:04] Hughjanus2022 commented on #2883
Not importing anything, just using built in structure editor
textures will go white our disappear completely
My pc MSI GL62M 7RD-056Performance Gaming Laptop Core i7-7700HQ GTX 1050 16GB 1TB

[2022-04-27 23:05] synchromesh62 commented on #2327
Ye i can live with that :)

[2022-04-27 23:07] ArgentArts commented on #2327
It could be a Developer's option, actually. So, the standard mode could be click anywhere. For anyone that wants to use the widget at the origin, it could be activated via a tick box under the Developer menu. That way, it's out of the way, etc.

[2022-04-27 23:08] Hughjanus2022 commented on #2986
Not importing anything, just using built in structure editor
textures will go white our disappear completely
My pc MSI GL62M 7RD-056Performance Gaming Laptop Core i7-7700HQ GTX 1050 16GB 1TB

[2022-04-27 23:09] Hughjanus2022 commented on #2986
Yes like in the video but will go white our disappear completely

[2022-04-27 23:14] synchromesh62 opened #2990 "Auto flatten keeps turning itself back on after restart."
As the heading states .. Untick auto flatten re-enable the checkbox on re-launch
The unticking is not remembered.

[2022-04-27 23:21] Ratall commented on #2327
Having the widget appear where you click on the object is convenient but also knowing were the pivot point(origin)  is extremely useful.  Is there not a way to highlight the origin while allowing widget positional flexibility.

[2022-04-28 00:48] OldFlak commented on #970
Yes - now we are on the same page @LeeBamberTGC :)

[2022-04-28 01:33] OldFlak commented on #2215
Oh Dear - here I was hoping this issue could now be buried! :)

Yes - just a tad :)
https://youtu.be/nkgs-M-anYE
As you can see models now jump quite a ways, and just keep shifting when clicked now.

In previous Experimental if I changed the grid to 50x50 it worked fine, and nothing moved at all when clicked - so tad broken atm

[2022-04-28 01:36] ArgentArts commented on #2215
Yeah, the jumping is so bad that I can't continue working with the demo I'm working on (at least the MAX side of things).

[2022-04-28 01:42] OldFlak commented on #2327
I have noticed the same as ArgentArts when it comes to the widget origin point. But being used to Classic it was like just go with it. However if the option was there I would mostly have it show at models origin point, but not always, so please give us the option.

AM's options would be awesome - tomorrow is good :)

And please, can we stop hiding options like this in the settings panel. Once deve

[2022-04-28 09:32] ZakJudges commented on #2988
@Tum1370 The red dot sight for that weapon was removed due to another bug.

@LeeBamberTGC Just checking if the cross-hair red dot was supposed to be added in it's place? Or if we are just waiting until the weapon is re-modelled to add it back in?

[2022-04-28 09:34] ZakJudges opened #2991 "Reduce memory required by the terrain undo/redo system"

[2022-04-28 09:38] Tum1370 commented on #2988
@ZakJudges @LeeBamberTGC
Ah ok.
Ye it needs adding back to make the gun useable.

Thanks

[2022-04-28 10:22] plemsoft commented on #2785
@ZakJudges Found and fixed it :)

[2022-04-28 10:23] plemsoft commented on #2977
@Tum1370 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-04-28 10:23] plemsoft commented on #2908
@rvanner Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-04-28 10:46] OldFlak commented on #2956
In the real world the only thing that changes with the seasons is the color of the landscape - not the shape of the land (except extreme weather of course).

In this regard the biomes by design are flawed.
When you change from forest to snow for example, it should only be changing the texture set used not the shape of the geometry of the terrain.

Get shape you want, apply the texture set you want

[2022-04-28 10:54] nomad5oul commented on #970
This sounds like an excellent approach. We really need emissive to have that volumetric look on the lights which looks WOW

[2022-04-28 11:07] OldFlak commented on #970
Tis not just an excellent approach, it is the way Emissive should work :)

Not sure why has it taken such a long thread to get to this point - lol :)
This is what has been repeatedly mentioned all through this thread :)
Starting here:
https://github.com/TheGameCreators/GameGuruRepo/issues/970#issuecomment-803689648

Lets hope we get it sorted soon :)

[2022-04-28 11:16] OldFlak commented on #2215
@ArgentArts

No need to apologize - no doubt we all come across like that - tis the pitfall of social media :) When devoid of body language it can be easy to take offense at something not intended to be at all. :)

[2022-04-28 11:17] #2144 closed

[2022-04-28 11:18] OldFlak commented on #2100
As reported in other threads - tis completely busted atm. Keep at it Lee :)

[2022-04-28 11:23] OldFlak commented on #1920
Also popups should not display immediately - give it a few seconds at least before showing them, and the option to change the popup time if we want.

Popups Control:
-Popups On/Off
-Popup delay

[2022-04-28 11:26] #1920 closed

[2022-04-28 11:27] OldFlak commented on #1919
Also popups should not display immediately - give it a few seconds at least before showing them, and the option to change the popup delay time if we want.

Popups Control:
-Popups [On/Off]
-Popup delay [secs]

[2022-04-28 11:43] OldFlak commented on #1358
This is much worse in current EXP build - with or without MSAO enabled
![image](https://user-images.githubusercontent.com/12246318/165744140-8827cb1c-5be2-43d8-9a9d-b90ec9fef087.png)

Changing to 1024 helps marginally in some places but still very noticeable :)

[2022-04-28 12:11] ZakJudges commented on #2146
@plemsoft I'm not sure about this one. If you restart Max then the group is fine to use again, so I'm guessing its just an issue with an eleprof variable, but I'm not sure which one. Any ideas? Thanks :)

[2022-04-28 12:34] LeeBamberTGC commented on #2185
Good stuff!

[2022-04-28 12:34] #2185 closed

[2022-04-28 12:41] LeeBamberTGC commented on #970
@PaulSJ I have assigned this to you, specifically to look at the bloom component of Wicked and see if there are settings that can increase the effect. Right now our bloom is pretty weak and cannot achieve the kind of bloom in the shots above.

[2022-04-28 12:54] LeeBamberTGC commented on #2215
@OldFlak @ArgentArts Object no longer moves when clicked, only when moved in next EXP later this evening.

[2022-04-28 12:56] OldFlak commented on #2215
@LeeBamberTGC thanks Lee was just about to post it was still broken in latest Experimental update - just installed :)

Will await next update then :)

Thanks for persevering with this :)

[2022-04-28 14:35] plemsoft commented on #2864
@Tum1370 Thanks for reporting this issue, this has been added for the next update :)

[2022-04-28 14:40] Tum1370 commented on #2943
@PaulSJ
Which files do you need sending ? Just the .fpm file ?

I have just retested this one map that i have this problem with, and it is still happening on the Experimental build.

I placed 3 single trees, and they did not appear until i slightly moved the tree water distance slider. This is even though the trees are no where near the water.

[2022-04-28 14:45] ZakJudges commented on #2985
Hi @casigus The strange movements are caused by the ship being under the terrain. The ship will then be in a constant state of collision and the physics engine tries to move it so it is no longer colliding with anything.
I did notice that the animation didn't play after importing, so I will take a look at that and rename the issue :)

[2022-04-28 15:00] plemsoft commented on #2982
@rvanner This has been fixed for the next update :)

FYI: Think he means locked objects, they still had hover highlight :)

[2022-04-28 15:10] Kravenwolf commented on #2835
@rvanner, I am also getting the same error when either loading a demo level or trying to add an asset to a new map. I sent you an email to get a Steam Key.

Only thing I did different this time to get the error (didn't get it the last time I used GGM several months ago) was I installed GGM on my HDD, instead of my C/OS drive, because my SSD was getting full. And I only installed the 2 options tick

[2022-04-28 15:13] LeeBamberTGC commented on #2215
@ArgentArts @OldFlak I have further improved the grid system so you can use floats for accuracy, and now has the option to automatically calculate the offset from the position of the object in cases where you have an old level with arbitrary or mixed grid alignments.  Works really well when working with the SciFi test level, was able to work out the grid was 60x60 and auto alignment of the offset

[2022-04-28 15:16] Kravenwolf opened #2992 "RunTime Error 7018() - Request for Steam Key"
Wasn't sure if I needed to make this a new issue, I commented already in this thread:
https://github.com/TheGameCreators/GameGuruRepo/issues/2835

I am getting this (7018) error when either loading a demo level or trying to add an asset to a new map. I sent Rick an email to get a Steam Key, as instructed in the other topic.

Not sure if it's relevant, but this time around I installed GGM on my HDD

[2022-04-28 15:23] Tum1370 opened #2993 "GG Max - Bug - AI Flanking - Sometimes you cant hit them whilst they are running towards or around you"
As the title says, When the AI enemy runs to flank, or get close to you, Sometimes you can empty and entire clip in to them and they do not take any damage.
I am using the Compact Rifle.

[2022-04-28 15:28] PaulSJ commented on #2943
Thanks, I'm able to replicate it with your level, I'll see if I can track down the cause.

[2022-04-28 15:30] LeeBamberTGC commented on #2327
I have renamed this and marked as feature request so we do not lose these cool ideas :)

[2022-04-28 15:35] ArgentArts commented on #970
@LeeBamberTGC @PaulSJ It's not just the bloom. I can get a decent bloom at high settings. It's when you crank up the strength of the emission the core color turns white quickly. Too quickly.

[2022-04-28 15:35] LeeBamberTGC commented on #2100
@OldFlak In next EXP build, object will only move when mouse clicks and then moves with it

[2022-04-28 15:40] ArgentArts commented on #2215
@LeeBamberTGC I plan to start all new levels from here on out. Even so, how would one figure the Grid Offset on an old level? Is it just trial and error until it just works? I noticed, from your screen shot, that you have a different Grid Offset for X than you do for Y. This confuses me since the objects were built on a grid system of 30 x 30 (in this case ... from an earlier grid experiment). Why

[2022-04-28 15:48] LeeBamberTGC commented on #970
@ArgentArts Can you send me a non-MAX screenshot of a scene with high strength emissive that has low bloom and a non primary/secondary color emitting, thanks!

The battle in my mind is that when you modulate a non primary ot secondary color, the maths always makes them white:

RGB(1,2,3) * 1000 = RGB(255,255,255)
vs
RGB(1,0,0) * 1000 = RGB(255,0,0)

[2022-04-28 15:54] LeeBamberTGC commented on #2215
@ArgentArts This is the first large floor piece of your SCIFITEST1 level, notice the position before I do anything:

![image](https://user-images.githubusercontent.com/35840583/165793265-6e6921ec-5f2d-4b81-bcd3-7515c3d2599f.png)

It shows as X = 7.5 and Z = 262.5

That means if you used a grid of 30x30 to construct this part of your level, then you placed this floor down with an offset of 7.5 on t

[2022-04-28 16:02] casigus commented on #2985
ive been having animations problems with thhe entire build,  they animations dont play when imported, and when  they  do they are incredible janky. did a  roll back  of a  second  max install and the  importer   worked okish with the animations working  as  i exported them.

[2022-04-28 16:02] ArgentArts commented on #2215
@LeeBamberTGC That floor piece is 30 x 30 with a lip that juts out to overlap the floor piece next to it (made originally because of the old error where pieces wouldn't align perfectly along the Y, which has since been fixed). So, the snapping is supposed to happen at 30 x 30 so the lip overlaps (goes on top of the next floor piece on the side that does not have the lip). The floor piece is square

[2022-04-28 16:18] nomad5oul commented on #970
![image](https://user-images.githubusercontent.com/37256116/165798264-71b6a679-d530-4270-b665-8567025eccc0.png)
![image](https://user-images.githubusercontent.com/37256116/165798313-2dfb1192-a051-4437-abac-1d0e68e62e93.png)

We just need the emissive / bloom combination to look like this

[2022-04-28 16:32] nomad5oul commented on #970
Yes we need the volumetric aura around the emissive parts of a model. thats what gives it the WOW factor

[2022-04-28 16:34] LeeBamberTGC commented on #2617
Fixed for next EXP build.

[2022-04-28 16:35] ArgentArts commented on #970
This one shows the emissive texture better because this one has two emissive colors on the one texture:

![emit4](https://user-images.githubusercontent.com/36735507/165801199-b3c0a237-4267-4d2b-a109-61eb4f01f599.png)

Again, the settings are very high to exaggerated the effect. The color is set to white so as not to effect the texture (i.e. let the texture color take control of the bloom and overa

[2022-04-28 16:46] LeeBamberTGC commented on #970
@ArgentArts Can you show this same shot in MAX with BLOOM set to MAXIMUM, thanks!

[2022-04-28 16:48] casigus commented on #2985
yeah! BEFORE the updates,  animations  used to be smooth,  now when they import it causes a slow  down  jank/stuttering  effect.

examples:

https://youtu.be/Iq0HdN_COJE

also the  importer  messes up  the  model,

![image](https://user-images.githubusercontent.com/68471279/165800196-8159dbf9-5faa-43e6-a2d9-e6536cca02f0.png)

now the  doors are there  but  the import  process has  caused  them to

[2022-04-28 17:19] ArgentArts commented on #970
@LeeBamberTGC Here you go:

![emit5](https://user-images.githubusercontent.com/36735507/165810231-e19d7ae1-66b1-411f-a074-856e03400dbe.png)

Not the exact same scene, but the same props.

[2022-04-28 17:42] LeeBamberTGC commented on #970
@ArgentArts So would you agree that when we crank up the emissive power, we clamp it at a max of 1 to retain the original texture color, and anything over 1.0 affects the bloom strength, this should yield something similar to the non-MAX shot.

[2022-04-28 17:47] LeeBamberTGC commented on #2972
@rvanner Cannot reproduce with curent build, suggest trying EXP build this evening (will send email to all).

[2022-04-28 17:47] ArgentArts commented on #970
@LeeBamberTGC Personally (and others may disagree with me), I think it should be something in-between the two shots. We definitely need to be able to make emission look like the shots shown in the non-MAX screens I've shown. But I think we also need to be able to create the others as well (as I believe they are more realistic, just less ... wow ... and less artistic). So, I think we need both. As

[2022-04-28 17:50] LeeBamberTGC commented on #2922
@Necrym59 A VERY good piece of script there, please send more :)

[2022-04-28 17:55] LeeBamberTGC commented on #2901
@rvanner We have two Salmon. May I suggest we remove all objects from the Showcase folder, they are duplicates and some are unrepaited older objects now. Instead we detect when Showcase\object.fpe is loaded, and redirect to the correct place, we can then replace the showcase folder with a showcase TXT file which will act as a reference to the real object location and allow us to switch and swap fe

[2022-04-28 18:01] LeeBamberTGC commented on #2790
@AmenMoses Takes account for player Y in next EXP build.

[2022-04-28 18:01] #2615 closed

[2022-04-28 18:06] LeeBamberTGC commented on #2764
@relishrompgames This worked fine with latest EXP build, lights changed to toggle and off by default and then connected to a single switch, they all came on when switch thrown:

![image](https://user-images.githubusercontent.com/35840583/165818495-474e2140-f3c9-4ddf-8a64-550c93f0b80c.png)

[2022-04-28 18:19] LeeBamberTGC commented on #2763
@DaveTGC2 Fixed for next EXP build, now uses mesh center of object for destination of ray in check.

[2022-04-28 18:49] LeeBamberTGC commented on #970
@ArgentArts I think this is another of those "let the user choose" moments, so we don't need to decide one way over the other.  Perhaps we keep the emissive strength so you can modulate it up to 64.0, and then perhaps a second value for emisive which can override the bloom strength just for that texture color to give it more OOOMMPH!  @PaulSJ Do you agree?

[2022-04-28 18:53] ArgentArts commented on #970
@LeeBamberTGC That actually sounds good to me. So, two sliders - one controls the strength of the bloom/emissive strength and the second to override (or not) the color of the texture. That could actually add some cool effects. ;)

[2022-04-28 18:55] LeeBamberTGC commented on #2431
We can now see the cursor move the line destination, even if no object is being hovered over, much nicer:
![image](https://user-images.githubusercontent.com/35840583/165825956-b93d5d67-a7bb-48ee-9caa-785c69876b74.png)

[2022-04-28 18:55] #2431 closed

[2022-04-28 18:58] Kitakazi commented on #2918
@Tum1370
When you select each key, there is a menu on the right, Developer Settings, under that you can type the name of the Door you want to unlock in the "IfUsed" Field.

[2022-04-28 19:00] LeeBamberTGC commented on #2699
@bonkorama Closing this one so you can create fresh issues (one each) with the latest build. Quickly though:

1. I could not find a laptop when I searched for one:
![image](https://user-images.githubusercontent.com/35840583/165826320-98159848-9fb3-41f5-a384-1148b20c19c3.png)

2. Set up character with two flags and connected everything up, no jiggling head:
![image](https://user-images.githubuserco

[2022-04-28 19:06] Granada1 commented on #970
Sounds like a great compromise, good for everyone

[2022-04-28 19:06] Tum1370 commented on #2918
@Kitakazi
I have just tried this again, and have already added 2 more keys to my map, the normal way.
Am not sure whether this has already been adjusted ?

But you mean, If i hit the maximum i could use for the one door, I could the use a key that would use visual logic, but in the ifused, add the name of the door ?

[2022-04-28 19:08] nomad5oul commented on #970
OldFlak will be very happy emissive is getting fixed / improved.
It will be another AAA feather in Max's visual cap which is fantastic

[2022-04-28 19:09] ArgentArts commented on #970
@nomad5oul He's not the only one! ;)

[2022-04-28 19:18] LeeBamberTGC commented on #2777
@AmenMoses Added new behavior called FreezePlayer in markers script folder, and looks like SetCameraOverride(3) and SetCameraOverride(0) work fine, freezing all camera position and rotation until freed up. Check out latest EXP build later on.

[2022-04-28 19:20] Tum1370 commented on #2918
@Kitakazi
I have just tried this "IfUsed" method, and it did not open the door that i put in the "IfUsed" section.
I changed the name of the door to Prison Door, and put Prison Door in the IfUsed section ?

So not sure what i did wrong here

[2022-04-28 19:21] nomad5oul commented on #970
LOL. I basically want my Max games to look like a volumetric haze of lights, colors, fog and particles.

[2022-04-28 19:44] Tum1370 commented on #2814
@LeeBamberTGC
I think this bug was when the zone was placed inside a building.
I sent the level to Maciek to try and he found the same issue.
Even though in the script it had the Destroy(e)

[2022-04-28 19:47] ArgentArts commented on #2764
@relishrompgames Yeah, that's tricky with the visual logic nodes. The best bet with that is to place the door near the switch, connect them using the visual logic, then, after they are connected, move the door into position. It's not ideal, but it's better than trying a long distance connection. ;)

[2022-04-28 19:53] Tum1370 commented on #2918
Ye after testing the IfUsed method several times, It does not unlock a door that it is set to.
Maybe this is a different bug ?

[2022-04-28 19:59] LeeBamberTGC commented on #2764
@ArgentArts Any suggestions on a second method to do this. I agree finding the second object to connect to can be super easy, but when they in hard to reach/find places the old IFUSED system was quicker.  Perhaps something like a dropdown which lists all objects in order of proximity, and select the target from there as a second method?

[2022-04-28 20:14] ArgentArts commented on #2764
There was a discussion about this in this topic:

https://github.com/TheGameCreators/GameGuruRepo/issues/1690

Perhaps some of the things there will help?

Now I am thinking outside the box:

What if the end-user could first select the Switch (now it's selected) then move about the map and find the object they want to connect it to and using a key combo (just like multi-select - CTRL+CLICK) they c

[2022-04-28 20:23] LeeBamberTGC commented on #2856
@Ghost-l0l @Tum1370 Since this issue report, we have overhauled the rotation system to use Quaternions, and since then we have better rotation, and correct Widget rotation too. That said, I could reproduce it even after the quat work, so fixed a bug that would attempt to re-rotate the 'anchor' object of a group. Now I can create some Stairs as shown in the video and duplicate and rotate just fine:

[2022-04-28 20:30] ArgentArts commented on #2764
@LeeBamberTGC So, you're saying they would have full-control of the cursor, just like as if they were not trying to connect any logic at all, as if they were still working on the level itself. If this were the case, and the end-user could use whatever tools the UI provides to get to the other object, then that works. Once they click on the second object, the connection is made.

The only thing tha

[2022-04-28 20:33] LeeBamberTGC commented on #2981
@rvanner Yes indeed, tidy little bug this one. Fixed for next EXP build.

[2022-04-28 20:38] LeeBamberTGC commented on #2566
@rvanner Again a good case for removing the SHOWCASE duplicates and using a reference system instead.

[2022-04-28 20:42] LeeBamberTGC commented on #2970
NOTE: Added code so only do massive FPS hungry visual update if the FOV actually changes. Lots happening when you change FOV as it updates related things in the visuals code :)

[2022-04-28 20:42] #2970 closed

[2022-04-28 20:43] LeeBamberTGC commented on #2843
@rvanner Should remove the option to switch off the drag/drop entity mode, it is all we use now, and OFF just supports really old code now.

[2022-04-28 20:45] LeeBamberTGC commented on #2820
@davetgc Made both of them static for the next EXP build.

[2022-04-28 20:46] #2693 closed

[2022-04-28 20:48] LeeBamberTGC commented on #2423
NOTE: Going to try RENDERDOC on NUC

[2022-04-28 20:49] LeeBamberTGC commented on #2826
@rvanner Can you decide on a better place and then assign to Preben to code it, thanks!

[2022-04-28 20:51] LeeBamberTGC commented on #2756
@ArgentArts All doors in MAX stock objects now work using door or door rotate logic :)

[2022-04-28 20:52] LeeBamberTGC commented on #2500
@Tum1370 Can you send me an FPM level showing this with stock weapons, and a step by step so I can follow through and reproduce, thanks!

[2022-04-28 21:06] Kitakazi commented on #2843
@LeeBamberTGC
Well alot of times when I select an entity the Widget does not pop up, it feels like the engine thinks I want to use drag mode on the entity or something and I am forced to click the entity again and again before I can finally get the widget to appear (sometimes this can even slightly move my entity when I don't want it to).
But turning off drag/drop mode always makes the widget appe

[2022-04-28 21:10] Kitakazi commented on #2918
On the Door, under developer properties there should be a Use Key field. Put the name of the key there.

[2022-04-28 21:58] Tum1370 commented on #2918
@Kitakazi
Ye i tried that whilst I was testing this.
did not work.

[2022-04-28 22:19] ArgentArts commented on #2215
@LeeBamberTGC Downloaded the latest and greatest and things aren't jumping around when I click on them! So ... YAY!!!

I set my Grid Offset to 7.0 for both X and Y and it worked perfectly for that level, both with existing objects and with new, so I still don't know why you had to use 7.5 and 22.5. I'm just glad there's a solution, though, so ...  ;)

[2022-04-28 22:21] ArgentArts commented on #2908
Locked Icon appears and works. Thanks!

The only thing I would recommend is that the icon change a color or do something other than just show the open/closed lock. Something that indicates it's active. Unlocked is fine, I think. But locked should should maybe be red like the locked object's outline is? Thoughts?

[2022-04-28 22:22] LeeBamberTGC commented on #2215
Yay!!

[2022-04-28 22:22] #2215 closed

[2022-04-28 22:52] synchromesh62 opened #2994 "error on Ammo ( latest experimental )"
Just downloaded the latest to find this pops up on most of demos with weapons.

![ammo](https://user-images.githubusercontent.com/35708217/165860586-ff2f2aa6-e6ba-4ded-bb04-02b0983ed872.png)

[2022-04-28 23:36] earthling45 opened #2995 "request for height setting fog."
![kubNR4t](https://user-images.githubusercontent.com/35744254/165863908-daddd49c-c091-43ee-b62f-fc21ba19398a.jpeg)
![h0kNfB4](https://user-images.githubusercontent.com/35744254/165863933-18f8ddda-45bd-4b80-8bde-875e3192f35a.jpeg)
![MZvyK8l](https://user-images.githubusercontent.com/35744254/165864009-f0e8fe36-26e7-454b-a6c2-7b6a1b5760c5.jpeg)

Hi, my request for GGM is to have the possibility to a

[2022-04-29 00:13] OldFlak commented on #2215
OK nothing moves when clicked :)
The 100x100 grid is still not the same as previous builds but if you set it to 50x50 it works fine.
That of course may be a tad confusing when editing existing levels, but will be perfect for going forward with new levels - so great work there Lee :)

As a side point: Grid Settings clearly belong in the Positioning, Rotating and Scaling section.
This is a good exam

[2022-04-29 00:34] OldFlak commented on #970
The eimissive glow is governed by both the emissive strength and the bloom slider
Can we have the bloom slider itself also work correctly? For me O.1 is about as much glow as it will allow, whereas 100 has no effect at all.

0 should be bloom off
100 should be bloom maxed out

Many of MAX sliders seem to work like that but it doesn't make sense to the user.

[2022-04-29 00:46] OldFlak commented on #2100
All sorted Lee :) Thanks

MAX is shaping up to be awesome indeed!

[2022-04-29 00:46] #2100 closed

[2022-04-29 00:54] 3coms commented on #2994
I've got it when loading the Disruption demo.
![disruption_ammo_error_GGMax_EA_pic01](https://user-images.githubusercontent.com/47690174/165870033-b236719a-415d-4ad2-8fc9-ee7d4074b2a7.png)

[2022-04-29 01:02] OldFlak commented on #1358
Some more feedback:

The shadows behave badly when at default settings.
In this scene the Point Light above the sphere is using the Flame Light script:
![image](https://user-images.githubusercontent.com/12246318/165870116-67f623d5-03fa-4f1f-9643-c17fe03b9adf.png)

As you can see in the video the effect on the ceiling is not good:
https://youtu.be/OVZTYUENouE

Changing the shadow quality improves i

[2022-04-29 01:44] ArgentArts commented on #2995
I was JUST going to come here and request ground fog! I'd love to have some means of creating fog with a height limitation! Thanks for bringing this up!

[2022-04-29 01:45] Necrym59 commented on #2994
Try this
[ammo_fixed.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8587601/ammo_fixed.zip)

[2022-04-29 02:13] Necrym59 commented on #2956
The biome is a great idea for new map creation but should be capable of changeing existing maps without regenerating the complete land geometry.

[2022-04-29 02:58] shanenine opened #2996 "GameGuruMax Crash"
Hello All, I continue to have issues getting Game Guru Max to load. I've deleted old, downloaded new, took a break came back downloaded newest early release version, changed set up file in VR section to from 3 to 0 but nothing I do seams to work. In the  Guru Map editor text file it always seams to stop at the same phrase ": Guru Map Editor Loop Starts                              S:0MB   V: (4106

[2022-04-29 03:12] OldFlak commented on #2956
It is not the biomes per say that are flawed, it is the way they are implemented - they are almost there - just make it so the terrain shape is not changed when you select a biome.

![Biomes](https://user-images.githubusercontent.com/12246318/165879510-8922910c-c3e0-4d2d-965d-b7d958468282.png)

It would be worth checking out how Professional Programs like Terragen 4 work. The textures used are **a

[2022-04-29 04:01] ArgentArts opened #2997 "GameGuru MAX - Request - Additional Light Controls - Soft Light?"
In the live broadcast I'd asked about the possibility of having an AREA LIGHT added to MAX, but was told that was not in the plans because the developer of The Wicked Engine had removed it from the engine. Fair enough. Therefore, I would like to ask if it would be possible to add more control over the lights we have (Point and Spot). Currently, we only have the following controls:

![spot2](https:

[2022-04-29 05:25] plemsoft commented on #2984
@rvanner Possible fixed in current EXP build :)

[2022-04-29 05:42] Necrym59 commented on #2997
That leaves us with another ask can we have tube lighting as well as bulbs??

[2022-04-29 05:44] ArgentArts commented on #2997
Other engines have them. They have a means of allowing the end-user to enter the length of the light, etc. But I highly doubt that Wicked supports these lights, especially if the engine doesn't support area lights. Though I could well be wrong ...

[2022-04-29 07:24] plemsoft commented on #2607
@mav3r1ck198-1 Will close this as its now stable on your system :) , if you have a issue with custom assets crashing please open a new issue, Thanks.

[2022-04-29 07:24] #2607 closed

[2022-04-29 07:26] rvanner commented on #2984
@plemsoft Yes seems to be fixed! Well done all. I have noticed another small issue which I will put into a new issue.

[2022-04-29 07:26] #2984 closed

[2022-04-29 07:29] plemsoft commented on #2504
@PaulFox12 This has been fixed and will be in the next update :)

[2022-04-29 07:34] rvanner opened #2998 "When holding an object, if you right click and move the scene around, when you let go the object moves slightly"
See this video. I have slowed down the last part where the objects moves
https://youtu.be/1FAH0-V18_c
1. Select an object
2. Right click to move the scene around
3. When you let go of the right button the object is shown in a position but then it moves again to where the mouse is

It should only appear at the correct location.

[2022-04-29 07:41] rvanner commented on #2835
It probably happens due to missing files. I will sort you a Steam key out. Longer term we will make it more robust if files are missing.

[2022-04-29 07:41] #2835 closed

[2022-04-29 07:46] #2981 closed

[2022-04-29 07:47] rvanner opened #2999 "Group Icon is not correct"
I made a group and the icon looks messed up. Maybe due to recent changes to how the object library rendering is done;
![image](https://user-images.githubusercontent.com/1503593/165904222-2ce3ed37-8c37-4823-bed4-01372734f004.png)

[2022-04-29 07:51] rvanner opened #3000 "After making one group, new groups and the group icons go out of sync"
Just try making more than one group using Control+left click and it will soon show the issue

[2022-04-29 07:55] plemsoft commented on #2146
@ZakJudges Yes the grouplist point to the entityelements that are now deleted , so yes the group would fail, guess the best way is to remove all the elements in the group when you undo and also remove the group. isEntityInGroupList will check if a entity is inside a group and return the group index if so :)

[2022-04-29 08:40] ZakJudges opened #3001 "SSAO Flickering Issue"
When SSAO is enabled, buildings flicker as you get close to them:

https://user-images.githubusercontent.com/32545391/165911675-3a17fbd0-cd96-49d5-bd2f-225d18190675.mp4

[testlevel.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8589377/testlevel.zip)

[2022-04-29 08:46] plemsoft commented on #2999
@rvanner Could you try it in the latest EXP, i do not see it here and you might have the test version i sent you yesterday :)

[2022-04-29 08:52] ZakJudges opened #3002 "Lights bleeding through buildings"
Indoor light can be seen through walls as you increase its distance.

![Screenshot 2022-04-29 095000](https://user-images.githubusercontent.com/32545391/165913537-a7f918fc-9b50-4334-bb65-2f20fc238453.png)

[testlevel.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8589479/testlevel.zip)

[2022-04-29 09:02] ZakJudges opened #3003 "Muzzle flash lasts too long"
To reproduce:

Minimise sun light
Equip snubnose revolver
Fire a shot against a wall

The light that is enabled after firing continues to shine long after the weapon has finished firing

[2022-04-29 09:07] LeeBamberTGC commented on #2883
@Hughjanus2022 Alas the GTX 1050 is below the minimum specification at the moment for MAX. You need at least a GTX 970 (see PassMark for comparisons on speeds).

[2022-04-29 09:22] ZakJudges commented on #3002
Possibly related to #1981

[2022-04-29 09:52] plemsoft commented on #2996
@shanenine Thanks for reporting this issue, looking at your Guru-MapEditor.txt it looks like a older version, what version are you using ? , also could you try to install the latest version and generate a new "Guru-MapEditor.txt" here , thanks for your help :)

[2022-04-29 10:12] synchromesh62 commented on #2994
This seems to be fixed for me .. Nice and fast fix thanks.
I will check with 3com and if his is ok i will close it :)

[2022-04-29 10:17] #2994 closed

[2022-04-29 10:22] rvanner commented on #2999
Still doing it!
![image](https://user-images.githubusercontent.com/1503593/165927363-51d6d7b9-587e-4299-bb7c-611a5b6de696.png)

[2022-04-29 10:31] LeeBamberTGC commented on #2520
Fixed for this weeks build :)

[2022-04-29 10:31] #2520 closed

[2022-04-29 10:32] davetgc commented on #2639
Will do.

On Fri, Apr 29, 2022 at 12:31 PM Lee Bamber ***@***.***>
wrote:

[2022-04-29 10:32] #2982 closed

[2022-04-29 10:35] PaulSJ commented on #1979
Is this still an issue in the current version?

[2022-04-29 10:35] #2908 closed

[2022-04-29 10:38] #2905 closed

[2022-04-29 10:38] #2274 closed

[2022-04-29 11:17] LeeBamberTGC commented on #2983
@plemsoft Feel free to commit to your own branch, and I will merge this evening along with my own fixes for next week.  My own version of it works well and has been tested, I am sure we did the same code changes :)

[2022-04-29 11:17] #2983 closed

[2022-04-29 11:32] synchromesh62 commented on #2983
Hi Lee apologies for Re-Opening
MSAO now indeed enabled by default but does not show unless you disable and re-enable it.

[2022-04-29 11:32] plemsoft commented on #2813
@smmaas Thanks for reporting this issue, this has been fixed but did not make the build 2022.04.29 deadline so will be in the 2022.05.06 update :)

[2022-04-29 11:35] plemsoft commented on #1358
@OldFlak It will now remember your Shadow settings, this fix did not go into the Friday build (i was to slow for the deadline) so you have to wait until the next EXP in a few days :)

[2022-04-29 11:39] smallg2020 opened #3004 "[MAX] g_Entity[e]['plrvisible'] only returns 1 for first character"
seems like the AI vision is bugged, g_Entity[e]['plrvisible'] only returns 1 for the first character, all others are returning 0
same for the stock scripts or custom
[https://youtu.be/O3KRli-0X4o](url)

[code]
[canseeplayer.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8590454/canseeplayer.zip)

p.s. it would be nice if we can also make the check optionally respect the view range and

[2022-04-29 11:46] synchromesh62 commented on #2983
Just got another tiny update that looks like its fixed

[2022-04-29 13:12] PaulSJ commented on #2943
The fix should be in the next version

[2022-04-29 13:13] PaulSJ commented on #2943
@LeeBamberTGC Can you pull the changes from PJ-Branch11 into the master branch?

[2022-04-29 13:36] Tum1370 commented on #2500
@LeeBamberTGC
This was a while ago when i tested this.
But after creating a simple map with the Patrol Rifle, I changed the Reload Quantity from 30 to 90 as you can see in screenshot 1.
But in game testing this, Sometimes the reload is 90, but then other times the reload is only the standard 30.

I have not retested the accuracy as this gun has already been fix, and is more accurate now anyway.
I

[2022-04-29 13:51] Tum1370 commented on #2856
@LeeBamberTGC
Just had a test of groups quickly on the experimental build.
I placed a pallet down, then placed 8 sandbags on top of the pallet.
After grouping the pallet and 8 sandbags, i then placed 3 of the full groups to my right.
They rotated correctly whilst they were grouped up.
After ungrouping them, and testing the game, This is what i see.

Screenshot 1 is editor, The pallet directly in f

[2022-04-29 13:55] Tum1370 commented on #2856
[Test Max Map.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8591276/Test.Max.Map.zip)

[2022-04-29 14:12] Tum1370 opened #3005 "GG Max - Bug - Developer Settings - Use Key and If Used options"
Just testing the "Use Key" and "If Used" options in the developer settings.
As you can see from the screenshots, The door name is TESTDOOR, The "Use Key" is set to TESTDOOR. And on the big key the "If Used" is set to TESTDOOR.
But the door remains locked after picking up the key.

![DoorTest](https://user-images.githubusercontent.com/66874403/165961211-5c1f2994-1307-4fc2-94bd-ee043f24e55b.png)

![

[2022-04-29 14:16] Tum1370 opened #3006 "GG Max - Request - Initial Standalone Menu Screen - Needs settings options on First menu"
I created a standalone for a level for my friend to test.
When he tested it, The first thing he mentioned was that he had no options to change the graphic settings, and ended up going looking in to the folder and setup configuration.

Maybe its a good idea to add all the setting options on to the first menu page you start at when loading in to the game, as currently you only see START, LOAD GAME,

[2022-04-29 14:47] AmenMoses commented on #2777
By later on you mean when exactly.  Latest experimental build is still not working.

SetCameraOverride(3) should put the camera control in the hands of Lua not freeze it.

But atm when the cinematic is playing moving the mouse is trying to move the camera when it shouldn't.

[2022-04-29 15:06] AmenMoses commented on #2777
Hmm, your script works but Cine|Guru doesn't even though they are both calling SetCameraOverride(3).

So this means that some other functions being called by Cine|Guru must be overriding the override so-to speak.

Functions used include: SetCameraPanelFOV, SetCameraPosition, SetCameraAngle, SetFreezePosition & TransportToFreezePositionOnly.

(and some sprite commands but I doubt they are involved

[2022-04-29 15:08] LeeBamberTGC commented on #2777
@AmenMoses I did some work with those commands for the Zombie 'brain eating' sequence, so yes there could be a tweak here and there that breaks old logic.  Are you thinking of bringing Cine|Guru to MAX, that would be awesome!!

[2022-04-29 15:09] Lemuripest93 opened #3007 "GameGuru Max - 10 Suggestions And Enhancements"
It was suggested to me that i should post my list of suggestions/enhancements here, created a account just to post this, it will be for the most part a copy and paste of what i posted on Steam, but with a few additions - apologies if some of these have already been suggested, but here we go:

1. Vehicles:
Considering how big these levels/maps can be, adding vehicles is something i see as a must, s

[2022-04-29 15:21] ArgentArts commented on #3006
Requested here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2796

And requested more Storyboard flexibility here as well:

https://github.com/TheGameCreators/GameGuruRepo/issues/2870

[2022-04-29 15:22] Lemuripest93 commented on #3007
Gotcha, will repost these as separate posts.

[2022-04-29 15:25] AmenMoses commented on #2777
As you can imagine the main camera control script for Cine|Guru is rather large and very complex.

I'll try to see if I can comment out those functions one by one and see if I can figure out the culprit.

[2022-04-29 15:26] Lemuripest93 commented on #3007
Feel free to remove this post/thread.

[2022-04-29 15:27] Lemuripest93 opened #3008 "GameGuru Max - Suggestions/Enhancements 1/10 - Vehicles"
Considering how big these levels/maps can be, adding vehicles is something i see as a must, starting with off-road vehicles as we don't have any urban areas or cityscapes to create at the moment, also boats, helicopters, motorcycles and more.

[2022-04-29 15:29] Lemuripest93 opened #3009 "GameGuru Max - Suggestions/Enhancements 2/10 - Improved Swimming"
Adding a full swimming mechanic is another thing that you need to add, it's a classic FPS staple and also necessary for those who want to make underwater sections for their games, could use a typical control scheme (WASD) with the mouse controlling the direction of where you swim towards.

[2022-04-29 15:31] Lemuripest93 opened #3010 "GameGuru Max - Suggestions/Enhancements 3/10 - Caves/Mines"
Being able to make holes in hills and mountains and shaping out caves, this is something that is currently impossible without a lot of hassle, but would add more flexibility in level design, you could also make bunkers, and whole underground sections with this mechanic.

This would also be useful with the upcoming RPG creation mode, where you could enter a cave to fight hostile mobs for instance.

[2022-04-29 15:32] Lemuripest93 opened #3011 "GameGuru Max - Suggestions/Enhancements 4/10 - Waterfalls/Scalable Water Zones"
Being able to add waterfalls and water above the already set level would add another layer of depth to level creation, this does not have to be extremely complicated, for instance the water could function as a square or rectangular object which you then can scale in size, make sure it has the same properties as the regular water so you can for instance swim in it, waterfalls could also work the sa

[2022-04-29 15:35] Lemuripest93 opened #3012 "GameGuru Max - Suggestions/Enhancements 5/10 - Friendly NPC's/More NPC Behaviors"
I hope you're making it possible to have friendly NPC's that you can toggle to follow you, or fight for you. As an example i personally want to create games in vein of the original Rainbow SixGhost Recon, so this would be a necessity, but could also obviously come in handy for later additions such as the RPG game type.

Also being able to create a squad of friendly NPC's that you could give comman

[2022-04-29 15:35] AmenMoses commented on #2777
It's SetCameraAngle that is the culprit I believe.   At least when I comment out the call to it the mouse no longer rotates the camera so I assume it must be overriding the camera override in some way.

[2022-04-29 15:37] Lemuripest93 opened #3013 "GameGuru Max - Suggestions/Enhancements 6/10 - Improved Ragdolls/Animations"
The current ragdolls and death animations have a tendency to bug out, like characters in a death animation sticking out of the ground, or clipping through it, combining the death animations and ragdolls (characters ragdoll at the end of a death animation) could help alleviate some of the more awkward bugs that occur upon an NPC's death.

Alternatively just either stick with more animations and hav

[2022-04-29 15:39] Lemuripest93 opened #3014 "GameGuru Max - Suggestions/Enhancements 7/10 - Blood/Gore"
I'd like this added simply for the sake of immersion, blood on walls, blood pooling and trails, this is especially good for horror games, or games with a more mature theme, (maybe even toggle-able dismemberment or limb/body destruction if possible?)

[2022-04-29 15:41] Pekuru opened #3015 "Collision/Physics selection feature request"
Currently, you're tied to a set amount of Collision types and how to implement your own is a bit unclear. Suggestion is to add a extra dropdown/option for collision selection where you can manually select a .obj file to serve as your collision model.

[2022-04-29 15:41] ArgentArts commented on #3010
From what I understand, this is not possible with terrain generation. As a result, you'd have to build caves/mines as you would indoor levels. This is way games like Skyrim, etc., may have a cave entrance (usually made from a model or models on the side of the terrain) that ultimately send the player to a new level, which is the cave interior.

[2022-04-29 15:42] Lemuripest93 opened #3016 "GameGuru Max - Suggestions/Enhancements 8/10 - Additional Weapons/Custom Weapons"
A few more weapons like a sniper rifle, rocket launcher (with new death animations for explosions), dual wielding weaponry, SMG's, and grenades for a basic FPS weapon set, you could add different types of weapons for different settings through DLC/Expansion Packs.

Additionally, customizable weaponry would also be quite interesting, being able to change stocks, barrels, add scopes, laser sights, f

[2022-04-29 15:42] Tum1370 commented on #2988
:( No red dot on latest Friday update, and the compact rifle is what i based my levels all on.
Now its a pointless gun without a red dot on the scope :(

[2022-04-29 15:45] Lemuripest93 opened #3017 "GameGuru Max - Suggestions/Enhancements 9/10 - Asset Packs/Environments"
Some assets or environments i think should be included in future asset packs and expansions: urban territories, cityscapes, a variety of sci-fi styles, post-apocalyptic, cyberpunk/steampunk/biopunk, western, pirate, and (dark) fantasy styles.

[2022-04-29 15:45] ArgentArts commented on #3012
You can already set NPCs to be "allies". They will follow and fight with you in your games

![ally](https://user-images.githubusercontent.com/36735507/165978804-ff1d335e-1344-4d5c-81b6-543ed88b94f6.png)
.

[2022-04-29 15:46] Lemuripest93 opened #3018 "GameGuru Max - Suggestions/Enhancements 10/10 - Completely Customizable Assets"
This would involve something similar to the character creation menu, basically you could take a wall (as an example) and re-decorate certain parts, maybe repaint a wall texture, or a certain section of the wall or you could just simply re-texture it by uploading a personal image file, this could then be saved as a completely separate piece from the asset pack in the user folder as a unique wall (i

[2022-04-29 15:53] LeeBamberTGC commented on #2988
@Tum1370 Leave it with me, now assigned to me and Lee has a plan :)

[2022-04-29 15:54] ZakJudges commented on #2146
@plemsoft Thanks :) I ended up adding Group/UnGroup to the undo system so that when you undo grouped objects, the group is first ungrouped before the objects are deleted, that way the group data is never altered. That fixes this bug, but I am still having issues with restoring the group data to how it was before, when performing a redo. Any chance you could take a look at my commit when you have t

[2022-04-29 15:55] Lemuripest93 commented on #3012
I'd like a mechanic where you have more control over the NPC and can give commands, such as "Wait, Engage, Hold Fire" and such, i'm currently building a tactical shooter game with a hostage rescue mission, in this case i'd like to be able to tell said hostage to follow me to a safety point once all hostiles are down, i don't think that's possible right now?

[2022-04-29 16:01] rvanner opened #3019 "Grouping objects - allow Left+Click to also de-select an object"
Control+Left click should both select and de-select objects.

Use case: Rubber band a lot of objects and then use Control+LMB to de-select any objects you don't want in the group.

I class this as a bug because it should do this.

[2022-04-29 16:07] Lemuripest93 commented on #3010
That's a shame, i'd like to make a seamless transition that would take you from point A to B through a mountain tunnel without having to create an entirely extra level, as these levels can already can be quite massive and would just bring some more life into them.

[2022-04-29 16:09] ArgentArts commented on #3010
There are a reason that most games systems don't do this or try really hard to hide that they can't do this. There are ways to fake it, if you're good with modeling and blending your models in with terrain. You just have to get creative. And, in this case, it would not be an engine/MAX request, but up to the end-user to figure out how to do it.

[2022-04-29 16:34] Maro32 opened #3020 "Transparency Bug"
The rocks around the waterfall become shadowless transparent items when I hover the cursor over them.

[Transparency Bug.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8592299/Transparency.Bug.zip)

[2022-04-29 16:37] ArgentArts commented on #3019
I agree. We should be able to CTRL+Click to both ADD to and SUBTRACT from a group selection as it is pretty much a standard way of functioning in software.

[2022-04-29 16:43] relishrompgames opened #3021 "Zombies In The Floor"
I used the stock warehouse, placed some zombies and their feet are in the floor.
![floor](https://user-images.githubusercontent.com/98617471/165987684-3676d4f3-89f5-42a6-911d-2ee65e9f9faa.jpg)

[2022-04-29 16:47] ArgentArts opened #3022 "GameGuru MAX - Bug? - Page Up/Page Down - No Change When Using Grid Positions as Snap Mode?"
Currently, when using Page Up/Page Down to move a selected object up or down and Enable Grid Mode is NOT ticked, the selected object slides upward:

https://user-images.githubusercontent.com/36735507/165987379-477122a2-f5fa-4ae5-a51d-2bd0a5b30067.mp4

If you have Snap Mode enabled, Page Up/Down jumps the objects up or down by the height of the object each click of the Page Up or Down button:

http

[2022-04-29 16:59] janekste commented on #2933
@PaulSJ
Thank you for your work. I confirm. The problem is solved. I'm happy.

[2022-04-29 17:04] #2933 closed, assigned to PaulSJ

[2022-04-29 18:03] MonkeyFrogStudio opened #3023 "GameGuru MAX - Request - MAX to Remember Settings for Project on Re-Open"
I'm sure that most of us (none of us?) complete a game in a day. We often will close MAX and re-open it to continue working on a project, doing so day after day. But when we load our projects back into MAX we discover that whatever settings we were using, such as Grid settings, Developer Mode settings, etc., are completely forgotten and we have to go through the trouble of having to reset everythi

[2022-04-29 18:46] MonkeyFrogStudio opened #3024 "GameGuru MAX - Possible MSAO Issue - Frame Rate Loss in Open Areas"
With MSAO on in interior levels, I get 100fps across the board (the frame rate is just a tab below 100 due to screen capture being on):

https://user-images.githubusercontent.com/36735507/166006521-464a7bcc-f59e-449f-89b7-ee51c6fc02a9.mp4

But when I have it on an there are in a wide open space, the frame rate plummets to around 50fps:

https://user-images.githubusercontent.com/36735507/166006640-

[2022-04-29 21:41] Pcskiller commented on #2949
HI, it looks like its fixed. Thank you.

[2022-04-29 21:42] Pcskiller commented on #2802
Any feedback on this.?

[2022-04-29 21:43] #2843 closed

[2022-04-29 21:44] Pcskiller commented on #2524
Any feedback ?

[2022-04-29 21:48] Pcskiller commented on #847
working great. Thanks.

[2022-04-29 21:52] Kitakazi commented on #2995
Could be a great particle effect. Ive seen particle effects used to get similar ground level spooky fog in other engines.

[2022-04-29 21:53] MonkeyFrogStudio commented on #2995
I've made a few particle effects for this, but they can also hit the engine a bit hard if you need a lot of them for several areas. Which is why it would be great to have it as an engine feature. :)

[2022-04-29 22:07] Pcskiller opened #3025 "New request For Max. Can we have another option for the Npc that is not an ally or friendly or neutral but also attack all."
Is it possible to have a extra tix box for the Npc like :> attack all ,    not just friendly or ally or neutral
with attack all the Npc will not just attack the player but will also attack any other npc that is not part of his team.
Thinking of this now maybe a clan a  or clan b selection if needed then if the npc is part of either clan a or b it will attack the player and also any other clan memb

[2022-04-29 23:31] #2949 closed

[2022-04-29 23:37] Ratall commented on #2963
Yes this is fix a new thumbnail is created Thanks

[2022-04-29 23:37] #2963 closed

[2022-04-30 00:06] Ratall commented on #2965
Still Broken in 2020.04.29
![Lefthand as saved right as loaded](https://user-images.githubusercontent.com/35710601/166082231-2ea6e86a-fc35-488f-a2ae-6d8564e5869a.png)
The left hand version is as created the right is as loaded.

[2022-04-30 00:14] Ratall commented on #2951
Alas no change

![Alas nochange](https://user-images.githubusercontent.com/35710601/166082654-460f8c71-d35d-4d13-8749-e34ed5e45970.png)
this is an fbx import I will try in in some other formats

[2022-04-30 00:55] Ratall commented on #2954
That seems to be OK now
Thanks

[2022-04-30 00:55] #2954 closed

[2022-04-30 00:57] Ratall commented on #2955
That seems to be OK now
Thanks

[2022-04-30 00:57] #2955 closed

[2022-04-30 01:01] MonkeyFrogStudio commented on #2349
@LeeBamberTGC Sorry to tag you, but this was assigned to you. ;) Can this not be forgotten? The GameGuru MAX folder structure is a mess. I have so many tests going on for testing various bugs for MAX, creating a demo, and working on my own project(s) ... it's just one big jumble in my user folder. When I go to delete an old test, I have to hut down everything in this folder and that (entitybank, l

[2022-04-30 01:15] Ratall opened #3026 "Max: 2022.04.29: Bug when you got to top down mode the zoom out is extremely limited"
When it top down mode the amount you can zoom out seems so be dependant  on where you were them you change to top down mode. When fiddling around positioning objects I quite often find that I need to flip to top down view but when I have I am sometime too close to the object and can not zoom out far enough. While starting top down from where the camera is positioned is fair enough, you should be a

[2022-04-30 01:31] Retrogamebloke commented on #2423
Well at least you guys have seen it now. Not that is an easy one to fix I imagine. Just glad to see it's not just my machine that gets the issue. Can't really add any more from my end, other than it exists and severely drops performance whenever I see it. For my levels, it has been a serious issue and makes them very difficult to work with.

[2022-04-30 02:19] MonkeyFrogStudio commented on #3026
You should be able to. I can:

https://user-images.githubusercontent.com/36735507/166086715-04c4a60a-c5a3-4d95-b403-00612ffbba41.mp4

[2022-04-30 04:10] shanenine commented on #2996
Hello, Updated to newest release version 2022.04.29 and it still crashed. I attached the new map editor text below.

[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8595628/Guru-MapEditor.log)

[2022-04-30 05:01] Kitakazi commented on #2918
Yea I think this is bugged

[2022-04-30 05:11] harkinhails commented on #2697
Alright, with latest build (2022.04.29), I'm noticing more improvement in FPS and pretty much no stuttering or hiccups when turning camera around. I can actually play around now and shoot without stutter giving me a headache.

I STILL feel like, at the current visual quality level, performance should be in 60s on my rig, but there are improvements with every build so I'm hoping it reaches higher n

[2022-04-30 06:39] Necrym59 commented on #3015
Its already in there just create an OBJ file for the colision model of the model you have imported and place in the same folder it will be used as the collision model automatically when you select convex hull.

[2022-04-30 06:43] Necrym59 commented on #3018
Try reading through the github posts before to refrain from repeating things that have been posted before.

[2022-04-30 06:45] Necrym59 commented on #3007
All been asked for before, dont know why people never read though previous posts.

[2022-04-30 06:58] Necrym59 commented on #2956
They really need to have a biomes panel with selection/dropdown of biome types. Also on this biome panel should be such things for section such as trees and vegetation types and also optional animal population for that particular biome would be a good feature.

[2022-04-30 07:09] rvanner commented on #3018
@Lemuripest93 thanks for the suggestion.

[2022-04-30 07:12] #3007 closed

[2022-04-30 07:12] rvanner commented on #3026
@Ratall Use the mouse wheel to zoom up and down.

[2022-04-30 07:18] rvanner commented on #3010
It's not possible now but maybe in the future. It will be something we will want to do when the time is right.

[2022-04-30 07:23] rvanner commented on #2146
@ZakJudges Still not working in latest build so I am removing the label.

[2022-04-30 07:24] rvanner commented on #3017
Thanks for your suggestions. We will build new packs as we progress and offer more choices.

[2022-04-30 07:26] rvanner commented on #3009
It's coming soon!

[2022-04-30 07:38] Tum1370 commented on #2977
Fixed, am closing this one.
Thanks

[2022-04-30 07:38] #2977 closed

[2022-04-30 08:33] Necrym59 opened #3027 "GGMAX - Invisible and Invisible prompt behavior"
If interested here is an amalgamated updated Invisible behaviour. Includes the user selectable prompt, range and collision options all in one behaviour for your consideration.
[invisible.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8596452/invisible.zip)

[2022-04-30 08:40] Necrym59 commented on #3005
Why arnt you using the fps logic connection.

[2022-04-30 08:43] Tum1370 commented on #3005
Because after you use 8 for one door, it stopped working, So i gave this a go to see if it worked.
And it does not work, so it needed reporting.

[2022-04-30 09:05] Necrym59 commented on #3006
Do you actually read other posts first.

[2022-04-30 09:12] Necrym59 commented on #3008
Start learning lua, the devs are making a tool for you to make games and its features, if possible they add some of those features in but its mainly also its up to you how you create things if you want city scapes download some models, boats i have written a script for it you could as well, same for vehicles and others have written aircraft, boats and other things.

[2022-04-30 09:16] Tum1370 commented on #3006
No, i dont really go through looking at every post.
But the more people who report the issues, is better.

[2022-04-30 09:20] Necrym59 commented on #3006
Just reporting for the sake of it just clutters up the board and consumes the devs time sifting through the repeats - check if possible if the problem has been reported before and add your comment to that post, pretty simple really.

[2022-04-30 09:20] Tum1370 commented on #3006
No, i dont really go through looking at every post.
But the more people who report the issues, is better.

[2022-04-30 09:20] #3006 closed

[2022-04-30 09:37] Lemuripest93 commented on #3008
Unfortunately i have no intention of learning programming, if i did i'd have done it a long time ago and would be using a different engine to make games with, which is why i added this as a suggestion in the first place.

[2022-04-30 09:59] Ratall commented on #3026
@rvanner I was using the scroll wheel.  I have 3 screens and when I moved Max to the screen I have set up to capture videos(I was planning to send in a video of the problem). The editor window stopped responding to keyboard and mouse input. I can click on the menus/icons etc Ok and everything seems OK when testing a level its just when editing nothing works anymore.  The problem did not exist in t

[2022-04-30 10:37] earthling45 commented on #2995
Indeed, controlling the height of fog would not affect performance but we do get that ground fog effect. :)

I also think that this is more realistic than particles because those particles are placed near for view and do not cover the whole ground in the distance like ground fog usually does.
Moreover, if we have these controls with values it should easily be possible to bring it alive (dynamic) i

[2022-04-30 10:47] Granada1 commented on #3011
Hoping for this to 🤞

[2022-04-30 11:15] OldFlak commented on #1358
Thanks Preben :)

[2022-04-30 11:17] OldFlak commented on #1979
Ah, yes meant to close this - not seeing that now :)
Thanks Paul

[2022-04-30 11:17] #1979 closed

[2022-04-30 12:59] thomasmg81 opened #3028 "Fallout/Elder Scrolls style dialogue system?"
Will this be part of the RPG tools? I need this for a work in progress

[2022-04-30 15:26] Kravenwolf commented on #2992
Hi Rick,

This appears to have solved the issue. I can now play/test any of the demo games without issue, and add any items from the asset library into a level.

Thanks!

[2022-04-30 16:08] MonkeyFrogStudio commented on #3026
@Ratall I'd reported this previously, but the MAX viewport stops working when moved to a second (or third) monitor.

To zoom out/in, I just use the "S" key while facing down while holding the mouse button and SHIFT to move faster. That's what I did in the video I'd posted.

[2022-04-30 16:11] MonkeyFrogStudio commented on #2995
That, and it would be simple, for example, to cover an entire level (especially an interior level) with the click of a button (or a few settings) than having to place dozens of particles all over the place. ;)

[2022-05-01 07:34] rvanner commented on #2992
Good to hear!

[2022-05-01 07:34] #2992 closed

[2022-05-01 08:49] Tum1370 commented on #2944
@plemsoft
Ah ok, Yes i think we need the option to have it only used once if we would like it only once etc.
For now ill change the lua to not set it back to active after key is pressed.

g_imageinzone[e]['active'] = 0

[2022-05-01 14:34] #2900 closed

[2022-05-01 14:37] rvanner commented on #1199
Seems fixed now!

[2022-05-01 14:37] #1199 closed

[2022-05-01 15:16] AmenMoses commented on #2436
Appears to be fixed.

[2022-05-01 17:14] Curiosityuk opened #3029 "My Cursor on screen"
I have just rendered my test game as a stand alone for GGM and for some reason my cursor appears on the screen and I can't look around. Yet the right button still lets me aim and the keys still let me move?

I've tried Tab & Enter, Alt & Enter, Tab & Alt, but it still persists. I even switched off one screen on my dual display and it still happens?

Any Ideas????

[2022-05-01 17:25] casigus opened #3030 "SMART objects bug"
Hello!

smart objects seam to be having  some   issues with custom  assets,  they save fine but when you try to  place them back in, well all sorts of magical   weirds happen:

![image](https://user-images.githubusercontent.com/68471279/166157120-973a8c06-052f-47be-9b61-1a57d340d3e3.png)

https://www.youtube.com/watch?v=8-ZDfniHqpM

[2022-05-01 17:31] casigus commented on #3018
you can  customize your textures already.  faily easy too:
![image](https://user-images.githubusercontent.com/68471279/166157286-010ab50b-b4a8-45ed-b29e-998be38b1305.png)

or if  you really want to  change  the texture  of  a surface  you like,   re-import the model using the model  importer and apply  your own texture and  then save. super  easy!

[2022-05-01 17:31] rvanner commented on #2877
@LeeBamberTGC & @PaulSJ Adding you both into this to see if you can help too.

[2022-05-01 17:35] casigus commented on #3017
you  can literally import  models into max,  and the engine is really  really    easy to take a model,  import, and bam you have building. plus this  isn't really a bug, its a request, might I suggest posting  ideas  in  the forums rather than filling  up the bug reporting with things that aren't bugs. I say  this  because  the devs  have  alot of things to look through, and  people will also come

[2022-05-01 17:37] casigus commented on #3008
you  dont  need programing skills to import models. Importing models is incredibly easy.

[2022-05-01 20:24] Ratall commented on #2965
See also #3030

[2022-05-01 21:54] Lemuripest93 commented on #3018
Oh i realize that's already a thing, my idea essentially boils down to an in-engine editor similar to the character creator that allows you to edit more in depth, which means you don't have to keep other editing softwares running in the background whilst you're building your game, people who prefer to edit outside of GG Max can obviously also still do that.

[2022-05-01 22:04] Lemuripest93 commented on #3008
And finding a model and script online that already has first person vehicle camera built into it is not, i'd rather wait and have TGC make this from the ground up themselves with some half-decent vehicle physics, remember that GG Max's appeal is that even your kid or your granny can make a game with this engine, think she would know what "lua" is? or "importing models"? we're just talking a base v

[2022-05-01 22:11] Necrym59 commented on #3017
Yes lots instant expert suggestions and they wont be happy until it slices bread and makes coffee it seems

[2022-05-01 22:11] Lemuripest93 commented on #3017
I uploaded my posts here because it was suggested to me by one of the developers on Steam that i'd do so because he was in agreement with another user that the list was useful, not here to overwork the devs - not to cause any problems, this is the site i was linked to post to, this is the site i posted to, end of story.

[2022-05-02 00:32] synchromesh62 commented on #3017
I can confirm i recommended Lemuripest93 to post his requests here which is also what this repository is for and it was then requested by another member of the the team to break them up and post them individually for easier reading.
There were some good suggestions worth looking at for future work.

[2022-05-02 00:44] casigus commented on #3008
there   are  no vehicle  scripts. and  you  can literally  find models  all  over  the internet.

[2022-05-02 00:46] casigus commented on #3017
well that  is fair sync. thanks for  the clarification :)

[2022-05-02 00:47] casigus commented on #3017
and the ideas    are  good, amazing fantasttic  well  thought out  ideas!  :D

[2022-05-02 00:48] casigus commented on #3017
also there  a  section  on the  game guru  forums that  have a tonne of free media,   including  scripts and  models , some work with max:  https://forum.game-guru.com/board/25

[2022-05-02 00:58] Necrym59 commented on #3017
Im all for suggestions, you do realise that most of these suggestions have already been asked for its better if people take the trouble to read other posts and add to those rather than make clutter with a lot of extra posts.

[2022-05-02 05:18] plemsoft commented on #2996
@shanenine What is the last thing you see on screen before it crash ? if possible could you make a video of the crash , Thanks for your help :)

[2022-05-02 05:41] plemsoft commented on #2146
@ZakJudges For the Redo to work:
Say you have a group of 4 barrels.
When you make the first undo ( on the first barrel that are part of the group) you now ungroup it and save this event. And remove the first barrel and save this event.
When you have undo'ed all 4 barrels, you hit redo , then redo this entity like normal.

When you redo the "ungroup" event , you rubberband the 4 new barrels (entity

[2022-05-02 06:01] plemsoft commented on #2989
@MonkeyFrogStudio Thanks for reporting this issue, this has been fixed on will be in the next update :)

[2022-05-02 07:21] plemsoft commented on #2892
@NaeNae20 If you not able to e-mail me a download link, could you post your "Guru-MapEditor.log" here, you should load your level and then play it, exit Max and then upload a copy if "Guru-MapEditor.log
" here, it is located on your system here:
\Users\USERNAME\Documents\GameGuruApps\GameGuruMAX\Guru-MapEditor.log
This way I'm able to check if its a memory issue, if you do not have this issue anym

[2022-05-02 07:23] plemsoft commented on #2891
@vstrode Any news on this issue, let me know, or i will just assume everything if now fine for you :)

[2022-05-02 07:25] plemsoft commented on #2888
@BladRunner1 I assume you found the backup folder :) , is not feel free to open a new issue, Thanks.

[2022-05-02 07:25] #2888 closed

[2022-05-02 07:28] plemsoft commented on #2883
@Hughjanus2022 Thanks for reporting this issue, the structure editor textures will not go white anymore this has been fixed, i assume this is your main issue here, this will be in the next update :)

[2022-05-02 07:32] plemsoft commented on #2879
@Sinergygames Did not hear back from you, so assume everything is fine for you, feel free to open a new issue if this is not the case :)

[2022-05-02 07:32] #2879 closed

[2022-05-02 08:18] Necrym59 commented on #3011
Water boxes/brushes have already been discussed  im sure when the team get onto a revamp of the water/fluid section that these things will be taken into consideration.

[2022-05-02 08:20] Necrym59 commented on #3013
This is not Halo or SOF, its an editor, you can of course script extra animations yourself if you not happy with the ones supplied until they get around to doing some extra options later on.

[2022-05-02 08:26] Necrym59 commented on #3008
Seriously. your not interested in learning any scripting, then your life as a game developer will be very short, not everything is going to be given you on a silver platter, better to go and find a click and play game engine that gives you everything.

[2022-05-02 08:32] rvanner commented on #2901
@LeeBamberTGC Please go ahead and make the showcase point to the real location of the object to avoid duplication issues like this.

[2022-05-02 08:47] rvanner commented on #2826
@LeeBamberTGC I don't think this should show in the Level Editor. Isn't it only for Test Level mode?
![image](https://user-images.githubusercontent.com/1503593/166208560-7826b7d6-7ba4-4c18-bfbe-206e15b20f49.png)

[2022-05-02 08:47] rvanner commented on #2566
@LeeBamberTGC OK, do as you suggested then.

[2022-05-02 09:32] plemsoft commented on #2856
@LeeBamberTGC Related: https://github.com/TheGameCreators/GameGuruRepo/issues/2965#issuecomment-1113869186 , could be the new quad ?

[2022-05-02 09:33] plemsoft commented on #2783
@bluemeenie195 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-02 09:34] plemsoft commented on #3003
This has been fixed :)

[2022-05-02 09:34] plemsoft commented on #2945
@Tum1370 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-02 09:35] plemsoft commented on #2986
@Hughjanus2022 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-02 09:35] plemsoft commented on #1028
@Hamada880 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-02 09:36] plemsoft commented on #2709
@relishrompgames Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-02 09:36] plemsoft commented on #2731
@MonkeyFrogStudio Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-02 10:47] Lemuripest93 commented on #3008
Not sure why you're taking such a passive aggressive approach to communicating your posts, at the end of the day it's the developers at TGC that decides what become part of the engine, and what gets left out - there are no time limits or demands with any of these suggestions, they're simply what they are - suggestions, they can take them or leave them.

Also i'm not planning to be directly involve

[2022-05-02 10:57] Lemuripest93 commented on #3017
@Necrym59 Repeat suggestions and ideas can also be read as higher demand, if TGC works like most other studios - then this is simply being broken down into useful data.

[2022-05-02 11:45] earthling45 commented on #3008
Don't be like this, such aggression has no place here.
His request is in my view legit but obviously something to be looked at later.
A base, one vehicle and script as a base should absolutely be added so that we all have an example on how to setup and use it in GGM.
Most peolpe who use GGM will not be a developer, Lee and his team at TGC are putting all effort on creating an engine which is acces

[2022-05-02 11:53] plemsoft commented on #2516
@casigus Is this level running for you now in the latest version ? , if not could you create a standalone of the level and zip the standalone folder and e-mail it to me, i will then be able to debug the level , Thanks for your help e-mail: plemsoft@plemsoft.com

[2022-05-02 11:55] #2352 closed

[2022-05-02 11:57] casigus commented on #2516
i'll have a nosey, alot of the crashes have stopped now  !!

[2022-05-02 11:57] #2516 closed

[2022-05-02 11:58] plemsoft commented on #1156
@rvanner Fixed.

[2022-05-02 12:02] plemsoft commented on #2033
@OldFlak Yes only on copy of Max is allowed to run, standalone or editor its the way it must be :)

[2022-05-02 12:02] #2033 closed

[2022-05-02 12:03] #2059 closed

[2022-05-02 12:03] #2089 closed

[2022-05-02 14:00] plemsoft commented on #2701
@Benjib0y Is this still a issue for you in the latest version ? , if so could you let me know if it helps if you minimize the window and then restoring the window after you dragged it to another monitor ?

[2022-05-02 14:02] plemsoft commented on #2719
@MonkeyFrogStudio Did i fix this ? think i was looking at it, is it fixed in the latest build , or do i remember wrong :)

[2022-05-02 14:07] plemsoft commented on #2637
Fixed for the next build :)

[2022-05-02 14:10] plemsoft commented on #2149
@MonkeyFrogStudio Thanks for reporting this issue, this has been fixed and will be in the next update :)

Well i did not have room for the text in the default window wide (small thumbs), so when the window is to small for the text it will display the name when you hover over it , if the window is large enough for the text to be under the thumb it will display the text below the thumb :)

[2022-05-02 14:10] plemsoft commented on #2013
@rvanner This has been improved , ready for the next build :)

[2022-05-02 14:11] plemsoft commented on #2924
This has been improved , ready for the next build :)

[2022-05-02 14:24] rvanner commented on #3008
Hi, please avoid getting into heated discussions about ideas for MAX. We welcome all sorts of ideas and feedback and we will take them into consideration as we move forward. It's best that these issue reports don't turn into forum like debates, that better done on the forums. Thanks.

[2022-05-02 15:06] MonkeyFrogStudio commented on #2826
Actually, it would be great if we could see the nav mesh and things like the enemy line of sight IN the editor and make adjustments there, rather than having to run a test game, hit TABTAB, and try to do it there.

[2022-05-02 15:16] rvanner opened #3031 "When it top down mode "F" key, the movement is much too fast"
In the Level Editor, press F to change the camera to top down view.
Now try moving around. It's far too fast.

- Slow down the standard speed
- Control+direction = much slower
- Shift+direction = fast movement

[2022-05-02 15:17] rvanner opened #3032 "When moving an object, ignore the height of game elements"
To avoid situations like this;
![image](https://user-images.githubusercontent.com/1503593/166259602-086d2c9f-0749-4025-b8eb-717174fa4e98.png)

[2022-05-02 15:18] rvanner opened #3033 "The wrists of the female Aztec looks very weird!"
![image](https://user-images.githubusercontent.com/1503593/166259719-42710564-22a8-4d9a-bc52-2814867bc61d.png)

[2022-05-02 15:20] Benjib0y commented on #2701
Sorry, not been on for a while. I'll check nd let you know.

[2022-05-02 15:36] Benjib0y commented on #2701
I just downloaded the latest update and tried to create  new level. Same as before. By default the GGM window opens on screen 1, (1280x1024). When I go into the terrain editor and move the window to screen 2, (1080P) the two buttons at bottom right disappear. When I move the window bck to screen1 they reappear.

[2022-05-02 15:40] shanenine commented on #2996
Hello, I get a window that say Game Guru Max early access loading that stays for about 8 seconds then nothing. No error message or anything else just crashes. Attached is the map editor file it just made ends at same place still.
Thank you

[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8603982/Guru-MapEditor.log)
.

[2022-05-02 15:58] bond1mjb commented on #3033
@rvanner   It looks like in your pic that she may be using one of the MALE skeleton animations, judging from her wide stance and stretched out shoulders, compared to my pic.
![slave female](https://user-images.githubusercontent.com/87768878/166266252-6de7fcb9-c8a7-45f8-aaf7-fb3ac75c977f.jpg)

[2022-05-02 16:58] AmenMoses commented on #3033
I didn't realise the Aztecs invented the bikini!

[2022-05-02 17:33] MonkeyFrogStudio opened #3034 "GameGuru MAX - Request - Same Material Options in Main Editor as in Import"
Currently, when we select an object and access it's Material properties, we get this panel:

![material1](https://user-images.githubusercontent.com/36735507/166295579-0deeb5a9-62ae-41b2-9208-518025a5267b.png)

But when we import a model, we get this panel:

![material2](https://user-images.githubusercontent.com/36735507/166295644-455498bb-50f4-41f0-bc9d-c1c0801ed69e.png)

One main thing this panel

[2022-05-02 19:18] MonkeyFrogStudio opened #3035 "GameGuru MAX - Request - Crawl Added to Player"
Currently, we have Crouch, but it's not low enough if we want the player to traverse a vent system, for example, where we want to simulate them crawling or doing a bit more than crouching down a bit. Would it be possible to get something closer to a crawl added or be able to adjust crouch if we need it to be even lower?

[2022-05-02 19:56] Necrym59 commented on #2719
Sorry Preben, its still the same regardless of which backdrop mode is chosen for me at least. In MAX Build 2022.04.29
Selected Centred
![selected](https://user-images.githubusercontent.com/95015657/166316182-dfe05134-dff8-47ee-b4de-07a18d6f4856.png)
Result ?? - Super Zoomed :)
![result](https://user-images.githubusercontent.com/95015657/166316251-cf7a69e4-26c8-4948-8306-e8b4d0511c7c.png)

[2022-05-02 19:59] MonkeyFrogStudio commented on #2719
@plemsoft Still the same for me, too. Latest experimental build.

[2022-05-02 20:06] Necrym59 commented on #3008
Sorry if some misinterprets my comments Ravner, suggestions are fine ive always said that, anyway ill refain from commenting without cotton wool in future. :)

[2022-05-02 20:09] Mt-Chiliad-UFO commented on #3035
:~)  :~)  :~) Yeah, already doing this time ago in Classic. No problem, works well. Just ask the right person, and if they imagine really hard that diabolical MAX is fit to benefit from their efforts, they might donate that script to the crooked winds.

![Screenshot (998) smlpng](https://user-images.githubusercontent.com/99560780/166317811-8686a8f5-f044-46b1-8614-310e9f0ec16a.png)

[2022-05-02 20:11] MonkeyFrogStudio commented on #3035
According to AmenMoses, this is not easily done in MAX, which is why I am requesting it here. :)

[2022-05-02 20:14] MonkeyFrogStudio opened #3036 "GameGuru MAX - Bug - Group Object (?) Bug - Mystery of Z-Island"
See this image:

![mess](https://user-images.githubusercontent.com/36735507/166318964-80489401-b833-4643-a821-15a20ed26502.png)

That's supposed to be a building you enter by opening a door (via a key to unlock it) to flip a switch.

I believe it's related to this bug reported here:

https://github.com/TheGameCreators/GameGuruRepo/issues/3030

[2022-05-02 20:27] Mt-Chiliad-UFO commented on #3035
Yeah, who knows...? They said the same with Classic though. No point in much testing in MAX or even opening that scam software. Perhaps I could give a try-- but it might take a couple hours for MAX to start and open up ready to test a script. 50x more hurdles to do scripting in MAX....
![Screenshot (999) cropped](https://user-images.githubusercontent.com/99560780/166321278-e16db814-9160-4b10-8fac-

[2022-05-02 20:46] Mt-Chiliad-UFO commented on #3035
Works fine in MAX. No problem with it. AND.... just proved that any dynamic entities are BROKEN because the barrel that is running the script HAS NO COLLISION! :~) :~) :~)
Everything (including the bushes) has collision!

![Screenshot (1001) cropped](https://user-images.githubusercontent.com/99560780/166324437-c00d9db0-724b-4d39-a67d-c253c8141d10.png)

[2022-05-02 20:57] MonkeyFrogStudio commented on #3035
Okay, I am not sure what you're trying to prove here. I cannot, from a screen shot, see that the barrel has not collision. If there is a problem with dynamic physics, then report that in your own post here on GitHub. That's what GitHub is for. Please don't SPAM my post with this stuff. I had talked with AmenMoses about crawling, he stated it was more difficult due to the collision capsule being us

[2022-05-03 00:41] shanenine commented on #2996
Well I believe I have figured out my problem, it doesn't make since but I did get Game Guru to load. It appears that if I have head phones and mic plugged into front of computer game guru max will load. If I remove the head phones it goes back to not loading. Weird?

[2022-05-03 00:41] #2996 closed

[2022-05-03 00:47] synchromesh62 commented on #3035
I reported this some time back when creating my Trapped Demo.
The tunnel behind the picture in the demo and the height below the fireplace has to be around 4ft, 6 inches to clear which i agree is far to to high.
In fact my fireplace is the limit i can crawl under which is just below the height of the Zombie In fact i redesigned my level to incorporate the fireplace as my original idea for a crawls

[2022-05-03 03:13] Necrym59 commented on #2920
Fixed the Sliding Door lua and added some extra features if you want it. Also alternative icons if required.
Now can be set as auto sense opening door with a sense range option or select as normal manual style door.
Fixed the locked prompt and added a manual use prompt text option.
[door_sliding.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8608108/door_sliding.zip)
[door_sliding_icon

[2022-05-03 03:46] #112 closed

[2022-05-03 05:10] plemsoft commented on #2856
@LeeBamberTGC same: https://github.com/TheGameCreators/GameGuruRepo/issues/3030
same: https://github.com/TheGameCreators/GameGuruRepo/issues/3036

[2022-05-03 05:18] plemsoft commented on #2701
@Benjib0y What happens if you minimize the window while on screen 2 , and then maximize it again does that fix anything ?

[2022-05-03 06:11] plemsoft commented on #2698
@MonkeyFrogStudio Thanks for reporting this issue, if you click "Add new particle" it will start to generate the missing particle thumbs, just keep this screen open until all thumbs has been generated, and it will use them the next time. display of names added from another issue or hover will display the name :)

[2022-05-03 06:13] plemsoft commented on #2652
@cybernescence Any news on this ? :)

[2022-05-03 06:16] MonkeyFrogStudio commented on #2698
@plemsoft Thing is, all the particles in the Add New Particle are rendered completely. But I'm getting this:

![part1](https://user-images.githubusercontent.com/36735507/166411385-dac70367-f538-498a-bf77-79d7110ac8b1.png)

So, I'm thinking that I have these leftover thumbnails from somewhere that I need cleared out. Maybe that's why they aren't "rendering" but stay blank (only say "Particle" on th

[2022-05-03 06:53] MonkeyFrogStudio commented on #2698
Ugh. I just cleared them out with the Delete Particle button. Not sure why I never saw that before. I feel dumb. ;)

[2022-05-03 07:34] AmenMoses commented on #3035
There is a Lua command to control the player capsule but it is limited:
ControlDynamicCharacterController(iObj, -- controls the physics capsule of the player
 fAngleY
 fAngleX
 fSpeed
 fJump
 fDucking
 fPushAngle
 fPushForce
 fThrustUpwards )

The fDucking I believe is simply a on/off flag, in order to have proper crawl control would need additional control over capsule height and orientation.

Of

[2022-05-03 07:35] plemsoft commented on #1532
@rvanner Its the same as this: https://github.com/TheGameCreators/GameGuruRepo/issues/1248
We dont really have another system for this at the moment ?

[2022-05-03 07:37] AmenMoses commented on #3036
Could also be related to: #2279

[2022-05-03 07:38] MonkeyFrogStudio commented on #3035
I think what we need is a special instance for "crawl spaces". Like they use in games like Alien Isolation. When you come to an area you can crawl in, like a vent or other crawl space, you get a prompt (press "E" to enter the crawl space) and that moves the camera/player into that space until they exit. It's a lot like getting onto a ladder and exiting a ladder. But this way, you don't need an ext

[2022-05-03 08:32] davetgc opened #3037 "Importer Static Mode"
From social media.

Most objects imported into the importer will be static. Default importer mode should be to set the model to static.

[2022-05-03 08:37] plemsoft commented on #2719
@MonkeyFrogStudio @Necrym59 I think i found it :) but dont have a widescreen to test on, could one of you try this new .exe and let me know if it fix the zoom on widescreen:

https://drive.google.com/file/d/148Ab0XwRYkAoA3nGSvOgQ46msdn03VJg/view?usp=sharing

Thanks for your help :)

[2022-05-03 08:43] plemsoft commented on #2698
@MonkeyFrogStudio Great you found it, feel free to close this one, your "names" is in another issue :)

[2022-05-03 08:45] rvanner commented on #1532
OK, I will close this one.

[2022-05-03 08:45] #1532 closed

[2022-05-03 08:48] Necrym59 commented on #3035
Can a command to rotate the capsule to a lying down position be done with the fAngleX be used? ive never looked at these commands.

[2022-05-03 09:12] #2436 closed

[2022-05-03 09:20] ZakJudges commented on #2146
@plemsoft Got it, thanks :)
@rvanner The fix should be in the next experimental build :)

[2022-05-03 09:40] plemsoft commented on #2719
@Necrym59 Yes thats zoom working :) , cant you get "center" to work ? , just tried here it worked fine, how do you test it ?

[2022-05-03 09:44] davetgc opened #3038 "Bring back Spawn Life"
From social media

Please add an option for a character/object to be destroyed after X milliseconds. In FPSC you could set spawn life for the object to be destroyed after a set amount of time. If explodable object should explode, if character, character should ragdoll.

This would be useful to create corpses and shock effects.

[2022-05-03 09:47] #2698 closed

[2022-05-03 09:48] Necrym59 commented on #2719
Let me try it again

[2022-05-03 09:50] MonkeyFrogStudio commented on #2698
@plemsoft "your "names" is in another issue :)" Not sure what that means ...

[2022-05-03 10:02] Necrym59 commented on #2719
Ok tried again Selected Backdrop Centre, it shows ok in the selcetion screen
![Backdrop_Centre_select](https://user-images.githubusercontent.com/95015657/166435458-c52138a4-461f-4c16-b147-b11ccb784b6b.png)
Then either running test level mode or standalone game this is the result
![Backdrop_Centre_result](https://user-images.githubusercontent.com/95015657/166435555-5667dd09-3c9a-4053-9a72-bb02a72f2

[2022-05-03 10:07] marcuswilm commented on #2617
I tested the float numbers in dynamic lua in the latest alpha version (2022.04.29) with the script (behavior "test_float_numbers.lua") included in the attached file (.lua to .txt extension).

[test_float_numbers.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8609680/test_float_numbers.txt)

In my quality of simple alpha tester I cannot guess how far the accuracy of the float numbers is

[2022-05-03 10:34] Necrym59 commented on #2920
Example of new auto sliding door mode
https://user-images.githubusercontent.com/95015657/166439132-17b45410-ce88-45ae-8dd4-d2425c4e9336.mp4

[2022-05-03 10:40] plemsoft commented on #2719
@MonkeyFrogStudio @Necrym59 Thanks for your help, this has been fixed and will be in the next update :)

[2022-05-03 10:41] plemsoft commented on #2904
@Tum1370 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-03 10:42] plemsoft commented on #1282
@rvanner This has been fixed and will be in the next update , @LeeBamberTGC Please also merge wicked on your next build :)

[2022-05-03 10:48] Necrym59 commented on #2719
Great mate thanks.

[2022-05-03 11:33] ZakJudges commented on #2662
Hi @Xabyn, thank you for reporting this issue. This has been fixed and will be in the next update. I will reply here when the fix is available for you to test :)

[2022-05-03 11:53] ZakJudges commented on #2951
Hi @Ratall, thank you for getting back to me. I will not share the model and will delete it after testing. My email address is zak@thegamecreators.com
Alternatively, you can direct me to another model freely available online that shows the issue, and I can reproduce it from there. Thanks!

[2022-05-03 11:54] Indidev234 commented on #2877
![2](https://user-images.githubusercontent.com/103853649/166448132-04e83aa6-6dab-48bb-9d3b-07e214e16ea0.PNG)
Finally I was able to take a picture from the computer where the exe file error is

[2022-05-03 13:40] plemsoft commented on #2959
@Ratall Thanks for your request, this has been added, you find the auto flatten button in the "general" section :)

[2022-05-03 13:40] plemsoft commented on #2207
@UltraVox001 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-03 13:41] plemsoft commented on #2990
@synchromesh62 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-05-03 14:05] DaveTGC2 commented on #2808
I've spoken to the original poster, and I can confirm that this is still an issue. I replicated it using jungle trees. I've also noted randomly spawning cacti.

[2022-05-03 14:06] butch098 commented on #2808
these are the trees i use

[2022-05-03 14:14] ZakJudges commented on #2846
@LeeBamberTGC Added in a fall damage multiplier set to 4 by default which causes 506 damage when falling from the Aztec temple

[2022-05-03 14:15] Tum1370 commented on #2943
@LeeBamberTGC @PaulSJ
Am closing this issue. Just tested the latest experimental Max and this is now fixed for the map it was happening on.
Thanks

[2022-05-03 14:15] #2943 closed

[2022-05-03 14:19] Tum1370 commented on #2904
@plemsoft
Hi, I have just tested this on the latest experimental build that released just now today (3/5/22)
Both Invulnerable Single Level and Invulnerable Standalone from storyboard is still not working.

Maybe its not been added to latest EXP build today ?

[2022-05-03 14:21] Tum1370 commented on #2332
@LeeBamberTGC
Am closing this issue as the new Door Sliding script fixed this issue.

[2022-05-03 14:21] #2332 closed

[2022-05-03 14:22] Tum1370 commented on #2218
@LeeBamberTGC
This is now fixed, Closing.

[2022-05-03 14:22] #2218 closed

[2022-05-03 15:26] Tum1370 commented on #2945
@plemsoft
After a quick test of this bug on the experimental version, The white box still appears as the enemy dies, But then it disappears as another one dies.
I did not see the white box on the editor after testing the game.
Ill close this one.

Thanks

[2022-05-03 15:26] #2945 closed

[2022-05-03 15:57] ZakJudges commented on #2500
@LeeBamberTGC This is caused by weapons having multiple sets of settings for each of their firemodes. When the firemode is changed with the V key, the 'old' settings are then restored until the V key is pressed again. Do you recommend propagating any developer setting changes throughout all firemodes, or adding in more settings to the developer section?

[2022-05-03 16:42] Indidev234 commented on #2877
[DxDiag.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8612157/DxDiag.txt)

[2022-05-03 17:37] Benjib0y commented on #2701
Sorry Preben, it doesn’t.

Ben

 渜

From: Preben Eriksen ***@***.***
Sent: Tuesday, May 3, 2022 6:18 AM
To: TheGameCreators/GameGuruRepo
Cc: Benjib0y; Mention
Subject: Re: [TheGameCreators/GameGuruRepo] UI - Moving GGM across various aspect ratios doesn't display UI properly (Issue #2701)

 渜

@Benjib0y <https://github.com/Benjib0y>  What happens if you minimize the window while on screen 2 , and

[2022-05-03 17:42] MonkeyFrogStudio commented on #3035
@Mt-Chiliad-UFO I have no idea what your problem is. I didn't mention a particular "ladder script" at all. It's how ladders, in ANY game work. You just get on them. I play games and this is how they work in most instances (though not all). Why the heck are you jumping on me? What did I do to you? Am I the one that used your script? Remember, I'm not a programmer. And what does any of that have to

[2022-05-03 18:33] MonkeyFrogStudio commented on #2989
Works on my end! Thanks for the fix!!!

[2022-05-03 18:33] #2989 closed

[2022-05-03 18:34] MonkeyFrogStudio commented on #2149
Works a treat so far! Thanks for the fix!!!

[2022-05-03 18:34] #2149 closed

[2022-05-03 18:36] MonkeyFrogStudio commented on #2731
Looks to be fixed! Thanks!!!

[2022-05-03 18:36] #2731 closed

[2022-05-03 18:39] MonkeyFrogStudio commented on #2981
@LeeBamberTGC This does not appear to be working yet. I still have to click to select the first object, the CTRL+Click on the second object DESELECTS the first selected object. After that, CTRL+Click will add to the selection.

Now, if you CTRL+Click the FIRST object, it works correctly from there on out. But if you already have an object selected (i.e. it wasn't selected first with CTRL depressed

[2022-05-03 18:41] MonkeyFrogStudio commented on #2714
@PaulSJ What more information can I provide? I've given videos showing it still happens. And it's still happening for me even in today's experimental build.

[2022-05-03 18:43] vstrode commented on #2891
I had to completely dl everything and reinstall but got it working.

________________________________
From: Preben Eriksen ***@***.***>
Sent: Monday, May 2, 2022 2:23 AM
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: vstrode ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] RunTime Error 7018 () (Issue #2891)

@vstrode<https://github.com/vstrode> Any news on this is

[2022-05-03 20:34] Necrym59 commented on #3035
Ummm I dont know what his problem is but dont attempt to cast falshoods and outright lies on another people.

[2022-05-04 00:24] synchromesh62 commented on #3035
Had a clean-up Guys and just left main the issue at hand.
The Github Its not a forum.

[2022-05-04 04:32] Ratall commented on #2951
@ZakJudges I sent it via Google (I think I have never done that Before) it is a bit large(81 materials, 68 textures) but that is what makes it a hard test.

[2022-05-04 05:09] #2207 closed

[2022-05-04 06:04] plemsoft commented on #2891
@vstrode Thansk for getting back , and happy you got it working :)

[2022-05-04 06:04] #2891 closed

[2022-05-04 06:25] plemsoft commented on #2904
@Tum1370 Should be in there , just tested again and it works fine here, it will still count down health until you reach 100 and it will never go below , give it another try :)

[2022-05-04 06:29] plemsoft commented on #2864
@Tum1370 Here is a video about how to change it: https://drive.google.com/file/d/148qjKrHq_LI0Q2Qu0qxCOoDdtKtp82qh/view?usp=sharing

FYI: You MUST select another icon (even if its the same, conversion has changed) or it will not work , give it another try :)

[2022-05-04 07:45] Curiosityuk opened #3039 "Size of Game"
I rendered a 2 level test game  and it's over 3gb in size. Surely that isn't right?

The game hasn't even got any characters or weapons in yet apart from my player.

Is there a way of bringing it down?

[2022-05-04 08:17] davetgc opened #3040 "Camera flicker in latest experimental build (03/05/2022)"
https://user-images.githubusercontent.com/99803873/166644956-14cf5b00-b465-4ef4-919f-422564f730e5.mp4

[2022-05-04 08:42] MonkeyFrogStudio commented on #3039
Reported here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2301

It's because when MAX creates a stand alone, it currently includes a lot of extra files that aren't needed and aren't part of your game. If you go through the files, you can find them and remove them, which will remove literal gigabytes from the size of your game. They know about it. MAX is still in Early Access and they

[2022-05-04 09:45] Necrym59 commented on #2995
i wonder if the cloud system could be adapted for low level fog?

[2022-05-04 10:27] Tum1370 commented on #2864
@plemsoft
This is the problem. I did exactly what you have done in the video.
I selected the icon, a 256x256 png.
Then after creating Stand-alone it is still the game guru icon.

I tested this on last nights experimental build.
Does not change the icon for me.

[2022-05-04 10:42] synchromesh62 commented on #2864
Tried this just now after reading this ..
Worked fine for me just using my Avatar.png file.

![ICON](https://user-images.githubusercontent.com/35708217/166666696-4b3df688-1dad-425e-9ff1-52fa3afe8e1c.png)

[2022-05-04 10:48] Tum1370 commented on #2864
As soon as am home from work I’ll do a video of this. Definitely wasn’t working for me last night.

[2022-05-04 13:06] Tum1370 commented on #2864
@plemsoft @synchromesh62
Sorry guys, my mistake.
This time, i re selected the same icon, and after creating standalone the icon was on the EXE file.
Thanks, I will close this issue now.

[2022-05-04 13:06] #2864 closed

[2022-05-04 13:08] Tum1370 opened #3041 "GG Max - Creating Standalone - Progress bar - Incorrect"
As you can see in the screenshot.
The progress bar for creating a standalone is giving incorrect details.
In this case the progress bar got to 180%.

![image](https://user-images.githubusercontent.com/66874403/166687545-e12bd0e4-d2eb-4938-a5c1-95dde72e6171.png)

[2022-05-04 13:13] Tum1370 commented on #2904
@plemsoft
Hi, Just tested this again.
Yes it is working as you say, My HP will drop to 100 and never go below that.

When i first tested it, i just noticed the HP going down, where as when you test play from editor, you do not even have the HP showing on screen.

I will close this issue now.

Thanks

[2022-05-04 13:13] #2904 closed

[2022-05-04 13:15] #2209 closed

[2022-05-04 17:04] rvanner commented on #3040
@davetgc Which tree is that happening on?

[2022-05-04 17:09] davetgc commented on #3040
I think it's Jungle Tree 2.

[2022-05-04 18:31] C4ever08 opened #3042 "Game Guru Classic Saving game and loading in standalone broken."
So I saved my game to play later and come to realize once I load the game entities become broken. I use breakable crates in my game and when I loaded the save, crates seem to disappear and i can hear them being broken when I'm not even near them. This also causes weapons not to load when pressing the 1,2 etc keys it will freeze for a few moments then it works. My game is on steam now and I've seen

[2022-05-04 18:38] rvanner commented on #3040
Can you check and let me know for sure please? Does it always do it with that model?

[2022-05-04 18:51] ZakJudges commented on #3037
@rvanner this would be a very quick add, just need your permission

[2022-05-04 18:56] rvanner commented on #3037
@ZakJudges If it's quick to do then add after your current task.

[2022-05-04 21:32] Necrym59 commented on #2217
Fixed

[2022-05-04 21:32] #2217 closed

[2022-05-05 00:44] Hamada880 commented on #3027
Will give that a try as I was searching for this feature around GGMax. Thanks so much for sharing.

[2022-05-05 06:34] davetgc commented on #3040
Hi Rick,

It's jungle tree 1 and 2

[2022-05-05 06:38] davetgc commented on #2808
I've confirmed the snow tree issue:

https://user-images.githubusercontent.com/99803873/166873495-e03766e3-d10c-4d61-b394-1679cd07672d.mp4

[2022-05-05 07:00] davetgc opened #3043 "Zombie Clothing"
From Social Media

Zombies can't access non-civilian clothing. Could this be added?

[2022-05-05 07:21] synchromesh62 opened #3044 "Standalone issue : program can't start because api-ms-win-shcore-scaling-l1-1-1-dll is missing"
User reported on Steam anyone he shares his game with **( who does not have Max installed )** gets this error.
**this program can't start because api-ms-win-shcore-scaling-l1-1-1-dll is missing**
A missing file perhaps ?

[2022-05-05 07:22] davetgc opened #3045 "Parrots occassionally freezing in mid flight"
Not sure when this started, I only spotted it today, but the parrots are now occasionally freezing in mid flight.

https://user-images.githubusercontent.com/99803873/166878363-25bdb93d-7142-44e8-9c30-cc5b82068a1b.mp4

That's parrot green, but also seen on parrot.

[2022-05-05 07:30] synchromesh62 commented on #3045
To high a Polly count is my guess.
Sorry couldnt resist :)

[2022-05-05 08:07] davetgc commented on #3045
Please try harder :)

On Thu, May 5, 2022 at 9:30 AM synchromesh62 ***@***.***>
wrote:

[2022-05-05 08:15] davetgc opened #3046 "Environmental menus not opening in latest experimental build"
Clicking on the post-processing/filter/etc menus only opens them briefly.

https://user-images.githubusercontent.com/99803873/166885673-c94943f9-7c5f-4748-b13a-21237e7451e5.mp4

[2022-05-05 10:43] MonkeyFrogStudio commented on #3046
Interesting! I am not experiencing this with the latest experimental build. All menus are opening fine for me.

[2022-05-05 11:13] davetgc commented on #3046
I had to revert to an earlier build today. Sounds like a strange one.

On Thu, May 5, 2022 at 12:43 PM MonkeyFrogStudio ***@***.***>
wrote:

[2022-05-05 12:05] synchromesh62 commented on #3046
On the very odd occasion when i click add the window opens as a very narrow bar that you cannot do much with but clicking the Reset Interface sorts it ... Maybe try that first next time .. It just resets the visual no other settings.

![reset](https://user-images.githubusercontent.com/35708217/166919585-53ee54fa-aaef-43c6-ad04-d2727b2c8b62.png)

[2022-05-05 12:22] rvanner commented on #3043
Unlikely any time soon.

[2022-05-05 12:25] rvanner commented on #3046
I am not seeing this on my build. Maybe verify your files?

[2022-05-05 12:36] OldFlak commented on #2508
@PaulSJ Hi Paul - spent a good 10-15 minutes in latest Experimental build trying to reproduce, but not seeing it now.
Before could produce it reliably so might be safe to close this now - can always reopen if it comes back.

Thanks for persevering with it :)

[2022-05-05 12:36] #2508 closed

[2022-05-05 12:42] Tum1370 commented on #2988
@LeeBamberTGC
Hi, Do you have any more news on a new red dot or scope fix for the compact rifle please ?
Its hard to Test a game that just has a blank scope.

[2022-05-05 13:18] PaulSJ commented on #970
So I've done a bit of research on this and from what I can tell the emissive color should desaturate as it gets brighter, but I agree that going full white is too much. WickedEngine seems to be following Unreal's changes which is why it used to treat emissive differently, found here [https://docs.unrealengine.com/5.0/en-US/color-grading-and-the-filmic-tonemapper-in-unreal-engine/](url). I've adjus

[2022-05-05 13:54] davetgc commented on #3046
Verifying files has fixed this one. Thanks.

[2022-05-05 14:07] davetgc commented on #3040
Hi Rick,

![image](https://user-images.githubusercontent.com/99803873/166939962-5d7844a2-8503-4cb6-a44c-294e24bf489d.png)

These are the trees, called Jungle Tree 1 and Jungle Tree 2. I'm only seeing the flicker when the player is looking around. Maybe it's a lighting issue?

https://user-images.githubusercontent.com/99803873/166941157-238e8717-7d13-4ba0-b25c-155e796d8400.mp4

Hopefully you can se

[2022-05-05 14:19] Tum1370 opened #3047 "GG Max - Bug ?? - MIssing AKM in Object Library ??"
Is the AKM suppose to be in the object library ? Or is this something that has been changed / removed, and this AKM selection needs removing ?

When trying to add the object to a scene, it does not add anything ?

![AKM](https://user-images.githubusercontent.com/66874403/166943761-e77dac84-4c95-4e45-b1d6-8c9771a7e37f.png)

[2022-05-05 15:23] PaulSJ commented on #2877
@plemsoft SetThreadDescription is officially supported in Windows 10 version 1607 and above, but it just sets a human readable description for a thread, so we should be able to remove it without any problems. However if it really is a Windows version issue then there may be other functions that will generate similar errors.

[2022-05-05 16:19] AmenMoses commented on #3045
It's probably dead.

When the health drops to 0 the script is no longer executed.

[2022-05-05 16:22] Indidev234 commented on #2877
Guys, I solved the problem, the problem is in curves and support updates, I had to manually reinstall some of them with Windows rollback, but still the system drivers, I think, are a little overstated for the average consumer) I deleted the negative feedback from the steam, now it remains to deal with the same problem on other PCs

[2022-05-05 16:23] Indidev234 commented on #2877
Thank you all for helping with the problem, you are great fellows, it is for such responsiveness that my team adores you)

[2022-05-05 16:26] AmenMoses commented on #2777
Aha, it's working now.  I had a conflicting script hiding in my test level.

[2022-05-05 19:22] MonkeyFrogStudio commented on #970
Awesome! And thank you.

When drawing or painting, I remember something I was once told, "There's what's real and there's what looks right or good." The point that the person was trying to make was, sometimes what's correct or right or proper isn't always appealing. And, let's face it, sometimes we want to create fantasy. This applies even to emissive textures. Sometimes the emissiveness, bloom, e

[2022-05-05 19:31] MonkeyFrogStudio commented on #3047
Hmmm ... it's in my library.

[2022-05-05 19:48] synchromesh62 commented on #3047
Same for me its gone, Renamed i think ?
That could be  the old backdrop

[2022-05-05 22:04] Necrym59 commented on #3046
I vae had that, ive found dont have an object selected when you do it seems to work.

[2022-05-05 22:11] Necrym59 opened #3048 "GGMAX - Request lua commands exposure"
If possible can we get a commands for rag-doll creation and clean-up exposed in lua this would allow for holding off cleanup and allowing rage-doll physics on a dead character for example amongst other uses.

[2022-05-05 23:00] MonkeyFrogStudio opened #3049 "GameGuru MAX - Request - Parallax Occlusion Mapping for Materials"
I would love to see Parallax Occlusion Mapping added to MAX at some point. It's an amazing way to add details to models without adding geometry. If used wisely, such as creating a texture atlas or a single material sheet of "decals" or "atlases" these details can be used an all sorts of models all over a level to add immense amounts of details with little overhead (again, if used wisely). Here's a

[2022-05-05 23:11] Necrym59 commented on #3049
Parallax Occlusion Mapping should be implemented, it is in nearly all the engines now, no point in being left behind now. Its overhead is small if used wisely especially on object and decals. Im sure the wiked engine would have this capability. The effects are remarkable and effective especially with dynamic lighting .
![sample_decal](https://user-images.githubusercontent.com/95015657/167041345-de

[2022-05-05 23:21] MonkeyFrogStudio commented on #3049
Wicked Engine already has Parallax Occlusion Mapping:

https://camo.githubusercontent.com/50bd9b992205e0dc49ce57d1857d63707dd84f6062fdb02a20bd17e9e624010e/68747470733a2f2f747572616e737a6b696a2e66696c65732e776f726470726573732e636f6d2f323031392f30312f706f6d2e706e67

[2022-05-06 00:40] Necrym59 commented on #3045
its just kipping, beautiful plumage..

[2022-05-06 01:04] nomad5oul commented on #970
This sounds fantastic. Thankyou :)

[2022-05-06 04:31] fearlesswee commented on #3049
Parallax occlusion mapping would especially be super beneficial to terrain, which can be pretty flat and "smooth" feeling atm.

[2022-05-06 05:22] Curiosityuk commented on #3039
Cheers Monkey 👍👍👍

[2022-05-06 05:32] DaveTGC2 opened #3050 "Video texturing."
From Social Media.

Please reintroduce video textures, so that we can create things like TV screens and animated billboards.

[2022-05-06 06:21] hamedsheygh opened #3051 "Material Node Graph"
Could we have full control of materials in ggMax with material node graph editor?

[2022-05-06 06:50] #3046 closed

[2022-05-06 06:51] rvanner commented on #3045
Flying critters need to fall to the ground when damaged (explosion hits them).

[2022-05-06 06:56] rvanner commented on #3040
@davetgc Thanks for the clarification. I understand now.

[2022-05-06 06:58] rvanner commented on #3040
@PaulSJ Seems Jungle 1 and Jungle 2 trees now flicker when placed into the scene. I also found that when placing just these two trees the system was placing down a snow covered tree too. See this video;
https://youtu.be/sHv55nqyrQ0

[2022-05-06 07:26] davetgc commented on #3040
There's also another issue posted regarding the snow covered trees.

https://github.com/TheGameCreators/GameGuruRepo/issues/2808

On Fri, May 6, 2022 at 8:58 AM Richard Vanner ***@***.***>
wrote:

[2022-05-06 08:52] Necrym59 opened #3052 "GGMAX - FOV not working"
FOV does not work in the graphics menu in standalone games nor by lua commands. It only seems to work from the slider in camera settings in test mode.

[2022-05-06 09:09] Snage62 opened #3053 "Height mapping"
I think we are going to need a tutorial on Height Mapping and how we go back to importing it into Max, I have just made a map with 3D Mapper online generator,  of my local area and would like to try importing it into Max.

What do I need to do this. any advice would be great.

Thanks
Nigel

[2022-05-06 09:23] Necrym59 commented on #3053
what place did you do the map on

[2022-05-06 09:44] Snage62 commented on #3053
Hi Necrym59
This is the site I used ( https://3d-mapper.com/_MAP/index.php? )  They charge 5$ for personal usage.

I will try the address you have provided,
Thanks

[2022-05-06 10:21] AmenMoses commented on #3045
Or just give them a heap of health so they can fly away and live happily ever after.

[2022-05-06 10:38] rvanner opened #3054 "Games crash when run from the HUB"
**User P. Hawse is having issues running MAX demos from the HUB**
I unplugged my TV and connected headphones. Then i ran a windows chkdsk /f on my c drive. that seemed to help now when i launch into the gamegurumax i can open the demos in the editor and play them from there.
I haven't tried anything in there except that and zooming out and moving around a bit. However if i try to launch any of the

[2022-05-06 11:16] OldFlak commented on #970
@PaulSJ - Now that is cool, great work - thanks!

![image](https://user-images.githubusercontent.com/12246318/167121318-ecf5230c-e346-4ebb-a911-8a15bf46e29f.png)

If all the others that have chimed in on this thread are happy - I be OK to close this thread - finally :)

[2022-05-06 12:33] PaulSJ commented on #3040
@rvanner It seems that those trees have double sided polygons which is not only causing flickering but will also be hurting performance. The polygons should be single sided which we then render as double sided in the engine.

[2022-05-06 12:37] rvanner commented on #3040
@bond1mjb Can you please amend these trees and send @PaulSJ new versions? Thanks.

[2022-05-06 12:50] AmenMoses commented on #3045
Then the script becomes much more complex, plus there are no decent death poses for the birds, needs something like the mammals where the bird would be sort of draped on the ground.

[2022-05-06 13:14] MonkeyFrogStudio commented on #3049
@fearlesswee From what I understand, parallax occlusion mapping is one of those things that you have to use carefully because it can hit hit the engine pretty hard if used too heavily. Instead, they need to use PBR materials on the terrain (if they're not) with a sufficient normal map and nice roughness, etc., to get the terrain to look less "smooth".

[2022-05-06 14:15] earthling45 commented on #3049
POM is very suiting for terrain and walls. FS22 now uses (though done ugly in certain areas) POM for ground and walls. The fps even on 3440x1440 never dip below 60 fps.

But i see what you are getting at, i did something similar a few years ago when we were suposed to get POM in classic. :)

Only normal map
![FLjL4rl](https://user-images.githubusercontent.com/35744254/167150199-530c6a5d-0958-4ef6-

[2022-05-06 14:23] MonkeyFrogStudio commented on #3049
Parallax Occlusion Mapping doesn't create any extra polygons. It's purely a texture trick:

"Parallax Mapping refers to the offsetting of the texture coordinates and Occlusion refers to the ability to shadow the parallaxed result accurately. Parallax Occlusion Mapping, or POM for short, works by taking iterative steps along the height field checking for intersections."

[2022-05-06 14:37] earthling45 commented on #3049
The latter example is displacement i think, not parallax. :)

[2022-05-06 14:48] earthling45 commented on #3049
I know but POM requires extra passes whereas displacement adds extra geometry, which is preferable.

[2022-05-06 14:58] Pcskiller opened #3055 "MAX BUG. Zombies can not be killed through a fence but can hurt player through it and walk through it"
Like the heading says Zombies can not be killed through a fence but they can and can walk through it see video.
The fence is From Max fence collection
[[Sz5KLUeSFJc](https://youtu.be/Sz5KLUeSFJc)](url)

[2022-05-06 16:21] bond1mjb commented on #3040
@PaulSJ @rvanner  Oh sorry about that.  InstaLOD required those  double sided faces for correct billboard generation.  Looks like I forgot to delete them before exporting those two trees.

I've attached new branch models for jungletree1 and jungletree2.  Hopefully that fixes the flickering.
[jungletrees.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8642130/jungletrees.zip)

[2022-05-06 16:44] PaulSJ commented on #3040
@bond1mjb Thanks, that fixed it

[2022-05-06 16:58] MonkeyFrogStudio opened #3056 "GameGuru MAX - Bug - A Grand Canyon Adventure Demo - Infinite Life"
The "A Grand Canyon Adventure" demo gives the player infinite life.

[2022-05-06 17:23] fearlesswee opened #3057 "MAX - Minor improvement to soldier AI"
I was just playing through the island demo to test out the new swimming (which is great btw, just a bit sluggish) and was fighting a big group of soldiers near the top of the little hill with the radio beacon. I was hiding behind a rock to reload, and one by one they all ran into the same spot, got gunned down, then the next one in line would stand up to get gunned down, which allowed me to easily

[2022-05-06 18:10] Maro32 commented on #2772
+1
I'll appreciate a tick box for trigger zones.

[2022-05-06 18:29] LeeBamberTGC opened #3058 "Put All Demo Games On Website"
As we grow the GameGuru MAX HUB with demo games, once stability and performance is settled for most modern PCs and Laptops, export all demo games as standalone for download from the MAX website allowing new users to try out the games before they decide to try out the free demo installer.

[2022-05-06 18:32] LeeBamberTGC opened #3059 "New BUILT-IN TUTORIAL for Editor Settings (Advanced and Developer) - Currently Quite Hidden"
In the effort to make standard user experience as easy and frictionless as possible, we have made advanced and developer features a little hidden. To solve this, create a built-in tutorial which explains how to switch them back on and the benefits of taking the next steps of adding more tool functionality.

[2022-05-06 19:18] #970 closed

[2022-05-07 00:11] casigus opened #3060 "trees appearing that are not selected."
these lovely snowy   trees keep  spawning in no  matter  what you  select or unselect!

![image](https://user-images.githubusercontent.com/68471279/167229637-0d5ffa78-827b-4440-80f0-c7863b014b6d.png)

[2022-05-07 00:53] Ratall commented on #2959
Thanks

[2022-05-07 00:53] #2959 closed

[2022-05-07 07:13] rvanner commented on #3060
@PaulSJ Can you look into this as a matter of urgency? It's very annoying and should not be happening. It's reported in other github reports too.

@casigus Nice looking level!

[2022-05-07 07:16] rvanner commented on #3053
Tutorial released!
https://youtu.be/JhK_AlACJbU

I am sure there's more to learn re heightmaps. I'd suggest following the forum post about the competition where users will share their experiences too.

[2022-05-07 07:16] #3053 closed

[2022-05-07 09:35] Necrym59 opened #3061 "GGMAX - Ammo behaviour Issue - Build 2022.05.06"
The current Ammo behaviours does not give the amount shown in the Ammo quantity field. The actual amount given is the Ammo amount brought in from the FPE, this quantity setting is found on the Developers Settings Panel and needs to move to the Behaviour section. Previously Refered to https://github.com/TheGameCreators/GameGuruRepo/issues/2923
Unless there are plans to replace that FPE quanity with

[2022-05-07 09:45] Necrym59 opened #3062 "GGMAX - Add Audio zone issue - Build 2022.05.06"
After placing 3 Audio zones with 3 different sounds unusual events happen.
1. Sometimes a sound is played that is not allocated to the zone used.
2. Sometimes no sound is played at all
3. Sometimes a sound allocated to zone 1 played in zone 3 but no sounds in 1 and 2
4. Same as point 3 but no sounds in 2 and 3 and sound played in 1 from another zone.
5. If the zones overlap or close proximity they

[2022-05-07 11:15] Pcskiller commented on #3055
I have just tested the small concrete walls as well, it looks like as soon as the Zombies attack the player in the bite animation then they can  somehow go through the fence or the wall while they are biting the player. So i guess it will happen to any fence or wall that they can see over or see through the fence or wall

[2022-05-07 11:23] Hamada880 opened #3063 "Legacy structure Editor GGMax"
Legacy structure Editor works as before,however the Material Settings no longer has effects or change any of the materials, also non of the other materials shows after enabling the Custom Materials only the base color.

[2022-05-07 13:16] 3coms opened #3064 "Meshes sharing material - importer [GGMax]"
@ TGC
Hi

**The issue**
I have a mesh ( a house), and I've modeled and exported it as OBJ from 3ds max, when try to import it, GGMax talks about the mesh being up to 100 materials; that's the issue.

**What's going on**
My mesh (a house plus exteriors) is a composed mesh, compound by just 8 pieces, all of them sharing material, so, really is 8 materials nor 100+ as GGMax says.

**What you should d

[2022-05-07 13:21] Tum1370 opened #3065 "GG Max - Bug ?? Fish resizing and movement"
Is this a bug or as intended ?
When you place some fish in a pool, Even if you resize the fish, and place them near the surface of the water, They are always smaller again and at the bottom of the pool.
Some fish seem to swim properly, Others dont seem to swim at all.

Also just see a fish start at the top, then sink to the bottom and below the ground.

[2022-05-07 14:15] Pcskiller commented on #3055
made some more test see video
[[Yr4RGqZIUJY](https://youtu.be/Yr4RGqZIUJY)](url)

[2022-05-07 17:13] MonkeyFrogStudio commented on #3064
Question - Why are you using OBJ as a file format for something like this? OBJ is an old and obsolete file format. The issue you are encountering may not be the fault of the MAX importer per se, but may be the fault of the OBJ .mtl file. I'm just guessing since I don't have the .mtl file at hand to look at. But you can open it as it's a simple text file and see what's inside. In any case, OBJ is g

[2022-05-07 17:27] Pcskiller opened #3066 "ally and neutral Npc must also shoot the Zombies ( Suggestion )"
can we please have an extra setting to select the ally an neutral Npc to shoot the Zombies.
The ally Npc can shoot the Zombies, but they keep on ruining behind the player as silly puppets.
I need to have ally or neutral Npcs that can stay on one place and defend it from enemy's that i select.

[2022-05-07 19:15] MonkeyFrogStudio opened #3067 "GameGuru MAX - Request - Color Picker Consistency"
If you look at the color pickers provided for materials:
![colpick1](https://user-images.githubusercontent.com/36735507/167268602-8ce3a6fe-8958-4c8f-bc8b-f482d056bf8f.png)

Verses for lights:
![colpick2](https://user-images.githubusercontent.com/36735507/167268608-9a535bae-d253-4eab-8879-f1aed93e1dab.png)

You'll see that they are different. The primary difference that I am interested in is the he

[2022-05-07 19:18] 3coms commented on #3064
@MonkeyFrogStudio
Thanks for your input but I'm hoping for an answer from TGC whom the question was for. :)

[2022-05-07 21:03] Garlic3419 opened #3068 "HDR"
Turns on the HDR setting on my monitor whenever I launch or test my game. Makes all everything really saturated.

[2022-05-07 21:30] Kravenwolf opened #3069 "GGMax - Minor Oversight - Pressing Ctrl+Z to undo previous action toggles vegetation on/off"
A small oversight I've just encountered is when pressing Ctrl+Z to undo your previous action in the editor, the engine notices you're pressing the Z key so it toggles the vegetation on/off. A minor nuisance and nothing too detrimental, but still, I figured I would bring it to the dev team's attention.

[2022-05-07 23:05] 3coms commented on #3064
@ TGC
I've finally managed to import the home mesh, of course, just with 99 materials; therefore, objects such as the water pool are metallic, rather than blue watercolor (red arrow in the pic below)
so, the lack of materials was replaced with metallic ones by GGMax. :)

![myhome1_UP100_mat_GGMax_EA_pic01](https://user-images.githubusercontent.com/47690174/167274730-fac6b814-48e4-408c-81ba-45d42cb

[2022-05-08 05:40] Pcskiller opened #3070 "Sound fading not working correctly"
there seems to be a problem with the sound control.
1. If you place down a Zombie that starts off eating then you can hear it a mile away, the sound starts of to loud.
2. ' Any Npc that is talking while they are shooting , the sound do not fade out correctly if player is far away.
Maybe we can get a control slider over the fade sound per entity if the main control do not work.

[2022-05-08 05:42] Pcskiller commented on #1666
its not the screensaver

[2022-05-08 07:27] Kravenwolf opened #3071 "GGMax - Feature Request - Move camera to selected object in hierarchy (like Unity)"
I'm working on my comp entry and have a very large terrain (~12km) and cannot find the location of my start marker, haha.

Something that is VERY useful when designing large levels in Unity (I'm sure Unreal does it, too) is the ability to see a list of all of the assets currently in a level (**including markers**) off to the side in a hierarchy (ex., "light1", "light26", "startmarker", etc.), and

[2022-05-08 10:29] AmenMoses commented on #3065
The fish script randomly scales the fish! (that's not a bug)

Active entities get slammed to the terrain at the start for some reason. (I believe this is a MAX bug)

Define "swim properly", are they animating and not moving, moving and not animating, neither or something else?

There are some strange ray casting issues in MAX atm which could explain the last point.

[2022-05-08 13:08] janekste opened #3072 "Automatic terrain alignment breaks down when I put a large and small object (a house and a barrel, a box)"
Hello.
I found a strange problem. I put a model of the house. I put small objects next to the house. The result: the house is moving and the automatic smoothing of the terrain breaks down.

I recorded a video for you in which I show the problem from all sides. GameGuru MAX Build 2022.05.06
https://youtu.be/9oWYR5gYJmg

Thank you for your time.

![image](https://user-images.githubusercontent.com/55

[2022-05-08 13:38] earthling45 opened #3073 "Unable to place editable area after importing heightmap"
Hi i've recorded a little video on what is happening after importing a heightmap.

https://www.youtube.com/watch?v=QSNpcBE2uB4

As can be seen in the video, positioning the editable area is no problem without adding a custom heightmap but after i've loaded a custom heightmap i'm unable to position the editable area.
The heightmap is PNG 4096x4096 and 16 bit grey scale.

[2022-05-08 13:55] OldFlak commented on #3064
Matters not the format - MAX should do them properly :)
- Maybe MAX is having a fit due to so many textures?

Don't have any issues here with OBJ or even X - old formats perhaps, but they still work just fine.

FBX never comes in correctly for me - always have to rotate them 90 degrees - whereas OBJ and X come in correctly every time.
- FBX does come in with all textures applied already, so that i

[2022-05-08 14:25] Lemuripest93 opened #3074 "GameGuru Max Swimming Bug - Clipping Through Objects/Ladders Break Swimming"
Thanks for adding swimming guys, it's been a major wish of mine since FPS Creator and is greatly appreciated, that being said there's a few bugs to be ironed out. Made a little test area to showcase said bugs: https://youtu.be/EUPnd_IGOfc

Text report if not watching video:
Upon swimming you will start clipping into objects (jumping/climbing on top of objects is currently impossible whilst swimmin

[2022-05-08 14:50] earthling45 commented on #3073
So apparently we need to adjust the size of the created and imported heightmap to fit within the editable area and positioning isn't possible because the imported heightmap isn't part of the procedural terrain?

Also a question about converting to raw, can somebody point us to a good tool for converting the PNG to raw format which is compatible with GGM?
I've tried an online converter but that was

[2022-05-08 18:24] MonkeyFrogStudio commented on #3071
@Kravenwolf

You can do this in MAX already. First, click the down arrow under Level Objects and select Detailed Object List:
![detailed](https://user-images.githubusercontent.com/36735507/167309771-bfcd92a9-6115-483f-8197-7b481e40b715.png)

You can then twirl down one of your objects (they are grouped by name) to select a particular one:
![detailed2](https://user-images.githubusercontent.com/3673

[2022-05-08 18:37] MonkeyFrogStudio opened #3075 "GameGuru MAX - Request - Rethink What Is and What Isn't an Advance or Developer Feature"
This is not a complete request, but more of an open discussion (even though GitHub is not for that). But I think we need to rethink the Settings menu and what is or what should be Advanced and Developer features. For example, take this request:

https://github.com/TheGameCreators/GameGuruRepo/issues/3071

Why should the Detailed Object List be hidden away as an Advanced Feature? Why is a detailed

[2022-05-08 21:35] Kravenwolf opened #3076 "GGMax - Possible Bug - Shift+Left Click to duplicate particles does not work"
Tried this and retested in a blank level to confirm issue. Added a stock particle effect to my map and scaled it up a bit. Tried to duplicate that particle effect by clicking on it again and then pressing shift+left click to place it while grabbing a duplicate of that same particle. Placing the duplicate down does not copy the settings of the previous particle and also appears to only show the eff

[2022-05-08 21:52] Kravenwolf commented on #3071
**@MonkeyFrogStudio**,

Thank you. Would not have expected such a useful feature like this to be buried away in the "advanced features" settings, so I just assumed it wasn't implemented and didn't bother to do any digging. Makes me wonder what else Max can do that I'm not aware of yet! Took a quick glance through the user manual (which I'll admit I didn't sift through up until today!), and didn't

[2022-05-08 21:57] Kravenwolf commented on #3075
**@MonkeyFrogStudio**,

Yes, and thank you. I'll admit I didn't read through the user manual until today (I'm sure a lot of people don't unless they REALLY need to!), but after a quick glance through it, I didn't see anything mentioning this very useful feature, either. Very cool that GGM can do it.

**Suggestion would be to add another button to the left like this (and of course, not make it an "

[2022-05-08 21:57] MonkeyFrogStudio commented on #3071
Not sure that needs to be there. I think having it under the twirl down (where the arrow is) is fine (as a selection). It just doesn't need to be something that's either turned on or off via Developer's Features, imo (see this thread: https://github.com/TheGameCreators/GameGuruRepo/issues/3075 )

[2022-05-08 22:32] Kravenwolf commented on #3071
Yes, I've found it now. Where it is it fine as a dropdown, doesn't need a dedicated button as I previously suggested, IMO. But, yes, something about digging into the menus to enable "advanced" features is a bit counterintuitive to GGM's "ease-of-use" selling point.

Maybe just a button over by the "RPG Games" button that toggles ALL of the advanced settings on and off? Or make advanced settings ta

[2022-05-08 23:12] Kitakazi commented on #1514
This is better now that Bloom as more control options.

[2022-05-08 23:12] #1514 closed

[2022-05-08 23:18] Kitakazi opened #3077 "Can Collision when Crouched be Looked At?"
See video
https://youtu.be/PykKiPhsNSE

The height at which the player can crouch under objects doesn't seem right. The actual distance the player / camera moves down is good but the collision at which the player can move under objects just seems off. Objects have to be way above the players head in order to pass under them.
In the video I'm using the same wall model but I lowered the height a lit

[2022-05-09 04:44] Kitakazi opened #3078 "Audiobank Material: Can't add new Material/Footstep sounds via the Editor UI"
GGClassic had 18 different materials in the audiobank that controlled footstep sounds.
Currently Max only has 10 but the other options are missing. Here is the current list.
[materialdefault_test.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8648794/materialdefault_test.txt)

I tried to create a material #4 since there is currently no mat4 listed, but had no luck in getting a new mate

[2022-05-09 06:46] rvanner commented on #3071
@Kravenwolf Glad you found it. I'll also add more advice in the user guide (maybe a tips section).

[2022-05-09 06:46] #3071 closed

[2022-05-09 06:59] rvanner commented on #3073
@PaulSJ Could this be due to the width of the users monitor?

[2022-05-09 09:31] earthling45 commented on #3073
Info on the monitor. 21:9 res 3440x1440. :)

[2022-05-09 11:13] MonkeyFrogStudio commented on #3076
@rvanner I don't see this as an enhancement, but as a bug. If you duplicate a particle, the duplicate won't work. Well, that's not entirely true. The last selected of the two will work, but only one of them will work. If you use SHIFT+Click to create several duplicates, then only ONE of them will ever work, even if you run the game. This is clearly a bug.

[2022-05-09 11:58] PaulSJ commented on #3073
This is behaving as intended. The chosen heightmap is always centered on 0,0 as is the yellow editable area. Only the procedural terrain moves around. When you move the yellow box, the editable area doesn't actually move, the procedural terrain just changes its offset so a new part of it is at 0,0.

I've found ImageJ to be a good tool to convert images to RAW format.

[2022-05-09 12:09] MonkeyFrogStudio commented on #3076
Here's a video showing this in "action":

https://user-images.githubusercontent.com/36735507/167406877-b549d570-85b5-4012-9e89-ac039988142b.mp4

[2022-05-09 14:35] rick594 opened #3079 "GGMax - Swimming Bug"
When Swimming a river in play mode, can't exit the water instead the player swims under the ground and the water still surrounds the player. I've tried this on both my desktop and laptop.
See attached video:

https://user-images.githubusercontent.com/100201525/167432998-a09956d6-7a23-46ec-9ea6-7314d252d1d7.mp4

o

[2022-05-09 14:49] ZakJudges commented on #3064
Hi @3coms, our current plan to handle this is to combine any meshes that share the same material ( see #2805). At present the importer assumes that any meshes that share the same material will have already been combined into a single mesh before importing. More on this in the future :)

[2022-05-09 14:51] ZakJudges commented on #2846
@LeeBamberTGC Whilst you are on the Aztec kit, would you be able to confirm this fix works for you? :)

[2022-05-09 14:52] ZakJudges commented on #2779
Hi @davetgc, are you happy for this one to be closed now? :)

[2022-05-09 14:54] #2671 closed

[2022-05-09 14:54] ZakJudges commented on #2662
Hi @Xabyn, the fix should be in the most recent update. Could you confirm if it has fixed the issue for you? Thanks :)

[2022-05-09 14:55] #2422 closed

[2022-05-09 14:55] #2236 closed

[2022-05-09 14:56] ZakJudges commented on #2146
@rvanner Could you confirm if this is now fixed for you? Thanks :)

[2022-05-09 15:04] Lemuripest93 commented on #3074
Thanks a lot, looking forward to it!

[2022-05-09 15:42] 3coms commented on #3064
@ZakJudges
Right now GGMax is duplicating textures in my mesh folder, so, now I originally had let's say mymesh_color and mymesh_normal, now I've:
mymesh_color.png
mymesh_colo1r.png -- duplicate by GGMax after the first attempt to fix the texture path
mymesh_color2.png -- idem second attempt

![Duplicating_material_GGMax_EA_pic02](https://user-images.githubusercontent.com/47690174/167446368-6ecb62

[2022-05-09 15:51] #2692 closed

[2022-05-09 15:55] rvanner commented on #2146
Fixed!

[2022-05-09 15:55] #2146 closed

[2022-05-09 15:58] ZakJudges commented on #3079
Hi @rick594, this has been fixed and will be in the next update. I will post here when it is available to download and test :)

[2022-05-09 16:09] 3coms commented on #3064
@ZakJudges
Notice here on the pic below, that the mesh ( a rock) has several minerals attached to it, however, all that's minerals are just 1 mesh
and 1 texture nor 100 textures.
And for any reason GGMax this time do the right way; gets the mineral mesh as just 1 mesh, therefore just 1 material, please refer to the pic below. This is the way I'm requesting here, rather than allow a ton of material

[2022-05-09 16:15] DarthPickles666 commented on #2767
Yep, just tried it, it seems to be fixed, the animations are definitely being recognised now

[2022-05-09 17:02] davetgc commented on #2974
Yes, it is.

On Mon, May 9, 2022 at 4:51 PM ZakJudges ***@***.***> wrote:

[2022-05-09 17:03] davetgc commented on #2779
I think there are still some issues, I'll look tomorrow.

On Mon, May 9, 2022 at 4:52 PM ZakJudges ***@***.***> wrote:

[2022-05-09 17:03] davetgc commented on #2740
Yes, it is working.

On Mon, May 9, 2022 at 4:54 PM ZakJudges ***@***.***> wrote:

[2022-05-09 17:38] Lemuripest93 opened #3080 "GameGuru Max Request/Suggestion - Leaning"
I believe this has already been requested by another user, however making your character lean left and right (with the Q and E key respectively) would be super useful, however unlike the other user's request, i'd like to be able to lean _without_ a weapon as well, this would make games with an escape motive more suspenseful.

Leaning should be toggleable under the player settings, as not every gam

[2022-05-09 18:59] MonkeyFrogStudio commented on #3080
Ideas like this one would work great with my suggestion here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2916

With Player Behaviors (or something like them), then developers could simply drag-n-drop whatever player abilities they wanted their players to have onto the player, totally customizing their player, including things like "leaning".

[2022-05-09 19:06] mike123yy commented on #2790
I see this thread is showing fixed but needs confirmation. I'm still having this problem as of May 9. I have a two-story building and if the player walks below or above a trigger zone or win zone on a different floor it will activate the trigger. I agree with the comments above, these zones do need the spawn at start checkbox then we can make the player go to the guided area and trigger the trigge

[2022-05-09 19:10] mike123yy commented on #2499
I have the Same problem as of May 9, 2022.

[2022-05-09 19:22] mike123yy opened #3081 "Doors that use door rotate script can't be locked"
the majority of the stock doors that come with game guru Max  use the door rotate script  but they don't have the option  to be locked or unlocked . could we get the option to lock these doors to make them require a key?

[2022-05-09 20:15] earthling45 commented on #3073
Thanks for looking into this PaulSJ. I'll close this issue. :)

[2022-05-09 20:15] #3073 closed

[2022-05-09 20:22] Lemuripest93 commented on #3080
Actually i think that's quite an impressive and exciting idea, and would work excellently with one of my planned projects for when the RPG mode comes out, got my vote!

[2022-05-09 20:45] earthling45 commented on #2499
Why not have trigger boxes instead of zones? would this not eliminate a lot of problems.
The player must come in contact with the collision box in order to trigger what the particular trigger box controls.
This would also solve the issue with switches which as i've read can be controled because the player is within the required distance all though there is a wall between the player character and t

[2022-05-09 21:57] casigus opened #3082 "no material sound"
walking  makes no sound  on  any surface or  object.

[2022-05-09 22:58] rick594 commented on #3080
Yes,  leaning would definitely be a useful feature in the game I'm making at the moment.

[2022-05-09 23:12] rick594 opened #3083 "Take objects to the next game level"
I feel that it would be useful to be able to take objects collected on one level onto the next.

[2022-05-09 23:24] #2922 closed

[2022-05-10 00:05] Sir-DJ-Cat opened #3084 "Russian Text Not Displaying"
I typed ограничено in the text zone behavior but it would not display. I added some English and only the English showed up. Tried some other words and nothing. Didn’t modify anything in the behavior except the text.

[2022-05-10 05:46] Kravenwolf opened #3085 "GGMax - Feature Request - Improved Terrain Blending & Brushes"
Seems the only current options when painting your terrain is to use hard, solid texture "a", or hard, solid texture "b"; with no option to blend one over top the other to create a convincing, more realistic blended pathway or material transition. Even Classic appears to achieve a better result with this:

![terpaint](https://user-images.githubusercontent.com/103399301/167548414-b536ba9c-b13b-42f5-

[2022-05-10 06:08] Kravenwolf opened #3086 "GGMax - Suggestion - Press "Ctrl+Left Click" over terrain to apply that terrain texture to brush"
A shortcut/hotkey that would be useful IMO while "speed painting" terrain would be the ability to hold the Control key with your terrain brush selected then left click on a terrain texture already in your map nearby, which would then switch your brush texture to that one. (Sort of like the color selector tool or "eyedropper" in GIMP/Paint/Photoshop.)

So if I try to paint a stone path in the snow

[2022-05-10 08:10] #2974 closed

[2022-05-10 08:10] #2740 closed

[2022-05-10 08:13] ZakJudges commented on #3064
@3coms Could you send me the models and textures and I will take a look :)

[2022-05-10 08:18] ZakJudges commented on #2842
Hi @casigus @Kitakazi Could you send me the dbo and fpe files that show the issue and I will take a look. My email address is zak@thegamecreators.com .Thanks :)

[2022-05-10 08:24] ZakJudges commented on #2425
Hi @thecyrus, the issue where the soldiers headgear disappears underwater should now be fixed. Could you confirm if that is the case? Regarding the other issues, we have more development on the AI planned which will solve these issues :)

[2022-05-10 08:25] #2050 closed

[2022-05-10 08:25] #1779 closed

[2022-05-10 08:55] casigus commented on #2842
ohh i raged deleted them!

[2022-05-10 10:08] ZakJudges commented on #2951
Hi @Ratall, can I just double check if the 81 materials are all supposed to be unique? Or if some are reused across multiple meshes? Thanks!

[2022-05-10 10:15] 3coms commented on #3064
@ZakJudges
Done :)

[2022-05-10 11:09] ZakJudges commented on #2788
@LeeBamberTGC I think this is due to the object having a large number of polygons with different directions having to resolve collisions with the player capsule, compared to the simpler shapes, causing the results to be inconsistent with the simpler collision shapes. Not really sure if we are able to do anything about that? I think its just a case of polygon collision not being well-suited to the

[2022-05-10 11:55] MonkeyFrogStudio commented on #2788
@ZakJudges I would agree. I would never use polygonal collision for a shape like this. I just wanted to point it out as I noticed it when making my tutorial on collision shapes.

[2022-05-10 12:23] ZakJudges commented on #2599
@plemsoft Having some trouble with this one. I've tried to move ShowMemDebug() so that it isn't affected when the hud is turned off, but I'm running into issues when ImGui tries to render it. Any ideas what approach you'd take? Thanks :)

[2022-05-10 12:52] ZakJudges commented on #2509
Hi all, I haven't been able to reproduce this. Could someone send me a standalone or level that shows the issue? My email address is zak@thegamecreators.com

[2022-05-10 13:08] ZakJudges commented on #2837
Hi @casigus , are you still seeing this issue in the latest build?

[2022-05-10 13:19] #3009 closed

[2022-05-10 13:32] LeeBamberTGC commented on #2418
@ZakJudges There are no specific animations for holding a rifle properly, they CLAMP to a position in the hand. This looks like a bug and can be corrected with some weapon tweaks. I am working on a new weapon system so I have assigned this to me.

[2022-05-10 13:42] #2837 closed

[2022-05-10 13:53] ZakJudges opened #3087 "Importer: Batch import functionality"
Add functionality to set import options, select a folder or set of files and import all of them automatically instead of one-by-one

[2022-05-10 15:33] LeeBamberTGC commented on #2500
@ZakJudges Yes anything weapon flavored, assign to me. I am doing weapons now :)

[2022-05-10 19:00] MonkeyFrogStudio opened #3088 "GameGuru MAX - Bug - Importing New Object Resets Shadows"
As the title says, when you import a new object, it resets whatever settings you have for Shadows/lights:

https://user-images.githubusercontent.com/36735507/167702616-e7d7adc5-3673-4b2b-ac1d-b12b040faece.mp4

This is happening as of the latest experimental build as of today.

[2022-05-10 22:22] Necrym59 opened #3089 "GGMAX - Build 2022.05.13 - IfUsed Field Issue"
The IfUsed Field in the Developers Settings tab does not save any entered text.
![ifused](https://user-images.githubusercontent.com/95015657/167731199-c7c36355-72b8-4982-9698-587defa97aa5.png)
This field is used quite often when not using or not able to use the logic connectors on particular object/situations. Also if they are being used by the logic connectors can we get this field auto filled?

[2022-05-10 22:27] Necrym59 commented on #3085
Just an alpha transparency feathering slider setting would be nice even.

[2022-05-10 22:35] Necrym59 opened #3090 "GGMAX - Build 2022.05.13 - Particle Issue"
The option to show at start of level if unticked does not seem to have a way of activating that hidden particle nor an activating command in lua that i can see.
![particle](https://user-images.githubusercontent.com/95015657/167732743-89d968a7-0595-4b38-8a4f-9d0b9268b1eb.png)
.

[2022-05-11 01:39] Kitakazi commented on #2842
sent

[2022-05-11 02:02] OldFlak commented on #2599
Thanks for looking at this team.
While you are at it, can we have option to put it top center of screen as well :)

[2022-05-11 02:09] Ratall commented on #2951
G'Day @ZakJudges
Some are used across multiple meshes.
Is that a problem?

[2022-05-11 02:39] Kitakazi opened #3091 "Choppy Performance"
See video - https://www.youtube.com/watch?v=4E1W7WmVKRA

This is with shadows all turned off.
Running around the level just seems to drop frames suddenly, feels like it freezes for a split second before going back to normal.

[2022-05-11 06:43] Kravenwolf opened #3092 "GGMax - Feature Request - Add flags that connect to establish "invisible walls" to keep the player in the intended map area"
Instead of having to place invisible wall meshes around a map to keep the player from climbing steep terrain and leaving the intended playable map area, add a flag option (like character waypoints) that users can use and connect to quickly establish "map barriers" the player will not be able to cross (essentially acting as invisible walls, but as flag markers so they will be easier to revisit and

[2022-05-11 08:53] ZakJudges commented on #2951
Hi @Ratall, at the moment, the Max importer assumes that each mesh has a unique material and so will have a hard time figuring out materials that should be applied to multiple meshes. We do have a system planned to handle this (see #3064 and #2805 for more info) but no ETA on that yet.
It should also be noted that the importer does not support embedded textures in files, and requires the actual te

[2022-05-11 09:15] ZakJudges commented on #2842
@LeeBamberTGC The model that Kitakazi sent me shows the bug where the orientation of an objects collision shape doesn't match the orientation of the rendered object. Do you remember what the cause of that bug was?

[2022-05-11 09:25] ZakJudges commented on #2645
duplicate of #2830

[2022-05-11 09:25] #2645 closed

[2022-05-11 09:26] #2946 closed

[2022-05-11 09:27] #2788 closed

[2022-05-11 09:29] Jisafu opened #3093 "Swimming"
After the player swim there is an error, the swimming dont stop and it is not possible to go on land, when swimming under water it is OK to go on land

[2022-05-11 09:38] ZakJudges commented on #3093
Hi @Jisafu, this has already been fixed and will be in the next update. I will post here when the update is available to download so you can confirm the fix. Thanks :)

[2022-05-11 09:40] Ratall commented on #2951
Ok @ZakJudges
I'll go thru my modelling software an see which is easiest to script a converter.
Is combining all meshes for a material into one(mesh) or creating individually named materials for each mesh the best approach?
Quick question which versions of FBX is the importer certified on.

 I noticed that assimp.dll is require for the standalone would it not be easier maintenance wise if the impo

[2022-05-11 09:59] synchromesh62 commented on #3093
@ZakJudges
Just to confirm this is not in the experimental build then ?
Updated last night and its still doing this for me ?