[2022-02-18 07:50] #2159 closed

[2022-02-18 07:50] #2147 closed, assigned to plemsoft

[2022-02-18 07:52] #2115 closed

[2022-02-18 09:50] marcuswilm opened #2185 "GameGuru MAX (alpha 2022-02-04 and previous versions) : Bug with the Scale Tool (Object Tools)"
Hello,

This is an old bug that I am reporting again for a better visibility in this new thread.

The Scale Tool doesn't show the correct scale after it was applied on an item.

Here is the link to a short video showing the process to reproduce that bug : [https://vimeo.com/679061663](url)

And here is a commented screen capture showing the result of that bug :

![wrong_scale](https://user-images.

[2022-02-18 09:51] LeeBamberTGC commented on #2156
@casigus Nice video, I look forward to playing with the finished level!  When you have time can you attempt to make a standalone executable out of one level with this Friday's build and send it to me at lee@thegamecreators.com.  Cheers!!

[2022-02-18 09:53] LeeBamberTGC commented on #2181
@rvanner Can you confirm the size of the file is: 153 MB (160,447,483 bytes)

[2022-02-18 09:54] marcuswilm commented on #1579
Hello Zak,

I see that this report is not already closed, that's why I take this opportunity to mention here that I just posted a separated and well documented report about the bug with the Scale Tool. (link to that new report : [https://github.com/TheGameCreators/GameGuruRepo/issues/2185](url) )
:-)

[2022-02-18 09:59] #1579 closed

[2022-02-18 10:02] marcuswilm opened #2186 "GameGuru MAX (alpha 2022-02-04 and many previous versions) : Rendering Materials 'APPARENTLY BEHIND' transparent surfaces"
This is an old bug and I don't think that I already reported it.

Tested with this Character :  Joe Military Ally (but it can also be verified with some other characters).

When that character is placed behind a transparent object then some parts of that Character disappear as shown in this screen capture :

![soldier-behind-a-transparent-item](https://user-images.githubusercontent.com/94678034/15

[2022-02-18 10:24] ZakJudges commented on #2164
@plemsoft Turns out custom characters are fine, and all textures are copied correctly. But for characters that come with Max (entitybank -> Characters), the issue occurs

[2022-02-18 11:15] plemsoft commented on #2179
@synchromesh62 Thanks for reporting this issue, and yes it was a nasty one, it has been fixed and committed, but not sure if @LeeBamberTGC merge anymore for the Friday build ?.

[2022-02-18 11:41] dllllllllllb opened #2187 "Terrain - Terrain sculpting performance"
Sculpting terrain is incredibly laggy; it was smooth in the earlier builds, but now it drops to ~10 fps while sculpting. Changing brush size, sculpting speed, disabling trees and vegetation doesn't affect it.

[2022-02-18 11:44] LeeBamberTGC commented on #2179
@plemsoft I froze commits to last night for the build we are testing this morning. I am however starting the internal build for next week, so it will be in that one :)

[2022-02-18 11:47] dllllllllllb opened #2188 "Trees - Spraying Trees Performance"
Can't really see it in the video, but look how much the FPS dip while spraying trees.
Steps to reproduce: Create a forest level -> clear all trees -> spray trees
Video: https://www.youtube.com/watch?v=l65eLRH65q8

[2022-02-18 11:49] dllllllllllb opened #2189 "UI - Water fog minimum can be only set to either 0 or 100"
"Water fog minimum" in the water advanced settings tab can be only set to either 0 or 100

[2022-02-18 11:52] dllllllllllb opened #2190 "Terrain Flattening - Doesn't adjust for some rotations"
Terrain flattening underneath an object doesn't adjust for some rotations angles
https://gyazo.com/3599b501cdbe7dcb2cad5d02a40a12cc

[2022-02-18 11:54] dllllllllllb opened #2191 "Terrain Flattening - Adding behaviours have a huge performance hit"
Adding a behaviour to an object that has terrain flattened underneath drastically drops the fps. Tested it with collection count, door and rotation behaviours, all with the same effect.
https://www.youtube.com/watch?v=6b2YiJFp520

[2022-02-18 11:56] dllllllllllb opened #2192 "Weapons - Compact assault rifle isn't properly assigned to preferred weapon slot"
Title

[2022-02-18 12:02] dllllllllllb opened #2193 "Trees - White outline with high fog opacity and low light"
How to reproduce: Set time of day to Dusk/Night -> change fog opacity

https://www.youtube.com/watch?v=0siau6lHc0M

[2022-02-18 12:14] plemsoft commented on #2164
@ZakJudges Fixed for the next update :)

[2022-02-18 12:20] OldFlak commented on #1917
This is fixed for terrain painting - but models still get highlighted as you move mouse over side panels as well

[2022-02-18 12:47] rvanner commented on #2181
@LeeBamberTGC The new version is now uploaded to Google Drive, grab it and replace this older version.

[2022-02-18 12:55] rvanner opened #2194 "Storyboard Editor: Add the Terrain Generator to the tutorial list in this section"
In the Storyboard Editor, show both the Storyboard Editor and the Terrain Generator Tutorials in this screen.

![image](https://user-images.githubusercontent.com/1503593/154686490-1c317e8f-54f5-413e-a14b-05a7fb661661.png)

[2022-02-18 12:55] LeeBamberTGC commented on #2181
Will be in Friday build.

[2022-02-18 12:55] #2181 closed

[2022-02-18 13:18] dllllllllllb commented on #2185
@marcuswilm Hi, I can't seem to open the link to your video, it leads to the issues board: https://github.com/TheGameCreators/GameGuruRepo/issues/url

[2022-02-18 13:21] ZakJudges commented on #2180
@UltraVox001 Thanks for reporting this issue. A fix should appear in the build later today :)

[2022-02-18 13:21] #2180 closed

[2022-02-18 13:43] LeeBamberTGC commented on #1616
@dllllllllllb See if you can reproduce this one, and then see if you can locate the code that performs this function. We can then exchange questions to find the cause.

[2022-02-18 13:45] LeeBamberTGC commented on #1981
@dllllllllllb A nice lighting-related one, see if you can reproduce with a small stock asset level.

[2022-02-18 13:47] LeeBamberTGC commented on #2103
@dllllllllllb See if you can reproduce this one, and perhaps a stab at locating the code/sound event. I think my guess was wrong about the sound format, so it may well be the sound is never getting called..

[2022-02-18 13:55] #1969 closed

[2022-02-18 14:49] ArgentArts commented on #2185
Here's his correct link:

https://vimeo.com/679061663

[2022-02-18 15:31] LeeBamberTGC commented on #1866
@dllllllllllb For this one, let's start simple and gather more information as we go along. First ensure that when you select an existing light in the level, and then use the CURRENT OBJECT panel (bottom left) to duplicate the light and drag it into the scene, it shares the SAME properties as the light being copied.

If the user is in the HORIZONTAL POSITIONING MODE for the object, retain the light

[2022-02-18 15:34] LeeBamberTGC commented on #2167
@ZakJudges The changes should be in this weekend's build, so you can confirm then.  Not much detail on this issue report, so providing a random selection of float-based values retain their slid value, this can be regarded as fixed.

[2022-02-18 15:36] LeeBamberTGC commented on #1551
@rvanner We recently discussed this. Can you add the feedback on what we need the water level to do in terms of accurate changes and then we can see if this solves this issue.

[2022-02-18 15:37] LeeBamberTGC commented on #1657
@dllllllllllb This looks fine for me, but the report is old so worth checking to see if you can reproduce it.

[2022-02-18 15:46] #1933 closed

[2022-02-18 15:49] ZakJudges commented on #1858
Hi @OldFlak, are you still experiencing this issue in the latest build?

[2022-02-18 16:03] ZakJudges opened #2195 "Able to highlight objects whilst hovering UI"
In this example, my cursor was hovering where the red x is, but the object was still highlighted.

![Screenshot 2022-02-18 155951](https://user-images.githubusercontent.com/32545391/154717555-c6321951-09a4-44bc-8b32-e26c160a7fe7.png)

[2022-02-18 16:04] ZakJudges commented on #1917
@OldFlak Thank you for confirming. I have created a new issue for the object highlighting - see #2195

[2022-02-18 16:04] #1917 closed

[2022-02-18 16:05] #1775 closed

[2022-02-18 16:06] #1412 closed

[2022-02-18 16:08] #2167 closed

[2022-02-18 16:09] UltraVox001 commented on #2131
@dllllllllllb
The duration of lighting (flash) seems to me consistent with the flash of the barrel. However the lighting on the walls seems a little too important to me. Personally I will lower the intensity by 15%.

Good work :)

[2022-02-18 16:11] rvanner opened #2196 "Rules for painting grass"
@PaulSJ As discussed today we need the grass system to do the following;

* The user should be able to paint any mixture of grasses onto any terrain type
* The Match Terrain tick box makes no difference when painting grass, it always matches the grass no matter what. The same applies to the Match Painted Grass in the paint texture section.

[2022-02-18 16:15] dllllllllllb commented on #2192
Works properly in dev build

[2022-02-18 16:15] #2192 closed

[2022-02-18 16:21] dllllllllllb commented on #1657
Works fine for me as well :]

[2022-02-18 16:21] #1657 closed

[2022-02-18 16:29] rvanner opened #2197 "Check for updates before any screens appear"
As discussed, MAX should check for updates before any screens (intro/hub) appear. The user is then asked if they would like to update.

[2022-02-18 16:33] rvanner opened #2198 "Player should be given their weapon back once a Zombie has attacked the player"
The player should get any weapon they were holding back into their hands after a Zombie bite attack.

[2022-02-18 16:34] rvanner opened #2199 "Cellar Demo"
Add back the weapon and sounds that seem to have gone AWOL.

[2022-02-18 16:38] rvanner opened #2200 "Auto detect low FPS and help the user"
If the frame rate is lower than expected let the user know and suggest they change to a lower setting.

[2022-02-18 16:41] 3coms commented on #1933
Not so clear how to work this one, imagine a scenario, a multi_object mesh with several textures; each texture follows a name convention done in the 3ds soft, in order to make GGMax the life easier; but you get on GGMax material settings names such as "Noname material" so, if your meshes have 30 pieces, so, you have 30 _nonames_ in the material list, so, then, how to?
How do you know who is who?

[2022-02-18 16:46] rvanner commented on #1551
@LeeBamberTGC The suggestion from @PaulSJ was to change the water slider to use a floating point value for finer control.

[2022-02-18 16:54] ZakJudges commented on #1933
@3coms Ah I understand now. I can take a look at this when I get round the importer bugs - here's an issue describing the problem. https://github.com/TheGameCreators/GameGuruRepo/issues/1096
Is this what you mean? :)

[2022-02-18 16:55] LeeBamberTGC commented on #2198
@dllllllllllb Weapons related :)  Let me know if you have any questions.

[2022-02-18 16:55] LeeBamberTGC commented on #2199
@rvanner Missing BUG tag!

[2022-02-18 16:55] rvanner commented on #2131
Looks good @dllllllllllb !

I think I agree with @UltraVox001 it's maybe a bit too bright and just needs to be a bit more subtle.

[2022-02-18 16:57] LeeBamberTGC commented on #1551
@dllllllllllb Slider gadget tweak, the goal is the user should be able to finely control the water height on a shoreline that slopes very gently from land to water.

[2022-02-18 17:10] LeeBamberTGC commented on #2131
@dllllllllllb Nice!!

[2022-02-18 17:14] PaulSJ opened #2201 "Flat areas can move in test game"
If an object that has a flat area is set as a dynamic object then when it moves it also moves its flat area causing performance issues.

[2022-02-18 17:15] 3coms commented on #1933
@ZakJudges
Exactly!
Thanks for taking a look. :)

[2022-02-18 17:39] 3coms commented on #1933
@ZakJudges
Sorry guy, but I have some doubts about how the "Edit all Mesh Materials" feature work.
Let's say I have 20 boxes (box1, box2...box20) and all the sharing material (for some reason I don't have them merged into one mesh); how I choose there the 20 boxes to assign the material to those, and not to other mesh?
Well, I guess I select 1 box and GGMax automatically assigns the material to th

[2022-02-18 17:43] 3coms commented on #1096
It would be nice as well, that GGMax select all the meshes sharing the same material (if any)

[2022-02-18 18:17] casigus commented on #2156
yah ill give it another try.

[2022-02-18 20:20] redagent101 commented on #1746
issue still there I'm afraid.
![Untitled](https://user-images.githubusercontent.com/15969299/154755696-5210fe4c-a1bc-40f2-a4a1-a8e226066caa.png)

[2022-02-18 23:21] dennimoto opened #2202 "GGMAX Menu Flicker"
The menu flickers when mouse hovering.
[https://youtu.be/qBxbmEzEpfw](https://youtu.be/qBxbmEzEpfw)

[2022-02-18 23:36] dennimoto opened #2203 "GGMAX (Escape Switch Demo) Light flicker based on player (camera) position"
In the Escape Switch Demo level, lighting has a strange behavior that seems based on the camera position.
The light can stay off, stay flickering, or stay on, depending on the direction the camera is facing.
Not sure if intentional, vid link for example.
[https://youtu.be/ARGoG6w66W4](https://youtu.be/ARGoG6w66W4)

[2022-02-18 23:40] ArgentArts commented on #2097
Just tested with the latest build and things actually look worse. I am getting a consistent 50fps with ALL weapons now. At least some weapons were 60+ fps and one was in the 90s. With no weapons, I still get a consistent 100fps with my test level and 12 shadow casting point lights. Here are two example screen shots:

No Weapon:
![no_weapon](https://user-images.githubusercontent.com/36735507/154775

[2022-02-19 04:39] Kitakazi opened #2204 "Shadows Flickering"
Shadows Flickering like crazy in newest update. Possibly related to #2203

https://www.youtube.com/watch?v=J_6GyGt2y-U

[2022-02-19 04:57] Kitakazi commented on #2097
Same issue here. Frames drop by about 10 when equipping weapons and frames tank when firing weapons.

[2022-02-19 06:17] ArgentArts commented on #2203
The flickering is horrible in this demo. And it's in various places, too.

[2022-02-19 06:45] ArgentArts commented on #2203
Strangely enough, the extreme flickering seems to be happening due to the flickering light placed over the light over the second door (the one just after the steam puzzle/switch. If you delete that, the flickering stops in the level, though I get another strange error ... the first room stays bright for a bit, then goes dark after I enter the second room.

[2022-02-19 09:04] UltraVox001 opened #2205 "GG Max inconsistent Nav Mesh"
Nav mesh fault.
FYI, no Character (ally, enemy, zombie), no animal, no Flag on this test map.
The Nav Mesh is calculated for whom, or what ?
![NavMesh01](https://user-images.githubusercontent.com/96718175/154794370-dc450d71-fe79-4ebd-81aa-68868c275252.jpg)
Max update this morning around 9am.

[2022-02-19 09:55] redagent101 commented on #1746
[install_errors - Copy.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8101883/install_errors.-.Copy.txt)

[2022-02-19 10:22] redagent101 commented on #1746
all seems ok now post files verification.
![GGMAX_post_verify_files](https://user-images.githubusercontent.com/15969299/154796937-87219679-ded7-46bf-b10c-0c72efac01a9.png)

[2022-02-19 10:42] rvanner commented on #2205
Don't worry about the navmesh, we are looking to add a much quicker solution.

[2022-02-19 10:46] UltraVox001 opened #2206 "GG Max Bug Report - The Terrain Editor has multiple problems"
Using "Pick a Height" followed by "Paint With Chosen Height" causes all objects above to stick to the ground.
Objects in the left rectangle were located as in the right one. The problem is the same with Ramp Mode.
![Terrain Editor](https://user-images.githubusercontent.com/96718175/154797601-e56bed15-f66c-41cb-a89c-69ef91b06306.png)

[2022-02-19 11:07] UltraVox001 opened #2207 "GG Max - Auto Flatten Terrain Under Large Objects : Non-storable option"
Once this box is unchecked in the Settings, it must be unchecked each time you reopen Max.
However, the other boxes in "Advanced" and "Developer" are memorized.

I wish this one was too. :)
![autoflatten](https://user-images.githubusercontent.com/96718175/154798358-15e86f85-5da4-4afc-9d8b-12b5473ffa4c.png)

[2022-02-19 12:24] UltraVox001 opened #2208 "GG Max Bug Report - All biomes are broken in Terrain Builder"
Here is a screen of each biome that Max offers me by default. I didn't touch anything.
I restarted Max. Same problem.
Rainforest :
![RF](https://user-images.githubusercontent.com/96718175/154800486-0718d8f3-d935-4923-83d0-ccdcb7c4705f.jpg)
Mountain :
![Mountain](https://user-images.githubusercontent.com/96718175/154800505-334c105d-131b-4c92-b78d-bbe85a71c655.jpg)
Canyion :
![canyon](https://user-i

[2022-02-19 12:39] Tum1370 opened #2209 "GG Max - Demo Games"
When you play or edit a Demo game, the Game the gets copied and appears in your Projectbank, and appears as one of My Games.

[2022-02-19 13:19] plemsoft commented on #2206
@UltraVox001 Try this , look at your map from top down , select all object and pick "Lock Objects" , this will make sure they don't move when you sculpt the terrain.

[2022-02-19 13:19] LeeBamberTGC commented on #2208
New internal build includes necessary files as of 15 minutes from this message :)

[2022-02-19 13:21] plemsoft commented on #2204
@Kitakazi Yes you need a few more casters , in shadow setup , select the number of casters for point and spot light, just increase them a bit :)

[2022-02-19 13:49] UltraVox001 commented on #2206
@plemsoft
Don't ask me to do this. :) The slightest multiple selection using Shift+LMB, followed by a click on "Positioning, Rotating and Scaling", crashes Max.

The problem with your method is that it solves almost nothing. This issue with terrain encompasses objects that are not inside the terrain editing area. All objects that are in the immediate vicinity of the modification area are placed on

[2022-02-19 13:53] plemsoft commented on #1313
@OldFlak This looks like a fog issue (fog opacity = 0), try playing with fog and try fog opacity , does it remove this effect ?

[2022-02-19 14:02] UltraVox001 commented on #2208
It's ok now. Thank you. :)

[2022-02-19 14:02] #2208 closed

[2022-02-19 14:03] OldFlak commented on #1313
@plemsoft Hi Preben. Yes it is definitely related to fog it is same issue as exterior issue with skyboxes.
https://youtu.be/LK7XR8966bo

[2022-02-19 14:13] synchromesh62 opened #2210 "Player Probe \ Flashlight conflict"
Getting a weird Glare since the new player probe was introduced which occurs totally randomly that i could not stop so i asked **Preben** to look at the video and if he had any ideas. I think he nailed it as it all makes sense.
These were his thoughts.

**This looks like the player probe is also caching light from the flashlight, could you create a issue with that video and mention flashlight shou

[2022-02-19 14:21] OldFlak commented on #1313
@plemsoft - Preben here is another vid using inside level.

As you can see fog affects the skybox in various ways - you can get rid of the issue but in doing so you can't use fog effectively for atmosphere if you want to stop skybox rendering over the scene.

 It effectively makes skyboxes useless..

https://youtu.be/ElUcJ4okKps

[2022-02-19 15:31] plemsoft commented on #1313
@OldFlak Could you try these shaders and let me know if it fix your issue, thanks  "remember to backup your old shaders" :)

[shaders.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8102481/shaders.zip)

[2022-02-19 17:01] ZakJudges commented on #1933
@3coms At the moment, in your scenario, there is no way to apply a texture to some of the meshes but not all of them in one go. You can only select one mesh or all of them. I agree its not the best way of doing things, so if you have any suggestions, just make an issue and label it as an enhancement, then we can take a look after Early Access :)

The importer should try to assign the textures auto

[2022-02-19 17:39] 3coms commented on #1933
I agree there is no way now to assign the same material to all meshes sharing it at a time, wait for better times. :)
I also agree that GGMax should assign all textures automatically, and then there is no need to do anything else. :)
After all the X file already stores all the material paths and names, who shared what, and who use that material or this other.
So those meshes sharing the material *

[2022-02-19 19:07] Kitakazi commented on #2204
Ah ok, that did indeed fix it. Thanks

[2022-02-19 19:07] #2204 closed

[2022-02-19 20:58] UltraVox001 opened #2211 "GG Max Bug Report - 7 (not 10) lights connected to a Switch"
I had already posted something about this problem and thought it was solved.
I can connect 7 objects (6 lights + 1 door) to a Switch, but nothing else.
The limit is supposed to be 10.
Watch the video : [https://www.youtube.com/watch?v=jRk3UCwPybA](https://www.youtube.com/watch?v=jRk3UCwPybA)
Sorry for the lag, but when I stream I lose a lot of FPS.
I think that a test carried out on an empty map i

[2022-02-19 21:35] Kitakazi opened #2212 "Player will fall through the terrain when creating a new Empty Level"
Create a new level and select "empty" start a test game and you will fall through the terrain everytime.

[2022-02-19 21:44] Kitakazi opened #2213 "All Biomes are missing terrain textures"
![image](https://user-images.githubusercontent.com/51464873/154820127-5d9ececc-a3cc-4c65-b2ef-1d8e8ef6ff30.png)

Create a new level, all biomes are missing the terrain textures.

[2022-02-19 21:51] synchromesh62 commented on #2213
That was the internal yesterday .. its been updated ?
when did you update

[2022-02-19 22:13] synchromesh62 commented on #2211
Just tried it and got 10 lights.
I will try a few combinations

![T1](https://user-images.githubusercontent.com/35708217/154820809-ddd4f392-29d5-48e4-a71f-216a46a6b51e.png)

![T2](https://user-images.githubusercontent.com/35708217/154820811-db47e6b8-930c-45ef-bfcf-ad187b014cef.png)

[2022-02-19 23:22] ArgentArts commented on #2213
Not here. I have all my terrain textures:
![ttextures](https://user-images.githubusercontent.com/36735507/154822367-5900982e-fe0c-4ea0-82fc-fc2bf3384ef1.png)

[2022-02-19 23:25] ArgentArts commented on #2212
Not for me. I can create an empty and walk/run on it just fine.
![empty](https://user-images.githubusercontent.com/36735507/154822444-22a4cfb4-5d55-44dc-b5f6-c7924541800a.png)

[2022-02-20 00:25] OldFlak commented on #1313
@plemsoft Hi Preben, thanks :)
The zip only had CSO files, so I just replaced existing ones - is that correct?

Here be couple videos - one interior and one exterior to show results

**Interior**
https://youtu.be/jpIECC3enAM

**Exterior**
https://youtu.be/DAcC_mCUebo

[2022-02-20 00:41] synchromesh62 commented on #2212
Kitakazi is on an internal build.
@Kitakazi  Terrain physics is currently being worked on so i would not worry about it for the moment.

[2022-02-20 00:51] ArgentArts opened #2214 "GameGuru MAX - Request - Ability to Delete My Games from UI"
Right now, there's no way to delete any games we create within the UI of GameGuru MAX itself. We have to navigate to where they are stored on our hard drives and delete everything there. I would like a simple way to delete a game from within the MAX UI like this:

![delete](https://user-images.githubusercontent.com/36735507/154824144-83032239-d255-4c1d-90cc-e3b081faa5fc.png)

Some times we are jus

[2022-02-20 01:33] UltraVox001 commented on #2211
I understand where the bug comes from.

If you're using a Switch that you copy-pasted from another Switch, you'll get this bug. And my switch had been copied and pasted from another. With a new switch, everything is fine. I can connect 10 sources.

There is therefore a bug, since Max does not consider the switches obtained by a copy/paste in the same way, compared to those obtained via the Add Lig

[2022-02-20 02:18] UltraVox001 commented on #2200
Good idea, but a checkbox in the Settings, please.
I don't need Max bugging me with a message every time there's an FPS drop. :)

[2022-02-20 02:23] OldFlak opened #2215 "MAX - 2022.02.225 - Smart Placement - Off Switch Please"
I know it has had a ton of work - but for the most part it is just not useful for easy level building.
In this video all I want to do is place a light above the globe, and from there I will sort it out.
https://youtu.be/-e7BIKIwaCI

If smart placement was not in the way it would be simple as - the light would simply snap into position, and all I would have to do is fiddle with the height to get it

[2022-02-20 03:08] ArgentArts commented on #2215
I do like it for quickly stacking crates. But that's about it. Most of the time I just want it off, too. So, a quick toggle (on/off) on the UI (not hidden away somewhere) would be awesome.

[2022-02-20 04:27] OldFlak opened #2216 "MAX - Suggestion - Update Option On Welcome Screen"
Can we perhaps have a check for updates button on the welcome screen?
- would be much easier that having to select and open a project before we can check for updates

![image](https://user-images.githubusercontent.com/12246318/154828346-f6e2100c-92b0-49a3-98c4-289556502e29.png)

[2022-02-20 04:34] OldFlak commented on #1858
@ZakJudges Hi Zac tested this issue
I think the issue is that there are duplicate settings named differently for the same function.

I am guessing the cullmode setting is redundant now in leu of DoublSided?
![Importer FPE](https://user-images.githubusercontent.com/12246318/154828511-4f058156-8515-4164-baf2-21c42e69fbd7.png)

In any case the issue of this post is no longer a problem - so safe to cl

[2022-02-20 05:19] ArgentArts commented on #2216
Rick suggested something similar here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2197

[2022-02-20 05:58] Necrym59 opened #2217 "GGMAX - Grass problem."
The Grass Density setting is doing nothing??
The Grass Distance setting is also changing the Grass density??

Also Grass at the map edges should extend beyond the map edge at least the distance of the Grass distance setting for map realism instead its cut off like with a knife as shown.
![mapedge](https://user-images.githubusercontent.com/95015657/154830583-5c1571da-c5ce-44e5-b884-d00e4701957f.jpg

[2022-02-20 06:18] ArgentArts commented on #2217
You're right, Grass Density is currently not changing anything and it should be.

Having said that, changing the Grass Distance setting changes the Grass Density, making it less dense the more distance you make it. This is the current trade-off. You want to the grass to be seen further in the distance? Then you get a less dense grass. That's been explained a few times in the live broadcasts, etc.

[2022-02-20 06:25] OldFlak commented on #1866
Can we just have an Off switch for smart mode
- both lights and normal objects are made frustratingly difficult because of it

See #2215

[2022-02-20 06:42] Necrym59 commented on #2217
yes i understand the distribution that trade off a bit but at present its not working correctly but thats development for ya. As for the map edges if they implement somthing similar what i have mentioned here https://github.com/TheGameCreators/GameGuruRepo/issues/2093
then reaching a map edge could load then next sectional map, (excellent for rpg games etc.) in which case just extendg the ground v

[2022-02-20 06:47] plemsoft commented on #2213
@ArgentArts Your missing the biomes setup files , just verify and they will download :)

[2022-02-20 07:40] plemsoft commented on #1313
@OldFlak Yes thats correct just replace :) , ahh i see - try these shaders and let me know if its ok :
[shaders-2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8103585/shaders-2.zip)
)

[2022-02-20 08:19] Jackdanielsvs68 commented on #1551
I'm so sorry, but I'm working on a bigger, more branched project with the gg classic lately. At max, I watch weekly videos, download updates, and just check out what's new. My saved tracks where the problem occurred were deleted due to a system installation. I’m looking forward to early access, and I’ll deal with it in more detail. Thank you for your interest.

[2022-02-20 09:12] Jackdanielsvs68 commented on #1551
I created a new track, it seems to work, I can change it every meter, and it seems to be happening. Although when I create the map, the water level is negative in the settings, it is already 70 meters when editing the level.
![Képernyőfelvétel (4)](https://user-images.githubusercontent.com/94233170/154835896-3d2fb843-acff-4f14-be47-78c55c2eaf9f.png)
![Képernyőfelvétel (5)](https://user-images.gith

[2022-02-20 10:16] OldFlak commented on #1313
@plemsoft Getting there Preben

Those shaders work great for exterior levels - I can finally see distant mountains :)
https://youtu.be/FiKzncpDqyE

Still an issue with interior levels though

This level has skylights and windows to the outside world - this is one of the storerooms with not outside views
![Skybox Interference](https://user-images.githubusercontent.com/12246318/154837810-072ebd22-03

[2022-02-20 10:24] Tum1370 opened #2218 "GG Max -Can walk through a warehouse door after its been raised then lowered."
As the title explains, after raising then lowering a warehouse door, you and mobs can walk straight through the door.

[2022-02-20 10:29] Tum1370 opened #2219 "GG Max - Particles not resetting when test level for second time"
On the Demo Level Switch Escape, i was testing the visual logic for the Zone to Object, And Object to Object logic that you use for the Button and Steam out of the pipes.
I changed all of the logics to toggle other object / toggle object.
I was hoping this was going to enable pressing the button to redirect the steam, and remove the hurt zone, like it is suppose to, But it was not always working l

[2022-02-20 13:54] ArgentArts commented on #2213
@plemsoft As stated, I am NOT missing them. I have ALL my terrain textures. :)

[2022-02-20 15:23] nomad5oul commented on #2131
OMG this looks perfect. Amazing work guys
This effect is going to help give Max AAA visuals. Its just as good as I hoped.

[2022-02-20 18:14] Kitakazi commented on #2213
Ye I just verified and it is fixed.

[2022-02-20 18:14] #2213 closed

[2022-02-20 18:14] Kitakazi commented on #2212
K I will close this for now then

[2022-02-20 18:14] #2212 closed

[2022-02-20 18:29] fearlesswee commented on #2200
I agree with UltraVox001, this should be completely optional, because I definitely recall this being a sore point in GGC where people felt it was annoying and out of place in standalone games built with GGC.

[2022-02-20 22:23] Skevos-Mavros commented on #2137
I can confirm that this problem has been **_FIXED_** (ie, tooltips are now always within the editor window, thus avoiding the crash).

Thanks!

BTW, in this situation (where a bug I submitted has been fixed), should I just "Comment" that it has been fixed (as I'm doing now), or should I "Close with comment"?  I'm not sure of the correct procedure/etiquette here.

[2022-02-20 22:33] Skevos-Mavros commented on #2129
I can confirm that this problem has been **_FIXED_**.

I have another (much more minor) issue with the Add Object browser, but I'll stick that in a separate issue.

Thanks!

[2022-02-20 22:40] Skevos-Mavros opened #2220 "Fringing on backlit trees against simulated clouds"
For several versions I've been noticing a distracting fringing around the edges of trees, especially when backlit against a simulated sky.  It's most obvious when the leaves are against clouds that are significantly different in colour from the sky behind those clouds, but it is there more subtly all the time - it's as if the edges of the leaves are being blended with the colour of the sky, regard

[2022-02-20 22:43] Skevos-Mavros opened #2221 "Sun Rays still not QUITE lined up with the sun"
A while back (https://github.com/TheGameCreators/GameGuruRepo/issues/1865) it was reported that sun rays weren't originating from the sun disk, and the issue was reported as fixed, but on my system the issue was greatly improved but it's still not quite right.  See attached image.

Thanks!

![GGM Sun Rays 2022-02-21a](https://user-images.githubusercontent.com/56815299/154867687-edf47973-1719-41f1-

[2022-02-20 22:51] Skevos-Mavros opened #2222 "Add Object Browser Restore Button Hidden"
When I maximise the Add Object Browser, the restore button (to demaximise the window) is hidden behind the FPS and Memory data.  The button is there and it works, but I have to blindly click to find it.

Also, is it possible for this window to have the standard alternate method of maximising and demaximising - double-clicking its title bar?  That would be intuitive and make the hidden demaximise b

[2022-02-20 22:54] Skevos-Mavros commented on #2105
Just leaving a note here that this bug is still present in Build 2022.02.18

![GGM Water Rending D 2022-02-18](https://user-images.githubusercontent.com/56815299/154868016-d98348a8-bacb-45f4-8e62-e09370ff2a47.jpg)
![GGM Water Rending C 2022-02-18](https://user-images.githubusercontent.com/56815299/154868018-14ffc8c5-8c53-4501-aa3c-4677bf38fc09.jpg)

[2022-02-20 23:22] Skevos-Mavros opened #2223 "Bug (Feature Request?) - Prevent GGM Pausing in the background while loading interface or levels"
Is it necessary for GGM to pause both while it initially loads up and while it loads levels if another window has focus?

I understand that, when testing a level or playing in stand-alone mode, it probably makes sense for the GGM engine to pause when another program's window is in front of it.  Perhaps it even makes sense for GGM's main interface to pause when another program's window is brought t

[2022-02-20 23:27] Skevos-Mavros commented on #2195
It's also possible to paint terrain and spray trees from there too.  :-/

[2022-02-21 01:33] Necrym59 commented on #1872
Attached is V16 of the Ladder Script
- Now includes ladder climbing speed.
This should be the final release for all intents and puposes and should update the current one in GGMAX.
[ladder_v16.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8105492/ladder_v16.zip)

[2022-02-21 01:47] Necrym59 commented on #1970
Attached is V6 of the climber script and markers
- Now includes climbing speed option.
This should be the final release for all intents and puposes.
[climber_v6..zip](https://github.com/TheGameCreators/GameGuruRepo/files/8105559/climber_v6.zip)

[2022-02-21 05:52] UltraVox001 commented on #1970
Tested and approved. :)

[2022-02-21 05:53] UltraVox001 commented on #1872
Tested and approved. :)

[2022-02-21 07:28] rvanner commented on #1970
@LeeBamberTGC Please grab the latest version and add it to the build.
Thanks @Necrym59 and @UltraVox001

[2022-02-21 07:30] plemsoft commented on #2137
@Skevos-Mavros Thanks for getting back, and yes just close the issues when you have seen that they work :)

[2022-02-21 07:30] #2137 closed

[2022-02-21 07:30] #2129 closed

[2022-02-21 07:53] plemsoft commented on #1313
@OldFlak Thanks for getting back, i will commit what we have now , what you still see is the fact that skybox change ambience , that can be changed after you select a new skybox, so think they are ready, thanks for your help :)

[2022-02-21 07:55] plemsoft commented on #1852
@OldFlak Fixed in another issue :)

[2022-02-21 09:05] plemsoft commented on #2143
@OldFlak Thanks for reporting this issue, this has been fixed and now have a checkbox on/off , ready from the next build :)

[2022-02-21 09:12] ZakJudges commented on #2195
Hi @Skevos-Mavros, the issue of being able to paint terrain and trees should have been fixed in the latest build. Could you confirm if you still experience it after updating? :)

[2022-02-21 09:28] dllllllllllb commented on #2220
Probably related to #2193

[2022-02-21 09:55] plemsoft commented on #2197
@LeeBamberTGC @rvanner The check "GameGuru MAX Update Check" takes around 7 seconds here , i would hate to slow down load times , could it be a button on the hub instead or somehow part of the hub ?
(currently this is running just after we display the hub, moving the check before would make it count as load time).

[2022-02-21 11:50] ZakJudges commented on #1858
@OldFlak Thank you for checking :)
cullmode = 0 (no culling so both sides of each face are drawn) is equivalent to doublesided = 1

I believe cullmode represents the object as a whole, whilst doublesided represents the object on a per-mesh basis. You are correct that cullmode seems redundant now, but I didn't remove it just in case there is some code that depends on it :)
Instead I changed it so t

[2022-02-21 12:36] LeeBamberTGC commented on #1970
@rvanner Added to next internal build.

[2022-02-21 12:58] LeeBamberTGC commented on #2197
@plemsoft I agree we do not want to add to our launch time. Any way we can run this update check in the background, and throw up the prompt as soon as the result comes back, no matter where the user is in the launch procedure?

[2022-02-21 13:07] LeeBamberTGC commented on #2219
The logic has been designed as you describe. I am keeping the BUG tag as the particle issue is a confirmed bug to be fixed.

[2022-02-21 13:23] OldFlak commented on #1858
@ZakJudges GG has always been the opposite - cullmode = 1 means draw both sides. So a little confusing.

But happy for you to close :)

[2022-02-21 14:05] #2142 closed

[2022-02-21 14:07] LeeBamberTGC commented on #2203
Shadow casting of point lights was default set to 8, and the switch level needed more so I have set the default to 16 to avoid this and other issues levels might have.

[2022-02-21 14:09] LeeBamberTGC commented on #1761
@rvanner You had a similar report on this, but I still need to be able to reproduce it.  Can you create steps from scratch which shows how to assembled that wall and then made a group to rotate, it is the sequence that will reveal the bug and of course, the fix.

[2022-02-21 14:10] LeeBamberTGC commented on #2119
@rvanner This issue now duplicated, so closing this one and new one picks up where this left off as the new one is newer: https://github.com/TheGameCreators/GameGuruRepo/issues/1761

[2022-02-21 14:10] #2119 closed

[2022-02-21 14:20] LeeBamberTGC commented on #1660
Mammals and Fish now connect to the correct behaviors :) Only bords remain.  This one can be declared fixed.

[2022-02-21 15:03] dllllllllllb commented on #1592
@LeeBamberTGC The code for stopping animation is already there with a comment to trigger Wicked to update the frame. I tried using SetUpdateOnce(), WickedCall_PlayObject(), WickedCall_UpdateObject(), wiScene::getScene().Update() and none of these worked. I also tried calling them in various orders and combination but nothing worked again. Since selecting the object seems to reset it properly, I tr

[2022-02-21 15:09] plemsoft commented on #2197
@LeeBamberTGC Just committed now :)

[2022-02-21 15:10] plemsoft commented on #2209
@Tum1370 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-21 15:25] LeeBamberTGC commented on #1592
@dllllllllllb Maybe try putting a breakpoint on the animation frame value, as it might be being set back to the last frame from the game session after the object has reset or trace through the rendering code in Wicked so you can see exactly which actual animation frame the renderer is rendering when back in the editor. Maybe give it the rest of the day, and if no joy, assign it back to me and I wi

[2022-02-21 15:41] LeeBamberTGC opened #2224 "Add Basic Asset Store Download and Search Support"
New Asset Store Server API doc received, allowing Asset Store items to be downloaded correctly, and a new search facility to find objects from the server that match search criteria for listing within the Object Library, and when clicked will go to the asset store.

[2022-02-21 15:42] LeeBamberTGC commented on #2090
Fixed for next internal build.

[2022-02-21 16:02] LeeBamberTGC commented on #1958
@dllllllllllb The root of this is that static objects should not have behaviors, and specifically the convex hull and hull decomp collision shapes do not work properly with dynamic objects. The solution was to remove the option to edit behaviors when the object is static.

[2022-02-21 16:09] LeeBamberTGC commented on #1465
@Retrogamebloke Could you confirm your import model issue still exists, and if so, post a new issue with new shots and perhaps email me the model in question. I will assign to Zak as part of the model importer fixes.

@ivanski1983 Could you email me your custom bridge to lee@thegamecreators.com so I can reproduce the issue. Unless you know of a built-in asset that shows the same issue.

[2022-02-21 16:20] ZakJudges commented on #1851
@OldFlak Many thanks for reporting these issues :)

I've added some fixes which see the camera and light issues fixed. As for the water problem, I could not reproduce in the latest build, do you now see the same?

[2022-02-21 16:29] dllllllllllb commented on #1630
@LeeBamberTGC Light remembers the shadow an entity casts and only updates that shadow when that specific entity is within the light zone. We need to either have a wicked function that resets shadow data from the light when it gets hidden or have the light be on at all times, but change the colour from white to black. I couldn't figure out how to reset that data but successfully implemented the 2nd

[2022-02-21 17:02] LeeBamberTGC commented on #2046
Fixed for next internal build, and the fix will also allow all isimmobile physics objects to move correctly (the orientation of objects was not preserved) in the ODESetBodyPosition function.

[2022-02-21 17:08] UltraVox001 commented on #2218
Problem already reported [here](https://github.com/TheGameCreators/GameGuruRepo/issues/2046) (and fixed for the next build).

[2022-02-21 17:52] UltraVox001 opened #2225 "GG Max Bug Report - SkyBox settings are not remembered"
Two screens. The first visualizes what I save.
![saved](https://user-images.githubusercontent.com/96718175/155005723-dabaf0dd-a2ab-44ef-9210-f860ab30040a.jpg)
The second what Max gives me when the map is reopened (after saving).
![loaded](https://user-images.githubusercontent.com/96718175/155005738-89a123c8-3d0b-4830-a313-e230e7be799d.jpg)
I hope it can help.

[2022-02-21 18:07] LeeBamberTGC commented on #1879
Made a simplification to keep this script working. Needs a proper investigation by the original author, seems that there is a feedback loop happening on the position values causing the final object position to spin off in an erratic fashion. May be caused by newer terrain height values, or incorrect ray casting of terrain (if any), or pos.rot values not being updated by physics system.

[2022-02-21 18:10] LeeBamberTGC commented on #1630
@dllllllllllb As this is only the flash light and not always used by the player, we can go with option 2 if that solves this issue. Please commit and post here, and I will test it out. If you can give me a short version of the step by step I should follow to see the issue, then apply the fix, then test again to confirm the fix, I can close this.

[2022-02-21 19:10] UltraVox001 commented on #2046
@LeeBamberTGC
I just tried with the latest build at 7:25 p.m. (French time).
The door collision is permanent. The door movement is correct, but the collision is unchanged.
Do you have to do anything special ? I tried various combinations, without success.
![door-collision](https://user-images.githubusercontent.com/96718175/155014177-bee4dc7c-fec3-4de6-b826-78e67e1633b9.jpg)

[2022-02-21 19:32] AmenMoses commented on #1879
Original script works perfectly in Classic and as I can't actually see what has changed in MAX there is no way I can investigate!

Putting the proper script in MAX and trying it then just placing an object on the terrain causes it to sink through the terrain when the script is doing nothing.

Placing pickuppables on a 'floor' and they behave better, i.e. they can be picked up, manipulated and drop

[2022-02-21 20:38] LeeBamberTGC commented on #2046
Try loading the Switch Escape level and changing the logic for the first switch to toggle and then see if you can close the door and have the door stop the player walking through.

[2022-02-21 21:07] MonkeyFrogStudio opened #2226 "GameGuru MAX - Suggestion - Point Light Probe Scale Set to Zero Automatically?"
Question - Why do Point Lights come in with a Light Probe set to anything other than zero? Shouldn't light probes be used sparingly? Realistically, don't we really only need one light probe per room or area? If so, why does every single point light have a default setting of a light probe scale of 19.84?

I would suggest that each point light have a light probe scale setting of ZERO and let each de

[2022-02-21 21:53] UltraVox001 commented on #2046
@LeeBamberTGC
It works on your level, but not on mine. I have exactly the same settings as you. But it does not work. Here is my test map.
[Plaines.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8112251/Plaines.zip)
I don't understand what's wrong. All this is very simple.

[2022-02-21 22:15] Skevos-Mavros commented on #2195
Oops!  Yes, this seems to be fixed in the current version.  My bad!  Thanks!

[2022-02-21 22:34] Skevos-Mavros commented on #2106
I have this issue too, reported here: https://github.com/TheGameCreators/GameGuruRepo/issues/2133

On my system looking up or down while walking makes the problem go away (you too?), which makes me think the slowdown is caused by rendering large amounts of distant terrain?  But the issue is only present when moving in testing and stand-alone, I can zoom around the level editor just fine.

[2022-02-21 22:56] Skevos-Mavros opened #2227 "Unexpected Behaviour from "Grass Draw Distance" slider at low values."
On the current version (2022.02.18) the "Grass Draw Distance" slider gives odd results at low values (see video).

https://youtu.be/9420Q67O-90

As I slide the slider to the left, results are as expected at first - grass appears denser as the draw distance gets closer.  But at low values the grass becomes segmented into squares that "pop" in and out of vision as I move towards and away from the su

[2022-02-21 23:22] OldFlak commented on #2143
@plemsoft Hi Preben thanks for looking at this. Just tried in todays build but still not working.
If you enable shadows on the object - it gets disabled again when you run test-game.

[2022-02-22 02:14] ArgentArts commented on #970
Late to the game here. And correct me if I am wrong, but what I am used to is emission working this way:

If the emissive texture is black and white, then black is non-emissive and white is emissive and when you set an emissive color, then the white areas will be colored by the emissive color you select (i.e. you can color the white areas via the emissive color slider).

If the emissive texture is

[2022-02-22 03:22] casigus opened #2228 "export issues."
Export report.

Trigger zones moving/not working at all.
(the most annoying EXAMPLE is the exit marker moving meaning you can’t complete a level)

Animations do not work with custom assets, IE if some one is dancing. Just stood frozen.

Zombiiii attack caused the entire game to freeze, the level kept running and the zombie dies, was stood their frozen. Had to do a restart.

Weapons do not transfer

[2022-02-22 05:27] MonkeyFrogStudio opened #2229 "GameGuru MAX - Problems with PBR?"
I think there are problems with the way PBR materials are being rendered in MAX. As one person pointed out, metals appear to be rendering fine, but everything else is flat. Personally, I am finding it difficult to get other types of materials to look correct. And that's sort of the point of PBR - that they look right under all lighting conditions.

I created a sample test of some leather from some

[2022-02-22 08:15] plemsoft commented on #2143
@OldFlak Yes sorry there was some other issues with transparent shadows that was fixed this morning , so you have to wait until next update to test :)

[2022-02-22 08:23] plemsoft commented on #2225
@UltraVox001 Thanks for reporting this issue , strange i was not able to reproduce this, it looks like it works fine here, did you do something special ?

[2022-02-22 08:36] UltraVox001 commented on #2225
@plemsoft
I only changed the initial settings of a skybox, but when I reopen Max it comes back with initial settings.

What I do :
1/ I chose a skybox, for example "sunset" (I tested with it too and the problem occurs).

2/ Lightning color and Ambient color set to #000000, using the color slider, placing it at the bottom left of the color window.

3/ Sun intensity set to 0.

4/ Save the map.

5/ C

[2022-02-22 08:51] UltraVox001 commented on #2225
@plemsoft
See for yourself. :)
[https://www.youtube.com/watch?v=-yIKQBiFnAM](https://www.youtube.com/watch?v=-yIKQBiFnAM)

[2022-02-22 09:39] dllllllllllb commented on #1630
@LeeBamberTGC Wanted to make sure my changes worked, however I noticed that the flashlight doesn't cast shadows at all now. I reverted my changes and I still get no shadows. Here are the steps to reproduce the original issue:

- Make an empty level (no trees, vegetation etc. I tested mine with morning skybox)
- Add a character
- Shine the flashlight on the character
- Turn off the flash
- Turn aro

[2022-02-22 09:52] dllllllllllb commented on #1630
@LeeBamberTGC I did a "dirty" fix for this issue, if it works well I can clean things up :]

[2022-02-22 09:52] plemsoft commented on #1911
@UltraVox001 Thanks for reporting this issue , this looks like a fog problem we fixed the other day, could you try this in the latest version and let me know if it has been fixed , Thanks for your help :)

[2022-02-22 09:53] plemsoft commented on #2225
@UltraVox001 Thanks , found it and fixed it , should be in next update :)

[2022-02-22 09:54] ZakJudges commented on #2128
Hi @ArgentArts, I've added a fix for this which you should see in Friday's update. Unfortunately I do not have an ultra-wide monitor to test it. Would you be able to give feedback after you have tried it? :)

[2022-02-22 10:03] UltraVox001 commented on #1911
@plemsoft
Yes, the problem is solved.
Thank you. :)

[2022-02-22 10:03] #1911 closed

[2022-02-22 10:19] UltraVox001 opened #2230 "Choosing Delete Mode in Vegetation also changes the Texture Mode to Restore Mode"
Choosing Delete Mode in Vegetation also changes the Texture Mode to Restore Mode.
The reverse also happens.
See the Video : [https://www.youtube.com/watch?v=LHYEARcuL9k](https://www.youtube.com/watch?v=LHYEARcuL9k)

[2022-02-22 10:37] ZakJudges commented on #1925
Hi @mav3r1ck198-1, are you still experiencing this issue in the most recent build? :)

[2022-02-22 11:10] OldFlak commented on #2143
@plemsoft Hi Preben thanks for looking at this issue.

I am struggling to see why we need another obscure setting for this - why would you want it to be a universal setting, surely it needs to remain a per object setting.

It worked fine using the properties settings to enable shadows on a per object basis, why not just put it back the way it was :)

Changes like these just make simple things more

[2022-02-22 11:16] ZakJudges commented on #1762
Hi @UltraVox001, are you still experiencing this issue in the latest build? :)

[2022-02-22 11:18] UltraVox001 commented on #1762
@ZakJudges
It's old. Lol.
It's OK now. :)

[2022-02-22 11:18] #1762 closed

[2022-02-22 11:19] ZakJudges commented on #1612
Hi @ondrejciz1993, are you still experiencing this issue in the latest build? :)

[2022-02-22 11:20] plemsoft commented on #1888
@GraPhiX-Guru Thanks for reporting this issue , i dont see the same here, could you try this in the latest version and let me know if this is still a problem , this is what i see compared with yours. Without fxaa , sure it looks better with fxaa :)

![skybox-compare](https://user-images.githubusercontent.com/18662417/155122274-4c92a204-2961-4f90-abd8-2fc216ff74b5.jpg)

[2022-02-22 11:20] ZakJudges commented on #1904
Hi @3coms, are you still experiencing this issue? :)

[2022-02-22 11:23] ZakJudges commented on #1779
Hi @smmaas, are you still experiencing this issue in the latest build?
If so, do you still have a copy of the imported model's dbo and fpe files? Or steps to reproduce?  Thanks :)

[2022-02-22 11:24] synchromesh62 commented on #2229
Had to try it out :)
This is the best i could get it but it had to have a light directly over it for the effect and invert the normal on import. Outside pic is just the natural sun.

![TEST](https://user-images.githubusercontent.com/35708217/155122799-2bfc4682-8d5d-4b8e-bf29-88f7971f2a01.png)

![outside](https://user-images.githubusercontent.com/35708217/155122817-16cee263-5fce-4887-882e-5ad1666d9

[2022-02-22 11:27] LeeBamberTGC opened #2231 "Add Random Tick to Soldier Behavior so they can do different things"
Out of the box AI randomness is sought. Adding a random option ticked by default will solve this:

![image](https://user-images.githubusercontent.com/35840583/155123163-872c259a-ea2f-4dfc-a6fa-6b326705b0ce.png)

[2022-02-22 11:30] plemsoft commented on #2143
@OldFlak "On a side note nothing cast shadows now unless that setting is checked - so it is now all or nothing?" No it was a bug that has been fixed.

Transparent shadows has been separated from normal shadows to save GPU memory , actually transparent shadows use way more GPU mem then the normal shadows, that's also why it will be off by default. Anyway as i said the problems with separating the s

[2022-02-22 11:31] OldFlak commented on #1851
@ZakJudges Hi Zak thanks for looking into it.

The issues is still there for the last in put in water settings
https://youtu.be/x2mgMOEnJQU

There are quite a few errors still with the editor
- The Color Chooser is still broken
- Max puts random settings in the last audio slot
- Can't delete a reference to an unwanted emissive texture in the importer
- Scale X, Y, and Z for selected models do not

[2022-02-22 11:33] LeeBamberTGC commented on #2229
@synchromesh62 Thanks for testing the model under different lighting conditions.  There is nothing more subjective than art ;)

[2022-02-22 11:35] LeeBamberTGC commented on #2143
Will be in new internal build in about 15 minutes.

[2022-02-22 11:39] OldFlak commented on #2143
Thanks Lee and Preben

We obviously wouldn't want to have all transparent objects casting shadows perhaps one or two.

So we can still turn shadows off on each transparent object if we want?

[2022-02-22 11:45] GraPhiX-Guru commented on #1888
Hi Preben yes Skybox rendering as improved in the latest version, my comparison was with Classic & MA
![gc-gm](https://user-images.githubusercontent.com/35724756/155125771-13cc911e-1765-40f3-9619-00a29282f414.png)
X
Classic on the right MAX on the left

[2022-02-22 11:54] rvanner opened #2232 "Terrain Generator"
@plemsoft Here are the tweaks for the terrain gen when the sky changes to a sky box:

![image](https://user-images.githubusercontent.com/1503593/155127120-503830d2-46f4-4eea-8b46-6c18fc61069a.png)

Also make sure that when the user first clicks on any of the biomes they don't get a night scene as the first choice.

[2022-02-22 11:55] rvanner commented on #2227
@plemsoft As we discussed, these sliders seem to be reversed;
![image](https://user-images.githubusercontent.com/1503593/155127429-8f1e11d0-0847-4a1f-8780-1612c4a4321c.png)

[2022-02-22 11:56] rvanner opened #2233 "Show this in a message box over the Storyboard screen and then flip to the terrain gen"
To avoid an ugly black back ground. Show this in a message box over the Storyboard screen and then flip to the terrain gen.

![image](https://user-images.githubusercontent.com/1503593/155127634-3ca1c5d3-6c3a-410b-b63c-1e703891d23b.png)

[2022-02-22 12:13] LeeBamberTGC commented on #1180
@Kasseyus In latest build, both static and dynamic creations produce correct results when positioned and rotated:

![image](https://user-images.githubusercontent.com/35840583/155129995-1cf457c4-35ec-4f81-9d06-92d109fc3b04.png)

As you can see, static holds its position high up and slightly rotated in its chosen BOX collision shape.

Dyanamic also holds its rotation within its BOX collision shape,

[2022-02-22 12:18] plemsoft commented on #1437
@PaulFox12 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-22 12:18] plemsoft commented on #1857
@OldFlak Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-22 12:19] plemsoft commented on #1910
@UltraVox001 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-22 12:25] dllllllllllb commented on #1592
@LeeBamberTGC I tried fixing it this morning but with the same results, I will assign it back to you

[2022-02-22 12:27] 3coms commented on #1904
Hi

sliding door -  GGMax 2022_02_25 - today's test

Importing X file

https://youtu.be/xguAoHt2qIc

Importing as FBX file

https://youtu.be/vZ7WsBZ2gGY

[2022-02-22 12:27] LeeBamberTGC commented on #1465
@ivanski1983 Thanks for sending the bridge model. With the latest internal build, I imported the model and rotated along the X by 90 degrees to fix the orientation issue (was pointing straight up), then applied some textures and imported as a static polygon model:

![image](https://user-images.githubusercontent.com/35840583/155132056-d919a2d7-c9fe-4544-afc3-0af9fa968961.png)

This rotated and work

[2022-02-22 12:28] plemsoft commented on #1888
@GraPhiX-Guru Yes looks better now , also i think the difference with the classic and max now is the missing mipmaps in your skybox, we generate those for you in classic but not in max you need to add mipmaps yourself. Anyway looks fine without , even better with fxaa , let me know if this issue can be closed, thanks for your help :)

[2022-02-22 12:28] LeeBamberTGC commented on #1592
@dllllllllllb No worries, leave it with me :)

[2022-02-22 12:28] 3coms commented on #1904
So, please give full support to X file, at least till importing full working. :)

[2022-02-22 12:31] ZakJudges commented on #1904
@3coms so I can look into this, could you send me the X and FBX file? :)

[2022-02-22 12:36] GraPhiX-Guru commented on #1888
Thank you Preben, yes i will enable mipmaps in xSkyBox+ now that I know things are working as they should.

This can now be closed :)

[2022-02-22 12:36] OldFlak commented on #2143
@plemsoft Thanks again for looking at this - can't believe I create so much work for you :)

All other shadows are working now - thanks.

Still cant get transparency on the glass like before
- it seams to caste the whole object - not casting shadow of text like in earlier versions (could just be in editor tho)
- when running test game it disables the setting so can't in runtime

https://youtu.be/9

[2022-02-22 12:38] LeeBamberTGC commented on #1857
@plemsoft Exciting to see what the fix to this one was :)

[2022-02-22 12:40] LeeBamberTGC commented on #1904
@3coms The MAX ASSIMP X importer is not identical to the "Guru-Converter.exe" converter in the MAX root folder. If your import does not work great with the importer, try putting your X file in the Files folder and running the above, and also make sure your BASE COLOR is not black with black alpha, needs to be WHITE so the texture can multiply with it to form the final color.

[2022-02-22 13:17] LeeBamberTGC commented on #1592
@dllllllllllb When you have five minutes, feel free to look at the latest code commits in the function "entity_free", you will see two additions, one to reset the object animation frame and anim state, and a second call lower down to a new function for Wicked that will skip the INTERPOLATION (SLERP) code and as the update will only happen once, update the animation to the final destination frame o

[2022-02-22 13:22] LeeBamberTGC commented on #1313
@plemsoft As it seems you are working on this, I have moved the assignment of the issue to you.  I have also moved the priority of the remaining skybox issue to MEDIUM so you can focus on the HIGH items on your list.  The goal this week is for all team members to have no HIGH items left on their list. Once I finish with mine, I will help others with their HIGH items. We can then look at MEDIUMs in

[2022-02-22 13:29] Skevos-Mavros commented on #2195
Oops (again).  When I said this was fixed, I was referring to my comment about painting terrain and trees from outside the 3D view.

The original bug report by @ZakJudges  that OBJECTS highlight when the mouse hovers outside the 3D view, is still happening.

Sorry if my reply was unclear.  How does one unclose an Issue?

[2022-02-22 13:31] ZakJudges commented on #2195
@Skevos-Mavros I have added a fix for the objects being highlighted when the mouse isn't hovering the viewport :) Should be in this Friday's build

[2022-02-22 13:38] 3coms commented on #1904
Done. I sent you the download link; if any issue, please, let me know. :)

[2022-02-22 13:40] 3coms commented on #1904
@LeeBamberTGC
No alpha channel on this mesh, it is no need for it. :)

![No_alpha_channel_door_slide_pic01](https://user-images.githubusercontent.com/47690174/155143902-8f0ecbca-8268-42da-b168-b0c6c96a8724.png)

[2022-02-22 13:53] LeeBamberTGC commented on #1760
@UltraVox001 You made your wall group too straight :)  The bug shows itself when you create a not very well lined up wall as Rick did, and the issue relates to grouped objects trying to snap to each other.  Fixed for next internal build.

[2022-02-22 13:55] ZakJudges commented on #1904
@3coms got it, thanks!

[2022-02-22 14:02] 3coms commented on #1904
As you can see all those have a white alpha channels. :)

[2022-02-22 14:03] #1888 closed

[2022-02-22 14:17] dllllllllllb commented on #1616
@LeeBamberTGC I'm not sure if this is the same thing, but I used the teleport behaviour. After players invulnerability period ends, if you walk into a teleporter and the place you want to teleport to is below a certain y coordinate you will take damage. The lower the Y coordinate, the more damage you take.

My guess is that this bug is caused by fall damage (even though the player doesn't fall at

[2022-02-22 14:18] LeeBamberTGC commented on #2231
Ready for next internal build.

[2022-02-22 14:19] 3coms opened #2234 "Mesh falling from the sky in test mode - GGMax_2022_02_25 [GGMax]"
First of all, this is just a report. since you are working on terrain physics right now, it might help as a clue.
Label it as your criteria. :)

My mesh (a house) in the editor

![cellar_building_isImmobile_GGMax_2022_02_25_pic01](https://user-images.githubusercontent.com/47690174/155149789-34a40ace-2560-4a41-9b72-c717d06ba37b.png)

**Notice "IsImmobile" tickbox is checked.**
Obviously, it has not

[2022-02-22 14:43] ZakJudges commented on #1489
@Hamada880 Thank you for reporting this issue :) A fix has been added that should appear in this Friday's build

[2022-02-22 14:51] #2184 closed

[2022-02-22 14:58] rvanner commented on #2111
@LeeBamberTGC This is much better for EA. When we add the HUD editor we can allow users to set their own styles.

[2022-02-22 14:58] #2111 closed

[2022-02-22 15:03] #1836 closed

[2022-02-22 15:17] rvanner commented on #1761
@LeeBamberTGC Check out this video which should show you how to recreate this bug;
https://youtu.be/-YAN1hol6eY

[2022-02-22 15:29] ZakJudges opened #2235 "Weapon states not reset when leaving test level"
To reproduce:
- equip player with patrol rifle
- test the level
- press v to use the higher magnification scope
- leave level
- start the level again and see that the higher magnification scope is still selected

[2022-02-22 15:39] ArgentArts commented on #2128
Definitely. I'll let you know Friday or so. Thanks for letting me know.

[2022-02-22 15:50] ArgentArts commented on #2229
The thing is, this is not about being "subjective" as in "art". PBR is about materials looking natural or proper under ALL lighting conditions. That's the reason they exist, the reason for their creation to begin with. Synchro's examples are ... good. But they don't look like leather. They look like shiny plastic. They don't look like the example photos and they don't look like what I get in Unrea

[2022-02-22 15:51] ZakJudges opened #2236 "Red dot sights obstructed by objects"
In these screenshots, you can see the enemies' hands cover the red dot. Happens when you get close to objects.
![Screenshot 2022-02-22 154509](https://user-images.githubusercontent.com/32545391/155168175-62af0ec5-a83e-4b32-82c4-a34244115f61.png)
![Screenshot 2022-02-22 154530](https://user-images.githubusercontent.com/32545391/155168186-e967843e-3568-4c4c-a938-e9f28fc7ace9.png)

[2022-02-22 15:57] ArgentArts commented on #2229
I wanted to quote this just to emphasize a point - lighting conditions should ... not ... matter. Here's why, according to a definition of PBR materials:

Therefore, it should not matter WHAT the lighting conditions are. The material should still read or look correct to the eye. That's the entire point of PBR materials. It shouldn't look right ONLY under certain lighting conditions. Read again wha

[2022-02-22 15:59] rvanner commented on #2229
@PaulSJ Could you comment on this issue thread please?

[2022-02-22 16:21] dllllllllllb commented on #1866
@LeeBamberTGC When you drag light from the bottom left corner, it has the same properties but Horizontal Only Mode is not applied and you can freely drag the light in all axis. I researched how the light is added to the scene and came across AddEntityToCursor(), looked more into it and found that there are no checks for iObjectMoveMode == 0 in there, although I'm not entirely sure if this is where

[2022-02-22 16:21] ArgentArts commented on #2229
Here's another example with the same PBR material:

![pbr5](https://user-images.githubusercontent.com/36735507/155173778-3d31641f-f00d-4b5c-8873-0e3583696084.png)

The two boxes in front have the same material applied, but the box to the left has the light more directly over it. See how much less like leather the box to the right looks (not that the one to the left looks the best ... yet). There's

[2022-02-22 16:30] LeeBamberTGC commented on #1807
@UltraVox001 Some fixes here, one involving the collision mode not being maintained when copying objects during group creation, and another related to this which could change the collision state of objects placed after group work. Now a building with contents can be grouped and duplicated with no ill effects with physics:

![image](https://user-images.githubusercontent.com/35840583/155165957-4550d

[2022-02-22 16:33] ZakJudges opened #2237 "Buller Ray Not Hitting the Characters Current Pose (IntersectAll for Characters?)"
There isn't much feedback given to the player when damaging enemies, which can take away some of the fun of using weapons/killing enemies

https://www.youtube.com/watch?v=QeMris49Wsg

- It isn't clear when you are damaging an enemy - unless you get a headshot or they play a hit reaction animation.
- It's even less clear if you shoot them whilst they are currently playing a hit reaction animation.

[2022-02-22 16:39] UltraVox001 commented on #1807
@LeeBamberTGC
I'm impressed with this bug fix. Its very important. The creation of prefab will be greatly facilitated. :)
I keep this page in memory and I will come back to confirm after the tests.
A big thumbs up for you! :)

[2022-02-22 16:42] rvanner opened #2238 "Auto flatten areas are not cleared if you don't save your changes and it affects other levels"
- I added some buildings to a level

- I quit back to the Storyboard and did not save the changes I had made

- I went into a plains based level and found these showing up:

![image](https://user-images.githubusercontent.com/1503593/155177920-5f85d3af-7d2e-4c97-b774-655f23355ffb.png)

- I then went back to the level where I had added the buildings and the auto flatten areas were still showing

![i

[2022-02-22 16:51] rvanner opened #2239 "When adding buildings and moving them, some buildings don't find the floor properly"
Watch this video;
https://youtu.be/-cpDZ0acfEY

[2022-02-22 17:00] LeeBamberTGC commented on #2229
@ArgentArts Can you wrap the leather around an armchair model, PBR is for naughty without surface world normals to get its lighting cues.  A cube leather in a pitch-black room will render as black.  Alas, no lights in a room is a valid lighting condition ;)

[2022-02-22 17:06] ArgentArts commented on #2229
Anything in a pitch-black room will render as black. Duh. But leather should look like leather, even if it's wrapped around a cube. ;)

[2022-02-22 17:16] LeeBamberTGC commented on #2229
Light will change how the leather looks:

![image](https://user-images.githubusercontent.com/35840583/155183758-23048bf1-2894-451b-a3bc-d6f532fcaa3e.png)

[2022-02-22 17:18] ArgentArts commented on #2229
Yes. That's my point exactly. PBR materials will look correct under all lighting conditions. Synchro's outdoor example looks like shiny plastic. That's not correct. It looks wet.

In any case, I am creating a "couch-like" example. I'll have it in a moment. ;)

[2022-02-22 17:23] LeeBamberTGC commented on #2229
@ArgentArts Sounds good, look forward to checking it out!

[2022-02-22 17:25] ArgentArts commented on #2229
Here's a quickie couch-like object with the leather PBR material applied. From a certain angle, it looks really good:

![couch1](https://user-images.githubusercontent.com/36735507/155185215-336ca88a-744e-48c0-aa36-791c5b19f683.png)

But when you move away from that angle, it looks flat and no longer looks like leather:

![couch2](https://user-images.githubusercontent.com/36735507/155185304-7533154

[2022-02-22 17:55] AmenMoses commented on #1879
Right so with todays build the proper pickuppables script (i.e. the Classic one) works except for stacking, i.e. the objects no longer sink into the terrain. Pick up, throw, rotate all works fine.

So there is still something amiss in the engine that is fighting the script but for single item manipulation all is good.

[2022-02-22 18:26] ArgentArts commented on #2229
This is a screen shot of the same "cushions" dumped in a generic outdoors biom:

![couch4](https://user-images.githubusercontent.com/36735507/155195452-c07c40dd-4b06-4852-8473-8c76cd48caf6.png)

[2022-02-22 18:27] LeeBamberTGC commented on #2229
@ArgentArts I can see your gist, but hard to pin it down as you say. Can you perhaps use the same model and texture in say, Unreal, with equivalent lighting?  Looks like you have two lights in the interior shot. Would be good to get a side by side comparison, and then we can see what happens when there is no contribution from env map, direct lighting, etc.

[2022-02-22 18:28] LeeBamberTGC commented on #1879
@AmenMoses Can you attach the script you are happy with, just in case the one I might use differs, thanks!!

[2022-02-22 18:28] ArgentArts commented on #2229
Sure. Give me a moment. I have a client asking for some work, too. So, I am not sure how quickly I can get to it. But it will be today for certain.

[2022-02-22 18:32] LeeBamberTGC commented on #2229
@ArgentArts No worries, we have the time, and Paul will also wade in too as he has some experience with the latest PBR tweaks we made.

[2022-02-22 18:38] LeeBamberTGC commented on #1761
Prevented user from rotating AND dragging at the same time, can still rotate when not dragging at the same time, and rotation works fine as either a group or multi-object selection from a cut-paste operation.

[2022-02-22 19:26] ArgentArts commented on #2229
Here's a very quick comparison. In each case, the MAX screen shot is on the left, Unreal on the left:

![max_v_unreal_1](https://user-images.githubusercontent.com/36735507/155203866-d91dcb2b-ea1e-423e-a21c-028d9e085201.png)

![max_v_unreal_2](https://user-images.githubusercontent.com/36735507/155203895-f355fb3c-b8f1-4ebe-943d-7a4aa9988336.png)

![max_v_unreal_3](https://user-images.githubuserconte

[2022-02-22 19:37] ArgentArts commented on #2229
Heh! Sorry! NEED MORE COFFEE!!! I corrected it.

[2022-02-22 19:43] Necrym59 commented on #2096
Yes Zac i still have the issue on this build

https://user-images.githubusercontent.com/95015657/155206676-7506717a-144d-4dc4-a727-a1531cfe0b9d.mp4

Happpens randomly but happen after either 1 or more Ctrl V pastes. I had no other tasks happening at the time just to be sure it wasnt a conflict of some sort.

[2022-02-22 20:33] UltraVox001 opened #2240 "GG Max Bug Report - Slowing of Walking"
Max internal update of 22-02-2022.
This issue may have been discussed here before. I'm not sure of it.

When I walk looking ahead, I have a big slowdown in walking speed. It's not FPS that drops, just walking speed. When I look at the ground, I recover my normal speed. But as soon as I look ahead, it's almost as if I'm walking in place.

Video : [https://www.youtube.com/watch?v=Y9WS1lycl4g](https:

[2022-02-22 20:48] ArgentArts commented on #2229
I'll keep conducting tests. Overall, MAX's PBR looks pretty good, though some materials display better than others.

![pbr_test1](https://user-images.githubusercontent.com/36735507/155216454-cf72d323-8690-4430-a744-41c8733ca960.png)

![pbr_test2](https://user-images.githubusercontent.com/36735507/155216463-b98bfe3e-2f72-4659-9846-6edfb3e61dca.png)

I've encountered another issue with the metallic

[2022-02-22 21:45] Skevos-Mavros commented on #2240
Yes, I reported it here - https://github.com/TheGameCreators/GameGuruRepo/issues/2133

I think at least one other person has reported it too. It seems to affect the speed and height of jumping too. It's a weird one, makes labels unplayable here. But clearly it's not affecting everyone.

I'm running GGM in 4K, are you?

[2022-02-22 21:48] OldFlak opened #2241 "MAX - 2022.02.25 - Editor - Can Not Remove References"
This is not a new issue. You cannot delete unwanted references.
Once you assign an emissive texture when importing the model you cannot remove it. You have to abort the import and start again.

Does the same in editor as well:
https://youtu.be/8hv5x4tULR4

[2022-02-22 21:51] UltraVox001 commented on #2240
I just did some tests with shadows. Depending on the setting, it changes completely. The Cascade and the Sun Shadow Distance have a huge influence. When my terrain was flat (with very distant mountains automatically generated), I had no problems. I added nearby mountains, all around my military base, and also the trees. And it's been over since. Totally unplayable level.

I'm far from 4K. I have a

[2022-02-22 21:54] ArgentArts commented on #2241
Looks like they really need to add a DELETE button to those. Ugh.

I've also run across where my emission settings are not updating after a save if I update them after importing. But I want to test some more before reporting.

[2022-02-22 22:01] OldFlak opened #2242 "MAX - 2022.02.25 - Editor - Color Picker Issue"
Have reported this before and it was fixed but tis back again - here be a video in previous version
https://youtu.be/Aum2qkHiM1k

Here it is again in current build
https://youtu.be/4mhQ5rOZn80

[2022-02-22 22:05] OldFlak opened #2243 "MAX - 2022.02.25 - Editor Rogue Entries"
Editor still has a tendency to put rogue entries in text fields.
It seems to happen when selecting items that have Dynamic LUA scripts assigned - always places rogue entry in last sound slot

https://youtu.be/cUtjtjMaWCk

[2022-02-22 22:09] OldFlak opened #2244 "MAX - 2022.02.25 - Editor - Incorrect Scale Values"
Editor returns incorrect X, Y, and Z scale values.

This has been there since before Lee started working on the Smart Placement stuff

https://youtu.be/GAWTQnnq-30

[2022-02-22 22:12] OldFlak opened #2245 "MAX - 2022.02.25 - Editor - Properties Tabs Will Not Expand"
This one seems a little random. Sometimes it decides not to expand Materials Tab.

https://youtu.be/sI9ItapEwJY

[2022-02-22 22:19] UltraVox001 commented on #2240
I just removed 70% of the trees from the map. All those that could not be seen from the military base, because they were hidden behind mountains. And the problem is "solved". I think there is a great need for graphic optimizations here. :)
Wherever it is empty, there were trees :
![Trees Shadows](https://user-images.githubusercontent.com/96718175/155229082-cec808a0-23dc-4a5c-9a0e-c709ef08f42c.jpg)

[2022-02-22 22:55] LeeBamberTGC commented on #1878
@UltraVox001 Looks like a script was missing during export. Paths now working :)

[2022-02-22 22:56] #1878 closed

[2022-02-22 23:49] Skevos-Mavros commented on #2237
I mentioned a few similar things in my (overly long) suggestion here (https://github.com/TheGameCreators/GameGuruRepo/issues/2134) on the related topic of rag doll deaths.

Another possible solution to the lack of enemy damage feedback is to allow the engine to interrupt a currently playing hit reaction with another one **_as soon as the next hit comes in_**.  Even with no blend (or an extremely q

[2022-02-23 00:27] Skevos-Mavros commented on #2240
Interesting.  I did some extra testing.  Here's how slowly I walk, run, and jump WITH heaps of procedurally placed trees.  As you can see, it's as if I'm walking, running, and jumping through molasses unless I look down:
https://youtu.be/lcrLA5HuSaw

Then I removed **_all_** the procedural trees from the level.  At first there was an improvement, but as soon as I get over the hill and see the view

[2022-02-23 00:52] Granada1 commented on #2240
`As you mentioned, none of this seems to be affecting the frame rate, just the movement speed of the player. `

Could it be that the frame rate is not right !

[2022-02-23 03:06] ArgentArts commented on #2242
I get that AND I get where the sidebar part of the color picker jumps to other colors despite what I've picked. Just noticed this one today.

[2022-02-23 04:11] ArgentArts opened #2246 "GameGuru MAX - Material "Flickering" and Light Probe Issue"
I notice that shiny materials "flicker" or change depending on camera/player distance. I am guessing this is due to light probes? Here is a link to a video showing this (I recommend right-click and download to watch):

http://www.argentarts.com/uploads/flicker.mp4

Notice at first the shiny ball in the center (with the squares on it) - it's almost black at first. Then, after it sort of snaps in, i

[2022-02-23 05:03] UltraVox001 commented on #2240
New tests carried out. I decided to clear the whole area around my military base. I started by deleting all the trees with the "Clear All Trees" function. Then I started flattening the ground entirely. And there, I found pearls... There are several hundred trees under the mountains. Deleting them with the area tool frees up the engine considerably. There is a masterful bug there which deposits tre

[2022-02-23 05:31] UltraVox001 commented on #2240
After clearing all the troglodytes trees, if you return the terrain to its original shape (Restore Mode), it gets even better.

[2022-02-23 06:05] UltraVox001 commented on #2240
Ok. New test.
I no longer have any trees and I redid the terrain. All that remains is the terrain and the vegetation. The problem starts again. Just modifying the terrain is enough to generate the problem.

[2022-02-23 09:51] ZakJudges commented on #1639
Closing this issue - duplicate of #1597

[2022-02-23 09:51] #1639 closed

[2022-02-23 09:54] ZakJudges commented on #1426
@Snage62 Closing this issue, assuming it has been fixed in recent months. Please re-open it if you are still encountering it. Thank you.

[2022-02-23 09:54] #1426 closed

[2022-02-23 10:54] LeeBamberTGC commented on #2243
@plemsoft May need to hide sound 4 if it's the same string that DLUA uses for parameter storage.

[2022-02-23 11:02] ZakJudges commented on #2096
Hi @Necrym59, thank you for the video. It seem the issue was caused by pressing the 'v' key on its own. A fix has been added and you should see it on Friday :)

[2022-02-23 11:06] LeeBamberTGC commented on #1630
@dllllllllllb Yes followed the steps, the issue is no longer showing in the latest build.

[2022-02-23 11:19] LeeBamberTGC commented on #1616
@dllllllllllb I think finding the root cause of the damage is best. If you find the code that works out the damage value, you should be able to see why the calculation is taking the before and after positions into account, and update the values so no damage happens during the transport. If you cannot find the true cause after say an hour, adding a few seconds of temporary invulnerability using the

[2022-02-23 11:39] ZakJudges commented on #2245
Hi @OldFlak, I wasn't able to reproduce this issue but I've added a fix which should sort it. Could you let me know if you still experience the issue in Friday's build? :)

[2022-02-23 11:39] LeeBamberTGC commented on #1866
@dllllllllllb This one (like #2215) delves more into the object placement system so I will assign myself this one and tackle both issues in one go.  I will assign a few more from my list to you.

[2022-02-23 11:41] ZakJudges commented on #1746
Hi @redagent101, thank you for letting me know. I'll close this issue now, but if it happens again feel free to reopen it :)

[2022-02-23 11:41] #1746 closed

[2022-02-23 11:41] LeeBamberTGC commented on #2139
@dllllllllllb You can use a ray cast to see if the camera can see the object. If the ray hits some obstruction, do not allow the user to see the prompt or use the switch/weapon pickup/etc

[2022-02-23 11:43] LeeBamberTGC commented on #1964
@dllllllllllb A nice one to investigate and attempt to reproduce.

[2022-02-23 11:44] LeeBamberTGC commented on #2211
@dllllllllllb One to reproduce and then trace the code to see why only 6 connections allowed. As reported, you should be able to make up to 10 connections.

[2022-02-23 11:44] ZakJudges commented on #1804
Hi @casigus, in the provided files, there was no .dbo or .x file, only the textures and fpe. Would you be able to send it if its still causing issues? Thanks :)

[2022-02-23 11:45] LeeBamberTGC commented on #2191
@dllllllllllb See if you can reproduce this one, and trace the bottleneck if there is one.

[2022-02-23 11:46] LeeBamberTGC commented on #2028
@UltraVox001 This is by design, and how these behaviors are designed to work. I have tagged this as an enhancement so we can add extra tick box to the behavior to allow or disallow player collision on the object.

[2022-02-23 14:17] PaulSJ commented on #2229
If you increase the normal strength to 1.5 and set the reflectance slider to 0.1 then does it look more like what you would expect?

[2022-02-23 14:21] plemsoft commented on #2183
@rvanner Fixed for next update.

[2022-02-23 14:21] plemsoft commented on #2182
@rvanner Fixed for next update.

[2022-02-23 14:22] plemsoft commented on #2202
@dennimoto Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-23 14:22] plemsoft commented on #2232
@rvanner Fixed for the next update :)

[2022-02-23 14:23] plemsoft commented on #2233
@rvanner Fixed for the next update :)

[2022-02-23 15:03] rvanner commented on #2210
@PaulSJ Can you have a quick look at this and comment? Maybe the auto-probe system is something we allow users to turn off if it affects their levels?

[2022-02-23 15:14] ZakJudges opened #2247 "Enemies can climb steep slopes"
https://www.youtube.com/watch?v=I-hbTMpBNSw

In the video, the enemy was able to climb a very steep slope then proceeded to run away into the distance.

The map that showcases the issue is attached.
[aitest.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8125378/aitest.zip)

[2022-02-23 15:17] ZakJudges opened #2248 "Enemies can't hear other enemies shooting"
https://www.youtube.com/watch?v=jR0w3V0XweA
If the player stops making noise and goes out of sight of an enemy, they will go back to their initial state even when other enemies nearby are shooting at the player.

[2022-02-23 15:18] ZakJudges opened #2249 "Enemies can attack you through walls"
![enemy_clipping_wall](https://user-images.githubusercontent.com/32545391/155349062-e692514b-6a05-4691-9484-5a8db64d5c8a.png)

[2022-02-23 15:39] ArgentArts commented on #2229
Thanks, @PaulSJ! I had forgotten abouot the Reflectance slider. This is a different leather PBR material, but just adjusting that slider helped a lot:

![leather5](https://user-images.githubusercontent.com/36735507/155353170-0451b2c2-85f0-4009-bed1-249f3c2cce3e.png)

[2022-02-23 15:49] ArgentArts commented on #2246
There are several issues here. Firstly, the bug is that you cannot see the light probe area any more when you go to adjust it. So, you cannot set the size visually for your areas now. But, to me, **the larger concern is that light probes should not be attached to point lights at all, but should be their own objects.** If I have four point lights to light a room, I don't need four light probes. And

[2022-02-23 16:02] PaulSJ commented on #2210
This is a difficult one since the renderer is technically correct but it is using an environment probe that is in the previous room until the player has walked through the door.

We can try removing spot lights from the environment probe render which should make them more consistent when moving around, but unless we place environment probes all over the level and continually update them then we ma

[2022-02-23 16:13] PaulSJ commented on #2246
Light probes used to be connected to lights but that is no longer the case. Probes are now connected to the player, which is why things are changing as you move around. I'll adjust the transition time so the changes are more subtle.

It would be great if we could have the user place light probes all over the level but WickedEngine is limited to 16 probes, which isn't really enough for a large leve

[2022-02-23 16:24] ArgentArts commented on #2246
Also, if light probes are not connected to the player, does that mean the light probe scale is going to disappear from the UI for lights?

[2022-02-23 16:24] synchromesh62 opened #2250 "Player crouch way to high"
Player cannot crouch below around 4ft 6 inches ..  Thats not really enough.
Zombies can actually walk through that just skimming their head as they are bent over walking also.
Any chance this can be lowered ?

[2022-02-23 16:32] rvanner commented on #2210
I will raise this in the next team meeting.

[2022-02-23 16:35] PaulSJ commented on #2246
The PBR pipeline uses light probes for diffuse lighting as well as specular, so they are technically required for everything

I would assume so but I've not heard it discussed

[2022-02-23 16:59] AmenMoses commented on #1879
I'm happy with the one in Classic!

[2022-02-23 17:00] ArgentArts commented on #2246
Ah! Yes. I am thinking very old-school here. Thanks for clearing that up. I appreciate it.

[2022-02-23 17:06] casigus commented on #1804
there you go. it happens with alot of other ojects too ive noticed, even when you change collisions. causes a massive slow down.

[2022-02-23 17:11] LeeBamberTGC commented on #1879
Alas the 'pickuppable.lua' script from the latest Classic is not compatible with the new MAX DLUA system for behavior description and properties.  I will remove "pickupsimple.lua" for now and add a new issue to create a simple one once I have got through a few more of my issues list :)

[2022-02-23 17:20] ArgentArts commented on #2246
Yeah, it seems sort of useless to have a light probe scale setting that does nothing for each light and it will be sure to confuse the end-user. I think it's best to remove it from the UI before the March release, imo.

[2022-02-23 17:21] ArgentArts commented on #2246
Can the transition distance be made greater? In the above scene, the player is not moving very far and the probe is changing two or three times. That seems excessive.

[2022-02-23 17:26] LeeBamberTGC commented on #1616
@dllllllllllb Maybe you can call the 'm_character->resetFallStuff();' function and add a new variable that will capture the current pos and place in ThisFloorYPos so the fall distance is zero when that code is called.

[2022-02-23 17:27] PaulSJ commented on #2246
The problem with making the change distance greater is that when the player enters a building the environment probe might still be outside, which would make the indoor lighting incorrect. It's possible we could try and detect transitions from indoor to outdoor, and room to room, but for now I think we'll have to live with the current system.

[2022-02-23 17:31] UltraVox001 opened #2251 "GG Max Bug Report - Lock object malfunctions"
Internal Max update : 23-02-2022. This map contains 1451 objects.
All these objects were Lock on my map. After modifying the Terrain, Max took the liberty of modifying their positioning. It must be guaranteed that the modification of the Terrain, whether slight or extensive, can never modify the positioning of objects that are Locked.
![lock1](https://user-images.githubusercontent.com/96718175/155

[2022-02-23 17:42] ArgentArts commented on #2246
What about for people like me, who are creating in-door only games? I don't need to worry about such transitions? Couldn't there be a toggle for something like this? As can be seen in my video, the transition in reflective surfaces is very jarring?

I hope you don't mind the questions. I'm just exploring.

Ultimately, it would be awesome if the end-user could set their own distance (within reason)

[2022-02-23 18:06] MonkeyFrogStudio opened #2252 "GameGuru MAX - Request - Grass Height Slider"
The grass in MAX always looks way to tall to me. I would love to have a way to adjust the height of the grass in MAX. Therefore, I am requesting a Grass Height Slider.

It would also be great to have a Grass Height Variable - a checkbox with a range (shortest to tallest) that could be set so that grasses painted would be placed with random heights within this range. This could even be added to the

[2022-02-23 18:08] ArgentArts commented on #2252
Part of the reason for requiring a Grass Height Slider is not all grasses grow tall while others grow very tall. Take the grasses in the plains where lions live. They can grow so tall that a lion can easily hide in them and a man can walk in them, the grass as tall as the man. But in other plains areas, the grass never gets higher than an inch or so. We need to be able to simulate these types of g

[2022-02-23 18:41] #2183 closed

[2022-02-23 18:41] #2182 closed

[2022-02-23 18:43] ArgentArts commented on #2246
Here's an issue where I am pretty close to a reflective object, but the object appears to be using an incorrect light probe:

![pbr6](https://user-images.githubusercontent.com/36735507/155385832-b2a728db-4897-4e8b-802f-96becd6dd836.png)

Notice the green reflection to the left side of the reflective sphere? It should be reflecting the rock brick sphere that's next to it. Instead, it's picking up a

[2022-02-23 18:43] #2232 closed

[2022-02-23 18:44] #2233 closed

[2022-02-23 18:46] #1761 closed

[2022-02-23 18:49] #1760 closed

[2022-02-23 18:51] #1926 closed

[2022-02-23 19:11] Shalshek opened #2253 "How to set up the raising of the ammo from a third person"
The December update states "Third-person players can now pick up ammo", but my character does not want to pick up ammo. How should it be configured? (GameGuru classic)
![ggg](https://user-images.githubusercontent.com/99836387/155390418-7ee88a0e-f6a7-4919-957a-a92200fbd013.png)

[2022-02-23 19:36] fearlesswee commented on #2237
@ZakJudges
Gamefeel has _always_ been sorely lacking in GG, with very floaty and "static" feeling combat. The very first rule of gamefeel is "for every input and output, there should be a strong visual and/or auditory indication." So for example, when you receive damage, having the camera flinch, having blood spots appear on screen, and a short pain grunt from the player helps communicate that hit

[2022-02-23 22:27] #2251 closed

[2022-02-24 01:01] ondrejciz1993 commented on #1612
Hi, I tried some tests and it seems to be fixed. Thank you.

[2022-02-24 08:03] plemsoft commented on #2158
@rvanner Fixed for next update :)

[2022-02-24 08:03] plemsoft commented on #2243
@OldFlak Fixed for next update :)

[2022-02-24 08:04] plemsoft commented on #2148
@rvanner Fixed for next update :)

[2022-02-24 08:34] plemsoft commented on #1944
@rvanner Latest changes to biomes added for next update.

[2022-02-24 08:44] plemsoft commented on #1422
These has been removed in latest design.

[2022-02-24 08:44] #1422 closed

[2022-02-24 08:48] plemsoft commented on #1439
@fearlesswee Thanks for reporting this issue , i was not able to reproduce this, could you try it in the latest version and let me know if this is still a issue, thanks for your help :)

[2022-02-24 08:50] plemsoft commented on #1504
@casigus Memory has been optimized since this issue, could you let me know if this is still a issue for you , Thanks :)

[2022-02-24 08:52] plemsoft commented on #1510
@casigus This should be fixed in the latest version , and be more easy to adjust :)

[2022-02-24 08:55] #1891 closed

[2022-02-24 09:04] ZakJudges commented on #1612
Thank you for confirming :) Closing this issue

[2022-02-24 09:04] #1612 closed

[2022-02-24 09:07] UltraVox001 commented on #1807
@LeeBamberTGC
Test with last internal version.
- The normal Lights are well memorized in the group with the chosen parameters.
- The Directional Lights are not memorized in the group. They reappear as normal Lights.
- A door with Behavior Door Rising reappears without any Behavior.

[2022-02-24 09:15] plemsoft commented on #1601
@Kitakazi Thanks for reporting this issue , we have optimized a lot since this issue, please test this in the latest version and let me know if this is still a problem, thanks for your help :)

[2022-02-24 09:16] plemsoft commented on #1607
@ArgentArts This was fixed in a older version , could you test this in the latest and let me know if this has been fixed for you , thanks :)

[2022-02-24 09:35] UltraVox001 opened #2254 "GG Max Bug Report - All ground textures now only play one unique sound"
Video test with last internal build : [https://www.youtube.com/watch?v=nHhSRI_M4dE](https://www.youtube.com/watch?v=nHhSRI_M4dE)
I hope it can help.

[2022-02-24 09:59] plemsoft commented on #1647
@marcuswilm Thanks for reporting this issue , this is working in the latest build , please let me know if this is also fixed for you , thanks :)

[2022-02-24 10:00] ZakJudges commented on #1804
Hi @casigus, thank you for reporting this issue. I was able to reproduce the slowdown issue without the textures. The model attached has 87 meshes within it, so I'm assuming its perhaps an issue with that. However, I'll be taking a closer look at it alongside the scheduled importer work :)

[2022-02-24 10:02] plemsoft commented on #1650
@Necrym59 Thanks for reporting this issue , as i remember we made some fixes to FOV could you let me know if this is still a issue in the latest build , thanks for your help.

@rvanner I do not have a widescreen monitor, and cant test this myself.

[2022-02-24 10:09] plemsoft commented on #1659
@Necrym59 Thanks for reporting this issue , a lot of changes has been made to how the custom materials works , just tested this in the latest version and it works perfectly fine here, could you also try this in the latest version and let me know ifd this has been fixed for you , thanks :)
![custom-textures](https://user-images.githubusercontent.com/18662417/155503790-590a20f7-63f5-49d5-a9c3-e7b519

[2022-02-24 10:19] plemsoft commented on #1672
@marcuswilm Thanks for reporting this issue , yes it would be better to have it set while importing the model , anyway you can set it inside the .fpe , in your case mesh 2 need transparent , so you can add/change this in the .fpe:
"transparency2    = 1"

transparency2 , is for mesh 2 , transparency1 is for mesh 1 , and =1 is enable transparency , let me know if this fix your issue , thanks for you

[2022-02-24 10:21] plemsoft commented on #1685
@Retrogamebloke Thanks for reporting this  issue , i fixed this in a earlier build , could you test this in the latest version and let me know if this is also fixed for you , thanks :)

[2022-02-24 10:22] plemsoft commented on #1686
@Necrym59 Thanks for getting back :)

[2022-02-24 10:22] #1686 closed

[2022-02-24 10:23] UltraVox001 opened #2255 "GG Max Bug Report - Animated objects are inanimate in Standalone"
Animated objects are inanimate in the Standalone version.
But they are properly animated in the Editor and in the TestLevel.
Whether the Physics is active or not, does not change anything.
Whether the IsImmobile box is active or not, does not change anything.
Editor video : [https://www.youtube.com/watch?v=BbuSjPWSFjY](https://www.youtube.com/watch?v=BbuSjPWSFjY) (the turbines are rotating)
Standa

[2022-02-24 10:23] plemsoft commented on #1701
@UltraVox001 We fixed this in another issue thanks :)

[2022-02-24 10:23] #1701 closed

[2022-02-24 10:25] plemsoft commented on #1702
@UltraVox001 Thanks for reporting this issue, tree water distance is now saved in the latest build :)

[2022-02-24 10:25] #1702 closed

[2022-02-24 10:30] plemsoft commented on #1707
@UltraVox001 Thanks for reporting this issue, light shaft is now saved with the level , but the problem in the above image was the fog bug that we fixed earlier , thanks for your help :)

[2022-02-24 10:32] plemsoft commented on #1744
@casigus We have optimized load times and memory use , could you let me know if this is fixed for you in the latest build, Thanks :)

[2022-02-24 10:36] plemsoft commented on #1745
@wizardofid29 Thanks for reporting this issue , the scale is not actually the value , but is a "Scale divider" so it will always reset to "50" when you copy a object.

@rvanner Perhaps we need to explain this more as its not a direct value, or change it into the actual value , i think i read other issues about this, but not sure if anyone is changing this or it just need better explaining (hover t

[2022-02-24 10:36] UltraVox001 commented on #1707
@plemsoft
After disabling Light Shats in the editor and saving the map. I reopen and the Light Shats box is disabled, but the rendering of Light Shats is still active.
![LS-Off](https://user-images.githubusercontent.com/96718175/155508057-8a022c68-4361-4359-bcbe-9bbedfcd0f4d.jpg)
![LS-Off-but-On](https://user-images.githubusercontent.com/96718175/155508064-45834a76-0708-49a5-a312-a877c0b47914.jpg)

[2022-02-24 10:45] UltraVox001 opened #2256 "GG Max Bug Report - After a few minutes of inactivity Max searches for data in other hard drives"
After a few minutes of inactivity, when I return to Max's editor, it searches for data that **does not exist** in my other hard disks. Yet all of Max's data is in my SSD (C drive) and nowhere else. Yet I hear Max looking for something on my E and F drives (mechanical drives) and during this time **Max is frozen** on the screen.

[2022-02-24 10:49] plemsoft commented on #1765
@rvanner I do not have a widescreen monitor to test/fix this, perhaps another dev. have one ?

[2022-02-24 10:53] plemsoft commented on #1781
Duplicate of https://github.com/TheGameCreators/GameGuruRepo/issues/1551

[2022-02-24 10:53] #1781 closed

[2022-02-24 10:56] OldFlak opened #2257 "MAX - 2022.02.25 - Storyboard - Add Level Tile Issue"
When you add levels to the storyboard after there are already a few there you have to go look for the newly added tile

https://youtu.be/-uKtUvDIEgU

[2022-02-24 10:59] plemsoft commented on #1785
@PaulSJ I need a way to save flat areas , is there a way to do this ? , Let me know and i will add the actual loading and saving with the level , thanks :)

[2022-02-24 11:01] UltraVox001 commented on #1785
@PaulSJ @plemsoft
Please could you arrange that when the checkbox is disabled, Max remembers this setting on next reopening ?
Thank you...

[2022-02-24 11:02] plemsoft commented on #1802
@smmaas Thanks for reporting this issue, this was fixed in a earlier build , let me know if this is also fixed for you in the latest build, Thanks :)

[2022-02-24 11:04] plemsoft commented on #1937
@rvanner I believe Lee is adding these as they come in :)

[2022-02-24 11:06] plemsoft commented on #1938
@rvanner I believe we fixed most of this on TW , the only thing is the new design would you like me to add that at this point ?

[2022-02-24 11:07] plemsoft commented on #2000
@rvanner Is this for after EA , should we mark it as an enhancement ?

[2022-02-24 11:08] LeeBamberTGC commented on #1785
@plemsoft Wioth the current system it is the object properties that is flagged as flatten which 'creates' the flat areas on the fly.  In this case there is no need to store a copy of the results of the flattening technique. As soon as the object causing the flatten is deleted, the flatten event is also removed. That is how it works now.

[2022-02-24 11:09] LeeBamberTGC commented on #1937
@plemsoft Yep, adding Island Showdown this week, plus any more RIck deems worth today :)

[2022-02-24 11:10] rvanner commented on #2000
We wanted it in for EA please.

[2022-02-24 11:11] LeeBamberTGC commented on #2000
@plemsoft The I key is already working in the software for quick access to spraying things. I believe it needs to be in the EA version, both as a keyboard shortcut entry and as a button as tick describes. I do not think it affects the video footage shot so far too much.

[2022-02-24 11:12] UltraVox001 commented on #1785
@LeeBamberTGC
The problem lies elsewhere. It's a matter of workflow (use) with the editor. I have several buildings which, when I select them, cause changes in terrain and vegetation. I have to deactivate this function in the editor, but each time I open it, I have to think about deactivating it.

[2022-02-24 11:16] rvanner commented on #1938
@plemsoft I consider this done now. I think the design you implemented is fine. I also don't think we should autoplay the videos, let the user choose when to watch them.

[2022-02-24 11:16] #1938 closed

[2022-02-24 11:17] wizardofid29 commented on #1745
If there is many reports. Is it then the best solution. Is it not better to have the scaler slider in percentages. For example I import a block and it is 30% smaller then it needs to be. I can scale it 30% to make it the correct size. Model scale too reduce the scale based on percentage .

So honestly the scale value it gives, isn't of any use to anyone. Percentage value is of far more value and g

[2022-02-24 11:17] dllllllllllb commented on #2211
@LeeBamberTGC Copying an object also copied its object relation data which made connecting lights to a copied switch impossible in my case, resetting this data fixed it for me and I can attach 10 lights to a copied switch.

I found the code where the switch is copied using Ctrl+C / Ctrl+V but I can't find the same code for when the switch is dragged from the bottom left corner.

Here are the vars

[2022-02-24 11:18] LeeBamberTGC commented on #1785
@UltraVox001 In that case I have retagged this as a feature request to have more in-depth control of the flattening system. Right now for EA, it only has one purpose which is to flatten an area immediately beneath specific types of objects such as buildings and structures. You can switch this off and on per object, but that is the extent of the controls right now. If flatten mode is not to your li

[2022-02-24 11:23] rvanner commented on #1745
@plemsoft It would be better if the scale slider was a % of the size of the original size of the object. I would have it range from 1 to 200 and settle in the middle at 100% scale.
If I want to reduce it by half then I reduce it down to 50%
If I want it 2x bigger then I scale it to 200%
That makes more sense to me.

[2022-02-24 11:23] UltraVox001 commented on #1785
@LeeBamberTGC
Where can I find this setting that allows this option to be disabled for my buildings ?
I did not find it. (except the box in the Settings).

[2022-02-24 11:26] wizardofid29 opened #2258 "Objects below terrain level not visible. MAX"
On a few occasion I have accidentally moved an object below the terrain mesh and deselected the entity I was working on. As a result the object is now lost to the ether.

Remedy classic had a feature that would show entities below the terrain mesh. I assume there is issues with the wicked engine to implement some thing similar.

Quick solutions to the problem
Enable terrain no clip mode
Make entit

[2022-02-24 11:26] wizardofid29 opened #2259 "Entities, markers, lights and game objects are hard to select (max"

[2022-02-24 11:27] OldFlak commented on #1851
@ZakJudges Thanks will check with Friday release.

You may want to go through and check every numeric input - just noticed fog opacity does the same. Example: type 15, editor will drop it back to 14 - there really seems to be an ongoing issue with the controls used for the UI :)

Have added issues for other points :)

[2022-02-24 11:35] plemsoft commented on #1707
@UltraVox001 My bad , did not test that , this has been fixed for the next update , thanks for your help :)

[2022-02-24 11:36] #1707 closed

[2022-02-24 11:40] wizardofid29 commented on #1745
@rvanner
 200% scale is too little, the snowy mountain level has objects in it that is at least 10 times the original scale.
of course the should be a limiter, but what is reasonable. 50-100 times the original scale. Forcing the scale to 200% only will break a lot of game levels including my own.

also the scale should also be able to go into the negative percentages if you go the this route.

If

[2022-02-24 11:42] dllllllllllb commented on #2258
@wizardofid29 You can use SHIFT + mouse click and drag to select an area on you screen, it should select the object that is under the terrain. You can also select an object from the scene using "Detailed Object List". You will first need to enable "Allow Selection of Detailed Object List" setting in Advanced settings section.
![image](https://user-images.githubusercontent.com/61796872/155517454-28

[2022-02-24 11:46] wizardofid29 commented on #2258
However this doesn't fix the problem if you have many entities in the scene, which means you might be selecting other entities unintentional. It makes this solution impractical for a level full of entities already.

[2022-02-24 11:51] wizardofid29 opened #2260 "Editing terrain below, game elements. (max) BUG"
Editing the terrain below an entity that is unlock, will randomly shoot the entity several 1000 feet into the air, never to be seen again.

Remedy
Whether the entity is unlocked or not, there should be a physical limit as to how much the entity can move above the terrain and not randomly shoot off into space.

[2022-02-24 11:51] LeeBamberTGC commented on #1785
@UltraVox001 Now that IS a good point :)  Right now you press the U key to toggle the auto flatten mode.

@plemsoft Much like you are doing with the I spray key, can you add U to the keyboard shortcuts and add a UI tick box to switch on and off the auto flatten feature. I think @rvanner needs to confirming this but I think it makes sense.

[2022-02-24 11:54] LeeBamberTGC commented on #2255
@dllllllllllb Can you confirm this in the latest build, this way you can confirm the fix when it is done?  Maybe prepare a VERY SMALL FPM file with the single object that exhibits the behavior.

[2022-02-24 12:00] LeeBamberTGC commented on #2256
@dllllllllllb @ZakJudges @PaulSJ Can you spend 5 minutes to confirm if this bug happens to you. I have not seen this. My HHDs thrash all the time, but then the OS and other background tasks make regular use of the whole of my system.  Could be a false positive this one.

[2022-02-24 12:00] LeeBamberTGC commented on #2259
NOTE: Possible area of improvement in the object placement system. For now, it is as designed for the EA release.

[2022-02-24 12:03] LeeBamberTGC commented on #2211
@dllllllllllb It was the right play to wipe out the relational data.  Always when pasting or dragging in a new object, the engine must use the addentitytomap so make sure all calls to this pass through code that will reset the above data of any duplicated object.  Dropping in a breakpoint to the addition of the object will allow you to trace back to who created that object.

[2022-02-24 12:03] UltraVox001 commented on #2260
Completely agree with you.
I raised this issue here : [https://github.com/TheGameCreators/GameGuruRepo/issues/2206](https://github.com/TheGameCreators/GameGuruRepo/issues/2206)
And I expect a solution different from : "you must Lock all your objects".
No, I don't have to Lock all my objects. I have 1500 on the map.
The Terrain editor should not edit objects. He should ignore them. :)

[2022-02-24 12:07] wizardofid29 commented on #2260
The problem could have been fixed by adding a simple tick box that will ignore terrain editing.

[2022-02-24 12:08] UltraVox001 commented on #2256
@LeeBamberTGC
No, it's not a false positive. :) My system never uses my E and F drives. They are dormant when I use Max and even when I'm on the web. Max is the only one to reactivate them after a few minutes of inactivity.

[2022-02-24 12:09] LeeBamberTGC commented on #1807
@UltraVox001 No such thing as directional light type. I did create a group with a single spot light and one object, then created a group and cloned it, which worked fine:

![image](https://user-images.githubusercontent.com/35840583/155520853-8221cb46-d7b1-4aab-b351-7f5b2bdfb4d4.png)

Did same thing with adding two doors, set them to rising behavior, created a group, cloned that group and then edit

[2022-02-24 12:17] ZakJudges commented on #2256
I also wasn't able to reproduce this one

[2022-02-24 12:22] UltraVox001 commented on #1807
You are right.
I just updated Max and it works great. I think my version was from yesterday or before yesterday.
Sorry for the loss of time and thank you for this addition. :)

[2022-02-24 12:22] #1807 closed

[2022-02-24 12:26] UltraVox001 commented on #2256
I will try what you suggest.
For information, a person had noticed this problem. It's @casigus

[2022-02-24 12:43] LeeBamberTGC commented on #1235
@rvanner @PaulSJ Should we remove the light probe scale from the EA version, and fix this at a set size?  It is currently a confusing message to most users, and I do think after EA we should opt for allowing a separate placement of virtual probes in a scene not connected with the light element.

[2022-02-24 12:44] LeeBamberTGC commented on #1374
@synchromesh62 test with this week's build, I am happy with all the collision modes and supporting files and physics now.

[2022-02-24 12:45] LeeBamberTGC commented on #1624
@smmaas Fixed in this weeks build.

[2022-02-24 12:46] LeeBamberTGC commented on #1642
@42Pix3ls Much work done on collision modes and physics for this weeks build.

[2022-02-24 12:46] LeeBamberTGC commented on #1814
@smmaas Can you confirm fish are okay for you now.

[2022-02-24 12:49] LeeBamberTGC commented on #2031
@PaulSJ Anything quick and clever we can do to prevent a directional light that is under the terrain and pointing upward, and thus lighting a side of the grass vegetation can be nullified?  Typically the terrain would stop the light, but I am not liking the idea of using the whole terrain as a blocker. Best just to agree the sun is on the other side of the planet and so there is NO DIRECTIONAL LIG

[2022-02-24 12:50] LeeBamberTGC commented on #2067
@rvanner This is due to the SHOWCASE folder, which intentionally duplicates some objects. I have an idea to remove the showcase for now, and implement a better version after EA that uses a 'reference list' for the showcase folder, so the objects in fact only exist in one place, and the showcase then simply 'points' to the real object location.

[2022-02-24 12:51] LeeBamberTGC commented on #2121
@casigus Any progress or should I close this one?

[2022-02-24 12:52] LeeBamberTGC commented on #2156
@casigus Did you get time to do this?

[2022-02-24 12:53] LeeBamberTGC commented on #2163
@davetgc Can you list the name and location of the objects you noticed this effect?  I cannot reproduce with randomly selected objects in a room with no lighting.

[2022-02-24 12:54] plemsoft commented on #1785
@LeeBamberTGC I fixed the original issue , flatten areas are now restored when loading the level.

@UltraVox001 Could you create a new "enhancement" request for a system to allow per object control of auto flatten, currently its global, when we have the per object control we can add keys like U to enable/disable flatten per object. Thanks :)

[2022-02-24 12:55] rvanner commented on #2067
OK, let's fix post EA!

[2022-02-24 12:56] LeeBamberTGC commented on #2174
@dllllllllllb One for you to investigate. What setting gets updated when you adjust the sun intensity during the test level session?

[2022-02-24 12:57] LeeBamberTGC commented on #2234
@3coms Any chance you reproduce this bug with stock media and a small FPM level we can load in at this end?

[2022-02-24 12:59] LeeBamberTGC commented on #2238
@dllllllllllb Nice one for you. Find out how the flattened areas are created and removed for objects that are flagged to use them, then determine why flatten events remain when a level is abandoned and a new one started. All flatten IDs must be deleted if a new level is required.

[2022-02-24 13:16] rvanner commented on #1235
@LeeBamberTGC The light probes need some discussion. Chris M. has issues with his level due to the auto probe system mixing in with the torch. Suggest we have a call on this today if poss. Say 3pm?

[2022-02-24 13:17] LeeBamberTGC commented on #1235
@rvanner Was rather hoping I could do some actual coding today, but sure, feel free to call me at 3 PM :)

[2022-02-24 13:17] PaulSJ commented on #1641
@plemsoft User selectable grass height is not implemented, but there is a random height applied to grass

[2022-02-24 13:19] PaulSJ commented on #2254
Although I did the terrain texture system, Lee does the sounds

[2022-02-24 13:30] marcuswilm commented on #1647
@Retrogamebloke : Thank for your comment that I discovered today.

@rvanner :  Thank you for your e-mail. I may confirm that this issue was **fixed** with the alpha version 2022-02-18.

:-)

[2022-02-24 13:45] PaulSJ commented on #2256
I left the editor idle for 5 minutes and watched its disk usage in Task Manager, it remained at 0MB/s the whole time

[2022-02-24 13:46] LeeBamberTGC opened #2261 "Full AI Feedback from Core Team (in one place)"
ZAK:
* Enemies can climb steep slopes and sometimes run away: https://github.com/TheGameCreators/GameGuruRepo/issues/2247
* Enemies stand down when they shouldn't: https://github.com/TheGameCreators/GameGuruRepo/issues/2248
* Enemies can attack you through walls: https://github.com/TheGameCreators/GameGuruRepo/issues/2249
* Unclear if you are inflicting damage on an enemy: https://github.com/TheGa

[2022-02-24 14:02] UltraVox001 commented on #2256
Here are two screens with Max's activities on my D drive.
I have 3 hard drives. A disk C (SSD) on which Max is installed, and two other disks : D and F. (E is a virtual drive that I disabled).
![D-Drive](https://user-images.githubusercontent.com/96718175/155538030-27bdd2c7-1f21-409b-93db-c2901888c6e2.png)
![D-Drive-MaxAccess](https://user-images.githubusercontent.com/96718175/155538037-555b2241-bd

[2022-02-24 14:08] PaulSJ commented on #2031
@LeeBamberTGC I've modified the directional light to always cast a shadow when it is below the horizon, changes are on PJ-Branch4 on both repositories.

[2022-02-24 14:11] LeeBamberTGC opened #2262 "When placing down an object, ignore any GAME ELEMENT objects from ray cast"
Right now if I am placing down a character, and the start marker gets in the way, the character is positioned ON the marker. Make it so ALL ismarker != 0 objects are excluded from the ray cast when placing things down:

![image](https://user-images.githubusercontent.com/35840583/155540032-c740fc89-1c94-4df2-83df-0b5cd32c246e.png)

[2022-02-24 14:12] UltraVox001 opened #2263 "GG Max Feature Request - Allow per object control of Auto Flatten"
A modification of the auto flatten would be welcome.

1/ Currently this option is offered in the Settings, but even if you deactivate it, when it reopens, Max does not remember it and reactivates the box. I would like this memory (box checked/unchecked) to remain in Max's memory.

In addition, it would be desirable for this option to be **defined per Object**, and not only on buildings. Sometimes

[2022-02-24 14:17] LeeBamberTGC opened #2264 "When shooting SHUBNOSE, can see a small MUZZLE/DECAL flash top/left of screen (EMP level)"
Cannot take snapshot it is too quick, but use the EMP level from DEMO3 used for testing AI work, you see it for every shot.

[2022-02-24 14:21] ZakJudges commented on #2256
@UltraVox001 the file being accessed is pagefile.sys

As far as I know, this file can be thought of as storage for when your RAM is full. The unused memory will be stored in pagefile.sys, and be restored again later. I'm guessing when you resume Max, the data in the RAM that Max was using is then restored from the pagefile.

Since your pagefile is on the D drive and not C (your SSD), I would imagi

[2022-02-24 14:23] UltraVox001 commented on #2256
I wonder what this file is doing on my D drive.
My Windows is on C, like Max.

[2022-02-24 14:26] UltraVox001 commented on #2256
The choice of a mechanical drive instead of an SSD for data transfers... frankly :)

[2022-02-24 14:43] dllllllllllb commented on #2211
@LeeBamberTGC From what I understand, when you drag an entity from the bottom left section, it doesn't actually make a new entity until it is placed on the map. I think that drag and drop shares a lot of the code with map editing code, so all the code related to dragging in a new entity that triggered my breakpoint is also used when moving an already existing entities.

I can't reset visual logic

[2022-02-24 14:48] marcuswilm commented on #1672
@plemsoft :  Thank you for your e-mail.

Unfortunately I am disappointed because I cannot obtain anymore that superb coloured shadow produced by the translucent wine glass when I test that scene with the alpha version 2022-02-18.
I consider that it is a major property of the "Materials" in GameGuru MAX because it is particularly interesting to render coloured shadows produced on a surface by the l

[2022-02-24 14:50] 3coms commented on #2234
I had tried today in the very latest build and it no longer happens, which is very good news. :)
I had tried the X and DBO imported files, and both work as expected; although they are the same meshes in the above video.
https://youtu.be/yObIHpwXFBc

So, I'm going to close the thread as fixed. :)

[2022-02-24 14:50] #2234 closed

[2022-02-24 14:58] Granada1 opened #2265 "Maxing out normals to get shadows working"
Hi guys ,as the title says i am having to max out the normal setting to get proper shadows working, tried different settings with no luck , i sent a link to Lee for the model a couple of days ago

https://www.youtube.com/watch?v=C54HVOLFJ10

This is from a early build

https://www.youtube.com/watch?v=pG0AdWZ5Pno

[2022-02-24 15:37] plemsoft commented on #1745
@rvanner Been spending some hours on this , and concluded that the current "scale divider" is the best solution for now, as the real scale values is in "advanced settings" - Scale X,Y,Z that display the real values , the problem is that that scale x,y,z do not have to be the same values, so say scale x = 10 y = 20 z = 10 , then when you use the "Scale Divider" it will scale depending on the curren

[2022-02-24 15:38] dllllllllllb commented on #1616
@LeeBamberTGC Couldn't access these as well. I tried using t.playercontrol vars, but it still didn't work. I've added a short damage immunity period after teleporting.

[2022-02-24 15:39] rvanner opened #2266 "Replace old explosion with the grenade explosion"
Remove the old explosion and replace it with a scaled up version of the grenade explosion.

[2022-02-24 15:49] LeeBamberTGC commented on #1616
@dllllllllllb Good call. If you cannot go through, go around ;)

[2022-02-24 15:49] #2256 closed

[2022-02-24 15:55] rvanner commented on #1745
We should deal with it post EA release.

[2022-02-24 16:15] fearlesswee commented on #1439
@plemsoft Can confirm it still occurs on the latest build.
- Open any level/map.
- Place down any asset.
- Try rotating them using the widget rather than the sliders.
- Model will jitter and randomly rotate uncontrollably.

I even used the same sofa model here!

https://user-images.githubusercontent.com/56294129/155563065-6f79879e-f16a-4198-be43-55183d18ff42.mp4

Here it is also occurring on a sto

[2022-02-24 16:41] plemsoft commented on #1755
@rvanner This has been fixed and will be in the next update.

[2022-02-24 16:42] plemsoft commented on #1515
@janekste Thanks for reporting this issue, this has been fixed for "Default Font" and Arial, ready from the next update :)

[2022-02-24 16:45] ZakJudges commented on #2050
Hi @casigus, are you still experiencing this in the latest build?

[2022-02-24 16:49] LeeBamberTGC commented on #2237
@ZakJudges In latest build, the characters now respect to every hit, and based on the body area, will react differently, and use a random choice of two hurt animations, and random start position of those hurt animations, including a third stagger back animation when shooting their feet.  Works nice, try it with the automatic rifles :)

[2022-02-24 16:54] LeeBamberTGC commented on #2260
@dllllllllllb Only need one category tag :)

[2022-02-24 16:55] LeeBamberTGC commented on #2265
@dllllllllllb Can you reproduce this for me with stock media? @Granada1 Perhaps you can email Maciej the files he needs to reproduce.

[2022-02-24 16:58] synchromesh62 opened #2267 "ImageZone locks up Standalone Game"
As stated in Standalone the Game locks up with a **Runtime error** when using an Image Zone
Also noted that the images are not carried over and manually doing it does not work.

![imagezone](https://user-images.githubusercontent.com/35708217/155571162-ec08d635-b949-457f-a62d-72c66d582e09.png)

[2022-02-24 17:03] UltraVox001 commented on #2267
Does this problem also occur in the TestLevel ?
Because I have an almost identical error message when I use a night vision script :
![RuntimeError](https://user-images.githubusercontent.com/96718175/155571991-d9f96d0c-48e2-4554-83ca-b6dece2b8ba0.png)

[2022-02-24 17:05] Granada1 commented on #2265
@LeeBamberTGC ,i cant find the email address for dllllllllllb  !

[2022-02-24 17:07] synchromesh62 commented on #2267
It works fine for me in testgame. Its just standalone it locks up and its a CTRL-ALT-DEL to get out of it

[2022-02-24 17:13] synchromesh62 commented on #2266
Even one of Graphix in Classic would be better than the default.
https://www.youtube.com/watch?v=2cIzcMV7AsY

[2022-02-24 17:16] dllllllllllb commented on #2265
@Granada1 My email is maciej@thegamecreators.com :)

[2022-02-24 17:16] dllllllllllb commented on #2265
@Granada1 My email is maciej@thegamecreators.com :)

[2022-02-24 17:26] Granada1 commented on #2265
Link to model and textures sent

[2022-02-24 18:09] ArgentArts opened #2268 "GameGuru MAX - Custom Foot Fall Sounds for Materials"
Since footfall sounds are related to materials, could we add a slot to materials, both on import and in the materials properties section when editing an entity, to add our own custom sounds for foot fall effects? I'm creating my own interior-only test level in MAX and would love to have my own custom footfall sounds.  Since I've created floor panels, I'd either like to be able to attach footfall s

[2022-02-24 18:13] UltraVox001 commented on #2268
Great minds think alike :) [https://github.com/TheGameCreators/GameGuruRepo/issues/2140](https://github.com/TheGameCreators/GameGuruRepo/issues/2140)

[2022-02-24 18:14] GraPhiX-Guru opened #2269 "GameGuru MAX Terrain editing icons need changing"
Hi the erase and restore icons are the same, and i have clicked on the wrong icon more than once, i am an old man LOL.

Can we have a different icon for restore ? i have attached one that does look more like an undo ;) feel free to use.

Current Icon:
![ssrestore](https://user-images.githubusercontent.com/35724756/155582934-e7038b37-75f4-4bda-a878-c70ffa02f777.png)

Custom Icon:
![restoreblue](htt

[2022-02-24 18:14] ArgentArts commented on #2140
This is a definite must-have!
https://github.com/TheGameCreators/GameGuruRepo/issues/2268

[2022-02-24 18:15] ArgentArts commented on #2268
Indeed. Sorry I didn't see yours. I've posted there as well.

[2022-02-24 18:17] ArgentArts commented on #2140
Forget FPE files. Seriously. We should not have to leave MAX to do something as simple as add a sound file for a footfall. We should not have to be editing .ini files, .fpe files, etc. to get games to work. This is supposed to be pretty close to an "easy game" system. Simply add a field to the material area where we can load in a sound file right there in the MAX properties panel.

[2022-02-24 18:18] UltraVox001 commented on #2268
Don't worry about the duplicate. If many of us ask for it, this function will appear. :)

[2022-02-24 19:06] LeeBamberTGC commented on #2249
@ZakJudges Added code to latest build so the GETCLOSE behavior of the soldier no longer passes through walls.  If you see other ways the characters will go through walls, that is not a direct forward movement towards a point close to the player, post here.

[2022-02-24 19:06] LeeBamberTGC commented on #2249
In the next build, uploading shortly, will email.

[2022-02-24 19:09] LeeBamberTGC commented on #2140
@ArgentArts We cannot delete FPE files, they define the out-of-the-box settings for different objects.

[2022-02-24 19:11] ArgentArts commented on #2140
I did not say to delete any FPE files. Where did you read that? I said we should not have to be editing FPE files or INI files. The point is, the end-user should not have to leave MAX, search through directories to find the correct FPE or INI files, open them, and make changes. Instead, they should be able to do what they need to do RIGHT IN MAX.

[2022-02-24 19:12] ArgentArts commented on #2140
What about about "forget FPE files" was that we should not have to leave MAX to do things like add sound files for footfalls, etc. Sorry if that was misunderstood.

[2022-02-24 19:17] LeeBamberTGC commented on #2140
@ArgentArts Right, gotcha.  I agree completely, leaving the software and messing about with internal files to do general game-making stuff is a BIG NO-NO for MAX!  There are a number of materials at the moment, the biggest ones I can think of are the terrain materials which are fixed, and the custom materials per object. I assume you mean being able to override the given 'material mode' with a cus

[2022-02-24 19:20] LeeBamberTGC commented on #2248
@ZakJudges At the moment the idea is that we connect characters together to form 'squad' cooperation for specific areas of your level design.  Are you recommending something more akin to 'agro' by default, so ANY character within range of a combat sound and set to an enemy of the player heads towards the gunfire and engages in combat?  I am thinking perhaps we have some kind of higher intelligence

[2022-02-24 19:21] ArgentArts commented on #2140
What I mean, for myself, is if I import a model, such as a tile to be used for a floor, I want to be able to assign a footfall sound to it. I make my own models and am primarily interested in interior-only levels. But even with terrains, I would want to be able to assign my own sounds, if I wanted to.

For models, I think it would be best/easiest, if there were a simple sound import area under Mat

[2022-02-24 19:21] LeeBamberTGC commented on #2247
@ZakJudges Thanks for the map. We do have an improved navmesh system on the way which will handle terrain details such as unclimbable slopes and underwater areas, and I suspect this issue will go away when we implement that. Leaving this for now and will re-test when we have new navmesh :)

[2022-02-24 19:25] LeeBamberTGC commented on #2140
@ArgentArts So we can keep materials for terrain and custom materials separate, how about the concept of a 'real world material' and having sounds associated with them, and the user being able to create additional material types. This way the user can assign existing materials that we have already provided:

![image](https://user-images.githubusercontent.com/35840583/155593097-9677cd48-69e5-4a0b-b

[2022-02-24 19:33] ArgentArts commented on #2140
That sounds good to me as long as it's simple to use, flexible, and allows the end-user to easily assign sounds to what they need.

The only caution I throw out there is this - when MAX first started, it was all about the end-user being able to import their own grasses and painting with them, importing their own trees and painting them in, etc. Then, it became bioms and, as of now, the end-user ca

[2022-02-24 19:33] UltraVox001 commented on #2140
@LeeBamberTGC
What @ArgentArts is saying is that editing an .FPE file should be done in Max.
Here in this case, we would need to add a sound to a Material, without having to :
1/ Look for the .FPE
2/ Modify the .FPE manually
3/ Save the Map
4/ Exit Max
5/ Reopen Max
6/ Load the Map
7/ Test the Material
All this, just to add a sound to a Material.

Not only would Max need to know how to do this fro

[2022-02-24 19:36] ArgentArts commented on #2140
Yep. A simple method of importing a sound file at the end of the material properties area in MAX is all that's needed. You select your entity (a floor tile, for example), go to edit the material (select the Material tab on the right-side), and import a sound file. DONE. That's it. Simple.

[2022-02-24 19:39] UltraVox001 commented on #2140
@ArgentArts
However, consider what @LeeBamberTGC says. The list of files to provide does not stop at 1 sound. Several are needed. The sound of sidesteps is not the same as that of moving forward or backward. The one for running too, it is different from the one for walking. etc You have to be aware of all this and not imagine that it is enough to add 1 sound. :)

[2022-02-24 19:46] UltraVox001 commented on #2140
@LeeBamberTGC
I suggest you add a button in the UI (Materials section) that opens a Panel for managing all Footsteps. If the user only has one sound, too bad for him. :) The most important thing is to allow us to modify all the footsteps at our convenience, and to allow Max to play the TestLevel without having to reboot Max (immediate taking into account of new sounds).

[2022-02-24 19:47] UltraVox001 commented on #2140
In the worst case, add an option to reset the original sounds. :)

[2022-02-24 19:49] ArgentArts commented on #2140
![footfall](https://user-images.githubusercontent.com/36735507/155596416-bfaca63b-c23b-4f26-97b8-383451570e6a.png)

Well, I created this before what UltraVox001 had said, but it could also open to folder of sounds.

Better yet, there could be a set of rules for how to create sounds. For example footfall sounds should end with the following:

_walk
_run
_sidestep

Etc.

You can start the sound name

[2022-02-24 19:51] ArgentArts commented on #2140
Hey! At least there's a discussion going on about this. ;)

[2022-02-24 20:13] ArgentArts commented on #2140
Okay, so, here's how we make it simple -

Many game engines, MAX included, already have naming conventions for things like materials. If you import a model and it's albedo is named Rifle_albedo, then it looks for Rifle_normal, Rifle_Metallic, etc. (or Rifle_n, Rifle_m, etc.). You don't have to import a folder of textures or import all textures. The game editor looks to see if all textures are ther

[2022-02-24 20:30] ArgentArts commented on #2268
I've posted this in the other topic, but I'll post it here, too:

The end-user should be able to select an object, such as an imported floor tile, and go to the Material properties on the right to import their custom footfall sounds:

![155597527-14ad8e94-408f-4cea-a6e4-254dc7e71186](https://user-images.githubusercontent.com/36735507/155601949-85a29fd0-4fd5-470b-8c55-c0a6e369c98a.png)

They would

[2022-02-24 21:13] UltraVox001 opened #2270 "GG Max Bug Report (with last internal build) - Terrain Bug"
Latest Max internal update (2022-02-24).
Max is giving me two huge Terrain bugs. It is not possible to delete them. The Restore Terrain does not work on these bugs, nor any other Terrain modification tools. The tools work everywhere else, but not on the bugs.
![Original Map](https://user-images.githubusercontent.com/96718175/155608401-6a1aefa0-48b8-4c6b-9ee9-2144caffc6da.jpg)
I had made a backup c

[2022-02-24 21:24] OldFlak commented on #1851
@ZakJudges Hi Zak - the issue persists in today's build.

[2022-02-24 21:28] OldFlak commented on #2243
@plemsoft Hi Preben - not seeing this issue in today's build - looks like you nailed it :)

[2022-02-24 21:47] ArgentArts commented on #2270
Wow. It looks like the terrain auto-flattening thing gone mad ... trying to flatten the terrain under those two items only, failing miserably, and pushing the terrain upward ... way upward.

As a possible workaround, have you tried grabbing and moving those two models somewhere else? Then saving (under a different name to be safe), closing, and reopening to see if anything changes at all?

[2022-02-24 21:55] UltraVox001 commented on #2270
It's unrelated, in my opinion.
The FPE of both elements does not contain the line : "autoflatten = 1" :)
It's a terrain bug like I've discovered others over the past few weeks. :)

[2022-02-24 22:41] LeeBamberTGC commented on #2211
@dllllllllllb No worries, assign it to me as I have some familiarity with the object placement system. I have assigned a few new issues for you this week so plenty for you to get stuck into :)

[2022-02-24 22:42] LeeBamberTGC commented on #2031
Commit included in Friday AMs internal build this week.

[2022-02-24 22:46] Necrym59 commented on #1921
Elevator V12
-zip includes royalty free sound files
[Elevator_v12.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8137019/Elevator_v12.zip)

[2022-02-24 22:49] UltraVox001 commented on #1921
@LeeBamberTGC and @rvanner
Tested and approved. :)
Elevator up to 2 floors, with adjustable height, per floor.
You choose the height for both floors.
You can go up and down with A and W.
Good script for Max ;)

[2022-02-24 23:03] ArgentArts commented on #2270
Or it's happening (a bug) despite you having autoflatten set to 1. Just a thought.

[2022-02-24 23:10] UltraVox001 commented on #2270
To my knowledge, the only elements of Max with the auto flatten are the buildings located in "Building Collection". It is not possible (for the moment) to impose an auto flatten on an element which does not have the line "autoflatten = 1" in its FPE.

However, I made a request to generalize the situation.
That is, allow any object to be auto flattened, if the user requests it.
Read : [https://gith

[2022-02-24 23:33] Necrym59 opened #2271 "GG Max Feature Request - LUA Commands for Filter Effects Environments"
The lua commands for setting the envionmentals eg: -
  SetAmbienceRed()
  SetAmbienceBlue()
  SetAmbienceGreen()
  SetAmbienceIntensity()
  SetSurfaceGreen()
  SetSurfaceRed()
  SetSurfaceBlue()
  SetSurfaceIntensity()
  SetFogRed()
  SetFogGreen()
  SetFogBlue()
  SetFogNearest()
  SetFogDistance()
  SetPostVignetteRadius = ()
  SetPostVignetteIntensity = ()

dont work as yet. Is this going to be

[2022-02-24 23:54] UltraVox001 commented on #2271
@LeeBamberTGC
We would like to code a Night Vision script using (possibly) Max's functions located in "Environment Effect" -> "Filter Effect".
Could you unlock these LUA features, please ?
When you have some availability.
Thank you. :)

[2022-02-24 23:54] Necrym59 commented on #2250
Actually all they need to do is put a prone feature in the player control lua
if g_Prone then
	SetGamePlayerStatePlayerDucking(1)
	SetGamePlayerControlBasespeed(0.05)
	SetGamePlayerControlIsRunning(0)
etc...
plus modifying extra code for it and applying a key for it etc. Probably good as future feature after release.

[2022-02-25 00:45] Necrym59 commented on #2270
Lol thats one nice looking map there Ultra

[2022-02-25 06:45] Kitakazi commented on #1601
@plemsoft Man, the performance is a little bit better but overall it's still pretty bad. The levels do load waaaay faster and to get into test game is way faster as well which is nice. If this loading speed is the same in standalone that would be game changing.

But, once in the actual test game... the performance is still really bad. Testing right now on Version 2022.02.25
I've mainly been workin

[2022-02-25 07:47] UltraVox001 commented on #2270
@Necrym59 Thank you.
For the moment, this map contains 1462 3D objects.
Great for testing things out. :)

[2022-02-25 08:21] Necrym59 commented on #2270
A good test map i would say...is that a climber i see tucked away there ;)

[2022-02-25 08:23] UltraVox001 commented on #2270
All your scripts are on it. They are all useful.
And they all have to work together :)

[2022-02-25 08:40] UltraVox001 opened #2272 "GG Max Bug Report - The Giant Camera Shadow (Edit + TestLevel)"
For several versions, there is a giant shadow (that of the camera) that appears in front.
We see it clearly when we have the sun behind us.
It is even more visible on the mountain massifs and wherever there are trees and water.
TestLevel :
![TL](https://user-images.githubusercontent.com/96718175/155686617-da48ffd2-da93-4358-a8b2-1f508849afa7.jpg)
Edit Mode :
![CameraBug1](https://user-images.githu

[2022-02-25 08:49] rvanner opened #2273 "MAX should report missing media but not crash"
Due to a partly updated build these screens appeared. Ideally MAX will let the user know files are missing and advise the user verify their files and then continue without crashing.
![image002](https://user-images.githubusercontent.com/1503593/155684447-8601ec6c-c5f7-4451-9698-18fd3de5668e.png)
![image001](https://user-images.githubusercontent.com/1503593/155684459-b5fbdb90-2bda-44eb-a40b-1f463af4

[2022-02-25 08:50] rvanner opened #2274 "Max installer needs to avoid looking like it's not trusted"
![image003](https://user-images.githubusercontent.com/1503593/155684648-00ab4b28-7a68-43d5-8fd8-a18b703577f2.png)

[2022-02-25 09:12] rvanner commented on #2158
@plemsoft OK, so the version I updated didn't turn off the stats so I assume the next on will.

[2022-02-25 09:13] #2148 closed

[2022-02-25 09:13] #1944 closed

[2022-02-25 09:14] #1755 closed

[2022-02-25 09:16] #2272 closed

[2022-02-25 09:46] ZakJudges commented on #2237
@LeeBamberTGC Awesome stuff, feels way more responsive now :)

I noticed it seemed like some of my shots still were not registering, slowed the enemy right down and it seems at certain poses, the hit bounds of the lower portion of the character are out of sync with the animation playing. Here's a video:

https://www.youtube.com/watch?v=3DZ3O-RZYR4

[2022-02-25 09:58] ZakJudges commented on #2248
@LeeBamberTGC In my opinion, enemies of the player should be able to hear any combat sound if they are within range. However, I think you raise a good point about half the map descending on the player. Perhaps enemies from different 'squads' have a very limited range of hearing combat from other squads? Here is a video showing a problem with the current implementation:

https://www.youtube.com/wat

[2022-02-25 10:39] ZakJudges commented on #2270
@LeeBamberTGC this happens to me as well.
Steps to reproduce:
- place some buildings down that have autoflatten = 1
- place some objects that do not have autoflatten
- save and quit the software,
- reload the map there will either be large raised areas of terrain like seen above, or regions that have sunk lower that the object above them

[2022-02-25 10:43] UltraVox001 commented on #2270
@ZakJudges @LeeBamberTGC
This bug also occurs on a completely blank map created with the latest build.
There is no building. No 3D objects. Do you want the blank map ?
![EmptyMap](https://user-images.githubusercontent.com/96718175/155701730-e146c003-13ea-448c-ad6e-2b6c2ee369f3.jpg)

[2022-02-25 10:44] plemsoft commented on #2158
@rvanner It works for both mode , superdevelopermode=3 and the checkbox , so you properly have "superdevelopermode=3", to test it you should set it to superdevelopermode=0 like a normal user :)

[2022-02-25 10:45] ZakJudges commented on #2270
@UltraVox001 Yes please attach it here :)

[2022-02-25 10:46] ZakJudges opened #2275 "Painting trees near water"
Can't paint trees near the water (by design - based on the water distance slider). But there is no information letting that user know they cannot do this, if they try to.

[2022-02-25 11:05] UltraVox001 commented on #2270
Map too heavy for Github, here is a download link : [https://we.tl/t-L9lBxrajI9](https://we.tl/t-L9lBxrajI9)
- For the bug to occur on this blank map, I must first load a map in which there are objects.
- Once this big map is loaded and after noticing the bug, I load the blank map and there is the bug.
- The appearance of the bug is exactly the same in both maps.
- I placed a StartPlayer in front

[2022-02-25 11:41] #2158 closed

[2022-02-25 11:54] UltraVox001 opened #2276 "GG Max Feature Request - Add Tarmac Texture"
Max has the Tarmac (Asphalt) sounds, but not the texture that goes with that sound. So Max is missing an important texture. Tarmac texture. This texture would prevent the developer from using 3D objects to cover the ground with a tarmac texture, which Max does not offer him. We could easily make parking lots and asphalt roads. Currently Max forces us to lose FPS for such a simple thing. Yet it alr

[2022-02-25 12:30] plemsoft commented on #1580
@ArgentArts Thanks for reporting this issue , found the problem with the hidden "Level Objects" window, and fixed it, about the icons they have now changed and go to columns , if this is still a issue for you please create a new issue as this is how its designed and not really a bug , Thanks for your help :)

[2022-02-25 12:44] plemsoft commented on #1785
@LeeBamberTGC Auto flatten cant be restored the way it works now, when we load a level we cant restore autoflatten before the terrain is done creating (or autoflatten get incorrect height), a way to fix it could be to add auto flatten into GGTerrain_InvalidateRegion , so it also reset autoflatten areas, or have a command to convert autoflatten areas into heightmap data so the areas is saved with t

[2022-02-25 12:44] #2243 closed

[2022-02-25 12:48] ZakJudges commented on #1671
@sirlion87 Thank you for reporting this issue. A fix has been added and will be in next Friday's build

[2022-02-25 12:50] ZakJudges commented on #1663
Hi @sirlion87, are you still experiencing this issue when importing the object in the latest build? If so, would you be able to send me the model (zak@thegamecreators.com) so I can reproduce the issue? Thanks :)

[2022-02-25 12:52] PaulSJ commented on #1785
@plemsoft It should be possibel to add flat areas before the terrain is ready, the height will be set as NAN and then updated when the terrain is ready

[2022-02-25 12:55] ZakJudges commented on #1656
Hi @Necrym59, so I can reproduce this. Would you be able to send me the model and the .fpe file that was generated for it? Thanks!

[2022-02-25 13:34] dllllllllllb opened #2277 "Particles - X/Y/Z scale bug"
When you change particle X/Y/Z scale, it applies the new scale to all axis and the slider sets itself to 1

[2022-02-25 13:36] dllllllllllb opened #2278 "AI - Rate of fire with machine guns and shotgun"
AIs rate of fire is ridiculously high when shooting machine guns, especially assault rifle and shotgun.

[2022-02-25 13:49] Pcskiller commented on #2048
Any feed back on this we really need this , it would be supper awesome if we could right click on a tree and edit the model for that block and then pick any 3dmodel to populate with the rest of the trees. just like when you edit the texture block before you paint.,

[2022-02-25 13:51] Pcskiller commented on #1768
yes some time i have to download tree or four times with errors and then after that then it download correctly

[2022-02-25 13:53] dllllllllllb commented on #1356
@LeeBamberTGC Where can I find the Behaviour Editor? When I create a new behaviour these windows are not popping up.

[2022-02-25 13:54] LeeBamberTGC commented on #1356
@dllllllllllb Select the AI from the Developer Mode settings panel, and they will appear when you go to TEST LEVEL

[2022-02-25 13:54] Pcskiller commented on #1734
Anny feed back on the new rocks. ??   like i said if you guys can take the same models for the artic snow and retexture the white snow rock and texture it for the other biomes it would be perfect already.

[2022-02-25 14:11] ZakJudges commented on #1768
@Pcskiller Thank you for the info. Would you be able to attach install_errors.txt the next time you get an error? It's usually located in Documents\GameGuruApps\GameGuruMAX

[2022-02-25 14:44] AmenMoses opened #2279 "Weird rotation issue with DYNAMIC scaled entities"
See video: https://vimeo.com/681897554

Only difference between the working one and the weird one is the scaling value in the .fpe file, i.e. first is 100 second is the default 50.

Using this script (which I wrote in response to another issue):
[door_sliding.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8141977/door_sliding.zip)

[2022-02-25 15:01] AmenMoses commented on #2279
They are rotated by about 45 degrees btw, with no rotation the problem doesn't show up.

i.e.
![rotate issue](https://user-images.githubusercontent.com/35708338/155737413-358d33ff-1771-42a5-9ea0-0c8a297f9423.png)

[2022-02-25 15:10] plemsoft commented on #1785
@PaulSJ The loading of a map is a blocking process , so when you load a "flat" level , we setup the terrain and after that the objects and set add autoflatten , but at this point as the loading is blocking the terrain still have the old data (even if the terrain has been setup with the new terrain data) so the flatten areas get the height from the previous terrain , like in this screenshot at the

[2022-02-25 15:28] PaulSJ commented on #1785
Now that I think about it maybe the building should determine the height.

I've committed a change to PJ-Branch4 that adds an additional parameter to GGTerrain_AddFlatRect, GGTerrain_AddFlatCircle, and GGTerrain_UpdateFlatArea that allow the caller to set the height. If not set then it behaves as it does now and lets the terrain set the height.

[2022-02-25 15:50] PaulSJ commented on #2246
This should be better in the next build, the transition time will be slower

This will be a problem unless the light probe is directly centered on the reflective sphere. To get it perfect every reflective object would need to have a light probe for itself, not impossible but it would use a lot of light probes

I think there does need to be a manual light probe system for those users that want to u

[2022-02-25 15:55] rvanner opened #2280 "Terrain Generator - grabber is offset on Meash's laptop"
@plemsoft Meash is seeing this on his laptop! Maybe related to aspect ratio?

![image](https://user-images.githubusercontent.com/1503593/155746083-105c6e11-6dd5-4138-b9dd-760d6d1611d8.png)

![image](https://user-images.githubusercontent.com/1503593/155746160-f1a9a5cf-76de-455c-be07-58d7655f19a9.png)

[2022-02-25 15:58] ArgentArts commented on #2246
Definitely was not expecting something before the March release. But it would be nice to see down-the-road, for certain. As an artist, lighting is one of the most important things you can work on in a game, especially for indoor levels. When an artist does not have any control (or very limited control) over light probes, it takes away a lot from the artist ... it removes or extremely limits one of

[2022-02-25 15:59] rvanner opened #2281 "Terrain Generator into Level Editor"
When a user has made a new level with the terrain generator and then come into the Level editor, do the following to make the experience easier for them;

- Position the camera at the height seen in the image below (so near the ground)
- Clear all trees within 800 units of the center so the user can see an area to start adding objects into

![image](https://user-images.githubusercontent.com/150359

[2022-02-25 16:00] rvanner opened #2282 "Very slow frame rate when running Skype and test level"
Why is my CPU maxing out when I try to demo MAX during a Skype call?

![image](https://user-images.githubusercontent.com/1503593/155746921-91349614-b34c-4583-8f8d-dbfbde99415e.png)

[2022-02-25 16:01] rvanner opened #2283 "Dynamic LUA variables need spaces adding to them so they are readable"
![image](https://user-images.githubusercontent.com/1503593/155747189-5b739b61-dcca-4492-a1ad-14191d43d035.png)

[2022-02-25 16:07] rvanner opened #2284 "Remove the light probe scale slider (not used any longer)"
![image](https://user-images.githubusercontent.com/1503593/155748078-82e6a4a5-b4ea-48c9-bc54-686cfc29aabb.png)

[2022-02-25 16:10] rvanner opened #2285 "HUB - swap the games list around with the preview"
Have the games list (demo games AND my games) so the list is on the left and the previews are on the right like this:

![image](https://user-images.githubusercontent.com/1503593/155748448-8490bbba-13d2-4af6-89c3-affc972074f7.png)

[2022-02-25 16:13] rvanner opened #2286 "HUB - if the user double clicks on one of the demo games small thumbnails, make it edit that demo"
Double click on a demo thumbnail = edit that demo.

![image](https://user-images.githubusercontent.com/1503593/155748889-18a018a2-b872-4953-9301-006662f044a6.png)

[2022-02-25 16:14] AmenMoses commented on #2283
Just use underscores.

[2022-02-25 16:15] rvanner opened #2287 "Play demo game or play my games"
Currently, when the user clicks PLAY GAME, the system shows the storyboard and then the game is loaded. This needs to be cleaned up and should not show the storyboard, it should show the loading splash screen of the game.

[2022-02-25 16:17] rvanner opened #2288 "If a user types in a new game name and presses ENTER, continue and make the game (no need to press the button)"
Allow the user to type a name of a game and if they press ENTER let that be the same as pressing Create Game Project

![image](https://user-images.githubusercontent.com/1503593/155749491-f5f9093d-6187-4811-9c2d-58f8e407bd3a.png)

[2022-02-25 16:23] rvanner opened #2289 "For each demo game, add controls and objectives to the loading screens"
For each demo game, add some text like this so new users know the controls and have an idea of what to do in the game.
The text will have to be pasted into the background of the loading screen.

![image](https://user-images.githubusercontent.com/1503593/155750321-abb10a84-d816-4902-bc9f-50e86ce1c468.png)

[2022-02-25 16:40] ArgentArts commented on #2288
I'm kind of mixed on that one. I may hit ENTER and then realize I've misspelled the name of my game. Having to go and actually click Create Game Project sort of forces me to recheck things before committing.

[2022-02-25 17:02] casigus opened #2290 "naviation meshes"
everything was working fine last night, now with out doing anything but going to sleep and waking up, Nav meshes kill max with memory use jumping to 26.628 and max just completely freezes.

yayy.

![image](https://user-images.githubusercontent.com/68471279/155755998-bc56c982-f493-402d-82f6-52f2c90dfca7.png)

[2022-02-25 17:12] casigus opened #2291 "naviation meshes"
everything was working fine last night, now with out doing anything but going to sleep and waking up, Nav meshes kill max with memory use jumping to 26.628 and max just completely freezes.

yayy.

![image](https://user-images.githubusercontent.com/68471279/155755998-bc56c982-f493-402d-82f6-52f2c90dfca7.png)

[2022-02-25 17:49] LeeBamberTGC opened #2292 "NAV MESH Needs to Support Large Levels (Island Showdown)"
New Friday nav mesh is working again for smaller levels, both terrain and static objects,m and improved debugger rendering. Larger levels needing lots of input polygons still fails with RECAST:

![image](https://user-images.githubusercontent.com/35840583/155762972-e1456421-e406-4bb6-97c0-d642d8df439d.png)

Above is a shot of the produced OBJ file that goes into RECAST and it uses 3 million polygon

[2022-02-25 17:53] LeeBamberTGC commented on #2292
NOTE: Possible solution discussed here: https://forum.arongranberg.com/t/using-tilehandler-to-additively-load-tiled-recast-graphs/1284

[2022-02-25 18:02] ArgentArts commented on #2229
So, while adjusting Reflectance does help with something like the leather material (and other materials like it), it can also cause issues with materials that have both a part that is to be shiny/reflective and a part that is to be dull/non-reflective. There are often materials that are both, like rusted metals, where the rusted areas are very dull, but the non-rusted areas are not dull, but conti

[2022-02-25 18:42] AmenMoses commented on #2173
See #2279 for script

[2022-02-25 18:47] ArgentArts opened #2293 "GameGuru MAX - Future Request - Custom BIOM Enhancement"
Currently, the end-user has to choose from a selection of Bioms and sort of take what they are given. Yes, you get to choose Plains, Desert, Forest, etc., but many users want to really create their own custom bioms, perhaps even with their own trees, grasses, plants, and terrain textures. What I would like to suggest is a means to allow this to happen right there in the Terrain Generator.

One of

[2022-02-25 19:00] ArgentArts commented on #2173
Thanks! Works a treat!

[2022-02-25 19:00] casigus commented on #2156
forgive me, ive tuned off most of this week, not really done anything. brain needed a rest. I'll get it done with the new update. I tried to go big with the standalone demo and that was my mistake, so going to build a single level using max only assets and showing off the different things max can do. sorry aboot the delay, mental health has to come first, but ill get this done.

[2022-02-25 19:01] casigus commented on #2121
its a less of issue now, noticed it less after last weeks update.

[2022-02-25 19:01] #2121 closed

[2022-02-25 19:02] casigus commented on #1744
things are alot better for sure.

[2022-02-25 19:02] #1744 closed

[2022-02-25 19:03] casigus commented on #1804
glad I was able too assist!

[2022-02-25 19:03] #1804 closed

[2022-02-25 19:04] casigus commented on #1510
fantastic. if any more water problems pop up ill report it in.

[2022-02-25 19:04] #1510 closed

[2022-02-25 19:05] casigus commented on #1504
oh yes memory usage is less, however it does jump back up when calculating nav meshes, but put that in as a report.

[2022-02-25 19:05] #1504 closed

[2022-02-25 20:35] Necrym59 commented on #1656
Hi Zac
Here are the files having looked at the FPE transparency wasnt activated from the importer at the time even though it showd transaperency if its activated now in the FPE it works so it was just duing the import, it may have already been fixed by now.
The original images were png perhaps they had somthing to do with it. Im also in the process of redoing them anyway with dds images which seem

[2022-02-25 20:56] Tum1370 opened #2294 "GG Max - Bug - Character HP and Gun Damage"
I have just tested several scenarios with guns and characters and every time the damage and health of enemy does not seem correct.
As a example, I set a enemy to only have 20 HP, and had a pistol to only do 2 damage per shot.
But every test, i always one shot the enemy.

I tested this same theory with different numbers and always did not add up right on damage / hp .

[2022-02-25 21:10] Necrym59 commented on #2283
Arnt they tied to the variables name in the script? I will go through the ladder script and adjust, fix with underscores if that helps.
It would be nice in dynamic lua there was some 'fielddescriptor' as well as the actual fieldname, such as
['E to use prompt:',[ETOUSEPROMPT$="E to use"] that allowed the 'fielddescriptor' to be shown above the fileds.

[2022-02-25 21:28] casigus commented on #2050
yeah actually. doesn't happen alot, but some imported models just don't have collisions once entering test mode.

[2022-02-25 22:53] LeeBamberTGC opened #2295 "Restore all characters to 500 health"
With the new 'every bullet hurts' system for characters, depleting character health is more interesting, so restore this to avoid one shot kills.

[2022-02-25 22:54] LeeBamberTGC opened #2296 "Create more 'hurt animations' to slightly move character from direct fire"
Suggest variations of animation to move the character with a hurt animation to:

2 x left
2 x right
2 x upper body hit
2 x lower body hit

[2022-02-25 22:56] LeeBamberTGC opened #2297 "Add animation for characters to TURN ON SPOT"
Thi is to avoid the 'walk aim stop' which MOVES the character, potentially through a wall. Have a generic not left not right animating feet anim which allows any rotation of the main character object to take place.

[2022-02-26 00:41] Necrym59 commented on #1872
Attached is V17 of the Ladder Script

- Fixed the readability of the behaviour prompts/options and their variables
- Internal fix for use of the default prompt to display when climbing ladder even after the E key option to mount is used.  Turning off the Default prompt then only uses the E to mount prompt.
[ladder_v17.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8145560/ladder_v17.zi

[2022-02-26 00:42] Necrym59 commented on #2283
Done
Updated file here for future release
https://github.com/TheGameCreators/GameGuruRepo/issues/1872

[2022-02-26 01:19] janekste commented on #1515
@plemsoft I confirm that I can now create a game menu in Russian. Bug fixed. It is very important for me to be able to use Cyrillic, Russian letters. Thank you for your work.

I hope that in the future the trigger "Text Zone" will also display Russian letters. The Cyrillic alphabet should work in all GameGuru Max scenarios, not just in the menu editor. But about this, I should probably create a ne

[2022-02-26 01:19] Necrym59 commented on #1970
Attached V7
- Fixed the readability of the behaviour prompts/options and their variables
- Internal fix for use of the default prompt to display when climbing ladder even after the E key option to mount is used. Turning off the Default prompt then only uses the E to mount prompt.
[climber_v7..zip](https://github.com/TheGameCreators/GameGuruRepo/files/8145630/climber_v7.zip)

[2022-02-26 01:21] smmaas opened #2298 "island showdown"
![image](https://user-images.githubusercontent.com/45684694/155823151-74f06381-133b-4be0-b5d1-878188457d32.png)

[2022-02-26 01:54] ArgentArts commented on #2284
Light probe scale is still there as of this Friday's build.

[2022-02-26 02:22] ArgentArts opened #2299 "GameGuru MAX - Bug - Level Disappears"
Did a Fresh Install of MAX, built a new test level to test PBR materials, saved everything, closed MAX, opened again, and this is what happened:

https://user-images.githubusercontent.com/36735507/155825175-6ecdbc2b-0d27-49c6-8880-8a9cc3c5dff8.mp4

As you can see, the level initially loads, then it disappears. Initially looking around, there is nothing. Then, after a bit, there is a tall, square c

[2022-02-26 02:49] ArgentArts commented on #2299
Here's another example of this happening:

https://user-images.githubusercontent.com/36735507/155826061-637f3109-878f-4d30-9f6a-9b8bc4163711.mp4

It's repeatable every time for me.

[2022-02-26 03:13] ArgentArts opened #2300 "GameGuru MAX - Stand Alone Bug - Game Stutters Initially"
When I first start any stand alone game that I export, the game stutters for as long as I stay in my initial position. If I move the camera, but don't walk, the camera is choppy. It's not until I've taken several steps that suddenly everything is smooth as silk and I can move smoothly, both walking and camera movement. Here's a video:

https://user-images.githubusercontent.com/36735507/155826622-0

[2022-02-26 05:02] ArgentArts opened #2301 "GameGuru MAX - Stand Alone Includes Tons of Files Not Needed!"
I exported a stand alone of a test file that contains a warehouse placed in an empty level (no "terrain" with no grass and no trees) and several my own PBR spheres for testing PBR materials. That was all that's in the level. But the folder is 1.34GB in size. Looking in the folder I see that there's a lot in there that is not a part of my test level. For example, every single particle that MAX has

[2022-02-26 08:55] #1515 closed

[2022-02-26 09:17] ZakJudges commented on #2284
@ArgentArts this should be in the next build. We try to minimise the amount of new code in Friday's release, so we can test it beforehand :)

[2022-02-26 09:23] ZakJudges commented on #2050
@casigus Would you be able to send me a model that shows the issue? Preferably the dbo and fpe if possible :)

[2022-02-26 10:23] plemsoft commented on #2299
@LeeBamberTGC I added a fix for this and sent you a e-mail, properly you missed it in these crazy times :) , anyway i think you needed to do it by hand for the Friday build, the commit is here: https://github.com/TheGameCreators/GameGuruV3Repo/commit/120158af464b0a9a11299dad3783f15a5d8a77cd

[2022-02-26 10:37] UltraVox001 opened #2302 "GG Max Bug Report - No Nav Mesh and the Characters pass through objects"
Max Update for February 27 in the evening.
No Nav Mesh and Character pass through objects :
![NoNavMesh](https://user-images.githubusercontent.com/96718175/155840057-e79400d1-52de-4e49-9ada-35a4347d5a33.jpg)
Flags Placement :
![FlagsPlacement](https://user-images.githubusercontent.com/96718175/155840359-173406b0-9095-46e0-b535-fc6f007bfeff.jpg)

[2022-02-26 11:00] LeeBamberTGC commented on #2299
@plemsoft We missed the deadline for Friday commits, but it is now in the new internal build uploaded and ready to release very soon.

[2022-02-26 11:04] LeeBamberTGC commented on #1785
NOTE: Latest commits from this work are now in the master and the new internal build uploaded, though the new command behaviors are not integrated at this time in that build.

[2022-02-26 11:33] ZakJudges commented on #1656
@Necrym59 Thank you for the attached files. I was able to reproduce the issue of alpha clipping values not being applied to the object after import. I believe the cause is related to issue #1636. Since the transparency works, I'll mark this issue as fixed. Once a fix has been added for the other issue, I will test your models again with only alpha clipping applied, and make sure it renders as expe

[2022-02-26 11:52] plemsoft commented on #2000
@rvanner This has been added , ready from the next update :)

[2022-02-26 11:54] plemsoft commented on #1636
@ZakJudges This has been fixed and committed ready from the next update :)

[2022-02-26 12:11] OldFlak opened #2303 "MAX - 2022.02.25 - Normal Grass Under Water"
Water plants no longer being painted under water
- previous versions worked fine
- now tis hit and miss

![image](https://user-images.githubusercontent.com/12246318/155842705-f85102aa-7ad8-4357-9bab-492d2ac6698b.png)

[2022-02-26 12:14] OldFlak opened #2304 "MAX - 2022.02.25 - Project Folder Clutter"
MAX is creating a jpg for each level in project: mapbank_image
If you remove those levels from the project the jpgs are not deleted
- this is not good house-keeping

The mapbank_image and the screen_image all have mipmaps
- why would they need them?

[2022-02-26 13:41] casigus commented on #2050
yeah ill have to find it but i will do

[2022-02-26 13:47] Pcskiller commented on #1768
[install_errors.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8146718/install_errors.txt)

[2022-02-26 14:01] Pcskiller commented on #1768
[install_errors.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8146746/install_errors.txt)

[2022-02-26 14:07] plemsoft commented on #2280
@rvanner Tried a few different resolutions , but could not reproduce , what resolution is he using ?

[2022-02-26 14:07] casigus opened #2305 "character triggers"
![image](https://user-images.githubusercontent.com/68471279/155846153-cf2fbe74-f190-4a4e-9ea7-155c8ce92d28.png)

there is now no way to connect trigger zones to characters......

[2022-02-26 14:42] UltraVox001 commented on #2305
Are you sure about that ?
![TZoneConnectedToCharacter](https://user-images.githubusercontent.com/96718175/155847200-cc77c33b-79ad-4a18-ad98-0985ed5ce1fe.jpg)

[2022-02-26 14:51] casigus opened #2306 "objects resizing them selves after saving or game testing."
![image](https://user-images.githubusercontent.com/68471279/155847468-2bfc8dae-0a9c-40cd-8e5b-57f560cdafb8.png)

[2022-02-26 15:03] casigus opened #2307 "switch error."
that keeps popping up!

![image](https://user-images.githubusercontent.com/68471279/155847932-e8fb8212-b344-4719-969b-1b2231ec7de6.png)

[2022-02-26 15:23] Pcskiller commented on #1768
[install_errors.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8146885/install_errors.txt)

[2022-02-26 15:28] casigus commented on #2305
Ohhh got ya.

[2022-02-26 15:30] ZakJudges commented on #1768
@Pcskiller The first install_errors.txt suggest something is going wrong between the server and your pc. The second and third error logs suggest that the updater cannot access the folder where Max is installed. Could you try running the updater in administrator mode, and send the install errors one last time?

[2022-02-26 15:31] casigus opened #2308 "Terrain Chunk Corruption"
![image](https://user-images.githubusercontent.com/68471279/155848918-a85b1b87-05f7-4f01-969d-9415fa081ab0.png)

random chunks of  the terrian randomly appearing like this.....

[2022-02-26 15:40] ivanski1983 opened #2309 "Image zone not working"
Cannot add image to image zone. The file shows up in GGMApps, but it won’t show a image to select in the user interface. Anyone else having this issue?

[2022-02-26 15:41] ivanski1983 commented on #2306
I’m having this issue too.

[2022-02-26 16:27] sirlion87 commented on #1663
Hello. Thank you for reminding me of this thread, I actually tested it already 2 patches ago and the issue was no more. I have no idea what caused it in the first place. For now, it seems to have been solved itself (?)

[2022-02-26 16:28] #1663 closed

[2022-02-26 16:31] rvanner opened #2310 "Old logo in the About box"
![image](https://user-images.githubusercontent.com/1503593/155851009-9f675759-b281-4d9e-b167-ff45da35620d.png)

[2022-02-26 16:33] rvanner opened #2311 "The Tutorials should show when the terrain mode is on."
The terrain editing tutorial should show here.

![image](https://user-images.githubusercontent.com/1503593/155851037-15344899-c39f-48a9-9082-dae3fa4a37bc.png)

[2022-02-26 16:36] #2284 closed

[2022-02-26 16:39] rvanner opened #2312 "Level Editor: If user double clicks on the terrain, move the camera to that postion"
When in the Level editor, if the user double clicks anywhere on the terrain, zoom the camera quickly to that location. This will speed up the user's ability to move around the map.

[2022-02-26 17:04] Pcskiller commented on #1768
Ok this is the error after running
[install_errors.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8147070/install_errors.txt)
 as administrator

[2022-02-26 17:50] ArgentArts commented on #2300
I had opened another report about stand alone games having tons of extra unneeded/unused files in them here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2301

One discovery is that when I had deleted all/most of the directories with these unused files and ran the stand alone game, the stuttering (shown above) completely goes away.

[2022-02-26 19:41] ivanski1983 opened #2313 "Trigger behavior button inop"
The behavior button on the trigger zone is not working correctly. I have to go to developer mode and select the behavior from there. It will update on the behavior tab but still is not clickable.

[2022-02-26 23:07] Pcskiller commented on #1768
[Uploading install_errors.txt…]()

[2022-02-27 01:54] OldFlak opened #2314 "MAX - 2022.02.25 - No Behavior Tab"
MAX refuses to show behavior tab when object is selected unless Physics On or Physics Off is enabled
- it will just confuse new users?

https://youtu.be/SMtNQ3cXsms

[2022-02-27 01:59] OldFlak commented on #2243
@plemsoft Hi Preben - Just noticed sound slot 4 is missing - surely you didn't take the hide issue approach!

So this is not fixed - but a work-around?

[2022-02-27 02:17] OldFlak opened #2315 "MAX - 2022.02.25 - Scale Particle Is Broken"
Worked in previous build - tis not working now

Used to be able to scale particle bigger or smaller
- now only goes bigger which for many particles is not much use at all

[2022-02-27 02:20] Necrym59 commented on #1872
Attached is V18 of the Ladder Script - (sorry Lee couldnt help myself making it better)
- Allowed for sounds for climbing and exiting ladder.
[ladder_v18.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8147867/ladder_v18.zip)

[2022-02-27 02:24] Necrym59 commented on #1970
Updated to V18 same code base as ladders now to remove some glitches with the latest build.
-  Now has allowances for sound for climbing and exiting climb.
-  Climber placeholder model redone for more reliable climbing.
[climber_v18..zip](https://github.com/TheGameCreators/GameGuruRepo/files/8147869/climber_v18.zip)

[2022-02-27 04:02] OldFlak opened #2316 "MAX - 2022.02.25 - Scale For Objects Is Broken"
Add entities - position them, and run level - all good

![image](https://user-images.githubusercontent.com/12246318/155867714-c7ddde32-c295-4f6c-b723-f4bb17844d9e.png)

Save level, close/open MAX, load level - Scale huge

![image](https://user-images.githubusercontent.com/12246318/155867726-e26773bb-b95e-46c9-8a02-13c7718ab17a.png)

Might be an idea to have a good look at the way max stores and re

[2022-02-27 04:16] OldFlak opened #2317 "MAX - 2022.02.25 - Sound Slot 4 Missing"
Sound slot 4 has gone missing - not seeing it in the editor.
Another UI bug?

[2022-02-27 06:41] UltraVox001 commented on #1970
Whatever I do, the Climber is always displayed in the TestLevel.

[2022-02-27 07:47] UltraVox001 commented on #1970
Ok. Tested and approved. :)

[2022-02-27 08:49] AlterMatz commented on #2302
Hi, I have the same problem. Character pass through closed door.

[2022-02-27 08:50] UltraVox001 opened #2318 "GG Max Bug Report - Rectangular area without vegetation - cannot paint"
Rectangular area without vegetation - cannot paint. Auto Flatten is disabled. Unable to paint any type of vegetation in this area. I think Max remembers an old auto flatten he applied to a building that I deleted. It's a problem.

Suggestion : stop forcing us to autoflatten when Max starts. This function causes more problems than it helps to solve.
![PaintGrass](https://user-images.githubuserconte

[2022-02-27 08:58] UltraVox001 opened #2319 "GG Max Bug Report - The "Show Live FPS" checkbox does not work"
The "Show Live FPS" checkbox does not work.
Checked or not, this function is always active.

[2022-02-27 09:45] UltraVox001 commented on #2316
I confirm this bug.
![Big](https://user-images.githubusercontent.com/96718175/155877374-5d33e2d7-d36f-421d-ba21-deb0365d78ba.jpg)

[2022-02-27 10:54] plemsoft commented on #2317
Fixed for the next update :)

[2022-02-27 10:55] plemsoft commented on #2281
@rvanner Fixed for the next update :)

[2022-02-27 10:56] plemsoft commented on #2285
@rvanner Fixed for the next update :)

[2022-02-27 10:56] plemsoft commented on #2286
@rvanner Fixed for the next update :)

[2022-02-27 10:56] plemsoft commented on #2288
@rvanner Fixed for the next update :)

[2022-02-27 11:03] synchromesh62 commented on #2302
Reported this one a couple weeks back and Lee was looking into a system to deal with it.
The problem is simply that dynamic objects do not break the mesh unlike a static wall so its as if it is not there.
It was inevitable it would get picked up on again later but it is already being looked into hopefully.
https://github.com/TheGameCreators/GameGuruRepo/issues/2145

[2022-02-27 11:08] UltraVox001 commented on #2302
What mesh ? Take a good look at my first image ("Navigation Debug Visual" is enabled). There is no mesh.
And my walls are not dynamic objects. They are Static Box.
Enemies pass through all objects. Dynamic or not.

[2022-02-27 11:19] UltraVox001 commented on #2306
Reported and fixed here : [https://github.com/TheGameCreators/GameGuruRepo/issues/2316](https://github.com/TheGameCreators/GameGuruRepo/issues/2316)

[2022-02-27 11:34] plemsoft commented on #2306
Yes a dup: Fixed for the next update :)

[2022-02-27 11:36] OldFlak opened #2320 "MAX - 2022.02.25 - Standalone - Save Game Brings Up Wrong Screen"
Selecting Save Game in standalone is bringing up the Load Game screen
- double checked that they are hooked up correctly

Also note the numbering on the already saved games
- are they not meant to always be numbered 1-8?

![image](https://user-images.githubusercontent.com/12246318/155880700-c136efe6-b4ed-4c61-97c2-b5b093f868b2.png)

[2022-02-27 11:42] synchromesh62 commented on #2302
What version are you using ?
Its working fine for me in the latest internal build.
Note ... One panel i have left dynamic like a door ... He walks right through that which is what i thought you were referring to.

https://youtu.be/fiSuBz0GnBg

[2022-02-27 12:09] AmenMoses commented on #2316
Any chance of fixing #2279? @plemsoft

[2022-02-27 12:09] UltraVox001 commented on #2302
I use the same version as you.The Nav Mesh works on an empty map.
![NavMeshWithoutTerrain](https://user-images.githubusercontent.com/96718175/155881772-3e93d7bd-2f5f-4c4a-9dfc-3e9474266629.jpg)
Add a Terrain, and you will see like me. :)
[https://www.youtube.com/watch?v=bzYeYengMZo](https://www.youtube.com/watch?v=bzYeYengMZo)

[2022-02-27 12:12] #2319 closed

[2022-02-27 12:32] plemsoft commented on #1785
@PaulSJ It still do not work, it looks like it need ggterrain_local_params.height and the others, so i added:

`	else if (!isnan(height))
	{
		height -= ggterrain_local_params.offset_y;
		if (height < 0) height /= ggterrain_local_params.minHeight;
		else height /= ggterrain_local_params.height;
	}
`

But this dont solve it , as loading from one level at this point only the "ggterrain_global_params

[2022-02-27 12:40] AlterMatz commented on #2302
I Have the Problem with door
![z_Body_specular](https://user-images.githubusercontent.com/100475522/155882677-fe8d2c02-a415-4b06-8c34-9004d8404776.png)

[2022-02-27 12:59] synchromesh62 commented on #2302
Yep i can confirm on Terrain its not working.
As im working on Indoor stuff i went directly to my current level to test.

[2022-02-27 13:15] UltraVox001 commented on #2302
In reality, the nav mesh also "works" with terrain, but only on flat objects. A concrete slab placed on the ground, a hagar, but not on the ground. It is for this reason that for some users only dynamic objects do not work. This is because their game is located indoors. Outdoors, nothing works except large flat objects.
![NavMeshWithTerrain1](https://user-images.githubusercontent.com/96718175/1558

[2022-02-27 13:34] UltraVox001 commented on #2316
@plemsoft
Just a side note : even some Lights get huge in the Editor. This happens at the end of a save in Max.
![BigLights](https://user-images.githubusercontent.com/96718175/155884507-f0d572dd-4e59-4389-8e23-506f9a79c3dd.jpg)

[2022-02-27 13:56] UltraVox001 opened #2321 "GG Max Bug Report - Disabled Water reappears when stepping under it (Editor)"
Video : [https://www.youtube.com/watch?v=Jx7p_CtwqbY](https://www.youtube.com/watch?v=Jx7p_CtwqbY)

[2022-02-27 16:32] plemsoft commented on #2319
@UltraVox001 Sorry forgot to mention superdeveloper 3, you know :)

[2022-02-27 17:19] UltraVox001 commented on #2319
I was using the previous internal update.
Everything works now. Sorry. :)

[2022-02-27 17:35] davekirk85 commented on #2316
I've just started getting the issue also, so frustrating :/

[2022-02-27 18:34] davekirk85 commented on #2316
struggling with the same issue still
![ggmax error2](https://user-images.githubusercontent.com/100531173/155895065-9c80523d-ee4c-4ef4-87ee-0c4739a66cd3.JPG)
![ggmax error](https://user-images.githubusercontent.com/100531173/155895066-5618484a-b3e4-4960-bbed-25482b88b096.JPG)

[2022-02-27 18:38] Stefos-art opened #2322 "NVIDIA GeForce RTX 3060 12 GB of Graphics memory, 16 RAM system memory only 30fps"
I have a NVIDIA GeForce RTX 3060 12 GB of Graphics memory, 16 RAM system memory, however I am lucky to get 30 fps best and around 20 fps lowest. I don't look to have a problem in other apps, though I don't really play games. I am a 3D animator and don't look to have problems with those apps I use.

[2022-02-27 19:01] ArgentArts commented on #2322
So, more information might be good. 30fps at best ... with what? An outdoor level that you've made? One of the demo levels? If so, which one? What? Help them to help you.

It is interesting that so many are getting such different results with MAX. I have an older GTX 1080 ti and I get 100 fps on my test indoor levels. 50 fps and up on the test outdoor levels. I've yet to see frame rates before 50f

[2022-02-27 19:09] Stefos-art commented on #2322
Socket 1			ID = 0
	Number of cores		6 (max 6)
	Number of threads	12 (max 12)
	Manufacturer		GenuineIntel
	Name			Intel Core i5 10400

Windows 10 pro

[2022-02-27 19:14] Stefos-art commented on #2322
The test is an out door scene island showdown that comes with Max, but even empty scenes are slower than they should be, Indoor scene between 40 - 50 fps

[2022-02-27 19:39] ArgentArts commented on #2322
In the Island Showdown, I am getting 56fps in most places. There was one place where it did drop below 50. However, I am running it on an ultra-wide monitor (3440 x 1440 screen resolution). On an empty, I get a flat 100fps and it's locked there only due to vsynch. On my test indoor levels (levels I've built myself), I get 100fps (again, at 3440 x 1440 resolution). With the Cellar game, I get a smo

[2022-02-27 20:40] UltraVox001 commented on #2322
I am between 45 and 55 fps on a test map that contains more than 1500 3D objects, with the following configuration :
Intel(R) Core(TM) i5 4460 - 3.20 GHz CPU (4 cores)
NVIDIA GeForce GTX 1060 (6 GB)
16 GB Ram - SSD hard drive - Windows 10 Pro 64 bits

During the TestLevel, press TAB twice and visit the Shadows section.
Use lower settings to see if it helps you gain FPS.

I've posted on Github befo

[2022-02-27 21:51] 3coms opened #2323 "Scaling meshes no being saved [GGMax]"
I had tried with custom and stock mesh, it happens the same, so, theoretically easy to reproduce it.
The video below shows the issue. :)

https://youtu.be/Jo16FUdPohA

[2022-02-27 21:58] ArgentArts commented on #2323
Reported here:
https://github.com/TheGameCreators/GameGuruRepo/issues/2316

[2022-02-27 22:07] 3coms opened #2324 "GGMax sculpting custom meshes [GGMax]"
I had tried:
1- Placing X files in an old-school way.
2- Importing the file as X, FBX, file
I get a mesh with wrong geometry, like a puzzle badly done.
It is a compound mesh since it is a house, it has a garden, cemetery, the main house, etc, if you don't merge all those pieces in 1 mesh, you most likely get something like this one below:

![church_sculpted_by_GGMax_2022_02_25_pic01](https://user-

[2022-02-27 22:26] 3coms opened #2325 "GGMax applying the textures wrongly"
Using texture sheet (unwrapping), with those sorts of textures it is intended each chunk going inside its own island, however, GGMax is applying the texture as is for the whole mesh, of course, it does not match, and end result is horrible. GGMax is even applying the wrong texture to the meshes, in the pic below you can notice the columns texture being applied to the roofs, well, no comments. :)

[2022-02-27 22:31] sciencebloke50 opened #2326 "None linear levels"
hi i am unable to attach mutliple levels to one main level.

i have a main map world but want to jumpt to an underground level and at the end of that jump back to where i was. this was apparently possible yet only one level attaches to one level making it linear at present. is this correct or is this an error?

[2022-02-27 23:30] Kitakazi commented on #1601
Ok just updated to version 2022.03.04 the internal build.

[2022-02-27 23:33] Kitakazi commented on #1601
Updated to Internal build 2022. 03.04
No change in performance.
Is there any sort of culling enabled? I notice draw calls spike to around 8k if I point the camera in the direction where there are entities, way down the map. I wonder if things are being culled out at all or if it is rendering all entities, even the ones not visible?

[2022-02-28 03:35] davekirk85 commented on #2316
if i create a level now, will the objects be resized automatically on the next update or will i need to manually do all the objects?

[2022-02-28 07:20] ArgentArts opened #2327 "GameGuru MAX - Add Origin Toggle for Widget and Extra rotation modes"
Snapping is not quite right. When you change the snapping amount, it seems to move the entire grid just a bit making it difficult to snap items if you change snapping at any point while working on a level. I have a video showing what I mean. After the video, I will explain what I was doing in it:

https://user-images.githubusercontent.com/36735507/155939454-de7b07dd-1fe4-4943-8eb5-038cc16d4fc5.mp4

[2022-02-28 07:26] ArgentArts commented on #2327
Change the grid value should only divide the grid, not cause it to shift.

BTW - why are we allowed to change the X and Z grid settings independently? When would I need a different grid setting for one than the other?

[2022-02-28 08:39] plemsoft commented on #2287
@rvanner Added for the next update :)

[2022-02-28 08:40] plemsoft commented on #2311
@rvanner Fixed for the next update :)

[2022-02-28 09:13] plemsoft commented on #1776
@PaulSJ Here is how to reproduce it: https://drive.google.com/file/d/12stgTN2oz_gmeyyADdpARFrRqAURAFEt/view?usp=sharing
(dont happen everytime , but most times ). I assume that when we do a GGTerrain_InvalidateRegion that not all the trees are part of pTreeChunks , and that some trees that are not part of pTreeChunks could popup after a InvalidateRegion ?

[2022-02-28 09:16] dllllllllllb commented on #2291
Duplicate - #2290

[2022-02-28 09:16] #2291 closed

[2022-02-28 09:26] dllllllllllb commented on #2295
Related: #2294

[2022-02-28 09:31] rvanner commented on #2280
This is from his PC:

![image](https://user-images.githubusercontent.com/1503593/155958929-ebca3990-fd68-4326-9de9-538e48f44acf.png)

[2022-02-28 09:38] ZakJudges commented on #1768
Hi @Pcskiller, thank you for the error log. Do you have this file installed? "Max/Files/tutorialbank/0801-character-creator.mp4"

[2022-02-28 09:41] GraPhiX-Guru commented on #2280
It could possibly be the DPI scaling, has he tried setting DPI to 100% re start computer and see if it persists, i do not know if MAX is DPI aware but i don't think it is.

[2022-02-28 09:41] #2323 closed

[2022-02-28 09:51] dllllllllllb commented on #2315
#2277

[2022-02-28 09:53] Granada1 commented on #2280
` do not know if MAX is DPI aware but i don't think it is. `
You can set it in advanced settings 👍

[2022-02-28 10:21] ZakJudges commented on #1537
Hi @Kitakazi, I was able to successfully import xbot.fbx and taunt.fbx. Afterwards I opened the importer with xbot.dbo and loaded taunt.dbo with the "Load Animation File". I repeated this process with another animation from mixamo.com and was able to use xbot.dbo with multiple animations.

Alternatively, if you have already imported the animations, you can create a text file that lists which anima

[2022-02-28 10:35] plemsoft commented on #1439
@LeeBamberTGC This is giving me some problems , perhaps a TW: to discuss, think its related to "Quaternion - Eular - conversion problem." , thanks :)

[2022-02-28 10:39] ZakJudges commented on #1361
Hi @3coms, does this still happen to you in the latest build? :)

[2022-02-28 11:00] UltraVox001 opened #2328 "GG Max Bug Report - Huge slowdowns and FPS drops (Trees and Shadows)"
I'm not the first to talk about it here.
But I think that if this problem is not resolved quickly, the risk is that it will not be for the EA release...

Watch this first video (Terrain + Trees + Vegetation) :
[https://www.youtube.com/watch?v=JAS9YQq_9aY](https://www.youtube.com/watch?v=JAS9YQq_9aY)
1/ Why don't I have 60 FPS with a new level, completely blank, which only contains trees and vegeta

[2022-02-28 11:22] OldFlak commented on #2144
@LeeBamberTGC Hi Lee just FYI - this is not fixed.
Left a few illumination stragglers in order to test. Created standalone with 2022.02.25 Friday release build and still same issue with not being copied to standalone.

Some audio files do not get copied over, and some don't play although they have been copied over.

Also copies over files that are not used at all.
For example all particles from bo

[2022-02-28 11:23] #2270 closed

[2022-02-28 11:45] OldFlak commented on #2317
@plemsoft Hi Preben - issue remains in 2022.03.04 build

[2022-02-28 11:46] 3coms commented on #2316
https://youtu.be/Jo16FUdPohA

[2022-02-28 11:52] ZakJudges commented on #1728
#1551

[2022-02-28 11:52] #1728 closed

[2022-02-28 11:52] 3coms commented on #1361
@ZakJudges
Hi
Fortunately, it does no longer happen in the latest builds, so, I gonna close this one. :)

[2022-02-28 11:52] #1361 closed

[2022-02-28 11:55] plemsoft commented on #1597
@dllllllllllb Could you try this on your widescreen monitor and check if you get the same results , thanks :)

[2022-02-28 11:57] LeeBamberTGC commented on #1872
Added for this weeks build :)

[2022-02-28 11:59] OldFlak commented on #2316
@plemsoft Hi Preben fyi issue is fixed in current build

[2022-02-28 12:06] ZakJudges commented on #2326
Hi @sciencebloke50, you can place a winzone down and change its settings to go to a specific level when the player enters it. Note the level that you want to jump to must be added to your storyboard.
![Screenshot 2022-02-28 120507](https://user-images.githubusercontent.com/32545391/155980705-70a878ff-3fa2-4337-adef-f22ffee7b134.png)

[2022-02-28 12:07] davekirk85 commented on #2316
@[OldFlak I still get the issue on the latest build

[2022-02-28 12:08] UltraVox001 commented on #2316
Me too. Same problem.

[2022-02-28 12:13] OldFlak opened #2329 "MAX - 2022.03.04 - Water Fog Not Working"
Not new - they have never worked really.
Play with water fog sliders - there is practically no control for the water fog

[2022-02-28 12:16] LeeBamberTGC commented on #1439
@PaulSJ You mentioned you have some code from AGK which could convert between EULER -> QUAT -> EULER and avoids the weird inversion of the Euler to the +180,+90,+180 when moving between quats and eulers.  Post it here and I will take a closer look.

[2022-02-28 12:20] OldFlak commented on #1851
@ZakJudges Hi Zak - FYI - Not fixed in Monday's build - type 15 and value drops back to 14

[2022-02-28 12:24] ZakJudges commented on #1851
@OldFlak Looks like my changes have only just been merged. Will be in the next internal build. I imagine Lee will email soon :)

[2022-02-28 12:28] OldFlak commented on #2316
@LeeBamberTGC fixed for me in 2022.03.04

[2022-02-28 12:29] LeeBamberTGC commented on #2282
@ZakJudges Step one is can you reproduce the issue reported, then to drill down to find the critical path and the bottleneck.

[2022-02-28 12:32] ZakJudges commented on #1851
@OldFlak Scratch that, it should be in tomorrow's build. Apologies :)

[2022-02-28 12:33] UltraVox001 commented on #2316
Fixed now

[2022-02-28 12:33] LeeBamberTGC commented on #2316
@OldFlak Thanks for confirming your issue is fixed, I will close this issue and recommend @davekirk85 and @UltraVox001 create their own issue if they find another scenario involving scale with the current internal build from this week fails.

[2022-02-28 12:33] #2316 closed

[2022-02-28 12:34] plemsoft commented on #2317
@OldFlak You tested before Lee had uploaded the new build , could you try to validate and try again :)

[2022-02-28 12:38] LeeBamberTGC commented on #1992
@rvanner You still getting this?

[2022-02-28 12:40] ZakJudges commented on #2189
@dllllllllllb I wasn't able to reproduce this one. Are you still experiencing it in the latest build? :)

[2022-02-28 12:42] #1225 closed

[2022-02-28 12:49] plemsoft commented on #1570
@ArgentArts This is what i see after importing the object , only setting scale to 3000, looks ok , did you change any other parameters ? , could you give it another test in the latest build and let me know if it also look fine for you , thanks :)

![import-test](https://user-images.githubusercontent.com/18662417/155986098-24f20b73-d6c1-4378-b33a-b5eb42af28e0.jpg)

[2022-02-28 12:55] LeeBamberTGC commented on #2296
@rvanner Would you like to ask Gaby ti proceed with these eight animations, and let me know if you have any questions? It will make the hurt system for characters pretty impressive when these variations are implemented.

[2022-02-28 12:58] #2310 closed

[2022-02-28 12:58] #2288 closed

[2022-02-28 13:00] #2286 closed

[2022-02-28 13:00] #2285 closed

[2022-02-28 13:02] #2311 closed

[2022-02-28 13:05] #2281 closed

[2022-02-28 13:08] #2000 closed

[2022-02-28 13:15] 3coms commented on #2316
I already did so, but my thread is closed by someone, and my issue is still there; it happens to me in the very latest build.

[2022-02-28 13:19] LeeBamberTGC commented on #1439
@PaulSJ Thanks for the code and advice :) Now get yer hide back to nav mesh land - we are going to need it :)

[2022-02-28 13:34] PaulSJ commented on #1785
@plemsoft I've committed a change to PJ-Branch4 that makes the flat area height use the world value and only transition to terrain height when it is used

[2022-02-28 13:52] ZakJudges commented on #1884
Hi @casigus, the slowdown appears to be related to two things.
Firstly, there are a lot of expensive physics objects in the level (anything with polygon, hull decomp). It's best to simplify the collision shape for these objects unless you really need them - objects like factory lights usually don't need any collision. The team has some strategies around this area planned for the future. So hopeful

[2022-02-28 13:52] #1884 closed

[2022-02-28 13:58] LeeBamberTGC commented on #1785
@PaulSJ Expect this in the build in 20 minutes

[2022-02-28 14:07] davekirk85 commented on #2316
I am still having the same issue on the latest build

[2022-02-28 14:08] PaulSJ commented on #1785
@LeeBamberTGC @plemsoft Be careful of a conflict if both Preben and I have modified the process. Even if Github says there is no conflict it might have added both changes one after the other corrupting the flat area system.

[2022-02-28 14:09] davekirk85 commented on #2316
@LeeBamberTGC
"I have uploaded the internal build now so can be tested by @davekirk85 and @UltraVox001"
How do i access this build? I only have options to verify/update to the 25/02 build

[2022-02-28 14:34] ZakJudges commented on #2228
Hi @casigus, I wasn't able to reproduce any of the crashes, or the trigger zones moving/disappearing when loading a standalone game. Are you still experiencing those in the latest build?

For the other bugs, would you be able to create new issues for those, with steps to reproduce? Having one bug per issue helps us organise and assign the tasks better :)

[2022-02-28 14:36] PaulSJ commented on #1785
@LeeBamberTGC I took a quick look at the master branch and there was a conflict, I've commited a fix to master

[2022-02-28 14:49] ZakJudges commented on #2166
hi @synchromesh62, I confirmed the imagebank folder is not copied to standalone. However, I did not encounter a crash, instead I got a blank image. Are you still getting a crash in the latest build? :)

[2022-02-28 15:23] LeeBamberTGC opened #2330 "AUTO UPDATER EXTENDED FOR DLC CONTENT"
After March, extend the auto-update system to detect the purchase of additional DLC content and make it available through the auto-updater system.  The benefit of this installer-free approach is that updates can be applied automatically, and all MAX users can be informed when new DLC content is available with the option of downloading when they like.

[2022-02-28 15:24] LeeBamberTGC commented on #2330
@rvanner From our call today, I have added this task for a POST-EA task, but we can discuss the technical details here prior to implementation. It will largely re-use our existing system, with some additional hooks to future DLC purchases.

[2022-02-28 15:28] dllllllllllb commented on #2277
@LeeBamberTGC @rvanner While working on this I found other issues.
When you change the scale of an object, select a different one and go back to the same one, the scale value is not saved but the object keeps it set scale, so the slider would say scale is equal to 100 but it would actually be 150 and use 150 as base for scaling. This makes scaling objects inconsistent. My proposition is to have a

[2022-02-28 15:40] LeeBamberTGC commented on #1785
@PaulSJ Many thanks, will upload the build soon.

[2022-02-28 15:52] ZakJudges opened #2331 "Add functionality to the updater to handle partial file downloads"
The current implementation redownloads then overwrites a file when an error occurs. For large files, this means some users cannot download them if they get errors every time the file download is attempted.
Need to detect when a file failed to download and store the amount downloaded. Then create a new file and request the remaining bytes. Finally, append the data from the new file to the old file,

[2022-02-28 15:55] ZakJudges commented on #1768
@Pcskiller Thank you, the file should be nearly 300MB. I've opened a new issue detailing a fix for this - see #2331

I will keep this issue open so I can let you know when the fix goes live :)

[2022-02-28 15:57] Pcskiller commented on #1768
Thank you

On Mon, Feb 28, 2022 at 5:56 PM ZakJudges ***@***.***> wrote:

[2022-02-28 16:00] LeeBamberTGC commented on #2277
@dllllllllllb We cannot change how the scaling works to that degree as it will create knock-on effects as yet unrealized.  For this issue, fixing the particle so that we only have one scale slider and removing X Y Z control should allow you to close this one.

[2022-02-28 16:04] LeeBamberTGC commented on #2295
Made it 250, a nice sweet spot to keep them alive under machine-gun fire to allow them multiple hits

[2022-02-28 16:08] dllllllllllb commented on #2289
@rvanner I can't figure out how to add a text box to the loading screen, how did you do it?
Or do you want me to just write out what each loading screen should say?

[2022-02-28 16:33] plemsoft commented on #1597
@dllllllllllb Thanks , could you try this .exe and let me know if it fix the issue , its a debug build so slow but ... :)

https://drive.google.com/file/d/12QHy8acZsSpoCjXM4kQGvoQc1JCVoxhK/view?usp=sharing

[2022-02-28 16:33] LeeBamberTGC commented on #2248
@ZakJudges In next build, characters will respond to ANY sound, not just enemy-triggered sounds, and face the enemy when they hear that sound.  It skips an enemy verify by sight step, but makes the action faster and more convincing.

[2022-02-28 16:37] Tum1370 opened #2332 "GG Max - Latest Build - Cannot walk through raised warehouse door."
Just tried my warehouse level, and now after raising my warehouse door, the door goes up, but i cannot walk through the empty spot.
Its like the door is still lowered.

I tried removing the logic and re adding new logic from this weeks build, but still the same thing.

I went and tried the Switch Escape level, and the warehouse door raise ok on that level.

[2022-02-28 16:45] dllllllllllb commented on #2289
@rvanner Island Showdown backgrounds are really low resolution, adding text to it in photoshop will be very pixelated and look bad. Should I add it anyway or use a higher resolution background from the image bank?

[2022-02-28 16:54] Pcskiller commented on #847
So will we be able to have the ability to control the footfall
sound volume or how is it going to work?

On Mon, Feb 28, 2022 at 5:52 PM Lee Bamber ***@***.***> wrote:

[2022-02-28 17:02] LeeBamberTGC commented on #847
@plemsoft Can chime in, but I think the cleanest way is to have a new property in the Player Start Marker that acts as a modulator for the volume of player footfalls, so you can set the volume to 50% or 200% of the general sound effects volume. That should give you plenty of control. For per-material adjustment I would recommend customising this file and doing it there for super fine control: audi

[2022-02-28 17:03] ArgentArts commented on #2332
I think they would need a lot more information to help you with this sort of thing. It could be so many thing. Is it your own warehouse (i.e. a warehouse that you created) or one of the warehouses from MAX's collection? Did you set your own collision to the warehouse or did you use the collision method that the model came with? which behavior are you using on the door? Etc. Etc. When reporting thi

[2022-02-28 17:19] AmenMoses commented on #2173
[door_sliding.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8155303/door_sliding.zip)

With this one you can control delay time and opening/closing time.  Both values in milliseconds btw.

[2022-02-28 17:20] Tum1370 commented on #2332
Its basically an identical copy of the switch escape level, All i have done is try my best to recreate the level, as to learn how it was made. Using just assets that are with Max.
But this was working fine last weeks build, but now its not.
I would imagine this has something to do with the fact that last week, You would raise the warehouse door, and after lowering it down again, you could just wal

[2022-02-28 17:36] ArgentArts commented on #2173
Thanks! That's pretty awesome! :)

[2022-02-28 17:36] Pcskiller commented on #847
Ok cool. Thanks a lot.
Thanks for all the hard work.

[2022-02-28 17:45] casigus commented on #2228
ive yet to export a standalone so i can't confirm till I do.

[2022-02-28 17:47] casigus commented on #1884
aye!! what baffes me is ALOT of the included ggmax assets are set to covexx and hull ducomp, for example random boxes, I'd have assumed they'd be set to be shaped accordinly, I guess that error was on my part. started changing the colisions and it does improve performance too.

[2022-02-28 18:14] ArgentArts commented on #1570
Nope. This is not working for me. This is what I see after clicking Import:

![import](https://user-images.githubusercontent.com/36735507/156035989-861516cd-e5fe-4360-9c22-260d5b74a007.png)

[2022-02-28 18:19] ArgentArts commented on #1607
This appears to be fixed. Thanks.

[2022-02-28 18:19] #1607 closed

[2022-02-28 19:17] UltraVox001 commented on #2332
I reported this to @LeeBamberTGC  several days ago, but I don't think he believed me :)
[https://github.com/TheGameCreators/GameGuruRepo/issues/2046](https://github.com/TheGameCreators/GameGuruRepo/issues/2046)
The strangest thing is that it works on his map, but not on mine.

[2022-02-28 19:27] LeeBamberTGC commented on #2237
@ZakJudges Added code to detect limbs of objects that animate (such as characters), and will register damage if the ray interects the limb. Ray from weapons can vary based on inaccuracy code, so several shots on a limb may be required to test this.  Add debug code to check damage health to confirm this fix.

[2022-02-28 19:29] ArgentArts opened #2333 "GameGuru MAX - Island Showdown T-Pose and Teleport"
There are a few minor visibility issues with the Island Showdown that detracts from the demo. When you initially start toward the main island, there are two soldiers that you see on patrol. When you see them in the distance, instead of walking in patrol, it appears as if they walk in one direction and then teleport back to the start position and begin to walk back, teleport, walk back, teleport, o