[2021-09-07 11:29] LeeBamberTGC commented on #1342
Fixed for next build

[2021-09-07 13:12] michaeloldman commented on #1339
Similar thing happened to me as well.
I have some models that I was using to test AI. They are just DNS models, I place in my writable entity folder, and let MAX convert them, which he did successfully.

In lastest update MAX decided that some of them were decals.
Example pic:
![MAX seniors moment](https://user-images.githubusercontent.com/12246318/132349898-2b66147f-36e4-49d1-8f8e-3661a95d6b95.pn

[2021-09-08 02:50] Teabone3 opened #1380 "GGC (Classic) Issue - Dark Terrain"
Since the September Update the terrain textures seem to be darker.

For example the snow texture now appears grey and is no longer seamless with a map that previously had snow entities match its snow.

Noticed grass also to be darker. Did something change with how the normal maps react to light?

![terrain issue](https://user-images.githubusercontent.com/35990109/132438553-a8fe30c2-ba19-4bb1-8f6b-

[2021-09-08 03:00] Teabone3 opened #1381 "GGC (Classic) Issues: Visual Issues (September Build)"
I dont really know how to describe this issue ... other than my game is visually a mess now since the September release.

My ceilings are now green, some wall entities are now blue. i'm getting a weird glare of light on the corners of walls. There is also some odd shadow appearing over half of the walls.

![green](https://user-images.githubusercontent.com/35990109/132439310-20e9cc10-e642-45f9-aa82

[2021-09-08 03:15] #1381 closed

[2021-09-08 03:16] Teabone3 commented on #1381
Issue resolved. The latest update changed some settings in the setup.ini back to defaults (as it normally would, which contributed to the visual issues).

[2021-09-08 03:22] Teabone3 commented on #1380
disabling PBR fixed this issue.

[2021-09-08 03:22] #1380 closed

[2021-09-08 03:38] Teabone3 commented on #1372
Graphix has a fixed lua script for this.

[2021-09-08 08:13] plemsoft commented on #1227
@niijel When a window hits the edge Max will convert the window from a child into a parent window, so it can work on its own, we do this to support Multiple Monitors so your able to drag the window into another monitor.

Do you have more then one monitor ?

If not then i expect that you have setup multiple displays in NVIDIA Control Panel, please check under "Set Up Multiple Displays." and if you

[2021-09-08 09:39] plemsoft commented on #1379
Fixed!

[2021-09-08 09:50] GraPhiX-Guru opened #1382 "GameGuru Classic - September Fixes"
Whilst working on the explosions script i was testing on a map i created a few years ago, this allows me to test each type of explosion.
In the latest September release there seems to be an issue with collision, the barrels sink into the terrain

please see video https://youtu.be/XTF7aUo8D6A

[2021-09-08 13:41] ZakJudges commented on #1312
@rvanner Turns out the Teak and Oak glasses are different. However, they are incredibly similar to the point where its hard to tell them apart. Would you like one of them removed? Here is an image of them next to each other:
![glasses2](https://user-images.githubusercontent.com/32545391/132520443-dc4d0001-8b60-42b1-9d15-9d44263055cf.png)

[2021-09-08 13:45] rvanner commented on #1312
@ZakJudges yes, remove one please.

[2021-09-08 13:50] LeeBamberTGC commented on #1312
@ZakJudges I like the shinier one, Zak let me know which is the non shiny one by filename and I will remove from build

@rvanner Anything related to files I need to do as its build related, thanks!

[2021-09-08 14:01] ZakJudges commented on #1312
@LeeBamberTGC It's "adult male eyeglasses 01f_color.dds"

[2021-09-08 14:12] ZakJudges commented on #1312
@LeeBamberTGC And in Max\Files\charactercreatorplus\parts\adult male\annotates.txt "adult male eyeglasses 01d" and "adult male eyeglasses 01c" both equal Vintage Glasses Red

[2021-09-08 16:00] Teabone3 commented on #1382
I can confirm this. It was the first thing I noticed last night - but thought it was an issue on my part with placing them partly into the terrain - which turned out to be not the case.

[2021-09-09 02:53] Teabone3 opened #1383 "GGC (Classic) Issue: Lua Command "Panel" No Longer Works"
The lua command to create panels for text, appear to no longer work.

Example:
Panel(25,18,75,40)

Nothing will display in game.

[2021-09-09 18:00] LeeBamberTGC commented on #1312
Gone for next build.

[2021-09-10 04:17] Teabone3 commented on #1382
Placed a bunch of barrels on a hill and they fell through the ground

![barrels](https://user-images.githubusercontent.com/35990109/132798944-bb19bd4d-dda5-47e6-a19d-57b6e4d6c91c.jpg)

[2021-09-10 09:04] ZakJudges opened #1384 "Unable to close build notes window"
Occasionally when starting MAX, I am unable to get rid of the window that displays changes in the latest update. The other windows are still active whilst this occurs. It may be related to the fact that you can still press the play button on the tutorial videos, when the play button is underneath the window that won't disappear.

I have not had this issue when the UI is the default width.

![start

[2021-09-10 09:28] synchromesh62 commented on #1383
Confirmed in these 2 before and after shots

![P1](https://user-images.githubusercontent.com/35708217/132832657-e8362bf7-821d-407c-a987-fef4fdb04476.png)

![P2](https://user-images.githubusercontent.com/35708217/132832686-58a0594a-fdee-41a7-b3a7-c636991df476.png)

[2021-09-10 09:31] synchromesh62 commented on #1382
Confirmed in Before and after shots.
Cube falls from Ceiling to floor.

![PSP1](https://user-images.githubusercontent.com/35708217/132833023-85f7ac11-aa08-41e6-84fa-bb8bcbccfce7.png)

![PSP2](https://user-images.githubusercontent.com/35708217/132833052-dbc2d096-6b2e-47cd-8412-abc28b1c7e2b.png)

[2021-09-10 11:54] plemsoft commented on #1366
@Teabone3 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-09-10 11:54] plemsoft commented on #1365
@Teabone3 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-09-10 11:55] plemsoft commented on #1372
@Thanks for reporting this issue, this has been fixed and will be in the next update, found the change from Graphix :)

[2021-09-10 11:56] plemsoft commented on #1382
@GraPhiX-Guru Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-09-10 11:57] plemsoft commented on #1383
@Teabone3 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-09-10 12:16] plemsoft commented on #1377
Fixed.

[2021-09-10 13:09] rvanner commented on #1378
@plemsoft Can you change it so they are right angles on each corner?

[2021-09-10 13:23] plemsoft commented on #1378
@rvanner Its a left over from the old icons, and this is only available in the "dark" style , we dont have rounded corners for other styles like "blue" , should we make all styles look like "blue" without corners , or would you like rounded corners on all styles ?.

[2021-09-10 13:38] rvanner commented on #1378
@plemsoft Make them all like the blue without corners thanks.

[2021-09-10 13:53] VArterJr opened #1385 "Stand Alone Games still throw error 8003 on 2021.09.03"
*Stand Alone Games* still throw error 8003 on 2021.09.03. I have tried several games, quite simple things in the games, etc. This one I'm testing is super small and has one character, two barrels, one tent, an audio zone, and a text zone. That's it. Some basic gravel grass around the small playing area. Works fine in Test mode in GGM. I've had SA Game issues since day one but wanted to wait until

[2021-09-10 13:57] GraPhiX-Guru commented on #1385
Stand Alone process as not been touched in MAX as of yet, it is still being developed

[2021-09-11 12:23] niijel opened #1386 "Falling through generated terrain"
create new map, get new scenery, place start point, run round mountain, fall through ground land in water under terrain.
seems to be were the terrain is steep or 'sharp'. Happened in multiple places within a few seconds. walking on smooth flat terrain seemed ok.
![underneath-ggmax](https://user-images.githubusercontent.com/7059822/132947733-4a84980b-72d8-4152-8261-7bcc9d40c4ab.png)

[2021-09-11 12:25] niijel opened #1387 "tile edge markers visible when running game"
yellow dotted scenery tile edge markers visible when running game not just in edit mode.
(possibly intentional)?

[2021-09-11 12:40] niijel commented on #1227
I only have single monitor, only one shown on nvidia control panel.
But I do use stardock fences 3 on my desktop, which has capability of multiple desktops but I have that feature disabled.
I disabled fences in my startup and reset, still have same issue.
then I noticed that I have the windows 10 built in multiple desktops active [ctrl+win+left arrow/ctrl+win+right arrow]
attached is the windows s

[2021-09-11 16:45] Denis87z opened #1388 "Runtime error 7008"
![image](https://user-images.githubusercontent.com/89519185/132955114-2776efd4-a696-4e7d-876d-996dfa08ddc4.png)
when launching the military collection map, an error occurs

[2021-09-11 16:57] synchromesh62 commented on #1388
That was created with the old terrain .. Its probably not compatible with the new yet.

[2021-09-11 18:25] casigus commented on #1388
aye also had this. did a another install on a seperate disk and whiklst it does load, theres no clipping on the ground so you just fall through it, dropped a model in, lets you stand on that ok, but yeah. I mean it looks gorgous! the land, water, sky, the clouds are beatiful. but broken!

[2021-09-11 18:27] casigus commented on #1388
![image](https://user-images.githubusercontent.com/68471279/132957626-e3706edc-48dc-4912-a7eb-29c6b1d0e607.png)

![image](https://user-images.githubusercontent.com/68471279/132957640-700650a4-bdbb-4244-a1b9-6776ed1c31e7.png)

![image](https://user-images.githubusercontent.com/68471279/132957671-16683e20-c2b1-4863-b633-9c3901171fa6.png)

[2021-09-11 18:39] casigus commented on #1388
Ok done a seperate install, deleted the game guru folder in the gameapp folder in my documents, then launched, created a new terrian and BAM we're in.
![image](https://user-images.githubusercontent.com/68471279/132958046-24a8d14a-80cc-49df-96ae-02528411b845.png)

so give it a go, see if that fixes it!

[2021-09-11 19:56] boltactiongaming opened #1389 "skybank subfolders not properly recursed"
If you make a subfolder within skybank (example: 2020) and then several properly formatted sky folders within them, they no longer show or are parsed within gameguru classic.  I verified with AmenMoses as well as on my own.  He said he wasn't able to get to my skies or the megapack skies either.

There are no errors produced within the logfile when used, it simply ignores them and walks past them.

[2021-09-12 07:51] Snage62 opened #1390 "New Terrain editor GGmax"
This looks great and I know its new but the first this did was go right in and just wanted to walk round. but to my disappointment
I disappeared into the hillside and into water. but I did not give up and the second time was a bit better, I lasted for about a minuet
and once again disappeared under the land and in
![Editor 3](https://user-images.githubusercontent.com/39164408/132978307-c3f759a0-58

[2021-09-12 10:03] smmaas opened #1391 "crash import gameguru classic"
Models are imported without problem but max crashes on terrain

[2021-09-13 09:00] ZakJudges commented on #1391
Hi @smmaas, could you please provide steps to reproduce this so we can look into this for you?

[2021-09-13 11:45] LeeBamberTGC commented on #1386
Build updated, should be fixed now.

[2021-09-13 11:58] plemsoft commented on #714
@ErrantAI working on some changes, but needed your e-mail, so i can sent you a test version, could you give me a e-mail at plemsoft@plemsoft.com , i will then get back to you , thanks :)

[2021-09-13 13:41] thor49 commented on #1386
Hi Lee I tried the new update and can walk on terrain and see the new message at end of Yellow Edit box stopping you
leaving the play area..
But when I save and then load the terrain level back up Press play..  I then fall through terrain..
with the displayed message You can't leave the play area... but you can't stop yourself..?

[2021-09-13 16:04] ZakJudges commented on #1272
Made balaclava double-sided

[2021-09-13 16:04] #1272 closed

[2021-09-13 16:23] LeeBamberTGC commented on #1272
@ZakJudges Let me know when you check this in and I will make it part of the build :)

[2021-09-13 17:01] LeeBamberTGC commented on #1386
@thor49 Just did these steps in the latest build:

1. Launched MAX
2. Clicked Test Level to see phyiscs work by default
3. Exit test level then clicked save, gave the name 'mynewlevel.fpm'
4. Loaded this level back in
5. Clicked Test Level and as you report, fall through terrain

Thanks for the report!  It seems loading a level resets the terrain physics flag.

[2021-09-13 17:16] LeeBamberTGC commented on #1386
Fixed for next build :)

[2021-09-13 19:28] thor49 opened #1392 "New Terrain - Characters walk on spot do not follow flag path."
Character AI will not walk on the new terrain.
If you place floor panels on the terrain to follow the flags then the nav-mesh is generated and the AI walks the path.
Is there no nav-mesh on the terrain..?

[2021-09-13 19:38] thor49 opened #1393 "New Terrain - If you press new level to create new map - Old level entities are not cleared"
1. I created a terrain and added AI character and Path.
2. I had to add floor panels to get the AI to walk the Path.
3. I then decided to make new Terrain type Level.
4. Pressed create new level choose terrain type and size etc.
5. The level was created .
6. Pressed Test level and immediately fell through terrain.
7. And landed on the floor panels from the first level beneath the new terrain.
8. T

[2021-09-14 06:25] plemsoft commented on #1227
@niijel I see you closed this issue, just for the record could you let me know what the problem was, thanks for your help :)

[2021-09-14 07:20] plemsoft commented on #1378
Fixed.

[2021-09-14 07:28] plemsoft commented on #1277
@rvanner Yes just use "update thumbnail" and it should be fine, the problem is that you have a old thumbnail in your write folder, so at some point you have generated a new thumb using the "bad" model :)

[2021-09-14 08:28] ZakJudges commented on #1272
@LeeBamberTGC It's already checked in :) My latest commit at 09:23 is the one to merge, it has the stuff I'm currently working on disabled to avoid any issues with the build whilst I'm still developing it. Thanks :)

[2021-09-14 09:53] ZakJudges commented on #1388
@LeeBamberTGC Is this one fixed in the latest build? :)

[2021-09-14 11:22] LeeBamberTGC commented on #1272
@ZakJudges Chhers, thanks!

[2021-09-14 13:22] thor49 commented on #1393
Hi Lee
I was thinking about this last night.. and I think on the first Terrain level I had a Start Marker on the floor panels..
When I started the new terrain level I did not add a new Start Marker.. So maybe that caused the fall through terrain..
Don't want you to waste time looking for another Physics problem...

[2021-09-14 14:02] LeeBamberTGC commented on #1393
This has been fixed for this Friday's build. Selecting New Level will wipe out the old one, much like it did before except you are now given the terrain generator UI too.  Select EMPTY to revert to a grey flat floor.

[2021-09-14 14:02] #1393 closed

[2021-09-14 14:03] LeeBamberTGC commented on #1392
Terraijn now generates a navmesh in playable area for Friday's build.

[2021-09-14 14:04] LeeBamberTGC commented on #1388
Yep indeedy, this one fixed for this Friday's build.

[2021-09-14 14:36] ZakJudges commented on #1363
Fixed in latest build.

[2021-09-14 14:36] #1363 closed

[2021-09-14 22:35] niijel commented on #1227
Sorry - didnt mean to close it. Its open again!

[2021-09-15 16:19] boltactiongaming commented on #1389
Some work, some don't.
Most of them seem functional.  However I have one folder (2021) that works fine, with a number of subfolders underneath that work fine.  The '2020' folder, however, gives the following error:
Runtime error : 105 : \skybank\2020\skyspec.txt ()

Now the log file shows the same status for all three folders (2021, 2020, and 2019).  But only 2019 and 2021 work.
LOGFILE:

So it's

[2021-09-15 16:37] boltactiongaming commented on #1389
What's really bizarre: I made a new folder (2020test) and copied half the files out. Once I did that, it proceeded to load the ones in 2020test.  But now 2021 is broken.
I've also noticed two blank entries in my skybank list on the tab-tab screen.  I think there's something weird still with the recursion.  If you want to hit me up on discord, you can find me easily in the gameguru channel. I think

[2021-09-15 20:34] LeeBamberTGC opened #1394 "Estimate Wrong Towards End Of Auto Update"
See updater UI:
![image](https://user-images.githubusercontent.com/35840583/133505575-bf97d6ad-d544-4d8b-9eb8-dbc43ee7e733.png)

[2021-09-15 23:47] Teabone3 opened #1395 "GGC (Classic) Issue: Rocket Man shoots two rockets at same time"
The rocket man will sometimes shoot two rockets at the same time. Only way to reproduce this is to walk side ways to avoid the rockets and he'll attempt to shoot two simultaneously at the player.

Video:
https://www.youtube.com/watch?v=P9Pk1FxXk-w

[2021-09-16 03:50] Kitakazi opened #1396 "Importer creating weird duplicate _surface maps"
I imported some models, and just assigned the textures like usual. Later when I went to the folder there was a bunch of surface maps that it had created from my original surface texture. These have strange names and also is what is being assigned to the FPE files instead of the correct surface map.

For example I imported a model with the surface map called "GasDynamicTrap_surface" once I hit impo

[2021-09-16 08:38] ZakJudges opened #1397 "Character Creator Texture Seams"
- Choose a head
- Texture used for the head does not match the tone for the body texture
- Also sometimes causes blue patches to appear
![textureissue](https://user-images.githubusercontent.com/32545391/133579729-59e9d7c5-a0f0-4f8a-83fc-a914a13a8b84.png)

[2021-09-16 08:42] ZakJudges opened #1398 "Character Creator Incorrect Texture Colours"
Some heads are causing the colours for the body textures to be tinted blue.
Correct:
![correct](https://user-images.githubusercontent.com/32545391/133580250-568e49af-1d29-4c32-900b-5a6c23b79268.png)

Incorrect:
![incorrect](https://user-images.githubusercontent.com/32545391/133580258-8d0fdfa3-b8b4-4c42-bb1b-8f7e451b7fb5.png)
![incorrect2](https://user-images.githubusercontent.com/32545391/13358026

[2021-09-16 10:37] synchromesh62 commented on #1396
I also noticed that even if i have the prepared color, normal and surface textures it seems to create its own blank one that is named differently to the one i imported with. ?

[2021-09-17 15:59] redagent101 opened #1399 "GGMAX-version 17Sep2021: RPG issue"
please see pic attached.

![rpg_issue](https://user-images.githubusercontent.com/15969299/133818671-a9586ff5-9bc0-4a6d-9f7d-39bdc72f88a0.png)

[2021-09-17 20:13] casigus opened #1400 "broken"
![image](https://user-images.githubusercontent.com/68471279/133847873-1628ac21-f1cb-4508-adc3-4be4c287ab89.png)

SO updated it, and it wiped my assets folder and maps for some reason or other, but after re-arranging managed to import them back in, anyway, launched it. everythings janky, constant freeze ups, cant really do anything with out it not responding. the visuals are amazing thou, the sky,

[2021-09-17 22:27] fearlesswee opened #1401 "[Max] Suggested improvements to water shader"
1. The underwater depth fog should overlay the water surface from below, so that the distant water surface is blocked by fog, and if the player goes deep enough underwater and looks up, they can't see the surface.
2. The underwater depth fog should also overlay the sky to the sides, for example if you currently make a flat level and raise the water to make an "endless" ocean, when going underwater

[2021-09-18 01:36] Kitakazi commented on #1268
New build today - FPMs that open and play fine in Classic will open in Max but Test Game will crash the program.

[2021-09-18 01:38] Kitakazi opened #1402 "Classic FPMs will crash Max on Test Game"
I can open Classic FPMs in Max but pressing Test Game will crash the program.

[2021-09-18 15:42] Teabone3 opened #1403 "GGC (Classic) Issue: Standalone Style.txt Defaults"
_Simply put the style.txt file doesn't copy over its contents properly when making a standalone._

**titlesbank\style.txt**

If you change the style.txt to reference another style folder for custom titlescreen and loadscreen etc, and then make a standalone of your game, it will ignore what you have entered in the style.txt and always revert your style back to "default" during the standalone buildi

[2021-09-18 15:59] synchromesh62 opened #1404 "" You Cannot Leave the area of play " erratic on maps"
At first i thought this was to do with Models i was testing but even on a new map after a few hundred yards you cannot go on as the vid below shows
https://youtu.be/rLQz-oyuLZc

[2021-09-19 01:30] synchromesh62 commented on #1404
Update
After further testing i have fount the message is actually popping up on the border of the Navmesh so this may not be a bug if Lee is working on it.

![NAV](https://user-images.githubusercontent.com/35708217/133912603-2edda986-af9f-429f-a91a-7a6218f5c4b5.png)

[2021-09-19 08:32] bonesy23438 opened #1405 "Editor locks up when adding particle systems"
Decided to mess with particles and in the last two builds ive noticed that the editor locks up or cant do nothing when adding a particle system.To  recreate bug just add particle syst
![Desktop Screenshot 2021 09 19 - 09 30 56 18](https://user-images.githubusercontent.com/37757086/133920871-745c0bdc-6049-4e9b-95b7-c46c360bc511.png)
em

[2021-09-20 00:30] michaeloldman commented on #1404
I think MAX is not calculating Playable Area correctly - nowhere near it.

Even with no navmesh at all, MAX stops player before getting anywhere near the boundary:
![MAX Not calculating boudary correctly](https://user-images.githubusercontent.com/12246318/133947997-c111858b-bfda-4dd1-a007-ad273e424d3c.png)

[2021-09-20 00:36] michaeloldman commented on #1394
Last update stopped on this screen for a bout 15 minutes.

![Download stuck here](https://user-images.githubusercontent.com/12246318/133948100-f714ff18-8705-47de-9ea7-dae2a4e06dec.png)
It also downloaded the MAX collection even though it is not selected.

[2021-09-20 09:11] ZakJudges commented on #1400
@casigus If you navigate to your Documents folder then GameGuruApps, you should hopefully see a backup of your previous writable folder. This should contain all the missing imported models and maps.

Regarding the freezing, I would suggest doing a clean install of the software. If you are still experiencing these issues afterwards, then please let me know and I'll see what I can do to help :)

[2021-09-20 09:14] casigus commented on #1400
yassssssssssss. found it. yass did the re-install, still the same! cleared the tgc in appdata ect ect. seams a wee bit more stable!

your cool! be safe 😄

________________________________
t
From: ZakJudges ***@***.***>
Sent: 20 September 2021 09:11
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: casigus ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] broken (#1400)

[2021-09-20 09:22] ZakJudges commented on #1400
@casigus Thanks for the info. So I can try to reproduce this, are you able to provide a video of the issue? Thanks :)

[2021-09-20 10:21] LeeBamberTGC commented on #1268
Have you tried this with the latest build. If a Classic level still crashes test level, tell me which Classic FPM file from the stock files from Classic and I will check it out, thanks.

[2021-09-20 10:33] LeeBamberTGC commented on #1399
The old RPG will be removed from the weapon selections for the first release. Watch this weeks broadcast :)

[2021-09-20 10:34] LeeBamberTGC commented on #1402
Issue duplicated. A more thorough issue exists on this one, and a request for more information already posted on that one :)

[2021-09-20 10:34] #1402 closed

[2021-09-20 10:38] LeeBamberTGC commented on #1404
I can see there is confusion about the 'editable area' and 'area of play' as they are different things.  I suppose the ideal is that the editable area has a nav mesh and terrain physics covering the entire region. The downside is that for all that to exist in memory at once jumps system memory usage to over 20GB and a level preparation time in the minutes rather than seconds.

The solution is a ro

[2021-09-20 10:40] LeeBamberTGC opened #1406 "GGC Weapon Refinement"
THE ORIGINAL REQUEST:

7) Want to be able to specify minimum ammo available before being able to reload (feature request).
This is primarily for weapons where multiple rounds of ammo can be clearly seen when reloading.  This feature would help to prevent visual continuity issues.  Particularly when reloading while the player has only a very small amount of ammo in their inventory. The minimum relo

[2021-09-20 12:06] synchromesh62 commented on #1404
@LeeBamberTGC
After playing about i think i understand a little more now on how it all works :)

[2021-09-20 12:49] plemsoft commented on #1405
@PaulSJ I also get this, think something is conflicting with the terrain system:

`
D3D11 WARNING: ID3D11DeviceContext::CSSetUnorderedAccessViews: Resource being set to CS UnorderedAccessView slot 0 is still bound on input! [ STATE_SETTING WARNING #2097354: DEVICE_CSSETUNORDEREDACCESSVIEWS_HAZARD]
D3D11 WARNING: ID3D11DeviceContext::CSSetUnorderedAccessViews: Forcing CS shader resource slot 30 to

[2021-09-20 13:38] mk831940 opened #1407 "Terrain painting problem"
When trying to paint a pathway or just color the ground with a different texture, the curser stumbles and paints extremely slow.  It's just almost impossible to paint a new texture color.

[2021-09-20 15:26] PaulSJ commented on #1405
I'm not seeing any issues with adding particles, can you give me more details on how to replicate the issue?
![GameGuru_Particles](https://user-images.githubusercontent.com/8309736/134028970-d44d17a1-deb1-4a7d-8c43-c94403e4b0a7.jpg)

[2021-09-20 15:37] LeeBamberTGC opened #1408 "Terrain showing inside Object Library Preview"
We need to switch off terrain rendering when doing the previews:

![image](https://user-images.githubusercontent.com/35840583/134030403-2d48f1f2-f964-4435-afd8-fdd5f7104b40.png)

[2021-09-20 16:25] bonesy23438 commented on #1405
Hi yeah add an object then add a particle system over the top when i got the issue like in the pic i sent above plus i used a different terrain than the default one.The terrain i used was the desert one

[2021-09-20 17:13] bonesy23438 commented on #1405
![Desktop Screenshot 2021 09 20 - 18 00 02 92](https://user-images.githubusercontent.com/37757086/134044872-9d55e0c9-eadd-4dd3-9c6a-b858c975dbb4.png)

[2021-09-20 17:13] bonesy23438 commented on #1405
have done exactly the same as the pic above and its locked up again

[2021-09-20 17:16] PaulSJ commented on #1405
Are you using an Nvidia GPU by any chance? I'm using an AMD GPU so maybe it doesn't suffer from this issue

[2021-09-20 19:00] Kitakazi commented on #1268
I have not tried this with the stock classic FPMs.  Only FPMs that I have made in classic then attempted to open in Max. I will try to open some stock classic maps for testing when I get home from work, but classic stock levels are all so small I'm sure they will open fine. My FPMs have no scripts or any logic going on just walls, floors, ceilings, and props, maybe a few animated props.  No terrai

[2021-09-21 00:53] Kitakazi opened #1409 "Selecting Multiple Entities Sometimes Causes Weird Texture Issues"
Doesn't happen everytime, but if you select multiple entities sometimes the textures will bug out. Causes entities to completely change material, sometimes causes them to become transparent. Once this bug kicks in, it will continue to happen until you restart Max. Reloading the level or opening a new level does not fix the bug from happening. The bugged entities will also lose the yellow selection

[2021-09-21 01:05] Kitakazi commented on #1268
Hmm just tried the Cold War Pack FPM, which is a DLC pack but I guess also counts as stock map?
Anyway it crashed once, program not responding, but I was able to get into it for the most part. However it did take about 30 seconds to load into the map for test game which doesnt seem right considering how small it.

But also when I'm messing around in my test levels, there are weird bugs that happen

[2021-09-21 07:01] bonesy23438 commented on #1405
hi yes im using an Nvidia Rtx 2060 with an AMD Ryzen 2700x eight core processor,3700mhz and 32gb ram

[2021-09-21 10:27] LeeBamberTGC commented on #1268
Thanks for the extra information, and the method to reproduce the issue. When we look at importing the Classic levels, we will no doubt encounter this and ensure we can handle the older FPMs.

[2021-09-21 11:55] plemsoft commented on #1405
@PaulSJ Also using a Nvidia GPU , took another look as i can reproduce it, Actually it is the lens flare shader that crash.

@bonesy23438 Could you try to disable Post Process "Lens Flare" and let me know if this also fix the issue for you , Thanks :)

I have made a new lens flare shader that dont crash (will commit shortly) , but there is still a problem with particles and the lens flare shader,

[2021-09-21 13:23] Kitakazi commented on #1268
Sounds good!

[2021-09-21 13:51] LeeBamberTGC commented on #1405
@PaulSJ Any advice on the 'volumetriccloudResources' Preben mentions? My guess was the new shader structures breaking alignment sizes, allowing AMD to run fine and NVIDIA to crash out.  Only a guess :)

[2021-09-21 23:40] michaeloldman commented on #1408
Yes notice that one as well:
![Terrain In Backdrop pics](https://user-images.githubusercontent.com/12246318/134261401-3d83f114-4afb-45fd-b0f5-149131f0b98d.png)
Sometimes reassigning the backdrop fixes it, but mostly doesn't do anything or just makes it worse.

[2021-09-22 01:58] Kitakazi commented on #1289
Just thought I'd add this was more of an enhancement request. The element panel has all the trigger zones like image,video,audio, etc. But it doesn't have the plain ole "trigger zone" which in my experience I use just a standard Trigger Zone waaay more than the others.

[2021-09-22 10:45] plemsoft commented on #1405
This has been fixed, need pull from both Max and Wicked REPO :)

[2021-09-22 12:47] michaeloldman commented on #1375
Yes, save has issues for quite some time now.
If you add stuff, then run the level to test, esc back to editor - you will have to click something in the editor before it will save changes.

If you add stuff run the level to test, esc back to editor, and then close the window with Top Right button it will close with no prompt to save.

[2021-09-23 01:05] OldFlak opened #1410 "2021.09.17 MAX - Messing with Custom Writable Folders"
BUG 2021.09.17
MAX messing with Custom Writable Folders
- Max renames custom writable folders
- Creates new folder system in custom location
- the warning dialog when updating only mentions core folders, not custom writable folders

Expected Behavior
- Leave custom writable folders alone
- Have to copy a whole heap of media over as result
- the idea of custom writable area is that all custom media

[2021-09-23 01:08] Kitakazi opened #1411 "Movement of the water causes ghosting effect on entities in front of it"
The movement of the water causes entities that are in front of the water to also start rippling themselves.
![1](https://user-images.githubusercontent.com/51464873/134441297-b4f4a251-d2b5-4793-8fa6-c9ab2c463615.png)
![2](https://user-images.githubusercontent.com/51464873/134441301-1e62fae1-2ff3-4573-a4f3-271bcdb046b0.png)

[2021-09-23 09:43] LeeBamberTGC commented on #1408
@plemsoft I will leave this one on your plate :)

[2021-09-23 10:56] plemsoft commented on #1408
Fixed :)

[2021-09-23 12:59] plemsoft commented on #1409
@Kitakazi Thanks for reporting this issue, i was not able to reproduce it , but as you say it only happens sometimes, could it be a memory issue ? , when it happens could you sent me a copy of you "Guru-MapEditor.log" so im able to check it, also let me know how many gb. of memory you have, Thanks :)

[2021-09-23 13:51] michaeloldman commented on #1411
This has been an issue pretty much from day one.
Here be a vid of it in current build:

[2021-09-23 14:00] #1411 closed

[2021-09-23 14:04] plemsoft commented on #1369
Fixed!

[2021-09-23 14:43] plemsoft commented on #1324
@cstriage13 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-09-23 14:43] plemsoft commented on #1350
Fixed :)

[2021-09-23 14:43] plemsoft commented on #1384
Fixed :)

[2021-09-23 14:44] plemsoft commented on #1375
@synchromesh62 This has been fixed and will be in the next update :)

[2021-09-23 14:46] plemsoft commented on #1251
Fixed.

[2021-09-23 23:24] synchromesh62 commented on #1375
@plemsoft
That appears to work now.
Thanks Preben

[2021-09-23 23:53] michaeloldman commented on #1375
@plemsoft mostly fixed for me

But still not reliably prompting to save if you close with Titlebar Button:
- Add entity
- run test game
- esc test game
- close window using window titlebar button
- MAX closes with no prompt to save changes

[2021-09-23 23:58] michaeloldman commented on #1410
@ZakJudges it seams it only does this on the first update for each build

So when MAX prompts you to install new update
- it will create backup folder of Writable Folders

However if you just verify a build it leaves the folders as is.

OldFlak....

[2021-09-24 01:23] OldFlak opened #1412 "2021.09.17 MAX - Post Processing Settings Issue"
When you open a map, Auto Exp Rate, Auto Exp Level, Gamma in Post Processing are always set to default.
![Exposure Settings Not Saved](https://user-images.githubusercontent.com/12246318/134604521-258b1b84-1e08-4a0a-922e-a20ade02eea3.png)

OldFlak....

[2021-09-24 04:25] OldFlak opened #1413 "2021.09.24 MAX - Terrain Mini Map Issue"
Playable Area on Mini Map and actual terrain do not match (noticed it in all builds with terrain)
- The more you move the yellow box on mini map the worse it seams to get
![Playable area on mini mpa and actual terrain does not match](https://user-images.githubusercontent.com/12246318/134618063-ee678ad7-4c89-47e6-8267-b42a1fd62c4e.png)

OldFlak....

[2021-09-24 10:41] #1398 closed

[2021-09-24 11:55] #1026 closed

[2021-09-24 11:57] plemsoft commented on #1375
@michaeloldman Lee updated 1 hour ago, so should be fixed in a update later today :)

[2021-09-25 18:31] Kitakazi opened #1414 "When importing a model the camera speed is insanely fast"
In the importer sphere when trying to view the model you are about to import the camera is super fast. Like trying to fly around with WASD is impossible because you just zip around way to fast.

[2021-09-25 18:58] synchromesh62 commented on #1414
Confirmed.
I was going to report this today myself :)

[2021-09-26 04:46] Kitakazi commented on #1409
I have 16gb of memory.
Bug just happened here is the Guru-MapEdit log
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/7230730/Guru-MapEditor.log)
.

[2021-09-26 07:56] Denis87z opened #1415 "F11"
When you press F11 during the test, an error appears
![image](https://user-images.githubusercontent.com/89519185/134798992-c8ae12b6-1f06-4f34-a1cd-f22cb16b47d8.png)

[2021-09-26 08:03] #1277 closed

[2021-09-26 13:16] fearlesswee opened #1416 "[MAX] - Toggle off rimlighting?"
Max's graphics have always looked off to me somehow, but until today I couldn't pinpoint what it was. I noticed when putting a character indoors, his pants were glowing in the dark!

![Rimlight_1](https://user-images.githubusercontent.com/56294129/134808932-8dfc8f2b-9b12-4fc0-b628-a1b7c11e25b2.PNG)

This effect from what I can tell is known as "rimlighting", which is normally done to give a sort o

[2021-09-26 14:37] fearlesswee opened #1417 "[MAX/Classic] - An idea to handle keybindings in a better way."
A big issue a lot of reviewers have with GameGuru games released on Steam (among many others..) is the inability to rebind controls. I wholeheartedly agree, being unable to rebind an action set to an unusual key can make even the most otherwise incredible game frustrating to play. GameGuru MAX should absolutely feature a controls options menu, where the default controls (such as jump, sprint, etc.

[2021-09-28 00:23] Kitakazi opened #1418 "Zombie glitches out when turning near corner"
Video attached showing the bug.
When zombie turns at a corner he starts flickering.

https://www.youtube.com/watch?v=GYza7mJdVBY

[2021-09-28 08:51] rvanner commented on #1350
Fixed!

[2021-09-28 08:51] #1350 closed

[2021-09-28 10:36] ZakJudges commented on #1412
@plemsoft I'm also finding that FXAA keeps on being turned off every time I start MAX

[2021-09-28 10:45] LeeBamberTGC opened #1419 "Sometimes character goes dull when selected/dragged"
![image](https://user-images.githubusercontent.com/35840583/135072884-46538f2a-2f66-4ba3-8f8a-fdd422442736.png)

[2021-09-28 10:46] LeeBamberTGC opened #1420 "Fog Opacity should affect sky (for misty horror fog)"
![image](https://user-images.githubusercontent.com/35840583/135072999-a4a596c3-9656-48ed-8f27-0a7f1ea76f47.png)

[2021-09-28 10:47] LeeBamberTGC opened #1421 "Game Elements (Zones) nodes should follow terrain, not go under the terrain"
![image](https://user-images.githubusercontent.com/35840583/135073124-055bc895-7274-4346-bcd5-6aab40704d6e.png)

[2021-09-28 10:47] LeeBamberTGC opened #1422 "When in Shooter Game Mode, click and drag Gun Icon on left panel to detatch it!"
![image](https://user-images.githubusercontent.com/35840583/135073207-ace73bd6-04bd-43ec-ad0d-f91c0631d1fd.png)

[2021-09-28 10:48] LeeBamberTGC opened #1423 "When return from test level, reset waste/head twist system so this does not happen"
![image](https://user-images.githubusercontent.com/35840583/135073301-7da7c778-0ae9-4b6d-8400-66aab71f0462.png)

[2021-09-29 13:18] ZakJudges commented on #1414
This will be fixed in the next build :)

[2021-09-29 23:23] Kitakazi opened #1424 "Object Library - Mousing Over an Entity Causes a Flash of Light On Models In the Scene"
Make a dark scene with some entities that have decent metallic value and this happens when you mouse over an object in the library.
https://www.youtube.com/watch?v=_NSjIUTVhH4

video starts at 10 seconds in

[2021-09-30 02:49] #1414 closed

[2021-09-30 11:08] synchromesh62 opened #1425 "Possible Navmesh being seen as floor bug"
I suddenly started having a vertical door issue as seen in the video where the door jumps a foot when opening and closes a foot above ground. At first i thought it may be the script but the only thing i have come up with is the Navmesh is being seen as the floor under certain circumstances as i have also seen reports that some models do not sit directly on the floor when placed on the map ..
Could

[2021-10-01 22:53] Kitakazi commented on #1399
Pretty sure that issue with the RPG is caused when ADS because the FOV gets bigger instead of smaller I reported this issue a while ago.

https://github.com/TheGameCreators/GameGuruRepo/issues/1138

[2021-10-02 18:21] Snage62 opened #1426 "White Screen of Death"
Hi Lea and Team,

Just been having a play around with Max and very impressed. But, when I start to make a  scene and do anything in the Editor the screen goes White and closes the the program,  this can vary from 30 seconds to 5 mins, it's all about what I would like in my scene, also any character I put in the scene along with my player we both end up under water.

Could you tell me when I could

[2021-10-02 20:42] cstriage13 opened #1427 "Shadow Bugs"
These shadow bugs may be the same issue but I found three separate instances in which shadows did not work correctly, at least it appears they are not working correctly. Used without changing anything the jungle game from the contest. Just casually walking around the map I noticed these things.

Overlap of shadow edges of shadow not feathering properly looks like cut and paste.
![shadow overlap Bu

[2021-10-02 21:53] niijel opened #1428 "GGmax 2021.10.1 locks up on load screen"
Clicking on the update button on load screen, program locked.
Cleared document folder and ran updater manually - this appears to fix it.

[2021-10-03 12:17] OldFlak commented on #1408
Not Fixed in current version - 2021.10.01
![MAX Rendering Scene In Objects Library](https://user-images.githubusercontent.com/12246318/135753263-2da65bb3-fe7d-45ad-8975-2c2dc38ebc98.png)

[2021-10-03 21:29] Ghazzly opened #1429 "GGMAX Created Level Save Issue / Crash Upon Loading Levels"
Any levels created in the latest update build do not reopen properly after saving.
Upon reopening the saved level, everything built is erased.

The terrain area is also reset and moved to the default location

Demo Level's also crash when testing.
(I'm guessing that's because they were made before the new terrain system

Also, the indoor shooter level cellar does not load at all, Instant crashing

[2021-10-04 01:23] Shirley196 opened #1430 "Gameguru max will not open after updating 2021.10.01"
I have update game guru max to 2021.10.01 using the auto updater opened the game it freezes the screen and l get a runtime error 502 0 and sometimes the welcome page comes up for 2 seconds and goes to a freezen screen
![20211004_142322](https://user-images.githubusercontent.com/91857788/135780869-e5606f16-6f3e-4a42-aecf-ccfc3616b49a.jpg)
![20211004_141250](https://user-images.githubusercontent.com

[2021-10-04 02:24] Kitakazi commented on #1409
This latest update seems that this bug is less common, although it just happened to me, so i'm posting another one of my editorlogs in case it helps. Im not sure it has anything to do with multiple selection anymore, but may have to do with the current objects and groups feature. I've noticed before this bug happens sometimes the "current object" panel will start to display entities that I selecte

[2021-10-04 05:27] plemsoft commented on #1408
@OldFlak It looks like a custom thumb from your write folder, could you try to double click it and select "update thumbnail" , thanks :)

[2021-10-04 09:10] OldFlak commented on #1408
@plemsoft
That was the result of hovering mouse over the item
- it was showing the level under it as the item animated.

Yesterday it was reliably doing the same thing on every tile, even after rebooting system
- Today not doing it at all anywhere

So perhaps still a random issue? :)

[2021-10-04 11:17] LeeBamberTGC commented on #1408
@OldFlak I think this relates specifically to the level that was loaded into the editor when you browsed the object library.

@plemsoft It could be the position we place our preview objects for rendering the object library thumbnails. Perhaps take a leaf out of the character creators book and make the coordinate incredibly out of reach from the game level geometry.

NOTE: I was not able to reprodu

[2021-10-04 12:25] ZakJudges commented on #1430
Hi @Shirley196, does the issue persist in a clean install of the software? :)

[2021-10-04 12:28] ZakJudges commented on #1426
Hi @Snage62, so I can look into this, could you send a video of the crash, as well as a model that is not working properly? :)

[2021-10-04 12:37] ZakJudges commented on #1429
Hi @Ghazzly, Would you be able to check if you still experience these issues after verifying your files in the updater? :)

[2021-10-04 13:18] Ghazzly commented on #1429
Hey,

Yeah ill get right on it when I'm home from work and let you know.

Thanks Zak

[2021-10-04 19:34] Shirley196 commented on #1430
Yes l have reinstall it twice now last weeks update worked fine just this weeks update

[2021-10-04 20:51] Ghazzly commented on #1429
Hi @ZakJudges

Still getting the same issue as before even after verifying my files.

Here's a short clip of whats happening
https://youtu.be/rmTcBvzJA9k

[2021-10-04 21:19] Ghazzly commented on #1429
Hi @ZakJudges

I've recorded a short video on what is happening, Although the recording is poor and there's a few artifacts from the recording software that I cannot explain why they appear but they aren't actually from Game Guru Max.

However, Upon saving my level and then reopening it, This is what happens

https://youtu.be/g0SYUPSowAE

Thanks

[2021-10-05 11:26] ZakJudges commented on #1429
Hi @Ghazzly, thank you for recording the video. I haven't been able to reproduce the issue seen, is there any chance you would you be able to send the map file too?
@LeeBamberTGC Would this one be for you or @plemsoft? :) Seems it could be terrain physics, or just the wrong coordinates being used after loading.

[2021-10-05 11:28] ZakJudges commented on #1430
@plemsoft Any ideas? :)

[2021-10-05 11:31] Ghazzly commented on #1429
Hi @ZakJudges Yeah I'll provide the map file later on tonight.

It also happens with the demo levels, the floor/terrain doesn't load in properly so the player just constantly falls.

Had the same issue a few times after generating my Arctic terrain and placing the player start then running the game, the player will then fall through the level.

I'll attach the file around 5pm

Thanks for getting b

[2021-10-05 12:19] casigus opened #1431 "evaluation"
![image](https://user-images.githubusercontent.com/68471279/136020733-570ee368-41ec-48bf-8a9a-214121f5beba.png)

not really got anything to report other than the engine is a helluva lot smoother now, loading times are mininmul, everythings smooth, few random hic ups here and there, but really pleased and impressed with all these lovely new features and wanted to congratulate the gameguru max team.

[2021-10-05 13:08] plemsoft commented on #1430
@Shirley196 Try this: in your Max install folder, rename this file "changelog.txt" to "testchangelog.txt" , and let me know if this fix your issue, thanks :)

[2021-10-05 18:33] Shirley196 commented on #1430
Hi thanks l have try this but still is doing the same thanks

[2021-10-06 04:36] Ghazzly commented on #1429
[Test 3.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7290834/Test.3.zip)

@ZakJudges  Please find attached zip file with the map created in the video I shared previously.

Sorry for delay

[2021-10-06 06:46] plemsoft commented on #1430
@Shirley196 Thanks, we dont have many places that are able to produce a 502 error , one place that can do this is on the "changelog" screen (renaming changelog.txt should skip this screen), anyway the main problems is that somehow one of your files is bad or are missing. could be locked ?

Try this:
Reboot your computer.
Do not startup max, but instead start "GameGuru MAX Updater.exe".
Run "Verify

[2021-10-06 06:53] Shirley196 commented on #1430
Hi i have restarted the computer 3 or 4 times and have run the gameguru max updater 3 or 4 times but says all the files are there and do you want to start game guru .  The welcome screen comes up for about to seconds and then goes to the screen 1st picture screen and you cant open anythink on it or move the mouse around

Thanks shirley

[2021-10-06 06:59] Shirley196 commented on #1430
Yes its the freezen

[2021-10-06 07:11] plemsoft commented on #1430
@Shirley196 Please let me know your computer specs , GPU , MEM ... Also try this: in setup.ini change this line "producelogfiles=0" to "producelogfiles=1" , this will generate a "Guru-MapEditor.log" when you startup max, it is located in your write folder. Please also upload this log here so im able to see where it fails , Thanks for your help :)

[2021-10-06 07:27] Shirley196 commented on #1430
![20211006_202144](https://user-images.githubusercontent.com/91857788/136158309-1daf51fa-62de-4baf-bf02-7181443d870d.jpg)
Th
![20211006_201811](https://user-images.githubusercontent.com/91857788/136158322-35e2af88-4511-4556-807d-a89e51fc1235.jpg)
E file already had producelogfiles set at one as shown in the photos l cant find the guru-mapeditor.log thanks shirley

[2021-10-06 07:31] plemsoft commented on #1430
@Shirley196 If you do not use a custom write folder, the log will be placed here:
"\Users\YOURUSERNAME\Documents\GameGuruApps\GameGuruMAX\Guru-MapEditor.log"

[2021-10-06 07:35] Shirley196 commented on #1430
![20211006_203502](https://user-images.githubusercontent.com/91857788/136159632-45e0db2f-e022-46a2-81df-7df6422e4cd9.jpg)
![20211006_203447](https://user-images.githubusercontent.com/91857788/136159639-8f2eae24-9119-48b0-bf95-d29887840c7a.jpg)
![20211006_203408](https://user-images.githubusercontent.com/91857788/136159649-eb55e65e-59c4-41c6-93ce-5613d39b00cc.jpg)
![20211006_203424](https://user-im

[2021-10-06 07:35] Shirley196 commented on #1430
I found it sent it through

[2021-10-06 08:08] plemsoft commented on #1430
@Shirley196 I noticed in your crash image (pic 1) , that it looks like you have 2 copies running ?

![crash-problem](https://user-images.githubusercontent.com/18662417/136163953-cb8e03f0-757e-4f18-9be9-9d18f3b07e6d.jpg)

Or is one of them the updater ?
What is your GPU ?
Could you make a fresh screenshot of where it crash, and where only one copy is running , thanks.

[2021-10-06 08:10] Shirley196 commented on #1430
One is the updater and the other is guru max

[2021-10-06 08:18] Shirley196 commented on #1430
![Uploading 20211006_211903.jpg…]()

This is the start up

[2021-10-06 08:20] Shirley196 commented on #1430
![20211006_211909](https://user-images.githubusercontent.com/91857788/136166113-dd68eb1c-9de8-40e2-aa52-80176898ca49.jpg)

[2021-10-06 08:21] Shirley196 commented on #1430
![Uploading 20211006_211903.jpg…]()

[2021-10-06 08:22] Shirley196 commented on #1430
![20211006_211907](https://user-images.githubusercontent.com/91857788/136166593-d24fa863-3829-4954-89c2-ab4c0133ce2d.jpg)
![20211006_211909](https://user-images.githubusercontent.com/91857788/136166606-27c7a76d-e4a3-404d-8a18-c84db42e03b9.jpg)

[2021-10-06 08:27] GraPhiX-Guru commented on #1430
I notice from your screen shots you are not connected to the internet, it also looks like you have a third party AV installed.

try disabling/uninstalling your third party AV program restart your PC and make sure you are connected to the internet
![Screenshot 2021-10-06 092719](https://user-images.githubusercontent.com/35724756/136167456-4f5a4c8d-fd22-40a8-aaf3-48ff31162415.png)

[2021-10-06 08:47] Shirley196 commented on #1430
Hi it still does the same even when im contected to tbe internet which one is the thirdparty AV thanks

[2021-10-06 08:51] GraPhiX-Guru commented on #1430
it looks like Mcafee AV this ico
![Screenshot 2021-10-06 095029](https://user-images.githubusercontent.com/35724756/136171111-3af3b00f-feb5-419f-91a0-3c24de20ad6c.png)
n

[2021-10-06 08:58] GraPhiX-Guru commented on #1430
To be honest as long as you keep up with Windows 10 updates a third party AV program is not needed, the security features built into Windows 10 should be enough, most third party AV products slow you PC down

[2021-10-06 09:15] Shirley196 commented on #1430
No its still the same freezon screen

[2021-10-07 15:55] LeeBamberTGC opened #1432 "Planar Reflection mis-aligned and has lower third artefact"
When switch off water and switch on planar reflection (the puddle), you can see the reflection is not correct:

![image](https://user-images.githubusercontent.com/35840583/136420618-82c9fc60-a41a-4ae4-b4db-9db272999712.png)

[2021-10-07 15:59] Ohneiros opened #1433 "Weird installation error"
Cheers! I've been dealing with this problem for about a month now. GameGuruMax created some folders in my installation that were originally on GameGuru (Classics and subfolders, Purchases, and others). In addition to it, I can't run any level that contains even a single entity. I already did powerful uninstalls with iOBit, manually cleaned the registry of all traces of GameGuru, GameGuruMAX and TG

[2021-10-07 16:01] LeeBamberTGC opened #1434 "Camera Clipping In Editor"
There needs to be an easy to way to remove walls and roofs when editing inside buildings and structures. The suggestion is a camera clipping plane based on the camera position and view direction, extending outward by a configurable slider value for objects that have been marked as locked.  Search for an use the reflection clipping plane and either repurpose this system or add a new camera clip pla

[2021-10-09 09:56] GraPhiX-Guru opened #1435 "GameGuruMAX[Build 2021.10.08] Sky Glitches and Crashing"
Hi
I have just updated this morning, unfortunately i cannot add any items from object library as soon as i try MAX Hangs, if i click on the preview icons the sky glitches badly, the sky does have artefacts anyway before i try and add an object.
The cloud edges are very pixelated which is enhanced when i click on an item in object library.
video of what happens: https://youtu.be/TdmnR2RrmXw

Regard

[2021-10-09 10:29] ZakJudges commented on #1433
Hi @Ohneiros, would you be able to verify your files using the auto updater, and then let me know if the problem persists? Thanks

[2021-10-09 10:34] OldFlak commented on #1435
Yes, seeing the same thing with the sky glitching when previewing models in Object Library

But have no problem adding items to map.

[2021-10-09 10:41] GraPhiX-Guru commented on #1435
Think i have found the cause, if the object library window is past the main window (even thought it is fulscreen) MAX will hang and crash, if the object window is inside the main window i can add items.

Screenshot: the yellow arrow shows where the edge of the object window is, this will hang MAX
![boundry](https://user-images.githubusercontent.com/35724756/136654712-5f2d31cd-dd42-4c6e-bb92-7588dd

[2021-10-09 14:29] mmofreak opened #1436 "Implementing Steamworks API for Achievements (luasteam module)"
Hello :D

I would like to add steam achievements to my game and I already found these lua bindings for the steamworks API: https://luasteam.readthedocs.io/en/stable/index.html

I was able to integrate this using the Love2D Game Engine but is it possible to do this with gameguru too?

You just need to download 2 files: https://luasteam.readthedocs.io/en/stable/getting_started.html#installation

Thi

[2021-10-09 15:37] PaulFox12 opened #1437 "GameGuruMAX[Build 2021.10.08] Skybox glitching"
Skyboxes (not simulated sky) glitch and shake around when moving using WASD keys both in editor and test game.

[2021-10-09 15:47] synchromesh62 opened #1438 "Reflections ... Possible Bug ?"
Not a show stopper just making you aware.

Using a smooth normal texture and extending the light probe i am able to get the desired reflections that the SSR used to give me however they are not real time like the SSR as the video below shows Move the box and the reflection stays ?

https://youtu.be/yX_M2c6r3Jg

[2021-10-09 20:08] Ohneiros commented on #1433
Thanks for the reply. Yes, I have verified them every time I tried
reinstalling (about 5 times already) but the problem is still there.

El sáb., 9 de octubre de 2021 07:29, ZakJudges ***@***.***>
escribió:

[2021-10-11 03:00] fearlesswee opened #1439 "Rotation Widget Borderline Unusable"
The rotation widget behaves incredibly awkward more often than not, with the model jittering around uncontrollably. This can make simple adjustment of an object's rotation incredibly tedious, since you are forced to use the unintuitive sliders rather than the visual widget.

https://user-images.githubusercontent.com/56294129/136727211-ee88b80c-9076-4ff5-b8fb-3b32e24633e2.mp4

[2021-10-11 12:43] LeeBamberTGC opened #1440 "Gadget Work (some old sliders remain & General component not reversing the indent)"
The player start marker needs to updated gadgets:
![image](https://user-images.githubusercontent.com/35840583/136791797-bac12bc3-723c-4d6c-b3c3-1c374a7f459c.png)

The General component does not restore the INDENT causing Developer Mode to be nested when it should not be:
![image](https://user-images.githubusercontent.com/35840583/136791864-4174543c-138e-4cae-9bea-b5c32e6e4096.png)

[2021-10-11 22:59] Kitakazi commented on #1409
If you place an entity on your map, and edit the custom materials, save the level, and then change the textures in the FPE very weird texture bugs similar to the one in the original video of this post will happen.

[2021-10-11 23:07] Kitakazi commented on #1435
I just had the sky glitch and crash happen to me but it was when I placed a really long object that cut through the terrain.  I reproduced it a few times only with really big objects that would spawn dissecting terrain immediately after clicking the object in the library.

[2021-10-12 19:36] Kitakazi opened #1441 "Copy and Paste is difficult to use when pasting smaller objects."
When you paste an object it seems to spawn the pasted object at some random location near the copied object.  This is alright when you are pasting bigger sized objects and have the camera pulled out away from said object. But when you have to zoom in closer to small objects, like when working on an indoor scene, the pasting is a real headache. Because it will paste the object outside of your camer

[2021-10-12 21:26] Duchenkuke opened #1442 "[GG CLASSIC] Please take a look at the lightrays in gameguru classic"
Lightrays used to look really good in the older gg versions, but now its just.. idk how to even describe it.
It looks off !
It also costs much performance and its basically useless.

is there a way to have beautiful lightrays at a low performance cost ?
Ive seen lightrays done very well in some games.

[2021-10-13 13:58] ZakJudges opened #1443 "Custom Player Hurt Sounds"
From OldFlak:
- It would be good if we can have the option to play the player hurt sounds
- and also have a couple sound slots so we can assign custom player hurt sounds

[2021-10-13 14:12] ZakJudges opened #1444 "Video Zones Causing Crash in Test Game"
- Place video zone and select a video
- Run test game and enter video zone
- Crash occurs upon completion of the video

[2021-10-13 16:55] Kitakazi opened #1445 "Weird Shadow(Transparency?) Bug with Flashlight"
I have seen this happen a few times now, although it is a bit more rare. Shining the flashlight sometimes causes weird see through shadows. Not sure how to describe it, see video.

https://www.youtube.com/watch?v=-fQeW0_tBvw

[2021-10-13 21:13] Kitakazi opened #1446 "Editor Camera Jerky Movements"
The editor camera will sometimes jerk to a random position.

One way to reproduce this mouse over either File, Edit, Help, or Temp in the top left. Then right click in the 3d Level Editor anywhere on the screen and the camera will jerk to a random spot.

https://www.youtube.com/watch?v=2BarKOLqNgM

[2021-10-14 01:21] Kitakazi opened #1447 "Camera Speed to Fast when a bit above the terrain"
Have an indoor level that starts in a basement type building then goes up a flight of stairs. So trying to edit the rooms high up the camera speed is way to fast. Probably due to the feature where camera moves faster the higher up you are.

Maybe make the camera speed up the longer you hold down the W key instead of being based off of height? Cause I'm not even very high off the ground and the spe

[2021-10-15 02:07] Kitakazi opened #1448 "Using a Trigger Zone with Logic Line to Door - LUA Error"
Just tried to open a door using a trigger zone with the Logic Line connected from Zone to the door. Activate Object in the logic box.

and get this lua error

![image](https://user-images.githubusercontent.com/51464873/137420883-de23c532-4035-4864-a0fd-45331a3cbb1f.png)

[2021-10-15 02:09] Kitakazi opened #1449 "Can't delete the Logic Nodes once drawn."
Once you draw a logic node from one object to another ( sorry not sure what the real name is for the logic lines) you cannot delete them.

[2021-10-15 02:16] Kitakazi commented on #1448
attempting to look at the key will give this LUA error and crash to desktop
![image](https://user-images.githubusercontent.com/51464873/137421730-a8ac0c79-023b-4f03-8ddb-75ea722b6972.png)

[2021-10-15 10:07] rvanner opened #1450 "Don't allow characters to be scaled, it will cause too many issues"
We don't want to allow this for example;

![image](https://user-images.githubusercontent.com/1503593/137471002-4e995077-860f-420f-9909-969f98638aea.png)

[2021-10-15 10:10] rvanner opened #1451 "Cannot hide the game elements"
@ZakJudges It's now impossible to hide these;
![image](https://user-images.githubusercontent.com/1503593/137471399-80a03093-6b13-4957-9ab3-718e83bbf634.png)

Maybe something Lee broke?

[2021-10-15 10:11] rvanner opened #1452 "During test game initialisation, the sky is messed up"
See this screenshot;

![image](https://user-images.githubusercontent.com/1503593/137471579-4fd1b2b4-805d-47e3-9c12-953404b29485.png)

[2021-10-15 10:12] rvanner opened #1453 "Ragdoll inverted bones?"
The ragdoll death has all the bones messed up, look at this poor fellow in his final pose;
![image](https://user-images.githubusercontent.com/1503593/137471769-b5411180-283c-4e8c-bff5-56bb807707e5.png)

[2021-10-15 10:14] rvanner opened #1454 "Characters should walk through ragdoll characters"
It would be far better to have characters run through enemies that have died. Currenly they run over them but it looks silly and not something you see in games.

[2021-10-15 10:16] rvanner opened #1455 "Characters should walk out of step with each other, not in unison"
Add some randonmness as to when enemies start to walk. They should not look like they are on parade!

![image](https://user-images.githubusercontent.com/1503593/137472106-af082fb8-b0fa-4a1e-85c9-a7e39712687f.png)

[2021-10-15 10:17] rvanner opened #1456 "Characters coloured blue when you are on edge of water in/out"
This should not be allowed to happen;

![image](https://user-images.githubusercontent.com/1503593/137472324-05c04fdb-74e9-48db-a93f-5c5d6411eec2.png)

[2021-10-15 10:18] rvanner opened #1457 "Improve enemy AI so they don't walk into the water"
Characters need to be aware of the water danger around them.

![image](https://user-images.githubusercontent.com/1503593/137472444-a1867e7d-c31e-4c65-b6ef-d9c9d6d83434.png)

[2021-10-15 10:44] #1451 closed

[2021-10-15 12:00] OldFlak opened #1458 "MAX 2021.10.15 - Soundinzone Issue"
If a you walk into a zone with Soundinzone script it will play the audio as expected.

But it should only restart the audio if it has finished playing, rather than restart every time to leave/enter zone.

[2021-10-15 12:05] synchromesh62 opened #1459 "Adding Assets messes up Visual nodes"
As Heading states
Adding Assets messes up Visual nodes
Video supplied.
https://youtu.be/am94Zvkbthc

[2021-10-15 12:06] plemsoft commented on #1358
@OldFlak Try increasing the resolution of the shadow map, you can do this be lowering the "sun shadow distance".
Try that and see if any setting is working for you :)

![shadowresolution](https://user-images.githubusercontent.com/18662417/137484087-6e574ba0-6003-433b-967d-ca4fa1ae0409.jpg)

[2021-10-15 12:17] OldFlak commented on #1358
@plemsoft yes , have played a bit with those settings, and doesn't change it
![2021 10 16 - shadow issues - 02](https://user-images.githubusercontent.com/12246318/137484884-14a1a2c4-745c-496b-bc4c-4269e0e7e9d7.png)

also tried changing **Spot and Cascade to 1024**, and **Point Lights to 2048**, can't have both at 2048, max goes into a fit and changes it back.

[2021-10-15 12:44] ZakJudges commented on #1450
@LeeBamberTGC @rvanner Will do! Should the scaling be restricted to non-advanced, or all users? :)

[2021-10-15 12:45] LeeBamberTGC commented on #1450
@ZakJudges All users.

[2021-10-15 12:48] LeeBamberTGC commented on #1454
@rvanner Then are you fine with the ragdolls falling through each other so they intersect. This is what will happen if we remove the physics from tne ragdoll.

[2021-10-15 14:08] rvanner opened #1460 "Set the default climb angle to 50 degrees (currently it's set to 70)"
So set the default to 50.

Another thing you should look at is not letting the user jump up steep angles. I was able to jump up very steep slopes by pressing jump repeatedly.

[2021-10-15 14:21] rvanner opened #1461 "When you walk into the water you get stuck"
You end up sort of floating and not able to move.

[2021-10-15 14:24] LeeBamberTGC commented on #1435
I just tried moving the object library window to the described location and dragged in an object fine:
![image](https://user-images.githubusercontent.com/35840583/137503125-e93e4335-e058-478c-b5f5-aed8ebd96aef.png)

What I could do with is a video which shows from launching MAX to dragging in stock objects from the MAX Collection, that way I can see the crash, and then reproduce it here.

[2021-10-15 14:36] PaulSJ commented on #1456
@LeeBamberTGC Should be fixed on my branch

[2021-10-15 14:36] #1456 closed, assigned to PaulSJ

[2021-10-15 14:41] rvanner opened #1462 "If Shooter mode is on, when you run test game all the game elements blobs still show in the game"

[2021-10-15 14:49] synchromesh62 commented on #1459
Since i updates again just now it seems to have rectified this ..
I will treble check and if all is good i will close it :)

[2021-10-15 15:04] synchromesh62 commented on #1462
LMAO ... I thought that was a feature ?
It was quite handy for debugging. Hmm

[2021-10-15 15:05] #1459 closed

[2021-10-15 15:16] rvanner opened #1463 "Visual glitching when using the Object Library"
See this video;

https://youtu.be/_izIO2X611I

[2021-10-15 15:31] LeeBamberTGC commented on #1458
@OldFlak Changed soundinzone behavior so sound continues to play (and does not restart if you leave and re-enter zone)

[2021-10-15 16:44] #1447 closed, assigned to LeeBamberTGC

[2021-10-15 16:46] #1448 closed, assigned to LeeBamberTGC

[2021-10-15 18:53] LeeBamberTGC commented on #1435
@GraPhiX-Guru I noticed the build version was from last week. Can you try the build from today as I tried to reproduce your video with todays version and no crash, so MIGHT have been fixed.  Releasing publicly soon!

[2021-10-16 13:14] GraPhiX-Guru commented on #1435
Hi Lee
sorry been trying to finish my app, Unfortunately it still happens in latest build, what is interesting is if the main window is not full screen it is fine, only when maximised does the issue occur.

Latest test https://youtu.be/Y1Y7rtYTCqk

[2021-10-16 15:47] plemsoft commented on #1435
@LeeBamberTGC I know the problems here and will take it when im back on bug fixing, so just assign it to me :)

[2021-10-16 22:02] casigus opened #1464 "only suppose to blow the bloody doors off."
the new update has locked all the doors, like all of them, meaning you have to add a key, connect to the door for every single door, then when the doors unlocked, it won't animate!

![image](https://user-images.githubusercontent.com/68471279/137603111-eca17720-f30f-4006-92f9-21db622a8b97.png)

[2021-10-17 02:06] ivanski1983 opened #1465 "Collision shape issue?"
I have imported my own bridge and collision shape is set to polygon because the convex hull is not working correctly for this object. When I initially place the bridge the collision shape is correct (image1), but when I rotate the bridge the bridge the collision shape is off (image2)

![image1](https://user-images.githubusercontent.com/78671386/137607632-7c3af546-427f-442d-a030-e8eb1e57f774.png)
!

[2021-10-17 03:13] OldFlak commented on #1458
It stops altogether now
- the description indicates it will play the sound when you enter the zone
- so should it not play the sound again if you re-enter the zone?
- - _the problem before was it would keep restarting_ the sound even if it had not finished playing yet

The way it works now is essentially the same as the plrinzone script, which destroys the zone so it can't be played again

:)

[2021-10-17 07:01] frantic999 opened #1466 "AI getting stuck"
I have designed a level with game guru and I'm trying to get the AI to work, so far it works on a flat new map, but not on a created one. I have moved the character away from objects they either don't attack or do a stuck jiggle walk if i set a way point,i have changed messed around with settings ect ,i emailed customer services who suggested posting here

https://youtu.be/HY6iYfX2PX4
https://www.

[2021-10-17 09:58] plemsoft commented on #1435
sky glitches fixed , and a possible fix for the crash , not able to reproduce it but when the main window is not active we put the app to sleep, when you add more windows (dragging a window outside the main window) , the main window now don't have focus and we set the app to sleep, a check for this was added and i expect this to fix the crash, need confirmation :)

[2021-10-17 11:37] synchromesh62 commented on #1466
Confirmed on testing.
Initially it seems to work fine but at some point they just lock up as the video supplied shows.

[2021-10-17 14:08] frantic999 commented on #1466
would the level of detail in a map cause the ai not too function?
tried on a blank map with a default character worked
added to my map same character didnt work
went back to first map worked added more buildings still worked
my maps have alot of detail in them thats the only thing i can think it being
im on a decent enough pc just not sure about how good this game engine is and what nit can handle

[2021-10-17 14:41] Retrogamebloke opened #1467 "Cellar Demo Zombie Death - Stuck in Floor or Wall."
If you shoot a zombie from the front, it leaps forward and gets stuck in the floor. It can also get stuck in walls on occasion. Shoot it from the side and it goes down much more gracefully.
![image](https://user-images.githubusercontent.com/44620846/137632395-6807dc2d-0b2f-43a1-8ed0-1f668f584a2b.png

https://user-images.githubusercontent.com/44620846/137632407-49572d32-dcfa-4e45-a1d0-6dafba92658f.

[2021-10-17 22:05] OldFlak commented on #1458
@LeeBamberTGC
_Right now it will play the sound once when you enter the zone. If you leave and enter before the sound has finished it will not repeat the play. If you leave the zone and enter sometime later, it will play the sound again._

Yes, this is how it should work - but it doesn't. In my tests it only plays once. If you come back to the zone at a later time, it _doesn't_ play the sound agai

[2021-10-18 00:06] sirlion87 opened #1468 "Cellar Demo \ Jungle Demo not showing assets + weird Cellar glitch"
I havent checked the new updates for a couple months now - the demos used to work around June or August I believe - but now on update 15-10-2021 both demos dont work anymore.
Here's what happens when I load the Cellar demo:

![1](https://user-images.githubusercontent.com/92697844/137649816-c5f03dd2-6f71-463c-b110-60a3f289f99f.jpg)
No assets whatsoever.

And here's what's displayed in the editor:
!

[2021-10-18 00:39] Teabone3 opened #1469 "GGC (Classic) Issue: "Camera Zoom""
From the TAB-TAB menu, it seems the "camera zoom distance" slider doesn't seem to actually do anything. Not to be confused with Camera FOV or Camera Distance.

[2021-10-18 07:32] rvanner commented on #1452
I cannot make it happen now. I will close for now and keep an eye out for it.

[2021-10-18 07:32] #1452 closed

[2021-10-18 11:47] LeeBamberTGC commented on #1464
@casigus Doors are handled differently now in MAX, using the new visual logic system so you no longer need to use the IFUSED system.  In the new door script there is a flag you can toggle to lock and unlock the door at the start of the level. By default it will be set to unlocked.  Can you send me (lee@thegamecreators.com) your door model and I will see about getting it working for you (and a good

[2021-10-18 13:35] LeeBamberTGC commented on #1464
@casigus Thanks :)  I think you make a good point about backward compatibility. I will rename the new door script so you can still use the old door script when you legacy assets over. That should help a lot!

[2021-10-18 13:48] sirlion87 commented on #1468
No, I chose my own path for the MAX folder on a separate Harddrive. The docs folder tho its the default one.

[2021-10-18 14:41] sirlion87 commented on #1468
Thank you that is good to know, I will do that as a last resort if this cant be sorted out by the devs but I trust that they have the skills to do something like this. It would be silly otherwise. So if all else fails I'll resort to that.

[2021-10-18 22:04] Retrogamebloke opened #1470 "Game does not centre on game area when making a custom sized map."
If you alter the size of the terrain when making a new one, the game window does not centre on that map.
![image](https://user-images.githubusercontent.com/44620846/137812866-0f672067-290d-4508-9727-ec303f9be97f.png)
View after making a minimum 1km square map.
![image](https://user-images.githubusercontent.com/44620846/137812912-e72363ec-f5ec-45b0-a7df-06b2a0e5d638.png)
Turn left a bit and you can

[2021-10-18 22:08] frantic999 commented on #1466
I'm making an a warehouse map kind of like goldeneye  ,so far the AI is holding up but the map is still quite small an unfinished .I figure the AI might work better in a smaller space if it has walls to reference ,will post the results

[2021-10-19 17:10] Pcskiller opened #1471 "Max Do not start. it just freeze."
Please see link below
Max do not load.
Up to now i could run run every Friday build except this last one.
https://forum.game-guru.com/thread/223075#msg2644018

[2021-10-20 02:08] Kitakazi commented on #1268
I don't know the root cause to the crashing issue but I have found a solution that seems to have worked for me.

Going to the Shadows tab under Environment Effects and simply turning off the Spot and Cascade shadows, Point Lights and moving the Sun Shadow Distance to 0 and then changing them back to what they were set to has completely fixed all issues I have having where I would crash on Test Gam

[2021-10-20 07:57] plemsoft commented on #1268
@Kitakazi Thanks for getting back, that actually is the cause, before we used 4096 resolutions for shadow cascade's , after that we expanded the number of cascades, so if you had the old 4096 resolution in your fpm and try to run this fpm in the new version, it would try to setup all the additional cascades using the resolution from the fpm and you would run out of GPU memory and get the backbuffe

[2021-10-20 14:14] LeeBamberTGC opened #1472 "Add terrain debug to SUPERDEVELOPERMODE and have it OFF on each launch"
![image](https://user-images.githubusercontent.com/35840583/138110242-03d3e6db-098d-42a8-8612-dd4d7519db0b.png)

[2021-10-21 01:29] Kitakazi opened #1473 "Physics/Collision debugger is enabled on the "Shooter indoor - cellar demo.fpm.""
Just downloaded new update, and the cellar demo looks like the attached screenshot In the editor and test game. Since I just updated, Developer Mode was not enabled, which is what is suppose to give the access to physics debug tool.

![image](https://user-images.githubusercontent.com/51464873/138195610-ebf43412-f399-4ac8-975d-f8b2a878fc88.png)

[2021-10-21 02:08] Kitakazi opened #1474 "Glitch Zombie Through Wall"
It is possible to glitch zombies through the wall with ease.

https://www.youtube.com/watch?v=c7F-9h4hfws

[2021-10-21 11:03] LeeBamberTGC commented on #1462
@rvanner Fixed for next build :)

[2021-10-21 11:26] LeeBamberTGC commented on #1454
Sorted for next build - player and live characters can walk through dead ragdoll characters

[2021-10-21 12:08] LeeBamberTGC commented on #1461
@rvanner Fixed for next build

[2021-10-21 18:38] casigus opened #1475 "A case for 3rd Person."
Early this year, created a proto type game, which was a blend of 1st and 3rd person using game guru classic. Added a object, made the object a character then dropped it to the player starting position allowing the player to control it, giving the illusion of driving a car, sailing a ship or flying a space ship.

NOW, I absolutely love all the terrain stuff max has, hell most of us are blown away b

[2021-10-21 18:39] #1464 closed, assigned to LeeBamberTGC

[2021-10-22 01:00] casigus opened #1476 "weapons"
HELLO. me again.

so I copied and pasted the enhanced weapons pack which i bought from the steam store for game guru classic, and well........

they WORK and they look incredible.

![image](https://user-images.githubusercontent.com/68471279/138376664-ec23e8a7-78c5-41a5-b3d2-795bfbb7b301.png)

[2021-10-22 07:32] synchromesh62 opened #1477 "Empty level is in water."
Empty level is in water.
As the heading states although water is switched off on the empty level its still there and you splash when walking.
The water plane wants dropping slightly perhaps.

[2021-10-22 07:47] rvanner opened #1478 "Enemy issues"
Enemies should foot plant better and not have legs in the air;
![image](https://user-images.githubusercontent.com/1503593/138413195-d91b86ae-df86-45b8-9cd0-7a2f9471583b.png)

In this frame the character is looking down but his weapon is not pointing down at the player
![image](https://user-images.githubusercontent.com/1503593/138413394-8e93f0d6-2458-430d-b3f4-bcfd432b83c4.png)

Enemies are not awa

[2021-10-22 07:54] #1476 closed, assigned to nobody

[2021-10-22 19:13] Tam51 opened #1479 "Terrain sculpting"
Hi Lee I have noticed a bug in GameGuru Max when you are sculpting slopes on mountain sides and then play the game you fall out of the scene into water. Will this bug by fixed soon.

Many Thanks Tam51

[2021-10-22 20:56] casigus opened #1480 "tools bug"

[2021-10-22 20:57] Zorgo33 opened #1481 "Animation slow down depending on framerate"
https://user-images.githubusercontent.com/27580830/138521750-48839310-eb98-4e68-93af-1a55b9fcfe6a.mp4

There's a strange issue with animation speeds depending on framerate. When less framarate - faster animation, and on better framarate for some reason all animations for characters and weapons slow down and sometimes drastically. My pc's videocard - RTX 3080 TI, my previous pc had GTX 1060 but wit

[2021-10-23 05:28] #1480 closed, assigned to nobody

[2021-10-23 12:10] andypmillard opened #1482 "latest update 22/10/2021 no sculpting tools"
Start a new level, then terrain tools brings up sculpt terrain panel with Edit mode dropdown.
This displays  New, Sculpt and Paint icons. These all open various panels with sliders.
New allows to create desert, artic, temperate and mountains.
Sculpt gives me a circle brush which I can change size etc but I have no rise, lower, ramp etc.
This is the 4th update in a row I have had various operation

[2021-10-24 17:32] casigus opened #1483 "your out of the play area when not bug,"
![image](https://user-images.githubusercontent.com/68471279/138605792-e54db324-9aad-43f5-991a-a1979806d806.png)

your out of the play area when not bug,

[2021-10-25 03:51] #1474 closed, assigned to LeeBamberTGC

[2021-10-25 10:44] rvanner opened #1484 "Objects don't follow the terrain properly as you move them around"
When you move objects around they can go under the terrain and don't follow the height changes.

[2021-10-25 10:45] rvanner opened #1485 "Objects can be left under the terrain when you make changes to it"
Objects can be hidden when you raise the terrain over them.

[2021-10-25 10:46] rvanner opened #1486 "Find floor doesn't work in all situations"
After sculpting some terrain, when you try to make an object find the floor it will not find it.

[2021-10-25 16:16] karmacomposer opened #1487 "Blending/Smoothing is too weak and slider for speed of script does nothing"
When trying to smooth terrain, it is very weak. Large scale terrain changes cannot be smoothed very much. Either the editor needs a strength option/slider or the speed value causes more or less smoothing to happen.

[2021-10-26 03:08] m2design opened #1488 "Max Fps problem"
Using build 10.22.21 my Fps drop to 34-36.
using build 10 .15.21 my Fps count is a solid 58-60
Both test were run using the same map just different builds
![Max Screenshot 2021 10 24 - 12 45 25 39](https://user-images.githubusercontent.com/33361413/138802544-671d8160-dcce-4016-bb6c-91b1d07fedce.png)
![Max Screenshot 2021 10 24 - 13 22 15 24](https://user-images.githubusercontent.com/33361413/13880

[2021-10-26 09:58] Hamada880 opened #1489 "Decals doesn’t keep its properties once the game launched its set back to default. Fire decals."

[2021-10-26 12:25] #1486 closed, assigned to LeeBamberTGC

[2021-10-26 12:47] rvanner opened #1490 "Terrain editing and Ramp settings get reset between uses"
Can the terrain brush size and the ramp sizes be remembered between uses? Ramp always gets set to a small size and the sculpting sizes are reset to their default size.

[2021-10-26 12:49] #1485 closed, assigned to plemsoft

[2021-10-26 12:53] #1461 closed, assigned to LeeBamberTGC

[2021-10-26 12:55] #1460 closed, assigned to LeeBamberTGC

[2021-10-26 13:07] #1455 closed, assigned to LeeBamberTGC

[2021-10-26 13:36] rvanner opened #1491 "Combat AI issues"
Enemies still don't point towards the player;
![image](https://user-images.githubusercontent.com/1503593/138890184-2f43b08e-6523-4e86-ab03-b04beb6d2252.png)

[2021-10-26 13:37] rvanner opened #1492 "Enemies need to spread out, otherwise they end up grouping unrealistically like this"
![image](https://user-images.githubusercontent.com/1503593/138890455-ffccf532-aa40-4e66-8556-2cfb6a280aa2.png)

[2021-10-26 13:46] rvanner opened #1493 "There's a big delay when you throw a grenade at a bunch of enemies"
Watch this video to see the issue. There's clearly a spike in performance when this happens;
https://youtu.be/ddygipkvZgI

[2021-10-26 15:18] rvanner opened #1494 "Rouge polygon shows when you kill an enemy by punching them"
See this video where I set the health the enemy very low so that one punch took him out;

https://youtu.be/Xe6oB8Zf41Y

Here's the poly;
![image](https://user-images.githubusercontent.com/1503593/138909445-28d4023c-ccc7-45be-b76a-58164facc91a.png)

[2021-10-26 15:32] rvanner opened #1495 "Character Creator Zoom does not work when you move between character types"
When you move from say Male to Female, the zoom slider does not change the Zoom until you change to another clothing category.

I think the Zoom should reset to fully zoomed out when the user changes character type.

[2021-10-26 20:34] LeeBamberTGC opened #1496 "Remove all Windows OS dialogs"
Replace the big YES / NO dialog provided by WIndows OS in the Auto Updater with our own UI so there is MAX consistency in the update experience:

![image](https://user-images.githubusercontent.com/35840583/138956559-6fd70e16-52a5-4e84-9214-1349da59ac92.png)

Use existing UI elements from the Auto Updater code to show a themed message box with the same YES NO options but in the same style as the re

[2021-10-26 22:48] LeeBamberTGC opened #1497 "More Tweaks Required With The Ragdoll Constraints"
![image](https://user-images.githubusercontent.com/35840583/138971805-5d2b3a9a-ba81-4f69-a137-33370d6b8dc1.png)

[2021-10-27 11:20] rvanner opened #1498 "Punch an enemy and he dies with his back to you"
Check this video out, the 2nd character does not respond as expected
I also think some force should be applied to make the enemy fall away from the punch
https://youtu.be/vxRlyQIO9M4

[2021-10-27 12:00] rvanner opened #1499 "Punching a dead body some times shows a bullet hole"
Watch this video;

https://youtu.be/DO7h7TpcbnU

There's also an odd rag doll issues when one of the dead guys seems to bounce off another dead guy.

[2021-10-27 12:04] rvanner opened #1500 "Large boulder sinks into the terrain when rolling down"
Large boulder sinks into the terrain when rolling down.

I scaled it larger, maybe that is why it doesn't work as expected?

https://youtu.be/6mSuE0hMjXA

[2021-10-27 12:13] rvanner opened #1501 "Gun crosshairs are needed for the pistol and automatic weapon"
Hollie pointed this out to me yesterday! Can you add these in from GGC?

[2021-10-28 18:04] thor49 opened #1502 "Max - Yellow editable area marker is no good - creates BAD experience"
1. You set your editable area size.
2.  you start editing your terrain.
3. you spend quite along time setting your path ramps and all is looking great ( having fun)
4. Your edits are no where near the yellow barrier. Time to see what it looks like.
5. Press test run.
6. Walk along your path.. just getting to the good part of your work.. and MESSAGE
7. You cannot leave the play area...  I am no whe

[2021-10-28 18:31] Retrogamebloke opened #1503 "Model Importer to support more variants of models with Multiple Anims"
If I try to load extra animations into an imported makehuman/mixamo fbx model it works as long as I don't alter the scale. Setting the units or automatic stretches the objects badly.
![image](https://user-images.githubusercontent.com/44620846/139313869-06c989f0-be6a-4e01-87d1-0377d1a038ca.png)
[Anne.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7436555/Anne.zip)

[2021-10-29 00:16] casigus opened #1504 "memory issues"
this is how much memory MAX was using during a freeze up, no idea what it means, HOWEVER you smart lot might have the brains to know what would cause MAX to use 7 gig of memory and then crash!!

:)

![image](https://user-images.githubusercontent.com/68471279/139352949-d55ecfba-b668-4ab1-87f7-e675c4c74e06.png)

[2021-10-29 19:19] Retrogamebloke commented on #1501
I have to agree on having a crosshair. Some may well want to be ultra realistic, but some just want a bit of fun and having a crosshair surely helps many of us do that. I think it should be an option in Max, preferably in the final game settings as well so users can choose if they want crosshairs or not. It would also be a nice touch to be able to change the crosshairs colour when it is on target.

[2021-10-29 20:54] LeeBamberTGC commented on #1500
@rvanner In the EA version convex hulls cannot be dynamic, they will need more work. For now all objects that are hull in nature remain static.

[2021-10-29 23:51] fearlesswee commented on #1504
@LeeBamberTGC AmenMoses on the Discord mentioned having 800 copies of the same building model eats up an absurd amount of memory at 3.5 GB, which hints at a possible lack of proper instancing? (The geometry, textures, physics shape, etc. should be loaded into memory once, then for each "copy" it only stores the position, scale, and rotation, which should only take up 80 kb of memory to store the p

[2021-10-30 03:52] Retrogamebloke opened #1505 "Embedded textures in fbx files?"
Been playing further with imports and have noticed embedded textures in fbx files do not pick up.
![image](https://user-images.githubusercontent.com/44620846/139519255-04d11683-a011-4b84-9401-4f4c1d341793.png)
The textures are supposed to be included in the fbx file but the max importer doesn't see them at all. I'm quite used to this in GG, but it may be worth sorting for max as many 3D artists ex

[2021-10-30 11:35] synchromesh62 opened #1506 "Ally Issues .."
Awesome start ..
Its going to be fantastic but i thought i would throw a few things out there i noticed. ( **Video Attached** )

Very cool but better if the followed you or stayed within a reasonable range. At the moment they only move or attack when an enemy comes in range of where they are placed. Then they will become active and chase ... Still great fun though testing it out
Note only Xander f

[2021-10-30 12:00] Gusher commented on #1475
Am also insist 3rd person view, my assignments require it, otherwise need to choose an alternate game engine, especially the free ones...

[2021-10-30 16:19] casigus commented on #1504
okkkkk pokey. Was running max fine, was rather smooth, then the screens started flickering, and my AMD drivers crashed, theres no sign of over heating, tempatures are normal, and tripple titles run fine, yet max for some reason crashed the drivers, even turning 3 out of 4 of my monitors off. Had to do a full restart, but its deeply concerning when an error completely messes up the GPU drivers like

[2021-10-30 16:24] plemsoft commented on #1504
@casigus How many objects do you have in your level ? , just approximate :)

[2021-10-30 17:10] casigus commented on #1504
Oh on this one, a fair few, but and its running really good actually with all these objects in one place, the crash of all my pc and the amd drivers happened opening up the assets screen which tends to crash things quite alot or just slow down, the 17 gig max out happened with NOTHING on the map. so it can be all over the place really!

[2021-10-30 17:12] fearlesswee opened #1507 "[MAX]: Suggestion to improve factions"
Right now we only have 3 options; ally, enemy, or neutral. While finally having allies is great, only having 1 choice for enemy factions is incredibly limited. This prevents us from having say, soldiers and zombies who both fight each other, and also fight the player.

One potential and simple way to improve the faction options is to just increase the number of enemy factions available, like so:

[2021-10-30 19:14] casigus commented on #1504
ok tracked down the time it crashed (again) on event viewer.
!
![image](https://user-images.githubusercontent.com/68471279/139555720-a8ac9e1d-3720-4985-934e-97ed2de075f6.png)

![image](https://user-images.githubusercontent.com/68471279/139555728-9f130aaa-47c5-43e4-bcac-4ce788c9417b.png)

from the first crash

![image](https://user-images.githubusercontent.com/68471279/139555780-9ef544eb-b768-4a73-

[2021-10-30 21:48] casigus commented on #1504
the solution to get max functioning was to switch all the post processors off, works fine, turned the shadows off too. Im hundred percent convinced its a opptermizion problem.

![image](https://user-images.githubusercontent.com/68471279/139559208-a90651e1-1a93-4797-8545-141a4b5d7d51.png)

also the SOLDIER A.I just doesn't work, the only A.I ive ever had working is the zombie crawler, also the auto

[2021-10-30 23:04] r2ks opened #1508 "Game Guru Crash"
when I go to add a object and click on Buildings then the game guru crashes
![GG Error click buildings](https://user-images.githubusercontent.com/93450376/139560766-e104232f-3daa-4027-8d26-49916bfedecd.png)

[2021-10-31 01:05] Retrogamebloke opened #1509 "Video Playback"
This is a request rather than a bug. I wrote a demo in AGK ages ago to show just how useful video playback on a 3D object would be in Game Guru. I never ended up doing anything with it bar posting on Discord. But I still think this is a feature that for some reason is seriously underrated as useful.
https://user-images.githubusercontent.com/44620846/139562536-e43e8393-2ddf-4471-a367-4edb36fb1b6f.m

[2021-10-31 03:01] casigus commented on #1504
![image](https://user-images.githubusercontent.com/68471279/139565165-00830db5-f316-4c7c-9489-1844b9be8add.png)

oh and this. seen this a FAIR few times, this happened on a small level.

[2021-10-31 11:14] plemsoft commented on #1504
@casigus When you have one of these huge memory use, could you make a copy of your "Guru-MapEditor.log" file and upload it here, that would really help, you find the log in your write folder. Thanks for your help :)

[2021-10-31 12:41] casigus commented on #1400
the issue only occurs when you build close to the map edges, seams to be okish now :)

[2021-10-31 12:41] #1400 closed

[2021-10-31 15:09] casigus opened #1510 "WATER."
Water at 24:

![image](https://user-images.githubusercontent.com/68471279/139590007-ca67abd0-b807-4b0c-b159-99d1886eb84e.png)

water at 25:

![image](https://user-images.githubusercontent.com/68471279/139590033-c1d79ca2-6efb-46b4-8447-d585b2898c60.png)

water at 26:

![image](https://user-images.githubusercontent.com/68471279/139590049-eaf8146a-ba95-4eb1-b780-3d5ba9710491.png)

[2021-10-31 15:11] casigus commented on #1509
110& this is a f**king good idea and the clip looks amazing. I'd love to see this.

[2021-10-31 20:04] AmenMoses opened #1511 "Incorrect 'back' arrow action in MAX"
If in the model import screen you click on the 'back' arrow it goes to the Game Storyboard screen.

https://vimeo.com/640941087

[2021-11-01 09:00] GraPhiX-Guru commented on #1435
MAX Test Build 1031-1 as fixed this issue, thank you @plemsoft
https://youtu.be/dA_-VKRt8EE

[2021-11-01 09:00] #1435 closed

[2021-11-01 12:08] rvanner commented on #1510
@plemsoft The value changes for water height are too sensitive. Need a better scale.

[2021-11-01 13:25] rvanner commented on #1511
This does need tidying up. It will probably be sorted next week once the Storyboard is called up properly.

[2021-11-01 16:42] rvanner commented on #1507
@fearlesswee Factions has been put on hold for now. We will be adding them post the Early Access release.

[2021-11-01 22:34] casigus commented on #1504
hello! CHECKED the folder, thertes no map editor log :(

[2021-11-01 22:36] casigus opened #1512 "ai doesn't work"
![image](https://user-images.githubusercontent.com/68471279/139750932-a373658f-eb88-44f8-89c5-255c25a0dd94.png)

the standard chomper, lovely design, but this and the soldiers, NONE of the AI works, hasn't done for months, even after fresh installs, it just sits there. IN the builder its animated, but when you go to test mode, just doesn't move or respond.

[2021-11-02 07:51] rvanner commented on #1512
@casigus Only the character in the Showcase section uses the latest AI. Once the AI script is completed we will be updating all the characters. I will still mark this for Lee to check though. Thanks for the report.

[2021-11-02 12:22] casigus commented on #1512
oh. opps ahahahah sorry!!!

________________________________
From: Richard Vanner ***@***.***>
Sent: 02 November 2021 07:52
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] ai doesn't work (Issue #1512)

@casigus<https://github.com/casigus> Only the character in the Showcase section uses the latest AI. Once the AI s

[2021-11-02 12:48] plemsoft commented on #1504
@casigus You find it at this location on your system:

c:\Users\USERNAME\Documents\GameGuruApps\GameGuruMAX\Guru-MapEditor.log

Or if you use a custom write folder , it will be placed there :)

[2021-11-02 12:52] casigus commented on #1504
Oh. well. there we go!!! sorted!!! 😄 hope that helps!!

________________________________
From: Preben Eriksen ***@***.***>
Sent: 02 November 2021 12:48
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] memory issues (Issue #1504)

@casigus<https://github.com/casigus> You find it at this location on your system:

c:\U

[2021-11-02 12:54] plemsoft commented on #1227
@niijel We found the problem, but need you to test it in the next update:

After the next Friday build:
Go to "Settings->Developer" and make sure "Disable Object Library Viewport" is checked.

After that , try to move the window to the edge, and let me know if it fix your issue, Thanks for your help :)

![objectlib-viewport](https://user-images.githubusercontent.com/18662417/139850396-eb07dcee-de6

[2021-11-02 12:57] plemsoft commented on #1504
@casigus I do not see the "Guru-MapEditor.log" here , did you upload it yet ?

[2021-11-02 13:01] casigus commented on #1504
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/7460832/Guru-MapEditor.log)

oh boy. tempormental internet here. replied via email but the attachment didn't send over. here it is. again.

[2021-11-02 14:23] plemsoft commented on #1504
@casigus Memory do not really get high in the log you sent here, could you wait until you see a high mem use, and then after that , sent a new "Guru-MapEditor.log"  , Thanks for your help :)

[2021-11-02 14:44] casigus commented on #1504
then your map log file is broken. no program should be using this much memory!

but aye next time i get the crash Ill get that sent over too you :D see what magic you guys can do ahah. no thanks needed, happy to help!! :D

![image](https://user-images.githubusercontent.com/68471279/139869647-84d282a6-77d1-43fe-adbd-3175e5f22197.png)

[2021-11-02 18:01] Denis87z opened #1513 "ruler for landscape"
I would like to see such a tool as a ruler in the future, so that certain areas of the map can be measured. In the photo, the map is 1 by 1 kilometer in size. I have a drawing of a terrain map and without such a function it is difficult to determine by eye a hundred meters that will be the border of the map.

[2021-11-02 18:02] Denis87z commented on #1513
![image](https://user-images.githubusercontent.com/89519185/139920582-3e95c3ad-7143-4ed4-86fd-653f271055c4.png)

[2021-11-03 02:54] #1473 closed

[2021-11-03 03:20] Kitakazi opened #1514 "Bloom gets super bright when bright lights are near the edge of the screen."
See video: https://www.youtube.com/watch?v=f3eNKFQxXUY

When lights that trigger bloom are near the edge of the screen the bloom gets substantially brighter.

[2021-11-03 11:00] janekste opened #1515 "GameGuru Max - menu editor and Russian letters, Cyrillic. Is this a bug?"
Menu editor and fonts. If GameGuru Max supports TrueType fonts, then why can't I enter text in Russian? When I type a text in Russian, I get question marks.

I thought that TrueType font support would allow me to create games in any language. Why only English again?

ARIAL font. In the menu editor, I can choose different fonts. I see that there is an "Arial" font in the list. This font in Windows

[2021-11-03 21:33] Erpesjo opened #1516 "Frozen Screen"
Hi!
I would like the GameGuru Max to have a Main Camera who is still. So I just can move the mouse free and fire with a mouse click all over the screen.
The screen is still all the time, but the mouse moves around.
In some FPS system this is called Floating Zone or Mouse Dead Zone.
Cheers
Fredrik

[2021-11-04 00:44] Retrogamebloke opened #1517 "Possible Slowdown Issue/Reason."
I have been playing about scripting and due to a bit of a fluke editing the map, spotted this.
![image](https://user-images.githubusercontent.com/44620846/140237599-e2334fd8-a418-4e80-b0ac-61c80bcb8ac2.png)
You can see the shadows and such are all rendered under the terrain, including swaying with the water. Normally you can't ever see this as the camera never goes below the terrain, but my script

[2021-11-04 06:40] rvanner commented on #1516
@Erpesjo Can you please name some games that have this feature so we can see it in action?

[2021-11-04 10:33] Erpesjo commented on #1516
Hi!
Take a look at my youtube channel:
https://m.youtube.com/user/erpesjo/videos
Laserammo have this solution:
https://www.laser-ammo.se/simulators

Saab Training System have this function in their software: Indoor Trainer.

Meggit have this software.

LaserShot also have this function:
https://www.lasershot.com/

Dryfire have their solution:
https://dryfire.com/

This was just some companys. Ther

[2021-11-04 12:09] ZakJudges commented on #1497
@LeeBamberTGC I've made some more changes to the ragdoll setup. I haven't seen any twisting after testing, but if anything strange happens just let me know and I'll take another look at it :)

[2021-11-04 12:17] ZakJudges commented on #1505
Hi @Retrogamebloke
Would you be able to send me a model that you are experiencing the issue with. That way I can take a closer look at exactly what's going on. Thanks :)

[2021-11-04 12:20] ZakJudges commented on #1503
Hi @Retrogamebloke
So I can reproduce and investigate this, could you send me a file that you are having issues with? Thanks :)

[2021-11-04 16:46] LeeBamberTGC commented on #1497
@ZakJudges Added for next internal build.

[2021-11-04 21:10] Zorgo33 commented on #1481
https://user-images.githubusercontent.com/27580830/140420460-21d5f0dd-0b0f-45f4-91ef-13aa79a7d499.mp4

um... now it's super fast... (latest build)

[2021-11-04 22:14] casigus opened #1518 "dds error"
![image](https://user-images.githubusercontent.com/68471279/140427608-7f59472d-f59d-4673-b3c7-e533b7e585f9.png)

spent today converting textures and the fpees to stop this really annoying pop up, but it still pops up even after changing the dds to a png, hell even deleted the dds file and it still pops up, to add to that, once the pops ups are clicked away (ya get alot of them) it lets you use the

[2021-11-04 23:14] Kitakazi commented on #1138
Any update on this issue being fixed?
Not trying to be annoying but it's getting old trying to test combat with the AI and aim-down-sight making it harder to.. aim...

Whatever is suppose to control the zoom is somehow backwards. Might have to do with Max FoV settings being vertical while classic is horizontal? And this was not compensated for maybe?

[2021-11-04 23:35] LeeBamberTGC commented on #1138
Could you make a short video so we can see what you see, thanks!

[2021-11-04 23:38] #1418 closed

[2021-11-04 23:39] Kitakazi commented on #1409
This bug seems to be less frequent now. Still encounter sometimes but its waay better. so closing issue now.

[2021-11-04 23:39] #1409 closed

[2021-11-04 23:39] Kitakazi commented on #1337
this has been fixed.

[2021-11-04 23:39] #1337 closed

[2021-11-04 23:40] Kitakazi commented on #1289
I guess standard trigger zones won't be added due to the new AI/logic/flag/node system.

[2021-11-04 23:40] #1289 closed

[2021-11-05 00:17] Kitakazi commented on #1138
https://www.youtube.com/watch?v=ZqS7JUV0iF4
sure, here it is. I press right mouse button to ADS. What should happen: It should Zoom In / camera should magnify when aiming / FoV should become a lower value. W/e you want to call it.

What actually happens, camera zooms out/ aiming get wider / FoV goes to a higher value. It is all backwards.

In the video I put max then classic comparison. In Classic

[2021-11-05 00:25] Kitakazi commented on #1138
Which is why on this guys issue
https://github.com/TheGameCreators/GameGuruRepo/issues/1399
he can see the part of his RPG he isn't suppose to see. Cause the FoV is not getting set to a smaller value when he aims, it is getting bigger, one.

[2021-11-05 13:45] Gusher opened #1519 "GGMAX FEATURE REQUEST: Embedded FBX / glTF"
For the case of ease of use and smooth workflow am hoping to see support for embedded media for FBX and if possible, also glTF, pbr maps png format along with collision, example, crate, crate_collision...

[2021-11-05 20:30] Retrogamebloke commented on #1505
![image](https://user-images.githubusercontent.com/44620846/140574334-ba95fe2b-9ebe-4ea2-9437-981507a916b9.png)
The model should look like this.
[Walking.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7488746/Walking.zip)

[2021-11-05 20:41] Retrogamebloke commented on #1503
[models.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7488780/models.zip)
Here are 3 of them. Scaling works for each separately, but if you set the scale at any time when more than one is loaded in you get the elongated bone effect above. This is in the importer screen.

[2021-11-05 23:19] Zorgo33 opened #1520 "Fullscreen on first launch of update."
This is not that big of a deal, but i figured to post this because i think it's strange to have it and needs removal. Basically, the engine runs fullscreen on first launch of any updated versions, on the next launch, it's normal. As i said, not that big of a deal but it's pretty weird and pointless and shouldn't be hard to remove : )

[2021-11-06 00:24] casigus opened #1521 "testing so far update."
smooth as hell, running super stable, moving around so much smoother, building loading the assets super fast, feels like this release is the most stable version thus far. yet to find any problems bugs, but ill report them in as soon as possible.

build a big level, no slow downs,

super impressed.

![image](https://user-images.githubusercontent.com/68471279/140591393-eb845321-400a-49cd-bfb6-a3dcc6

[2021-11-06 00:25] #1518 closed

[2021-11-06 00:25] casigus commented on #1518
closed, its magically stopped happening

[2021-11-06 04:45] Kitakazi commented on #1138
I have made a band-aid fix for this issue. Editing the code in gameplayercontrol.lua I changed line 551
which was originally
trealfovdegree=GetGamePlayerStateCameraFovZoomed()*((GetGamePlayerStatePlrZoomIn()*GetFireModeSettingsSimpleZoom()))

I have changed to
trealfovdegree=GetGamePlayerStateCameraFovZoomed()-2*((GetGamePlayerStatePlrZoomIn()*GetFireModeSettingsSimpleZoom()))

which all I did was

[2021-11-06 08:14] rvanner commented on #1521
@casigus That's great to hear.

Can you post this type of feedback into the forums? We use the GitHub issues board for problems.

Thanks!

[2021-11-06 08:14] #1521 closed

[2021-11-06 08:49] rvanner commented on #1138
@LeeBamberTGC Worth sorting this now?

[2021-11-06 15:46] niijel commented on #1227
I can confirm that on fridays build - ticking 'disable object library viewport' prevents the issue. - when unticked issue was as before. Good job finding that one :-)

[2021-11-06 15:46] #1227 closed

[2021-11-06 19:04] LeeBamberTGC commented on #1138
@Kitakazi Yes this was a silly one :)  Fixed next week's build!

[2021-11-06 19:38] casigus opened #1522 "ai not fuctional part 2/terrian crashes"
the walking around works fine, the soldier ai doesn;t, the zombies do attack which is great but these guys don't

![image](https://user-images.githubusercontent.com/68471279/140621711-e0d04a60-8687-4225-8b58-e8a38b4f5943.png)

when clicking the soldier from the show case,
![image](https://user-images.githubusercontent.com/68471279/140621741-4cdfd01b-d57b-4ecc-8edc-f09784620d2a.png)

its phumb nail

[2021-11-06 21:10] Kitakazi commented on #1138
Cool, thank you.

[2021-11-06 21:41] Kitakazi opened #1523 "Once you have about 6 or more Spotlights on the map selecting a Spotlight causes big frame rate drops"
Once you get about 6 or more Spotlights, once you select one or create a new one it will lag hard untill you deselect the spotlight.

[2021-11-07 02:18] Ratall opened #1524 "Request Addition of water direction control"
At the moment the water always looks like it is flowing left to right. If we could set the direction we could alight it with rivers etc for a better effect. Also if all the water effects could be controlled by Lua commands we could code around some of the limitations of having only one water plane.

[2021-11-07 15:12] AmenMoses opened #1525 "Entities that are characters moving even when no script attached telling them to do so."
e.g. Place down the salmon model from MAX collection on map, change to use default.lua.

Test game and the salmon will move forwards and eventually disappear over the horizon.

This seems to happen to any non-character creator models that are set to be characters in the fpe.

Marking this as 'high' because it is getting in the way of developing AI scripts for non character creator models.

[2021-11-07 15:49] LeeBamberTGC commented on #1523
@plemsoft I think stage one is finding out why 6 spotlights hurts performance, and then if this is a Wicked limitation for real-time lights (not sure at all about that), we could set up some virtual lights and only use the real spot lights for the nearest 5 spot lights closest to the player.

[2021-11-07 17:49] Kitakazi commented on #1523
It only lags in the editor once you select the spotlight, once you deselect or go into test game everything runs smooth.

[2021-11-07 18:00] LeeBamberTGC commented on #1523
@Kitakazi Great additional info, and suggests Wicked is fine for the many lights option, and is in fact some editor specific slow down caused when the spot light has been highlighted for action.

[2021-11-07 21:08] ArgentArts opened #1526 "MAX will Not Run - White Screen then Exits"
I have had MAX uninstalled for months. Just downloaded the updater from my account today and installed MAX. There were no previous installs of MAX on my hard drives. After successfully installing MAX, I tried to run it. MAX starts, shows the titlebar at the top with "GameGuru MAX" on it, the rest of the screen is white. Then MAX exits after about a second. There are no error messages displayed.

M

[2021-11-07 22:30] LeeBamberTGC commented on #1522
@casigus Would be great to split these issues up so we can deal with them one by one, and ask questions on specific issues. Dealing with "terrian generator still causes some crashes from time to time" does not really pinpoint a bug that we can quickly fix, we would just be rooting around in the dark in the hopes of fixing something, somewhere.

[2021-11-07 23:43] casigus commented on #1522
okiies :D best of luck finding the cull prit. other than these two problems, the engine is running 100% better :D crashes are few and far between! great work.

[2021-11-07 23:43] #1522 closed

[2021-11-08 04:30] Kitakazi commented on #1523
Could be related but adding in trigger zones also drops frames hard when one is selected. Once it is placed and not selected in editor everything runs smooth but on an empty map with nothing but spot lights and trigger zones, selecting or adding in a new trigger zone dropped frames from 60 to low 40s. Basically same thing that happens when adding/moving spot lights.
Does not happen with the Player

[2021-11-08 06:40] Retrogamebloke commented on #1503
Just a quick addition to this. Tried re-importing with different scales (again) but all were way too big in max. Have limited options in Makehuman, centimetre, inch, meter and decimetre (which sounds crazy overall, why would anyone use a 0.0001 of a kilometre for anything bar big distances) The only option that got close was decimetre, madly enough, but was still twice the size of a normal charact

[2021-11-08 10:25] plemsoft commented on #1523
@Kitakazi Thanks for reporting this issue, this has been fixed for the next update, the env. probes was updated each frame (a slow process) when a spotlight was selected, this has been change so it only update the probes when you release the mouse :)

[2021-11-08 11:42] rvanner commented on #1526
@LeeBamberTGC & @plemsoft Seems like a show stopper for this user. Can you both look into this ASAP?

[2021-11-08 11:44] rvanner commented on #1525
@LeeBamberTGC Please respond to this one today. Thanks.

[2021-11-08 12:20] plemsoft commented on #1526
@ArgentArts Thanks for reporting this issue, if you do not see the splash screen but only get a white screen, it sound like a very early problem. this could be a missing/bad shader ... could you try to run "GameGuru MAX Updater.exe" from your Max folder and select "Verify Files". Just to make sure you dont have any bad/missing files.
Also if you have any special antivirus software , try to disable

[2021-11-08 12:21] LeeBamberTGC commented on #1525
@AmenMoses Fish will no longer move forward in today's internal build (up soon, will send email). If the character mode is using spine tracking they can move that way, otherwise, the MoveForward/Etc commands should be used to control characters that do not use spine tracking.

For the fish, I imagined the ischaracter=1 field would be set to zero so you have full control of the object, and this wil

[2021-11-08 15:49] Kitakazi commented on #1307
This has been fixed.

[2021-11-08 15:49] #1307 closed

[2021-11-08 15:49] #1138 closed

[2021-11-08 17:22] ArgentArts commented on #1526
I've already attempted to verify the files and the installer is telling me that everything is okay. The only antivirus I am running is Windows Defender and nothing else.

Other things I've tried:

- Running the GameGuruMAX.exe as an administrator
- Running the launcher as an administrator
- Rolling back to several previous versions
- Uninstalling and ensuring there are no traces of GameGuruMAX or

[2021-11-08 19:04] AmenMoses opened #1527 "GetObjectAnimationFinished( e ) doesn't appear to work"
Tried it with entity Id and object Id and neither seemed to work.

[2021-11-08 20:08] AmenMoses opened #1528 "Animation loop not seamless"
https://vimeo.com/643646724

This is the "Walk_Loop" animation and it appears as if it is ending a frame too early or something.

A lot of other loops in other models are similarly non-seamless  so I'm thinking it is a problem in the code rather than the models themselves.

[2021-11-08 20:31] AmenMoses opened #1529 "PlayAnimation( e ) does not stop at end of animation"
Using the following Lua:

		SetAnimationName( e, "Walk_Loop" )
		PlayAnimation( e )

With a standard character the animation continues on past the end of the "Walk_Loop" frames and plays though all frames that the character has.

My expectation is that when the end frame has played out the animation should stop and either GetObjectAnimationFinished( e   -- or obj?  ) should return 1 or g_Entity[ e

[2021-11-08 20:44] AmenMoses commented on #1525
Confirmed as fixed.

I only used the fish as an example btw, I am hoping they will all be set to not be characters.

Also the Salmon still has the wrong origin point but the Trout and Bass appear to be ok now.

[2021-11-08 23:32] casigus opened #1530 "crash during test mode!"
hello ! noticed max now crashes every time during test mode, heres a screen shot of the event. Hope it helps :)

![image](https://user-images.githubusercontent.com/68471279/140834775-a7861462-c82e-4b22-bda6-274e74557991.png)

![image](https://user-images.githubusercontent.com/68471279/140834808-442be6dc-a0b1-4181-8a0f-6aeb43911656.png)

![image](https://user-images.githubusercontent.com/68471279/1

[2021-11-09 01:50] LeeBamberTGC commented on #1525
@AmenMoses Once we have new scripts that require animals to have ischaracter=0 I will change them all of course :)  I never really saw critters as being characters as a typical terrain might have thousands of the little buggers running around :)

[2021-11-09 06:09] ArgentArts commented on #1526
BTW - I don't appear to be the only one getting this issue. Here's a thread on the GameGuru forum where someone reported the same thing back at the end of September:

https://forum.game-guru.com/thread/223044

[2021-11-09 12:27] Gusher commented on #1526
Which CPU are you using? I remember awhile back on another game engine with similiar issues that a certain intel cpu model has issues, but not on AMD..

[2021-11-09 17:11] ZakJudges opened #1531 "Changing sun direction changes the field-of-view"
- start test game with the akm
- aim down the sights and note the FOV
- change the sun direction from within the tab menu
- notice the FOV changes
- aiming down sights changes the view back

[2021-11-10 08:13] rvanner commented on #1526
@LeeBamberTGC & @plemsoft Can you work with @ArgentArts to debug what's happening on his PC? This is a showstopper issue.

[2021-11-10 10:26] rvanner opened #1532 "Objects inside locked objects should not also show as locked"
This building is locked in the Level Editor but the barrel is not locked and yet it shows with a red outline;

![image](https://user-images.githubusercontent.com/1503593/141096263-7ef1ecc7-abc5-4b92-b449-4470871fab8d.png)

Maybe a different method is needed.

[2021-11-10 17:43] LeeBamberTGC commented on #1526
@rvanner All I can think is that it relates to the audio issue we saw on your PC, but something similar but not identical. If the crash happens at the very start, it's either Wicked shaders out of date or some sound API conflict.  Any hope of testing on another computer to see if it relates to hardware or some soft-related reason.

[2021-11-10 18:05] ArgentArts commented on #1526
@LeeBamberTGC - Unfortunately, I do not have another PC I can test this on. What else can I do to help identify what's going on? I'm not the only one who's experienced this error (see my link posted above for another MAX user who has experienced this). That would indicate that, once released, there may be more people who would experience this as well. And that would lead to bad reviews for MAX, I

[2021-11-10 19:30] fearlesswee commented on #1528
Noticed this on weapons too. If you walk around holding the default included pistol or AKM you can see the walking animation doesn't loop very well, it noticeably "hitches" each time it starts over.

[2021-11-11 01:03] Retrogamebloke opened #1533 "Remnants of AI Remaining When New Level is Loaded."
![image](https://user-images.githubusercontent.com/44620846/141218024-4a41defe-7cac-442a-b5f7-dbe9acbc2c7a.png)
Was playing with behaviours. They didn't work, so loaded a new map to try again. Found an old link between objects hanging around, so looks like something is not being properly flushed from memory when loading a new level after working on an old one.

[2021-11-11 01:32] Retrogamebloke opened #1534 "Basement Collection Doors are not Working"
![image](https://user-images.githubusercontent.com/44620846/141219875-4dfa18e9-4944-49a2-8a75-a75925b0b8c4.png)
Drop any of these doors in an empty map and all have issues. None have door script attached. When you add one manually it then fails to work in various ways. Some don't animate, but still allow you through, some do nothing and some fall through the floor. The ones included with the build

[2021-11-11 01:49] Retrogamebloke opened #1535 "Terrain Generator Shadow"
![image](https://user-images.githubusercontent.com/44620846/141222363-5d1ddbc9-e1e6-4102-b52b-04471f740472.png)
What is that? Something is casting a shadow. I thought it could be from the min-map display, but turning it off make no difference.

[2021-11-11 11:45] rvanner commented on #1535
@plemsoft Here's a video of the issue;

https://youtu.be/wAJkenFlfPc

[2021-11-11 17:54] LeeBamberTGC commented on #1530
@ZakJudges Can you chase this down and see if we can reproduce it at this end, thanks!

[2021-11-11 18:16] LeeBamberTGC commented on #1526
@ArgentArts Yes a video would be great as it can often show subtle signs so I know where to focus. Also send me any "C:\Users\XXX\Documents\GameGuruApps\GameGuruMAX\Guru-MapEditor.log" file if one gets created.

[2021-11-11 18:59] ArgentArts commented on #1526
Here's the video:

http://www.monkeyfrogstudio.com/uploads/max_fail.mp4

One thing to note - sometimes MAX exits sooner (quits faster) and sometimes it hangs on for just a bit longer.

As far as the .log file, there isn't a "GameGuruApps" folder in my Documents folder.

[2021-11-11 19:15] casigus commented on #1530
UPDATE: ive moved max and myy assets to an SSD and it has improved performance for sure, less crashes and quicker load times, but not everyone will have ssds. Hope you find out what's causing this, however as you said in wednesdays live stream here will be memory improvements in the next build so Ill run it through the tests with that see if we get any of these issues. :)

[2021-11-11 19:35] LeeBamberTGC commented on #1529
@AmenMoses I will make a fix for this evenings internal build so you can test the new functionality, which will be that the played animation stops on its last frame and stays there.

[2021-11-11 19:37] AmenMoses commented on #1529
Will it also set g_Entity[ e ].animating to 0 or  GetObjectAnimationFinished() return 1 so I can detect when it has fiinished?

[2021-11-11 19:40] LeeBamberTGC commented on #1527
@AmenMoses This will be fixed for the evening internal build to be released shortly :)  [with updated globals.lua doc]

[2021-11-11 19:47] LeeBamberTGC commented on #1529
@AmenMoses Yes the .animating will be set to zero when the play is finished, and GetObjectAnimationFinished will also return 1 at this event too :)

[2021-11-11 21:12] casigus opened #1536 "collison for all objects just turned off and wont turn back on,."
![image](https://user-images.githubusercontent.com/68471279/141369512-03e62684-4f50-436f-a7f6-b72b053fbccd.png)

odd error, all the collision for all these objects has turned it self off, on top of that its also happened to a few of the assets in differrent maps, including my own assets and max assets, but not an entire map. Ive selecrted all and told max to make everything have a specific collisi

[2021-11-11 23:31] LeeBamberTGC commented on #1526
@ArgentArts Would it be okay if I send you a debug build of the executable. It will give us source code and line number of the crash, which will tell us exactly what is happening?

[2021-11-12 01:35] LeeBamberTGC commented on #1528
@fearlesswee Solved for next build, using new interpolation transition for all Wicked engine animations now, nice and smooth!

[2021-11-12 01:37] ArgentArts commented on #1526
Definitely. I would be happy to do whatever it takes to sort this out.

[2021-11-12 02:22] LeeBamberTGC commented on #1526
@ArgentArts Here is a DEBUG build of the latest MAX. It probably will not run, but when it crashes immediately it should show you a dialog. If you can snapshot that dialog, I can learn more:

https://drive.google.com/file/d/14WrHMqFeGwsvFqLI2f69zqlzjTPpTp5l/view?usp=sharing

[2021-11-12 02:26] LeeBamberTGC commented on #1534
@rvanner These came from a third party source and added to our library as static objects for scenery creation. If we want them as functioning doors, we need an artist to rework the door partts in the same way we have the Buildings Collection doors, that is, centered at 0,0,0 so the door is hinged, ready for future physics, and animating an open sequence, followed by a close sequence.

[2021-11-12 02:38] ArgentArts commented on #1526
![max_dialog_01](https://user-images.githubusercontent.com/36735507/141399487-b819f9b9-cba7-4e50-a9d8-bbefcb3c8800.png)

[2021-11-12 03:06] LeeBamberTGC commented on #1526
@ArgentArts This relates to the DXCOMPILER.DLL failing to create one of its objects:

				HRESULT hr = DxcCreateInstance(CLSID_DxcUtils, IID_PPV_ARGS(&dxcUtils));
				assert(SUCCEEDED(hr));

In translation, this means that we are using a particular version of DXCOMPILER.DLL that expects some DirectX environment that would provide us with an instance of CLSID_DxcUtils.  Possible things to try, chec

[2021-11-12 04:38] #1523 closed

[2021-11-12 04:44] Kitakazi opened #1537 "Importing a Character with animations from Mixamo no longer works"
Download a character and animations from Mixamo and try to import using the importer. It doesn't load the animations. Worked fine in previous versions.

[2021-11-12 06:02] ArgentArts commented on #1526
Since I'd reported this (first post), my PC has been updated to Windows 11, so it's definitely running DirectX as that's a requirement to be able to update. Just in case, I've run dxdiag and here's what it says:

![direcx12](https://user-images.githubusercontent.com/36735507/141418044-180c2f5a-ca14-4d55-9118-a526ecb7b3c8.png)

And definitely 64-bit. I've been running a 64-bit OS for many years now

[2021-11-12 07:41] plemsoft commented on #1526
@ArgentArts If you click next page in dxdiag , under drivers -> feature levels do you see 11_1,11_0 ?

[2021-11-12 07:43] ArgentArts commented on #1526
@plemsoft :

![dx_02](https://user-images.githubusercontent.com/36735507/141429254-d2592fbc-800d-4e30-adf9-dcc366121da8.png)

[2021-11-12 09:07] ZakJudges opened #1538 "Incorrect collision shape displayed for characters in object tools list"

[2021-11-12 09:19] plemsoft commented on #1526
@ArgentArts Please try this version and let me know the last message you get:

https://drive.google.com/file/d/1-whlcZ4d-5b82khphRBBskulCXrUeADW/view?usp=sharing

Thanks for your help :)

[2021-11-12 09:23] ZakJudges opened #1539 "Grenade smoke still visible after ending test game"
![Screenshot 2021-11-12 092147](https://user-images.githubusercontent.com/32545391/141443212-1082df8a-9e58-4e7a-82fa-d9618c0e9300.png)

[2021-11-12 09:27] ZakJudges commented on #1530
Hi @casigus, thank you for the report. The next time the crash occurs, could you attach Guru-MapEditor.log, along with a description of what you were doing in test mode immediately before the crash, or a video would help too. That would allow me to hopefully reproduce so we can work on a fix :)

[2021-11-12 09:54] GraPhiX-Guru commented on #1526
@ArgentArts  can i ask what refresh rate and screen resolution you are using ?

[2021-11-12 12:31] casigus commented on #1530
sure thing!!!!

________________________________
From: ZakJudges ***@***.***>
Sent: 12 November 2021 09:27
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] crash during test mode! (Issue #1530)

Hi @casigus<https://github.com/casigus>, thank you for the report. The next time the crash occurs, could you attach Guru-M

[2021-11-12 13:22] casigus commented on #1530
once again theres no map log, but have gathered all the crash infomation from the event log.

![image](https://user-images.githubusercontent.com/68471279/141473219-3a422c7c-f03b-4e12-95e8-1234d5f9a322.png)

![image](https://user-images.githubusercontent.com/68471279/141473243-1793e73a-050d-4d97-b9ec-7011ebfc54cc.png)

[Report.txt](https://github.com/TheGameCreators/GameGuruRepo/files/7527793/Repor

[2021-11-12 13:24] rvanner commented on #1537
@Kitakazi Can you share a model that worked before and now fails?

[2021-11-12 13:25] casigus commented on #1530
**<Keywords>0x80000000000000</Keywords>**  appears to be the keywords, which according too google is:

System file corruption – As it turns out, this particular issue can occur due to system file corruption. If you’re getting constant Event Viewers with this error, you should be able to resolve the issue by repairing Windows files and fixing logical errors with a utility like SFC or DISM.
Corrupte

[2021-11-12 13:43] #1527 closed

[2021-11-12 13:44] #1529 closed

[2021-11-12 13:45] AmenMoses commented on #1525
Seems to be fixed.

[2021-11-12 13:45] #1525 closed

[2021-11-12 13:52] LeeBamberTGC commented on #1530
@casigus If the crash happens quickly before a LOG file can be created, try this debug build as it should show you a dialog when it crashes out. Send me a shot of this dialog and I will know more. Remember to backup your real MAX exe before doing this:

https://drive.google.com/file/d/14WrHMqFeGwsvFqLI2f69zqlzjTPpTp5l/view?usp=sharing

[2021-11-12 13:58] casigus commented on #1530
ON it :D ! shall get that done now for you!!

[2021-11-12 14:05] casigus commented on #1530
![image](https://user-images.githubusercontent.com/68471279/141479523-f2ce0d6f-91cc-4e08-bd53-4c35b8e9d3e4.png)

this is what happens when trying to luanch Max :)

[2021-11-12 15:03] Granada1 commented on #1530
Hi casigus , this link might help you out
https://windowsreport.com/program-doesnt-start-error-0x000007b/?amp

[2021-11-12 15:54] casigus commented on #1530
with respect, this only happens in max, and none of the other software on this pc :) its a max issue.

[2021-11-12 15:57] LeeBamberTGC commented on #1530
@casigus Alas I was hoping for a source code file and line number. Can you double check you extracted this EXE:

https://drive.google.com/file/d/14WrHMqFeGwsvFqLI2f69zqlzjTPpTp5l/view?usp=sharing

And copied it into the root folder. Maybe have the old and new side by side, and show properties of each so I can see, thanks!

[2021-11-12 16:12] casigus commented on #1530
aye its the correct one,
![image](https://user-images.githubusercontent.com/68471279/141497754-251a6306-c70e-49c7-9bfd-17e205e2caf4.png)

and it just said nope.  same error,  it refuses to run that .exe :( sorrry.
![image](https://user-images.githubusercontent.com/68471279/141498304-38f8aae0-9cb6-4f3b-9cc1-650763ca7c39.png)

[2021-11-12 16:13] ArgentArts commented on #1526
@GraPhiX-Guru - 3440 x 1440 at 100Hz.

[2021-11-12 16:17] ArgentArts commented on #1526
@plemsoft - This one actually runs on my system. After various messages, I am able to get to the storyboard section and then, via exiting the storyboard, to the main level editing GUI. I am able to move about the main viewport, too.

[2021-11-12 16:24] LeeBamberTGC commented on #1526
@plemsoft What was the magic sauce?  Looks like you forged a path through!

[2021-11-12 16:28] ZakJudges commented on #1530
@casigus Does the problem persist when MAX is installed on the same drive as Windows?

[2021-11-12 16:29] casigus commented on #1530
i can't install it on the same drive as windows, the windows ssd isn't big enough to install anything to it aside from the OS. :)

[2021-11-12 16:44] ZakJudges commented on #1530
@casigus By any chance are your J: or F: drives external?

[2021-11-12 16:51] casigus commented on #1530
j is external, but did have it on an internal (f) and same results, J is an external SSD hooked up to usb 3 via a sata too usb cable, ran red dead 2 off this thing with ease. 🙂

________________________________
From: ZakJudges ***@***.***>
Sent: 12 November 2021 16:44
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo]

[2021-11-12 17:06] ZakJudges commented on #1530
Shot in the dark here, but could you try moving your MAX install to an internal drive (if not already there), replace the exe with the debug build that Lee sent, and then run the exe as an administrator? :)

[2021-11-12 17:08] casigus commented on #1530
i already have it on a internal drive for a situation like this! yes Ill give that a go now, see if lees exe works !

________________________________
From: ZakJudges ***@***.***>
Sent: 12 November 2021 17:07
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] crash during test mode! (Issue #1530)

Shot in the dark her

[2021-11-12 17:09] casigus commented on #1530
yeah. no joy with that saddly!!! worth a shot !!! 🙂

________________________________
From: ZakJudges ***@***.***>
Sent: 12 November 2021 17:07
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] crash during test mode! (Issue #1530)

Shot in the dark here, but could you try moving your MAX install to an internal drive

[2021-11-12 17:11] ArgentArts commented on #1526
So, will this fix be included in the Friday update? Or should I wait until next week's release before I update?

[2021-11-12 17:23] LeeBamberTGC commented on #1526
@plemsoft If Preben is happy the fix is careful, and keeps stability for our Friday release, and he sees this tonight, I will add it :)

[2021-11-12 19:29] AmenMoses opened #1540 "Entering water makes character bald."
https://vimeo.com/645348061

Looks like hair is not rendering when underwater.

[2021-11-12 19:33] plemsoft commented on #1526
@LeeBamberTGC Sorry i think i cant make it today, it will require some new shaders, and more testing but i know the problem and will explain on TW , @ArgentArts Sorry don't think i can make it for today, but for sure in the next update. Anyway i will post a version tomorrow that you can use until then :)

[2021-11-12 19:34] AmenMoses commented on #1528
By next build do you mean later today or next week, cos I can't see any change in the build that I just updated to.

[2021-11-12 19:40] ArgentArts commented on #1526
No worries and no hurry (on my part).

[2021-11-12 20:05] ArgentArts commented on #1526
@plemsoft Should I not try using this version to learn MAX? When I place a player start and hit the rocket to start the level, I get the following error:

![runtime](https://user-images.githubusercontent.com/36735507/141528132-86961470-9a78-49ef-a22b-52578acf472e.png)

[2021-11-12 20:33] AmenMoses opened #1541 "Lua error in _init function cause MAX to crash out to desktop"
This was fixed in GGC a while back so I was a little surprised to see it happen in MAX.

[2021-11-12 20:56] Kitakazi commented on #1537
[test.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7530361/test.zip)

[2021-11-12 21:56] ArgentArts opened #1542 "MAX Issue - Enable Snap Mode - Use Grid Position - Clicks/Select Entity Moves It"
Hello. With Enable Snap Mode and Use Grid Positions enabled, every time I click an entity to select it, it moves. The movement amount corresponds to the Grid Offset settings. Selecting an entity should not move it.

[2021-11-13 07:37] casigus commented on #1530
and its working. the update appears to have sorted what ever was causing that crash out. great job guys!

[2021-11-13 07:37] #1530 closed

[2021-11-13 08:38] plemsoft commented on #1526
@ArgentArts Yes but that file is part of the new Friday build , so this is what you should do.

1. Install the latest Friday build.
2. Download the new .exe from below link.
3. Install it into the latest Friday build.

And you should be good to go.
Let me know if everything works for you, and i will get the commit to Lee :)

https://drive.google.com/file/d/10Bzj8Xm7UaL_TIYPFMMtDRpB6RFoM0fG/view?us

[2021-11-13 13:03] Teabone3 opened #1543 "GGC Issue: Visual Issues When Player Moves"
This one is hard to explain and hard to capture to show.

When the player is in motion moving forward the terrain appears slightly dark, then when you idle it gets brighter.
Will test to see if this is related to bloom.

[2021-11-13 13:15] Teabone3 opened #1544 "GGC Issue: Allied Knight Animation"
Sometimes allied knight will slide around without walking animation. This occurs if you he gets blocked from being able to follow you and you go further enough away and go back to him.

[2021-11-13 14:57] ArgentArts opened #1545 "Feature Request for MAX - Keyboard Shortcuts for Translate, Rotate, and Scale"
I often work with the gizmo/widget for translating, rotating, and scaling an entity. Currently, to switch between modes, we have to leave the entity and go to the top of the right-side panel to click a button to change modes. I would like to see simple keyboard shortcuts added to switch between modes (translate, rotate, and scale). I know about the rotate shortcut that, when pressed, rotates the o

[2021-11-13 15:26] PaulFox12 opened #1546 "GGMAX Feature Request - Classic keyboard shortcuts"
Being able to use keyboard shortcuts like 'G' to switch between camera modes, 'Y' to change a selected object from static to dynamic vice-versa

[2021-11-13 15:30] PaulFox12 opened #1547 "GGMAX - Feature request - double clicking level in storyboard to edit"
Being able to double click a level in your project storyboard to have it open in the editor, currently no way to quickly edit a level in your storyboard other than closing storyboard>File>Open Level

[2021-11-13 15:39] ArgentArts commented on #1526
Thanks. Worked perfectly.

[2021-11-13 16:30] casigus opened #1548 "POLY poly polyyyyyyyyyyyyyy GONE"
![image](https://user-images.githubusercontent.com/68471279/141651370-f0e7d4e1-ab8a-4945-b546-53848414730f.png)

HellO!!!

SO. a fair few of the assets have broken, both the max assets and my own, with some turning from poly to box, and even when changing them to corvexx or poly again they still have the same  collision of a box'd object meaning you can't pass  through.

[2021-11-13 16:45] casigus opened #1549 "Zombies don't attack"
HELLO again!!

![image](https://user-images.githubusercontent.com/68471279/141651688-cccd0597-29c0-4419-ba68-fbd04368a0de.png)

was told that AI only works for the showcase in a previous post, but not entirely sure where we are at with that, but yeah the zombies don't attack, they just look at you. Same with the soldier AI.

also, ive imported  some classic characters and they are rigged, however

[2021-11-13 16:46] casigus commented on #1544
hai! got some of your stuff from the store. really like your work :D yeah ive had some issues with animations not getting any working full stop. SOME  do, but the majority dont, not sure if its simple as they are not cross compatible!!

keep up the good work :D

[2021-11-13 16:57] rvanner commented on #1537
Thanks @Kitakazi

@ZakJudges Please try to import the shared model into MAX.

[2021-11-13 16:57] rvanner commented on #1547
Yes, it's on our list to do this with a click on the thumbnail screen shot.

[2021-11-13 17:02] rvanner commented on #1545
@ArgentArts Nice idea. Do you have a suggestion for the hotkeys to do this?

[2021-11-13 17:03] rvanner commented on #1543
@Teabone3 If you can video it happening that would be a great help to getting it sorted out.

[2021-11-13 17:04] rvanner commented on #1540
It's a rendering ordering issue. Something we do know about.

[2021-11-13 17:18] ArgentArts opened #1550 "MAX Request - Button to Remove Behavior"
Hello. After adding a Behavior to an entity, I don't see any way to remove it if the end-user decides they no longer want a Behavior attached to that object. Therefore, I would like to request a Remove Behavior button added to the right-side panel within the added Behavior. So, if I added the Door Behavior, as an example, and then later decide that I don't want to use that, I could open that Behav

[2021-11-13 17:24] ArgentArts commented on #1545
The common hotkeys on most programs (from 3D modeling programs to other game engines) is to use the W, E, and R keys. W for Translate, E for Rotate, and R for Scale (yep, scale, not rotate). However, I can see how these might not work since W is used to move forward as you would in a game. Therefore, I might suggest simply 1, 2, and 3, if they are not being used for something else.

[2021-11-13 17:26] ArgentArts commented on #1542
Do you need a video showing this happening?

[2021-11-13 20:05] AmenMoses commented on #1540
Might this also be the reason that fish near the surface of the water sometimes appear to be swimming above it?

[2021-11-13 20:31] Kitakazi commented on #1537
The model is named xbot the other file is an animation downloaded from mixamo.

[2021-11-14 08:18] Jackdanielsvs68 opened #1551 "Water problem"
When the water is set on the saved test track, the river flows out by changing the level difference by 1 meter, the water disappears when modified downwards. And the trees disappeared completely. This is a track saved before the last update.
![Képernyőfelvétel (336)](https://user-images.githubusercontent.com/94233170/141673277-6a0d0aa7-a1b3-4188-8f9c-562612b4cf34.png)
![Képernyőfelvétel (337)](htt

[2021-11-14 09:24] rvanner commented on #1545
@ArgentArts I think keys 1,2,3 makes sense due to existing keys being taken up.

@ZakJudges Please add this ability to the product.

[2021-11-14 09:32] rvanner commented on #1550
@ArgentArts Does this not sort out this issue;

![image](https://user-images.githubusercontent.com/1503593/141675479-18dc17db-df87-45bd-b114-3720712727dd.png)

[2021-11-14 09:33] rvanner commented on #1542
@ArgentArts Yes we're aware of this and will be fixing it this coming week.

[2021-11-14 09:37] rvanner commented on #1551
@Jackdanielsvs68 We have fixed an issue with the water where the individual changes were too large (1 meter at a time). So try the next build and let us know if it's better for you.

[2021-11-14 09:38] rvanner commented on #1540
Could be. We will see.

[2021-11-14 11:41] Jackdanielsvs68 commented on #1551
![Képernyőfelvétel (340)](https://user-images.githubusercontent.com/94233170/141679327-fd9cb60e-fe5a-475e-ba8b-349478ef2aa4.png)

[2021-11-14 13:42] PaulFox12 opened #1552 "GGMAX 2021.11.12 Build Crash"
GGMAX crashes when running test game. Physics are generated, then the prompt says beginning main game loop before it promptly crashes to desktop with no message.
Log file attached
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/7533827/Guru-MapEditor.log)

[2021-11-14 14:16] LeeBamberTGC commented on #1528
@AmenMoses The current public build reintroduced animation lerping to smooth the transition between the current (last) frame and the first frame, and removes the sudden 'flick' that we saw before. There could still be an issue of the looping animation itself has not been lined up for seamlessness, which requires the end frame to match the first frame.

[2021-11-14 14:20] LeeBamberTGC commented on #1549
@casigus Can you create a blank level and drop in a zombie, then save and send to me showing the zombie not doing any AI. I cannot reproduce at my end.  Maybe make a video of that same level being run too so I can see what you see.

P.S. MAX is not able to take character creator creations from Classic, the changes have been too extreme to support the older Classic characters.  We will be releasing

[2021-11-14 14:44] Retrogamebloke commented on #1550
Beat me to it! Defo needed, you can't even type in default.lua anymore to remove a script.

[2021-11-14 15:11] LeeBamberTGC commented on #1550
@rvanner Should we rename DEFAULT to NO BEHAVIOR so users know to select this is no behavior is desired?

[2021-11-14 15:33] rvanner commented on #1550
@LeeBamberTGC Yes, that would make sense.

[2021-11-14 15:42] casigus commented on #1549
strange!

im not sure what happpened, just booted the pc up, dropped a zombie in and.....it was working, tried with a few other zombies and they too are now suddenly working? very odd! must have been a odd glitch on my end!!

________________________________
From: Lee Bamber ***@***.***>
Sent: 14 November 2021 14:20
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***

[2021-11-14 15:49] LeeBamberTGC commented on #1550
@rvanner Sorted for next weeks build.

[2021-11-14 16:13] Retrogamebloke commented on #1549
I have the same issue. AI works fine on a flat terrain, but drop them on even a slightly bumpy surface and they just stand and stare as mentioned above.

[2021-11-14 16:23] LeeBamberTGC commented on #1549
Any chance of an FPM file, I can then see exactly what you see :)  I drop in my soldier and he runs around like a happy chappy.

[2021-11-14 16:31] casigus commented on #1549
loading up max now to test the flat terrain issue with soldiers and zombies! ill get the files back to you depedning on results.

[2021-11-14 16:54] casigus commented on #1549
okies ! fpes, videos and the test map as requested :)

https://drive.google.com/drive/folders/1xizhO0lZlUrLvieCVhXwDHSpy9VV1an3?usp=sharing

[2021-11-14 17:14] ArgentArts commented on #1550
Yes, it does. But ... why not just have a big, fat "X" in one of the corners of the Behavior as it appears on the right-side panel. That way, the end-user doesn't have to access look through the actual behaviors to find the one required that removes behaviors. Instead, it would be as simple as selecting the entity and clicking the "X" on the behavior.

[2021-11-14 17:52] Zorgo33 opened #1553 "Footstep slow playback depending on framerate"
https://user-images.githubusercontent.com/27580830/141692403-7e4a1be6-6260-4275-a4ce-d124c041e27b.mp4

I noticed on high framerates the footstep playback plays much slower, on lower fps it speeds up a bit.

[2021-11-14 18:06] rvanner commented on #1553
@LeeBamberTGC Sounds should be timer based

[2021-11-14 18:10] rvanner commented on #1550
@ArgentArts For now we are rounding things off for the Early Access release. There's more to do with Behaviours so we're sure to improve how it all works in time.

[2021-11-14 18:29] smmaas opened #1554 "system crashes saving level"
System crashes Runtime Error: error 8204 () when saving a level. Start new project, edit level by clicking pencil on Level 1 window, create level, go back with error in left corner, give name for new level, system crashes.

[2021-11-14 19:52] smmaas commented on #1554
I can save again after I run update (same version) but  the problem returns. When I haven't figured out yet.

[2021-11-14 22:23] LeeBamberTGC commented on #1552
@ZakJudges Can you attempt to reproduce this from the report, thanks!

[2021-11-14 22:41] PaulFox12 commented on #1552
Unsure if its related but PC memory usage seemed to spike to around 18GB during the test game loading screen. The fpm is only a 30MB file so I can't understand how this much memory is needed

[2021-11-14 22:43] PaulFox12 commented on #1508
This also happens to me, even in the latest build (2021.11.12)

[2021-11-14 22:45] smmaas opened #1555 "importer doesn't show object in top down view"
When object importer is started when in top down view "F" the side panel is shown but not the object window.

[2021-11-14 22:50] smmaas opened #1556 "With just 60 trees gameguru slows down to 12.6 fps"
![image](https://user-images.githubusercontent.com/45684694/141701805-c31ff07d-a20b-4b5b-b4c7-47933c0e9842.png)

[2021-11-15 00:08] smmaas opened #1557 "Strange shadows"
![image](https://user-images.githubusercontent.com/45684694/141704475-6917ab3b-1d8c-481f-b7fc-0bca66a41fe2.png)

these strange shadows appear ans disappear when you walk away

[2021-11-15 06:37] Kitakazi opened #1558 "Particles need to be sorted and rendered with transparent objects (back to front)"
https://www.youtube.com/watch?v=CYu5Dl4_r8E

Place particle behind glass or another entity with transparency and you cannot see it.

[2021-11-15 07:34] rvanner commented on #1558
@Kitakazi Nice find! Thanks for reporting.

[2021-11-15 07:35] rvanner commented on #1557
@smmaas Can you make a small video showing this happening?

[2021-11-15 07:37] rvanner commented on #1556
@smmaas The trees from the library are currently very ineffecient. You should use the terrain trees if you want to populate lots of trees around. In the future we will add more terrain trees and also look at how to improve the performance of standard objects in a scene.

[2021-11-15 07:40] rvanner commented on #1534
@LeeBamberTGC Mark has fixed these doors, I'll email them to you for the next build.

[2021-11-15 09:29] rvanner opened #1559 "AI link lines don't show some times - if you move a flag they show up"
Here's an image of it;
![image](https://user-images.githubusercontent.com/1503593/141756792-c09d2a72-6d96-40fb-958c-ed9c8508b1ce.png)

I also noticed that when I came back to the editor from using some other application for some time, the lines were not animating fast, they had slowed down.

[2021-11-15 10:45] #1397 closed

[2021-11-15 10:50] smmaas commented on #1557
https://user-images.githubusercontent.com/45684694/141768742-002899ca-4efe-472d-9097-771bc3ed3625.mov

this video als shows an other problem; falling through the terrain when walking sideways.

[2021-11-15 11:20] ZakJudges commented on #1548
Hi @casigus, So I can reproduce, would you be able to make a new level, place a couple of stock max assets down that show the issue. Then save the level and send it? :)

[2021-11-15 11:22] casigus commented on #1548
sure thing ill get that done for you 🙂

________________________________
From: ZakJudges ***@***.***>
Sent: 15 November 2021 11:20
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] POLY poly polyyyyyyyyyyyyyy GONE (Issue #1548)

Hi @casigus<https://github.com/casigus>, So I can reproduce, would you be able to make a

[2021-11-15 11:27] rvanner commented on #1557
@smmaas The video is not playing for me. Can you share it via YouTube?

[2021-11-15 14:14] Retrogamebloke opened #1560 "Load Project Backups Option"
I'm not sure if this is a bug or not. When you select load project and tick the show backups box nothing appears. I have several automatic backups still but it does not list them or give you a way to load them.
![image](https://user-images.githubusercontent.com/44620846/141796672-fd62938f-6900-43ef-a2be-08a977a8c1e9.png)

[2021-11-15 15:47] plemsoft commented on #1560
@Retrogamebloke Its not a automatic backup, it will only make a backup if you "overwrite" a project , after that it will have a backup :)

[2021-11-15 15:54] Retrogamebloke commented on #1560
Oh, so this is not a way to load old projects from the automatic backup made when you update max then?
![image](https://user-images.githubusercontent.com/44620846/141812750-e0b2dc88-7ba2-4acd-9e94-0dda6ceb6740.png)

[2021-11-15 16:01] Retrogamebloke opened #1561 "Tree System Suggestion"
I have been playing with the new tree tools, the're quite good but perhaps an extra option to avoid putting them in water areas might be an idea for a future addition. I say optional, because it may be useful for some scenes of course like a swamp for instance; but generally you won't want trees under water and it can be quite difficult to see them to remove them manually.
![image](https://user-im

[2021-11-15 16:05] Retrogamebloke commented on #1537
I have also seen this. It used to work ok (bar my reported scale issue) but now it refuses to load more than one animation up. It does however load a dbo I made a few versions ago with anims still intact.

[2021-11-15 16:54] Retrogamebloke opened #1562 "Undo Option Does Not Work With Terrains."
Undo does not work with terrain edits. We can revert back with the restore brush, but that does not help if you have sculped an area and then make a mistake and want to undo it.

[2021-11-15 19:49] AmenMoses commented on #1528
This is with the latest build that downloaded a few minutes ago:

https://vimeo.com/646159914

Also I notice the rabbits having a bad day!

[2021-11-16 03:54] LeeBamberTGC commented on #1526
This will be in the next build :)

[2021-11-16 03:55] LeeBamberTGC commented on #1446
This was related to the camera speed over terrain. We have amended this for smoother camera flight, and slower movement when up close to ground objects.

[2021-11-16 03:56] LeeBamberTGC commented on #1423
Has been fixed a few build ago.

[2021-11-16 03:56] LeeBamberTGC commented on #1373
AI pretty good now with latest build :)

[2021-11-16 03:58] LeeBamberTGC commented on #1332
Animation speed now correctly paced based on frame rate (and not double frame rate as was calculated before).

[2021-11-16 03:58] LeeBamberTGC commented on #1311
Looks fine in latest version.

[2021-11-16 04:14] LeeBamberTGC commented on #1541
@AmenMoses Can you send me the script that causes the error. Been working on the various AI a few days now and _init working nice for me right now :)

[2021-11-16 04:22] LeeBamberTGC commented on #1260
Cannot reproduce this one. Is it still happening with stock art, or custom art?

[2021-11-16 04:23] LeeBamberTGC commented on #1254
Fixed a while ago.

[2021-11-16 04:23] LeeBamberTGC commented on #1237
Whole new tree system added to allow MANY trees :)

[2021-11-16 04:24] LeeBamberTGC commented on #1217
Character creator improved quite a lot since July. Saves fine.

[2021-11-16 04:24] #1202 closed

[2021-11-16 05:04] LeeBamberTGC commented on #1552
@PaulFox12 Can you send a shot of your Task Manager with a blank terrain. Here is mine:

![image](https://user-images.githubusercontent.com/35840583/141924024-940d118e-0a0c-4eb4-90da-14a7fbcde3e9.png)

[2021-11-16 05:17] LeeBamberTGC commented on #1534
@rvanner Yikes, need more work here.  The door DBO have black base color so they show up black. Also they are hinged in the MIDDLE of the door, should be at the edge of the door where it would swing open, etc:

![image](https://user-images.githubusercontent.com/35840583/141925114-cb6985f6-2e18-4a24-a71d-60676ab19b4e.png)

Animation does seem fine, however, but keep the door to swing out only 89 de

[2021-11-16 06:48] plemsoft commented on #1552
@LeeBamberTGC FYI:
245801 : Attempt to create nav mesh                             S:0MB   V: (8387,0)
292424 : rcRasterizeTriangles: Out of memory.                   S:18939MBV: (27326,0)

rcRasterizeTriangles run for 47 sec. and run out of mem , somehow the area got to large ?

[2021-11-16 09:56] ZakJudges opened #1563 "Hull decomposition collision option not available in the importer"

[2021-11-16 10:47] rvanner commented on #1528
@AmenMoses The Rabbits made my day! :-)

[2021-11-16 17:09] sciencebloke50 commented on #1237
yes thank you lee

any idea if you will at some point make advance on larger terrain?

many thanks for your reply

________________________________
From: Lee Bamber ***@***.***>
Sent: 16 November 2021 04:24
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: sciencebloke50 ***@***.***>; Author ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] new tree models frame rate issues (#1237)

Whole n

[2021-11-16 17:13] LeeBamberTGC commented on #1237
@sciencebloke50 The current MAX allows terrains of up to 5km, that takes an hour to walk across your game level. I think that is pretty big enough for the EA version :)

[2021-11-16 17:14] LeeBamberTGC commented on #1552
@plemsoft That darn nav mesh again :)  In fact I am looking at the nav mesh code RIGHT NOW in fact, to solve the play area stuff and also to speed that and the terrain physics too. More on this later this evening, but hopefully a new solution to make it super fast and the FULL SIZE of the editable area!

[2021-11-16 17:16] sciencebloke50 commented on #1237
Oh yes I agree I was thinking next year if you would possibly have a look and you did say you would look into it, so I was chancing my arm on finding out a vague idea. I have lots to do myself building my new world models for the rpg genre. Many thanks again

Uncle lee

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Lee ***@***.***>
Sent: 16 November 2021 17:13
T

[2021-11-16 17:43] ArgentArts commented on #1526
Awesome! Thanks! :)

[2021-11-16 17:49] ArgentArts opened #1564 "Importing Animated Model Inconsistent in MAX"
Hello. I am testing bringing in my own animated models. I started simple, using a simple cube that I shaped like a door in Blender and then animated it using keyframes (no bones) to swing open. I made three animations - open, close, and still. Then I exported via FBX from Blender and brought the door into MAX. The model imports fine and the scale is good. However, I am getting mixed results when i

[2021-11-16 18:35] LeeBamberTGC commented on #1528
@AmenMoses I have reproduced the animation glitch at good-speed movement. Related to the positional movement deltas rather than the animation loop itself. Fixed for the next build :)

[2021-11-16 19:00] AmenMoses commented on #1541
Not really as I found the script error and fixed it, I didn't keep the faulty script!

Can't even recall what the problem with the script was tbh.

I do recall that the Lua error box did show up briefly showing the error but then MAX promptly crashed out to the desktop, luckily I saw enough of the error (practice makes perfect :) ) to recall the line number reported so could fix it quite easily.

[2021-11-16 19:05] LeeBamberTGC commented on #1541
@AmenMoses No worries, if you see it again and can reproduce, send it along :)

[2021-11-16 20:02] Duchenkuke opened #1565 "GameGuru CLASSIC: allowfragmentation = 2 sets g_PlayerGunCount to 0"
Dear Support, I have found out that

allowfragmentation = 2 sets g_PlayerGunCount to 0 when loading between levels.

This means that the PlayerGunCount is 0 even though the player has at least 1 weapon in his inventory.

setting allowfragmentation = 1 helps but can it be tweaked so that it also works with 2 ?

Please fix it as this breaks some scripts in the standalone.

Thank you.

[2021-11-16 20:14] AmenMoses commented on #1565
To give a little more background we have a script that uses g_PlayerGunCount  > 0 as a trigger to display a custom crosshair, with allowfragmentation = 2 in the .ini file the standalone displays the custom crosshair in the first level but in the second level, even though the player still has weapons carried over, the crosshair is not displayed.

By the addition of a debug Prompt we were able to es

[2021-11-16 21:51] smmaas commented on #1557
https://vimeo.com/646638328

[2021-11-17 07:39] rvanner commented on #1557
@smmaas Could you send me your map file (.fpm)? Please set the start marker to where you see these shadows.

[2021-11-17 08:06] rvanner commented on #1562
@Retrogamebloke Yes we know we still have to add Undo to terrain. This will be done shortly after the release.

[2021-11-17 08:08] rvanner commented on #1561
@Retrogamebloke The system should stop trees populating under the water line. Did you raise the water after you placed the trees down?

[2021-11-17 09:25] ZakJudges commented on #1564
Hi @ArgentArts, would you be able to send all of the examples mentioned? That way I can reproduce the issue and take a closer look to see what's going on.
It does sound like an issue with the importer. If you have the original .blend files, could you also try to export them as glTF files? That would give me more of a clue as to where in the import process the problem is occurring. Thanks!

[2021-11-17 16:52] Retrogamebloke commented on #1561
No. I raised it before adding anything else to get an island type look. I only tried the trees afterwards as speed on my compo entry was falling through the floor. I can send the map if it will help.

[2021-11-17 18:17] rvanner commented on #1561
I think the trees are populates based on the terrain blend positions. Seems to make sense to also take into consideration the height of the water.

[2021-11-17 18:58] ArgentArts commented on #1564
@ZakJudges - Thanks for getting back to me. I don't have the .blend files as I had only made a simple cube that was stretched to a basic door shape ... no materials, etc. These were only for export/import testing. But I do have all the FBX files. I've made a ZIP file with all the doors within them for you to look at.

[doors.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7557248/doors.

[2021-11-17 20:45] ArgentArts opened #1566 "GameGuru MAX - Save Last Camera Position on Save and Reload"
Currently, in GameGuru MAX, when you start MAX and load a level you had previously saved, the default is for the camera to be way up in the sky looking straight down on your level/scene. This is not always desirable. I am working on an interior-only level and never need to see the scene from way up there, but always need to see the scene from within the walls of my game. Therefore, I would like to

[2021-11-17 20:50] MonkeyFrogStudio opened #1567 "GameGuru MAX - Focus or Zoom To Selected Item Request"
If this doesn't already exist, I'd like to see a function added to be able to zoom to or focus on a selected item. This could be via a simple key press after selecting an entity in your scene. So, for example, let's say you have a large level and you want to work on or add things to a particular area, but your camera is not close to that area, even if you can see it off in the distance. You could

[2021-11-17 20:53] MonkeyFrogStudio opened #1568 "GameGuru MAX - Snapping on the Up Axis - Request"
Snapping in MAX currently only occurs on the two horizontal axis, excepting snapping to the tops of entities in the scene. I would like to also see snapping along the vertical axis as well, especially when moving entities about using the gizmo/widget. This is pretty standard every 3D modeling package and every 3D game engine I've ever used.

[2021-11-17 20:56] ArgentArts opened #1569 "GameGuru MAX - Option for Smaller Icons - Request"
This is a very minor request, but would it be possible to add a setting that allows the end-user to use smaller icons? The icons along the top are HUGE! I have an ultra-wide screen (3440 x 1440) and they are monsters in size, even on my high-resolution screen. I can't imagine how big these things are on someone's laptop. I like to have as much screen real estate available to me for my level/scene

[2021-11-17 21:02] ArgentArts opened #1570 "GameGuru MAX - Object Library Preview Issues - Bug"
If you import a model and, for whatever reason, you need to adjust its position, scale, and rotation before accepting it, the model often doesn't show in the preview you get and you have to sort of guess where the model is, frantically moving the mouse, hoping to catch a glimpse of it so you can then position it as you like in the preview. And, then, even if you do find the model and accept the pr

[2021-11-17 21:10] ArgentArts opened #1571 "GameGuru MAX - Additional Door Behavior - Request"
Currently, the Door Behavior requires the end-user to import a door that has an animation for opening and closing. I would like to see an additional Door Behavior that can be used for doors that do not have any animation at all. Instead, it would allow the end-user to select from Slide or Rotate. If Rotate is checked, then the end-user enters a degree. This would cause the door to rotate about its

[2021-11-17 21:21] ArgentArts opened #1572 "GameGuru MAX - Lighting Bug"
I have been experiencing what looks like a bug with lighting in MAX. I've placed a light under a helmet in my level and it casts nice shadows:

![light1](https://user-images.githubusercontent.com/36735507/142284026-67da4f9f-9c80-4e67-9e6f-01d9f4904b7e.png)

But if I move further away, the model no longer restricts the light:

![light2](https://user-images.githubusercontent.com/36735507/142284111-7

[2021-11-17 21:24] AmenMoses opened #1573 "Bouncing brass"
https://vimeo.com/647059898

See video, cartridges are bouncing on top of water.

[2021-11-18 07:35] rvanner commented on #1566
New levels are now able to save the location of the camera. So when you return to a level you be exactly where you were last editing.

[2021-11-18 07:36] ArgentArts commented on #1566
Awesome! Will we see this in the Friday update?

[2021-11-18 07:37] rvanner commented on #1567
@ArgentArts Yes, it's a needed item. Maybe a double click on the terrain or object when you are a certain distance away will bring you to that point.

[2021-11-18 07:38] rvanner commented on #1566
Yes, I've tested it in the internal build and it works just fine.

[2021-11-18 07:40] rvanner commented on #1569
@ArgentArts I think this is a big issue! Can you send a screen shot so we can see what you see?

[2021-11-18 07:42] ArgentArts commented on #1567
I just learned that when you have the detailed object list open, you can double-click on an item there, and it zooms to that item in the scene. So, that's a start. What I think should happen, too, is that if you select an item in the view port, it should also highlight it in the Detailed Object List. The list, as it stands, is okay ... but we can't do much with it (like rename things on the list).

[2021-11-18 07:45] ArgentArts commented on #1569
![icons](https://user-images.githubusercontent.com/36735507/142373233-230d569d-dce0-4ba2-bc08-964f4aa8d705.png)

This is taken full-screen, 3440 x 1440. The icons look like they do in the videos that Lee posts every Wednesday. I just think they are too large and, as a result, the top bar eats up screen real estate. If there could be an option for the end-user to make them smaller, that would help,

[2021-11-18 07:49] ArgentArts commented on #1570
Here's a screen shot of what I mean:

![preview](https://user-images.githubusercontent.com/36735507/142373883-4869e9f8-f1ee-4b98-90d0-9d0fd950b6d8.png)

[2021-11-18 08:26] rvanner commented on #1569
Not as large as I was expecting!
I will set this to low priority for now, we can review it later.

[2021-11-18 08:27] rvanner commented on #1570
@ArgentArts I would help @ZakJudges fix this if you could share a model that has this issue during import.

[2021-11-18 08:28] rvanner commented on #1567
@ArgentArts Could you make a small video that shows how other software deals with this? I'd like to see how they solved the issue.

[2021-11-18 08:29] ArgentArts commented on #1569
I agree. It's low priority. But, for the record, those top-bar icons are somewhere around 68-70 pixels tall. The ones in the Level Objects panel are less than half that at about 32 pixels. :)

[2021-11-18 08:31] ArgentArts commented on #1570
[PR_Pedistal.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7561264/PR_Pedistal.zip)

Here's one of them, I believe.

[2021-11-18 08:33] ArgentArts commented on #1567
Which? The key press + mouse movement to orbit a selected entity? Or selecting an entity in the view port and also having it selected in the entity list?

[2021-11-18 08:41] rvanner commented on #1567
Please record all you can. Extra info will help us I'm sure of it.

[2021-11-18 10:32] smmaas commented on #1557
I can sent the file but the problem has disappeared. I have no backup so I tried to rollback, the only thing I have done was to replace trees with treesystem trees (issue 1556) so I disabled the treesystem and replanted 60 slow trees but the problem didn't come back. So I recreated the level from scratch but could not recreate the problem.

[2021-11-18 14:13] bluemeenie195 opened #1574 "Can't see entity #"
In Max when I hover the mouse cursor over the entity the entity # is not shown.
Will that be put back in before the EA release ?
Thanks

[2021-11-18 15:41] ArgentArts commented on #1567
Here's a video. The first thing it shows is a scene with nothing selected, the view port to the right and the scene list to the left. Once I click on the "Wall_A" object, it highlights, but so does it's name in the list. After that, I press and hold a key (ALT, in this case) while the entity is still selected. Doing so centers the item and as I move the mouse side to side, I orbit the entity so I

[2021-11-18 19:59] ArgentArts commented on #1570
I forgot to say that this model needs to have the scale set to 3000 or more when importing it. It's tiny.

[2021-11-18 20:22] ArgentArts opened #1575 "GameGuru MAX - Surface Material - Why?"
As I've been learning MAX, I've come across the "surface" material after a model has been imported. However, when initially importing a model, we are not asked for a surface material, but for each piece of the PBR material - diffuse, normal, metal, roughness, ao, etc. After the model is in MAX and we want to adjust it, we no longer have this control. We can change the diffuse and normal, but the o

[2021-11-18 21:36] AmenMoses commented on #1541
Just happened again, in the _init function I erroneously called  Scale( e, v ) with a non numeric second value, i.e. it was actually a list.

[2021-11-18 21:47] MonkeyFrogStudio opened #1576 "GameGuru MAX - Ability to Import Our Own Collision Mesh - Request"
I would like to have the ability to create and import my own collision mesh with the models I import. In most cases, the options you've given us are sufficient, but there are times when a custom created collision map is better, especially for those times when box collision is too simple and polygon collision would create a collision map that is needlessly too dense.

There are two main ways I've s

[2021-11-18 23:16] ArgentArts opened #1577 "GameGuru MAX - Level Objects and Detailed Objects List - Request"
I would like to have BOTH the Level Objects and the Detailed Objects list available at the same time instead of having to select one or the other via the dropdown menu. The standard Level Objects allows you to select and drag into your scene entities you can place and use. The Detailed Objects list does not. The Detailed Objects list allows you to select and, via double-click, zoom to the entity i

[2021-11-19 05:19] Kitakazi commented on #1446
hmm as of the latest update this bug still exists. Same thing as the youtube video I linked above. Place mouse on File, Edit, or Help then move mouse to the editor and press Right Click and the camera will rotate to a random spot.

[2021-11-19 05:37] Kitakazi commented on #1574
yea looks bugged. Bottom left shows no object selected even when an object is indeed selected. I believe that is where it usually tells you the entity #
![image](https://user-images.githubusercontent.com/51464873/142570996-3aa81dde-5816-46b3-924e-0160d7e829be.png)

[2021-11-19 05:44] Kitakazi opened #1578 "Terrain and Water controls; HideTerrain() and HideWater()"
In the default scriptbank there is the script goindoors.lua that is suppose to hide the terrain and water. But it does not work.

[2021-11-19 08:15] rvanner commented on #1557
@smmaas OK, let's close this issue for now. If you see it again then please make a new report and send a map file. Thanks.

[2021-11-19 08:15] #1557 closed

[2021-11-19 08:28] rvanner commented on #1567
@ArgentArts Thanks for sharing this. I agree that we should highlight the object in the Level Objects when it's been clicked on and the use of Alt to then spin around the object is a nice feature and something missing in MAX.

@LeeBamberTGC Take a look at this. I think we should add both to MAX.

[2021-11-19 08:32] rvanner commented on #1541
@LeeBamberTGC Can you take another look based on @AmenMoses latest feedback?

[2021-11-19 08:36] GraPhiX-Guru commented on #1575
Hello @ArgentArts you could always use xPack this will create surface maps for you from your edited textures

[2021-11-19 08:36] rvanner commented on #1446
Yes this is a know issue which I think I reported in another report some time ago. Easy way to make it happen is to hold right mouse down in the right hand window and move the mouse over the 3D view and the camera view will change significantly. It needs to wait for the right mouse button to be released.

[2021-11-19 10:44] marcuswilm opened #1579 "GameGuru MAX - Edit Mode vs Standalone Mode"
Hello,

I am "mikeven" in GG Forum, but that nickname is already used on Github (it is not me), that's why I am "marcuswilm" here.

GG Max is now very pleasant to use with a superb Terrain editor and with an very good advanced Materials editor.

I want to contribute to its positive evolution with this report of a few bugs.

Here is the link to an online short video capture showing those bugs :  ht

[2021-11-19 16:09] ArgentArts commented on #1567
You're very welcome. Glad I could help. :)

[2021-11-19 16:13] ArgentArts commented on #1575
Thanks, @GraPhiX-Guru . I'll look into that. However, the main purpose of my post is for MAX to be easier to use for the end-user. To create a surface material, you need another program (like xPack). If MAX just allowed the end-user to edit an entities materials, at any time, by always being able to import roughness, metal, etc., instead of a surface map, then there would be no need for another ap

[2021-11-19 17:59] LeeBamberTGC commented on #1541
@rvanner What are you suggesting? Perhaps a system that can catch LUA errors like this and gracefully prompt the user instead of crashing out?  If the error can be trapped and not a hard LUA API crash I think we can manage that.

[2021-11-19 18:09] ArgentArts opened #1580 "GameGuru MAX - Panel Docking Issues & Icon Size - Bugs"
I enabled docking in MAX and found issues. I was going to capture a screen shot of one of them, but now my UI is a bit messed up in MAX and I am not sure how to get it back. What I had done is to undock the Level Objects panel from the upper-left. I had intended to put it at the bottom of the screen (below the view port). That didn't work out, so I went to put it back. After doing so, it totally h

[2021-11-19 19:01] AmenMoses commented on #1541
A similar issue was fixed in GCC a while ago, the Lua error is being caught and reported in MAX but unlike in GGC where it exits back to the editor cleanly, MAX just seems to crash out to the desktop.

[2021-11-19 19:08] ArgentArts commented on #1580
Okay. I see that Reset to Default resets the UI, too. :)

[2021-11-19 20:09] marcuswilm opened #1581 "Game Guru MAX - request of a specific thumbnail for a saved group"
Currently when a group is saved its thumbnail shows one of the items included in that group.
Example : I assembled a few items to build a house (created with a modeler) and when all is in place in the scene, I group those items and save the group, but the thumbnail shows the floor.
![ggmax_group_floor_item](https://user-images.githubusercontent.com/94678034/142685475-d4d104a3-c07a-48e8-ba66-cc4c48

[2021-11-20 02:55] Retrogamebloke opened #1582 "Enemies Killed by Allies Rotation Issue"
![image](https://user-images.githubusercontent.com/44620846/142712153-68ef44f8-d656-479c-9d54-61ccbf230132.png)
If you don't get a shot in and the ally kills a zombie, on exit they stay rotated in last pose and will stay like that on a second test. If you click them they revert back.

[2021-11-20 07:35] smmaas opened #1583 "Not happy"
The last update deleted all my projects. Only imported objects in user where not deleted.

[2021-11-20 08:48] ArgentArts commented on #1583
Did you read the warning that pops up when you go to update? It states the following:

"Any user files in:

"c:/Program Files/GameGuruMAX/"

will be deleted, make sure you have moved them out of this
folder if you want to keep them.

Are you sure you want to continue?"

You had to press "Yes" to proceed. And, by doing so, you deleted any files in that folder.

[2021-11-20 08:50] smmaas opened #1584 "Strange shadows"
The strange shadows are back this time with the culprits.

https://vimeo.com/manage/videos/648009620

[2021-11-20 08:52] ArgentArts opened #1585 "GameGuru MAX - More Complete Changelog File?"
Is there a more complete changelog file for updates for MAX? The current changelog for alpha 2021.11.19 states the following:

"Added weapon choice in character creator and rifle choice for all.
Added gun specification support to control exact placement of weapons.
Behaviors can now run other behaviors, soldiers can now also patrol.
Eliminated the play area limit, now physics and nav mesh size of

[2021-11-20 10:34] synchromesh62 commented on #1583
Go to the new GameGuruApps and you will find your old Backed up in that folder .
Should look like
![BU](https://user-images.githubusercontent.com/35708217/142723169-63cedd10-175a-4c16-8d42-cdfc43cb25c1.png)

[2021-11-20 13:19] plemsoft commented on #1508
@r2ks Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-11-20 18:33] Retrogamebloke opened #1586 "GUI Suggestion"
Instead of having a fairly unobvious button on the top right that opens up new options in the lefthand panel, have tabs you can open up as needed on the left panel.
![image](https://user-images.githubusercontent.com/44620846/142737347-5516be7a-e0b0-426b-94da-4f329d16eb35.png)
Just a quick mockup. Would make more sense to me and be instantly obvious you open those tabs to get the additional options

[2021-11-20 18:49] ArgentArts commented on #1586
Or ... have that section be it's own panel, separate from the Level Objects panel. And, in that panel, have the three icons - Shooter, RPG, and Puzzle. Clicking each will expand the options available (the icons shown that you can use). This way, the end-user could dock that section wherever they wanted.

[2021-11-20 18:51] Retrogamebloke commented on #1586
Yes. As long as the options are next to the buttons that open up. Either way would be better than the arbitrary buttons on top right.

[2021-11-20 18:53] ArgentArts commented on #1586
I agree. They need to think about conservation of motion a bit. That's a lot of motion to click something at the top-right just to go over and click something at the middle-left of my screen. And I have an ultra-wide monitor, so ... ;)

[2021-11-20 18:58] smmaas commented on #1583
I do read that why it's called "not happy" and not "very angry" but still project should be in a user directory that isn't removed with an update. So it's a bug!

[2021-11-20 19:00] ArgentArts commented on #1583
Actually, no. You can set things up in MAX so that your user directors are outside of the default MAX directories. If you do this, you won't lose anything when you update MAX. That's why it states, "Any user files IN ... " If they are not IN that folder, they are going to be safe.

[2021-11-20 21:08] MonkeyFrogStudio opened #1587 "GameGuru MAX - Request - Have MAX Open Directly to the Editor"
Currently, when you start MAX, it asks if you want to start a new project or open an existing one, then it takes you directly to the storyboard editor where you have to click on a level to get to the editor. I don't think this is a good workflow. Instead, what I think should happen is you start MAX and it opens directly into the editor with an empty viewport (or even the standard default terrain).

[2021-11-20 21:32] ArgentArts commented on #1587
Maybe what we need is an Expert Mode and a Beginner Mode. The very first time MAX is started after a fresh install, it offers Expert or Beginner. If Expert is checked, it defaults to opening directly to the editor, ready for work. If Beginner is checked, it opens to an initial screen and sort of "walks" the end-user through setting up a project (New Project, Storyboard, then editor, etc.).

[2021-11-21 00:37] #1547 closed

[2021-11-21 00:37] PaulFox12 commented on #1547
Fixed in build 2021.11.19

[2021-11-21 08:00] smmaas opened #1588 "Moving tool windows lock system"
https://vimeo.com/manage/videos/648211652

[2021-11-21 08:31] smmaas opened #1589 "vegetation stopped working"
I can't use the vegetation painter anymore. The green brush circle is not visible and painting doesn't work anymore.  There is a tick box "enable trees" at the bottom maybe that should be "enable vegetation"

[2021-11-21 09:39] plemsoft commented on #1584
@smmaas Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-11-21 10:30] Kitakazi opened #1590 "Shooting Weapons Causes Frames to Drop"
See video:

https://youtu.be/WOljERIWhDI

[2021-11-21 10:33] plemsoft commented on #1554
@smmaas Thanks for reporting this issue, i was not able to reproduce this, but 8204 has to do with memblocks so i secured all the cases where this error can happen. So should not happen again, will be ready from the next update, please give it a good test and let me know if it fix your issue, thanks for your help :)

[2021-11-21 10:58] plemsoft commented on #1531
This has been fixed and will be in the next update :)

[2021-11-21 16:39] Zorgo33 opened #1591 "Game Guru MAX Feature Suggestion - Model Importer Separate Textures"
Hello! I've actually told this in one broadcast, but just in case i'll leave this here for discussion. I think it would VERY useful to make model importer be able to set textures for separate parts of model, like for example substance painter makes separate texture images for each model part. Adding a dropdown menu or a list for part texture assigning in the importer would be great, so it's possib

[2021-11-21 16:44] Zorgo33 opened #1592 "Game Guru MAX Bug Report - Doors staying open in editor after test game"
Hello. Recently i found a bug where doors stay open in the editor after opened in-game, tho when clicking on them, they close in editor. This is very odd and will make creating games a bit messy.

[2021-11-21 17:02] MonkeyFrogStudio opened #1593 "GameGuru MAX - Request - Empty Level Truly Empty"
Currently, an empty level has a solid grid in it. It's not truly "empty". You can place a player start on it and, if you run the game, they player can walk on it. So, it has collision. I would like MAX to start with a truly empty level with "Empty Level" is selected as an option.

One reason for this is if I am creating an indoor-only level and I start building at "ground level" and then, later, d

[2021-11-21 17:02] ArgentArts commented on #1593
BTW - The current solid grid level (currently used for the empty level) could also be kept as an option, so it doesn't need to be completely discarded.

[2021-11-21 17:24] ArgentArts commented on #1564
Is there any resolution on this? I am still struggling to get a basic animated door successfully into MAX using a basic keyframed animated door.

[2021-11-21 18:00] MonkeyFrogStudio opened #1594 "GameGuru MAX - Request - Replace Model"
Currently, when you import a model into MAX, you can bring in your textures and, later, after bringing the entity into your scene, you can even change your textures and adjust your material if you want to. What you can't do is swap out the model. When developing a level, many times level designers will use temp models - simplified models that approximate the final level geometry - so they can test

[2021-11-21 18:08] ArgentArts opened #1595 "GameGuru MAX - Request - User Folders for Import"
Currently, it seems that we can only import our models into the user folder. If I am working on several projects, this becomes quite messy. I'd love to be able to create a folder structure that is usable within the user folder. It would be great if this were part of the import process itself, so the end-user could categorize their imports.

[2021-11-21 18:11] ArgentArts opened #1596 "GameGuru MAX - Request - Level Objects Cleanup"
Currently, when you add an object into the Level Object area, it's there forever. Even if you decide that you don't want to use the entity in your scene. It would be great if we could delete unused objects in the Level Objects panel. Perhaps this could be a right-click menu with DELETE added in.

[2021-11-21 19:22] ArgentArts opened #1597 "GameGuru MAX - Bug - Object Library Screen Shot with Ultrawide Monitor"
When importing your own models into GameGuru MAX, MAX provides a nice screen shot of the model. However, this screen shot is terrible if you're working on an ultrawide monitor, such as I am. Instead of getting a nice screen shot of the model with the chosen image filling the background, you get the mode, the image, AND a portion of the GameGuru MAX viewport area included in the shot. Here's a scre

[2021-11-21 19:34] rvanner commented on #1589
Ignore the current veg system, it's being replaced!

[2021-11-21 19:34] #1589 closed

[2021-11-21 19:36] rvanner commented on #1587
How about a Sandbox mode?

[2021-11-21 19:38] rvanner commented on #1586
We have a lot of UI changes planned, so please wait to see the changes we'll be making soon!

[2021-11-21 19:38] #1586 closed

[2021-11-21 19:38] ArgentArts commented on #1587
What do you mean when you say "sandbox mode"?

[2021-11-21 19:40] rvanner commented on #1583
@smmaas Sorry you were not happy with what MAX did. As these are Alpha builds you need to be careful with your own files. Please store all your game files in your Documents folder where they will be safe.

[2021-11-21 19:40] #1583 closed

[2021-11-21 19:40] rvanner commented on #1582
Yes, we know about this. I'm closing this because it's on our dev list to do.

[2021-11-21 19:40] #1582 closed

[2021-11-21 19:41] rvanner commented on #1585
There's only what Lee has supplied. We'll aim to be more detailed in future builds.

[2021-11-21 19:41] #1585 closed

[2021-11-21 19:42] rvanner commented on #1581
Yes, it's not ideal, it really should only make the thumbnail of the items in the group. We will aim to make this better in the future.

[2021-11-21 19:42] ArgentArts commented on #1585
No worries. It's just that a lot of bugs and feature requests get submitted here. It would be nice to know what made it into a build so that we testers can ... well ... test them. ;)

[2021-11-21 19:43] rvanner commented on #1580
Undocking is bugged at present. We'll get it fixed soon.

[2021-11-21 20:33] ArgentArts commented on #1596
To clarify, this would be right-click on the entity you want to delete and then select Delete.

[2021-11-21 20:38] ArgentArts commented on #1591
I believe this is already possible in MAX. I have a crate that uses separate textures/materials for different parts of the model. When I import it into MAX, I get a dropdown box that allows me to select the various parts by name and apply the textures for diffuse, roughness, etc., to each as required.

[2021-11-21 21:44] Zorgo33 commented on #1591
Oh, now i wanted to check it but my models i made in Cinema 4D completely break when i import, but i looked and seems you're right, but i can't tell because of how broken the model is, and it shows like 100 parts. But yeah, i think you're right. Thanks.

[2021-11-21 21:46] Zorgo33 opened #1598 "Game Guru MAX - Model Importer issue"
When i import a model i made in Cinema 4D, it completely breaks, becomes a total mess. It also shows tons of model parts althought there should be only a few, like 3 or 4.
![Untitled](https://user-images.githubusercontent.com/27580830/142780109-7075aad6-4e60-4172-adc2-566a20864f08.png)

[2021-11-21 21:54] ArgentArts opened #1599 "GameGuru MAX - Bug - Animated Model Not Always Coming In With Animation (See Last Post)"
**_See Last Post_**

This is a continuation of this request found here:

https://github.com/TheGameCreators/GameGuruRepo/issues/1564

but with some new information that I think may help. I am able to get models into MAX using the FBX format that keep their animations now. Not sure what changed, but it seems to be working. However, the problem is that they won't import as STATIC. Here's an example

[2021-11-21 22:36] Kitakazi opened #1600 "Bullet Hole Decal has a white outline on edge of image"
![Desktop Screenshot 2021 11 21 - 16 27 03 68](https://user-images.githubusercontent.com/51464873/142781627-9a4240bc-d5b1-44ea-bca9-abdb7b82e49e.png)

[2021-11-21 22:39] ArgentArts commented on #1598
What file format did you export to (FBX? GLB? OBJ?)? If you can ZIP and attach the model here (just drop it into a comment box) that could help them to find the issues, too.

My models do this, too. One model only has two materials applied, but MAX shows tons of model parts. It's a pain to go through all of them and try to figure out what's what. Especially since, in Blender, both parts are named,

[2021-11-21 22:51] Kitakazi opened #1601 "Performance Issues with latest build"
https://www.youtube.com/watch?v=9RbqPuJMxHg

I have attached a video showing some pretty gnarly frame rate drops. This level ran smooth 60fps a week or two ago np.
The Shadow Draw Calls spike super high not sure why, but the Draw Call on Objects are really high too,  I haven't tested in stand-alone yet to see if the lag still happens there.

Turning off the shadows completely does help some, but t

[2021-11-21 23:01] Kitakazi commented on #1601
Also the editor profile shows Shadow Renderings Terrain and Grass im not sure if that means anything but the terrain is empty and there is no grass in the scene. So not sure why that is showing anything at all either.

[2021-11-22 01:00] ArgentArts commented on #1599
I may have found the issue and it's not quite what the title suggests - it's not about the model being static. After all, this is an animated door.

What I found is that I was using Blender's Actions to created named animations for MAX:

![action](https://user-images.githubusercontent.com/36735507/142786574-dbe15294-881f-4da6-b64d-901a0878b57b.png)

This allowed me to make one animation called Ope

[2021-11-22 03:16] ArgentArts commented on #1599
Sigh. This is getting frustrating. I thought I had this figured out and had a way to get these simple animations into MAX, but now it's not working at all. I've followed the steps that worked previously and the model imports into MAX, but MAX tells me that NO animations were found! If I bring the FBX back into Blender, the animation is there. Here's the latest file:

[Door_13.zip](https://github.c

[2021-11-22 04:00] ArgentArts commented on #1599
Here's a "door" that animates in MAX. It's just a cube, but the animations come into MA

[Door_test_2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7578101/Door_test_2.zip)
X.

You can use this to compare to the other file (above) to see why one comes in with animation and the other does not. However, all the files that do bring there animations into MAX have another issue. The door a

[2021-11-22 07:47] ArgentArts commented on #1599
Okay. I believe I've found out why sometimes my animated models come into MAX without animations sometimes and other times they don't and I think it's a bug with how MAX is importing them.

Apparently, when MAX is importing a model, it is looking for NAMEofMODLE|NAMEofANIMATION. If it doesn't find a match, even if the model has an animation in the file, the MAX importer will tell you that no anima

[2021-11-22 07:58] ArgentArts commented on #1599
Solution in Blender:

![do_this](https://user-images.githubusercontent.com/36735507/142824055-785285b4-ac9f-4767-a59b-acd3bc82edf7.png)

It's not enough to rename the top level stuff, but you have to twirl down and rename the actual geometry within, too. I should have known.

[2021-11-22 08:34] ArgentArts commented on #1599
Sorry about all this. I think, in the end, this is user error. It was quite the process figuring out what was going on, though.

[2021-11-22 10:31] ZakJudges commented on #1564
Hi @ArgentArts,
I will be taking a closer look at the importer issues at some point in the near future :)

[2021-11-22 13:17] Zorgo33 commented on #1598
[Model.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7581253/Model.zip)
Here it is. There's also a screenshot of how it should normally look like. All of my models break, not only this btw.

[2021-11-22 17:24] ArgentArts commented on #1564
@ZakJudges ,

I've discovered the issue as I had reported this and a different issue here:

https://github.com/TheGameCreators/GameGuruRepo/issues/1599

I believe most of this is end-user error. If you read to the end, you'll find what I'd discovered.

[2021-11-22 19:45] Zorgo33 commented on #1598
Okay! I found something out, it looks like MAX has a huge problem with fbx models, when i import obj it works almost perfectly, the model is intact, even texture dropdown menu shows correctly. So, i found out the problem. But they still need to fix this, because that's strange to have fbx get broken on import, since it's a popluar format. And not only my own model fbx's break, so... that's a probl

[2021-11-22 21:12] ArgentArts commented on #1598
Except I am working exclusively with FBX models ... some are quite complex ... and they import fine, with materials, into MAX. It may have to do with the FBX exporter being used? There are so many of them (thank you, Autodesk!). Here's an example of a sci-fi model made in Blender, consisting of many parts, exported as FBX, and imported into MAX:

![fbx_max](https://user-images.githubusercontent.co

[2021-11-22 23:07] fearlesswee opened #1602 "MAX - Option to "bake" navmesh on standalone export?"
In more detailed worlds, the navmesh generation can be prohibitively long, leading to long load times. It would be very nice if the save standalone popup had a tickbox that allowed you to mark it to "bake" the navmesh, meaning that the navmesh is calculated as a part of the export process, and saved to disk in the final standalone's files somewhere. Maybe the navmesh could even be loaded into memo

[2021-11-23 04:12] Kitakazi opened #1603 "Walking into objects sometimes causes massive frame rate drops"
using warehouse from the showcase in this video.

https://www.youtube.com/watch?v=xaBVlGvjNOg

[2021-11-23 06:04] Zorgo33 commented on #1598
Hmmm, yeah i guess it's releated to the exporter. And strangely it only broke for me in recent builds, in older ones it worked for both formats. And the texture parts for every single part is very annoying... maybe it's max automatic and they could for example make a feature to change to user designated part, so it specifically selects user named and chosen parts for texturing.

[2021-11-23 11:09] bluemeenie195 opened #1604 "Max - SetPosition, ResetPosition functions do not work"
I've noticed with some smallg scripts and some old AmenMoses scripts that use SetPosition or ResetPosition will not work with Max.

Please put those functions back into Max, a lot of people still use those great old scripts.

[2021-11-24 11:05] ArgentArts opened #1605 "GameGuru MAX - Request - Customize "Messages""
With certain Behaviors in MAX we get in-game messages. For example, with the Door behavior, when we are playing the game, it displays. "Press E to open doo". It would be great if we had the option to enter our own message to use in game (or to opt for no message at all). This could be displayed right with things like Range, Delay, Sound0, Sound1, etc. (using the Door behavior as an example). The m

[2021-11-24 13:53] ArgentArts opened #1606 "GameGuru MAX - Switch Behavior - Can't Open/Close Door with Door Behavior"
The Switch Behavior is powerful and can be used for a lot of game logic. Unfortunately, one thing it seems it can't be used for currently is opening and closing doors using the Door behavior. At least I can't find a way to do it. Because Switch has the ability to toggle, turn on, and to turn off, it can function as a trigger, too. That makes it pretty powerful and quite multi-purpose. It could be

[2021-11-24 14:17] ArgentArts opened #1607 "GameGuru MAX - Bug - Nodes Leave Balls In Game"
After Activating and Deactivating Shooter Games and setting up a node or two, you are sometimes left with a white ball in your scene which cannot be selected in any way. It shows up both in the editor and in the running game.

![go1](https://user-images.githubusercontent.com/36735507/143254980-5f7974eb-f8e0-47cf-bffa-2a382d7ef3c7.png)

![go2](https://user-images.githubusercontent.com/36735507/1432

[2021-11-24 14:20] ArgentArts opened #1608 "GameGuru MAX - Bug? - Request? - Shooter Games Means No Gizmo?"
If you have the gizmo activated to move things around in the viewport, when you activate Shooter Games, you no longer have access to the gizmo. You have to turn off Shooter Games to gain access to the gizmo in order to use it to move your entities about in the view port. If the gizmo is activated in settings, I think that it should always be available to the end-user, even if they are using Shoote

[2021-11-24 20:18] MonkeyFrogStudio opened #1609 "GameGuru MAX - Bug - Animation Played Backward Plays Faster than Forward"
I tried an experiment were I exported an FBX of a cube that goes up from 0-30 frames and not down animation. I imported this into MAX, name that animation channel as Open using the frames 0-30 and then created a second channel, named Close, and entered the first frame as 30 and the last as 0. Then I applied the Door behavior to the entity. It worked well. However, the Close animation played much f

[2021-11-24 21:16] MonkeyFrogStudio opened #1610 "GameGuru MAX - Bug - Animated Double Door Model - One Door No Collision"
I've been doing a lot of tests with doors in GameGuru MAX and I have a set of sliding double-doors. This particular set is strange in that the left door provides collision to the player, but the right does not. I've imported it to use standard box collision, so I assumed it should be using a box around both models when they are closed, suspending collision when they are being animated, resuming co

[2021-11-24 21:57] MonkeyFrogStudio opened #1611 "GameGuru MAX - Request/Issue - Node Hidden By Entity"
The nodes (little balls) for connecting game logic are great, but there's an issue because the can become hidden under other entities and, as a result, unable to be selected or connected to. Here's a screen shot as an example:

![node](https://user-images.githubusercontent.com/36735507/143317463-beddaf4c-ceaa-47b8-b560-c5ddee085dec.png)

The door is in a door frame. I'd connected a key to it befor

[2021-11-24 23:00] ondrejciz1993 opened #1612 "GameGuru MAX - Bug - Custom textures reverting to original ones"
I am having trouble with assigning of custom textures to models. Let's say I have an asset that is already imported in the engine and I want to change the texture in editor by enabling the custom materials. So far it works well and the textures are displayed correctly, but the problem is that the textures keep reverting to the original ones.

This seems to happen quite randomly. Sometimes they rev

[2021-11-24 23:52] Kitakazi commented on #1445
Seems to happen with random models and random times, the model in the video I copy and pasted the entity and it removed the bug. However now different floor and wall entities will show shadows of some random entity through multiple layers of other objects. Seems replacing the object will fix it for the moment but comes back at random times, maybe after updating each week its to sparse and random t

[2021-11-25 06:28] Kitakazi opened #1613 "Enemy Zombies Do Not Damage Ally Soldiers"
Enemy zombies will attack allies just fine but I do not believe they actually damage them. Set Ally soldier HP to 1 and zombie will attack but can never kill him. Ally soldier can kill zombie just fine though.

[2021-11-25 06:57] Necrym59 opened #1614 "Standalone compilation"
Compiling the standalone edition of a game doesnt supply ambient sound folder or used sounds.

[2021-11-25 08:59] ArgentArts commented on #1610
On further investigation, it's a coin flip as to which door will provide collision or if neither door will provide collision. It seems that MAX does not like that I have two models animated and exported as one ... or something.

[2021-11-25 09:01] ArgentArts commented on #1606
Upon further investigation, the Switch behavior does do something with the Door behavior - it can switch Locked to Unlock using Toggle. What I was looking for is a means of opening a door via a button. But at least we can use Switch as a key. ;)

[2021-11-25 18:35] Snage62 opened #1615 "Game Guru Max CRASH (November 2021)"
Hi
Since last weeks update Max was working well , as I put a few Small game ideas together,  ha I was saving the a game the not responding came up in the top left of the screen it was there for a few seconds before crash the my PC, I promptly got Max up and running  and there where no save games in my folder there should have be 4 that I have made over the weekend. any Ideas why this has happened.

[2021-11-25 19:33] Retrogamebloke opened #1616 "Transport to Freeze Position"
Using this command seems to cause my player to lose health when transporting when below a certain height near the water level.
![image](https://user-images.githubusercontent.com/44620846/143492680-d097d6f1-2738-41ca-8501-74760c9c1f7a.png)
A bit higher up on the slope.
![image](https://user-images.githubusercontent.com/44620846/143492778-32f9f6c1-e2bd-403e-bf45-499b39b2d93b.png)
It works perfectly

[2021-11-25 20:13] AmenMoses commented on #1511
Any idea when this might get fixed?

[2021-11-26 04:56] Gusher opened #1617 "Game Guru Max: UI Scaling"
An on windows 10 pro and have system font scaling raised but in GGMAX it's not affected. I would highly suggest to add UI font scaling just like how Blender 3d does, it will help alot for accessibility, visually impared... the icons look good in size but would also suggest to add icon scaling as some  users are requesting it...

[2021-11-26 05:20] Gusher opened #1618 "Game Guru Max: Empty Level"
Many level designers and content creators need great control over the flat ground plane. The ability to change the default checkered image with a custom one and the ability to upload a custom mesh ground plane. Doing will help alot both content creators and level designers in special development projects. One idea might be a toggle to disable the default flat plane and upload a custom one....

[2021-11-26 07:39] rvanner commented on #1511
@ZakJudges Can you deal with this one today please?

[2021-11-26 09:03] ZakJudges commented on #1511
@rvanner Will do!

[2021-11-26 17:57] casigus opened #1619 "oh dear"
i don't know where too start with this update, but its literally broke everything, too many things to list, levels wont load, crashes happen on everyload, esp when loading previous levels, testing levels is now a no go, every single one ive tried crashes. I added some weapons from classic which worked perfectly with tthe previous build, now its telling me none of them are compatrible. mannnnnnnnnn

[2021-11-26 18:12] casigus commented on #1619
![image](https://user-images.githubusercontent.com/68471279/143618502-a9777f85-1630-45ca-a962-dedf76ecf898.png)
 going to do the clean install trick and go from there !

[2021-11-26 21:00] AvengingEagle opened #1620 "Specify render pass for individual entities"
In my game, the player carries a flaming torch. Originally I thought I could do this as a weapon that causes zero damage. Unfortunately, you can't specify an entityid or limbid on a weapon HUD model, and I needed to do that in order to attach a particle emitter to the torch to do the flame. The current solution is to have the torch as an entity that always follows the player's movements and orient

[2021-11-26 21:50] casigus commented on #1619
yeah fresh install + new map everything seams more stable.

[2021-11-26 21:50] #1619 closed

[2021-11-26 21:51] casigus commented on #1620
hope you get that sorted, hat looks suberb!!! great work!!!

[2021-11-26 21:56] smmaas opened #1621 "Waterlevel and enable trees are not saved"
The waterlevel and the enable trees setting are not saved and the level is loaded with the default setting.