[2021-06-01 10:50] GrobyKen opened #1174 "K CPU @ 3.60GHz (8 CPUs), ~3.6GHz Memory: 16384MB RAM Windows Dir: C:\WINDOWS DirectX Version: DirectX 12 Card name: NVIDIA GeForce RTX 2070 Dedicated Memory: 8031 MB Current Mode: 1920 x 1080 (32 bit) (60Hz)"
I can no longer import a model with textures. The mesh is imported but when I try to import and texture files in to the slots they are ignored and do not show up

in

the

slot

or

on

the

model.

I public-api-auth-token: 27308:$2y$10$j/gwHCSFIiZhcfCt9xxABuMubfW7NYu3KLyULfUAIzq2Nwl3xxwKa

[2021-06-01 10:56] GrobyKen opened #1175 "Two Possible Bugs"
I can no longer import a model and texture it using the import system. The mesh is imported OK but when I try to add textures the system goes through the process but I end up with no textures. The name does not appear in the name boxes and no texture appears on the mesh. The system then reverts to its failsafe stance using noname_surface. My textures are png files. This all worked in previous vers

[2021-06-01 19:23] LeeBamberTGC commented on #1034
@michaeloldman This Friday's build will allow child groups to be retained when created from group parent.

The PAGE UP and DOWN only works to move the group up and down the level when the cursor is IN the 3D Level Editor view, this is to protect the IMGUI UI from using the key strokes for its own ends.

[2021-06-02 07:34] Kitakazi opened #1176 "Feature Request - "alttexture =""
Hello, I'm requesting the feature of having an FPE option for having an alternative texture that can be called with LUA.
alttexture = x
FPSCreator had this and it was really good.
Here are some of the uses off the top of my head.

Having a model with a light on it, you can set the alttexture to so that when the player switches off the light, the light changes to the off texture. and then you can s

[2021-06-02 07:41] Kitakazi opened #1177 "Custom Material Request - Allow us to change the tiling."
When choosing a texture sometimes the texture might be to big or to small on a model and changing the tiling can help with that.
In Unity you can change the tiling on both the x and y. So the default is always 1x1 but can be changed to 2x2 or 5x2 or w/e you need. Which while it isn't the most exciting thing and isn't used often, when you do need it it can be a godsend.

[2021-06-02 09:15] Kitakazi opened #1178 "Having no lights in a scene and setting all environmental lights to black, there is still some sort of ambient light"
With no lights in a scene and lighting settings all set to black it is still far to bright.
Here is a screenshot from the cellar demo, I have set all environmental lights to black, and deleted all the light entities in the scene. Auto-Exposure is turned off and gamma set below the default to 2.0,

The screenshot is dark but it is not dark enough, as you can see something is lighting up the walls a

[2021-06-03 08:52] Kitakazi opened #1179 "Object Library Category for Lights, Markers, Trigger Zones, etc"
Hello, it is not very easy to find things like the Point Lights, or Markers with the current object library. It looks like the category "elements" is maybe supposed to be used for this but I have all sorts of assets that show up under that category that could probably be considered scenery.

The lights and markers and such say (game elements) next to their names but there is no "game element" cate

[2021-06-03 08:56] Kitakazi commented on #1179
Well I found it, Game Elements is a folder not a category. .

[2021-06-03 08:56] #1179 closed

[2021-06-03 23:55] Kasseyus opened #1180 "DYNAMIC Entities do not use Position and Rotation Offset Values from Import"
When importing new entities, can set the POSITION and ROTATION Offset to correct orientation issues.

for STATIC flagged entities, this works as intended.

for DYNAMIC (non-STATIC flagged) entities, these values are ignored.

NOTE: This is not apparent in the Editor Window, which appears normal.  Issue occurs when running Test Game.

[2021-06-04 06:45] rvanner commented on #1175
@GrobyKen Can you zip up and send us the model that is causing you the problem?

[2021-06-04 06:47] rvanner commented on #1162
@Dondorevo Is this all fixed for you now? If so I can close this issue.

[2021-06-04 06:49] rvanner commented on #1171
Work on the structure editor will be dealt with later. Don't worry about it's current state.

[2021-06-04 06:51] rvanner commented on #1168
@sciencebloke50 Can you zip up and send the model so we can test it?

[2021-06-04 06:58] #1162 closed

[2021-06-04 20:47] Hamada880 opened #1181 "massive FPS drop when player is moving"
There is a few bugs with this build, massive fps drop when the player is moving, also there is no reloading sound.

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19042) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: ROG Zephyrus M15 GU502LW
Processor: Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz (12 CPUs), ~2.6GHz
Memory: 16384MB RAM
W

[2021-06-04 21:13] #1181 closed

[2021-06-04 21:15] Hamada880 commented on #1181
correction nividia just released a new update but after the installtion it seem like it fix the issue with the frame dropping thing in GGMax.

[2021-06-06 06:16] Kitakazi opened #1182 "When editing custom materials clicking the thumbnail of a texture then selecting a new texture will change the wrong texture input."
For example, pick any model and go to the Edit Custom Materials tab in  Object Tools, click the actual Thumbnail of the Albedo texture, it will open up your documents to select a new one, then click any new image you want to use and it will change the texture for the Normal map instead of the Albedo.

System Specs:
DXDIAG required!

[2021-06-06 08:04] cstriage13 commented on #1172
I was going to say the same thing. But here's a screen shot anyways.
![Screenshot 2021-06-06 025242](https://user-images.githubusercontent.com/84180614/120917262-e3c7e880-c673-11eb-80e9-e465940b03ea.png)

[2021-06-06 08:11] rvanner commented on #1172
@LeeBamberTGC Can you fix this ASAP! We still need the legacy grass system working.

[2021-06-06 10:20] sciencebloke50 commented on #1168
Hi Richard
No problem will send in a short while today
Many thanks
________________________________
From: Richard Vanner ***@***.***>
Sent: 04 June 2021 06:51
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: sciencebloke50 ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] FBX faulty (#1168)

@sciencebloke50<https://github.com/sciencebloke50> Can you zip up and send th

[2021-06-06 22:03] MadjackGG opened #1183 "Cloud speed"
Minor request; could we get a little more granularity on cloud speed with - most especially - speed 1 being very very slow?

I usually like to set my cloud height to relatively low (~14), and even on speed = 1, the clouds are unnaturally fast.

[2021-06-06 22:37] Kasseyus opened #1184 "Importer Creates Redundant _surface Files?"
When Importing Entity, e.g.   "Object.FBX" and "Object_color.dds", "Object_normal.dds" and "Object_surface.dds" exist in same directory.

Entity will import, and graphical information is automatically filled in, except it will also create a redundant surface file called "Object_color_surface.dds", which is a blank file and will ignore the existing surface file.

Demo Video Link:
https://youtu.be/-

[2021-06-06 23:33] Kasseyus opened #1185 "Thumbnail Rotation Issue"
Most entities have their pivot at World Zero, but some entities that are part of a set or collection may require their pivot to be elsewhere, resulting in wildly misaligned thumbnails.

Request for a Toggle Function between World Zero, or one calculated from the Objects centre of mass to help make good thumbnails.

[2021-06-07 09:59] sciencebloke50 commented on #1168
lee stephenson45 has shared a OneDrive file with you. To view it, click the link below.
<https://1drv.ms/u/s!AisI7wQGNVm2ggZL8ziCJYYM00d0>
[https://r1.res.office365.com/owa/prem/images/dc-zip_20.png]<https://1drv.ms/u/s!AisI7wQGNVm2ggZL8ziCJYYM00d0>
FBX weeper model.zip<https://1drv.ms/u/s!AisI7wQGNVm2ggZL8ziCJYYM00d0>

good morning Rick,

please find attached the FBX model

______________________

[2021-06-07 17:50] Snage62 opened #1186 "Slipts in the land"
While make a small hiilly field the lad start to spilts away sowing the water

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: X570 UD
Processor: AMD Ryzen 7 2700 Eight-Core Processor           (16 CPUs), ~3.2GHz
Memory: 32768MB RAM
Windows Dir: C:\Windows
DirectX Version: DirectX 1

[2021-06-08 17:54] LeeBamberTGC commented on #1172
Will be fixed for this Friday build.

[2021-06-09 00:09] fearlesswee opened #1187 "[Classic/Max] Projectiles' "mode" setting has no effect"
In the .txt file for projectiles, the first setting is called "mode", which has the following "tip":

- [Default 0] (0 - Raycast (Fast simple projectiles), 1 - Dynamic (Grenades, Rockets), 2 - Static (Mines, C4))

It implies that 0 should be raycast/hitscan like a bullet, 1 should be standard projectile behavior seen for the RPG and grenades, and 2 should stick to a hit surface/object as mines and

[2021-06-09 00:20] fearlesswee commented on #1176
I agree, it would also be incredibly useful to be able to define numerous alttextures, in such a way like:
-alttexture1 =
-altexture2 =
-altexture3 =

and so on.

Use cases for numerous alt-textures over having just one:

- Different textures depending on HOW the enemy died, such as switching to a crispy blackened texture if they burnt to death, a texture that only has blood on the head if they go

[2021-06-09 12:03] #1187 closed

[2021-06-09 12:04] fearlesswee commented on #1187
It's come to my attention that this isn't a broken or missing feature, but rather the description and name of the "mode" flag given is HIGHLY misleading, and actually has no bearing on the projectile whatsoever, instead it just changes how damage is afflicted.

[2021-06-09 12:55] Kasseyus opened #1188 "Excessive Filepath/Name Crashes Importer"
Seems that an excessively long file path will crash the importer when attempting to bring in a model.

[2021-06-09 13:03] rvanner commented on #1186
@Snage62 Is this GGMAX? If so, this will all go away when we are ready to release the new terrain engine

[2021-06-09 22:59] Kitakazi opened #1189 "Placing Objects high in the sky with simulated sky on will always show in front of the clouds."
With the simulated sky on, if you place an object very high into the sky the clouds will always appear to move behind the object, even when it looks like they should be moving well below/in front of the object.

[2021-06-10 01:32] Teabone3 opened #1190 "GGC Issue: Widget Odd Behavior"
When rotating objects, they widget will now become wonky and rotate as well and get its rings stuck at odd perspectives.
![widget](https://user-images.githubusercontent.com/35990109/121450690-381be280-c96a-11eb-9afb-8e999a81c211.JPG)

[2021-06-10 01:42] Teabone3 opened #1191 "GGC Issue: Magnify Glass Icons when in Freeflight Mode Do Nothing"
This may have been intentional, but the magnify glass icons in the editor UI do nothing if you leave top-down mode (G).

Basically they do not work while you are in free-flight mode. However mouse wheel for zooming in and out does work.

[2021-06-11 12:47] Duchenkuke opened #1192 "[Gameguru CLASSIC] Lighting Renderer and Shadows ( Shadows too bright )"
Dear Gameguru Team, I have a question regarding the Surface Lighting in gameguru classic.

Ive been doing some research and I found a possibility to improve the lighting of gg classic a lot in terms of looks.
I hope I can write this properly so you understand.

Currently, the surface slider adds light to the WHOLE Level.
But what if it only lights the Parts of the level that are not covered by sha

[2021-06-11 18:34] Duchenkuke opened #1193 "[Gameguru CLASSIC] No hit decals for projectiles?"
Dear GG team,
please look at this video.
https://www.youtube.com/watch?v=Wfxp-IqOvGY

This is a custom projectile type to simulate tracer rounds.

However, there are no impact effects on enemies (blood) or anything else, (ground, entities,)
Only visual effect there is is for water impact.

Could this be changed or edited please?
Or maybe there is a way already and I just didnt know it yet?

Anyway

[2021-06-12 14:57] renegms opened #1194 "Welcome screen missing close/cancel button"
When I open the Welcome screen again in the menu, there is no close or cancel button. It is missing. Our I don't see it where it is hiding.

[2021-06-13 11:21] GrobyKen opened #1195 ";orientation not in import file"
Now it could be me but the new version of GG loaded on to my kit today does not write the ';orientation' group in to the fpe file when using the import model system. I am importing fbx models.

[2021-06-13 15:21] Rhett-R opened #1196 "Player Character has slow movement, weapon movement animations sped up, physics system is weird"
The movement speed for the character has been reduced significantly and/or the weapon animations when moving have been sped up. The brass ejects very slowly as if the force of gravity has been reduced, among other physics issues. You can see a video of what is happening [here](https://youtu.be/05eC8E3p4Gw).

[2021-06-13 19:26] Snage62 opened #1197 "WASD, Not working"
Made a section of my dungeon with Max and the A and D keys did not work, allthe puddle disappears, the the dungeon start to split.

Any help will be greatly recived.
Nigel.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: X570 UD
Processor: AMD Ryzen 7 2700 Eight-Core Processor

[2021-06-14 07:14] rvanner commented on #1197
@Snage62 Do you mean in the editor or when you are testing the game?

[2021-06-14 07:16] rvanner commented on #1195
@GrobyKen Is this Classic or Max?

[2021-06-14 07:17] Snage62 commented on #1197
Hi Richard. 
Its wben i test the game, I ve send. Video of it yo Lee  so you can see whats happening.
Thanks Nigel. 

Sent from Yahoo Mail on Android

  On Mon, 14 Jun 2021 at 8:14, Richard ***@***.***> wrote:

@Snage62 Do you mean in the editor or when you are testing the game?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-14 07:19] rvanner commented on #1197
@Snage62 Yes a video will be a great help. Thanks!

[2021-06-14 13:15] GrobyKen commented on #1195
Sorry. Classic.

[2021-06-15 08:49] Snage62 commented on #1197
Hi Lee & Richard
Here is the Video of what is happening, I made the dungeon in Game Guru and set it to Grid mode, I have not had time
 to try and see if it works ok in Max,  I had noticed that it is very hard to slide the Dungeon items together.  I hope you can help, because I have done 6 full size dungeons in Game Guru and  if I have to redo them in Max then I will. Its hard being a one man band.

[2021-06-15 08:49] #1197 closed

[2021-06-16 14:51] rvanner opened #1198 "Ungrouping a group does not work"
- Make a group
- Bring in a copy of that group
- Edit the group
- Now try to ungroup it
See this video;
https://youtu.be/hhMqo1VieI8

[2021-06-17 12:21] #1198 closed

[2021-06-17 12:23] rvanner opened #1199 "Grouped objects - rotating a group will lead to an object losing it's rotation"
See in this video how one of the walls loses it's rotation as I keep rotating the group.

https://youtu.be/8xq07Aauiwo

[2021-06-17 19:55] rvanner opened #1200 "Strange fuzzy effect on edge of light range"
Spotted this while adding a light to the scene:
![image](https://user-images.githubusercontent.com/1503593/122463913-1ea01980-cfae-11eb-89af-db57f3a2cc4d.png)

[2021-06-18 07:18] rvanner opened #1201 "The element icons should not scale larger when you drag the window to the left"
See how large they can get:

![image](https://user-images.githubusercontent.com/1503593/122522280-ae28e500-d00d-11eb-85c8-db847bf1f612.png)

[2021-06-18 07:21] synchromesh62 opened #1202 "Max not remembering import co-ordinates"
Max not remebering import co-ordinates like rotations etc

[2021-06-18 15:57] LeeBamberTGC commented on #1201
NOTE: Recommend scale as normal, but when wider than four or more objects across, switch to a single row and cap the size, then center the 10 icons as the panel is further expanded wider.

[2021-06-20 22:51] mav3r1ck198-1 opened #1203 "Importer issues in Classic"
Currently, when importing custom assets with PBR textures into classic using the importer, whilst the assets themselves appear to import fine, they are invisible in both the editor window, and during test game, however the collision seems to be working on said assets

[2021-06-21 09:35] Kasseyus commented on #1203
There is a file missing from the FPE that specifies the model.

e.g. .  Model = signpost.dbo

You can add this manually and it works as it should. (as a quick fix until it's really fixed)

[2021-06-21 09:37] GraPhiX-Guru commented on #1203
i can confirm the ;orientation section is missing from the FPE a quick fix for end users is to add these lines after ;visualinfo section

;orientation
model            = your model name here
offx             = 0
offy             = 0
offz             = 0
rotx             = 0
roty             = 0
rotz             = 0
scale            = 100
collisionmode    = 0
defaultstatic    = 1
materialindex    =

[2021-06-22 07:03] redagent101 opened #1204 "GG Classic (June 2021 fixes)-Entities in editor missing in test game mode"
Missing entities in test mode but in editor.  reverted back to xmas 2020 and they appear in test game mode.
![GGClassic_current_public_preview_build_june2021_character_mssing_in_level_present_in_editor](https://user-images.githubusercontent.com/15969299/122878955-3f5ecb00-d330-11eb-9d6d-b3b5fbfae96f.png)
![GGClassic_xmas_2020_fixes_character_present_in_level](https://user-images.githubusercontent.

[2021-06-22 07:03] redagent101 commented on #1204
has something changed in the fpe?

[2021-06-22 07:08] redagent101 commented on #1204
just to add ,march fixes 2021-all showing in that version also.
BOTR

[2021-06-22 10:15] rvanner commented on #1202
@LeeBamberTGC Could you have a look at this for the next build? It's holding up the importing of a new pack of assets.

[2021-06-22 14:03] Duchenkuke opened #1205 "[GAMEGURU CLASSIC] Flickering Textures when many lights are placed."
When there are many lights on one map, random entities start flickering.
This has to do with following settings in setup.ini:

maxtotalmeshlights
maxpixelmeshlights

increasing the number will fix the flickering, but also cost a lot of performance.

Can this somehow be adressed?

Kind Regards!

[2021-06-22 15:15] synchromesh62 commented on #1202
@LeeBamberTGC
Basically some of these imports are almost unfindable either out at sea, high in the sky or even under terrain.
I spent ages on a load getting the position and orientation right to find after they did not save.
I probably should have checked but you know what its like when you get a rhythm going before you know it 30 odd models have been imported. :)

[2021-06-22 15:20] rvanner commented on #1202
@synchromesh62 Can you zip up a few of the objects that cause this issue and send direct to Lee?

[2021-06-22 18:30] synchromesh62 commented on #1202
Yep sure i will get that done.

[2021-06-23 12:51] rvanner opened #1206 "Adding more than one light with a behaviour into the Editor and then testing the level only shows one light"
I tried to set up 4 rotating spotlights:

![image](https://user-images.githubusercontent.com/1503593/123099485-23d7eb00-d42a-11eb-81fa-791a327fee58.png)

But when I tested the level only one was shown.

[2021-06-23 12:59] rvanner commented on #1206
This bug is actually to do with the lights not using the rotation set in the editor. So they are actually working but they are not offset and so it looks like just one light.

[2021-06-23 13:03] rvanner opened #1207 "Copy and paste a light object and the colour palette does not show in the properties"
It should show like this;

![image](https://user-images.githubusercontent.com/1503593/123101084-97c6c300-d42b-11eb-832a-f5295884bf93.png)

But you see this;

![image](https://user-images.githubusercontent.com/1503593/123101110-9dbca400-d42b-11eb-8910-47be91b3345c.png)

You can get the palette to show if you click the 3D scene

[2021-06-23 18:46] Duchenkuke commented on #1205
I think this could be addressed by adding a fade to the mesh lights similar to the terrain lights fade function thats already there.

maybe something like:
meshlightfadedistance=3000

[2021-06-24 10:34] rvanner opened #1208 "The element icons need a grey version for when users choose grey user interface"
It will avoid the icons looking out of place and ensure the choice of grey is used everywhere in the editor

![image](https://user-images.githubusercontent.com/1503593/123248682-1d0baf80-d4e0-11eb-836b-8c7e65d6081f.png)

[2021-06-24 17:47] C4ever08 opened #1209 "Level crashing in test mode Game Guru Classic"
So since the march update I've bee having an issue when creating a new level. I built an indoor level in ebe and its fine when that is saved but then When i add weapon to start marker and start adding entities I will go into test mode and usually I will fire off my gun then it crashes resuming from last session and breaks my level even A.I wont shoot at you.

I decided to rebuild the level and sav

[2021-06-25 14:47] Duchenkuke opened #1210 "[Gameguru Classic] DNS Texture Worklflow - _S (Specular not working in standalone)"
Hi.

Title says it all, specular maps arent working in standalone gameguru.
I dont know why.

[2021-06-25 15:22] Retrogamebloke opened #1211 "Recent Reflectivity Texture control in Lua"
Just leaving a request as mentioned in last live stream regarding control over reflectivity of textures in lua. For making things look wet in rain etc.
A way to change alpha of texture may be good as well for a cheap but reasonable snow ground build up effect on objects.

[2021-06-26 12:14] Hamada880 opened #1212 "imported models lose settings.GGMax"
imported models lose its settings after it was imported. The collision setting turn to be box after its imported.

public-api-auth-token: 301890:$2y$10$FV62/m5/UmdZjfbPAg7jn.DGDHxrXlM8n/uxOhC1B.zPUtvukJ3LO

[2021-06-26 12:33] Hamada880 opened #1213 "Requested feature, ability to see collision settings display on the model before importing."
To be able to see the collision type displayed on the imported model to decided which collision is perfect for the model.

[2021-06-26 13:07] AmenMoses opened #1214 "Copy/Paste particles doesn't work"
Place a particle emitter, set it up the way you want it then copy and paste a few times.

Click test game and only the last one placed actually works.

[2021-06-26 13:10] AmenMoses opened #1215 "Character creator issues"
1)  Hair still shows though hats.

2) Beret also includes hair, so if you choose hair + beret you get two lots of hair.

3) Names of some parts don't seem to match what you get, i.e. White Hat is Green.

4) Male character gets military options that don't appear for the Female character, i.e. different uniforms/caps/balaclava etc.

[2021-06-27 18:30] Teabone3 opened #1216 "Issue: Impacts Remain in editor after Test"
If you hit an object its material index generated impact graphic will remain in the editor. Not a huge issue.
![flash](https://user-images.githubusercontent.com/35990109/123555507-2ac96b00-d754-11eb-8bce-0edd11745d83.JPG)

[2021-06-28 10:14] rvanner commented on #1194
@renegms You just click Create a new game. But I do see the issue here. It should have a close X button if you don't want to do anything.

[2021-06-28 12:20] ZakJudges opened #1217 "Character Creator Save Broken"
If you change the path then the character finalise screen does not appear.

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19041) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: PCX0DX
Processor: Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz (16 CPUs), ~2.3GHz
Memory: 32768MB RAM
Windows Dir: C:\WINDOWS
DirectX Version: DirectX 12
Card na

[2021-06-28 13:51] ZakJudges opened #1218 "Copy and Paste Object Rotation"
When copying and pasting an object, the pasted object's rotation cannot be altered. It will display correctly at first, however, if you try to reposition the object, its rotation will be reset to that of the copied object.

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19041) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: PCX0DX
Pro

[2021-06-29 08:43] rvanner commented on #1202
@synchromesh62 Can you send the files today? I'd like to get Lee looking at this ASAP. :-)

[2021-06-29 09:55] synchromesh62 commented on #1202
@rvanner
Hi Rick
I sent the files to lee on 22-6-21.
Same day you requested me to on the Discord

[2021-06-29 10:08] rvanner commented on #1202
@synchromesh62 OK thanks!

@LeeBamberTGC Can you look at the import issues on these models this week?

[2021-06-29 14:14] LeeBamberTGC commented on #1199
Please test this with the latest build, I could not reproduce it. What was the name of the asset you dragged in?

[2021-06-29 14:49] LeeBamberTGC commented on #1202
There will be a new button in this weeks build to center the mesh data for those models that are shifted away from their true center.

[2021-06-29 15:01] rvanner commented on #1199
@LeeBamberTGC It's from the military pack that we have yet to add into the released version. I will check it now in the latest build and let you know.

[2021-06-29 15:03] rvanner commented on #1199
@LeeBamberTGC Yes, still happens.

[2021-06-29 15:04] rvanner commented on #1199
FYI, I made a group from this model from that pack then dragged in a group of it and rotated it, after a number of rotations one of them went wrong;

![image](https://user-images.githubusercontent.com/1503593/123821737-939b1980-d8f3-11eb-8e0c-96a02eddf4a4.png)

[2021-06-29 15:07] LeeBamberTGC commented on #1199
Any chance you can reproduce this with one of the objects we have in the stock build?

[2021-06-29 23:42] synchromesh62 commented on #1202
@LeeBamberTGC
Awesome.
Thanks Lee
That will help so much :)

[2021-06-30 06:31] rvanner commented on #1199
@LeeBamberTGC Not been able to do it with stock media. You have the military pack, so check out these right angled walls and they will show up this issue.

[2021-06-30 13:06] rvanner opened #1219 "Character glasses not displaying properly"
The reflective glasses no longer reflect:
![image](https://user-images.githubusercontent.com/1503593/123965248-28614e00-d9ac-11eb-968a-e90b2c209280.png)
![image](https://user-images.githubusercontent.com/1503593/123965278-30b98900-d9ac-11eb-9bdd-22956a8272b9.png)

The side of the glasses seems to have a Z clash issue at certain angles, eg;
![image](https://user-images.githubusercontent.com/1503593

[2021-07-01 05:25] Kitakazi opened #1220 "Spot Light rotation widget is broken"
The actual light and the 3d model in editor of the Spot Light entity are not lined up correctly. So the widget rotates the model of the light in the editor fine but where the actual light points is anyone's guess.  There is also a point when rotating on the Z-axis the 3d model will bug out. uploaded video showing this.

https://www.youtube.com/watch?v=3ODZv8d4NGA

[2021-07-01 10:30] LeeBamberTGC commented on #1220
Fixed for next internal build.

[2021-07-02 02:34] fearlesswee opened #1221 "Feature request(s) for Classic/Max: Expanded options for projectiles."
I had planned to make a game that made heavy use of projectiles (they are far more interesting from a gameplay perspective than the invisible raycasts used by guns by default) but as I worked on it I had found they lack some options I feel could GREATLY add to the gameplay experience. I've included some such options below, and listed potential use cases to argue towards their addition.

Sticky = 0

[2021-07-02 09:53] ZakJudges opened #1222 "Model Importer Save Broken"
Similarly to the Character Creator bug, when the path to save the imported model is changed, the finalise object creation screen will not appear.

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19041) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: PCX0DX
Processor: Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz (16 CPUs), ~2.3GHz
Memory:

[2021-07-02 20:41] TaurBen opened #1223 "(Sorry, del pls) After starting the steam everything works fine.. I am revoking the ticket."
-- After restarting the Steam standalone works fine and switches to background normally. I am revoking the ticket. --
-- Perhaps there is some connection between standalone and steam services.. or maybe not, just a guess. --
/////
(GG Classic) Standalone game doesn't want go to background mode (2021.06 version)
Hello dear developers, good health to you in our strange times.
I noticed is that I can

[2021-07-03 09:24] #1223 closed

[2021-07-03 10:47] plemsoft commented on #1204
@redagent101 Thanks for reporting this issue, could you e-mail me the object that are missing in test game , there was some support for older animation missing in the last update so i assume that is the problem, but just to make sure, please e-mail the object so im able to test:  plemsoft@plemsoft.com

Thanks for your help :)

[2021-07-03 10:51] plemsoft commented on #1209
@C4ever08 Thanks for reporting this issue, yes please e-mail me a copy of the level so im able to check what the problem is. plemsoft@plemsoft.com

Thanks for your help :)

[2021-07-03 10:55] plemsoft commented on #1210
@Duchenkuke Thanks for reporting this issue, it looks like the PBR materials are not getting copied to the standalone, could you try to copy the materials over by hand and let me know if it fix your issue, the materials are needed for the old DNS to work in PBR:

\Game Guru\Files\effectbank\reloaded\media\materials\

Thanks for your help :)

[2021-07-03 11:36] Duchenkuke commented on #1210
thanks for answering preben!

Yes I can confirm that copy the materials folder to the standalone fixed it.
Nice!

[2021-07-03 15:42] AmenMoses commented on #1214
Doesn't work if they are grouped either.

[2021-07-03 21:33] Sr-Ivan opened #1224 "The fbx or x files imported via "import template..." to the classic game guru. downloaded from Steam on 06/2021 has an error. (item ceases to exist " when dragged to the map)?! {NOTE: error that does not occur in the trial version downloaded from the official website "on this date: 07/03/2021 which has the 2019 version, in the file with the date : 05/19/2020 11:47 AM}"

[2021-07-04 08:51] plemsoft commented on #1196
@Rhett-R Thanks for reporting this issue, could you let me know the FPS when you play the game in the video, there is some code that will reduce the physics if your fps get to low, so i will need the FPS your seeing so im able to adjust this. Just press F11 to see the fps. Thanks for your help :)

[2021-07-04 10:05] plemsoft commented on #1205
@Duchenkuke Thanks for reporting this issue, it should not "flicker" if your not using moving objects or moving lights, could you let me know in what cases/where you see this flicker ? , thanks :)

[2021-07-04 10:09] plemsoft commented on #1190
@Teabone3 Thanks for reporting this issue, i was not able to reproduce this, could you make a small video to show the issue or give me a step by step to reproduce it, also let me know if this is in the latest version , thanks for your help :)

[2021-07-04 10:23] plemsoft commented on #1224
@Sr-Ivan Thanks for reporting this issue, this has been fixed and will be included in the next update :)

[2021-07-04 10:25] plemsoft commented on #1216
@Teabone3 Thanks for reporting this issue, this has been fixed and will be included in the next update :)

[2021-07-04 10:26] plemsoft commented on #1210
@Duchenkuke materials will now also be included in the standalone, ready from the next update :)

[2021-07-04 10:29] plemsoft commented on #1203
@mav3r1ck198-1 Thanks for reporting this issue, this has been fixed and will be included in the next update :)

[2021-07-04 10:30] plemsoft commented on #1195
@GrobyKen Thanks for reporting this issue, this has been fixed and will be included in the next update :)

[2021-07-04 10:31] plemsoft commented on #1191
@Teabone3 Thanks for reporting this issue, this has been fixed and will be included in the next update :)

[2021-07-04 12:41] Duchenkuke commented on #1205
I dont use any moving lights or anything. They are just light sources on a city map at night. The map has about 60-100 lights placed.
There is a standalone for it ready to download, if you got the time, you can look at it yourself. I cant really say whats causing the issue...

[2021-07-04 23:10] Sr-Ivan commented on #1224
plemsoft  - at your service
and what will be the next update date?
 for me to create items that I'm developing for free and to sell?
one more mistake for you:
fbx items placed in game guru give tmb error (in third person mode), when the character approaches the walls!
in first person mode this does not happen!

[2021-07-06 16:01] ZakJudges opened #1225 "Issue with Resource Search on Startup"
...connected a 3”1/4 USB disk reader on PC and Game-Guru tried to search something there.

Removed it and it works correctly.

[2021-07-07 06:01] hamedsheygh opened #1226 "light mapper in game guru classic still buggy (not working in edit mode many times or working so weird sometimes.)"

[2021-07-07 10:23] niijel opened #1227 "add object touches right edge of window and crashes GG"
open the add popup, drag it to right, when it touches right edge of screen/window it crashes GGmax

[2021-07-07 10:25] niijel opened #1228 "error report - description box hides text"
type text in box on one line after wrap it throws cursor to end of input and

wont

allow

return

to

top

of

public-api-auth-token: 19906:$2y$10$JTuqcQXWusavzEFbjp8mEu2ybhvgkCrZIsr4TNlx2ngAYnWZvLKBK

[2021-07-07 10:51] niijel opened #1229 "grid mode indication missing from status bar"
at some point this went MIA

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19042) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: Z170XP-SLI
Processor: Intel(R) Core(TM) i5-6600K CPU @ 3.50GHz (4 CPUs), ~3.5GHz
Memory: 16384MB RAM
Windows Dir: C:\WINDOWS
DirectX Version: DirectX 12
Card name: NVIDIA GeForce RTX 2070
Dedicated Memory:

[2021-07-07 13:53] ZakJudges opened #1230 "Material Editing Issue"
When changing materials of objects in the importer or object tools...if the selected texture is not in the same directory as the imported model, the texture will not apply and instead the model will display the default white texture. If a texture is selected again with a different path to the model, a crash will occur.

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19041) (19

[2021-07-07 18:58] cstriage13 opened #1231 "Object outline feature change request and various bugs."
Reduce object outline when selected to just the overall outer border instead if internal lines ex. Fences showing every little square in the chain link, also gives better esthetic as well as ability to see behind object if needing to with out having to move around so much.  This might help with vram/ram reduction.  Lines appearing on ground textures (happens when testing also) see photo 1
![Screen

[2021-07-07 19:08] 3coms opened #1232 "Camera maker attachable in GGMax [Request Feature]"
There must be hundreds of reasons to include this feature in GGMax, I can think of a few:

1- The player could send a reconnaissance drone and get a general view of the battlefield, or of a specific place.
2- The camera could show the location of a soldier fulfilling a specific mission.
3- The camera could show a door that is opened, after activating a mechanism in a remote place, thus giving an i

[2021-07-07 19:09] 3coms commented on #1232
https://youtu.be/V--SC9T2yNM

[2021-07-08 10:18] rvanner opened #1233 "Add a gap to the help menu as shown"
![image](https://user-images.githubusercontent.com/1503593/124905645-26b40d80-dfde-11eb-9818-7ae8f6bed498.png)

[2021-07-08 14:45] fearlesswee commented on #1232
Having a camera entity that you could easily switch back-and-forth from would be endlessly useful, and I second its addition. Also, I recall during GGC's early days (when it was called FPSC: Reloaded and had not yet released) there was talk of a feature of a camera system that could render to a texture for real-time security cameras. Perhaps this could also make a comeback? (Some kind of flat "scr

[2021-07-10 03:02] madmattius opened #1234 "Duplicate category listings for Object Library"
Hi,

After I upgraded to the lastest Alpha today - 20210709, I noticed there are duplicate category listings in the Object library (pic attached). All the categories renamed to remove "The" are listed and empty when you browse inside them. All the pinned categories in the screenshot are fine. I didnt have any objects in the "User" category to start with.

I did have to make two attempts to downloa

[2021-07-12 11:40] ZakJudges opened #1235 "Light Probe Scale Issue"
steps to reproduce:
place a light in the scene
copy and paste the light
select the light (Color Palette menu does not appear)
if you click off of the light then the correct menu layout will appear,
...however, if you click on another object then both objects are highlighed.
when trying to scale the light probe, the scale is not applied, and sometimes affects other objects instead

This also happen

[2021-07-12 11:45] ZakJudges opened #1236 "Fog Issue"
Steps to reproduce:

navigate to weather settings,
reduce the fog range, and upper limit slider
see artefacts

[2021-07-12 21:55] sciencebloke50 opened #1237 "new tree models frame rate issues"
all objects work fine lots of jungle trees and rocks etc there are no issue even with a lot.

but
place a few of the new trees done and the frame rate drops to 6fpm this is with even 2 trees its low frame rates, i took physics off and they still eat the framerate

System Specs:
Operating System: Windows 10 Home 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional S

[2021-07-13 07:53] rvanner opened #1238 "Level Editor: Mouse wheel + control key should zoom in and out at the slow speed"
We should add this because it will match the arrow key combinations for moving around the scene.

So if the user moves the mouse wheel and is holding down the CTRL key, the zoom in and out should move at the slow speed (same as Arrow up+CTRL).

[2021-07-13 09:30] rvanner opened #1239 "Keys should be added to the object library window"
Up arrow - move up the list
Down arrow - move down the list
Page up - move up a full page of icons
Page down - move down a full page
Home - move to the top of the list
End - move to the end of the list

[2021-07-13 10:34] rvanner opened #1240 "Grouped Objects: When a copy of a group is selected, if you press Del key, the group gets ungrouped"
1. Make a group
2. Drag in a copy
3. Press the Del key
4. The copied group becomes ungrouped

This should not happen, the copied group should be deleted in full.

[2021-07-13 10:37] rvanner commented on #1234
@madmattius Use explorer and go to this folder; C:\Program Files\GameGuruMAX\Max\Files\entitybank

Remove any empty folders, this will clean up the list.

Currently the installed does not clean up older folders.

[2021-07-13 10:47] rvanner opened #1241 "Rotation actions in the editor cannot be undone"
1. Add an object to the level
2. Press R rotate the object
3. Press Undo and the object is deleted

The system should undo the rotation first.

[2021-07-13 10:51] rvanner opened #1242 "If you select an object, another object behind can end up being selected when it's not"
See here;
![image](https://user-images.githubusercontent.com/1503593/125439702-a2f46bbf-ffd2-4b13-8f32-2d89852c57c0.png)
The object at the front is being selected but the one behind it is also being highlighted

[2021-07-13 10:53] GraPhiX-Guru opened #1243 "GameGuru MAX Updater"
The MAX updater is getting bigger and bigger, i think the interface needs a change, allowing users just to download the core files, add the assets to a separate list with check-boxes, i don't think the assets would change that much i think it is a case of just downloading the new ones but this can be done as a background task rather than being bundled with the core files, i don't have a problem wi

[2021-07-13 10:59] rvanner commented on #1243
@GraPhiX-Guru This is planned later on. The idea will be to have some core objects and then the sub folders can be downloaded by users when it's more convenient for them. I'll keep this as an issue until the team work on it.

[2021-07-13 11:08] GraPhiX-Guru commented on #1243
The Installer is the 'Ambassador' for MAX it is the first thing users see and use it should be at the forefront of the development cycle, it all fine and dandy getting MAX to work but it is more important to get it out to users fast and clean, cater for the minority not the majority in this case

[2021-07-13 11:12] Belidos3D commented on #1243
This should be high importance. Nobody wants to be downloading multiple gigabytes of data for what could be potentially for some people hours before they can use a product, you could lose the interest of a lot of customers before they even use the product. Plus while you're asking us to be testing the product for you, we need to be able to get in there and test things, not spend hours waiting for

[2021-07-13 12:15] rvanner commented on #1243
I'll change it to high. We will review what to do in a few weeks time.

[2021-07-13 12:18] GraPhiX-Guru commented on #1243
Thank you @rvanner  but one more observation to consider, last week was a 10gb download in one week it grew to 15gb whilst I appreciate the assets we are getting (its brilliant) I think the rollout should be separate to the core program at this rate in 1 month we could see 35gb + !!!

**it needs addressing before we get to 20gb+ downloads**

[2021-07-13 12:33] rvanner opened #1244 "Using cut and paste does not always work"
When I am using cut & paste it does not work in all situations.

When I highlight this ammo pack, cut it with Control+X and then try to paste it back it does not show up.
![image](https://user-images.githubusercontent.com/1503593/125452080-6dbca6dd-49fe-4bb1-b634-1a070734132f.png)

Copy and paste seems to work fine.

[2021-07-13 12:50] rvanner opened #1245 "Settings: Show welcome screen on startup"
This tick box does not match the tick box on the welcome screen itself. They both should work in parallel.

![image](https://user-images.githubusercontent.com/1503593/125454385-0632e091-3cbb-4cdc-86a7-8373b88a78dd.png)

![image](https://user-images.githubusercontent.com/1503593/125454460-aa686850-4211-4612-b822-36f57b243d08.png)

[2021-07-13 13:01] rvanner opened #1246 "UI Transparency is no longer working!"
![image](https://user-images.githubusercontent.com/1503593/125456021-2e7cf5ab-178d-45c8-8d18-5444a8ac77ac.png)

[2021-07-13 13:16] rvanner opened #1247 "Multiple opened right hand windows should clean up when you untick the option in settings"
Lets say you have some panels open on the right, when you untick this option in settings it should clean up the right panel and only show the last panel that was being used. Currently it only does this when you choose to click on and focus on a window.

Here we have three open;
![image](https://user-images.githubusercontent.com/1503593/125458107-20740827-cb08-4f94-83f0-a25f7ea4b3fa.png)

After unt

[2021-07-13 14:02] rvanner opened #1248 "The widget has a highlight around it"
The widget itself should not have the yellow surround:

![image](https://user-images.githubusercontent.com/1503593/125465521-05e06bce-5d34-4236-b78d-d7624b35fe42.png)

[2021-07-14 16:44] 3coms opened #1249 "grabbing the screen at the moment of the save [Feature request]"
I would like to be able to take a screenshot to be used in my savegame/loadgame menu.
A screenshot might help to identify the spot the player is, when saving/loading the game level.

I already did so in GG, but using a third-party tool, since there is not some sort of "SendKey" LUA command in GG/GGMax.
With some sort of "SendKey", I can send F10 via LUA, so GG/GGMax takes the screenshot> stores th

[2021-07-14 16:54] 3coms commented on #1249
https://youtu.be/3JHtkeYpemk

[2021-07-14 19:37] AmenMoses commented on #1249
If the following code is added to DarkLUA.cpp it provides a Lua function to save the current screen to a specified file, if 4 more values are also specified then it will save a segment of the screen defined by the values specified, i.e. x1,y1, x2,y2 specifying bottom left screen location and top right screen location.

int SaveScreenShot( lua_State *L )
{
	int n = lua_gettop( L );
	if ( n < 1 ) re

[2021-07-15 02:21] Sr-Ivan commented on #1224
import problem. not resolved so far.
also "save standalone" when saving, saves to an empty map submerged in water, which is not the map I edited!!!
how can I activate the trial I downloaded from the site "game guru" with the Steam invoice?
because the trial version I downloaded doesn't have these import errors!
It remains to be seen if "save standalone" will work, because in the trial version it d

[2021-07-15 09:52] rvanner opened #1250 "If you edit the identity of an object, this name change is not updated in the current objects list"
Drag in an object, make sure you have the setting to show the object's identity on. Change the objects' name. It should update in the current objects list.

[2021-07-15 10:37] rvanner opened #1251 "Puddle object does not show up in test game"
The puddle objects from the cellar collection do not show up in Test game mode.

[2021-07-15 12:19] rvanner opened #1252 "Need a field to enter an object's strength value"
There's no field for an object's strength. Suggest it's added to the Developer Mode settings of an object.

[2021-07-15 19:29] synchromesh62 commented on #1224
@Sr-Ivan
If your standalone takes you to a map submerged in water its 99.9% because you are not saving your maps to the Default **mapbank** folder ... The 1% would be you forgot to put a start marker :)

Make sure your maps are saved t the **mapbank** folder then try creating another standalone.

[2021-07-15 19:30] 3coms opened #1253 "COLLISION CALCULATION FREE ZONES [Feature request]"
I had an idea but I dunno if is it possible to do it, the idea is about zones acting as containers, and all the meshes inside the zone, (terrain, rocks, trees) would be free of collision calculation, that way we can gain in performance, though.

Thinking about mountains and spots where the player is unable to get there, so, why do I need collision calculation there?
With the zone nodes, we can sur

[2021-07-15 19:33] synchromesh62 commented on #1253
**Thinking about mountains and spots where the player is unable to get there, so, why do I need collision calculation there?**
You dont ...
Thats why you can disable collision in properties of any model which is also commonly done for trees you will never go near :)

[2021-07-15 19:52] 3coms commented on #1253
@synchromesh62
That's true.
But I was thinking about something more flexible (I can declare some map area as collision-free at any moment of the process), I can also surround a bunch of assets at once.
As a side note, I'm not how many calculations other than collision one GGmax will do with the assets, if so, I would like to get all these meshes free of those calculations (if any), in another word

[2021-07-16 02:48] Sr-Ivan commented on #1224
with the "game guru trial" downloaded from the official website it is working correctly!
  it's just giving an error with the versions that steam is making available to me.
I'm saving correctly!
  " the trial version that I downloaded from the official site doesn't save but I believe it's because it's trial, but it doesn't give the import error.
will there be how do I activate the version I downlo

[2021-07-16 10:46] Sr-Ivan commented on #1224
about "save standalone", that's what you really guided me!
I was saving somewhere else! Haha ha
now I get it! :)
but the other problem is still not resolved.
"I'm glad the test version imports Fbx.
I'm making a move...
   importing in the test version and placing in the folder I bought in steam.
I believe it will work like this until the problem is fixed.
I have to fix now the errors that occur in

[2021-07-16 12:30] rvanner opened #1254 "Shell casing are missing their textures"
![image](https://user-images.githubusercontent.com/1503593/125947672-256521c9-cf76-4d44-b9bc-0413db52d71f.png)

[2021-07-16 12:31] rvanner opened #1255 "Change use of "entity" in the behaviour descriptions to "object""
This is just some of them. You need to check all scripts;

![image](https://user-images.githubusercontent.com/1503593/125947870-1e4cb4d9-3198-4a00-bb6e-45ea846712da.png)

[2021-07-16 12:41] rvanner opened #1256 "Fog settings are not remembered after a save and a load"
1. Make a level
2. Set some fog
3. Save the level
4. Quit Max
5. Reload Max
6. Load the level
7. The Fog settings are not as they were edited before save

[2021-07-16 12:43] rvanner commented on #1256
Issues was reported on DIscord by OldFlak;

BUG 2021.07.16
Editor Settings Not Being Saved
- Fog settings not being saved
- - distance always set to 60\100
- - consistently ignores saved values when restarting MAX
- Texture settings not being saved even when running level - random
- - example shadows on\off

[2021-07-16 12:48] rvanner opened #1257 "Importer Texture Assignment Issues - Cancel undoes previous selections"
**Reported on Discord by OldFlak**
Importer Texture Assignment Issues - Cancel undoes previous selections (not new, been there since day one)
- example: select any Surface Channel, decide you didn't really want to do that, choose Cancel
- - this effectively undoes all previous selections for each surface channel
- - you now have to select each channel again and apply the textures
Expected behavior

[2021-07-16 12:49] rvanner opened #1258 "Importer Texture Assignment Issues - Can't clear entry"
**Reported on Discord by OldFlak**
Importer Texture Assignment Issues - Can't clear entry (not new, been there since day one)
- Assign texture to emissive channel
- Decide you really didn't want to do that
- - you can not clear the entry - MAX keeps putting it back
Expected behavior:
- when you clear a entry, MAX should not repopulate the field
- this should apply to all fields throughout the edit

[2021-07-16 12:50] rvanner opened #1259 "Importer Sphere Can Not Be Turned Off"
**Reported on Discord by OldFlak**

Importer Sphere Can Not Be Turned Off
- it gets in the way when adding models
- it makes it difficult to see how the PBR is being rendered on the model
- it is not needed

Expected behavior:
- toggle checkbox needed so it can be turned off

[2021-07-16 13:17] synchromesh62 opened #1260 "Import Sphere"
Import Sphere visible. not sure if its meant to be or still WIP.

[2021-07-16 13:18] synchromesh62 commented on #1260
![import](https://user-images.githubusercontent.com/35708217/125954212-3f0b62ea-549c-4485-8819-9186dea9d85c.png)

[2021-07-16 13:27] rvanner opened #1261 "When you start a New Level - if you've changed the sky settings the new level does not match the normal default level"
When you first load max you see the normal default level

If you change a lot of sky settings and then do a New Level, you don't end up with the normal default level. All the parameters need to be reset.

[2021-07-16 13:29] rvanner opened #1262 "When you drag in a light object, the cursor is offset below it."
As can be seen in this screen shot;

![image](https://user-images.githubusercontent.com/1503593/125955663-33fe71ab-d35d-4ff4-905c-6f9f20b90701.png)

[2021-07-16 13:32] rvanner opened #1263 "When in stack mode, the 3D light icon gets messed up"
See this screenshot, the normal bulb has a spot light model mixed with it;

![image](https://user-images.githubusercontent.com/1503593/125956032-d38b8cda-0650-4e59-8a60-ae8e560ce902.png)

[2021-07-16 17:30] Sr-Ivan commented on #1224
synchromesh62 :
about "save standalone", that's what you really guided me!
I was saving somewhere else! Haha ha
now I get it! :)
but the other problem is still not resolved.
"I'm glad the test version imports Fbx.
I'm making a move...
importing in the test version and placing in the folder I bought in steam.
I believe it will work like this until the problem is fixed.
I have to fix now the errors

[2021-07-16 20:53] 3coms commented on #1260
I'm experiencing a similar issue with a city model, the city is just one mesh, 19k polycount, and multitextured.
I had imported it from GGMax,

In addition, I'm having issues with that model (the city) and the collision, I'm being unable to walk certain spots, it is like I have some invisible wall in front of me that prevents me to go forward. I'm using "forcesimpleobstacle = 3" in the fpe file.
R

[2021-07-17 00:14] 3coms commented on #1260
https://youtu.be/LKiGbKaTTPY

[2021-07-17 20:06] 3coms commented on #1260
I've got something visible on my map, it is like a wall in the middle of my map.

![City_weird_wall_GGMax_pic01](https://user-images.githubusercontent.com/47690174/126048243-e8ac5a9e-7043-4b35-b437-aff170da20d7.png)

[2021-07-18 09:59] Pcskiller opened #1264 "Character possible bug"
when building a character i found this.
![charbug](https://user-images.githubusercontent.com/41600041/126063002-19fde1d5-3a8c-436d-af31-99b485137d63.png)

Also i don't know if i have missed this one, but i hope there will be more than one face to choose from when the character builder ifs finished.

Thanks
Pcs

[2021-07-18 14:03] 3coms commented on #1260
![City_weird_wall_GGMax_pic02](https://user-images.githubusercontent.com/47690174/126070219-e9860a46-158a-4c54-b932-c317d6fc4380.png)

[2021-07-19 08:44] ZakJudges opened #1265 "Object Library Bug"
When hovering over object previews to display a live image, some of the lighting settings for the level are
applied to the object being previewed.

![ObjectLibBug](https://user-images.githubusercontent.com/32545391/126130614-7dfa3f34-a39b-49a3-9cdc-4d045ab9a01b.png)

[2021-07-19 10:10] michaeloldman opened #1266 "Import Model Issue - No Material Index Assignment"
Cannot see any way to assign material index to a model.

How does the engine know if the model is metal, wood, glass etc....

[2021-07-19 11:02] michaeloldman commented on #1265
Yes seeing the same also. Fog affects it as well.

[2021-07-19 12:02] rvanner opened #1267 "Projected position of an object when being dragged should not show a shadow"
It's not helpful for the transparent projection to cast a shadow. Turn off shadows for the projected object.

![image](https://user-images.githubusercontent.com/1503593/126156887-9182704e-c9df-4a73-9d5d-5bd049944573.png)

[2021-07-20 08:11] ZakJudges commented on #1260
@3coms Thanks for the info. So I can look into this, could you email the model to zakjudgestgc@gmaill.com? Or if the file is too large when compressed, a link to download would work too. Thanks!

[2021-07-20 12:10] 3coms commented on #1260
@ZakJudges
Hi, thanks for taking care of it.
The model is 97k, anyway, it is an old issue, and I already sent models to someone then.
The model has nothing to do, that sphere and wall are used as collision mesh for GG/GGMax, and for any reason, GGMax is rendering that geometries when it shouldn't do it, and even given collision, The issue here is why GGMax is doing that?, and the model has nothing

[2021-07-20 12:18] LeeBamberTGC commented on #1260
@3coms Do you remember who you sent the model to?  Step one for Zak and myself is to reproduce it, and all the models we have import fine. I have just released the next internal build so it might actually be resolved in the latest one :)

[2021-07-20 13:17] 3coms commented on #1260
@LeeBamberTGC
I can't remember it, anyway, the issue was raised on the discord bug section.
![City_weird_wall_GGMax_OLDBUG_pic01](https://user-images.githubusercontent.com/47690174/126329211-e6ede777-8e23-4d0b-9ee9-669783b5c685.png)

Anyway, I would trit to upload the file to GoogleDrive, the issue here is my super-slow internet connection, so it is going to take a long time, I'll post the downloa

[2021-07-20 13:58] 3coms commented on #1260
@ZakJudges  and @LeeBamberTGC
Done, _City2 stuff_ already sent to you.
If you have any issue, please, let me know it. :)

[2021-07-20 14:15] LeeBamberTGC commented on #1260
@ZakJudges Let me know if you get the files, thanks!

[2021-07-20 14:34] 3coms commented on #1260
You both are welcome :)

[2021-07-20 14:47] ZakJudges commented on #1260
@3coms I've tried out the model you sent over, whilst I didn't get a visible wall, I did encounter collision issues. So we will definitely look into that. Thanks :)

[2021-07-20 14:52] 3coms commented on #1260
@ZakJudges
Yes, as I said before sometimes is visible (rendered), and sometimes does not. :)
If you want to walk the tops, just set CollisionMode = 9 (convex hull) in the fpe file.

[2021-07-20 17:54] 3coms commented on #1260
City2.X file and how GGMax behaves with.
Not collision issues using X file rather than the FBX imported from GGMax.

[https://youtu.be/ktqvKZybxsE](url)

Placing the X file among other files manually, using the GG standard way.
As you can notice There are not collision issues, but GGMax set the textures wrong, and the materials are listed wrong as well, that mesh has about 5 materials with their o

[2021-07-20 18:03] 3coms commented on #1260
If I make let's say 3 groups of objects (10 objects) in3ds max, and then, when done, I make 1 group with those 3 groups; when I place the composed_mesh in GGMax it just lists 2 or 3 materials rather than the 10 materials the mesh has.

If I make just 1 group with all the objects (10), when I place it in GGMax, it lists all the materials, but with the same name for all them, so you can't know who i

[2021-07-21 10:16] ZakJudges opened #1268 "Saved levels failing to launch after loading"
User reported frequent crashes after pressing "Test Game" when loading a previously saved level - "BackBuffer error"

[2021-07-21 10:45] ZakJudges opened #1269 "Collision issues preventing player movement"
Collision Issue preventing player moving freely
- Load jungle map
- Walk around level
- Get up on the rock slabs, and try walking around
- becomes very slow for player to move, sometimes almost gets stuck

[2021-07-21 10:47] ZakJudges opened #1270 "Large Warehouse Door not rendered correctly"
![WHD](https://user-images.githubusercontent.com/32545391/126476858-04a22c58-69d1-4810-ae70-50c629b8a43e.png)

[2021-07-21 11:00] ZakJudges opened #1271 "Character Creator: Texture seams"
![Screenshot 2021-07-21 115237](https://user-images.githubusercontent.com/32545391/126478344-1086170e-e7a2-4796-9c3a-f0c66ca9ce62.png)
![Screenshot 2021-07-21 115256](https://user-images.githubusercontent.com/32545391/126478349-53ec087e-4c01-45eb-a017-41e6489ad63a.png)

[2021-07-21 11:03] ZakJudges opened #1272 "Character Creator: Gap in Balaclava"
![Screenshot 2021-07-21 115449](https://user-images.githubusercontent.com/32545391/126478725-38428472-4fb3-4a45-9d78-d91adc6c070a.png)

[2021-07-21 11:06] ZakJudges opened #1273 "Character Creator: Hair Clipping through Head Gear"
![Screenshot 2021-07-21 115724](https://user-images.githubusercontent.com/32545391/126479014-db8aef9e-3d30-4805-9b76-ac6833ce56ae.png)
![hairissue](https://user-images.githubusercontent.com/32545391/126479035-84c10748-0198-4388-9b7b-eba7a3bcf571.png)

[2021-07-21 11:07] ZakJudges opened #1274 "Character Creator: Faces Cut Through Head Gear"
![Screenshot 2021-07-21 115612](https://user-images.githubusercontent.com/32545391/126479150-34e8ebe2-9133-4624-8ef0-a325f9b3d3e1.png)

[2021-07-21 11:08] ZakJudges opened #1275 "Character Creator: Hat is Rotated"
![Screenshot 2021-07-21 115756](https://user-images.githubusercontent.com/32545391/126479296-834e549e-3abd-40ee-80a2-16156ff9b08e.png)

[2021-07-21 12:22] ZakJudges opened #1276 "Material Editor Crash"
When editing custom materials in the object tools tab (not the importer)... if you try to change any of the textures on either 1)Edit all Mesh, 2)Object with a single mesh, 3)The last mesh in an object...a crash will occur.

[2021-07-21 13:09] rvanner opened #1277 "Warehouse Large Door has a messed up texture"
![image](https://user-images.githubusercontent.com/1503593/126493732-242760f7-b5aa-429f-851d-1d6c656cd289.png)

![image](https://user-images.githubusercontent.com/1503593/126493812-1cb80e46-6310-42b6-b42e-7298764a4d72.png)

[2021-07-21 13:11] rvanner commented on #1274
@LeeBamberTGC Shouldn't it be the case that if the user chooses the balaclava or similar face masks, you switch to the military head?

[2021-07-21 13:12] rvanner commented on #1272
@LeeBamberTGC Same for this one. Change the head if the user chooses a headdress that only fits a certain head.

[2021-07-22 04:07] #1220 closed

[2021-07-22 04:15] Kitakazi commented on #1224
This bug is still there but a quick work around is to open the FPE file for the entity and then add

model = dboname.dbo

where dboname is the name of the .dbo file of your model that is created when you complete and import.
For w/e reason "model = x" is not added to the FPE files like it should be.

[2021-07-22 10:16] rvanner opened #1278 "Start up sequence needs cleaning up"
Just before the what's new screen, there are a few screens that flash up and spoil the start up.

This slowed down video shows what happens;
https://youtu.be/jeIoLb7iTuo

[2021-07-22 14:05] rvanner commented on #1271
Fixed today by Mark. Files being sent to Lee.

[2021-07-22 14:05] #1271 closed

[2021-07-22 14:17] bond1mjb commented on #1271
Thanks Rick,

Ok, will do!

-Mark

On Thu, Jul 22, 2021 at 10:05 AM Richard Vanner ***@***.***>
wrote:

[2021-07-22 14:18] rvanner opened #1279 "The locked status of objects is not remembered between saves"
I locked a building because I did not want to move it again.
When I re-loaded the level the building was no longer locked.
This data needs to be saved with the level.

[2021-07-22 14:44] rvanner opened #1280 "When the player walks up to another character, just stop the player - don't make it bounce"
As you move towards another character you hit a collision point with that other character. Currently you bounce back a little and if you keep moving forward you get a bouncing off effect.
In games it's common for the player to just stop at the collision point with no bounce back.

[2021-07-22 14:47] rvanner commented on #1280
Little video to show the issue;
https://youtu.be/34QRirgezMQ

[2021-07-22 14:52] rvanner opened #1281 "Light areas around the characters is spoiling the visual quality"
Here's a character inside a building. Around the edges of the character are light areas. I know this is to do with how the scene is being lit but it's not something I see in games. We need a solution for this.

![image](https://user-images.githubusercontent.com/1503593/126659770-71065d33-27ae-496d-877e-3866784d2a7b.png)

[2021-07-22 14:52] rvanner commented on #1281
@bond1mjb Do you have any ideas on how to solve this?

[2021-07-22 15:11] LeeBamberTGC commented on #1281
@rvanner Drop in a light into the building and expand the light probe scale so it provides a good env map for the character

[2021-07-22 15:37] bond1mjb commented on #1281
Yes Lee is 100% right.   This is caused when the ambient environment light
doesn't match up to the environment the character is in.   When I was using
Wicked Editor, I found it good practice to use a new light probe whenever
the scene's lighting changed significantly, and scale it to cover the
area.      Just one of those things that PBR shading does, but when it's
tweaked right everything blends

[2021-07-23 09:57] rvanner opened #1282 "When setting up an imported model, the thumbnail is affected by the current level's lighting"
I had a level with a very red sky. As you can see, the thumbnail is affected by this setting

![image](https://user-images.githubusercontent.com/1503593/126766339-5b0cb395-d36d-471c-9a7f-5a18921f202b.png)

[2021-07-23 09:57] rvanner commented on #1282
The object should be blue, not red tinted.

[2021-07-23 10:09] rvanner commented on #1264
@Pcskiller These older clothes are likely to be removed. We will also ensure cloths that don't match can never be chosen at the same time. In next week's version you will have access to more female choices.

[2021-07-23 10:09] #1264 closed

[2021-07-23 10:11] rvanner commented on #1270
This is a duplicate report;
https://github.com/TheGameCreators/GameGuruRepo/issues/1277

I will close this one.

[2021-07-23 10:11] #1270 closed

[2021-07-23 10:32] Pcskiller commented on #1264
Thank you so much for your reply.

Just some questions, :
would it be possible to add a setting for hands as well so that we can
remove the hand gloves to go with or without a certain character.

At the end of the character creator, would there be altleast more than one
male and female character to choose from?
 the clothes and head gear all is fantastic, but it would help if one make
a game were

[2021-07-23 10:50] rvanner commented on #1281
@LeeBamberTGC I find this difficult to setup and so will many users who don't understand the technical side to lighting a scene. Should buildings come with lighting and light probes all ready in place?

[2021-07-23 11:17] LeeBamberTGC commented on #1281
We could make all buildings smart objects so they all include basic lighting with correct light probes (and operating doors and windows) :)

[2021-07-23 12:13] rvanner opened #1283 "Imported candle model stands on table in editor but is 1/2 way through it during test game"
I imported a candle model and placed it on a table like this;
![image](https://user-images.githubusercontent.com/1503593/126779962-895f09e5-2c43-4008-95e5-9487d78c83a9.png)
When I tested the level it appeared like this in game;
![image](https://user-images.githubusercontent.com/1503593/126779981-3a7d1954-2885-4442-be2d-cded66be5c16.png)

[2021-07-23 13:48] rvanner opened #1284 "Copy and paste stops the selection of objects"
This is how to make it happen;

1. Select an object in the level
2. Copy the object with Control+C
3. Paste a new copy with Control+V
4. Now try to drag one of the objects. All you can do is drag the camera around
5. You have to drag a new object in from the left before you can select the objects again
6.

[2021-07-23 14:27] #1276 closed

[2021-07-23 14:39] 3coms opened #1285 "GGMax importer and cullmode issues"
I am going to use a simile to describe the problem:
Suppose you place a person on a teleporter so that he travels from point A to point B, and indeed the person is transported but arrives at point B with disordered atoms, arms on the head, ears on the mouth, nose on the back, etc. This is just what is happening with the GGMax importer; the importer is the teleporter and the test subject is my mode

[2021-07-23 14:44] 3coms commented on #1285
@ZakJudges
Download model Google drive Link, sent to you,

[2021-07-23 14:51] ZakJudges commented on #1285
@3coms I've received it. Thanks!

[2021-07-23 15:27] rvanner opened #1286 "Particle marker should be a sensible size and not scale when the particle is scaled"
The particle marker is very small and hard to select with the mouse cursor. The particles are also too small. Make the default size larger (say 3 times larger).
Don't resize the marker, just resize the effect when the particle is scaled
![image](https://user-images.githubusercontent.com/1503593/126804664-e5aaeade-fbc2-4630-b780-8695ef655ce7.png)

[2021-07-23 15:29] rvanner opened #1287 "Zone editing"
Each editable point should show a handle (the white sphere). This would make it clearer to users where they can interact with the zone

![image](https://user-images.githubusercontent.com/1503593/126805202-87bdc666-e0bc-4353-93d1-213713409119.png)

[2021-07-23 15:33] rvanner opened #1288 "Groups and particles"
When you make a group that includes a particle, when you drag in a copy of the group, the copied object has the particle but the original loses it's particle.
![image](https://user-images.githubusercontent.com/1503593/126805824-b7b5b7a4-9d87-47db-8969-ea4d66986690.png)

[2021-07-23 15:43] bond1mjb commented on #1281
The smart object idea is good.   Lighting in games is more complex now, and
this would ease the learning curve and prevent users from making things
look bad out of the box.   I know I struggled with this when I was making
the cellar demo in Wicked Editor.

-Mark

On Fri, Jul 23, 2021 at 7:17 AM Lee Bamber ***@***.***> wrote:

[2021-07-23 16:42] 3coms commented on #1260
I think that "collision wall" is causing an extra collision calculation, even like running in a loop, that behavior causes insane ram waste, then you get "Level loaded" forever, till ram waste reaches 97%, so, you are forced to get out via TM. (please refer to the pic below)
I'm literally unable to run that map, and of course, with my "super-faster" internet connection, I'm unable to load the enti

[2021-07-24 17:41] 3coms commented on #1285
I had tried the GGMax importer feature, but this time, with a different mesh.
This time I've tried the City2 as FBX file, and I've attached all the parts in just one mesh, obviously with their own material/Texture each.
1- The mesh comes with wrong rotation applied. (pic 1)
2- GGMax refuses the mesh origin point, and apply their own, as you can see in pic2 the mesh is 0,0,0, it is remarked with a

[2021-07-24 18:35] 3coms commented on #1285
I've noticed in the fpe file GGMax importer generates, that it says: _collisionmode  = 0_, so, I've changed it to _collisionmode  = 1_
but it looks like the DBO file generated by the GGMax importer, does no reflecting the changes, so, the question raise, does GGMax scan the DBO files to check changes and update them?
If we aren't able to edit DBO, how we are going to get the changes reflected on t

[2021-07-24 19:05] Granada1 commented on #1285
I agree on the last point do the conversion to DBO when compiling stand alone 👍

[2021-07-25 01:58] Kitakazi opened #1289 "No option to add a standard Trigger Zone"
The panel on the left that has the options to add Lights, and Zones has no option for a stock trigger zone.

[2021-07-26 16:21] ZakJudges opened #1290 "Importer Application Crash"
When editing all mesh materials, if you cancel the Windows file dialog, the application will crash.

[2021-07-27 20:33] rvanner commented on #1087
@LeeBamberTGC Try copying the text in Michael Oldman's message above and pasting it into the bug report description. When I did it the page scrolled like it does in my video. So still dodgy!

[2021-07-29 11:54] ZakJudges opened #1291 "Hide Game Elements button only visible if Settings/General/Hide Tutorial Components From All Panels is checked"

[2021-07-30 21:44] mrfenix opened #1292 "Sun direction isn't stored"
When reloading a level, the sun direction isn't the same as when the level was last saved.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19042) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: System Product Name
Processor: AMD Ryzen 5 2600X Six-Core Processor            (12 CPUs), ~3.6GHz
Memory: 32768MB RAM
Windows Dir: C:\WINDOWS
D

[2021-07-31 19:00] synchromesh62 opened #1293 "reporting syayem"
Broke

[2021-07-31 19:03] #1293 closed

[2021-07-31 21:18] Granada1 opened #1294 "Max bug reporting test"
People are reporting login problrms with github login when when reporting bugs

System Specs:
DXDIAG required!

[2021-08-01 01:07] 3coms commented on #1285
GGMax importer applies textures wrong.
Mesh: 1 mesh
Textures: 1 unwrapped UV texture - 4k
GGMax importer just applies the texture as is, ignoring UV map coordinates.

In 3ds Max

![Old_Talker_3dsMax_pic01](https://user-images.githubusercontent.com/47690174/127755956-fae2fb5f-72b8-411c-893f-35e473c49d04.png)

In GGMax importer

![Old_talker_Textures_wrong_applied_GGMax_Pic01](https://user-images.gi

[2021-08-01 10:50] 3coms commented on #974
Still having issues with RAM waste at the very last build 2021-07-23.
I've noticed when this happens and GGMax became too slow, and most of the time you have to get out via TM, it takes a while to window to relocate memory, meantime all is going super-slow in the pc while the relocate memory process takes place.

![GGMax_Insane_RAM_waste_City_map_pic01](https://user-images.githubusercontent.com/47

[2021-08-01 11:18] Snage62 opened #1295 "Bug reporting, text disapears"
I cant let you know about the candle problem, the bug report is faulty.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: X570 UD
Processor: AMD Ryzen 7 2700 Eight-Core Processor           (16 CPUs), ~3.2GHz
Memory: 32768MB RAM
Windows Dir: C:\Windows
DirectX Version: DirectX 12
Card

[2021-08-01 11:20] Snage62 opened #1296 "Candle, Flame, light"
I made the candle like Lee did in video
if you pan around it the items dont stay together.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: X570 UD
Processor: AMD Ryzen 7 2700 Eight-Core Processor           (16 CPUs), ~3.2GHz
Memory: 32768MB RAM
Windows Dir: C:\Windows
DirectX Versi

[2021-08-01 13:42] GraPhiX-Guru commented on #1294
i have the issue https://youtu.be/-zEIUo3wN0Q

[2021-08-02 17:22] Snage62 opened #1297 "Made Smart wall"
I have made a smart wall torch, but cant save it and keep in my items.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: X570 UD
Processor: AMD Ryzen 7 2700 Eight-Core Processor           (16 CPUs), ~3.2GHz
Memory: 32768MB RAM
Windows Dir: C:\Windows
DirectX Version: DirectX 12
Card

[2021-08-04 22:03] synchromesh62 opened #1298 "Ambience \ Horizon etc colour setting do not save and revert back."
As the Heading states ..
Ambience  \ Horizon etc settings do not save and revert back.

Reproducing the issue ..
1 run test game
2 set your ambience etc
3 exit to editor and save
4 run test game again and they have reverted back to default.
This issue has been reported many times but the Ambient colour was set to almost black and not so noticeable.

Edit .. The fog is also not working. Just a side

[2021-08-05 15:53] rvanner opened #1299 "No collision on these walls"
You can just walk through these when in test game;

![image](https://user-images.githubusercontent.com/1503593/128381430-8d791afb-ec81-490f-8510-6a9aafe313b5.png)

[2021-08-05 18:17] synchromesh62 commented on #1299
Some of us have noticed the importer has collision issues..
they just do not set so it could be related

[2021-08-06 09:09] sfkylcnky opened #1300 "GGC tab tab visual settings broken"
I saw a similar issue for MAX. Same goes for Classic too.  I have gameguru 2021.06.10b june fixes. In test game tab tab menu,
fog nearest = 3600
fog distance = 2000
default values are not true and when i pull it back to 100 it restores the previous wrong values again after reloading.
Didnt test other visual options

[2021-08-07 12:10] GOR-Developer commented on #1300
I have the same problem. I checked the rest, only these 2 parameters are not saved.

[2021-08-08 11:00] Snage62 opened #1301 "Grouping Items"
When i gaet to the stage wher I need to svae my new group I cant because I don't have the save button to do so.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19043) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: X570 UD
Processor: AMD Ryzen 7 2700 Eight-Core Processor           (16 CPUs), ~3.2GHz
Memory: 32768MB RAM
Windows Dir: C:\

[2021-08-08 11:23] Snage62 commented on #1301
Has you can see from the photos I don't have a save button to save my groups.
![Photo 1](https://user-images.githubusercontent.com/39164408/128630146-1a68eb83-437a-4574-9203-803f58a1b4cf.jpeg)
![Photo 2](https://user-images.githubusercontent.com/39164408/128630159-f5b7701d-0c63-4ba0-a35e-9ace69aed74a.jpeg)
Tot save me doing another bug report, the tiny installer is not giving me the chance to pick

[2021-08-08 11:23] #1301 closed

[2021-08-09 00:25] synchromesh62 commented on #1301
You have to go to Settings \ Advanced settings and tick the " Additional Object Tools " to enable it.
Hope that helps

[2021-08-09 13:14] MorttMedia commented on #1300
I have problem with fog and settings. I do not even have a slider for fog distance.
When I write a script to set fog intensity and fog distance, the results are just over bright. Like white screen.
it says from the script fog distance is 1 million but in TAB TAB it says 1990.
None of them work.
Cant find Contrast setting either. GetContrast. or GetBrightness.

[2021-08-09 19:48] 3coms opened #1302 "Imported Char (DBO) don't run animation on test mode [GGMax_2021_08_06]"
And since it is a DBO file, there is nothing you can do to fix it. (please refer to the video below)
It also does no gives the option to turn my char from dynamic to static (please, refer to the pic below)

When in the editor the char run the animations, in test mode the char became static geometry, and doesn't react to anything, even to the scripts. I attach to a script that runs pressing E, and

[2021-08-09 19:51] 3coms commented on #1302
https://youtu.be/Hzdw22MNiLA

[2021-08-09 20:01] 3coms commented on #1302
I must add that I convert my mesh to char (ischaracter = 1, in the fpe) and what I got, was what I said above.

Summarizing
1- I import my mesh as simple mesh plus static mesh via GGMax importer, as FBX with animations.
Then I've got a mesh that runs the animations as expected, but does no run the script (as said above, the script already tested and working fine, in another char).

2- I then decid

[2021-08-09 20:09] 3coms commented on #1302
Adding something else:
The scripts are speech scripts, and all the other chars are speaking as expected, less the imported ones.
So, the question raise is, is GGMax scanning the DBOs files when starting or at any other time, such as, when you open the Library, and GGMax uncompress/compile thumbs?

[2021-08-10 09:29] Kitakazi opened #1303 "Importer not saving surface map settings."
If you import a model, and then change the surface map of the model and then adjust the roughness and metalness sliders and then save the model, the surface map / settings that were chosen on the import screen will be lost.

[2021-08-10 13:51] rvanner commented on #1296
@Snage62 Can you make a video showing your issue?

[2021-08-10 13:53] rvanner commented on #1297
@Snage62 Have you turned on Advanced settings? The save is not available until it's turned on;

![image](https://user-images.githubusercontent.com/1503593/128879354-e67547b9-6c43-4fe3-a161-1ce5103b8d32.png)

[2021-08-10 14:23] rvanner opened #1304 "Apostrophes not displaying properly in the video description text"
In these two video descriptions;

![image](https://user-images.githubusercontent.com/1503593/128884260-cb413692-da49-4918-aea8-25b1d0179a27.png)

![image](https://user-images.githubusercontent.com/1503593/128884278-c7d2a3f2-b64b-4a11-9a88-56f4c5eb1ca8.png)

[2021-08-10 14:42] rvanner opened #1305 "Player Start Marker - Object tools should show the Y rotation axis"
The player start marker can be rotated, so the slider should be available to users.

[2021-08-11 12:22] rvanner opened #1306 "Particles - order of particle drawing can be wrong in test game"
![image](https://user-images.githubusercontent.com/1503593/129027816-ed8fd6e5-cfb8-40d7-8ef8-a24858c0e8af.png)

[2021-08-12 02:28] Kitakazi commented on #1150
I believe this bug has been fixed, I have not encountered it. Closing.

[2021-08-12 02:28] #1150 closed

[2021-08-12 11:21] Kitakazi opened #1307 "Particle effects not being turned on when using tigger zone."
If you place a particle effect then uncheck the "Show at start of level" box, then place a triggerzone and name of particle in the IfUsed field, it will not trigger the particle when the player enters the zone.

[2021-08-12 13:50] rvanner opened #1308 "Importing a very large object such as Lumberyard Cafe scene to make a level"
Reported to me on Discord

In the spirit of testing early builds of Max, this NVIDIA/ORCA test model might be a good one for the team to use. I've tried it in last Friday's Max build and it looks like it imports quickly & perfectly in the model importer view, though then when added to the game world it seems to lose all the texture references (there is a huge amount of those) and the sun bleeds th

[2021-08-12 19:19] rvanner commented on #1101
Fixed ages ago!

[2021-08-12 19:20] #1101 closed

[2021-08-12 19:22] #1102 closed

[2021-08-12 19:23] rvanner commented on #1099
No longer an issue

[2021-08-12 19:23] #1099 closed

[2021-08-12 19:26] rvanner commented on #1081
Hats are still not being properly managed in the character creator

[2021-08-12 19:28] rvanner commented on #1296
@Snage62 We need more info about this please.

[2021-08-12 19:30] rvanner commented on #1297
So this is not a bug. I will close this off now.

[2021-08-12 19:30] #1297 closed

[2021-08-12 19:31] rvanner commented on #1295
We are removing the bug reporting system and directing users to post directly here on GitHub. Therefore I will close this issue.

[2021-08-12 19:31] rvanner commented on #1294
We are removing the bug reporting system and directing users to post directly here on GitHub. Therefore I will close this issue.

[2021-08-12 19:31] #1294 closed

[2021-08-12 19:40] rvanner commented on #1243
@GraPhiX-Guru The latest Tiny Installer now lets you choose what to download. Try it and let me know if it's a better experience.

[2021-08-12 19:42] rvanner commented on #1228
We are removing the bug reporting system and directing users to post directly here on GitHub. Therefore I will close this issue.

[2021-08-12 19:42] #1228 closed

[2021-08-12 19:45] rvanner commented on #1200
Looks fixed now. Closing down this one.

[2021-08-12 19:45] #1200 closed

[2021-08-12 19:48] rvanner opened #1309 "Camera view flip in the Level Editor"
I've finally worked out how to make this happen.

When in the Level Editor, if you are to the left or right of the 3D scene, if you hold down the right mouse button and then move into the 3D scene the camera view flips dramatically.

See this video;
https://youtu.be/2y6R2c3gktA

[2021-08-13 07:19] steohl opened #1310 "Gameguru MAX hangs"
The application hangs when I click on Add-button. The cursor is just spinning. System crash.
I have just bought Gameguru Max and I can not use it - very frustrating. Please advise.

System Specs:
Operating System: Windows 10 Pro 64-bit (10.0, Build 19042) (19041.vb_release.191206-1406)
Language: English (Regional Setting: English)
System Model: System Product Name
Processor: Intel(R) Core(TM) i9-1

[2021-08-13 09:00] rvanner commented on #1310
@steohl Could you make a small video showing this?

[2021-08-13 09:27] rvanner commented on #1296
@Snage62 I have just tried this and it works fine for me. Here's a video of how I did it. I only combined the candle with a particle effect but you will see the process.
https://youtu.be/RPrRFo3jSIQ

I will close this issue now. If you disagree, please re-report the issue and show a video of your problem if you can.

Thanks.

[2021-08-13 09:28] #1296 closed

[2021-08-13 09:35] #1286 closed

[2021-08-13 09:53] rvanner commented on #1285
@ZakJudges I'm reviewing all the bugs in the database. Was any of this fixed or is it still to be looked at?

[2021-08-13 09:58] #1283 closed

[2021-08-13 10:03] ZakJudges commented on #1285
@rvanner It still needs to be looked at. Currently it's in the importer phase 2 schedule

[2021-08-13 10:04] rvanner commented on #1278
Fixed in the latest version.

[2021-08-13 10:04] #1278 closed

[2021-08-13 10:13] rvanner opened #1311 "Character Creator: Military Google corrupted"
![image](https://user-images.githubusercontent.com/1503593/129342051-7c402654-b848-4c38-9655-8548d0764caa.png)

[2021-08-13 10:15] rvanner commented on #1268
@ZakJudges Do you have the details of this user?

[2021-08-13 10:22] ZakJudges commented on #1268
@rvanner I've emailed the details on the issue

[2021-08-13 10:24] rvanner commented on #1267
Seems fixed now!

[2021-08-13 10:24] #1267 closed

[2021-08-13 10:26] rvanner commented on #1266
@ZakJudges What do you think about this? Is it a required extra feature?

[2021-08-13 10:27] rvanner commented on #1265
This a duplicate report. I will close this one. It's reported here;
https://github.com/TheGameCreators/GameGuruRepo/issues/1282

[2021-08-13 10:27] #1265 closed

[2021-08-13 10:31] #1262 closed

[2021-08-13 10:32] ZakJudges commented on #1266
@rvanner This can already be accomplished by enabling custom materials and changing the settings of the object. But it would be handy to have preset values for different material types when importing a model that does not make use of a surface texture.

![Screenshot 2021-08-13 113034](https://user-images.githubusercontent.com/32545391/129344343-4f82ae6b-3ca0-431d-ae2d-fce107eae17c.png)

[2021-08-13 10:32] rvanner commented on #1263
This is also now happening as soon as you drag in a light object.

[2021-08-13 10:37] michaeloldman commented on #1266
Those settings are for the textures.

But how does the engine know if it is Metal, Wood, Glass, Ground etc.
So when you walk on it it plays the appropriate foot fall sound, or when you shoot it, it will give off wood, metal, glass, dust fragments.....

[2021-08-13 10:48] ZakJudges commented on #1266
@michaeloldman apologies, I did not think far enough into that :) @rvanner We already store the material type for generating foot fall sounds etc for other objects, so I don't think it would take too much time to add in. But better to verify that with @LeeBamberTGC

[2021-08-13 10:51] rvanner commented on #1246
This works again now.

[2021-08-13 10:51] #1246 closed

[2021-08-13 10:53] #1243 closed

[2021-08-13 10:56] rvanner commented on #1240
Not an issue any more.

[2021-08-13 10:56] #1240 closed

[2021-08-13 11:05] rvanner commented on #1236
Likely to be fixed once the new terrain system is up and running

[2021-08-13 12:08] rvanner commented on #1234
This is just a side effect of using alpha versions. A clean install will fix this. Closing this issue now.

[2021-08-13 12:08] #1234 closed

[2021-08-13 12:24] rvanner commented on #1231
@cstriage13 Thanks for your report. I would like to get clear on all your items. Ideally we just want one bug per report so that we can assign and deal with them. Am I correct with this summary of your issues;

1. Object highlighting. You don't like this;
![image](https://user-images.githubusercontent.com/1503593/129355755-f79446cd-0b4c-491f-9938-e0ef4a7e172c.png)

Did you know you can turn it off

[2021-08-13 12:29] rvanner commented on #1227
@niijel Can you confirm if this is still an issue in the latest version of MAX? I cannot make this happen.

[2021-08-13 12:35] rvanner commented on #1219
These have been fixed.

[2021-08-13 12:35] #1219 closed

[2021-08-13 12:37] rvanner opened #1312 "Character Creator: Glasses duplicated"
1. Vintage Glasses Red is listed twice in the drop down
2. Vintage Glasses Teak and Oak show the same glasses

![image](https://user-images.githubusercontent.com/1503593/129357955-b3f96ef7-03b7-41ff-8566-4f557cbfe0b9.png)

[2021-08-13 12:49] rvanner commented on #1202
@synchromesh62 Is there an issue around this or can we close it now?

[2021-08-13 12:57] rvanner commented on #1199
This is still an issue in the latest version. Check out this video. It's when you rotate with one of the other objects that it can get messed up.
https://youtu.be/dqnTDnsKYRY

[2021-08-13 12:58] rvanner commented on #1194
We have since added a back button.

![image](https://user-images.githubusercontent.com/1503593/129360614-46e46203-3c08-498a-81d3-1beaffbb80db.png)

[2021-08-13 12:58] #1194 closed

[2021-08-13 13:00] cstriage13 commented on #1231
From what you are telling me that is great to hear. Yes the fence models
seem to be especially hard on the eyes with all the yellow diagonal lines
on the links. I do like seeing the selection lines just not every little
line I know there is other software that does this as well which is
annoying in those too  Might spare vram usage. Ill see if I can do a screen
capture but it is always non respond

[2021-08-13 13:00] rvanner commented on #1189
@PaulSJ Is this something that can be fixed or is it just the draw order of how the clouds render?

[2021-08-13 13:01] rvanner commented on #1186
Closing this because the new terrain system replaces this.

[2021-08-13 13:01] #1186 closed

[2021-08-13 13:02] rvanner commented on #1185
@Kasseyus Did you get this feature added?

[2021-08-13 13:10] rvanner commented on #1175
@GrobyKen Is this still an issue for you in the very latest version of MAX?

[2021-08-13 13:11] rvanner commented on #1174
@GrobyKen Please let us know if this is still an issue.

[2021-08-13 13:12] rvanner commented on #1172
Closing this now.

[2021-08-13 13:12] #1172 closed

[2021-08-13 13:14] PaulSJ commented on #1189
Not a problem in the latest version

[2021-08-13 13:14] #1189 closed

[2021-08-13 13:15] #1170 closed

[2021-08-13 13:17] rvanner commented on #1167
Closing this because it's not relevant now.

[2021-08-13 13:17] #1167 closed

[2021-08-13 13:17] rvanner commented on #1166
Fixed

[2021-08-13 13:17] #1166 closed

[2021-08-13 13:39] rvanner commented on #1154
Closing this now. There's a much newer Tiny Installer, please try that and report if you have any issues.

[2021-08-13 13:39] #1154 closed

[2021-08-13 13:41] rvanner commented on #1153
Not a problem now.

[2021-08-13 13:41] #1153 closed

[2021-08-13 13:42] rvanner commented on #1152
@LeeBamberTGC is there a motion blur effect in operation in MAX?

[2021-08-13 13:42] rvanner commented on #1151
Closing this because the new terrain system will sort all of this.

[2021-08-13 13:42] #1151 closed

[2021-08-13 13:43] rvanner commented on #1149
@3coms Is this still an issue or a very old one that's now fixed?

[2021-08-13 13:47] rvanner commented on #1145
I have messaged the customer to see if this is an issue for him still.

[2021-08-13 13:48] rvanner commented on #1144
@synchromesh62 Is this an issue for you still or can this be closed off as it's old?

[2021-08-13 13:50] rvanner commented on #1142
I'm closing this because the new terrain system will change how it all works.

[2021-08-13 13:50] #1142 closed

[2021-08-13 13:51] rvanner commented on #1141
Closing this because we are scrapping the bug report system.

[2021-08-13 13:51] #1141 closed

[2021-08-13 15:02] GrobyKen commented on #1174
I have just downloaded the latest version so will check.

[2021-08-13 15:24] GrobyKen commented on #1174
Thanks  synchromesh62 and yes they are all in one folder. Latest version now works for me re textures. However exporting a mesh from Substance Painter as an fbx now results in a distorted mesh in GG Max. But exporting as an obj results in a good mesh in GG Max.  See picture.

![Image2](https://user-images.githubusercontent.com/66643109/129381994-117c8340-a139-4be7-8869-b06a40be2db4.jpg)

[2021-08-13 15:29] GrobyKen commented on #1175
OK in latest version (August). But other import issues have arisen for me which I have posted on another thread. This thread should now be considered closed and thanks for your attention.

[2021-08-13 16:01] 3coms commented on #1149
OK, it is worse than that.

**What I did and what I've got.**

1- Open map1, and this is what I've got:

![Robot_clerk_tes1_map_GGMax_2021_08_06_pic01](https://user-images.githubusercontent.com/47690174/129386267-c18ee9e5-2f12-4bf0-9092-09921029fb1a.png)

2- Open a backup, and I've go this one:

![Robot_clerk_Backup_map_GGMax_2021_08_06_pic01](https://user-images.githubusercontent.com/47690174/129

[2021-08-13 16:03] 3coms commented on #1149
![Robot_clerk_Warehouse_NewMap_GGMax_2021_08_06_pic01](https://user-images.githubusercontent.com/47690174/129387208-43875156-f7ab-4621-a1f5-803fb8fa8a54.png)

So, this shows that the model has nothing to do. :)

[2021-08-13 17:29] rvanner commented on #1175
Thanks for confirming, I'm closing this thread.

[2021-08-13 17:29] #1175 closed

[2021-08-13 17:31] rvanner commented on #1310
@steohl Thanks for sharing the video.

@LeeBamberTGC Can you please watch this video and respond?

[2021-08-13 17:36] rvanner commented on #1231
OK, so sounds like there's no real issue here so I can close the ticket if you agree?

I will see if we can animate the windmill. I'll see if I can get hold of the original 3D model.

We are not planning to add more assets for now. If you do have a selection to show me then please contact me and I'll take a look.

[2021-08-13 17:37] rvanner commented on #1174
@GrobyKen Can you send us the exported fbx please?

[2021-08-13 17:40] rvanner commented on #1268
More details from the user;

_Hi, on the latest build I'm having trouble opening up some test levels I have been working on. Whenever I open the level and try to play Test Game it will often crash to the desktop. I got an error a few times that said something about a "BackBuffer" I'm not sure what it said exactly, maybe "BackBuffer failed to load" and then the whole program crashes to desktop shor

[2021-08-13 19:24] cstriage13 commented on #1231
Sounds good. Ticket can close.

On Friday, August 13, 2021, Richard Vanner ***@***.***> wrote:

[2021-08-13 23:58] michaeloldman commented on #1266
@ZakJudges no apologies needed
We just smashing bugs :)

A dropdown list in the importer widow (same as we do for collision) to select the material index would make sense to me.
But the same dropdown list should be accessible in the properties panel so you can change\disable it if you want when adding to the scene.

To me it needs to be on a per instance setting, so you can turn it on\off for perf

[2021-08-14 01:43] OldFlak opened #1313 "Skybox Affects Interior Lighting"
BUG 2021.08.06
Skybox Affects Interior Lighting
- Skybox reflects on interiors

Expected Behavior
- Only lights should affect interior
- Reflections should not come from outside unless near windows or opening

This scene is using simulated sky
![No SkyBox](https://user-images.githubusercontent.com/12246318/129430828-aa73f93f-4afb-467d-aafa-3a3025744902.png)

This is the same scene., but with HighC

[2021-08-14 01:55] michaeloldman opened #1314 "Imgae Zone - Image Flipped, Color and Aspect Ratio are Incorrect"
When using Image Zone the image:
- is flipped (left to right)
- color is not correct
- aspect ratio of image is not correct - image is squashed up

One of MAX's logos looks like this in test-game
![ImageZone Bugs](https://user-images.githubusercontent.com/12246318/129431151-912f06a0-ae2f-400b-8608-9f0ad13208c5.png)

Also the image zone seams pointless to me - needs more options to make it useful.

[2021-08-14 02:25] OldFlak opened #1315 "Particles - From Custom Path Do Not Work"
Particles from custom path do not work
- Editor finds them
- You can select and apply them
- But they do not show up in editor or test game

[2021-08-14 02:29] OldFlak opened #1316 "Particles - Not the Same as ones created in PE"
BUG 2021.07.30
Particles not same as ones created in PE
- Some particles are not the same in MAX as those created in Particle Editor
- in following example, both shape and colors are wrong

PE Version:
https://vimeo.com/581914784

MAX Version:
https://vimeo.com/581914274

[2021-08-14 02:39] michaeloldman commented on #1269
This issue is not restricted to Jungle Assets, it also occurs on other objects, usually anything that is not flat.

For example, you will eventually notice movement issues when walking on rooves of buildings that come with MAX.

Try adding any one of the buildings with a sloped roof, and put the plyer on the roof.

[2021-08-14 06:42] rvanner commented on #1266
OK, I understand what this is for. We do need to allow the assignment of a material type. I'll make a note in the dev plan.

[2021-08-14 06:49] rvanner commented on #1316
@michaeloldman Can you share the particle file that was exported?

[2021-08-14 07:09] rvanner commented on #1269
@michaeloldman I've recorded a video. Is this the type of behaviour you are referring to?
https://youtu.be/wI0p3vikw4I

[2021-08-14 07:13] #1231 closed

[2021-08-14 07:40] #1137 closed

[2021-08-14 07:40] #1136 closed

[2021-08-14 07:43] #1128 closed

[2021-08-14 07:43] #1126 closed

[2021-08-14 07:44] #1125 closed

[2021-08-14 07:44] #1123 closed

[2021-08-14 07:45] rvanner commented on #1122
@andypmillard Is this now fixed for you? I would like to close down this issue if it's now fixed.

[2021-08-14 07:45] #1121 closed

[2021-08-14 07:46] #1109 closed

[2021-08-14 07:46] #1104 closed

[2021-08-14 07:46] GrobyKen commented on #1174
Hi rvanner. fbx attached
[BigBend.zip](https://github.com/TheGameCreators/GameGuruRepo/files/6986108/BigBend.zip)

[2021-08-14 07:47] rvanner commented on #1106
We changed the hair system totally and now they look great! :-)

[2021-08-14 07:47] #1106 closed

[2021-08-14 07:47] #1068 closed

[2021-08-14 07:48] #1067 closed

[2021-08-14 07:48] #1066 closed

[2021-08-14 07:48] #1056 closed

[2021-08-14 07:53] #1132 closed

[2021-08-14 07:54] rvanner opened #1317 "Jungle Assets need removing"
These two should be removed, they are spelled wrong and duplicated of the new versions;

![image](https://user-images.githubusercontent.com/1503593/129439303-a6cd0054-10fd-47c0-b1a6-c146f7a0c3d9.png)

![image](https://user-images.githubusercontent.com/1503593/129439306-53d643dc-9c27-4996-b7bb-93c57f19a98a.png)

[2021-08-14 07:57] #1034 closed

[2021-08-14 07:57] #1030 closed

[2021-08-14 07:57] #1046 closed

[2021-08-14 07:59] #1115 closed

[2021-08-14 08:03] rvanner commented on #1149
Hi, are you saying there's not an issue now? If there is an issue, can you zip up the level and send it?

[2021-08-14 08:16] rvanner commented on #1114
I'm closing this issue because we will be testing save standalone at the end when we have everything in place.

[2021-08-14 08:16] #1114 closed

[2021-08-14 08:34] GrobyKen commented on #1174
Attached is the obj file in case it is needed
[bigbend (2).zip](https://github.com/TheGameCreators/GameGuruRepo/files/6986163/bigbend.2.zip)

[2021-08-14 08:39] rvanner commented on #1087
We are now removing the bug reporting system and directing users to the GitHub board instead.

[2021-08-14 08:39] #1087 closed

[2021-08-14 08:43] rvanner commented on #1081
This is covered in another report so closing this one down.

[2021-08-14 08:43] #1081 closed

[2021-08-14 08:44] rvanner commented on #1080
@3coms Is this still an issue for you? If so, can you send me one X file so we can look into it. Thanks.

[2021-08-14 08:45] rvanner commented on #1076
@hamedsheygh Do you still have issues with the importer in the latest MAX? If you do, can you send a model that shows the issue?

[2021-08-14 08:46] #1075 closed

[2021-08-14 08:47] rvanner commented on #1074
@LeeBamberTGC Has instancing been implemented in MAX to date and thus solve this?

[2021-08-14 08:47] #1073 closed

[2021-08-14 08:48] rvanner commented on #1072
@niijel I presume this very old report has since been fixed. Closing this issue. If you still have issues please re-report and show a screen shot. Thanks!

[2021-08-14 08:48] #1072 closed

[2021-08-14 08:49] rvanner commented on #1069
New terrain and water systems will sort all of this out.

[2021-08-14 08:49] #1069 closed

[2021-08-14 08:51] rvanner commented on #1062
This has gone. Re-report if you find it.

[2021-08-14 08:51] #1062 closed

[2021-08-14 08:52] rvanner commented on #1061
This is all old and no longer relevant. Closing down.

[2021-08-14 08:52] #1061 closed

[2021-08-14 08:53] rvanner commented on #1060
All of this should be fixed by the new terrain and water system. Closing for now.

[2021-08-14 08:53] #1060 closed

[2021-08-14 08:54] rvanner commented on #1059
@michaeloldman Is this still a problem for you? Can you reply to Lee's question?

[2021-08-14 08:55] rvanner commented on #1057
@michaeloldman How's the startup these days for you?

[2021-08-14 08:56] rvanner commented on #1058
Not relevant now. Closing this issue.

[2021-08-14 08:56] #1058 closed

[2021-08-14 08:57] rvanner commented on #1054
This is covered in another issue so will close this issue as it's a duplicate.

[2021-08-14 08:57] #1054 closed

[2021-08-14 09:00] rvanner commented on #1045
@3coms Is this still an issue or can this be closed now?

[2021-08-14 09:01] #1043 closed

[2021-08-14 09:03] rvanner commented on #1042
@plemsoft Is this now resolved? Can this issue be closed down?

[2021-08-14 09:04] rvanner commented on #1039
Presume this is now not an issue. I'm closing it down. Please re-report if it happens again.

[2021-08-14 09:04] #1039 closed

[2021-08-14 09:05] rvanner commented on #1037
We have decided to remove this bug reporting system and will be asking users to post directly into GitHub.

[2021-08-14 09:05] #1037 closed

[2021-08-14 09:07] rvanner commented on #1035
@michaeloldman Is this still an issue for you?

[2021-08-14 09:09] rvanner commented on #1032
@michaeloldman Is this now fixed for you? Can you please confirm?

[2021-08-14 09:11] #1029 closed

[2021-08-14 09:12] #1027 closed

[2021-08-14 09:12] rvanner commented on #1026
@michaeloldman Are you now content with how it works?

[2021-08-14 09:13] #1025 closed

[2021-08-14 09:14] #1023 closed

[2021-08-14 09:17] rvanner commented on #1021
We are removing the bug reporting system.

[2021-08-14 09:17] #1021 closed

[2021-08-14 09:17] #1018 closed

[2021-08-14 09:17] #1015 closed

[2021-08-14 09:19] #1009 closed

[2021-08-14 09:19] #999 closed

[2021-08-14 09:19] #998 closed

[2021-08-14 09:20] #994 closed

[2021-08-14 09:21] #992 closed

[2021-08-14 09:21] #991 closed

[2021-08-14 09:21] #990 closed

[2021-08-14 09:22] rvanner commented on #984
@michaeloldman Is this still an issue for you?

[2021-08-14 09:25] #980 closed

[2021-08-14 09:26] rvanner commented on #974
Closing this for now. Please review memory use when we make the new terrain system available as an alpha verion.

[2021-08-14 09:26] #974 closed

[2021-08-14 09:28] rvanner commented on #973
@AmenMoses Is this now fixed for you in the latest version?

[2021-08-14 09:28] rvanner commented on #970
@michaeloldman Is this fixed for you now?

[2021-08-14 09:29] rvanner commented on #968
@michaeloldman Is this now fixed for you?

[2021-08-14 09:29] #967 closed

[2021-08-14 09:30] rvanner commented on #962
@3coms Did Lee's comment resolve this issue for you?

[2021-08-14 09:30] #951 closed

[2021-08-14 09:30] rvanner commented on #914
@michaeloldman Is this still a problem?

[2021-08-14 09:30] #914 closed

[2021-08-14 09:31] #913 closed

[2021-08-14 09:31] rvanner commented on #912
@synchromesh62  Is this fixed now for you?

[2021-08-14 09:32] rvanner commented on #909
The installer has changed significantly. Closing this for now.

[2021-08-14 09:32] #909 closed

[2021-08-14 09:33] rvanner commented on #879
@Retrogamebloke Do you still experience this?

[2021-08-14 09:34] #880 closed

[2021-08-14 09:34] #907 closed

[2021-08-14 09:34] rvanner commented on #905
The new terrain system will replace this. Closing this down now.

[2021-08-14 09:34] #905 closed

[2021-08-14 09:35] rvanner commented on #890
The character creator selections will be refined soon. Closing this for now.

[2021-08-14 09:35] #890 closed

[2021-08-14 09:36] rvanner commented on #889
File no longer available. Closing for now. Please re-report if you have issues.

[2021-08-14 09:36] #889 closed

[2021-08-14 09:37] rvanner commented on #901
Standalone is not finished, don't expect it to work until we showcase it.

[2021-08-14 09:37] #901 closed

[2021-08-14 09:37] #891 closed

[2021-08-14 09:45] rvanner commented on #711
Decals are being implemented in the latest version. There will also be bullet holes and other visual effects.

Closing this for now.

[2021-08-14 11:48] GrobyKen commented on #912
Will download new version and check tomorrow. Then post results.

[2021-08-14 12:25] 3coms commented on #1080
Fixed.

[2021-08-14 12:25] #1080 closed

[2021-08-14 12:26] 3coms commented on #1045
Fixed

[2021-08-14 12:26] #1045 closed

[2021-08-14 12:29] 3coms commented on #962
Well, the issue was with a feature that atm is not on the UI, so yes, it is solved.

[2021-08-14 12:29] #962 closed

[2021-08-14 12:30] 3coms commented on #1149
Solved

[2021-08-14 12:30] #1149 closed

[2021-08-14 12:43] 3coms commented on #1314
![Imagezone_image_ok_GGMax_2021_08_06_pic01](https://user-images.githubusercontent.com/47690174/129446590-ea02a171-2986-4173-bb6b-a321f08e3696.png)

![Imagezone_image_flipped_GGMax_2021_08_06_pic01](https://user-images.githubusercontent.com/47690174/129446620-ac2b77b5-6858-4064-a349-3a5e1e403389.png)

That's a good reason to give us the most control over imagezone, no just to choose one image GGMa

[2021-08-14 14:03] michaeloldman commented on #1316
Here yah go Rick
[Particle.zip](https://github.com/TheGameCreators/GameGuruRepo/files/6986580/Particle.zip)

Pretty much any flat particle (like portals) from the stock ones in PE will not work correctly in MAX, same with many of the ball types as well.

[2021-08-14 14:06] michaeloldman commented on #1269
Yes, that is spot on.
Also, if you try the jungle map that comes with MAX, and get up on the flat rocks, it is sometimes near impossible to move after a while.

[2021-08-16 09:55] rvanner commented on #1131
This is now how it works in the latest version so closing this issue.

[2021-08-16 09:55] #1131 closed

[2021-08-17 06:10] plemsoft commented on #1053
Fixed.

[2021-08-17 06:21] plemsoft commented on #1089
Fixed

[2021-08-17 06:46] plemsoft commented on #1095
Fixed.

[2021-08-17 06:49] rvanner commented on #1095
@plemsoft Can you mark the ones you have fixed in the spreadsheet as well? Thanks.

[2021-08-17 07:06] plemsoft commented on #1103
Fixed.

[2021-08-17 09:49] plemsoft commented on #1233
Fixed

[2021-08-17 09:57] plemsoft commented on #984
@michaeloldman I remember we fixed this with you sometimes back, is this ready to be closed ? :)

[2021-08-17 10:00] plemsoft commented on #1229
Fixed.

[2021-08-17 10:06] rvanner commented on #1053
@plemsoft Did you do all the texts, eg:
![image](https://user-images.githubusercontent.com/1503593/129706894-9344de37-c8d2-400e-a082-e814c6676089.png)

[2021-08-17 10:17] plemsoft commented on #1053
Yes :)

[2021-08-17 11:31] plemsoft commented on #1245
Fixed.

[2021-08-17 12:24] plemsoft commented on #1036
@michaeloldman Thanks for reporting this issue, just tested and copy/paste works fine here for all textboxes ?

Only thing is, in a value field you can only paste digits, in normal textboxes you can copy/paste anything.

Is this somewhere special you try to paste ? :)

@rvanner About the tooltips on "textboxes" should we do this as a preference setting, or you got another idea ? , perhaps also add

[2021-08-17 12:37] rvanner commented on #1036
@plemsoft Yes, we need another settings tick box to deal with this. I will make a new task for it on Teamwork.

[2021-08-17 12:38] plemsoft commented on #1133
@rvanner How would you like this to work, actually the object is way out there you just cant see it, its to small. If i limit the distance a object can be placed at, we also limit yourself if we like to place a house on a mountain way out there ?.

Perhaps move this to TW so we can discuss it :)

The gray box was fixed in the last version :)

[2021-08-17 14:20] plemsoft commented on #1201
Fixed, now change to single row when space available :)

[2021-08-17 14:39] rvanner commented on #1133
@plemsoft Maybe we put this on hold for now until the new terrain system is in place. We only have a single plane at present, when the terrain is in, it will provide a lot more area for dragging in objects.

[2021-08-17 20:22] Duchenkuke opened #1318 "GAMEGURU CLASSIC ---- I need help with gameguru going blackscreen when entering testgame mode"
Title says it all - please help... I cant continue to work on the game.

I will include the log files in this report.

Thanks
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/7002844/Guru-MapEditor.log)
[Guru-MapEditor-last.log](https://github.com/TheGameCreators/GameGuruRepo/files/7002846/Guru-MapEditor-last.log)

[2021-08-18 07:11] plemsoft commented on #1135
Fixed :)

[2021-08-18 09:34] plemsoft commented on #1310
@steohl Thanks for reporting this issue, i can see that it have worked for you at some point , could you try this:
Before clicking "Add" go to "Settings" and click the "Reset Interface" button. Close settings and try to click "Add" the window will now be placed at the center , do it work when placed at the center ?

Also let me know where you installed Max, and if you are using a "Custom Write Fol

[2021-08-18 09:46] plemsoft commented on #1225
@ZakJudges Thanks for reporting this issue.

If you just wait, do it startup at some point ? or do it just hang at startup ?
If this is the case, could you try to set "producelogfiles=1" in setup.ini , and add the generated "Guru-MapEditor.log" here so im able to see at what point it is stopping.

Also let me know what drive letter your USB drive have, Thanks for your help :)

[2021-08-18 09:51] ZakJudges commented on #1225
@plemsoft This was reported by a user, but I don't have their contact details to ask them. I'll see if I can get them :)

[2021-08-18 09:53] rvanner commented on #1225
@plemsoft I think this came from Lee and was reported by Mark Blosser.

[2021-08-18 09:58] plemsoft commented on #1074
@rvanner Instancing has not been added, to instance a object all "material" settings need to be the same , so as long as the importer features and the "Custom Material" settings is not final, its hard to setup instancing. Perhaps this should be moved to TW so we can discuss the best way to do this.

[2021-08-18 10:09] rvanner commented on #1074
@plemsoft Agreed. I will create a message thread on TW so we can talk about it within the team.

[2021-08-18 10:13] plemsoft commented on #1239
Added.

[2021-08-18 10:17] plemsoft commented on #1036
@rvanner Setting tick box, added. Could you also validate that copy/paste in text boxes works for you in the latest version, thanks :)

[2021-08-18 10:25] rvanner commented on #1036
@plemsoft The cut & paste works in some places. If you drag in a TEXT object and then type some text into the PROMPTEXT box on the right, then cut that text, the object tools menu disappears

[2021-08-18 10:39] plemsoft commented on #1143
@3coms Thanks for reporting this issue, i assume your using _init_name to store the entity name ? , i just tried to make a quick script that display the entityname and it looks like it work perfectly it display the correct name even after you change it ?

Please try the attached script:

Also could you post your script here, so im able to check what the problem is with your script, Thanks :)

[spi

[2021-08-18 11:18] 3coms commented on #1143
@plemsoft
It has nothing to do with LUA, maybe I explained the wrong way.

I've tried a few minutes ago, and now the thing is different but curious, it is as follow:
1- Place the "Boiler - Unit" from Cellar over the empty map.
2- Make a copy (crtl+c/ctrl+v) now you have 2 "Boiler - Unit"
3- changed the name to differentiate them from each other. Change the copied mesh from "Boiler - Unit" to " Boi

[2021-08-18 12:28] plemsoft commented on #1036
@rvanner Ahh i see it now, if you have a object selected and are using the textbox copy/paste it also copy/paste the selected object , I have now protected all text input fields so copy/paste only goes to them while they are active. Everything here should be fixed now :)

[2021-08-18 12:29] rvanner commented on #1036
OK! I'll give it a full test when I get a new build.

[2021-08-18 14:12] plemsoft commented on #1291
Fixed.

[2021-08-18 16:40] 3coms opened #1319 "Making the particle marker bigger [GGMax - Request]"
Please, can you make the particle marker bigger? it is a pain to work with, when in between on a bunch of other meshes?
Thanks in advance
3com

[2021-08-18 19:14] rvanner commented on #1319
@bond1mjb I think it might better to change the particle marker into a semi-transparent sphere. It can be hard to pick up and move it with the three rings because you can end up clicking through it.

[2021-08-18 20:43] bond1mjb commented on #1319
@rvanner  Here is a new particle marker keeping the 3 ring style but with a center sphere for easier selection.
![particle marker new](https://user-images.githubusercontent.com/87768878/129969459-06744690-03c9-4268-bfd8-1435f42234db.jpg)
[particles.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7010086/particles.zip)

[2021-08-18 20:53] 3coms commented on #1319
The problem with the particle marker is the particle itself, it covers the marker, so you even can see it, and you have to get closest to the marker, if we add the neighbor meshes, plus other effects, it all becomes too difficult.
Any way you can disable the animation and stick just with the marker.
Your marker might be a good way to go. :)

As a side note, when you try to rotate the particle, the

[2021-08-18 21:00] bond1mjb commented on #1319
Attached is a second variation that has the center sphere, but also wider rings that hopefully won't get obscured by the particle itself.   Looks like an atom:)

![particle marker side](https://user-images.githubusercontent.com/87768878/129971563-0b3453bf-43be-425c-a6dd-1e6c0b039476.jpg)
[particleswide.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7010141/particleswide.zip)

[2021-08-18 22:30] 3coms commented on #1319
Hopefully, Lee includes your _atom_ in the next updates. :)
Well done!

[2021-08-18 22:48] synchromesh62 commented on #1319
Was there a reason it changed from the original blue one?
I thought that looked pretty cool to be honest :)

[2021-08-19 00:15] 3coms commented on #1319
Here ya go.

[Particle marker.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7010853/Particle.marker.zip)

![particle_marker_pic01](https://user-images.githubusercontent.com/47690174/129988014-35f43262-66e3-40ca-b3e3-636b8c0c1572.png)

[2021-08-19 00:50] 3coms commented on #1319
Forget to mention that the mesh has an emissive texture, so, you can use it as you need.

[2021-08-19 04:51] ScorpioGames commented on #1209
I'm having a similar issue... it seemed to have happened after adding new weapons from the tgc store... I'm not sure if it's relevant but i have a lpg that popped up for my map telling me to replace two ebe files that don't exist on the map.. being ebe138 and ebe140.. I can't find either on my map and can only find 138 in the folders.. I apologize I'm a noob.. but this issue seriously seems to hav

[2021-08-19 04:52] ScorpioGames commented on #1209
My current project was going very smooth until this.. I have hit a wall.

[2021-08-19 04:59] ScorpioGames commented on #1300
I have this same issue it can be fixed TEMPORARILY by clicking on the lower end of the bar an insane amount of times until it reaches 100.. but the next time you test your game i think it is back to 3000 something..

[2021-08-19 06:38] plemsoft commented on #1143
@3coms Found it, yes it was a bug and it has now been fixed , thanks for your help :)

[2021-08-19 06:40] plemsoft commented on #1284
Fixed.

[2021-08-19 06:48] rvanner commented on #1319
@bond1mjb Thanks!

[2021-08-19 06:48] #1319 closed

[2021-08-19 06:54] plemsoft commented on #1225
@LeeBamberTGC It was not from Mark, do you remember who reported this ?

[2021-08-19 07:26] plemsoft commented on #1206
@rvanner Just tried this , and it worked fine here ? , what script was you trying to use ? , i used rotate light.

![rotatelight](https://user-images.githubusercontent.com/18662417/130026090-544cca7a-1aad-4e66-bd05-12aacac73d13.jpg)

[2021-08-19 07:31] rvanner commented on #1206
@plemsoft Yes, in the latest version it's working better than when I first reported this. I just added 4 rotating spot lights and got some odd results;

1. I would expect all the lights to rotate the same way if I do not change any values. I found 2 went clockwise and 1 went ant-clockwise
2. The 4th light didn't move at all.

So still some issues here.

Do you want to see a video of it?

[2021-08-19 07:48] plemsoft commented on #1178
@Kitakazi Thanks for reporting this issue, the additional light is coming from the environment probe that are placed outside, if you do not setup your own probes where they are needed, it will use the general probe. So to fix your issue select the "Simulated Sky" and set all the colors to "black", or use a black skybox.

At some point we might add more features to control the probes or disable the

[2021-08-19 08:59] rvanner opened #1320 "The left panel should also reset to a minimum width. Don't allow it to display as show in the screenshot"
![image](https://user-images.githubusercontent.com/1503593/130039816-bb7d4977-f689-4b0b-9311-986c64a45b33.png)

[2021-08-19 10:05] plemsoft commented on #1206
@rvanner Looks like the script do not start at the correct angle , try this script and let me know if it fix your issue :)

[RotateLight.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7013542/RotateLight.zip)

[2021-08-19 10:26] rvanner commented on #1206
@plemsoft Sorry, that did not work for me. I copied it into the script bank markers folder but got the same result. See my video;

https://youtu.be/aFjgBwC5EI0

[2021-08-19 10:40] plemsoft commented on #1299
@rvanner Just checked and i can see that the fpe files for these objects are updated in the latest release, and i do not have this issue, could you test in the latest , i think someone already fixed this :)

[2021-08-19 10:48] rvanner commented on #1299
Yes, fixed!

[2021-08-19 10:48] #1299 closed

[2021-08-19 11:12] LeeBamberTGC commented on #1225
@plemsoft I think it was emailed to me many months ago. Was strange enough so I added it to the issues board. If it cannot be reproduced, it might not have been a software bug, just a system thing.

[2021-08-19 11:44] plemsoft commented on #1263
Fixed.

[2021-08-19 12:02] Kitakazi commented on #1178
I see, That makes sense. Thanks for the reply.

[2021-08-19 12:02] #1178 closed

[2021-08-19 12:40] 3coms commented on #1143
Glad to help. Wait next update to confirm it. :)

[2021-08-19 12:58] plemsoft commented on #1143
@3coms FYI: It will not be in todays release, perhaps first in the Friday build :)

[2021-08-19 13:03] plemsoft commented on #1304
@rvanner You saved the .tut file as a UTF-8 file and not as a text file, anyway i fixed it so no need to change , but you should always save as a text file, so we dont get these strange chars :)

[2021-08-19 13:08] 3coms commented on #1143
@plemsoft
I am not worried about this, I have the Robinson Crusoe book. LOL

[2021-08-19 13:27] plemsoft commented on #1252
@rvanner Please explain what you mean by "object's strength" , Thanks :)

[2021-08-19 13:38] michaeloldman commented on #984
@plemsoft
No normals still have issues for my models.
In early builds all the normals were perfect, but since the repo and especially since fully utilising ASSIMP they no longer work

MAX no longer likes mirrors it seams (most of Racha models use them).

So I have resigned to the probability it is just my models, and will likely have to bin them and start from scratch. :)

[2021-08-19 13:52] plemsoft commented on #1298
@synchromesh62 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-08-19 13:56] plemsoft commented on #1255
Fixed.

[2021-08-19 14:05] rvanner commented on #1304
@plemsoft These descriptions are up on Google Docs. I will have to move them to notepad!

[2021-08-19 14:07] rvanner commented on #1252
@plemsoft An object has a strength value. The player might hit it with a melee weapon or shoot at it. If the strength value is low then the object will break / be destroyed. A higher value means it will be tougher to break.

[2021-08-19 16:25] PCVeteran opened #1321 "Fog distance set to 2000 and keeps resetting"
Title. Have messed with visuals.ini and setup.ini to no avail.

[2021-08-19 16:27] PCVeteran opened #1322 "Story zones not triggering on player start in standalone games"
Story zones are not triggering on player start or players in general. Works fine in editor, broken in standalone.

[2021-08-19 17:01] GraPhiX-Guru commented on #1321
Hi this issue as already been reported :)
[https://github.com/TheGameCreators/GameGuruRepo/issues/1300](url)

[2021-08-20 06:22] plemsoft commented on #1252
@rvanner Ahh health , we already have that under "general" and its already called strength :)

[2021-08-20 06:42] rvanner commented on #1252
I think this has been added since I reported this. Closing this issue down now! :-)

[2021-08-20 06:42] #1252 closed

[2021-08-20 06:44] rvanner commented on #1321
Closing this as it's a duplicate.

[2021-08-20 06:44] #1321 closed

[2021-08-20 06:47] rvanner commented on #1304
Checked and all working! Closing this issue now.

[2021-08-20 06:47] #1304 closed

[2021-08-20 06:53] rvanner commented on #1298
Checked and all working! Closing this issue now.

[2021-08-20 06:53] #1298 closed

[2021-08-20 06:54] rvanner commented on #1291
Checked and all working! Closing this issue now.

[2021-08-20 06:54] #1291 closed

[2021-08-20 06:55] rvanner commented on #1290
Checked and all working! Closing this issue now.

[2021-08-20 06:55] #1290 closed

[2021-08-20 06:57] rvanner commented on #1284
@plemsoft Now if you cut an object you cannot paste it back into the editor. It should do what copy and paste does.

[2021-08-20 06:58] rvanner commented on #1263
Checked and all working! Closing this issue now.

[2021-08-20 06:58] #1263 closed

[2021-08-20 07:16] rvanner commented on #1245
Checked and all working! Closing this issue now.

[2021-08-20 07:16] #1245 closed

[2021-08-20 07:18] rvanner commented on #1239
Checked and all working! Closing this issue now.

[2021-08-20 07:18] #1239 closed

[2021-08-20 07:18] rvanner commented on #1233
Checked and all working! Closing this issue now.

[2021-08-20 07:18] #1233 closed

[2021-08-20 07:18] rvanner commented on #1229
Checked and all working! Closing this issue now.

[2021-08-20 07:18] #1229 closed

[2021-08-20 07:19] rvanner commented on #1201
Checked and all working! Closing this issue now.

[2021-08-20 07:19] #1201 closed

[2021-08-20 07:20] rvanner commented on #1135
Checked and all working! Closing this issue now.

[2021-08-20 07:20] #1135 closed

[2021-08-20 07:20] rvanner commented on #1103
Checked and all working! Closing this issue now.

[2021-08-20 07:20] #1103 closed

[2021-08-20 07:22] rvanner commented on #1095
Checked and all working! Closing this issue now.

[2021-08-20 07:22] #1095 closed

[2021-08-20 07:22] rvanner commented on #1089
Checked and all working! Closing this issue now.

[2021-08-20 07:22] #1089 closed

[2021-08-20 07:23] rvanner commented on #1053
Checked and all working! Closing this issue now.

[2021-08-20 07:23] #1053 closed

[2021-08-20 07:28] rvanner commented on #1036
@plemsoft Still happens in latest build. Video of it happening is here;
https://youtu.be/kERU_oduL0w

[2021-08-20 07:41] rvanner commented on #1259
Checked and all working! Closing this issue now.

[2021-08-20 07:41] #1259 closed

[2021-08-20 07:42] rvanner commented on #1257
I will ask OldFlak to check this when he gets the new build.

[2021-08-20 07:44] rvanner commented on #1230
@ZakJudges Can you check this works in the latest build and close it off if all working?

[2021-08-20 07:45] rvanner commented on #1222
@ZakJudges Please check and confirm this is working in the latest build. If it is, please close.

[2021-08-20 07:46] rvanner commented on #1188
@Kasseyus Can you check this in the latest build this weekend and confirm this is fixed for you?

[2021-08-20 07:46] rvanner commented on #1182
@Kitakazi Can you check this in the latest build this weekend and confirm this is fixed for you?

[2021-08-20 07:47] rvanner commented on #1090
@thor49 Can you confirm this is now fixed for you please?

[2021-08-20 07:53] Kitakazi commented on #1182
Just tested. It is fixed.

[2021-08-20 07:54] rvanner commented on #1314
Working but there are still issues with how MAX displays images (will report in a new thread)

[2021-08-20 07:54] rvanner commented on #1182
Great! Closing this down now.

[2021-08-20 07:54] #1182 closed

[2021-08-20 07:55] rvanner commented on #1182
Ha! I see you already closed it :-)

[2021-08-20 07:58] rvanner opened #1323 "Images do not display in game as expected"
This image file;
![image](https://user-images.githubusercontent.com/1503593/130200248-4621760e-8b2f-4770-89c3-23d50e3fdbb9.png)

Shows up in game like this;
![image](https://user-images.githubusercontent.com/1503593/130200276-3e2ba224-03dd-471f-8550-4a1bf07f7f50.png)

- The colours are all wrong
- The aspect ratio is not respected

[2021-08-20 07:58] rvanner commented on #1323
And it looks to be reversed. So maybe that previous bug is still present.

[2021-08-20 07:58] rvanner commented on #1323
I also made two image zones, only the first one would show in game.

[2021-08-20 08:00] Kasseyus commented on #1188
Sure-  no worries ;)

On Fri, Aug 20, 2021 at 8:46 AM Richard Vanner ***@***.***>
wrote:

[2021-08-20 08:22] Kitakazi commented on #1268
I still have this issue happen quite often. I managed to screenshot the error this time. Max crashes to desktop after the error.
![bacbuffer](https://user-images.githubusercontent.com/51464873/130203519-5eec6ae8-bc9d-4cea-b668-52a1a773ffcf.png)

[2021-08-20 08:42] rvanner commented on #1268
@Kitakazi What is your GPU?

[2021-08-20 09:39] ZakJudges commented on #1230
All working. Closing it off.

[2021-08-20 09:39] #1230 closed

[2021-08-20 09:44] ZakJudges commented on #1222
@rvanner It's working in my branch but still needs to be merged, so will likely be in next weeks build. Will hold off on closing it for now.

[2021-08-20 09:55] plemsoft commented on #1284
@rvanner FYI: "Cut" has never been part of the objects copy/paste system (it just delete the object), you already have a report for Lee to fix this here: https://github.com/TheGameCreators/GameGuruRepo/issues/1244 , Only the above issue was fixed :)

[2021-08-20 10:02] plemsoft commented on #1036
@rvanner Ups only Copy/Paste was protected from this, now Cut is also protected :) , ready from next update.

[2021-08-20 10:09] rvanner commented on #1222
@ZakJudges Can you make sure Lee gets your latest changes so he can include it in tonight build?

[2021-08-20 10:09] rvanner commented on #1284
OK, I'll close this issue.

[2021-08-20 10:09] #1284 closed

[2021-08-20 10:22] ZakJudges commented on #1222
@rvanner No worries, will do.

[2021-08-20 10:32] Kitakazi commented on #1268
NVIDIA GeForce RTX 2080

[2021-08-20 10:34] Kitakazi commented on #1268
might be worth noting in the screenshot that is a very small level I was working on. Some floor planes, a few walls and maybe 5 small props total. When that error happens it is specifically when I click test game and it will fail to load in and then that pops up. Doesn't happen as often as when I first reported it but it still happens.

[2021-08-20 10:51] michaeloldman commented on #1036
@plemsoft
For me text boxes seam to work fine (not tried them all tho)
- So Ctrl+X cuts, Ctrl+C copies, Ctrl+V pastes.
However sometimes non-compliant shortcuts, example Crtl+Z, will just delete the object.
To me it would be useful to have RMB context menu options available as well.

Also noticed in latest build we can **turn off help tooltips for edit fields** - that is great addition.
It would b

[2021-08-20 11:06] cstriage13 opened #1324 "Structure editor gizmo displays in game test mode."
This image should be self-explanatory, Tis a little issue when ever you guys have time.
![Screenshot 2021-08-20 060027](https://user-images.githubusercontent.com/84180614/130224426-857e17f7-57a7-4853-a356-98a3403b2cb8.png)

[2021-08-20 11:08] michaeloldman commented on #984
Here be couple pics in latest build.
![Max Normals 01](https://user-images.githubusercontent.com/12246318/130224327-a1929ecf-d4e0-42ff-972f-61909fbbfb7f.png)
![Max Normals 02](https://user-images.githubusercontent.com/12246318/130224423-7ea9c11a-b9d5-45ad-abaa-76bdd0470af7.png)

Issues here are subtle - but noticeable.

I uploaded a demo for rick some time back - which is the level those shots are

[2021-08-20 11:34] plemsoft commented on #1250
Fixed , also in "detailed object list" :)

[2021-08-20 11:38] thor49 commented on #1090
Hi RickYes 1090 has been fixed..thanks..
Any news on 1082 and 1085 .. half the models I have bought come in this category.. I bought quite a lot of FBX character models from cgTrader during the last 2 Black Friday sale periods..
Regardsthor49  ( J_C on the Game Creators forum)

    On Friday, 20 August 2021, 08:47:44 BST, Richard Vanner ***@***.***> wrote:

@thor49 Can you confirm this is now fixe

[2021-08-20 11:41] plemsoft commented on #1208
@rvanner The blue color is inside the actual icon , so i need a new set of icons to do this, perhaps instead of using "blue" as the background of the icon, it should be a semi transparent "gray" so the background color of the window can be seen through, this would give them a little color from the background, but still be seen as buttons, but a artist needed.

[2021-08-20 12:17] rvanner commented on #1090
@thor49 OK I will close off this issue. The other issues still need investigating.

[2021-08-20 12:17] #1090 closed

[2021-08-20 12:40] rvanner commented on #1036
I will close this issue but I'l make a note to add a turn off all help boxes - it will be a low priority for now but we will get to it at some point.

[2021-08-20 12:40] #1036 closed

[2021-08-20 12:54] plemsoft commented on #1320
Fixed:

[2021-08-20 12:59] plemsoft commented on #1292
@mrfenix Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-08-20 13:00] plemsoft commented on #1256
Fixed :)

[2021-08-20 13:03] rvanner commented on #1208
@plemsoft I will get updated blue and new grey icons from our artist. Lee added new blue icons but the transparency was missing so they now have white edges showing.

[2021-08-20 15:36] #1222 closed

[2021-08-21 08:54] Duchenkuke commented on #1318
I know this is a personal problem probably but I would appreciate it very much if someone would pick this up ^^
Kind Regards

[2021-08-21 11:38] plemsoft commented on #1318
When you say "going blackscreen" do you mean that it crash , or are you able to press ESC to return to editor ?

[2021-08-21 11:39] Duchenkuke commented on #1318
actually I am testing it again right now. Will let you know very soon

[2021-08-21 11:41] Duchenkuke commented on #1318
This time it loaded, but gameguru froze as soon as I walked like 3 meters in testgamemode.

after another couple of seconds it "reloaded last project"
![12321](https://user-images.githubusercontent.com/35990507/130320617-3e39100f-5bce-4c53-87b8-e00666df4b2e.JPG)

[2021-08-21 11:43] Duchenkuke commented on #1318
I am using some scripts to have a thunderstorm on the map... maybe thats it. idk ! I removed the lightnings now and lets see if it loads

[2021-08-21 11:44] Duchenkuke commented on #1318
now I had a black screen and then it restored last project again

[2021-08-21 11:44] Duchenkuke commented on #1318
so its probably not the scripts

[2021-08-21 11:46] plemsoft commented on #1318
Your using these script on the map:

`280294 : Loaded scriptbank\music.lua                            S:0MB   V: (1316,0)
280299 : Loaded scriptbank\A Dark Skies Base script set\binoculardk.lua S:0MB   V: (1316,0)
280304 : Loaded scriptbank\A Dark Skies Base script set\compass.lua S:0MB   V: (1316,0)
280349 : Loaded scriptbank\A Dark Skies Base script set\dklifebar.lua S:0MB   V: (1316,0)
280350 :

[2021-08-21 11:48] Duchenkuke commented on #1318
you have it already^^ just play dark skies and load level 10 in the first level (hub menu)
in the standalone it didnt crash tho.... I cant continue to work on it because it doesnt load in the editor...

I will try to remove all scripts and see what happens

[2021-08-21 11:50] Duchenkuke commented on #1318
removed all scripts, still crashing.. black screen and then restore last project. Looks like a memory issue to me

[2021-08-21 11:51] Duchenkuke commented on #1318
never mind, I will try to create the standalone. And send it to you. idk what happens here^^

[2021-08-21 12:22] Duchenkuke commented on #1318
hey preben here is the standalone
https://www.mediafire.com/file/qpa3c2jc27y8i29/preben+test.zip/file

[2021-08-21 21:36] henoida opened #1325 "Problem With GameGuru Max Installation"
Hi;

I purchased the pre-release version of GameGuru Max today. I received an email with a link to download the installation file "GameGuruMaxTinyInstaller.exe"

Upon execution, it appears to be installing the program but then the 'update' window pops up with many options to download.  I've tried all selected... I've tried only the core files selected, and every conceivable combination thereof and

[2021-08-21 22:05] rsearle opened #1326 "GameGuru Max 2021.08.20 update: zombie_attack.byc won't download"
Version 2021.08.20 file zombie_attack.byc download hangs. Version update stalled with 7 files to go.

[2021-08-21 22:13] Granada1 commented on #1325
Might be good to wait a while , everyone will be trying to download . It will work 👍

[2021-08-22 09:06] plemsoft commented on #1318
@Duchenkuke Only problem with this is the crazyfox/cloudy2 skybox selection , skybox only support one subfolder "crazyfox" and will only use that , and that dont exists. But that should not be the problem as it will default back to "clear" in testgame.

But you can test if this is the problem, by copying everything from crazyfox/cloudy2 to the "crazyfox" folder, and renaming all files that include

[2021-08-22 10:30] Duchenkuke commented on #1318
the thing is: it worked before I changed the ground textures. even with the skybox, no problem
I will remove the textures and see if that does anything, After your suggestions i still got a blackscreen unfortunately

[2021-08-22 10:34] michaeloldman commented on #1257
@rvanner Tried this with two models in current build 2021.08.20
- One model with single mesh and texture set - works perfectly
- Other model with multiple meshes refencing multiple textures sets - also works perfectly

This issue can be closed now.

Greta work MAX team!

[2021-08-22 10:47] Duchenkuke commented on #1318
okay so.. I loaded a backup of that level.. still wont load! What happened.. I didnt change anything, suddenly over night it decided to just not work anymore.. very strange!

[2021-08-22 11:09] Duchenkuke commented on #1318
by the way preben... do you have a new .exe I can use  for dark skies?

I dont really follow the development of classic as i cant really update my gg folder anyway ( because of many customised files)

I think the updates only happen to the .exe anyway ?

let me know if there is something new i can try out. Thank you 🙂

________________________________
btw
Von: Preben Eriksen ***@***.***>
Gesendet:

[2021-08-22 11:25] michaeloldman commented on #1059
@rvanner Sorry missed that.
Normal issues now seam to show up only where there are lights.
Here is a pic I just snapped in current build.
![Normals Issue 2021 08 20](https://user-images.githubusercontent.com/12246318/130353285-4a785cad-540c-4be1-8667-31f4b2cdf113.png)

This can be seen in multiple paces in the demo I sent your awhile back.

Please see this issue #984

[2021-08-22 11:26] michaeloldman commented on #984
Here be a pic in current build 2021.08.20
![Normals Issue 2021 08 20](https://user-images.githubusercontent.com/12246318/130353324-41d8fb83-8a14-4ed5-9217-73ae37356755.png)

[2021-08-22 11:39] michaeloldman commented on #1035
@rvanner They still don't snap to grid unless you use PageUp\PageDown.

I don't use the positioning tools on the right panel as I find they are not user friendly when building complex levels.

So while not an issue for me it still does not work as I would expect it to.

Bu if nobody else sees it as a problem then you can close the issue if you like :)

[2021-08-22 11:42] michaeloldman commented on #1032
@rvanner So far not seen it happen since Lee sorted it so will close issue :)

[2021-08-22 11:42] #1032 closed

[2021-08-22 12:00] michaeloldman commented on #970
@rvanner No emissive is nowhere near as good as in pre-repo versions of max

In Lee's screenie they are definitely glowing nicely but the emissive colors are wrong
- the glow is blue
- but the texture is white

In this pic (also shown above) the emissive is cyan and is only using the texture as color source.
![cyan emissive](https://user-images.githubusercontent.com/12246318/130354244-fd4c842f-884

[2021-08-22 12:56] OldFlak opened #1327 "2021.08.20 - Character Lighting"
BUG 2021.08.20
Character Lighting
- Characters don't have uniform lighting
- Looks like the face has been grafted on

![Untitled](https://user-images.githubusercontent.com/12246318/130356041-c8dcb1f9-5436-455d-876b-adb6ba9c6265.png)

[2021-08-22 12:58] OldFlak opened #1328 "2021.08.20 - Rogue reddish lines"
BUG 2021.08.20
Rogue reddish lines
- Red lines appearing on some parts of scene
- This scenes textures have no red in them and there are no lights with red

![Red Lines](https://user-images.githubusercontent.com/12246318/130356093-497e4246-9fa3-439e-b8a0-da5c5b95c553.png)

[2021-08-22 13:00] michaeloldman opened #1329 "2021.08.20 - Element Icons Render Issue"
BUG 2021.08.20
Element Icons Render Issue
- Element icons now have dots in corners

![elements icons dots](https://user-images.githubusercontent.com/12246318/130356150-428a34e0-a713-447a-a665-3e9a94593fa2.png)

[2021-08-22 13:02] michaeloldman opened #1330 "2021.08.20 - Current Tiny Installer"
BUG 2021
Current Tiny Installer (downloaded yesterday)
- Tiny Installer informs that it will delete all files in Program Files several times during install process (every time it starts to download a given Pack?)
- This means you have to sit and watch the whole download process as it won't proceed unless you click OK
- for my install that's like two hours keeping eye on the process

Expected behav

[2021-08-22 13:05] OldFlak opened #1331 "2021.08.20 - Collision Issue"
BUG 2021.08.20
Collision Issue
- In this test the Support Frame is separate from the corridor and has been assigned collisionmode=3 by mistake in FPE
- the result is player falls through terrain as soon as he attempts to walk through the it

https://vimeo.com/590538531

[2021-08-22 13:15] OldFlak opened #1332 "2021.07.30 - Animations Too Slow"
BUG 2021.07.30 - Also present in 2021.08.20
Animations Too Slow
- Animations are slower than in previous build

https://vimeo.com/582059893

The animations for open and close for this force-field happen over 2 frames each.
- so you should barely be able to see it happening
- but max is playing the animations more like they have 10 frames or more for each action

[2021-08-22 13:21] michaeloldman commented on #1208
@rvanner yes reported the icon corner issues.
The grey interface looks much better with proper icons ( I edited mine)

![dark theme matching element icons](https://user-images.githubusercontent.com/12246318/130356739-42b233b1-a3b4-44e3-bfc8-0fd707b8bd8e.png)

When I was editing them I was thinking semi transparency might work (as Preben mentions above) so you could have one icon set for any theme?

[2021-08-22 16:14] denukvt opened #1333 "Loss of asset after download"
I download assets....check them in Max and they are there. I download some more....and the previous downloads have vanished.

[2021-08-22 16:50] plemsoft commented on #1318
Tried your level in test game, got a special version that are able to run it using crypthed media , but it worked fine here ? Also the standalone work fine, so im sure it has to do with all our other media installed but not sure what.

But you must have gone over the bridge some where  ? i seen that your skybox index was 83 so you have a lot of those , also i imagen you have that the same with any

[2021-08-22 17:35] Duchenkuke commented on #1318
I dont really have a choice lol since I cant fix it myself.

I will send the whole folder. and yea its around 100gb
Give me some days tho, this takes a while. I will send a link when its ready

[2021-08-22 20:18] blueFireGames opened #1334 "Crash on downloading Asset MAX Collection - 1.2 GB"
When downloading Asset MAX Collection when it got to the last 5 files the program update stopped.
I looked for the install_errors.txt file but could not find it.
![temp](https://user-images.githubusercontent.com/8551252/130368877-67d2441a-ca31-48ef-80ba-96df63fa082f.png)
Screenshot attached.

[2021-08-23 03:06] Kitakazi opened #1335 "Trying to edit materials under the "Custom Materials" tab is bugged."
When attempting to edit custom materials, the names of the materials will be incorrect. It will show the names and list of the first entity the user edited. This bug persists through starting a fresh level and the program must be closed and reopened to fix it.

I have attached a video to show what I mean, you will see when I go to edit the couch or lamp it shows only the "Desk" materials.

https:/

[2021-08-23 03:09] Kitakazi opened #1336 "Copy and Paste doesn't copy over the surface maps."
Edit the surface maps on an object and then copy and paste it. The copied version will not have the correct surface maps. Attached video.

https://youtu.be/slxCCMd_50U

[2021-08-23 03:29] Kitakazi opened #1337 "When Importing an Object if you set the scale above 200 it will not have any collision."
Import a wall and in import settings set to static and Collision to Box. Set scale to 300.

Then drop into level and you will see object will act as if it has no collision.

Also just like to point out this is issue number 1337. Which is pretty cool :)

Edit- ***
After more testing it seems if you import an object and then later edit the FPE file and set scale to 300 it will also lose its box coll

[2021-08-23 03:33] Kitakazi commented on #1337
Tested on multiple floors and walls. Have not tested with other collision options, only Box.

[2021-08-23 03:41] Kitakazi commented on #1303
Also at the end of the import process when you got to select a thumbnail and background, it will show your textures that the model uses. The surface ones will all be reverted to what the model had when you first imported.
The thumbnail creation page doesn't always open when importing objects either.

[2021-08-23 06:27] rvanner commented on #1333
@denukvt Which assets are missing? It might be that we have since moved them to a different folder structure since you last updated.

[2021-08-23 06:28] rvanner commented on #1208
@plemsoft I sent you new icons on Friday, so you should be able to sort this now.

[2021-08-23 06:30] rvanner commented on #970
@LeeBamberTGC When you have time, can you comment on this issue please?

[2021-08-23 06:31] rvanner commented on #1327
@michaeloldman Was this a model from the core library or one you made? The core library characters all need to be re-made. There's a system the matches the chosen skin color and this is gone wrong on this old character.

[2021-08-23 06:33] rvanner commented on #1330
It's a good point! We'll add a flag to note that it's been agreed to.

[2021-08-23 06:35] rvanner commented on #1329
This will be fixed in the next build. There was no alpha in these pngs last time.

[2021-08-23 07:15] rvanner commented on #1035
OK, I have changed this from High to Medium. We will get to it at some point.

[2021-08-23 07:20] rvanner commented on #1257
@ZakJudges Great work on this one!

[2021-08-23 07:20] #1257 closed

[2021-08-23 07:28] rvanner commented on #1334
@ZakJudges Can you please comment on this and see if you can help @blueFireGames to get up and running?

[2021-08-23 08:20] ZakJudges commented on #1334
Hi @blueFireGames
Could you check if install_errors.txt is located in your Documents Folder? It'll be inside GameGuruApps\GameGuruMAX if it is.
Failing that I would suggest doing a clean install of "GameGuru MAX Core Files". Please note that during this process, any asset collections you have installed that are not ticked will be removed from the install location.

[2021-08-23 08:24] plemsoft commented on #1144
@synchromesh62 The dropdown was replaced, do the new one work for you ? :)

[2021-08-23 08:25] plemsoft commented on #1314
@michaeloldman This has been fixed and will be in the next update :)

[2021-08-23 08:27] plemsoft commented on #1323
Fixed.

[2021-08-23 08:31] plemsoft commented on #1277
This was already fixed in the latest version :)

[2021-08-23 08:34] plemsoft commented on #1208
@rvanner The Friday set was incomplete (see e-mall) , i completed the blue set myself, and used the set from @michaeloldman that was complete. Look way better now :)

[2021-08-23 08:36] plemsoft commented on #1329
Fixed

[2021-08-23 08:40] ZakJudges commented on #1325
Hi @henoida
Are you still receiving this error message?

[2021-08-23 08:47] Belidos3D opened #1338 "GameGuru Classic - Ammo, Keys, and Doors in third person"
There has been an issue with ammo and key pickups, and door scripts in third person for quite some time, i managed to narrow it down to the way that GameGuru Classic detects distance and angle from an object in those scripts, i rewrote them for third person when i created my isometric dungeon kit.

If you want those new scripts to add to GameGuru Classic you are more than welcome to download them

[2021-08-23 09:06] plemsoft commented on #1317
@LeeBamberTGC Jungle Collection - Delete files - "Leafy Vine Tendrail" , "Vine Tendrail".

[2021-08-23 09:07] plemsoft commented on #1251
This was fixed in the latest version :)

[2021-08-23 09:17] michaeloldman commented on #1327
@rvanner Yes it must be an old character then.
The one in screenie is **Sue - Military Contractor** from the library.
Apart from the few with masks on, they all show obvious lines where the head joins the neck, even the ones that look like the colors are correctly chosen. The light angle shows it up more at certain angles.

Not sure how you would fix it thou. Maybe they all should have collars, or

[2021-08-23 09:33] synchromesh62 commented on #1144
OMG this ones old .. Yes of course as you say this was replaced and no longer a valid issue .
I will close it ..

[2021-08-23 09:33] #1144 closed

[2021-08-23 09:38] michaeloldman commented on #970
@rvanner was in a rush to get out the door when posting my previous reply - got the pics muddled a bit. Have updated previous post to hopefully explain better :)

[2021-08-23 10:31] plemsoft commented on #1335
@Kitakazi Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-08-23 10:33] plemsoft commented on #1112
Fixed :)

[2021-08-23 12:39] #1317 closed

[2021-08-23 12:40] henoida commented on #1325
Yes, I am.

    On Monday, August 23, 2021, 05:40:49 a.m. ADT, ZakJudges ***@***.***> wrote:

Hi @henoida
Are you still receiving this error message?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-23 12:53] ZakJudges commented on #1325
@henoida I recommend visiting https://www.thegamecreators.com/account/order/list and checking that you have no problems logging in and viewing your order for GameGuru MAX.
Then try a clean install by removing the software and downloading "GameGuru MAX Tiny Installer.exe" from https://www.thegamecreators.com/account/product/list

Once downloaded, you can log into your account from the installer and

[2021-08-23 13:14] henoida commented on #1325
My order is not listed on the order list page.  
I have two email accounts. My 'gmail' account is listed in my  member profile ***@***.***), but I think I may have used my 'rogers' account to purchase GameGuru Max ***@***.***).  
I'm thinking that this is probably where things have gone wrong.
Sales transaction # is TGC7CB0CEBD6

    On Monday, August 23, 2021, 09:54:00 a.m. ADT, ZakJudges ***@***

[2021-08-23 13:18] ZakJudges commented on #1325
@henoida Yes that will most likely be the problem. Are you able to log into your other account?

[2021-08-23 15:15] niijel commented on #1227
I can confirm this still occurs in the latest build.

[2021-08-23 15:56] 3coms opened #1339 "GGMax treating my character like a decal"
I've imported a char as an FBX file, GGMax did the import process as expected, and the char was added to the entity lib.
I must add my char has 2 semi-transparent _sprite sheet_ as texture. (1 for the head and other for the body)

**What I did:**

1- Go to fpe and change FX shader from _apbr_basic.fx_ to _decal_animate8.fx_ , transparency from 0 to 3, and save changes.
2- Open GGMax and place my c

[2021-08-23 15:59] 3coms commented on #1339
I must add as well, that you can see the decal settings rather than entity settings, on the right-hand panel.
I re-check the fpe file, and it doesn't mention anything decal related there.

[2021-08-23 17:02] 3coms commented on #1339
Is GGMax looking for prefixes?
I say because the folder where the char sit name "male decal texture"
Although it is almost impossible, it is the only relation with decals the char has.

[2021-08-23 17:28] denukvt commented on #1333
It makes no difference. I download one set, say the buildings and check
them in Max...they are there and usable. I then go download another set,
say trees and the trees get there but the buildings have gone. It seems to
happen with any set although I have not tried all combinations.

On Mon, 23 Aug 2021 at 02:27, Richard Vanner ***@***.***>
wrote:

[2021-08-23 17:37] Granada1 commented on #1333
Don’t forget to keep checked the ones you want to keep or Max will clear them

[2021-08-23 17:50] henoida commented on #1325
No, I can't even remember the user name for the other account, only that it uses my ***@***.*** email address. Sorry.

    On Monday, August 23, 2021, 10:19:03 a.m. ADT, ZakJudges ***@***.***> wrote:

@henoida Yes that will most likely be the problem. Are you able to log into your other account?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub,

[2021-08-23 18:02] ZakJudges commented on #1325
@henoida In that case, you could visit https://www.thegamecreators.com/
From there, you can click the green help button in the bottom right of the screen to contact TGC and get help accessing your account that you made the purchase from.

![techsupport](https://user-images.githubusercontent.com/32545391/130494988-8c793130-7fea-4574-af0f-2edbc9a9c0c9.png)

[2021-08-23 19:34] denukvt commented on #1333
Ok. That I am not doing so that's the problem. Thanks.

On Mon, Aug 23, 2021, 1:37 PM Granada1 ***@***.***> wrote:

[2021-08-23 19:48] #1325 closed

[2021-08-24 07:31] rvanner commented on #1333
@denukvt Clearly we need to make that clearer. I think if you un-tick an item we should prompt you to say "Are you sure you want to uninstall this module?"

@ZakJudges Can you add this in when you work on the installer today?

[2021-08-24 07:49] ZakJudges commented on #1333
@rvanner Will do!

[2021-08-24 09:13] rvanner commented on #1338
@plemsoft Please consider updating these when you work on GGC

[2021-08-24 09:17] rvanner opened #1340 "Zombie does not respect gravity"
I wanted to see what would happen if the Zombie was high up above the terrain and should be following a way point. He tried to walk into thin air and then turned back. He really should drop down to continue his journey.
![image](https://user-images.githubusercontent.com/1503593/130590814-054e292d-100b-48f9-be99-1dcfe2cfab27.png)

[2021-08-24 09:27] rvanner opened #1341 "Shooter AI connections - are they necessary on top of every object?"
The AI connectors should only appear above relevant objects (flag waypoints, characters, doors etc). Not every static object as well. Maybe I'm wrong?

For example, no need to have them above all these posts:

![image](https://user-images.githubusercontent.com/1503593/130592676-cbb29264-80ed-4ab9-ac11-cdff8604cd9f.png)

[2021-08-24 09:32] rvanner opened #1342 "Rotated wall piece was ignored by the AI system, the zombie walked through it"
As you can see, the Zombie just walks through this static geometry:

![image](https://user-images.githubusercontent.com/1503593/130592994-19f0799b-f055-4242-aad7-a515ee9edcf3.png)

Even with the wall moved more into the terrain he still walked through it;
![image](https://user-images.githubusercontent.com/1503593/130593455-50725b5e-f6e4-444d-87cd-40ade08728f5.png)

[2021-08-24 09:34] rvanner commented on #1342
I scaled the wall up some more and then it worked. Is there a size limit on ground obstacles?

![image](https://user-images.githubusercontent.com/1503593/130593695-718ddb44-137d-42dd-bcf3-2c4b63adca6d.png)

[2021-08-24 09:38] plemsoft commented on #1159
@Kasseyus Thanks for reporting this issue, the black border issues should be fixed in the latest version , also the rotation should be better now, please let me know if this has been solved in the latest update , thanks :)

[2021-08-24 09:39] rvanner commented on #1320
Confirmed as fixed!

[2021-08-24 09:39] #1320 closed

[2021-08-24 10:17] LeeBamberTGC commented on #1340
@rvanner Please attach an FPM and steps to see this for myself, thanks.

[2021-08-24 10:18] GraPhiX-Guru opened #1343 "[Feature Request] GameGuru Classic Encryption"
Can we have a 'Black box' encrypter that matches the built in encryption, a lot of files can be missed from the standalone creation these files have to be manually copied to the standalone folder, the downside is they are not encrypted (best course of action is for the standalone process not to miss files).

I could create an application myself but unfortunately I do not know the algorithm used in

[2021-08-24 10:28] Duchenkuke commented on #1343
yes thats a highly needed function. +1

[2021-08-24 11:21] Granada1 commented on #1343
Thumbs up for that one 🤞

[2021-08-24 14:26] synchromesh62 commented on #1343
Can you not use a .fpp file
For example these are the files i need to carry over but will not without this .fpp file.
-------------------------------------------------
[standalone add files]
gamecore\decals\muzzleflash2\
audiobank\BLUEPRINT\lights.wav\
-------------------------------------------------
Once added to the map folder with the .fpe it will copy them all to standalone.

[2021-08-24 14:28] synchromesh62 commented on #1343
Can you not use a .fpp file
For example these are the files i need to carry over but will not without this .fpp file.

[standalone add files]
gamecore\decals\muzzleflash2\
audiobank\BLUEPRINT\lights.wav\

Once added to the map folder with the .fpe it will copy them all to standalone.

[2021-08-25 02:54] Teabone3 commented on #1300
I have the same issue. A fix would be appreciated.

[2021-08-25 06:02] plemsoft commented on #1113
Fixed: Load/Save fpm will now default to the mapbank. This is where the "Write Folder Location" is set, could be "c:\\user..." or a custom write folder.

[2021-08-25 06:03] plemsoft commented on #1279
Fixed.

[2021-08-25 06:06] plemsoft commented on #1158
Fixed: Now restore , last search , filter settings, maximize state and columns settings :)

[2021-08-25 06:15] plemsoft commented on #1268
@Kitakazi Thanks for reporting this issue, what is your windows resolution ? , Try running at 1920x1080 and let me know if you see the same issue at that resolution. it could be a problem with the high resolution , thanks for your help :)

[2021-08-25 08:49] rvanner commented on #1277
@plemsoft I am still seeing this issue. Do I need to clear the old thumbnail out?

When I am not hovering over it I see this;
![image](https://user-images.githubusercontent.com/1503593/130759330-181f1f61-aebd-4957-8cd0-0ad8f00fcfe5.png)

Then when I hover over it, it's ok:
![image](https://user-images.githubusercontent.com/1503593/130759376-cb70f011-6592-4225-b4ed-b2f35783823e.png)

[2021-08-25 08:56] niijel commented on #1229
seems to be ok now.

[2021-08-25 08:58] Kitakazi commented on #1268
My resolution is 3840 x 2160, I'll try testing some more in 1080 and see if I can get the error to happen again.

[2021-08-25 08:58] niijel commented on #1227
making main window less than full screen - still get same problem, do you need any files or other info off me to help resolve this?

[2021-08-25 09:42] rvanner commented on #1227
@niijel Could you make a small video to show the issue please?

[2021-08-25 10:25] Denis87z opened #1344 "import"
![image](https://user-images.githubusercontent.com/89519185/130773931-32ab1f9f-2cb4-497c-8081-4108b19a3362.png)
Hi.When importing models from the sci-fi pack, some of the models are not fully imported. As for the characters, they are not displayed.

[2021-08-25 10:29] rvanner commented on #1344
@Denis87z Thanks for your report. Do you have a list of which items didn't work?

[2021-08-25 10:38] Denis87z opened #1345 "Zombie cannot climb stair case"
![image](https://user-images.githubusercontent.com/89519185/130774779-07ac0a4c-dd5e-4d44-bcd7-da6d3f31a915.png)
Hi.Will this be fixed in the future? The zombie can't climb the stairs

[2021-08-25 10:40] Denis87z commented on #1344
models from the scenery folder are not opening yet

[2021-08-25 10:41] rvanner opened #1346 "There is a huge delay when you first use test game (related to the new nav mesh code)"
Fix the nav mesh bug when you first press test game.

[2021-08-25 10:41] Denis87z commented on #1344
also in mega pack 3 there are roads and two of them do not display the texture

[2021-08-25 10:58] ZakJudges commented on #1303
@Kitakazi Thank you for the info. Does the issue with the thumbnail creation page occur without changing the save path?

[2021-08-25 11:05] ZakJudges commented on #1184
Hi @Kasseyus
Are you still experiencing this bug in the latest build?

[2021-08-25 11:20] smmaas opened #1347 "character creator crash"
Gameguru max crashes when i try to start the character creator

![image](https://user-images.githubusercontent.com/45684694/130781612-50be6d90-2573-434d-bd8e-6487fd39ec04.png)

[2021-08-25 12:02] synchromesh62 commented on #1344
Characters will not be displayed.
These were made with the classic Character Creator if i am not mistaken and is one of the things that is most definitely not compatible with Max.

[2021-08-25 12:06] ZakJudges commented on #1347
Hi @smmaas , thanks for the info.
Does this happen every time you start the character creator?

[2021-08-25 15:59] ZakJudges commented on #1330
@michaeloldman This should be fixed now. However, I have not experienced this bug, so if it happens again after the next update please let me know. Thanks :)

[2021-08-25 16:31] Teabone3 opened #1348 "GGC Issue: Start Marker Rotation by Widget Not Working"
If you rotate the start marker once. Then test. Then rotate it again to the lower right view and place a barrel in front of it, when you test game you will not see the barrel in view. Its almost as if the start marker didn't rotate that second time at all, though appearing to have within the editor.

![not in view](https://user-images.githubusercontent.com/35990109/130829542-9624554e-1700-418f-bee

[2021-08-25 19:57] smmaas opened #1349 "fun with zombies"
Zombie behavior works great with one zombie, but put a few together and something goes wrong:

1. First of all they move _synchronized_ which is funny and a but creepy but not what you want.
2. The trigger doesn't work. They attack when you are not in reach or don't attack when you are.
3. You can kill them but they don't fall but freeze (by the way grenades lose their texture when you you throw t

[2021-08-26 10:41] rvanner opened #1350 "Detailed Object List does not turn off once it's turned on"
Having turned this feature on, you cannot turn it off.

Also, remove the full stop at the end of the line in settings

![image](https://user-images.githubusercontent.com/1503593/130948988-70205133-92e0-4bb1-ab5d-afc77f859440.png)

[2021-08-27 08:43] GraPhiX-Guru opened #1351 "[GameGuru MAX] - Some Trees Resource Hogging"
Some of the tree packs need to be optimised all of the ones 10mb plus DBO size, for example Tall Pines Abies - Full.dbo is 90mb in size put more than one on a map and FPS drops considerably.
Is there going to be a specific tree shader that would address this issue? or are these models going to use the default shader, if the latter some work needs doing to reduce polygons and add LODs.
These trees

[2021-08-27 11:18] Kitakazi opened #1352 "Game Elements Panel is missing."
On newest update the game elements panel like the player start marker and trigger zones are missing.

![image](https://user-images.githubusercontent.com/51464873/131119667-29443185-7d11-4659-b030-62b5a1605616.png)

[2021-08-27 13:08] MadLadDesigns opened #1353 "Narrow Behaviour panel"
The side-panel for the Behaviours is quite narrow. The window slider at the bottom is all the way to the left so I can't see any more to the left, and it's very fiddly to try to widen it with the mouse.

[https://forum.game-guru.com/thread/222979](url)

[2021-08-27 13:15] MadLadDesigns opened #1354 "Additional editor light so just white ambient light that lights everything."
When selecting 'Edit Game' for the Cellar Demo on the welcome screen, the entire level is black

![Clipboard01](https://user-images.githubusercontent.com/75511721/131132900-012e5f1e-bb87-45ae-a945-f25a8b22baa2.jpg)

I have to select the Environmental Effects tab and select 'Reset Visuals' for the level to be lighted properly.

[2021-08-28 02:04] #1352 closed

[2021-08-28 04:10] fearlesswee opened #1355 "[Max] Characters should account for firing rate of weapons"
This has been an issue since Classic, characters equipped with say, a shotgun, are capable of firing every other frame it appears. Ideally characters should be restricted to only be able to fire as fast as the player could, and they should respect ammo capacity and reloads. (Such as on the RPG, a character should automatically know that their gun holds X shots before reload without this behavior h

[2021-08-28 08:02] rvanner commented on #1351
We're aware these trees need improving (or a health warning!)

We will be doing some performance testing with newly made trees with full LOD and billboarding.

[2021-08-28 08:04] rvanner commented on #1275
@ZakJudges Please remove this hat from the character creator

[2021-08-28 08:09] ZakJudges commented on #1275
@rvanner Will do!

[2021-08-28 08:10] rvanner commented on #1329
Fixed in latest version so closing this issue now.

[2021-08-28 08:10] #1329 closed

[2021-08-28 08:12] rvanner commented on #1113
Fixed in latest version so closing this issue now.

[2021-08-28 08:12] #1113 closed

[2021-08-28 08:16] rvanner commented on #1279
Fixed in latest version. Closing this issue.

[2021-08-28 08:16] #1279 closed

[2021-08-28 08:17] rvanner commented on #1158
Fixed in latest version. Closing this issue.
Thanks for this @plemsoft , it makes a big difference! 👍

[2021-08-28 08:17] #1158 closed

[2021-08-28 08:22] rvanner commented on #1323
Fixed in latest version. Closing this issue.

[2021-08-28 08:22] #1323 closed

[2021-08-28 08:22] rvanner commented on #1208
Fixed in latest version. Closing this issue.

[2021-08-28 08:22] #1208 closed

[2021-08-28 08:24] rvanner commented on #1330
@LeeBamberTGC Can you roll out a new version of the Tiny Installer so we can check this is now fixed?

[2021-08-28 08:29] rvanner commented on #1112
Fixed in latest version. Closing this issue.

[2021-08-28 08:29] #1112 closed

[2021-08-28 08:32] rvanner commented on #1277
@plemsoft This is still an issue for me. Maybe old data on my PC?

[2021-08-28 08:33] rvanner commented on #1251
@plemsoft These still don't work for me.

[2021-08-28 09:26] ZakJudges commented on #1303
@Kitakazi If you look inside your custom write folder, all imported objects should be in the following folder structure: \Files\entitybank\user\

Could you confirm if this is the case? Thanks :)

[2021-08-28 11:21] Denis87z opened #1356 "Behaviour"
![image](https://user-images.githubusercontent.com/89519185/131216306-920bc0dd-7e66-49c8-944a-ba1915876a12.png)
when adding a new behavior, it is impossible to close the window on the cross

[2021-08-28 11:35] Denis87z commented on #1355
+

[2021-08-28 11:35] Denis87z commented on #1355
support

[2021-08-28 13:29] synchromesh62 commented on #1355
You know you can set each characters rate of fire in their properties right ?
setting between 200 and 250 seemed much better for a Shotgun Soldier although not a lot you can do about them reloading.

[2021-08-28 15:58] Teabone3 opened #1357 "GGC Issue: Fog Nearest"
"Fog Nearest" is default to an absurdly large value. Well over 1000.

Might be related to #1300

[2021-08-28 16:04] Teabone3 commented on #1300
I also noticed that even if you get it back under 100 it will jump to 100 immediately if you click anywhere else on the screen with the tab still open.

[2021-08-28 19:47] niijel commented on #1227
What I saw when the add window touches the right edge of main window has changed with this weekends release - it still crashes but the add window turns purple? I used nvidia shadowplay to record the crash and it doesnt show the purple but does show the add window blown up large. I assume this is related to frame buffers or masking - but maybe just a different appearance after the initial crash. Vi

[2021-08-28 20:10] niijel commented on #1227
screen grab with shadowplay doesnt show what I actually see, I dont see the add screen become large and mouse pointer never returns from the activity indicator. Hopefully some clues in this:-
NVIDIA System Information report created on: 08/28/2021 21:08:26
System name: NIIJEL-PC

[Display]
Operating System:	Windows 10 Home, 64-bit
DirectX version:	12.0
GPU processor:		NVIDIA GeForce RTX 2070
Drive

[2021-08-29 06:44] Kitakazi commented on #1303
Yes that is where the imported objects save too by default.

[2021-08-29 18:28] blueFireGames commented on #1334
The editor seemed to work with no error messages but on the next update
by the Auto Updater the updater stalled when attempting to download the
physlib.lua file.

I tried to uninstalled MAX and got the error message in attachment 1.

Jason

On 2021-08-26 01:43, ZakJudges wrote:

Links:
------
[1] https://github.com/blueFireGames
[2]
https://github.com/TheGameCreators/GameGuruRepo/issues/1334#issue

[2021-08-29 18:37] fearlesswee commented on #1355
@synchromesh62 I am aware, but manually adjusting the firerate for each of your types of characters, and for each of their possible loadouts sounds like a huge pain when they should just respect the firerate from the get-go. Plus like you said there's not much that can be done about reloads right now, unless you explicitly program in a reloading behavior and adjust the magazine size per-character,

[2021-08-30 00:24] OldFlak opened #1358 "Need a super-high resolution Shadow solver for micro-details on models (i.e. less than 5 unit geometry detail)"
Shadows are much improved from previous builds but still create weird visuals in some areas.

This pic shows a part of a model where no lights are casting shadows (the way it should look):
![shadow a](https://user-images.githubusercontent.com/12246318/131270217-af1694a4-1d52-40a7-ad00-37f63c766d49.png)

This shows the same part of the model in area where light source is casting shadow - creating w

[2021-08-30 05:05] plemsoft commented on #1300
@sfkylcnky Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-08-30 07:47] rvanner commented on #1357
Fog will be reviewed when the new terrain system is in place.

[2021-08-30 07:48] rvanner commented on #1227
@plemsoft Please check this video in this report, its shows an odd behaviour of the object library.

[2021-08-30 09:50] synchromesh62 commented on #1355
If your creating a game from scratch surely you do not just plonk 20 shotgun soldiers down.
People do and end up with diabolical results. But if your planning a level properly you may think " Ok i only want this soldier to fire every 5 seconds or every 10. I can copy this one here who fires every 10 seconds as well. When i am in range of a sniper i want a 5 second delay before firing etc. Its not

[2021-08-30 09:52] ZakJudges commented on #1334
@blueFireGames Does the issue persist when running the updater as an administrator? That can be accomplished by navigating to C:\Program Files\GameGuruMAX\ and then right-clicking on "GameGuru MAX Updater.exe" and select "Run as Administrator"

[2021-08-30 12:41] michaeloldman commented on #1351
Also be useful to make better use of textures - jungle pack has a heap of textures that are exactly the same.

Makes me wonder if a vine for example, is only using 1% of a 2048 texture, but the same texture is not getting used by other models that also reference a different but exact same texture in a similar way.

So instead of 19 textures that are exactly the same, being referenced by 19 differe

[2021-08-30 12:48] michaeloldman commented on #1346
Yep, about 20 seconds for me. Multiple starts of the map gets a little faster but never less than around 15 seconds.
Happens even with just a Start marker too sometimes.

[2021-08-30 12:49] michaeloldman commented on #1357
Not seeing that - Think it is a Classic issue not MAX?

[2021-08-30 12:55] plemsoft commented on #1226
Same: https://github.com/TheGameCreators/GameGuruRepo/issues/972
Same: https://github.com/TheGameCreators/GameGuruRepo/issues/979

[2021-08-30 13:21] plemsoft commented on #979
@AvengingEagle Found the issue.

The problem is with your fpe files and the wrong way you use the physics shape commands. In your fpe file you have:

;physics shapes
physicscount     = 0
physics          = 0

This command "physics = 0" is normally used to define the physics shape and take 10 parameters the correct way to use this command could be like this: "physics = "0,25.5290908813,2.2930994033

[2021-08-30 13:26] plemsoft commented on #1226
@hamedsheygh I assume this issue is related with the above lightmapper issues and will mark it with "fixed need confirmation" , if its not a related problem , Please give me a detailed description of your problem and perhaps a step by step to reproduce it. If you issues is solved in the new update , please also let me know so we can close this issue.

Thanks for your help :)

[2021-08-30 13:48] plemsoft commented on #1196
@Rhett-R I Improved this system and should be better from the next update, give it and test after the next update and let me know how it goes :)

[2021-08-30 14:01] plemsoft commented on #1192
@Duchenkuke Thanks for suggestion this improvement , i removed the bug label as its not really a bug but how the shadow "ambient" is set and faded around objects. I think you need to do this as a custom shader , it would be really hard to make this change without breaking other levels, changing how shadows works always give problems. Anyway if you e-mail me i will let you know the line in the shad

[2021-08-30 14:01] ZakJudges commented on #1303
@Kitakazi Are the imported objects that don't appear in the thumbnail creation page still being saved to the write folder? By that I mean, are you still able to place them in your level, or not at all?

[2021-08-30 14:05] ZakJudges commented on #1339
Hi @3coms, are you able to send the files when you get a chance, so that I can reproduce this? Thanks :)

[2021-08-30 14:18] plemsoft commented on #1322
@PCVeteran Thanks for reporting this issue, i just tried this little level:

![storyzone](https://user-images.githubusercontent.com/18662417/131353228-e46c616f-06cf-4533-8bcf-d4ee0686d14f.jpg)

And it worked fine in standalone played the video and sound:
https://drive.google.com/file/d/1MTvt8WjS95W79lccCyH5fewIrxUlvOUW/view?usp=sharing

There have been many bug fixes in the next update, so perhaps

[2021-08-30 14:24] plemsoft commented on #1318
@Duchenkuke I sent you a e-mail with the 6 shaders from your effectbank that have problems, did you try to delete them , and did it fix your issue ?

[2021-08-30 14:26] 3coms commented on #1339
@ Zac
Done :)
[male decal texture.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7077371/male.decal.texture.zip)

[2021-08-30 14:28] 3coms commented on #1339
If you want to reproduce it, remember "What I did" (in the main post)

[2021-08-30 15:25] ZakJudges commented on #1285
@3coms Any chance you could send this one too? Thanks :)

[2021-08-30 16:04] 3coms commented on #1285
@ Zac
Done. :)

[Old_Jackson1.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7077965/Old_Jackson1.zip)

[2021-08-30 16:35] casigus opened #1359 "buggssss"
2021.08.27

no character behavioursd, no logic, all characters just stood in t-pose.

no aniomations drop down in editor.

nop choice of weapons.

none of the characters work, way points dont work, behavioural menue doesn't change anything, tried a complete re-install, still broken.

![image](https://user-images.githubusercontent.com/68471279/131373087-8f2c59c4-39c8-41f2-b74f-76032f263589.png)
![i

[2021-08-30 17:04] casigus commented on #1359
oh and this....

![image](https://user-images.githubusercontent.com/68471279/131376971-12fb5f86-815d-4d11-8cd7-b0e4cc3e04e4.png)

[2021-08-30 17:05] casigus commented on #1359
he's blue ba di baba daaaaaaaaaaa

[2021-08-30 17:20] casigus commented on #1359
also new characters walk around like this....
![image](https://user-images.githubusercontent.com/68471279/131378895-cdc80ef0-7a50-467a-9d0a-6655723a7203.png)

[2021-08-30 17:28] casigus commented on #1358
these are very minor issues. like.....really, a bit of shadow not shadowwy? I personally dont see anything wrong here.

[2021-08-30 23:35] Kitakazi commented on #1303
Yea everything saves as normal. Just sometimes the thumbnail creation page does not show up.

[2021-08-31 00:03] Rhett-R commented on #1196
Hi @plemsoft,
Thanks, will test it as soon as it comes out. :)
Also, sorry for not providing the previously required information. I don't check GitHub often.

[2021-08-31 02:02] blueFireGames commented on #1334
This seemed to have fixed the problem.  The program finished the update.

Am I going to have to do this every time?

On 2021-08-30 02:52, ZakJudges wrote:

Links:
------
[1] https://github.com/blueFireGames
[2]
https://github.com/TheGameCreators/GameGuruRepo/issues/1334#issuecomment-908205617
[3]
https://github.com/notifications/unsubscribe-auth/ACBHWVHKTFMRAKGBXKUSDXLT7NIHJANCNFSM5CTJEAGQ
[4]
htt

[2021-08-31 05:11] Duchenkuke commented on #1192
Thank you ! I contacted you, I understand that it will break levels for others^^

[2021-08-31 05:12] Duchenkuke commented on #1192
looking forward to see what we can do

[2021-08-31 05:29] Kitakazi opened #1360 "Character Behavior LUA errors"
Get the error that is in screenshot when trying to Test Game with a character and the patrol.lua

![image](https://user-images.githubusercontent.com/51464873/131447269-79f37b12-b381-4c71-937b-efc09c6db7ef.png)

Using zombieattack.lua gives me this error -

![image](https://user-images.githubusercontent.com/51464873/131447404-4863ead2-b75e-4dab-a91b-294528e80c01.png)

[2021-08-31 05:40] Kitakazi commented on #1336
Seems to be fixed now.

[2021-08-31 06:34] rvanner commented on #1351
@michaeloldman That's a great point. I'll see if I can find a team member to optimise them.

[2021-08-31 06:35] rvanner commented on #1357
@michaeloldman Thanks for the clarification!

[2021-08-31 06:36] rvanner commented on #1360
@Kitakazi Max or Classic?

[2021-08-31 06:51] Kitakazi commented on #1360
Max

[2021-08-31 08:19] plemsoft commented on #1348
@Teabone3 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-08-31 08:22] plemsoft commented on #1357
@Teabone3 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2021-08-31 08:27] ZakJudges commented on #1334
@blueFireGames The updater requires elevated privileges. However, when updating from within GameGuru MAX, a prompt will appear asking if you would like to allow the app to make changes to your system. Selecting yes to this should be all that you need.

One thing I can suggest which might prevent having to run as administrator every update, is making sure to press "Start GameGuru MAX" when the down

[2021-08-31 08:55] hamedsheygh commented on #1226
I cant create baked lights in game guru classic. press (F8,F9) for lighting and nothing happens...

[2021-08-31 09:01] ZakJudges commented on #1303
@Kitakazi The surface map issues should be fixed after the next update. I'm unable to reproduce the thumbnail creation screen not appearing. However, I'd really like to get it sorted, would you be able to send a video of the issue at some point? :)

[2021-08-31 09:30] plemsoft commented on #1226
@hamedsheygh Thanks for getting back , you need to use SHIFT+F3 when in testgame to lightmap your level :)

[2021-08-31 12:37] #1275 closed

[2021-08-31 12:46] #1330 closed

[2021-08-31 13:34] rvanner commented on #1344
For now we are not able to support all classic models will work in MAX. We have to complete MAX first and then we can review older assets to see if they will work in MAX. This issue is now set with a medium priority.

[2021-08-31 13:36] LeeBamberTGC commented on #1360
Can you send me your "global.lua" file that is located next to the "masterinterpreter.lua" file, thanks!

[2021-08-31 14:49] 3coms opened #1361 "GGmax still applying AO texture instead of Normal texture."
**What I did**
1- Place my mesh on the map
2- The looks are far to be as expected, so I noticed in material settings that there is AO setup rather than the Normal material.
3- All the materials are named like the first one, so, all they now are "hell_path 01, hell_path 02, 03, and so on" so, too difficult to know who is who there.
4- I've tried to set up the normal material from my folder, GGMax r

[2021-08-31 14:57] 3coms commented on #1361
I must add, each time I try to change the path, GGMax increases the numeric prefix added, i.e. _normal1.png_, the next time: _normal2.png_, and the last time as shown on the pic above: _normal3.png_, when the real name is just "_normal.png_"

[2021-08-31 15:09] 3coms commented on #1361
Notice the expected look of the mesh, this is an Assimp shot.

![the_hell_Assimp_pic01](https://user-images.githubusercontent.com/47690174/131528204-3aaeb4ec-3881-4652-bba6-b47e755ff57f.png)

[2021-08-31 15:51] 3coms commented on #1361
I've tried again, and now GGMax included "vegbank" in the _Normal_ file path.

![Wrong_textures_ao_rather_normal_GGMax_2021_08_27_pic03](https://user-images.githubusercontent.com/47690174/131535034-bf4c6523-94bf-48b3-ad52-5222f7d19a13.png)

[2021-09-01 05:58] #1360 closed

[2021-09-01 06:14] Kitakazi commented on #1303
Sure I just made this real quick just a video showing me importing a random .fbx file. No thumbnail creation screen opens.
https://www.youtube.com/watch?v=nE9wPHSATzk

[2021-09-01 12:55] ZakJudges commented on #1337
@Kitakazi Thanks for the information. I've imported an object and scaled it to large proportions. When debugging the physics, everything looks okay and the physics continue to function on my end. Are you overlapping any of the scaled objects? This could potentially cause unwanted behaviour at the start of the game.
If this isn't the case, could you send a video and an object that is causing the bu

[2021-09-01 12:57] rvanner commented on #1359
@casigus We are currently working on the Shooter gameplay. It's very early days and for now you don't need to report these issues. In a few weeks time we should be complete with this and then you can test it out, just wait to hear from us on the weekly dev blogs. I'll close this issue now because it will all be irrelevant when we have things all working.

[2021-09-01 12:57] #1359 closed

[2021-09-01 13:37] ZakJudges commented on #1303
@Kitakazi Thank you for the video. If this is still an issue for you after the next update, just let me know :)

[2021-09-01 16:13] casigus commented on #1359
ayeeeeeeeee!! will do 🙂

________________________________
From: Richard Vanner ***@***.***>
Sent: 01 September 2021 12:57
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: casigus ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] buggssss (#1359)

@casigus<https://github.com/casigus> We are currently working on the Shooter gameplay. It's very early days and for now you

[2021-09-02 07:58] Kitakazi commented on #1337
[Wall_Red.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7097138/Wall_Red.zip)

[2021-09-02 08:25] ZakJudges opened #1362 "Importer: Find floor doesn't work when scaling an object"

[2021-09-02 08:31] ZakJudges commented on #1337
@Kitakazi Thank you for the model and video. I have confirmed the issue you are experiencing. Looking into it soon :)

[2021-09-02 10:15] ZakJudges opened #1363 "Importer: Surface Texture Duplication"
When importing a multi-mesh object, a surface texture is generated for each mesh, even if they are the same.

[2021-09-02 10:27] Kitakazi opened #1364 "Can't return to Object Tools after opening the Shooter Genre tab."
Clicking the Shooter Game icon replaces Object Tools on the Right Panel. However if you try to click the Object Tools icon to go back or if you press "E" you will be stuck on Shooter Genre.

It is possible to return to Object Tools by press the close "x" icon on Shooter Genre tab, but clicking the Object Tools or pressing E should return you to Object Tools. Which it does not.

[2021-09-02 10:56] rvanner commented on #1059
@michaeloldman Can you send a cut down example of this problem? Ideally I would like you to send me a level with two objects, one showing correctly and one that is wrong. That would help us to quickly identify the issue. Lee's initial view is that you have the normals wrong and are expecting the engine to convert them. While that would be okay in Classic it's not in Max (as Wicked must have them i

[2021-09-02 11:51] #1364 closed

[2021-09-02 15:43] Kitakazi commented on #1364
ok sounds good.

[2021-09-03 03:24] Teabone3 opened #1365 "GGC Issue - Ally Imp Stays Dead After Test Mode"
If you the ally imp ever gets killed (or if you kill it) it will remain dead after you exit the Test Mode. It will also appear dead in the editor window as well. During your next Test it will also stay dead on the ground.

Temporary work around fix is to click on the dead ally imp in the editor and enter its properties panel. This seems to undo the ragdoll and restore the imps health.

![deadim](h

[2021-09-03 03:38] Teabone3 opened #1366 "GGC Issue: Red Dragon Mesh Warped"
When the red dragon enters its flying animation , its mesh starts to warp , extending its limbs.

![dragon_wraped](https://user-images.githubusercontent.com/35990109/131947076-08dc4031-e41f-4d66-8d19-59455f9038fb.jpg)

[2021-09-03 05:09] michaeloldman commented on #1059
@rvanner Left Message on Discord :)
Some things to keep in mind
- it seams to be MAX no longer likes mirrors - which is where the errors are showing up (on the mirrored side)
- the models show correctly in Substance Painter
- MAX used to show them correctly before repo and assimp integration
- tis not end of world if can't be fixed - I have the bin next to me :)

[2021-09-03 05:54] MajesticGames opened #1367 "GGMax Issue: Import animated GTLF"
I have created a simple geometry (door) with an armature with two bones in blender. One of the bones move the door from the edge (this bone doesn't deform the geometry). This model is exported using GTLF export module of blender.

When I import the GLTF in GG Max, the frame of the door, the door and the most important... the animation are rotated... the door is not rotated in Y axis otherwise X ax

[2021-09-03 08:31] ZakJudges opened #1368 "Bounding box incorrect size calculation"
When importing an object with a position and rotation offset, the resulting bounding box is too large for the object.

![boundingboxbug](https://user-images.githubusercontent.com/32545391/131975625-ecbf8ff7-cc35-47a5-9145-440aa8761a00.png)

[2021-09-03 08:40] GraPhiX-Guru commented on #1368
the order of rotations matters (expect if you rotate around the same axis then you can add or substitute the angles). Also i think the order of transformation matters: if you first do translation and then rotation, you may get different results as if you first rotate and then do a translation.

I Usually first scale, then rotate and finally translate.

I may be barking up the wrong tree but i had

[2021-09-03 09:23] rvanner opened #1369 "Particle marker's aspect ratio is not correct"
As you can see here, the sphere is squashed making it look wider than it should;

![image](https://user-images.githubusercontent.com/1503593/131982661-e98ccc50-7444-45cb-8689-749aacdf48db.png)

[2021-09-03 10:43] ZakJudges commented on #1368
@GraPhiX-Guru yes turns out I was applying rotations needlessly. Thanks :)

[2021-09-03 10:43] #1368 closed

[2021-09-03 10:54] GraPhiX-Guru commented on #1368
You are Welcome, glad you sorted it :)

[2021-09-03 11:14] plemsoft commented on #1369
@rvanner This is how the model is designed, look at the sphere in the center, its perfectly round. perhaps one for Mark.

![particle-design](https://user-images.githubusercontent.com/18662417/131996738-9f4ea052-ef04-44ff-858a-e45dc16e524f.jpg)

[2021-09-03 12:31] rvanner commented on #1059
@michaeloldman With so many other things taking the team's attention I think we will have to leave this for later. If there's a way around it for now then please take that route. I do want MAX to deal with many situations and I think we will be tweaking the importer for months to come to make it the best it can be. I will demote this to medium for now. I hope you see the sense in our prioritising

[2021-09-03 13:43] michaeloldman commented on #1059
@rvanner no problems, I understand. :)

I was waiting to see if it was fixable before I finally decided to bin the current Racha models. Not using mirrors is a waste of resources to me. Just about every model I have checked out on SkechFab uses them, I have also looked at similar issues reported on Unity forums, but none of those fixes worked either, so it seams the only way round this issue is no

[2021-09-03 14:53] rvanner commented on #1369
@plemsoft Mark made a new one, I have sent it to you.

[2021-09-03 15:51] rvanner commented on #1059
OldFlak said on Discord this can now be closed.

[2021-09-03 15:51] #1059 closed

[2021-09-04 02:07] ivanski1983 opened #1370 "Can't delete unwanted imported models"
I imported a model and selected the wrong collision style. I went the the default /user folder path in the entity bank and the folder is empty. Am I missing something?

TIA

[2021-09-04 06:22] michaeloldman commented on #1059
Na, that was in regard to Texture issues reported in #1257

But tis OK :)

[2021-09-04 08:00] AmenMoses opened #1371 "AI scripts don't work if more than one entity used."
https://vimeo.com/597663387

So zombie entity is using the zombie_attack.lua script and works fine when it is the only entity on the map but add the soldier (using the Soldier_Attack.lua script) and the result can be seen in the video.

[2021-09-04 12:06] #1303 closed

[2021-09-04 12:10] Kitakazi commented on #1370
Probably went to wrong folder there is a GameGuruApps>GameGuruMax folder and just a GameGuruMax folder. Check both of those?

[2021-09-04 12:49] Kitakazi commented on #1268
Haven't seen the backbuffer error anymore but experiencing ALOT of crashing when trying to enter test game on a small level I made. As of the latest update I have not been able to enter a Test Game on this level. Test Game works fine on empty map and cellar demo. But on this FPM that is slightly bigger than those demo levels Test Game will freeze the program untill an eventual crash. (There isn't

[2021-09-04 14:48] Teabone3 opened #1372 "GGC Issue: Death by Explosive Barrel Freezes Game"
If you place an explosive barrel on the map and shoot it at close distance, the player will become locked and the screen will remain red. Additionally the player will not respawn to the start location. He will be stuck in place unable to move.

It should be noted that this issue seems to be related to explosive barrels that are connected to "graphix_explosion.lua". So the generic red explosive bar

[2021-09-04 14:59] Teabone3 commented on #1372
Additionally, if you test the map again, the screen will be red and fade back to normal.

[2021-09-04 15:59] synchromesh62 opened #1373 "AI Issues"
Issues Latest Build 2021-09-03

AI
Behaviors only seem to work for one entity at a time.
If you try to add another character they get confused and follow others flags.

Nodes seem very temperamental to join especially if you try to add a character they refuse to connect.

Strafting seems to be struggling with the Navmesh and ignoring or losing it.
They either seem to stand still running on the spo

[2021-09-04 17:35] Kitakazi commented on #1354
That is what the Editor Light button in the top right is for.

[2021-09-04 21:32] MadLadDesigns commented on #1354
Definitely too far away.

[2021-09-05 07:11] rvanner commented on #1266
@michaeloldman The importer now has material assignment;
![image](https://user-images.githubusercontent.com/1503593/132118626-8b0e9dcd-efbd-4115-b5c9-3c94ac9d9293.png)
Can you check and let me know if I can now close this issue?

[2021-09-05 07:15] rvanner commented on #1334
@blueFireGames Are you now able to download MAX? Please let us know.

[2021-09-05 07:16] #1346 closed

[2021-09-05 07:18] #1341 closed

[2021-09-05 07:19] #1314 closed

[2021-09-05 07:20] #1292 closed

[2021-09-05 07:21] rvanner commented on #1196
@Rhett-R Is this now fixed for you?

[2021-09-05 07:25] #1255 closed

[2021-09-05 07:30] rvanner commented on #1354
Yeah, we need a better solution for this.

[2021-09-05 07:32] rvanner commented on #1373
@synchromesh62 Can you please only report one issue per bug report? Please report the Importing and saving issues under different bug numbers and then edit this one. Thanks.

[2021-09-05 07:34] rvanner commented on #1372
@Teabone3 Is this Max or Classic? Can you share a video?

[2021-09-05 07:36] rvanner commented on #1370
@ZakJudges Please add a way for users to change the collision style within the object tools menu. Ask Preben if you need guidance.

[2021-09-05 07:42] rvanner commented on #1206
@LeeBamberTGC Why did you close this? I just tried it in the latest build. The lights rotate but they don't start with their chosen rotation from the editor.

[2021-09-05 10:43] michaeloldman commented on #1266
@rvanner Awesome - will check it out :)

[2021-09-05 10:43] #1266 closed

[2021-09-05 11:07] michaeloldman commented on #1266
Excellent addition - I think it would also make sense for the same settings to be accessible after import, perhaps in the Developer Mode tab on Object Tools panel.

[2021-09-05 11:08] synchromesh62 opened #1374 "Collision settings random on Importing"
Collisions are messing up and Collision Mode =1 when importing and setting to Polygon does not seem to work or is very random depending on Model or Scale. Manually setting the collision mode makes no difference either once imprted.

[2021-09-05 11:11] synchromesh62 opened #1375 "Saving your Map Progress Issue"
Saving
When you have a map open and are wanting to save progress just Clicking "Save" does not seem to save the map but "Save As" and pointing to it does then seem to save it but you have to  do this every time for every map you work on.

[2021-09-05 12:21] michaeloldman commented on #1057
@rvanner sorry rick, missed your reply (didn't get email it seams)
Anyhow the actual start issue reported here is no longer an issue.

Although MAX does still take a lot longer to load an actual level than is did previously, but that is a different case altogether, so this issue can be closed :)

[2021-09-05 12:21] #1057 closed

[2021-09-05 12:33] #306 closed

[2021-09-05 12:33] plemsoft commented on #1206
@rvanner You need to use the above script , @LeeBamberTGC i was not able to upload to "MAX_BUILD_FILES" looks like its been removed, so use the above script.

[2021-09-05 12:33] #308 closed

[2021-09-05 12:39] #700 closed

[2021-09-05 12:40] #319 closed

[2021-09-05 12:40] #446 closed

[2021-09-05 12:41] #566 closed

[2021-09-05 12:41] #675 closed

[2021-09-05 12:42] #712 closed

[2021-09-05 12:42] #828 closed

[2021-09-05 21:19] blueFireGames commented on #1334
On my most recent update attempt (today) there is a pop up screen asking
for permission to make changes to the computer.  I clicked yes.  After
downloading many of the files in the update there was a message showing
it would take many hours to finish the download (I have cable so this
shows one of the files is stalling downloading).  I clicked pause
download then continue download and it said down

[2021-09-05 21:21] blueFireGames commented on #1334
Still having problems.  Just send most recent information on situation
to Zak.

Jason

On 2021-09-05 00:15, Richard Vanner wrote:

Links:
------
[1] https://github.com/blueFireGames
[2]
https://github.com/TheGameCreators/GameGuruRepo/issues/1334#issuecomment-913099250
[3]
https://github.com/notifications/unsubscribe-auth/ACBHWVFFMUCMXFB56IHLOB3UAMKILANCNFSM5CTJEAGQ
[4]
https://apps.apple.com/app/a

[2021-09-06 03:14] Rhett-R commented on #1196
@rvanner Seems for the most part to be working alright. I validated the GG files from Steam as well. However, a new bug seems to have presented itself where if your health drops to a negative value you don't actually die per se (the red screen appears but the actual death is not executed).
![image](https://user-images.githubusercontent.com/65373855/132155517-ed5bd6e3-8c56-4094-a537-cd2e2c9478b7.pn

[2021-09-06 07:27] rvanner commented on #1196
@Rhett-R Could you post that issue as a new issue please? I will close this one down now.

[2021-09-06 07:27] #1196 closed

[2021-09-06 07:51] MadLadDesigns commented on #1354
May be simulating 'Reset Visuals' from the Environmental Effects tab after loading a map?

[2021-09-06 08:47] ZakJudges commented on #1374
@synchromesh62 polygon collision for dynamic objects has been removed. But imported objects set to static mode should still have the option for polygon collision. Could you confirm if that is the issue, or if it is indeed a bug? Thanks :)

[2021-09-06 08:48] ZakJudges commented on #1370
@rvanner Will do!

[2021-09-06 09:20] synchromesh62 commented on #1374
@ZakJudges
Hi Zak
Yes i am ticking the static box and then selecting Polygon from the list ( its the only way to get it now as you say )
But once imported i can still run through the models ?
Easiest way is to try this one free from Sketchfab :)
https://drive.google.com/file/d/16kzmTjtmhSa4trfp0uF7m8iL-q-Q-mN5/view?usp=sharing

[2021-09-06 09:29] ZakJudges commented on #1374
@synchromesh62 Thanks for the model :) I've checked it and it appears to be related to a known bug with the offsets not getting applied correctly to the rigid bodies of imported models. Working on a fix for this at the moment. A temporary fix would be to set all offsets to 0 when importing, and then position the object as needed in your level after it has been added to the object library. Thanks :

[2021-09-06 10:01] synchromesh62 commented on #1374
Thanks for confirming Zak :)
No probs Its not hindering me in any way. Im just testing stuff but it was odd that my older imports still had their Polygon collision but would not import again when i tried :)

[2021-09-06 11:37] Kitakazi opened #1376 "Character collision boxes are to big"
The character collision boxes are to big. Try to walk up to a characters face and it will seem like you are a good foot or two away and should be able to get closer yet are stopped from getting closer by the collision.  Besides that being annoying in itself alot of peeps hate the "push back" effect from the characters collision boxes and that could probably be fixed by having the collision not so

[2021-09-06 11:40] Kitakazi commented on #1354
Maybe instead of having the editor light be an actual light make the "editor light" just white ambient light that lights everything.

[2021-09-06 12:08] rvanner commented on #1206
@plemsoft Yes that fixed it for me.

@LeeBamberTGC Can you ensure the new script is updated to the build and then close this issue?

[2021-09-06 12:12] LeeBamberTGC commented on #1206
Done :)

[2021-09-06 12:12] #1206 closed

[2021-09-06 12:21] rvanner opened #1377 "The behaviour list can update for no apparent reason (see video)"
Watch this video. At time 20 seconds, you will see the display update for no reason.

https://youtu.be/_Y7OcmncHqc

[2021-09-06 12:25] rvanner opened #1378 "Object thumbnails don't have a curved bottom right edge"
As you can see, the bottom right edge is no longer curved:

![image](https://user-images.githubusercontent.com/1503593/132217168-de943cad-f510-40f2-a1cf-82c37d52d831.png)

[2021-09-06 12:34] rvanner opened #1379 "When you copy and paste an object, the object tools does not match the original object's list"
You can see this more clearly with a light object. It also does it with an entity object.

- Click on an object, note the tools menu
- Paste the new object and the tools menu isn't the same

See the video as an example;
https://youtu.be/3oTilVTP8sk

[2021-09-06 15:55] ZakJudges commented on #1361
@3coms Does this also occur when importing models? Or only in Object Tools? Thanks :)

[2021-09-06 16:31] 3coms commented on #1361
@ZakJudges

![hell_gate_GGMax_2021_08_27_Pic02a](https://user-images.githubusercontent.com/47690174/132244770-1dbaeef9-55c0-4671-97c6-a0d517203f36.png)

Notice that sort of cliff (green arrow), so, that formation is the result of importing the mesh (this is only 1 mesh).
GGMax manage to make a rock formation with my mesh, so, what I did?
I place the rock formation in the scene. (taking something g

[2021-09-06 19:05] Duchenkuke commented on #1367
the title says gameguru classic (GGC) Why does this get assigend to gg max ? @Mods Please label the reports properly.

[2021-09-06 19:15] MajesticGames commented on #1367
Sorry, it's my first post and I made a mistake. The problem is with Max.
Thank you.

[2021-09-07 00:16] synchromesh62 commented on #1367
@Duchenkuke
Does classic even import GLTF ?
I dont think so ? ... I would have assumed it was Max as well

[2021-09-07 00:45] Teabone3 commented on #1372
Classic,
I will see if i can put a video together soon. Also someone else is experiencing the same issue that im directing to post here as well.

[2021-09-07 06:21] Duchenkuke commented on #1367
well now it says gg max in the title... wtf ?? so It was a mistake by the poster actually

[2021-09-07 06:38] MajesticGames commented on #1367
I change the title, because I had made a mistake. I am sorry for any confusión this may have causes.

[2021-09-07 06:40] Duchenkuke commented on #1367
okay^^ no worries