[2022-03-15 11:08] LeeBamberTGC commented on #2470
@Retrogamebloke Updated for next internal build. Added code to keep zombie immune to fire when doing the 'fall back and get up' sequence which is by design. After March, maybe we can do something like glowing eyes to show they are re-animating with supernatural powers.  This solves the instant get up bug.

[2022-03-15 11:19] dllllllllllb opened #2519 "UI - Only 9 Demos are displayed in the "Demo Section""
Title

[2022-03-15 11:24] LeeBamberTGC commented on #2419
@ivanski1983 New internal build will no longer prevent progress along navmesh if the blocking object is not active (spawned). They still prevent overlap if they are active and visible as designed. Also updated overlap code so 'non repel' characters like rats can pass through repellers, so rats can move freely through regular characters (i.e. under their feet).

[2022-03-15 11:48] dllllllllllb commented on #2505
@LeeBamberTGC I got the level from @ivanski1983 and I get the same issue, when loading in a level, this error pops up:
![image](https://user-images.githubusercontent.com/61796872/158370565-f054f94e-2f89-47af-9576-8014e3d17574.png)

I followed the level loading code and found that the issue happens after stepping through line 2151 in M-Game.cpp.
I will send you the .fpm file :]

[2022-03-15 12:23] LeeBamberTGC commented on #2479
@ZakJudges Fixed for next internal build.

[2022-03-15 15:44] ArgentArts commented on #2420
@LeeBamberTGC - I need to test this some more. The nav mesh looks like it being created properly in my test level, but the test enemy seems to be pushing through a good bit of my custom collision meshes, which I don't recall happening before (passing through walls).

Just ran a few more tests. The enemy is able to walk through the walls and escape my level to get outside of it. They also seem more

[2022-03-15 15:48] ArgentArts commented on #2420
@LeeBamberTGC Meant to say this above - The enemy does not seem to walk through closed doors. I wanted to test opening the door, letting the enemy through, closing the door again to see if they would respect that, but if they can walk through walls, what's the point? :P

[2022-03-15 16:08] dllllllllllb commented on #2341
@LeeBamberTGC So this one seems more complicated than it looks. I don't think the problem is with the UI reading wrong values as other objects work perfectly fine. To make sure, I commented out the code that is responsible for scale editing and selecting a particle still reset its scale.

Then I tried looking into other causes of this and thought that resetting the widget scale after resizing the

[2022-03-15 16:49] dllllllllllb opened #2520 "Behaviours - Switch interaction bug"
I think this is caused by recent changes that require you to look at the object to interact with it.

When a switch is even slightly inside another objects it is impossible to interact with it.
https://gyazo.com/0c9d276ac7c5f30b220ea7671378ddea

After moving it out of the object, it is still hard to interact with it.
https://gyazo.com/96c537e318fb7456497a2dcd3203429f

[2022-03-15 16:51] dllllllllllb opened #2521 "Behaviours - Switches don't toggle lights (they can toggle everything else)"
Lights connected to a switch won't toggle on/off.

[2022-03-15 17:06] LeeBamberTGC commented on #2341
@dllllllllllb See if you can apply a fix based on what you have learned, and we will see if there are any knock-on effects, thanks!

[2022-03-15 17:50] LeeBamberTGC commented on #2521
@dllllllllllb Are you trying to toggle a light that is set to CONSTANT LIGHT (i.e. constantly on?)

[2022-03-15 18:05] ArgentArts commented on #2521
@LeeBamberTGC I was attempting to use a light with the Togglelight Behaviour set to it and it would not toggle off/on with a switch. Instead, it stayed constantly on. Even if I unchecked the Light On box, the light remained on.

[2022-03-15 18:20] MonkeyFrogStudio opened #2522 "GameGuru MAX - Request - "Trigger" by Volume not Center"
For my test level, I've created custom custom triggers. These are just cubes that I use, attaching the Switch Behaviour, for example, and linking them to a door so the player can trigger a sliding door to open from a bit of a distance. Originally, what I tried to do was place the cube in the center of the door, which is a thick, steel door, and scale it outward so that it's sides would protrude en

[2022-03-15 18:43] ArgentArts opened #2523 "GameGuru MAX - Bug - Joe - Military Ally Static Object?"
The Joe - Military Ally comes into MAX as a Static Object and, as such, I cannot add a behaviour to it:

![static](https://user-images.githubusercontent.com/36735507/158449138-d2473d33-4e31-4e8f-9ba0-7b4821c1160f.png)

[2022-03-15 18:58] Pcskiller opened #2524 "Small request for Max collection of bullets when Npc dies"
Ok here is the idea instead of selecting if you can collect a gun  and bullets if an npc dies in the properties panel , how about give us the ability to choose not to pick up a gun but just the bullets, lets say you have a gun without the gloves and you kill the npc, and if you want the bullets you have to pickup the gun and then also your player hands get the gloves ( that you maybe did not want

[2022-03-15 20:54] MonkeyFrogStudio opened #2525 "GameGuru MAX - Request - Add Other Pick Up Items to Characters than Weapons"
Currently, as far as I know, characters can only have weapons that can be picked up from them when they die. It would be great if they could have other items planted on them that could be found by players who "search" them. For example, it would be great to place a KEY to a door on one of the guards that needs to be found to get through a door, etc.

I am guessing that this sort of thing will come

[2022-03-15 22:58] LeeBamberTGC commented on #2420
@synchromesh62 Latest internal build prevents characters moving against their prescribed navmesh path. Let me know if this is solved, or needs improvement, thanks!!

[2022-03-15 22:59] LeeBamberTGC commented on #2489
@PaulSJ Made a different approach which literally prevents the character from moving outside of their navmesh path trajectory. If you can confirm this as fixed, we can close this and look to make improvements after EA for a better fidelity of movement within the nav mesh.

[2022-03-15 23:21] Skevos-Mavros commented on #2517
Yes please!

[2022-03-16 00:41] Granada1 commented on #2420
Hoping it works🤞

[2022-03-16 00:59] LeeBamberTGC commented on #2420
@Granada1 I assumed you where part of our internal team. Let me know if you do not have access :)  Would be nice to know this is solved in this evening's build.  Maybe we can hear what @ArgentArts says as he has access.

[2022-03-16 01:31] ArgentArts commented on #2420
I was away from my PC. I'll get the build now and give it a test after it finishes downloading.

[2022-03-16 01:54] ArgentArts commented on #2420
@LeeBamberTGC One issue is solved - the soldiers no longer are moving through my walls or attempting to shoot through walls or through other pieces of level geometry. So, there's that. Yay! :)

But there's another issue. For whatever reason, the soldiers don't want to cross the door threshold and chase me down. Now, in my level, the area at the base of the doorway is raised, not level with the res

[2022-03-16 01:56] ArgentArts commented on #2420
Also, a more minor issue - while the nav mesh accurately moves up the slope on the sides and the soldiers frequently go there (making great hiding places for them to shoot at you from, btw!), their feet sometimes sink into the mesh a bit, especially if one foot is on the level floor and the other is on the slope.

[2022-03-16 06:34] ArgentArts commented on #2420
Let me know if a video of their actions would help and I'll record one. I've got three enemies in my current test level.

[2022-03-16 08:09] Granada1 commented on #2420
@LeeBamberTGC I am on the internal testing team , I will try my level tonight and see how they perform

[2022-03-16 09:03] davetgc opened #2526 "Entity placement"
It's very easy to try to place an object, especially when close to it and have it fly off and land a long way off, or even be told it is outside of the editable area, even when not close to the edge.

It's a very frustrating thing.

[2022-03-16 09:17] LeeBamberTGC opened #2527 "LUA Logic and AI Logic Slowdown on Ricks PC"
Needs to be 60 FPS.

[2022-03-16 09:18] Tum1370 opened #2528 "GG Max - Group Issues"
After playing around with grouping objects, i think you need to have a look at the whole system.
The more i play around with the, they are more hassle than they are worth using.
From making a group with 8 sandbags stacked on to a pallet, then when trying to place the group object somewhere else, the item placed correctly, but then when i tried and moved the item i placed, the pallet at the bottom

[2022-03-16 09:19] LeeBamberTGC commented on #2240
@UltraVox001 Shadow work has improved which solves GPU hit, please check this again, and also with a blank terrain with veg to make sure the basics are at 60 FPS.

[2022-03-16 09:31] dllllllllllb commented on #2523
@ArgentArts A couple of questions :]
Are you using the newest internal build version?
Did you use the "Level Objects" or the "Object Library" panel to place Joe?
Did you click and drop or drag and drop the character?
Can you consistently add characters that have no behaviour?

#2474

[2022-03-16 09:36] LeeBamberTGC opened #2529 "Weapon Death Reactions"
SHOTGUN:
![image](https://user-images.githubusercontent.com/35840583/158560482-5224bede-e0d7-43ad-b592-2a3284181602.png)

[2022-03-16 09:39] LeeBamberTGC opened #2530 "Cannot pick up Cellar Demo Gun - ray cast"
Rick reported in the call

[2022-03-16 09:53] LeeBamberTGC commented on #2526
@dllllllllllb Can you see if you can reproduce this one with stock art and a step by step, thanks!

[2022-03-16 10:03] LeeBamberTGC opened #2531 "Restore Developer Mode WIDGET SYSTEM"
Currently it offsets and rotation axis is broken:
![image](https://user-images.githubusercontent.com/35840583/158565535-4e64c411-bacf-46d9-a0c2-057f33da9edf.png)

[2022-03-16 10:04] LeeBamberTGC opened #2532 "Ensure all trees in tree system are centered to help physics cylinders"
At least one tree is off-center, causing physics collision (and nav mesh) issues:

![image](https://user-images.githubusercontent.com/35840583/158565714-83ade643-39dc-4cde-9749-37f2b08d1e16.png)

[2022-03-16 10:41] davetgc commented on #2526
Hi Lee,

I've made a small video. This is me trying to build a wall. It didn't
happen this time but sometimes entities get placed far across the map and
you don't know that you've even placed them.

https://youtu.be/MMhhC8qI92o

On Wed, Mar 16, 2022 at 10:53 AM Lee Bamber ***@***.***>
wrote:

[2022-03-16 11:25] dllllllllllb commented on #2341
@LeeBamberTGC I managed to pin point where the issue is, I tried a couple of things but I can't come up with a good solution.
Here is the issue:
![image](https://user-images.githubusercontent.com/61796872/158578446-15958557-76f7-4581-8810-ebb107dea1e9.png)
The size of the particles is dependent on the size of the widget, but when you select the widget it successfully resets to it's base size and k

[2022-03-16 12:09] ZakJudges commented on #2341
@dllllllllllb

I haven't looked at where entity_positionandscale() is being called, but I suspect the issue is with this line:

`float fScale = t.entityprofile[t.entityelement[t.tte].bankindex].scale;`

Keep in mind that t.entityprofile[] contains the master object data (what is in the .fpe file).

t.entityelement[] contains data specific to each instance of an object in the world.

So when you sa

[2022-03-16 12:21] OldFlak commented on #2491
Looks to be stretched and not centered on my system (1920x1080)

![image](https://user-images.githubusercontent.com/12246318/158588758-afb84e5a-3914-41d5-9957-4b277dc57894.png)

[2022-03-16 12:27] dllllllllllb commented on #2341
@ZakJudges That's the issue, when we change the scale of the particles, we only want to change the scale the particles and not the widget, but particles share the scale with the widget.

When you select an object, entity_positionandscale() is called, initial ScaleObject() function call sets the particles scale to what they should be, and then it get's reset below to make sure the widget stays the

[2022-03-16 12:32] OldFlak commented on #2484
We already had ability to add the amount of lives for a level - not sure on the rational to remove it.

MAX is a game-maker - not a game where the rules are already set.

Yes many games have endless restarts, but it is up to the dev to decide if they want to use that method or have 1 or more lives, and even the ability to add more lives.

[2022-03-16 12:54] ZakJudges commented on #2341
@dllllllllllb Ah sorry, I read the original post wrong. When you move the particle (and it gets added to the map again), I would imagine that the code responsible for sending the particle data to the gpu is also called. My guess is that it grabs the scale of the object (which was made smaller for the widget), and then applies it to the particle effect.

You could check entity_prepareobj() and see

[2022-03-16 13:08] rvanner opened #2533 "If the water level is raised higher in the Terrain Editor, when the Level Editor starts, position the start marker on some land"
In this early preview video the YouTuber makes a level and he starts the level underwater
Can a check be made and if the camera is underwater can it be made to find the nearest land?
https://youtu.be/qtA0EFdGGPM

[2022-03-16 13:09] rvanner opened #2534 "Player start marker defaults"
Can we add melee hands and a pistol as the default choice for the player start marker?

Again in this video the player could not react to the enemy by default;
https://youtu.be/qtA0EFdGGPM

[2022-03-16 13:12] rvanner commented on #2240
@UltraVox001 What is your CPU and GPU?

[2022-03-16 13:14] rvanner commented on #2491
@ZakJudges See @OldFlak 's feeback above, looks like the Y height needs fine tuning

[2022-03-16 13:15] UltraVox001 commented on #2240
@rvanner
Intel(R) Core(TM) i5 4460 - CPU 3.20 GHz (4 cores)
NVIDIA GeForce GTX 1060 (6 GB)
16 GB Ram - SSD Hard Drive - Windows 10 Pro 64 bit

[2022-03-16 13:16] UltraVox001 commented on #2240
What is strange is that sometimes it works correctly.
But most of the time (90%) it works very badly.

[2022-03-16 13:17] rvanner commented on #2240
The GPU looks like it's struggling with the shadows.

@PaulSJ What do you think?

[2022-03-16 13:17] PaulFox12 opened #2535 "MAX: Ragdoll+ glitches"
See photos - Two character creator characters placed in a level are glitching in odd poses when killed. A bug with the ragdoll+ system?
![death glitch 1](https://user-images.githubusercontent.com/78652980/158596232-533b132e-33ab-4c48-921a-08337cf30d64.png)
![death glitch 2](https://user-images.githubusercontent.com/78652980/158596234-92a0e090-4b67-44f9-8bbe-9b9250ad915b.png)

Below is the scene fr

[2022-03-16 13:18] ZakJudges commented on #2491
@OldFlak Thank you for reporting this. Could you let me know if it is fixed for you in tomorrow's build? :)

[2022-03-16 13:19] UltraVox001 commented on #2254
It's ok now. :)

[2022-03-16 13:19] #2254 closed

[2022-03-16 13:27] LeeBamberTGC commented on #2527
@rvanner It appears the majority of the 78 characters in the snowy mountain level were actively checking the floor under their feet four times per cycle, not a great use of CPU time.  I have added code that keeps characters dormant until they are seen by the camera, line of sight with the player. They then perform actions normally.  My own AI Logic went from 2.9ms to 0.3ms on starting the level, y

[2022-03-16 13:28] rvanner commented on #2527
Ha! That sounds like a great breakthrough. Let me know as soon as the new version is ready.

[2022-03-16 13:37] rvanner opened #2536 "Terrain texture different in test game!"
I did a complete fresh install this morning. Then made a simple plains level. When running test game two things went wrong;

1. I feel through the floor
2. The texture was different in game to the level editor!

Also note that the Ally turns around without animating her legs

Video;
https://youtu.be/t2u7kTJNl-I

[2022-03-16 13:43] ZakJudges commented on #2534
@dllllllllllb A good one for you :)

[2022-03-16 13:55] rvanner commented on #2535
@PaulFox12 Can you send me the fpm of this level so we can test it?

[2022-03-16 14:05] LeeBamberTGC commented on #2527
@rvanner Okay, update now and let me know if you get 60 FPS.

[2022-03-16 14:08] rvanner commented on #2536
I did an undo but now it's not falling through the floor. Cannot reproduce it.

[2022-03-16 14:29] ArgentArts commented on #2523
@dllllllllllb This was the previous internal build to test enemies walking through doors. As of last night's internal build, this issue is not present (just tested it). When it was happening, it was when I from both the Level Objects and Objects Library. And it was only happening with this one character (that I was aware of). I had tested a few others and they all came in fine.

In any case, after

[2022-03-16 14:43] ArgentArts commented on #2528
I gave up on using groups because they are useless as they are. I made custom collision meshes for my interior levels, grouped them with their appropriate counterparts, and then tried to move everything into place. Got mixed results. Sometimes I would lose the collision meshes, which is hard to notice since they are invisible. Other times they would end up off kilter due to auto-adjusting orientat

[2022-03-16 15:02] LeeBamberTGC commented on #2530
@rvanner Fixed for next build

@dllllllllllb Just so you know the latest of this level is on the server now :)

[2022-03-16 16:20] bluemeenie195 opened #2537 "Max bug with old particle system"
I've noticed when testing particle scripts using the old particle system, the particles will change to the default smoke particle after so many times. I know this was done to save memory with GG classic, but can it be shut off in Max ?
Thanks

[2022-03-16 16:23] dllllllllllb commented on #2534
@rvanner Right now there is an option to only start with one weapon, I think having unarmed gloves as default selected weapon is a good idea.

@LeeBamberTGC The Player Start.fpe has a setting "hasweapon" which was set to "enhanced\\Gloves_Unarmed" however player would spawn without them and in the player start marker customizing settings, the default was always set to "No Weapon".

Changing "haswe

[2022-03-16 16:27] rvanner commented on #2534
@dllllllllllb OK, fists will do.

[2022-03-16 16:30] dllllllllllb commented on #2535
@ZakJudges I think you have more experience with Characters, I haven't touched them yet :]

[2022-03-16 16:34] rvanner opened #2538 "Cannot close Intro video due to button being off screen"
This has happened on Meash's laptop.

![image](https://user-images.githubusercontent.com/1503593/158640430-c5ff0a34-0fab-4151-aa55-0910a6b09fea.png)

@ZakJudges Can you see if you can work out why this is back? It was fixed some weeks ago.

[2022-03-16 16:40] ZakJudges commented on #2538
@rvanner Will do. What resolution is Meash's laptop displaying?

[2022-03-16 16:46] rvanner commented on #2538
1920x1080

[2022-03-16 16:48] PaulSJ commented on #2489
@LeeBamberTGC Definitely better than it was, but if I move up the hill characters will sometimes follow me
![Navmesh Bounds](https://user-images.githubusercontent.com/8309736/158643529-c4216bd1-efd7-4683-bb3e-f4180ad4360a.jpg)

[2022-03-16 16:53] LeeBamberTGC commented on #2489
@PaulSJ Can you make a small video with the latest master and the Snowy mountain level so I can see how you provoke the character to go off-nav :)

[2022-03-16 17:12] LeeBamberTGC commented on #2534
@dllllllllllb I am on AI right now.  If you have no luck with this one, assign to me for Thursday AM, thanks!

You can only have ONE weapon selected by default, and the player start marker must have this setting first so it can propagate through the rest of the system. As Rick says, choose the Melee Combat as the default setting in the player start properties when you drop one down.  You also need

[2022-03-16 17:16] ZakJudges commented on #2490
@rvanner I've added a new section to the Edit Game Settings in the storyboard. If a Game Developer description has been saved then it will be displayed in the hub.

[2022-03-16 17:21] PaulSJ commented on #2489
@LeeBamberTGC Video 1: https://drive.google.com/file/d/1cSBTZsWFw8lA8IODdKj877fA2PN71OfN/view?usp=sharing
Video 2: https://drive.google.com/file/d/1T3i4viwNuc2SN6gBx7ycFjAn1rsoSQyS/view?usp=sharing
Run using the latest master at the time

[2022-03-16 17:25] dllllllllllb commented on #2534
@LeeBamberTGC Unfortunately I couldn't fix it 100%. However if you want to replace the .fpe file so at least when the user goes into start marker customizing settings, the default weapon is set to unarmed gloves then here's the .fpe file :]
[Files - Updated Player Start Marker.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8266837/Files.-.Updated.Player.Start.Marker.zip)

[2022-03-16 17:25] AmenMoses commented on #2537
It's probably because the script is not freeing up the storage, try specifying an Id for the images, i.e.:

ParticlesLoadImage( <file>, 10 )

[2022-03-16 17:36] rvanner commented on #2490
Thanks Zak!

[2022-03-16 17:57] LeeBamberTGC commented on #2489
@rvanner I have done some running about with the very latest on this level, and cannot really get the characters to move off the nav mesh. Be aware there are a LOT of nav mesh on the hills and plenty routes up there.  Let me know if you spot any high issues and put them on the board for Thursday, thanks!

[2022-03-16 19:41] bluemeenie195 commented on #2537
Thanks AmenMoses, I'll give that a try.

[2022-03-16 20:10] ArgentArts commented on #2420
@LeeBamberTGC Will there be a fix for this in this Friday's build? Should I look to test this then?

[2022-03-16 20:11] thecyrus opened #2539 "GG Max - Zombies eating noise does not stop if you kill them on the floor"
[https://youtu.be/4Q52bqCDtpY](https://youtu.be/4Q52bqCDtpY)

If you kill them while the eating sound is playing, it doesn't stop.

[2022-03-16 20:20] ArgentArts commented on #2420
Here's a video of what's happening at the threshold of my doorways:

https://user-images.githubusercontent.com/36735507/158683547-7cd0e6a6-20f9-412b-b8a4-4832bcc28526.mp4

[2022-03-16 20:31] ArgentArts opened #2540 "GameGuru MAX - Switch Escape Level Does Not Have Screen Shot"
See title and screen shot below:

![se](https://user-images.githubusercontent.com/36735507/158685503-bbb7cbcb-a348-4811-9886-72fc8062f1b2.png)

[2022-03-16 20:33] Ratall commented on #2538
On my machine this always occurs whenever you run from the upgrade. but it goes away when you run it as normal. this has been happening for the last 3 updates. Mine is NOT a laptop.

[2022-03-16 20:40] ArgentArts opened #2541 "GameGuru MAX - Request - Storyboard Nodes to Have Different Look or Color"
At first glance, a complex storyboard can be confusing. I think part of this can be because, at a glance, it difficult to tell one storyboard type from another, even if they are clearly marked. Look at Island Showdown as an example:

![sb](https://user-images.githubusercontent.com/36735507/158686153-59e263b9-e7c4-4356-8f21-e4705b953211.png)

This is a relatively simple one and only has one level.

[2022-03-16 20:42] ArgentArts commented on #2420
BTW - I took the above video after doing a download of MAX that included the Foggy Forrest demo in it. I don't know if any code had been updated. Even so, I thought I would inform you.

[2022-03-17 01:34] OldFlak commented on #2491
@ZakJudges - Just updated
Still seeing same thing although more centered now, the plus image is stretched and distorted
![HUB - Distorted Plus Image](https://user-images.githubusercontent.com/12246318/158718652-958e5b9c-d667-440d-af25-ec8b7a111a05.png)

[2022-03-17 02:49] Necrym59 opened #2542 "GGMAX - Global Barrel?? Lua Script Holder"
Is it possible to have a multiple global lua script anchor for scripts that are run globally not always placed on the legendary barrels. Or is this already in there somewhere im unaware of. I might have 5-10 scripts running on a level for global uses that just get assigned to barrels averywhere. One global lua anchor that can contain mulitiple scripts would make life alot easier.

[2022-03-17 03:08] Necrym59 opened #2543 "GGMAX - Behaviour / Settings Enhancment"
The Behaviour section should have the view cone, view angle and rate of fire, not the Developer section as it is now, it makes no sense in there.
Secondly can we get an 'Item Dropped' field for any enemy/npc  in Character Settings that can be used for any named item to be dropped upon its death. It could be standard, health, ammo or 'special named ' that could be picked up/used by other lua script

[2022-03-17 03:53] Tum1370 commented on #2477
@dllllllllllb
I see a similar issue about saving after the auto flatten was mentioned before now.
issue #2445

[2022-03-17 05:56] ArgentArts commented on #2543
I think we're thinking in similar terms:

https://github.com/TheGameCreators/GameGuruRepo/issues/2525

[2022-03-17 06:20] Necrym59 commented on #2543
Well ill be.. i didnt even see your request - great minds think alike :)

[2022-03-17 06:35] Necrym59 commented on #2522
Maybe this will help Argent
http://necrym.DiskStation.me:5000/sharing/BSHquDtBz

[2022-03-17 06:48] ArgentArts commented on #2522
@Necrym59 What is the file? Slider? Is it for a sliding door? If so, thanks. But my request is for something larger. I have a lot of uses for triggers in general and need them to work as a trigger volume, sort of like the Plrinzone, but that Behaviour removes the zone after it does it job. I need a permanent zone that is there to always do it's job. ;)

[2022-03-17 06:53] ArgentArts commented on #2420
https://user-images.githubusercontent.com/36735507/158753321-a5254ac9-6578-4859-8ec8-83de1ecdca83.mp4

[2022-03-17 06:56] Necrym59 commented on #2522
Sorry I misunderstood, email me and explain exactly how you would like it to work and ill see what I can wip up
necrym@gmail.com

[2022-03-17 07:03] ArgentArts commented on #2522
I really appreciate it. I really do. What I actually want is for TGC to implement a solution that all of us can use within MAX. Even if it's a Behaviour that works similar to the Plrinzone behavior, but doesn't remove the zone afterward. That way the zone can be used to trigger events of all kinds and be sized.

However, having the ability to use a trigger volume, which is pretty standard in most

[2022-03-17 07:40] rvanner commented on #2489
@LeeBamberTGC Here's a video of me playing the snow level. You will see:

- At 40 seconds in, one of the characters manages to escape the tunnel area, he goes to the left behind the box and manages to get behind the scene
- At 55 seconds, a soldier runs up above the navmesh area to the edge of the snow line. I would not expect he could do that

https://youtu.be/17nrRpqT1aA

[2022-03-17 07:53] Ghost-l0l opened #2544 "GG Max - buggy voice recordings"
1 picture says more than 100 words, but 1 video says more than 100 pictures:
https://youtu.be/CaRZh57xWfI

[2022-03-17 09:27] Necrym59 commented on #2522
Is this the sort of thing your after
Self Extracting Version
http://necrym.DiskStation.me:5000/sharing/KfsrAMUMK

Zippped Version
http://necrym.DiskStation.me:5000/sharing/AIKUFGxWz

[2022-03-17 09:50] ArgentArts commented on #2522
I'll start by saying, you rock! Thanks, really.

However, no. That's close. It sort of does what I want, but not quite. Because I can attach the marker behaviour you've created to the volume as a trigger, I cannot assign another behavior to it. For example, what if I want this area to act as a switch (i.e. use the Switch Behaviour while the player is inside the volume)? If Trigger volumes simply .

[2022-03-17 09:50] ZakJudges commented on #2491
@OldFlak Third time's a charm. A fix should be in tomorrows build :)

[2022-03-17 10:32] AmenMoses commented on #2542
Just combine them into one script!

[2022-03-17 10:34] OldFlak opened #2545 "MAX - Useful Features We Had - Please Bring Them Back"
We used to be able to clone locked objects - now you have to unlock them first

If you lock objects - it is three clicks to get the widget to show

Some objects, especially with transparency, can only be selected via the Detailed Objects List

Nothing stays at the original height when cloned, no matter what method you use

Not to mention all the darn popups
- I promise I clicked the button to plan

[2022-03-17 10:55] LeeBamberTGC commented on #1124
@blueFireGames Now moving up and down slopes performs terrain footfall sounds on materials equally well in next internal build.

[2022-03-17 10:57] LeeBamberTGC commented on #2133
@Skevos-Mavros Updated the player capsule physics system so moving up and down slopes performs equally well, including jumping and footfall sounds.  There is a connected issue still to be worked on which looks at player interaction with static object physics, which is current reported here: https://github.com/TheGameCreators/GameGuruRepo/issues/1269

This one I think is ready for testing with the

[2022-03-17 11:02] UltraVox001 commented on #2133
@LeeBamberTGC
It's the same problem as mine : [https://github.com/TheGameCreators/GameGuruRepo/issues/2240](https://github.com/TheGameCreators/GameGuruRepo/issues/2240)

[2022-03-17 11:31] ArgentArts commented on #2545
You can still clone it. Just select it and then drag it in from the Current Objects area. Even if locked, it will create a duplicate.

Using CTRL+C and CTRL+V also works on locked objects.

I can select invisible objects (alpha clip set to 0) by clicking in their general location in the view port.

Yeah, this is a pain. I wanted to clone several lights and keep them all at the same height. I had t

[2022-03-17 11:32] LeeBamberTGC commented on #2133
@Skevos-Mavros I agree, it does look like a GPU drain. As the other issue 2240 has more evidence for a GPU issue rather than a physics one, I will close this as we already have another physics player movement issue live and @UltraVox001 has the detailed report if this is a GPU issue.

[2022-03-17 11:32] #2133 closed

[2022-03-17 11:42] OldFlak commented on #2545
This is not a forum - please don't clutter thread with banter or workarounds :)

Locked objects **do not** show in Current Object area
Selecting semi transparent objects is broken - some work some don't. Not referring to alpha clip.

All issues in op used to be flawless - used to be.

[2022-03-17 12:02] LeeBamberTGC commented on #1269
@ZakJudges This was related to physics system loosing track of material detection briefly, causing the player velocity accumilator to slow down / speed up. Now material remembered long enough to overcome occasional 'non touch' events between player and physics world.  Building roofs no longer 'slow down' but DO make it harder to climb UP than to climb DOWN.

Be aware the natural sharp edges of som

[2022-03-17 12:04] LeeBamberTGC commented on #2261
NOTE: Marked this as POST EA so we can continue to peel ideas from it to make new issues for AI after March.  Plenty from the lists done, ready for March release.

[2022-03-17 12:05] OldFlak commented on #2545
![Lock Objects Not Clonable](https://user-images.githubusercontent.com/12246318/158804927-a1d73b84-1833-44cf-960e-6c5048f68c93.png)

[2022-03-17 12:22] OldFlak opened #2546 "MAX - 2022.03.18 - Sort Projects Selection Not Retained"
To replicate
Go to HUB:
Select Sort Z-A in Sort Projects list
- Close MAX
- Open MAX list will now have Newest displayed

All will be good even if you close/open MAX
Now select any project
- Open it in storyboard
- Open one of the levels then return to storyboard
- Return to HUB

The list will now be sorted by Newest again

Or it could possibly be showing last edited project?

[2022-03-17 12:29] UltraVox001 commented on #2139
@LeeBamberTGC
It's better than before. It works, but not always. Some switches may still offer to be used while on the other side of the wall. This especially happens when there are two switches in the same place, but on either side of a wall.
![Switch](https://user-images.githubusercontent.com/96718175/158808538-7c541438-8371-4663-b605-99d33b2fb83b.jpg)

[2022-03-17 12:45] ArgentArts commented on #2545
Not sure why you're being like this. I know this is not a forum. I am trying to help. Because:

Locked objects DO show up in the current objects area:

![locked](https://user-images.githubusercontent.com/36735507/158811161-ae3c4a6c-7b13-4151-85ec-df61e2828ec7.png)

[2022-03-17 12:49] ArgentArts commented on #2545
Ah! I stand corrected. And this needs to be reported. GROUPED locked objects show up in the Current Objects area, but individual objects that are locked do not. Ugh. What a mess. Sorry about that.

[2022-03-17 12:51] MonkeyFrogStudio opened #2547 "GameGuru MAX - Locked Objects Issue"
Locked individual objects do not show, when selected, in the Current Objects area. Grouped objects that are locked do. Both should show up as current objects in the Current Objects area when selected.

[2022-03-17 13:02] OldFlak commented on #2545
No problem :)
We just need to think of the person who gets assigned to look into the issue - they have to read the whole thread :)

Yes the editor is a mess if you ask me - thanks for helping out tho :)
Your pic above is good example of helping fix the issue. Never thought to try Groups might be a good lead for them...

[2022-03-17 13:04] ArgentArts commented on #2545
Yeah, I didn't think I was showing you workarounds, but was showing that what you thought didn't work actually did. But you were right. Sorry about that. In the end, though, it turned up yet another bug. ;)

[2022-03-17 13:12] Tum1370 opened #2548 "GG Max - Patrol Rifle Damage ?"
Am not sure why, but you can aim perfectly using the scope on the patrol rifle, but when you fire, even though the aim is perfect, you dont seem to hit or do any damage.

[2022-03-17 13:15] Tum1370 opened #2549 "GG Max - Request - Can we have random options for a placement of an item."
Can we have options to have randomly placed items within the game.
Lets say, we need to find a key to get through a door.
Can we not place several / many keys in various different locations, that all open the one door, but only one of these keys will randomly spawn / visible at the start of the level.

Therefore making every playthrough different, having to make the player search for a key / objec

[2022-03-17 15:26] LeeBamberTGC commented on #2377
Added default behavior to soldier to mill about when not doing anything, and not instructed to stand guard.  The TOO MANY PATHS is deferred until it is reported elsewhere.  Considered a non-essential idea for EA.

[2022-03-17 15:35] LeeBamberTGC commented on #2384
@Tum1370 Fixed patrol behavior so they no longer walk on spot when on a flag and can see the enemy:

![image](https://user-images.githubusercontent.com/35840583/158835691-96987015-f27b-4d92-a744-ca95b7d951ab.png)

All characters are able to move about, no one gets stuck in latest internal build.

I appreciate there is better 'crowd control' systems we can use, but that will be a post EA and a new

[2022-03-17 15:38] rvanner opened #2550 "Remove floor relfection in the Model Importer - looks like a bug"
![image](https://user-images.githubusercontent.com/1503593/158836643-d5de9de4-b4a3-4362-aa61-df1a63271c22.png)

[2022-03-17 15:43] #2493 closed

[2022-03-17 15:43] #2488 closed

[2022-03-17 15:47] #2473 closed

[2022-03-17 15:48] #2289 closed

[2022-03-17 15:48] #2397 closed

[2022-03-17 17:18] LeeBamberTGC commented on #2420
@ArgentArts New internal build with tweaks. Let me know how your AI work out :)

[2022-03-17 17:21] LeeBamberTGC commented on #2548
@Tum1370 Even the patrol rifle has bullet drift and inaccuracy. There is no such thing as an infinitely straight bullet trajectory, but I see your general point. Would be nice if you can paint a red dot and hit it robin style :)  Maybe a future weapon or more options after EA.

[2022-03-17 17:40] ArgentArts commented on #2420
@LeeBamberTGC Nope. One guy went through the walls, but this has only happened once so far. None of them will cross the thresholds of the doorways. I'm guessing it's because they are raised? Though they are coming up to the very top edge this time, instead of standing at the bottom of the slope.:

![edge](https://user-images.githubusercontent.com/36735507/158862401-2bc89e96-73d5-4c0e-ab8b-b86bfe27

[2022-03-17 17:41] ArgentArts commented on #2420
They are attacking/chasing me more aggressively, though, in this level, which is nice. Just need them to cross over that hump! ;)

[2022-03-17 17:50] ArgentArts commented on #2420
@LeeBamberTGC Sure:
![nav](https://user-images.githubusercontent.com/36735507/158864377-b55245b7-5ec5-442f-bb9e-5a20a6429391.png)

I can do a video walkthrough with the navmesh on, too, if you need.

[2022-03-17 17:54] ArgentArts commented on #2420
@LeeBamberTGC Do you just want the doorway and the door meshes? Where would I send them because I don't want to post them here for everyone to be able to grab. ;) And you've not been able to get my emails for some reason.

[2022-03-17 17:57] LeeBamberTGC commented on #2548
@Tum1370 I know it might be a vote of ONE right now, but do you feel we should wipe out inaccuracy for the patrol rifle?  Maybe open this up to the commuity. It might be cool to have an uber weapon in the ranks.

[2022-03-17 17:59] Tum1370 commented on #2548
@LeeBamberTGC Yes, I think as long as they are hold their breath and take the shot, it should kill.

[2022-03-17 18:03] Tum1370 commented on #2548
@LeeBamberTGC
Maybe have it like as long as you are totally holding your breath, whilst taking the shot, the inaccuracy goes to 0. That way it’s like a proper rifle.

[2022-03-17 18:09] LeeBamberTGC commented on #2548
@Tum1370 Nice idea. Maybe get some other community members to chime in here, and I will make happen for EA :)

[2022-03-17 18:12] LeeBamberTGC opened #2551 "Look at LUA LOGIC use of INTERSECTALL and see if using the STATIC FLAG and PHYSICS RAY will work for LINE OF SIGHT"
Find out why the SNOWY level drops below 60 fps on Ricks PC due to 'LUA LOGIC' and 'OBJECT LOGIC' and solve or time slice the work to ensure the spike does not exceed 2-3ms. That should keep the FPS at 60 FPS or thereabouts.

[2022-03-17 18:23] ArgentArts commented on #2420
@LeeBamberTGC I'm finishing the level now (getting ready to package it up). But I've pretty much discovered it's the door that's causing the issue, not the doorframe. I've created a long hall that has the doorframe without the door and one with the door. The soldier rushes through the doorframe without the door, but once he encounters the one with the door that's been raised, he won't cross the th

[2022-03-17 18:42] ArgentArts commented on #2420
@LeeBamberTGC Email was just sent!

[2022-03-17 18:43] ArgentArts commented on #2420
@LeeBamberTGC BTW - another thing happens in the level - my player moves slowly up the ramp. It's not that steep. It feels strange to slow down that much for such a small area.

[2022-03-17 19:08] MonkeyFrogStudio opened #2552 "GameGuru MAX - Bug or Request? - Developer Show Additional Developer Options Has to Be Checked Every Time!"
Every time I shut down and restart MAX Advanced/Show Additional Developers Options gets unchecked. This means I have to re-check it every time I restart MAX. And since you always have to hit that YES button every time you click the Developer TAB, this is a small PITA. Since we are actively testing MAX, I want this thing checked every time I am in MAX. And I probably always will. So, I don't know i

[2022-03-17 19:34] ArgentArts opened #2553 "GameGuru MAX - BUG? - Pressing Z or CTRL+Z Makes Grass Disappear/Appear"
If you press Z all the grass (and only the grass) disappears. Press it again and it reappears. Pressing CTRL+Z also makes all the grass disappear and reappear in like manner. Is this supposed to be a feature? I didn't see this in the list of keyboard shortcuts. If it isn't, it appears to be a bug. If it is, then it still seems to be a bug because pressing CTRL+Z should just undo the last thing you

[2022-03-17 19:37] ArgentArts commented on #2548
As the old meme goes - why not both? Could there be a checkbox for the patrol rifle that makes it very accurate at all times or "real world" accurate or some such so the developer can decide how they want the patrol rifle to function?

Personally, it's fun to finally get something like a sniper rifle and be able to pick off the enemy from a loooong distance. ;)

[2022-03-17 20:02] ArgentArts commented on #2420
@LeeBamberTGC - Did you get the email with the link to the ZIP with the test level?

[2022-03-17 20:26] Tum1370 commented on #2548
Thing is though, You cant pick them off at long distance as most shots miss, I just use the assault rifle now as its much better at range shots, whereas it should not be.

[2022-03-17 20:35] ArgentArts opened #2554 "GameGuru MAX - Request - Behaviour for Moving/Animating Materials"
I would love to see a Behaviour added that would allow us to move materials along a surface. This would be good for simulating things like lava flows, water slowly moving, and other special effects. Being able to actually move or "slide" a material along a surface would allow for a nice, smooth motion as compared to using only a few "frames" from a sprite sheet.

[2022-03-17 20:43] stuartds86 commented on #2548
I totally support this as an issue. I wasted over a day trying to get long range shooting with the Patrol rifle to work. Editing the gun spec itself to get it somewhat accurate. If it has a zoom sight it should be accurate, more so when holding breathe otherwise its not worth using. I'd be interested in creating a game similar to the Sniper Ghost Warrior series and this rifle is the only option at

[2022-03-17 20:46] ArgentArts commented on #970
Any word on emissive being fixed?

[2022-03-17 22:04] Necrym59 commented on #2522
OK i think this will do as you ask
Self Extracing Version
http://necrym.DiskStation.me:5000/sharing/nIrcuHeiS
Zip Version
http://necrym.DiskStation.me:5000/sharing/ujoOfd8zX

Just use it as you would a normal switch. Just use the logic connector to attach to a door etc.

[2022-03-17 22:49] djeronimoBiH opened #2555 "Open GL problem on Dell G15 5511, RTX 3060, i7, Win11pro."
I have this Win11pro problem (screen shot attached). Configuration is Dell G15 5511, RTX 3060, i7, Win11pro.

![GGMax OpenGL problem](https://user-images.githubusercontent.com/13538007/158906726-a2be3772-a471-4e32-b266-9e8f72634fee.png)

[2022-03-17 23:59] fearlesswee commented on #2548
It's hard to tell what's the gun being inaccurate, and what's just the hit registration being rubbish. In Lee's recent stream he was unloading the rifle at point-blank at a zombie, which did not react nor seem to take damage (it was an exploding zombie of which Lee killed several and they seem to only be able to take a single point of damage, so if any of his shots landed it should have clearly di

[2022-03-18 01:42] Necrym59 opened #2556 "GGMAX Enhancement Option"
Is it possible to get a list of the game logic connections. When you select Shooter game icon nothing visually happens except to allow or show the connections in the view screen which is fine but a tab section list of logic connections would be helpful.  As the connections/logic grows a list down the side for instant jump to a logic connection would be good.  This would be especially good for late

[2022-03-18 01:45] OldFlak commented on #2491
This is not fixed.
![HUB - Distorted Plus Image](https://user-images.githubusercontent.com/12246318/158921567-d071c367-de59-4289-a95e-1ea90c217112.png)

Best to not have it there at all if you can't get it to display correctly :)

[2022-03-18 02:10] Mt-Chiliad-UFO commented on #2554
Absolutely. I had this thought long ago, but haven't delved deeply into the concept. My idea then was to use particles and add that behavior to them. Since I couldn't change the foundation of Particles behavior as required, I didn't pursue it. Regardless of what you use, I do think it would only be a few lines of Lua code.
But... the discussion would have to go along the lines of "What is a materi

[2022-03-18 03:09] OldFlak commented on #1269
Player Movement issues in todays build are actually worse now - no longer just in certain areas, but now everywhere.

I created this level from scratch - simply used default Terrain Generator settings.

Apart from some obvious graphical issues - everywhere the player goes he is struggling to walk or run - always feels like being held back.

https://youtu.be/NcK6vtg5Oqs

[2022-03-18 05:46] ArgentArts commented on #2554
It seems to be a fairly common way to do things in other engines.

A material is ... a material according to the engine. A texture applied to a surface of some kind. It's what is displayed. When you work in Unreal or Unity, there's not really a discussion as to what is a material. You open the material editor and you edit your material. If you want that material animated, there's a method to do it

[2022-03-18 06:13] ArgentArts commented on #2522
@Necrym59 You are amazing and so is this script! Thank you so very much! I love the automatic part, so I can have events happen just by the player entering the volume.

Having said that, the Behavior does seem a bit buggy. There are two things I've noticed already:

1 - On manual mode I get the message "E to switch on" and can activate the door from very, very far away from the actual volume ... a

[2022-03-18 06:25] Necrym59 commented on #2522
Ill have a look at it, Max can hold on to things in its cache i have noticed sometimes a save/reload or at worst rest fixes it, yeah please send me a vid link so i can debug it. I think  it could be a good addition to max.

[2022-03-18 06:34] ArgentArts commented on #2522
Here's the video:

https://user-images.githubusercontent.com/36735507/158949515-7b7f95aa-80f4-4dea-ae1e-00b088457dab.mp4

Now, in this case, I couldn't get manual to work, even with a restart, but automatic was working ... though from a great distance (and all the way up to the door). But you can see when the Open message was appearing (and disappearing). When manual does work, it works like autom

[2022-03-18 07:24] Necrym59 commented on #2522
Ok Argent heres v3 see how ya go
[trigvolume_v3.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8302413/trigvolume_v3.zip)

[2022-03-18 07:31] stuartds86 commented on #2548
I set up physics based oil cans as a shooting range and tried to shoot them but they weren't being hit either at range. Instead I needed to be close up to have any effect.

[2022-03-18 07:38] ArgentArts commented on #2522
@Necrym59 This one is also opening from very far away despite the size of the trigger volume, both in automatic and manual mode.

[2022-03-18 07:39] Necrym59 commented on #2522
you dont have always active on do you??

[2022-03-18 07:41] ArgentArts commented on #2522
Do you mean "Switched on"? No, I don't have that checked.

[2022-03-18 07:41] Necrym59 commented on #2522
oh wait i think i know now--ill be back

[2022-03-18 08:55] LeeBamberTGC commented on #1269
@OldFlak Thanks for providing a video. Not sure what the video is showing. Maybe you can walk in a straight line (not run) and allow time for the video to show the 'stutter' you report.

[2022-03-18 08:56] LeeBamberTGC commented on #1269
@ZakJudges Can you also confirm the player movement is now broken everywhere, thanks.

[2022-03-18 09:08] Necrym59 commented on #2522
OK this one is better for now, we have to lose the invisibility or there is nothing to check collisions with so just make it invisible with alpha clipping in materials. Also added a range limiter for tweaking far activation which shouldnt happen now anyway.
I will have to do some deeper checking for extraneous collisions and will work on it. Give this a go
[trigvolume_v4.zip](https://github.com/Th

[2022-03-18 09:12] ZakJudges commented on #2491
Hi @OldFlak, here is how it looks on my side:
![Screenshot 2022-03-18 090617](https://user-images.githubusercontent.com/32545391/158973438-473f2c94-3e94-47cc-9660-57f08d8e51aa.png)

Would you be able to check this again, after the Friday build goes live? I'm thinking perhaps my changes didn't make it into the latest internal build :)

[2022-03-18 09:24] Granada1 commented on #2522
Is it ok if I try this  !

[2022-03-18 09:26] ArgentArts commented on #2522
@Necrym59 This is mostly working. I still get the "E to switch ON" text at "random" intervals as I approach the Trigger Volume going down the long hall. And when on automatic, there's one area before the volume that actually opens the door and then closes it, all before I actually get to the trigger volume. Other than that, it works great!

I'll do a video of what it's doing ... be just a moment.

[2022-03-18 09:30] dllllllllllb opened #2557 "AI - AI walks in place"
https://gyazo.com/903352fbc94b69747254d4856a6ef543
 https://prnt.sc/xi1cvwaAe45b

Edit: Some extra material, maybe it will help :]
https://gyazo.com/ce434c7f4cd9b5c7770017d7c4d5199d

[2022-03-18 09:32] OldFlak commented on #1269
@LeeBamberTGC Sorry to be a thorn :)

The video shows the player movement is not smooth - once the player is moving I am holding down the W key, some times I have engaged shift for running. The whole time the player is walking or running there is constant speed increase/decrease as if player is being held back.

Here is another one that shows it better:
In this video once player is moving he is ru

[2022-03-18 09:32] ArgentArts commented on #2522
Here they are:

https://user-images.githubusercontent.com/36735507/158977498-550b88d7-9bad-4dd3-8803-ab08fbd242fb.mp4

https://user-images.githubusercontent.com/36735507/158977508-324887dd-04fc-44e1-90af-0dcf7630e3ce.mp4

As you can see, on automatic, the door rises early at one spot. On manual, the message shows up several times way before the player gets to the trigger volume.

[2022-03-18 09:33] ArgentArts commented on #2522
@Granada1 - I certainly don't mind. I believe that @Necrym59 made this for anyone, not just me.

[2022-03-18 09:41] dllllllllllb opened #2558 "AI - Trigger boxed don't alert AI properly"
This happened to me with the 1st enemy encounter in the River Raiders demo.
Even though I'm inside the trigger box, AI just aims forwards and stands there.
![image](https://user-images.githubusercontent.com/61796872/158978896-ed8c4b7c-6570-4671-9b21-6aa71e069500.png)

[2022-03-18 09:54] ZakJudges commented on #1269
@LeeBamberTGC I was able to reproduce the issue that OldFlak is seeing. I think its due to the difference in speed between going uphill vs downhill. When there is a slight change in the steepness of the terrain, there is a significant change in the players speed. I.e. Going uphill is so much faster than going downhill, that when you go from uphill to downhill or anywhere in between, it feels like

[2022-03-18 10:01] OldFlak commented on #2491
@ZakJudges Thanks for reply - yes that is perfect! - Will try with next build :)

[2022-03-18 10:03] Granada1 commented on #2522
👍

[2022-03-18 10:04] dllllllllllb commented on #2201
@LeeBamberTGC The changes I made in #2191 fixed this. I made a dynamic warehouse , placed it on a corner and when I run test game / standalone it doesn't autoflatten the terrain as the warehouse falls.

[2022-03-18 10:14] ArgentArts commented on #2522
@Necrym59 There are other issues I am running into with this. I tried using this to automatically open the door, then close it on the opposite side. Exiting the volume does not trigger the toggle. So, I tried attaching a second Trigger volume (one to one side and one to the other) to toggle the door state. For whatever reason, the second one would not do anything. It just wouldn't work.

A nice fe

[2022-03-18 10:19] ArgentArts commented on #2522
The manual side of this is working great ... other than the random "E to switch ON" text ... which I've turned off. ;)

Again, thank you so very much for creating this!

[2022-03-18 10:44] Tum1370 commented on #2548
Ye its not a good gun, When in fact at range it should be the best gun, and accurate.

[2022-03-18 11:17] ZakJudges commented on #2546
@OldFlak Thanks for reporting this. I've added saving/loading of the sort setting so that it is retained after closing and reopening MAX.
Newest actually means the most recently modified. Since the storyboard has autosave enabled by default, when you open a project and go back, it will appear first in the list since it was saved. I could change the setting to read "Most Recent" or something like t

[2022-03-18 11:25] ZakJudges commented on #2544
Hi @Ghost-l0l, thank you for reporting this issue. I have added a fix which you should see in a build soon :)
The issue was caused by the sound variant system. When a .wav file is labelled with 1,2,3 etc, the system will think that they are variations of the same general sound. This is used for things like enemy callouts, to ensure that the same sound is not played over and over.
I have added a ch

[2022-03-18 11:27] rvanner commented on #2546
@ZakJudges I think Most Recent is a clearer label to use

[2022-03-18 11:40] OldFlak commented on #2546
@ZakJudges Thanks for looking at this.
`Newest actually means the most recently modified.`
Yes, Most Recent makes sense. The confusion comes into play if you choose Z-A or A-Z as your preferred sort method.

But if the list is being saved so whenever you come back to the hub it sorts by users last selected preference it would save confusion. :)

[2022-03-18 12:09] dllllllllllb commented on #2477
@Tum1370 I believe I have fixed this, to keep things organised I'll close this one and use #2445 as the main thread. If there are any follow up issues with this one, let me know in this thread #2445 :]

[2022-03-18 12:09] #2477 closed

[2022-03-18 12:24] ZakJudges commented on #2538
@rvanner I haven't been able to reproduce this. I have added a fix which might prevent the issue but I am not sure if it will have any effect. Could you ask Meash to check the next internal build? :)

[2022-03-18 12:25] rvanner commented on #2538
@ZakJudges I think @Ratall 's feedback is interesting. It only happens after the update. Did you try that?

[2022-03-18 12:30] ZakJudges commented on #2538
@rvanner I tried an update and a fresh install, but the video appeared in the correct position

[2022-03-18 12:51] synchromesh62 commented on #2538
Does this for me on every reinstall rollback or full update ( which i have done a lot of lately )
often have to close it via the right corner cross but is always fine second attempt and stays that way.

[2022-03-18 14:06] dllllllllllb commented on #2219
@LeeBamberTGC Pressing the switch activates the particle and after leaving the test level, the particle is still activated. After deleting the particle widget, particle effect is still there. I tried changing visual logic to toggle the particles however that didn't make a difference. Then I tried replacing them, but I can't connect new particles to the switch and I can't rotate the particles so th

[2022-03-18 14:41] Tum1370 opened #2559 "GG Max - Bug ? Delete level from Storyboard but does not delete all files from bankbank and projectbank"
Is this a bug ?
If we delete a level from the storyboard, there is always 2 files in the mapbank, and 1 file in the projectbank that relates to the level that we delete.

We then have to always enter the folders ourselves, and delete these files to tidy up.

Really the editor should delete all 3 of these files when you click delete level.

[2022-03-18 14:48] Mt-Chiliad-UFO opened #2560 "GG MAX AI combat- push opponent +"
It seems like in a real scenario if you ran full speed into an opponent, they would not behave like a static wall. So I suggest whether in melee or even while carrying a weapon, if you run into the opponent - there is a physics law reaction for every action. Particularly so if we could have a "push" or "kick" move, they will stagger backward at least if not fall down with a well placed round. It's

[2022-03-18 14:54] mav3r1ck198-1 commented on #2555
do you know what GeForce drivers you are currently running? there were known conflicts between win11 and nvidia, especially whereby it couldnt "find" GPUs from the 30 RTX series. I had the same and rolled back to Win10.

Also, i dont think that GGMax supports Win11 yet, its based around systems using Win10 so it could be in relation to that?

[2022-03-18 15:14] Mt-Chiliad-UFO opened #2561 "MAX AI combat Question..."
@LeeBamberTGC
Can MAX AI always shoot through transparent objects?
I have this custom semi-transparent object and it's hard to determine how it is effecting the combat NPC's.
I (player) am trying to hide behind it while still seeing through it...
AI can always shoot or even walk through it, though physics is on and I have tried every collision type.
Maybe sometimes it slows the shots down-- but th

[2022-03-18 15:32] ArgentArts commented on #2420
@LeeBamberTGC Were you able to get my email and download the ZIP with the test level?

[2022-03-18 15:33] ArgentArts commented on #2420
As of today's build, the soldiers still won't cross my thresholds if they have doors that have been opened.

[2022-03-18 15:41] ZakJudges commented on #2558
This happens to me as well. I think it was introduced as part of the optimisation work where AI only do anything if the player has line of sight on them. Whilst dormant, they don't respond to any visual logic

[2022-03-18 15:45] ZakJudges opened #2562 "Death animation bug"
When characters play this animation, they never fall to the ground.

![Screenshot 2022-03-18 154414](https://user-images.githubusercontent.com/32545391/159035638-68156192-f0a1-4447-befa-b35ea0d32cd6.png)

[2022-03-18 15:57] PaulFox12 commented on #2548
An AR style rifle with a high magnification scope should definitely be more accurate than what the current patrol rifle. At the very least it should probably be adjusted for the EA release and beyond that it would be nice to open up some gunspec.txt variables to the editor so these can be adjusted by a games developer

[2022-03-18 16:01] ArgentArts commented on #2559
MAX leaves a lot of junk. Wait until you export a standalone! ;)

[2022-03-18 16:02] dllllllllllb opened #2563 "Weapons - AI with Patrol Rifle deal 380 dmg to the player per shot"
@LeeBamberTGC I know you have changed the damage value to be higher so the weapon feels like a sniper, but it has also affected the enemy AI and I think it's a bit too powerful. 380 damage per shot is a bit too much for the player to handle, especially with multiple enemies.

Let me know what you think and if we should nerf the weapon damage or make AI deal less damage with it :]

[2022-03-18 16:09] dllllllllllb opened #2564 "Player - Running up hills speed"
Here's a video of running up the hill, player runs much faster than normal (I'm holding shift all the time while running):
https://www.youtube.com/watch?v=1vcjM_NELP0

Here's a video of running up a ramp, player significantly slows down:
https://www.youtube.com/watch?v=AoMZ7Kpuu-w

[2022-03-18 16:13] LeeBamberTGC commented on #2563
@dllllllllllb See if you can nerf it to restore the damage of the sniper, but when the player shoots, it is x10 damage if they are using the zoom feature (secondary mode).

[2022-03-18 16:18] dllllllllllb opened #2565 "Player - Jumping issue"
Letting go of spacebar while mid-air snaps player back to the ground:
https://www.youtube.com/watch?v=8DLsNvGYVcM

[2022-03-18 16:25] dllllllllllb opened #2566 "Duplicated Objects - "Warehouse - Brick""
There are two "Warehouse - Brick", one doesn't enable autoflatten when the object is added to the level

[2022-03-18 16:27] dllllllllllb opened #2567 "Particles - Particle preview persists into test level"
This is an old one.

If you have "preview particle" on, and "show at start of level" off, the particles generated in level editor persist to test game and vice versa.

[2022-03-18 16:30] dllllllllllb commented on #2521
@LeeBamberTGC It's not fixed, here's the setup I was testing it with:
![image](https://user-images.githubusercontent.com/61796872/159043574-45c06d6d-3b72-4446-9b8a-5d099ac30f3a.png)
https://gyazo.com/0c72a0b3425bffd086358bec78e10671

[2022-03-18 16:30] ZakJudges opened #2568 "Enemies dance when they lose you after combat"
https://www.youtube.com/watch?v=rvIUAK6k9k8

To reproduce:
- approach a group of enemies so they notice you
- run away from enemies until they lose sight of you
- turn around and see them stuck until you get near them again

[2022-03-18 16:36] dllllllllllb opened #2569 "Weapons drop through the ground"
When an enemy with a weapon is killed an part of the weapon sticks through the ground, it will wiggle it's way through the terrain.
https://www.youtube.com/watch?v=plOYDpnKkn0

[2022-03-18 16:36] ZakJudges opened #2570 "AI walks too fast"
If you look at the enemies when they can't see you, they walk around very quickly. Going from the animation, they shouldn't be moving as fast.

https://www.youtube.com/watch?v=cQd4QU8tOwA

[2022-03-18 16:39] dllllllllllb opened #2571 "Standalone - "Skirt Grey" doesn't export to standalone properly"
In Level editor:
![image](https://user-images.githubusercontent.com/61796872/159044960-999664e5-4a18-4c02-8792-1a05a84d716f.png)

In standalone:
![image](https://user-images.githubusercontent.com/61796872/159045004-cb452d33-2d5b-4aa2-929a-1879798150b2.png)

[2022-03-18 16:39] MonkeyFrogStudio opened #2572 "GameGuru MAX - Minor Bug - Window Resizes After Test Game"
I've been doing screen shots for the manual at a specific size (1024 pixels across) and use a program called Sizer to ensure the windowed version of any program is exactly the size I need for any screen shots I take. Any time I do a test game (goes to full screen and then back to the editor) the editor GUI has been resized somewhat and I have to reset its size once again.

This is extremely minor,

[2022-03-18 16:42] ZakJudges opened #2573 "Screen Blood checkbox doesn't work all the time"

[2022-03-18 16:47] ZakJudges opened #2574 "Character headgear doesn't render correctly in the sun"
Here is Tony - Armed Response placed in a level exactly as he is in the object library.
![Screenshot 2022-03-18 164527](https://user-images.githubusercontent.com/32545391/159046406-62f4950d-2323-4c9d-96a8-764ef4ba679a.png)

Here he is after turning transparency off for his headgear:
![Screenshot 2022-03-18 164510](https://user-images.githubusercontent.com/32545391/159046389-ec4a29e8-8847-43ad-b906

[2022-03-18 16:49] ArgentArts opened #2575 "GameGuru MAX - Request - Storyboard Snapping"
This is a minor request - I would love it if we could have an option to enable snapping for the storyboard elements to keep our storyboards nice, neat, and orderly, especially as we develop more and more complex games.

[2022-03-18 16:54] ArgentArts opened #2576 "GameGuru MAX - Bug - Zone Issue with Delete and Undo"
Add a Music Zone:

![mzone1](https://user-images.githubusercontent.com/36735507/159047564-00ade9ed-8de2-45b4-a7f8-d2e802d0f0d2.png)

Decide you don't need it and delete it. Decide you do need it and hit CTRL+Z to undo your deletion (you'll have to hit CTRL+Z twice for some reason):

![mzone2](https://user-images.githubusercontent.com/36735507/159047641-d2c2ea31-0096-48b5-8bd8-43a6bdc9c732.png)

Wh

[2022-03-18 16:56] ArgentArts commented on #2576
In fact, this happens with EVERY ZONE of every kind - music, audio, text, trigger, etc.

[2022-03-18 20:02] Retrogamebloke commented on #2423
Ok, I'll check the files but do that often anyway :) If I get the bug again I will save the map afterwards and send it. There's no log files that may be of any use?

[2022-03-18 20:08] ArgentArts commented on #2420
On the level I'd sent you, I've been able to get the soldier to run through my threshold after the door's been opened, but I can't get it to work in my original level, even if I delete and replace the doorframe and door models. I'm going to do a test and rebuild the level from scratch with the latest build and see what happens. I'll report back here what happens.

[2022-03-18 20:15] ArgentArts opened #2577 "GameGuru MAX - Request - Add an Axis Indicator in the Viewport."
Some 3D systems are Z-up and some are Y-up. It's nice to have an axis overlay (small, in a corner somewhere) to help the end-user see the axis directions. It's useful so you can see what your rotating around when you type in a number in the rotation fields. A glance at an axis in the view port and tell you which direction each axis is pointing currently and help you orient for such things.

[2022-03-18 21:03] Tum1370 commented on #2497
Just need to add to this, If you add this to the Controls section, It needs to mention that V switches assault rifle to auto / single as well.
Or at least that is what i am seeing.

[2022-03-18 21:13] Tum1370 opened #2578 "GG Max - Speed running"
Just created a standalone test game, and i was speed running in it.
Am not sure whether it just standalone or even when you sometimes test game.
Sprinting certainly needs some kind of stamina. Am not sure whether thats the cause, but it would make sense to run out of stamina when sprinting.

[2022-03-18 21:59] ArgentArts opened #2579 "GameGuru MAX - Request - Auto-Center Storyboard"
I've had to take a lot of screenshots lately, which meant running MAX in window. And that means when I re-open MAX, which opens in full screen on my ultrawide monitor, the storyboard is off to one side or the other and I have to move it.

It would be nice if there were a preference for auto-centering the storyboard.

[2022-03-18 22:01] ArgentArts commented on #2578
Requested the same here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2400

[2022-03-18 22:23] casigus commented on #2511
just ran the latest version, this is still an issue, not as bad as last weeks build but its still overly senstive.

[2022-03-18 22:33] UNIRD12B opened #2580 "update 3.18 2022 cant find original maps and cant load them in"
just did the update and now I can no longer add in my original maps
by copying then in to the proper folders.
same with Projects folder.
and since there is NO SEARCH function at all ...I cant go from within GGMax
and try to locate them to load them in that way,,,,
Why are all original things still erased each time even this late in developement ????
HELPPPPPPPPPPPPPPPPP

UNIRD12B

[2022-03-18 22:59] ArgentArts commented on #2420
@LeeBamberTGC I've been able to get the soldiers to cross the threshold fairly consistently. What I did was widen my collision mesh (shown in green in the screen shot) to be a bit wider at the base than the actual visible mesh:

![threshold_6](https://user-images.githubusercontent.com/36735507/159094765-37a4cfb8-7b64-449b-b8b9-0886e4204fa5.png)

This made for a wider (and nicer) nav mesh as it cro

[2022-03-18 23:06] ArgentArts commented on #2420
Now, there's another issue (an old one has resurfaced):

https://user-images.githubusercontent.com/36735507/159095407-ee56f4aa-8089-4c80-8923-5009788098e5.mp4

[2022-03-18 23:34] ArgentArts commented on #2420
Ugh. Still running into issues with them coming through the doorway. I am going to experiment further. :(

[2022-03-19 00:17] ArgentArts commented on #2420
Flattening out the raised area totally removes the issue with the soldiers getting stuck at the door:

https://user-images.githubusercontent.com/36735507/159098892-079b06ac-7280-4d46-a4fe-24dfb1911c17.mp4

I am getting fluid and consistent results as long as I don't have a raised area at the threshold. As noted before, the raised area doesn't seem to pose an issue IF there was no closed door there

[2022-03-19 00:29] ArgentArts commented on #2580
In the future, until we get regular updates that don't replace everything, just to the backup file that MAX creates and copy the entire contents of the "files" folder over the new "files" folder. When Windows warns about writing over files, select the "no to all" option so no files overwrite anything. That way, only your files will be copied over and they will all go into the correct places.

This

[2022-03-19 00:36] UNIRD12B commented on #2580
Thx so much ,
   very good answer ,
   ill try it next time for sure.
Thx
UNIRD12B

[2022-03-19 01:13] Necrym59 commented on #2522
HI Argent V5 for your appraisal
[trigvolume_v5.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8308352/trigvolume_v5.zip)
Modes now are
- Auto Enter Mode
- Auto Enter/Exit Mode
- Manual Mode
Fixed the Prompt issue for non VR mode hopefully that fixes the strange appearances.
Give it a try and let me know.

[2022-03-19 01:14] ArgentArts commented on #2522
Thanks! You rock!

[2022-03-19 01:21] Necrym59 commented on #2522
Hopefully its functional all i have to do now is tidy it up a bit and do some scale checks etc.

[2022-03-19 01:22] ArgentArts commented on #2522
Have you tested this on the latest MAX build? For whatever reason, it's not working at all. I've even restarted MAX a few times. I'll test some more.

[2022-03-19 01:23] Necrym59 commented on #2522
just downloading now ill check it over

[2022-03-19 01:23] ArgentArts commented on #2522
Yeah, I can't get manual mode to work at all. In fact, none of the On Text/Off Text is even showing up.

[2022-03-19 01:26] Necrym59 commented on #2522
hmm try deleting the offending box and put a fresh one in then resave some times max hangs onto things but let me check first after ive downloaded the updatet incase they broke somthing :)

[2022-03-19 01:27] ArgentArts commented on #2522
I've done that as well. Several times. I even started a fresh project with just a door and the new trigger volume in it. It won't work. :)

[2022-03-19 01:27] Necrym59 commented on #2522
OK ill investigate:)

[2022-03-19 01:45] Necrym59 commented on #2522
Hey Argent can you send me a sample map with a corrior or door your using so i can test it

[2022-03-19 01:49] ArgentArts commented on #2522
Sorry. I was away from my PC. Give me a moment and I will send you the small test map. It's just a door with the trigger volume.

[2022-03-19 01:56] ArgentArts commented on #2522
Here you go:

http://www.argentarts.com/uploads/TriggerTest.zip

I hope I've given you everything you need. If I'm missing anything, let me know. It's just a door and your trigger in an empty. Of course, you have the standard MAX behaviors for the door to slide up (which is already attached to the door).

[2022-03-19 02:08] Necrym59 commented on #2522
OK the only problem i see is the Volume is below floor level the bas must be seen for collision purposes

[2022-03-19 02:11] ArgentArts commented on #2522
That did it! Works perfectly now. I didn't even pay attention to that. Just dropped it into the scene to test.

If you need help with a model or texture, let me know. That's my area of expertise. :)

[2022-03-19 02:12] Necrym59 commented on #2522
lol when i get time to actually build i just might - i do like some of the stuff you have done especially the doom redo :)  (im old school i know)

[2022-03-19 02:15] ArgentArts commented on #2522
Old school is the best!

Nope. Not from me. I've not made anything for the store.

[2022-03-19 02:19] Necrym59 commented on #2522
ah no that was avenging angel lol sorry
So how is it going is it ok - no biggie problems -  ready for me to tidy up the code!

[2022-03-19 02:26] ArgentArts commented on #2522
Let me test it some more. Give me about 5 more minutes. I was testing the new demos, doing FPS tests, etc. Just a moment ...

[2022-03-19 02:28] ArgentArts commented on #2522
There appears to be the old issue on both automatic modes  of it opening/closing the door way before getting to the actual trigger volume. I'll do a video.

[2022-03-19 02:31] ArgentArts commented on #2522
Here you go:

https://user-images.githubusercontent.com/36735507/159103432-07bcf27a-b604-4841-9385-5be08361f88f.mp4

There appear to be two spots that cause the door to just open/close right away ... like there's a trigger that's paper thin.

[2022-03-19 02:41] Necrym59 commented on #2522
Change your range limiter for that volume. Until i code the auto range limiter stuff.

[2022-03-19 02:48] ArgentArts commented on #2522
Works like a charm. Setting it to 100 is like magic. All functions (manual, automatic, and automatic entry/exit all work as expected. I love this script. :)

[2022-03-19 03:04] Necrym59 commented on #2522
Glad you like it enjoy! Any other bright ideas let me know :)

[2022-03-19 03:13] ArgentArts commented on #2522
Oh, that's a dangerous box to open, there! :P

[2022-03-19 03:17] Necrym59 commented on #2522
You may find some other scripts usefull i did for UltraVox and anyone for that matter here
http://necrym.DiskStation.me:5000/sharing/W7xblQKZm
 I havent got a website or posted them to the forums yet but there for everyone to use

[2022-03-19 03:21] ArgentArts commented on #2522
Thank you! I'll definitely look through them. I am code-blind, I suppose. Never really took to it. So, I do art. Any code help I can get, I appreciate. :)

[2022-03-19 03:22] Necrym59 commented on #2522
If you need somthing special for your project just email me Ill see what can be done.

[2022-03-19 03:25] ArgentArts commented on #2522
Can you send me an email to: contact@argentarts.com
That way I can have your email on file.
Thanks again. :)

[2022-03-19 08:28] djeronimoBiH commented on #2555
I do not think win11 is the problem. It is somewere between OpenGL and GGMax.

[2022-03-19 08:45] synchromesh62 commented on #2555
Great info on the driver ( that's probably the problem )
But having asked around many are using Win 11 and have been for quite some time without any issue.
I have even tried it myself and there were no problems so it does support it for sure.

[2022-03-19 09:12] Tum1370 commented on #2405
Latest build today, Saturday 19/3.
Still when i press PLAY GAME from the HUB i do not have the weapon visible.

![image](https://user-images.githubusercontent.com/66874403/159115155-699be6ed-9c42-4341-87a8-eb3a4d252a4a.png)

[2022-03-19 10:19] Tum1370 opened #2581 "GG Max - Trigger points that alert enemy, but the enemy does not run out and attack"
The update to the AI seems to of messed up older AI that was previously setup.
Seems very buggy setting it up.

I had some characters that only spawned from trigger spots, but they spawn inside buildings, and after spawning, it should attack, as its been alerted, Then after the player attacks it, another one spawns by been alerted.
But they just spawn inside the building and dont run out and attac

[2022-03-19 10:20] djeronimoBiH commented on #2555
![Nvidia](https://user-images.githubusercontent.com/13538007/159117172-817a45d7-6607-4177-a1c5-5ecc122ccebd.png)

[2022-03-19 10:21] Tum1370 commented on #2405
I have just tried everything to fix this issue,
I uninstalled everything to do with Max.
Cleaned my registry to clear anything to do with Max.
And reinstalled the whole thing.
Yet it still does this problem.

[2022-03-19 10:30] OldFlak commented on #1269
Not seeing any difference in Friday Public Release
- Same issue with outside levels - if you use any pines it is much worse
- Now inside feels like walking on treacle as well.

[2022-03-19 11:53] OldFlak commented on #2546
@ZakJudges Great work Zak
All seems fine in Friday Release :)

[2022-03-19 12:22] OldFlak commented on #2545
`In the end, though, it turned up yet another bug. ;)`
No it did not turn up another bug - it is already reported as such in very first line of op :)
But thanks for helping out....

[2022-03-19 12:26] ArgentArts commented on #2545
Uhm ... no. The bug I was referring to was that locked GROUPED objects show in the Current Objects area, but ungrouped locked objects don't. So, no, it was NOT in the first line of the op ...

[2022-03-19 12:40] 3coms opened #2582 "Crashing when looking for snake [GGMax]"
GGMax_2022_03_18
GGmax close when just typing **SN** letters, as the video shows.

https://youtu.be/qbusg-C8qrA

EDI: The snake is not in the **animal** category.

[2022-03-19 14:45] ArgentArts commented on #2582
Can't reproduce that here. I can get through the entire word "snake" without issue.

[2022-03-19 15:28] 3coms commented on #2582
**The snake is not in the animal category.**

Just adding something:
Just realize that for every strange reason, I don't own the snakes on my animal's folders, maybe this is causing the error, GGMax looking for something that does not exist, and crash.

If so, you have to deal with keywords then don't throw results, or return null values.
And why I don't own the snakes?

[2022-03-19 16:54] LeeBamberTGC commented on #2565
@dllllllllllb Fixed for next build

[2022-03-19 16:54] LeeBamberTGC commented on #2564
@ArgentArts Fixed for next build

[2022-03-19 16:55] LeeBamberTGC commented on #1269
@ZakJudges Fixed for next build

[2022-03-19 17:19] Ghost-l0l opened #2583 "GG Max - Particles invisible when looking through holo-sights"
https://youtu.be/z57Oj_s82h4

[2022-03-19 17:56] Ghost-l0l opened #2584 "GG Max - Zombies and armed soldiers can 'poke' through a closed door"
https://youtu.be/Z38xJsgtrXY - recorded after last update; GG Max Build 2022.03.18

[2022-03-19 18:37] Ghost-l0l opened #2585 "GG Max - female zombie falls on the ground and then stand up with buggy animation"
https://youtu.be/FoYS9ZVYLkU

[2022-03-19 18:44] synchromesh62 commented on #2584
In TGC's  Defence i am using the custom **door rotate script** created by Amen Moses.
I dont think the door blocker covers that one.
Only the official Stock door.

[2022-03-19 19:06] AvengingEagle opened #2586 "GG Max crashes loading level editor"
Windows 10 professional 64-bit
CPU: Intel(R) Core(TM) i5-6600 CPU @ 3.30GHz
RAM: 16GB
GPU: Nvidia GeForce GTX 1050Ti

Max version: 2022.03.18

Downloaded Max for the first time yesterday and it opened fine, spent 10 minutes playing but decided to hold off until the new update released that evening. But today, following the latest update, it won't get past the storyboard editor or terrain generator

[2022-03-19 19:28] Ghost-l0l commented on #2584
yeah, I saw that; It's interesting, because this door is a real physical object, you can put barrel next to it and door will push your barrel away, which can be very useful in many scenarios :) yet still can't stop those zombies

[2022-03-19 19:30] Kitakazi opened #2587 "Player falls through the terrain on test game"
On the default Max map - enter test game and the press escape. Enter test game again and the the terrain will change textures and the player will fall through the map.

Happens on 2nd "test game" and everyone afterwards.

Creating a new level will cause the player to always fall through the terrain on test game.

[2022-03-19 19:43] synchromesh62 commented on #2584
If you just want to stop them dead place another door in the doorway and **untick** show on startup
This will allow you to walk through but put a break in the navmesh so they cannot pass.

![block](https://user-images.githubusercontent.com/35708217/159136051-7831676e-5a2b-44fd-860a-8e6bf32438e9.png)

[2022-03-19 19:45] thecyrus commented on #2586
Same here, since the last update I can't load or play any level.

[2022-03-19 19:48] Ghost-l0l opened #2588 "GG Max - bugs and glitches with enemies"
https://youtu.be/2-7Qn6X42nY

If you try to recreate things like that you need to do it in right circumstances. It will never happen on empty map with just few enemies. You need to put enough stress on the engine - and what is "enough" might be different for every pc configurations.

 This example map got about 90 assets - in comparison "foggy forest" and "island showdown" got around 60 assets eac

[2022-03-19 19:57] Ghost-l0l opened #2589 "GG Max - water puddle mirrors 2d rotating sprite of tree instead of 3d model"
https://youtu.be/T_DHyfHuF4I

This one is not really that important, but still - it's there

[2022-03-19 20:29] Ghost-l0l opened #2590 "GG Max - entities flicker when stacking"
https://youtu.be/g0bl8tAzJMs
I wanted to make a quick level to record another buggy thing, but this started to happen (and it happens very frequently and its very annoying)

[2022-03-19 20:34] Ghost-l0l opened #2591 "GG Max - red dots in holo sights sink in environment"
https://youtu.be/oDvKbZYxDc0

gg classic don't have this problem ;p

[2022-03-19 20:52] LeeBamberTGC commented on #2548
@Tum1370 I have reduced the patrol rifle damage to (38*2) and currently working on the inaccuracy problem for the next build. I can confirm the issue of 'missing' when you should not when zoomed in and steady, so just a matter of time now :)

[2022-03-19 23:08] ArgentArts commented on #2584
All enemies seem to go through doors with this last update. I've reported it elsewhere. This is with their own scripts, too. It was fixed for a moment ...  but is broken again. Lee is aware of it, though.

[2022-03-19 23:14] OldFlak commented on #2447
Please do not use green or any color for that matter - just make the button darker to suit theme :)

[2022-03-19 23:16] ArgentArts commented on #2447
You're late to the game. They've already made the change. It's darker, just like you wanted.

[2022-03-19 23:24] OldFlak commented on #2447
No it is slightly darker when mouse over it - no difference at all
The issue is **not fixed** :)

[2022-03-19 23:30] ArgentArts commented on #2447
Strange. It was changed in a previous release. Wonder what changed it back.

[2022-03-19 23:32] OldFlak commented on #2447
Yes, seems to be the norm - fix it, break it - rinse repeat :)

[2022-03-19 23:36] OldFlak commented on #2447
`That's up to TGC to decide. :)`
Heavens no - they have fluffed the UI enough already.

All I am pointing out is the themes need to be respected - they have a habit of bad UI design. :)

[2022-03-20 01:55] ArgentArts opened #2592 "GameGuru MAX - Request - No Physics to Let Everything Through (or Other None Collision Mode)"
I've been working with Necrym59 to create a Trigger Volume (he's been doing all the work, I've been providing the idea) to use in MAX. He's got it working fantastically and it could be used for a wide variety of things that the current MAX zones and triggers don't allow for. However, there's one issue - even through we've set the Collision for the Trigger Volume object to No Collision and even tho

[2022-03-20 02:37] oldgamr commented on #2586
I am having the same issue. Started happening after update.
I can't load my own maps or the demos. Crashes at the same spot.

[2022-03-20 03:10] ivanski1983 commented on #2586
Wonder if its related. I have the same issue but it started with the previous build. Issue #2505. I started another level just to create buildings and now I cannot edit that level too.

[2022-03-20 04:26] Ratall commented on #2586
I can not create a level when I click generate terrain i just crashes could this be related

[2022-03-20 07:52] Granada1 opened #2593 "The good and the bad side of auto placement"
Very frustrating , a button to turn of auto placement in the main gui instead off keep jumping to settings would be great and speed up workflow

https://www.youtube.com/watch?v=NUS2xTMXhRI

[2022-03-20 08:50] Necrym59 commented on #2542
And then attach them to one barrell :)

[2022-03-20 08:52] #1667 closed

[2022-03-20 10:11] UltraVox001 opened #2594 "GG Max Bug Report - Issues with Gyzmo to manipulate objects"
This has been happening for several versions of Max.
It is very difficult to manipulate an object with gyzmo.
Video : https://youtu.be/oDrcU2gxzVQ

[2022-03-20 10:34] Granada1 commented on #2594
Use smart placement to put it where you want it then switch it off to do the final adjustments until a fix arrives 🤞

[2022-03-20 11:36] synchromesh62 commented on #2594
Im finding even smart placement moves when you re-select and item.
Its great putting a light down but jumps for me on reselection.

[2022-03-20 13:33] rvanner opened #2595 "Tree stretches out in odd way in River Raiders game"
Reported to me from Meash;

I got this in the demo River Raiders, looking out over the area outside the play area. Happens a few times, but only after a while getting lost in the level, while running using shift+top arrow. Bits of tree veg ending up blurred & showing in the sky as I move around.

![image](https://user-images.githubusercontent.com/1503593/159164773-dfd360b2-3680-4f97-8636-90f4e2194

[2022-03-20 13:36] rvanner commented on #2587
@Kitakazi Can you make a video of this please?

[2022-03-20 13:46] #2580 closed

[2022-03-20 14:07] ArgentArts commented on #2594
Reported in several places, including here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2469

Really, really want this fixed ASAP. :)

[2022-03-20 14:09] ArgentArts commented on #2593
Yes, please! 99% of the time I don't want auto placement at all. Please provide an easy way to turn this off. Requested something similar here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2412

[2022-03-20 14:45] AmenMoses commented on #2584
Well if Lee or someone would communicate how the nav mesh blocking is supposed to work I'll happily change my script!

I suspect it is some internal engine thing though as I can't see any new Lua commands in the standard script.

[2022-03-20 15:00] AmenMoses commented on #2584
Just realised there are two door.lua scripts, one in scriptbank and one in the objects sub folder.

Just going to look at the objects one to see if I can see any clues.

[2022-03-20 15:01] ArgentArts commented on #2584
The soldiers and zombies also can pass through any door with the sliding door script, too. Just an FYI.

[2022-03-20 15:09] AmenMoses commented on #2584
RDBlockNavMesh( x ,y, z, radius, blockmode )

That's the new command, and it has been added to the sliding door script so obviously not working properly atm.

[2022-03-20 18:15] Kitakazi commented on #2587
Version 2022.03.25

https://youtu.be/Gg8RnjfnOOg

[2022-03-20 19:08] rvanner commented on #2587
@Kitakazi Thanks for the video.

@LeeBamberTGC Watch the video, it's displaying the same type of issues I have been having recently.

[2022-03-20 19:15] AlterMatz opened #2596 "Game Guru Max Problem with update 03.18"
Hi since the Update to 2022.03.18 i have a problem.
The software crashes after pressing the Buttom "Generate Terrain and open the level editor".
The software stopps and i am on the desktop. I tried to reinstall or deinstall but that did not help.

[2022-03-20 19:43] ArgentArts opened #2597 "GameGuru MAX - Crashing Frequently on Importing Models"
Most of my testing over the months have been with creating my own indoor test maps using my own models. Which means I've been using the importer a lot. Rarely have I encountered a crash (i.e. the importer, in the past, has been rock-solid). However, since the 3.18 update, I've gotten frequent crashes on importing new models. Crashes have been as frequent as 1 in 3 or half my imports. When I say cr

[2022-03-20 20:03] thecyrus commented on #2596
A lot of people is having this issue, already reported.
And it doesn't only crash while opening the editor, but also trying to play a level.

[2022-03-20 21:00] Necrym59 commented on #2542
I was thinking more along the lines of a panel, so a global pool of scripts could be organised and timers set for processing for those that are not specifically attached to objects but can be, a myriad of uses actually, Global variables/keys/functions etc, and would be functionally capable to keep processing and game speed stable and optimised.  Attached example.
![global](https://user-images.gith

[2022-03-20 22:30] casigus opened #2598 "keys and switches"
Having an issue with keys and switches popping up with errors:

![image](https://user-images.githubusercontent.com/68471279/159188761-96a0ba36-41d0-45fa-8adf-340555968f6d.png)

[2022-03-20 22:35] casigus commented on #2598
![image](https://user-images.githubusercontent.com/68471279/159188929-9529d352-ccdd-4911-b5e9-62ed1ff2bbcd.png)

[2022-03-21 03:04] OldFlak opened #2599 "MAX - 2022.03.18 - FPS Counter Not Independent of Game Logic"
Should display at all times and not be affected by in-game lua
In the Vid, keep an eye on the FPS counter top right of the screen

https://youtu.be/u1Zg0GqWjoA

[2022-03-21 05:40] Skevos-Mavros commented on #2240
Since my thread on this issue (https://github.com/TheGameCreators/GameGuruRepo/issues/2133) has been closed in favour of this one (which is fine 👍 ), Just letting you guys know that I'm **_still_** having the same issues here on Build 2022.03.18.  I have pasted my GPU stats below.

Here is video I just made of a freshly generated map, no objects or tweaking at all - I just created the map and hit

[2022-03-21 06:04] Ratall commented on #2586
I removed GGMax completely and reinstalled. Now it will not run at all. It just dies after the flash screen.
It appears to die CREATING P-LIST though this may be a new problem, As I forgot to check the log during the previous problem my apologies.

[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8313364/Guru-MapEditor.log)
.

[2022-03-21 09:06] davetgc opened #2600 "Updater doesn't remember install path"
The MAX updater doesn't remember the install path if you install anywhere but the default destination.

https://user-images.githubusercontent.com/99803873/159231443-74890821-4dec-4a34-a5fd-89f26617fbdb.mp4

Video attached.

[2022-03-21 10:57] PaulSJ commented on #2505
@dllllllllllb Can you send the FPM to me as well please?

[2022-03-21 11:39] LeeBamberTGC commented on #2562
@ZakJudges I have removed this animation from the new build

[2022-03-21 11:54] dllllllllllb commented on #2588
@LeeBamberTGC This is not consistent, I only came across 1 enemy that had this issue but I also came across birds with this issue. I played this level a couple of times and it doesn't happen every time.

https://gyazo.com/26f721eaaaccae9d6ff194e68e189872

As you said in the meeting, this has probably something to do with the enemies being dormant

[2022-03-21 12:05] dllllllllllb opened #2601 "Puddle reflection bug"
In Snowy Mountain Stroll, puddle reflection is cutting off under certain angles.
![image](https://user-images.githubusercontent.com/61796872/159256418-119a7194-c370-4ba4-904d-a515a598a4ff.png)

This only seems to be happening with this asset, water reflections are fine.

Steps to reproduce:
Put down a puddle
Scale it up
Place trees around it
Set sky box to sunrise

[2022-03-21 12:32] #2454 closed

[2022-03-21 12:38] #2496 closed

[2022-03-21 13:24] 3coms commented on #1269
Here is quite noticeable, I even lost on my own map. lol
Here Player tries to run, but almost can't move away.

https://youtu.be/j4_C-11o5go

[2022-03-21 13:47] PaulSJ commented on #2505
It looks like it was caused by undefined scale values during loading that corrupted some vertices and did bad things to the navmesh generator. For reference the offending object was named "Ceiling Light"

I've added some checks for undefined scale values during loading. @LeeBamberTGC changes are on master branch

[2022-03-21 14:09] PaulSJ commented on #2586
Weirdly it all works here. If you rename or delete the file at "Max\Files\gamecore\projectiletypes\TracerParticle.dbo" does the log show it getting any further?

If so then something in the projectiletypes folder is causing a problem. You can try removing folders to see if you can nail down which one it is (renaming won't work they have to be deleted so just backup the folder somewhere else before

[2022-03-21 14:42] AvengingEagle commented on #2586
Deleted TracerParticle.dbo, tried running again. Loaded the terrain generator, made two small tweaks, then clicked generate terrain and open the level editor and it crashed to desktop again.

[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8316299/Guru-MapEditor.log)

[2022-03-21 14:55] migervais opened #2602 "GameGuru Max launcher crashes"
Hi there,

I just purchased GameGuru Max early access (OR: TGC94D9A7D4D) yesterday. After installing it I tried to run the launcher in administrator mode but the program crashes every time.
II was quite sure my configuration was ok but now I’M wondering if there is a memory issue or other potential problem. I have run a DxDiag and I’m pasting below some of the relevant data so you can have a look

[2022-03-21 15:06] PaulSJ commented on #2586
Can you zip up your Max\Files\gamecore\projectiletypes folder and send it to me?

[2022-03-21 15:44] rvanner opened #2603 "Intro Video not centered at start"
![image](https://user-images.githubusercontent.com/1503593/159289890-ec0fd24e-e254-412a-a74e-36416a723b69.png)

[2022-03-21 15:47] rvanner opened #2604 "Objects in the basement collection appear black when inside buildings (compared to other objects)"
@PaulSJ Lee wants you to look into this issue please. Is there an issue with their textures?

![image](https://user-images.githubusercontent.com/1503593/159298013-8f74925b-867a-478d-a4f9-dab196656902.png)

![image](https://user-images.githubusercontent.com/1503593/159298296-7dfd01e0-60ce-48a0-890a-4ab09e6f6a30.png)

[2022-03-21 15:49] AvengingEagle commented on #2586
@PaulSJ
[projectiletypes.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8316866/projectiletypes.zip)

[2022-03-21 16:28] LeeBamberTGC commented on #2603
@rvanner Fixed for next build.

[2022-03-21 16:50] thecyrus commented on #2586
My debugger blames assimp.dll.

Ecception not handled in 0x00007FF9CF886C34

[2022-03-21 16:52] dllllllllllb commented on #2539
@LeeBamberTGC I looked into it this afternoon and again I'm having trouble with finding where the code is.
I checked:
darkai_killai() as it had sound reset section
Entity.h
MakeAISound()
SetRawSoundData()
PlaySound()
and went through every single PlaySound() call but nothing has triggered my breakpoint.

I imagine the "Feeding" tickbox in "Zombie Attack" sets the animation and plays a sound but I

[2022-03-21 16:54] Kitakazi opened #2605 "Widget is Broken"
Place any entity on the map and try to move it with the widget. Click the arrows will instantly move the entity in random direction by a small amount. Click the drag boxes of the widget will instantly move the entity a large amount in a random direction, making the widget near impossible to use.

See video: https://www.youtube.com/watch?v=elYTymzP9Ew

[2022-03-21 17:01] LeeBamberTGC commented on #2557
@dllllllllllb Fixed for the next build. Was related to the overlap system not accounting for the Y location of the characters.

[2022-03-21 17:03] LeeBamberTGC commented on #2558
@ZakJudges Just so, all characters are dormant until the player camera sees them, and wakes them up. Also fixed a bug here so dormant characters also do not process their LUA script, to save performance and avoid them getting their animations stuck.  Triggers fine and billy bob now comes out when he sees you :)  Will be in next build.

[2022-03-21 17:05] LeeBamberTGC commented on #2539
@dllllllllllb You will need to use the BEHAVIOR EDITOR to find that code, but the underlying command is in the script command called "PlaySound" and "LoopSound" you can start your trace there for when it is triggered, and then you know which sounds to stop when that character is killed.

[2022-03-21 17:52] PaulSJ commented on #2453
It looks like darkai_setup_characters() is calling WickedCall_RefreshObjectAnimations() which is creating new AnimationComponent objects which then triggers wiScene::Scene::RunAnimationUpdateSystem() to allocate memory when copying the backwards_compatibility_data with
```animation_datas.Create(sampler.data) = sampler.backwards_compatibility_data;```
This memory is never freed.
@LeeBamberTGC Hopef

[2022-03-21 18:06] LeeBamberTGC commented on #2568
@ZakJudges FIxed for next build, they will idle at the last player spot position, and when combat time runs out, they return to their starting position.

[2022-03-21 18:07] LeeBamberTGC commented on #2551
@rvanner Made some further speed-ups of the LUA Logic call, no longer processing characters that are dormant. It might help.  I am also seeing spikes in the mountain level but it relates to GPU for me rather than CPU.  If time this week will want to look again at the heavy use of line of sight.  Keep this issue to remind me of this.

[2022-03-21 18:11] LeeBamberTGC commented on #2453
@PaulSJ MAX was developed during a time when Wicked Engine was overhauled, and animation data was partially moved.  The old implementation needed the old animation data for certain functions, so needed to be retained and accessed. It is okay if this data is created, and deleted when a new level is loaded, the data is however needed for both level editor and game for the object animations to work.

[2022-03-21 18:12] LeeBamberTGC commented on #2551
NOTE FROM RICK:
https://youtu.be/0F9LxLnQb30
Just look at these times 5:19 into the video:

[2022-03-21 18:13] LeeBamberTGC commented on #2219
@dllllllllllb Finish up this one and assign to me, I will take a look :)

[2022-03-21 18:14] LeeBamberTGC commented on #2219
@Tum1370 I will commit this for our internal testing :)

[2022-03-21 18:50] LeeBamberTGC commented on #2240
@Skevos-Mavros Thanks for the video. Can you do that again but with the TAB panel on so we can see how it breaks down, thanks!

[2022-03-21 19:17] ArgentArts commented on #2605
Reported here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2594

and here:

https://github.com/TheGameCreators/GameGuruRepo/issues/2469

[2022-03-21 19:19] ArgentArts commented on #2605
I disagree with labeling this as a "medium" bug. It makes it virtually impossible to use the widget/gizmo to place elements in your game level. And, at times, it can cause real issues, such as causing an element to fly off screen or under the terrain. It's a serious bug that is causing me to stop work on my game levels.

[2022-03-21 19:42] LeeBamberTGC commented on #2521
@ArgentArts A default light would show the constantlight behavior in the current build. You would need to choose another light behavior to get it to toggle:

![image](https://user-images.githubusercontent.com/35840583/159351400-e3651cb4-3c92-47f3-9353-9830665fb27f.png)

[2022-03-21 19:44] ArgentArts commented on #2521
@LeeBamberTGC Not sure why you're telling me this. In my screen shot you can clearly see that I have the light set up with a Togglelight Behaviour. ;)

[2022-03-21 20:04] ArgentArts commented on #2521
@LeeBamberTGC The last I tested this was three days ago, as can be seen in my screen shot. The "Togglelight" behaviour is what it was called then and, at that time, it did not work. In any case, I was not using a constant light, which is why I was confused as to why you were directing your previous comment toward me. :)

[2022-03-21 20:16] ArgentArts commented on #2420
@LeeBamberTGC Enemies still able to move through closed doors as of the internal build downloaded today.

[2022-03-21 20:48] ArgentArts commented on #2521
@LeeBamberTGC - Just installed the latest internal build (3.25) and here's what I've got:
![togglelight](https://user-images.githubusercontent.com/36735507/159361285-90a5e06c-32ea-465b-89c6-f03690c5a8e2.png)

[2022-03-21 21:04] LeeBamberTGC commented on #2420
@ArgentArts do you mean like this when the soldier is on the other side of the closed door, but poking through:

![image](https://user-images.githubusercontent.com/35840583/159363559-0fa14374-1f86-419c-8aeb-d05c64f85ec1.png)

[2022-03-21 21:06] LeeBamberTGC commented on #2521
@ArgentArts You might have some rogue files in your writables area, should look like this with a newly added light:

![image](https://user-images.githubusercontent.com/35840583/159363790-60b63a01-3f9d-4990-a33d-7d6b1dbe697b.png)

[2022-03-21 21:12] LeeBamberTGC commented on #2405
@ZakJudges Do you want to confirm this is done for this weeks build, thanks!

[2022-03-21 21:36] ArgentArts commented on #2521
No, I mean when you choose the togglelight behaviour in order to try to use a switch to control a light. Constantlight is the default, yes. But if you switch the behaviour from Constantlight to Togglelight and then set up a switch to control it, the switch does nothing and the light stays on.

[2022-03-21 21:41] LeeBamberTGC commented on #2584
@Ghost-l0l Yes this was due to some duplicate scripts door sliding and rotating door. Now using official versions for next build :)

[2022-03-21 21:41] ArgentArts commented on #2420
@LeeBamberTGC No, they come completely through the door as if there's no door there. Here's a video in today's internal release:

https://user-images.githubusercontent.com/36735507/159368387-1de68340-828c-4b6a-bd84-fd69ea6bd3d1.mp4

[2022-03-21 21:42] LeeBamberTGC commented on #2584
@dllllllllllb Can you confirm this fix for me, thanks!

[2022-03-21 21:43] LeeBamberTGC commented on #2521
@ArgentArts Can you snapshot your scriptbank markers folder, thanks:

![image](https://user-images.githubusercontent.com/35840583/159368519-e9d8c6cd-9a1d-47a0-a21c-5239a531bf4e.png)

[2022-03-21 21:44] ArgentArts commented on #2521
@LeeBamberTGC The one in my Documents folder or the one in the official GameGuruMAX install folder?

[2022-03-21 21:45] LeeBamberTGC commented on #2420
@ArgentArts Ah, it is probably related to custom content :)  If you can, try editing the radius value from 20 to say 200 in this line of code at the end of the door_sliding.lua script:

RDBlockNavMesh(g_Entity[e]['x'],g_Entity[e]['y'],g_Entity[e]['z'],20,blockmode)

[2022-03-21 21:46] LeeBamberTGC commented on #2521
@ArgentArts The GameGuruMAX install folder, there should be no scripts in the documents folder, at least none I am responsible for :)

[2022-03-21 21:47] ArgentArts commented on #2521
![markers](https://user-images.githubusercontent.com/36735507/159368989-417a0d93-fd25-4e94-b8ba-fa3960a85eca.png)

[2022-03-21 21:49] LeeBamberTGC commented on #2521
@ArgentArts Looks like the auto-updater is not distinguishing between lower and upper cases for existing files.  For now, just delete the scriptbank entirely, and verify files through the auto-updater and you should be right.

@ZakJudges Perhaps you can create an issue about this so we can solve it after EA.

[2022-03-21 21:53] ArgentArts commented on #2420
@LeeBamberTGC That didn't make a difference. The soldiers still charge through the door as if it's not there.

[2022-03-21 21:53] LeeBamberTGC commented on #2598
@dllllllllllb Can you reproduce this one with stock assets?

[2022-03-21 21:55] LeeBamberTGC commented on #2559
@Tum1370 We leave the FPM in mapbank as they are critical for your backups of older levels. It only removes it from the game project storyboard.  The projectbank file is kept in case you wanted to keep the thumb representing that level creation for the future.

[2022-03-21 21:58] ArgentArts commented on #2521
@LeeBamberTGC That did the trick. The Behaviour is displaying correctly ("Toggle Light") and the switch now works. :) Thank you!!!

[2022-03-21 21:59] LeeBamberTGC commented on #2420
@ArgentArts Is this scene in the "threshold.zip" you sent me?  If so, I can reproduce this Tuesday and also look into the original threshold issue to see if the problem has larger implications.

[2022-03-21 21:59] #2521 closed

[2022-03-21 22:01] ArgentArts commented on #2420
It is basically the same scene, though I had flattened the raised areas since then to allow the enemies through (though I liked the area better with the raised area at the base). But, yes, it's basically the same.

[2022-03-21 22:05] ArgentArts commented on #2420
@LeeBamberTGC It's basically the same scene, but if you need me to set up a new one for you, I can, though I can't get to it for a few more hours. Just let me know what you need me to do and I will do it.

[2022-03-21 22:25] LeeBamberTGC commented on #2420
@ArgentArts If you can send me a new one that will exactly show me the characters going right through the door when it is closed, that will mean I can reproduce quickly and provide a fix on Tuesday for you to test :)  Thanks!!

[2022-03-21 22:26] ArgentArts commented on #2420
I'll send you the exact level as it is with everything in it. Give me a few to put it in a ZIP and upload it.

[2022-03-21 22:37] ArgentArts commented on #2420
@LeeBamberTGC The email with link to download the new threshold ZIP has been sent. Please let me know you've received the email and when you've downloaded the ZIP file so I can delete it from my server. Thanks. :)

[2022-03-21 23:11] Necrym59 opened #2606 "GGMAX Enhancement Requirement"
Can we have an option to screenshot from the side panel within the editor, this would come in extremly useful for map making in  games as well during development of maps themselves. Images could be saved in 'screenbank' or something for later uses such as radar, gps screens, rpg maps etc
![screenshot_option](https://user-images.githubusercontent.com/95015657/159377793-7ead1b32-28a1-4edb-be70-810a0

[2022-03-22 00:33] mav3r1ck198-1 commented on #2596
Yup, this has happened 16 times for me since Friday, with 9 crashes ending in blue screen

[2022-03-22 00:41] mav3r1ck198-1 opened #2607 "Multiple crashes"
Windows 10 professional 64-bit
Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz   2.59 GHz
RAM: 32GB
GPU: Nvidia GeForce GTX 3060 RTX

Max version: 2022.03.18

Multiple crashes since update, usually within 5 minutes of opening the software.

If i manipulate the terrain in the terrain generator, crashes to desktop
ALL demos crash within 5 minutes of beginning to play
Manipulating the terrain whilst in the

[2022-03-22 00:43] 3coms commented on #1269
@LeeBamberTGC
After updating to the latest build, I've tried my swamp level (video above) and no player movement issues here,
The level load and works like a charm :)
Good work guys!

[2022-03-22 00:47] mav3r1ck198-1 opened #2608 "Graphics issues"
Graphics issues that prelude a crash. This was after a fresh install (within 10 minutes)

![github](https://user-images.githubusercontent.com/82544140/159385771-e8b7d043-fec8-4763-b820-201c18949588.png)

[2022-03-22 01:12] PaulSJ commented on #2453
Should be fixed in the next version

[2022-03-22 01:33] Necrym59 opened #2609 "GGMAX - Problem with mammals"
I have a Deer animated model trying to use the MAX mammal script. Everything seems to work ok except there is no movment of the model. The model has all the correct animations that match the others and it animates correctly as it should, it just does it on the spot. All the setting are identical i just cant seem to find the reason, is it the model or something in the script im missing.
[deer.zip](

[2022-03-22 01:41] Necrym59 commented on #2597
I can confirm this, I had reported it before and it seemed fixed for a while, now it seems to crash again after a few imports. Also while your at it can we have a importer that doesnt have to load into a map to use, one that is stand alone in its own gamespace using the asimp.dll. Then it could be launched from a button on the storyboad or as a standalone app.

[2022-03-22 04:20] Skevos-Mavros commented on #2240
No problem:

https://youtu.be/VgTFCI_sKYA

This shows the slowdowns I'm getting in GGM, but with extra information on display, as requested.  At the start of the video the game is running on the highest quality, but from 1:13 onwards it's running on the lowest.  In either case, once the trees and their shadows fill the screen and the FPS drops to below 24-25, suddenly the player is moving in slow

[2022-03-22 08:44] ZakJudges commented on #2405
@LeeBamberTGC I still haven't been able to sort this yet, since I can't reproduce it, I tried looking at differences between the weapon loading in standalone vs in-editor. The only difference I could see was the ammo pool system doesn't work in standalone when one type of ammo can be used for multiple weapons. Do you have any suggestions for where things might be going wrong? Thanks :)

[2022-03-22 09:09] dllllllllllb commented on #2607
Related - #2608

[2022-03-22 09:39] dllllllllllb commented on #2584
@LeeBamberTGC They don't go through the door, but they stand inside of it
![image](https://user-images.githubusercontent.com/61796872/159450837-0a1679ea-eceb-4f15-91bb-74de5ff77be0.png)

They also seem to really like the direction they were looking at when they got blocked by the door and refuse to rotate.
https://gyazo.com/d347465d3caf9febce28b0b27a949d2b

[2022-03-22 09:55] AmenMoses commented on #2609
The models animations need to have motion included and the .fpe settings need to match the stock  models.

i.e. look at one of the stock animals and make sure yours match.

[2022-03-22 09:55] GraPhiX-Guru opened #2610 "Latest version GameGuruMAX cannot create my own level"
Latest version of MAX, all demos work fine, any custom map i create crashes MAX to the desktop

video here https://youtu.be/xl7mMxvXZ_w

i have uninstalled and reinstalled twice issue persists, i have attached the log file
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8323134/Guru-MapEditor.log)

[2022-03-22 09:58] #2536 closed

[2022-03-22 10:03] GraPhiX-Guru commented on #2610
Here is a video when opening a Demo, as you can see that works fine
https://youtu.be/_54Lbu39YOc

[2022-03-22 10:04] Necrym59 opened #2611 "GGMAX - Terrain Texture Scaling Issue"
The scaling of some textures doesnt happen, when at a distance they are larger than when closer to the texture.
![scaled_graphics](https://user-images.githubusercontent.com/95015657/159456168-327203a0-0528-409f-9e35-595617df9a7d.png)

[2022-03-22 10:09] Necrym59 commented on #2609
Hi Amen, if you look at the sample i included its exactly the same as for example the 'fox' all animation names match and are called corrrectly what is this motion you speak of this is somthing im unfamiliar with, isnt movement handled by the script - how can it be handled by the animation and over what possible distance there are no specs to work with??

[2022-03-22 10:36] dllllllllllb commented on #2598
@LeeBamberTGC I'm not getting these errors.

@casigus Can you delete the scriptbank folder in "GameGuruMAX\Max\Files", update and verify files using the updater and let me know if you still get this issue :]

[2022-03-22 10:47] synchromesh62 opened #2612 "Content missing for playable Demos ?"
I reinstall weekly fresh and only usually the Max core with no additional packs.
However the **Game Demos 800 meg** is ticked by default ( as it should be )

I am still not getting all the assets for them especially Disruption and Switch Escape.
My own game Trapped seems to be fine but that has a self contained folder with the required assets.

![DD](https://user-images.githubusercontent.com/35708

[2022-03-22 11:09] davetgc opened #2613 "flags not working?"
Either flags aren't working, or I'm not using them correctly.

Character gets the the 1st one and then doesn't move on, but continues to walk on the spot. Youtube video link showing issue below.

https://youtu.be/7rdEKINELT8

[2022-03-22 11:20] OldFlak opened #2614 "MAX - 2022.03.25 - Glitchy Start"
Was not there in previous builds - something broke it :)
https://youtu.be/7bJP5YuHL2U

[2022-03-22 11:31] migervais commented on #2602
Hello,

I didn't get any reply from you yet.
So far, I am unable to run the software I purchased

[2022-03-22 11:36] PaulSJ commented on #2604
@rvanner Some of the objects such as the Distribution Box have all 0 in their ambient occlusion texture, this makes it appear black under ambient lighting. It should have at least some non-zero values in there for most objects.

[2022-03-22 11:38] #1995 closed

[2022-03-22 11:46] rvanner commented on #2604
@PaulSJ Thanks for that info.

@LeeBamberTGC Is there a quick way to add data to the assets missing AO data?

[2022-03-22 12:18] casigus commented on #2598
ah! was  going to give that a go actually! I'll post results when done !!!! 🙂
________________________________
From: Maciek ***@***.***>
Sent: 22 March 2022 10:36
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] keys and switches (Issue #2598)

@LeeBamberTGC<https://github.com/LeeBamberTGC> I'm not getting these err

[2022-03-22 12:44] #1269 closed

[2022-03-22 12:45] rvanner commented on #2614
Do you mean the black screen that appears briefly?

[2022-03-22 12:46] ZakJudges commented on #2612
Hi @synchromesh62, there were changes to the updater in yesterdays internal build which should sort this issue. Since it was the updater itself being updated, you will see no changes to it until you launch it a second time. If you verify your files you should see the demo files download. Could you confirm if that is the case? Thanks :)

[2022-03-22 12:49] LeeBamberTGC commented on #2602
@migervais Your system does not appear to meet the minimum specifications. Best you apply for a refund at this time. We are looking to test on lower-end systems, but for release our min specs are:

MINIMUM CONFIGURATION
Supported OS: Windows 10 or newer (64-bit versions only).
Processor: Intel Core i5-7400 | AMD Opteron 4274 HE, or better.
RAM: 16GB
Video Card: NVIDIA GeForce GTX 970 | AMD Radeon

[2022-03-22 12:49] #2602 closed

[2022-03-22 13:27] ZakJudges commented on #2612
@synchromesh62 Scratch that, the changes should be in tonight's build. Apologies :)

[2022-03-22 14:23] ArgentArts commented on #2613
@davetgc Did you connect the character to the first flag (seems so) and the first flag to the second flag, the second flag to the third, etc., using the logic connectors after clicking on the Shooter Icon?

![flags](https://user-images.githubusercontent.com/36735507/159503949-590ed83c-e69e-4520-a6cd-623911f22bdd.png)

[2022-03-22 14:46] ArgentArts commented on #2613
Awesome!

You should probably close this issue then, so TGC doesn't go searching for a bug. :)

[2022-03-22 15:07] LeeBamberTGC commented on #2551
NOTE: Works nicely. Replaced with physics ray for specific line of sight and AI works okay, keeping this one as a performance win!

[2022-03-22 15:08] LeeBamberTGC commented on #2613
@davetgc I have added some extra code so the character comes to a stop when they run out of flags they can validly follow.  Connecting the flags creates the path.

[2022-03-22 15:08] #2613 closed

[2022-03-22 15:09] LeeBamberTGC commented on #2610
@dllllllllllb Can you reproduce this for me with stock media, thanks!

[2022-03-22 15:48] LeeBamberTGC commented on #2604
The AO channel is now inside the _SURFACE texture so this needs to be repaired for all affected models.  The quickest way is to load in all these textures, and add WHITE to the channel controlling AO, and include these in this week's build. You need someone who can load, edit and save these DDS texture files.
Paul, can you let Rick know which channel (RGBA) includes the AO, it escapes me right now

[2022-03-22 15:58] dllllllllllb commented on #2539
@LeeBamberTGC I used the behaviour editor to change the .byc file but nothing I made has worked. (I made sure to update the behaviour every time).

It seems like the death of the zombie has a priority when executing code or the entity is deleted before the code is executed. I have tried adding these to the Zombie Attack behaviour but they have not worked:
In Feeding State (there already is one of

[2022-03-22 16:19] AlterMatz commented on #2596
I hope they can fix it before the 25 of march.

[2022-03-22 16:21] PaulSJ commented on #2604
It's the red channel

[2022-03-22 16:25] rvanner commented on #2604
@ZakJudges Can you sort these assets out please?

[2022-03-22 16:27] ZakJudges commented on #2604
@rvanner will do. Is it all objects from the Basement Collection?

[2022-03-22 16:29] rvanner commented on #2604
I don't think it's all of them. Eg the blue brick walls seem fine. Place them down into a room and see which ones turn black.

[2022-03-22 16:32] ZakJudges commented on #2604
Thanks for the extra info, will do

[2022-03-22 16:33] mav3r1ck198-1 opened #2615 "Collision Issues and falling through"
![github](https://user-images.githubusercontent.com/82544140/159521240-719f2058-4cc2-4aa9-adb8-a41c581e231d.png)

This is potentially caused by user error so please bear with.

Flattened the top of a mountain, added my own asset (castle turret), applied polygon collision, added a start marker to walk the walls and pressed test game.  when in the game. the character falls through the asset and then

[2022-03-22 16:39] #2603 closed, assigned to LeeBamberTGC

[2022-03-22 16:43] #2445 closed

[2022-03-22 16:43] #2491 closed

[2022-03-22 16:45] Ghost-l0l commented on #2605
Agree with Argent Arts - it's very important issue; And it gets waaay worse when you add more assets to your lvl.  Rotating is also very glitchy. It's slowing down building every level by few, or sometimes few dozen clicks Per Object! In more complex levels you literally need to chase your assets around the map!

[2022-03-22 16:48] rvanner commented on #2605
@Ghost-l0l and all. Lee knows you all want it fixed, it's on his list! :-)

[2022-03-22 16:58] fearlesswee opened #2616 "MAX - Shotgun's red dot sight needs new batteries!"
Jokes aside, the red dot sight affixed to the shotgun has no red dot! Should presumably be a quick fix that could be done for EA, since the red dot renders properly on other weapons, like the compact assault rifle.

[2022-03-22 17:08] fearlesswee commented on #2609
It's called "root motion animation", where the animation itself includes the motion data of the character; moving the "root" of the model hence the term. The primary benefit of doing it this way is it's extremely easy to include "uneven" motion that would be otherwise hard to replicate in script in a way that matches the animation, such as a zombie with a shuffling gait where they take a quick ste

[2022-03-22 17:12] AmenMoses commented on #2609
Yep, what he said.  :)

The fish and birds don't have it btw, but that is because it doesn't suit them but the mammals script requires the motion to be part of the animation.

[2022-03-22 17:19] smallg2020 opened #2617 "Max - dynamic lua is broken for floats and range"
using the float symbol or the range setting doesn't seem to be working in the new versions of max
a simple script like this should let you choose a float to display from the editor but it doesn't respect the range set (range is always 0 - 100) and the number shown in test game is not what you set / see in the editor
floats.lua
`--DESCRIPTION: [MYFLOAT#=0.5(0,1)]

g_floats = {}
function floats_init

[2022-03-22 17:19] PaulSJ commented on #2586
Unfortunately I can't see anything in the folder that would cause the crash, nor why assimp would be crashing since that hasn't changed in awhile. You can try replacing your Max/GameGuruMAX.exe file with the one from here https://drive.google.com/file/d/1ov4IqubcnVZ6h5dtJUZGz1NpISAbRxZi/view?usp=sharing and seeing if that changes anything

[2022-03-22 18:16] ZakJudges commented on #2576
@ArgentArts Thank you for reporting this issue, I have added a fix which you should see in this weeks build :)

[2022-03-22 18:18] ZakJudges opened #2618 "Add zone edits to the undo system"
- add a zone
- move one of its nodes
- undo
- the undo deletes the zone, instead of reverting its shape

[2022-03-22 19:23] Necrym59 commented on #2609
Ok thanks guys for for the explanations, ive done some reading on it all too. So essentially every mammal model that doesnt have it is useless in MAX, unless they are animators or write specific scripts - seems an unhelpful messy way overall, to me it it seems a script should cope with alternative scenarios of game developers models. Similar sort of restrictions seem to apply to models that arnt p

[2022-03-22 19:30] Necrym59 commented on #2611
No that shot is from a quiote a height, each green spec is a tree. The rocky texture is not being reduced as you go higher in fact its being magnified.
But i think it may have been an anomoly i havent been able to duplicate it myself now.

[2022-03-22 19:50] thecyrus commented on #2578
This would be a great feature to add to GG Classic too...

[2022-03-22 20:12] LeeBamberTGC commented on #2609
@Necrym59 You do not need to use "root motion animation", you can set the nav mesh following character to NOT use the spine tracker and use regular movement speed to follow the path if you like :)

[2022-03-22 20:15] LeeBamberTGC commented on #2586
@PaulSJ I committed a fix a few hours ago that 'would' crash sometimes if the level contained a smart object (like the candle in the cellar demo), fixed for the current internal build.

[2022-03-22 20:15] ivanski1983 commented on #2586
I swapped in the new .exe and I still have the same crashes

[dxdiagreport.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8327578/dxdiagreport.txt)

[2022-03-22 20:17] LeeBamberTGC commented on #2586
@ivanski1983 Alas looks like the "NVIDIA GeForce GTX 970M" is below our minimum specifications for the EA release.

[2022-03-22 20:25] Necrym59 commented on #2609
Thanks Lee, but im not sure how that is achieved? Im dumb when it comes to animated models i think. I understand what your saying but how/where do i impliment it, others will have to know as well i think. Sorry to consume your valuable time with this.

[2022-03-22 20:27] AvengingEagle commented on #2586
I'm on a GTX 1050Ti, which is not. Seems strange several people are reporting the same or similar issues but you can't replicate it. Once I have more time, I'll investigate further and try to provide more info on the specific crashes I'm experiencing.

I tried your EXE, Paul, but sadly it made no difference.

[2022-03-22 20:47] LeeBamberTGC commented on #2609
@Necrym59 Check out "scriptbank\animals\fish.lua" as that shows how to use a script that relies on movement speed.

[2022-03-22 21:03] Necrym59 commented on #2609
Thanks Lee, i do or will understand how to script for it,m i was hoping not to have to script for every model. My original point was if MAX is going to have a plug in behaviour for 'mammal-generic' then it should have dynamic script options or a script available for models that dont use rm bone motion. Its misleading and just plain wrong, theres nothing generic about it for most peoples models. It

[2022-03-22 21:32] ivanski1983 commented on #2586
![F67FAEEB-3A61-41A3-85C3-2C1CF22D166F](https://user-images.githubusercontent.com/78671386/159579318-155104da-2dac-418e-9960-6c28ae03db9f.png)

[2022-03-22 22:06] LeeBamberTGC commented on #2586
@dllllllllllb Can you find out who "PCGAMEBENCHMARK.COM" are and how they are able to state what MAX min requirements are, thanks!

[2022-03-22 22:35] Ratall commented on #2586
I have downloaded again and original problem back as it does not want to run the terrain editor and will not generate terrain etc tried the new exe no change
I have included the dxdiag and  the log files
[dxdiagreport.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8328266/dxdiagreport.txt)
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8328267/Guru-MapEditor

[2022-03-22 23:32] synchromesh62 commented on #2586
Sorry Lee took a quick Gander ..
Looks like its comparing Steam Specs to the users machine specs when it scans or whatever it does.
![specs](https://user-images.githubusercontent.com/35708217/159593126-3aa9b104-0382-4d9a-8654-1bc3c6598d8a.png)

[2022-03-22 23:37] Skevos-Mavros commented on #2136
Oops - just noticed that this was still open.

Yes, the original bug has been fixed, thanks!

BUT... the bounding box still operates in an unexpected/unintuitive way:

https://youtu.be/LftybFj4UWQ

In the video above, I'm holding down both shift and the left mouse button continuously.  As the pointer leaves the 3D view and enters the rest of the interface, it behaves in unexpected ways (switching

[2022-03-22 23:41] Skevos-Mavros commented on #2195
Sorry I'm so late getting back here.  Yes, this seems to be fixed.  Thanks!  But I don't have the option to comment and close on this one.

[2022-03-22 23:57] AvengingEagle commented on #2586
Right. I did some more tests, recorded my screen each time, and saved the applicable log file.

Crash 1: Trying to play a demo level
[Video](https://youtu.be/czpVmMsqB6A)
[Guru-Game.log](https://github.com/TheGameCreators/GameGuruRepo/files/8328538/Guru-Game.log)
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8328539/Guru-MapEditor.log)

Crash 2: Trying to edit a demo l

[2022-03-23 00:15] casigus commented on #2598
yas all good now :)

[2022-03-23 00:15] #2598 closed

[2022-03-23 00:58] PaulSJ commented on #2586
Can you try the following EXE https://drive.google.com/file/d/1CwmoKM5B9MyqdqCeMTJXijSgpPg191bc/view?usp=sharing it removes some SSE instructions we were using

[2022-03-23 01:38] Necrym59 opened #2619 "GGMAX - Enemy Characters"
Is it possible to have the enemy characters not start in T pose in game when at a distance.
![tpose_enemies](https://user-images.githubusercontent.com/95015657/159604717-cb83c808-21ab-4f0a-a1a1-e1f8dd76c425.png)

They do show ok in the editor though
![enemy_editor](https://user-images.githubusercontent.com/95015657/159604741-50ac2465-2c95-47da-9762-4b65c1e9f11e.png)

[2022-03-23 02:26] Kitakazi commented on #1738
I guess I will close this. If this happens again I will reopen.

[2022-03-23 02:26] #1738 closed

[2022-03-23 04:31] ArgentArts opened #2620 "GameGuru MAX - Bonus Content Gone with Last Internal Update?"
I updated just a moment ago and the bonus content (sci-fi male and female figures, etc.) are not found. I had a few of them in my test levels and they're not there any more and they cannot be found when I go to add them (bonus content is not a part of the menu now).

[2022-03-23 08:12] davetgc opened #2621 "Trees missing names"
![image](https://user-images.githubusercontent.com/99803873/159653034-4fb40cf8-1ad8-4cb4-9dda-a549d737481c.png)

Last 3 trees have no name.

[2022-03-23 08:24] GraPhiX-Guru commented on #2610
Been scratching my head with this, i have tried numerous things to no avail but this morning Nvidia released Driver Version 512.15 (Game Ready) so i did a 'Clean' Install of Nvidia Drivers my previous drivers were 511.** so they were not that far out of date.
After installing and re booting i can now load my custom levels !! not sure why the driver fixed it for me when the demo levels ran with 511

[2022-03-23 08:28] GraPhiX-Guru commented on #2586
I have had a similar issue and fixed mine. not sure if it will help any of you but worth a try none the less
https://github.com/TheGameCreators/GameGuruRepo/issues/2610

[2022-03-23 08:51] AvengingEagle commented on #2586
@PaulSJ Still crashed for me but I'm now verifying my files and will try a clean installation of my graphics drivers like GraPhiX suggested.

[2022-03-23 09:08] dllllllllllb commented on #2616
@rvanner Do we want a red dot sight on the shotgun?
![image](https://user-images.githubusercontent.com/61796872/159663317-baf9ad3e-8ef4-4609-91f2-e1915571a144.png)

[2022-03-23 09:25] dllllllllllb commented on #2619
@Necrym59 Can you please make sure GameGuru Max is up to date. I've tried this on the latest build and characters aren't starting in T-poses. This was an issue that got fixed not that long ago.
![image](https://user-images.githubusercontent.com/61796872/159666517-03bd38f1-aedd-49ed-ac0a-d3320352364c.png)

[2022-03-23 09:33] rvanner opened #2622 "If Intro video is set to play, it should not play after a game is played from the HUB when you come back"
If Intro is set to play on boot up, don't show it if MAX is reloading after a game has been played from the HUB.

[2022-03-23 09:34] rvanner commented on #2622
@dllllllllllb Not sure if you are the right person for this. Assign to who can fix it quickest, it needs to be fixed before release. Thanks.

[2022-03-23 09:40] Necrym59 commented on #2619
Well i took that image today on GameGuru MAX Build 2022.03.18
But after looking at it again its not every time its random, so i wouldnt be too concerned about it, and its only at long distance probably past the 3000 script limit .

[2022-03-23 09:44] dllllllllllb commented on #2622
@rvanner I'll look into it and if I can't get it done within 1/2h I'll assign it to someone else

[2022-03-23 09:44] rvanner commented on #2621
@dllllllllllb Call these trees "Autumn Birch 1", "Autumn Birch 2", "Autumn Birch 3"

[2022-03-23 09:47] dllllllllllb commented on #2619
@Necrym59 Our Internal build has this fixed. I'll leave it open for now, if you see this issue again with build version 2022.03.25, tag me here and I'll label it properly :]

[2022-03-23 09:51] dllllllllllb opened #2623 "Playing standalone game won't let you load a different project"
~~When you press "Play Game" on Demo X, exit it and then load Demo Y, you will get Demo X storyboard.~~
When you play a game from the Demo section, you can't load a different level without restarting GGM.

Video: https://www.youtube.com/watch?v=Y7ExCgL3TzA

[2022-03-23 10:37] rvanner opened #2624 "When the player dies in Snowy Mountain Stroll & Island Showdown, send them back to their last check point"
Currently the player dies and it's game over. The games are too hard for just one life and the check points have no use currently.

[2022-03-23 10:55] rvanner commented on #2586
@AvengingEagle If you can get back to us today with your latest findings that would be great. We are keen to learn why you're seeing this all of a sudden.

[2022-03-23 11:01] GraPhiX-Guru commented on #2586
Just another test i have done, my laptop had the same drivers 511.** and the same issue occurred, this time i tried something different, i left my Nvidia drivers alone, uninstalled MAX (completely) deleted the writable folder also, re installed MAX ran the demos and they worked fine, i then recreated my test level from scratch and that also ran fine ! restored my previous test level from a backup

[2022-03-23 11:04] PaulSJ commented on #2586
@GraPhiX-Guru Can you send me the old level that crashes? That might reveal something about these other crashes

[2022-03-23 11:11] GraPhiX-Guru commented on #2586
@PaulSJ sure here ya go, it was nothing special just a test
[Default.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8332471/Default.zip)

[2022-03-23 11:18] dllllllllllb opened #2625 "Trees - "Western Pine Tree" is loaded in as "Cactus Var 1""
Steps to reproduce:
Place a bunch of Western Pine Trees,
Save level
Load in a different level
Go back to the level with Western Pine Trees

![image](https://user-images.githubusercontent.com/61796872/159687716-67b9bc51-6df9-47dd-b192-395a0c241e10.png)
![image](https://user-images.githubusercontent.com/61796872/159687746-5c6994e9-0066-4a74-9b53-1418dfe44b7d.png)

[2022-03-23 11:21] GraPhiX-Guru commented on #2586
oh here is the project file too
[projectbank.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8332527/projectbank.zip)

[2022-03-23 11:24] Grogadog opened #2626 "cannot get to level editor"
after getting to terrain editor and making a couple of minor changes to size etc. I click the create level and goto level editor button and the game drops out out to desktop. I have removed GameguruMax with revo uninstaller and re-installed (2 hours). still same problem.
Same thing happens when I try to play a demo game - okay until it says loading level editor, than drops to desktop.
my laptop.

[2022-03-23 11:26] GraPhiX-Guru commented on #2586
Just a FYI i have now updated to 512.** on my laptop and my old level loads go figure

[2022-03-23 11:27] PaulSJ commented on #2625
Thanks, should be fixed on master branch

[2022-03-23 11:27] #2610 closed

[2022-03-23 11:28] PaulSJ commented on #2586
Thanks, unfortunately I can't see anything out of the ordinary so it is a mystery why that version of the driver failed in some cases

[2022-03-23 11:32] GraPhiX-Guru commented on #2586
@PaulSJ  roughly around the 7th March some fake Nvidia drivers were doing the rounds, i hope it as nothing to do with this.
I would advise anyone with Nvidia cards to download the latest drivers directly from Nvidia.
link to the news https://www.pcinvasion.com/nvidia-data-breach-malware-gpu-drivers/

[2022-03-23 11:34] ZakJudges commented on #2195
Great, thank you for confirming. Closing this issue

[2022-03-23 11:34] #2195 closed

[2022-03-23 12:01] Grogadog commented on #2626
just seen other user has same issue. https://forum.game-guru.com/thread/223405

[2022-03-23 12:11] PaulSJ commented on #2626
Can you rename the file "Max/GameGuruMAX.exe" and replace it with this debug version https://drive.google.com/file/d/13sUz32VZHmxbT-hHifHvcczNOefsS8Eb/view?usp=sharing it will be a lot slower but should hopefully give you an error message instead of a crash

[2022-03-23 12:12] PaulSJ commented on #2586
@AvengingEagle Can you try this debug version https://drive.google.com/file/d/13sUz32VZHmxbT-hHifHvcczNOefsS8Eb/view?usp=sharing it will be a lot slower but should hopefully give you an error message instead of a crash

[2022-03-23 12:20] Grogadog commented on #2626
---------------------------
GameGuruMAX.exe - System Error
---------------------------
The code execution cannot proceed because VCOMP140D.DLL was not found. Reinstalling the program may fix this problem.
---------------------------
OK
---------------------------

[2022-03-23 12:27] GraPhiX-Guru commented on #2626
I believe you have The Visual C++ Redistributable Packages missing you will need to install x86 and x64 versions from Microsoft

[2022-03-23 12:35] PaulSJ commented on #2626
Sorry, I forget about the debug runtime, place the following DLLs next to the EXE https://drive.google.com/file/d/1RjZMuTjZCuz6UqUReR1MMU39-MaIWiMa/view?usp=sharing you can delete them when you are done with the debug EXE.

[2022-03-23 12:47] Grogadog commented on #2626
No I have these. I have visual studio on my computer

On Wed, 23 Mar 2022 at 12:27, Kevan Hampson ***@***.***>
wrote:

[2022-03-23 12:50] Grogadog commented on #2626
[image: image.png]

On Wed, 23 Mar 2022 at 12:47, Stephen Horsfall ***@***.***> wrote:

[2022-03-23 12:59] Grogadog commented on #2626
Okay, I have replaced the .exe file in the 'max' folder. i have placed the
two debug files in the 'max' folder. same problem, drops to desktop.
S.

On Wed, 23 Mar 2022 at 12:50, Stephen Horsfall ***@***.***> wrote:

[2022-03-23 13:01] Grogadog commented on #2626
[image: image.png]

On Wed, 23 Mar 2022 at 12:59, Stephen Horsfall ***@***.***> wrote:

[2022-03-23 13:03] thecyrus commented on #2626
So many of us have reported this problem, it's really weird.

[2022-03-23 13:07] Grogadog commented on #2626
Just a note, I think this is the first time i have tried GGM since windows
11 update!

On Wed, 23 Mar 2022 at 13:03, thecyrus ***@***.***> wrote:

[2022-03-23 13:18] AmenMoses commented on #2609
The -generic bit means it works with all the stock mammals provided with MAX (i.e. the ones I was given to work with).

Custom models that don't have the same characteristics as the stock ones will need their own scripts as the script will be particular to the model itself!

If I get some free time I will see if I can adapt the script to work with your model.

[2022-03-23 13:30] dllllllllllb commented on #2622
Since the GGM is restarting after you quit the game, I think it will need to save and read a setting when exiting / loading. I don't want to mess things up before release.

[2022-03-23 13:33] Granada1 commented on #2626
`Just a note, I think this is the first time i have tried GGM since windows
11 update! `

there are a few it us running windows 11 so it should be ok 👍

[2022-03-23 13:34] rvanner commented on #2622
@dllllllllllb That's how I'd do it. So some flag that says this was started from the HUB and not from scratch. We need this in so please code it.

[2022-03-23 15:22] dllllllllllb commented on #2467
@davetgc Are you still getting this issue? :]

[2022-03-23 15:22] #2519 closed

[2022-03-23 15:43] ZakJudges commented on #2441
Hi @Retrogamebloke, I wasn't able to reproduce the issue of weapons not working after being picked up. Here is what I did:
- Created two levels and placed down some weapons and a win zone
- Exported to standalone
- Picked up a patrol rifle, ammo and fired some shots
- Entered win zone to go to next level
- I was able to pick up and use weapons as normal

Are you still experiencing this issue in th

[2022-03-23 15:46] ArgentArts commented on #2626
FYI - Running MAX on Windows 11 here with no issues.

[2022-03-23 16:02] LeeBamberTGC commented on #2539
@dllllllllllb No worries, thanks for assigning it back. My approach will be to stop 'all' sounds' that had been emitted by a character if it dies, that way it does not matter what mode the behavior was in when the character dies.  I believe there was some code to do this in the engine but I am guess it is being bypassed. I will post the solution here for your benefit when it is fixed :)

[2022-03-23 16:09] ZakJudges commented on #2443
Hi @Tum1370, in this Friday's build, could you confirm you are no longer experiencing this issue? Thanks :)

[2022-03-23 16:25] LeeBamberTGC commented on #2539
@dllllllllllb The location for the new code ended up in M-DAINew.cpp and just under the code which stopped the characters weapon fire when they died. Here is the extra code:

	// reset any looping/sounds
	t.ttsnd = t.charanimstates[t.tcharanimindex].firesoundindex;
	t.charanimstates[t.tcharanimindex].firesoundindex = 0;
	if (t.ttsnd > 0)
	{
		if (SoundExist(t.ttsnd) == 1)
		{
			StopSound (t.ttsnd

[2022-03-23 16:36] PaulSJ commented on #2626
@Grogadog Unfortunately I can't see your image, can you upload it somewhere, or add it to a comment through the Github webpage?

[2022-03-23 17:04] AmenMoses commented on #2609
[mammal_new.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8335067/mammal_new.zip)

That's how easy it is to change the script to work with the deer model but the speed of motion will need to be worked out to suit it properly.

[2022-03-23 17:19] davetgc commented on #2467
No, I'm not.

On Wed, Mar 23, 2022 at 4:22 PM Maciek ***@***.***> wrote:

[2022-03-23 17:38] Grogadog commented on #2626
sent to github S.

On Wed, 23 Mar 2022 at 16:36, PaulSJ ***@***.***> wrote:

[2022-03-23 18:08] Tum1370 commented on #2559
@LeeBamberTGC OK thanks for confirming, I can understand maybe keeping the FPM in Mapbank, maybe have it be stored in a deleted Map folder though within Mapbank ?
But as for the thumb in the Projectbank ? Doesn't that just seem messy, as it can easily be recreated ?

[2022-03-23 18:38] Necrym59 commented on #2609
Its a good idea i just wish there were more tools around to make it easier to edit models tro suit it, im no animator but hopefully MAX will create an animal DLC with all the features done. :)  - now that i would buy! Saves me writing about 30 animal scripts :)

[2022-03-23 18:43] AmenMoses commented on #2609
You can still do it with one script (assuming all the animation names match) by having the script select the appropriate animation/movement speed combo using the name of the model.

[2022-03-23 18:53] Necrym59 commented on #2609
but the  script wouldnt know unless in the script it has a list of animal type/specs or perhaps an external readable list file, would it

[2022-03-23 19:25] AvengingEagle commented on #2586
@PaulSJ Downloaded the EXE you provided and replaced the original EXE with it, and popped the DLLs in the same folder, next to the EXE.

Tried playing River Raiders, it crashed to desktop with no error code.
[Guru-Game.log](https://github.com/TheGameCreators/GameGuruRepo/files/8335952/Guru-Game.log)
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8335953/Guru-MapEditor.l

[2022-03-23 19:43] AvengingEagle commented on #2586
This, from dxdiag:

Windows Error Reporting:
+++ WER0 +++:
Fault bucket 1542470055435017530, type 4
Event Name: APPCRASH
Response: Not available
Cab Id: 0

Problem signature:
P1: GameGuruMAX.exe
P2: 0.0.0.0
P3: 623b06c5
P4: assimp.dll
P5: 5.0.1.0
P6: 60951b5e
P7: c0000005
P8: 0000000000116c34
P9:
P10:

[2022-03-23 20:09] ArgentArts opened #2627 "GameGuru MAX - BUG - Resized Window Hides Create New Game Button!!!"
If you resize your freshly opened GameGuru MAX, the Create New Game Button and the tick box below it disappear:

![resize1](https://user-images.githubusercontent.com/36735507/159786578-e9e68ffb-6089-4d86-8d10-293d8dd6c3a8.png)

It doesn't matter which color scheme (at least the default blue or this dark one), it's not apparent that you can scroll down to access it. It just looks like you can't pro

[2022-03-23 20:15] AmenMoses commented on #2609
Yes, I would put a list in the script with the key being the name of the animal.

I would have the script Prompt if it is attached to an animal that is not in the list.

The list should have the max speed value and animation speed, then some math to determine the appropriate values for 'walk', 'run' or  'flee'.

[2022-03-23 20:16] ArgentArts opened #2628 "GameGuru MAX - Bug - Resized Window Major Issue with Terrain Generator Window!!!"
If you try to run MAX in a Window, it causes issues with the Terrain Generator Window:

![resized3](https://user-images.githubusercontent.com/36735507/159787843-03efd169-89be-44a6-a9c5-30a45a563c74.png)

The reason I want to run MAX in a window is for creating tutorials. My monitor is an ultrawide (3440x1440) and I have MAX resized to 1920x1080 for video capture purposes.

[2022-03-23 20:59] OldFlak commented on #2614
@rvanner thanks for reply :)
`Do you mean the black screen that appears briefly?`
It briefly shows the **Demo** tab contents then switches to **My Games** tab

[2022-03-23 21:00] Zorgo33 opened #2629 "Game Guru Max - High FPS speed issue"
When testing game guru max and getting around 240 fps on a test level, speeds of enemy and animal, sometimes weapon animations seem a little bit sped up. The video below might not show it perfectly, but sometimes it's very noticable when playing any levels.

Here's a video showing the issue
https://www.youtube.com/watch?v=ohuf3oFTPZ8&ab_channel=Zorgo33

[2022-03-23 21:09] AmenMoses commented on #2629
Why on earth would you be running with vsync off?

[2022-03-23 21:17] ArgentArts commented on #2629
This is why you want to have vsync on. ;)

[2022-03-23 23:10] PaulSJ commented on #2586
@AvengingEagle Do you happen to have GameGuruMAX installed at "E:\Programs\GameGuruMAX"? As that happens to be exactly where I have it installed, so I'm just wondering if it is a coincidence or if my path has somehow been baked into the executable

[2022-03-23 23:24] AvengingEagle commented on #2586
@PaulSJ Yes that's exactly where it's installed for me too :)

[2022-03-23 23:55] PaulSJ commented on #2586
Cool, at least that's one thing I can rule out.

Could you try using this executable https://drive.google.com/file/d/1DskShcbg5yzb-EpwVORszTDHjRD533GU/view?usp=sharing it will write to the log file the path of every entity it tries to load, hopefully that will reveal something

[2022-03-24 00:48] Necrym59 commented on #2609
HI Amen, I have the new mamal_script working as is fine with these ones so far, just in case you wanted to look
[standard_animals.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8337478/standard_animals.zip)
so far any speed/turn settings can be done in the character settings in MAX. It would be nice if those were brought in from the FPE but they dont seem to be.  Some FPE settings like

[2022-03-24 03:00] OldFlak commented on #1269
Much better than previously mostly - but this issue is not completely sorted.

Try valleys and use pine trees - easily reproduced.

[2022-03-24 03:18] acratwastaken commented on #2626
<img width="294" alt="Capture99" src="https://user-images.githubusercontent.com/102273604/159835226-2d8a05b9-650f-4fa8-a799-adeaccdd7157.PNG">
I had the same issue and tried all the solutions. now I have this

[2022-03-24 03:29] Ratall commented on #2626
see also #2596

[2022-03-24 03:42] Ratall commented on #2586
Ran it with your extra logging
[Guru-Game.log](https://github.com/TheGameCreators/GameGuruRepo/files/8338245/Guru-Game.log)
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8338247/Guru-MapEditor.log)

[2022-03-24 05:09] Necrym59 commented on #2609
The only thing i can think of for the above is an 'alert' and an 'attack' animation as part of the standard mammal state/anims so as to account for attacking mammals. Other than that its a damn near perfect script to be honest.

[2022-03-24 05:23] Necrym59 opened #2630 "GGMAX - Enemy Enhancements"
Nothing like a new enhancement idea :)
I know lots to be done yet with the ai ect. but if possible for the future can we add in some things that seem to be missing.
1. Animations for sitting/standing
2. Animations for Reading/Drinking
3. Animations for Opening/Closing (Doors/cupboards etc)
4. Animations for bending down searching. For underneath benches /ledges etc.
These make for extremly interac

[2022-03-24 06:34] ArgentArts commented on #2628
If you don't get this when you resize the MAX window with the Terrain Generator, after resizing, move the window around. You should see the view port area does not move correctly with the rest of the window.

[2022-03-24 06:38] rvanner commented on #2614
OK, this is by design. If it finds you have made one or more games it changes to your games tab because that's most likely what you'll want to access now that you have started making games. Yes it could be a bit nicer so we'll keep the issue here and deal later on.

[2022-03-24 06:44] ArgentArts commented on #2628
https://user-images.githubusercontent.com/36735507/159858015-f21fbcd6-a8b9-48ee-82ff-126f8b5e65aa.mp4

[2022-03-24 07:33] Zorgo33 commented on #2629
I have vysnc on, my monitor's refresh rate is 240hz

[2022-03-24 07:50] #2622 closed

[2022-03-24 07:50] #2595 closed

[2022-03-24 07:50] #2538 closed

[2022-03-24 07:51] #2446 closed

[2022-03-24 07:51] #2625 closed

[2022-03-24 07:51] #2621 closed

[2022-03-24 07:53] rvanner commented on #2604
@ZakJudges Please get the new files added to the build this morning. Thanks.

[2022-03-24 07:54] rvanner commented on #2620
This is by design. The bonus content will have to be installed via the downloadable installer from your TGC account. Only pre-order customers get this content and so we needed to take it out now before the release version.

[2022-03-24 07:55] #2620 closed

[2022-03-24 08:22] AvengingEagle commented on #2586
@PaulSJ This is what I got when I tried to play 'River Raiders' from the demos menu:
[Guru-Game.log](https://github.com/TheGameCreators/GameGuruRepo/files/8339609/Guru-Game.log)

I then tried to edit River Raiders, resulting in insta-crash and this log:
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8339634/Guru-MapEditor.log)

Both times it appears to crash loading a m

[2022-03-24 08:48] LeeBamberTGC commented on #1269
@OldFlak Can you attach/email me a stock FPM and place the start marker in the direction I should walk, that way I can see the player stopping due to invisible collisions. Thanks!

[2022-03-24 09:37] ZakJudges commented on #2535
Hi @PaulFox12, I wasn't able to reproduce the characters ending up in a pose like the ones seen in your screenshots. Do you still experience it in the latest build? :)

I didn't see any cartwheels, but I did see the characters sliding unnaturally to a different spot whilst performing their death anim.

@LeeBamberTGC See comments about characters moving before adopting their death pose. I've attach

[2022-03-24 09:39] ZakJudges commented on #2228
Hi @casigus, I believe that most of the issues listed should now be resolved. Could you confirm if this is the case? For any that are not, we can create new issues for them so they are easier to track :)

[2022-03-24 09:56] ZakJudges commented on #1816
Hi @UltraVox001, if you set superdevelopermode = 3 in setup.ini, the physics shapes should be available to render without having to enable the setting. The current implementation isn't really suitable for large levels as it is very slow. I agree viewing collision shapes per-object in the editor is a good idea. I shall mark this as an enhancement and the team can take a look after early-access :)

[2022-03-24 09:59] LeeBamberTGC commented on #2624
@rvanner How about this only happens if they have check-points?  If they do not add any check points, it remains game over?

[2022-03-24 10:34] PaulSJ commented on #2586
Thanks both of you for the logs, it looks like it is trying to load an empty path, but I'm not sure how that's happening when it's fine for us. Can you try this version and see if it fixes the problem https://drive.google.com/file/d/1ATOJsaeB8PY8jmmW1EOGQD8ab9kmdleI/view?usp=sharing

[2022-03-24 10:36] PaulSJ commented on #2626
@Grogadog Can you try this version and see if it solves the problem https://drive.google.com/file/d/1ATOJsaeB8PY8jmmW1EOGQD8ab9kmdleI/view?usp=sharing

@acratwastaken Does the assertion say what file or line it happened in?

[2022-03-24 10:53] Grogadog commented on #2626
Yes this works, level editor loaded, added an asset and saved - okay so
far. added trees, paint, and veg , no problem , saved and run - okay.
Thanks.
Steve

On Thu, 24 Mar 2022 at 10:36, PaulSJ ***@***.***> wrote:

[2022-03-24 10:54] synchromesh62 commented on #2624
@LeeBamberTGC
Sorry to butt in but  Max is fine with just the one life in my opinion.
But if you reached a checkpoint it would be good if you respawn **once**
Then if you reach the second and dies you respawn there only the **once** again
If you fail to reach the next and die then that's your lot ..
You still only have the one life but a chance to progress and you always have **Save** as well.

Ju

[2022-03-24 11:09] Ratall commented on #2586
That seemed to fix it.
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8340914/Guru-MapEditor.log)
I included the log so you could check if it worked as expected.

[2022-03-24 11:13] #2626 closed

[2022-03-24 11:14] Grogadog commented on #2626
Thanks for help, creating scenes - the randomized landscapes are great - no more messing with individual trees etc. (unless you want to of course). Looking good.

[2022-03-24 11:48] LeeBamberTGC commented on #2420
@ArgentArts You can remove the file from your server. Tested with latest build and soldiers could get through the door when the nav mesh let them, I had to change them so they always used the Get Close mode :)

[2022-03-24 11:48] #2420 closed

[2022-03-24 11:50] LeeBamberTGC commented on #2596
@AlterMatz A fix has been applied to this weeks build that catches this crash and should hopefully resolve your issue. Do let us know here on Friday if all is well with your build, thanks!

[2022-03-24 11:52] LeeBamberTGC opened #2631 "Speed Up The LUA Interpreter"
NOTES From Rick:

Built to speed up and help ROBLOX devs. Can be used under MIT licence.

[Luau - Luau (luau-lang.org)](https://luau-lang.org/)

Also found this;
[SciLua](https://scilua.org/index.html)

And some stackoverflow comments;

[optimization - What can I do to increase the performance of a Lua program? - Stack Overflow](https://stackoverflow.com/questions/154672/what-can-i-do-to-increase-

[2022-03-24 12:02] LeeBamberTGC commented on #2623
@dllllllllllb Added code at end of welcome HUB processing the special flag, so if final destination is the HUB, the flag is reset so the storyboard is no longer affected:

	if (bReturnToWelcome == true)
	{
		bSpecialEditorFromStandalone = false;
		bReturnToWelcome = false;
	}

[2022-03-24 12:02] LeeBamberTGC commented on #2623
NOTE: On server by 12:30

[2022-03-24 12:15] ZakJudges opened #2632 "Enemies able to shoot you through walls"
![enemythroughwall](https://user-images.githubusercontent.com/32545391/159914078-59af59c9-638a-4f7d-a37e-1502168c9cac.png)

If an enemy is in a room with a locked door and they are alerted to you, in some buildings they are able to shoot you through the walls

[2022-03-24 12:17] ZakJudges commented on #2535
@LeeBamberTGC A surefire way to reproduce the wrong orientation of the pose is to kill a character whilst they are on stairs:
![ragdoll plus stairs](https://user-images.githubusercontent.com/32545391/159914511-dc3dbf6f-33f0-4b1b-a287-04a6d4703764.png)

[2022-03-24 13:05] Necrym59 commented on #1970
Version 19 Update
Allows for climber grip adjustment in certain situations.
[climber_v19.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8341635/climber_v19.zip)

[2022-03-24 13:23] Necrym59 commented on #2631
Apart from some of those options in GameGuru everything is run in a time-critical environment, i mentioned somthing in a previous post , https://github.com/TheGameCreators/GameGuruRepo/issues/2542
about using a global lua repositry section with timers to optimise useage. Specific object scripts dont run all the time usually so they take pretty much care of themselves to a great degree. I think the

[2022-03-24 14:00] AvengingEagle commented on #2586
It runs! Performance isn't great but that's a different issue. Thanks Paul!

[2022-03-24 14:06] PaulSJ commented on #1776
Fix might not be in the release version but should be shortly after

[2022-03-24 14:09] PaulSJ opened #2633 "No warning if missing assets"
If I load a level that contains assets that I don't have then they are just silently ignored. I didn't realise the Snow Mountain level had rocks until I downloaded the Artic Collection assets.

[2022-03-24 14:11] #2586 closed

[2022-03-24 14:11] rvanner opened #2634 "If you highlight a zone sphere and then press TEST Level, the sphere appears in the game"
eg:

![image](https://user-images.githubusercontent.com/1503593/159934993-801c1f20-14d3-4862-a8d7-195de89cdde5.png)

[2022-03-24 14:50] ZakJudges opened #2635 "Camera starts outside editable area"
Repro:
- Create a level from storyboard and generate terrain
- Exit back to storyboard and load up another level, or exit the software
- Load the original level
- The camera gets placed outside of the editable area, instead of the default middle

[2022-03-24 15:09] ZakJudges opened #2636 "Enemy still looks at player when out of range"
To reproduce:
- Place an enemy and a single flag
- Connect the enemy to the flag
- Place player start marker so you will not be within range of the enemy
- Run test game and see the enemy walk to the flag, then start nodding his head

https://user-images.githubusercontent.com/32545391/159947265-6b4826af-85c7-4bed-adfd-a49e319efd91.mp4

[testlevel4.zip](https://github.com/TheGameCreators/GameGuruRe

[2022-03-24 15:20] LeeBamberTGC commented on #2633
@PaulSJ The latest Tiny Installer (and the auto-updater) now does an extra scan and gets all the demo project files for all the demos, run the auto-updater a few times until you see this happen.  Zak and I have tested it, and it works nicely. Easiest to untick your Arctic then delete the folder, and see if the auto updater putrs the needed rocks back.

[2022-03-24 15:36] PaulSJ commented on #2633
@LeeBamberTGC Ok, that covers the demo projects, however I think it might still be a problem if someone shares a project? There would be no way to know if the level you were loading was missing an asset.

[2022-03-24 15:37] ZakJudges opened #2637 "Current Object not restored when exiting test level"
- place an object
- test level
- go back to editor
- the object that you had selected previously will be highlighted and shown in the right-hand panel, but not in the Current Object tab in the bottom left. You are also unable to delete the object despite it looking like its selected

[2022-03-24 15:38] casigus commented on #2228
animations don't export with custom assets last time I checked, but alot has been fixed.

[2022-03-24 15:39] ZakJudges commented on #2228
@casigus Thank you for confirming. Would you be able to send me a model that shows the problem and I can create a new issue from it? :)
My email address is zak@thegamecreators.com

[2022-03-24 15:42] dllllllllllb opened #2638 "Terrain editor - Auto flatten interaction"
https://gyazo.com/cb304338d33b93bae7ba9ad63207384a

Steps to reproduce:
Place an object with autoflatten enabled
Have the object you just placed selected
Edit terrain
Go back to object tools

[2022-03-24 15:49] casigus commented on #2228
yeah let me find one !

________________________________
From: ZakJudges ***@***.***>
Sent: 24 March 2022 15:39
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: CJ ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] export issues. (Issue #2228)

@casigus<https://github.com/casigus> Thank you for confirming. Would you be able to send me a model that shows the problem and

[2022-03-24 16:09] davetgc opened #2639 "Not all doors can be opened."
Only the following doors can be opened or given keys.

'Building door light red' (both versions, 'DOOR1', 'Building - light brown', 'warehouse Green door'

[2022-03-24 16:43] dllllllllllb commented on #2639
I've added a door that doesn't have the door behaviour by default. Changed static mode to Physics on and added a "Door Rotate" behaviour. When I try to open it, the door disappears : https://gyazo.com/ba7e00c502a580df368369afbc60bd08

[2022-03-24 16:46] davetgc commented on #2639
Also, I got the jail door working, but it's incorrectly set up and the
model rotates from the centre.

On Thu, Mar 24, 2022 at 5:44 PM Maciek ***@***.***> wrote:

[2022-03-24 17:02] AlterMatz commented on #2596
Thanks i will give you a feedback on friday.

[2022-03-24 17:05] Granada1 opened #2640 "Weapons not firing strait"
This is happening with all weapons for me

https://www.youtube.com/watch?v=EuKFqJknHIw

This is not happening with Max standerd
Levels so I’m going to experiment more  my end to see if I can sort it

[2022-03-24 17:17] davetgc commented on #2639
True, but the average user isn't going to want to do that :).

On Thu, Mar 24, 2022 at 6:16 PM synchromesh62 ***@***.***>
wrote:

[2022-03-24 17:19] synchromesh62 commented on #2639
Then they would have to use the official door.lua
but probably still have to create their doors the same as the TGC ones - pre animated

[2022-03-24 17:25] synchromesh62 commented on #2639
You must have **isimobile** ticked ..

[2022-03-24 17:41] Retrogamebloke commented on #2441
In the last build, weapons worked again as normal. Not seen this issue recently.

[2022-03-24 17:46] Retrogamebloke opened #2641 "Instant crash when selecting particle effect."
I've just tried a demo I made a couple of months back. All runs fine when I run it, but if I try to click on the particle effect in the scene it crashes out completely. I get it every time.
![image](https://user-images.githubusercontent.com/44620846/159977908-337a8a0c-a4d1-4aac-ab98-13a2b9fbab77.png)
I have sent the map to Lee ages ago, for other reasons, but can send again if needed. I haven't tr

[2022-03-24 21:56] #1676 closed

[2022-03-25 06:57] Skevos-Mavros commented on #2240
I realise you must prioritise right now, but I hope your decision to delay fixing this till after Early Access is wise.  UltraVox001 and I are surely not going to be the only ones having this issue once people start buying GGM on Steam during Early Access.

Anyway - I'll keep an eye on this thread and I'm happy to provide any more info/videos as you need them.

[2022-03-25 08:52] Tum1370 commented on #2405
I just tried a demo game, but this time i did not press the PLAY GAME from the hub, I ticked the "Standalone Test ALL levels" from the storyboard.
With this ticked, and tried playing the game, I do NOT have a gun.

But if i DONT tick this box in the pic, and just test the single level. I DO have the gun.
Very strange bug.

![Standalone Test](https://user-images.githubusercontent.com/66874403/16008

[2022-03-25 09:06] dllllllllllb commented on #2641
@Retrogamebloke Please send your level to me so I can test it for Lee, my email is: maciej@thegamecreators.com

[2022-03-25 09:17] ZakJudges commented on #2405
Hi @Tum1370, thank you for the extra information, that should help us identify the cause of the issue quicker. We are aiming to have this issue sorted in the first update to MAX after its early access release :)

[2022-03-25 10:33] LeeBamberTGC commented on #2641
@dllllllllllb Once you get the level and reproduce, send it to me and I will see about a fix :)

[2022-03-25 10:37] LeeBamberTGC commented on #2624
@dllllllllllb When doing PLAY GAME, as the player now has one life they go to the game over screen when killed just once, and making checkpoint useless. For now make the lives 99999 (infinite) (do not show the lives in the HUD) so that the player will always use checkpoints and can continue in the game.

@synchromesh62 I like your idea, I think we can add some properties to the checkpoint zone to

[2022-03-25 10:37] LeeBamberTGC commented on #2615
@dllllllllllb Can you try reproducing this, thanks!

[2022-03-25 10:38] LeeBamberTGC commented on #2612
@synchromesh62 Please confirm the fix and we can close this one.

[2022-03-25 10:39] LeeBamberTGC commented on #2607
@dllllllllllb See if you can reproduce, thanks!

[2022-03-25 10:40] #2587 closed

[2022-03-25 10:42] LeeBamberTGC commented on #2574
@dllllllllllb Here is a great one to stretch your understanding of the rendering side of MAX. I know for a fact the head is set to transparent (or part of it), and we need to know why transparent (or whatever the head is set to) renders differently than the body in this scenario. Narrow it down and post your thoughts here.

[2022-03-25 10:42] #2563 closed

[2022-03-25 10:52] dllllllllllb commented on #2509
@OldFlak I just tested this with a dozen doors and switches, and all of them play their sounds correctly. Is this happening with any specific objects / behaviours?

[2022-03-25 11:05] LeeBamberTGC opened #2642 "SAVE GAME then LOAD GAME on TRAPPED PLAY GAME STANDALONE disables the weapon so cannot pick up"
Run the TRAPPED demo as a STANDALONE, notice after loading a saved game position, the gun cannot be collected in the first room

[2022-03-25 11:17] dllllllllllb commented on #2352
@LeeBamberTGC In the case I managed to reproduce this, it is more of an user error.
Steps to reproduce:
Make a new level
Load, play and save it
Go back to storyboard editor
Save project
Rename level
Quit
Load the project and play level

After renaming the level we should probably force a project save to avoid this.

[2022-03-25 11:22] dllllllllllb commented on #2615
@mav3r1ck198-1 Can you please send me the custom asset that you're experiencing this issue with. My email: maciej@thegamecreators.com ( Please include link to this issue in your email, saves me time trying to figure out which issue the email is relating to :] )

[2022-03-25 11:25] LeeBamberTGC commented on #2352
@dllllllllllb Thanks for reproducing and the steps :)  Assigned to Preben who is our Storyboard Guy!

[2022-03-25 11:26] dllllllllllb commented on #2607
@mav3r1ck198-1 Can you please update your Nvidia drivers and GameGuru Max to the latest version. Let me know what version of GGM you're on and if GGM still crashes for you.

[2022-03-25 11:33] LeeBamberTGC commented on #2240
@Skevos-Mavros I could JUST make out the stats on the left, and it does indeed seem related to FPS. The GPU was over 40ms (should be 16ms) and anything under 60 fps will currently affect walking/jumping speed.  The plan is to correct this so player control physics is machine-independent so when FPS does drop, the player movement remains unchanged.

[2022-03-25 11:40] OldFlak commented on #2614
Thanks @rvanner for getting back :)

Yes - I understand it is by design, but it used to change tabs before showing HUB.

So previously it started with the **My Games** panel already loaded when HUB displayed
- but now it is loading the HUB and then changes tabs

Since the whole reason for MAX is to make games it may be easier to change order of tabs so that **My Games** tab is the first one by def

[2022-03-25 11:49] OldFlak commented on #1269
@LeeBamberTGC Thanks for getting back Lee :)

There are no invisible barriers now - it is just that player feels like being held back, and sometimes can hardly walk in places or becomes very slow.
- you will especially see it in valleys and when you use the big pines trees
- you may need to go for a wander around for a while before it becomes obvious

will make fpm to you soon :)

[2022-03-25 12:02] synchromesh62 commented on #2612
Fixed for me yes ..

[2022-03-25 12:07] plemsoft commented on #1601
@Kitakazi Could you try to play this level in the latest build , and note the draw call , should now be lower, please also post your "Guru-MapEditor.log" here so i can check , thanks for your help :)

[2022-03-25 12:10] Tum1370 commented on #2548
@LeeBamberTGC
The Patrol Rifle is back to how it was before you tried to fixed it.
Not worth using now in the Early release version.
You miss far to many shots, Even at close range as well.

[2022-03-25 12:13] Tum1370 commented on #2581
This is still happening in Early Release version.
Trigger points that alert and enemy, but the enemy does not run out and attack.

[2022-03-25 12:14] #2612 closed

[2022-03-25 12:19] plemsoft commented on #2242
@OldFlak Thanks for reporting this issue, i do not see any difference in the videos ? , i tried to locate the old issue you had, and could only find this: https://github.com/TheGameCreators/GameGuruRepo/issues/1068 , is that the one ?

Anyway please let me know what the issue is, thanks :)

[2022-03-25 12:30] ArgentArts commented on #2242
The issue he's showing is this - when you drag the color picker over to the far left, it resets the left-side slider to the top (full-red) even though the mouse cursor is not near the slider. If the mouse cursor is not near the slider, then the slider should not move at all. If the slider is set on a blue tint, it should remain on a blue tint, for example.

I've not (yet) downloaded today's releas

[2022-03-25 14:02] LeeBamberTGC commented on #2605
@Kitakazi Fixed for next update :)

[2022-03-25 14:03] LeeBamberTGC commented on #2594
@UltraVox001 Widget fixed for the next update :)

[2022-03-25 14:04] ZakJudges commented on #2321
Hi @UltraVox001, this has been fixed and should be in the next update :)

[2022-03-25 14:04] #2582 closed

[2022-03-25 14:30] ZakJudges commented on #1979
Hi @OldFlak, there has been some recent work on the tree system which should be in the first post-ea update. Could you let me know if you still experience the issue after trying out that build? :)

[2022-03-25 14:37] plemsoft commented on #2352
@davekirk85 Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-03-25 14:37] plemsoft commented on #2628
@ArgentArts Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-03-25 14:38] plemsoft commented on #2627
@ArgentArts Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-03-25 14:38] plemsoft commented on #2230
@UltraVox001 Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-03-25 14:38] ZakJudges commented on #1980
Hi @OldFlak, I wasn't able to reproduce this issue, though I do remember encountering it early last month. Are you still experiencing it in the latest build? If so, could you send me a .fpm file showing the issue? :)

[2022-03-25 14:40] plemsoft commented on #2227
@Skevos-Mavros Thanks for reporting this issue , yes it need a little distance before it can fade from one chunk to another , i set this limit so you cant go below 2 chunks so its possible to fade :)

@rvanner @[rvanner](https://github.com/rvanner) , i remember we fixed that issue in a TW , and is not related to the original issue :)

[2022-03-25 14:51] ZakJudges commented on #2144
Hi @OldFlak, I tried to reproduce this one but the standalone had the _illumination correctly copied across. Are you still seeing this issue in the latest build? If so, would you mind sending me a model you are seeing the issue with? Or alternatively, if you let me know the filepath of the texture not being copied over, that may give me some insight as to where things are going wrong :)

[2022-03-25 14:53] ZakJudges commented on #2255
Hi @UltraVox001, would you be able to send me the model you are seeing the issue with? That will allow me to reproduce this and hopefully find a fix :) My email address is zak@thegamecreators.com

[2022-03-25 14:59] AlterMatz commented on #2596
Great job! Everything works again. Demo can be played. Tarrain Editor does not crash. Zombies don't go through doors. Great job! Thanks.

[2022-03-25 15:22] dllllllllllb commented on #2552
I've mislabelled this, I thought that some settings aren't saving and you have to check them every time you launch.

The prompt shows up every time you go into the advanced / developer setting to let people know that these settings add a lot of things and could potentially break things.

The bool responsible for this is static, so it gets set to false every time you load GGM. We would either need

[2022-03-25 15:32] Tum1370 commented on #2405
Another update on this issue.
I have just tried playing a demo game but using another different PLAY GAME option.
This time i used the one from the drop down menu as in the picture.
This time the gun and game was working correctly using this PLAY GAME option.

![Untitled](https://user-images.githubusercontent.com/66874403/160151903-609cfab8-3151-4d72-8507-9d8d5c8f1171.png)

[2022-03-25 15:45] LeeBamberTGC commented on #2552
Currently a feature. Let's see if it gets in users way.

[2022-03-25 15:46] ArgentArts commented on #2552
I personally find the constantly clicking YES to proceed a PITA, but can live with it. What I don't want is to have to constantly reactivate Additional Developers Options each time I start MAX as I use them a good bit when testing something.

[2022-03-25 16:17] dllllllllllb commented on #2624
@LeeBamberTGC I changed the player start marker .fpe file which fixes this, but the marker needs to be replaced in the level for it to work. Is this fine or is there a way to change this via code?

Here's the marker .fpe:
[Files - Player Marker 9999 Lives.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8352184/Files.-.Player.Marker.9999.Lives.zip)

[2022-03-25 16:35] Tum1370 opened #2643 "GG MAx - Switch Escape Demo - Switch for first door has moved"
As the title says, Just tried the Switch Escape demo on Early Release Max, and it seems like the switch to raise the first door has been moved accidentally from above the pipe.
See pic

![Untitled](https://user-images.githubusercontent.com/66874403/160162761-2e9ff130-d343-476b-8ee0-7a9ef842987c.png)

[2022-03-25 16:41] ArgentArts opened #2644 "GameGuru MAX - Installer has No Icon on Taskbar"
Not a biggie, but when the installer is running, it has not GameGuru MAX icon on the Windows Taskbar:

![installer](https://user-images.githubusercontent.com/36735507/160163638-271f7bac-4e37-4ea5-b288-c09f8696ae77.png)

People might not know what this is running when they see it.

[2022-03-25 16:47] LeeBamberTGC commented on #2624
Trace the field you changed to the loader and then force the value in code. That way no levels need to change :)

[2022-03-25 16:51] ArgentArts commented on #2620
Just downloaded and installed my order and the bonus content is not there. So, how do I get the bonus content back?

[2022-03-25 17:16] ArgentArts commented on #2420
@LeeBamberTGC Did a fresh install today with the Early Release version and the soldiers still just run through the door on my test level. Did this fix not make it into the the Early Release version?

[2022-03-25 17:17] ArgentArts commented on #2553
No, this isn't happening any more. It got "fixed" somehow, somewhere along the way. ;)

[2022-03-25 17:17] #2553 closed

[2022-03-25 17:22] LeeBamberTGC commented on #2420
@ArgentArts Zip up the FPM you are using, and let me know what I should do to see this. The last level I received, the two soldiers stayed behind the door until I was close enough for it to open, and they pushed through as expected.

[2022-03-25 17:32] ArgentArts commented on #2420
@LeeBamberTGC :

https://user-images.githubusercontent.com/36735507/160172085-00894914-b5bd-43fe-92e9-966dca083275.mp4

[2022-03-25 17:34] ArgentArts commented on #2420
@LeeBamberTGC What I do is click the invisible Trigger Volume that is in front of the door and set its behaviour to Manual instead of Automatic so that I can control opening and closing the door. That way, I can open the door, get the soldier's attention by firing a shot to make him charge me, and then immediately close the door. When I place the soldier, I set him as an enemy and set him to Alert

[2022-03-25 18:06] Tum1370 commented on #2443
@ZakJudges
This game is still not giving me the ammo after i pick up it up.
This is the standalone game.
This is todays version of Max.

Are there any hidden files that Max has ?
Because i have uninstalled and installed Max several times, and even did the same today, But this still happens.

[2022-03-25 18:34] fearlesswee commented on #2548
When setting the weapon's "accuracy" (bullet spread) field in the gunspec.txt file to zero, the weapon is a lot more reliable and functions like you imagine a "sniper" should. In my opinion it should have slight spread when firing from the hip, very little spread when aimed, and when in the alternate "long range scope" mode, it should have zero spread when aiming.

[2022-03-25 18:45] relishrompgames opened #2645 "Import model - I can ONLY import models to the/user folder."
I created a folder in the entity folder called "JohnsBuildings"

When I Import a model - I can ONLY import models to the/user folder even though JohnsBuildings is the path. There is nothing imported into JohnsBuildings

[2022-03-25 20:46] Ghost-l0l opened #2646 "GG Max - problems with placing, rotating and scaling and some thoughts about bugs in general"
https://youtu.be/pSnWhD9ZZXg
Placing, rotating and scalling objects still buggy;
Video recorded with Max Build 2022.03.25

[2022-03-25 21:13] Ratall commented on #2645
I have successfully imported models into other folders but have found that in order to see them in max you have to restart it. Also when you do so it skips the final part where you set up the thumb nail and search keywords.
![proof subfolder import](https://user-images.githubusercontent.com/35710601/160201382-253bd450-ddee-4471-a1c1-7ab2bc3dbfc2.png)

[2022-03-25 21:53] djeronimoBiH commented on #2555
Just updated driver but still crashes with the same error :(

[2022-03-25 21:56] Necrym59 commented on #2619
Yep seems to be fixed now.

[2022-03-25 21:59] mav3r1ck198-1 commented on #2607
Hello! My Nvidia drivers are the latest 512.15, and i did a fresh install on Max with evening. No change in the amount of crashes, ALL the demos crash within a couple of minutes

[2022-03-25 22:07] ArgentArts commented on #2443
I can confirm this. If I run this game from the editor, I get 80 rounds. If I export a stand-alone, I only get the 6 rounds in the gun and 0 extra. So, something is happening when the game is being exported to a stand-alone.

[2022-03-25 22:19] mvdhoning opened #2647 "cannot start game guru max"
just bought it on steam and on launching is see the game guru max logo and then it closes.

log file:
`6 : GPUParticles::gpup_init(); S:1503MBV: (1503,0)
43 : GGTerrain::GGTerrain_Init(); S:8MB V: (1512,0)
1031 : GGTrees::GGTrees_Init(); S:2490MBV: (4003,0)
1605 : GGGrass::GGGrass_Init(); S:176MB V: (4179,0)
1805 : GuruMain(); S:77MB V: (4257,0)
9 : Startup ImGui. S:0MB V: (4284,0)
34 : Name of tr

[2022-03-25 22:22] Necrym59 opened #2648 "GGMAX - Navigation Enhancment"
Would it be possible to include an option to designate navigational NORTH to the terain generator and coords saved in the terrain map for retrieval in-game for compasses/interactive maps etc - this is going to be a must in RPG games but can be use in FPS games as well.
![generator](https://user-images.githubusercontent.com/95015657/160209483-3f2df5fe-47d8-4d01-8efd-364c5a26cd5d.jpg)
Together with

[2022-03-25 22:26] OldFlak commented on #2242
@plemsoft  Hi Preben thanks for reply
Watch the slider highlighted in the image - it should only move if I drag it :)

 ![image](https://user-images.githubusercontent.com/12246318/160210038-8c19436f-c69c-4847-8407-684210a89bb5.png)

[2022-03-25 23:31] IceAxe18 opened #2649 "Request - Stay Crouched"
Would be nice if we could stay crouched instead of holding the C key the whole time.

[2022-03-25 23:52] rsearle commented on #2647
EA release of GGMax won't start for me, it shows the splash screen and then dies. Windows Event Viewer reports consistent errors identifying assimp.dll, e.g.

[code]

I tried replacing assimp.dll with Win64 binaries from [assimp 3.1.1](https://sourceforge.net/projects/assimp/), but that failed, GGMax wouldn't load it and crashed.

assimp 3.1.1 was released in 2014, [more recent releases](http://as

[2022-03-26 00:35] ArgentArts commented on #2645
I can confirm what Ratall has said. The folder is created and the model is saved/imported to the new folder, but you have to exit MAX and restart for it to show up in the Object Library. So, this is still a bug that needs to be addressed.

[2022-03-26 00:45] mav3r1ck198-1 commented on #2607
completely fresh install this evening, 9 crashes in 4 hours, 1 blue screen

[2022-03-26 00:56] Ratall commented on #2607
@mav3r1ck198-1 They will need a full DxDiag dump plus Copies of your Guru-Game.log  and Guru-MapEditor.log if you have them to have any hope of diagnosing this.

[2022-03-26 02:51] Kitakazi commented on #2443
Hi I believe this issue is caused by the ammo used for the revolver is the same ammo as the magnum handgun. For w/e reason it works fine in the editor, however does not work in standalone. This bug has been present for years... Probably since the start of GameGuruClassic...

If you go to the FPE setting of the .44 Magnum Ammo you will see

;Identity Details
isammo	      = 1
hasweapon     = enhance

[2022-03-26 03:31] Kitakazi commented on #1601
@plemsoft
Just tested this level, the parts the were smooth before are now very smooth, however the areas that were bad are still very bad and still drops frames pretty rough.  Going from 60 to 40 and even 60 to 30 for no apparent reason. But for walking around alot of the level is just a solid 48-45 fps.

[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8354578/Guru-MapE

[2022-03-26 03:39] Kitakazi opened #2650 "Shooting Weapons Once Again Drops Frame Rate"
Seems like issue from #2097 is back. Or something similar.

Tested on the snow level, just equip the AK47 and starting firing. FPS will steadily decline.

[2022-03-26 06:00] Fubrubruoahaha opened #2651 "REQUEST - Add | Toggle Crouch | Toggle Aim | Toggle Sprint, in game options."
In game options and ability to set these on and off by default by developer, would be nice.

| Toggle Crouch |
| Toggle Aim |
| Toggle Sprint |

[2022-03-26 08:39] plemsoft commented on #2555
@djeronimoBiH Thanks for reporting this issue , it looks like the updater is using your integrated graphics card "Microsoft basic display adapter" , please try to update the drivers for your integrated graphics card and check if that solve the problem.

I have not tested on windows 11 , so this could be the problem.

Also another thing you could try is open "Nvidia Control Panel" -> "Manage 3D Set

[2022-03-26 08:41] djeronimoBiH commented on #2555
Ouuu this could be the solution. I've not checked my integ. card. Thank you and as soon as I try thos I will let you know about results.

Cheers.

[2022-03-26 09:20] #2619 closed

[2022-03-26 09:29] cybernescence opened #2652 "GGMAX 25 MAR Version - Stutter (on Snowy Demo)"
Moderate to severe stutter experienced:

Choose Snowy Demo
Play Game - first run through seems fine, c. 50FPS
On death within level, choose continue then start game
After reload, stuttering starts pretty much  immediately.

(Specs RTX2070 Super, 32GB RAM, I7)

Cheers.

[2022-03-26 09:39] cybernescence opened #2653 "GGMAX 25 MAR Version - Request - Let users place objects outside of editable area"
Sometimes game vistas require that assets can be placed where players cannot reach, such as buildings etc on horizon to evoke the game style required. The terrain is great/amazing, but I think being able to see other user assets beyond this editable area would also benefit game dev.

(Specifically in my case I was also developing a flying prototype that let the player go beyond the editable area a

[2022-03-26 10:32] djeronimoBiH commented on #2555
Noup, still the same

![image](https://user-images.githubusercontent.com/13538007/160235586-106a5dea-e228-41fe-8916-5cdf10e07179.png)

[2022-03-26 10:42] plemsoft commented on #2555
@djeronimoBiH Did you update your integrated graphics card drivers to support opengl 2 ?

[2022-03-26 10:51] djeronimoBiH commented on #2555
I did
![image](https://user-images.githubusercontent.com/13538007/160236204-beb2642a-4e27-4798-92a8-e7ed8cc44641.png)

[2022-03-26 10:58] djeronimoBiH commented on #2555
Maybe I should try this https://www.youtube.com/watch?v=TsY_-PvB13g

[2022-03-26 11:01] plemsoft commented on #2555
@djeronimoBiH You did not update the drivers is still "Microsoft basic display adapter" , what card is the integrated ?

[2022-03-26 11:08] djeronimoBiH commented on #2555
wherever i check I only get MS Basic adapter

![image](https://user-images.githubusercontent.com/13538007/160236708-66bd0449-decc-438e-820c-536e97a0e937.png)

[2022-03-26 11:11] plemsoft commented on #2555
@djeronimoBiH Looks like "Dell G15 5511" use "Intel UHD Graphics " , so i would try to install the latest drivers from intel seams they recently added windows 11 support try this link: https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html
On that page try the "Automatic Driver and Software Updates" and check if its able to locate a new driver for you :)

[2022-03-26 11:14] GrobyKen opened #2654 "Error Code And Untextured Enterties"
Is anyone else getting this  half textured enterties? I have checked the fpe file and all textures are there. It's happening across all the packs.  I'm also getting a Run Time Error 7018 on a regular basis
![GGMax](https://user-images.githubusercontent.com/66643109/160236919-15f2536a-ed9c-4023-8693-c2a29fdf61a0.jpg)
.

[2022-03-26 11:22] Retrogamebloke commented on #2641
I sent the level yesterday, let me know if you need anything else.

[2022-03-26 11:46] plemsoft commented on #2652
@cybernescence Thanks for reporting this issue, could you try this .exe and let me know if it fix the stutter on second run :)

https://drive.google.com/file/d/13Awt70p_ORwd9ulb66iW2rSUaKZ-6uD8/view?usp=sharing

If not could you make a screenshot with tab open so i can see where the CPU/GPU times is spent when you have the stutter , Thanks for your help :)

[2022-03-26 11:48] plemsoft commented on #2650
@Kitakazi Thanks for reporting this issue, could you try this .exe and check if its improved:

https://drive.google.com/file/d/13Awt70p_ORwd9ulb66iW2rSUaKZ-6uD8/view?usp=sharing

If not could make a screenshot with tab open so im able to see where the CPU/GPU times is used when fps drops, Thanks for your help :)

[2022-03-26 11:50] plemsoft commented on #2650
@Kitakazi Ups forgot please also check if the .exe improve this issue : https://github.com/TheGameCreators/GameGuruRepo/issues/1601

[2022-03-26 12:04] GrobyKen commented on #2654
OK so I run the file checking process and it found 1.2 Gig of files needed looking at. I assume this is a check sum test or something similar. After that a quick test has shown the entities to be now OK. Not checked all yet and the 7018 error has not yet occurred. I will carry on testing and come back here if it happens again but in my case it looks like it could have been some corrupt file downlo

[2022-03-26 12:19] Tum1370 opened #2655 "GG Max - Request - Option to give Ally / Enemy AI characters Health regen"
As the title says, Can we please have the option to allow Ally / Enemy AI Characters have Health regen like the player does.

[2022-03-26 12:49] cybernescence commented on #2652
Hi Preben - unfortunately still seems the same with that build.

I see you are now THE Dear IMGUI expert :) Outstanding job on all those UI widgets!

Cheers

![Snowy Stutter](https://user-images.githubusercontent.com/35750023/160240155-3cba8f58-6ec9-4070-aa88-71b4a3b3c088.png)

[2022-03-26 13:13] GrobyKen commented on #2654
Seems to have cured the problem. So watch those downloads :)

[2022-03-26 13:59] plemsoft commented on #2652
@cybernescence Thanks :) , could you make a screenshot where it dont stutter so i can see the difference (values) , thanks :)

[2022-03-26 16:27] AlterMatz opened #2656 "Runtime Error: 7018() Game Guru Max"
I do not know if this reported already. After using the Lagacey Structur Editor i become an Error. Runtime Error:7018()
The designed room is not in the directory but only a cube. Any idea? Otherwise, everything is going great. A room only works two rooms as constructing EBE in the same level leads to a crash while safing the structure. Creating individual rooms separately and later merging them in

[2022-03-26 16:31] AlterMatz commented on #2656
After deleting the crashed Structure the Error is gone. Any clue?

[2022-03-26 16:57] #2596 closed

[2022-03-26 17:02] AlterMatz commented on #2654
https://github.com/TheGameCreators/GameGuruRepo/issues/2656
I had the Runtime Error 7018

[2022-03-26 20:36] Kitakazi commented on #2650
No sir the new .exe did not improve the issue. Very small but it seemed to make the issue slightly worse. Also made #1601 slightly worse as well.
Here is a video of the issue I used the .exe you linked for this video.
https://youtu.be/IySK__iHpzw

And just FYI I am using the steam version of Max now.

[2022-03-26 20:51] Kitakazi commented on #2650
Hmm I just tested with the normal .exe and Im not sure if the issue was actually worse with your new .exe it was really hard to tell i'd overall about the same.

[2022-03-26 20:59] GrobyKen commented on #2654
Could be as it was for me, see above.

[2022-03-26 21:33] tacooo12 opened #2657 "GameGuru Max runtime error 7018(Loading-main)"
Trying to run demo games I get the runtime error 7018(Loading-main). Also when I try to make a level I can make a level, but can not use 3d objects. I try to add a 3d object or simply hover over a selection and I get the runtime error 7018(0).

[2022-03-26 21:43] dennimoto opened #2658 "GGMAX - Missing ladder sounds"
The sound files that are referenced in the ladder behavior description ("Climbing Loop" and "Exit Climb") seem to be missing. Steam version.

[2022-03-26 21:49] fearlesswee opened #2659 "MAX - Clicking widget causes object to teleport"
TItle. The widget, when first clicked to start dragging the entity around, will cause the entity to "shoot" in a direction based on the widget arrow/box as if you had jerkily dragged it in that direction. This makes the widget completely unusable.

https://user-images.githubusercontent.com/56294129/160258186-78479179-8eaa-49e3-91b7-c146b209f632.mp4

[2022-03-26 21:51] Xabyn commented on #2027
![grafik](https://user-images.githubusercontent.com/52885943/160258263-03f45cef-5cc9-463c-be79-a9504f750cba.png)

same with any resize of the window

[2022-03-26 21:54] fearlesswee commented on #1439
Just bumping this issue as it still frequently occurs and I think should be addressed WAY sooner rather than later; widgets are how users piece together levels, without it the software's functionality and ease-of-use is severely limited.

[2022-03-26 21:54] Xabyn commented on #2027
![grafik](https://user-images.githubusercontent.com/52885943/160258296-413f065f-5c35-48d7-87a5-554ab7206148.png)
maybe some issues with having 2 displays, or calculating the Window-Position the wrong way. Moving the window causes the issue. Game Guru Max Steam version: 2022.03.025

[2022-03-26 22:21] emo10001 commented on #2509
I am having this issue as well.  Quite a few sounds will not play when you preview them.  You get the "progress bar" of the sound playing, but there is no sound.  Other sounds play fine.  For the sounds that do not play, if I browse to them in the file system and play them outside of GGM, they play just fine (with VLC for example).

Examples:
OpenDoor.wav
Parrots Wings Flap - 1.wav

Actually I wou

[2022-03-26 22:22] dennimoto opened #2660 "GGMAX - Feature Request - Transparent object outline in editor"
Please add a feature where all objects whose textures are set to transparent in the editor have a different colored outline while DESELECTED and retains the current yellow color outline while selected.

Currently if you set an objects texture to transparent, the yellow selected outline also becomes transparent, making adjustment of the placing of the object impossible while the object is still tra

[2022-03-26 22:41] ArgentArts commented on #2659
This has been reported several times here on GitHub. In one of them, Lee has stated it's fixed for the next update.

[2022-03-26 23:28] emo10001 commented on #2509
Ok, something of note on this.  It could be a bitrate issue.  Every sound that **will** play, the bitrate is 1411 kbps, but for all the sounds that won't play it's 705 kbps.

[2022-03-27 00:15] 3coms commented on #2027
Still, the issue remains in EA build.

![Entity_panel_scroll_fail_GGMax_EA_pic01](https://user-images.githubusercontent.com/47690174/160261268-f7f130ed-fe3e-489e-922d-0f704b173162.png)

[2022-03-27 00:28] fearlesswee commented on #2659
Ah my bad then, I haven't seen any of them so I presumed I was the first to report this.

[2022-03-27 00:28] #2659 closed

[2022-03-27 00:33] synchromesh62 commented on #1439
I think its already fixed for the next update :)

[2022-03-27 00:50] ArgentArts commented on #2659
No worries. This gizmo/widget bug has been a real PITA and I can't wait to get the update! ;)

[2022-03-27 03:15] Mt-Chiliad-UFO opened #2661 "GGM "Empty" map; water = "work in progress?""
latest v. 3-25 release...
I was wishing to request that water be added to an "empty" map so we can paint terrain from scratch while still accessing water.
Come to find out, water is (partially there). If you dig down deep enough~20 meters? water appears in the editor.

But the water is basically useless-- you cannot edit it's depth or any other attributes. The button does nothing. It's invisible i

[2022-03-27 03:35] Mt-Chiliad-UFO commented on #2653
Yes, makes sense. This sounds like a good way any designer could set a "preview" for the next level; put some assets / scenery near level complete trigger (though outside the current level) that suggest what the next level might entail. Is it a valley full of ruffians, or a stout mountain topped off by concertina fences?!

[2022-03-27 04:29] Necrym59 commented on #2658
There is none the option is there for you to supply if you want other sounds,
just use the footsteps sounds available in max to suit thsi is what i use.

[2022-03-27 04:37] #1816 closed

[2022-03-27 04:49] #2594 closed

[2022-03-27 04:49] #2321 closed

[2022-03-27 04:50] #2230 closed

[2022-03-27 05:05] UltraVox001 commented on #2255
@ZakJudges
It's sent :)

[2022-03-27 05:51] Xabyn opened #2662 "Umlauts (UTF8, UTF16, Unicode) are not shown correctly in Window-Title"
Look at Window-Title, my level name should be "Wüste". but the U-umlaut is not presented correctly

![grafik](https://user-images.githubusercontent.com/52885943/160268627-9e76c8c7-954d-44e2-84c1-364b92ce05b1.png)

[2022-03-27 07:45] cybernescence commented on #2652
It's quite difficult to catch the point it stutters (micro stutters) but I tried. The first profile column, is first run plays Ok, second and third are different times to try to snapshot the stutter period. The third column popped up extra CPU and other stats (see red box)? Bit weird though might be a red herring / profiler glitch - but if accurate adding on a huge 31ms?
![Snowy Stutter 2](https:/

[2022-03-27 08:18] cernisr opened #2663 "Failed to download the file list, error 0, please try again"
I'm unable to install the early access version of GGM. After about a 10 second pause, I get this message. I've tried dozens of times at various times of the day over the last 3 days. Running as Admin makes no difference. Windows 10 x64.

[2022-03-27 08:59] AlterMatz commented on #2654
I created an ebe. Then a second one in the same level. There was a crash while saving. Then the error code. The stored Ebe was represented as a cube and not as a room. After I deleted them from the folder, the error was gone.

[2022-03-27 08:59] Necrym59 commented on #2663
Did you purchase a steam key version

[2022-03-27 10:07] cernisr commented on #2663
No.

From: Necrym59 ***@***.***>
Sent: 27 March 2022 09:59
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: cernisr ***@***.***>; Author ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] Failed to download the file list, error 0, please try again (Issue #2663)

Did you purchase a steam key version

—
Reply to this email directly, view it on GitHub <https://github.com/TheGameCreators/GameGu

[2022-03-27 13:39] ArgentArts commented on #2594
Has the update been released with this fix yet? I wouldn't close this until it's been released and we've verified it as fixed. ;)

[2022-03-27 13:54] ArgentArts commented on #2661
Water is there in an Empty level. You just have to enable it. On the left-hand-side, go to View Options under Game Elements and twirl that down:

![water](https://user-images.githubusercontent.com/36735507/160284871-66e2119b-93a6-4b3f-b515-cc8a03d7b94a.png)

Once you tick those, you can then click on the Terrain icon at the top, go to Water on the far-right, and use the Water Height slider to rais

[2022-03-27 14:09] #2604 closed

[2022-03-27 14:54] Tum1370 commented on #2528
After trying groups again in the early release version, They are still very messed up.
I placed several rocks together, grouped them up to create a rock face boundary around my whole area.
But then after ungrouping the objects, they still appear grouped up.
Then i might try and place down some sandbags, Nothing to do with the group, But the appear in the current grouped objects.
I then delete the

[2022-03-27 14:57] ArgentArts commented on #2528
Grouping is an important feature, especially when working on indoor-only levels using modular pieces. We need this to work flawlessly, to be frank. :)

[2022-03-27 15:03] Tum1370 commented on #2528
Are we suppose to save the group to protect it from messing up?
Currently, I group objects together to create large clifffaces or something, then use the group to place them, then I un group them.

Is this suppose to be how we use groups?

Or for them to work correctly must we save them as the grouped object?

[2022-03-27 15:12] Sayajina opened #2664 "Importing custom objects"
Hi all. I'm a Rhinoceros 3D user and I've noticed I'm not being able to import custom objects inside Guru Max, despite trying either FBX or .X formats when exporting from Rhino. I still need to try some other softwares regarding importing/exporting, but wondering why this might be happening.

Error message says it fails to load, suggests converting the model file to the latest export version of th

[2022-03-27 16:03] Granada1 commented on #2664
Sounds like the ring exporter needs updating !

[2022-03-27 16:08] ArgentArts commented on #2664
From what I understand, MAX uses ASSIMP for importing files. It's pretty robust. I know I have no issues importing FBX exported from Blender. One thing you might want to try is importing your FBX into Blender and re-exporting from there. Then importing into MAX. Since we all know that Blender's FBX export format works fine with MAX, perhaps this will do the trick for you?

With Rhino, are there a

[2022-03-27 17:31] LeeBamberTGC opened #2665 "Deletion of files in the user folder should be stopped now we have released"
As title states, now we are out of dev, user writable folder is a reusable location

[2022-03-27 18:06] AlterMatz commented on #2657
https://github.com/TheGameCreators/GameGuruRepo/issues/2656
Had the same Problem

[2022-03-27 18:15] LeeBamberTGC commented on #2548
@dllllllllllb Work with fearlesswee to create a new gunspec file that reflects the need for the patrol rifle to have near perfect accuracy when zoomed up, and deadly accuracy when using the secondary scope mode and holding player breath.

[2022-03-27 18:17] LeeBamberTGC commented on #2594
@ArgentArts I am always happy for original posters of an issue to close their own issue as it saves the core team having to do too much house cleaning.  I believe there is another issue with the same fix still open, so the issue is still present to be confirmed fixed by a second user.

[2022-03-27 18:20] LeeBamberTGC commented on #2535
@ZakJudges Yes the is happening because somehow the character has calculated that a death anim can be used, but the physics 'trick' to find the floor goes very wrong and spins the final orientation as the physics 'box trick' hits the banister and flips over. Not ideal as the trick was really meant for terrain and sloping floors.  I think a few more collision checks to go direct to ragdoll if they

[2022-03-27 18:21] LeeBamberTGC commented on #2535
NOTE: I have assigned to you so you can check it out and learn how this system works. Eventually, I would like you to have a better grasp of the character AI, its physics system, the death anim system, and ragdoll.  This is a nice easy(ish) intro to completing a fix and learning the system at the same time :)

[2022-03-27 18:47] mauriegit opened #2666 "Destructible objects"
Good Day

Can the dev team at GG Max please investigate the option of creating destructible objects, or settings that may allow for object destruction in game?

For example a mission to destroy an enemy radio tower. Placing explosives or explosive barrels at the base of the tower, change a setting to make the tower destructible, which upon detonation of the explosives results in the tower collapsi

[2022-03-27 18:47] MonkeyFrogStudio opened #2667 "GameGuru MAX - Request - Use Grid Position to Use Only One Setting, Not Two"
Currently, when we check Enable Grid Mode and choose, Use Grid Positions, we get the ability to adjust the Grid Offset for both the X and Z axis:

![grid](https://user-images.githubusercontent.com/36735507/160295817-7fd6d729-1f59-4655-881a-aa2cb8d598bc.png)

I would like to suggest that when Enable Grid Mode is selected, that there be only ONE number to enter and that it automatically affects BOTH

[2022-03-27 19:00] ArgentArts opened #2668 "GameGuru MAX - Request - Option for Blender-Like Scale and Rotate"
Blender uses a pretty interesting and quick method for both scaling and rotating objects. You press "S" to enter scale mode and you can either drag on the entity to scale it manually OR you can type in a number for exact scaling. So, hitting "S" and then typing "10" would scale the object up by 10x. Enter completes the scale.

The same works for rotate. You press "R" and can either rotate manually

[2022-03-27 19:06] ArgentArts commented on #2668
For rotating about a specific axis, you just add another keystroke - X, Y, or Z. So, press "R" to activate rotation mode, press X to set it to rotation about the X axis, then enter your number or, if you rotate manually, rotation is restricted to the X axis.

Scaling offers the ability to do this, too, but also adds the ability to exclude scaling along an axis (allow scaling along two axis). So, l