[2022-04-11 20:09] Necrym59 commented on #2822
already been asked for in my previous post
https://github.com/TheGameCreators/GameGuruRepo/issues/2093

[2022-04-11 21:02] mike123yy commented on #2818
I have the same issue and I tried your suggestions. I unchecked the sound variance box and then deleted the script bank folder and had steam verify the files to reinstall what was missing. Still not working though. The patrol and speak doesn't work either.

[2022-04-11 21:49] OldFlak commented on #2421
This is even worse now with Multi-Texture with many meshes.

The importer will use the folder you select where the model is no matter where it is on your system - **at first**.

When you select the **R** part for your surface it will open to that same folder and you just choose the correct surface map - as expected.

Then it just fluffs it completely!
So now when you select G and B it opens to a n

[2022-04-11 23:05] OldFlak commented on #2421
Just tried this on a single Mesh\Texture Model
Same deal - completely fluffs it.

[2022-04-12 05:09] sirlion87 commented on #2805
Thanks now its more clear. I feel like I need to clarify why I use models with such a high number of meshes. The reason being, I'm converting raw geometry data from a BSP map editor into useable 3D format (OBJ). So while I optimize everything to the best of my abilities it is bound to have a high number of submeshes in certain situations. So you may want to take this into account for people that f

[2022-04-12 05:35] MickeyBow opened #2827 "Can characters enter the water"
Can characters enter the water if not is there any  AI tweak that can be added.

Zombies following got to a stream started to cross over

and the zombies just stopped.

Thanks

[2022-04-12 09:15] DaveTGC2 opened #2828 "Converastional characters can just be hit without responding."
Hi, from social media.

Characters set to talk, allow you to repeatedly shoot and hit them without becoming aggressive.  It doesn't feel realistic. They should change their combat stance if attacked.

[2022-04-12 10:32] ZakJudges commented on #2805
@sirlion87 I have now marked this as an enhancement so we can take another look at this in the future :) I think rather than allowing more than 100 materials, it is likely we will aim to implement some sort of automatic reduction in the mesh count

[2022-04-12 10:58] Ghost-l0l commented on #2824
@ArgentArts
"When I walk through the woods in The Vanishing, this is what I would want to see in MAX" - hehe, and I would like to see destructible environments like in Bad Company 2. Now you tell me who got more "important" request and why you XD

OK OK I'm just joking but look:

I agree that Max visuals could be better, but comparisons like that are very unfair because:

1. Both Unreal engine 3 a

[2022-04-12 11:20] gamesambassador opened #2829 "Every time I save the game the software crashes ?!!"
Every time I save the game the software crashes and I uninstalled the software and re-installed it again and nothing changed, and  I have also tried to verify integrity software files and The problem has not been resolved, Can you help me please, thank you

[2022-04-12 13:14] dllllllllllb commented on #2829
Hi @gamesambassador , can you please post your computer specs, CPU, GPU, GPU driver version, RAM and OS.

Also in the C:\Users\*Your used name*\Documents\GameGuruApps\GameGuruMAX there should be two .log files, please post them below as well.

Does the software crash when you try to save a empty level? Are you using custom assets in your level? The more information you can provide the better :] Th

[2022-04-12 13:55] ThomasJowett commented on #2190
https://gamedev.stackexchange.com/questions/165505/why-rotating-an-object-only-on-its-local-x-axis-result-in-sudden-180-degrees-cha

This seems like the same issue, when pressing "R" to rotate an object it rotates it using a quaternion, meaning that an orientation of x= 180 y = 45 z = 180 is the same as x = 0 y = 135 z = 0 and can produce either based on the previous rotation, the calculation of t

[2022-04-12 14:05] gamesambassador commented on #2829
hi You mentioned Do I use custom assets in my  level , yes ,  I copied Game Guru Classic assets to Max , Is that a problem .

[2022-04-12 14:09] dllllllllllb commented on #2783
@LeeBamberTGC The "Blood Effects" setting in characters developer settings doesn't do anything from what I can tell. However there is a Blood Effects setting in the Player Start Position marker that works as intended.

I think the character setting gets overridden by the Player Start Position setting. It also makes no sense to tick off every single character in the level to get rid of blood effect

[2022-04-12 14:21] LeeBamberTGC commented on #2190
@ThomasJowett Yes that is the phenomena right enough.  Maybe the solution is to ignore the euler and instead obtain the quat from the object itself, that way the flattened area always has the true rotation.

[2022-04-12 14:33] dllllllllllb commented on #2814
@Tum1370 It works as intended for me. https://gyazo.com/0ffa5a7bb7c8215085dab250c099fc7b

Does this happen in standalone or maybe have you modified the trigger zone in some way? If you can reproduce it, please send me your .fpm
My email: maciej@thegamecreators.com

[2022-04-12 14:35] ArgentArts commented on #2824
@Ghost-l0l So, I take it you looked at the title and screen shots, but didn't actually read what I'd written, because what I'd written had little to do with anything you'd said above. In what I'd written I'd mentioned WHY I'd posted those screen shots from a game made almost a DECADE ago:

1 - SSAO helped to make things like the ground vegetation look much better, so adding SSAO would help MAX (so

[2022-04-12 14:36] gamesambassador commented on #2829
hi  Yes, this was  the problem and when I removed the assets it did not crash, Problem solved, thank you for your help

[2022-04-12 14:44] #2829 closed

[2022-04-12 15:23] Tum1370 commented on #2814
@dllllllllllb
I have created a simple test of this for you.
There is a shanty building in front of the character spawn, Inside the 2nd room, there is a Ally character not showing at start.
There is a trigger zone in the 2nd room.
The trigger zone activates the ally character to spawn, but never gets removed like it should do after triggering once.
If you run out and in the room, or sometimes even

[2022-04-12 15:36] ZakJudges commented on #2779
Hi @davetgc, I imported the model seen in the screenshot and confirmed the issue you are seeing. I also tried it in a previous build from September, and still saw the issue. Would you be able to send me one of the models that still works? That would allow me to compare the two, so I can see where things go wrong. Thanks!

[2022-04-12 15:41] ZakJudges commented on #2793
@ArgentArts Could you try and add the attached files to a map and see if you still see the same?
[cube test.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8474452/cube.test.zip)

[2022-04-12 15:46] ArgentArts commented on #2793
@ZakJudges That cube animates perfectly in a map.

[2022-04-12 15:55] MonkeyFrogStudio opened #2830 "GameGuru MAX - Bug - Custom Save Location on Import Object Request MAX Restart"
MAX allows the end-user to save imported 3D objects to their own custom folders. This is great. However, if you select anything other than the default \use folder, then after importing nothing will show in the Add menu, neither the 3D model nor the newly created folder. In order to get both to show up, you have to exit out of MAX and restart.

[2022-04-12 16:04] ArgentArts opened #2831 "GameGuru MAX - Request - Constantly Have to Reset Developer Settings!!!"
Yes, I've requested this before, but I think it's a bad decision to keep resetting the Developer Settings. Part of what I do is create tutorials for GameGuru MAX. And part of that means I use the Developer settings ... a lot. For example, for this week's tutorial, I am talking about collision shapes and, thus, I am showing them as the game runs. Each time I've closed down MAX, I've had to go into

[2022-04-12 18:25] Mt-Chiliad-UFO commented on #2824
"You're comparing a game-engine to a game. Thats 2 different things."
? Though I feel where you are headed with that, the end does not meet the intention - that of engine features and (what could be). Because even if one is little and immature and the other big and mature- comparing the output of two different game engines- isn't that comparing two different game engines? Regardless of the compari

[2022-04-12 18:26] Mt-Chiliad-UFO commented on #2828
Same if they have been put down, stone cold prone on the ground, and their ghosts are in heaven. :)
JB keeps talking his lines anyhow...

[2022-04-12 18:57] relishrompgames opened #2832 "GameGuruMax.exe - Trend Micro antivirus said it's a virus."
Has anyone had their antivirus software delete GGmax because it thought it was a virus? Trend Micro now says it's a virus... :(
I've been using GGMax for almost a year now. No issues like this.

I was working on my game - un grouped some objects - deleted them - clicked save and AV software went crazy
![Vir_1](https://user-images.githubusercontent.com/98617471/163033773-303ce4cb-068f-4dfe-b283-5f6

[2022-04-12 19:21] Ghost-l0l commented on #2824
@ArgentArts Ok, so at least we both agree that max could look better than right now :) But:
I'm not assuming anything - I literally quoted what you said in the first line of my message, do you even read before you answer?
You said: " When I walk through the woods in The Vanishing, this is what I would want to see in MAX:"  And then you show bunch of screenshots from Vanishing. It looks more like l

[2022-04-12 19:29] ArgentArts commented on #2824
@Ghost-l0l _ I honestly think the only reason you want to respond here is to argue. I've made my point. The screen grabs were inspiration for my points - SSAO, variance of ground vegetation, tufts of ground vegetation, and rock protrusions. It's simple. My inspirations were drawn from seeing these images. Period. If you can't see past that, then I am sorry. Please do not continue to cloud my featu

[2022-04-12 19:40] Ghost-l0l commented on #2824
Ok so let it be the end :) I wish you well in your projects too!

[2022-04-12 21:08] janekste opened #2833 "Improving the image zone for GameGuru Max - add a check mark for a one-time trigger [ENHANCEMENT]"
Hello!

In the image zone, the picture is shown every time. But sometimes the picture needs to be shown once per game. It would be great to be able to put an additional check mark - show the image once per game, and then destroy the trigger forever.

Thank you for your time.

![image](https://user-images.githubusercontent.com/55485525/163053891-9600baa0-62d2-4b22-b7f3-b3d1a64f1333.png)

[2022-04-12 22:17] LeeBamberTGC commented on #2105
@ThomasJowett Ignore the "water through clouds" part for now, focus on the first screenshot that shows water through haze/light streaks to reproduce and determine why, or discount this as only applying to clouds.

@PaulSJ @plemsoft Feel free to chime in with your own theories here so Thomas can explore and reproduce this distant water effect.

[2022-04-12 22:21] LeeBamberTGC commented on #2574
@ThomasJowett I am noticing this in new levels I am making for all characters when their head gets in front of a bright sky. We need the light effects to apply to the transparent surfaces as it does with the opaque ones.  See Pauls explanation above which I think is the right determination, and see if you can restore the code so that light rays are rendered AFTER the transparent objects.  Then det

[2022-04-12 22:29] PaulSJ commented on #2105
The water in front of the haze issue is caused by the same thing as issue #2574 once we fix that then this issue will fix itself. The water and clouds is something else though.

[2022-04-13 00:12] OldFlak commented on #2356
I think this may be due to utillib playerlookingat function not working properly now - MAX broke AM's code!

[2022-04-13 00:15] OldFlak commented on #2421
Can we just have the old importer back - that worked fine, aside from MAX not remembering settings which he still doesn't do reliably now anyway :)

[2022-04-13 00:19] Kitakazi commented on #1716
I believe this is fixed now

[2022-04-13 00:19] #1716 closed

[2022-04-13 00:19] Kitakazi commented on #1613
Enemy zombies will now kill allied soldiers! yay

[2022-04-13 00:19] #1613 closed

[2022-04-13 00:20] Kitakazi commented on #1600
White lines seem to only appear on grey textures. Set to Metal.

[2022-04-13 00:42] Kitakazi commented on #2824
@Ghost-l0l
I made this video/map with Unity with an outdated nature pack, from like 2018.  I'm one person and it took me like 2 days. It doesn't even look very good but(especially the rain) but I dont think its possible to make Max looks as good at the moment.

[2022-04-13 01:00] ArgentArts commented on #2824
There are individuals using Unreal these days, creating better scenes than The Vanishing of Ethan Carter in only a few hours, thanks to the Megascans library. These creation videos are all over YouTube to be seen. So, it's certainly possible for individuals, with the right tools, to equal, or even surpass, the visual quality of The Vanishing. Even so, that wasn't what I was after, as I hope was ap

[2022-04-13 04:02] Kitakazi commented on #2824
Yes sorry I don't mean to derail your post.
 I agree with your original points as well. All those things would be a welcome addition.

[2022-04-13 04:04] ArgentArts commented on #2824
@Kitakazi I didn't think you did derail it at all. I appreciated the support, in fact. ;) I was actually surprised I had gotten the original pushback, actually. ;)

[2022-04-13 06:36] rvanner opened #2834 "User reporting: RUNTIME ERROR: 0 : D3D11CREATEDEVICEANDSWAPCHAIN = E_INVALIDARG ()"
@PaulSJ Do you have a clue why the user would see such an error?

See report on Steam here;
https://steamcommunity.com/app/266310/discussions/0/3282569790362975004/

[2022-04-13 06:39] rvanner commented on #2834
@PaulSJ Stand down, this is a Classic bug! @plemsoft Can you reply on this when you are back please?

[2022-04-13 08:21] TheCzar1 opened #2835 "GameGuru Max Crashing "RunTime Error 7018""
I recently installed GameGuru Max and every time I try, and run one of the demo levels, the program brings up a "runtime Error 7018" message, and then when I click "ok"; the whole program shuts down! I have tried uninstalling and reinstalling GameGuru Max, but I am having the same problem still, and I do not know what to do?

My system specs:
Intel Core i9 12900KS
Asus ROG Maximus Apex Z690
G.Skil

[2022-04-13 09:58] dllllllllllb commented on #2814
@LeeBamberTGC I tried to fix this myself but I'm not sure what the appropriate solution would be.

The issue comes from linking AI characters to the trigger box which makes them share the t.entityelement[t.e].active var.

When you walk into the trigger zone, the zone gets deleted and has .active set to 0 but then it gets reset in the entity_lua_spawn_core() to "Restore entity and it's AI". Getting

[2022-04-13 12:39] OldFlak commented on #2143
Just reporting back to say this issue is still not sorted...

The text on this panel in below pic used to cast a shadow on wall.
The Cast Shadows checkbox in properties is now being retained, and as shown in below pick Transparent Shadows is also checked.
![image](https://user-images.githubusercontent.com/12246318/163180799-412f3ded-c863-4eae-bd1b-9a23348a46ba.png)

[2022-04-13 12:40] Jackdanielsvs68 commented on #2240
Yes, I testify, it's much better now.

[2022-04-13 13:43] ThomasJowett commented on #2105
I changed the name due to prevent this from being a duplicate of #2574

[2022-04-13 14:47] Jackdanielsvs68 commented on #2240
I exported it as a standalone program and there is no problem with the player running anyway. But under the house on the hill there is no horizontal base here. The house is horizontal, but you can go under it, even though it had a base in edit mode. Allied soldiers shoot the animals. Is this intentional?

[2022-04-13 14:50] Jackdanielsvs68 commented on #2240
I replaced the building that shows the character, straightened the boxes inside, and it got a lot better.

[2022-04-13 14:58] Tum1370 opened #2836 "GG Max - Bug - Health Regen"
This health regen starts even if my player is still in combat with the enemy.

[2022-04-13 15:43] #2836 closed

[2022-04-13 16:38] ArgentArts commented on #2799
@dllllllllllb This is not just about the Save Standalone, but about any time the game is run, even in test game.

[2022-04-13 16:41] casigus opened #2837 "Custom model texture changes"
when I save the map  or even move the object,  the custom model textures change witth MOST of the textures  just  turning white.

![image](https://user-images.githubusercontent.com/68471279/163229187-0b4730b8-ef1b-4241-915a-bd1d56e0a10f.png)

[2022-04-13 17:12] ArgentArts opened #2838 "GameGuru MAX - Bug - Today's Update F1 to Toggle Widget Is No Longer Working!"
After I got the latest update, pressing F1 to toggle the widget on/off no longer works!

[2022-04-13 17:41] MitiCucurov opened #2839 "No character collision"
Hi everyone!
I am working on a indoor scary shooter but the enemy AI keep passing through walls ( they might be using cheat codes haha).
I have made the building myselft (and imported to GG, it  was not made inside the GG engine) and it's colliding with the player and all seem like it's working fine, except when it comes to colliding with enemy characters. Enemies can see (me) through walls and th

[2022-04-13 18:51] Zorgo33 opened #2840 "Feature Request - Custom scale values with numbers (including decimal numbers), without having to use the slider."
I've said this in the broadcast and as suggested, here is the request in github.

Sometimes objects resize too much from scaling by 1 more in the slider. So having the ability to add numbers like 30.5 etc would be great for more detailed, personalisized editing.

[2022-04-13 18:55] Zorgo33 opened #2841 "Feature request for storyboard editor. (Random screen elements)"
It would be great to have this included in future storyboard editor plans - the possibility to have random chosen text or background images for loading screens, or any other screens. For example randomized game tip texts, or background environment images.

[2022-04-13 20:09] casigus opened #2842 "custom object collision issue"
collision in the editor works.

![image](https://user-images.githubusercontent.com/68471279/163260840-07329293-e2e4-4bc9-89c0-18d7d1ddbfb5.png)

collision in the  game  doesn't.

NOW

whats also intresting is that the models that the textures  have justt disapeared witth  (even though the textures are in folder) do have collision.

now after trying too import the model again (and having  to do the

[2022-04-13 20:44] mike123yy commented on #2818
I seem to have found a solution, at least in my problem with it not working. It refuses to work if the NPC is set to neutral. You have to set him to enemy to activate the dialogue.

[2022-04-14 05:10] Skevos-Mavros commented on #2841
I second that idea.  A random option should be added consistently throughout GGM - from sound effects to animations to particles to splash screens and loading screens.

[2022-04-14 06:17] Kitakazi opened #2843 "Turning off Drag/Drop Entity Mode also Turns off the Outlines for Selected Entites"
If you turn off Drag/Drop Entity mode under the Developer tab it will turn off the Outline on Selected Entities. Even if Use Outline for Selected Editor Objects option is turned on.

[2022-04-14 11:25] OldFlak commented on #2215
After ~~working~~ persevering in latest build I think it would be better to rip the whole Smart Placement system out all together.

In very first builds of MAX building scenes was easy, the only issue we had was things moving when clicked.

Now building any kind of scene is nothing more that a click-fest and an annoyance - it is not the slightest bit intuitive and definitely not fun any more, and

[2022-04-14 12:24] ArgentArts commented on #2727
@plemsoft As of the 2022.04.013 version, this has resurfaced. It's like this version of MAX is a regression or like someone snuck in an older version of the software! Even the F1 to toggle on/off the widget no longer works!

[2022-04-14 13:33] Tum1370 opened #2844 "GG Max - Bug - PLAY GAME - My own game + PLAY ALL LEVELS from Storyboard"
I have a game with 2 levels presently. Everything in Storyboard is linked up correctly, to go to next level after getting to Win Zone.
Now when i press PLAY GAME for my own game from the HUB, I play the first level, Get to the Win Zone, And the game just says Game Complete, rather than going to next level. I DO have the GUN when doing this method.

When I Test the game from Storyboard, And have "S

[2022-04-14 16:11] LeeBamberTGC opened #2845 "New WInZone Game Element"
To extend the ways you can complete a level, the WinZone game element will have additional options:

![image](https://user-images.githubusercontent.com/35840583/163429400-2ff82468-8432-4d72-8e56-43dd29b6a88d.png)

The trophy element will be the same, but additional properties allow the element to have ZONE ticked OFF, and additional conditions can be applied (user can have one or more of these to

[2022-04-14 16:13] LeeBamberTGC opened #2846 "Ensure die when fall from great height"
Right now the player with 500 health survives this with only 150 points lost:

![image](https://user-images.githubusercontent.com/35840583/163430453-0aa8832d-db7e-463f-8f22-1d722e97f7c8.png)

Set for more damage by default!

[2022-04-14 16:14] LeeBamberTGC opened #2847 "Add property to text zone behavior = use one only"
As title says, sometimes you only want to see the text ONCE:

![image](https://user-images.githubusercontent.com/35840583/163430759-5a3248cc-c4de-4998-80be-8dff854f4b1a.png)

[2022-04-14 16:18] LeeBamberTGC opened #2848 "Create new Pickupable behavior - collect, carry, throw, place"
Create a new simplified behavior and assign by default to all objects that should reasonably be carryable, up to the size of large crates. Allow for collision, smooth positioning of the carried item. No need for the stack system for this simpler version, and ability to set the weights and frictions of the objects through common properties (and assigned correctly by default based on material type).

[2022-04-14 16:19] LeeBamberTGC opened #2849 "Create User Manual Article On GameGuru Classic Migration Compatibility"
Create page in manual for all options for GG Classic users who are migrating to MAX.  What are 100% compatible, what are partial and what are none starters. Advice on how to move assets and creations across.

[2022-04-14 16:24] ThomasJowett commented on #1540
This seems to be an issue with the sorting of transparent objects for determining their rendering order. The water is drawn in the opaque pass and so is not sorted, like other transparent objects.

this is an interesting article on the topic: https://www.khronos.org/opengl/wiki/Transparency_Sorting

[2022-04-14 16:50] MonkeyFrogStudio opened #2850 "GameGuru MAX - Question/Request - Versioning?"
For those of us getting the experimental builds, why don't they have a better versioning system? At least I can't find one. For example, if I go to Help>About, my version states it's 2022.04.13. When I got the 2022.04.08 version, well ahead of 04.08, it updated several times. Each time the version was given as 2022.04.08. So, if I, or anyone using the experimental version, were to report an issue

[2022-04-14 17:44] AmenMoses commented on #2848
Is there a Lua command to set the entity weight?

If so does it cause the physics mass to be recalculated on the fly?

Ditto for friction.

Why not stacking?

Anyhow if you have commands now to set mass/weight/friction on the fly I can tweak the proper pickuppable script to have them as dynamic Lua settings very easily.

Although could you fix #2279 so it will work properly with all entities.

[2022-04-14 18:25] DarthPickles666 commented on #2515
Yeah, I think this definitely needs to happen. I understand that it's for simplicity, but it would definitely make it better.

[2022-04-14 18:26] LeeBamberTGC commented on #2848
@AmenMoses I certainly would prefer to resurrect your full pickupable script, but as I did not write it I got lost along the way and could not bend it to my will with the current system, the object did all manner of interesting things.  Ergo my solution to start from the known with something simple, and build it out again as MAX requires.  Happy for you to see if your original can be reborn, and i

[2022-04-14 18:33] ArgentArts opened #2851 "GameGuru MAX - Bug - Unable to Change Button Appearance for Graphic Settings Buttons"
Currently, we are unable to change the button appearance for the Low, Medium, and High buttons for Graphic Settings. If you click the Back button, the controls appear to change the button appearance:

![graphics1](https://user-images.githubusercontent.com/36735507/163454450-0cb79436-a961-4679-9d86-cbeb8565ec1b.png)

But if you click on any of the graphic setting buttons, these controls disappear:

[2022-04-14 18:35] DarthPickles666 commented on #2851
I can provide a perfect example of this looking completely odd.
![image](https://user-images.githubusercontent.com/101579658/163454825-76f409e6-a6d2-4ffb-b76d-8074774b7b39.png)
![unknown](https://user-images.githubusercontent.com/101579658/163454871-8f1d3767-e8ad-4294-a1da-8bc4df0bc631.png)

[2022-04-14 18:43] Ghost-l0l commented on #2824
@ArgentArts Hey, just wanted to say - when I read now what I've written 2 days ago, I really can't understand why I responded to you with so much negativity, probably I had a bad day. It was unnecessary to say the least, some of what I wrote was also kinda rude; Just want you to know that I can see that now, I hope you wouldn't make your mind about me just from this silly rant I wrote :)

 @Kitaka

[2022-04-14 18:46] ArgentArts commented on #2824
@Ghost-l0l - Thanks! I truly appreciate it. No worries and definitely no hard feelings. I've done the same myself (especially before I've had my coffee!). Thanks again and, again, truly not a worry on my end. :)

[2022-04-14 19:09] LeeBamberTGC commented on #2824
@Ghost-l0l @ArgentArts Dudes, you guys totally represent the community right now. Passionate about your craft, but very froody and cool. For my pennies worth, you both do amazing work!!

[2022-04-14 19:18] ArgentArts commented on #2824
@LeeBamberTGC Thank you, Zaphod Beeblebrox! :P

[2022-04-14 20:04] Kitakazi opened #2852 "Copy/Paste and then Scale an Entity will make the Entity Vanish"
If you Copy and Paste an Entity and then immediately try and rescale it, the new copied version will turn invisible.  If you deselect the entity and then select it again it will scale fine.

[2022-04-14 20:10] Tum1370 opened #2853 "GG Max - Bug - Standalone Character Created Enemies Had Black Trousers instead of Camo Trousers"
As the title says, I have just tested doing a Standalone of a level, And i had 2 Character Created Guards, Both had full camo gear, including trousers and hats.
In the editor they are working fine,
On Standalone they all had Black Trousers, and Black hats.

[2022-04-14 20:36] AmenMoses commented on #2848
Well if you tell me how you want it to behave, i.e. which keys/mouse buttons trigger push/pull/throw/rotate then I can tweak it to your will. :)

[2022-04-14 21:06] Necrym59 commented on #2849
Can the Classic heightmap (m.dat i think it was) be converted to a heightmap for use in MAX most of the other assets come through ok

[2022-04-14 23:04] Ghost-l0l opened #2854 "GG Max - bug with editing materials"
https://youtu.be/awNEHhVYupg - recorded on lastest build [experimental]

[2022-04-14 23:09] Ghost-l0l opened #2855 "GG Max - buggy asset rotation"
https://youtu.be/Pu6L2w1Bp3k - recorded on lastest build [experimental]

[2022-04-14 23:18] Ghost-l0l opened #2856 "GG Max - grouped objects break when rotated"
https://youtu.be/cySH-jqhejc  - recorded on lastest build [experimental]

[2022-04-14 23:50] Ghost-l0l opened #2857 "GG Max - Jungle assets got wrong transparency settings"
https://youtu.be/TH5ljz2ycNM

[2022-04-15 00:12] Ghost-l0l opened #2858 "GG Max - triggerzone unselectable when placed on locked assets"
https://youtu.be/BFfSczwcc3I - that bug seems like nothing big, but when trying to build interior level it gets a bit irritating

[2022-04-15 00:20] Ghost-l0l opened #2859 "GG Max - triggerzone invisible under water, but visible again when you're also underwater"
Canyon Offensive demo got whole big area with water to knee level, and there's few triggers there that most users will probably never see because of this bug: https://youtu.be/fpSpDva5rJA

[2022-04-15 04:07] ArgentArts commented on #2857
Can confirm. I'm also getting this with the latest internal build.

[2022-04-15 06:27] rvanner commented on #2763
@LeeBamberTGC This is one of the key issues we spoke about yesterday

[2022-04-15 06:29] rvanner opened #2860 "Allow allies & enemies to walk upto waist height in the water"
As discussed, let characters get into some of the water's edge. You might consider a flag that stops a character from entering water, not everyone would want their characters moving into water.

[2022-04-15 06:31] rvanner opened #2861 "Day/Night Cycle"
Add back the simulated day/night cycle option. This to only work for simulated sky levels.
The speed how the time passes should be a user selected variable.

[2022-04-15 06:33] rvanner opened #2862 "Define a zone area with a distance radius (instead of a shape)"
A radius check would be an easier setup.

[2022-04-15 06:35] rvanner opened #2863 "Drop objects when another object is destroyed"
Assign objects a on death/on destroy script to allow actions on destruction.
Developer feature (possible new behaviour for loot box logic)

[2022-04-15 06:38] rvanner commented on #2853
@Tum1370 Can you please paste images of them before and after? It will help identify the issue. Thanks

[2022-04-15 06:41] Tum1370 commented on #2856
I have stopped using groups because they always mess up.
Not just the rotation, but end up getting other problems with previous groups you had already paced.
Better to not even attempt to use them.

[2022-04-15 06:42] Tum1370 commented on #2853
I’ll redo this and post mages when home from work later.

[2022-04-15 06:52] ArgentArts commented on #2862
But what if you need a shape because a radius would allow that trigger to be accidently triggered in an adjacent room, for example? Currently, with zones, like Trigger Zones, we can add as many points as we need to create a custom shape to conform it as we please. This means we can fit a zone to any shape, if we need, without extending beyond or into another area, no matter the shape or size.

[2022-04-15 08:58] AmenMoses commented on #2862
A more intuitive method would be to simply paint a zone similar to painting grass in Classic.  The engine simply saves a zone that encloses the shape painted.

Have a button to turn the displaying of zones on and off.

But the most important thing is completely exposed via Lua so they are actually useful.

[2022-04-15 09:59] Tum1370 opened #2864 "GG Max - Standalone - Icon - Even after changing icon to a 256x256 png Standalone ICON is still Max icon"
As the title says, Changing the ICON of the Standalone does not change the ICON from the standard Max icon.

[2022-04-15 10:10] Tum1370 commented on #2853
OK in the first image, i have tested the single level, and you can see the characters all have Camo trousers
on the second image, this is a Standalone, and you can see all characters trousers are Black.

![Camo Trousers](https://user-images.githubusercontent.com/66874403/163558574-87b2ac56-003e-4bc9-8b68-a357e63825f3.png)

![Black Trousers](https://user-images.githubusercontent.com/66874403/163558

[2022-04-15 10:23] Tum1370 opened #2865 "GG Max - WinZone - Loading Next Level before audio finished playing"
I have a Winzone when you get to a helicopter, THe Winzone plays the Audio "Its about time, lets get out of here"
But if you create a standalone, then play the game, and when you get to the Winzone, The next level starts to load before the audio message has finished playing.

[2022-04-15 10:39] Tum1370 opened #2866 "GG Max - Request - Storyboard - Different Loading Level Screen per level in game"
Could you please add the option to have a different loading level screen per level. Seems silly using the same loading screen for every level.

[2022-04-15 10:45] Tum1370 commented on #2844
As a note to everyone, I am using the latest "12th Gen Intel(R) Core(TM) i9-12900K" CPU

Could this be causing me these issues that no one else is getting ?

[2022-04-15 10:46] Tum1370 commented on #2405
As a note to everyone, I am using the latest "12th Gen Intel(R) Core(TM) i9-12900K" CPU

Could this be causing me these issues that no one else is getting ?

[2022-04-15 15:22] igor-gouveia opened #2867 "Guide character file does not match"
The file in "GameGuru MAX\Guides\Characters" directory does not match with the .dbo file used in game guru max. The name and rotation of bones are different. I appreciate if you can fix this so the community can create custom parts.

I renamed the bones but the rotation is still different.
![image](https://user-images.githubusercontent.com/55865487/163588638-60aa9920-758c-4951-8dbf-4221b60e2e5b.pn

[2022-04-15 15:41] Tum1370 opened #2868 "GG MAX - Please hurry and FIX This bug with pressing PLAY GAME from the hub"
This bug is really starting to annoy me now.
Its not just the fact the the demo games have no gun, Its now affecting TESTING ALL levels of your own game.
Also, how can only a few of us be having this issue ?????

https://github.com/TheGameCreators/GameGuruRepo/issues/2844
https://github.com/TheGameCreators/GameGuruRepo/issues/2405

This is driving me crazy. I have even thought about reinstalling W

[2022-04-15 15:50] Tum1370 commented on #2853
Here is a simple one to see that i made. First image is on Standalone game, And the guards have black trousers.
Second image is TEST PLAY from editor, they all have camo trousers like they are suppose to.

![image](https://user-images.githubusercontent.com/66874403/163591794-6eedab76-a423-4cf1-97db-2d995444b63a.png)

![image](https://user-images.githubusercontent.com/66874403/163591916-07f446b0-2e

[2022-04-15 15:56] Mt-Chiliad-UFO commented on #2862
+3 for no on
"(instead of a shape)"

'MAX' limited to a circular trigger zone? Shaped zones have been in GG for ages and their flexibility is incredibly useful. They are also reliable. I have tested them trying to 'trick' the zones to mess up but they are solidly coded. Developers need developer tier tools, so .... /redacted/ !

AmenMoses idea is the highest feature *addition* to shoot for- and wo

[2022-04-15 16:31] Zorgo33 opened #2869 "Game Guru MAX - Feature Request"
Requesting a feature related to the sky - switching between 2d and 3d clouds. As i remember in older EA builds, game guru max had dynamic clouds that looked 2d, now there are 3d ones of course. It would be cool to be able to have both versions to be available for choice. It would be useful for optimization and certain game graphical styles :)

[2022-04-15 16:33] ArgentArts commented on #2862
You know the old saying, "If it ain't broken ..."

[2022-04-15 18:38] fearlesswee commented on #2862
Here's another comment in favor of keeping zones as-is. A radius check is infinitely less useful than a custom-shaped zone, and custom shaped zones are already here and working, why replace it!?!?

[2022-04-15 18:41] fearlesswee commented on #2861
I personally think the night sky appearance needs improvement first; right now a simulated sky night is a black void which does not look right. There should be some stars up there; if not a randomly-generated field of stars then perhaps a user-selectable "night skybox" which fades in as the sun sets, and fades out as it rises again in the morning.

[2022-04-15 18:51] Granada1 commented on #2862
Have to agree on that one , there good enough as is

[2022-04-15 18:59] synchromesh62 commented on #2862
I think Zones work well ... Perhaps give them height detection so they are not activated on upper levels.
Other than that generally if your a bit fussy like me you can shape them to fit.

![TZ](https://user-images.githubusercontent.com/35708217/163621006-bc215aae-6fc8-4e05-b013-0ba171a39d1a.png)

[2022-04-15 19:21] ArgentArts opened #2870 "GameGuru MAX - Request - Storyboard - More Flexibility - Possible Rethink"
The idea, addition, and creation of the Storyboard Editor in MAX is genius. So, keep that in mind with this request. I don't want to lose sight of the fact of how great an idea it is. It's a fantastic tool for structuring your game visually, which is something I completely dig. Having said that, it's very inflexible at the moment. That may be okay for a basic game creation tool, but it's very limi

[2022-04-15 19:23] Granada1 commented on #2862
height detection Is a good point 👍

[2022-04-15 19:56] ArgentArts commented on #2862
Perhaps the only change that should be made is the zones should become 3D. Not only should we be able to add points to define their shape, as we can now, but perhaps we should be able to drag upward to create a HEIGHT to determine the LIMIT of the zone along the Y axis.

[2022-04-15 20:08] Tum1370 opened #2871 "GG Max - Bug - Saving Group - Does not work"
I know groups are really buggy presently, but i just tried creating a barrel, had a fire particle in it, and 4 pieces of plywood, one had fire sound in it.
The group saved, but the image did not save, So the object library is just a blank image for the item.
Then after trying to place the object, nothing was placing. The group had not saved properly.

[2022-04-15 20:49] LeeBamberTGC commented on #2848
I was going to have the following controls:

* When get close enough to an object marked as pickupable, it prompts the user "Left Click to pick up object"
* Any object too large to be picked up will instead read: "Object is too heavy to pick up"
* Once collected, the object will hover in front of the camera view at a distance scaled to the size of the object
* No rotation control is given, the obj

[2022-04-15 21:31] AmenMoses commented on #2848
Ok so the pickuppables script does pretty much all that already except 'throw' is left click + a modifier key (currently 'R' but could equally be shift or 'E'.  For WASD use 'E' or 'R' is more intuitive but some users suggested 'E' should be for using the carried object in some way or as an alternative drop mechanism, i.e. 'E' to pick up and drop.

The rotation is something that most people I have

[2022-04-15 23:36] Tum1370 commented on #2871
After testing groups for a while tonight, I can create the group of many objects, like tent, trees, shrubs, characters and flags.
I cannot save this group, that is always buggy.
But i can place the group, while the items are grouped.
But it seems you have to be very careful on what you do with groups else what you place, moves, and messes up.

They really do need a lot of work to be really good.

[2022-04-16 00:25] LostSoul54 commented on #2818
Confirmed it must be set to Enemy. Ally or Neutral not working. This needs to be fixed

[2022-04-16 00:51] synchromesh62 commented on #2848
**I can make all the current behaviours switchable via dynamic Lua parameters, i.e. rotation, throwing, stacking can all be made selectable.**
I was about to suggest that when reading Lees bullet points. In fact that would be awesome to have full control of what you can and cannot do. For a **Shooter** you want to pick up and run .. For **RPG** you would probably want to pick up rotate and examine

[2022-04-16 05:43] #2852 closed

[2022-04-16 07:57] Tum1370 commented on #2870
Nice idea

[2022-04-16 08:20] Duchenkuke opened #2872 "Gameguru CLASSIC ---- Water doesnt reflect decals or transparent objects."
Can this be fixed please?

Thank you

[2022-04-16 08:22] Duchenkuke opened #2873 "Gameguru CLASSIC --- Materials Folder missing in standalone projects."
I am talking about effectbank/reloaded/media/materials

This folder is always missing in standalone projects - that means there are no specular maps for some entities wich can be quite the issue.

Could this please be fixed ? Thank you.

[2022-04-16 12:01] Tum1370 commented on #2853
After playing my standalone level, I also noticed that a different character creator character also had black trousers, but also had black arms, It is like there are missing materials when creating a standalone.

[2022-04-16 12:04] Tum1370 opened #2874 "GG Max - Bug - Standalone - Character kept respawning after death. We need the option of whether one life or many lives."
As the title says, I thought presently the game is suppose to be one life only, but my Standalone game i kept spawning every time i died.

Really we need the option for this, as some developers will one several lives, And some developers will want one life only.
Other developers might want it so you start with one life, and find extra lives as you play.

We need options for the Lives system

[2022-04-16 12:51] realPrunelle opened #2875 "Moving Buildings"
GGMax: When I save my game, sometimes any Building is moving. Not far, just 1 meter or something like this.
I'm not be able to reproduce it. Sometimes it happens, sometimes not. So I'm not be able to find the reason.

It is a general problem. Not just one map.

[2022-04-16 15:48] Tum1370 opened #2876 "GG Max - Request - Text Zone that has option to disappear after player seen Text"
Could we have the option please to make Text disappear on some of the Text Zones.
Seems like at the minute if you Text the instructions at start of game, the player keeps triggering it every time he goes in to the zone.

[2022-04-16 19:20] Indidev234 opened #2877 "GameGuru Max crashes"
Hello, please, how to fix the problem of Game Guru Max crashes? I have a steam version. First it launches the Loading Screen, passes 10 seconds, then a black screen and a crash. + When I try to run Game Guru Max on another PC, it gives the error "the entry point to the dll was not found (hereinafter, the location folder of game guru max in steam and an indication of the exe file)".
I tried to fix

[2022-04-17 01:19] Kitakazi commented on #2842
Hi I am also having issues with collision and importing custom models with the latest build. I figured I might as well post here since it could be related.

I have a very simple staircase model I made, I have imported and assigned Static and Polygon collision. When I drop the entity in my level the collision is fine. However if I rotate the entity at all the collision seems to become detached and

[2022-04-17 02:52] Necrym59 commented on #2861
The day night cycle option should rotate the sun AND a MOON (even if its a flat plane ) as well as adjust the corresponding environmental attributes plus expose a speed setting for the process its going to be needed for RPG's eventually.

[2022-04-17 03:21] Necrym59 commented on #2867
So whats wrong with it :) rather handsome i think.

[2022-04-17 03:27] Kitakazi opened #2878 "The Bloodsplash for Enemies is the Same as the Players Damage Indicator"
Why is the is Blood-splat that comes out of enemies the same image file as the blood-splat damage indicator that appears on the players screen when they take damage? I'm referring to the images in the Databank folder, and how they  are the same image that comes out of enemies when you shoot them and the image the appears on your screen when you are shot by enemies.

The way this Bloodsplat/damage

[2022-04-17 11:45] Sinergygames opened #2879 "Grouping objects and going into user folder CRASHES Max"
After about every 15 minutes of editing in Max it randomly  crashes, and every time I save a group of assets or go into the user folder, it always crashes. I have to save after every minute or so because I keep losing my progress. Any idea why this is happening? I have well above the minimum specs.
NVIDIA RTX 3070 / Intel Core i7-10700k 32gb RAM
My screen Resolution is 3440 x 1440p

https://www.yo

[2022-04-17 17:22] Tum1370 opened #2880 "GG Max - Terrain all messed up after hours of work"
As the title says, I have spent hours on this map, only to find that for no reason the terrain all around this prison building i made as gone all funny and raised up.
What a waste of hours of work with this bug.
So so annoyed now. Really getting fed up of the silly bugs here.

![image](https://user-images.githubusercontent.com/66874403/163725514-32fb79db-fb1d-4c35-bb7a-b4673363e20a.png)

[2022-04-17 18:52] Tum1370 opened #2881 "GG Max - Standalone - Game Won - After winning the game, the game did not display Game Won screen"
After beating my single level game, the standalone game just shut down, and did not display any won screen.

[2022-04-17 20:08] 68chase opened #2882 "Crash on GLTF Import"
Consistently when I import a .gltf file (actually add object to the library) GGMAX crashes.  However, the model does get added to the library.

[2022-04-17 22:05] Necrym59 commented on #2880
just turn off auto flattening

[2022-04-17 22:17] Necrym59 commented on #2868
You have already said some things were fixed after a reinstall in discord maybe there is part of your answer, perhaps you should have a careful look at your system. I have tried myself to repoduce every thing you have had problems with and had no errors on 3 comps of varying specs and only one graphic glitch due to an older driver.

[2022-04-17 22:20] Necrym59 commented on #2864
so..why and how are you changing an icon on an unfinished gaming product?

[2022-04-17 22:23] Necrym59 commented on #2866
You can change it in storyboad already

[2022-04-18 04:43] Tum1370 commented on #2868
Everything is updated on this new pc.
I have not said I fixed anything on discord, all I did there was make several backups of my game projects folder so I was lucky and could roll back after that last bug.
This bug is stopping me test ALL levels, which I cannot fix by rolling back a saved folder.

All drivers are up to date. These are already things I have tried.

This is not a bug that I can fix

[2022-04-18 04:45] Tum1370 commented on #2864
To TEST how it works.
And it did NOT work.

[2022-04-18 04:47] Tum1370 commented on #2866
Please read the title.
You can only have ONE loading screen.
No option to have a different loading screen per different level.

[2022-04-18 06:00] Hughjanus2022 opened #2883 "Gameguru max keeps crashing"
textures won't load, keeps going white and disappearing altogether
and structure editor won't work sometimes

[2022-04-18 08:57] Necrym59 commented on #2868
I have a 12900k cpu 12th Gen i9 and dont have any problems there its strange if you reinstall go through and delete everything max has perhaps left behind in registry or temp folders

[2022-04-18 09:00] Tum1370 commented on #2868
I have checked all hidden app data and nothing for Max there.
There are registry settings but I don’t know what or where they all are.
That’s what the deva will know.

All I know is currently I have done everything I possibly can and no fix.

[2022-04-18 09:01] Necrym59 commented on #2868
run regedit and do a search for MAX should find somthing in registry

[2022-04-18 09:02] Tum1370 commented on #2868
I already have. Like I said there are settings but I don’t understand what they mean.
And they are scattered in several places.

[2022-04-18 09:02] Necrym59 commented on #2868
Yes im looking now its a bit spread out and messy

[2022-04-18 09:25] Necrym59 commented on #2862
Actually Amens idea solves the height detection problem if special colours are used for certain trigger options, a colour strength similar to heightmaps idea. Variable triggers depending upon height could be a possibility. This could be use for weather sytems too when you think about it.

[2022-04-18 09:33] Tum1370 commented on #2868
Yes. Well my last report on this was on one of the links in the first post.
It was trying to Play ALL LEVELS from the storyboard.
But the software gave a runtime error when trying to load next level.
So am hoping that will pinpoint part of this problem.

[2022-04-18 09:41] plemsoft commented on #2879
@synergygames97 Thanks for reporting this issue, sound like you have a bad imported object in your user folder, could you zip this folder "\Users\USERNAME\Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user\" and post a download link here, or e-mail it to me at plemsoft@plemsoft.com then im able to see what the problem is , thanks :)

FYI: If you want to try to fix it yourself, then make a ba

[2022-04-18 10:35] zirathashe opened #2884 "random crashes"
for some reason ggm crashed twice today. its the first time its ever happened to me. i dont know what happened or why. its my first time submitting a report in a long time so im sorry if i dont remember what all im supposed to do here.

i dont know what i did that caused it as both times happened by doing completely different things. it may very well be because of my pc specs
![Screenshot (862)](h

[2022-04-18 10:49] AmenMoses commented on #2884
How much VRAM does you graphics card have?  System RAM is low so could very well be RAM related.

[2022-04-18 11:13] AmenMoses commented on #2862
Height is not a problem if the zone is flat, like in a building for example.  Just need to change the 'in-zone' logic to check if the player is within the Y range of zone height .. zone height + 100.

But for zones that are splattered over  a large area of terrain you would need to have some way of getting at the zone height at the location of the player.

https://forum.game-guru.com/thread/218470

[2022-04-18 12:07] davetgc opened #2885 "Unarmed enemies enter pistol stance."
![20220418135444_1](https://user-images.githubusercontent.com/99803873/163805965-1e088df4-0e65-4532-8207-9f75697ecee9.jpg)

Characters without any weapons should enter a melee stance.

[2022-04-18 12:10] davetgc opened #2886 "Zombie recovery"
Zombies stand back up when killed, but this needs to be defined by the user. A slider for a recovery chance is needed between 0 and 100%.

Also, a headshot should have a separate % slider.

E.g. You might create a zombie that stood back up 30% of the time, but would be killed by a headshot 100% of the time,

[2022-04-18 12:12] Tum1370 commented on #2880
This did not fix the map. Luckily i had several back up folders from earlier saves of this map SO i did not totally lose the whole map. But still another bug that needs fixing.

[2022-04-18 12:14] OldFlak opened #2887 "MAX - 2022.04.08 - Particle Editor Exports Not 100% Compatible?"
Long Standing issue since particles were introduced into MAX.

Many particles exported from Particle Editor do not display correctly in MAX.
Reproduce:
- export any particle that is circular (example any of the portals)
- add it to MAX
- it will not be circular, but rather it will be flat or elongated

[2022-04-18 12:37] BladRunner1 opened #2888 "lost my document levels"

[2022-04-18 12:38] BladRunner1 commented on #2888
guru max early access lost mt edited lvls documents

[2022-04-18 12:42] BladRunner1 commented on #2888
help needed

[2022-04-18 12:53] DaveTGC2 opened #2889 "Swaying trees - Feature Request"
From social media.

Can we add the option to animated trees so sway with the wind, with variable wind speed. Preferably via a shader.

[2022-04-18 13:02] DaveTGC2 commented on #2884
I would agree with AmenMoses, your ram is below the minimum level, this will be looked at by the dev team, but does seem the likely cause.

[2022-04-18 13:03] DaveTGC2 commented on #2883
Thanks for the report. Can you please post your system specs.

[2022-04-18 16:37] Kitakazi opened #2890 "Transparent Shadows Can Be Seen Through Models With Flipped Normals"
This is the issue - First place an object, I believe it can be any object as long as you turn on Transparent and Cast Shadows on under Custom Materials. Then set up a light so that this object is casting a nice shadow.
Next enable "Transparent Shadows" from under the Shadows menu.
 Next place one of the problem models down. (Model with Flipped Normals)
Then go into test game, and only when the Fla

[2022-04-18 17:00] vstrode opened #2891 "RunTime Error 7018 ()"
When trying to open GG Max demo or edit or anything.

AMD FX-8350 8 Core proc 4.00GHZ
16GB RAM
SSD
Win 10 64 bit 21H2

[2022-04-18 19:40] Necrym59 commented on #2862
Could zones be part of the map generation? If an overlay in the map generator to mark the zones out then the zone data is saved in the generated map or a zone file for later recall in lua.

[2022-04-18 20:56] Necrym59 commented on #2866
I suppose so, i cant see the benefits but thats not to say others may want it.

[2022-04-18 22:38] NaeNae20 opened #2892 "Crashing When Testing Levels"
When I try to test my levels in the level editor it just crashes around loading half way. The levels are not full of multiple objects and there isn'y very much logic. Anyone have any ideas?

[2022-04-19 03:03] Necrym59 commented on #2888
check your Documents\GameGuruApps folder your previous levels should have been backed up

[2022-04-19 03:05] Necrym59 commented on #2880
just turn off auto flattening

[2022-04-19 07:24] plemsoft commented on #2761
@relishrompgames Thanks for reporting back :)

[2022-04-19 07:24] #2761 closed

[2022-04-19 07:25] plemsoft commented on #2762
@relishrompgames I assume this was related to your other issue, that are fixed, if not just open this issue again, Thanks for your help :)

[2022-04-19 07:26] #2762 closed

[2022-04-19 07:29] #1580 closed

[2022-04-19 07:29] #1588 closed

[2022-04-19 07:31] #1632 closed

[2022-04-19 07:32] #1647 closed

[2022-04-19 07:32] #1685 closed

[2022-04-19 07:33] #1906 closed

[2022-04-19 07:34] #1974 closed

[2022-04-19 07:35] #1985 closed

[2022-04-19 07:35] #2098 closed

[2022-04-19 07:37] #2104 closed

[2022-04-19 07:38] #2136 closed

[2022-04-19 07:39] #2306 closed

[2022-04-19 07:40] #2341 closed

[2022-04-19 07:43] plemsoft commented on #2853
@Tum1370 Thanks for reporting this issue, this has been fixed an will be in the next update :)

[2022-04-19 08:32] DaveTGC2 commented on #2891
Hi, is this a new issue? Have you ever been able to open MAX or the demos? Are you using the TGC or Steam version?

[2022-04-19 08:32] DaveTGC2 commented on #2892
Hi, can you please let us know your system specs? Thanks,

[2022-04-19 08:33] Necrym59 commented on #2864
Well it wont work until they enable it

[2022-04-19 09:21] plemsoft commented on #2834
@rvanner User fixed it by validating files.

[2022-04-19 09:21] #2834 closed

[2022-04-19 09:43] AmenMoses commented on #2862
I would have zone names like "Forest", "Lake", "Mountain", "Desert", "Village", "Town" etc

Makes the logic way easier to understand!

e.g.:
local firstTimeAtLake = true
if PlayerExitZone( 'Forest' ) and PlayerEnterZone( 'Lake' ) then
  .... fade out environment sounds for forest
  .... fade in environment sounds for lake
  if firstTimeAtLake then
      .... show message introducing lake environme

[2022-04-19 10:15] Necrym59 commented on #2862
Names would better i agree, but it all could be done so easily really and lots of uses as you say.

[2022-04-19 10:25] rvanner commented on #2890
@plemsoft Is this fixed?

[2022-04-19 10:28] plemsoft commented on #2407
@Tum1370 Thanks for getting back :)

[2022-04-19 10:28] #2407 closed

[2022-04-19 10:30] rvanner commented on #2884
@LeeBamberTGC Here's an example of where we should be showing the user what they have used and what's left on their device to avoid a crash.

[2022-04-19 10:31] rvanner commented on #2883
@Hughjanus2022 Can you please post some screenshots? Is this the Structure Editor or some other part of the software?

[2022-04-19 10:35] LeeBamberTGC commented on #2884
@zirathashe Can you find stats showing your GPU and video memory of the card, thanks!

[2022-04-19 10:38] ZakJudges commented on #2775
Hi @mujaidin71, could you confirm if this issue is now fixed for you? Thanks :)

[2022-04-19 10:41] rvanner commented on #2867
@bond1mjb Can you check and see if these files need updating?

[2022-04-19 10:44] ZakJudges commented on #2740
Hi @davetgc, I wasn't able to reproduce the issue in the latest experimental. Would you be able to verify your files and see if the problem persists? Thanks

[2022-04-19 10:45] ZakJudges commented on #2671
Hi all, has anyone seen any more reports of this since the latest update?

[2022-04-19 10:45] ZakJudges commented on #2597
Hi @ArgentArts, could you confirm if this issue is now fixed for you in the latest build? Thanks

[2022-04-19 10:46] ZakJudges commented on #2443
Hi @Tum1370, could you confirm if this issue is now fixed for you in the latest build? Thanks

[2022-04-19 10:46] #1876 closed

[2022-04-19 10:47] #1273 closed

[2022-04-19 10:49] #1785 closed

[2022-04-19 10:57] #2055 closed

[2022-04-19 10:58] #2237 closed

[2022-04-19 11:01] #2248 closed

[2022-04-19 11:02] ZakJudges commented on #2249
#2632

[2022-04-19 11:02] #2249 closed

[2022-04-19 11:04] #2385 closed

[2022-04-19 11:06] #2466 closed

[2022-04-19 11:06] #2475 closed

[2022-04-19 11:08] #2479 closed

[2022-04-19 11:08] #2562 closed

[2022-04-19 11:19] LeeBamberTGC commented on #2405
@Tum1370 Thanks for the extra info, I think I have an i9 in my NUC, I will check it out.

[2022-04-19 11:33] #2782 closed

[2022-04-19 11:36] LeeBamberTGC commented on #2552
@rvanner What should happen here?

[2022-04-19 11:38] #2041 closed

[2022-04-19 11:38] #2058 closed

[2022-04-19 11:38] #2068 closed

[2022-04-19 11:39] LeeBamberTGC commented on #2108
NOTE: Need to change so variant selected at run-time, not in the pre-step (so one character can say different things)

[2022-04-19 11:39] #2172 closed

[2022-04-19 11:39] #2231 closed

[2022-04-19 11:40] #2264 closed

[2022-04-19 11:40] #2369 closed

[2022-04-19 11:40] #2527 closed

[2022-04-19 11:40] #2529 closed

[2022-04-19 11:40] #2530 closed

[2022-04-19 11:40] #2551 closed

[2022-04-19 11:43] #2482 closed

[2022-04-19 11:49] zirathashe commented on #2884
![Screenshot (1078)](https://user-images.githubusercontent.com/58756931/163996915-70960a06-da8b-48f0-b608-3a55ef259977.png)
i hope this is what your looking for. took me a minute to figure out where to look to see how much vram i have. sorry

[2022-04-19 11:51] zirathashe commented on #2884
![Screenshot (1079)](https://user-images.githubusercontent.com/58756931/163997237-4b7acb90-6b0b-40d8-86da-cd78ec78e6f9.png)
heres what i could find on gpu. sorry for my lack of knowledge on where to find this stuff

[2022-04-19 11:55] LeeBamberTGC commented on #2884
@zirathashe Alas, your graphics card does not meet the minimum spec for MAX.  YOu need something about four times quicker and twice as much video memory. Passmark shows the GT 1030 at a 2500 score whereas the minimum spec GPU should be more like a 9000 score.

[2022-04-19 11:56] zirathashe commented on #2884
i didnt have issues until i switched to steam version. before that, i never had any crash issues

[2022-04-19 11:59] zirathashe commented on #2884
can you recommend me some improvements i can make to not meet the minimum, but the recommended. not just ram and gpu, but everything including processor. (im aware my proc is low)

[2022-04-19 12:04] rvanner commented on #2552
@LeeBamberTGC I agree with @ArgentArts , one click to agree is enough for me. No point asking over and over again.

[2022-04-19 12:17] Sinergygames commented on #2879
https://www.mediafire.com/file/ticu0k43i1fkt5z/user.zip/file

[2022-04-19 12:19] rvanner opened #2893 "User wants to be able to set the rate of fire"
A user left a positive review on Steam but they had one issue in that they wanted to be able to set the rate of fire. Seems a very reasonable request and one we should strongly look at making possible.
![image](https://user-images.githubusercontent.com/1503593/164001970-198b1eec-3e44-4bb2-a636-880d654b5f37.png)

[2022-04-19 12:21] mujaidin71 commented on #2775
yes is now OKAY!  thanks!

Il giorno mar 19 apr 2022 alle ore 12:38 ZakJudges ***@***.***>
ha scritto:

[2022-04-19 12:22] AmenMoses commented on #2893
Thought we could do that already.  Probably it is hidden away down in the 'developer' options now or something.

[2022-04-19 12:25] LeeBamberTGC commented on #2884
@zirathashe It is not that MAX wont run below min spec, but we do not extensively test below that spec so cannot guarantee a minimum level of functionality. As to recommendations, look for a laptop or desktop that uses the words 'gaming PC' somewhere in the language. This generally describes a system that can handle modern games with all settings set to high.  Like most things, the more you spend

[2022-04-19 12:25] #2884 closed

[2022-04-19 12:29] ZakJudges commented on #2775
Great, thank you for confirming. Closing this issue now

[2022-04-19 12:29] #2775 closed

[2022-04-19 12:29] PaulSJ commented on #2880
Unable to replicate this, turning off auto-flatten in the settings and then clicking on the object put the terrain back to normal.

Are you still experiencing this issue, and if so can you give some details on how to replicate it?

[2022-04-19 12:33] LeeBamberTGC commented on #2893
I think we dropped rate of fire and moved the logic to when the character pulled the trigger:

Developer Mode Settings:
![image](https://user-images.githubusercontent.com/35840583/164004329-8e5fde51-e94d-434e-9585-e8f7d4a7406f.png)

I guess we could put it back in as a modulation of the default.

[2022-04-19 12:46] plemsoft commented on #2890
@Kitakazi Did the above fix your issue ?

[2022-04-19 12:49] LeeBamberTGC commented on #2893
@AmenMoses Did some digging and it seems "rateoffire" is also in the FPE and overrides the usual system that allows weapon stats to be changed, and takes the value from the FPE rather than the GUNSPEC (old Classic approach).  Even so, the "rateoffire" is not exposed in the Developer Settings. @rvanner Let me know if you would like it exposed for the next build, and restored to use the GUNSPEC whic

[2022-04-19 12:51] zirathashe commented on #2884
thank you and sorry for the trouble.

[2022-04-19 12:51] plemsoft commented on #2741
@rvanner This is caused by the "demo games" , currently they require all the collection to be installed , i can see that disabling of downloading the "demo games" has been disabled , should we allow deselecting downloading of "demo games" and then also allow deselecting of collections ?.

[2022-04-19 12:52] rvanner commented on #2835
@LeeBamberTGC I also have a user in tech support reporting similar;

Can't run or edit any of the demo games. New install of latest version. Intel I9, win 11 (unfortunately). Have plenty of ram. Always the same error.
Processor 12th Gen Intel(R) Core(TM) i9-12900KF, 3187 Mhz, 16 Core(s), 24 Logical Processor(s)
Windows 11
BIOS Version/Date American Megatrends International, LLC. A.A2, 11/3/2021
In

[2022-04-19 12:54] rvanner commented on #2741
We didn't want a situation where users downloaded the core and then could not see anything in the HUB. I will make a note for now and we can review the install options and procedures once we have a more stable core engine. This is really a medium issue for now.

[2022-04-19 13:01] ThomasJowett commented on #2859
This issue is a duplicate of #1540 . All transparent objects are not rendered under the ocean.

[2022-04-19 13:03] Tum1370 commented on #2443
YEs this is has already been fixed. Thanks

[2022-04-19 13:03] #2443 closed

[2022-04-19 13:15] ZakJudges commented on #2882
Hi @68chase, would you be able to attach here or email me a model you are seeing the issue with? My email address is zak@thegamecreators.com

[2022-04-19 13:19] LeeBamberTGC commented on #2745
Confirmed, closing this to allow for the larger issue to solve this one: https://github.com/TheGameCreators/GameGuruRepo/issues/1879

[2022-04-19 13:19] #2745 closed

[2022-04-19 13:20] LeeBamberTGC commented on #1879
Now handled in the largest of the pickup issues reported and most populated: https://github.com/TheGameCreators/GameGuruRepo/issues/2848#issuecomment-1100489547

[2022-04-19 13:20] #1879 closed

[2022-04-19 13:26] LeeBamberTGC commented on #2835
@rvanner I see this error when the install is corrupt with missing files. Running the Steam VERIFY FILES will scan the whole folder and replace any missing files. The above assumes the software runs okay but hits a problem when a demo project is loaded/run.

[2022-04-19 13:30] rvanner commented on #1654
Confirmed as fixed.

[2022-04-19 13:30] #1654 closed

[2022-04-19 13:31] rvanner commented on #1646
@smmaas & @Retrogamebloke Is this still an issue for you now or can we close this issue down now?

[2022-04-19 13:39] rvanner commented on #2203
Confirmed as fixed.

[2022-04-19 13:39] #2203 closed

[2022-04-19 13:43] rvanner commented on #2090
Confirmed as fixed.

[2022-04-19 13:44] rvanner commented on #2030
@synchromesh62 Can you confirm this is now fixed for you?

[2022-04-19 13:45] davetgc commented on #1879
My thoughts are that we should drop the script entirely and have a player option to allow pick up and carry with a weight slider to set the maximum weight. This frees to object up to have a different script.

[2022-04-19 14:15] PaulSJ commented on #2798
@LeeBamberTGC Fix is on PJ-Branch11

[2022-04-19 14:26] bond1mjb commented on #2867
@rvanner @igor-gouveia     I unzipped the "base female bldner.rar" file in the "GameGuru MAX\Guides\Characters" directory and imported the FBX file, and also checked it out in blender and all looks good here on my end.  @igor-gouveia  Could you explain in more detail how to reproduce the problem in your screenshot?
![fbximport](https://user-images.githubusercontent.com/87768878/164026817-abb41a04-

[2022-04-19 14:34] igor-gouveia commented on #2867
The 3d model skeleton doesn't match when you remove the animations and import the animations .dbo file which is in the "GameGuru MAX\Guides\Characters" directory

When you do this you will see that not all bones work, because their name is wrong

When you rename all bones in the skeleton for example from "Bip01 Ponytail1" to "Bip01_Ponytail1", all bones work, but it looks like I showed.

[2022-04-19 14:35] PaulSJ commented on #2737
That is a feature left over from the old terrain and is not currently supported, I've removed the right click menu for a future version.

If you want to replace terrain textures then you can replace the files in the Files/terraintextures folder, but you will need to match the file formats (color=BC7, normal=BC5, surface=BC1) and all textures must be 2048x2048.

[2022-04-19 14:35] #2737 closed

[2022-04-19 14:37] igor-gouveia commented on #2867
About the last post, sorry the correct directory where are the animations to import is "GameGuru MAX\Files\charactercreatorplus\parts\adult female" directory, and the file name with the animations is "default animations.dbo"

[2022-04-19 14:38] #2555 closed

[2022-04-19 14:41] PaulSJ commented on #2413
Duplicate of #2737

[2022-04-19 14:41] #2413 closed

[2022-04-19 14:44] PaulSJ commented on #2329
@OldFlak Is this still an issue? Water fog sliders seem to work here

[2022-04-19 14:45] PaulSJ commented on #2308
@casigus Is this still an issue? If so can you give some setps to reproduce it?

[2022-04-19 14:51] vstrode commented on #2891
Steam.
I have never been able to open anything since I bought MAX last week.

I use the regular Gameguru ok.

________________________________
From: DaveTGC ***@***.***>
Sent: Tuesday, April 19, 2022 3:32 AM
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: vstrode ***@***.***>; Author ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] RunTime Error 7018 () (Issue #2891)

Hi, is this a new i

[2022-04-19 15:16] ArgentArts commented on #2597
@ZakJudges  So far, I'm getting no crashing when importing.

[2022-04-19 15:22] LeeBamberTGC commented on #2727
@ArgentArts The Experimental build was just to test a work in progress new feature, check again this evening for a new update to Experimental which should restore much from early April :)

[2022-04-19 15:24] ArgentArts commented on #2727
@LeeBamberTGC Thanks! Will do! :)

[2022-04-19 15:33] LeeBamberTGC commented on #2798
@PaulSJ Also confirmed as fixed, will post to Experimental build later this evening :)

[2022-04-19 15:34] #1432 closed

[2022-04-19 15:38] bond1mjb commented on #2867
@igor-gouveia Ok I see what you are trying to do  We are using the .X format for all character and animation exports, and the exporters we use automatically replace all spaces with underscores in the bone names.

About the rotations being wrong.   Gameguru MAX uses a left-handed, Y-up coordinate system, while 3ds Max (and Blender) uses a right-handed, Z-up coordinate system.   When we export the c

[2022-04-19 15:50] casigus commented on #2308
nope  tis  not  !!

[2022-04-19 15:50] #2308 closed

[2022-04-19 15:52] LeeBamberTGC commented on #2190
Confirmed fixed in latest build.

[2022-04-19 15:52] #2190 closed, assigned to ThomasJowett

[2022-04-19 15:52] LeeBamberTGC commented on #2383
Confirmed fixed in latest build.

[2022-04-19 15:52] #2383 closed

[2022-04-19 16:07] LeeBamberTGC commented on #2574
Fixed in latest update:
![image](https://user-images.githubusercontent.com/35840583/164047507-dc9d1ea4-c82c-4527-8fbf-c5ef0b9bcbbc.png)

[2022-04-19 16:07] #2574 closed

[2022-04-19 16:10] PaulSJ commented on #1983
@OldFlak Do you have a level I can load to see this issue? I can't replicate what you are seeing

[2022-04-19 16:12] #2014 closed

[2022-04-19 16:12] LeeBamberTGC commented on #2848
@AmenMoses The tick boxes in the behavior script is a good idea, that way users can tailor it to how they want pick up of objects to work for their specific game :)

For the last one "the object uses physics to not intersect physics", it can be done by working out the distance between where you want the object to be "destination XYZ" and where it actually is under physics "current object XYZ". Aft

[2022-04-19 16:16] #2220 closed

[2022-04-19 17:20] jasailor opened #2894 "Selecting an asset - moves camera beyond the selected item"
When I select a placed asset in a scene, the camera zooms to the asset and then goes through it and a distance beyond it before it stops.    Version 2022.4.8.

JASailor

[2022-04-19 17:30] rvanner commented on #2894
@jasailor Could you make a small video of this issue please?

[2022-04-19 18:40] TheCzar1 commented on #2835
I do not have the Steam version of GameGuru Max; I have the standalone version, and I have tried a few more times of uninstalling the program and reinstalling it on different drives in my computer, but I still keep getting this same "Runtime Error 7018", and the program always shuts down once this error pops up, and I hit "ok"!

[2022-04-19 18:49] jasailor commented on #2894
https://user-images.githubusercontent.com/41845014/164074401-3fdbd3b0-d984-4900-b295-9cb942894be4.mp4

Here you go.  Happy hunting.

Jim

[2022-04-19 18:50] lordjulian1 opened #2895 "Custom Behavior Replaces Default"
I was experimenting with creating a Custom Behaviour. I had the character keel over when close to the player. But now, the default attack bevaviour seems to do the same. What have I done wrong?
[https://youtu.be/akbUWP0mIRE](https://forum.game-guru.com/outbound?url=https%3A%2F%2Fyoutu.be%2FakbUWP0mIRE)

[2022-04-19 18:57] rvanner commented on #2894
OK, this is not really a bug but we should improve the system so if you do double click on an object you zoom close to it. What's currently happening is that the double click is taking you to the terrain location where the mouse points to.

@plemsoft Can you detect if the double click is on an object and zoom close in to that object?

[2022-04-19 18:59] jasailor commented on #2894
Sent you the video.  FYI - Didn’t show that the selection was initiated with a “double click”.

From: Richard Vanner ***@***.***>
Sent: Tuesday, April 19, 2022 1:31 PM
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: jasailor ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] Selecting an asset - moves camera beyond the selected item (Issue #2894)

@jasailor<https://gi

[2022-04-19 19:01] jasailor commented on #2894
So doctor if I do something and it hurts,  the best think to do is not do it any more.   It works for me.  You can close the issue and chalk up a point!    😊

From: Richard Vanner ***@***.***>
Sent: Tuesday, April 19, 2022 2:58 PM
To: TheGameCreators/GameGuruRepo ***@***.***>
Cc: jasailor ***@***.***>; Mention ***@***.***>
Subject: Re: [TheGameCreators/GameGuruRepo] Selecting an asset - moves came

[2022-04-19 21:20] ArgentArts commented on #2688
Looks like this light placement error is back with tonight's experimental build.

[2022-04-19 21:21] ArgentArts opened #2896 "GameGuru MAX - Bug - Light Placement Issue with Widget"
With tonight's experimental build, this old bug has reappeared:

https://github.com/TheGameCreators/GameGuruRepo/issues/2688

[2022-04-19 21:27] ArgentArts commented on #2798
This appears fixed in this evening's build. However, I noticed a glitch while playing the demo, Snowy Mountain Stroll, that did not appear when I went in to edit it and ran the test game. One of the reflective areas glitched when I played the demo from the MAX UI, but did not if I opened it to edit and ran it from there as a test game.

[2022-04-19 22:17] LeeBamberTGC commented on #2835
@TheCzar1 It could be an old updater. When you do a re-install grab the latest Tiny Installer from the TGC product page. It has been updated for release to handle the demo files and make sure you have all the files you need as part of the core download.

[2022-04-19 22:32] LeeBamberTGC commented on #2215
@OldFlak Improvements and fixes to the object placement system uploaded to the EXPERIMENTAL branch on Steam for the Monday update.  Positioning no longer flies off or judders, snapping improved to include the Y position.  Smart buttons hidden when developer mode widget used, F1 restored to toggle widget control quickly.

Widget positioning is fine, but going to make code improvements for Rotation

[2022-04-19 22:37] LeeBamberTGC commented on #2215
@OldFlak Switches and lights are also handled as I would expect. Let me know if you see how placing and editing these still has issues, thanks!

[2022-04-19 22:39] LeeBamberTGC commented on #2766
Fixed in EXPERIMENTAL build.

[2022-04-19 22:39] LeeBamberTGC commented on #2757
Fixed in EXPERIMENTAL build.

[2022-04-19 22:40] LeeBamberTGC commented on #2526
Fixed in EXPERIMENTAL build.

[2022-04-19 22:41] LeeBamberTGC commented on #2465
Fixed in EXPERIMENTAL build.

[2022-04-19 22:42] LeeBamberTGC commented on #2408
@ArgentArts We do round XZ (and now Y) to the nearest units of 5, could this be it?

[2022-04-19 22:43] LeeBamberTGC commented on #2408
NOTE: Also related issue here with video: https://github.com/TheGameCreators/GameGuruRepo/issues/2327

[2022-04-19 22:47] LeeBamberTGC commented on #1923
@rvanner This was a change we made so the user did not accidentally select the entire room they are in when moving objects about. Selecting an object "from inside" the object was disabled.  Should we add this back in, or add it via a tick box in developer mode so we protect new users and allow more expert users this freedom (and risk)?

[2022-04-19 22:52] OldFlak commented on #2741
I don't want any of it on my system (won't use it) so the option should be there to not install them - SSD space is too precious to be wasted on stuff you won't use.

No media should be in the core anyway - it should all be in Writable Area. On my system I have a dedicated HDD for Game dev - which is where my writable area is located. It has tons of space - that is where all media should be, not i

[2022-04-19 22:53] TheCzar1 commented on #2835
I have always tried and re-downloaded from TGC webaite with the Tiny installer and everytime; I still get thay error, but I will try it again, and see with the new update if it works!

[2022-04-19 22:58] OldFlak commented on #1923
**It makes sense to be able to select everything** - add a tick box to turn it off if you must. New users will not be that silly, and they ought to be taught properly how things work from the outset.

Making everything failsafe to **protect** new users is what has destroyed the MAX UI - give them some credit!
:) :) :)

[2022-04-19 23:03] OldFlak commented on #2215
Thanks for reply Lee :)
Not using Steam version - will test when it makes it to MAX Updater

[2022-04-19 23:17] OldFlak commented on #2329
Hi Paul thanks for reply :)

The sliders have very little effect over the range of the slider.

For example: Water Fog Maximum only has effect from 0 to around 15:
![image](https://user-images.githubusercontent.com/12246318/164116258-548cbc7e-63a2-409f-a79c-88c8ed8c271a.png)

Here it is set to 15 and fog is all but gone:
![image](https://user-images.githubusercontent.com/12246318/164116336-f7373c9

[2022-04-20 00:03] synchromesh62 commented on #2030
Yes fixed some time back now. Apologies there were a few reports at the time i assumed they would all be closed

[2022-04-20 00:36] Necrym59 opened #2897 "GGMAX - Enhancement/Request - expose player height variable to lua."
Can we possibly get this variable " ttsubtleeyeadjustment=30.0" used in the global lua for the player height or another playerheight variable, to be exposed to a dynamic menu option for the player or for lua use, there are requirements,instances where modifying the player height has uses.

[2022-04-20 00:49] ArgentArts commented on #2408
@LeeBamberTGC Not sure, to be frank. I don't know enough about it. I've not looked this in some time, but do need to revisit it. I've been creating tiles that hide these areas so that there's no way to see any possible seams. But, out of curiosity, why are values being rounded to 5? That seems like a strange value to use to me.

[2022-04-20 01:31] #1767 closed

[2022-04-20 02:35] Kitakazi commented on #2890
@plemsoft
Yes this fixed my issue. Thank you!

[2022-04-20 02:35] #2890 closed

[2022-04-20 03:25] NaeNae20 commented on #2892
cpu is AMD Ryzen 5 3600 6-core

On Tue, Apr 19, 2022 at 4:19 PM Nathen Morgan ***@***.***>
wrote:

[2022-04-20 03:31] NaeNae20 commented on #2892
GPU = NVIDIA GeForce RTX 2060
CPU = AMD Ryzen 5 3600 6-core
OS = Win10
RAM = 16g
Internet speed = max of ~500→875MBPS; Avg. highs looking at 100KBPS on my device.
SSD = max of 466GB
no HDD

[2022-04-20 04:37] NaeNae20 commented on #2892
update. it does load in but its just really slow on the verge of crashing but then runs fine when I am playing.

[2022-04-20 04:52] TheCzar1 commented on #2835
I tried once again to re-install GameGuru Max with the Tiny Installer from the products page on TGC site, and I am still getting the same error "Runetime Error 7018 (loading_main)". I hit "ok" and again the whole program shuts down and exits out.

[2022-04-20 04:55] TheCzar1 commented on #2835
I should also not the Tiny installer I used was from my product page when I log into my account. Is the right one?

[2022-04-20 05:55] Necrym59 commented on #2896
I was about to report that one
still issues with dynamic lights not doing as their told position/angle wise.

[2022-04-20 06:21] rvanner commented on #2835
@TheCzar1 Yes that's the correct one. Would you like to try the Steam version? If so, email me at rick@thegamecreators.com and I'll sort you out with a Steam copy. We can then see if it still happens or if that fixes it for you.

[2022-04-20 06:23] rvanner commented on #2408
@ArgentArts I think it would really help if you can send Lee a small level with a few of the models you are using so he can see it.

[2022-04-20 06:23] #2030 closed

[2022-04-20 06:39] rvanner commented on #1923
@LeeBamberTGC Yes I think a tick box would be the best option for now and put it in the Developer list under the Object Management Options. I think it can be OFF by default as OldFlak suggests.

[ ] Stop objects from being moved when camera is inside them

Tip hint: "Tick this if you want to avoid selecting objects (eg buildings) when viewed inside of them"

[2022-04-20 06:42] TheCzar1 commented on #2835
Yes let me try that version out and see if it fixes the issue.

[2022-04-20 06:44] rvanner commented on #2465
Tested and working with this crate box now!

[2022-04-20 06:44] #2465 closed

[2022-04-20 06:44] rvanner commented on #2835
OK, please email me direct

[2022-04-20 06:49] rvanner commented on #2526
Tested and fixed.

[2022-04-20 06:49] #2526 closed

[2022-04-20 06:56] rvanner commented on #2688
I agree, dragging in lights without the widget don't orientate to the walls around it

[2022-04-20 06:58] rvanner commented on #2894
@jasailor I think we still need to make it a better experience. So double clicking on an object should let the camera zoom to that location.

[2022-04-20 07:20] plemsoft commented on #2892
@NaeNae20 Do you have any custom media on the level ? , if so could you make a standalone -> zip the folder and e-mail me a download link , then im be able to see what the problem is, if you dont use any custom media just zip the level.fpm file and e-mail it to me, thanks for your help :) e-mail: plemsoft@plemsoft.com

[2022-04-20 07:20] rvanner commented on #2893
@LeeBamberTGC I think with most weapons it will be the primary weapon users would want to at least change and it would be a good step in the right direction. So please allow the primary weapon's rate of fire to be altered with a slider.

[2022-04-20 07:22] NaeNae20 commented on #2892
I do, I added custom audio to the game.

On Wed, Apr 20, 2022 at 12:20 AM Preben Eriksen ***@***.***>
wrote:

[2022-04-20 07:24] plemsoft commented on #2891
@vstrode That error normally happen when you have a bad download of one of the files, could you try to validate you steam files , and let me know if that fix your issue.

See "HOW TO VERIFY YOUR FILES:": https://forum.game-guru.com/thread/223455

Thanks for your help :)

[2022-04-20 07:26] plemsoft commented on #2851
@ArgentArts This has been fixed and will be in the next update :)

[2022-04-20 08:30] PaulSJ commented on #2798
@ArgentArts Unfortunately I can't see any issues playing Snowy Mountain from the hub, is it glitching in the same way as before or is this a new glitch?

[2022-04-20 08:39] LeeBamberTGC commented on #2215
@OldFlak Okay no worries, once I have the smart and widget side where I want them, I will send you an EXE to try.

[2022-04-20 08:51] plemsoft commented on #2868
@Tum1370 Please try this and let me know if it fix all your issues:

In the MAX install folder , locate this file "setup.ini" , edit the file in notepad.

Locate this line:
"vrmode=3"
And change it to
"vrmode=0"

If it do fix your issues, please make sure to close down all your GitHub issues. Thanks for your help :)

[2022-04-20 08:51] rvanner commented on #2798
![image](https://user-images.githubusercontent.com/1503593/164189988-37fe1717-446e-4595-b0cd-34c14afd5077.png)

[2022-04-20 08:55] rvanner opened #2898 "Widget mode hides all the smart object modes but this means you cannot unlock/lock objects"
![image](https://user-images.githubusercontent.com/1503593/164190712-e244226c-3c73-49f7-bc32-f7af124ac43f.png)

[2022-04-20 08:59] LeeBamberTGC commented on #1923
@OldFlak Added for next build.

[2022-04-20 08:59] rvanner opened #2899 "Terrain Generator - when I try to "Generate Terrain and Open the Level Editor" Max just freezes!"
Super urgent bug!

[2022-04-20 09:02] LeeBamberTGC commented on #2898
@rvanner Please use just one category tag for easier management of tasks, and add the BUG tag so it counts in my bug list.  Developer mode users using the widget can lock objects using this one:

![image](https://user-images.githubusercontent.com/35840583/164192126-e942a158-85da-4126-9206-af5999afe1ba.png)

[2022-04-20 09:02] rvanner opened #2900 "Stacking objects - a lot of the wall pieces in the Basement Collection cannot be stacked"
Just a few examples where I cannot stack them on top of each other:

![image](https://user-images.githubusercontent.com/1503593/164192194-3e72d013-67bc-46a5-86bc-82046a6ad07f.png)

![image](https://user-images.githubusercontent.com/1503593/164192207-0c9c9db7-0139-4aac-92f2-840a80341cbf.png)

![image](https://user-images.githubusercontent.com/1503593/164192225-4c558e56-5942-426c-9348-ad74a47f64b1.p

[2022-04-20 09:03] rvanner commented on #2898
When did we decide to hide those icons? That is news to me.

[2022-04-20 09:14] Tum1370 commented on #2868
@plemsoft
Ok thanks. I’ll will try this as soon as I am home from work. I have seen that line when I’ve looked through the setup file.

Thing is though, why would this line be affecting just mine and a few other people pcs ?

because I guess everyone else has that vrmode set to 3 as well, without issues ?

[2022-04-20 09:17] plemsoft commented on #2899
@rvanner Did it happen on your system ? , what version are you using , do not happen on my system. Also tried on "experimental" and it worked ?

[2022-04-20 09:20] plemsoft commented on #2868
@Tum1370 I think you have OpenVR steam or Windows Mixed Reality active on your system, VR is not yet ready :)

[2022-04-20 09:20] LeeBamberTGC commented on #2900
@rvanner This is how the pieces are designed, to be 100x100 grid locked and rotated in specific ways to form rooms.  They are not friendly for snapping, We could ask Chris or Mark to adjust them all so they are centered at their bases so they spin on their center axis?

[2022-04-20 09:21] LeeBamberTGC commented on #2898
@rvanner The buttons where completely redundant in widget mode, why would you want to keep them, confusing the user?

[2022-04-20 09:23] Tum1370 commented on #2868
@plemsoft
Ah ok. That’s good to hear.
yes I definitely have steamvr and openvr active as I only ever play vr games now.

Looking forward to check this when home now. Thanks

[2022-04-20 09:35] rvanner commented on #2899
I did a reboot and it's working now. No idea how it got messed up. It was if the click on the button wasn't being recognised. I'll close this for now.

[2022-04-20 09:37] rvanner commented on #2900
@LeeBamberTGC We want users to have a great experience and things like this are confusing and not clear. Can you have Mark take a look at them and see how quick he can sort them? If it's a big job then maybe he does them after his current workload?

[2022-04-20 09:41] rvanner commented on #2898
@LeeBamberTGC OK, so this is a recent change? Well, I locked the object and now because it's locked I cannot select it and see it in the Current Objects list and therefore I cannot unlock it! I think the same lock/unlock should be repeated here;
![image](https://user-images.githubusercontent.com/1503593/164199863-2a8b5c0d-16dc-4da3-ac80-72bc0e0874d2.png)

[2022-04-20 09:47] LeeBamberTGC commented on #2900
@bond1mjb The basement collection has all the wall/etc geometry offcenter so they can be assembled correctly, but this is confusing some people. How much work is involved in centering them at their bottom center so they spin on the spot?  I think you will need to get the original files from Chris (or Rick might know).

[2022-04-20 09:48] LeeBamberTGC commented on #2898
@rvanner Good point, will add the LOCK/UNLOCK button back into the right panel.

[2022-04-20 09:48] LeeBamberTGC commented on #2896
Fixed for this evenings EXPERIMENTAL build.

[2022-04-20 09:49] LeeBamberTGC commented on #2688
Fixed for this evenings EXPERIMENTAL build.

[2022-04-20 10:12] LeeBamberTGC commented on #2898
@rvanner Added LOCK OBJECT(S) / UNLOCK OBJECT back into the right panel, and for consistency and space saving made it a button to match the developer widget mode buttons.  We also have room for 2 more buttons for the future. Will be in this evenings EXPERIMENTAL build.
.

[2022-04-20 10:24] LeeBamberTGC commented on #1248
@rvanner It does not have an outline, it is the object itself completing its own outline:

![image](https://user-images.githubusercontent.com/35840583/164209304-ddf525b2-7d9e-43b8-a534-268ca6d39274.png)

And now:

![image](https://user-images.githubusercontent.com/35840583/164209731-f8d11844-a4cf-4d27-b345-9181ead4410f.png)

I do not think this is critical and should be closed until we get a lot o

[2022-04-20 10:30] davetgc opened #2901 "Salmon has wrong Script"
![image](https://user-images.githubusercontent.com/99803873/164211854-363de4e3-2ec1-4d95-a5a6-325be90130cd.png)

The Salmon has a non-existent script attached to it (Mammal Wander), when the script should be Fish.

[2022-04-20 11:14] LeeBamberTGC commented on #2608
NOTE: May be related to: https://github.com/TheGameCreators/GameGuruRepo/issues/2423

[2022-04-20 12:07] #2486 closed

[2022-04-20 12:09] #2738 closed

[2022-04-20 12:10] #2748 closed

[2022-04-20 12:12] #2768 closed

[2022-04-20 12:12] #2774 closed

[2022-04-20 12:13] #1802 closed

[2022-04-20 12:14] #1830 closed

[2022-04-20 12:16] #1922 closed

[2022-04-20 12:16] rvanner commented on #2423
@LeeBamberTGC I had this appear on me a few weeks back. Could not re-produce it but it shows it's still lurking somewhere. Didn't you say it could be related to bullet hole buffers?
![image](https://user-images.githubusercontent.com/1503593/164228433-19dc6b65-26f0-4322-bbaa-79c0406650dc.png)

[2022-04-20 12:16] #2202 closed

[2022-04-20 12:20] OldFlak commented on #1922
Thanks Preben will check them out - Yes there were typos in coupler of the FPE's which I did send to Rick, but good to see you found them :)
Thanks for your great work :)

[2022-04-20 12:21] LeeBamberTGC commented on #2423
@rvanner Oh yes it is still there being generally nasty. I can reproduce on my NUC with the Island Showdown level too :)

[2022-04-20 12:21] rvanner commented on #1248
OK, that explains it. The stencil buffer is not the best system for highlighting objects. We should do something better later on.
Closing this now.

[2022-04-20 12:21] #1248 closed

[2022-04-20 12:32] rvanner opened #2902 "Game speed seems to slow down in Snowy Mountain Stroll"
When I played the game via the hub the walking and running was spot on. As I progressed through the game the speed felt much slower than it had been. I tried to make some videos but they cut off after a few seconds. I will try it again when I next play the game.

[2022-04-20 12:44] rvanner commented on #2894
@plemsoft OK, that sounds fine

[2022-04-20 12:45] #2038 closed

[2022-04-20 12:46] OldFlak commented on #1923
Thanks Lee - will test when it makes it to the MAX Updater :)

[2022-04-20 12:50] rvanner commented on #2899
@plemsoft It just happened again to me.

In this screen I cannot click on the button, the windows circle is going round and round:

![image](https://user-images.githubusercontent.com/1503593/164234178-0d80b18c-cff9-4822-acb4-14f4ed77468d.png)

[2022-04-20 12:54] rvanner commented on #2899
I'm having trouble reproducing it. Maybe just check the code and see if there's someway it can get into a lock up?

[2022-04-20 13:11] rvanner opened #2903 "New game Bio info issue"
![image](https://user-images.githubusercontent.com/1503593/164237791-38a3de24-6f79-4bd0-94db-c3f2dbb66d29.png)

[2022-04-20 13:27] OldFlak commented on #2898
@LeeBamberTGC
We used to have the lock in the Identity Section - It made sense there - at least it did to me :)

[2022-04-20 13:29] LeeBamberTGC commented on #2903
Fixed for evenings EXP build.

[2022-04-20 13:56] Tum1370 commented on #2868
@plemsoft @LeeBamberTGC

Thank you so much for figuring that bug out for me Preben.
After changing the "vrmode=3" to "vrmode=0" i now have the guns visible in all the demo games that i have just tested.
I also tested the one demo game that has 2 levels, by using the TEST ALL LEVELS, And this time it would load in to the 2nd level after completing the first level.
The only BUG that i see was when i

[2022-04-20 14:02] Tum1370 commented on #2405
@LeeBamberTGC
I think this BUG is now fixed, Preben asked me to try changing the "vrmode=3" to "vrmode=0" in the setting file.
After doing this, i now have the gun visible in the DEMO GAMES, and in my OWN games when i press PLAY GAME from the HUB.

[2022-04-20 14:07] ArgentArts commented on #2798
@PaulSJ I'll try to catch a video later today. It's different. One of the puddles reacted as if there were two there ... like a Z-sorting error of some sort.

[2022-04-20 14:17] bond1mjb commented on #2900
@LeeBamberTGC  Just played around with some of those walls and I see what you mean.   Re-centering their pivot to bottom center is a one click operation.   I would just need the source files.

[2022-04-20 14:23] ZakJudges commented on #2779
Hi @davetgc, a fix will become available in the experimental build in the next day or so. Could you let me know if it sorts the issue for you? Thanks!

[2022-04-20 14:28] rvanner commented on #2900
@bond1mjb I'll email you the link so you can check them out.

[2022-04-20 14:29] davetgc commented on #2779
Thanks Zak, I'll let you know.

On Wed, Apr 20, 2022 at 4:24 PM ZakJudges ***@***.***> wrote:

[2022-04-20 14:33] ArgentArts commented on #2898
In any case, now we don't have to turn the widget on/off via the Developer menu. We can do that via the F1 toggle. So, accessing the lock/unlock (and Smart Object Mode) is only a single click away via F1 if the widget is activated.

[2022-04-20 14:46] LeeBamberTGC commented on #2868
@Tum1370 Thanks for confirming, do you want to create a new issue about the INVULNERABLE STANDALONE bug, thanks!!

[2022-04-20 14:46] #2868 closed

[2022-04-20 14:47] #2405 closed

[2022-04-20 14:50] Tum1370 opened #2904 "GG Max - Bug - Storyboard - Invulnerable Single Level + Invulnerable Standalone"
When testing the levels from the Storyboard, If you try to test a game using Invulnerable Single Level or Invulnerable Standalone, You still have Health, and you still die.

[2022-04-20 14:56] #2844 closed

[2022-04-20 15:14] rvanner opened #2905 "Character Creator Crashed"
I went into the CC to make a new character and received this error;

![image](https://user-images.githubusercontent.com/1503593/164264040-9417ecf1-94ec-4c32-a491-7b1e2c311940.png)
Followed by
![image](https://user-images.githubusercontent.com/1503593/164264075-319b4fcb-b248-46f2-8956-8fe6cd04cb47.png)

[2022-04-20 15:15] rvanner commented on #2905
The CC does not clear the last loaded character. Could that be a cause of concern?

[2022-04-20 15:15] rvanner commented on #2905
I also just tried to make another character and when I came to save it I got the crash out again (which I thought was fixed).

[2022-04-20 15:18] ZakJudges commented on #2905
At a guess, the first crash is caused by the auto swap system trying to swap something that doesn't exist. I would raise a new issue for the second crash (when creating the thumbnail)

[2022-04-20 15:18] rvanner opened #2906 "I have somehow managed to create a level with 2 start markers showing!"
![image](https://user-images.githubusercontent.com/1503593/164264826-1cd1e650-1238-4cbd-bcd1-1418a4663fb1.png)

[2022-04-20 15:19] rvanner commented on #2905
Will do!

[2022-04-20 15:20] rvanner opened #2907 "When I save a new character, some times MAX just crashes out"

[2022-04-20 15:25] ArgentArts commented on #2408
@rvanner I've attached a link to a level showing the issue (see post above) for Lee. I hope it helps.

[2022-04-20 15:32] ArgentArts commented on #2798
The glitch did not show up on my second time through the demo level. So, I'm going to assume that my glitch was a glitch. ;) Ignore my previous post about this, though I will keep an eye out.

[2022-04-20 15:32] LeeBamberTGC commented on #2848
@DaveTGC2 Do you want to post this issue link on DISCORD to get some more views, I need a pressing reason why an object can be both carried, and also operating some other behavior.

[2022-04-20 15:44] LeeBamberTGC commented on #2531
Fixed for todays experimental build.

[2022-04-20 15:44] LeeBamberTGC commented on #2511
Fixed for todays experimental build. Only scale still broken.

[2022-04-20 15:53] DaveTGC2 commented on #2848
I will do, but from my point of view I wouldn't want to assign a carry script to EVERY object I wanted carried, Take games like Half-Life and even the Fallout series, you can carry most things. There could be so many, people wouldn't use the feature, or if only a few behaved like that it would be confusing and wouldn't have linear flow.

Thinking now, I would suggest you might need to throw a vola

[2022-04-20 15:57] Granada1 commented on #2848
`I will do, but from my point of view I wouldn't want to assign a carry script to EVERY object I  `

I have to agree with Dave on this one

[2022-04-20 16:57] Necrym59 commented on #2896
New 'experimental humor' bug found in this build or is it a new feature ;)

[2022-04-20 17:07] Tum1370 commented on #2881
Additional information regarding this bug.

If you press PLAY GAME and test your whole game from the HUB, after completing the first level, the game just displays GAME OVER.
I have tried both "Use storyboard logic" or "Goto Specific Level" on the WinZone on the first level, and both do the same thing.

[2022-04-20 17:25] DaveTGC2 commented on #2848
@LeeBamberTGC - It's a mixed bag, and @AmenMoses has some strong opinions :), But the general feeling on Discord seems to be in favour of a hard-coded system under player options, that allows for tweaks there, but with the ability to override it so you could use the carry script. I think this goes back to what's the easiest, friendliest option for users and a mix of both seems to be the way.

[2022-04-20 17:29] rvanner commented on #2495
This was fixed by Paul earlier this week so closing this now.

[2022-04-20 17:29] #2495 closed

[2022-04-20 17:40] rvanner opened #2908 "Lock / Unlock buttons"
![image](https://user-images.githubusercontent.com/1503593/164290364-92edd43e-f40f-4ffc-af9b-6b67db090bb5.png)

[2022-04-20 17:44] #2903 closed

[2022-04-20 17:44] #2898 closed

[2022-04-20 17:46] #2688 closed

[2022-04-20 17:46] rvanner commented on #2896
Works fine now!

[2022-04-20 17:46] #2896 closed

[2022-04-20 17:47] rvanner commented on #2894
Fixed

[2022-04-20 17:47] #2894 closed

[2022-04-20 17:48] #2196 closed

[2022-04-20 18:46] LeeBamberTGC commented on #2848
@DaveTGC2 These days I shudder at hardcoded. I can see the pitchforks from here :)  How about an object can have TWO scripts running side by side, that way the pickup script can still be modified and tweaked outside of some hard-coded C++ box.  I am sure there are other uses for having two scripts that can independently operate on the same object (for future-proofing).

[2022-04-20 19:34] ArgentArts commented on #2908
How about making this the lock/unlock icon so it's consistent with the rest of the UI?

![lock](https://user-images.githubusercontent.com/36735507/164308825-4df3c65a-676a-4856-9cc3-885ee26c9b91.png)

[2022-04-20 20:08] ArgentArts commented on #2851
Confirmed!

[2022-04-20 20:08] #2851 closed

[2022-04-20 21:05] MonkeyFrogStudio opened #2909 "GameGuru MAX - Bug - Characters/Enemies Can Charge Through Doors ... Again!"
This old bug is back in the latest experimental build with my interior level. The enemy, once they detect the player, can charge right through a closed door and get me.

[2022-04-20 22:12] SwatGuy13 commented on #2835
I'm having the same issue. Did the install with the steam client work?

[2022-04-20 22:25] ssatguru commented on #504
I still have this issue.
Reported in forum too
https://forum.game-guru.com/thread/223536

[2022-04-20 22:36] TheCzar1 commented on #2835
@SwatGuy13 Yes the Steam version worked perfect with no issues! I could play all the demo levels with no problem. It seems the Steam version is the way to go to resolve this "runtime error 7018"!

[2022-04-20 22:46] AmenMoses commented on #2848
Hmm, having multiple scripts running in a single entity is I think overcomplicating the issue and asking for trouble.

But, scripts could generate events which other scripts could act upon, for example currently the pickuppables script has a function CheckThrowCollision() which checks if a thrown object collides with the terrain or another entity, this function could generate an event which other

[2022-04-20 23:17] ArgentArts commented on #2909
And walls, too (in my interior levels). Enemy characters seem to be able to slip between the cracks in the walls to chase after my player. It's like these old errors have crept back in again.

[2022-04-21 00:40] thomasmg81 opened #2910 "Roads and tarmac terrain textures? Please help"
I am having a lot of frustration trying to get roads working in Game Guru Max - my current game project is a contempory suburban map.
I am trying to get Sula's City Road pack from GGC working in GGM but i'm finding the parts are completely breaking the user interface.
Parts cannot be easily selected once they're placed, some are appearing different sizes and cannot be deleted once they've been pla

[2022-04-21 03:06] Necrym59 commented on #2910
You asked this on the forums or discord and was told its somthing to do with those models that were not made for GGMAX you may have to convert them properly yourself.

[2022-04-21 04:18] ArgentArts commented on #2798
All's good!

[2022-04-21 04:18] #2798 closed

[2022-04-21 05:18] thomasmg81 commented on #2910
"You asked this on the forums or discord and was told its somthing to do with those models that were not made for GGMAX you may have to convert them properly yourself."

Sure, then can a tarmac or asphalt texture be added to next build for terrain painting?
or explain how i can add custom textures to that palate.
This is a question i have for the developers.

[2022-04-21 06:07] ArgentArts commented on #2909
If you need my test level, let me know. I'll zip it up for you.

[2022-04-21 06:17] davetgc commented on #2848
I can see why you'd want to avoid hard-coding. And I'm with AmenMoses that 2 scripts would be over complicating things.

How about the carry script becomes part of standard player behavior? ,

With the mentioned options under player settings?

Can Pickup?
Can Throw?
Maximum Weight?
Can Rotate?
Can Stack?

So, there's no need to cherry pick every object that can be carried, and then allow single ob

[2022-04-21 06:57] rvanner commented on #2910
@thomasmg81 It would be useful if you could show us some screen shots or video of the issue. To do roads properly we would need to develop a road system editor for MAX. It's not something we're planning to do at this time but could be something we look at in the future.

[2022-04-21 06:58] rvanner commented on #2835
@SwatGuy13 Please contact me and I'll set you up with a Steam version.

[2022-04-21 07:00] rvanner commented on #2908
@LeeBamberTGC I agree with @ArgentArts we should use the icons

[2022-04-21 07:05] plemsoft commented on #2899
@PaulSJ Ups looks like the above did not mention you :)

[2022-04-21 07:29] davetgc commented on #2779
Hi Zak, the models previously raised now work, however, some models still don't, Tried to import from the Classic Desert Pack. Joshua Tree 1.

![image](https://user-images.githubusercontent.com/99803873/164400953-f4394e62-f413-4168-ad42-292fff02655f.png)

[2022-04-21 07:38] plemsoft commented on #2899
@PaulSJ Looks like it happens when the CPU peaks ?
https://drive.google.com/file/d/13Vik28IeG9UmEgPl3SLdFMOl0DZ6Yeau/view?usp=sharing

[2022-04-21 07:42] plemsoft commented on #2907
@rvanner Tried to create 10 chars with no problems , could you let me know at what point it crash ? , when clicking "save" or when clicking "add to object lib" ? perhaps if you could catch it on video i can try the same as you did.
Also when the crash happen , could you zip up your "Guru-MapEditor.log" , just to see if there is something strange going on :)

[2022-04-21 07:54] rvanner opened #2911 "Move object and it does not find the floor in basic placement mode"
I would expect the barrel to find the floor is the icon is ticked on the right. It works for objects dragged in from the left panel but not when you move one already in the scene.
![image](https://user-images.githubusercontent.com/1503593/164406763-cc8730a6-59a6-44d6-a398-b90b57d8e2d1.png)

[2022-04-21 08:47] rvanner commented on #2907
@plemsoft I've recorded a video of it happening. Will take a while to process and upload. I'll share it here when it's ready.

[2022-04-21 08:58] rvanner commented on #2907
It's still processing so give it 10 minutes;
https://youtu.be/cTu0eq6FB6Q

[2022-04-21 09:07] davetgc opened #2912 "Importor Options."
From social media:

Objects in the importer can't be set to explosive.

[2022-04-21 09:21] ZakJudges commented on #2779
Hi @davetgc, thanks for the extra info. I'll take another look at this later today :)

[2022-04-21 10:05] plemsoft commented on #2899
@PaulSJ Got it on video what happens!

Notice breakpoint at line 2688 , between 2 timeouts it never get called, terminate is always true, even on the new created threads ?
https://drive.google.com/file/d/13YlFV1C-s3aLP8j0myRcKmRfEM6tNrJH/view?usp=sharing

Hope your able to see what the problem is :)

[2022-04-21 10:12] AmenMoses commented on #2848
"So, there's no need to cherry pick every object that can be carried"
But this will still be necessary anyhow, most objects will be static by default and will most likely have the wrong physics shape and weight modifier so the user will still have to change settings on them.

Also what happens to dynamic objects which already have a script attached when this player behaviour/script /whatever attem

[2022-04-21 10:24] plemsoft commented on #2907
@rvanner Do you have the "Guru-MapEditor.log" , and do the "Man5" exists after you restart ? , look at "Tiger Man" and "Zoe Zombie" the thumbs is getting refreshed while the chars is saving think it has something to do with that , will have a look :)

[2022-04-21 10:27] rvanner commented on #2907
Here you go:

[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8530114/Guru-MapEditor.log)

[2022-04-21 10:27] davetgc commented on #2848
I'll leave this to @LeeBamberTGC to decide. I'm still 100% against the script method. I think it goes against the whole easy game-maker principal and is a step in the wrong direction for the average user.

[2022-04-21 11:12] PaulSJ commented on #2899
@plemsoft It's something, but not enough to figure out what's happening. We need to see what happens after the threads are terminated, since that part is expected. Here's an outline of what should be happening

- Somehow the program gets to `timeout >= 300`
- `bForceUpdate` is changed which will cause a complete reset on the next loop
- `GGTerrain_Update()` gets called on the next loop, `CheckPara

[2022-04-21 11:16] plemsoft commented on #2907
@rvanner Do you have a saved 'Group" smart object inside your user folder ?

[2022-04-21 11:21] PaulSJ commented on #2329
It is because you are using shallow water. If the water were deeper then you would see the effect over a larger portion of the slider

[2022-04-21 11:57] LeeBamberTGC commented on #2909
@ArgentArts Yes please, best way for me to reproduce quickly :)

[2022-04-21 12:04] LeeBamberTGC commented on #1976
@bond1mjb Can you seal these assets as that will fix the shadow issue, ask Chris for the original files.

[2022-04-21 12:06] LeeBamberTGC commented on #2236
@ZakJudges Is this still happening, we now have a cross hair feature :)

[2022-04-21 12:09] #2665 closed

[2022-04-21 12:09] PaulSJ commented on #2899
@plemsoft I've uploaded some changes to PJ-Branch11 that might fix this. The only possible thing I could think of is that the thread gets stuck waiting for work thinking there is nothing to do, so now that should never happen.

[2022-04-21 12:22] ZakJudges commented on #2236
@LeeBamberTGC This still happens to the "Compact Assault Rifle" which has the old red dot sight.

The new red dot has some positioning issues:
![2022-04-21 13-14-03_Moment](https://user-images.githubusercontent.com/32545391/164456682-62d2857a-a4d4-4d71-83ef-6c60ba91581f.jpg)
This doesn't happen to the old red dot sight because it is rendered behind the gun, whereas the new one is on top.

In my op

[2022-04-21 12:36] #2570 closed

[2022-04-21 12:36] #2568 closed

[2022-04-21 12:44] rvanner commented on #2907
@plemsoft What file extension would it have?

Do you mean in here?
C:\Users\rick_\Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user\charactercreatorplus

[2022-04-21 13:26] plemsoft commented on #2906
@rvanner This has been fixed and will be in the next update :)

[2022-04-21 13:49] plemsoft commented on #2899
@PaulSJ Thanks pulled your changes and it looks like you nailed it , gave it a good 15 min trying to get a timeout without success, i was normally able to get it within 3 min (stressing my CPU) . Great Work , @LeeBamberTGC PJ-Branch11 and my branch is ready to be merged :)

[2022-04-21 14:16] LeeBamberTGC commented on #2408
@ArgentArts Fixed for the new build now up on the EXPERIMENTAL build on Steam, works nice now when in smart snap mode.

[2022-04-21 14:25] davetgc commented on #2848
Light would be one. I can also see things like needing to get object A away
from object B or visa versa.

On Thu, Apr 21, 2022 at 4:21 PM Lee Bamber ***@***.***> wrote:

[2022-04-21 14:41] ZakJudges commented on #2421
Hi @OldFlak, thank you for reporting these issues. I have added some fixes which should be available in the next experimental build - some time after 5PM (BST). I believe we are also aiming to release another publicly available build tomorrow evening.

Here are the changes:

**The file selector should now open at the imported model location.**

**The generated surface name now follows these rules:

[2022-04-21 14:46] ArgentArts commented on #2408
@LeeBamberTGC  Yes, works a treat in smart snap mode, but still can produce a seam when in normal snapping mode:

![aling3](https://user-images.githubusercontent.com/36735507/164483591-ec3e2256-4bfe-4cc7-9e57-1458993a969b.png)

In the above case, the first three tiles snapped well, but the fourth was off. I deleted it and snapped it again and it was better (than the screen shot above), but still o

[2022-04-21 14:47] ZakJudges opened #2913 "Refresh importer surface texture UI"
- need to better handle cases where the surface texture is chosen directly (as opposed to roughness, metalness and occlusion being chosen individually)

[2022-04-21 14:47] ZakJudges commented on #2913
#2421

[2022-04-21 14:49] ZakJudges commented on #2481
Hi @3coms, the issue of the duplicated surface maps should be fixed in the next update. For more details on the fix, see this issue #2421
Thanks :)

[2022-04-21 14:50] LeeBamberTGC commented on #2909
@ArgentArts It will be somewhere, finding it is the issue for me :)

[2022-04-21 14:50] ArgentArts commented on #2909
@LeeBamberTGC I'll get the level zipped up for you and send you an email. :)

[2022-04-21 14:51] LeeBamberTGC commented on #2408
@ArgentArts What do you mean when you say "normal snapping mode".  When in the grid snap mode, smart position aligns all three axis XYZ horiz only does XZ and vert only does Y.

[2022-04-21 14:53] plemsoft commented on #2877
@Indidev234 Thanks for reporting this issue, could you locate this file "Guru-MapEditor.log" it should be in your "\Users\USERNAME\Documents\GameGuruApps\GameGuruMAX\Guru-MapEditor.log" folder , and post it here, so im able to see where it crash  , thanks for your help :)

[2022-04-21 14:55] ArgentArts commented on #2408
Sorry I wasn't clear. Hadn't had my coffee yet. ;)

When I use GRID POSITIONS, I can still get the error:

![snap](https://user-images.githubusercontent.com/36735507/164485857-04ebb5b9-d918-4334-8a5c-acd408fa704d.png)

But when I use SNAP MODE, I haven't gotten the alignment error yet.

[2022-04-21 14:56] ArgentArts commented on #2408
@LeeBamberTGC BTW - Looking at my screen grab of the error, it looks like an error in the Y direction to me.

[2022-04-21 15:17] rvanner opened #2914 "Weird circle of light showing under water at a certain depth!"
![image](https://user-images.githubusercontent.com/1503593/164490410-1bba3ddc-1cf6-47fc-a4d8-803d29e0a89d.png)

[2022-04-21 15:20] rvanner opened #2915 "LUA error during Test game"
Just got this when I did Test game;
![image](https://user-images.githubusercontent.com/1503593/164491178-17c617a5-7521-461f-8089-4f9386089e66.png)

[2022-04-21 15:42] ArgentArts commented on #2909
@LeeBamberTGC I've sent you an email with a link to two test levels to help with this issue.

[2022-04-21 16:18] ArgentArts commented on #2848
AmenMoses responded to me about why he's against this being hard-coded. His reasoning seemed sound, actually. Here's what he said:

When read that way, I have to agree with him. And that means I've changed my opinion from hard-coded with a script override.

What I was thinking, though, is that perhaps the "pickupables" should not be a script that's attached to objects, but more of a "script" that'

[2022-04-21 16:20] PaulSJ commented on #2193
Should be fixed in a future version

[2022-04-21 16:26] davetgc commented on #2848
Hi Lee,

That was more or less the compromise I suggested, that it could be part of
player behavior. Being a tick box to say the player can carry things. Have
I understood you correctly? In which case, I agree and support that.

My real main concern was having to attach the script to every object that
needed carrying. It felt cumbersome.

But would it be possible to carry stuff, and have a weapon

[2022-04-21 16:27] ArgentArts opened #2916 "GameGuru MAX - Idea - Player Behaviors"
This idea/request is for a set of Player specific Behaviors that the end-user could attach to a player to customize them as they see fit. These Player Behaviors would be designed to work together so that more than one could be used together and they would only work with the player. This would allow the end-user to add custom features to the player for their game such as:

- Stealth abilities (usea

[2022-04-21 16:29] ArgentArts commented on #2848
@davetgc We have a script for climbing a ladder that hides the weapon when we start to climb the ladder. In like manner, when the player picks up something, the weapon can be put away, too, I would think.

[2022-04-21 16:34] DaveTGC2 commented on #2848
@ArgentArts - A good point about the ladder script. Thanks for the reminder.

[2022-04-21 16:50] 3coms commented on #2481
@ZakJudges
Ty mate, well done!

[2022-04-21 16:50] #2481 closed

[2022-04-21 17:02] bond1mjb commented on #1976
@LeeBamberTGC   Sure, I've sent an email to Chris.

[2022-04-21 17:40] LeeBamberTGC commented on #2915
@rvanner Does it happen the next time you launch the MAX build and click Test Level with an empty map?

[2022-04-21 17:45] LeeBamberTGC commented on #2408
@ArgentArts Fixed for next build, up in about 30 minutes :)

[2022-04-21 17:54] bond1mjb commented on #2900
@rvanner @LeeBamberTGC I've emailed Chris requesting the edited models for this collection.   The models from Rick don't match the models that are in MAX.   Once I have the files from Chris I will complete this task.

[2022-04-21 17:59] LeeBamberTGC commented on #2327
Fixed for this evenings EXP build.

[2022-04-21 18:18] LeeBamberTGC commented on #2848
@ArgentArts Nice link to the other feature request, I am liking the sound of stackable player behaviors. Right now it is all buried in the "gameplayercontrol.lua" script, but splitting it out and allowing parameter changes on each "skill" sounds very MAX :)

[2022-04-21 18:25] LeeBamberTGC commented on #2215
All sorted. Widget now works for position, rotation and scale :)

[2022-04-21 18:27] ArgentArts commented on #2848
@LeeBamberTGC Thanks! The idea is simple - if I want to create a game like Thief, then I include the Player Behaviors that make that happen and exclude the ones that would detract from that. If I want a game like DOOM, then I exclude the ones that would make it more like Thief, etc. So, yeah, a totally customizable character that is also expandable by the community, via the store, etc.

[2022-04-21 18:30] ArgentArts commented on #2408
Looks beautiful now! Totally awesome fix! Thank you so very much!!!

[2022-04-21 18:30] #2408 closed

[2022-04-21 18:31] ArgentArts commented on #2327
@LeeBamberTGC Can't wait to test this one. :)

[2022-04-21 18:36] LeeBamberTGC commented on #2646
@Ghost-l0l Latest EXP build on Steam corrects smart object positioning, the widget and the grid/snap system. Hopefully a better placement experience awaits :)

[2022-04-21 18:45] SwatGuy13 commented on #2835
That's ok I got a key and D/L last night. It's working fine. If I have any issues I will let you know.
Cheers.

[2022-04-21 19:06] LeeBamberTGC opened #2917 "Add ability to control the VSYNC mode through editor and in-game"
JASON Writes:

At the moment GameGuru MAX is using VSync to keep the frame rate consistent with the monitor refresh rate. This is great for preventing screen tearing for those that suffer from it. However, VSync increases input lag which is less than desirable in an FPS game.

Many modern monitors now support G-Sync or freesync, mine included, with this there is no reason to use VSync, and having

[2022-04-21 19:06] Tum1370 opened #2918 "GG Max - Bug ?? - Maximum of 8 keys linked to one door - Visual Logic ?"
HI,
Is this a bug or intended ?
I am trying to link several keys to the same door.
But after having 8 keys linked, using the visual logic system, I cannot seem to link any more.

Could you please fix this as i would like more keys linked to this door.

Thanks

[2022-04-21 19:24] LeeBamberTGC commented on #2185
New scaling behavior in EXP build on Steam later this evening.  Renamed Scale to 'Scale Multiplier Percentage' and now reflects the actual scale of the object from its FPE properties for consistency.  Slider is reset when go to new object to have a good range of scaling (one percent through to 10x), which may be repeated, or scale entered manually.

![image](https://user-images.githubusercontent.c

[2022-04-21 19:33] LeeBamberTGC commented on #2348
Fixed for next EXP build on Steam :)

[2022-04-21 19:33] LeeBamberTGC commented on #2355
Fixed for next EXP build on Steam :)

[2022-04-21 19:49] LeeBamberTGC commented on #2858
This was a bug caused by the camera drag being activated (i.e. missed the zone corner), but it would then not release the camera drag disabling most click logic. Fixed for next EXP build on Steam.

[2022-04-21 19:50] 3coms commented on #2421
Running the very last update (minutes ago) and the issue still happens here.

![Importing_textures_no_match_GGMax_EA_pic02](https://user-images.githubusercontent.com/47690174/164541298-96cf39e9-aa10-4a7a-ba5a-57a6f09d4ab8.png)

perhaps your branch is unmerged yet?

[2022-04-21 19:50] marcuswilm commented on #2185
@LeeBamberTGC thank you for this good news. I am not working with the Steam build. Please, will the next update of the alpha version for TGC members also been updated with that fixed and revised setting ?

I also would like to know if the collision shape of a rescaled asset in the editor could also be rescaled with that setting.

Anyway as always congratulations to you and to the GG MAX developers

[2022-04-21 19:50] LeeBamberTGC commented on #2858
![image](https://user-images.githubusercontent.com/35840583/164541522-d3e0f588-b883-44da-a8cd-4fa3f7739a4b.png)

[2022-04-21 19:56] ArgentArts commented on #2185
@LeeBamberTGC Instead of having four scale bars (one for all three axis and one for X, Y, and Z), why not just have three (X, Y, and Z) and have a LOCK icon that would lock the scale of all three. When locked, you use only one to adjust all three. When unlocked, you adjust all three individually.

[2022-04-21 20:14] ArgentArts commented on #2918
I believe I've seen that this is the limit and that someone else had requested it be raised. I think I had even brought up the idea of "daisy-chaining" them together, too, but even that doesn't work or bypass this limit.

[2022-04-21 20:17] LeeBamberTGC commented on #2244
Fixed for next EXP build on Steam. Values reflect actual scale from FPE and better scale multiplier slider.

[2022-04-21 20:19] ArgentArts commented on #2917
Could be added to this request:

https://github.com/TheGameCreators/GameGuruRepo/issues/2515

The Advanced Graphics Options menu really needs more than just Low, Medium, and High settings, but tick boxes for turning on/off various features, etc.

[2022-04-21 20:29] LeeBamberTGC commented on #2478
@Tum1370 Items did not fall under the table with creating, testing saving, or loading, but did when I used terrain sculpt brush to raise or lower:

![image](https://user-images.githubusercontent.com/35840583/164542082-9d021446-b576-4f51-9889-41ee2914fa83.png)

I am assuming this is the bug, and it will be fixed in the next EXP build on Steam.  Now when moving terrain floor, objects stay relative t

[2022-04-21 20:31] LeeBamberTGC commented on #2485
@synchromesh62 Yes this was redacted as we got an equal number of users complaining the other way. The idea now is we rewrite and improve the zone system to something more intuitive, like painting down an area that becomes the zone, and expand the capabilities of the zone (trigger based on distance, etc).

[2022-04-21 20:38] LeeBamberTGC commented on #2462
@HannahIsCrying This is actually a restriction that allies to very small objects for physics active models so they do not fall through the other physics geometry:

![image](https://user-images.githubusercontent.com/35840583/164548387-2fcd6407-60aa-4155-8429-409a4a9c4035.png)

Try to keep your model imports to 6x6x6 units or above (around 6 inches on a side). If you do find any stock asset that is

[2022-04-21 20:41] LeeBamberTGC commented on #2062
@smmaas Works fine with the latest EXP build on Steam shortly (and in Friday public build). Can you check again and if it still happens mention the object name so I can try with the exact object, thanks:

![image](https://user-images.githubusercontent.com/35840583/164548891-82b10d82-9397-434b-99f6-1e3df465aee9.png)

[2022-04-21 20:47] LeeBamberTGC commented on #2185
@ArgentArts I like the lock idea, and also the fact we clean up the UI a little too :)  Physics does scale when the scaling tool is used, no worries.

[2022-04-21 20:48] LeeBamberTGC commented on #2185
P.S. This build will be released this Friday evening :)

[2022-04-21 20:49] ArgentArts commented on #2185
@LeeBamberTGC Glad you like the idea. It brings things in line with standards that are seen in most programs, too, I think.

[2022-04-21 22:19] LeeBamberTGC commented on #2819
We have SSAO, but I refer MSAO :)  In this Friday's release!

Before:
![image](https://user-images.githubusercontent.com/35840583/164560818-efac15af-3475-4140-8b92-896cbafad787.png)

After:
![image](https://user-images.githubusercontent.com/35840583/164560827-20991aa7-f7ad-4700-8a95-3ed9064c9c7d.png)

[2022-04-21 22:21] LeeBamberTGC commented on #2021
@ArgentArts Can this be closed?

[2022-04-21 22:23] #2656 closed

[2022-04-21 22:24] LeeBamberTGC commented on #2711
@ZakJudges Can you confirm this fix, then close the issue, thanks!

[2022-04-21 22:25] Indidev234 commented on #2877
I'm sorry, I didn't find this folder and this file, the fact is that I have a Steam Version, and I don't have anything like that in the Documents on my disk With the path you specified. Can you specify where exactly to get this file?

[2022-04-21 22:26] LeeBamberTGC commented on #2832
@ZakJudges Can you find the website link which allows us to submit our EXE of MAX to register this false positive, thanks!

[2022-04-21 22:40] fearlesswee commented on #2886
To add onto this, zombies are also invulnerable when playing their "getting up" animation. I feel like this should not be the case.

[2022-04-21 22:43] thomasmg81 commented on #2910
@rvanner  it is not an 'issue' per sae. I have created this rural scene in GGMax. Its intended to be a village set in England, UK sometime in the 1980s so i need a way to have roads and pavements with contemporary road markings.
One workaround could be if there was a way i could import my own tarmac or asphalt texture into the terrain painting, and i could create my own pavement models.
![Untitled

[2022-04-21 22:53] Necrym59 commented on #2916
A great idea and i agree with it, but this would mean multiple global 'always active' lua files to operate for the player or anything else for that matter, this in itself would have to be addressed as i noted in https://github.com/TheGameCreators/GameGuruRepo/issues/2542 otherwise conflict may occurr and slowdowns result.
I beleive it could be overcome or else all these options would have to be pi

[2022-04-21 23:07] Necrym59 commented on #2848
Having a Basic player container plus adttional skill/capability container of scripts seems a plausible way to go, some skills/capabilities are also supplied to the player via object scripts as well though. You just cant realistically start a player with all the games features worth earning so to speak. It would have to be tempered within realistic game style scenarios as Amen suggested and be flex

[2022-04-21 23:18] OldFlak commented on #2215
@LeeBamberTGC thanks for working on this Lee :)

Inside selection and placement seems OK - but will test further by making completely new scene and get back to you on that :)

Lights are still bonkers tho:
Note
- the origin point when placed in level, is where previous models center point is
- not shown in vid but they always come in on their side. Which doesn't make much sense for a light. Should

[2022-04-21 23:21] OldFlak commented on #2741
Disregard this if you want - using Steam version on Drive D seams to work just fine so not an issue for me (plenty space on D)

[2022-04-21 23:21] OldFlak commented on #2739
Disregard this if you want - using Steam version on Drive D seams to work just fine so not an issue for me (plenty space on D)

[2022-04-21 23:22] Necrym59 commented on #2910
I think that 3 new textures be added to the texturing box to widen the game making capabilities a bit now, tarmac/asphalt, concrete, tiles  sounds are already there i think 10 is for tarmac, stone can be used for the concrete/tiles for now.

[2022-04-21 23:33] Necrym59 commented on #2828
I keep saying they all need peronality traits in their behaviours, then they would react acordingly even when threatened not just when hit.

[2022-04-21 23:41] thomasmg81 commented on #2910
@Necrym59
I can only see 'natural' textures at the moment. 10 is desert sand?

[2022-04-21 23:49] Necrym59 commented on #2910
I said material 'Sound' 10 is 'tarmac'. not used at present yet i think.

[2022-04-21 23:51] thomasmg81 commented on #2910
@Necrym59
Ok well if its intended to add tarmac to textures in future build, that is encouraging. A road system creator in the GUI would be ideal, but i can work with the texture.

[2022-04-21 23:55] ArgentArts commented on #2021
Yes!!!

[2022-04-21 23:55] #2021 closed

[2022-04-22 00:02] Necrym59 commented on #2918
Do they need all 8 to open the door??

[2022-04-22 00:03] OldFlak commented on #2421
@ZakJudges Will test thanks

Why are we even doing this:

If the surface texture is there it doesn't need to generate anything - **just use the one provided**

[2022-04-22 00:57] Necrym59 opened #2919 "GGMAX - Underwater vegetation parameters"
Still needs tweaking for underwater grasses in map generation, they should be only be starting underneath water,  water height+underwater grass height
![underwater_grass2](https://user-images.githubusercontent.com/95015657/164576120-5a3d788f-32c2-404a-a29a-727ed5a444af.png)

or if you could use reeds vegetation for the water borderline area.

[2022-04-22 01:23] Necrym59 opened #2920 "GGMAX - Sliding Door Issue"
Slight script change required for sliding doors: The Locked Text appears at all times! It should be disabled if 'Open with E key' has been selected. Or change 'Open with E key' to 'Unlocked' like other door behaviours so as to be consistent.
![sliding_door](https://user-images.githubusercontent.com/95015657/164578253-91fa4544-c69e-4f2d-846f-728fa25e0677.png)

[2022-04-22 02:21] Kitakazi opened #2921 "Internal 04.22 : Lights Flickering & Mega FPS Drop"
Latest Build Internal Build - 2022.04.22

https://www.youtube.com/watch?v=zScYmWpoFLI

Drop a light into a scene and deselect the light and the Light Element (the icon for the light) will start flickering like crazy.
The light itself does not flicker but if the light is hitting any object with Transparency then that object will start flickering as well.

This causes levels with lights to to be nea

[2022-04-22 02:27] Necrym59 opened #2922 "GGMAX - Health Script issue"
The Health Behaviour states: "The object will give the player a health boost if the current health is under 80."
this is incorrect it just gives health when the distance is smaller than 80. The bahaviour should be modified to somthing like this
![health_new](https://user-images.githubusercontent.com/95015657/164584248-23c89a1c-4ea3-46cf-8d20-2da54b7a5873.png)
that allows to ajust the pickup range

[2022-04-22 02:58] Necrym59 opened #2923 "GGMAX - Ammo Behaviour Issue"
The Ammo behavior has no selectable options but it does have a ammo quantity option on the developers panel , probably bringing in the fpe setting, it should be moved to the main behavioiur panel to be clearer and more consistant, and should also have a pickup range. Perhaps like this:-
![ammo_new](https://user-images.githubusercontent.com/95015657/164587510-4081513b-867a-43b0-baf0-fbfd37d14eac.pn

[2022-04-22 03:49] Kitakazi commented on #2921
Turning off Transparent Shadows does NOT fix the lights flickering. But it does fix the FPS drop

[2022-04-22 05:03] ArgentArts commented on #2921
I have the latest experimental build and cannot reproduce this. I placed 10+ point lights in a scene, set their shadow resolution to 2048, and ticked the Transparent Shadow box. There was no flickering in the editor and movement was smooth. I could also run the level with no frame drops.

[2022-04-22 05:04] ArgentArts commented on #2327
I take it there wasn't an evening build for this (4-21) because I don't see this fix in it?

[2022-04-22 05:05] OldFlak commented on #2215
@LeeBamberTGC Hi Lee some feedback on building a semi-complex level :)

Shift+D always ends with duplicate of model in same spot as original and is not attached to mouse cursor
- should stay attached to mouse cursor till Left Click again

Clone by dragging current object does not retain original height
- always wants to stack, means you have to clone repeatedly when you want more than one of same

[2022-04-22 05:21] ArgentArts commented on #2215
@OldFlak SHIFT+D doesn't do anything for me. Am I missing something (I do have the latest experimental build). What I've been doing to keep the height of an object I want to duplicate is, with the object selected, hold down SHIFT and click it and release. This creates a duplicate in place (overlapping the other). With the widget, I then slide it in the direction I want to go. But if I try to use S

[2022-04-22 06:22] Tum1370 commented on #2918
@Necrym59
No.
it’s about placing a key that opens the same door in many locations. Am using a script then, that a trigger zone activated at start of level, which only shows randomly one of the keys.
This way the player has to search for the key every play through.
Else, if I play my own game, I would know exactly where the key is and go straight for it. But now I have to search.

[2022-04-22 06:55] rvanner commented on #2915
@LeeBamberTGC I cannot make it happen again. I'll look out for it and report more should it reappear.

[2022-04-22 06:56] rvanner commented on #2910
A feature that we would like to add is the ability to use your own textures for the terrain. Once we add this then you would be able to paint the textures of your choice and you will not be locked into the ones we provide. I'll ensure it one of the features higher up on our list.

[2022-04-22 07:10] rvanner commented on #2918
As a way around this, you can use the Developer settings of an object with the If Used fields.

[2022-04-22 08:01] Tum1370 commented on #2918
@rvanner
Do you mean, using the If Used option we wouldn’t even need a script, and would be able to have random locations, or do you mean, it would allow the use of more than 8 key?

Also, how would we use this option please?

[2022-04-22 08:47] ZakJudges commented on #2421
@OldFlak

This is true if you pick the surface texture without using the RGBA buttons. However, the UI at present does not allow this in all cases - see issue #2913

When using the RGBA buttons, you are taking data from a specific channel of the source texture. This is needed because different applications can store surface texture data in channels differently to Wicked.

Issue 2913 would aim to s

[2022-04-22 08:49] ZakJudges commented on #2421
@3coms Could you send the model and textures to zak@thegamecreators.com and I will take a look. Thanks!

[2022-04-22 08:50] plemsoft commented on #2921
@LeeBamberTGC This is the flickering problem, see video.

[2022-04-22 09:17] ZakJudges opened #2924 "Editable area box out of sync with the marker"
When creating a new level, make the editable area 0.5KM then move it to the left and see the box and marker in different positions:

https://user-images.githubusercontent.com/32545391/164676474-9e2e612e-2ee4-4797-98b9-e27b722d8f44.mp4

[2022-04-22 09:20] ZakJudges commented on #2832
@LeeBamberTGC Here is the link: https://www.microsoft.com/en-us/wdsi/filesubmission/

[2022-04-22 09:23] LeeBamberTGC commented on #2921
@plemsoft Do you want to have a go at reverting the two commits you shouwed me thtn you think might solve it and see if it goes away for you?

[2022-04-22 09:26] LeeBamberTGC commented on #2327
@ArgentArts It went out quite late. Now on the nonsteam build internal too.  Maybe describe what you see in your latest version.

[2022-04-22 09:28] ZakJudges opened #2925 "Zombie falls on floor face-down but stands face-up"
https://user-images.githubusercontent.com/32545391/164678227-b662220e-2b22-4b0b-9fd4-9ded50ff1232.mp4

[2022-04-22 09:35] #2711 closed

[2022-04-22 09:42] Necrym59 opened #2926 "GGMAX - Reset Visuals - possible bug"
Images below of BEFORE then AFTER pressing the Reset Visuals Button. It seems to do more than just reset the visual settings, not sure why.
![before](https://user-images.githubusercontent.com/95015657/164680951-899e8db5-c135-41fa-8d1a-876b0f386fdc.png)
and after
![after](https://user-images.githubusercontent.com/95015657/164680995-2b71649c-683b-4ab0-89d2-069f67765708.png)

[2022-04-22 09:42] plemsoft commented on #2921
@LeeBamberTGC Committed to my wicked branch , ready to merge , its now in a define and not active for now, fix the flickering :)

[2022-04-22 09:56] 3coms commented on #2421
@ZakJudges
I continue to test it more in-depth, and I've discovered that one was my fault, since I've had my textures in different folders.
At least in the **OBJ** case, you should have every texture in the **maps** folder.
I've tested several OBJ meshes and it works fine for me, it is pointing me to the right folder:

![Import_material_Right_folder_GGMax_EA_pic01](https://user-images.githubuserco

[2022-04-22 10:06] OldFlak commented on #2421
@ZakJudges thanks for reply.

In my tests with a multi-textured multi-mesh model you can only select the surface if you select Edit All Mesh Materials in the mesh the dropdown list.

So you have no choice other than to use the RGB buttons for most models - which makes for a very tedious import on a model with many meshes using several different texture sets

![image](https://user-images.githubuser

[2022-04-22 10:10] LeeBamberTGC commented on #1797
Fixed in todays build.

[2022-04-22 10:20] OldFlak commented on #2215
@ArgentArts - sorry yes **Shift+LeftClick** (corrected) - it duplicates the model in the exact position as the original and loses the focus immediately - so it is easy to have duplicates.

It used to stick to the mouse and you could then plonk copies all over the place, and again use Shift LeftClick to drop multiple copies of it, until you just LeftClick to drop last one.

[2022-04-22 10:28] ZakJudges commented on #2421
@OldFlak For now I will add in choosing the surface texture directly with these image buttons:
![Screenshot 2022-04-22 111223](https://user-images.githubusercontent.com/32545391/164692324-9018f9fa-dee9-4d55-9b66-70bb7b970c91.png)

That should make its way into a build next week. Hopefully that will do, until we can do it 'properly' :)

[2022-04-22 10:29] davetgc commented on #2886
Yes, I agree with that one. It's odd you can't harm them as they stand up.

On Fri, Apr 22, 2022 at 12:40 AM fearlesswee ***@***.***>
wrote:

[2022-04-22 10:37] 3coms commented on #2421
My concern is about "**edit all mesh materia**l", let's say in a building with different parts and textures.
When I tried it, GGMax paint the whole building with the selecting materials which are not right, since every part of the building has its own materials (color, ao, metalness, brought, surface)

If my building has 10 columns and all of them share the same texture, and when I tick the "**edi

[2022-04-22 10:39] OldFlak commented on #2421
Thanks Zac
As we say on the insider channel - **no work-arounds!**. That was a common GGClassic mistake - workaround is added and never addressed properly afterwards!

Why not just do it properly now :)

Please :)

[2022-04-22 10:48] PaulSJ commented on #2508
@OldFlak Is this still an issue in the current version?

[2022-04-22 10:49] LeeBamberTGC commented on #2832
@relishrompgames Okay, submitted the latest binary to MS who runs the virus back end for Trend:

gamegurumax.rarSubmission ID: e7b16443-2950-4227-82db-1c62e24aae62Status: SubmittedSubmitted by: leebambertgc@gmail.comSubmitted: Apr 22, 2022 11:42:43User Opinion: Incorrect detection

Let's see what happens and how long it takes :)

[2022-04-22 10:50] #2329 closed

[2022-04-22 10:52] PaulSJ commented on #2303
The current version should now allow you to paint any grass anywhere, even underwater

[2022-04-22 10:53] OldFlak commented on #2508
@PaulSJ Can be hard to find sometimes but got this after a bit of poking around.

![image](https://user-images.githubusercontent.com/12246318/164701248-20b87099-b3d9-4ccd-8e0b-2d61f71dfa35.png)

[2022-04-22 10:53] PaulSJ commented on #2080
Duplicate of #2303

[2022-04-22 10:53] #2080 closed

[2022-04-22 10:55] PaulSJ commented on #2508
Could you share that level with me, or give me some steps to reproduce it?

[2022-04-22 11:16] LeeBamberTGC commented on #2921
Fixed for latest Steam build, will be in Fridays release.

[2022-04-22 12:20] OldFlak commented on #2303
Thanks Paul - Will check it out

In the above level there was no painting done at all - it just rendered grass like that.

However even so, it is not an engine decision.
- The engine should just default to only placing water plants in the water - yes
- But we should be able to paint grass anywhere we want, if we want

The engine should not enforce anything - defaults are ok as long as you can over

[2022-04-22 12:21] rvanner opened #2927 "Key should stack on top of table but stays on the floor"
![image](https://user-images.githubusercontent.com/1503593/164713233-aea3bbcf-2bf5-43f7-b964-ab5b01d5340c.png)

[2022-04-22 12:30] OldFlak commented on #2329
No the sliders are broken :)
Half the slider is useless - has no effect at all.
![image](https://user-images.githubusercontent.com/12246318/164714380-76c66180-7573-4dc5-82f4-e8841f8b3ae9.png)

[2022-04-22 12:31] rvanner opened #2928 "LUA bug"
@LeeBamberTGC I made this test level and have run into a LUA bug. Map file attached for you to see the issue.

![image](https://user-images.githubusercontent.com/1503593/164714462-435c6947-c6d8-40e7-b602-7ce7167eb96a.png)
[keyanddoors.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8540997/keyanddoors.zip)

[2022-04-22 12:49] rvanner commented on #2907
Yes, works fine now!

[2022-04-22 12:49] #2907 closed

[2022-04-22 12:49] #2906 closed

[2022-04-22 12:50] #2899 closed

[2022-04-22 13:06] ZakJudges commented on #2421
Hi @OldFlak To allow the best of both worlds, I will add a checkbox above the surface texture. This will control whether you choose the surface texture directly or use the RGBA buttons. I will let you know when it's in a build you can test :)

@3coms Yes the "edit all mesh materials" option is only really useful if all of the meshes share the same texture :)

[2022-04-22 13:24] 3coms commented on #2421
@ZakJudges
Or very useful if it detects the meshes sharing a specific material and just affects those meshes in 1 click; this will be the best since I can have let's say 30 walls in the building, sharing the same material, and it will be textured in just 1 click. :)
You are limited since you have to work with Assimp libs, otherwise, I'm sure you enclose those meshes sharing the same materials in a

[2022-04-22 13:37] hamedsheygh opened #2929 "the lack of game kits"
![ss_afa98dc14b63dcf6844fc4c6392b0d3feb357379 600x338](https://user-images.githubusercontent.com/82085749/164724799-afda91ba-6ddc-4eaf-957d-cf30d5fce9b9.jpg)
i realy wants some thing like walking dead and junk yard game kits for making games faster.(i think many peoples love this. :)

[2022-04-22 13:47] PaulSJ commented on #1665
Duplicate of #2193

[2022-04-22 13:47] #1665 closed

[2022-04-22 13:56] LeeBamberTGC opened #2930 "Drag camera settings FAR slider to 1 and get a CRASH"
Create a new terrain level, drop in a building, run test level then grab the far distance and slider it down to 1, it will crash at that point.

[2022-04-22 14:10] synchromesh62 commented on #2874
I Can confirm this one .. Returns to Start Marker on Death.
Possibly related to when Lee enabled checkpoints .. Guessing it thinks the  start marker is a checkpoint ?

[2022-04-22 14:37] PaulSJ commented on #1427
@cstriage13 Is this still an issue in the current version, and if so can you give me some quick steps to reproduce it?

[2022-04-22 14:43] rvanner opened #2931 "Shadows cast onto smoke from explosions"
Something I kept forgetting to report. If you play the Zombie Fest game and shoot an exploding barrel you will see that shadows project onto the smoke, this really should not happen;

![image](https://user-images.githubusercontent.com/1503593/164737630-17ac560b-3136-4eb2-977d-ae7959561911.png)

[2022-04-22 15:00] LeeBamberTGC commented on #2915
I have traced this one to the "run_away_if_hurt_properties" or similar not being called for objects when init, works when you change the behavior and then try again. I suspect the initial load of the LUA script is messing up the properties part that passes in the correct params and calls the "_properties", or in this case not doing!

[2022-04-22 15:01] LeeBamberTGC commented on #2915
Related to this one: https://github.com/TheGameCreators/GameGuruRepo/issues/2928

[2022-04-22 15:02] rvanner opened #2932 "Character Creator will have the wrong background when you go back into it"
eg;

1. Load up the CC
2. Change from Male to Female
3. Save the character
4. Load up the CC again, the character is the female from before but the background is the male background

![image](https://user-images.githubusercontent.com/1503593/164741103-6a819b05-9c1d-40f7-9590-a9a895f3af94.png)

[2022-04-22 15:30] PaulSJ commented on #2859
Duplicate of #1540

[2022-04-22 15:30] #2859 closed

[2022-04-22 15:32] PaulSJ commented on #1540
This should be fixed in a future version

[2022-04-22 15:33] Tum1370 commented on #2853
@plemsoft
Hi, Sorry to say but this is not fixed in todays update.
Quick test of a standalone was still showing Black hat and trousers, instead of camo trousers.
I guess the other texture issues will be still here as well.

![image](https://user-images.githubusercontent.com/66874403/164747008-64e0ad11-c220-4e33-81af-0db7e226e787.png)

[2022-04-22 15:40] PaulSJ commented on #2931
I think the smoke needs to respond to shadows otherwise it won't look right in dark scenes, but we can try turning the shadows off and seeing what it looks like

@LeeBamberTGC Do you know where the material properties are set for the smoke meshes? I tried modifying the barrel material to ignore shadows but the smoke doesn't seem to inherit properties from the barrel

[2022-04-22 15:47] LeeBamberTGC commented on #2931
@PaulSJ Smoke decals are part of the weapon projectile system, one of the effects as a result of a projectile being exploded.  These object planes are pre-created and assigned textures, so it would be there that you set the material to ignore shadows to see what it looks like. I imagine we could detect the general ambience of the source of the explosion and tint the smoke to suit.  t would look be

[2022-04-22 15:57] ArgentArts commented on #2327
@LeeBamberTGC Thanks for letting me know.

@LeeBamberTGC I've taken a look and grids and grid snapping aren't working properly. This is based off my experience in other 3D applications, both modeling programs and game engines. I'll provide an example from Blender:

https://user-images.githubusercontent.com/36735507/164748108-59433c21-93e9-4563-95bc-eaef07e728e2.mp4

In the above video, I set Blend

[2022-04-22 16:40] Tum1370 commented on #2853
@plemsoft
Here is a easier screenshot to see them.
All trouser and head camo gear is really dark, And the other 2 characters have other problems, with like skin, and hair etc.
Seems the character created models are not saving properly still in Standalone.

The first image is Standalone.
The second image is playing from editor, and how they are suppose to look.

![image](https://user-images.githubu

[2022-04-22 17:26] janekste opened #2933 "Standalone game. Changes to graphics settings change the position of trees. Bug."
Three screenshots from the same position with different graphics settings. All three screenshots have different trees (different number), but there should be the same trees. I just changed the graphics settings. Please fix the bug.

There is only an automatically generated forest here . I didn't set anything manually.

Thank you for your time.

![image](https://user-images.githubusercontent.com/55

[2022-04-22 17:53] synchromesh62 commented on #2210
This has been much better in fact hardly noticeable for some time now.
i think this one can be closed now unless it noticeably re-occurs :)
Great Job !!

[2022-04-22 18:05] ArgentArts opened #2934 "GameGuru MAX - Request - SSAO/MSAO Additional Controls"
Firstly, thanks for adding SSAO/MSAO to MAX! It's a huge step up graphically. Now that we have it, I'd like to suggest that a few more controls be made available to the game developer other than just AO Power. These could include things like:

- SSAO Contrast
- SSAO Radius (to tighten the shadows along crevasses, etc.)
- SSAO Bias

Currently, MSAO darkens the entire scene a bit. I believe there ar

[2022-04-22 18:11] Tum1370 opened #2935 "GG Max - Latest build - 22/4/22 - AI Seems messed up now"

[2022-04-22 18:17] ArgentArts commented on #2934
Currently, the SSAO power control only seems to darken/lighten the overall effect on-screen and does little for the shadows in the cracks:

![ssao4](https://user-images.githubusercontent.com/36735507/164771769-a763023f-0698-4d5c-8f23-fb624e7a8880.png)

![ssao5](https://user-images.githubusercontent.com/36735507/164771792-8b9db1b1-4cb5-4380-91cb-16a5043a72c4.png)

![ssao6](https://user-images.githu

[2022-04-22 18:29] Necrym59 commented on #2934
Already being done i think

[2022-04-22 18:30] ArgentArts commented on #2934
Doesn't hurt to ask to make sure. ;)

[2022-04-22 18:51] ArgentArts opened #2936 "GameGuru MAX - Request - Enable Trees to NOT Turn On Trees Everywhere"
Currently, if I create an empty level and want to add a some grass and a tree or two, I have to turn on trees. But when I do that, trees spring up everywhere! What if I only want to add a few trees? What if my level is an indoor level, but I have a small courtyard in the midst that has three or four trees I want there with some grass? I'd love to just use MAX's system to just plant a few trees wit

[2022-04-22 19:05] ArgentArts opened #2937 "GameGuru MAX - Bug - SSAO Not Working on New Outdoor Levels"
SSAO seems to be working on my own interior levels and all of the demos I've tested that ship with MAX. However, when I create a brand new outdoor level using MAX's BIOMs, enable AO, nothing happens, not even when I run a test game. Even if I use TABTAB and try to enable/disable AO, there is no difference.

[2022-04-22 19:57] MonkeyFrogStudio opened #2938 "GameGuru MAX - Bug - SSR Turned on in Editor Does Not Turn on In Test Game"
If you tick SSR in the editor, it's enabled in the editor, but then if you go to test game, SSR is not enabled there and you have to use the TabTab menu to enable it. You can enable other features, like AO, etc., from within the editor now, but not SSR.

[2022-04-22 20:07] thor49 opened #2939 "Some Character models Rotated (Y) 180 after test run in editor."
Some of my Store bought character models are rotated 180 around Y after test run.
1. As screen 1 shows the skeletons are all facing me
![skel-1](https://user-images.githubusercontent.com/35811289/164785758-41296d8f-574b-41e3-a70a-670ea3a6a84a.jpg)
.
2. I do test run the skeletons all move and walk and run forwards in the correct directions.
3. I exit from the test run back to editor. But all the S

[2022-04-22 20:22] Necrym59 commented on #2928
I got the error only once, however these doors dont make sense i opened a door with no key
![closed_nokey](https://user-images.githubusercontent.com/95015657/164788419-8a21fe4f-2f4e-4fb0-8d77-cf9e275cac46.png)
then it asked for one once it was opened.
![opend_no_key](https://user-images.githubusercontent.com/95015657/164788470-d757c4a2-5f6e-4a14-8310-9e579a5a5a38.png)

[2022-04-22 20:28] Necrym59 commented on #2928
I then i restarted and opened all doors except one that actually needed the key??
![all_opened](https://user-images.githubusercontent.com/95015657/164789023-e4d4fc91-a4dd-4ab8-a23a-890a4c849054.png)
Also the doors opened or prompted to open closer to the hinged edge

[2022-04-22 20:36] thor49 commented on #2939
It's not just the model skeletons I have shown in the images above.. but many other characters I own have this problem.

[2022-04-22 20:39] ArgentArts commented on #2932
Not sure why they need two different backgrounds, to be frank ...

[2022-04-22 20:42] ArgentArts commented on #2348
Confirmed working. Thanks! :)

[2022-04-22 20:42] #2348 closed

[2022-04-22 20:43] ArgentArts commented on #2909
@LeeBamberTGC At your convenience, please let me know if you'd gotten the email with the link to the levels. Thanks. :)

[2022-04-22 20:43] synchromesh62 commented on #2936
Easy
Enable Trees, Clear all Trees, then spray wherever and whenever you like
As the video below shows :)
https://youtu.be/a3UlLdKj18U
Hope that helps

[2022-04-22 20:46] ArgentArts commented on #2936
@synchromesh62 Thanks! That works a treat!

Heh. What I'd done? I'd created an empty level as a test, zoomed in, painted some terrain, painted some grass, then enabled trees and planted a few. It all looked good. Then I moved my camera back to see this forest everywhere! I was like, "Where did all that come from?!?" Hah! Because I was so close to the ground to begin with, when I had initially enab

[2022-04-22 20:47] #2936 closed

[2022-04-22 21:06] #2210 closed

[2022-04-22 21:20] PaulSJ commented on #2714
@ArgentArts Is it only this object that has an issue? I tried adding an emissive texture to one of the default barrels but it's emissiveness wasn't affected by selection/deselction

[2022-04-22 21:23] Kitakazi commented on #2921
The flickering is gone but I still have bad performance with Transparent Shadows enabled now.
Same FPS as in the video.

[2022-04-22 21:53] thor49 opened #2940 "If Character model is not selected (Yellow Highlight) then it acts like statue in test run."
Related to #2939 - in that Clicking the model to highlight it causes it to work
![femSwd-1](https://user-images.githubusercontent.com/35811289/164799930-5abe3489-aef0-4e86-9ce2-84fb87211715.jpg)
.
1. Here the model holding the sword was highlighted when I pressed run. It walks and animates as it should.
2. The other model was not highlighted but it moves put keeps that statue pose.
3. Don't highli

[2022-04-22 22:08] thor49 commented on #2940
Just to be clear.. I can click them one at a time to highlight them but that does not make them work..
Only the one that has the yellow highlight will work.
You would have thought the click and given them yellow highlight would set something up.
but no.. it is only if it has the live yellow highlight that is works. ( I can't imagine what that could be)

[2022-04-22 22:17] ArgentArts commented on #2714
Here's the barrel, if you want to use it in your tests:

[SFBarrel.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8544380/SFBarrel.zip)

Forgive the 2k textures. I've not optimized this model, yet.

[2022-04-22 22:41] ArgentArts commented on #2937
Further testing makes it appear that SSAO is not working on any of the bioms at all, but is only working on models users have placed in the bioms. For example, if we run the Island Showdown, none of the trees and grass, etc., that are generated by the biom display SSAO when it's turned on, but user-placed trees, rocks, etc., do:

![biom](https://user-images.githubusercontent.com/36735507/164813926

[2022-04-22 23:26] bluemeenie195 commented on #2537
Thank you, It's all set now

[2022-04-23 00:53] 3coms commented on #2421
@ZakJudges
Running the last build.
The first try doesn't work as expected.

GGMax provides a wrong material, and when you try to fix it does not allow you to do it; i.e. if I try to enter the right material path, let's say  _mymesh_color.dds_ rather than takes mine, GGMax creates a new one in my folder an name it mymesh_color2.dds_, and if I try again it creates the mymesh_color3.dds_ in my folder

[2022-04-23 01:41] ArgentArts commented on #2838
Fixed with latest update.

[2022-04-23 01:41] #2838 closed

[2022-04-23 01:51] #2730 closed

[2022-04-23 01:54] ArgentArts commented on #2727
Looks to be fixed!

[2022-04-23 01:54] #2727 closed

[2022-04-23 01:54] #2597 closed

[2022-04-23 04:33] ArgentArts opened #2941 "GameGuru MAX - SSAO/MSAO Render Issue"
MSAO can sometimes have a rendering issue with certain objects in front of it:

https://user-images.githubusercontent.com/36735507/164877720-0f56e6d7-2153-4b5c-b8f4-1087b5e81ec0.mp4

[2022-04-23 07:49] #2819 closed

[2022-04-23 07:50] #2459 closed

[2022-04-23 07:55] Hamada880 opened #2942 "GameGuru classic grenades throwing away from the aiming point. Throwing Grenades usually follow the center aim crosshairs whoever now it's shifted to the far right."

[2022-04-23 09:22] Tum1370 opened #2943 "GG Max - Bug - Placing 1 tree using ADD A TREE in Terrain Tools"
I have just noticed that on one of my maps i can NOT place a single tree using the Add a Tree option in Terrain Tools. Spraying Trees still works fine.

But on a different map i can place trees normally. So this BUG is only happening on one map that i have.

Now after further testing, I noticed on the map i cannot place a tree, i found this.
After placing a single tree in a couple of locations, Th

[2022-04-23 13:04] AmenMoses commented on #2279
Why did the Classic tag get removed?  The bug occurs in both but is more noticeable in MAX as many of the stock entities are scaled!

[2022-04-23 17:40] Tum1370 commented on #2578
This is still happening. If you have your character speed set at 100 he seems to run fast whatever weapon am carrying.
Can sorta adjust it by lowering player speed from 100.
But really this should not be happening. 100 speed should be normal speed.

[2022-04-23 18:52] Tum1370 opened #2944 "GG Max - Bug - Image Zone - Click to Exit does not work, and image constantly appears when player re enters zone"
If you place a image zone at the player spawn spot, To give instructions on what to do.
The Click to Exit does not work, and the image still disappears.
Also as you re enter the same area the image shows again, and again.

Really you need to fix the Click to Exit, this will allow the player to get the instructions, Then click to start level.
Also, the zone should disappear after clicking to exit.

[2022-04-23 18:59] Tum1370 opened #2945 "GG Max - Bug - Show Navigation Debug Visuals"
If you test your game in the editor and use the Show Navigation Debug Visuals to check how the AI is working, After you kill and enemy with the Navigation mesh on, It will leave this White Box where the enemy dies,
This white box is then impossible to remove / delete.

![image](https://user-images.githubusercontent.com/66874403/164942680-4939a271-6b74-475f-b18c-7dde9f430a68.png)

[2022-04-23 20:23] 3coms commented on #2421
It looks like holding the OBJ, the MTL, and the textures, in the same folder, works a bit better.
Although GGMAX continues creating a new surface material file, ignoring your own.

![Importing_textures_duplicating_surface_GGMax_EA_pic01](https://user-images.githubusercontent.com/47690174/164944892-f6a3893d-2600-45c4-bef8-60f586dd9b16.png)

[2022-04-23 20:55] casigus opened #2946 "model importor issues."
i'll just  post screen shots for this one.

object  breaks.
![image](https://user-images.githubusercontent.com/68471279/164945456-d188aaf5-04cd-4154-be73-b9cc6786b44d.png)

fine in 3d   viewer/blender

![image](https://user-images.githubusercontent.com/68471279/164945694-d246f82a-a4b5-4c3a-bc1d-594b59aca100.png)

object (despite having .mtl there and required textures)

![image](https://user-image

[2022-04-23 20:56] casigus commented on #2929
max.
has.
a
model.
importer.

[2022-04-23 21:00] ArgentArts opened #2947 "GameGuru MAX - Bug - Filter Effect Cannot Be Set to NONE in Demo Games"
In the editor, if you go to Filter Effect, you can select any filter effect and then turn them off by clicking on NONE:

![filter1](https://user-images.githubusercontent.com/36735507/164945804-99a2249b-127d-400d-a6aa-06630b3a95cc.png)

In a test game, via TabTab, you can do the same. However, in any of the Demo Games, if you use TabTab, the NONE button is missing. Therefore, if you select one of t

[2022-04-23 22:42] ArgentArts opened #2948 "GameGuru MAX - Request - Shaders!"
I would like to request some way to create, use, import SHADERS in GameGuru MAX. Shaders, I think, are vital to creating modern games and have been for years and years. Here's an OLD example from Half-Life 2:

![glass](https://user-images.githubusercontent.com/36735507/164948293-55232099-1fd3-4a96-891b-23c3004f2f46.png)

I think the ability to create and use shaders are going to be essential.

[2022-04-23 22:42] Pcskiller opened #2949 "population of vegitation do not work, and density slider aswell."
i see that after the latest build / upgrade that the populate of the grass function do not work , you can select any type of vegetation but it does not populate it. , it only populate one default grass type and not the one you selected.  ,  and also the density slider also don't work,

[2022-04-24 00:10] Ratall opened #2950 "GameGuru Max: Importer Request Add Autoflatten Option"
I would be most helpful if one could set auto flatten in options during import rather than having to edit fpe after.

[2022-04-24 00:12] Ratall opened #2951 "Max2022.04.22: Importer :Bug loosing material names"
The imported often replaces material names that exist in source import with noname making it extremely difficult to match up textures. Particularly with complex models with may parts and textures.

[2022-04-24 00:27] Ratall opened #2952 "Gameguru Max: Importer : Request Have importer add source file name as comment in fpe"
It would help greatly if Source file name with path could be automatically added to the Fpe as comment.
It would help with backtracking to original source to fix problems, assign credits to original creator extra.

[2022-04-24 00:50] OldFlak commented on #2421
I use OBJ for static models
- FBX rarely works for me - always fine in Substance, but usually on its end in MAX
- I use X for any animated models. I just plonk it in my Writable Folder location and let MAX convert
- can be a pain having to set up when dropping into Editor - but at least the animations will then work

This is what I do for OBJ:
Keep all files in same folder for model you are import

[2022-04-24 01:06] Ratall opened #2953 "GameGuru Max: Importer Request the file name box for import destination expand when you expand importer sidebar"
If you use custom target directories to organise your imports the path can get quite large at the moment you can only see the first 24 characters and there is no way to expand the field.

[2022-04-24 02:01] Kitakazi commented on #2793
Having same issues as ArgentArts.
Trying to import animations from Mixamo. Tried exporting animations at 30 and 60 frames. The importer is only importing 3-5 frames of entire animations. I tried importing the same animations into Classic and it worked fine.
Also I'm not sure the importer is importing rigged models correctly. Show Bones does not work either.

[2022-04-24 03:12] Ratall opened #2954 "Max2022.04.22: Importer : Bug under Materials Surface file path defaults to Imported Models"
When selecting material while importing surface defaults the \Documents\GameGuruApps\GameGuruMAX\imported_models whereas Albedo and Normal default to the directory you are importing the model from..

[2022-04-24 03:30] Ratall opened #2955 "Max2022.04.22: Bug Importer After selecting Surface file textbox for filename remains empty"
![Surface filename nissing](https://user-images.githubusercontent.com/35710601/164955174-62c2bc03-66e7-45dd-9d50-30e84acec1b4.png)

[2022-04-24 04:03] 3coms commented on #2421
That sounds right but also sounds like a workaround, and many things to do, especially when talking about several textures :)
I'm sure later or soon Zak will come up with a solution. :)
It shouldn't matter if the texture name has this one (_) or does not, or if the texture name is too long, or whatever else; although I had suggested above, a name convention, as GG does.

I did as you suggested and

[2022-04-24 05:59] Necrym59 opened #2956 "GGMAX - Changing the biom of an existing map Enhancement"
When changing the biome of an existing map the maps it should have the option of just changing the biomes the texture set not redefine all the maps settings. An existing forest could be used for summer and winter map/modes, is it possible to get a checkbox to select change biomes property sets eg: ground textures/trees/vegetation only. eg:
![biomes](https://user-images.githubusercontent.com/950156

[2022-04-24 06:20] OldFlak commented on #2355
Fixed in current build thanks Lee :)

[2022-04-24 06:20] #2355 closed

[2022-04-24 06:25] OldFlak commented on #2303
@PaulSJ Tested in current build. Steam version.
Paints all grass correctly - and also allows me to paint grass under water if I should want to.
So issue sorted :)

[2022-04-24 06:25] #2303 closed

[2022-04-24 06:26] OldFlak commented on #2245
@ZakJudges thanks for looking into this Zac - not seeing it in current Steam build.
Will close - and let you know if it pops up again :)

[2022-04-24 06:26] #2245 closed

[2022-04-24 06:35] OldFlak commented on #2244
Hi Lee - no not fixed in current steam version
In this pic (stock asset) note the scale vales, and also the position value
-All Scale settings should be 100
-With position: tis at 0.1, some models come in at -0.1 - should be 0?

![image](https://user-images.githubusercontent.com/12246318/164959988-dae6f289-ef32-49e2-bee5-2f6aa109fef4.png)

[2022-04-24 06:37] OldFlak commented on #2215
More feedback - models can still move up when clicked - try setting to height of say 100.5, when you click it it will move to 100

[2022-04-24 06:43] OldFlak commented on #2100
The current bug fix log says the issue of models moving when clicked is sorted - but it still does it.
Try setting height of an object to 100.5, when you click it it will jump to 100

[2022-04-24 06:45] ArgentArts commented on #2100
@OldFlak I just tested it with the latest build and it does not for me. I set the height of an object to 100.5 and clicked it and it stayed in place. I tried clicking it both with and without the widget active just to see. In both cases, the object stayed at 100.5.

[2022-04-24 06:56] OldFlak commented on #1923
Works fine now thanks Lee :)
The only issue now is the confusion the outline of selected models creates - it is cool, but not really useful at all in complex scenes.

Why not remove the outline for selected models and change the color of the model instead like, Classic does.

[2022-04-24 06:57] #1458 closed

[2022-04-24 07:00] OldFlak commented on #1328
Not seeing this in latest Steam release :)

[2022-04-24 07:00] #1328 closed

[2022-04-24 08:30] plemsoft commented on #2892
@NaeNae20 I did not get any e-mail from you, did you sent one ? , also please try it in the 04.22.2022 version and let me know if it has fixed the issue , thanks for your help :) e-mail: [plemsoft@plemsoft.com](mailto:plemsoft@plemsoft.com)

[2022-04-24 08:31] Tum1370 opened #2957 "GG Max - Bug - Build 24/4/22 - Smart placement messed up again"
Some items are not placing correctly now with Smart placement.
Like the coffee cup in the screenshot is not placing half way through the table.

![image](https://user-images.githubusercontent.com/66874403/164967616-99a55bc2-f038-4adf-9e6c-4b70e32faadb.png)

[2022-04-24 08:31] plemsoft commented on #2891
@vstrode Did verify your files fix your issue ?

[2022-04-24 08:33] plemsoft commented on #2888
@BladRunner1 Thanks for reporting this issue, was you able to find the backup folder ?, also the current and future version will not delete/backup your files when installing new updates :)

[2022-04-24 08:35] plemsoft commented on #2883
@Hughjanus2022 Could you explain more about the problem , is the white textures when you import your own models ? or perhaps if your able to make a video of the issue, it would really help us see the problem. Thanks for your help :)

[2022-04-24 08:36] OldFlak commented on #2421
Yes tis a work-around because MAX messes up the references in FPE, and creates multiples of his own surface when not required, and of course the Imported_Models folder - fix that and it works fine. (it used to work properly)

Just tried in current build and makes a total mess
![image](https://user-images.githubusercontent.com/12246318/164967844-109cb717-49c8-41e9-a0d3-845423f23bf0.png)

[2022-04-24 08:38] plemsoft commented on #2853
@Tum1370 Please make sure your using the 2022.04.22 version , and you also need to export the standalone again before it will work :)

[2022-04-24 08:39] Tum1370 commented on #2853
@plemsoft
I am using latest version, It doesnt work

[2022-04-24 08:39] plemsoft commented on #2759
@casigus Was this fixed for you in the current version "2022.04.22" ?

[2022-04-24 08:40] plemsoft commented on #2607
@mav3r1ck198-1 If you dont like to post the custom assets that crash MAX here, please e-mail the object to me and i will have a look e-mail: plemsoft@plemsoft.com , thanks for your help :)

[2022-04-24 08:48] plemsoft commented on #2881
@Tum1370 Thanks for reporting this issue, currently you need to test your game in the storyboard using these setting:
![test-game-storyboard](https://user-images.githubusercontent.com/18662417/164968297-aa019f01-aa73-4c31-8fb7-c219b7f4cfa0.jpg)

Give it a try and let me know if that fix your issues, Thanks :)

[2022-04-24 08:49] Tum1370 commented on #2853
@plemsoft
For me, this build on the 22/4/22 has been a terrible release.
I had to spend 8 hours on Friday night fixing a messed up AI system on a level i had finished, (Which was working fine before the update)
I was so hoping the Standalones was fixed and after Fridays download, so i could let my friend try a level, but still the character creators characters had black trousers and messed up text

[2022-04-24 08:49] plemsoft commented on #2879
@Sinergygames Did the latest version fix your issue ?

[2022-04-24 08:53] Tum1370 commented on #2881
@plemsoft
This reported bug was about the Standalone version. The storyboard section was additional information.
From what i remember, After playing a Standalone, the game shut down, rather than displaying GAME WON screen.

[2022-04-24 08:55] plemsoft commented on #2877
@Indidev234 Yes it could be window 10 related , why cant you upgrade ? , anyway you could also try to upgrade your graphics drivers to the latest version and see if that fix your issue,  the SetThreadDescription is used in the wicked engine and could be driver and or a windows 10 not updated problem.

Also on your second computer ,there was a fix in the latest version that could fix that issue, so

[2022-04-24 08:56] plemsoft commented on #2875
@realPrunelle There was a fix in the latest version , please try to update and let me know if this issue has been fixed, Thanks for your help :)

[2022-04-24 09:09] plemsoft commented on #2921
@Kitakazi That is a extreme fps drop, sounds like the GPU is swapping textures in and out all the time, could you try to go to the shadows settings and lowering the resolution for the different shadows types and see if that fix the issue , thanks for your help :)

[2022-04-24 09:12] plemsoft commented on #2881
@Tum1370 Could you try to make a standalone using the latest version and if you still see the issue, could you zip the standalone folder and e-mail me a download link and i will see if im able to fix the issue , Thanks for your help e-mail: plemsoft@plemsoft.com

[2022-04-24 09:19] plemsoft commented on #2853
@Tum1370 could you try to show me all the files in this folder:
\Users\USERNAME\Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user\charactercreatorplus\
And also show me all the files in the same standalone folder "\Files\entitybank\user\charactercreatorplus\" so im able to see the difference , Thanks :)

[2022-04-24 09:21] Tum1370 commented on #2853
On a level, i have placed 4 character created characters in a area near a winzone helicopter, I am now creating the standalone and will Zip it and send it to you, Hopefully this will have the GAME OVER bug and the character black trousers etc bug.

[2022-04-24 09:24] plemsoft commented on #2853
@Tum1370 Thanks , could you also zip this folder "\Users\USERNAME\Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user\charactercreatorplus" so i can see what textures is missing, Thanks for your help :)

[2022-04-24 09:30] Tum1370 commented on #2853
@plemsoft I think i have already tried copying those entire files from that folder to the standalone folder, but it still has the problems with black textures.
I have just created the Standalone, I have added 4 character created characters so you can see the problems with the characters,
The GAME WON bug though does not seem to be happening with this standalone though, But at least you can see the

[2022-04-24 09:34] Tum1370 commented on #2853
@plemsoft
The Standalone ZIP is to big to send as a email.
I will place it in Dropbox and send you a link.

[2022-04-24 09:41] Tum1370 commented on #2853
@plemsoft
I have sent you the email with the Standalone and that folder.
They are dropbox links

Thanks

[2022-04-24 09:45] Tum1370 commented on #2881
@plemsoft
I Have emailed you the links for a standalone, But this Standalone is not suffering from this bug.
I will try again creating more standalones later, and if i find the same bug i will send you a link to the standalone.

[2022-04-24 09:48] Tum1370 commented on #2853
@plemsoft

This is what the 4 characters in the Standalone ZIP that i just sent you, look like for me.

![image](https://user-images.githubusercontent.com/66874403/164970556-8b43e799-a9c4-47f3-a4eb-697668c54bb0.png)

[2022-04-24 10:01] Tum1370 commented on #2478
@LeeBamberTGC
If this was a fix for the latest build on Friday 22/4/22.
Then this fix has made Smart Placement terrible.
It is making it very hard now for me to continue my level as lots of objects dont place properly on lots of other objects.

I have already started a new bug regarding the latest build, as i didnt know if these are related.

https://github.com/TheGameCreators/GameGuruRepo/issues/

[2022-04-24 10:18] Tum1370 commented on #2957
More test screenshots

And if you look at the 3rd image, You can see that the computer and coffee cup place perfect on top of the stack of boxes.

![image](https://user-images.githubusercontent.com/66874403/164971691-00461fbe-efd4-48e3-9d52-947ed7e1f3a6.png)

![image](https://user-images.githubusercontent.com/66874403/164971712-dd30d23c-a0b7-4815-905f-4ee42a318266.png)

![image](https://user-image

[2022-04-24 10:52] Tum1370 commented on #2853
@plemsoft
Did you receive the ZIP with the Standalone in ?
Was the missing textures or black trousers happen for you as well on the standalone ?

[2022-04-24 10:54] Tum1370 commented on #2478
Please release a quick fix for the Smart Placement so i can continue creating my second level. Hopefully dont have to wait for ages for another update to this problem

[2022-04-24 11:05] plemsoft commented on #2853
@Tum1370 Yes got them will have a look :)

[2022-04-24 11:56] SquireOfGothos opened #2958 "GG Max Jungle Fever Demo crashes GG Max"
Solved. I was running from an old short-cut.  When running from within Steam no problem!

[2022-04-24 13:31] #2958 closed

[2022-04-24 15:26] rvanner commented on #2956
These settings are really for our dev team. We do plan to add a way to make your own biomes and use your own textures in the future.

[2022-04-24 15:56] ArgentArts commented on #2947
@rvanner It's not TEST GAME that's the issue, but in the DEMOS (correcting the tags).

[2022-04-24 16:50] Indidev234 commented on #2877
Game Guru Max also crashes and also does not start. I even reinstalled Windows today and updated to the latest version 21H1. Please understand what is the problem? I'm fine with the drivers.

[2022-04-24 19:23] Kitakazi commented on #2921
@plemsoft
Lowering the shadow resolution on the point-light helps the issue. But something is still wrong, the build last week was running really smooth, on same level I had point/spot light shadows at 2048, transparent shadows, running at 90+ fps.  Transparent shadows off it was running easily 130 fps+

Now, with Transparent Shadows turned OFF. I set point light shadow to 1024 and the scene will

[2022-04-24 21:39] Necrym59 commented on #2956
OK sounds fine, just a note though it would be good just to change the biome type only on an existing map eg: change a forest from summer to winter for eample. At the moment any biome change changes the landscape too.

[2022-04-24 23:04] ArgentArts commented on #2956
That would be a great way to show a season change in-game. You play the level, it's summer. Perhaps you enter a cave and don't know how long you've been inside (due to ... reasons ;) ). You come out and it's the same level, but it's winter. Without being able to use the same level, but change only type, it would be nearly impossible to duplicate otherwise.

[2022-04-25 00:21] OldFlak commented on #2100
Yes, I get mixed results - that was an example :)

It will be fine if the object in question is already in grid position and that is where you want it to be. But if it is a tad off of exact grid position it will move when clicked when grid is on.

https://youtu.be/Ytqj3zThCvU

Also in the vid note the odd setting for Y position of model once it has moved to grid position.
I wonder if it is partly

[2022-04-25 00:36] casigus commented on #2759
yassss!!  :)

[2022-04-25 00:36] #2759 closed

[2022-04-25 01:18] Ratall opened #2959 "Max : request : Ability to enable/disable Auto flatten in object tools"
Sometime 2 object close to each other with auto flatten on will create conflicts. Other times you just do not know that an objects auto flatten will do to surrounding objects and terrain till you place it.

[2022-04-25 01:40] Ratall opened #2960 "Max: Request The ability to make auto flatten results stay after object removed ."
Currently if you have a object place and you decide to remove it the terrain gets reset.
1) Image you  set up a nice scene with a house and gardens the you find a better house to replace it when you remove the old house the terrain gets mucked up .
2) Image you want an object with a cave/cellar under it. You could place the object with auto flatten enabled. lock the flattening remove the object, d

[2022-04-25 01:53] Ratall opened #2961 "Max: Request allow auto flatten to follow height of object"
At the monument placing an object with auto flatten on places the flattened area height fairly arbitrarily. If you could raise and lower the object with the auto flatten area moving with it you could easily decide whether your object sits high above its surrounds, nestles into the hill side or lurks in a hollow of its own creation,

[2022-04-25 04:42] Necrym59 commented on #2956
For a seasonal change on an existing map if this option is available and the biome is exposed to lua it could be handled in lua for seasonal shifts and weather events.

[2022-04-25 04:50] Necrym59 opened #2962 "GGMAX - File selections problem"
At the moment when a file is selcted it defaults to a list of folders not related to where the image/file may be. In this example optional images are suplied in the scripts/folders but when the selection button is press it doesnt start in the pre-selected folder with no way to get there in the following dialog box. Please can we have the default to start in the pre-selected directory for file/imag

[2022-04-25 06:44] Ratall opened #2963 "Max2022.04.22: Bug : when saving group no new thumbnail or details created"
When saving a group the thumbnail and details as appears in the Object library are that of one of the objects in the group. A new name is created but nothing else
![Group fail](https://user-images.githubusercontent.com/35710601/165034269-45fd69b6-b724-4634-b4da-3be26d683d14.png)
The circled are all the same group.

[2022-04-25 06:59] plemsoft commented on #2877
@Indidev234 Please make sure you installed windows 10 64bit version and not the old 32bit version.
The only other thing i can think of is that you have some special antivirus software, if you have anything running could you try to disable it and check if Max then startup for you.

If the "Guru-MapEditor.log" is not created on your system , then MAX has not started and/or something is preventing it

[2022-04-25 07:11] plemsoft commented on #2944
@Tum1370 Thanks for reporting this issue, it looks like it works fine here, you just need to set the "Duration" to a high value, this is the max time the image can be on screen in milliseconds, so setting it to "300000" will make the max time 5 minutes, sure you can at anytime use "Click to Exit". Let me know if this solves your issue, and please close this one down if so, Thanks :)

Currently we

[2022-04-25 07:12] GraPhiX-Guru opened #2964 "GameGuru MAX - Simulated Sky needs some TLC"
Latest version of MAX is looking fantastic well done Team :)
There is one thing that does let MAX down and that is the Simulated Sky, it has been like this since conception, albeit the sky is fantastic but visually it is a let down :( the 'Popping effect' is what i am talking about when you load a level and test game it is the only thing that at the moment looks visually displeasing.
Here is a vid

[2022-04-25 07:18] Ratall opened #2965 "Max2022.04.22: Bug Saved Group fails to load correctly"
![Failed group load](https://user-images.githubusercontent.com/35710601/165039053-c974bfb9-4ffd-4ec1-8a34-68d3c4f83bb5.png)
Original next to failed load from object library

[2022-04-25 07:23] Tum1370 commented on #2944
@plemsoft
I will test this again after I get home from work later with a high duration time.
I did not change the duration from the set time of 4000.
All I did was tick Click to Exit.

I reported this because this is a BUG for me.
the zone never disappeared for me.
the click to exit never worked for me.

[2022-04-25 07:25] plemsoft commented on #2944
@Tum1370 Yes when you dont change the 4000 it will exit when the 4 second is elapsed , so yes set it to a high value and try it again :)

[2022-04-25 07:28] plemsoft commented on #2947
@ArgentArts Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-04-25 07:31] plemsoft commented on #2853
@Tum1370 Thanks for the files, i found the problem it was the surface and normal not getting into the standalone depending on skin colors. This has also been fixed and will be in the next update :)

For now you can copy these files to your standalone by hand:
\Files\charactercreatorplus\parts\adult male\adult male facialhair 04_surface.dds
\Files\charactercreatorplus\parts\adult male\adult male le

[2022-04-25 07:59] GraPhiX-Guru commented on #2964
I would of classed this as a bug ! the simulated Sky in Wicked even back in 2021 did not have this issue, so therefore it must be a bug ! if you watch this video at about 1 minute in you can see the clouds and they disperse they do not pop, so a bug must have been introduced.
At the end of the Day it is up to you guys but as far as i am concerned its a bug :(

[2022-04-25 08:25] ZakJudges commented on #2421
Hi @3coms, could you send me the model and textures to zak@thegamecreators.com and I will take a look. Thanks :)

[2022-04-25 08:31] ZakJudges commented on #2421
Hi @OldFlak I will take another look at the file selector when I add the previously mentioned checkbox, will let  you know when its ready to test :)

[2022-04-25 08:34] plemsoft commented on #2921
@Kitakazi Strange perhaps you added another point light to the level? remember 1 point light use 6 textures and render the scene 6 times more each frame.

I checked the code and dont see any changes that could result in such a difference:

Just to make sure , could you use the "GameGuru MAX Updater.exe" and install the "2022.04.08" version and let me know if you still see this huge difference, or

[2022-04-25 08:36] Tum1370 commented on #2853
@plemsoft
Ok thanks, I will try this when home.
I am sure I did try copying the entire adult male folder in to stand-alone folder before.

Maybe wheb I copied before I placed them in wrong folder.

[2022-04-25 08:53] rvanner opened #2966 "Add a Refresh List option to the level objects side window."
Users have asked for this. The refresh only currently happens when you save a level. Users want the left window to be updated more frequently.
![image](https://user-images.githubusercontent.com/1503593/165055150-d7c54088-5884-40bc-b43a-f3bb06157ab7.png)

[2022-04-25 09:40] ZakJudges commented on #2954
Hi @Ratall, thank you for reporting this issue. A fix has been added which you should see in the next update. I will post here when the update is available, and the fix ready to test :)

[2022-04-25 09:42] ZakJudges commented on #2951
Hi @Ratall, so I can look into this, could you send me a model that you are seeing the issue with to zak@thegamecreators.com

That will allow me to reproduce what you are seeing so I can work on a fix. Thanks!

[2022-04-25 09:42] #2913 closed

[2022-04-25 09:43] ZakJudges commented on #2946
Hi @casigus, so I can look into these issues for you, could you please send me the models and textures to zak@thegamecreators.com

That will allow me to reproduce the issues and see where things are going wrong. Thanks!

[2022-04-25 09:44] ZakJudges commented on #2882
Hi @68chase, could you confirm if you still experience this issue in the latest build? Thanks

[2022-04-25 09:57] ZakJudges commented on #2793
Hi @ArgentArts @Kitakazi Could you both import the objects you are seeing the issue with and then send me the dbo and fpe files that are generated? Thanks

[2022-04-25 10:13] #2537 closed

[2022-04-25 10:30] rvanner commented on #2964
@PaulSJ Can you take a look and advise if this is a bug or a limitation of Wicked?

[2022-04-25 10:37] LeeBamberTGC commented on #2927
@rvanner Going to need a little more. I dropped in a table, then dragged in  a key, it was on the table. I dropped on the floor, then dragged that key to the table, it found the top:

![image](https://user-images.githubusercontent.com/35840583/165073194-23a5f343-c00b-4988-a63e-3c04b21762cd.png)

[2022-04-25 10:39] LeeBamberTGC commented on #2957
@Tum1370 Can you reproduce this with some stock objects and let me have a step by step with the object names so I can reproduce at my end, thanks!

[2022-04-25 10:44] PaulSJ commented on #2964
It seems the latest WickedEngine also suffers from this problem.
https://user-images.githubusercontent.com/8309736/165073899-65f0e452-5880-4f8e-b863-53f7d48c82b6.mp4
I don't know what was changed or why but it might have been for performance reasons, or fixed a different bug.

[2022-04-25 10:48] LeeBamberTGC commented on #2478
@Tum1370 Has this specific issue "Guns and ammo move off the tables i had them placed on", been fixed?

[2022-04-25 10:55] ZakJudges commented on #2955
Hi @Ratall, I wasn't able to reproduce this one. Could you send me a video of the issue occurring when you select a texture? Thanks

[2022-04-25 11:06] Tum1370 commented on #2957
@LeeBamberTGC
All those items in the pictures are stock items

I haven’t imported any models yet as I haven’t got to that place in learning yet.

[2022-04-25 11:07] Tum1370 commented on #2957
Before the update on Friday, these items all placed fine.

[2022-04-25 11:09] LeeBamberTGC commented on #2957
@Tum1370 Can you let me have a step by step with the object names, thanks!

[2022-04-25 11:18] rvanner commented on #2927
@LeeBamberTGC Seems to be to do with other tables in the library. You can see the keys on the cellar table but these others don't let you put the keys on top of them. Something to do with their setup?

![image](https://user-images.githubusercontent.com/1503593/165078867-ce6145e2-58ba-4487-8340-d128120b6884.png)

[2022-04-25 11:25] 3coms commented on #2421
@ZakJudges
I had changed my workflow with OBJ.
Now I had a building reduced just to 4 pieces, therefore 4 textures, and every file, even the OBJ and MTL files are in the same folder, and now it works ok.

A question, does this is going to be possible?

[2022-04-25 11:28] Hamada880 opened #2967 "Terrain texture paint wasn't fixed."
Changing the texture to DDs darken the images to black. Also crashes the software during the launching. Xconvert used to convert textures to dds and also Photoshop plug-in but the result is same black textures. Is there way to explain how to fix this issue?

[2022-04-25 11:30] ZakJudges commented on #2421
@OldFlak A build with the change is now on the Steam Experimental :)

[2022-04-25 11:32] Tum1370 commented on #2957
@LeeBamberTGC
I’ll be home from work in a couple of hours and will give you names of objects then.

But as you can see from the screenshots, that computer ( a booster pack entity ) and the coffee cup and plate.
they smart place correctly on the stack of boxes.
but do not smart place properly on the table.

I’ll give you all entity id when am home.

[2022-04-25 11:35] ZakJudges commented on #2421
@3coms Yes, you can now choose the surface texture directly, no need to keep them as separate roughness,metalness and ao textures :)
In the Steam Experimental build, you should see this checkbox:
![Screenshot 2022-04-25 123218](https://user-images.githubusercontent.com/32545391/165081027-ae939ab7-da5c-4a5e-bae9-3a5ee6a56a14.png)

Selecting it will allow you to choose between generating a surface t

[2022-04-25 11:38] LeeBamberTGC commented on #2957
@Tum1370 Cheers, thanks!!

[2022-04-25 11:58] 3coms opened #2968 "Taking screenshot for later use [GGMax-Request]"
hi
The idea is to take shots in-game and use this shot as a backdrop when in the save/load game menu, in real-time.
I already did in GG, but using _nircmd_, now I would like a different approach in GGMax.

**What have I done so far?**

When the user pressed F12 to take shots, it runs a script that updates the shot file path, and stores it in a global var for later use.
When the player goes to save

[2022-04-25 12:02] LeeBamberTGC commented on #2100
@OldFlak In the next EXP build, I have removed the code that attempted to align the Y causing the issue you saw, and have moved it earlier in the process of detecting the floor so we still get good predictable Y when dragging into an EMPTY level without messing with ongoing object placement work.

![image](https://user-images.githubusercontent.com/35840583/165085270-caa5e96d-614b-4de2-ace4-f61e37e

[2022-04-25 12:08] AmenMoses commented on #2968
/Users/Old_chris/Downloads/addTo_DarkLUA_.cpp

This was the code I added to my local GG build to allow screen snapshots to be create from Lua.

[2022-04-25 12:29] 3coms commented on #2542
Think in a node-based system, something such as the storyboard; then you can attach each script to each node.

[2022-04-25 12:30] GraPhiX-Guru commented on #2967
@Hamada880 xTextureConverter is the tool for MAX terrains xConvert will convert textures but the textures for MAX are specific.
https://youtu.be/vLGWz_2sqT0
hope this helps

[2022-04-25 12:34] Snage62 opened #2969 "Delete Button"
Hi
Please can you consider putting a Delete Project button in the Storyboard, so as not to keep on going to the File area and doing it that way.

Is there any way I can import my dungeon levels into Max see , theses are Data flies Game Guru

![Dungeon 1](https://user-images.githubusercontent.com/39164408/165089733-dccac81c-a300-4225-9fab-326ada304c62.jpg)
![Dungeon 2](https://user-images.githubuse

[2022-04-25 12:35] PaulSJ commented on #2930
@LeeBamberTGC I'm not seeing a far distance slider, even with all the advanced settings turned on. Did we hide this somewhere?

[2022-04-25 12:41] OldFlak commented on #2421
@ZakJudges Thanks for persevering with this Zac :)

Just tested in latest:
- Tested on multi-mesh object with same texture set and works fine
- Have yet to test on multi-mesh / multi-texture model yet
but so far looking good (only tested with OBJ)

Couple other things that need sorting:
Importer never shows item in its folder after import - always goes to user folder.
- I never put models in one s

[2022-04-25 12:47] LeeBamberTGC commented on #2930
@PaulSJ Do you see this in Test Level:

![image](https://user-images.githubusercontent.com/35840583/165091931-64058b10-2539-4448-b85e-5e1687ebc5c9.png)

[2022-04-25 12:49] PaulSJ commented on #2930
Ah there it is, looks like it's not exposed in the editor, only in test game

[2022-04-25 12:52] LeeBamberTGC commented on #2215
@OldFlak In the next EXP build, the following:

When not using smart placement, light bulbs now hang down and are positioned higher so can instantly see their 3D position when initially placed:

![image](https://user-images.githubusercontent.com/35840583/165092310-d582d868-f0ad-4123-bd95-53e8ee1fc871.png)

I cannot reproduce the SHIFT+Click report. I selected a table, held down SHIFT and clicked f

[2022-04-25 12:54] OldFlak commented on #2215
More feedback @LeeBamberTGC
Cannot edit properties of locked object
- we used to be able to edit the settings for locked objects
- for example lights
you may want to edit its brightness or color
or an entity may want to edit the emissive strength etc
being able to edit those properties when locked was a useful feature

[2022-04-25 12:57] #2689 closed

[2022-04-25 12:58] Indidev234 commented on #2877
Sorry, I really checked everything that is possible, I don’t even have Anti-Virus here and the built-in 64-bit one (there is no 32-bit version on my Windows disk) is disabled. I have Direct X 11, everything works correctly and the version is also acceptable. Can you offer something less formulaic and understandable for every user, especially for those who go into game dev, as a solution to the pro

[2022-04-25 13:01] LeeBamberTGC commented on #2327
@ArgentArts The current grid system added a correction to always grid snap to the center of the grid tile, not the corner. I have changed to align to the top left of the grid tile to see if this has any adverse effects on other users, in the next EXP build. Hopefully the change is not noticed and helps align with the way most artists expect the grid to work.

[2022-04-25 13:05] LeeBamberTGC commented on #2215
@OldFlak Am able to lock a light as static, then open the Palette component and change the color no problems:

![image](https://user-images.githubusercontent.com/35840583/165094883-21ce83ae-9dad-4c6c-b003-bc2c591db7ae.png)

[2022-04-25 13:18] PaulSJ commented on #2943
@Tum1370 Can you send me the level that experiences a problem, or give me some steps to reproduce this?

[2022-04-25 13:24] PaulSJ commented on #2933
The tree quality will change, which may cause some trees to become billboards sooner, but the trees shouldn't move.

Unfortunately I can't replicate this with the current version, can you give me some steps to reproduce it? If it is an old level then it may suffer from a change in the save file format that we made a while back, so new levels wouldn't have this problem.

[2022-04-25 13:51] Tum1370 commented on #2944
@plemsoft
I have just tried this again, and increasing the duration to 300000 allowed it to stay there till i clicked the image.
But the image zone does NOT disappear after the image has been shown and the key has been pressed to clear the image.

This is definitely buggy.

[2022-04-25 14:10] PaulSJ commented on #2949
@Pcskiller I'm not able to replicate this in the current version, does it only happen on a particular level or in new levels as well? Are there any steps I need to take beforehand to encounter this problem?

The density slider doesn't have an immediate effect, it will take effect when you next paint some grass.

[2022-04-25 14:15] LeeBamberTGC commented on #2927
@rvanner Seems the Household objects where not converted as good as some other objects, and have a weird inverted polygon cull/normal/scale data that renders okay, but confuses the ray caster. I have updated the FPEs to compensate and objects are now placed correctly. Let me know if other Booster Pack objects exhibit the same issue,  In next EXP build.

[2022-04-25 14:30] LeeBamberTGC commented on #2911
@rvanner This was the original control, only finding floor when camera looking down to see the floor surface. Have changed it so it will also try to find a floor surface if camera is also looking straight ahead into the horizon, but will NOT find a surface if the camera is looking more upward as the user is NOT looking at the floor area at all.  In the next EXP build.

[2022-04-25 14:45] LeeBamberTGC commented on #2244
@OldFlak Fixed issue of inaccuracy when placing in an EMPTY scene keeps to Y position zero now for accurate placement of objects. Also fixed the scale issue not reporting 100 for XYZ, which will be in the next EXP build on Steam.

[2022-04-25 14:48] Tum1370 commented on #2957
@LeeBamberTGC
Nice one thanks, Ill keep testing several objects to see if i can find any more for you.
Will this next release build be fairly soon then ?

Without the smart placement on a level ive been playing with making it really slow to get things placed perfectly on tables lol, So annoying.

[2022-04-25 14:50] LeeBamberTGC commented on #2957
@Tum1370 I am planning to upload a new EXP build before 5PM with all the teams fixes up to that time :)

[2022-04-25 15:32] ZakJudges commented on #2779
Hi @davetgc I've added a fix for Classic .X files importing without textures. It should be in tomorrow's experimental build :)

[2022-04-25 15:35] 3coms commented on #2631
This might help a lot, though.

https://en.wikipedia.org/wiki/Memoization

[2022-04-25 15:40] plemsoft commented on #2877
@Indidev234 Could you post your "dxdiag" here as described above, thanks :)

[2022-04-25 15:41] davetgc commented on #2779
Thanks!

On Mon, Apr 25, 2022 at 5:32 PM ZakJudges ***@***.***> wrote:

[2022-04-25 15:44] DarthPickles666 opened #2970 "GameGuru Max Issue - MASSIVE FPS Drop When Using "SetPlayerFOV""
Hi there, so I've noticed a massive issue when using a script for a Helmet HUD on one of my outdoor levels. Without this script running, I get 80FPS (which is a separate issue altogether), then when I load up the level with the script running from the start, it drops down to 20FPS!!! This is a HUGE issue, especially since my game is Sci Fi and I would prefer it if I had the Helmet HUD.

I've attac

[2022-04-25 15:44] ZakJudges opened #2971 "Option to turn importer plane off"
"Can we have option to turn the plane off as well as dome when importing
some models have parts below 0, and always have to go under plane to view when applying textures
not a biggie but would be nice to have"

[2022-04-25 15:49] ZakJudges commented on #2421
Thank you both, I will close this issue now :)

This is a known issue and should hopefully be fixed soon ( #2830 )

I have added a new issue for this  (#2971 ) so we can take a look after bug fixing :)

[2022-04-25 15:49] #2421 closed

[2022-04-25 15:51] DarthPickles666 commented on #2970
Just to add, it ONLY does this massive FPS drop when the script for the HUD is running. Without it, it runs fine at 80FPS.

[2022-04-25 16:06] harkinhails commented on #2697
I see the new update is out. The only difference for me testing-wise, is that I am now on a 1440p (2560 x 1440) monitor, the new rising star of Steam after 1080p.

Time to test.

[2022-04-25 16:07] LeeBamberTGC commented on #2825
@ArgentArts I created a ramp to jump off, set hurt fall to 22, set health to 100, added bread, jumped off cliff, hut myself to 22, collected bread, went up +25. Seems fine. Was your max health 27 as it will not go above that:

![image](https://user-images.githubusercontent.com/35840583/165128615-ba225d0c-4760-44cd-a6ac-2c23f7df7e39.png)

I did a recent LUA parameter fix which may have solved this,

[2022-04-25 16:23] ArgentArts commented on #2825
@LeeBamberTGC The fault was mine. I just set the player health low and ran the level. I didn't consider that this was setting the MAX health of the player. Duh! May I suggest that that slider be renamed to "Max. Health"? ;)

It's working well as of my last check. Sorry for any confusion.

[2022-04-25 16:29] LeeBamberTGC commented on #2935
@Tum1370 Added code in to prevent characters losing their correct rotation angle.  Tried with many groups, all seems fine now and I was able to reproduce this one, so thanks for the shots!  Fix will be in next EXP build.

[2022-04-25 16:30] ArgentArts commented on #2327
@LeeBamberTGC MAX just updated for me, but grid snapping is behaving the same. I take it this is not yet in the experimental build?

[2022-04-25 16:43] LeeBamberTGC commented on #2327
@ArgentArts Nope :)  Just knocking a few more off the list while I am in the zone.

[2022-04-25 16:46] LeeBamberTGC commented on #2162
@rvanner Now added warning when dragging into the current object/group window, and does NOT delete the parent group any more.  In next EXP build.

[2022-04-25 16:57] LeeBamberTGC commented on #2236
@ZakJudges As this needs remodelling of the weapon (which we do not have access to right now), I have removed the laser sight to at least resolve this bug in another way. Once the new weapon system is live, we can correct and improve laser guides for all weapons, and give the user the option to switch them on and off.

[2022-04-25 16:58] LeeBamberTGC commented on #2236
@ZakJudges Will be in this evenings EXP build.

[2022-04-25 17:02] ArgentArts commented on #2947
Is now working as of the latest experimental build. Thanks!