[2022-01-25 08:24] plemsoft commented on #1828
@casigus I cannot see from the picture what is wrong , could you e-mail me your level (.fpm) and let me know what zone is not working and what its supposed to do , i will then have a look if im able to see anything. e-mail: plemsoft@plemsoft.com
Thanks for your help :)

[2022-01-25 09:16] UltraVox001 opened #1832 "GG Max Bug Report - First time installing Max with Desktop installer = big problem"
I realized this problem too late.

When I reinstalled Max yesterday, I therefore retrieved the Updater and placed it on my Desktop. I didn't pay attention, but by default it installs Max on the Windows Desktop. It did not install it to C:\Program Files (x86)\GameGuru Max
![MaxInstall](https://user-images.githubusercontent.com/96718175/150947042-a31be52a-0212-4397-866e-0499720d2112.png)
It suggeste

[2022-01-25 09:28] LeeBamberTGC commented on #1825
Please email the aforementioned MAZE.FPM to lee@thegamecreators.com in early Feb, thanks!

[2022-01-25 09:36] LeeBamberTGC commented on #1772
@42Pix3ls Great level, I hope you are entering it into our competiion this month, I would very much like to see this in our EA version in March :)  As to your issue I could not reproduce, no zombies seemed to be in the level. I loaded your level, added a zombie, linked it to your trigger zone and ran, and it worked fine:

![image](https://user-images.githubusercontent.com/35840583/150950900-9c78a4

[2022-01-25 10:29] 42Pix3ls commented on #1772
Hi Lee, thanks for taking a look at it. I have completely removed every trigger zone and zombie in the level. Starting from scratch the issue hasn’t come back but before that no zombie that I added would work. I don’t know if it was the order things had been done or what but it is working now so I thank you my good sir!

yes I will be submitting this level :)

[2022-01-25 11:20] synchromesh62 commented on #1800
Finally managed it thanks to Graphix's idea
Same script as the previous video ( AmenMoses Script ) I just moved the door left in a model program off its origin :)
https://youtu.be/XFu9fT-hGt4

[2022-01-25 11:25] UltraVox001 commented on #1800
A wonderful progress! I congratulate you for this work. It's absolutely awesome.
Do you think you can provide options for this Behavior, as proposed above ?
(degrees, axes of rotation, left, right, vertical or horizontal, etc.)

In other words, are there any limitations, and if so, which ones ?

[2022-01-25 12:03] 3coms opened #1833 "Payer walking weird, like jumping - GGMax 2022_01_21"
The Player walks such as walking over uneven terrain, At slow speed depending on the map area, sometimes even he doesn't want to move; and has nothing to do with RAM waste, just 5 GBs; at least not directly though. I have the feeling it has something to do with the terrain materials (painting tool color palette).
I have player speed = 340 in the player settings.

https://www.youtube.com/watch?v=Pe

[2022-01-25 12:15] UltraVox001 commented on #1833
I confirm this bug. I've had it multiple times. It also occurs when wandering away from the spawn, on the terrain generated by Max. Even if it was not retouched there. Sometimes the Player spawns and moves, alone, as if being pushed by a collision force. But I had never seen this bug last so long.

[2022-01-25 13:49] fearlesswee commented on #1719
In the latest build it seems the grass was updated to make it uniformly lit regardless if the sun is infront of or behind the camera. This looks MUCH better, but there's still plenty of room for improvement. Where the plane of grass stops and terrain begins is still too obvious, especially with a low density of grass (currently the density slider seems broken, but if you increase grass render dist

[2022-01-25 16:26] wizardofid29 opened #1834 "Max Character Feature Request"
Requesting a feature that after a character death animation, there be a set time limit after which automatically deletes/hides the character, that can be deactivated or activated with a flag.

[2022-01-25 17:38] ArgentArts commented on #1830
Ahhhh ... the lighting bug ... still there ... still there ... sigh ... ;)

[2022-01-25 19:38] rvanner opened #1835 "Make a mountain level with grass but test game has the filter turned off"
I made a mountain level and turned on grass. Looked okay in the Level Editor but when I ran test game it was turned off. Should be on if that is how I designed it from the Terrain Gen.

![image](https://user-images.githubusercontent.com/1503593/151047226-701fb851-e237-4f3b-9415-f050f1a6a932.png)

[2022-01-25 19:41] rvanner opened #1836 "Enemy AI"
You can walk and run up to the back of an Enemy and barge into them but they don't react.

Max should let you;

- Walk slowly up to an enemy and melee them from behind (sneak attack)
- If you run at them they should hear you from say 5 meters away and turn to take you on

[2022-01-25 19:42] rvanner opened #1837 "Enemies should not be able to climb up steep inclines"
AI characters can get up very steep inclines. They should be restricted from doing so.
![image](https://user-images.githubusercontent.com/1503593/151047892-4402a6c7-7f2c-4124-a285-0ca033eb5b79.png)

[2022-01-25 19:45] rvanner opened #1838 "Standalone game - bullet holes showed up as white polys"
I made a small map with a Zombie and saved it as standalone. When I shot the Zombie (who was static due to running the wrong script), white planes appeared on him. I think these were bullet holes (which should not appear on characters). I suspect the bullet hole texture was missing from the standalone.

![image](https://user-images.githubusercontent.com/1503593/151048055-cd9cf6ad-e808-4546-9aed-10

[2022-01-25 19:49] rvanner opened #1839 "Player Weapon should always be rendered"
Here's an example where the player weapon pokes into a dead enemy. It should be forced to always be drawn last.

![image](https://user-images.githubusercontent.com/1503593/151048760-533a82d8-cc54-48bd-be2b-6a238a98da78.png)

[2022-01-25 20:19] UltraVox001 commented on #1839
It's the same on the walls and the trees...

[2022-01-25 21:14] ArgentArts commented on #1839
Isn't that a **collision** issue? The gun is penetrating the enemy or wall or tree and so that part is not being drawn.

[2022-01-25 22:52] 3coms opened #1840 "health.lua file needs the header to work - GameGuruMax"
Hi
it needs the header, such as " **-- DESCRIPTION:  Player Collects Health**" as for example. :)

[2022-01-25 22:57] Necrym59 opened #1841 "GGMAX - Product Improvement Request"
The current control of files/folders for a project is i presume leftover from previous Gameguru iterations.
If possible for a cleaner control of game projects so the scripts, objects, etc are contained within the projects area can we get the game folders generated/created underneath the game projects name when a project is created. (example image)
![alternate](https://user-images.githubusercontent

[2022-01-26 00:08] Necrym59 commented on #1841
Also the Terrain and Object Buttons dont really belong way over the left hand side of the app they should reside closer to the other right hand side icons.
![Option](https://user-images.githubusercontent.com/95015657/151080484-584366a6-df6d-4785-92a9-7809b374b518.jpg)
Also as they only activate the edit tabs for Terrain or objects they could almost be done away with if terrain or object edit tabs

[2022-01-26 00:28] Granada1 commented on #1841
Agreed 👍

https://github.com/TheGameCreators/GameGuruRepo/issues/1794

[2022-01-26 03:56] ivanski1983 opened #1842 "Standalone not plying my map"
During save as standalone the progress goes from 6% to complete. Seems odd but ok… I run the standalone and just end up on the side of a random mountain  with none of my map or assets visible. Any advice or tips would be appreciate. Thanks

[2022-01-26 04:08] ivanski1983 commented on #1842
Also I have created a generic test map and that works correctly. When I check the mapbank folder of the standalone that is not working correctly … my map did not export. I have duplicated the results 3 times

[2022-01-26 04:32] UltraVox001 commented on #1842
Are you sure your map is linked to the project in the Storyboard ?

[2022-01-26 04:53] UltraVox001 commented on #1839
Yes, it's possible. I've already tried to fix this by adding all sorts of collisions to the weapon, but considering Max's current collision issues, it didn't change anything.

@rvanner : can you update us on this, please ?
Will Max's Item Library collision issues be fixed soon ? It's a **game breaker**.

I invite you to watch my short video :
[https://www.youtube.com/watch?v=Tx_c1sJna7Q](https://w

[2022-01-26 07:30] rvanner commented on #1839
Weapons should be rendered differently. You just draw them last so that they never poke into anything. Lee will sort it in Feb.
For the other asset collision issues, please post as a separate issue and we'll deal with them in Feb.

[2022-01-26 07:32] rvanner commented on #1842
@ivanski1983 Did your level have a start marker added to it? If it did, please attach the fpm map file so we can try it here.

[2022-01-26 07:35] rvanner commented on #1841
At this stage we would not want to be changing the folder structure. It could delay our launch plans and cause all manner of issues.

The UI will not be changing from its current layout for Early Access. We will consider this for a future update though.

[2022-01-26 07:39] UltraVox001 commented on #1839
@rvanner
It's already done : [1796](https://github.com/TheGameCreators/GameGuruRepo/issues/1796)
I inform you that this problem prevents to build demo maps for TGC.
This is a very serious problem that should be fixed as a Top Priority.

[2022-01-26 07:42] rvanner commented on #1839
@LeeBamberTGC Can you take a quick look at this collision issue today?

[2022-01-26 07:48] rvanner opened #1843 "AI needs to be optimised"
If you have many enemies and allies in the same area it can seriously affect the frame rate.
The AI should be optimized to ensure fast frame rates are kept reliable.

You can see in this video how the frame rate is around 45fps and only when the enemies are blown up does it jump back to 60
https://youtu.be/Z8rqB-6mABo

[2022-01-26 07:53] rvanner commented on #1815
The recent memory leak was fixed. Is this still a problem for you?

[2022-01-26 07:55] rvanner commented on #1814
Fish AI was recently added. Is this still an issue?

[2022-01-26 07:56] UltraVox001 commented on #1814
@rvanner
There is no AI script for fish in the public version of Max EA.

[2022-01-26 07:56] rvanner commented on #1812
The character creator was not creating characters with the correct behaviour. Let me know if this is still happening.

[2022-01-26 07:58] rvanner commented on #1810
@plemsoft Is there any advice that you can add to this thread with regards to importing classic maps?

[2022-01-26 08:15] rvanner commented on #1808
@ZakJudges Can you give @smmaas advice on this please?

[2022-01-26 08:17] rvanner commented on #1805
@42Pix3ls Is this fixed now? Can this be closed?

[2022-01-26 08:18] rvanner commented on #1814
@UltraVox001 OK, you should see it working next week!

[2022-01-26 08:41] LeeBamberTGC commented on #1839
@rvanner Looks like a bug when the collision type is changed in the level editor from its default. Please do report any objects that have incorrect collision types by default, before they are manually changed. Thank you.

[2022-01-26 08:45] LeeBamberTGC commented on #1827
@42Pix3ls Yes this report was commented on in the other issue. Best to report only one issue per post. Some users cram several issues into one issue naughtily, and in this case we seem to have a duplicate and it's probably a good idea Lee does not have to type his identical replies multiple times :)

[2022-01-26 08:45] #1827 closed

[2022-01-26 08:46] LeeBamberTGC commented on #1818
@casigus The crashes are not your fault. Please do submit what you have prior to the deadline as there will be some small-time for refinements for those that show promise.

[2022-01-26 08:47] LeeBamberTGC commented on #1814
@rvanner It is only in our internal build, and will be shown on Wednesday and released to pre-order users on Friday.

[2022-01-26 09:23] Granada1 commented on #1841
`The UI will not be changing from its current layout for Early Access. We will consider this for a future update though. `

good news 👍

[2022-01-26 09:33] UltraVox001 commented on #1839
@LeeBamberTGC and @rvanner
The problem is maybe elsewhere.

On an empty map, you won't find any collision problems. But as soon as there are other objects on the map, the problem occurs. Worse still : the problem is "transferred" to other objects that were not affected by this collision problem.

Test 1 with object : Rusty Small Industrial Shelves
It appears with Polygonal collisions by default, b

[2022-01-26 09:41] ivanski1983 commented on #1842
It is linked in the storyboard and a player start maker is down. Also noticed that my player did not start with his weapon. I will attach the map file later today.

[2022-01-26 09:41] ZakJudges commented on #1808
Hi @smmaas, as far as I'm aware, the files that you are looking for will be in:
- projectbank
- mapbank
- any in a "user" folder (best to search for these from within the "Files" folder)

[2022-01-26 09:43] ArgentArts commented on #1839
Out of curiosity, try this for a test using "Test 1" - raise the Rusty Small Industrial Shelves up off the ground so it's not touching the ground or anything and set "IsImmobile" and your collision setting of choice, then run the game. Can you still walk through it?

What I want to see here is, if the entity is off the ground and collision is being kept, then perhaps this is a clue that the auto-n

[2022-01-26 09:59] UltraVox001 commented on #1839
In Test 1, with the same object, located higher and the "IsImmobile" box is checked.
It appears with Hull Decomp collisions by default, and I can walk through it.
[Hull Decomp](https://i.gyazo.com/ca3a480dfca2923af3f853b726ec5d1b.jpg)

After the TestLevel, if I click again on the object, it is in No Collision :
[No Collision](https://i.gyazo.com/a6957db40ac3beed89238bbadcf5a122.jpg)

So, I change

[2022-01-26 10:03] ArgentArts commented on #1839
Interesting. Thanks for trying that. At least we can guess that it's not the intersecting of the entity with the nav mesh that's causing this. Hopefully Lee will sort this out soon. I'd be interested to find out what is causing the issue.

[2022-01-26 10:11] UltraVox001 commented on #1839
Except that the object is first placed on the ground, and then I raise it. I will try again by dropping the object in the air (without touching the ground). Well, if Max allows me. :)

[2022-01-26 10:16] UltraVox001 commented on #1839
This is the same phenomenon as the previous one.
First in Hull Decomp and I walk through.
Then I click on it and it shows No Collision...

[2022-01-26 10:17] ArgentArts commented on #1839
Well, I was trying to think of something to try. ;)

[2022-01-26 10:21] UltraVox001 commented on #1839
We are here for that ! :)
It's mysterious. There is a conflict somewhere...
And it ends like this : [Video](https://i.gyazo.com/a6f0f11966f5fe8b509d41d649546730.mp4)
It refuses to change the collisions and we are stuck with an unusable map :(

[2022-01-26 10:27] wizardofid29 opened #1844 "Max player animation speed bug/issue"
There might be a engine timer and player animation issue when FPS drops down to 40- 30, player animation seems to be directly tied to FPS, when the FPS drops so does the player animation speed, that includes running speed as well, which results in mirco stuttering.

[2022-01-26 10:27] ArgentArts commented on #1839
There are several things that are currently making MAX unusable - this collision issue, the lighting issue (where lighting suddenly gets brighter/dimmer depending on distance, etc.), strange snapping issues when using the editor, etc.

[2022-01-26 10:30] UltraVox001 commented on #1839
For the lighting problem, it's the same principle as the tests I just did with collisions : no problem with lights on an empty map. Even at long distances, everything is very well lit. As soon as there are objects here and there, the problem arises. You move 5 or 10 meters away from a Light, and it disappears.

[2022-01-26 10:32] ArgentArts commented on #1839
I've had other issues, though. Sometimes the lighting changes where it get brighter the further out a camera goes or an object that was casting a shadow (by blocking the light) stops casting a shadow, etc.

[2022-01-26 10:34] UltraVox001 commented on #1839
I removed Auto Exposure from Post Processing to try to minimize this issue.

[2022-01-26 10:42] UltraVox001 commented on #1810
Yes. If GameGuru Classic is only accessible from Steam, you might as well create a new dedicated button. It would directly open the GG Classic maps directory, rather than the Max maps directory.

[2022-01-26 10:56] ArgentArts commented on #1839
I don't use auto exposure. ;)

[2022-01-26 11:07] casigus commented on #1815
Yah the memory leak is stilll a thing saddly.

[2022-01-26 11:08] casigus commented on #1818
thanks lee. too many sleepness nights here trying to get this done.

[2022-01-26 11:08] casigus commented on #1818
*sleepless

[2022-01-26 11:28] UltraVox001 opened #1845 "GG Max - Improve the SSR Post-Processing"
Activating SSR (Post-Processing) makes me go from 60 FPS to 35.
It would be desirable to improve this function.
Whitout SSR :
![WithoutSSR](https://user-images.githubusercontent.com/96718175/151155408-e778b485-4c92-4843-864a-4f40793be359.jpg)
With SSR :
![WithSSR](https://user-images.githubusercontent.com/96718175/151155434-e1ea1098-ed5f-43df-b17f-34a9f5758ded.jpg)
I hope it can help.

[2022-01-26 12:49] UltraVox001 commented on #1842
Ok. For me the compilation exists. Everything is perfect in the exe, except the complete absence of sounds on the ground textures. However, the matsounds.txt file is present in the "terraintextures" directory.

[2022-01-26 13:34] UltraVox001 commented on #1839
@rvanner  and @LeeBamberTGC
Given the existence of this major bug with collisions, as well as other bugs (Crash, Light...) that prevent some developers from offering you demo maps, I suggest you reconsider the deadline for sending you decent demo maps. Unless Lee knows how to fix this bug very quickly. But the date of January 31 is much too close (5 days) to send you a functional map. Most of the

[2022-01-26 13:41] LeeBamberTGC commented on #1839
@UltraVox001 It is certainly a bug, and will be fixed soon. Do not worry about demo maps that allow the player to walk THROUGH things, that will be instantly fixed when the collision bug is fixed. We will judge demo levels on the assumption all collision issues are fixed. We certainly will not penalise based on a bug we created :)

[2022-01-26 13:42] LeeBamberTGC commented on #1815
@casigus You may not have the fix, it is only in the internal build, it will be in this Friday's build for the public release :)

[2022-01-26 13:51] casigus commented on #1815
woooooo. superb.

[2022-01-26 13:55] ArgentArts commented on #1839
Yes, but it is difficult for the end-user to test their own levels when they can walk through their own walls and entities. It is difficult to test the PLAYABILITY of their own levels when their collision is not working. It's not just about you judging their levels, it's also about them being able to TEST their own levels.

[2022-01-26 14:00] ArgentArts commented on #1839
I had a level I was working on that had the opposite problem that others here were experiencing. Instead of collision being turned off, the entity was losing it's polygonal collision and getting box collision instead. This was an intricate door frame and, as a result, I could not walk through the door when it opened as the box collision of the frame was preventing me from passing. This was working

[2022-01-26 14:06] UltraVox001 commented on #1839
In reality the problem is the same. I gave examples of missing collisions, but I have many other examples of Polygons objects turned into Box collisions. The only levels that can work "properly" are those outdoors, without any buildings or 3D objects of any kind. Like zombies in a forest. But even there, we have problems with Zones and Scripts...

In other words : we can't test anything.

[2022-01-26 14:09] LeeBamberTGC commented on #1839
Email me at lee@thegamecreators.com and I will add you the internal testers list, and let anyone else know who you see are having the same issues they can do likewise. Essentially the requirement is that you test and report prior to the public release, but I can always remove any user who wishes after the competition ends.  We can then get the collision fix to you today (if I can easily reproduce

[2022-01-26 14:09] LeeBamberTGC commented on #1839
P.S. I will need your TGC forum name you used to get MAX!

[2022-01-26 14:13] UltraVox001 commented on #1839
My nickname on the forum is UltraVox.
I send you an email.

[2022-01-26 15:48] UltraVox001 opened #1846 "GG Max Bug Report - The "Customize" section of the PlayerStart may disappear"
Depending on the map I'm loading, the "Customize" section of the PlayerStart may not appear when clicking on the Player.

With Customize :
![WithC](https://user-images.githubusercontent.com/96718175/151196958-26875aea-f3b2-41e8-b96a-6ffb4db7f8e4.png)
Without Customize :
![WithoutC](https://user-images.githubusercontent.com/96718175/151196984-04118518-9ba0-4afc-ae38-ee20985c05fb.jpg)
I have not yet

[2022-01-26 17:26] UltraVox001 commented on #1846
Investigation completed : bug "found" !

As in a previous map, in the past Max had allowed himself (without my knowledge) to copy/paste all the 3D elements of the map, under the map (under the terrain). The PlayerStart had been "associated" (like a Group) with several 3D objects that were under the map. This has happened several times, and this "copy/paste" bug can cause serious slowdowns.

The on

[2022-01-26 17:43] UltraVox001 commented on #1839
@LeeBamberTGC and @rvanner
I think I found the origin of this momentary bug : Sometimes, Max allows himself to copy/paste all the 3D elements of the map, under the map (under the ground). There are therefore several instances of the same 3D objects, and when Max is asked to modify the collisions of one of them, he cannot understand this request.

I found the origin of the bug while trying to solve

[2022-01-26 19:44] #1846 closed

[2022-01-26 19:47] UltraVox001 opened #1847 "GG Max (internal) Bug Report - The vegetation has completely disappeared (UI + Map)"
Screenshot :
![NoVegetation](https://user-images.githubusercontent.com/96718175/151235767-52e5901f-2095-4ae1-9ba2-8f91f1f2abed.jpg)

[2022-01-26 20:08] UltraVox001 opened #1848 "GG Max (internal) Bug Report - Strange spheres appear in empty maps"
Strange spheres appear in empty maps, in Edit mode and TestLevel.
They are not selectable.
2 screenshot :
![spheres1](https://user-images.githubusercontent.com/96718175/151238828-25a92dca-dd4c-4a8b-89b2-f2e25dcae8b1.jpg)
![spheres2](https://user-images.githubusercontent.com/96718175/151238842-9b949243-3359-4946-9a2f-3bea71d478ef.jpg)
And a brain on the ground :
![Mind](https://user-images.githubus

[2022-01-26 22:01] 3coms opened #1849 "Import animation framecount does not match with the mesh animation frames"
The mesh (animated door) has 2 animations:
anim0 = 0,100 -- open
anim1 = 101,200 -- close

Import the mesh from GGMax as X file, in the animation tool I found the main animation slot refers to just 0,6 animation frames as total frame count, rather than the 200 frames that the mesh animation has. the next animations slot says the same.
I had created 2 new slots named open and close respectively, as

[2022-01-26 23:10] synchromesh62 opened #1850 "Zombie issue still exists"
Constantly still getting emails and posts about this issue which i thought had been fixed or its back.
Any chance it can be checked in the latest GameGuru Classic Build :)

In / scriptbank / ai /module_combatmelee.lua
Line 64 is:
module_core.debug(e,AIObjNo,PlayerDist,combattype)
Should be
-- module_core.debug(e,AIObjNo,PlayerDist,combattype)

![Z1](https://user-images.githubusercontent.com/357082

[2022-01-26 23:49] 3coms commented on #1849
What's about when you create your custom mesh or test the third party one at the old way (X, BMP, textures, fpe, etc), to be able to create the animation names via fpe file, something such as:

;anim
animspeed  = 8.00
animmax   = 2
anim0  = 0,100 ;open
anim1 = 101,200 ;close
playanimineditor = 0

I know you can name your anims in the 3d software, anyway, no always you can do so. :)
That way you al

[2022-01-27 01:51] Necrym59 commented on #1841
No problems i understand the intricasies of the product deadline no point introducing new dramas. It is ok for now, especially for single projects but it would be worth looking at in the future to look at the project system structure as its flawed layout will lead and is already leading to problems when developing multiple projects. As for the UI thats ok it was just a future idea.

[2022-01-27 02:24] ivanski1983 commented on #1842
@rvanner
[the pike.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7947020/the.pike.zip)

[2022-01-27 02:46] OldFlak commented on #1845
Yes SSR has been broken since beginning.
At first it made a real nice improvement to indoor scenes but had too much noise, and it got completely trashed with the repo - Lee has other ideas on this but has not got to it yet.

Be nice to see it fixed or replaced with something better - SSAO for example :)

[2022-01-27 03:01] OldFlak commented on #1835
Yes, idk - I thought that as well - at first.
But having the checkbox makes sense as does having to enable/disable it. Same as we do with the boundary markers.

It is a great idea for testing levels - there are times when I don't want grass enabled in test game.

So how would the editor know if I don't want it to show in test game - it would just introduce more needless clicks to the UI?

[2022-01-27 03:18] OldFlak commented on #1808
MAX will remove any files in core directory - so make sure you are not saving anything there.

There is a **BUG** where the **updater makes a backup of the writable folders** and **creates new blank ones**.
The whole idea of writable folders is for your custom media to be safe, not have to copy it all over after every update.

MAX - just leave the writable folders alone already :)

[2022-01-27 03:36] OldFlak commented on #1787
Yes agree with wizard - we not looking for workarounds here (they be for Discord\Forms) git is for bug bashing :)

The textures as mentioned are too shiny and unless wet like mud as also mentioned by wizard should not have any shine at all.

This is either a bug where shine is being added to textures where it shouldn't be, or the textures themselves have not been created correctly. More likely the

[2022-01-27 03:46] OldFlak commented on #1781
Yes water goes up in meters which is kind won't make flooding possible via LUA if and when we get access to it
Can we have water height adjustable in much smaller increments please?

:)

[2022-01-27 04:10] OldFlak opened #1851 "MAX - Editor Issues - Numeric Inputs"
The editor has a ton of issues with how it retrieves settings for numeric inputs and when trying to adjust the values.
You see this in multiple areas from a models scale settings to water.

It seems to affect every numeric input value if you try editing it enough times.

Here be a collection of some of the more recent ones I have recorded.
Camera
https://www.youtube.com/watch?v=Y7823-JM-F0
Lights

[2022-01-27 04:18] OldFlak opened #1852 "MAX - Skybox Renders Over Terrain"
These issues still happen in current build
Seems to be related to fog, because the more fog you have in the scene the more the skybox overlays everything

**As posted on Discord:**

**BUG 2021.01.14 - Skybox Render Issues**
Skybox is reflected across terrain as if it is water
![image](https://user-images.githubusercontent.com/12246318/151291004-818e31d2-b550-4e48-86f3-f91d59c63d7f.png)
It also ove

[2022-01-27 04:36] OldFlak opened #1853 "MAX - Bad Asset Optimization"
Resources are KEY in game engines of course
- By nature they should be taken into consideration from the ground up, and utilized at every possible step of the game creation process
- Included assets should be a **MODEL to follow** - a **statement of how it is done correctly**

When you look through the Jungle Pack it is obvious this basic rule has not been employed
- it is a classic example of how

[2022-01-27 04:39] UltraVox001 opened #1854 "GG Max (internal) Bug Report - Slow camera movement in Vegetation mode"
Being in Paint vegetation mode (as on the screenshot) considerably slowed down the movements of the camera with the right mouse click. And this movement is jerky. This could be because the vegetation has disappeared in the current internal version : [1847](https://github.com/TheGameCreators/GameGuruRepo/issues/1847)

Changing modes (Trees, Paint, Terrain) recovers movement speed.
![SlowMouvmentCam

[2022-01-27 04:41] OldFlak opened #1855 "MAX - Terrain Generator - Biomes"
Actually not a fan of the biomes in the terrain editor, it makes too much of a drastic change even to heightmaps

I would rather mess with sliders and get the look I want then just select the biome textures I want

The way it works now is your map can only be one type of biome - what happens when I want my forest map to be covered with snow

[2022-01-27 04:42] OldFlak opened #1856 "MAX - Terrain Generator Time-of-Day Annoyance"
When creating terrain, selecting different biomes keeps changing the time of day
- it would be more user friendly if it only changes when the user selects a different time-of-day option
- most of the time you have to select the time-of-day again so you can see the terrain

[2022-01-27 04:43] OldFlak opened #1857 "MAX - BUG 2022.01.21 - Skybox Jiggles"
Skybox jiggles as player walks
Just ran a standalone from previous build and the skybox jiggles in that as well - so quite possibly been there for some time now

https://youtu.be/4UadPWAG_gw (edited)

[2022-01-27 04:44] OldFlak opened #1858 "BUG 2022.01.28 - Importer and FPE"
FPE is created with incorrect settings :
- import model and do not select Double Sided
- the FPE has Cullmode set to 1
- But the model does not use that setting
- So the dbo must be storing the correct value, but the FPE does not reflect that?

Expected Behavior:
- Importer should set correct values in FPE
- Model should always uses FPE for settings

[2022-01-27 04:46] OldFlak opened #1859 "MAX - BUG 2022.01.21 - Pine Tree Texture"
Pine Tree Texture still Not Good
- happens at base of every instance of tree
![image](https://user-images.githubusercontent.com/12246318/151293646-6263ccb4-bc73-4047-9633-7714c4ab2a5e.png)

Also lots of places where parts of leaves are are not joined to branches
- looking at the texture for it they should look good
- UV issue?
![image](https://user-images.githubusercontent.com/12246318/151293672-1

[2022-01-27 04:48] OldFlak opened #1860 "MAX - BUG 2022.01.21 - Light Editor Issues"
Yet another FYI for editor issues
MAX says the light is at angle of 270, but he is not sure if you really wanted that.
![image](https://user-images.githubusercontent.com/12246318/151293762-bbc24e1d-0ec1-498c-be3a-0325a0f08565.png)

So to fix you have to type 270 again
![image](https://user-images.githubusercontent.com/12246318/151293823-aefa339e-b5e4-47cc-ba73-1fb21606ac25.png)

[2022-01-27 04:49] OldFlak opened #1861 "MAX - Suggestion - Update Screen"
Can we perhaps have a check for updates button on the main page?
- although I am sure the mighty Preben has something up his sleeve in this regard

![image](https://user-images.githubusercontent.com/12246318/151293978-2b701fdb-cb9e-4cb7-a047-cbfd0654bbab.png)

[2022-01-27 05:58] UltraVox001 opened #1862 "GG Max Suggested Feature - Texture Transition effect (Edit Mode)"
The difference between the texture transition made by the terrain generator (on the right), and those of the textures applied manually (on the left), is visually far too great. The transition is too abrupt on the left. Since this transition setting exists in GG Max, just integrate it above the texture palette (in the Painting field). It would make the grounds/terrains much more beautiful.

On this

[2022-01-27 07:11] UltraVox001 opened #1863 "GG Max Suggested Feature - Tree Density is not adjustable in real time (Edit Mode)"
Since the "Tree Water Distance" function works in real-time in the editor, the Tree Density setting should work too. One should not have to click on "Randomize All Trees" to apply this setting. Because if the map has construction areas (villages, houses, buildings, cities...), the trees will also be placed on top. In other words : the "Randomize All Trees" function is correct at the start of the m

[2022-01-27 07:46] rvanner commented on #1847
@UltraVox001 Yes this is due to Lee not syncing with Paul's recent changes. Should be fixed later today in a new internal build. Best not to report these here. Please just email Lee directly on internal build issues please.

[2022-01-27 07:46] #1847 closed

[2022-01-27 07:47] rvanner commented on #1848
@UltraVox001 Again this is an internal build issue. Lee knows and a fix is coming.

[2022-01-27 07:47] #1848 closed

[2022-01-27 07:49] UltraVox001 commented on #1847
@rvanner
Oh! Yes I understand.
Sorry, internal system is new to me.

[2022-01-27 07:50] #1854 closed

[2022-01-27 07:52] rvanner commented on #1850
@plemsoft Could this be quickly patched?

[2022-01-27 07:54] rvanner commented on #1808
@ZakJudges Can you comment on this Bug issue please?

_There is a BUG where the updater makes a backup of the writable folders and creates new blank ones.
The whole idea of writable folders is for your custom media to be safe, and not have to copy it all over after every update._

[2022-01-27 08:06] OldFlak opened #1864 "MAX - Suggestion Enhancements - UI Improvements"
Currently we have this concept of Advanced mode to make it easier for new users - that is fine.
But the current method imo is just making the UI more complicated rather than simplifying it.

As an example: anything relating to script functionality surely belongs in the Behavior group
So in stead of grouping components deemed as advanced in another group altogether why not keep them in the proper g

[2022-01-27 08:32] rvanner commented on #1842
@ivanski1983 I was able to add the level to a new project and make a save standalone game and run it fine. It's interesting that it can take a very long time to load so there is something odd happening with it. We will take a deeper look in February when we start bug fixing.

[2022-01-27 08:43] OldFlak opened #1865 "MAX - BUG 2022.01.21 - Sun Rays Do Not Originate From Sun Disc"
Sun rays do not always originate from the sun disc position when using both Simulated  and Skybox

Using Simulated Sky:
All seems fine on first run - change settings and it gets messed up
This pic is set to Morning
![image](https://user-images.githubusercontent.com/12246318/151322634-7ff24f58-486c-4fa4-9285-5b37da1cc7c2.png)

Using Skybox:
Never originates from correct location
This pic is using C

[2022-01-27 08:49] OldFlak opened #1866 "MAX - BUG 2022.01.14 - Duplicating Lights"
Duplicating lights is broken - not useful at all as it is.

The way it works now, you simply can't duplicate a light because it will not stay in the position of the original
- this means you have to create each light individually even if you want several with exact same properties
- also when you click a light it usually thinks it is some kind of morph
- need off switch for smart placement - mostl

[2022-01-27 09:23] ZakJudges commented on #1808
@rvanner @OldFlak For the time being, we need this behaviour so we can simulate day one installations for each build so we are not fixing issues related to leftover files and slowly confusing matters. However, I agree its certainly not ideal, and is for the development phase only :)

[2022-01-27 09:23] rvanner commented on #1839
@UltraVox001 Are you able to make this duplicating bug happen every time or is it just random?

[2022-01-27 09:48] UltraVox001 commented on #1839
@rvanner
I built 16 maps on which this bug occurred. I had to zoom out the map to the limit area delimited in yellow, then I made a selection with the mouse and Shift. I found a multitude of diverse and varied objects, hidden under the map. However, I would never have asked Max to copy/paste a house containing more than 600 3D objects, under the map.

Like on this screenshot. Some objects is selec

[2022-01-27 10:15] UltraVox001 commented on #1839
Maybe a tick option in the general settings would help.

- Ask permission to copy/paste an object

If the box is checked, the user must Confirm that he wants to copy an object. (for each copy/paste)

If unchecked, then copy/paste occurs, as it does now.

[2022-01-27 10:22] UltraVox001 commented on #1839
If it helps Lee, I have a map in which 70% of 3D objects no longer have any collisions.
It's impossible to give them collisions from the Max interface.

[2022-01-27 10:38] smmaas commented on #1855
I would remove biomes completely from the terrain editor en have a biome painter in the editor. Select trees, vegetation, texture and maybe some objects/animals  and start painting. This would be far more flexible and it would be an easy way to have different biomes in one level.

[2022-01-27 10:41] smmaas commented on #1862
Not only the textures but the water is not very realistic.

[2022-01-27 10:51] UltraVox001 commented on #1862
@smmaas
This is a ground texture test map.
Water doesn't matter.

[2022-01-27 11:03] smmaas opened #1867 "Vegetation"
Vegetation looks good in big areas but not in small groups. Classic deos much better. Are grasses small billboards, if yes they are not working. They don't rotate towards the user.

![image](https://user-images.githubusercontent.com/45684694/151345303-40cf0fda-ee52-445c-85c9-eee77c1e212c.png)

![image](https://user-images.githubusercontent.com/45684694/151345281-b2ca26b4-6628-4c03-8aaf-ddeecf3a97a

[2022-01-27 11:09] smmaas opened #1868 "levels "merge""
When having more than one level in one project they start to interfere with each other. I find objects from one level popping up in an other level. Creating a new level trees only appeared at areas where in an other level is water!

![image](https://user-images.githubusercontent.com/45684694/151347121-40ca701f-8b89-4761-b42b-98ba0af9d9f1.png)

![image](https://user-images.githubusercontent.com/456

[2022-01-27 11:23] UltraVox001 commented on #1868
Nice bug!
Did you open both maps, one after one ?

[2022-01-27 11:39] UltraVox001 opened #1869 "GG Max Suggested Feature - Sound Design"
As a specialist in this subject, I will have a multitude of things to offer.
But I will stop at this one. I'm sure TGC will add useful things later.

It would be nice to find the footsteps volume setting in the section shown in this screenshot. Because currently, we hardly hear them. Ambient sound volume is too high (default 100). It hides footsteps and other small sounds of the game. So, we have

[2022-01-27 12:35] tarkus1971 commented on #1869
As a sound designer, synth nut, this would be a great addition, saves a lot of messing with audio editors to get the levels right.

Another idea would be some simple DSP settings for channels to enable reverbs, EQ, etc. That would would MAX a real winner on the sound front, which on a lot of games is sadly lacking.

[2022-01-27 14:14] rvanner opened #1870 "New Weapon Slot issues"
- You cannot set a slot back to No Preference  - FIXED
- Slot zero was set as Melee but no fists showed up - I still think if you choose Melee then the first should appear when you press this key
- Even though the start marker had no weapon chosen at start up I still started the level holding a weapon - FIXED
- I picked up all the weapons but the Machine Gun did not show up.  See this video where

[2022-01-27 14:38] smmaas commented on #1862
Does this look like water? Where it does matter

![image](https://user-images.githubusercontent.com/45684694/151380313-339003f5-9875-4abc-b93f-a35e5585ae2c.png)

[2022-01-27 15:01] marcuswilm opened #1871 "GameGuru MAX alpha 2022-01-21 : Lua Error in file "mammal_generic.lua" (line 209)"
GameGuru MAX alpha 2022-01-21 : Lua Error in file "mammal_generic.lua" (line 209).

The sewer rat's animation is a beautiful one.
However the above mentioned error appears sometimes.

Please see this screencapture :
![GGMAX-Lua-Error-Sewer-Rat](https://user-images.githubusercontent.com/94678034/151384776-b34aaaa2-ded9-46ae-b276-d375ec9c3d83.jpg)

[2022-01-27 15:25] UltraVox001 commented on #1862
@smmaas
If you don't like the water, ask for new water. But don't use a stream dedicated to soil textures to talk about water. The two systems are completely different and use unrelated materials.

[2022-01-27 15:30] UltraVox001 commented on #1839
@LeeBamberTGC
Did you receive my map? (Map16.fpm) I sent it to you by email.
You will find dozens of objects without the slightest collision. Starting with the Fence around the house.

I'm going to reload the little map you mention and in which Rusty Small Industrial Shelves refuses its collisions.

[2022-01-27 15:53] UltraVox001 commented on #1839
@LeeBamberTGC and @rvanner
Be sure that I am not the only one to whom this problem occurs :
![userprob1](https://user-images.githubusercontent.com/96718175/151394307-92c6d690-e11d-42a7-b02a-9dbe782f57e5.png)
![userprob2](https://user-images.githubusercontent.com/96718175/151394316-7489eba2-5f76-4205-be0f-05eb133c2eea.png)
These screens refer to a Thread on the [GG Forum](https://forum.game-guru.co

[2022-01-27 17:59] LeeBamberTGC commented on #1871
@marcuswilm Added one ratm then two, but no crash:

![image](https://user-images.githubusercontent.com/35840583/151416787-aded8409-3e43-4d6c-a53b-7a95b43f91e4.png)

Can you do a step by step with an empty map and let me know if this still happens, thanks!

[2022-01-27 18:23] smmaas commented on #1868
Sorry I was. It are two levels in different projects. Edam3d is a project I've been working on for some time. Test is the project with the problem. I tried it a few times. The problem did disappear after creating a new level 3 times but came back after I had openend edam3d again.  Restarting gmax didn't help.

https://vimeo.com/670832693

[2022-01-27 18:28] smmaas commented on #1862
No it is a stream about games looking like games from the 90s

![image](https://user-images.githubusercontent.com/45684694/151421015-8e65c6b5-ee80-40d4-9a2f-a97dfbdee6f7.png)

[2022-01-27 18:33] UltraVox001 commented on #1862
What do you read in the title of this post ? --> ”Texture Transition effect”
TGC won't process your water request, because you're posting it inside a Ground Textures Post.

Make a separate request for water.

[2022-01-27 19:56] Necrym59 opened #1872 "GGMAX Enhancment"
Attached is a one script-does-all Ladder (generic climbing script) worked on by GubbyBlips and myself to a small degree. Comes complete with behaviour graphics ready to be vetted and slotted into Max by the programming gurus. Its a badly needed enhancement to FPS games. For your consideration.
[ladder.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7953428/ladder.zip)

[2022-01-27 20:01] Necrym59 commented on #1868
I beleive that these project issues will continue to grow as no designated specific project folder is generated or used to isolate a project, i have reported it as an issue for the future to be addressed, multi projects assets are all dumped in together at the moment.

[2022-01-27 20:09] AmenMoses commented on #1871
That function is only called when a critter dies.

Probably should have a test to check for a non null list, i.e. if critter.critterList == nil then return end

[2022-01-27 20:11] Necrym59 commented on #1858
Hmm that could explain stanget hings that have happened when i have duplicated an object in max as to why the collision and other settings have changed as to what was in the FPE I had no idea the DBO is storing that info as well. Good pick up OldFlak.

[2022-01-27 20:11] LeeBamberTGC commented on #1871
@AmenMoses Added and uploaded for internal build:

local function warnOthers( e, critter )
	if critter.critterList == nil then return end
	for _, v in pairs( critter.critterList ) do
		if v ~= e then
			local other = mammals[ v ]
			if other ~= nil and
			   other.species == critter.species then
				other.warn = e
			end
		end
	end
end

[2022-01-27 21:30] marcuswilm commented on #1871
Reply to the request of Lee Bamber :

Thank you for having tried to reproduce that bug.
As far as I can read in the next comments, it is already fixed.

Nevertheless please see this commented this screen capture that could explain the context of the incident.
![lua_error_sewer_rat](https://user-images.githubusercontent.com/94678034/151446185-e0aa1d70-b017-4949-87bb-b333b20b6af3.jpg)

[2022-01-27 22:05] LeeBamberTGC commented on #1871
@marcuswilm I have added some error trapping as advised by AmenMoses, and you are right that currently, allies try to shoot all animals, which I think is a little mean. The final AI will not aggressively target the animals, but leaving it for the moment to have a target-rich environment while we continue working on combat logic.

[2022-01-27 22:26] OldFlak commented on #1808
@ZakJudges that does not make any sense to me at all.
The writable folders are for **custom media** so there should not be any leftover files in the writable area that need to be updated anyway?

[2022-01-27 23:10] smmaas commented on #1868
I agree, the game save folder should be an project setting and not a global setting.

[2022-01-27 23:33] synchromesh62 commented on #1868
**I agree, the game save folder should be an project setting and not a global setting.**

Thats not why GameGuruApps is updated and backed up.
New things are added, reshuffled ( not every time ) but for example if Preben updates the Storyboard Or Lee swaps some files around then this may require a new GameGuruApps to be up to date.

Look how its changed over time. There is no way just renaming the

[2022-01-28 00:19] Necrym59 opened #1873 "GGMAX - Enhancement"
Is it possible to have a animation (text file) export and import buttons on here to save having to manually add all the animations and their start stop points on an imported model, some lists get quite lengthy.
![animation_import](https://user-images.githubusercontent.com/95015657/151464564-5f67e213-a54f-44dd-abe4-972460d088a8.jpg)

Secondly how dows imported animation models fit in with the anima

[2022-01-28 04:09] ivanski1983 commented on #1842
@rvanner
I saw that you changed the title and added "uses the Structure Editor" I did not use the structure editor because that system is broken in GGM at lease for me... the placement of parts do not match the indicator. That was all GGM assets dropped in and mostly snapped or grid placed.

[2022-01-28 07:25] UltraVox001 commented on #1872
The script works fine for me. Nice progress!
Congratulations you two. :)

[2022-01-28 10:35] ZakJudges commented on #1808
@OldFlak As far as I'm aware, whilst the writable folders are indeed for custom user media, they also serve to store all files that are generated automatically by the engine for your games. For example, terrain physics objects. And so, we backup and create a new writable folder to prevent any files relating to areas in active development from causing crashes/bug reports that require a lot of time

[2022-01-28 10:40] UltraVox001 opened #1874 "GG Max Suggested Feature - Remember PlayerStart settings"
Currently, all PlayerStart modifications (Customize, Developer Setting, etc.) are lost when you click on the PlayerStart icon (to the left of Max, in Game Elements) to drop it elsewhere on the map. Max should remember this, but in Customize, Max should allow saving StartPlayer configurations and loading them as needed. When you've set up weapons and other options, you don't like having to redo tha

[2022-01-28 11:20] UltraVox001 commented on #1872
However the script needs to be improved.
Here is my only Ladder :
![Ladder](https://user-images.githubusercontent.com/96718175/151538076-dc1d78a8-1f92-427b-a0bf-0c8042829e2f.jpg)
And here, are 3 other screens with red circles where the proposal to climb the Ladder is requested from the player. Obviously nothing happens if I try to go up (since the only Ladder is away from these places).
![Ladder2]

[2022-01-28 11:25] ZakJudges opened #1875 "Switch can be activated through walls"
Big red button switch can be activated from behind and through walls:
![switch](https://user-images.githubusercontent.com/32545391/151538871-60f18028-1c0c-4f4d-8ffb-68fc571b2953.png)

[2022-01-28 11:31] UltraVox001 commented on #1875
Yes, I have already talked about it [here](https://github.com/TheGameCreators/GameGuruRepo/issues/1770).

[2022-01-28 11:33] #1875 closed

[2022-01-28 12:57] synchromesh62 opened #1876 "AI and Nodes issue."
Initially i though this maybe part of the WIP but been there a while now.

This is a basic setup

![AI1](https://user-images.githubusercontent.com/35708217/151550601-f4b8fb86-1ae7-4cd4-8154-c31e74d933a8.png)

When connected a brain appears on the floor and can be seen ingame and stays if you reload the map

![AI2](https://user-images.githubusercontent.com/35708217/151550758-ec9c23a7-cee4-4df0-9c83

[2022-01-28 13:23] UltraVox001 commented on #1876
This brain spawns on the ground in all empty levels (with or without AI). I reported it to Rick. There are also about ten spheres, not too far from the brain. Above the ground, about 10 meters above sea level.

[2022-01-28 13:36] synchromesh62 commented on #1876
**"There are also about ten spheres, not too far from the brain. Above the ground, about 10 meters above "terrain".**
Thats already been fixed.
The Brain has only ever spawned for me when i connect Nodes

[2022-01-28 13:38] UltraVox001 commented on #1876
Ok I haven't checked since yesterday.
I'll look right away.

[2022-01-28 13:45] UltraVox001 commented on #1876
During the creation of the "terrain".
![1](https://user-images.githubusercontent.com/96718175/151557417-e9a1c649-6986-4929-ab1b-de940dda4b1f.png)

After creation.
![2](https://user-images.githubusercontent.com/96718175/151557429-34163ac8-fd6f-404a-8795-f3d7cb4ec74a.png)

[2022-01-28 13:47] synchromesh62 commented on #1876
Havent seen that one before.
Just rechecked and not seeing it now anyway .. Weird

[2022-01-28 13:49] UltraVox001 commented on #1876
He hides well :)
You have to look for it, a little.

[2022-01-28 17:11] AmenMoses commented on #1871
It takes a while for the critterList to get populated for the first time so if it is killed before that the list will be nil.

[2022-01-28 17:20] LeeBamberTGC commented on #1871
@AmenMoses No worries, script updated for Friday release. Feel free to copy it when its live, I am sure you will have one more tweak before the EA goes live ;)

[2022-01-28 20:02] Necrym59 commented on #1872
Strange, seems ok here but you never can account for every contingancy , anyway i have changed where the message appears this should fix it.
[ladder.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7961563/ladder.zip)
.

[2022-01-28 20:17] relishrompgames opened #1877 "Switching Weapons - Everything pauses"
When you Change/Switch weapon, there is a short pause in the game. This includes any player movement and animated entities. I made an octagon model that rotates 360, they are about 7 in my level... when I switch weapons they pause and then resume.

[2022-01-28 20:56] UltraVox001 opened #1878 "GG Max - Bug Report : The standalone version does not use Flags"
Several standalone tests on a few different maps.
The Characters are aware and react, but the Flags (PathFinding) are completely ignored.

[2022-01-28 21:07] UltraVox001 commented on #1877
I confirm this bug.
Changing weapons freezes the game (in Testlevel mode) for a quarter of a second.

[2022-01-28 21:47] relishrompgames commented on #1877
Here is a video https://youtu.be/lvMaw1rkGQ0  [https://youtu.be/lvMaw1rkGQ0](url)

[2022-01-28 21:50] synchromesh62 opened #1879 "Need a New Simpler pickupsimple behavior"
First thing i noticed today was my Custom Pickuppable scripts no longer function correctly and objects im carrying go right through the walls But fair enough they are my Custom ones. However i also found it seems to have effected the stock version as well.

If you attach the stock **pickupsimple** to an object then run test game it sinks into the floor and does not function correctly
Video supplie

[2022-01-28 22:27] OldFlak commented on #1808
Yes I understand what you are saying, but the updater should be working properly now - there is always going to be updates down the line.

So only replace what is needed not all custom media as well, would be a better option?

jmo :)

[2022-01-28 23:46] PaulFox12 opened #1880 "GGMAX - Terrain specular bug"
Specular maps of terrain really seem to be blown out in latest build (28/01/22), everything looks wet and shiny

![terrain specular](https://user-images.githubusercontent.com/78652980/151636400-7149645f-67b6-44fc-a748-1b96743bd2aa.PNG)

[2022-01-28 23:48] PaulFox12 opened #1881 "GGMAX - Weapons clip through objects"
Weapons seem to be clipping through objects whereas they should always render on top of everything - see image in latest build (28/01/22)

![guns clipping](https://user-images.githubusercontent.com/78652980/151636514-788458f4-aedd-4b96-8298-3922bf879cbd.PNG)

[2022-01-28 23:59] PaulFox12 opened #1882 "GGMAX - Vegetation and trees bug"
Trees are defaulting to cacti in terrain generator no matter which biome is selected, Grass also seems to fade off far to early to terrain (Which now looks very low res due to what I am assuming is texture LOD) . An ability (in developer mode if needed) to change vegetation draw distance seems essential here as 10 meters of grass around a player is woefully little.

![grass blending_LI (2)](https:

[2022-01-29 00:17] perovdm opened #1883 "Missing foliage"
The foliage has changed and some are now missing, specifically the desert grasses and brush. I also cant fix it manually as they do not appear in the palette anymore.
Used to be:
![Capture](https://user-images.githubusercontent.com/74854393/151638146-04a7a571-d5d2-40bd-8a1c-55825df89d8d.PNG)

Now its:
![Capture2](https://user-images.githubusercontent.com/74854393/151638158-f22b409f-0f5c-40d0-ad0d-

[2022-01-29 01:18] casigus opened #1884 "crashhh"
![image](https://user-images.githubusercontent.com/68471279/151641482-ab5fcfc1-39bb-4fa0-912d-7d7463191768.png)

no idea why ggmax struggles with this one level in particular (for the demo submissions) either hangs on the loading for up to 300 minutes then eventualy loads the game level or just crashes. Using mainly ggmax assets, with a few non ggmax assets but it did the same before adding any no

[2022-01-29 03:10] perovdm opened #1885 "GGMAX: Standalone Game has wrong map - build 2022.01.28"
When I save my game as standalone, it loads the incorrect map, in fact I cant remember ever creating this map. I double checked in the storyboard and it is pointing to my map, and loads it fine in the editor, but just not when making it standalone.

Storyboard:
![Capture3](https://user-images.githubusercontent.com/74854393/151645006-d101d858-0e4c-46e6-8e34-6cddb837a3cf.PNG)

This is the incorrect

[2022-01-29 06:13] dennimoto opened #1886 "Can not remove unwanted objects from project."
Can not delete unwanted objects from "Level Objects" pane. A trash icon hovers over objects when clicked, but seems to serve no purpose. The DEL key is also ineffective to removing items from the pane.

[2022-01-29 06:13] UltraVox001 commented on #1884
You shouldn't have to wait 30 minutes to do anything in Max.
Any operation only takes a few seconds, even in a map with 600 3D objects.

In your link, there is no .fpe file (the map).

[2022-01-29 06:25] UltraVox001 commented on #1886
Theoretically, objects that are not in the map disappear from this list after closing and reopening Max.

[2022-01-29 06:30] UltraVox001 commented on #1885
Give it a try by creating a new Project and adding your map to it, then compiling with Max.
Let us know.

[2022-01-29 06:34] dennimoto opened #1887 "Terrain generator cacti auto population"
After selecting the desert biome in the terrain generator, any subsequently selected biome only auto-populates with cacti.

[2022-01-29 06:38] UltraVox001 commented on #1883
Try "Populate Vegetation Everywhere" with the following veg. :
![palette](https://user-images.githubusercontent.com/96718175/151650610-11e1e333-269f-4d8a-afce-1a02da0dc2aa.png)
![screen](https://user-images.githubusercontent.com/96718175/151650615-41bde1a5-33df-4e1e-9cbe-59a23acf2bb4.jpg)

[2022-01-29 06:45] UltraVox001 commented on #1882
I don't see anything wrong with the default trees. They are Pines.
Use the updater to check your files and let us know if it works better.

Vegetation Draw Distance can be increased, but this will also increase the distance between vegetation.
![DrawDistance](https://user-images.githubusercontent.com/96718175/151650780-d645cd07-89ad-43af-bc10-6d5413b2f783.png)
I asked the question in the last Live

[2022-01-29 06:53] UltraVox001 commented on #1887
Ok, I confirm this bug. However, creating the terrain and choosing other trees does work.
This bug is related to another post : [1882](https://github.com/TheGameCreators/GameGuruRepo/issues/1882)

[2022-01-29 06:57] UltraVox001 commented on #1881
This bug is known. It will be corrected in February.

[2022-01-29 07:01] UltraVox001 commented on #1872
The "random" message disappeared. Except the one to leave the ladder, but it appears in the right place.
It's better. :) Thank you very much.

[2022-01-29 07:03] UltraVox001 commented on #1872
What's great about this script is that even a cliff (made with rock elements, separate or not) can be climbed. :)

[2022-01-29 07:04] synchromesh62 commented on #1885
Are you saving your map in the mapbank folder in GameGuruApps
Like GG Classic im going to assume it must be saved there so Max can find it when compiling the standalone otherwise it just puts a default one there instead which is what you might be seeing ?

[2022-01-29 07:10] Necrym59 commented on #1872
Must admin i havent tried it on a cliff, glad you found more uses for it, i just wanted a generic laddder climbing script but it could be adapted and modified a bit for a generic climbing script i should think.

[2022-01-29 07:34] rvanner opened #1888 "Sky box rendering in MAX not as good as Classic"
This has been reported to me by user GraPhiX

Morning Rick,

Here is the test pattern in Classic https://youtu.be/PpncIr3-MdY

And the test pattern in MAX https://youtu.be/B10gRyhYTVA

These test patterns were designed to help me get locations within a skydome and to test post processing and any other FX as you can clearly see the fx used in classic must have anti aliasing of some kind the lines a

[2022-01-29 07:44] rvanner commented on #1880
@PaulSJ What time of day is this set at and are you using the very latest build?

[2022-01-29 07:46] rvanner commented on #1883
@perovdm Next week we will be adding in all the new trees and veg for all biomes. I think some older veg grasses got missed in a recent update. We will make sure we add all of them back in.

[2022-01-29 07:50] rvanner commented on #1882
We'll be fixing this next week when we have more tree types.

[2022-01-29 08:12] UltraVox001 opened #1889 "GG Max Suggested Feature - Prone Posture"
Personally, I'm a big fan of infiltration/exfiltration FPS (and RPG). Currently the ability to go prone is missing in Max. With the FPS camera, it's just a change of camera position. So it's easy to do and it should already be implemented in Max.
![prone](https://user-images.githubusercontent.com/96718175/151653320-cc4c78a4-dbff-407f-b79a-f60e399e955d.jpeg)
This posture helps to hide in the vegeta

[2022-01-29 09:03] UltraVox001 commented on #1872
Let me know of any improvements to the Ladder script, and if you produce a script better suited for escalation. All this opens up game perspectives and the events are less linear. When the technical possibilities do not exist, the scenarios are linear and have nothing original about them.

[2022-01-29 09:42] casigus commented on #1884
very strange. heres the link, https://drive.google.com/file/d/1oVvxJw0ceXIauEyWPuNJmET-lCuRp63V/view?usp=sharing sorry not sure what went wrong there. Yeeah ive re-installed it many many times and its still doing the same thing.

[2022-01-29 09:44] casigus commented on #1884
Oh. I had uploaded it correctly, for some reason when uploading the fpm to google drive it splits it into this.....
![image](https://user-images.githubusercontent.com/68471279/151656199-2de8a79d-ac14-409e-8c69-037cfc450b69.png)

[2022-01-29 09:44] casigus commented on #1884
![image](https://user-images.githubusercontent.com/68471279/151656214-f3ecd520-2b4d-4025-9cb1-6645401d0eca.png)

[2022-01-29 11:12] UltraVox001 commented on #1884
Compress the .fpm file into a .ZIP or .RAR or even .7ZIP.
Then on google drive.

[2022-01-29 13:53] redagent101 opened #1890 "Trash can attached to mouse when adding player start marker"
GGMAX, build 28-Jan-2022, video link:
https://www.youtube.com/watch?v=uSOHVIWuv4A

BoredOfTHeRings on forums - my files have been verified- I have a 20M35 on NVIDIA GeForce GTX 1060 3GB

[2022-01-29 13:53] redagent101 commented on #1890
sorry this is for GG MAx

[2022-01-29 14:06] UltraVox001 commented on #1890
What happens if you "Add" an item from the Max bank ?

[2022-01-29 14:10] redagent101 commented on #1890
that is ok, no issue there, I'm going to retry verifying files again and then if that fails go back to previous version and see if it was in last version.

[2022-01-29 14:14] UltraVox001 commented on #1890
The trash is supposed to appear when the mouse hovers over an object already present in the list.

Does this bug prevent you from working with Max ?

[2022-01-29 14:32] fearlesswee commented on #1630
Update: I think I have an idea on what could be causing this...?

I discovered sometimes when the player turns on their flashlight, you get a "ghostly" shadow of a recently viewed object that follows your flashlight. If you move far enough away and shine the flashlight on other things, the shadow can disappear. What I think is happening when the flashlight "doesn't work" is that it's actually gett

[2022-01-29 19:38] PaulSJ commented on #1880
I need more details to replicate this

[2022-01-29 22:17] UltraVox001 opened #1891 "GG Max - Bug Report : AI PathFinding stopped due to too long distance between AI and Player"
An AI test on guards (Patrol) around a military base :
[Video 1](https://www.youtube.com/watch?v=YQW7_1MannQ).
[Video 2](https://www.youtube.com/watch?v=aBcJF7uU8R0).

Enemies walk through Static/Box objects, then when moving away, walk in place. The navigation mesh does not calculate anything, where it should calculate to avoid static objects. This is problematic, because the AI has to work. Besi

[2022-01-29 22:21] AmenMoses commented on #1879
Probably same issue as #1806

[2022-01-29 23:15] rpinson57 opened #1892 "Cannot locate exe file"
I have reinstalled the program 3 times and verified files twice. I keep getting this message when I try to start the program with the shortcut of by using the exe file directly...
![Untitled](https://user-images.githubusercontent.com/98671419/151680637-e671b5e8-8db7-4dc2-aa34-85d86ace6d23.png)

Any help will be greatly appreciated

[2022-01-30 00:51] perovdm opened #1893 "GGMAX: Running Zombies"
I do not know which release this started happening in but the zombies with "ChaseModes" as "Dash" keep running if you side step them. This might be a feature though :)

Kind of funny, so not sure if I want it fixed.
![GameGuruMAX RunningZombie](https://user-images.githubusercontent.com/74854393/151682564-c4124603-49f9-4088-8832-991a335da5f6.gif)

Replicated multiple times. Also some of the Zombies

[2022-01-30 01:02] perovdm commented on #1885
Ok Saving the level in the mapbank folder solved this issue, thanks.

[2022-01-30 01:05] Teabone3 opened #1894 "GG Classic: Importer Not Opening"
Not sure if others have experienced this but when I attempt to import FBX Mixamo models into Game Guru with the Import Model option, its a hit or miss if the Importer screen will actually show up. Most of the time it will just display a series of messages and generate a.X file in the folder "importer/temp". No dbo will be created.

![fbxissue](https://user-images.githubusercontent.com/35990109/151

[2022-01-30 09:16] UltraVox001 opened #1895 "GG Max Bug Report : Show Navigation Debug Visual - Ennemis FOV Bug"
The field of view (FOV) of enemies, accessible from the "Show Navigation Debug Visual" function, is only visible for a few Characters. When I drop multiple Characters, some enemy Characters have no FOV (red area on the ground).
![NoEnnemiFOV](https://user-images.githubusercontent.com/96718175/151694031-ab5980f1-16b8-4d21-98c6-ce2d8e9eae01.jpg)
Ideally, this parameter should display the FOV of all

[2022-01-30 09:56] synchromesh62 commented on #1892
I noticed on the forum you are using Windows 8.1
Max is Windows 10 and above so i think this is the problem.
The good news is you could upgrade to 10 for free still.

[2022-01-30 10:25] UltraVox001 commented on #1892
Have you tried running the program in administrator mode ?

[2022-01-30 11:58] redagent101 commented on #1890
ok, this doesn't appear to be a bug it's part of the functionality.  I will close

[2022-01-30 11:58] #1890 closed

[2022-01-30 12:01] plemsoft commented on #1520
@Zorgo33 Thanks for reporting this issue, this was fixed in this Fridays build :)

[2022-01-30 12:02] plemsoft commented on #1819
@rvanner Thanks for reporting this issue, this was fixed in this Fridays build :)

[2022-01-30 12:04] plemsoft commented on #1614
@Necrym59 Thanks for reporting this issue, this has been fixed in this Fridays build :)

[2022-01-30 12:10] plemsoft commented on #1842
@ivanski1983 @rvanner Thanks for reporting this problem , this was caused by the groups data being reloaded from the .fpm , this has been fixed and fixed the speed and mem used generated by this problem, @ivanski1983 Ready from next Fridays build, @rvanner Ready after next merge :)

[2022-01-30 12:11] plemsoft commented on #1868
@smmaas Thanks for reporting this problem , this has been fixed and will be in next Friday build :)

[2022-01-30 12:15] synchromesh62 commented on #1892
**Have you tried running the program in administrator mode ?**
It wont work on 8.1
The minimum operating system to Windows 10 or above for compliance with the Windows Mixed Reality requirements.

[2022-01-30 12:24] plemsoft commented on #1882
@PaulFox12 Thanks for reporting this issue, this has been fixed and will be in next Fridays build :)

[2022-01-30 12:28] plemsoft commented on #1828
@casigus Did not get a e-mail from you, did you sent it ?

[2022-01-30 12:29] plemsoft commented on #1821
@rvanner Thanks for reporting this issue , this was fixed in this Fridays build :)

[2022-01-30 12:33] plemsoft commented on #1809
@smmaas Thanks for reporting this issue , just tried this in the latest build ,and it looks like it works here, could you try this in the latest build and let me know if you still have this issue, thanks for your help :

![tree-height-add](https://user-images.githubusercontent.com/18662417/151699800-4df376bc-1262-42ce-968d-40abed7cf091.jpg)
)

[2022-01-30 12:35] plemsoft commented on #1784
@UltraVox001 Thanks for reporting this issue, this was fixed in last Fridays build , could you confirm this and close the issue if its also fixed for you , thanks for your help :)

[2022-01-30 12:39] UltraVox001 commented on #1784
@plemsoft
Problem solved. Thank you. :)

[2022-01-30 12:39] #1784 closed

[2022-01-30 14:07] rvanner opened #1896 "Flatten Mode - after placing a building down, when you move it to a new location it's above the flat terrain"
Watch the video. See how I have to press enter to force the house to find the floor. Should be automatic.

https://youtu.be/S5sCRA_EJzU

[2022-01-30 14:07] rvanner opened #1897 "When I move a building it sinks into the terrain"
Watch this video;
https://youtu.be/-D8807WTZUs

[2022-01-30 14:11] rvanner opened #1898 "Tree and Grass should be set to visible if a level is made to use them"
If you make a level in the Terrain Generator and choose to turn on Trees & Grass from the terrain generator. When you come to the level editor you can see the trees and grass but they do not show up in Test game. You have to turn them on with the visual settings. They should be on by default if the user had chosen them to be on.
![image](https://user-images.githubusercontent.com/1503593/151703225-

[2022-01-30 14:12] rvanner opened #1899 "Terrain area and grab icon can get out of sync with the terrain"
By rising the height of the terrain I was able to make the yellow area show up like this;
![image](https://user-images.githubusercontent.com/1503593/151762376-43b4d7e0-1d8e-4e3c-b221-6829f5cd07d5.png)

[2022-01-30 14:15] rvanner opened #1900 "Auto flatten is not cleared between making new levels"
If you use auto flatten on a level and then make a new level you end up with this type of issue;

![image](https://user-images.githubusercontent.com/1503593/151703354-5abe8562-961e-4caa-9faa-c8378db31ed0.png)

[2022-01-30 14:17] rvanner opened #1901 "Water colour"
I changed the water colour to green like this;
![image](https://user-images.githubusercontent.com/1503593/151703424-b925ca6a-360b-48b1-8b62-2ff9c7edd4a7.png)
I then pressed test game it shows up green.
But when I came back to the Level Editor it was blue.
Strange thing is, if I press test game again it shows correctly in green.

[2022-01-30 14:19] rvanner opened #1902 "AI does not follow a path when told to do so"
I made a game level with 3 enemies. 2 should follow flags but the third should stand his ground. The all follow the paths!

![image](https://user-images.githubusercontent.com/1503593/151703547-e7a37c19-aad5-40af-8aac-1472075bfc56.png)

[2022-01-30 14:23] rvanner opened #1903 "Speed of enemies should be more flexible"
I want a character to walk slowly between flag way points. But when I do this the same enemy will attack slowly. We really need a walking speed and a combat speed. It would also be great to set option pauses when the character reaches a flag. At this point the enemy could run it's idle anim or just wait x seconds before moving on. This allows for greater design and gives the player chance to creep

[2022-01-30 14:37] #1790 closed

[2022-01-30 14:37] #1763 closed

[2022-01-30 14:38] #1757 closed

[2022-01-30 14:40] UltraVox001 commented on #1903
Yes Rick.
I had already requested a configurable Pause on the flags : [here](https://github.com/TheGameCreators/GameGuruRepo/issues/1756)

[2022-01-30 15:25] 3coms opened #1904 "GGMax is darkening my models leaving them completely black. [GGMax]"
![Darken_meshes_GGMax_2022_01_28_pic01](https://user-images.githubusercontent.com/47690174/151705909-b2e0002b-cfff-42c4-9790-d7cfd8748259.png)

This door

![Darken_meshes_GGMax_2022_01_28_pic02](https://user-images.githubusercontent.com/47690174/151705930-054fd911-f735-4e64-922e-65794c907b0a.png)

it should look like this

![Darken_meshes_GGMax_2022_01_28_pic02a](https://user-images.githubusercont

[2022-01-30 15:40] UltraVox001 commented on #1904
This is a Max bug that I have already reported here : [1762](https://github.com/TheGameCreators/GameGuruRepo/issues/1762).
Normally, checking the "Cast Shadow" box should render your textures.
But sometimes Max misbehaves with Materials...

[2022-01-30 15:42] 3coms commented on #1904
Don't help if you changed manually **materialIndex = 3**  in the fpe file, if this change is not reflected in the DBO file, the next time you run GGMax. :)

[2022-01-30 15:43] 3coms commented on #1904
About "Cast Shadow" it does not help me, I've tried it and many other things before posting here, as usual ;)

[2022-01-30 15:50] UltraVox001 commented on #1904
Yes. It doesn't help you because there is this bug. Without the bug, you would have found your textures. Look at the last image of my Post [1762](https://github.com/TheGameCreators/GameGuruRepo/issues/1762). The object has become black like your door. Normally it is white. Max doesn't know how to reset Materials settings. He makes a mistake and does not know how to go back.

[2022-01-30 15:57] 3coms commented on #1762
You are right, I'm having the same issue as your last pic.
Entity settings need the way to set the material (listing all the materials out there, as GG does)l, even importer as well.

[2022-01-30 16:18] 3coms commented on #1849
Adding fresh news to the thread :)
I manage to name my door animations (open, close) in the X file:

[code]

[2022-01-30 17:52] Kitakazi opened #1905 "Adding Trigger Zones causes massive frame drops."
Once you have a certain number of entities and lights in a scene adding a Zone Marker and then selecting it, will causes massive frame drops.

Seems very similar to issue with the spotlight causing frames to drop when selecting it. I believe was cause it was trying to update env probes? Maybe the Zone markers are also trying to do this for some reason?

https://www.youtube.com/watch?v=mEEiXIR2G9o

[2022-01-30 18:54] rpinson57 commented on #1892
Thanks everyone.
Didn't see the part about windows 10

[2022-01-30 18:54] #1892 closed

[2022-01-30 21:30] perovdm opened #1906 "GGMAX: Win Zone does not load next level or complete the game - build 2022.01.28"
The Win Zone does not seem to do anything apart from showing super tiny text at the bottom of the page for a second that says "Game Completed"

- I tried with my existing project and a new project with one level first to see if it shows the "Game Won" screen and then with two levels to see if it progresses to another level.

- I Tried both the "GoToLevelMode" options, "Use Storyboard Logic" and "G

[2022-01-30 21:43] perovdm opened #1907 "GGMAX: Save Standalone Game does not export some textures - build 2022.01.28"
When Saving as standalone game textures for some of the Zombies do not export.
![Capture2](https://user-images.githubusercontent.com/74854393/151719087-32eb518b-0c7d-4cc4-a53f-654610023618.jpg)

[2022-01-30 22:14] perovdm opened #1908 "GGMAX: Shotgun Reticle clips behind objects - build 2022.01.28"
The reticle for the shotgun optical sight disappears behind objects in a distance

![GameGuruMAX 2022-01-30 12-37-56-037_3](https://user-images.githubusercontent.com/74854393/151720024-4d3f994e-6b02-4b98-ba45-4edb06909fde.gif)

[2022-01-30 22:44] 3coms opened #1909 "GGMax does not refreshing the cache? [GGMax]"
![No_refreshing_cache_GGMax_2022_01_28_pic01](https://user-images.githubusercontent.com/47690174/151720766-4f43c28f-46aa-4a72-9314-0162db5db678.png)

Notice in the above pic:
1- The mesh (streetLight) is named "stLight2"
2- it has an emissive setup there named "stLight1" that has nothing to do with the mesh, I try to remove it and GGMax doesn't allow me.

I must add that "stLight1" is the mesh I h

[2022-01-30 22:46] 3coms commented on #1909
The "stLight2" has its own emissive file but it does not work, maybe because of this?

[2022-01-31 00:31] Kitakazi commented on #1905
Possibly related to this issue?
#1523

[2022-01-31 06:15] UltraVox001 opened #1910 "GG Max Bug Report - Crosshair mode causes the Skybox to shake"
Crosshair mode causes the Skybox to shake (only on non-simulated SkyBoxes).
See this [Video](https://www.youtube.com/watch?v=dSIfeVJ7cao).

The reflections in the viewfinder are unpleasant.
This should be fixed or optional.

[2022-01-31 07:44] rvanner commented on #1885
@plemsoft Maybe a warning with advice should come up if this happens? It's confusing for the user if the standalone game had a different level in it?

[2022-01-31 08:02] UltraVox001 opened #1911 "GG Max Bug Report - Sun from non-simulated SkyBoxes passes through all of Max's hangars"
Sun from non-simulated SkyBoxes passes through all of Max's hangars.
The non-simulated SkyBox used here is "highcloud".
The Filter Effect used is "Strong Hamber"
The metal hangars are those of Max.
This bug is visible on all metal hangars offered by Max.
![SunSkyBoxHangarIssue0](https://user-images.githubusercontent.com/96718175/151758121-d81ff43e-5fb8-43bf-9cff-72aa49a1265f.jpg)
![SunSkyBoxHangar

[2022-01-31 08:13] rvanner commented on #1819
@plemsoft I just tried this and this time the first level just runs the first level again! So not fixed for me.

[2022-01-31 08:30] plemsoft commented on #1899
@rvanner FYI: Missing Image ?

[2022-01-31 08:37] rvanner commented on #1899
@plemsoft Image posted now

[2022-01-31 08:49] plemsoft commented on #1819
@rvanner did you export the standalone again ? , if so could you e-mail me the levels and storyboard so i can give it a try , thanks :)

[2022-01-31 09:45] LeeBamberTGC commented on #1839
@UltraVox001 This has been fixed with the latest update, please check it out and let me know.

[2022-01-31 09:47] LeeBamberTGC commented on #1839
P.S> That is to say the collision bug has been fixed, but the original issue reported is still at large. We always recommend issues be separated and avoid cramming a second bug report into the first bug report, especially if they are not related. It just confuses everyone :)

[2022-01-31 09:54] UltraVox001 commented on #1839
@LeeBamberTGC

You are right. Receive my apologies. I took advantage of a Collisions Post to encompass another collision issue. The problem is solved for me and for others, but Not for Pirate Myke : [https://forum.game-guru.com/thread/223291#msg2646314](https://forum.game-guru.com/thread/223291#msg2646314)

In the future I will no longer write on this Post.
Thank you.

[2022-01-31 12:12] MonkeyFrogStudio opened #1912 "Snapping on the up/Y axis to help align objects when we create interior only levels"
Some of us want to make interior only settings, like with the original DOOM game. As such, we need a few simple settings to do this. For example, we need a SIMPLE way to totally remove the sky, such a as a simple check box or button to TOTALLY remove ALL sky elements, setting the sky to pitch black. Currently, using the dropdown box and selecting NONE for the sky still leaves you with a sun and a

[2022-01-31 12:41] rvanner opened #1913 "TEST GAME - Loading bar reverses at the end."
See this video;
https://youtu.be/TJnjgKnJeI8

[2022-01-31 12:42] rvanner opened #1914 "Reflections on weapons is far too extreme - see how this pistol ends up colored green"
Watch this video;

https://youtu.be/4S0kNUcod6Q

[2022-01-31 12:55] rvanner commented on #1887
This will be fixed in the next build, we have all the new trees now and will setup the biomes.

[2022-01-31 12:56] rvanner commented on #1881
I'm closing this because it's in another report.

[2022-01-31 12:56] #1881 closed

[2022-01-31 13:09] ZakJudges commented on #1621
Hi @smmaas, I couldn't reproduce this issue. Are  you still experiencing it in the latest build? :)

[2022-01-31 13:10] rvanner commented on #1862
There are plans to allow users to change when these transitions happen. This will be a post Early Access feature though.

[2022-01-31 13:13] rvanner commented on #1859
This was due to the system not showing the highest LOD versions. You will now see high poly trees when you are close up to them.

[2022-01-31 13:16] rvanner commented on #1856
For now this is how we have designed it. We want new users to see different possibilities.

[2022-01-31 13:20] rvanner commented on #1750
@UltraVox001 Is this still an issue for you?

[2022-01-31 13:22] ZakJudges commented on #1835
@rvanner This relates to the work I carried out last month. "Level" view options now control the visual settings that are saved to the .fpm files whereas "Editor" settings only control visuals whilst editing and are temporary. When you first load a map, the Editor settings will default to whatever was saved in the visual settings.

If you like, I can free up some space and rename the "Level" colum

[2022-01-31 13:23] UltraVox001 commented on #1750
@rvanner
I can close here. But allowing the camera to pass under the map (in Edit mode) would be a good thing.

[2022-01-31 13:23] #1750 closed

[2022-01-31 13:24] ArgentArts commented on #1914
That's not a bug, of course. That's just PBR materials in action. It would be great, though, if we could have access to the materials for the weapons and arms, etc., so we could adjust them to our liking. That pistol is too shiny.

[2022-01-31 13:24] rvanner commented on #1428
@niijel Is this still a problem for you?

[2022-01-31 13:27] rvanner commented on #1391
@smmaas Can you please post more information so we can look into this crash?

[2022-01-31 13:28] rvanner commented on #1326
@rsearle Hi, we're about to enter a month of testing. Is this still an issue for you?

[2022-01-31 13:32] #1862 closed

[2022-01-31 14:14] UltraVox001 commented on #1912
Yes, an "instant" setting (Special Biome) for indoor maps would be appreciated.
No sky, no sun or tiled ground. No light of any kind.
Absolute emptiness, like when you want to use EBE.

[2022-01-31 14:17] ArgentArts commented on #1912
... just don't force us to use EBE if you give us this truly empty setting. ;) EBE as an option. ;)

[2022-01-31 14:35] plemsoft commented on #1887
@dennimoto Thanks for reporting this issue, yes it was a duplicate and are already fixed for the next update :)

[2022-01-31 14:38] plemsoft commented on #1722
This has already been fixed :)

[2022-01-31 14:41] plemsoft commented on #1835
@rvanner This was related to another issue, and was caused if you used the checkbox inside "Grass Painting" , this has been fixed and will be in a later commit later today :)

[2022-01-31 15:47] #1188 closed

[2022-01-31 15:48] #1440 closed

[2022-01-31 15:48] plemsoft commented on #1773
@42Pix3ls Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-01-31 15:48] plemsoft commented on #1838
@rvanner Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-01-31 15:49] plemsoft commented on #1907
@perovdm Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-01-31 15:49] plemsoft commented on #1900
@rvanner Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-01-31 15:49] #1538 closed

[2022-01-31 15:49] plemsoft commented on #1898
@rvanner Thanks for reporting this issue , this has been fixed and will be in the next update :)

[2022-01-31 15:50] #1555 closed

[2022-01-31 15:50] LeeBamberTGC commented on #1872
@rvanner Script is nice, thanks for the icons also.  Addeds for next build. Could do with some ladder assets we can pre-configure with this behavior. Also exiting ladder at top could be smoother.

[2022-01-31 15:51] plemsoft commented on #1885
@rvanner Error has been added when you try to add a level from outside the mapbank :)

[2022-01-31 16:04] rvanner commented on #1872
@LeeBamberTGC I've emailed Mark to ask if he can make a wooden and metal set of ladders (3 different heights of each).

[2022-01-31 20:21] smmaas commented on #1391
This is a very old one, at the moment I can't import anything at all (Issue 1810) so I would close this one.

[2022-01-31 20:23] smmaas commented on #1621
Problem has disappeared some time ago.

[2022-01-31 23:19] OldFlak opened #1915 "MAX - 2022.02.04 - Player Marker Shows Incorrect Behavior Image"
Blue theme is **never **OK MAX!

![image](https://user-images.githubusercontent.com/12246318/151888970-e92d0bb0-a46c-41eb-aa34-63003c9430c4.png)

[2022-01-31 23:20] OldFlak opened #1916 "MAX - 2022.02.04 - Storyboard Description"
Text does not fill available space

![image](https://user-images.githubusercontent.com/12246318/151889126-f5736904-9e4a-4d64-adae-5a29b4a904bf.png)

[2022-01-31 23:23] OldFlak opened #1917 "MAX - 2022.02.04 - Painting Not Restricted To 3D Level Editor"
Can paint and delete when clicking mouse over tool bar and side menu areas
-  happens with both grass and terrain

[2022-01-31 23:25] OldFlak opened #1918 "MAX - 2022.02.04 - Poor Performance Rendering"
FPS is not good even without grass
- MAX is rendering everything behind this hill perhaps?
- note mem counter in top corner - just under 35 fps

![image](https://user-images.githubusercontent.com/12246318/151889539-f19c1809-7659-4dd1-a1b8-118e29a9d445.png)

With grass on, and distance set to 1500 it still only gets 35 fps most of the time.

[2022-01-31 23:28] OldFlak opened #1919 "MAX - 2022.02.04 - UI Annoyances - Needless Popups"
Still there :)
- this essentially a bug because it ruins the dev experience

The way things popup all over the place makes the editor tedious at best
- it really is quite annoying to work with as it is now
- can we have an editable delay for ALL popups or a checkbox to turn them off - Please :)

[2022-01-31 23:30] OldFlak opened #1920 "MAX - 2022.02.04 - UI Annoyances - Filter Effects"
Huge list of pics for filter effects
- makes the UI unnecessarily cluttered
- text list was much better

Perhaps another checkbox :)

[2022-01-31 23:35] Necrym59 opened #1921 "GGMAX Enhancment - Elevator"
A generic apply on any object script for an Elevator designed for MAX, has behavourial settings for speed and height. Objects used needs no weight or friction to work, instructed in description. Complete with icons etc,
Maybe the gurus can see if it fits the bill for inclusion or any adjustment.
[elevator.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7974886/elevator.zip)
![el](https:

[2022-01-31 23:35] OldFlak opened #1922 "MAX - 2022.02.04 - PBR Rendering Feedback"
Plants and rocks all shiny

![image](https://user-images.githubusercontent.com/12246318/151890320-e228df1e-0cfa-4763-ab4b-9ff582a79c15.png)

![image](https://user-images.githubusercontent.com/12246318/151890381-e4db8982-ef10-4064-b377-1727ff0c5d90.png)

![image](https://user-images.githubusercontent.com/12246318/151890422-dd16b185-8d54-4e4d-b1d5-06db6281c234.png)

[2022-01-31 23:37] OldFlak opened #1923 "MAX - 2022.02.04 - Change Outline Highlighter with Object Color Change"
We used to be able to select objects easily - there are now several issues which make doing so very cumbersome
Here be another example
- Can not select large objects from inside - makes interior level editing a pain

https://youtu.be/4HZWTZ8roi4

[2022-01-31 23:41] Necrym59 commented on #1912
Try using GZDoom_Builder to make an indoor level you can change and use your own textures then use the export to object it will give you the obj file and all the texures used ready for flawless importing into MAX then just add your decorations, doors, lights etc.

[2022-02-01 00:02] OldFlak commented on #1859
Nice main trunk and branches look great now.

Base still not good - perhaps need to plant them deeper?

[2022-02-01 01:16] ArgentArts commented on #1912
No thank you. Firstly, OBJs are very limited ... only one UV map per OBJ. Secondly, this has nothing to do with my request, which has to do with how one works in the actual MAX editor itself while creating indoor levels there. Thirdly, I create my own models and materials and can handle that quite well on my own. I don't need tool like GZDoom_Builder to, frankly, get in my way. It would actually h

[2022-02-01 03:10] Kitakazi commented on #1912
Yes, please there is no need for excess things active when working on a purely interior level. Currently unless you have all the lighting to 0,0,0 the sun will still light the scene in whichever direction it is facing. Even indoors...

Additionally having the terrain actually be blank or invisible is needed for skyboxes that have detail on the underside. There is default scripts in classic HideTer

[2022-02-01 03:12] Kitakazi opened #1924 "Zombie A.I is Busted"
Zombie A.I is broken. Here is video.
https://www.youtube.com/watch?v=pTCGlqPaiz8

[2022-02-01 03:13] OldFlak commented on #1856
Can we have a checkbox then? Completely annoying as it is :)
Just lots of needless clicks....

[2022-02-01 04:20] UltraVox001 commented on #1921
First of all, a big THANK YOU for this script which, like the Ladder Script, adds another essential thing to FPS.
Here are my comments as a Beta-Tester on this first version.

**Advantages :**
- Can be used on virtually any object.
- Very easy to use and adjust.

**Disadvantages (current version) :**
- Going up or down on the Elevator is done with jerks.
- Once activated, the Player is stuck on th

[2022-02-01 05:27] Necrym59 commented on #1921
Can i ask what you used for the object and what settings you used on the object. I have attached an updated script that should be smoother and shouldnt make you go in the floor, no movement on the elevator is suppposed to be that way but i will look into other options for that and a call switch
[Elevator_v2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7976083/Elevator_v2.zip)

[2022-02-01 06:03] UltraVox001 commented on #1921
Thank you for your improvements on this script.

This V2 version is already much smoother. I can use any speed and any height, the camera is stable. I'm still stuck on the Elevator. No movement is possible, except the mouse.

Object used for this test :
![Tile](https://user-images.githubusercontent.com/96718175/151920236-51c23972-e0f9-42f0-b9e3-91f1da9318ed.png)
Object : Green Ceiling - Tile
Physi

[2022-02-01 06:10] UltraVox001 commented on #1921
If I do speed tests, with settings 500 and 500 in the behavior, the object used for the Elevator can disappear under the ground after coming down. I use an Empty map.

[2022-02-01 06:20] UltraVox001 commented on #1921
Behavior setting :
200
93
If I go to 94, the Elevator goes back under the ground after the descent.

[2022-02-01 06:29] UltraVox001 commented on #1921
If possible, allow us to assign optional sounds to the Elevator. (Go up/Go down).
Obviously this can wait until the Elevator is fully operational.
V2 is already correct :)

[2022-02-01 07:42] Necrym59 commented on #1921
Version 3 - tweaked a bit plus includes sound play events.
The Elevator script has be set up for up to 3 sounds, Sound 0 for start, Sound 1 for moving, Sound 2 for stopping
Sample sounds supplied to be placed in your games audiobank folder.
[Elevator_v3.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7976659/Elevator_v3.zip)
.

[2022-02-01 07:49] ArgentArts commented on #1912
Actually, we shouldn't need scripts for this. There should just be a setting in the editor to start without them if you know your current level is not going to need them. We have all these things at the beginning asking us how we'd like to start out our level - rain forest, etc. Why not an interior level "biom", too? No sun, no terrain, no water ... just ready to lay down some interiors and get re

[2022-02-01 08:00] UltraVox001 commented on #1921
Great! You just have to remember to stop the "elevator-moving.wav" sound when the Elevator arrives at a destination (up or down). If not, the "moving" sound continues too long.

Or, program that playing the "elevator-stop.wav" sound stops the "elevator-moving.wav" sound.
Is it possible ?

[2022-02-01 08:08] UltraVox001 commented on #1921
Sound details :
- The sound "Sound1" must play in a loop as long as the Elevator is active.
- Until destination where sound "2" must stop "Sound1".

[2022-02-01 08:22] Necrym59 commented on #1921
Fixed now as a loop until Stop works better with a smaller sound byte for the moving sound as well
Version 4 :)
[Elevator_v4.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7976878/Elevator_v4.zip)

[2022-02-01 08:28] UltraVox001 commented on #1921
Thx ! The script to stop "Sound1" is only taken into account when the Elevator arrives at the bottom.
When Elevator goes up and arrives at the top, Sound1 continues.

Come on, you're almost there :D

[2022-02-01 08:40] Necrym59 commented on #1921
Lol my bad. Fixed
[Elevator_v5.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7976982/Elevator_v5.zip)

[2022-02-01 08:47] UltraVox001 commented on #1921
Haha! Almost !
Sound1's loop only works downward. :)
It must also work uphill :D

Test carried out on the following setting :
2000
80

Come on, this time you're really there :D

[2022-02-01 08:56] Necrym59 commented on #1921
This time for sure!
[Elevator_v6.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7977063/Elevator_v6.zip)

[2022-02-01 09:04] UltraVox001 commented on #1921
Great, you made it!
You have done wonders in 1 hour of time :D
Many thanks to you :)

[2022-02-01 09:05] ZakJudges commented on #1621
Thank you for confirming. Closing this now

[2022-02-01 09:05] #1621 closed

[2022-02-01 09:07] UltraVox001 commented on #1921
Here is the test map, for those interested. :)
[ELEVATOR V6.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7977121/ELEVATOR.V6.zip)

[2022-02-01 12:18] ZakJudges commented on #1548
Hi @casigus, this issue should now be fixed. Could you confirm when you create a new map, you no longer experience the bug? Thanks :)

[2022-02-01 12:20] ZakJudges commented on #1628
@casigus Are you still experiencing this issue in the latest build?

[2022-02-01 13:09] Granada1 commented on #1921
Great work here guys 👌thank you

[2022-02-01 13:13] #1212 closed

[2022-02-01 13:14] #1542 closed

[2022-02-01 13:16] #1774 closed

[2022-02-01 13:18] #1533 closed

[2022-02-01 13:20] #1495 closed

[2022-02-01 13:21] #1497 closed

[2022-02-01 13:23] #1429 closed

[2022-02-01 13:25] ZakJudges commented on #1394
@LeeBamberTGC @OldFlak Before I close this, I just want to check if there have been any more occurrences of strange estimates? :)

[2022-02-01 13:28] ZakJudges commented on #1269
@OldFlak Just checking you no longer experience this issue?

[2022-02-01 13:34] casigus commented on #1548
yasssssssssssss!! :D fixed :D

[2022-02-01 13:34] #1548 closed

[2022-02-01 13:35] casigus commented on #1628
yasss.

[2022-02-01 13:35] #1628 closed

[2022-02-01 13:35] casigus commented on #1628
i mean noo. s'all good. :D

[2022-02-01 13:37] casigus commented on #1828
things are very much more stable with the new build :)

[2022-02-01 13:37] #1828 closed

[2022-02-01 13:38] #1362 closed

[2022-02-01 15:30] mav3r1ck198-1 opened #1925 "Normal textures added to assets after import, disappear once the level is saved"
I have a pack of modular caves that i have brought over from classic. In classic the fpe recognises the PBR textures correctly, however in Max, only the _color file is found. As you can apply texture files to individual assets in Max, i have added the normal maps back onto each mesh for the desired effect. However, once the level is saved, the normal maps are removed and the mesh revert to only _c

[2022-02-01 15:54] rvanner opened #1926 "Back button to jump back to the importer"
Add a new back icon to this screen so users can change their importing data before it's too late;

![image](https://user-images.githubusercontent.com/1503593/152002496-0823ea0b-1baa-4980-a6e8-b57e9c8d180a.png)

@ZakJudges Lee has asked for this to be done so please deal with it asap. Thanks!

[2022-02-01 18:26] Necrym59 commented on #1926
You dont know how many times I had wished for that, but I never remembered to ask for it.

[2022-02-01 18:47] fearlesswee opened #1927 "MAX - Player moves veeeery slow going up/down slopes in some situations"
Title basically says it all; if you put down the "outdoor ramps" test asset in the MAX collection, try running up and down the stairs, at different angles, etc. Occasionally the player will rapidly lose speed and start slowing down to a painful crawl. Jumping doesn't change your speed, leading me to believe you're not getting "stuck", rather it might be some internal calculation that slows the pla

[2022-02-01 19:00] fearlesswee opened #1928 "MAX - Characters on the same allegiance should be able to pass through each other"
When setting up a path of flags that a group of NPCs are supposed to randomly patrol, they often will get stuck walking into one another. While in a perfect world they should intelligently walk around one another, the far more practical solution is to just let them pass through one another.

[2022-02-01 19:06] fearlesswee opened #1929 "MAX - Characters will often phase through walls/other solid objects"
Characters have a tendency to turn into ghosts and walk through solid objects!

Okay, not really.

But they do walk through solid objects, when trying to walk to a point or flag they sometimes "overshoot" the position and keep walking, resulting in them phasing through any walls or objects that happen to be in their path. Why characters don't have proper physics against level geometry I may never

[2022-02-02 04:46] Necrym59 commented on #1921
Updated to v7
Activate by switch enabled , cleaned up redundent code, now only use the E key to go up and down
[Elevator_v7.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7983641/Elevator_v7.zip)
Modified map with switch
[ELEVATOR V7.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7983651/ELEVATOR.V7.zip)

[2022-02-02 05:13] Necrym59 commented on #1921
There could be a problem here switches dont appear to work mor than once.

[2022-02-02 07:48] UltraVox001 commented on #1921
Currently the switch has no effect. The switch knows how to activate or deactivate an object. I don't think he knows how to move the Elevator. It's not like with a Light (unfortunately).

[2022-02-02 07:56] UltraVox001 commented on #1921
Oh yes, of course.
I forgot to change the Behavior :)

[2022-02-02 08:03] UltraVox001 commented on #1921
Everything is working.
You just have to set the AI to Toggle.

[2022-02-02 08:14] Necrym59 commented on #1921
Really i did that and it failed, just spent ages trying to find out why. I have just reapplied it and it works - go figure! Well i am at peace for now :)

[2022-02-02 08:20] UltraVox001 commented on #1921
No wonder. Max is having difficulty with AI management currently.
Despite this, you have done a very good job.
Sincerely, I congratulate you. :)

[2022-02-02 08:40] Necrym59 commented on #1921
Thanks mate, well i guess it stays as is until some of the fixes come in. It seems to work smoothly and ok for now.

[2022-02-02 09:02] Necrym59 commented on #1921
Ha bent it to my will a bit more V8
[Elevator_v8.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7984937/Elevator_v8.zip)
Untill some things like remote switches behaviour etc are fixed this will have to do.

[2022-02-02 09:07] Necrym59 commented on #1921
Bent it to my will a bit more. V8
[Elevator_v8.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7984974/Elevator_v8.zip)

Cant do much more until some things are fixed i think.

[2022-02-02 09:24] UltraVox001 commented on #1921
Thx, but I don't see any change in usage.
Everything seems to be working fine. What have you changed?

[2022-02-02 09:38] Necrym59 commented on #1921
Just some clean up concerning distance and object status nothing major but its just a bit cleanerSent on the go with Vodafone
-------- Original message --------From: UltraVox ***@***.***> Date: 2/2/22  8:24 pm  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Author ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GGMAX Enhancment (Issue #1921)
Thx, but

[2022-02-02 13:15] OldFlak opened #1930 "MAX - Variation Textures"
So MAX terrain is ok, but there was a nice feature Preben added to GGc that mad the terrain awesome - Variation Maps

Example:
Note this screenshot from GGc - there is no painting in the foreground here it is just the variation texture at work - it makes such huge a difference!

![image](https://user-images.githubusercontent.com/12246318/152160607-e7647a8d-aaae-4c1a-ac6a-a8a3e710e3d5.png)

It woul

[2022-02-02 15:02] UltraVox001 commented on #1930
You are right to ask!
In some engines, such as HeroEngine (the engine of the MMO "Star Wars The Old Republic"), you can also paint the ground with RGB colors over the terrain textures, and apply the functionality you mention. It can also be applied to textures, of course :)

[2022-02-02 16:54] Duchenkuke opened #1931 "GG CLASSIC - Jetpack looks very weird."
Way too glossy and almost no lighting on the texture. Whats wrong?

[2022-02-02 17:14] MonkeyFrogStudio opened #1932 "GameGuru MAX - Request - Get Rid of Surface in Favor of Roughness, Metalness, and Occlusion"
When importing a model into MAX, we are asked for the following when it comes to the material:

- Albedo
- Normal
- Roughness
- Metalness
- Occlusion
- Emission

After the model is already in MAX, if selected and we go to adjust it's material by clicking the material tab on the right-side bar, we are offered only:

- Abedo
- Normal
- Surface
- Emissive

In this case, the Surface material now compr

[2022-02-02 21:43] OldFlak commented on #1930
The only thing GGc terrain needed was blending at the edges when painting, and of course better brushes - round is not much good at all for detailed work at all. And we still have those same issues in MAX.

The way the Variation system worked in GGc easily gives a far better overall look and could be controlled not just by the variation map itself but by where each texture was placed in the 16 gri

[2022-02-02 21:49] UltraVox001 commented on #1930
I think we have to make the difference between the current Alpha product and the one it will become. For example with textures, Rick clearly mentioned (right here) that these features will arrive after the March release. I imagine that until then they want to have comfortable control over the videos that will be made here and there on Youtube and which may not be representative of the final qualit

[2022-02-02 21:53] #1796 closed

[2022-02-02 21:59] OldFlak commented on #1930
Thanks for the reply.
I think you are right but that said, this is github, not a discussion board, and this be an enhancement request - just leave it to TGC to decide if and when they will apply it.

Best not to clutter the thread :)

[2022-02-03 00:14] 3coms opened #1933 "GGMax close when selecting material settings [GGMax]"
This happens to me builds ago, so, now it gets back again on the 2022_01_28 build.

https://youtu.be/PjwV_vS69bk

It happens to me on different levels; in fact, this is a new level, just snow terrain, and place my snowy cabinet to test it.
Notice in the video how wrong is GGMax rendering the custom meshes (snowy cabinet)

It should look like the pic below (Assimp)

![snowy_cabinet_Assimp_pic01](ht

[2022-02-03 01:12] 3coms commented on #1933
I had tried importing the mesh, but it gives the same bad textured mesh and closes when hit on material settings, as well.

[2022-02-03 01:32] OldFlak commented on #1269
@ZakJudges - it was fixed for jungle rocks for a while, but recent builds it is no longer restricted to rocks etc - but pretty much prevalent everywhere on any level with terrain.

Player constantly goes faster/slower when walking/running - like being held back.

All to do with terrain physics rather than models no doubt.

[2022-02-03 01:34] OldFlak commented on #1394
I will pay closer attention to next update and record the last part see if it is still iffy or not :)

[2022-02-03 03:35] Necrym59 commented on #1817
Actually the Header Graphic brackground is way to big  maybe it should adapt to width and not increase in height to allow for wide screens, this would leave more room for working on the storyboards.

[2022-02-03 09:09] Necrym59 commented on #1921
Also have a related conveyor script
[conveyer.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7993147/conveyer.zip)

[2022-02-03 09:34] UltraVox001 commented on #1921
I thought about it yesterday, but I didn't dare suggest it to you. I just tested it and it works fine. Well done! Maybe an alternative script with other options to tick, to make it self-contained, like always moving (back and forth), like in a factory.

We can also imagine a Flags system so that the conveyor moves on a path (forward, backward, left and right). Is this possible, do you think?

[2022-02-03 09:37] plemsoft commented on #1886
@dennimoto The trash icon is only to delete the object attached to the cursor, if a object from the "Level Objects" is not used in the level anymore, max will auto delete then when you save the level. Hope this explains your issue , thanks :)

[2022-02-03 10:06] UltraVox001 commented on #1921
Another problem in the current version : the direction is always the same. The direction should be the one that corresponds to the rotation applied to the object. I tried but it always goes in the same direction. Unless you are able to determine which direction it will go from the Behavior?

If it can help you improve.

[2022-02-03 10:29] plemsoft commented on #1865
@OldFlak Tried both here , and they seams to line up ok here , so what settings are you changing ? :)

![rays-sun](https://user-images.githubusercontent.com/18662417/152325316-474063d9-f7ec-4e55-932a-ca776e37011a.jpg)

[2022-02-03 10:55] UltraVox001 commented on #1921
New problem detected : if the Conveyor is dropped in the same map as the Elevator, they activate each other.

[2022-02-03 11:33] OldFlak commented on #1865
@plemsoft
Hi Preben - I used Morning settings for Simulated Sky
You may need to wander around the map a bit, after a while seams to go all wrong.

The current build is bugged and MAX won't run levels for me atm (just crashes to desktop running test game) when he get up and running again I will do a vid with a stock map :)

[2022-02-03 11:53] #1410 closed

[2022-02-03 12:00] OldFlak commented on #1316
This is fixed atm so closing :)

[2022-02-03 12:14] #1332 closed

[2022-02-03 12:15] OldFlak commented on #1331
Closing - not an issue in current build :)

[2022-02-03 12:16] #1331 closed

[2022-02-03 12:17] #1316 closed

[2022-02-03 12:19] #984 closed

[2022-02-03 12:59] OldFlak commented on #1865
@plemsoft managed to reproduce

Sent email with current pic and a level to hopefully help you find it :)

[2022-02-03 14:03] rvanner commented on #1916
@plemsoft Needs a slider!

[2022-02-03 14:25] ZakJudges commented on #1651
@Kitakazi This should be fixed now. Can you confirm you no longer experience the issue? :)

[2022-02-03 14:29] rvanner opened #1934 "TERRAIN Generator: Terrain moves when you type W, A, S or D in save level name"
If you type W, A, S or D, the terrain moves in the background.

![image](https://user-images.githubusercontent.com/1503593/152362402-e02db694-24a0-48aa-a5ff-cc65e2a261b8.png)

[2022-02-03 14:36] rvanner opened #1935 "Are you sure checks for these items"
Add Are you sure message boxes like we have for Clear All Trees to these 3 options:

Randomize All Trees
![image](https://user-images.githubusercontent.com/1503593/152363281-7f4aa573-2255-4346-aca2-28a71917fd95.png)

Populate Vegetation Everywhere
Clear All Vegetation
![image](https://user-images.githubusercontent.com/1503593/152363299-31a357dd-03ee-4dc0-9c51-caaef2dd48e5.png)

[2022-02-03 15:05] plemsoft commented on #1817
@Necrym59 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-03 15:07] plemsoft commented on #1824
@rvanner Text changed :)

[2022-02-03 15:09] plemsoft commented on #1830
@wizardofid29 Thanks for reporting this issue, I added some extra shadow lights, so you should not run out (and see the effect from the reported issue). ready from the next build.

[2022-02-03 15:24] UltraVox001 commented on #1927
Parlez-vous des escaliers de la collection Max ?
![Polygones](https://user-images.githubusercontent.com/96718175/152372615-d30c0a7d-0e06-4db6-b9d4-ac9743dea313.jpg)
Si c'est le cas, changez le mode de collision.
Utilisez Polygones. Il posera moins de problèmes que Hull Decomp.

[2022-02-03 15:28] wizardofid29 commented on #1830
Thanks will give it a go and revert back and close

On 2/3/22, Preben Eriksen ***@***.***> wrote:

[2022-02-03 19:47] Necrym59 commented on #1921
Cant see that problem both are independent here? Actually cant see how that can be they are suppposedly seperate objects.
Perhaps its due to the work around i did with the switch behaviour i can eradicate that bit and wait till they have it done.
[Uploading elevator_conveyer.zip…]()

[2022-02-03 19:49] Necrym59 commented on #1921
Cant see that problem both are independent here? Actually cant see how that can be they are suppposedly seperate objects. Is the name of the elevetor object the same as the conveyor. Perhaps its due to the work around i did with the switch behaviour i can eradicate that bit and wait till they have it done. Try this map it works fine for me including a rotated conveyer
[elevator_conveyer.zip](https

[2022-02-03 19:52] UltraVox001 commented on #1921
Thank you. I will test your card tonight.

I discovered another "bug". When I retrieve a weapon from the ground (Knife, AK...), the Elevator starts up. Yet the weapon is at least 20 meters away from the Elevator. Same with the Conveyor.

[2022-02-03 19:59] Kitakazi commented on #1651
@ZakJudges Seems to be fixed now. Thank you!

[2022-02-03 19:59] #1651 closed

[2022-02-03 20:06] Kitakazi commented on #1590
This issue has gotten a lot worse. I can walk around my level at a smooth 60 fps but the second I equip a weapon the frames drop by about 10 - 15. Shooting 1 shot will drop frames to about 30. Getting through an entire clip with AK47 will drop frames to about 5-10 fps.

[2022-02-03 20:09] Necrym59 commented on #1921
Now that is weird i will try and duplicate it.

[2022-02-03 20:28] OldFlak commented on #1033
I cannot reproduce this now (build 2022.03.04) but will leave open for other contributors to verify if it is OK for them as well :)

[2022-02-03 20:43] OldFlak opened #1936 "MAX - 2022.02.04 - Capsule Moving With Player - Ruins Fog Effect"
Can't think of a better way to describe it so here be a video:
https://youtu.be/64SSHUH_ryo

Similar to the issue we had when Auto Exposure was introduced:

Settings:
![Player Capsule Fog Issue Settings](https://user-images.githubusercontent.com/12246318/152425394-8e21c95e-35a1-4fd0-ac87-052e9a93f17c.png)

[2022-02-03 20:51] Kitakazi commented on #1033
I don't have this issue anymore

[2022-02-03 22:30] UltraVox001 commented on #1921
Your map works.
In mine, when I click on a Conveyor, I get teleported to the other. Weird.
However, I am a Beta-Tester for TGC.
I'm using an internal version of Max, a bit ahead of regular users.
Here is the map I use.
[ElevConv.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7998707/ElevConv.zip)

[2022-02-03 22:50] Necrym59 commented on #1921
elevator on your map if used once then moves everytime you select a conveyer its like MAX doesnt clear the last used object index from memory when used and there doesnt seem to be a command to clear/reset it those that seemed appropriate dont seem to work, it maybe a MAX cache problem ive been at it for hours trying everything under the sun - perhaps one of the Gurus will know, ill keep trying as

[2022-02-04 00:27] OldFlak commented on #1033
@rvanner
I think it is safe to close now - cannot reproduce issue specific to this thread, and neither can Kitakzi :)

[2022-02-04 00:27] #1033 closed

[2022-02-04 01:42] Necrym59 commented on #1872
Ladder updated - smoother exits top and bottom
[Ladder_v2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/7999437/Ladder_v2.zip)

[2022-02-04 08:14] UltraVox001 commented on #1872
Yes, the exit is easier. Well done!

For now, the only downside to this script is that if you're in the middle of the Ladder and you move out, you're teleported to the ground without losing any hit points.

I am testing this script on a guard tower which is very tall. Instead of the Ladder, I placed a red metal door that I stretched all along the Ladder, and on which I applied your script. Then in

[2022-02-04 08:19] Necrym59 commented on #1872
Thats interesting that makes for an invisble climb box/placeholder for any use - ill look into the player damage.

[2022-02-04 08:28] UltraVox001 commented on #1872
Is it possible to unlock the Space key, if the player wants to leave the Ladder by jumping ?

I noticed : when using the Conveyor script, it can pass through Static/Box walls, and so can the player. This includes a temporary collision loss to the player during travel. But if it is also the case for the Ladder, does this mean that the player is invincible while using the Ladder ?

I haven't tested

[2022-02-04 09:47] Necrym59 commented on #1872
Space key to jump of ladder added, wil look at fall damage tommorrow.
[Ladder_v3.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8001735/Ladder_v3.zip)

[2022-02-04 11:12] rvanner opened #1937 "Welcome Screen - add in the new demo games from community and staff when they are confirmed"
Update the build with the games when they are chosen and show them in the Welcome Screen

[2022-02-04 11:14] rvanner opened #1938 "Tutorials"
When the tutorials are ready, make them auto play when you first enter each new editor.

The video to be shown full screen and can be skipped by the user if they want.

These will appear for:
- Storyboard
- Terrain Generator
- Level Editor
- Object Library

![image](https://user-images.githubusercontent.com/1503593/152519864-6b182e5f-ad8d-4eb4-855c-a7e5fc2ff506.png)

[2022-02-04 11:16] rvanner opened #1939 "Tutorials: Show tutorial full screen if the user clicks on the thumbnail image"
When the user clicks on the thumbnail of a tutorial, play it full sized by default so they can see the detail.

[2022-02-04 11:17] rvanner opened #1940 "Tutorials: Allow video position to be changed"
Allow the user to change the position of the video by clicking into the timeline and changing the video play position.

[2022-02-04 11:19] rvanner opened #1941 "Create a CPU thread in the Level Editor to process the physics before TEST GAME is pressed"
Add a new CPU thread to start processing the physics data. So when the user comes to click TEST GAME some or all of this work will have been processed already.

[2022-02-04 11:20] rvanner opened #1942 "Add the new character creator choices when they become available"
Once the new head choices are ready, add these to the next update of the character creator.

[2022-02-04 11:21] rvanner opened #1943 "Add UNDO/REDO for tree and veg painting"
Add undo and redo for all terrain modification actions including trees and veg

[2022-02-04 11:23] rvanner opened #1944 "Complete the Biome setups with the new tree and veg choices"
When the build has all the new trees and veg added, setup the correct default choices for each biome.

This to be worked on and agreed with the listed assignes.

[2022-02-04 11:24] rvanner opened #1945 "Visual Logic System: Implement the changes discussed 4th Feb"
Implement the agree changes to the Visual Logic System as discussed (Lee has details).

Also:

- Fade the text as you move away from the logic shapes so you don’t see overlapping texts (if still relevant)
- Ensure text does not show outside of 3D windowed area
- With Shooter Logic on, If you then leave the Level Editor any texts for the logic are still shown on screen

[2022-02-04 11:32] rvanner opened #1946 "Game Storyboard: Play Game System"
The Play Game mode needs to play through the whole game.

[2022-02-04 11:33] rvanner opened #1947 "Terrain Generator: Black screen pause"
When starting a new level the screen remains black for a few seconds, it didn’t do this before.

[2022-02-04 11:37] rvanner opened #1948 "Terrain Generator: Move the Generate Terrain for Level button to the bottom of the UI"
Move the Generate Terrain for Level button to the bottom of the UI and ensure it cannot scroll off the screen
![image](https://user-images.githubusercontent.com/1503593/152522597-be19c700-6511-43ab-bf90-29fb65a699ea.png)

[2022-02-04 11:39] rvanner opened #1949 "New rendering technique allowing object to render last"
Lee to code a render state that renders an object last into the scene.

This can then be used;

- To draw a weapon last so it does not cut into objects nearby
- The terrain generator grab box so it is not lost behind a mountin

[2022-02-04 11:44] rvanner opened #1950 "Add the text “Editable Area: 3.26 Km / 2.02 Miles”"
Where the editable area size is shown, add the text "Editable Area:" before the size data.
Also move the text so it's on the inside of the box
![image](https://user-images.githubusercontent.com/1503593/152523494-b5533999-c056-4726-8dc0-6cc111fc58ff.png)

[2022-02-04 11:46] rvanner opened #1951 "Terrain Generator: Camera angle to show some sky"
The default angle does not show any sky. Change it so that it looks like the right image here.
![image](https://user-images.githubusercontent.com/1503593/152523820-87d36b16-30a7-430e-ae6b-16e9fdd8d2d8.png)

[2022-02-04 11:47] rvanner opened #1952 "Terrain Generator: Add an option for the Randomization of the time of day"
Add a new “Randomize” option in the time of day drop down. This would be the default time of day when you come into the editor. If it’s changed then don’t randomize the Sky when users press on the different biome buttons.

![image](https://user-images.githubusercontent.com/1503593/152523975-5086b606-da96-4d59-80c5-107fd7b5d7cf.png)

[2022-02-04 11:49] rvanner commented on #1171
Structure Editor still crashes, needs to be fixed.

[2022-02-04 11:50] rvanner opened #1953 "Camera Shake when player is hit or nearby explosion happens"
Needs to have some camera shake when the player is hit.

This GDC video is worth watching; https://youtu.be/tu-Qe66AvtY

[2022-02-04 11:52] rvanner opened #1954 "Add spaces between DLUA variable names"
To make it easier to ready, add spaces between Dynamic LUA names.

[2022-02-04 12:02] LeeBamberTGC commented on #1872
@Necrym59 Added for this Friday's build, along with a small selection of ladder assets in the MAX Collection.  Suggest some debugging now to stop player disappearing under the terrain, and allow player to gracefully emerge from the top of the ladder onto a handy waiting ledge or platform.

@rvanner Any suggestions for the final text to be displayed when on the ladder?

[2022-02-04 12:38] plemsoft commented on #1865
@OldFlak Thanks , i was able to reproduce it and fixed it , ready from the next update :) , not sure if Lee will merge anymore today, but then in next weeks build.

[2022-02-04 12:50] AmenMoses commented on #1953
Already done all that in Cine|Guru btw.  That video was my inspiration (along with master film maker Avenging Eagle).

Word of warning though, do not use camera shake in VR!

[2022-02-04 12:51] dllllllllllb opened #1955 "Terrain Generator: Editable area indicator visual bug"
When you position your camera outside of the editable area and rotate it, certain angles will make solid lines that shoot off into the sky.

Example 1: https://gyazo.com/12badd2b756684bde1ceacfb6d9c702c
Example 2: https://gyazo.com/b45dcb6ea420b3f6dd62db3db60c4fb9

[2022-02-04 13:02] plemsoft commented on #1741
@UltraVox001 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-02-04 13:03] UltraVox001 commented on #1741
Ok thank you very much. :)

[2022-02-04 13:03] #1741 closed

[2022-02-04 13:13] plemsoft commented on #1649
@casigus Thanks for reporting this issue, we did some memory optimizing that i think will fix this issue for you , this will be available in this Fridays build , could you test it again and if it solves your problem , please close this issue , thanks :)

Also i see you have many "crassh" issues reported here, could you please also test if this Fridays build fix those issues i think they are relate

[2022-02-04 13:17] ZakJudges commented on #1269
@LeeBamberTGC See OldFlak's recent comment re the movement speed :)

[2022-02-04 13:35] ZakJudges opened #1956 "Character settings "Weapon" field not indented"
![Screenshot 2022-02-04 133341](https://user-images.githubusercontent.com/32545391/152537821-f6c71628-b154-410e-afdc-36cc2c56c42e.png)

[2022-02-04 13:37] plemsoft commented on #1438
@synchromesh62 Yes currently we do not added real-time reflection probes , but do have the ability to do this, i will mark it as a feature request for after EA :)

[2022-02-04 13:37] ZakJudges opened #1957 "When loading a new map, the terrain undo events are not cleared"

[2022-02-04 13:43] dllllllllllb opened #1958 "Level Editor: Objects spawn half way in the ground after adding a behaviour to them"
When you add a behaviour to an object it will spawn half way into the ground when you test the level. Even after the behaviour is removed from the object, the issue persists. Tweaking positioning settings doesn't fix it.
In the screenshots below, two barrels on the left have a rotating behaviour, third from the left has no behaviour attached and the barrel on the right had a behaviour attached to

[2022-02-04 13:49] plemsoft commented on #1437
Same: https://github.com/TheGameCreators/GameGuruRepo/issues/1857
Perhaps the same: https://github.com/TheGameCreators/GameGuruRepo/issues/1910

[2022-02-04 13:50] UltraVox001 commented on #1830
@plemsoft

I hope you are right.
Because it becomes urgent : [Urgent Light Issue Video](https://www.youtube.com/watch?v=i75Oq8Mkcjc).

[2022-02-04 13:51] plemsoft commented on #1424
@Kitakazi I think this was already fixed, could you try it in the latest version and let me know, thanks :)

[2022-02-04 13:53] #1649 closed

[2022-02-04 13:54] casigus commented on #1649
YASS tthe memory issue is long gone!! loving how fast things are! not had a single crash since last friday!! A happy bunny!!!

[2022-02-04 13:54] plemsoft commented on #1415
@Denis87z This was fixed a few versions back :)

[2022-02-04 13:54] #1415 closed

[2022-02-04 13:55] casigus commented on #1649
everythings running really well:

https://www.youtube.com/watch?v=FuhxZ5oKUvw

[2022-02-04 13:55] plemsoft commented on #1413
Minimap was replaced with other system.

[2022-02-04 13:55] #1413 closed

[2022-02-04 13:56] casigus opened #1959 "this happened...."
Loaded Max and this happened.....

https://www.youtube.com/watch?v=FuhxZ5oKUvw

[2022-02-04 13:59] plemsoft commented on #1385
This has already been fixed.

[2022-02-04 13:59] #1385 closed

[2022-02-04 14:04] plemsoft commented on #1261
@rvanner Don't think this is a issue anymore :)

[2022-02-04 14:11] plemsoft commented on #1207
@rvanner Cant reproduce here , old issue ?

[2022-02-04 14:12] #1261 closed

[2022-02-04 14:16] plemsoft commented on #1173
@3coms As i remember i already fixed this, could you try it in the latest and close this issue, if its not a problem anymore , Thanks for your help :)

[2022-02-04 14:21] plemsoft commented on #1163
@Kasseyus I remember this was fixed some time ago, could you give it another try in the latest build and let me know if this is still a issue , and close it of ok , Thanks for your help :)

[2022-02-04 14:24] plemsoft commented on #1161
@Kasseyus Thanks for reporting this issue, you need to double click the thumb and use the "Update Thumbnail" button :)

[2022-02-04 14:29] plemsoft commented on #879
We have a new terrain system now.

[2022-02-04 14:29] #879 closed

[2022-02-04 14:31] plemsoft commented on #873
@fearlesswee As i remember Lee already fixed this issue, could you test this in the latest version and close this issue if its already fixed , Thanks for your help :)

[2022-02-04 14:34] rvanner commented on #1207
Yes, fixed now.

[2022-02-04 14:34] #1207 closed

[2022-02-04 14:36] rvanner opened #1960 "If you click on a light object in the Level Editor, you see it change to a spot light for a brief second"
See this video;

https://youtu.be/sylJMIsg0ac

[2022-02-04 14:45] ArgentArts commented on #1959
GitHub is for reporting bugs and and making feature requests. Posts like this belong on the forum or Discord. Please don't spam Github with things like this.

[2022-02-04 14:54] #1957 closed

[2022-02-04 14:57] 3coms commented on #1173
Fixed and close, thanks. :)

[2022-02-04 14:57] #1173 closed

[2022-02-04 14:57] #1959 closed

[2022-02-04 15:22] casigus opened #1961 "Roads."
trying to place some roads and its causing the terrian to automaticly adjust under the road which I don't want it to do, this road is suppose to be a bridge and every ttime I try bridging the gap over the river, it just automaticly changes the terrain, is this a feature? and if so how do I turn it off?

[2022-02-04 15:22] casigus commented on #1961
![image](https://user-images.githubusercontent.com/68471279/152554834-e6e041b9-f99e-4f03-8971-fee9ddc19ccc.png)

[2022-02-04 15:40] #1907 closed

[2022-02-04 15:52] #1857 closed

[2022-02-04 15:55] synchromesh62 commented on #1961
Settings \ General \ Untick .. **auto-flatten terrain under large objects**  to turn it off completely
Or **autoflatten = 0**  in the .fpe for if you just want to turn off certain ones .

[2022-02-04 16:15] rvanner commented on #1643
@ArgentArts Can I close this please? This is an old issue.

[2022-02-04 16:18] rvanner opened #1962 "Force trees to be placed lower into the terrain to avoid their roots being exposed on steep slopes"

[2022-02-04 16:24] ArgentArts commented on #1643
Absolutely! :)

[2022-02-04 16:24] #1643 closed

[2022-02-04 16:30] #1962 closed

[2022-02-04 16:53] PaulSJ commented on #1910
Duplicate of #1437

[2022-02-04 16:53] #1910 closed

[2022-02-04 17:15] synchromesh62 opened #1963 "Zombies following flags issue"
I believe Zombies can or will follow flags when idle. ( which is awesome when it works )
Initially they stand there and do not wander the path
If they see you they will chase and return and then maybe patrol the flags
Or they return and bash the hell out of the flag :)

[2022-02-04 18:35] casigus commented on #1961
oh thank you!!!! :D :D

[2022-02-04 18:35] #1961 closed

[2022-02-04 19:05] Kitakazi commented on #1424
@plemsoft
I believe this is fixed. Closed.

[2022-02-04 19:05] #1424 closed

[2022-02-04 19:07] Kitakazi commented on #1336
This bug is mostly fixed. I still notice it happen when using an Entity from the man GameGuruMax folder and editing the material with textures from the GameGuruApps folder. But closing for now.

[2022-02-04 19:07] #1336 closed

[2022-02-04 19:07] #1376 closed

[2022-02-04 19:11] #1446 closed

[2022-02-04 19:17] UltraVox001 opened #1964 "Zone Audio issue"
I've been trying to get an Audio Zone to work for over an hour. It only worked once.
I changed the Behavior setting and presto, nothing.
![Sound](https://user-images.githubusercontent.com/96718175/152589594-4f78c7b3-a5fd-49c7-a786-5e51dde71899.jpg)
I tried on an almost blank map.
Same problem.
![Sound2](https://user-images.githubusercontent.com/96718175/152589610-2146c30c-746f-4a4c-8f17-017821341a

[2022-02-04 21:43] synchromesh62 opened #1965 "Editor light penetrates interiors"
As stated in the heading
Editor light penetrates and lights interiors.

[2022-02-04 22:24] 3coms opened #1966 "GGMax_2022_01_28 rendering wrongly X file [GGMax]"
I'm going to talk about a hypothetic scenario to describe the bug (if any)
**Note:** Don't want to discuss how a mesh should be set up in the 3ds soft before porting to GGMax, but just want to clarify which workflow in GGMax should be.

1- Modeled a bunker on 3ds max with let's say 100 walls, 100 planks (the floor), 100 planks (the roof)), total = 300 objects.
2- Group everything, and export it as

[2022-02-04 23:10] 3coms commented on #1966
The mesh works right using step 5. :)

![Bunker_Central_Hraulica_GGMax_2022_01_28_pic01](https://user-images.githubusercontent.com/47690174/152615108-dc8d3681-2ca5-4d27-978a-ae8930867727.png)

[2022-02-04 23:12] 3coms commented on #1966
Guys think not every user stuff is going to be just a rec house, more complex geometry might come, and GGMax should be ready to deal with, correctly. :)

[2022-02-04 23:32] Necrym59 commented on #1872
Updated script for graceful exit top and bottom plus jump off ladder using space.
change message now to "Press W = up S = down, A = Left D = right or Space to jump off ladder"
[ladder_v4.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8006811/ladder_v4.zip)

Unsure of falling physics in max yet to allocate damage from height off the ladder object perhaps Lee could adress it or imform me

[2022-02-04 23:36] Necrym59 commented on #1921
Heres an updated conveyor see how you go with this one. Added in auto run mode option plus craceful join or exit on conveyor in auto mode. Let me know how it goes
[conveyer_v2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8006827/conveyer_v2.zip)
.

[2022-02-05 00:45] fearlesswee commented on #1953
Would also be very important to have the camera shake optional, as well as have ways to either trigger camera shake without damaging the player, or damage the player without causing camera shake. (Since for example, in DK's game "Dark Skies" you start taking damage once your radiation meter is too high. It would be annoying to bar off this kind of logic from us if it were to unavoidably make your

[2022-02-05 00:47] fearlesswee commented on #873
@plemsoft Oh haha I forgot about this issue, yeah this has been fixed for quite some time now!

[2022-02-05 00:47] #873 closed

[2022-02-05 01:26] fearlesswee commented on #1927
@UltraVox001 The issue happens on a number of slopes, and from what I can tell it seems to be unrelated to physics or "getting stuck" as you can freely jump; which if the issue was getting "stuck" this should free you and return you to normal speed, instead the player still moves at the same slow crawl mid-air. This all leads me to believe it must be some internal speed calculation based on slope

[2022-02-05 03:45] UltraVox001 commented on #1927
@fearlesswee
Yes. This has happened to me before too :
- on the terrain (with nothing around)
- on an imported object
- on an object from Max with modified collisions.
We are like in a slow motion action. It is extremely unpleasant. This problem is difficult to reproduce, because the problem disappears at the next TestLevel. Then he reappears.

[2022-02-05 04:25] UltraVox001 commented on #1872
Your script has been integrated into Max's version for this Friday. I am delighted !
![Ladder](https://user-images.githubusercontent.com/96718175/152628504-8a1057e0-ddbb-46a3-9c28-8eb93d73613b.jpg)
They have also integrated 12 good quality Ladders, to which your script is auto-assigned. :)
![MaxLadders](https://user-images.githubusercontent.com/96718175/152628509-26a27fc6-5a04-46c1-b1c3-b5c6e37387

[2022-02-05 04:40] UltraVox001 commented on #1872
The current problem of the script (in version Max as in version 4) is that the player loses his collisions and obtains the ability to pass through matter. Like in this video : [https://www.youtube.com/watch?v=vaUfhA2dGLI](https://www.youtube.com/watch?v=vaUfhA2dGLI)

The script should be oriented only on the front face of the object it is assigned to, so that it corresponds to a Ladder. Ideally, a

[2022-02-05 04:58] UltraVox001 commented on #1921
I really enjoyed this version of the Conveyor.
This automatic exit works with the direction of the Player's camera. It's excellent !
Have you considered using your Conveyor with Flags ? (optional)

[2022-02-05 05:05] UltraVox001 commented on #1921
Have you tried to drop 3 conveyors (or +) on the ground, in auto mode and in 3 different directions ?
Frankly, it's fun and it opens up perspectives. :)

[2022-02-05 07:07] Necrym59 commented on #1872
Fixed , just ensure the setting for the object are corrrect.
Set ladder objects to defaultstatic=0, collisionmode=0 or 1 in the fpe and turn gravity,friction and weight OFF. Turn Static mode to Physics ON. Then they all work nicely. Not sure if there are commands to set this automatically somehow in the physics lib ill check later.  Try this and let me know it should be better.
[Ladder_v5.zip](htt

[2022-02-05 07:10] Necrym59 commented on #1872
I am working on a climber script almost the same but you place a semi transparent placeholder wherever you want for climbing then the placeholder gets hidden when you run the game. Nice for setting up cliff faces etc. (stole the idea from you Ultra.)

[2022-02-05 07:15] Necrym59 commented on #1921
Lol no havent played too much ill give it a go glad you enjoyed it. Havent got to the flags part yet thats gonna be a bit hairy with behaviors in flux and all but ill give it a shot. Also i will relook at the elevator soon after playing with the conveyor have an idea for a muti floor stop elevator.

[2022-02-05 07:25] Necrym59 commented on #1817
Storyboard Level screenshyot thumbnails work perfectly now. Just the other screen thumbnail problem needs to be fixed now as in  https://github.com/TheGameCreators/GameGuruRepo/issues/1668
Cheers on the great work.

[2022-02-05 07:25] UltraVox001 commented on #1872
I can't get it to work. I tried what you told me, but nothing happened. It's as if there was no Behavior.
I tried changing all settings : Physics, Collision, Weight, Friction. Without success.

I'm happy for the climbing. :) And no, you didn't "stole" anything.
We are here to improve things and allow new possibilities. :)

[2022-02-05 07:29] UltraVox001 commented on #1921
Excellent. :) I thought about it from day one, but I didn't want to impose work on you.

[2022-02-05 07:42] UltraVox001 commented on #1921
With several Conveyors on the ground. When you leave a conveyor and move away from it, the message at the bottom of the screen remains displayed, even if you are far from all the conveyors. This is the reason why I am "teleported" on the first conveyor used, even when I use another one.

You should try to display this message only when the camera is pointing downwards. Or, force the message to cle

[2022-02-05 07:50] Necrym59 commented on #1921
I will have a look the teleportation issue seems to be MAX not releasing a used 'e' object when you use another object it still retains the previous one regardless if its a handgrenade or another object, i cant seem to see how to clear it from memory i will have another look maybe someone could give us a hint or perhaps its a bug.

[2022-02-05 08:01] Necrym59 commented on #1872
These are the setting i used
1st in main setting 2nd on dev settings although i dont know why these setting are placed in devs settings
![Ladder_Settings1](https://user-images.githubusercontent.com/95015657/152633786-5b0d5f2b-4e9d-4741-8680-266041e7382f.jpg)
![Ladder_Settings2](https://user-images.githubusercontent.com/95015657/152633791-bd86948d-5c86-4816-8dce-2823172e8031.jpg)

[2022-02-05 08:17] UltraVox001 commented on #1872
I have the same settings, but nothing happens.
![1](https://user-images.githubusercontent.com/96718175/152634243-c5daadb7-a232-49be-b983-5f6824a2b90c.png)
![2](https://user-images.githubusercontent.com/96718175/152634244-015d2efe-1f7e-4a68-a173-9325bc664b63.png)
This version of the script uses a local resource ?
Here is my map.
[ElevConv.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8

[2022-02-05 08:27] Necrym59 commented on #1872
I just re applied the behavior and it works perfectly

[2022-02-05 08:32] UltraVox001 commented on #1872
It works with Max's behavior. When I put yours on, nothing happens.
Are you sure you sent me the correct version of the v5 behavior ?

[2022-02-05 08:37] Necrym59 commented on #1872
Ill check -- ill be back!

[2022-02-05 09:21] Necrym59 commented on #1872
Sorry my bad heres the correct V5
[ladder_V5.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8007702/ladder_V5.zip)

[2022-02-05 09:28] UltraVox001 commented on #1872
Yes, it works right away. :) But I don't know what you fixed.
I go behind the ladder again, and I find myself inside the walls. Like in my video.

[2022-02-05 10:07] OldFlak commented on #1833
Yes also experiencing player movement issues
- for me it is everywhere: models, terrain, coming out of water, flat, hilly, walking, running.
- half the time it feels like the player is jogging on the spot and getting pushed along by grandma

We have had similar for a while now but usually it was spasmodic - in build 2022.02.04 is constant

I does not appear to be an issue on flat (empty) levels wi

[2022-02-05 10:15] #1143 closed

[2022-02-05 10:18] #695 closed

[2022-02-05 10:18] OldFlak opened #1967 "MAX - 2022.02.04 - Terrain Texture Stretch"
Textures get stretched making for poor visuals - happens often over levels
Some stock textures look so stretched you would think the terrain is not PBR at all

This is a custom texture but get the same with stock media as well:
![image](https://user-images.githubusercontent.com/12246318/152638010-2340fff1-1428-465e-b0b1-cce76fc90277.png)

Same texture looking the way it should:
![image](https://us

[2022-02-05 11:59] ArgentArts opened #1968 "GameGuru MAX - Enable Grid Mode - Should Be Able to Enable BEFORE Placing Entities"
Currently, if you have nothing selected in MAX, you cannot get to and Enable Grid Mode. This means you need to first select something and go to place it in the viewport BEFORE you can enable it, even if other things are currently in the viewport (if you've had it turned off previously). A setting like Enable Grid Mode should not be dependent on having anything selected at all, but should be someth

[2022-02-05 15:02] PaulFox12 opened #1969 "GGMAX 2022-02-04 AI weapons floating in air"
AI weapons float in the air after the character dies in the latest build, tried this with multiple characters and weapons.

![AI guns floating](https://user-images.githubusercontent.com/78652980/152647184-87ffcf60-9dd4-4651-8b60-dfcd270eba5c.png)

[2022-02-05 16:04] UltraVox001 commented on #1921
I don't have that problem with weapons. The text disappears as soon as I move away from a weapon, or as soon as I pick up the weapon.

[2022-02-05 16:23] Necrym59 commented on #1872
Some ladders like the metal one have fixings giving a greater depth i didnt account for this should fix it now i have an auto check for object depth.
[ladder_v6.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8008360/ladder_v6.zip)

[2022-02-05 17:11] #1965 closed

[2022-02-05 17:59] Necrym59 opened #1970 "GGMAX Enhancment - Generic Climbing"
Attached is version 1 of a generic climbing script plus editor placeholder object.
Object will turn invisible in game.
[climber_v1.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8008533/climber_v1.zip)

[2022-02-05 18:00] Necrym59 commented on #1872
Also see https://github.com/TheGameCreators/GameGuruRepo/issues/1970 for you to look at

[2022-02-05 18:33] Necrym59 commented on #1921
Fixed text problem
[conveyer_v3.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8008631/conveyer_v3.zip)

[2022-02-05 18:35] UltraVox001 commented on #1970
Works very well. :)
I don't see the difference with Ladder. It's an invisible ladder, like when I set Material Alpha Cliping to 0 on a Ladder.

Good game. :)

[2022-02-05 18:50] UltraVox001 commented on #1921
Yes, the text and teleportation are solved, well done. :)

It does not solve the problem of multiple conveyors. I have 3 on the floor. Activating the second causes the first to react, because I used it first. There is still this memory problem that Max absolutely wants to use.

I would almost believe that I have to rename 3 scripts with different names to use 3 conveyors in the same map.

[2022-02-05 18:51] UltraVox001 commented on #1872
Everything works, well done! :)

[2022-02-05 19:02] ivanski1983 opened #1971 "Zones need height limit"
I can place a text zone or win zone and if I'm on another floor it triggers it...

example:
https://youtu.be/n7u5RpPyOu8

text zone placed on ground and it triggers on all floors

[2022-02-05 19:09] Necrym59 commented on #1970
Yes it essentially the same but nicer to use in the editor (for those not yet used to such things ie: dummies lol) MAX may like the idea they want it easy for people. works great on cliffs etc.

[2022-02-05 19:11] 3coms commented on #1966
Meshes really bad textured, it may be related with or does not, look for yourself

![Horrible_textured_Mesh_GGMax_2022_01_28_pic01](https://user-images.githubusercontent.com/47690174/152655469-61a7ceae-713a-42fe-b59b-bfe41b2d0927.png)

compare the texture with the final result, has nothing to do.

[2022-02-05 19:11] Necrym59 commented on #1921
Yeah its odd you may have to bring it up with Lee, unless im doing somthing stupidly wrong. Id like to know.

[2022-02-05 19:14] UltraVox001 commented on #1970
For the moment I tried with a wall placed at the bottom of a cliff. But this cliff is rocky, with shapes that the wall cannot match. Surely several walls are needed to adapt to the "terrain".

[2022-02-05 19:14] Necrym59 commented on #1872
do you tell them to update the script for next release?

[2022-02-05 19:16] 3coms commented on #1966
Same X mesh on 3ds max

![mesh_3ds max_pic01](https://user-images.githubusercontent.com/47690174/152655671-4c4adbc3-c8b9-46ab-a345-60004637fb5c.png)

[2022-02-05 19:16] Necrym59 commented on #1970
have you tried several wall one after another

[2022-02-05 19:19] UltraVox001 commented on #1872
Yes, count on me.
I will propose the new V6 version to @LeeBamberTGC and @rvanner, for an update in Max.
This version is really better than the previous ones.

[2022-02-05 19:23] UltraVox001 commented on #1970
Your script will erase it :)
With Ladder script, maybe... But I don't think Ladder script reacts well to multiple rock shapes.
You have to try with several walls but that doesn't make it easy when you have "climbable" mountains everywhere.

[2022-02-05 19:25] UltraVox001 commented on #1970
I think if the script needs to repeat on multiple walls, the text at the bottom of the screen should be optional.

[2022-02-05 19:28] UltraVox001 commented on #1921
No, it doesn't change anything.

[2022-02-05 19:30] UltraVox001 commented on #1971
Yes, it's the same problem with Audio Zones (when they work...).

[2022-02-05 19:41] AmenMoses commented on #1970
Why require libraries if you aren't using them?

[2022-02-05 19:50] UltraVox001 commented on #1970
It is true that the appearance of the object does not change in the editor, even after pasting the Behavior to it.
The climber_placeholder.dds image does not appear anywhere.

[2022-02-05 19:55] Necrym59 commented on #1970
bah forgot about the libraries bit have to delete them lol out was using them for script testing stuff

[2022-02-05 19:59] Necrym59 commented on #1970
It is true that the appearance of the object does not change in the editor, even after pasting the Behavior to it.
The climber_placeholder.dds image does not appear anywhere.

umm you lost me a bit what do you mean climber_placeholder.dds image is only the placeholders object image

[2022-02-05 20:03] UltraVox001 commented on #1970
I don't understand the usefulness of the climber_placeholder.dds image.
I thought this image was going to appear somewhere.

[2022-02-05 20:08] Necrym59 commented on #1970
only for seeing positional purposes in the editor

[2022-02-05 20:13] 3coms opened #1972 "Weapons stop shooting_GGMax_2022_01_28 [GGMax]"
Weapons stop firing before the magazine is completely empty.
And even when re-load level to test mode, it keeps without firing till you reload it.

assault_rifle

![assault_rifle_stop_shooting12_GGMax_2022_01_28_pic02](https://user-images.githubusercontent.com/47690174/152657298-a2969493-1df4-4af5-9b00-87a3dc841cf3.png)

gun_machine

![gun_machine_stop_shooting32_GGMax_2022_01_28_pic01](https://us

[2022-02-05 20:14] UltraVox001 commented on #1970
Hmm, then I must have made a mistake. In the editor I see my object to climb. But shouldn't I also see this image on top of this object, in the editor?

[2022-02-05 20:26] Necrym59 commented on #1970
you should have somthing like this in yourb editor
![editor](https://user-images.githubusercontent.com/95015657/152657752-cc29e910-4246-4b9a-9ca8-14fd60808e89.jpg)

[2022-02-05 20:34] UltraVox001 commented on #1970
No I have nothing but my object. I think the "climber" folder is misplaced in my architecture.

You say put it in entitybank.
I tried :
- Documents\GameGuruApps\GameGuruMAX\Files\entitybank\
- Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user
- C:\Program Files (x86)\GameGuru Max\Max\Files\entitybank

But nothing appears as in your image.

[2022-02-05 20:37] Necrym59 commented on #1970
Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user\climber is where i have mine

[2022-02-05 20:45] UltraVox001 commented on #1970
Yes, that is precisely where it is. Weird.
![c1](https://user-images.githubusercontent.com/96718175/152658370-b30d3b49-1ced-4e47-b98f-59ceef86a894.jpg)
![c2](https://user-images.githubusercontent.com/96718175/152658372-2b732b69-f2dd-4572-a8a1-40ab2040c995.png)

[2022-02-05 20:47] dennimoto opened #1973 "GGMAX Footfall SFX"
Footfall SFX in MAX seems to be half speed or slower and sometimes nonexistent.
[https://youtu.be/3_B0cM8v-ps](https://youtu.be/3_B0cM8v-ps)

[2022-02-05 20:55] Necrym59 commented on #1970
might be a transarency issue try turning it off in materials section

[2022-02-05 21:01] UltraVox001 commented on #1970
Transparency is disabled. I turned it on and then off, but nothing more.
This image does not display on any other object. I tried several walls.
Another mystery that will take me 2 days to realize that it's just stupidity :D

No, the cliff is not part of Max. I took the first "Rock" I found. It's an old thing, probably from the days of Reloaded. But it's a detail. With or without a cliff, I'm supp

[2022-02-05 21:07] Necrym59 commented on #1970
well just pu any old image on it for positional puposes until you find out meanwhile im doing rock climbing
![rock_climbing](https://user-images.githubusercontent.com/95015657/152659080-7274fc86-30d4-4970-b773-00f26a4c9f6a.jpg)

[2022-02-05 21:13] Necrym59 commented on #1970
Just in case its corrupted here is the image im using
[climber_placeholder -Image.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8008930/climber_placeholder.-Image.zip)

[2022-02-05 21:15] AmenMoses commented on #1972
It's intentional, i.e. a misfire or blockage.

There is a gunspec file setting for it IIRC.

[2022-02-05 21:17] Necrym59 commented on #1970
LOL you have nearly as many assetts as me

[2022-02-05 21:23] UltraVox001 commented on #1970
Even the script doesn't work anymore.
I'm tired with this.
I will start again tomorrow morning. :)

[2022-02-05 21:37] Necrym59 commented on #1970
Yes i find removing stuff and restarting max clears it cacheSent on the go with Vodafone
-------- Original message --------From: UltraVox ***@***.***> Date: 6/2/22  8:23 am  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Author ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GGMAX Enhancment - Generic Climbing (Issue #1970)
Even the script doesn't wor

[2022-02-06 01:42] 3coms commented on #1972
@AmenMoses
Thanks for clarifying, have no idea about it, does no use dealing with guns, but now need to break something ;)

[2022-02-06 01:43] #1972 closed

[2022-02-06 02:09] OldFlak opened #1974 "MAX - 2022.02.04 - Editor Not Retaining Tree and Grass Settings"
MAX does not remember settings for Trees and Grass
- I think the editor should load each level with the last used settings when level was saved

**Example Trees:**
Saved level with these settings
![UI Settings - Saved](https://user-images.githubusercontent.com/12246318/152665252-af99b7e7-6c2f-43c8-981f-9b5e025c196c.png)

When loading level it has these settings
![UI Settings - Load](https://user-i

[2022-02-06 03:32] Necrym59 commented on #1872
Heres is the correct version 6 for updating for MAX - just tidied up some code.
[ladder_v6.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8009354/ladder_v6.zip)

[2022-02-06 05:54] UltraVox001 commented on #1970
I started all over again this morning. I still don't see a picture.
I'm lost... There's something I'm missing!
Here is my map : [Climb.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8009510/Climb.zip)

[2022-02-06 06:11] Necrym59 commented on #1970
see what you get here - screen shot it
[Climbupdated.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8009535/Climbupdated.zip)

[2022-02-06 06:18] UltraVox001 commented on #1970
It works ! What is my mistake ?
![c1](https://user-images.githubusercontent.com/96718175/152669905-849b55e3-2b53-40df-a4d2-fc8e0b8e42a5.jpg)

[2022-02-06 06:29] Necrym59 commented on #1970
not sure you selected or added the the placement object into your object list you select it like any object

[2022-02-06 06:39] UltraVox001 commented on #1970
Yes, because I have no other choice!
I have to start by adding the blue wall to stick your Behavior to it.
But once it's done, I don't have access to the Placement object.
![c1](https://user-images.githubusercontent.com/96718175/152670332-ffb91946-b1d1-4d2b-b6c4-c17beacb0a33.jpg)
So, where is he ?
How to select it ?

[2022-02-06 06:39] Necrym59 commented on #1970
really goo for unusual situations like climbing down a well or climbing an encased or covered ladder thats part of a model or mineshafts etc

[2022-02-06 06:40] Necrym59 commented on #1970
just select add then look in user then in climber folder

[2022-02-06 06:44] Necrym59 commented on #1970
just add it to the map like any object (like you would a ladder)

[2022-02-06 06:48] UltraVox001 commented on #1970
Okay ! So I no longer need the wall, only the placement object. Here's what I didn't understand. :) I didn't risk seeing your image appearing instead of the wall, because I didn't know that you had to go and find another object (the placement object). I thought the wall would (visually) turn into a placement object :)

Well, it works fine now :)
Thanks for the explanation.

[2022-02-06 06:50] Necrym59 commented on #1970
no problems sorry, i should have put some instructs in if it get put in official Max then the scripts and objects would be easily available (no hunting for it)

[2022-02-06 06:52] UltraVox001 commented on #1970
I just have to reassign the Behavior to the placement object, because it's the wrong one, by default.
Other than that, it works perfectly. :)
![c1](https://user-images.githubusercontent.com/96718175/152670664-9307d8f1-b5ec-479e-825b-972efe5fb536.jpg)

[2022-02-06 06:53] Necrym59 commented on #1970
great have fun with it

[2022-02-06 07:03] UltraVox001 commented on #1970
Yes, I'm already having fun with it. :)

As I told you yesterday, it took me 2 days to realize that it was nothing :) If I don't know the exact procedure, I'm not likely to understand. :) And so, I expect a result that will never happen. :)

In your .zip, you should just put the "climber" directory in entitybank/user (to avoid rookie mistakes and possible disappearance of the script). And add a si

[2022-02-06 07:11] UltraVox001 commented on #1970
It's strange. I changed the width of the placement object because the wall is wide. And now it doesn't work anymore. So, I deleted it from the map, then re-selected the placement object in the object list. It appears on the map with its original size. Very well. But it no longer works. I think he doesn't like Scale's changes.

[2022-02-06 07:13] Necrym59 commented on #1970
Make sure the front is facing you on the object
As for the install, sorry it was defaulted to max directory structure not user folder in docs.
If they put it in the object would be placed in the GameGuruMAX\Max\Files\entitybank\Max Collection\Climber folder and the script will go to the GameGuruMAX\Max\Files\scriptbank\objects\folder

[2022-02-06 07:16] UltraVox001 commented on #1970
He is Front.
I only modified the Scalling.
![c1](https://user-images.githubusercontent.com/96718175/152671218-8fa13ab5-5378-44d4-9ee2-032fd2c3f9a4.jpg)

[2022-02-06 07:17] Necrym59 commented on #1970
should be ok reapply the script incase its cached wrong

[2022-02-06 07:21] UltraVox001 commented on #1970
Max doesn't want to know anything.
Reassigning the script, Save, then Close, Reopen, always the same.
Can you test the map ?
[Climb.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8009647/Climb.zip)

[2022-02-06 08:06] Necrym59 commented on #1970
Tried yours it failed time and tima again, have no idea why, just made another map and its fine.
[Climb2.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8009719/Climb2.zip)
simple way out of thi is
ensure your placeholder files are in
Documents\GameGuruApps\GameGuruMAX\Files\entitybank\user\climber - 4 files in here
and your script is here
\Documents\GameGuruApps\GameGuruMAX\Files\scrip

[2022-02-06 09:11] UltraVox001 commented on #1970
Yes it works, even after changing the Scaling. I don't know why it's not working on my map.
I confirm on all the files are in the right place. Without it, it would never have worked before.

[2022-02-06 14:17] sirlion87 opened #1975 "GGMAX - Fade In \ Fade Out \ Fade From entity"
This is a very simple suggestion that I believe is crucial in modern gaming especially if a developer wants to create a more cinematic experience. So far there is no way to easily make fade in\out\from a solid colour, for example transitioning from in-game action to a cutscene or viceversa, or simulate a flashbang going off etc. Games as old as time itself such as Half Life or Quake implemented su

[2022-02-06 17:45] Necrym59 commented on #1970
I have no idea, maybe that map got corrupted or somthing.

[2022-02-06 17:59] Necrym59 opened #1976 "GGMAX - Shadow Issue"
Shadows are not being applied properly on some objects, namley in this example the desert cliffs opened/single sided vector objects
![shadows](https://user-images.githubusercontent.com/95015657/152694485-6c4bbf54-1e0f-4ea3-81cb-76f1e1a58beb.jpg)
.

[2022-02-06 18:06] Necrym59 commented on #1968
Agreed it should be a on/off keystroke, also it would be nice to have a view of the grid in the editor view options to i think.

[2022-02-06 20:50] synchromesh62 opened #1977 "Pickup script Not working correctly"
As the heading states Pickup script Not working correctly
Items seem to sink into the ground and will not raise above floor level.
Tried all the settings with no success.

[2022-02-06 21:08] Necrym59 opened #1978 "GGMAX - Imported Character Behaviour"
This attached character animates/reacts properly with behaviours but will not move from its placed position and i cant find any reason for it.
[Terrorist.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8011231/Terrorist.zip)

[2022-02-06 21:39] Necrym59 commented on #1970
Heres an easier/cleaner method
rename the climber in your entitybank to _markers
thats it now restart max
now when you want one in the editor just select it from the Game Elements section.

[2022-02-06 22:38] OldFlak opened #1979 "MAX - 2022.02.04 - Editor vs Test Game vs Standalone - Trees"
I wonder if this issue is related to show\hide trees option in the editor?

**Issue:**
This shot is in the Editor - note there are no trees over water and if you look around the bank there are not many trees either

![Trees 01 - Editor](https://user-images.githubusercontent.com/12246318/152704472-c8cfffa2-ddc9-4b63-ac61-2bb422d26df6.png)

This is in Test-Game - note there are trees over water, and

[2022-02-06 22:50] OldFlak opened #1980 "MAX - 2022.02.04 - Test Game vs Standalone - Airborne Grass and Trees"
Grass and trees being airborne are prevalent in this build as likely reported already.
Interestingly the issue is much less severe or not even present in Standalone builds.

Here is one spot in test-game - grass and trees up in air

![TGvsEX - Grass Trees - Test-Game](https://user-images.githubusercontent.com/12246318/152704628-2e49eabb-d6ec-4446-b587-2eea226c93bb.png)

Here it is the same locatio

[2022-02-06 22:55] OldFlak opened #1981 "MAX - 2022.02.04 - Test Game vs Standalone - Lighting"
Lighting is better in Standalone:

In this building note the lighting - how the center support frame with the fans has outside influence:

![TGvsEX - Interior Lighting - Test Game](https://user-images.githubusercontent.com/12246318/152704996-68b6fe4b-30bf-492b-b2bc-5d4077234a3c.png)

This is how it looks in Standalone - nice!

![TGvsEX - Interior Lighting - Standalone](https://user-images.githubus

[2022-02-06 22:58] OldFlak opened #1982 "MAX - 2022.02.04 - Terrain Shadows"
Perhaps we need control over distant shadows on terrain - they just don't look like shadows

![image](https://user-images.githubusercontent.com/12246318/152705098-f5332e16-aa68-4283-b9cf-e57b125197bf.png)

[2022-02-06 23:02] OldFlak opened #1983 "Suggest better terrain blending for less-ruined look"
Textures do not blend very well

![Textures Do Not Blend Very Well](https://user-images.githubusercontent.com/12246318/152705216-19fb6fbe-c622-4a4f-be73-341d23a913a6.png)

[2022-02-06 23:17] OldFlak commented on #1936
FYI - this issue is noticeable with very little fog as well, but fog makes it very obvious..

[2022-02-06 23:35] OldFlak opened #1984 "MAX - 2022.02.04 - UI Layout In A Muddle"
I get the whole make it *New User Friendly* idea, but is it not creating an inconsistent UI layout with unnecessary clutter, scrolling, and clicking?

For example - unnecessary clutter in places where it can be avoided.

![01 - UI Mess](https://user-images.githubusercontent.com/12246318/152706145-8b5f5d31-1a1b-4f34-ad71-e73566979226.png)

Also controls being place inconsistently just creates confu

[2022-02-07 01:54] Necrym59 commented on #1921
Elevator Update
Now has a mid floor height option.
[Elevator_v9.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8011787/Elevator_v9.zip)

[2022-02-07 07:10] UltraVox001 commented on #1921
Tested this morning. This stuff is going to be great. :)
Set to :
400
200
80
All is well on the way up, until the Elevator drops all the way down.
Once at the bottom, he doesn't want to go back up.
Sound plays, but Elevator does not go up.

[2022-02-07 07:12] UltraVox001 commented on #1970
Done. :)

[2022-02-07 07:34] Necrym59 commented on #1921
Sorry my bad - one misplaced comma. Version 10 attached
[Elevator_v10.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8013170/Elevator_v10.zip)

[2022-02-07 07:36] Necrym59 commented on #1970
When I thnk about it now its actually a placement marker anyway.

[2022-02-07 07:43] UltraVox001 commented on #1921
I just tested. It works very well. :)
I even tried with a single floor.
400
400
80
Where I expected to find a bug, there is none. ;)
Well done. :)

[2022-02-07 08:17] UltraVox001 commented on #1978
There are several animations that cause problems in the importer. Selecting them unchecks the "Animate Preview" box. They are like blocked. You cannot play multiple animations. The problem could come from there.

[2022-02-07 08:24] Necrym59 commented on #1978
Dunno its strange im not expert on aniamated things its weird its animations all work he runs, reacts walks etc as he is supposed to but just does it on the one spot paerhaps one of the animation experts may discover what causes it.

[2022-02-07 08:28] UltraVox001 commented on #1978
In the importer ?
For me, the first 3 or 4 work. Not the others.
I think there are several things to improve in this importer. It is far from operational.

[2022-02-07 08:37] Necrym59 commented on #1978
Try the sample i put up in gam and youll see what i meanSent on the go with Vodafone
-------- Original message --------From: UltraVox ***@***.***> Date: 7/2/22  7:28 pm  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Author ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GGMAX - Imported Character Behaviour (Issue #1978)
In the importer ?
For me, the

[2022-02-07 08:52] UltraVox001 commented on #1978
He is completely motionless.

[2022-02-07 09:03] plemsoft commented on #1952
@rvanner When we select a random time of day, we display the random selected time in this drop down, it cant display "Randomize" and also the random selected time , should i add a checkbox above it instead "Randomize Time of Day" ?

[2022-02-07 09:17] Necrym59 commented on #1978
Attach character attack brhaviourSent on the go with Vodafone
-------- Original message --------From: UltraVox ***@***.***> Date: 7/2/22  7:52 pm  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Author ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GGMAX - Imported Character Behaviour (Issue #1978)
He is completely motionless.

—Reply to this email di

[2022-02-07 09:56] UltraVox001 commented on #1978
It was already done. He's not moving. Surely something to do in the importer, and that I do not like you. To begin with, Character Settings are missing for this character (in Max).
![CharacterSettings](https://user-images.githubusercontent.com/96718175/152765688-8831b884-0d8b-475e-b8cb-57b00ae4d223.png)
So I can't make it an enemy, or change its life points. I restarted 3 times.
I'm no expert on a

[2022-02-07 11:21] LeeBamberTGC commented on #1933
I suspect this is model related as I cannot reproduce when importing stock assets. Can you email me the model, thanks!

[2022-02-07 11:22] ZakJudges opened #1985 "Memory not freed after creating new level"
- Create a new project
- Create new level and bring up terrain generator
- Exit back to storyboard without generating terrain
- Repeat a few times
- Note the memory used increases every time you start the terrain generator

I did this 6 times and ended up using over 6GB of memory
![Screenshot 2022-02-07 112042](https://user-images.githubusercontent.com/32545391/152778906-ac992498-21c1-45b6-9b00-2a

[2022-02-07 11:31] ZakJudges commented on #1539
@LeeBamberTGC  Would this one overlap with work that Maciej is doing at the moment? If so I can assign it to him :)

[2022-02-07 11:32] dllllllllllb opened #1986 "AI / Trigger Zones - Alerted Enemies Reset"
When you walk over a trigger zone while enemies connected to that zone are dead, they will respawn and I think their stats(like Health) are reset as well.
Video: https://www.youtube.com/watch?v=JjV5MIvNf0g

The same thing happens when the enemies are connected to alert each other when they see the player.
Every time the player goes into hiding and enemies spot the player again, enemies health rese

[2022-02-07 11:40] LeeBamberTGC commented on #1872
This weeks build will have the latest V6 ladder logic and updated ladder assets.

[2022-02-07 11:47] dllllllllllb opened #1987 "Machine Gun Ammo In Stand-Alone Game"
"Machine Gun Ammo" doesn't replenish Sub Machine Guns ammunition in Stand-Alone Game.

[2022-02-07 11:48] LeeBamberTGC commented on #1539
@ZakJudges Yes anything weapons-related can be assigned to @dllllllllllb (Maciej), and I will help things along as needed

[2022-02-07 11:50] ZakJudges commented on #1539
@dllllllllllb Steps to reproduce:
- throw a bunch of grenades in test level
- go back to editor
- there is usually one or two smoke effects still visible

[2022-02-07 12:08] UltraVox001 commented on #1985
@ZakJudges
I can't find the option to show these stats in Max.
Is it an external program ?

[2022-02-07 12:20] PaulSJ commented on #1982
I've not seen anything like that happen here, can you give some more details on how to reproduce it?

[2022-02-07 13:11] OldFlak commented on #1982
Hmm I have seen it ever since terrain was introduced. I can send a link to a demo level if it will help.

[2022-02-07 13:20] UltraVox001 commented on #1985
It's ok thank you :)

[2022-02-07 13:49] #1865 closed

[2022-02-07 13:59] dllllllllllb opened #1988 "Terrain Tools - Tree Palette Doesn't Display Trees"
Trees don't show up in the palette.
https://gyazo.com/a49f7b121c04941e33e3b20444e96c29

[2022-02-07 14:08] dllllllllllb commented on #1977
Duplicated Issue: https://github.com/TheGameCreators/GameGuruRepo/issues/1958

[2022-02-07 14:08] #1977 closed

[2022-02-07 14:08] PaulSJ commented on #1982
Yes please

[2022-02-07 14:45] #1835 closed

[2022-02-07 14:46] #1821 closed

[2022-02-07 14:48] #1645 closed

[2022-02-07 14:56] plemsoft commented on #1984
@[rvanner](https://github.com/rvanner) FYI: new design ?

[2022-02-07 14:56] plemsoft commented on #1960
@rvanner Thanks for reporting this issue, this has been fixed and will be in the next build :)

[2022-02-07 14:57] plemsoft commented on #1951
@rvanner Thanks for reporting this issue, this has been fixed and will be in the next build :)

[2022-02-07 14:57] plemsoft commented on #1950
@rvanner Thanks for reporting this issue, this has been fixed and will be in the next build :)

[2022-02-07 14:58] plemsoft commented on #1948
@rvanner Thanks for reporting this issue, this has been fixed and will be in the next build :)

[2022-02-07 15:45] #1614 closed

[2022-02-07 15:55] #1520 closed

[2022-02-07 15:58] UltraVox001 commented on #1985
Here I just opened a project that contains a map. But I did not load the map.
![OpenProject](https://user-images.githubusercontent.com/96718175/152824138-406d9a09-64fa-4cc6-b3e6-fe1e287e33d1.png)

[2022-02-07 16:04] #1483 closed

[2022-02-07 16:13] #1481 closed, assigned to LeeBamberTGC

[2022-02-07 16:26] #1467 closed

[2022-02-07 18:12] LeeBamberTGC commented on #1908
@rvanner New Wicked Engine system does not allow reticles as extensions to the weapon off into the scene. If a crosshair is essential, do it like the other weapons with the sight on the weapon itself.

[2022-02-07 18:17] LeeBamberTGC commented on #1949
@rvanner New build for this evening will have additional functionality to set objects to render anywhere despite the depth buffer preventing it. Weapons no longer insert into walls and trees, and @plemsoft can set the terrain generator marker so you always see it (see function called WickedCall_SetObjectDisableDepth)

[2022-02-07 18:24] #1251 closed

[2022-02-07 18:27] #1250 closed

[2022-02-07 18:29] LeeBamberTGC commented on #1984
@rvanner The behavior tab ONLY includes parameters given by the behavior script LUA file. The palette and sliders for range are more akin to the grass and terrain textures UI design. I agree there might be an advanced layout option which can reduce the real estate for established and experienced MAX users.  One for the list perhaps.

[2022-02-07 18:32] #1256 closed

[2022-02-07 18:32] LeeBamberTGC opened #1989 "Reduce shadow memory usage for MEDIUM and LOW graphics settings"
If confirmed the shadows are taking 800+MB, reduce the resolution the shadows use for MEDIUM and LOW settings when set from the SETTINGS and from the in-game menu.

[2022-02-07 18:32] #1306 closed

[2022-02-07 18:36] #1311 closed

[2022-02-07 18:37] #1378 closed

[2022-02-07 18:37] #1450 closed

[2022-02-07 18:38] #1491 closed

[2022-02-07 18:38] #1342 closed

[2022-02-07 18:38] #1492 closed

[2022-02-07 18:38] #1499 closed, assigned to LeeBamberTGC

[2022-02-07 18:39] #1759 closed

[2022-02-07 18:45] #1819 closed

[2022-02-07 18:46] #1658 closed

[2022-02-07 18:46] #1824 closed

[2022-02-07 18:48] #1898 closed

[2022-02-07 18:50] #1899 closed

[2022-02-07 18:53] #1900 closed

[2022-02-07 19:58] Necrym59 commented on #1660
I think this one is essentially fixed isnt it

[2022-02-07 20:31] Necrym59 commented on #1986
Now thats a bug that could be made into a Respawn Zone feature Lee.

[2022-02-07 21:01] OldFlak commented on #1982
Hi Paul - where to send link :)

[2022-02-07 22:17] OldFlak commented on #1984
Thanks for considering :)

[2022-02-07 22:28] OldFlak commented on #1865
I be confident Preben has fixed the issue, but have not been able to test and confirm this is fixed or not.
Checked for updates but not seeing any?

[2022-02-08 01:04] PaulSJ commented on #1982
@OldFlak paul@thegamecreators.com

[2022-02-08 06:53] OldFlak commented on #1982
Hi Paul
Here be the link to the level as requested
https://www.dropbox.com/s/3ecjabrlygsz6dt/Terrain%20Shadow%20Issue.zip?dl=0

Player marker is in position – when level starts you can just do a 360 turn to see the issue in multiple places

Thanks for looking into it 😊

Regards
Michael

From: PaulSJ ***@***.***>
Sent: Tuesday, 8 February 2022 12:04 PM
To: TheGameCreators/GameGuruRepo ***@***.***>

[2022-02-08 07:27] #1951 closed

[2022-02-08 07:28] #1950 closed

[2022-02-08 07:29] rvanner commented on #1948
@plemsoft This is great. Just need to close up this area of the box;
![image](https://user-images.githubusercontent.com/1503593/152938840-4caf5b7a-1261-4059-aec1-953a15c8f18c.png)

[2022-02-08 07:33] rvanner opened #1990 "Terrain Generator: Small help text change"
![image](https://user-images.githubusercontent.com/1503593/152939286-32a81f1d-676a-4144-9291-264af312f75d.png)

[2022-02-08 07:36] rvanner opened #1991 "No Cacti!"
In the latest update of trees we've now lost the cacti.

@PaulSJ Can you process ALL the cacti trees that Mark created and submit to Lee by Wednesday?

@bond1mjb Do you need to supply new versions of the cacti to Paul?

[2022-02-08 07:39] #1949 closed

[2022-02-08 07:40] #1960 closed

[2022-02-08 07:49] rvanner opened #1992 "Weapon thumbnails have been wiped out in the update"
@dllllllllllb Can you check this out please?
![image](https://user-images.githubusercontent.com/1503593/152941475-6db88ee4-e1f8-40d0-b9d9-f70870043eb0.png)

[2022-02-08 07:56] bond1mjb commented on #1991
@rvanner @PaulSJ   I included the new cactus billboard in the last set of downloads.   And there was also a  smaller cactus under the "bush" category.

My original set of cacti included 10 variations, but I don't think we ever used all of them, just a couple.   If want me to export all of these variations using our new naming system I can do that today.

Here's a pic of the original set of cacti:

[2022-02-08 08:01] rvanner commented on #1991
@bond1mjb The more we have, the better the visuals in user's levels. So export any extra variation large cacti and the smaller ones can be added to the bush folder.

[2022-02-08 08:03] bond1mjb commented on #1991
@rvanner Ok, the larger ones in the back I'll treat as trees, and the smaller ones in front as bushes.

[2022-02-08 08:38] UltraVox001 commented on #1992
Weapons are also missing from this build.
The only weapons available are those with Thumbnails present.

[2022-02-08 08:41] rvanner commented on #1992
@LeeBamberTGC Can we get a quick update fix for this today?

[2022-02-08 08:50] #1908 closed

[2022-02-08 08:51] rvanner commented on #1952
@plemsoft Yes, add the checkbox please.

[2022-02-08 09:05] UltraVox001 commented on #1992
@rvanner @LeeBamberTGC
There are also big problems with the switches.
They are not visible when added from the "Add" button.
Those placed against a wall disappear in Edit mode. But they are present in the TestLevel.

[2022-02-08 09:09] UltraVox001 opened #1993 "The Flicker Light Behavior is not controllable with a Switch"
The switch does not know how to turn on/off a Light if its Behavior is Flicker Light. In the TestLevel, all lights linked to the switch work, except the one that has this Behavior.
![Flicker Light](https://user-images.githubusercontent.com/96718175/152954422-77c69e14-2d87-4a5e-9dff-5a72f53e1979.jpg)

[2022-02-08 09:14] plemsoft commented on #1947
@rvanner This is needed to fix some other issues, where tree settings from other levels would go into the terrain editor, and trees was not reset when changing biomes , so we need to reset tree/grass when we enter terrain generator. That's why you get the additional 2 sec.

[2022-02-08 09:21] dllllllllllb commented on #1865
@OldFlak I tested this issue on Friday and the rays weren't originating from the sun as you described. Yesterday we had an update which fixed this issue for me (Tested this on the same map), so I closed it :] If the issue persists on your end please let us know, I'll keep an eye on this.

[2022-02-08 09:34] UltraVox001 commented on #1992
Manipulating a Switch is nearly impossible : [Video](https://i.gyazo.com/4ad21d26902ed2e29c6cdb5e61a89a54.mp4).

[2022-02-08 09:55] dllllllllllb commented on #1992
Thumbnails for ladders and most shrubs are also missing. There is a duplicate of "Sewer rat black" which has the same issue.

All weapons seem to be working fine for me, it's just the thumbnails that are missing.

[2022-02-08 10:02] UltraVox001 commented on #1992
What "dllllllllllb" says is true. But on a pre-build map, the weapons with the missing thumbnails are also missing. Like on this pre-build map where each table must present the missing weapons.
![Weapons](https://user-images.githubusercontent.com/96718175/152964441-0687810c-16b0-4d1b-ac1a-29730518e52d.jpg)

[2022-02-08 10:21] LeeBamberTGC commented on #1992
All, bear in mind the internal build for this week updated the object management system for Wicked, changed how weapons render into the depth buffer and most weapons where renamed, so you will need to add them back in to existing levels.  Just some notes before we reproduce the aboves.

[2022-02-08 10:24] dllllllllllb commented on #1526
@ArgentArts Hi, could you confirm if the issue is now fixed for you :]

[2022-02-08 10:34] #1528 closed

[2022-02-08 10:48] UltraVox001 commented on #1992
@LeeBamberTGC , I take note. :)
Warning : On a new map created with this Build., if you ask to spawn with the following weapons, you appear with invisible weapons. Operational, but invisible :

- Snubnose Revolver
- Melee Combat
- Pocket Knife
- SledgeHammer

Other weapons appear correctly.

[2022-02-08 10:49] rvanner opened #1994 "Test game is very slow before you can start playing and needs optimising"
@PaulSJ Lee asked me to assign this to you. Can you profile the processes taking place during the test game initialization to see if it can be optimised?

Lee mentioned that 400 DBO objects are created and then discarded which is a big hog. He thinks a new data structure is needed which could avoid this. Best you check in with @LeeBamberTGC about this when you come to this issue.

[2022-02-08 10:52] rvanner opened #1995 "Navmesh creation"
Another area of optimisation that we would like you to review is the navmesh creation.

[2022-02-08 10:57] rvanner opened #1996 "Spawning enemies is bugged"
Spawning on enemies is bugged at present.

@ZakJudges Has a level that shows the issue.

[2022-02-08 10:58] rvanner opened #1997 "There are issues with lights (as reported by Lee)"
Lights issue as reported by Lee.

[2022-02-08 10:59] #1508 closed

[2022-02-08 10:59] #1471 closed

[2022-02-08 11:00] #1430 closed

[2022-02-08 11:00] #1408 closed

[2022-02-08 11:00] #1392 closed

[2022-02-08 11:00] #1388 closed

[2022-02-08 11:01] #1386 closed

[2022-02-08 11:01] #1375 closed

[2022-02-08 11:01] #1373 closed

[2022-02-08 11:01] #1371 closed

[2022-02-08 11:02] #1260 closed

[2022-02-08 11:04] ZakJudges commented on #1996
@rvanner I think it was @plemsoft that had this issue :)

[2022-02-08 11:09] rvanner commented on #1996
@ZakJudges Yes but I thought you said you had a level that showed it?

@plemsoft Can you share your fpm that shows Lee this issue?

[2022-02-08 11:11] rvanner commented on #1947
@plemsoft Can you show some text so the user knows it's not crashed?

"Preparing the Terrain Generator. Please wait..."

[2022-02-08 11:14] rvanner opened #1998 "Placing down fish into water"
When a fish is placed into the water, only follow the terrain a certain depth. Then stick to that max depth. This will ensure fish aren't all placed too low into the water volume.

[2022-02-08 11:27] ZakJudges commented on #1996
@rvanner I have a level that shows the ai walking through walls. I'll create a new issue for it

[2022-02-08 11:29] ZakJudges opened #1999 "Characters able to walk through walls"
[Files.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8023350/Files.zip)

In the attached project, it seems like the navmesh doesn't generate properly, making the characters follow straight lines irrespective of any level geometry

[2022-02-08 11:30] LeeBamberTGC commented on #1992
@plemsoft I have bounced this URGENT one to you in case it relates to the recent change to the wicked engine object handling as I suspect it is.   Please re-assign back to me if you determine it is not related to the attach sort stuff, thanks!

[2022-02-08 11:38] #1214 closed

[2022-02-08 11:43] rvanner opened #2000 "Add the "i" spray feature to the UI"
![image](https://user-images.githubusercontent.com/1503593/152980462-7492f185-7475-4fa2-b9a8-49b5dc771721.png)

[2022-02-08 11:47] rvanner opened #2001 "Pop up thumbnails - move them left of the palette so they don't obscure the list"
Change this;
![image](https://user-images.githubusercontent.com/1503593/152980870-500017d0-8f12-454e-885a-2346ceda77a1.png)

To this;
![image](https://user-images.githubusercontent.com/1503593/152980932-3d1285da-97d5-44de-a566-42dba4c8c023.png)

Do this for;

- Texture painting
- Trees
- Veg

[2022-02-08 11:49] rvanner opened #2002 "Terrain Generator: Sometimes the bounding box does not re-centre"
It's rare but this can happen;
![image](https://user-images.githubusercontent.com/1503593/152981222-c3947f3a-37e2-41a7-8fc6-233f68c535be.png)

[2022-02-08 11:51] rvanner opened #2003 "Night time skyboxes - turn off sun rays"
Turn off sun rays when the sun is below the horizon, thus avoiding this visual issue;

![image](https://user-images.githubusercontent.com/1503593/152981448-e1dc0020-2739-4b97-91e5-5536db54ff68.png)

[2022-02-08 11:52] rvanner opened #2004 "Terrain Generator - reduce the fog effect by 60%"
We still think the fog is affecting the visual quality of the preview levels. So reduced the amount of atmospheric fog by 60%
![image](https://user-images.githubusercontent.com/1503593/152981790-27b89f35-b4be-4137-b2e0-305c5d80cfa3.png)

[2022-02-08 11:54] rvanner opened #2005 "Character Creator - new heads don't have names"
Check all new faces have relevant names;

![image](https://user-images.githubusercontent.com/1503593/152982047-d1bf0e82-37c5-4f73-a645-590c78d6ddd1.png)

[2022-02-08 11:55] ZakJudges commented on #2005
@rvanner This is already fixed. Will be in the next build :)

[2022-02-08 11:56] rvanner opened #2006 "Made a level with orange fog but the thumbnail did not use the same fog settings"
This is what the level looks like;
![image](https://user-images.githubusercontent.com/1503593/152982232-c1f26a72-bfac-484d-b5e3-04c3e202bb44.png)

When I take a screen shot you can see the level is not the same
![image](https://user-images.githubusercontent.com/1503593/152982310-90a100f6-7294-4703-8a7d-57504c47e160.png)

[2022-02-08 11:58] rvanner opened #2007 "Grass should not auto populate on such steep cliffs / rock textures"
![image](https://user-images.githubusercontent.com/1503593/152982551-3c17b420-1937-483e-8a9d-1bdaf51bf3e9.png)

[2022-02-08 12:10] rvanner opened #2008 "Scots Pine 1 and 2 Trees don't match their thumbnails"
I have checked all the trees and these ones don't have any branches;

![image](https://user-images.githubusercontent.com/1503593/152984359-a2b5f808-28be-4a78-9343-af842d2fa182.png)

![image](https://user-images.githubusercontent.com/1503593/152984375-541ef0f1-af96-4d3c-9c9f-d32f1f7b1d11.png)

[2022-02-08 12:13] rvanner opened #2009 "Tree thumbnails look too wide"
@bond1mjb Can you make better thumbnails for these two trees please?
![image](https://user-images.githubusercontent.com/1503593/152984793-ed6387b8-e15f-4750-9cfd-52dfd9ab4525.png)

![image](https://user-images.githubusercontent.com/1503593/152984802-47a8cf6e-c641-4061-bac8-c6fe5fe221d6.png)

[2022-02-08 12:18] #1477 closed

[2022-02-08 12:24] LeeBamberTGC commented on #1615
@Snage62 Has the crash from last year been fixed for you?

[2022-02-08 12:25] #1420 closed

[2022-02-08 12:25] #1419 closed

[2022-02-08 12:25] #1390 closed

[2022-02-08 12:26] #1237 closed

[2022-02-08 12:26] #1217 closed

[2022-02-08 12:27] LeeBamberTGC commented on #1140
@AmenMoses If you spot any remaining objects that exhibit the physics perf hit, let me know as a new issue, and I will make sure the correct hulls are generated for them, thanks!

[2022-02-08 12:27] #1140 closed

[2022-02-08 12:27] UltraVox001 commented on #1993
@LeeBamberTGC
Great news. :)
If possible, try to fix the problem with the Spot Light Radius. It is systematically Reset at 45 degrees, and this prevents the developer from using it. These degree parameters are not memorized and it resets to 45.
![SpotLightRadius](https://user-images.githubusercontent.com/96718175/152986752-749cdbf2-593b-4618-be72-b7a6a912877a.jpg)

[2022-02-08 12:27] #1122 closed

[2022-02-08 12:28] LeeBamberTGC commented on #1152
@rvanner No motion blue in March EA version

[2022-02-08 12:28] #1423 closed

[2022-02-08 12:28] #1468 closed

[2022-02-08 12:29] #1254 closed

[2022-02-08 12:30] LeeBamberTGC commented on #1993
@UltraVox001 Best as a new issue so the title reflects the bug reported, and may be assigned to a different team member based on the issue.

[2022-02-08 12:35] UltraVox001 commented on #1993
It has already been reported several times, but it may have been "forgotten".
The current lighting is banal. It could be much nicer...
I don't know if someone already does it or not. It's been reported for weeks, months.

[2022-02-08 12:36] 3coms commented on #1933
Done :)

[2022-02-08 12:45] LeeBamberTGC commented on #1987
Renamed and additional ammo added to asset collection

[2022-02-08 12:45] UltraVox001 opened #2010 "GG Max Light Bug - Spot Light Radius is not memorised"
At the request of Lee, I am making this new post to express the following problem :
Try to fix the problem with the **Spot Light Radius**. It is systematically **Reset at 45 degrees**, and this prevents the developer from using it. These degree parameters are **not memorized** and it **resets to 45**. This issue was reported weeks, or months ago. But no one ever fixed it.
![SpotLightRadius](https:

[2022-02-08 12:57] LeeBamberTGC commented on #1630
@fearlesswee Any way I can quickly make a stock level to see this issue?

[2022-02-08 13:00] LeeBamberTGC commented on #1572
@ArgentArts Looks related to shadow settings, have you tried adjusting those to get the shadow depth you need for your level design?

[2022-02-08 13:01] dllllllllllb opened #2011 "Weapons - Collecting weapons changes preferred slots"
When collecting weapons during test level, they should not change the preferred weapon slot list back in the editor.

[2022-02-08 13:02] dllllllllllb opened #2012 "Weapons - Test if weapons in standalone game work as intended"
Test that starting weapon, weapons collected in level and weapon preference slots also work in a standalone game.

[2022-02-08 13:03] LeeBamberTGC commented on #1421
We had a mode that had it follow terrain but it was not popular with the community so we have disabled this behavior for EA and see if more users want to see an overhaul of how zones are defined.

[2022-02-08 13:03] #1404 closed

[2022-02-08 13:07] #1236 closed

[2022-02-08 13:08] #981 closed

[2022-02-08 13:09] UltraVox001 commented on #1872
There is a small problem with version 6.
[https://www.youtube.com/watch?v=BhCKB8dRcWY](https://www.youtube.com/watch?v=BhCKB8dRcWY)
The script is easier behind, than in front. The phenomenon worsens when the Ladder is positioned against another object which has collisions. Collisions of the other object may prevent the script from working, preventing the player from using the Ladder. The script ne

[2022-02-08 13:09] #973 closed

[2022-02-08 13:14] ArgentArts commented on #1572
Frankly, in the lastly build, this issue appears to have gone away. I can move back very far and the entity continues to cast shadows in my scene.

[2022-02-08 13:14] #1145 closed

[2022-02-08 13:18] rvanner opened #2013 "Terrain Generator: Small movement glitch when terrain is re-calculated"
See this video;

https://youtu.be/ZTQyjFTBpt4

[2022-02-08 13:22] LeeBamberTGC commented on #1913
@dllllllllllb A good mind bender this one, writing an improved loading bar progress system that accounts for the different 'stages' of the level test setup process, and a good way to learn the game engine a little more :)

[2022-02-08 13:23] LeeBamberTGC commented on #1752
@dllllllllllb This is another good one to tackle, and will enable you to learn the Wicked Engine graphics pipeline, the stages of the rendering process, locating the reason for this visual, and coming up with a solution.

[2022-02-08 13:26] LeeBamberTGC commented on #1747
@Retrogamebloke We are now in FEB, which means time to see where your performance is going.  Can you confirm you are still getting as CPU hog on a blank level in the latest internal build from this week, thanks!

@dllllllllllb Can you work with this to see if we can reproduce the slow down at our end using advice posted here.  Once we can reproduce the slow-down, we know where to apply the improve

[2022-02-08 13:29] LeeBamberTGC commented on #1993
@UltraVox001 Understood. Assuming it is reported elsewhere, I can close this one :)

[2022-02-08 13:29] #1993 closed

[2022-02-08 13:30] #1572 closed

[2022-02-08 13:40] rvanner commented on #1152
@Ghazzly We don't have motion blur in GameGuru MAX. Is this still a visual issue your are seeing in MAX?

[2022-02-08 13:40] ZakJudges opened #2014 "Auto-flatten issue for non-rectangular buildings"
- place a non-rectangular building that has autoflatten enabled
- grass is removed that is not near the building
- unable to paint the grass back in

![grass](https://user-images.githubusercontent.com/32545391/152998305-7e323aaf-e648-423a-99d1-43a3da0f6528.png)

[2022-02-08 13:54] Ghazzly commented on #1152
Yeah I still get this

Happens when moving sharply. You can see a blur artifact. That's why I was asking if by default the engine had motion blur on incase that's what was causing it.

I'm at work at the moment so I'll fully confirm if this still happens when i get home. I'm certain it was still there last Friday.

[2022-02-08 13:57] PaulSJ commented on #1994
@LeeBamberTGC Can you detail which functions I should be looking at to help me when I get to this issue?

[2022-02-08 13:58] 3coms commented on #1966
Sorry guys, but this has nothing to do with an enhancement this is a bug with all their words. :)

And has nothing to do with the model itself, today has the same issue with a simple table:

In GGMax as X file

![snowy_cabinet_bad_assembly_GGMax_2022_02_11_pic02](https://user-images.githubusercontent.com/47690174/153000958-699939c7-45c9-41f3-bf81-db7955e29265.png)

Importer

![snowy_cabinet_bad_as

[2022-02-08 13:59] PaulSJ commented on #1995
@LeeBamberTGC I've not looked at the navmesh code before so I will need more info on this issue. Specifically the rough timeline of how the navmesh gets created and the functions that do those steps.

[2022-02-08 14:03] UltraVox001 commented on #1872
The problem is identified (in my opinion).
I think the current script does not consider rotation changes. In the video below, I show you the old Ladder location that was malfunctioning. So I moved the ladder to the other side of this big cistern, and rotated it so it was in front of the cistern, and there the script works perfectly. This implies that the script does not adapt to a change in rotati

[2022-02-08 14:04] rvanner commented on #1152
@Ghazzly What is your PC setup?

Could you make a video of what you see?

[2022-02-08 14:06] rvanner commented on #2008
I think the LODs are mixed up. OldFlak just posted this;
https://youtu.be/Zm5E4fwwUVc

[2022-02-08 14:07] LeeBamberTGC commented on #1994
@PaulSJ Yes indeed. The journey starts here: "physics_createterraincollision", and does the following:

1. Uses the most accurate terrain height data from the terrain system
2. Divides up the entire editable area into a 20x20 grid of tiles
3. For each tile, uses the 'bNewFloodFillTerrainPhysicsReducer' to work out a series of planes that represent the terrain physics we need for that tile
4. From

[2022-02-08 14:16] LeeBamberTGC commented on #1995
@PaulSJ Your journey will start when this function is called "game_createnavmeshfromlevel":

1. It first determines if any static objects have moved, or anything else that requires the nav mesh to be generated
2. If no, then the old nav mesh can be loaded in to skip the generation step
3. If yes, we generate a low resolution DBO object based on the height data from the terrain
4. This area is NOT

[2022-02-08 14:17] LeeBamberTGC commented on #1966
Can this bug be reproduced with stock media?

[2022-02-08 14:45] PaulSJ commented on #2009
@rvanner Marks doesn't need to do anything here, we just need to apply the scale factor to the thumbnail.

@plemsoft Is there a way to adjust the X scale of an imgui image? Each thumbnail will need to have its own adjustment factor

[2022-02-08 14:47] Ghazzly commented on #1152
@rvanner

My PC is as follows:

CPU: Ryzen 7 2700x @4.2ghz
RAM: Vengeance 16gb 3200mhz
Mobo: B450-F Asus Strix
GPU: Evga ultra RTX 2070 super
PSU: Corsair Gold Rm850
Storage: 2x500gb SSD's 1 for Windows, 1 for games and 2xTB HDD's

GGMax is on my Windows SSD.

I also have a dual 144hz Monitor setup.

I'll take a recording and post it here later.

[2022-02-08 15:35] PaulSJ commented on #2007
Fixed

[2022-02-08 16:06] LeeBamberTGC commented on #1630
@fearlesswee Okay, maybe have video recorder on standby and when you see it again, take about 30 seconds of footage, I might be able to see what the issue is from the video.

[2022-02-08 16:09] UltraVox001 opened #2015 "GG Max Bug Report - Library Bug"
EDIT - 10-02-2022
Library Bug - GG Max last internal version of GameGuru MAX Build 2022.02.11
This happens despite 3 complete uninstalls + reinstalls.
I no longer know what to do to regain functional access to the Max Library.
See my video : [https://www.youtube.com/watch?v=16mvTostS2M](https://www.youtube.com/watch?v=16mvTostS2M)

[2022-02-08 16:11] fearlesswee commented on #1995
I'm all for the tile-based approach; currently there's only a single navmesh that is attempted to be generated for the whole level, which is often wildly inaccurate or outright skips portions of the level entirely. I 100% agree the ideal solution would be to divide the world into tiles, generate the navmesh for the tile occupied by the player start marker, then spawn them in and generate new navme

[2022-02-08 16:13] LeeBamberTGC commented on #1989
@PaulSJ I only know the shadow settings superficially, but I have snapped the settings which controls the HIGH/LOW setting, the shadow settings and the current resolutions, and from this I suggest choosing smaller sizes for the MEDIUM and LOW:

![image](https://user-images.githubusercontent.com/35840583/153028377-31898c54-cb11-47cd-85ac-e1c9ce3ffaab.png)

[2022-02-08 16:13] rvanner opened #2016 "Terrain Menu issue"
![image](https://user-images.githubusercontent.com/1503593/153028324-6a605a62-1e0b-4e97-835e-94c49d40f441.png)

[2022-02-08 16:44] plemsoft commented on #1989
@LeeBamberTGC @PaulSJ I will make it dynamic so we dont pre allocate if not needed , and will change Low/Medium/High so resolution goes down (if not already set low).

Perhaps later we could look at lowering the shadow distance to perhaps 250000 (currently 500000) , and set the resolution to 1024 by default , the lower shadow distance will give the same shadow quality using 1024 as the camera get

[2022-02-08 16:50] ArgentArts opened #2017 "GameGuru MAX - Issues with Multi-Selecting using SHIFT"
According to the Keyboard shortcuts list, pressing SHIFT and the LMB allows you to select multiple objects:

![shortcuts](https://user-images.githubusercontent.com/36735507/153031885-6bd30d50-2933-4216-a68e-e00360488af9.png)

However, it does not. Frequently, when pressing SHIFT and clicking on an object, the object is duplicated and the duplicate ready to be placed in the level, since this is the

[2022-02-08 16:59] ArgentArts opened #2018 "GameGuru MAX - Bug - Keyboard Shortcut Sidebar Issue"
When nothing is selected and you attempt to twirl down the Keyboard Shortcuts menu on the right sidebar, you cannot. It's not until something is selected in the viewport before you can actually succeed in twilling it down:

https://user-images.githubusercontent.com/36735507/153037087-bab9e371-3a01-407b-826c-49cec22bf983.mp4

[2022-02-08 16:59] PaulSJ commented on #1989
@plemsoft I think reducing the shadow range would only let you remove the closest cascade, since reducing it by half for example would replace each cascade with the level that used to be one higher. This would leave you with a new cascade at the lowest level which you can remove and keep the same quality. It wouldn't let you adjust the shadow map resolution.

[2022-02-08 17:02] PaulSJ commented on #1989
@LeeBamberTGC I think those changes are on a different branch since I don't have any Graphics Settings drop down box from (1) in your screenshot. Is it safe to merge the master into my branch or should I merge another branch to get these changes?

[2022-02-08 17:07] plemsoft commented on #1989
@LeeBamberTGC I made it dynamic, and merged pauls transparent shadows changes , and we now use way less mem. All committed.

I will add the lower res for Medium/Low settings tomorrow :)

[2022-02-08 17:35] LeeBamberTGC commented on #1989
@PaulSJ Latest master is pretty up to date from this morning, so I think you will be safe merging it to your branch to get the extras you need.  I plan to do a big merge and test later this evening, just waiting for everyone's final commits :)

[2022-02-08 17:45] 3coms commented on #1966
I've tried but can't get it; so, I did a different approach and try it as FBX, that's the result:

In Win10 3D viewer

![snowy_cabinet2FBX_W10_3D_Viewer_pic01](https://user-images.githubusercontent.com/47690174/153044414-864e2757-e716-46d1-af8b-dcdb9ed5255d.png)

In GGMax 2022_02_11

![snowy_cabinet2FBX_IMPORTER_GGMax_2022_02_11_pic01_pic01](https://user-images.githubusercontent.com/47690174/15304

[2022-02-08 17:53] UltraVox001 commented on #2003
Adding a starry sky in the simulated skybox generator would be nice.
The nights are strange in Max...

[2022-02-08 20:02] UltraVox001 commented on #2017
Currently, the best way to select multiple objects is to do as in my video :
[https://www.youtube.com/watch?v=OcqR1qoIw5o](https://www.youtube.com/watch?v=OcqR1qoIw5o)
Explanation :
1/ Select an object
2/ Click on the terrain to deselect it.
3/ Press Ctrl + LMB on the other objects to select
4/ Press Shift + LMB on any selected object to get the ability to manipulate them in 3D space

I completely

[2022-02-08 20:10] ArgentArts commented on #2017
I can get that to work, but if you accidently leave CTRL pressed while you mouse is over anything, even if no button is pressed, whatever the mouse is over will also get selected. And if your working on an indoor-only level, there's no terrain to click on (without moving outside your level) to deselect, so to speak. So, once again, on an interior-only level, things aren't going well for us. ;)

[2022-02-08 20:10] Necrym59 commented on #1872
It shouldnt make any difference, I have noticed the ladder models were not set as needed by default some were without physics, I tidied it up a bit more anyway V7. Everything seems to work OK. With Max still in flux its hard to be sure.
Set ladder objects defaultstatic=0, collisionmode=0 in the fpe. Turn OFF gravity, weight ,friction. Turn ON physics, IsImobile.
The ladders are hard coded to use t

[2022-02-08 20:10] ArgentArts commented on #2017
Thanks, btw. At least I have a partial way of doing this for now. ;)

[2022-02-08 20:12] UltraVox001 commented on #2017
Yes, it's not optimized to speed up the workflow.
Many constraints for few results. :)

[2022-02-08 20:13] ArgentArts commented on #2017
Your method just caused me to discover another method that works and is easier, not requiring us to have to click on the terrain to deselect anything.

- Click your first item to select it
- Press and hold CTRL and click on your second object, this will deselect the first object and select the second object.
- Go back to the first object, press CTRL (if you'd released it previously) and click it.

[2022-02-08 20:14] UltraVox001 commented on #2017
Well done. :)

[2022-02-08 20:15] ArgentArts commented on #2017
Thank you for pointing me in the right direction.

Even so, we should not have to deselect to select. So, something appears broken in MAX here.

[2022-02-08 20:17] UltraVox001 commented on #1872
I use both scripts, precisely to see the differences and produce a more detailed bug report. :)
I will test this version 7. We'll get there ! :)

[2022-02-08 21:09] UltraVox001 opened #2019 "GG Max Bug Report - Camera + Shift Selection Issue"
This is what happens when I position myself above my military base and I turn my back on it. Then I make a selection in the void, with Shift + LMB, and this selects what is behind me...
See my video : [https://www.youtube.com/watch?v=I88hERBAkrw](https://www.youtube.com/watch?v=I88hERBAkrw)

[2022-02-08 21:10] UltraVox001 opened #2020 "GG Max Bug Report - Camera + Shift Selection Issue"
This is what happens when I position myself above my military base and I turn my back on it.
Then I make a selection in the void, with Shift + LMB, and this selects what is behind me...

See my video : [https://www.youtube.com/watch?v=I88hERBAkrw](https://www.youtube.com/watch?v=I88hERBAkrw)

I hope it can help.

[2022-02-08 21:10] #2019 closed

[2022-02-08 21:27] UltraVox001 commented on #1872
I'm sorry, but the rotation of the Ladder is not taken into account by the script.
After asking for 2 rotations (R key) of the Ladder, I can no longer go up in front. But I can ride on the side...

Settings :
Defaultstatic=0
Collisionmode=0
Gravity= No
Weight=0
Friction=0
Physical= Enabled
IsImobile= Enabled

[2022-02-08 21:28] UltraVox001 commented on #2015
Persistent bug. Despite the internal update.

[2022-02-08 21:36] Necrym59 commented on #1872
Im looking at that nowSent on the go with Vodafone
-------- Original message --------From: UltraVox ***@***.***> Date: 9/2/22  8:27 am  (GMT+10:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: Necrym59 ***@***.***>, Mention ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GGMAX Enhancment  (Issue #1872)
I'm sorry, but the rotation of the Ladder is not taken into account by the script.

[2022-02-08 21:43] ArgentArts commented on #1572
Actually, Lee. I was wrong. This IS still happening. It happens when there are more than five point lights in a scene. I'll do a video and start a new but on it.

[2022-02-08 21:50] ArgentArts opened #2021 "GameGuru MAX - Bug - Issues with More than 5 Point Lights"
If you have more than 5 point lights in a scene, then the furthest from the camera will stop casting shadows. As you add even more point lights, others will stop casting shadows, even though they are close to the camera.

https://user-images.githubusercontent.com/36735507/153081583-3deb29f3-c805-49db-a223-733c1c469788.mp4

[2022-02-08 21:53] synchromesh62 opened #2022 "Lua Error ... latest build"
**Build 2022-02-11**
Latest version
Lua error with Bulbs or adding one

![lua](https://user-images.githubusercontent.com/35708217/153081869-c2263aa8-9f04-4816-b97c-f1bdfa2243f6.png)

[2022-02-08 21:58] synchromesh62 commented on #2021
Only the nearest 4 lights can cast shadows at one time ..
This is currently by design

[2022-02-08 22:58] ArgentArts commented on #2021
That's ... terrible. Why?

[2022-02-08 23:05] Kitakazi commented on #1630
https://youtu.be/A5YMktnUe1E

@LeeBamberTGC @fearlesswee
To recreate: go to the default map, add in an entity, and start test game. Turn on flashlight and shine it on entity to get a nice shadow. Then walk away from entity and its shadow will still be there. Turning off and on the flashlight usually does not make the "ghost" shadow disappear. Depending on the lighting of the scene, and what ghost-