[2022-03-27 21:21] iplayablockhead opened #2669 "GuruMax will not GO!"
Program starts and get to loading screen then just quits/shuts down!
My RIG is - i7-4790 CPU @ 3.60GHz windows 10 64bit OS with 32GB memory and a 1060 6GB Nividia

I have tried deleted the readme file as per the DEV, if you require any other details please ask.
I have posted on steam community hub on several occasions like others.

THANK YOU

[2022-03-27 21:27] Necrym59 opened #2670 "GGMAX - Enhancement Requirement"
Can we have an extra list option added to the Level Objects tab similar to the detailed objects option. We need one filtered for Unspawned?Hidden objects only. Showing only the ones that have 'Spawn at Start unticked' and are hidden untill spawned.
![hidden_nnspawned_objects](https://user-images.githubusercontent.com/95015657/160301713-0d4b40da-9506-4b77-8f85-5c6575bb4e81.jpg)

[2022-03-27 21:33] Necrym59 commented on #2664
Try using the free fbx converter from autodesk
https://www.autodesk.com/developer-network/platform-technologies/fbx-converter-archives

[2022-03-27 21:42] synchromesh62 opened #2671 "Reports of No behaviour for static objects for Characters"
As the title states im seeing quite a few Reports of **No behaviour for static objects for Characters** on the forum and Steam
This shows up on the right behaviour panel and you cannot do anything with it.

[2022-03-27 22:15] ArgentArts commented on #2671
It's strange, too. I tested every character in MAX after a fresh install and none of them come in for me as static objects. They all come in as characters with their character behaviors.

[2022-03-27 22:55] #2605 closed

[2022-03-27 22:59] synchromesh62 commented on #2671
Same for me to be honest yet i do recall the same issue not long ago with my doors suddenly giving the same error but a reboot sorted it. This does not seem to be the case with these users.

[2022-03-28 03:55] Lithyanos opened #2672 "Adding Neutral Character Animations / Custom Animation Creation"
I am very interested in using this gaming creation platform for creating games that are focused more around interactions with neutral NPCs rather than fighting. An example of one would be a secretary who sits at a desk and will look up from doing their reading or computer work once a character approaches them. Animations such as these would be incredibly useful.

Another thought would be allowing

[2022-03-28 04:28] Fubrubruoahaha commented on #2672
More control over AI and their animations would be nice.

[2022-03-28 04:32] Fubrubruoahaha opened #2673 "MAX REQUEST - Add "Pre-order Bonus Content" from account to Steam as a DLC with Steam Key."
Also, the bonus content installer installs it in "C:\Program Files\GameGuruMAX" automatically, while Max could be installed on other drive inside the Steam folder.

Option to select install location manually doesn't exit (and it doesn't do it automatically).

A Steam key for a DLC of this bonus pack would be nicer, unless Pre-order Bonus Content is same as Booster Pack.

[2022-03-28 08:07] dllllllllllb commented on #2643
@Tum1370 This was deliberately done to hide the switch at the beginning of the level. I didn't notice that there was another part to this switch :] I'll move it and send the .fpm to Lee.

[2022-03-28 08:07] #2643 closed

[2022-03-28 08:20] #2654 closed

[2022-03-28 08:54] dllllllllllb commented on #2658
@dennimoto Sounds aren't attached to ladders by default. "Climbing Loop" and "Exit Climb" sounds don't exist in the max library. If there is a ladder sound missing from one of the demos, please let me know which demo has this issue.

[2022-03-28 09:02] dllllllllllb commented on #2661
@LeeBamberTGC @rvanner When you make a new "Empty" level, you can't access water settings unless you enable it in the view options. Should it be enabled by default?

[2022-03-28 09:53] ZakJudges commented on #2642
@LeeBamberTGC This seems to be a bigger issue than I thought. As well as not being able to collect the gun, you also cannot open doors. I took a closer look and noticed that the LUA side of things was taking a LONG time when the game has been loaded vs started from the beginning:

![Screenshot 2022-03-28 102216](https://user-images.githubusercontent.com/32545391/160368615-0846c516-2b5c-4efe-8075-4

[2022-03-28 10:36] dllllllllllb commented on #2027
The update with this fix is not out yet, hold tight :]
https://gyazo.com/b15c6d3277055d92c7c699361320b021

[2022-03-28 10:55] ZakJudges commented on #2441
Thank you for confirming. I will close this issue, but if it happens again feel free to reopen :)

[2022-03-28 10:55] #2441 closed

[2022-03-28 11:02] dllllllllllb commented on #2641
@Retrogamebloke Thanks for sending me your level. I'm not getting a crash after selecting the particle.

Is this issue only occurring in this level for you?

[2022-03-28 11:15] rvanner opened #2674 "MAX Crash issues from users who have contacted us via support"
User#1
I got the key and installed GGM on my computer. I'm trying to launch GGM, but it's not launching
Video: https://youtu.be/djEeILxysD8
CPU Intel Core i9-10940X BOX
Memory 32 GB
Video GeForce RTX 3050 8GB
All latest drivers. I click the LAUNCH button in Steam, but it had no effect. I also tried to stop the antivirus. I'll send the video later.
================
User#2
While start Gameguru Max i

[2022-03-28 11:23] LeeBamberTGC commented on #2669
@iplayablockhead I have uploaded a fix to the PUBLICPREVIEW. Let me know if this works for you. Instructions here: https://forum.game-guru.com/thread/223455

[2022-03-28 11:24] LeeBamberTGC commented on #2663
@cernisr If you like you can contact TGC support and they will be happy to switch you to a Steam Key as the installation process is different enough it might bypass the issue you are having with the non-Steam installer.

[2022-03-28 11:27] LeeBamberTGC commented on #2656
@AlterMatz Any chance you can create a short video from initial launch of MAX through to using the Structure Editor and this crash, it will really help narrow down the culpret :)

[2022-03-28 11:36] LeeBamberTGC commented on #2674
@rvanner

* From User 1 I need the their "Guru-MapEditor.log" from the "Documents\GameGuruApps\GameGuruMAX" folder
* User 2 does not meet minimum specifications: GeForce GT 710 is a terrible GPU.
* User 3 specs look fine, I need the video to know more
* I need to know what GPU user 4 has

[2022-03-28 12:29] Artyimeus opened #2675 "Bug"
When i place something like a Wall and later when i want to change the position, when i select it and move it 1 millimetre the wall just disappears and its soo far away from the position it was. I can still move it but it isnt working properly. Just 1 millimetre and i need to struggle to put it back where it was.

[2022-03-28 12:30] Artyimeus opened #2676 "MAX Request - Change Keyboard Binds ingame"
Would be cool if the user that plays the game, can change the Keyboard binds.

[2022-03-28 12:32] Granada1 commented on #2675
This is being fixed as we speak , hopefully a update will be out soon including the fix

[2022-03-28 12:35] Artyimeus commented on #2675
alright thanks

[2022-03-28 12:37] Artyimeus opened #2677 "MAX - Request Video in Title Screen"
Would be beautiful if we can add a Video on the title screen instead of having a image

[2022-03-28 12:43] Artyimeus opened #2678 "MAX - Request/question"
I didnt finish my game yet and i need more time, just a quick question that can turn also in a request:
If i export my game, upload it on steam so people can play it and later on, i had to fix some things and added some objects,
how can i add the updated parts to my steam game then? Or do i just have to try? im new to this so sorry if i ask dumb questions.

[2022-03-28 12:49] LeeBamberTGC commented on #2642
@ZakJudges The fix is now in the file "Max\Files\titlesbank\gamedata.lua" and relates to a crash when loading a saved game position that used a behavior script that needed to save three dimensional arrays and crashed the script. After that, a successful flag could not be set to one and so caused all logic to stay disabled as the load was not successful. Have a look at this cascade so you know what

[2022-03-28 12:53] Granada1 commented on #2675
Looks like the fix is up now , follow this to get the update please

https://forum.game-guru.com/thread/223455

[2022-03-28 13:20] AlterMatz commented on #2657
Hm there is a small problem. I don't have the error anymore at the moment. As I said, I wanted to create 3 EBE rooms in one level. After pushing the rooms together, a room in the EBE folder preview was displayed as a cube. When restarting Max, the error message came. I deleted the broken room with everything that goes with it and the error was gone. I could try to recreate the error. This error co

[2022-03-28 13:21] AlterMatz commented on #2656
Hm there is a small problem. I don't have the error anymore at the moment. As I said, I wanted to create 3 EBE rooms in one level. After pushing the rooms together, a room in the EBE folder preview was displayed as a cube. When restarting Max, the error message came. I deleted the broken room with everything that goes with it and the error was gone. I could try to recreate the error. This error co

[2022-03-28 13:46] thecyrus commented on #2678
This is mostly forum matter, not an issue for Github.

[2022-03-28 13:50] thecyrus commented on #2674
For those who don't meet the minimum requirements, GG Max just crashes.
It would be better to display a message like "Your system does not meet software requriements", or correct it to run anyway but slower and let them take the risk.

[2022-03-28 13:52] plemsoft commented on #2555
@PaulSJ From our call today, when we get to windows 11 , perhaps its possible to check if Vulkan is available if OpenGL fails ? :)

[2022-03-28 13:53] ynamdev commented on #2674
I tried to run GGM on Different PC with 4GB GTX 1650 Graphic Card but the Framerate of the Game is terrible at that machine too, I have high hopes with GGM.

[2022-03-28 14:01] dllllllllllb commented on #2548
I tuned the Patrol Rifle to be more accurate. Here are the changes to keep a changelog:
![image](https://user-images.githubusercontent.com/61796872/160413716-73835fc2-4b26-4040-9456-a32d22f067f7.png)

For anyone who would like to test the changes, extract this into "Max" folder and see if you agree with my changes, feedback will be appreciated :]
File:
[Files - Patrol Rifle Update.zip](https://git

[2022-03-28 14:08] dllllllllllb commented on #2675
@Artyimeus As Granada1 said, this is a known issue and is being worked on.
Once the improvements roll out and you come across any issues please let us know :]

[2022-03-28 14:08] #2675 closed

[2022-03-28 14:15] Artyimeus opened #2679 "MAX - Request Create HUD by ourself"
I didnt see anything else other than just the same Health Bar and Weapon Bar at the bottom in every GameGuru Game. It would look better if the game had options or we could import it by ourself to make the health bar look the way we want and not the standard style.

[2022-03-28 14:20] Sayajina commented on #2664
Thought of this and it sounds like the best way indeed. I will try this out, thank you.

Still, considering Rhino is up to date and most of my workflow is based there, I'm curious enough to learn if any of the FBX export settings could be tweaked to sort this out for future purposes.
![Rhino7-fbx export options](https://user-images.githubusercontent.com/102475953/160418783-73b4f7d2-f4f9-4d51-a846-

[2022-03-28 14:24] Artyimeus opened #2680 "MAX - Request"
Ingame Settings Screen

When we click Esc -> All options are shown like Graphic settings, sound settings etc.
Im a guy that is minimalistic and i would love to have just one Button that
is called options and when you click on that, a second screen opens up and then there
are all the settings at. like here

![1](https://user-images.githubusercontent.com/102526451/160419402-471966fd-38f6-4a19-ad84-5

[2022-03-28 14:24] ArgentArts commented on #2661
Why should it be enabled by default? It's disabled, like trees are, because the level is "empty". The end-user has to add-in and enable only the things they want in their level. Many use an "empty" level to create interior-only levels and won't need trees or WATER. :)

[2022-03-28 14:27] Artyimeus opened #2681 "MAX - Request"
Sorry for all those Requests :(

Soo my next request is gonna be:

Reset Settings Button

IDK if im blind but there is no option to just reset an object to its standard values.
When i accidentally change the size of it, i dont know what the normal size is so i have to delete it and add it again.
A option to reset the whole Values from the Object and a option to reset the value from each option lik

[2022-03-28 14:33] ZakJudges commented on #2533
@rvanner If the middle of the map is under water, points are now checked on a circle around the middle to find land. This circle will keep increasing in size until either land is found or it reaches the edge of the map. If no land is found then it will default to the middle, but above the water.

[2022-03-28 14:34] LeeBamberTGC commented on #2657
@AlterMatz If you find a way to reliably create the broken asset, and can provide a step-by-step, we should be able to fix this to prevent it from happening in the future.

[2022-03-28 14:36] LeeBamberTGC commented on #2674
@thecyrus So you know of other software that implemented your idea well, as it would be good to get some inspiration on how they go about it. Detecting every type of CPU and GPU is not an option, but maybe there is a smarter way?

[2022-03-28 14:38] LeeBamberTGC commented on #2674
@ynamdev Alas the 1650 is below the minimum specification as the GPU does not have the horsepower to push the work we need MAX to do. The current min spec is a GTX 970 or above (about 9000+ on PassMark).

[2022-03-28 14:44] Tum1370 commented on #2548
@LeeBamberTGC @dllllllllllb
Can i just asked what these developer settings do in the object tool ?
Because i have tried changing these several times and they do not seem to affect the weapon ?
Is the weapon setting only changable by the gunspec ? Or are these developer setting meant to change it as well ?

![Untitled](https://user-images.githubusercontent.com/66874403/160423792-d43fc1eb-c3e4-43fd-

[2022-03-28 14:46] thecyrus commented on #2674
I don't know Lee, maybe catching the exception that causes Max to crash, it happens when a machine is way below the requirements and it must crash for a reason.

I remember early Alpha's that used to run slow on a test machine I use with a GTX 760, now it just crashes to desktop.
It's not a huge or priority issue btw.

[2022-03-28 15:03] ZakJudges commented on #2642
@LeeBamberTGC Thanks for the info :) I understand how the crash was prevented, though I'm not sure if I would be able to fix it if something similar came up in the future. Any chance you could share your thought process, and what led you to your fix? Specifically, how did you find the error was in gamedata.lua, and how did you find the cause of the crash? Is there a debugger for lua I can use? Tha

[2022-03-28 15:08] ArgentArts commented on #2676
Definitely!

[2022-03-28 15:10] rvanner commented on #2646
@LeeBamberTGC This is the video I mentioned in our call today. Please watch the whole video to see the problems Ghost lol has had making his levels and also to see his suggestions for reducing the size of textures. If you disagree with changing the texture compression format then please document why in this thread.

[2022-03-28 15:13] LeeBamberTGC commented on #2642
@ZakJudges Well your own investigation was a great start as you noticed where the two pathways (good and bad) diverged. From there I looked at why GlobalLoop was taking so long, and on looking closer found that the after the LUA begin function you mentioned, the actual loop that processes individual scripts was being skipped as a flag that should be zero was set to 2.  This lead me to asking why t

[2022-03-28 15:16] dennimoto commented on #2658
I haven't notice any missing sounds in the demos.

It was the way I had interpreted the text in the behavior description that led me to believe there were default sounds to select, so my bad. ;)

[2022-03-28 15:16] #2658 closed

[2022-03-28 15:17] dllllllllllb commented on #2624
@LeeBamberTGC Fixed it via code, we should make a note of this change as this can cause issues later down the line.

[2022-03-28 15:20] mvdhoning commented on #2647
#2669 is possibly the same issue?

[2022-03-28 15:23] Mt-Chiliad-UFO commented on #2661
The way water is selectable in the menu for an empty map is fine. I think that makes sense as AA pointed out.
Just need users to be aware of these settings. :) ?? Trees/ veg have an "activate trees" button in terrains panel- maybe the same for water would bring it into commonality + user notice. Either way for me...

[2022-03-28 15:23] LeeBamberTGC commented on #2647
@mvdhoning Thanks for testing this out.  Can you run your VERIFY FILES on Steam while in the PUBLICPREVIEW build and then take a snapshot of your projectiletypes folder like so:

![image](https://user-images.githubusercontent.com/35840583/160431844-08dbafe9-2071-4c22-8a26-84ad9b93b722.png)

And then leave Steam client and relaunch and click LAUNCH to see what happens. Sometimes there is a delay wi

[2022-03-28 15:26] AlterMatz commented on #2656
![Error2](https://user-images.githubusercontent.com/100475522/160429987-c4c88670-dcf7-4dbc-9cd9-b08f82689948.JPG)
When i load the Level this is what i got
![Room](https://user-images.githubusercontent.com/100475522/160430280-61247058-64a7-4c9e-b722-685a56070ca9.JPG)
This is how the room looks in orginal.
I tried to recreate the Error but it does not happen.
It only occurs when something goes wrong

[2022-03-28 15:29] mvdhoning commented on #2647
the readme was gone already, but doing a double check now.

![afbeelding](https://user-images.githubusercontent.com/6839878/160432858-799d93b9-eaee-43a4-9b69-08e40373f4bc.png)

with only the readme file gone it still crashes the whole folder has to be removed.

[2022-03-28 15:32] ZakJudges opened #2682 "Zombies struggle on slopes"
https://user-images.githubusercontent.com/32545391/160433850-ad586a16-ba85-4305-b24f-7566e9634370.mp4

[2022-03-28 15:39] ZakJudges opened #2683 "Trees are in the wrong position when first loading a level"
When you first load a level, it looks like the tree positions have not updated from the previously loaded level. Whilst the trees are being initially updated, they should be hidden.

[2022-03-28 17:10] DaveTGC2 opened #2684 "Steam Remote Play - gleaned from social media."
I've tested this, and it's correct. Steam remote play just gives you a blank white screen. When you quit the remote play, MAX appears briefly just before it shuts down.

[2022-03-28 17:12] ArgentArts opened #2685 "GameGuru MAX - Updater Bug - Updater In a Perpetual State of Install"
After updating to today's internal build, the updater never gets to the finish line, letting me know I can start MAX. After installing, the button at the bottom says, "Install GameGuru MAX":

![install](https://user-images.githubusercontent.com/36735507/160451333-7df78d03-38a1-44d0-a3de-a9ba0bf31235.png)

If I click that, it goes through the install process all over again and I end up back at the

[2022-03-28 17:32] Sayajina commented on #2664
Back here again with updates:

Turns out, the solution to the importing custom model issue was right in front of me.
Either Blender or Rhinoceros exported FBX files are well read by MAX importer, no need to convert them again on Blender or such.

My mistake was that the source FBX file was on a different Drive Disk from where I've installed Guru Max, so it probably didn't find the correct authoriz

[2022-03-28 17:32] thomasmg81 opened #2686 "My Game Guru Max wishlist"
Greetings. I had posted this on the forum, but was told if i posted it here in Github my ideas might get more traction.
Okay here is my wishlist of ideas i hope are included in future updates:
______________________________________________________________________________________________________________________________________________
*CHARACTER CREATOR*

1- First and most importantly-
Ability to i

[2022-03-28 17:36] Pcskiller opened #2687 "switch and lights do not work as in broadcast 81"
please see link the nodes do not work
https://forum.game-guru.com/thread/223448#msg2647340

[2022-03-28 17:49] Granada1 opened #2688 "Light placement not working as it should be"
Light locks when dragged in ,Steam latest build files verified and rebooted

https://www.youtube.com/watch?v=jFVpQaPoFtU

After closing and re opening Max seems to have sorted itself out ,so I will close this for now 🤞

[2022-03-28 17:53] stuartds86 commented on #2548
Thanks for the new gunspec file. Did you figure out what to do about the crosshair? Also what is the app you used to add your own?

[2022-03-28 18:01] joseywales72 opened #2689 "Ryzen 5600G Performance Problems"
Ryzen 5600G @3.9Ghz, 2 GB of VRAM@3466Mhz. Performance is abysmal, even in low graphics settings. Also, I experience something rather odd. When walking towards an open area with many objects, frame rate drops but also the walking speed of the player drops to a crawl too. When frame rate increases, for example in an enclosed space, walking speed increases too. I guess, the engine does not drop any

[2022-03-28 18:50] iplayablockhead commented on #2669
I have uninstalled, reinstalled, tried the public beta, have removed the VR setting and even deleted the readme file... nothing helped to date. So the GameGuru is still not working

[2022-03-28 19:17] ArgentArts commented on #2688
I am getting this, too. However, it only happens if I have the widget active. If I deactivate the widget, the light drags in correctly. If I reactivate the widget, then the light locks into place (as in your video) and I cannot move it by dragging (apart from using the widget).

[2022-03-28 19:47] 3coms commented on #2027
It is fixed for me in the minor update version. Great work guys. :)
I gonna wait to see if  Xabyn has fixed it as well, to close it as fixed. :)

[2022-03-28 19:47] iplayablockhead commented on #2669
if you would I could stream/record a video of what it is doing with the task manager open also to show you...
I also noted that in the task manger, when GGM was starting and the is was not responding it was trying to launch a map editor 32bit version. have not idea is this has anything to do with it but trying to help out.

IS there a crash report somewhere I could post?

[2022-03-28 20:41] Xabyn commented on #2027
I am at the Steam Early Access version. The menu system is still very broken. Using /\ makes "fullscreen" of the inner-window, but using then resize of the outer window doesn't change the size of the inner-window, so it is "broken", not useable. Workaround is, to use the /\ V buttons again. But scrolling has still issues. Also moving the outer-window (application Windows-window) does not effect th

[2022-03-28 21:00] Mt-Chiliad-UFO commented on #2667
??
Requesting settings to be remembered is great. That they are not remembered can definitely become a hassle throughout MAX UI. So good on that. But I think this is one place where flexibility here is gonna make more sense. You could fulfill your needs with a single check-box which would lock the settings into one together ( similar to what's found in paint software )
![Screenshot (391)b](https:/

[2022-03-28 21:05] ArgentArts commented on #2667
Your example would still work even with standard snapping as I've described it. It's how it's done in all 3D software and all other game engines. Since MAX does not (currently) snap in the Y axis, you would only snap in the X and Z. So, you'd set snapping to something like 10 or 20. That would do the 40 and 60 just fine. And even the 100. Having different snap values for different axis is just ...

[2022-03-28 21:07] PaulSJ commented on #2555
On laptops I believe the OS can choose which GPU an app runs on so even with Vulkan it might only see the integrated GPU available, and if OpenGL didn't work on it then Vulkan definitely won't. So in cases like these I think the only solution would be to update the integrated graphics driver.

[2022-03-28 21:09] Erpesjo commented on #1516
Any news? Cheers

[2022-03-28 21:12] mav3r1ck198-1 opened #2690 "strange animation issue on the assault rifle"
https://www.youtube.com/watch?v=VkgwsUCUO6g

[2022-03-28 21:13] Mt-Chiliad-UFO commented on #2667
Point taken. For sure 'Y' / vertical seems a little overkill for grid setting.

[2022-03-28 21:15] ArgentArts commented on #2667
Oh, no. I definitely want snapping on the UP/Y axis. I build interior-only levels. I need a way to perfectly snap things and don't want to have to keep typing in values to ensure a second floor is at the perfect height, etc. ;)

[2022-03-28 21:18] Retrogamebloke commented on #2641
Yes. Not seen it on other levels, but have tried this on the release version with the same result with this  map.

[2022-03-28 22:51] Necrym59 commented on #2630
Oh and a Climbing animation wouldnt go astray either :)
eventually you may get them to climb ladders etc.

[2022-03-28 23:11] Granada1 commented on #2690
If you are hitting the V key it’s the change fire mode animations. Single and auto fire

[2022-03-29 02:14] Mt-Chiliad-UFO opened #2691 "GGMAX -- Start it clearly please! / ( suggestion; start marker+ BEACONS )"
The start marker could use a very bright, tall and obvious vertical marker-- you see these open world beacons in games sometimes to mark important locations, similar to the 3d boundary marker at the corner of the MAX map. :)
I think if you hit "shift" it would appear, and if while holding "shift" then press "space" you would be taken to your start marker just like if you got out of bounds.

If you

[2022-03-29 04:12] Fubrubruoahaha commented on #2689
"When walking towards an open area with many objects, frame rate drops but also the walking speed of the player drops to a crawl too."

I get the same issue on my 1060 GTX (6GB), Ryzen 5 2600x, 32 GB DDR4.

I noticed in snow demo map, the more objects in draw calls, slower it got with character running in slow mo (I was getting 30-34 FPS in open areas, 60 FPS in small closed rooms).

I can play pr

[2022-03-29 06:59] plemsoft commented on #2242
@OldFlak This has been fixed for the next build :)

[2022-03-29 07:34] Necrym59 commented on #2676
Already been asked for

[2022-03-29 08:49] dllllllllllb commented on #2687
@Pcskiller It works perfectly fine on my end. https://www.youtube.com/watch?v=5jEi0yMsdkQ

Can you please delete the scriptbank folder in GameGuruMAX\Max\Files and update GameGuru Max.

[2022-03-29 09:06] dllllllllllb commented on #2548
@stuartds86 I'm waiting for Lees response on the crosshair fix. The custom crosshair is a built in feature in my monitor, hence I had to take a picture of it rather than a screenshot, because it's only showing up on the monitor :]

[2022-03-29 09:12] dllllllllllb commented on #2027
@Xabyn There are a couple versions of GGM, one for the developers, one for internal testers and a public version. We don't want to upload changes to the public version without testing them first. If you would like to get the newest Max updates (that could potentially cause issues) you might want to take a look at this post :] https://forum.game-guru.com/thread/223455

[2022-03-29 10:20] realcblue commented on #2647
After reading this, I found I could get Game Guru  Max  to start for me by just removing 'explode.txt' from the '\Steam\SteamApps\common\GameGuru MAX\Files\gamecore\projectiletypes\common\explode' directory.

[2022-03-29 10:32] LeeBamberTGC commented on #2669
@iplayablockhead I have updated a new PUBLICPREVIEW on Steam, update to that then run the VERIFY FILES. Let me know if that fixes things for you :)

[2022-03-29 10:34] LeeBamberTGC commented on #1516
@Erpesjo We have assigned this issue as an ENHANCEMENT and the team will be going through all feature requests once we are happy the Steam version is stable and users are happy :)

[2022-03-29 10:37] LeeBamberTGC commented on #2680
@dllllllllllb The title of the issue is not much use, if you see titles like request, or bug, or urgent, etc can you read the description and provide a better title, thanks!

[2022-03-29 10:38] LeeBamberTGC commented on #2681
@dllllllllllb Better title please :)

[2022-03-29 10:41] ZakJudges opened #2692 "Objects moved after sculpting are not undoable"
- place object
- sculpt terrain under object
- the object is positioned on top of the terrain
- undo the sculpt
- the object's position is not reset

[2022-03-29 10:42] LeeBamberTGC commented on #2685
@ArgentArts Good find. Should be fixed in 20 minutes.

[2022-03-29 10:43] LeeBamberTGC commented on #2689
@dllllllllllb Assign any performance or optimization issues to Paul from here on in, for the time being.

[2022-03-29 10:44] iplayablockhead commented on #2669
I fid that yesterday. And am on the Publix previewSent from my Bell Samsung device over Canada's largest network.
-------- Original message --------From: Lee Bamber ***@***.***> Date: 2022-03-29  6:33 a.m.  (GMT-05:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: iplayablockhead ***@***.***>, Mention ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GuruMax will not GO! (Issue #2669)
@

[2022-03-29 10:49] LeeBamberTGC commented on #2647
@mvdhoning I have updated a new PUBLICPREVIEW on Steam with the final fix. Also, run VERIFY FILES to ensure all files are correct and if required, repaired.  Let me know if this works and I can make the fix public, thanks all!

[2022-03-29 11:09] LeeBamberTGC commented on #2669
@iplayablockhead I made the update about 30 minutes ago, that one should restore your version as intended, and allow you to run and keep your projectiles too :)

[2022-03-29 11:28] iplayablockhead commented on #2669
Thanks will test shortlySent from my Bell Samsung device over Canada's largest network.
-------- Original message --------From: Lee Bamber ***@***.***> Date: 2022-03-29  7:09 a.m.  (GMT-05:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: iplayablockhead ***@***.***>, Mention ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GuruMax will not GO! (Issue #2669)
@iplayablockhead I made the

[2022-03-29 11:54] ZakJudges commented on #2535
@LeeBamberTGC Thanks, that all sounds exciting :)

I've added a fix for the soldiers ending up under the stairs. To fix it, I decreased fThresholdForMovingTooFarX and fThresholdForMovingTooFarZ. This seems to still allow the death anims to be found, but is a bit more strict about performing them when there isn't much room. Do you know if this might have any negative consequences elsewhere?

[2022-03-29 12:03] LeeBamberTGC commented on #2535
@ZakJudges Only way to know is to test all the demo levels that have ragdoll potential and keep an eye out. The solution sounds correct and what I might have done :)

[2022-03-29 12:03] iplayablockhead commented on #2669
Okay that patch seems to have corrected the issue. Thank uSent from my Bell Samsung device over Canada's largest network.
-------- Original message --------From: Lee Bamber ***@***.***> Date: 2022-03-29  7:09 a.m.  (GMT-05:00) To: TheGameCreators/GameGuruRepo ***@***.***> Cc: iplayablockhead ***@***.***>, Mention ***@***.***> Subject: Re: [TheGameCreators/GameGuruRepo] GuruMax will not GO! (Issue

[2022-03-29 12:04] LeeBamberTGC commented on #2669
@iplayablockhead Awesome, thanks for confirming!!

[2022-03-29 12:04] #2669 closed

[2022-03-29 12:06] dllllllllllb commented on #2574
@LeeBamberTGC It looks like the transparent materials aren't affected by the hue of the "Lightning Color" or t.gamevisuals.SunRed_f / Green / Blue when they aren't facing towards the source of light.

![image](https://user-images.githubusercontent.com/61796872/160607261-a4eeb1ac-3cdc-4e54-ae68-37b9891f8554.png)
![image](https://user-images.githubusercontent.com/61796872/160607339-e6b2ca97-4dc4-4a2

[2022-03-29 12:24] dllllllllllb commented on #2634
@rvanner I can't get the sphere to stay in the level. Every time I move my mouse over "Test Level" or any UI element / game object it disappears https://gyazo.com/97191f49737910b1a552a6ddecee10f3

[2022-03-29 12:48] LeeBamberTGC commented on #2574
@dllllllllllb Expand your search into whether it is an element of the fog as well that is not contributing to transparent surfaces. Play with the fog controls to see if no fog solves the issue too.

[2022-03-29 13:14] jasailor opened #2693 "Issue with First Person Falling through surface."
Tried GGM this morning.  First Person falls through surface when observing from a high point of view then running the game.  Later same thing happened after grouping the FP and a single asset.

[2022-03-29 13:48] AlterMatz opened #2694 "Max Request Possibility to delete objects"
A way to delete objects or EBE from Entinity database in MAX. Would be nice.At the moment you can only import new objects and if they don't work it would be nice to be able to delete them again.

[2022-03-29 13:59] Erpesjo commented on #1516
Hi!
Ok, I’m happy so far with the software.
I only miss the function to move my mouse/sight free and shoot all over the
”frozen” screen.

Cheers
Fredrik

tis 29 mars 2022 kl. 12:35 skrev Lee Bamber ***@***.***>:

--
Fredrik Erpesjö
Ljungbergsgatan 16A
57539 Eksjö
070-3851020

[2022-03-29 15:20] Pcskiller commented on #2687
ok will try it

[2022-03-29 15:31] dllllllllllb commented on #2635
@ZakJudges I can't figure this one out. It looks to me like the camera settings aren't getting saved.

I tried calling editor_savecfg() but it was already getting called.
So I set g.projectmodified to 1 and called gridedit_changemodifiedflag() bofore the gridedit_save_map() is called, but that didn't work either.

Manually saving the level after moving the camera fixes this, so I tried following t

[2022-03-29 15:48] ZakJudges commented on #2635
@dllllllllllb The problem is maybe deeper than I thought. Have you tried stepping through the code that handles the loading of the camera position? If you can verify that the camera position being loaded is different to whatever you saved, then you could put a data breakpoint on the camera position after you save, then visual studio will break into the debugger when something changes the camera po

[2022-03-29 15:49] dllllllllllb commented on #2574
@LeeBamberTGC Fog doesn't have an affect on transparent materials.
Looks like "Lightning Color" is only applied to the reflections of transparent materials.
https://gyazo.com/3ab91a4d5512fce534053096ba270c0f

[2022-03-29 15:53] LeeBamberTGC commented on #2574
@PaulSJ Now that @dllllllllllb has found out which component within the shader is being ignored, can you look into why the meshes marked as transparent are ignoring the lighting color choice, thanks!

[2022-03-29 16:02] iplayablockhead opened #2695 "Height Map Issue/Idea"
I was trying to import my own height map and got it working but I am forced to the center of the map always. It would be great if we could use an area of the map we wanted to work on for that level by moving the editable area and choosing that part of the map. Would make for great level construction and immersion to jump from one part of the total map to the other.

If this is possible please give

[2022-03-29 16:15] mvdhoning commented on #2647
steam updated game gure max / ran verirfy files afterwards so files i deleted yesterday are restored
started game guru max and it works!

[2022-03-29 16:48] PaulSJ commented on #2574
@LeeBamberTGC It's probably the light shafts. We had a problem with weapons looking transparent because the light shafts were rendering over them without them masking out the light shaft image.

This is becuase weapons are drawn as transparent (even if they aren't) which happens after the light shaft calculations, so the light shafts can't see the weapons in the depth buffer. When the light shafts

[2022-03-29 17:47] mrfenix opened #2696 "No Guns Loading in Demos"
When playing the demo games, the player does not have any weapons displayed. The player can select a gun or fists, when firing the sound is played but no FPS models are displayed and AI takes no damage. This is from the intro screen when I click Start Game and then it loads the main menu and then I click New Game

[2022-03-29 18:15] harkinhails opened #2697 "MAX - Performance on Build -> 2022.04.29"
Just got the update on Steam and it says performance improvements, but I see no difference at all between this build and last.

**SYSTEM**: Ryzen 6 2600X, 32 GB DDR4, 1060GTX (6GB), 7200RPM NAS, Windows 10 LTSC (1809), nVidia Driver 511.79

**Snowy Stroll Level**: [01](https://i.imgur.com/WAKCbQG.png) | [02](https://i.imgur.com/3sr4C9j.png) | [03](https://i.imgur.com/lJl3SOM.png)

**Island Map**:

[2022-03-29 19:00] ArgentArts commented on #2685
Updater worked perfectly with this last update (3.29).

[2022-03-29 19:00] #2685 closed

[2022-03-29 19:01] ArgentArts commented on #2644
This appears to be fixed as the installer now has an icon as of the 3.29 update.

[2022-03-29 19:01] #2644 closed

[2022-03-29 19:01] ArgentArts commented on #2627
Fixed! Thanks!

[2022-03-29 19:01] #2627 closed

[2022-03-29 19:02] ArgentArts commented on #2628
Fixed! Thanks!

[2022-03-29 19:02] #2628 closed

[2022-03-29 19:04] #2576 closed

[2022-03-29 19:06] ArgentArts commented on #2540
Fixed.

[2022-03-29 19:06] #2540 closed

[2022-03-29 19:07] ArgentArts commented on #2514
This is still an issue.

[2022-03-29 19:12] #2300 closed

[2022-03-29 19:16] MonkeyFrogStudio opened #2698 "GameGuru MAX - Particle panel doesn't display particle thumbs"
The particle panel never shows me all the particles as thumbnails. As a result, I can never know which particle is which, including the ones I create and import for myself:

![particles](https://user-images.githubusercontent.com/36735507/160689888-ebc697a7-27f9-419d-86a8-f7ae920f68cc.png)

Adding at least the particle names below each thumbnail would help. But having the proper images show up here

[2022-03-29 19:21] #1599 closed

[2022-03-29 19:31] ArgentArts commented on #2697
I don't believe that MAX has auto-LOD in yet. Other culling features are planned, but not yet implemented. That's part of what's going on now, from what I understand.

One of the things that really slows things down is shadows from the sun. You can go into your TABTAB menu and hit tab a third time to access the Visuals. There you can adjust Shadows:

![shadows](https://user-images.githubuserconten

[2022-03-29 23:20] bonkorama opened #2699 "Model Bug, Waypoint & Char bug, Interface bug"
Laptop model floats above whatever surface you have placed it on.

The character will lock to the nearest flag, and a strange rigging error begins ( head shaking, jittering ) and will not proceed to the next flag. I tried with several different characters and I could not get the patrol-then-talk, nor the patrol-loop to work.
![GameGuru MAX - Shanty Town Player Start fpm_ 3_29_2022 4_16_44 PM](http

[2022-03-29 23:56] harkinhails commented on #2697
I seriously doubt it that shadows will cause such performance drop, pretty sure I remember using Unreal editor with lightmapping off and only realtime lighting (UDK too).

In-fact, on the Island map:

[01](https://i.imgur.com/L9Pjoah.png) (Default Map shadows/quality settings.

[02](https://i.imgur.com/MEEQCQg.png) (Turning all shadows off, lights quantity to 0, gave me 1 less FPS)

[03](https://i

[2022-03-30 00:16] Necrym59 opened #2700 "GGMAX Request - Explosive damage FPE setting exposed in LUA"
In GGMax we have an Explosion Damage value. Can we please have a FPE setting to set this value by default and can we have this value exposed in lua eg: ExposiveDamage(e,value)  so as to be set in scripts. This is an important option for things now, such as mines, explosives etc
![explosives](https://user-images.githubusercontent.com/95015657/160726457-9c708a4b-a3a0-4693-80e8-2983ec39d009.png)
.

[2022-03-30 01:57] harkinhails commented on #2697
I thought you could create LOD's manually for objects. [Documentation ](https://gameguru-max.document360.io/docs/trees)talks of trees with LOD.

I don't know why a demo game is shipped without any performance optimization, unless manual LOD isn't a possibility with custom models? Still curious about instancing, is it planned feature or already in MAX? (I assumed Wicked Engine had such performance

[2022-03-30 06:06] ArgentArts commented on #2697
There are LODs for MAX's trees for their bioms. There aren't LODs for anything else (any of the assets you bring in via the Object Library). So, anything that's not a "tree" does not currently have any LODs. As stated previously, auto-LODs are planned, but not implemented. So are other culling and optimization features.

MAX is Early Access software. While some optimizations are there, not all are

[2022-03-30 07:25] UltraVox001 commented on #2594
@LeeBamberTGC
Yes, I confirm that it works fine now.
I close here.

[2022-03-30 07:58] Necrym59 commented on #2698
How come you have so many

[2022-03-30 08:11] #2687 closed

[2022-03-30 08:29] dllllllllllb commented on #2693
@jasailor Could you please provide a video of the issue happening? I've tried doing what you described but I can't get the player marker to fall through the ground.

[2022-03-30 08:39] dllllllllllb commented on #2695
@iplayablockhead You can move the editable area using the widget in the middle of editable area bounds.
Here's a quick video: https://www.youtube.com/watch?v=pl2Q6TRx3ZI

If you would like to jump from one area to another, you could either make 2 separate levels using the same map or use the "Teleport" behaviour :]

Is this what you had in mind?

[2022-03-30 08:54] dllllllllllb commented on #2699
@bonkorama Please submit distinct issues separately, it helps us with organisation :]

[2022-03-30 09:10] ArgentArts commented on #2699
For the laptop model, check that it's a STATIC model under the General tab. If it's set to physics, then that may be affecting it. You can also open the developers panel and set the IsImmoble setting. This will ensure that the laptop model does not float when you run the game.

For the characters and flags - Did you use the Shooter icon at the top to connect the character to the first flag, then c

[2022-03-30 10:26] PaulSJ commented on #2697
@harkinhails Please can you take a screenshot of both the upper and lower halves of the profiler in any problem areas

[2022-03-30 10:54] harkinhails commented on #2697
Sure:

**ISLAND**

[A](https://i.imgur.com/zxAufmi.png) (UP)
[A](https://i.imgur.com/AXKAkdb.png) (DOWN)

**SNOW STROLL**

[A](https://i.imgur.com/pQygoF7.png) (UP)
[A](https://i.imgur.com/0YIvNJn.png) (DOWN)

[B](https://i.imgur.com/eq2gbg6.png) (UP)
[B](https://i.imgur.com/Ghkb2lv.png) (DOWN)

**ZOMBIE CELLAR** (This is all 60 FPS, but just in-case it helps)

[A](https://i.imgur.com/VjQWGw0.png)

[2022-03-30 11:18] LeeBamberTGC commented on #2690
@mav3r1ck198-1 This is by design, you can switch between primary and secondary modes.  Feel free to close this one.

[2022-03-30 11:20] LeeBamberTGC commented on #2574
@dllllllllllb I have assigned to Thomas for next week, but if you can provide the list here that would be great :)

[2022-03-30 11:23] LeeBamberTGC commented on #2614
@OldFlak Can we assume the original issue 'glitchy start' has been resolved for the current version so this can be closed?

[2022-03-30 11:25] LeeBamberTGC commented on #2437
@dllllllllllb Reproduce this in the Island Showdown level, and where you see these massive trees, you can go in and replace the trees, when they are all sorted, save the level and that will be our new one, thanks!

[2022-03-30 11:43] Smeghead911 commented on #2656
This is also happening to me. I can edit the levels with some objects, but most of them seem to bring up the Runtime Error: 7018()
The following collections bring up the error: Arctic, Basement, Buildings, Characters, Fence, Industrial, Jungle, MAX, Shanty Town.
Bonus and Booster Packs don't bring up the error though, they're fine.
The attached capture doesn't show the error box, just me clicking

[2022-03-30 12:00] LeeBamberTGC commented on #2656
@Smeghead911 If you are a Steam user, you can try running the VERIFY FILES that will ensure you are not missing any files. This issue can happen if there are missing files in the installation or corrupt files.

[2022-03-30 12:00] PaulSJ commented on #2437
I think this was fixed before release

[2022-03-30 12:05] Smeghead911 commented on #2656
Hi Lee,
Thank you for responding, I am a Steam user, however my GGMAX was purchased as an early adopter from the TGC website. I'm just updating to 2022.03.29 currently. I think that I can link my GGMAX to Steam later anyway. I have done with other apps that I didn't purchase through Steam originally.

[2022-03-30 12:05] LeeBamberTGC commented on #2437
@PaulSJ That's great, @dllllllllllb Just needs confirming as fixed and then you can close :)

[2022-03-30 12:07] LeeBamberTGC commented on #2656
@Smeghead911 Understood. Probably best you make lots of backups then do a fresh install and remove any old files from the dev phase builds. Steam includes all the assets and skips our internal auto update systrem so should be a very reliable way to get the latest files all nice and clean :)

[2022-03-30 12:11] Smeghead911 commented on #2656
I'll try that if the update still brings the issue up. Looking at the entity bank files, they all seem to be there on my machine but I could be missing something.
Thanks again for the advice.

[2022-03-30 12:56] OldFlak commented on #2614
@LeeBamberTGC Thanks for looking into it - still noticeable here but probably not worth worrying about :)

[2022-03-30 13:02] Smeghead911 commented on #2656
Happy to report that the update to 2022.03.29 seems to have fixed my issue :)

Tried all of the lists of game objects and none of them resulted in the error.

The initial install must have somehow missed or dropped some files.

[2022-03-30 13:03] OldFlak commented on #2242
@plemsoft thanks Preben all fixed here :)

[2022-03-30 13:05] LeeBamberTGC commented on #2656
@Smeghead911 That is excellent, thanks for reporting back!!

[2022-03-30 13:16] #2437 closed

[2022-03-30 14:03] PaulSJ commented on #2697
Thanks, I'll investigate this issue

[2022-03-30 14:09] Benjib0y opened #2701 "UI - Moving GGM across various aspect ratios doesn't display UI properly"
Just installed and run GGMax for the first time. started a new project, went into the Terrain Generator to create a new level. The 'Generate Terrain and Open the Level Editor' button is missing, and there's no way back to the storyboard editor.
Ahha!
I have just figured out that this happens when I move the GG window to the 1080p TV screen I have attached as screen 2 to the HDMI port, rather than

[2022-03-30 15:21] dllllllllllb commented on #2548
@LeeBamberTGC I changed one of the crosshairs colour, and changed the code only display it when zoomed in. It's centred properly, however the crosshair is fixed on the screen and doesn't respond to the animations / movement of the weapon.
Video: https://www.youtube.com/watch?v=ohEPKqhwPTg

I tried to edit the gun_color.dds file to centre the crosshair properly but the pixel density or maybe the co

[2022-03-30 16:28] PaulSJ commented on #2689
The Ryzen 5600G is using integrated graphics, so it's below the minimum spec, but some changes have been made to object culling that should show some improvement, see if the next version is any better.

You could also try reducing the shadow quality and quantity to see if that helps.

[2022-03-30 16:32] ArgentArts commented on #2697
Someone really needs to go through the demos, too. I was taking a look at Jungle Fever, for example. A lot of the giant rocks that surround the area are using Convex Hull as a collision type ... even those boundary rocks that the player will never come into contact with. Convex Hull hits any engine heavily. There are objects, out of reach to the player, that have collision meshes. There are tons o

[2022-03-30 16:46] ArgentArts commented on #2697
For example, I took the entrance to the Snowy Stroll and went through everything. All the light fixtures had some form of collision detection. I made them each have "no collision". I took anything out of reach of the player and assigned it "no collision". The benches had convex hull and I gave them box collision (since no one can get under them, etc.). I also gave the pipes box collision instead o

[2022-03-30 16:54] mav3r1ck198-1 commented on #2690
Hi Lee, I appreciate that pressing the V key allows for a secondary use of that weapon, however if you watch the animation, you will see there is an error. The right hand appears as a static mesh, with an additional animated mesh overlaid. The same occurs with the gun itself. 
It makes it appear as if the normals are inverted. 

Sent from the all-new AOL app for Android

  On Wed, 30 Mar 2022 at 1

[2022-03-30 18:12] ArgentArts opened #2702 "GameGuru MAX - Request - Storyboard Needs End Credits Area"
Currently, we have the Game Won and Game Over screens, but how about adding an End Credits screen where we can give credit to any help we've had making the game (people, companies, etc.)?

[2022-03-30 18:15] bonkorama commented on #2699
I did not connect the flags. I searched the manual and did not see anything about attaching and I could not infer the proper method from simply the interface. I'll continue to look the the reference (unless u can point me to it in the manual) maybe there is no problem.

[2022-03-30 18:17] ArgentArts commented on #2699
The manual is being updated. I know that parts (particularly that part) has been written, but I don't see that it's been put up yet. So, what you have to do is activate the Shooter icon. You'll see dots on the connectable objects. Connect the dot from the soldier to the first flag. Then do that from the first flag to the second and so on. Then, when you run your game, the character should walk to

[2022-03-30 18:20] ArgentArts commented on #2699
If I can help you in any way with this, let me know. I can put together a quick video, if you need it.

[2022-03-30 18:32] bonkorama commented on #2699
Sorry. Will do. 👍

Paul LeBlanc
Mobile: 213.598.4655

"In the land of the blind, the one-eyed man is king."

[2022-03-30 18:35] ArgentArts commented on #2699
Why are you posting your mobile number here for everyone to see?

[2022-03-30 18:46] bonkorama commented on #2699
Two reasons.
One: I'm on my phone using GitHub mobile and I guess it used my signature.
Two: an idiot lives inside me.
😬

[2022-03-30 18:47] ArgentArts commented on #2699
Hahah! I think the same idiot lives in me, too! No worries. ;)

[2022-03-30 20:03] harkinhails commented on #2697
Looking forward to testing it when it's on Steam. I'll post updates here.

Haha, that's what I said before, "I don't know why a demo game was shipped without any performance optimization."

It gives a really bad impression when demos are giving such performance hits. When next update is released, I wanna try editing some of these demos myself to see how performance can be improved further. Should

[2022-03-30 20:05] ArgentArts commented on #2697
Sure. But, remember, these are all user created demos ... except the Switch Demo. So ...

But, you're right. They ship with MAX and will reflect on the engine.

[2022-03-30 20:15] hamedsheygh opened #2703 "standalone problems"
birds cant move
fox without textures
you cant pickup m4 ammo type

[2022-03-30 21:39] Tum1370 commented on #2696
I opened this ticket about this problem 26 days ago.
I have uninstalled / reinstalled several times now.
I have removed the download version and then installed the Steam version, yet still i have the same problem.
Here is the original post about this problem and more information about it.

https://github.com/TheGameCreators/GameGuruRepo/issues/2405

[2022-03-30 21:43] Tum1370 commented on #2671
I have had this several times to, The last time it happened for me was on the latest Steam version.
I am sure a reload of Max sorted this for me. But still it needs fixing.

[2022-03-31 02:21] HannahIsCrying opened #2704 "Save standalone game"
Every time I try to save my game as a save standalone it gets to about 5-25% before a runtime error pops up.

Runtime error!
Program: ...x86/Steam/steamapps/common/GameGuru/Guru-MapEditor.exe
This application has requested the runtime to terminate it in an unusual way. Please contact the applications support team for more information.

This error has happened to me A LOT of times since I first sta

[2022-03-31 05:30] harkinhails commented on #2702
Fade in, fade out, show story moments with scrolling or typewriter like text effect.

[2022-03-31 06:49] davetgc opened #2705 "Muzzle flash - lack of"
The lack of muzzle flash on character weapons and player weapons has been noted by a few viewers of influencer videos.

A clear example is shown here:

https://youtu.be/SObuBWUByjA?t=562

[2022-03-31 08:27] LeeBamberTGC commented on #2548
@dllllllllllb I think that will be fine as it will be accurate now when the gun is steady, we can always add back in the sway offset to the crosshair as an enhancement in the future. Check all the other weapons that have cross hairs to make sure we have not messed anything else up and then we can put this one in a build.

[2022-03-31 08:32] ZakJudges opened #2706 "Update the Hub to display however many demos are in tutorialbank\games"
Before displaying the hub, scan the tutorialbank\games folder for any demos and allocate the correct amount of slots for them

[2022-03-31 11:15] Granada1 opened #2707 "Request - Access to Max character rig"
Can we have access to the character rig to try making clothes ect please

[2022-03-31 11:17] Granada1 commented on #2640
This has been fixed in the latest experimental build , thank you

[2022-03-31 11:17] #2640 closed

[2022-03-31 11:19] Granada1 commented on #2593
Fixed in latest build , thank you

[2022-03-31 11:19] #2593 closed

[2022-03-31 11:21] Granada1 commented on #2265
Seems to work now by adding (smooth angle 101 )to the Fpe

[2022-03-31 11:21] #2265 closed

[2022-03-31 11:38] davetgc opened #2708 "Weird image tearing in reflections on Snowy Mountain Stroll"
![image](https://user-images.githubusercontent.com/99803873/161046573-b40d0522-2e0e-47cf-8b5a-584f90654ede.png)

[2022-03-31 12:00] thecyrus commented on #2704
@dllllllllllb It's not Max, it's Classic this time.

[2022-03-31 12:17] dllllllllllb commented on #2708
Duplicate #2601

[2022-03-31 12:17] #2708 closed

[2022-03-31 12:24] harkinhails commented on #2707
Max rig please.

[2022-03-31 14:01] Granada1 commented on #2707
Fbx rig for everyone please !

[2022-03-31 14:12] relishrompgames opened #2709 "EBE - Go to edit it and it vanishes"
Problem here. I will post on get hub. The EBE vanishes...

https://youtu.be/yZyl6nUvHoI

[youtube]lyZyl6nUvHoI[/youtube]

[2022-03-31 14:28] dllllllllllb opened #2710 "Bullet holes have a white square outline"
![image](https://user-images.githubusercontent.com/61796872/161078930-4d2cb2b9-9250-4da9-b409-7c5fc48a5df5.png)
![image](https://user-images.githubusercontent.com/61796872/161078943-3ba5910d-c9ec-40ee-be27-4a13a93d420a.png)

[2022-03-31 14:31] dllllllllllb opened #2711 "Widget - Can't freely move an object if the widget is enabled"
You were able to freely move the object even if the widget was enabled before the widget improvements.
https://gyazo.com/cdd76c0c660861c9474b8b6baa24a679

[2022-03-31 15:49] ZakJudges commented on #2443
Thanks all, this has now been fixed and should be in a build in the near future :)

[2022-03-31 16:08] ZakJudges commented on #2405
Hi @Tum1370, could you try out the attached executable, and let me know if it sorts this issue for you? :)
You will need to replace your existing GameGuruMAX.exe with this one. Note that it is a debug build so will be very slow compared to what you are used to, it would be best to move your normal .exe file, so it can be easily restored later. Thanks!
[GameGuruMAX.zip](https://github.com/TheGameCr

[2022-03-31 16:08] ArgentArts opened #2712 "GameGuru MAX - Bug - Undo Does Not Restore Move"
If you move an object then hit CTRL+Z to undo that move, it does work. In fact, if you add an object, move the object, then press CTRL+Z, undo will remove the added object. Therefore, UNDO does not consider moving an object as a state to undo ... at least in most cases. This make it a pain if you accidently move something and want to just return it to it's previous position, etc.

[2022-03-31 16:12] Granada1 opened #2713 "Enemy shout out sounds don't carry over to standalone"
Enemy shout out sounds Not carrying over to standalone
Latest experimental build

[2022-03-31 16:15] MonkeyFrogStudio opened #2714 "GameGuru MAX - Bug - Emissive behaviour only appears when the object is selected"
Emissive amount appears to change if object with emissive texture is selected or not:

https://user-images.githubusercontent.com/36735507/161101199-0f5cade8-8411-4bfe-840d-afcbbf19a2f8.mp4

This makes it difficult to determine what the actual emissive amount will look like before running the game.

In my other level, which has point lights in it (unlike the above test level), the exact same emissi

[2022-03-31 16:46] ArgentArts opened #2715 "GameGuru MAX - Request - Sneak Attack on Enemies"
We already have it were we can be sneaky and possibly avoid being seen/heard by enemies. Now we need a way to quietly dispose of enemies. Many games have a mechanic where you can sneak up quietly behind an enemy and, if you succeed, you can choose to take them out quietly. Often this is assigned to the action key ("E") or even the "Q" key or both (if there is a choice as to how to do it, such as s

[2022-03-31 16:48] MonkeyFrogStudio opened #2716 "GameGuru MAX - Hide Body and Enemy Discover Body"
Bounding off the idea of being able to sneak up and quietly dispose of an enemy:

https://github.com/TheGameCreators/GameGuruRepo/issues/2715

What about adding the ability to pick up and hide a body to avoid it being discovered? Also, this would mean that patrolling enemies could actually discover dead comrades, be alerted to infiltration as a result, and warn others (if a a comrade's body is fou

[2022-03-31 16:56] ArgentArts opened #2717 "GameGuru MAX - Request - Link to File for Sound Bites"
Currently, we have four slots for sounds we can attach to an enemy character. As a result, it can get pretty repetitious in-game, especially if you encounter dozens of enemy soldiers, all saying the same four things. It seems impractical to just keep expanding these slots. Therefore, I'd like to suggest that we have the ability to link to a file, like a text file of some sort. This file would cont

[2022-03-31 17:17] harkinhails commented on #2697
BUILD 2022.03.31

I believe in gained like 1 FPS in problem areas. It helped make the combat and movement feel slightly less laggy, but it's still awful to play any demo map with large levels.

ISLAND

[A](https://i.imgur.com/pzGVex4.png) (UP)
[A](https://i.imgur.com/RDdmKI6.png) (DOWN)

SNOW STROLL

[A](https://i.imgur.com/2M2XjAR.png) (UP)
[A](https://i.imgur.com/YmgxfrL.png) (DOWN)

[B](https:/

[2022-03-31 17:24] Grogadog opened #2718 "trees in air , minor bug"
![treesInAir](https://user-images.githubusercontent.com/42348288/161113931-c9588048-4b58-4262-8aea-13d2a025e4a9.jpg)
Deep ravine in GGmax, loads of trees in long ravine but these two not rooted to ground. Just letting you know.

[2022-03-31 18:05] Tum1370 commented on #2405
I have just tried this and Max will not run when using this version for me.
I am on the Steam version currently,

[2022-03-31 19:55] LeeBamberTGC commented on #2405
@Tum1370 When Zak has a fix in the EXPERIMENTAL build, we will mak it as Fixed But Needs Confirmation here so you know when to check it out officially.  Debug builds often require additional Windows redist files to work propetly alas.

[2022-03-31 20:05] MonkeyFrogStudio opened #2719 "GameGuru MAX - Bug - "Screens" and Ultrawide Monitors Issue"
For those of us that have ultrawide monitors, the "screens" (Splash screen, Title screen, Loading screen, etc.) present a bit of an issue. They stretch, are ugly as a result, and text gets cut off so we can't read it. That means that if we were to ship a game and someone were to play it on an ultrawide monitor, they would not be happy with what they see. Here's an example from one of the demos, Fo

[2022-03-31 20:10] ArgentArts commented on #2706
Confirmed. There are 10 demos in my update

[2022-03-31 22:26] janekste opened #2720 "Russian letters are invisible in the text zone. GameGuru Max"
Russian letters are invisible in the text zone. Please fix it.

A lot of people are waiting for the support of Russian fonts in GameGuru Max. I am happy that you have added support for Russian letters to the menu editor. I really hope that Russian letters will be supported everywhere, not just in the menu editor.

Thank you for your time.

![image](https://user-images.githubusercontent.com/5548552

[2022-03-31 23:04] LeeBamberTGC opened #2721 "Add ability to replace collision mesh of object if object contains them by name"
Add a built-in ability for ANY object to detect meshes that are indicated as collision meshes and used as such by the physics system. Currently, collision meshes are specified by including a .OBJ file next to the .DBO file for this purpose, but many artists will want to include the collision mesh within the object being exported for convenience, and so no changes to FPE are required also. An examp

[2022-04-01 00:30] iplayablockhead commented on #2695
Hello and thank you, I have a idea and would like to make it that the player needs to progress across a game map. The map would be in different area for different levels. Each one would be accessible  once the level is complete.

However, I am able to use my own height map, import it and set it all up, but when I move the playable zone/area to where I want the first level it always snaps back to t

[2022-04-01 01:15] ArgentArts commented on #2721
Definitely need this as a modeler. It will simplify things for both those of us that create our own models and for people creating models to sell because we can then create custom collision meshes that will be included. Being able to import one mesh and get both the object and the collision mesh in one go is much, much better, imo, then having to export two meshes (one for the actual model, one fo

[2022-04-01 04:21] ArgentArts commented on #2721
If it's simpler to implement, another solution would be to have a field in the importer to add a collision mesh in a similar way you'd add your textures to create your material for the model:

![collision](https://user-images.githubusercontent.com/36735507/161194250-6f27d5c2-2645-4b6f-8a58-1ae7663912e5.png)

The end-user would then have a choice of either selecting one of the provided collision me

[2022-04-01 04:28] Necrym59 opened #2722 "GGMAX - Behaviour Editor Fix Requirement and Request"
The Behaviour Editor while being a great idea is a little bit clunky in operation. Please can we get the opening of the Behaviour Editor to start in the list in collapsed mode so as to then choose straight away which behaviour we wish to modify or add.
NOW WHEN IT OPENS
![now](https://user-images.githubusercontent.com/95015657/161194390-a7e1603c-1075-4e8a-9035-cf512f2241f3.jpg)
A BETTER WAY TO VIE

[2022-04-01 04:36] ArgentArts opened #2723 "GameGuru MAX - Request - Behaviour Editor to Flow Horizontally Instead of Vertically"
When accessing the Behaviour Editor, they are often long and flow off the bottom of the screen, forcing the end-user to scroll and scroll. I would like to recommend that the Behaviour Editor flow HORIZONTALLY instead since all of our monitors are longer than tall. Ultimately, they should look more like this, in my opinion:

![969806f6acab39d940665b463f40243ff0e59c46](https://user-images.githubuser

[2022-04-01 04:43] Necrym59 opened #2724 "GGMAX - AI Enhancement"
After analysing the AI in GGMAX the problem isnt with how they are reacting to certain things its why! They actually do quite well in a lot of regards but because they have no personality traits then they are predictable. I think an overall AIPersonality variable needs to be established that will dictate the degree of action the entity will take. Example: If AIpersonality = 'timid' then it wont ra

[2022-04-01 04:52] Necrym59 commented on #2723
I just mentioned stuff about that - great minds again lol

[2022-04-01 05:06] Necrym59 commented on #2719
My screens even worse than yours
![widescreen2](https://user-images.githubusercontent.com/95015657/161198383-b709524d-348e-4e0f-a298-c6b7a080e9f3.png)

[2022-04-01 05:35] tacooo12 commented on #2657
I updated my video card driver. That did not do much to help that I could tell. I have tried hovering over the 3d models and some show up fine and others turn white. And others like the exploding barrel cause the runtime error. I can place the ones that show up fine after hovering my mouse pointer, such as the crow, or non exploding barrel. The rabbit is a cube when placed in a level and the rat i

[2022-04-01 07:03] plemsoft commented on #2719
@ArgentArts You can select Backdrop - Zoom,Center,Stretch , if you have it set with "zoom" then it looks like the zoom have a bug on widescreen monitors , is that the case ?

[2022-04-01 07:15] plemsoft commented on #2657
@tacooo12 The "Barrel Explosive.dbo" should be 171kb, if its only 1kb on your system then you had a download problems , please try to redownload everything again :)

[2022-04-01 09:01] Necrym59 commented on #2719
SETTINGS
![settings](https://user-images.githubusercontent.com/95015657/161231460-93791f32-8207-4fe5-ba2a-f278d80a9daa.jpg)
RESULT
![result](https://user-images.githubusercontent.com/95015657/161231498-414a7a3d-106a-4df5-8495-7595eb415f69.jpg)

[2022-04-01 09:54] DaveTGC2 opened #2725 "AI not responding even when always active."
From Discord:

I've now installed the steam version of GG Max and am playing around with a sniper test I created in the original version. For some reason the AI is not activating and objects are not appearing when they are far away from the player even when always active is set to on. This worked previously in TGC version. Is there a setting I need to tweak somewhere? Thanks.

AI's should always m

[2022-04-01 10:25] Granada1 opened #2726 "Enemies and grenades"
The ability for enemies to throw and run from grenades would make battles a lot more realistic and harder

[2022-04-01 11:14] ZakJudges commented on #2713
Hi @Granada1, thanks for reporting this issue. A fix has been added which you should see in next weeks build :)

[2022-04-01 12:38] ZakJudges commented on #2712
@LeeBamberTGC I believe this occurs when the widget is enabled. Since being updated, you cannot move objects without the widget (#2711)
Do you know if this is by design or not? I can add undo/redo to the new widget code if it is :)

[2022-04-01 13:05] ArgentArts commented on #2719
@plemsoft I think there's another bug here. I tried to create stand-alones with all three loading screen types (zoom, center, and stretch), but they all looked the same. When I went back into MAX, to the Storyboard Editor, and clicked on the Loading Screen, it was reset to Backdrop Zoom, even though I had selected one of the others.

[2022-04-01 13:15] ArgentArts commented on #2712
Frankly, from a modeler's perspective (and I can only speak for me), if I am using the widget, then the widget is what I am going to use to move and nothing else (as long as he widget is active). We have the "square" areas between axis to move along more than one axis at a time, so, to me, there's no real reason to use 'smart move position' when using the widget. Again, just my opinion.

[2022-04-01 13:22] casigus commented on #2228
yayyyyyyyyyyyyyyyyy. :D !!

[2022-04-01 13:22] #2228 closed

[2022-04-01 13:22] Granada1 commented on #2712
I live the smart move for placing lights and initial placing of other objects ,a easy to click between options would be cool

[2022-04-01 13:22] ArgentArts opened #2727 "GameGuru MAX - Bug - Click+Drag from Panel Sometimes Drags Viewport Objects"
I cannot get this to happen all the time, but when it does, it's a PITA. Sometimes, when you CLICK+DRAG from the Level Objects panel, Game Elements panel, or Current Objects/Groups panel, you end up also selecting and moving an object already placed in your level that's partially behind the UI (i.e. you can sometimes select objects through the UI). Therefore, as you drag from these panels, you end

[2022-04-01 14:29] PaulFox12 opened #2728 "Request - Support for non carried weapons"
As part of work on the shooter genre, support for weapon types that aren't carried by the player or AI characters. To allow things like useable mounted guns, or turrets that shoot at the player.

[2022-04-01 14:36] #1882 closed

[2022-04-01 15:00] LeeBamberTGC commented on #2712
@ZakJudges If you feel it is an easy add, bounce the idea of RIck but if we are not using those keys I think F1 widget toggle and F2, F3, F4 for position, rotation and scale when you are in widget mode and F2, F3 and F4 for smart, horiz and vert when not in widget mode gives all users instant shortcuts we currently do not have to much-used features!  Rick may want the idea sketched out more before

[2022-04-01 15:09] ZakJudges commented on #2712
Rick has given the go-ahead. I'll start work on it now :)

[2022-04-01 15:42] SquireOfGothos opened #2729 "GameGuru Max Bug - Alpha clipping issue found in "Snowy Mountain Stroll" demo"
I posted this issue in the forum and it's been confirmed as a bug.  In the Snowy Mountain Stroll demo the fencing panels only have wire on one side.  This can be seen in the building that has two rooms and a ramp leading up to each. Here are a couple of screen shots:

![Fence](https://user-images.githubusercontent.com/15776865/161296935-b2f034d6-a858-4966-9e78-fba35352fae5.jpg)
![No fence](https:/

[2022-04-01 16:23] Granada1 commented on #2712
Great addition

[2022-04-01 16:56] ArgentArts opened #2730 "GameGuru MAX - Request - Ladder Behaviour to Hide Arms/Weapons"
I think it would look a lot better if the player hands/weapons were not visible when using the ladder. Therefore, if possible, I'd like to see if the Ladder Behaviour could be modified so that when the player is on the ladder the hands/weapons are hidden?

Thanks. :)

[2022-04-01 17:25] toxicclowd commented on #1833
I'm confirming this as well, When looking forward the player moves very slowly, shooting guns seems to work at proper speed but throwing a grenade happens in slow motion. looking down at the ground helps as well as looking straight up. at first I thought it was just the frame rate, but then noticed that it happens regardless of whether the framerate is in the teens or in the thirties. When I first

[2022-04-01 18:25] Necrym59 commented on #2730
Those animations would have to be done by the TCG team not the ladder behaviour i think, theirs no way to change except to hide wepon holding mode, which i could do. They really need to have a climbing arm animation to switch in and out.

[2022-04-01 18:28] ArgentArts commented on #2730
I didn't ask for an animation. I asked to hide the arms/weapon. This is already possible ... just like when you run the game with no melee and no weapon. The arms are hidden. ;) That's all I asked for. ;)

[2022-04-01 18:31] Necrym59 commented on #2730
OK will do, ill update the ladder im doing a couple of improvements anyway so ill slot that in.

[2022-04-01 18:37] ArgentArts commented on #2730
Wow! Is this your Behaviour? I wasn't trying to give you work to do. ;)

[2022-04-01 18:38] ArgentArts commented on #2730
And I definitely don't need it now or for some time to come. I was just messing with the Snowy Stroll demo and noticed how awful it looked to see that pistol in my hand as I climbed the ladder. ;)

[2022-04-01 19:12] tacooo12 commented on #2657
This last update was a winner. The demos now work fine. I will look at the level maker next to see if things are working there also.

[2022-04-01 19:13] Necrym59 commented on #2730
Too late
[ladder_v19.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8400339/ladder_v19.zip)

[2022-04-01 19:15] MonkeyFrogStudio opened #2731 "GameGuru MAX - Bug - EBE Flashes White When Other Object Selected"
See video:

https://user-images.githubusercontent.com/36735507/161327431-1b944192-1a88-47c1-b9b4-4a68cb3dcd05.mp4

[2022-04-01 19:16] Necrym59 commented on #1872
Update Ladder v19
- Grip Adjustment  added for some ladders that resist climbing.
- Optiion to hide arms/weapon while climbing
[ladder_v19.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8400349/ladder_v19.zip)

[2022-04-01 19:46] Granada1 commented on #1872
Thank you

[2022-04-01 19:48] Necrym59 commented on #2611
Issue seems resolved

[2022-04-01 19:48] #2611 closed

[2022-04-01 20:06] ArgentArts commented on #2730
You, sir, rock!

[2022-04-01 20:14] ArgentArts commented on #2730
@Necrym59 Is this supposed to hide the arms/weapons? I tested it in Snowy Stroll on the ladder and it was the same.

[2022-04-01 20:29] Necrym59 commented on #2730
It works - did you select the right script v19 and did you select hide from the behaviour
![v19](https://user-images.githubusercontent.com/95015657/161336882-97e27e88-ad6c-482d-9863-c7c68625ff4f.jpg)

[2022-04-01 20:44] thecyrus opened #2732 "GG Classic - Player can pickup items through walls"
Items pickup is only based on player distance and doesn't consider walls, so you can pick up a key if it's in a small room, from outside.

[2022-04-01 20:44] ArgentArts commented on #2730
Yep. My bad. It does work. I didn't see the Climb Style drop-down.

But try this ... set Climb Style to Hide Weapon. Run the game. Climb up the ladder and the weapon hides. Nice! Get off the ladder at the top. Weapon reappears. Nice! Slowly back up so that you get back on the ladder again and start back down the ladder ... the weapon does not hide going down the ladder. ;)

[2022-04-01 20:49] Necrym59 commented on #2730
from entry at the top, ok ill look into it.

[2022-04-01 20:50] ArgentArts commented on #2730
I know, I'm a pain. ;)

[2022-04-01 20:50] Necrym59 commented on #2730
lol its ok do you think i should make hide weapon as the default?

[2022-04-01 20:52] ArgentArts commented on #2730
I would. But that's how I think. Personally, I think it looks silly to climb up the ladder with the gun out. Imagine how that would look if you were armed with one of the rifles!

[2022-04-01 20:53] Necrym59 commented on #2730
lol ok

[2022-04-01 21:00] Necrym59 commented on #2730
There works ok now up and down
[ladder_v20.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8400872/ladder_v20.zip)
and default is hide weapon

[2022-04-01 21:01] Necrym59 commented on #2730
no wait defasult isnt working

[2022-04-01 21:02] ArgentArts commented on #2730
No worries. I'm off to prepare dinner ... be back in a bit. :)

[2022-04-01 21:08] Necrym59 commented on #2730
Ok here its all working now, default is hide weapon, now works when entry from top of ladders
[ladder_v20.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8400908/ladder_v20.zip)

[2022-04-01 21:15] Necrym59 commented on #2730
Off to get breakfast :) back later

[2022-04-01 22:39] ArgentArts opened #2733 "GameGuru MAX - Request - Visually Adjust Character View Angle/Extent in Editor, not Test Game"
It would be great if we could adjust a character's view angle, etc., visually within the editor and not just in test game. I'd love to place an enemy, for example, click the Shooter Game icon (perhaps?), and then be able to visually see the cone that shows me the angle and distance the enemy can see. Then to be able to adjust it visually right there in the view port by dragging handles, not just u

[2022-04-02 01:18] Necrym59 commented on #1872
Someone from TCG please test and approve so it can update the existing ladder in next build.

[2022-04-02 01:32] #2505 closed

[2022-04-02 01:32] #2313 closed

[2022-04-02 01:33] #2419 closed

[2022-04-02 03:47] harkinhails commented on #2697
It has been a year, so I formatted and re-installed Windows 10 (Enterprise LTSC 21H2). Performance is exactly the same, no change in FPS.

Lots of objects being rendered in open areas kills the FPS completely. It won't change unless LOD system is in place, or unless every GG Max game is only indoors, close quarters. You'll need a higher end GPU than 1060 to render everything at playable frames.

O

[2022-04-02 03:48] harkinhails commented on #2726
More than grenades, like Molotovs or any throwable object player can throw as well.

[2022-04-02 04:17] Necrym59 commented on #1970
Climber Version 20
- Brought into line with ladder script v20
- Option to hide/show arms/weapon while climbing
- Default is Hide Weapon/arms
[climber_v20.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8401802/climber_v20.zip)

[2022-04-02 04:22] Kitakazi commented on #2650
With the last update frame rate dropping with weapons is fixed now

[2022-04-02 04:22] #2650 closed

[2022-04-02 04:42] ArgentArts opened #2734 "GameGuru MAX - Request - Storyboard Chapter Screens"
I would like to request something I am calling Storyboard Chapter Screens. Chapter Screens would be screens, like Loading Screens, that you can place between levels, to provide more information to the player.

Let's imagine a longer game with 25 levels that's broken into 5 chapters of 5 levels each. The player starts, gets the initial loading screen, plays the first five levels, which completes th

[2022-04-02 05:32] Kitakazi commented on #1601
Although I have skybox set to "none" turning off the sun shadow has boosted performance by about 5 fps.

[2022-04-02 07:01] Grogadog opened #2735 "Bodger - Creeper Zombie - static object"
Bodger - Creeper Zombie - no behaviour assigned.
shown as static object

[2022-04-02 07:05] Necrym59 opened #2736 "Request - Exposed material properties in LUA"
Can we please get any or all of these settings exposed in lua, especially the alpha and transparency and emmisive setings.
eg SetEmissiveTexture(e, value) if possible.
![lua_settings](https://user-images.githubusercontent.com/95015657/161371322-f4e0d967-8b7b-4ce3-a074-e22f1d542d92.jpg)

[2022-04-02 07:36] Tum1370 commented on #2405
This no gun issue is there on every method I have tried to play the full game.
When playing single level I have a gun.

[2022-04-02 07:52] hamedsheygh commented on #2703
nothing solved same problems plus new bugs you cant see inside of tent walls.

[2022-04-02 07:56] AndrewMarais opened #2737 "GameGuru Max Bug - 3D Level Editor-Terrain Tools-Palette not loading selection"
When changing the texture(right click) opens a file selection.
Then selecting a TGA file, it does not load the file but randomly changes the selected texture, instead of taking the file/image selected.

![image](https://user-images.githubusercontent.com/28435414/161373040-7f5c5db8-64d0-4e43-a7bb-05d782471b08.png)

[2022-04-02 08:28] #2255 closed

[2022-04-02 10:16] fearlesswee opened #2738 "MAX - Crash central"
Running the latest EA build on Steam.

MAX will crash randomly and extremely frequently when trying to place down assets or change audio attached to entities. I will also 100% crash when I am trying to open a saved level that I sunk 2 hours into :(

Validated files twice, Steam reported all files successfully validated. Nothing seems consistent about the crash with placing assets/changing audio sl

[2022-04-02 10:28] OldFlak opened #2739 "MAX - Steam Version Includes Unwanted Models"
Can we have options to not download stock models if we don't want them, like we can in MAX updater.

Of all the models that come with MAX I will only use some of the plants, and those that I do use will be placed in my Custom Write folders on second drive.

SSD space is too precious to waste on stuff you don't use, especially when they are large space invaders :)

Why not make them stock media fre

[2022-04-02 10:57] davetgc opened #2740 "Interior faces missing from many models in 01/04/2022 build."
![image](https://user-images.githubusercontent.com/99803873/161380102-27b84bfe-1ed4-44b9-8670-02bdd9b98404.png)

Making the model double sided fixes the issue, so I'm guessing something has changed, preventing the interior being drawn.

[2022-04-02 13:02] OldFlak opened #2741 "MAX - 2022.03.31 - Tiny Installer Installs Everything"
Installs everything even when boxes are not checked

[2022-04-02 13:57] Tum1370 commented on #2405
I just tried the EXE that Zak posted here for me to try.
 I tried this again, after installing an ALL Visual C++ Runtime installer, so that installed every one available up to 2022.
But still even after installing the full package of Runtimes i still get the same error message when trying the debug version.
So am not sure how i could try this version now for Zak.

![image](https://user-images.gith

[2022-04-02 14:00] bluemeenie195 opened #2742 "Script weirdness in Max"
I know guys are super busy, but when you have a second could you take a look at this script.

Don't know if it's due to a different command or something else, but in the video when you move the torch to an entity it pushes the flame away and also when running at different directions too.

Works perfectly in Classic.

 https://youtu.be/hINecd64FSY

[torchgo.txt](https://github.com/TheGameCreators/G

[2022-04-02 15:14] Granada1 commented on #2742
It’s best to post this on the Max Discord in the scripts channel 👍

[2022-04-02 15:24] bluemeenie195 commented on #2742
I was working with AmenMoses through Discord Message. We came to the conclusion to post it here and see if they could figure it out.

[2022-04-02 15:29] Granada1 commented on #2742
Cool,  if amen can’t sort it your probably right 👍

[2022-04-02 15:36] synchromesh62 commented on #1970
Got to hand it to you.
Awesome script.

[2022-04-02 16:31] ArgentArts opened #2743 "GameGuru MAX - Bug - If MAX in Window, Shooter Relationship Dialog Way Off"
See Screen shots:

This is MAX at full-screen:
![shooter1](https://user-images.githubusercontent.com/36735507/161392296-4d7cd7be-cdbc-4a0e-85d8-477cdd091866.png)

Notice that clicking on the sphere brings up the logic menu right on the sphere. The arrow points to the sphere that's been clicked on.

This is MAX in a window:
![shooter2](https://user-images.githubusercontent.com/36735507/161392316-60

[2022-04-02 17:12] GraPhiX-Guru commented on #2405
@Tum1370  download these DLL's and put hem in the same directory as GameGuruMAX.exe https://drive.google.com/file/d/1RjZMuTjZCuz6UqUReR1MMU39-MaIWiMa/view

[2022-04-02 17:28] AmenMoses commented on #2742
Well if a script works perfectly in Classic and then doesn't work in MAX it's not much use asking the scripter what the problem is!

Obviously a Lua function doesn't work in MAX the same way it does in Classic.

In this case the flame is using the Classic particles system so something about that in MAX no longer works the way it should.

[2022-04-02 17:31] Tum1370 commented on #2405
@GraPhiX-Guru Thanks, That got the EXE working.
@ZakJudges I just tested the EXE you ask me to, First when i downloaded it, windows defender was constantly removing it due to a threat, but after getting it downloaded, i tested it, and still when i hit PLAY GAME i have no weapon visible.

[2022-04-02 18:15] ArgentArts opened #2744 "GameGuru MAX - Request - Smooth Transitions on Turn"
I've set up a character patrol. When it gets to the next flag, he pivots to orient on the next flag. In many cases, this can produce a rather jarring motion.

https://user-images.githubusercontent.com/36735507/161396024-2e04d74e-51b2-426f-bc05-6e4222bf2265.mp4

Some of them don't look too bad in this video, but they can look a lot worse and very unnatural. Would it be possible to somehow get a smo

[2022-04-02 19:26] AmenMoses commented on #2744
The characters turn speed is supposed to do this btw, not sure if that is exposed via the settings though.

[2022-04-02 19:33] ArgentArts commented on #2744
It's not the speed of the turn, it's the angle of the turn. I am looking to make the turns less severe. Most people don't walk around an object by pivoting. They follow a slight arc. Since the flags can't simulate this, it would be nice if we could have a slight arc at each flag instead of strict pivot.

[2022-04-02 20:55] Zorgo33 opened #2745 "Game Guru Max - Object script issue. No pick up script"
I've mentioned this in a broadcast of game guru max, and there was supposed to still be a script for picking up objects physically (like pickupsimple.lua) but with a diffrient name. Looked trough every single one and didn't find a single one that has the logic of carrying an object with physics.

So i can say, physics pickup script is missing.

[2022-04-02 22:35] PaulFox12 commented on #2744
The turning at each flag on a path is very unnatural and robotic, it would be nice if the engine created some sort bezier curve constrained by any obstacles between all the flags that the AI could then use as a route

[2022-04-03 08:24] OldFlak commented on #1313
2022.03.31 - As this issue is related to fog here be a couple screenshots to show where this is at

The current state is that Fog is not very good at all when using skybox.

**Fog - Great with Simulated Sky**
![image](https://user-images.githubusercontent.com/12246318/161418856-a1979a32-ca2b-4967-bd52-420ea85f9848.png)

**Fog - Rubbish with Skybox**
![image](https://user-images.githubusercontent.c

[2022-04-03 08:30] #2624 closed

[2022-04-03 08:32] #2533 closed

[2022-04-03 08:32] rvanner commented on #2674
Closing this now because these issues are no longer being reported.

[2022-04-03 08:32] #2674 closed

[2022-04-03 08:34] rvanner commented on #2495
@dllllllllllb Can you do as @davekirk85 has suggested and if it fixes this update the game?

[2022-04-03 08:35] rvanner commented on #2282
Closing this now that frame rates are vastly improved.

[2022-04-03 08:35] #2282 closed

[2022-04-03 08:39] rvanner commented on #2073
Headshots should be an instant kill - it is in most games.

[2022-04-03 08:44] rvanner commented on #2038
@plemsoft Can you look into this (Lee didn't get time before EA release). See if this makes sense to do now (after you changed the compression of textures).

[2022-04-03 08:44] OldFlak commented on #2144
@ZakJudges Thanks for looking into this

Sorry for late reply. Have not tried for a awhile as Standalones have been quite a mess in other areas since bug bash began.

So made standalone using 2033.03.31 EA.

Issue remains:
The bars on this fencing are all meant to be illuminated.
![image](https://user-images.githubusercontent.com/12246318/161419359-6fa098b8-d234-4b6b-8975-96803581d7c3.png)

This i

[2022-04-03 08:46] rvanner commented on #1997
@LeeBamberTGC I have no idea what this is so I am closing it now.

[2022-04-03 08:46] #1997 closed

[2022-04-03 08:47] rvanner commented on #1996
@davetgc Do you know if this is this still an issue?

[2022-04-03 08:55] #1945 closed

[2022-04-03 08:56] #1937 closed

[2022-04-03 09:02] #1837 closed

[2022-04-03 09:03] #1843 closed

[2022-04-03 09:12] #1478 closed

[2022-04-03 09:14] #1242 closed

[2022-04-03 09:15] rvanner commented on #1238
@ZakJudges This should be a simple one to add in

[2022-04-03 09:16] davetgc commented on #1996
Hi,

Just tested, this works now.

On Sun, Apr 3, 2022 at 10:47 AM Richard Vanner ***@***.***>
wrote:

[2022-04-03 09:18] rvanner commented on #1199
Still happens today!

[2022-04-03 09:18] rvanner commented on #1996
Thanks for checking Dave!

[2022-04-03 09:18] #1996 closed

[2022-04-03 09:21] #1074 closed

[2022-04-03 09:25] #2706 closed

[2022-04-03 09:33] rvanner commented on #2601
Closing this becuase it's a duplicate of [2495](https://github.com/TheGameCreators/GameGuruRepo/issues/2495)

[2022-04-03 09:33] #2601 closed

[2022-04-03 09:35] rvanner commented on #1562
This is now implemented.

[2022-04-03 09:35] #1562 closed

[2022-04-03 09:35] rvanner commented on #1742
Closing this now. No reply from user and not seen this since.

[2022-04-03 09:35] #1742 closed

[2022-04-03 09:37] #2292 closed

[2022-04-03 09:37] rvanner commented on #2302
Closing now.

[2022-04-03 09:37] #2302 closed

[2022-04-03 09:38] #1852 closed

[2022-04-03 09:38] #2453 closed

[2022-04-03 09:39] #1851 closed

[2022-04-03 09:39] #1925 closed

[2022-04-03 09:39] #1826 closed

[2022-04-03 09:39] #1768 closed

[2022-04-03 09:40] #1656 closed

[2022-04-03 09:40] #1636 closed

[2022-04-03 09:40] #1433 closed

[2022-04-03 10:49] AmenMoses commented on #2745
[pickuppable.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8404302/pickuppable.zip)

You mean this?

[2022-04-03 12:25] Zorgo33 commented on #2745
Yes

[2022-04-03 12:38] rvanner commented on #2699
@bonkorama Are any of these issues fixed for you? If not, can you list which ones and I will make separate items for each issue.

[2022-04-03 12:46] rvanner commented on #2646
@Ghost-l0l Lee made some changes in the last update. Have these improved the widget for you or is it still buggy?

[2022-04-03 12:50] #2634 closed

[2022-04-03 12:51] rvanner commented on #2632
@ZakJudges Is this still an issue?

[2022-04-03 12:53] rvanner commented on #2615
@mav3r1ck198-1 Can you send in your level that shows this? We need to be able to see it happen to be able to fix it. Thanks.

[2022-04-03 12:54] rvanner commented on #2608
@mav3r1ck198-1 Can you still get this to happen? If so, how do you make it happen?

[2022-04-03 12:55] rvanner commented on #2607
@mav3r1ck198-1 Is this still happening in the latest version for you?

[2022-04-03 12:58] mav3r1ck198-1 commented on #2607
@rvanner the latest update is much more stable for my system now :) altho will still crash when using custom assets

[2022-04-03 13:04] rvanner commented on #2585
Still happens in EA release

[2022-04-03 13:05] rvanner commented on #2581
@Tum1370 Could you attache a simple fpm that shows this issue? It would help Lee fix it quickly. Thanks.

[2022-04-03 13:11] rvanner commented on #2507
@plemsoft I have assigned the issue that suggests using the optimised Jungle assets. Can you also check the collision on those assets based on this report?

[2022-04-03 13:17] rvanner commented on #2483
@dllllllllllb Maybe you can have a stab at this one while Lee is away?

[2022-04-03 13:18] rvanner commented on #2469
@ArgentArts Is this fixed now or does Lee still have work to do?

[2022-04-03 13:19] #2432 closed

[2022-04-03 13:19] ArgentArts commented on #2469
Yes! Thank you! :)

[2022-04-03 13:19] #2469 closed

[2022-04-03 13:20] #2430 closed

[2022-04-03 13:22] rvanner commented on #2423
@Retrogamebloke Do you still see this issue? Just before Lee went off for a week's break he said this might be related to bullet hole vertex lists.

[2022-04-03 13:24] rvanner commented on #2409
Now that it's displaying on your PC okay I will close this issue. Thanks.

[2022-04-03 13:24] #2409 closed

[2022-04-03 13:28] rvanner commented on #2341
@plemsoft Maybe you can sort this one?

[2022-04-03 13:30] rvanner commented on #2328
@UltraVox001 How are you finding the performance in the most recent build of MAX? We have done a lot of optimisation work and there's more coming. Please let us know your latest figures.

[2022-04-03 13:31] #2296 closed

[2022-04-03 13:32] rvanner commented on #2274
@ZakJudges Do you know (or can you check) that the installer has a publisher certificate?

[2022-04-03 13:39] rvanner commented on #2240
@UltraVox001 Is this issue still a problem for you in the latest version?

[2022-04-03 13:48] #2161 closed

[2022-04-03 13:50] Tum1370 commented on #2581
@rvanner @LeeBamberTGC
As requested just created a simple world. There are 2 enemy that spawn after the trigger zone has been moved in to by the character. The trigger zone alerts them, but they do not run out of the buildings until they either hear or see the character.

[BadAI.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8404647/BadAI.zip)

[2022-04-03 14:28] #2350 closed

[2022-04-03 14:54] rvanner commented on #1953
@LeeBamberTGC Did you add camera shake? Can this be closed now?

[2022-04-03 14:55] rvanner commented on #1941
@PaulSJ I presume this is no longer necessary?

[2022-04-03 15:00] rvanner commented on #1936
@OldFlak Maybe this is an old issue? If you want a proper fog level you need to do the following;

Environment Effects: Set "None" for Sky
Weather: Set Fog range between say 0 and 4 and Set Fog Opacity to 100

[2022-04-03 15:03] rvanner commented on #1929
@fearlesswee Is this still an issue for you in the EA release?

[2022-04-03 15:04] rvanner commented on #1927
@fearlesswee This should be fixed. Can you confirm?

[2022-04-03 15:05] rvanner commented on #1924
@Kitakazi This should not happen now. Can you please confirm?

[2022-04-03 15:08] rvanner commented on #1923
@OldFlak Are the issues in this report fixed now?

[2022-04-03 15:09] rvanner commented on #1922
@OldFlak Is this still a valid issue for you?

[2022-04-03 15:12] rvanner commented on #1918
I'm closing this because we are working on optimisations now,

[2022-04-03 15:12] #1918 closed

[2022-04-03 15:16] #1887 closed

[2022-04-03 15:22] rvanner commented on #1877
@relishrompgames This should not be an issue now. Can you confirm?

[2022-04-03 16:15] relishrompgames commented on #1877
Yes, it's fine now. Thanks

On Sun, Apr 3, 2022 at 11:22 AM Richard Vanner ***@***.***>
wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-03 17:32] rvanner commented on #2607
@mav3r1ck198-1 Could you share your custom models that crash MAX's importer? That would help the team hunt down the issues.

[2022-04-03 17:32] rvanner commented on #1877
Thanks for confirming, closing this down now.

[2022-04-03 17:32] #1877 closed

[2022-04-03 18:39] Kitakazi commented on #1924
I just did a fresh install on steam and played the demo level Mystery of Z Island and the zombie A.I was still busted. The first zombie I ran into took off sprinting to the boonies. The others were very buggy.

[2022-04-04 00:18] Kitakazi commented on #2738
Hi I'm also experiencing constant crashes. Also using the Steam Version.

I was using the importer a bunch trying to test some animations and all of the sudden when I tried to save my model Max crashed and has been a crash fest ever since.

If I try to add a single entity by clicking Add (under level objects) I will instantly crash about 95% of the time.  Starting to think it may be 100% of the ti

[2022-04-04 02:28] Kitakazi commented on #1924
I updated to the internal 04.08 and the zombies seem better. If they aggro to the player and then the player moves out of range they get really weird really quick. Usually they start to spin in circles.

@rvanner

[2022-04-04 02:28] #1924 closed

[2022-04-04 06:03] fearlesswee commented on #1929
I actually haven't tested this extensively anytime recently, as I'm having other issues with MAX (see: #2738)

I'll quickly repeat my testing method tomorrow, to try and see if they still like to ghost around. I will say at first glance it certainly seems to be a lot rarer at least, as before you almost couldn't have AI in your level without them phasing through walls once or twice.

[2022-04-04 06:19] fearlesswee commented on #1927
I'll test this in-depth tomorrow once I have time, but so far I have not noticed it occurring in normal play.

[2022-04-04 06:45] Necrym59 opened #2746 "Request - Ability to customize sky box"
There is no allowance for use of a custom skybank folder in user directories.

[2022-04-04 06:46] rvanner commented on #1929
Thank you

[2022-04-04 08:17] ZakJudges commented on #2632
@rvanner I'm no longer being shot at through the walls, but the enemies weapons and hands are still visible and can be shot

[2022-04-04 08:28] Granada1 commented on #2632
Had this problem yesterday so I will add to this

[2022-04-04 08:44] Necrym59 commented on #2730
Request done and completed see
https://github.com/TheGameCreators/GameGuruRepo/issues/1872

[2022-04-04 09:00] dllllllllllb opened #2747 "Level Editor - Characters are sometimes set to static"
I saw multiple reports of various characters set to static by default when placed in a level.
This issue is completely random and seems to fix itself if you reload the level.

[2022-04-04 09:04] dllllllllllb commented on #2735
@Grogadog Thanks for submitting this bug, I saw multiple reports of this with various characters so I made it into a general issue #2747

[2022-04-04 09:04] #2735 closed

[2022-04-04 09:07] plemsoft commented on #2738
@fearlesswee Could you post your "Guru-MapEditor.log" file here just after you had the crash , Thanks :)

[2022-04-04 09:09] plemsoft commented on #2738
@Kitakazi Sound like you have a bad object , so each time you click "Add" it will try to generate a thumb and crash, could you e-mail me this bad object (from the last time you used the importer, where it crashed after "save"), i will then be able to see why the bad object generate a crash, thanks for your help :) plemsoft@plemsoft.com

[2022-04-04 09:45] UltraVox001 commented on #2328
@rvanner
The problem seems to be, especially on Forest maps. Everywhere else, I feel the improvement work done by TGC. But I have the impression that this work does not affect the Forest maps.
[https://www.youtube.com/watch?v=PnFgoH7R1U0](https://www.youtube.com/watch?v=PnFgoH7R1U0)

[2022-04-04 09:46] UltraVox001 commented on #2240
@rvanner
[https://github.com/TheGameCreators/GameGuruRepo/issues/2328#issuecomment-1087340875](https://github.com/TheGameCreators/GameGuruRepo/issues/2328#issuecomment-1087340875)

[2022-04-04 10:42] rvanner commented on #2274
@ZakJudges Yes, check with Lee when he's back to work out the next steps.

[2022-04-04 11:07] OldFlak commented on #1936
@rvanner No tis still issue in latest :)
That is not a solution - can't have nice foggy morning with out sky :)

[2022-04-04 11:20] OldFlak commented on #1851
No not fixed - almost but not completely :)

You need to test every available numeric input
Affected Controls:
- Water Patch Size - try setting to 30
- Camera (first vid in op - still same issue

[2022-04-04 11:28] OldFlak commented on #1923
@rvanner Thanks for follow up :)
No issue is not fixed. Tis exactly the same as video in OP, except that now even the corner lights are not selectable either.

Finding same with many models even outside, almost as if you don't click on the point of origin for the model you can click till the cows come home and the object won't be selected.

Anything using transparency or Alpha Clip is the same - o

[2022-04-04 11:40] OldFlak commented on #1922
@rvanner Thanks for follow up :)

Tis not as aggressive as previously and it can actually look quite nice. The problem now is that it is not consistent when it does apply the effect.

In this pic it looks ok
![image](https://user-images.githubusercontent.com/12246318/161536004-ef76a872-5ee7-44bb-aa93-6f4d1a7f2354.png)

But if you turn away and look back again it may be the same, or it may not have

[2022-04-04 11:51] Tum1370 opened #2748 "GG Max - Bug - Building walls disappear"
I have kept trying to place a Structure - House, But after placing the object, then moving away and doing something else like adding another item, then moving back to it, some of the walls seem to go see through, and disappear.
You can see in the first 2 images the walls are there, and the next images some walls have disappeared.

![image](https://user-images.githubusercontent.com/66874403/1615375

[2022-04-04 12:04] ArgentArts commented on #2729
If you set the material to double-sided, the fence displays properly, too.

[2022-04-04 12:09] rvanner commented on #1922
@OldFlak Are these your own imported models?

[2022-04-04 12:14] rvanner commented on #1922
@plemsoft Can you take a look at these and let us know if there's something wrong with their textures?

[2022-04-04 12:15] rvanner commented on #1923
@OldFlak Can you supply the level with the assets so Lee can load it in and see the same problems?

[2022-04-04 12:16] rvanner commented on #1851
@ZakJudges Please fix the items mentioned above.

[2022-04-04 12:23] plemsoft commented on #1922
@OldFlak Is this your optimized media are the original ?

[2022-04-04 12:41] OldFlak commented on #1922
@plemsoft Hi Preben thanks for follow up - get same with either versions

[2022-04-04 13:22] ZakJudges commented on #2713
Hi @Granada1, there will be a new experimental build up later today. Would you be able to confirm if this issue is fixed for you when you next update? :)

[2022-04-04 13:23] ZakJudges commented on #2712
Hi @ArgentArts, there should be a new experimental build up later today that contains a fix for undo, as well as pressing F1 to toggle the widget on and off. Could you let me know if the issue is fixed for you when you update? :)

[2022-04-04 13:23] dllllllllllb commented on #2729
@rvanner as ArgentArts said, fences just need to be ticked to be double-sided. I've done this to all fences in Snowy Mountain Stroll along with the puddle reflection changes and sent the updated files to Paul.

[2022-04-04 13:25] #2642 closed

[2022-04-04 13:25] #2546 closed

[2022-04-04 13:27] Tum1370 opened #2749 "GG Max - Request - Add Hide at Start to WinZone and TriggerZone"
We could really use a WinZone option were the actually Zone is only activated when something has been achieved.
This way it would stop a player accidentally moving in to a zone that is a winZone.

I am trying to have a WinZone underneath a Helicopter.
The Helicopter does not spawn at Start, But will only spawn when the Radio is used to Activate it.
Then when the player has radio for the helicopter

[2022-04-04 13:28] #2544 closed

[2022-04-04 13:29] Granada1 commented on #2713
Will do

[2022-04-04 13:30] ZakJudges commented on #2535
Hi @PaulFox12, could you confirm if the wrong orientation issue is now fixed for you in the most recent build?
We will be working on the ragdoll further in the future, so I will close this issue if so. Thanks :)

[2022-04-04 13:31] #2461 closed, assigned to ZakJudges

[2022-04-04 13:32] ZakJudges commented on #2415
Hi @synchromesh62, could you confirm if this issue is now fixed for you? Thanks :)

[2022-04-04 13:32] ZakJudges commented on #2342
Hi @UltraVox001, is this issue now fixed for you? :)

[2022-04-04 13:37] #2331 closed

[2022-04-04 13:37] #2267 closed

[2022-04-04 13:38] #2166 closed

[2022-04-04 13:38] #2164 closed

[2022-04-04 13:39] ZakJudges commented on #1876
Hi @synchromesh62, just wanted to check this is fixed for you? :)

[2022-04-04 13:40] #1671 closed

[2022-04-04 13:41] #1394 closed

[2022-04-04 13:56] #2710 closed

[2022-04-04 14:27] dllllllllllb commented on #2748
Some more information: https://www.youtube.com/watch?v=PrHEilQ1pnI

[2022-04-04 14:53] ZakJudges commented on #2415
Thanks for confirming, closing this issue

[2022-04-04 14:53] #2415 closed

[2022-04-04 14:56] ArgentArts commented on #2712
@ZakJudges It seems to work great! I really like it!

The only thing I noticed is if you, for some odd reason, keep the F1 keep depressed, it will continually toggle between modes, flashing the widget on and off. So, if your press on the F1 is a little long, you may accidently go from widget on to widget off to widget back on again and not mean to. I would think that one press, no matter how long,

[2022-04-04 15:16] ZakJudges commented on #2712
@ArgentArts Thanks for reporting that, I have added a fix so that no matter how long you hold F1, it will only switch modes once. Not sure when the next experimental build will be up, but it will be included in that :)

[2022-04-04 15:19] ArgentArts commented on #2712
Awesome! Thanks! You rock!

[2022-04-04 16:28] fearlesswee commented on #2738
@plemsoft Okay, where could I find said file?

[2022-04-04 16:32] Tum1370 opened #2750 "GG Max - Bug - Ally AI stops following when i run close to 2 birds"
I had a Ally AI following me, i have run all over the map with no problems, and the ally follows me.
But when i place a couple of birds down in an area, The Ally AI stopped following me when i got close to the birds.
I was not close enough to the birds for them to fly away.

It was like i had got in some kind of range for the birds to know i was there, but not in range to fly away.
And that totall

[2022-04-04 16:48] fearlesswee commented on #1929
So far from my testing I think this issue has been dealt with; before it was extremely easy to get them to phase through walls but now they're quite good at following paths even in narrow spaces, like buildings! I think it's safe to say this issue is fixed.

[2022-04-04 16:48] #1929 closed

[2022-04-04 16:53] fearlesswee commented on #1927
I've tested this using the same methods as before, and so far I think it's been dealt with. There might be some edge cases where this could still occur but I'll re-open this if I notice it.

[2022-04-04 17:22] Jackdanielsvs68 opened #2751 "GGMAX movement problem"
Hi Guys!
The problem is that when I’m in test mode, the player wanders very slowly, but when I look down at the ground, it accelerates. I also made a short video about this, which I uploaded to youtube. Could there be a setup problem? The video card is a G-force 1050 2 gb gddr5 7000 mhz. Amd ryzen 5 1600 6 core 12 threads b 450 motherboard, 16 GB ddr4 memory.

The video [link](https://www.youtube.

[2022-04-04 17:42] Necrym59 commented on #2653
Defeats the purpose of having an Editable area, just make yours a bit smaller then populate the edge area behind a win zone most    level designers do this otherwise there is no end to how far you want editible area to be, it cant be infinite.

[2022-04-04 18:21] AmenMoses commented on #2751
A 1050 is not really up to the job!

[2022-04-04 18:22] #2342 closed

[2022-04-04 18:26] #2713 closed

[2022-04-05 00:17] Kitakazi commented on #1601
@plemsoft
As of this latest update this level running waaaay better. There is 1 hallway that the frames will drop from 60 to 45-50ish but its mostly at 60 fps. Shooting the AK47 still drops frame rates but this is like 90% better. Closing this.

[2022-04-05 00:17] #1601 closed

[2022-04-05 00:57] Necrym59 opened #2752 "GGMAX - Enhancment - Generic Platform"
A generic apply on any object script for a Platform designed for MAX, has behavourial settings for direction, speed, angle, auto ejection and visibility.
Instructions in behaviour description. Complete with GGMAX icons etc. For inclusion for GGMAX if required.
[platform_v9.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8414047/platform_v9.zip)
![platform](https://user-images.githubuser

[2022-04-05 05:53] plemsoft commented on #2738
@fearlesswee Could you try to: rename this file "\user\BarbedManFix.fpe" to "\user\BarbedManFixTEST.fpe" , then check if your able to load your level , and if you are , could you e-mail me all the files related to "BarbedManFix" so im able to check why this object crash your level , Thanks for your help :) , plemsoft@plemsoft.com

[2022-04-05 07:58] dllllllllllb commented on #2751
Duplicate #2240

[2022-04-05 07:58] #2751 closed

[2022-04-05 08:01] Ratall opened #2753 "GGMax Non Steam Version 2022.03.31 Object tools have disappeared"
![no object tools](https://user-images.githubusercontent.com/35710601/161705582-fed69df0-345d-47aa-a934-6c7f6bfdb4dc.png)
![No Object tools 2](https://user-images.githubusercontent.com/35710601/161706488-42546eed-2c3f-4131-ad0e-fe736e35de08.png)
It was there until I tried out various filter effects then when I went back to object mode there were no object tools. I have done a file verify  and no l

[2022-04-05 08:15] plemsoft commented on #1922
@OldFlak Yesterday we switched to your optimized version updated on steam now, Thanks :) , and "reflectance      = 0.00" and when i try to add the tall grass there is absolutely no reflection. i expect this is from a old level where the reflectance could have been set different when you added the objects  ?

You had a typo in "Tall Grass.fpe" "surfaceMap       = JungleGrass_surface.dds" should be

[2022-04-05 08:17] plemsoft commented on #2507
@OldFlak All fixed and updated on steam , Thanks for your help :)

[2022-04-05 08:17] #2507 closed

[2022-04-05 10:04] ArgentArts commented on #2753
If you select something in your view port, then Object Tools will "appear" again. It's this way because you currently have nothing selected in the view port. You can test this by doing something like clicking on the sky then clicking a tree, etc. You should see the Object Tools panel tab change, reflecting that something (an object) has been selected.

[2022-04-05 10:17] Tum1370 opened #2754 "GG Max - AI Issue Again - Shooting Ally AI through Walls and Ceilings"
I have just tested a level were i have a Hostage Ally, unarmed, inside a prison, upstairs.
I then set a guard to walk around the outer walls of the prison.

First the guard does not start walking / moving until it actually is visible to the player, or it hears the player. (But this issue is mentioned already in another of my issues).

My issue this time is, That after engaging the guard, The guard

[2022-04-05 11:13] Ratall commented on #2753
Sorry my bad.
Though it would be nice if under object tools it said something like "no object selected" or "please select object to show tools".

[2022-04-05 11:13] #2753 closed

[2022-04-05 11:53] plemsoft commented on #2748
@Tum1370 Thanks for reporting this issue, this has been fixed and will be in the next update :)

[2022-04-05 11:56] plemsoft commented on #2729
@dllllllllllb FYI: Added a fix that will make it work from the .fpe so you don't have to set the double-sided checkbox, when you add a new object to your level. dup: https://github.com/TheGameCreators/GameGuruRepo/issues/2748

[2022-04-05 13:57] Tum1370 commented on #2581
New Information.

How does the AI start to activate normally ?
I thought if we have an Enemy set to follow a path, That AI would start walking its path before the character sees the Enemy ?

But that is not the case, as Many times now i test this, And every time the AI Enemy just stands still, Until the player sees the AI Enemy. Then it starts to walk the path.

Looks terrible as the game seems li

[2022-04-05 14:04] Tum1370 opened #2755 "GG Max - AI Enemy Stands still until it is visible from the player"
How does the AI start to activate normally ?
I thought if we have an Enemy set to follow a path, That AI enemy would start walking its path before the character sees the Enemy ?

But that is not the case, as Many times now i test this, And every time the AI Enemy just stands still, Until the player sees the AI Enemy. Then the enemy AI always says "What was that noise" Then ALL Enemy AI in area sta

[2022-04-05 15:29] Jackdanielsvs68 commented on #2751
![Képernyőfelvétel (17)](https://user-images.githubusercontent.com/94233170/161789595-2372d04a-52e0-463f-8010-7d95dc7b4596.png)
![Képernyőfelvétel (18)](https://user-images.githubusercontent.com/94233170/161789603-18a07ad2-06c1-4818-8ba4-df287787b2e9.png)
I removed the trees, then put some back and the terrain under the house was back, which was visibly hidden in the video.

[2022-04-05 16:03] MonkeyFrogStudio opened #2756 "GameGuru MAX - Bug - Door Blue - Door and Door White - Door Don't Function Properly with Door Rotate"
Both Door Blue - Door and Door White - Door are not animated and, as such, cannot use the Door Behavior. They also do not work with the Door Rotate Behavior, either. Even if you set IsImmobile, the door will rotate, slide-move, and float up a bit. This means that these doors can only be used as decoration in their current states and cannot be used to open/close.

[2022-04-05 18:15] casigus opened #2757 "light placement glitch"
placing lights  doesn't seam to work correctly,  either the light merges with a previous placed light  or just randomly sticks to any surface.

![image](https://user-images.githubusercontent.com/68471279/161822620-e190f2c0-7a9a-4edd-96fb-4c938b62ce14.png)

[2022-04-05 18:42] ArgentArts commented on #2723
Basically, the Behavior Editor should work and look a lot more like the Storyboard does.

[2022-04-05 18:57] fearlesswee commented on #2738
Ayup! That did the fix. I did notice another bug once I did get into my level however, many items that were suspended off the ground, such as a hatchet stuck into the side of a tree, and some props placed ontop of tables, all seemed to "fall" and conform to the terrain below them.

[https://www.mediafire.com/file/b8ey1zrdw3cad6y/barbedmanfix.zip/file](url)

[2022-04-05 18:59] fearlesswee commented on #2738
Emailed you the files, btw. It's a free model from sketchfab that I'm just using to test gameplay logic for now, so I didn't mind posting it here publicly but you did specify to email you!

[2022-04-05 20:00] Necrym59 commented on #2755
I think the raycasting for the AI control performance is an issue, would probably be better overall to divorce tha AI control from the main program and have them run by an AI director program process much like a server client scenario.

[2022-04-05 20:20] Necrym59 commented on #2697
LOD wont be an issue when they get the texture streaming happening with objects, textures is always an issue, moreso than geometry.

[2022-04-05 20:26] Necrym59 commented on #2679
You already can and their are external tools and scripting possibilites to help you do it if you need it in a hurry.

[2022-04-05 20:30] Necrym59 commented on #2686
You want a lot for your $40 dont you, a lot of what you have asked for has already been requested and some already being implemented I do agree about the RTS though but time will tell if this is a feasable option.

[2022-04-05 20:51] cybernescence commented on #2653
That limits the sweeping vistas and objects in the air at distance etc. Total shame to waste all that work on the terrain views by limiting what else can be seen on it, around it or above it.

[2022-04-05 21:21] Artyimeus commented on #2675
@dllllllllllb Sorry to say that but it still doesnt work. when i want to change the position its gonna move soo far away, that i need to search it. I tried the current update + with the tutorial @Granada1 said

[2022-04-05 21:40] Granada1 commented on #2675
I can’t try this today but it was working fine yesterday , I will try again tomorrow if allis well and I can get on my comp

[2022-04-05 23:38] Necrym59 commented on #2653
Well yess and no this isnt a flight simulator, what your after is decorative distance related. When they get around to streaming textures for objects like thay have done for trees and terrain, anythings possible then and ill think some of what you ask wiould then be viable.

[2022-04-06 01:22] Moorcam opened #2758 "Game Lost after Save and Going to Hub"
I  created a level yesterday, which took a couple hours. I was really happy with it.
I saved it and edited the screens via StoryBoard etc.
I then clicked on GameGuru MAX Hub and the level I created was gone. Back to the default Rain Forest setting.

[2022-04-06 01:40] casigus opened #2759 "memory issues?"
looks like we've gone  back to the memory  issues  with the most  recent update:

![image](https://user-images.githubusercontent.com/68471279/161878487-0282d248-4fef-48c1-8184-6909d850dbb8.png)

[2022-04-06 04:03] Necrym59 opened #2760 "GGMAX - Enhancment - Carrier Patrolling Object"
Carrier Behaviour v1 - allows the player to ride a patrolling object using flags that are nearest or connected to each other. Player can hop onto the patrolling object and press E to hop off. Also sound can be used for the Carrier object which is volume controlled by distance.
Object must have ischaracter=1, Physics off. MAX script icons and sample carrier object supplied.
![carrier](https://user-

[2022-04-06 05:20] tacooo12 commented on #2657
Ok I've done my best to look at the models and the ones with problems in the Showcase Collection are the sewer rat( no 3d model), AKM rifle(file folder looks to be labeled wrong or FPE file is referenced wrong for the model), and the Lit Candlestick(does not appear when selecting it for placement). In the MAX Collection, the Lit Candlestick(does not appear when selecting it for placement-same with

[2022-04-06 06:58] rvanner commented on #2758
@Moorcam Do you know the name you saved the level under? It should still be in the mapbank folder. If you add an existing level to your Storyboard does it show up in the list?

[2022-04-06 08:32] dllllllllllb commented on #2675
@Artyimeus Thanks for reaching out. We ideally need a video to see in which scenarios the object placement doesn't work as it should.

[2022-04-06 12:22] relishrompgames opened #2761 "Save and then GGMax crashes."
It does save the project but then crashes/closes.

I have NO idea why.

Here is a video of it: https://youtu.be/LEyRJGgE7DA

[2022-04-06 12:41] dllllllllllb commented on #2483
@ZakJudges It works perfectly fine for me https://www.youtube.com/watch?v=m3c5xgSg7y0
Can you please give me more details on how to reproduce it.

[2022-04-06 12:44] dllllllllllb commented on #2761
This has happened to me as well. Out of a couple of dozens saves, it only happened once with the new Canyon Offensive demo.

[2022-04-06 12:49] #1955 closed

[2022-04-06 12:52] ZakJudges commented on #2483
@dllllllllllb I haven't been able to reproduce this one. It might have just been a one off or has already been fixed. It happened to me originally on the Mystery of Z-Island demo, at the beginning next to the tent and also in the second level when you are in the control room.

[2022-04-06 12:52] #1986 closed

[2022-04-06 12:55] #1987 closed

[2022-04-06 12:55] #2012 closed

[2022-04-06 12:57] #2066 closed

[2022-04-06 13:02] #2191 closed, assigned to dllllllllllb

[2022-04-06 13:02] #2201 closed

[2022-04-06 13:05] #2277 closed

[2022-04-06 13:09] #2278 closed

[2022-04-06 13:11] #2452 closed

[2022-04-06 13:15] #2557 closed

[2022-04-06 13:30] #2565 closed

[2022-04-06 13:36] #2569 closed

[2022-04-06 13:38] #2623 closed

[2022-04-06 13:48] #1356 closed

[2022-04-06 13:49] #1551 closed

[2022-04-06 13:50] #1630 closed

[2022-04-06 13:56] #1964 closed

[2022-04-06 13:57] #2235 closed

[2022-04-06 13:57] #2315 closed

[2022-04-06 14:03] #2705 closed

[2022-04-06 14:03] #2729 closed

[2022-04-06 14:11] davetgc commented on #2705
Hi,

Actually, while it appears to be working on enemies now. I'm struggling to
see any flash on allies. Maybe it's the angle?

On Wed, Apr 6, 2022 at 4:03 PM Maciek ***@***.***> wrote:

[2022-04-06 14:15] relishrompgames opened #2762 "Runtime Error: 0 : Enhancement Runtime Error 133 ()"
I was working on my game, imported 3 simple models. Placed them. GGMax crashes.

Restart and load my game and then "Runtime Error: 0 : Enhancement Runtime Error 133 ()"

[2022-04-06 14:19] DaveTGC2 opened #2763 "Switches can be activated through walls."
From youtube. Switches can be used on the other side of walls.

[2022-04-06 14:28] plemsoft commented on #1833
@3coms This has been fixed and will be in the next update :)

[2022-04-06 14:29] plemsoft commented on #2240
@UltraVox001 This has been fixed and will be in the next update :)

[2022-04-06 14:34] plemsoft commented on #2341
@rvanner This has been fixed and will be in the next update :) ,FYI:  @dllllllllllb @ZakJudges search "//PE: Particle scale bug fix." for the solution to this.

[2022-04-06 14:36] plemsoft commented on #2486
@rvanner This has been fixed and will be in the next update :)

[2022-04-06 14:39] plemsoft commented on #2759
@casigus Could you upload your "Guru-MapEditor.log" from when the crash happen, then im able to see where it crash , also could you let me know your system specs. Thanks for your help :)

[2022-04-06 15:31] casigus commented on #2759
121 : Name of true app: Guru-MapEditor                          S:34MB  V: (4056,0)
135 : Flag to produce log files set in SETUP.INI (producelogfiles=1) S:0MB   V: (4056,0)
140 : postprocessing flag at 0 and pixel shader version of 0.00 S:0MB   V: (4056,0)
145 : The executable folder will be: F:\documents\GameGuruApps\GameGuruMAX\\MyGames\ S:0MB   V: (4056,0)
149 : Entering 'Files' folder, now at:

[2022-04-06 15:32] casigus commented on #2759
andddd
![image](https://user-images.githubusercontent.com/68471279/162012090-aeaa9e87-e790-4b79-a732-a321fb62bd8c.png)

the  gpu has 4 gigs of memory, its  a amd thingy ma bob :)

[2022-04-06 15:52] UltraVox001 commented on #2240
@rvanner and @plemsoft
I confirm that this issue appears to be resolved. :)

[2022-04-06 16:58] Jackdanielsvs68 commented on #2240
I also had some problems with the Classic version. I was wondering if there can be a kind of ge-force driver collision somewhere?
I also made a short video about this, which is available [here](https://www.youtube.com/watch?v=Ao3dsWISIdg)

[2022-04-06 17:37] relishrompgames opened #2764 "A switch only can toggle/activate one item"
Can a switch only toggle one item? I have 3 lights and can only connect one to a switch. I would like the switch to turn on all of the lights.

VIDEO BELOW:
https://youtu.be/Fpvmv2dXsq0

[youtube]Fpvmv2dXsq0[/youtube]

[2022-04-06 17:55] casigus opened #2765 "grass not populating"
![image](https://user-images.githubusercontent.com/68471279/162037850-65f2d2f9-621a-40da-bf45-6936e931d0fe.png)

the grass populate everywhere is broken.

[2022-04-06 18:28] relishrompgames opened #2766 "Placing lights - They are in the wrong x,y,z position."
When I place the lights, they seem to located at the wrong x,y,z coordinates. See this video.

https://youtu.be/DxFNZhM49Yo

[youtube]DxFNZhM49Yo[/youtube]

[2022-04-06 19:05] relishrompgames commented on #2761
It happens with my one game that I've been working on.

On Wed, Apr 6, 2022 at 8:44 AM Maciek ***@***.***> wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-06 20:09] ArgentArts commented on #2743
Yep! Fixed! Thanks!

[2022-04-06 20:09] #2743 closed

[2022-04-06 20:16] ArgentArts commented on #2764
I can get multiple lights working on one switch without a problem:

![switch](https://user-images.githubusercontent.com/36735507/162062964-f563f99a-ea51-4d11-b03d-3ce7d3f4dba0.png)

https://user-images.githubusercontent.com/36735507/162063268-0181d7ba-3ca5-4e9e-9828-c43df24093c6.mp4

[2022-04-06 20:57] 3coms commented on #1833
@plemsoft
Hi
Running the latest build here.
I've tested my shooter demo level, maybe you remember that one, it was the most noticeable player issue there, and it no longer shows the player walking issue here. Good job guys!
Let's see what's the others have to say about it. :)

[2022-04-06 22:51] Necrym59 commented on #2760
Lee concerning this idea, it has an awful lot of potential if we can have the patrol flag feature have the capabilty of vertical flags also, (not for walking ai) but for things like this it could make complex conveyors and elevator/platform movements breeze.

[2022-04-06 22:55] DarthPickles666 opened #2767 "FBX Animation Importer Not Working"
Hi there.

I am trying to import custom animations for my own character, but no matter how many times I try, the FBX animations are not being recognised. I have tried with multiple characters and it is still the same issue. Granada has tried as well and has had no luck. Who can I send the files to that can look into this issue?

Cheers

[2022-04-06 23:13] Necrym59 commented on #2752
If the suggestions are implemented in my other post
https://github.com/TheGameCreators/GameGuruRepo/issues/2760
then this script and elevator scripts would be become redundent

[2022-04-06 23:19] Necrym59 commented on #2765
Depends on  the terain color too  - try turning off match terrain color

[2022-04-06 23:46] Granada1 commented on #2767
These are animation files downloaded from maximo, model with bones and skin . Animation files with no skin FBX

[2022-04-07 00:12] PeteHollyer opened #2768 "MAX Crashes on launch"
[dxdiagreport.txt](https://github.com/TheGameCreators/GameGuruRepo/files/8437689/dxdiagreport.txt)

I've included the dxdiag report; hope this can be fixed. I should note that I boot on C Drive, Max is installed on my D Drive. ALSO I don't use laptop monitor, but instead a 27  inch Dell flat screen monitor

I've downloaded and played with earlier versions without problems. I'm currently using stea

[2022-04-07 02:36] Necrym59 commented on #2767
Even if you get them in and animations are named the same as the character creator one thay will not work, i have already posted about this - its bacause of the way the new aminations are handled. I assume this will be address eventually. You can make a script for your indiviual characters though.

[2022-04-07 03:43] ArgentArts opened #2769 "GameGuru MAX - Request - No Need to Touch FPE File ... Ever!"
I would like to request that whatever settings can be done via the FPE file should be accessible via the MAX editor. The end-user should not have to dig through folders looking for FPE files, open them in a text editor, make changes, and have to restart MAX hoping that they take effect. If it can be changed in the FPE file, then it should be accessible via the MAX UI and changed there, imo.

 On t

[2022-04-07 05:22] Teabone3 opened #2770 "Game Guru Classic:"
The command SetGlobalSoundVolume ( id, volume ) doesn't work when set in the initialize function. It only works in the main. If there is anyway this could be changed to work within the init(e) function it would be greatly appreciated.

There has been several posts about issues related to this throughout the recent years. One example:
https://forum.game-guru.com/thread/221810

It is very common to

[2022-04-07 06:22] davetgc opened #2771 "From social media - Can't delete projects."
Once you've created a project, it can't be deleted from the HUB.

[2022-04-07 07:19] synchromesh62 opened #2772 "Request for Show On Start tick box for Trigger Zone"
As the heading states there are times i could have really used a trigger zone to trigger another like the Win Zone for example.
Imagine the Win Zone does not appear until you have got to a radio to request an extraction point that may be in plain sight.
The radio Trigger zone around the radio would make the Win Zone appear once you have carried out that task.
So many uses for a simple feature :)

[2022-04-07 07:24] synchromesh62 commented on #2771
At the moment only by manually deleting it from the Project folder in files.

[2022-04-07 07:46] davetgc commented on #2771
Yes, I've explained that,  but it's not ideal.

On Thu, Apr 7, 2022 at 9:25 AM synchromesh62 ***@***.***>
wrote:

[2022-04-07 07:51] rvanner opened #2773 "Add the ability to have different call out voice overs from enemies so they don't constantly repeat the same chants"
Need more depth to the voice over choices of enemies. System should also avoid repeating too often if only a few are available. eg "You can't be here" once said should not be heard again for another say 5 minutes.

[2022-04-07 08:27] dllllllllllb commented on #2765
@casigus It seems to be working correctly for me. What terrain are you trying to spray the flowers on? Does this happen only in this area, or you can't spray grass anywhere?

[2022-04-07 09:19] ZakJudges commented on #2767
Hi @DarthPickles666, this is a known issue and will be dealt with in the future. A temporary workaround is to download the fbx animation with skin, and import it as a separate object. Then once you have all of the animations you need stored as dbo files, you can import your character and in the animation menu, load your animations using the dbo files you imported earlier.

If that fails, you can s

[2022-04-07 09:25] ZakJudges commented on #2144
@OldFlak Thanks for the extra info. I agree that other areas need more work before this so I will change it to medium priority for now :)

[2022-04-07 09:27] ZakJudges commented on #2740
Hi @davetgc, I believe this was fixed as of the latest experimental build. Could you confirm if that is the case? Thanks :)

[2022-04-07 09:51] synchromesh62 commented on #2769
Im going to guess if you import a character with animations etc they are imported as ischaracter=1
But for an object you just want to move it would need that manual adjustment.

[2022-04-07 10:31] dllllllllllb commented on #2236
@LeeBamberTGC I tried playing with Z depth render but I couldn't get it to work properly. It's like the red dot is separate from the gun since the Z Depth is already disabled on the gun.

What we could do is get rid of the red dot and replace it with in game crosshair like we did with the Patrol Rifle. We would first need to get the Patrol Rifle crosshair to match the movement of the gun.

[2022-04-07 10:52] synchromesh62 commented on #2769
Worth noting that non of the exposed features, collision change etc are saved to the .fpe
They are all saved to the .fpm map file. So if you want it to be a character permanently be selectable as a character then a manual edit is the only way it can be done.

[2022-04-07 11:36] plemsoft commented on #2720
@janekste Thanks for reporting this issue, we do have a plan to add TTF to Prompts, at that time Russian text will also work.
@rvanner Did you add it to TW or somewhere on GitHub , anyway i will mark this as "Future dev will fix this" :)

[2022-04-07 11:41] plemsoft commented on #2727
@ArgentArts Thanks for reporting this issue, i was not able to reproduce it, could you make a short video that displays this ? , thanks for your help :)

[2022-04-07 11:49] plemsoft commented on #2759
@casigus In your log, it looks like you have not loaded any levels or added and objects , how did this crash ?

[2022-04-07 12:05] plemsoft commented on #2761
@relishrompgames Thanks for reporting this issue, do it crash every time you try to save ? , how do you save using the menu or the button or going back to storyboard ?
Strange one , i was not able to reproduce it. If it crash each time you try to save the level could you e-mail me a download link to the .fpm so i can check if its something special with your level , Thanks for your help :)

[2022-04-07 12:07] plemsoft commented on #2768
@PeteHollyer Thanks for reporting this issue, do you get any messages ? , if not could you post your "Guru-MapEditor.log" file here so im able to see how far it comes , Thanks for your help :)

[2022-04-07 13:15] ricscar2570 commented on #2768
I have the same problem since the beginning. Where could I find the *.log file ?
Tx!

[2022-04-07 13:17] PeteHollyer commented on #2768
The main screen appears…nothing populated(Menu/toolbar, etc)…the “Game GURU Max has stopped responding “
Then the standard popup debug window.

I’ll post log asap

Pete

Sent from Mail for Windows

From: Preben Eriksen
Sent: Thursday, April 7, 2022 7:07 AM
To: TheGameCreators/GameGuruRepo
Cc: Pete Hollyer; Mention
Subject: Re: [TheGameCreators/GameGuruRepo] MAX Crashes on launch (Issue#2768)

@Pet

[2022-04-07 13:24] PeteHollyer commented on #2768
[Guru-MapEditor.log](https://github.com/TheGameCreators/GameGuruRepo/files/8443168/Guru-MapEditor.log)

FOUND IT!!!

it's in "C:\Users\Pete\Documents\GameGuruApps\GameGuruMAX"

[2022-04-07 13:40] relishrompgames commented on #2761
https://drive.google.com/file/d/1ukRsU0LZQdQus3IGw_XWdwok6CotTs5Y/view?usp=sharing

On Thu, Apr 7, 2022 at 8:05 AM Preben Eriksen ***@***.***>
wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-07 13:46] casigus commented on #2759
Obiviously I have loaded levels.

this happens in every build post release,  including the patch'd steam version. rolled back max to the week before launch version, not  has this issue once. its a  memory  issue caused by the last  few updates.

the crash happens with no real pattern, barring one. Placing  an object,and boom crash,  memory error, and its any  time  of object,  even a decal did it.

[2022-04-07 13:49] relishrompgames commented on #2761
This is interesting... this morning I opened my game and a few objects were
not there. The objects, 2 Huts and a bridge that I brought in from GameGuru
Classic were missing. I saved it to see if those models were an issue...
THE GAME SAVED and DID NOT CRASH.

On Thu, Apr 7, 2022 at 9:40 AM John Hempstead ***@***.***>
wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-07 13:55] relishrompgames commented on #2768
By any chance, are you using Game Guru Classic entities? Thanks!

[2022-04-07 14:00] relishrompgames commented on #2761
I just checked, my entity folder I named GGClassicModels which had a lot of
models from classic is empty... deleted. How in the world? Thanks!

On Thu, Apr 7, 2022 at 9:49 AM John Hempstead ***@***.***>
wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-07 14:13] PeteHollyer commented on #2768
I own just about everything you guys have made...BUT currently installed I only have AppGameKit Classic AND AppGameKit Studio installed and ALL the Graphics packs associated with them.
For GameGuruMAX,  I ONLY have the Steam GameGuruMax and the associated Graphics Booster Pack Installed.
Pete

[2022-04-07 14:27] synchromesh62 commented on #2761
Im assuming your placing your Assets in the **Documents \ GameGuruApps \ GameGuruMAX \ Files \ entitybank** and not the core ?

[2022-04-07 14:29] PeteHollyer commented on #2768
I uninstalled the DLC (Booster pack), and launched Max This time  it shows a new screen with sample games (I assume the Application desktop titled "Game Guru MAX Hub Screen"), and "stuff" BUT this screen is completely frozen. As you see in the LOG it makes it a little.  I included screen shots and a second LOG (Ignore first)
![CrashNow](https://user-images.githubusercontent.com/13394981/162222744-

[2022-04-07 14:41] MartinCranshaw opened #2774 "Crash - Qt5WinExtras.dll was not found"
![image](https://user-images.githubusercontent.com/38034903/162225035-7cffcaab-f463-4f11-ad84-32f9a501ee3e.png)
No idea what's causing this. I tried reinstalling and even downloading Python. Help please

[2022-04-07 15:11] rvanner commented on #2383
@ThomasJowett Because this is related to the auto flatten work you are on now, we're assigning this one to you.

[2022-04-07 15:17] PaulSJ commented on #2574
All that's needed for this one right now is the list of headgear and weapons that are both partially opaque and partially transparent. One way to detect this might be to go through the color textures looking for alpha pixels that are mostly set to 255 but also have some pixels set to values below 255.

Might be quicker to write a tool to automate this?

[2022-04-07 15:19] ArgentArts commented on #2727
@plemsoft I will try. I have tried. It happens, but I've not been able to catch it on video ... yet. But I'll get it to happen. ;)

[2022-04-07 15:29] ArgentArts commented on #2771
I've requested this before. We really need the ability to delete projects in the editor itself, and not have to dig through folders to ensure we've gotten everything from a project.

[2022-04-07 15:30] relishrompgames commented on #2761
They were placed on the Core

On Thu, Apr 7, 2022 at 10:29 AM synchromesh62 ***@***.***>
wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-07 15:34] ArgentArts commented on #2769
I should expand this, then. I don't think that the end-user should have to go outside the editor to make changes to anything, if possible. I am not fluent in what's where as far as GameGuru Classic or MAX (when it comes to the file structures), to be frank. I've never had to be for any of the software I've used because I've always been able to get the job done within the software itself. The softw

[2022-04-07 15:37] ArgentArts commented on #2767
This definitely needs to be fixed. Obviously, people will want to use their own characters in their games at some point. MAX is very cool, but right now it's soldiers and zombies. And any game made with MAX will be soldiers and zombies. And many of us want to make our own games ... which would mean games that don't have both soldiers and zombies. ;)

[2022-04-07 16:02] ArgentArts commented on #2727
Here you go:

https://user-images.githubusercontent.com/36735507/162247302-c5688a9b-cb29-4572-af43-ed541b526873.mp4

Captured with the latest experimental build.

[2022-04-07 16:25] synchromesh62 commented on #2761
**"They were placed on the Core"**
Thats probably why .. Nothing should go in the core as it gets cleared with with updates ..
All your stuff goes in the Documents \ GameGuruApps \ Its a mirror of the core.

[2022-04-07 16:37] mujaidin71 opened #2775 "Snubnose Revolver problem in standalone game"
In standalone game "Snubnose Revolver" cannot be reloaded by Pistol ammo or 44 Magnum ammo (compatible in description alt poolammo gunspec.txt).

I have make an video exemple for you! please fix!

https://www.youtube.com/watch?v=fHUiWVLzkTg

[2022-04-07 16:51] bluemeenie195 opened #2776 "Max Bug (new particle system)"
When exiting test game and going back in test game new particle system don't reset to original state.

https://youtu.be/0zeeMDQQrxY

[2022-04-07 18:30] AmenMoses opened #2777 "Camera Override no longer working the way it should"
SetCameraOverride( v ) function is supposed to override the camera.

Cine|Guru relies on this functioning properly but now even after the function has been called, i.e. by SetCameraOverride( 3 ), the player moving the mouse will affect the camera when it should be under script control.

[2022-04-07 19:37] thomasmg81 commented on #2686
"You want a lot for your $40 dont you, its early days yet, a lot of what you have asked for has already been requested and some already being implemented I do agree about the RTS though but time will tell if this is a feasable option."

Aside from the £66 i paid for GGM early access and booster pack, i paid best part of $90 for FPSC reloaded early access not to mention associated store content. Ov

[2022-04-07 20:09] Necrym59 commented on #2769
To make an object/character transportable you need some sort of assiciated information file unless its embedded with the object file itself. Its a needed file but.. i agree all of the fpe settings should be selectable from an 'Object File Property' panel and should be able to be saved back to the fpe if changes are made.

[2022-04-07 20:13] ArgentArts commented on #2769
Please note, I never said that the file itself should be done away with. Just to be clear. I just don't want the end-user to have to leave MAX to make changes. It's frustrating for new users at best, to have to do a deep-dive into folders to find this file and that and open them in text editors and to have to figure out which settings do what. It's not all that difficult, but if you don't know abo

[2022-04-07 20:14] Necrym59 commented on #2769
I agree completly its definatly a needed property panel within MAX

[2022-04-07 21:30] Necrym59 commented on #2760
A modification for vertical flags would mean a special option in the fpe for the engine to know its not an animated ai-character model possibly changing 'ischaracter=1' to 'ischaracter=2' for non ai-animated-character models. this way vertical flags only effect those models. These models can then be of cars, trans, trains, lifts/platforms transport of any kind all responding to flag patrolling in

[2022-04-07 23:30] bluemeenie195 opened #2778 "MAX suggestion ( waypoint flags )"
I noticed when dragging the line between flags that it gets a little difficult at long distances.
For a suggestion how about left click mouse button or shift click left mouse button on one of the flags then just go to the other flag left click mouse button on that flag and the line appears.  Makes it easier than dragging the line over.

Thanks for all you do guys.

[2022-04-08 05:17] plemsoft commented on #2761
@relishrompgames Yes try to copy your GGClassicModels folder to Documents \ GameGuruApps \ GameGuruMAX \ Files \ entitybank , and try to see if it fix your save issue :)

[2022-04-08 05:24] plemsoft commented on #2762
@relishrompgames Is this the same game as you wrote about here: https://github.com/TheGameCreators/GameGuruRepo/issues/2761
?

[2022-04-08 05:42] davetgc opened #2779 "Importer no longer importing many textures."
![image](https://user-images.githubusercontent.com/99803873/162371445-18358a22-cfde-44d7-af55-b3374e5b04e9.png)

Models that could be imported previously no longer have textures. This model is large pipe from the Classic Cold War pack and was last successfully imported 16/03/2022. Now the texture isn't being imported.

Some models do still work.

[2022-04-08 05:47] plemsoft commented on #2768
@PeteHollyer Just checked your card. 960M
https://www.videocardbenchmark.net/compare/GeForce-GTX-960M-vs-GeForce-GTX-960/3176vs3114

The speed is way below the minimum spec, that currently is GeForce GTX 960, anyway it should startup as it do have 4gb dedicated mem , but the speed would not be good, anyway could you try to update to the latest drivers for your card and check if that solve your iss

[2022-04-08 05:52] plemsoft commented on #2759
@casigus Do you have any custom objects on your level ? not stock ? , if so i think we already fixed the issue, there was a problem with custom objects that could make it crash , this has been fixed and will be in the next update , Let me know :)

[2022-04-08 06:15] davetgc commented on #2740
Hi Zak, I can't answer that as for some reason, I had to repair files, and
now the latest internal build I now have is dated 31/03/2022. Not sure what
happened to 01/04/2022 and beyond.

On Thu, Apr 7, 2022 at 11:27 AM ZakJudges ***@***.***> wrote:

[2022-04-08 07:06] rvanner opened #2780 "4K TV needs UI to be larger"
@plemsoft A user sent me this screen shot of MAX from his 4K TV. The UI buttons are very small. Is there an easy way to enlarge them all? He has tried the DPI setting but that did not help.
![image](https://user-images.githubusercontent.com/1503593/162382645-6ddb8ae1-6818-462e-8ce3-824e40dc29b0.png)

[2022-04-08 08:26] casigus commented on #2759
Ayeeee! I sure do!!

On 8 April 2022, at 06:52, Preben Eriksen ***@***.***> wrote:

@casigus<https://github.com/casigus> Do you have any custom objects on your level ? not stock ? , if so i think we already fixed the issue, there was a problem with custom objects that could make it crash , this has been fixed and will be in the next update , Let me know :)

—
Reply to this email directly, view it

[2022-04-08 08:35] ZakJudges commented on #2740
@davetgc Could you try the latest Steam experimental build? That one has all the latest fixes :)

[2022-04-08 08:39] ZakJudges commented on #2775
Hi @mujaidin71, this has been fixed and should be in the next available update :) #2443

[2022-04-08 09:06] synchromesh62 commented on #2779
Tested and confirmed.
Importer not assigning textures

[2022-04-08 09:20] ZakJudges commented on #2422
Hi @Retrogamebloke
After the most recent update, the updater should no longer alter the writeable folder which should solve this issue :)

[2022-04-08 09:23] Ghost-l0l commented on #2646
Its improved; Not perfect, but improved - objects no longer "escape" form your cursor, so thats a big step in right direction :D Rotating and scalling can still be buggy, but that also depends on particular objects - depending on how the axiss are set in any given asset it can be very somooth or very problematic; But in general I'd say it's much better now!

[2022-04-08 09:29] ZakJudges commented on #1808
The updater no longer makes any changes to the writeable folder. Closing this issue

[2022-04-08 09:29] #1808 closed

[2022-04-08 09:59] plemsoft commented on #2774
@MartinCranshaw Thanks for reporting this issue, its not a Max crash , but i crash from your "Radeon Settings" , i cant say why it crash, but i would try to install the latest update to your graphics drivers, that i believe also include the "Radeon Settings" program "AMDRSSrcExt.exe" , check if that solves your issue :)

[2022-04-08 10:01] plemsoft commented on #2768
@PeteHollyer Found a bug that could cause this, this has been fixed and will be in the next update :)

[2022-04-08 10:04] MartinCranshaw commented on #2774
Thanks plemsoft. I scrapped the level as I been experimenting with it and a new clean level seems fine. Newest drivers on Video card thankyou for getting in touch.

[2022-04-08 10:12] plemsoft commented on #2774
@MartinCranshaw Ah in that case you could have been running out of mem. that could cause the crash in "Radeon Settings", in settings->developer try to tick "Show Live FPS And Memory Stats" , This will display the mem used by Max. But other programs running at the same time also need mem, so if your level gets to big and other programs starts crashing, check your mem use and you have an idea about

[2022-04-08 10:22] mujaidin71 commented on #2775
Thank you very much, but when the date fix will be released also because it is not possible to play with that weapon!

[2022-04-08 10:33] plemsoft commented on #2780
@rvanner To make the buttons larger, you need to uncheck "Enable DPI Awareness" in settings:

![settings-dpi](https://user-images.githubusercontent.com/18662417/162418633-b5149b6d-afe7-4272-b193-7491eb135002.jpg)

Then your able to use windows 10 "Display Settings" to set your button  and text size:

![display-settings](https://user-images.githubusercontent.com/18662417/162418920-c00ebed6-5551-4b2

[2022-04-08 10:39] davetgc commented on #2740
Hi, yes, fixed in experimental build. Thanks.

On Fri, Apr 8, 2022 at 10:35 AM ZakJudges ***@***.***> wrote:

[2022-04-08 11:09] ZakJudges commented on #2775
@mujaidin71 I believe the next update will be publicly available later today :)

[2022-04-08 11:18] mujaidin71 commented on #2775
this is great news! have a nice day! :-)

[2022-04-08 11:31] sirlion87 opened #2781 "Feautre Request: Fog Volumes"
I feel in dire need to add this to the feature requests. Please consider adding fog volumes, as opposed to fog being tied with the global weather settings of the level. Fog volumes imo are essential for creating a convincing atmosphere since applying fog settings uniformly can mess with the skyboxes. Case in point: I have a closed area where the player can look out a window. The window shows a nig

[2022-04-08 11:31] plemsoft commented on #2727
@ArgentArts Great i was able to reproduce it and have fixed it for the next update , thanks for your help :)

[2022-04-08 11:45] plemsoft commented on #2240
@Jackdanielsvs68 I think its another problem, like the physics is slowing down, i expect that the problem is that one of the chars is stuck inside a object , and physics will try to recover from that, thats also why it speed up again when the stuck char is out of reach to the player and physics is disabled for it. Try to delete that stuck char and see if it fix the issue, if not then you should cr

[2022-04-08 12:20] relishrompgames commented on #2761
I copied my GG Classic to my core files yesterday and it's been saving with
no issues. I do need to move them to Documents \ GameGuruApps \ GameGuruMAX
\ Files \ entitybank and will do that today.

On Fri, Apr 8, 2022 at 1:17 AM Preben Eriksen ***@***.***>
wrote:

--
*Relishrompgames*.com <http://Relishrompgames.com>

859-322-2670

[2022-04-08 12:36] dllllllllllb opened #2782 "Grass Min Height doesn't properly update displayed value"
https://gyazo.com/0ae9731e6501c73f76e801bd7c2037d4

[2022-04-08 12:36] bluemeenie195 opened #2783 "MAX bug ( blood does not turn off )"
https://youtu.be/6vdticAb33w

[2022-04-08 12:40] dllllllllllb opened #2784 "Standalone - Menu Flickering"
https://www.youtube.com/watch?v=XJ-Pw4nTHgc

[2022-04-08 12:46] dllllllllllb opened #2785 "Standalone - Opening menu swaps equipped weapon"
https://www.youtube.com/watch?v=9UbKjfJ6N84

[2022-04-08 12:48] LeeBamberTGC commented on #2274
@rvanner All three downloadable EXEs are signed and certificates are up to date.  Try this again with the latest Tiny installer and if happens again click the MORE INFO.

[2022-04-08 12:51] #2712 closed

[2022-04-08 12:52] dllllllllllb opened #2786 "Standalone - Health regeneration doesn't work"
Player health flashes yellow but doesn't regenerate.

[2022-04-08 13:00] LeeBamberTGC commented on #2755
@Tum1370 This is currently by design to help performance for all the level characters that are not playing an active role.  How about a system where you can activate characters when you enter a zone area and if you set them to activate always?

[2022-04-08 13:02] LeeBamberTGC commented on #2657
@tacooo12 If you are running the Steam version, try the VERIFY FILES method to make sure all your needed files are on your local PC.

[2022-04-08 13:07] ZakJudges commented on #2786
@dllllllllllb I wasn't able to reproduce this one. Do you have steps I could follow?

[2022-04-08 13:08] #2483 closed

[2022-04-08 13:14] #1833 closed

[2022-04-08 13:31] dllllllllllb commented on #2786
@ZakJudges I can't reproduce it as well. It happened in Canyon Offensive demo, not sure what could have caused it. I'll close it for now, if it happens again I'll re-open it with more info.

[2022-04-08 13:31] #2786 closed

[2022-04-08 13:33] LeeBamberTGC commented on #2686
@thomasmg81 Can you send me one of your models for the clothes/beard for the character creator so I can take a look at the formats you are working toward right now?  It would be good to get an idea what you are producing so we can see how they might fit into the character creators' current bone rig, vertex weights, and animation system currently used.  Thanks.

[2022-04-08 13:36] Tum1370 commented on #2755
@LeeBamberTGC Really whatever you do , something needs to be done, as presently the AI looks totally dumb and unreal.

My suggestion would be a system when the player gets within a certain distance of all AI, it starts acting like it should.
You should not have to set a zone for the AI to start working.

It is really making it difficult to get a simple game looking ok with AI that stands still eve

[2022-04-08 13:41] LeeBamberTGC commented on #2755
@Tum1370 How about an activate at X range property, that way you can control when the character should 'join' the game play.  Just switching every character in the level to ON would just turn your FPS to mush :)

[2022-04-08 13:49] Tum1370 commented on #2755
@LeeBamberTGC
Yes that is exactly what i mean.
I certainly do not mean every character in the level to be active, that is pointless.
But really if the DEV has the option to set the distance to which AI starts to move, that would be perfect.

As an example, i have a prison block, and it is in view of the player, There are some characters inside, that you can see through windows, and the guards walk

[2022-04-08 14:18] ArgentArts commented on #2727
Awesome!

[2022-04-08 15:04] ArgentArts opened #2787 "GameGuru MAX - Request - Windowed Mode for Test Game"
I'd like to request a Windowed mode for test game. This would be were I could run the test game in a window at a specified size, such as 1920x1080, etc. The main purpose of this window would be for people creating tutorials and the like to be able to capture video and get screen shots at specific sizes. I have an ultrawide monitor and MAX forces me to run at full-screen. So, any video captured is

[2022-04-08 15:14] ZakJudges commented on #2703
Hi @hamedsheygh the update should be live later tonight. Hopefully it will fix the issues for you. If not, please provide steps to reproduce and I will take another look. Thanks :)

[2022-04-08 15:15] rvanner commented on #2780
Thanks Preben!

[2022-04-08 15:15] #2780 closed

[2022-04-08 16:07] tacooo12 commented on #2657
Lee,

I am not running GG Max on Steam. I have been using the verify files method in the app by checking for updates. I guess the Steam version is your priority now, so I will be patient, that you will update the download for the non-Steam version at some point soon.

Dale

[2022-04-08 16:22] MonkeyFrogStudio opened #2788 "GameGuru MAX - Bug? - Possible Collision Issue with Polygon Collision?"
I'm in the process of creating my tutorial for collision shapes when I ran across this:

https://user-images.githubusercontent.com/36735507/162482379-312f411b-e83c-4c00-90a2-aca18f2be60f.mp4

Notice that no matter which collision shape I assign to the barrels, I can jump up on them, but polygonal collision gives me issues. If I am against the barrels, I cannot jump up on top. I have to be back awa

[2022-04-08 17:42] Jackdanielsvs68 commented on #2240
Hi UltraVox001!

Thanks for the effort, but I had it before I put that character in there. I'll
figure something out in the game, let's say there's a paralyzing field :)
Bye

Preben Eriksen ***@***.***> ezt írta (időpont: 2022. ápr. 8.,
P, 13:45):

[2022-04-08 17:56] Tum1370 commented on #2788
@ArgentArts How did you turn on this visible collision mesh ?

[2022-04-08 18:06] ArgentArts commented on #2788
First, go to Edit>Settings and go to the Developer tab and make sure to tick "Show Additional Developer Options":

![dev](https://user-images.githubusercontent.com/36735507/162496974-df6a3261-26e5-4f3a-8719-a92cee712e25.png)

Then, when in your test game, use the TABTAB menu. On the right-side, look for Physics and tick the "Render Physics Shapes" and wait a moment for it to render them (it may ta

[2022-04-08 18:19] igor-gouveia opened #2789 "Request - Post Processing Filters and Controls"
The Game Guru Max is very good and I really enjoyed using it. But I have some suggestions for post-processing filters to improve the engine's graphics. Some filter control (like bloom color and intensity config) and enable/disable filter option would be nice.

**Anti Aliasing**
![image](https://user-images.githubusercontent.com/55865487/162496024-7bb3dd06-cfd5-4825-bbf6-344385b6b2aa.png)

**Lens D

[2022-04-08 18:36] Tum1370 commented on #2405
@ZakJudges
Sorry to tell you but latest build i just download now, this is NOT fixed.
PLAY GAME from hub, still missing a gun.

[2022-04-08 18:42] Tum1370 commented on #2788
@ArgentArts Thanks

[2022-04-08 19:38] Tum1370 commented on #2748
This is still not fixed in the latest version of Max, Friday 8th April.

[2022-04-08 19:48] Tum1370 commented on #2414
Sorry guys, this is now the 4th issue that is suppose to be fixed and on the Friday 8th April build, It is NOT fixed.

[2022-04-08 20:51] ArgentArts commented on #2789
MAX already has FXAA (Fast Approximate Anti-Aliasing). When you run your test game (hit the rocket icon) hit the TAB twice and go to the right-side menu. Twirl down Post Processing and check FXAA to enable it for that level.

MAX already has FOV. Go to the same place (TAB TAB) and access Camera Settings. There, you can set FOV for your camera.

[2022-04-08 20:53] AmenMoses opened #2790 "Winzone needs to take into account Y value"
In the latest demo (Canyon Offensive) if you stand under the helicopter platform (i.e. in the first portion of the demo) it triggers the winzone!

[2022-04-08 21:12] synchromesh62 commented on #2790
Ye this is why i requested a **show on startup** tick box for Trigger zones.
that way another triggerzone ( perhaps around a radio requesting extraction ) would spawn it.

[2022-04-08 21:20] Sir-DJ-Cat opened #2791 "Feature Ideas/Requests"
Just some random ideas I think would be cool.
- More AI settings (e.g. aim, awareness or stealth, fire rate, etc.)
- More weapons (e.g. sniper rifle, smg, etc.)
- Editable screens and hud
- More environments to generate (suburbs, city, etc.)
- Urban and town models
- Stealth (hiding, takedowns, etc.)
- Weapon attachments (laser, suppressor, scopes/sights, etc.)
- Cutscenes and more in-depth trigge

[2022-04-08 21:37] Necrym59 commented on #1978
I have since come to understand this has somthing to do with the new animation system, there is no support for older style models unless a script is created for them. This is ok but not very plug and play. It would be nice and important to either get the character creator assets DLC out as soon as possible for us non-modellers and/or create a crossover animation matrix for existing older chracters

[2022-04-08 22:00] ArgentArts commented on #2791
The so-called "patrol rifle" is a sniper rifle. It has two scopes on it. You can use the RMB to look through the first scope. Pressing "V" will zoom scope for faraway sniping.

The AK is an SMG, technically.

Screens are editable via the Game Storyboard. TGC has said that a HUD editor is planned in the future.

Cutscenes are not planned, according to TGC. However, there is an add-on called CineGur

[2022-04-08 22:08] Sir-DJ-Cat commented on #2791
I guess I just want more weapons in general lol

I mean like adding buttons and text. I was only able to change the stuff that was already there.

Interesting, I will check that out.

[2022-04-09 00:46] bjaysgames opened #2792 "Screen freezes"
Screen freezes while editing in level.  Have to unplug to begin again.

[2022-04-09 03:00] thomasmg81 commented on #2686
@LeeBamberTGC
as of this moment, the clothes i have created were made using the Makehuman base character templates. Despite my best efforts, i cannot get them to adhere to the Game Guru Max base male because the character is shaped completely differently. We're essentially talking about an entirely new build needed, but i didn't want to invest hours until the update to character creator was confir

[2022-04-09 04:04] ArgentArts opened #2793 "GameGuru MAX - Bug - Importer is Only Importer First and Last Frame of Animations"
If you set up a model with a single animation, the model is only imported with two frames of animations the first and the last. This simple cube has 60 frames of animation. It should move from it's initial starting position, slide out, and back over 60 frames (30 frames out and 30 frames back). When imported into MAX,

[cube_test.zip](https://github.com/TheGameCreators/GameGuruRepo/files/8456199/c

[2022-04-09 04:06] ArgentArts commented on #2793
I'd also set up a model with several named animations (i.e still, open, close, etc.). All named animations came in named properly. However, each only had a frame and none played at all. Even though I had three named animations that came in, the entire thing showed only two frames - frame 0 and 1. It also comes in with a frame speed of 25.

[2022-04-09 04:14] harkinhails commented on #2697
So I would say, after two patches I've gained about 6 stable FPS in MAX. In most open areas I get 36 FPS now and it fluctuates when coming to smaller areas from 45-60 FPS.

In snow stroll map I was falling off the first ladder a lot before, which is not the case as the FPS is going up (I've said it before, it's unplayable at 30 FPS). I was able to run around and shoot some enemies, but the action

[2022-04-09 04:17] MonkeyFrogStudio opened #2794 "GameGuru MAX - Animations Import Improperly Named"
When you import an animated model (from Blender, at least), the animation names are not imported well. Let's say I create an object that I name, in Blender, as "Cube". Then I create an animation that I name "Open". When I import the model into MAX, the animation comes in named as Cube|Open. It is appending the name of the model to the name of the animation. This means that every time we bring in a

[2022-04-09 04:33] ArgentArts opened #2795 "GameGuru MAX - Request - FOV on Graphics Settings is USELESS if Still is Used as Background!"
I want to call this a BUG! The Field of View slider on the Graphics Setting is useless if a still shot background is used for a variety of reasons. First of all, it's a slider that tells you nothing at all. There's no number to tell you what you are setting it to. If you slide it a little to the left or the right, what did you adjust it to? 45 degrees? 90 degrees? What? Secondly, you can't see the

[2022-04-09 04:35] ArgentArts commented on #2697
Many of us have wide and ultrawide monitors. I would get a headache playing these at 80+ FOV. Thank goodness they at least provide an FOV slider in the Game Adjustments section so we can change this, if we need/want to. ;) I keep mine between 45-60, depending on the game. So, the default is going to depend on where people play it.

[2022-04-09 04:47] harkinhails commented on #2697
I think you're missing the point.

[67.24% of Steam users](https://store.steampowered.com/hwsurvey/) have 1080p monitors.

Are you planning to ship your game with default FOV less than 80-90, especially when in-game FOV slider doesn't tell you what FOV you are setting or when most people don't even see settings when loading game, assuming there are no game settings in GG games? (which I have seen

[2022-04-09 04:57] ArgentArts opened #2796 "GameGuru MAX - Request - Add Link to Game Settings from Title Screen"
Currently, the Title Screen on the Storyboard only has four buttons - Start, Load Game, About, and Quit Game. However, it's missing one of the most important buttons - Options or Game Settings. One of the first things many players will want to do BEFORE playing a game is setting the game's options, such as graphics settings, FOV, etc. Players don't usually want to load the game first, back out, an

[2022-04-09 05:11] ArgentArts opened #2797 "GameGuru MAX - Request - ESC Should Always Get You Back to the Game"
Currently, when playing a game, pressing ESC gets you the Game Paused screen. However, pressing ESC again does nothing. Instead, you have to click the Resume Game button. In about every game I've ever played, pressing ESC while in-game gets me to the menu and pressing ESC again gets me back to the game. This has become second nature for me and I bet it is for most other games, too. Because of this

[2022-04-09 05:13] ArgentArts opened #2798 "GameGuru MAX - Bug - Reflections Not Aligned and Smears"
If you look at this screen shot for Snowy Stroll, you can see that reflections don't align properly and there's still that bug with smearing:

![reflect](https://user-images.githubusercontent.com/36735507/162557455-e9efddcc-e545-49be-a242-06380f2dc3dc.png)

[2022-04-09 05:18] MonkeyFrogStudio opened #2799 "GameGuru MAX - Question - Why is Cursor Always Slammed Up to Top-Left When Playing Demos?"
Any time I play a demo game, once the first menu screen appears, my cursor jumps to the top-left. Is there a reason for this? This doesn't seem to happen with any other game I play (not that I recall). I have only a few other games installed at the moment. When I ran them, this did not happen to my mouse cursor.

[2022-04-09 06:08] plemsoft commented on #2652
@cybernescence Please test this on the 2022.04.08 version and let me know if it fix your issue, also the double CPY Frame bug was fixed, thanks for your help :)

[2022-04-09 07:00] Ghost-l0l commented on #2790
every trigger zone works like that, and it is like that in gg classic too! In my opinion it was done best in fps creator, where you had easy to adjust, semi-transparent box that could be stack on top of each other and will still work. Right now we working with 2d plane that pretends to use 3d space. Thats not good. If Max is supposed to be used also in indoor levels then this whole system needs to

[2022-04-09 07:09] Ghost-l0l commented on #2790
spawning 1 trigger with another trigger while both of them not usin Y value would be a "good enough" workaround if you can trick players with you designs... but it wouldn't solve the problem. If this winzone was turned on by other triggerzone, player could still get back and walk under that helicopter (unless he was so immersed in gameplay that he would forget about checking it out). What about op

[2022-04-09 07:42] AmenMoses commented on #2799
I presume it is because the mouse X,Y values default to 0 rather than 50 or to whatever the real position is in windows at that time.

[2022-04-09 08:03] davetgc opened #2800 "Characters/Objects have no on death script option."
From Social Media:

You can't create new events when a character/object is destroyed. MAX needs a on death script option similar to Classic and FPSC. For example, you can't spawn other objects or characters by killing or destroying an entity.

[2022-04-09 09:03] Tum1370 commented on #2748
@plemsoft
Yes for some reason that model on my map did not have double sided ticked. After ticking that it was working fine. Not sure why that happened as i dont go anywhere near the materials tab.

Thanks

[2022-04-09 09:33] Granada1 commented on #2793
There is another ticket open concerning the importer and animation issues, importer needs some work still

[2022-04-09 09:36] Granada1 commented on #2686
You will need the Max rig for your ideas to work , I am waiting on the release myself 🤞

[2022-04-09 09:37] Tum1370 commented on #2748
@plemsoft
Hi again, After retesting this structure, even with double sided ticked, The walls and ceilings are still missing.

![image](https://user-images.githubusercontent.com/66874403/162566286-de680fe9-a5ac-4a45-9e0e-0fdb32438a01.png)

[2022-04-09 09:41] plemsoft commented on #2748
@Tum1370 You need to set double sided on both meshes :)

[2022-04-09 09:45] Tum1370 commented on #2748
@plemsoft
LOL sorry, didnt even know had different meshes, Thanks that worked.

[2022-04-09 11:22] synchromesh62 commented on #2790
In short .. I would still want the **show on startup** tick box anyway.
It does solve the problem of a trigger zone being there when i want it to and one event leading to another :)

[2022-04-09 12:27] Blood-Moon-Interactive opened #2801 "Project disappeared after update"
Yesterday I was messing around in a sandbox project for a couple of hours, trying a few things out. I decided to take a break so I saved and closed the app. I noticed there was an immediate update being installed of a couple of GBs in size but I didn't see what it was. After my break I booted up the program again and noticed that everything I had worked on was gone. The entire project, map, and ev

[2022-04-09 12:37] Pcskiller opened #2802 "no infinite trees at end of map, need trees to fade out"
When you reached the end of the map the trees stop in a straight line were the 5km map end , is it possible to just let the trees at least just fade out in to the infinity mountains it would look much better

[2022-04-09 12:40] Pcskiller commented on #1662
Any feedback on this, ??

[2022-04-09 12:41] Pcskiller commented on #849
Any feedback on this?

[2022-04-09 14:12] ArgentArts opened #2803 "GameGuru MAX - Question/Request - Smoother Terrain Texture Transition"
Are there plans for better, smoother transitions between terrain textures? Right now, they are pretty harsh and sharp. Can we get better blending between textures and better control when painting down terrain textures?

It would be great if we could get an opacity slider so we could lay down a terrain texture over another 50% (or any other percent), etc., to help blend between textures as we see f

[2022-04-09 14:13] Ghost-l0l commented on #2790
@synchromesh62 yeah I can agree that your idea is very good, tickbox like that would be very usefull and it will let users set events in order, or simple chain-reactions with just few clicks.
 But Its not solving the problem that AmenMoses is talking about here. Even Fps Creator can recognize Y value in triggerzone placements, why GG can't? It's important issue, especially indoors, on more complex

[2022-04-09 14:32] ArgentArts opened #2804 "GameGuru MAX - Request - Enemy AI - Random Dodging and Taking Cover"
I'd like to request that the enemy have built in to their AI that they sometimes have a few random movements when attacking, such as some unexpected movement, like dodging to the right or left as if they are expecting you to attack them, instead of just blindly moving toward the player, attacking. Maybe a duck, or a roll out of the way, etc. I remember when I first encountered stuff like this way

[2022-04-09 14:34] sirlion87 opened #2805 "GGMAX Mdel Importer - Crash with large amount of submeshes"
I have modelled a prop with a lot of submeshes - 120 - I needed to retexture and apply material to each one individually in the model importer. Everything was going smoothly until around mesh 99, then the model importer 1) wouldnt let me see the new texture and 2) crashed immediately as soon as I tried to pick a new one. And so I lost about 1.5 hours of work.
Either set a maximum number of submesh

[2022-04-09 14:47] ArgentArts commented on #2804
Would it be possible to have the enemy detect COLLISION SHAPES so they could determine if they could use them for cover? That way they could "differentiate" between an ammo box (too small to take cover behind) and a Jeep (plenty big enough) and, thus, run for possible cover when fired upon?

[2022-04-09 16:48] bjaysgames commented on #2792
I'm using an HP computer with Windows 10.  When working in level 1 of the game I set up, the cursor begins to move jerkily and then stops.  I cannot do anything so I have to unplug the computer and reboot.  There is nothing more to tell you.  I have the older version of GameGuru which works perfectly well.
Hope you can help, and thanks again.

[2022-04-09 16:56] ArgentArts commented on #2792
For system specs, they might need a little more than that - what CPU, what GPU, who much system RAM? You have Windows 10 - is that the 64 bit version (I'm sure it is, but just checking). Your HP computer - is that a laptop or a desktop computer? Do you know if it's using an onboard GPU, like an Intel graphics chip or does it have a dedicated graphics card, like an Nvidia or AMD video card? Or perh

[2022-04-09 17:52] IceAxe18 opened #2806 "Editor is very small"
Everything is so small

![20220409104442_1](https://user-images.githubusercontent.com/25734121/162585696-0523622a-cb33-44c9-9bf3-e3815b386625.jpg)

[2022-04-09 20:13] MickeyBow opened #2807 "04.08 update"
Problems so far: Update as find more
Well one of the fixes
A few users were not seeing weapons appearing when they pressed Play Game from the Hub. This should be fixed.
Still not fixed and also the text for using stuff is still mirrored.
The Patrol Rifle has no cross hair or aim point.

The Patrol Rifle and the AK when you have both all ammo goes to the AK you only have 30 bullets in the Rifle.
It

[2022-04-09 20:14] Necrym59 commented on #2806
are you using a TV

[2022-04-09 20:21] ArgentArts commented on #2806
When sharing this sort of thing, it's helpful to provide additional information - what's the screen resolution? Is this a TV or a monitor? Etc. It helps the developers to know what's actually going on. Otherwise ... ?!?

[2022-04-09 20:25] Necrym59 commented on #2804
I think its reaching the point now where they need a seperate AI director program, a DLL that would handle all the AI ouside of the main program that can be expanded upon via the behaviours, they are going to come realize this as more and more AI behaviour augmentation/decisions are needed. There is only so far they can go without slowing things down at present in the main program.

[2022-04-09 20:30] ArgentArts commented on #2804
Perhaps. However, the base AI we have now is ... okay. We need the base AI to work well. To me, that means that they attack (that part seems to be working well) and react somewhat to what's going on around them. Right now, it only seems they react to seeing/hearing the player within their cone. Other than that, they don't react to anything else ... exploding barrels, shots fired near them, etc. As

[2022-04-09 20:30] Necrym59 commented on #2802
same with grass, i already posted on this

[2022-04-09 20:47] butch098 opened #2808 "snow tree spawn when not selected"
when using the tree spray tool , i select jungles themed trees and theres snow trees that spawn in without being selected

[2022-04-09 20:47] Necrym59 commented on #2804
Thats true but a lot has changed since those days too, behavior trees are only part of AI, functional but limited. AI is also going to be needed for NPC's of various types, especialyyif they are going to expand to RPG as well, decision trees are going to be needed based on personalities sooner or later, not just behaviours, and that is where it becomes intensive because personality dictates what b

[2022-04-09 20:50] ArgentArts commented on #2804
True, but remember, we already have a division here ... this is AI based on the enemy AI Behavior. So, it's already tied to a Behavior in MAX, isn't it ... at least to some degree? So, perhaps what we are doing is developing the Shooter AI. ;)

[2022-04-09 20:50] Necrym59 commented on #2795
Thats why i like the transparent background option (when fixed) in the menus it means we can have an actual game scene/window on the fov screen setting.

[2022-04-09 20:58] Necrym59 commented on #2787
I second this awsome idea for that and lot of other functional reasons, Hopping in and out to test a scipt is painful, it has to load the map then give errors then wait till you have oppportunity to close it (if it doesnt crash) then fix script error and reload/repeat, annoying at best. If this all happened in a window then if it crashes/errors it just goes back to editor, i can live with that.

[2022-04-09 21:00] Necrym59 commented on #2789
I just love some of these suggestions after they have used it for 2 minutes

[2022-04-09 21:09] Necrym59 commented on #2804
I agree behaviours are pretty much simple and good enough for shooters, it just as you say needs some more tweaks of combat mode. I do think they need to start implementing a personality trait though which creates randomness eg: tactical - runs and hides to shoot, aggressive - full on attack, timid - call backup set off alarms etc. but well wait and see where it goes.

[2022-04-09 21:33] ArgentArts commented on #2804
Yeah, I totally agree with that. I'd love to be able to assign a personality Behavior to my NPCs ... or have sliders/checkboxes/dropdowns for things like how timid/aggressive, how stealthy, etc. ... anything that would make one character different from another in some form or fashion.

[2022-04-09 22:01] Necrym59 commented on #2804
Yeah i did some work on behavoural intelligence systems when doing work for paraplegic automation and robotic assistance and using personality traits make a huge difference to behaviour trees systems im not sure its been implemented in games so much but it should be. When the decisions an AI makes is based upon his traits it makes for really interesting interactions and totally makes them more lif

[2022-04-09 22:10] ArgentArts commented on #2799
Perhaps, but I find it really disconcerting for some reason ...

[2022-04-09 22:17] ArgentArts commented on #2787
With other game engines, you can select to test your game IN THE VIEW PORT itself (I'd love this in MAX, actually), at FULL SCREEN, or IN A WINDOW. I definitely want to test in a window (as stated above), but it would be great to test in the editor itself, too. :)

[2022-04-09 22:20] Necrym59 commented on #2787
Yeah in the viewport would be great too, although if it crashes doing scripts its no good but having those windowed/in-editor/fullscreen options would be great.

[2022-04-09 22:24] ArgentArts commented on #2787
Options are always good. You'd use windowed mode for both of the reasons we've outlined (for video capturing at a specific size and for code testing, anticipating possible crashes, etc.), full-screen mode to test the game to gauge how well it truly runs (since that's when it will it's best), and in the view port so you can do things like play the game to a certain spot, stop, make adjustments, pla

[2022-04-09 22:39] Necrym59 commented on #2787
I agree its important tool for game development for a ton of practical reasons, hopefully Lee and team will pick up on it, i suppose they arnt as focussued on these things at the moment as much as their focus is on developing a product and getting things working as opposed to a game developers point of view of useage.

[2022-04-09 23:32] UNIRD12B opened #2809 "SetAmbienceIntensity and fogzoneintensity do not seem to work"
I cant seem to use either of these in a script any more...no response.
UNIRD12B

ex.. code..

local change_amount = {}
local plyr_in_zone = {}
function fogzoneintensity_init_name(e,name)
change_amount[e] = tonumber(name)
plyr_in_zone[e] = 0
end

function fogzoneintensity_main(e)
 if g_Entity[e]['plrinzone']==1 then
  if plyr_in_zone[e] == 0 then
  SetFogIntensity(change_amount[e])
  SetFogDistance

[2022-04-10 01:24] IceAxe18 commented on #2806
Alienware X17 Gaming Laptop
Nvidia Geforce RTX 3080
Display settings is at 3840 x 2160

[2022-04-10 01:28] ArgentArts commented on #2806
Have you tried going to Edit>Settings and, once the pop-up menu appears, goin to the Advanced tab and checking/unchecking "Enable DPI Awareness" to see if that makes a difference for you?

![dpi](https://user-images.githubusercontent.com/36735507/162597249-386d3be0-186b-448e-8ef5-97668c0e15c8.png)

[2022-04-10 02:36] IceAxe18 commented on #2806
I can barely see it, but its enabled.

[2022-04-10 03:32] MickeyBow opened #2810 "Character"
When you shoot a Character and they fall to the ground, either the grass pokes up through the body or
the body sinks into the terrain. And you have arms, legs, body or head buried by a land slide.

[2022-04-10 04:16] Necrym59 commented on #2806
3840 x 2160 pretty high dpi setting for a 17" laptop no wonder its small, why run it that high on a laptop?

[2022-04-10 04:17] Necrym59 commented on #2809
Its been reported already none of the environment Set commands are available the moment, thay are not exposed to lua

[2022-04-10 04:42] IceAxe18 commented on #2806
This is what my desktop looks like in 3840 x 2160:

![Desktop1](https://user-images.githubusercontent.com/25734121/162601713-7eb2e128-fd83-4a33-a390-23d87e89291a.jpg)

[2022-04-10 05:56] Necrym59 commented on #2806
Hmm now that is weird, ive never had that problem with resolution wish i did cause i have an wide and i would like the space you have. I have this atrocity
![eeek](https://user-images.githubusercontent.com/95015657/162604441-88ccce0a-7e43-4d60-92d5-0e1c9711a985.png)

[2022-04-10 06:03] Necrym59 commented on #2803
I also hope for some brushes variation for both painting and terrain making.. a square brush for straight edging would be nice.

[2022-04-10 06:53] bjaysgames opened #2811 "Enemy disappearing"
How do I keep an enemy from disappearing after he is killed?

[2022-04-10 09:17] UltraVox001 commented on #1978
Me too.

[2022-04-10 10:18] SquireOfGothos opened #2812 "Bug in GGMax - LUA script error when playing Canyon Offensive"
I'm using GG Max Build No. 2022.04.08 and noticed the following LUA error pop up when playing the latest demo Canyon Offensive (very good by the way):

.\scriptbank\vectlib.lua:40: attempt to index local 'v' (a nil value)

It occurred after using the switch to open the bunker door which did not open.  However, after this the the demo still seemed to be running.  This does not happen every time, th

[2022-04-10 10:44] smmaas opened #2813 "Bug - Reloading unsaved level loads up edited level"
- change a level
- leave the editor without saving
- start the editor again without leaving the program
- changed level is loaded and not the original

[2022-04-10 11:06] Ghost-l0l commented on #2812
@SquireOfGothos "Canyon Offensive (very good by the way)" :D Big thank you! :D  (this bug never happend to me tho)

[2022-04-10 11:33] AmenMoses commented on #2812
Weird one, can you think of anything strange that you may have done prior to the error occurring, like taking a shortcut for example?

I have tried to replicate it and haven't done so yet.

[2022-04-10 11:58] SquireOfGothos commented on #2812
I don't remember taking any shortcut. The only oddity I did notice, and
this is not unique to Canyon Offensive, is that an enemy walked through the
closed door of the bunker to shoot at me. I've had enemy firing at me
through walls and able to kill them in other demos. When they die they fall
through walls. I suspect that's a GGMax engine issue though, as is dead
enemy floating. Whether this had s

[2022-04-10 12:12] synchromesh62 commented on #2806
Try ticking or unticking the **enable DPI awareness** checkbox In Settings \ Advanced
See if that has any effect

[2022-04-10 13:10] Tum1370 opened #2814 "GG Max - Bug - Plrinzone behaviour - trigger zone - Does not remove the trigger zone after it has activated once."
As the title says, This behaviour does not remove the trigger zone after it has activated once.

[2022-04-10 13:16] Tum1370 opened #2815 "GG Max - Bug - Ally Hostage Character can run straight through locked door."
I am using a Building - Door Light Brown door, along with along with a Shanty Building - Old Large.
I Had to adjust the door size to fit the door.
I then place a ALLY Character inside the locked building, He is a hostage.
But the ALLY character runs straight through this door, even when it is locked.

Even changing the character to enemy, he can still run straight through this locked door.
My own

[2022-04-10 13:20] Skevos-Mavros commented on #2240
I'm happy to report that this issue is GREATLY improved.  While the frame rate still drops the same amount in the same situations, it has (almost) no effect on the speed of the player/physics/etc.

I say "GREATLY improved" because there is still a slight slowdown and/or hiccupping of the player movement under the situations described above, but it's still a vast improvement over previous versions

[2022-04-10 13:43] Skevos-Mavros commented on #2227
Yes, this issue seems to be fixed.  Thanks!

[2022-04-10 13:43] #2227 closed

[2022-04-10 14:27] Tum1370 commented on #2815
Sorry, i have figure this problem out, It seems that when the base of this building is slightly below the ground, it was causing my issue. Not sure why this would allow the character to walk through the door though.

[2022-04-10 14:28] Tum1370 commented on #2814
Same issue as my last one, The Plrinzone behavoiur was not working when using inside a shanty building where i had slightly lowered the base below the ground. I Have closed this for now as i t seem to fix my issue.

[2022-04-10 14:45] igor-gouveia commented on #2789
I discovered some hidden panels in the settings after posting, i made these suggestions based on other engines i used, but i'm sorry, they are just ideas and suggestions to be implemented when and if the dev team wants. :/
Thank you all for replying.

[2022-04-10 14:50] Tum1370 opened #2816 "GG Max - Bug - Setting a key to Alert and spawn a character as well as unlock doors"
I Have tried to figure out a way to stop my hostage from running through a locked door in my Shanty building.
My workaround for this is to have the key on the desk outside, unlock the door, but also alert the character, therefore spawning the character.
Problem is when i do this, everything works fine, The 2 doors are unlocked, and the Ally hostage spawns, But the Key also reappears after i have t

[2022-04-10 15:10] Tum1370 commented on #2815
I think i have this fixed for now, But it will keep resetting when i update Max again.
I Have changed 20 in the following DOOR.LUA text to 50.

RDBlockNavMesh(g_Entity[e]['x'],g_Entity[e]['y'],g_Entity[e]['z'],20,blockmode)

Now the Ally Hostage does not walk through the door.

[2022-04-10 15:24] relishrompgames commented on #2458
Yes, the flashlight is too dim. Here are good examples of a nice flashlight. Thanks! Love GGMax!!!
https://forum.game-guru.com/attachment/29937
https://forum.game-guru.com/attachment/29938

[2022-04-10 15:39] SquireOfGothos commented on #2812
Played again and I still can't reproduce the problem so no idea why it happened.  Guess we can sign this one off as an oddity.

[2022-04-10 15:39] #2812 closed

[2022-04-10 16:48] KitBallard64 opened #2817 "Kit's Features and Thoughts"
Was directed to post this here from Steam, so I'll mostly just copy that over to here
-------------------------------------------------------------------------------------------------
There's a few things I would love to see at some point. This is a pretty good start for sure, and I don't know what's planned in general, but a couple ideas I would love to see are things like:

Ways to configure som

[2022-04-10 17:56] ArgentArts commented on #2817
The devs like it if you post each feature request and bug as a separate topic/thread here on GitHub. That way it's easier to track them. When it's a big, long list like this, it's easy for things to get lost or forgotten.

Personally, I don't think you'd want to add more than one Behavior to an object as that is inviting all sorts of conflicts that could occur. What you'd want is to have specific

[2022-04-10 18:07] KitBallard64 commented on #2817
More behaviors would help to let objects do multiple things. Don't see why it can't be done as other systems I've goofed with has such systems in place already. And there are checks to prevent overlaps or conflicts that can be scripted into the app itself. Like, adding an Ai will prevent any extra behaviors to be added (or ones that wouldn't work with it).

Most of those you quoted was from someon

[2022-04-10 19:06] ArgentArts commented on #2817
Well, this is GitHub. The purpose here is to help the developers to, well, develop their software. In order for them to do that, it's best to post each suggestion, feature request, and bug as a separate issue. That way they can track it individually. It makes it easier on them and it also ensures they see each and every one. It's for everyone's best interest. :)

[2022-04-10 20:27] IceAxe18 commented on #2806
I unchecked "Enable DPI Awareness", and now it looks somewhat normal.

![20220410132032_1](https://user-images.githubusercontent.com/25734121/162638439-6f00e3be-7315-46e9-a58d-95cf64873250.jpg)

[2022-04-10 20:52] LostSoul54 opened #2818 "Stand and Speak or Get Close and Speak not working correctly"
Stand and Speak or Get Close and Speak not working correctly using recorded voice over from editor window. Sounds play correctly in editor and will work the first time entering the game, It will not work on an subsequent tests of the level. It will work again after restarting the application. It will randomly choose another sound after this starts working again. Will not always play the sound that

[2022-04-10 21:51] Necrym59 commented on #2815
Copy the edited door lua into your own scriptbank folder usually Documents\GameGuruApps\GameGuruMAX\Files\scriptbank
then rename it eg: 'my_door.lua' and change the function names inside the lua from door_init(e) to my_door_init(e) and
door_main(e) to my_door_main(e). Then you have your own script that wont be overwritten every update.

[2022-04-11 03:10] Kravenwolf opened #2819 "GameGuru MAX - Question - Is Max NOT Getting SSAO?"
I noticed in a March update Q&A, Lee stated there are no plans to add SSAO to Max, despite it having been implemented a few years ago into Classic.

With Max only having dynamic lights to cast shadowing, SSAO seemed like **_essential_** tech, I just assumed was on the way at some point in the future as a given.

I've noticed the visuals for Max are still a bit lackluster (particularly outdoors), s

[2022-04-11 07:41] davetgc opened #2820 "Vehicle physics in MAX collection"
The truck and the van in the MAX collection both have physics on by default and can be pushed around by characters. Both should ideally be static.

[2022-04-11 08:29] dllllllllllb commented on #2818
@LostSoul54 It works perfectly fine on my end. Can you please make sure that the "Use Sound Variants" box is ticked off.
![image](https://user-images.githubusercontent.com/61796872/162696275-4c7bf45d-f003-48a9-8be4-ad35c26894b1.png)

If it still doesn't work, can you please delete the GameGuruMAX\Max\Files\scriptbank folder and redownload it.

[2022-04-11 08:35] dllllllllllb commented on #2817
@KitBallard64 Please post each request as a separate issue, that way we can assign each request to the appropriate member of the team and track which request has been fulfilled.

[2022-04-11 08:46] dllllllllllb commented on #2813
@smmaas If I understood this correctly, your issue is that the level is not unloaded after you quit to the storyboard editor? I believe that is done on purpose, so you won't have to re-load the same level when going back into it.

If you would like to unload the level, you can load in a different level and then go back to your original level.

@LeeBamberTGC @rvanner DO we want to unload the level

[2022-04-11 08:46] Necrym59 commented on #2815
Doors always seem to be a bit of a problem. Pehaps a collision box should be created when a door is closed or around the door itself when opened.

[2022-04-11 08:49] LeeBamberTGC commented on #2813
@dllllllllllb This is deliberate.  Allowing users to go direct to the last level they edited without any delay.  However, it IS a bug as the unsaved changed level should be erased so the original level is loaded as expected.

[2022-04-11 08:55] dllllllllllb commented on #2808
@butch098 I just tied it myself and it seems to work properly for me, I selected these trees:
![image](https://user-images.githubusercontent.com/61796872/162701077-2a73bcd6-5d9f-44a2-b525-5f9bff61c9e1.png)

Can you please show me which trees you have selected that cause this issue.

[2022-04-11 09:05] yrkoon57 opened #2821 "(Mid/Longterm-Enhancement) Level-Icons/-Symbols"
It would look much more tidy in the storyboard if a level's outgoing connector to the next level were placed at mid-bottom of the levels' symbol, pointing downward,
and correspondingly, have the ingoing connector of the next level at mid-top of that level's icon/symbol.

And, while we're "there", literally:
Would it be possible to have a  line at the  bottom of a level symbol (somewhat like a typi

[2022-04-11 09:06] dllllllllllb commented on #2801
@tfrakey Can you please check the C:\Users\*YourName*\Documents\GameGuruApps folder and see if there are any backup folders in there.

[2022-04-11 09:20] dllllllllllb commented on #2811
@bjaysgames Enemies usually fall to the ground and lay there. They don't disappear even after a while or if I wonder off far away from them. Can you please provide more information.

[2022-04-11 09:30] yrkoon57 opened #2822 "(Mid/Longterm-Enhancement /w respect to future RPG feature)"
The now terrain system works fine, but I think its called up every time when a new level is being created. Ok.

But is it possible to have an option in future that
* optionally makes the big terrain from which the first level is generated persistent "as far as the view reaches" (i.e., making it saveable (probably compressed )/re-loadable on request)
* and alongside the actual level currently being

[2022-04-11 09:35] dllllllllllb commented on #2807
@MickeyBow There are existing threads for these issues, if there was a fix that didn't fix the issue, please report it in the appropriate issue thread. Also when submitting new bugs, please make a separate issue for each one, it helps us with organisation.

Weapon not appearing issue: https://github.com/TheGameCreators/GameGuruRepo/issues/2405

Patrol Rifle is missing a crosshair file, I will take

[2022-04-11 09:37] dllllllllllb commented on #2806
@IceAxe18 If you are not experiencing this issue anymore, please close the issue or let me know it's still happening and I will assign someone to look into this :]

[2022-04-11 09:44] blackbone17 opened #2823 "Question: Is GameGuru MAX supported on laptop?"
I have a Victus - AMD Ryzen 7 5800H - 16GB RAM - RTX 3050 4GB VRAM and I was wondering if it could work properly, and also how much big of a map you can create. Thanks in advance.

[2022-04-11 09:47] dllllllllllb commented on #2792
@bjaysgames We will need more information to help you.
As ArgentArt said, it will be good to know your computer specs like your CPU, GPU and RAM.
Send us your .log files that are located in C:\Users\*Your user name*\Documents\GameGuruApps\GameGuruMAX.
Was this issue happening with previous builds?
Does your screen freeze randomly or after you do something like adding an object into the scene?
Coul

[2022-04-11 09:49] dllllllllllb commented on #2791
@Sir-DJ-Cat When making requests, please take a quick look if these ideas have already been submitted, you can filter issues using the tag "enhancement". Also please make a new issue for each distinct request, it helps us with organisation.

[2022-04-11 10:49] LeeBamberTGC commented on #2791
@dllllllllllb Title not much help. Needs to reflect the feature requested :)

[2022-04-11 10:50] LeeBamberTGC commented on #2823
Yes, any laptop that meets our minimum specifications here: https://www.game-guru.com/about?_ga=2.26553594.637122419.1649674225-1982497974.1625668666

[2022-04-11 10:50] #2823 closed

[2022-04-11 11:03] dllllllllllb commented on #2791
@LeeBamberTGC Issues that request various distinct enhancements are hard to organize hence I asked the author to make separate issues for each request. Adding every feature request in the title would make it too messy.

In the future, with issues requesting a multiple different requests , should I ask the author to make separate issues and close it?

[2022-04-11 11:06] ArgentArts opened #2824 "GameGuru MAX - Request - Considerations for Outdoor Visuals"
Outdoor visuals for MAX are currently only ... okay ... in my opinion. I think they could be a lot better and believe that The WickedEngine is capable of more (and, thus, so is MAX). I recently acquired the game The Vanishing of Ethan Carter Redux on Epic and started to play it. The Redux version was released in 2015, so it's about 8 years old. Please keep that in mind when I share the screen shot

[2022-04-11 11:56] ZakJudges commented on #2805
Hi @sirlion87, would you be able to send the model you experienced the crash with to zak@thegamecreators.com? That way I can reproduce the crash to see exactly where things go wrong. Thanks

[2022-04-11 12:03] LeeBamberTGC commented on #2014
@PaulSJ As discussed in our call, I think the more complete solution here is to extend the manual editing stack to allow users to paint 'manual' grass over areas that have been auto flattened, and if appropriate, combine it with the issue that prevents users painting over paths that have previously cleared the grass automatically.  All users will expect to be able tp paint grass anywhere when they

[2022-04-11 12:05] PaulSJ commented on #2014
@LeeBamberTGC I think there is one obstacle to allowing the user to paint over flattened areas that might not be possible to workaround. If the users places a building, paints into its flattened area, and then moves the building, everything becomes ambiguous.

Should the new building flattened area wipe out the user's previous painting in the flattened area, or should the user's forced painting re

[2022-04-11 12:05] LeeBamberTGC commented on #1432
@ThomasJowett I think we will be doing an update to the latest Wicked Repo at some point so for now we can leave this one as MEDIUM, as it may well fix itself after the DirectX 12 conversion work.

[2022-04-11 12:26] ZakJudges commented on #2793
@ArgentArts I wasn't able to reproduce this using the attached fbx file. Here it is after importing:

https://user-images.githubusercontent.com/32545391/162738455-ff66d607-9231-4e1e-8d25-457de32443b3.mp4

Does this issue happen to you each time you try to import the model? Or does it sometimes work?

[2022-04-11 12:55] sirlion87 commented on #2805
I have sent the file just now. It is a simple OBJ file, that has been converted by the third party tool I'm using to create props.

[2022-04-11 13:38] ZakJudges commented on #2805
@sirlion87 Thank you for sending the model. I have taken a look and confirmed the issue you are experiencing. The maximum number of mesh materials that we support for a single object is 100 (100 albedo, normal and surface texture slots) per object. This means than any meshes above the 100 mark are not able to have materials. If different submeshes make use of the same texture set then they can be

[2022-04-11 14:13] Tum1370 commented on #2815
@Necrym59
Hi, I guess i have to also change the following procedure to "function my_door_properties(e, range, delay, unlocked, lockedtext)"

function door_properties(e, range, delay, unlocked, lockedtext)

I will start to learn LUA for myself soon, but at the minute i have only just started with Gameguru Max, I never used normal gameguru before.

[2022-04-11 15:45] ZakJudges commented on #2405
@Tum1370 Thanks for getting back to me. It's unlikely the issue is caused by your pc setup since the gun only disappears in one specific scenario.

@LeeBamberTGC Any chance you could take a look at this one? I'm not sure what else to try :)

[2022-04-11 15:51] LeeBamberTGC commented on #2405
@ZakJudges Are you able to reproduce it on your system Zak?

[2022-04-11 15:53] ZakJudges commented on #2405
@LeeBamberTGC No I haven't been able to reproduce. But I believe there are at least three users seeing this issue

[2022-04-11 15:56] LeeBamberTGC commented on #2405
@ZakJudges I have assigned to me. I have several PCs I can try the above on. If you could post the short version of how I reproduce this so I do not have to read the lot that would help ;)

[2022-04-11 16:03] ZakJudges commented on #2793
@ArgentArts Could you let me know the path of your max installation, and the path of where the model is imported from? Thanks!

[2022-04-11 16:09] LeeBamberTGC commented on #2807
@dllllllllllb Crosshair added for the next build. When it is public, please confirm fix and close, thanks!

[2022-04-11 16:16] #2806 closed

[2022-04-11 16:56] butch098 commented on #2808
Sure here  Envoyé à partir de Courrier pour Windows De : MaciekEnvoyé le :lundi 11 avril 2022 10:55À : TheGameCreators/GameGuruRepoCc : butch098; MentionObjet :Re: [TheGameCreators/GameGuruRepo] snow tree spawn when not selected (Issue ***@***.*** I just tied it myself and it seems to work properly for me, I selected these trees:Can you please show me which trees you have selected that cause this

[2022-04-11 17:03] ArgentArts opened #2825 "GameGuru MAX - Bug - Health Behavior Issue"
The text for the Health Behavior reads, "The object will give the player a health boost if he current health is under 80." My player has a health of 500. When they walk over the bread object with the Health behavior attached, they get 25 more health, bringing their total to 525.

Two things here:

1 - Should the Health Behavior be able to give the player more health than their max?
2 - The Health

[2022-04-11 17:14] 3coms commented on #2481
GGMax includes the **marker** folder in the mesh path, and there is no way to change it; as you can guess **marker** has nothing to do with my mesh. (red arrow)
the surface map has the right path because I change it, but color and normal are unchangeable.

![material_badListed_GGMax_EA_pic02](https://user-images.githubusercontent.com/47690174/162794069-509d3adf-2719-4579-96a0-1982cfdb6b35.jpg)

[2022-04-11 17:18] #2817 closed

[2022-04-11 18:50] ArgentArts opened #2826 "GameGuru MAX - AI Management Under Environment Effects and Edit Behaviors Button Bug?"
First of all, I am very excited to see this in the editor and not just in the TabTab menu when you run a test game! However, why is AI Management under Environment Effects? Seems like a strange place to put it to me.

Also, as a side note: If you click the Edit Behaviors button here, it currently does nothing in the editor. However, if you click the rocket icon to go to test game and then TabTab,

[2022-04-11 20:05] Mt-Chiliad-UFO commented on #2824
Take some of that expansive portions of entropy subjected by the map procedures and give some controls to the user.
For example fog can be very entropic but a more immersive and natural effect would enfold the entropy to user input.
I would like to see the same for those other features you mention.